Pošto	A:aem	Pošto
ću	N:m	ću
se	PAR	se
malo	ADV	malo
više	ADV	više
raspisati	A:aem	raspisati
kada	CONJ	kada
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
krenuću	V:m	krenuću
od	PREP	od
same	PRO	sam
prve	A:aem	prvi
scene	N:f	scena
.	SENT	.
Čim	A:aem	Čim
vidite	N:m	vidite
dve	NUM	dva
glavne	A:aef	glavne
glumice	N:f	glumica
biće	N:n	biće
vam	PRO	vi
jasno	ADV	jasno
da	CONJ	da
one	PRO	onaj
to	PRO	taj
u	PREP	u
principu	N:m	princip
i	CONJ	i
nisu	N:m	nisu
.	SENT	.
Očigledno	A:aen	Očigledno
je	PRO	ona
režiseru	N:m	režiser
bilo	V:n	biti
bitno	ADV	bitno
da	CONJ	da
su	N:m	su
lepe	A:aem	lep
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
Njihov	PRO	njihov
izveštačeni	A:aem	izveštačen
govor	N:m	govor
i	CONJ	i
gluma	N:f	gluma
odmah	ADV	odmah
na	PREP	na
početku	N:m	početak
stavljaju	N:m	stavljaju
do	PREP	do
znanja	N:n	znanje
kakav	PRO	kakav
će	A:aef	će
biti	N:f	bit
kvalitet	N:m	kvalitet
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
Mada	CONJ	mada
moram	N:m	moram
priznati	V:m	priznati
da	CONJ	da
je	PRO	ona
olakšanje	N:n	olakšanje
što	CONJ	što
u	PREP	u
drugoj	A:aef	drugi
polovini	N:f	polovina
filma	N:m	film
nisu	N:m	nisu
mogle	V:f	moći
ništa	PRO	ništa
pričati	N:f	pričati
.	SENT	.
A	CONJ	a
'	A:aem	'
ludi	A:aem	lud
naučnik	N:m	naučnik
'	N:m	'
je	PRO	ona
za	PREP	za
posebnu	A:aen	poseban
priču	N:f	priča
.	SENT	.
On	PRO	on
je	PRO	ona
ustvari	ADV	ustvari
svetski	A:aem	svetski
poznat	A:aem	poznat
hirurg	N:m	hirurg
koji	PRO	koji
se	PAR	se
bavio	V:m	baviti
razdvajanjem	N:n	razdvajanje
sijamskih	A:aen	sijamski
blizanaca	N:m	blizanac
,	PUNCT	,
znači	A:aen	znači
očekujemo	A:aen	očekujemo
čistog	A:aen	čist
genijalca	N:m	genijalac
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
kada	CONJ	kada
je	PRO	ona
već	PAR	već
tom	PRO	taj
ludom	A:aem	lud
genijalcu	N:m	genijalac
pala	V:f	pasti
ovako	ADV	ovako
monstruozna	A:aef	monstruozan
ideja	N:f	ideja
na	PREP	na
pamet	N:f	pamet
,	PUNCT	,
operacija	N:f	operacija
od	PREP	od
koje	PRO	koji
sam	PRO	sam
očekivao	V:m	očekivati
da	CONJ	da
bude	A:aem	bude
jeziva	A:aef	jeziv
,	PUNCT	,
svela	V:f	svesti
se	PAR	se
na	PREP	na
ovo	PRO	ovaj
:	PUNCT	:
Genijalno	A:aen	genijalan
,	PUNCT	,
zar	PAR	zar
ne	PAR	ne
.	PUNCT	.
Čudi	A:aem	Čudi
jedino	ADV	jedino
kako	CONJ	kako
je	PRO	ona
genijalnom	A:aem	genijalan
doktoru	N:m	doktor
promakla	V:f	promaknuti
takva	PRO	takav
sitnica	N:f	sitnica
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
:	PUNCT	:
kako	CONJ	kako
do	PREP	do
đavola	N:m	đavo
osoba	N:f	osoba
B	ABB	B
i	CONJ	i
C	ABB	C
da	CONJ	da
unose	N:m	unos
tečnost	N:f	tečnost
u	PREP	u
svoj	PRO	sav
organizam	N:m	organizam
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Ali	CONJ	ali
dobro	ADV	dobro
,	PUNCT	,
čista	A:aef	čist
sitnica	N:f	sitnica
.	SENT	.
Kako	CONJ	kako
god	PAR	god
bilo	V:n	biti
,	PUNCT	,
u	PREP	u
tom	PRO	taj
momentu	N:m	moment
već	CONJ	već
se	PAR	se
pomirite	N:m	pomirite
sa	PREP	sa
sudbinom	N:f	sudbina
i	CONJ	i
činjenicom	N:f	činjenica
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
jedna	NUM	jedan
od	PREP	od
najvećih	A:cen	velik
gluposti	N:f	glupost
koje	PRO	koji
ćete	N:m	ćete
gledati	V:m	gledati
.	SENT	.
Svi	PRO	sav
tvrde	A:aef	tvrd
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
najbolesniji	A:cem	bolestan
film	N:m	film
ikada	ADV	ikada
snimljen	V:m	snimiti
.	SENT	.
Što	N:m	Što
se	PAR	se
toga	PRO	taj
tiče	N:n	tiče
,	PUNCT	,
nije	A:aem	nije
ni	CONJ	ni
prići	A:aem	prići
Srpskom	A:aem	srpski
Filmu	N:m	film
,	PUNCT	,
ali	CONJ	ali
o	PREP	o
tom	PRO	taj
filmu	N:m	film
neki	PRO	neki
drugi	A:aem	drugi
put	N:m	put
.	SENT	.
U	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
,	PUNCT	,
i	CONJ	i
što	CONJ	što
se	PAR	se
kvaliteta	N:m	kvalitet
tiče	N:n	tiče
,	PUNCT	,
ova	PRO	ovaj
baljezgarija	N:f	baljezgarija
ne	PAR	ne
sme	V:m	sme
ni	PAR	ni
u	PREP	u
istoj	A:aef	isti
rečenici	N:f	rečenica
da	CONJ	da
se	PAR	se
pomene	N:m	pomen
sa	PREP	sa
Srpskim	A:aef	srpski
Filmom	N:f	Filmom
.	SENT	.
Kako	ADV	kako
sam	PRO	sam
čuo	V:m	čuti
,	PUNCT	,
snima	N:m	san
se	PAR	se
i	CONJ	i
nastavak	N:m	nastavak
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
mukama	N:f	muka
nikad	ADV	nikad
kraja	N:m	kraj
.	SENT	.
Ukoliko	CONJ	ukoliko
se	PAR	se
odlučite	A:aem	odlučite
da	CONJ	da
pogledate	A:aem	pogledate
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
budite	ADV	budite
ekstremno	ADV	ekstremno
oprezni	A:aem	oprezan
šta	PRO	šta
očekujete	N:m	očekujete
.	SENT	.
