A	CONJ	a
šta	PRO	šta
ste	N:f	ste
očekivali	V:m	očekivati
?	PUNCT	?
NAPOMENA	N:f	napomena
:	PUNCT	:
Kako	CONJ	kako
me	PRO	ja
je	PRO	ona
@	A:aem	@
timjohnbyford	N:m	timjohnbyford
obavestio	V:m	obavestiti
verzija	N:f	verzija
filma	N:m	film
koja	PRO	koji
se	PAR	se
prikazuje	N:m	prikazuje
u	PREP	u
našim	PRO	naš
bioskopima	N:m	bioskop
je	PRO	ona
na	PREP	na
bošnjačkom	A:aef	bošnjački
/	N:m	/
srpskom	A:aem	srpski
/	A:aem	/
jeziku	N:m	jezik
koji	PRO	koji
razumemo	N:f	razumemo
.	SENT	.
Verzija	N:f	verzija
filma	N:m	film
koji	PRO	koji
sam	PRO	sam
ja	PRO	ja
gledao	V:m	gledati
(	PUNCT	(
VOD	N:m	vod
rip	N:m	rip
sa	PREP	sa
neta	N:m	net
)	PUNCT	)
je	PRO	ona
na	PREP	na
engleskom	A:aen	engleski
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
film	N:m	film
nije	N:f	nije
nahovan	V:m	nahovan
na	PREP	na
engleski	A:aem	engleski
preko	PREP	preko
pomenutih	A:aem	pomenut
jezika	N:m	jezik
,	PUNCT	,
već	PAR	već
glumci	N:m	glumac
sve	PRO	sav
replike	N:f	replika
,	PUNCT	,
sa	PREP	sa
svojim	PRO	svoj
matičnim	A:aef	matični
akcentima	N:m	akcent
,	PUNCT	,
izgovaraju	N:m	izgovaraju
na	PREP	na
engleskom	A:aen	engleski
.	PUNCT	.
Što	A:aen	Što
znači	N:n	znači
da	CONJ	da
je	PRO	ona
Anđelina	N:f	Anđelina
praktično	ADV	praktično
snimila	V:f	snimiti
dva	NUM	dva
filma	N:m	film
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
da	CONJ	da
su	N:m	su
glumci	N:m	glumac
imali	V:m	imati
nezahvalan	A:aem	nezahvalan
profesionalan	A:aem	profesionalan
zadatak	N:m	zadatak
-	PUNCT	-
da	CONJ	da
ono	PRO	onaj
što	CONJ	što
im	PRO	ona
je	PRO	ona
povereno	V:n	poveriti
ne	PAR	ne
samo	PAR	samo
glume	N:f	gluma
na	PREP	na
jeziku	N:m	jezik
koji	PRO	koji
im	PRO	ona
nije	A:aem	nije
blizak	A:aem	blizak
,	PUNCT	,
već	CONJ	već
i	CONJ	i
da	CONJ	da
dvaput	ADV	dvaput
,	PUNCT	,
a	CONJ	a
na	PREP	na
različite	A:aef	različit
načine	N:m	način
,	PUNCT	,
iz	PREP	iz
sebe	PRO	sebe
crpe	N:f	crpe
emocije	N:f	emocija
i	CONJ	i
kreativnu	A:aef	kreativan
energiju	N:f	energija
za	PREP	za
potrebe	N:f	potreba
postavljenog	A:aem	postavljen
zadatka	N:m	zadatak
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
na	PREP	na
prirodu	N:f	priroda
ovog	PRO	ovaj
filma	N:m	film
i	CONJ	i
obilan	A:aem	obilan
broj	N:m	broj
teških	A:aef	težak
scena	N:f	scena
pretpostavljam	N:m	pretpostavljam
da	CONJ	da
to	PRO	taj
nije	N:m	nije
bilo	V:n	biti
nimalo	ADV	nimalo
lako	ADV	lako
.	SENT	.
Naslućujem	N:m	Naslućujem
da	CONJ	da
je	PRO	ona
puki	A:aem	puki
razlog	N:m	razlog
za	PREP	za
ovo	PRO	ovaj
plaćeno	A:aen	plaćen
cimanje	N:n	cimanje
to	PRO	taj
što	CONJ	što
se	PAR	se
američka	A:aen	američki
publika	N:f	publika
gadi	N:f	gadi
na	PREP	na
titlove	N:m	titl
koliko	ADV	koliko
i	CONJ	i
Srbi	N:m	Srba
na	PREP	na
suživot	N:m	suživot
sa	PREP	sa
Šiptarima	N:m	Šiptar
.	SENT	.
U	PREP	u
svom	PRO	sav
prikazu	N:m	prikaz
filma	N:m	film
ja	PRO	ja
ću	A:aem	ću
probati	N:f	probati
da	CONJ	da
se	PAR	se
ne	PAR	ne
bavim	A:aef	bavim
stvarima	N:f	stvar
koje	PRO	koji
ste	N:m	ste
već	PAR	već
čuli	V:m	čuti
sa	PREP	sa
svih	PRO	sav
mogućih	A:aem	moguć
strana	N:f	strana
,	PUNCT	,
sem	PREP	sem
u	PREP	u
slučaju	N:m	slučaj
kada	CONJ	kada
diskutujem	N:m	diskutujem
sa	PREP	sa
njima	PRO	ona
.	SENT	.
Mnogi	A:aem	mnogi
su	N:m	su
filmu	N:m	film
zamerili	V:m	zameriti
da	CONJ	da
je	PRO	ona
scenario	N:m	scenario
loš	A:aem	loš
i	CONJ	i
da	CONJ	da
je	PRO	ona
loša	A:aem	loš
priča	N:f	priča
loše	ADV	loše
vođena	V:f	voditi
nikuda	ADV	nikuda
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
da	CONJ	da
je	PRO	ona
Anđelina	A:aef	Anđelin
Zemlju	N:f	zemlja
krvi	N:f	krv
i	CONJ	i
meda	N:m	med
zamislila	V:f	zamisliti
kao	ADV	kao
ljubavnu	A:aef	ljubavan
priču	N:f	priča
između	PREP	između
Muslimanke	N:f	muslimanka
i	CONJ	i
Srbina	N:m	Srbin
tokom	PREP	tokom
rata	N:f	rata
u	PREP	u
Bosni	N:f	Bosna
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
formalno	A:aen	formalan
,	PUNCT	,
ali	CONJ	ali
dosta	ADV	dosta
labavo	ADV	labavo
,	PUNCT	,
ispunjava	N:f	ispunjava
tu	PRO	taj
nameru	N:f	namera
.	PUNCT	.
Jedino	ADV	jedino
što	CONJ	što
je	PRO	ona
njihov	PRO	njihov
odnos	N:m	odnos
sve	ADV	sve
sem	PREP	sem
ljubavni	A:aem	ljubavan
.	SENT	.
Uvodna	A:aef	uvodni
sekvenca	N:f	sekvenca
nam	PRO	mi
pokazuje	N:m	pokazuje
Ajlu	N:m	Ajl
koja	PRO	koji
se	PAR	se
sprema	N:f	sprema
za	PREP	za
izlazak	N:m	izlazak
,	PUNCT	,
potom	ADV	potom
njen	PRO	njen
boravak	N:m	boravak
u	PREP	u
klubu	N:m	klub
sa	PREP	sa
Danijelom	N:m	Danijel
,	PUNCT	,
i	CONJ	i
sve	PRO	sav
se	PAR	se
to	PRO	taj
završava	N:f	završava
,	PUNCT	,
simbolično	ADV	simbolično
,	PUNCT	,
eksplozijom	N:f	eksplozija
koja	PRO	koji
tu	PRO	taj
romansu	N:f	romansa
prekida	N:m	prekid
.	SENT	.
Ne	PAR	ne
znamo	ADV	znamo
zašto	ADV	zašto
(	PUNCT	(
zašto	ADV	zašto
Danijel	N:m	Danijel
nije	V:m	nije
pobegao	V:m	pobeći
sa	PREP	sa
Ajlom	N:m	Ajl
negde	ADV	negde
,	PUNCT	,
zašto	CONJ	zašto
je	PRO	ona
nije	N:m	nije
sklonio	V:m	skloniti
na	PREP	na
sigurno	ADV	sigurno
,	PUNCT	,
ako	CONJ	ako
je	PRO	ona
toliko	ADV	toliko
voli	N:m	Voli
?	PUNCT	?
.	SENT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
,	PUNCT	,
ne	PAR	ne
znamo	N:m	znamo
ni	PAR	ni
koliko	ADV	koliko
je	PRO	ona
ova	PRO	ovaj
romansa	N:f	romansa
trajala	V:m	trajati
(	PUNCT	(
što	CONJ	što
bi	A:aen	bi
trebalo	V:n	trebati
da	CONJ	da
obezbedi	N:f	obezbeda
uverljivost	N:f	uverljivost
ostatka	N:m	ostatak
filma	N:m	film
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
znamo	N:m	znamo
ni	PAR	ni
koliko	ADV	koliko
su	N:m	su
se	PAR	se
njih	PRO	ona
dvoje	NUM	dvoje
voleli	V:m	voleti
(	PUNCT	(
da	CONJ	da
li	PAR	li
im	PRO	ona
je	PRO	ona
ovo	PRO	ovaj
bio	V:m	biti
neki	PRO	neki
prvi	A:aem	prvi
dejt	N:m	dejt
ili	CONJ	ili
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
se	PAR	se
uzmu	N:m	uzmu
za	PREP	za
mesec	N:m	mesec
dana	N:m	dan
?	PUNCT	?
)	PUNCT	)
.	SENT	.
Nestrpljiva	A:aef	nestrpljiv
Anđelina	N:f	Anđelina
već	PAR	već
skače	V:m	skače
u	PREP	u
kovitlac	N:m	kovitlac
rata	N:f	rata
gde	CONJ	gde
srpski	A:aem	srpski
paravojnici	N:m	paravojnici
organizovano	A:aen	organizovan
odvode	N:m	odvod
Muslimanke	N:f	muslimanka
u	PREP	u
nekakav	PRO	nekakav
logor	N:m	logor
(	PUNCT	(
gde	CONJ	gde
će	V:m	će
ove	PRO	ovaj
biti	N:f	bit
mešavina	N:f	mešavina
džoj	N:m	džoj
divižna	A:aem	divižna
i	CONJ	i
posluge	N:f	posluga
)	PUNCT	)
.	SENT	.
Tamo	ADV	tamo
Danijel	N:m	Danijel
u	PREP	u
edukativnom	A:aem	edukativan
pokušaju	N:m	pokušaj
silovanja	N:n	silovanje
prepoznaje	N:m	prepoznaje
Ajlu	N:m	Ajl
tek	CONJ	tek
malo	ADV	malo
pre	ADV	pre
nego	CONJ	nego
što	CONJ	što
joj	PRO	ona
ga	PRO	on
je	PRO	ona
zavukao	V:m	zavući
.	SENT	.
Iole	ADV	iole
neretardiran	A:aem	neretardiran
gledalac	N:m	gledalac
ovde	ADV	ovde
mora	N:n	more
da	CONJ	da
se	PAR	se
zbuni	V:m	zbuni
volumenom	N:m	volumen
i	CONJ	i
kvalitetom	N:m	kvalitet
njihovog	PRO	njihov
odnosa	N:m	odnos
pre	PREP	pre
ovog	PRO	ovaj
susreta	N:m	susret
.	PUNCT	.
A	CONJ	a
tek	CONJ	tek
će	N:n	će
onim	PRO	onaj
što	PRO	što
sledi	N:f	sledi
.	SENT	.
Nakon	PREP	nakon
toga	PRO	taj
,	PUNCT	,
kako	CONJ	kako
rat	N:m	rat
odmiče	N:m	odmiče
,	PUNCT	,
Danijel	N:m	Danijel
će	A:aen	će
prvo	A:aen	prvi
skrivajući	N:n	skrivajući
od	PREP	od
svojih	PRO	svoj
ratnih	A:aef	ratni
drugova	N:m	drug
krišom	ADV	krišom
da	CONJ	da
brine	N:m	brine
o	PREP	o
njoj	PRO	ona
,	PUNCT	,
da	CONJ	da
bi	A:aem	bi
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
kada	CONJ	kada
se	PAR	se
rat	N:m	rat
već	CONJ	već
primakne	N:m	primakne
svom	PRO	sav
kraju	N:m	kraj
,	PUNCT	,
ona	PRO	ona
postala	V:f	postati
'	N:m	'
ekskluzivno	A:aen	ekskluzivan
njegova	PRO	njegov
'	N:m	'
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
predmet	N:m	predmet
ozbiljnih	A:aem	ozbiljan
primedbi	N:f	primedba
na	PREP	na
račun	N:m	račun
čistote	N:f	čistota
njegovog	PRO	njegov
srpstva	N:n	srpstvo
.	SENT	.
Mi	PRO	ja
ćemo	N:f	ćemo
u	PREP	u
međuvremenu	N:n	međuvreme
saznati	V:m	saznati
kakva	PRO	kakav
je	PRO	ona
stravična	A:aef	stravičan
sudbina	N:f	sudbina
zadesila	V:f	zadesiti
Ajlinu	A:aef	Ajlinu
sestru	N:f	sestra
(	PUNCT	(
srpski	A:aem	srpski
paravojnici	N:m	paravojnici
su	N:m	su
njenu	PRO	njen
bebu	N:f	beba
bacili	V:m	baciti
kroz	PREP	kroz
prozor	N:m	prozor
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
glasno	ADV	glasno
plakala	V:f	plakati
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
to	PRO	taj
da	CONJ	da
je	PRO	ona
Danijel	N:m	Danijel
sin	N:m	sin
izvesnog	A:aen	izvestan
Nebojše	N:m	Nebojša
(	PUNCT	(
Šerbedžija	N:m	Šerbedžija
)	PUNCT	)
koji	PRO	koji
je	PRO	ona
osmišljen	V:m	osmisliti
kao	CONJ	kao
neki	PRO	neki
prototip	N:m	prototip
generala	N:m	general
Mladića	N:m	Mladić
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
da	CONJ	da
je	PRO	ona
njemu	PRO	on
'	A:aem	'
uniforma	N:f	uniforma
'	N:m	'
u	PREP	u
krvi	N:f	krv
,	PUNCT	,
a	CONJ	a
samim	PRO	sam
tim	PRO	taj
i	CONJ	i
sve	PRO	sav
'	A:aem	'
obaveze	N:f	obaveza
'	N:m	'
koje	PRO	koji
sa	PREP	sa
njom	PRO	ona
idu	A:aem	idu
.	SENT	.
Anđelinin	A:aem	Anđelinin
film	N:m	film
naizmenična	A:aem	naizmeničan
je	PRO	ona
mešavina	N:f	mešavina
prikaza	N:f	prikaza
bezumnog	A:aem	bezuman
terora	N:m	teror
srpskih	A:aef	srpski
paravojnih	A:aem	paravojni
formacija	N:f	formacija
nad	PREP	nad
muslimanskim	A:aef	muslimanski
življem	A:ben	živ
i	CONJ	i
melodramskih	A:aen	melodramski
,	PUNCT	,
arthausičnih	A:aen	arthausičnih
,	PUNCT	,
erotizovanih	A:aen	erotizovan
druženja	N:n	druženje
Danijela	N:f	Danijela
i	CONJ	i
Ajle	N:m	Ajl
u	PREP	u
intimi	N:f	intima
njegove	PRO	njegov
sve	ADV	sve
veće	A:bef	velik
sobe	N:f	soba
.	SENT	.
Nikakve	PRO	nikakav
prave	A:aef	prav
drame	N:f	drama
,	PUNCT	,
razvoja	N:m	razvoj
priče	N:f	priča
ili	CONJ	ili
likova	N:n	likovo
tu	ADV	tu
nema	A:aem	nem
,	PUNCT	,
film	N:m	film
jednostavno	A:aen	jednostavan
daje	N:m	daje
inserte	N:m	insert
iz	PREP	iz
hronološkog	A:aem	hronološki
razvoja	N:m	razvoj
rata	N:f	rata
koji	PRO	koji
su	N:m	su
na	PREP	na
žlebovima	N:m	žleb
različitih	A:aem	različit
perioda	N:m	period
obično	ADV	obično
propraćeni	V:m	propratiti
nekim	PRO	neki
televizijskim	A:aem	televizijski
ili	CONJ	ili
radijskim	A:aem	radijski
prenosom	N:m	prenos
koji	PRO	koji
,	PUNCT	,
pre	PREP	pre
svega	PRO	sav
,	PUNCT	,
inostranom	A:aen	inostran
gledaocu	N:m	gledalac
daje	N:m	daje
presek	N:m	presek
situacije	N:f	situacija
tj	ABB	tj
razvoja	N:m	razvoj
rata	N:f	rata
.	SENT	.
Slike	N:f	slika
nasilja	N:n	nasilje
paravojnih	A:aem	paravojni
formacija	N:f	formacija
bile	V:f	biti
su	PREF	su
najčešći	A:cem	čest
i	CONJ	i
najveći	A:cem	velik
predmet	N:m	predmet
(	PUNCT	(
srpske	A:aef	srpski
)	PUNCT	)
kritike	N:f	kritika
.	SENT	.
Srpski	A:aem	srpski
paravojnici	N:m	paravojnici
siluju	N:m	siluju
po	PREP	po
ciči	N:f	ciča
zimi	ADV	zimi
već	PAR	već
posle	PREP	posle
dvanaest	NUM	dvanaest
minuta	N:m	minut
od	PREP	od
početka	N:m	početak
filma	N:m	film
,	PUNCT	,
ubrzo	ADV	ubrzo
potom	ADV	potom
baciće	V:f	baciće
bebu	N:f	beba
kroz	PREP	kroz
prozor	N:m	prozor
zgrade	N:f	zgrada
,	PUNCT	,
ubijati	A:aem	ubijati
civile	N:m	civil
koje	PRO	koji
isteruju	N:m	isteruju
iz	PREP	iz
njihovih	PRO	njihov
domova	N:m	dom
,	PUNCT	,
koristiće	A:aem	koristiće
otete	A:aem	otet
žene	N:f	žena
kao	CONJ	kao
živi	A:aem	živ
štit	N:m	štit
u	PREP	u
borbi	N:f	borba
protiv	PREP	protiv
muslimanske	A:aem	muslimanski
vojske	N:f	vojska
,	PUNCT	,
iživljavaće	V:m	iživljavaće
se	PAR	se
na	PREP	na
najrazličitije	A:cen	različit
načine	N:m	način
nad	PREP	nad
otetim	A:aef	otet
Muslimankama	N:f	muslimanka
,	PUNCT	,
snajperima	N:m	snajper
će	A:aem	će
gađati	A:aem	gađati
civile	N:m	civil
po	PREP	po
Sarajevu	N:n	Sarajevo
.	PUNCT	.
.	SENT	.
.	PUNCT	.
U	PREP	u
Anđelininom	N:m	Anđelininom
nizu	N:m	niz
svih	PRO	sav
ovih	PRO	ovaj
zala	N:n	zlo
nema	A:aem	nem
nikakve	PRO	nikakav
naročite	A:aef	naročit
gradacije	N:f	gradacija
,	PUNCT	,
a	CONJ	a
sem	PREP	sem
u	PREP	u
liku	N:f	lika
Danijela	N:f	Danijela
i	CONJ	i
donekle	ADV	donekle
njegovog	PRO	njegov
oca	N:m	otac
Nebojše	N:m	Nebojša
nema	A:aem	nem
ni	CONJ	ni
nikakve	PRO	nikakav
individualizacije	N:f	individualizacija
ovih	PRO	ovaj
zlikovaca	N:m	zlikovac
.	SENT	.
Srpski	A:aem	srpski
zločini	N:m	zločin
su	N:m	su
kao	CONJ	kao
nemački	A:aem	nemački
zločini	N:m	zločin
u	PREP	u
'	A:aem	'
partizanskim	A:aef	partizanski
filmovima	N:m	film
'	N:m	'
,	PUNCT	,
jedna	NUM	jedan
difolt	N:m	difolt
aktivnost	N:f	aktivnost
koja	PRO	koji
se	PAR	se
ne	PAR	ne
dovodi	N:m	dovod
u	PREP	u
pitanje	N:n	pitanje
i	CONJ	i
samim	PRO	sam
tim	PRO	taj
kod	PREP	kod
gledaoca	N:m	gledalac
ne	PAR	ne
proizvodi	N:m	proizvod
onu	PRO	onaj
vrstu	N:f	vrsta
zgražavanja	N:n	zgražavanje
i	CONJ	i
ljutine	N:f	ljutina
koju	PRO	koji
bi	N:m	bi
trebalo	V:n	trebati
.	SENT	.
Jedan	NUM	jedan
od	PREP	od
poslednjih	A:aem	poslednji
susreta	N:m	susret
'	A:aem	'
Nebojšine	A:aef	Nebojšin
ekipe	N:f	ekipa
'	A:aem	'
odvija	N:f	odvija
se	PAR	se
u	PREP	u
nekoj	PRO	neki
staroj	A:aef	star
vili	N:f	vila
sa	PREP	sa
visokim	A:aem	visok
plafonima	N:m	plafon
i	CONJ	i
sve	PRO	sav
izgleda	N:m	izgled
kao	CONJ	kao
replika	N:f	replika
nekog	PRO	neki
'	A:aem	'
fajnal	N:m	fajnal
solušn	N:m	solušn
dogovora	N:m	dogovor
'	A:aem	'
nacističke	A:aef	nacistički
ekipe	N:f	ekipa
.	SENT	.
Kao	CONJ	kao
komentar	N:m	komentar
i	CONJ	i
paralela	N:f	paralela
to	PRO	taj
funkcioniše	N:m	funkcioniše
,	PUNCT	,
ali	CONJ	ali
jednodimenzionalnost	N:f	jednodimenzionalnost
u	PREP	u
prikazivanju	N:n	prikazivanje
srpske	A:aef	srpski
paravojske	N:f	paravojska
šteti	N:f	šteta
filmskoj	A:aef	filmski
priči	N:f	priča
,	PUNCT	,
uverljivosti	N:f	uverljivost
ispričanog	A:aem	ispričan
,	PUNCT	,
a	CONJ	a
samim	PRO	sam
tim	PRO	taj
i	CONJ	i
svim	PRO	sav
onim	PRO	onaj
željenim	A:aef	željen
konsekvencama	N:f	konsekvenca
,	PUNCT	,
pre	PREP	pre
svega	ADV	svega
nacionalnom	A:aem	nacionalan
,	PUNCT	,
srpskom	A:aem	srpski
preispitivanju	N:n	preispitivanje
.	PUNCT	.
Ni	PAR	ni
ljubavna	A:aef	ljubavan
priča	N:f	priča
nije	V:n	nije
ništa	PRO	ništa
bolja	A:bef	dobar
.	SENT	.
Ja	PRO	ja
sam	PRO	sam
se	PAR	se
u	PREP	u
nekom	PRO	neki
trenutku	N:m	trenutak
ponadao	V:m	ponadati
da	CONJ	da
će	V:m	će
Anđelina	A:aef	Anđelin
stvar	N:f	stvar
tako	ADV	tako
postaviti	V:m	postaviti
da	CONJ	da
dvoje	NUM	dvoje
ljudi	N:m	ljudi
koji	PRO	koji
su	N:m	su
imali	V:m	imati
nekakvu	PRO	nekakav
romansicu	N:f	romansicu
pre	PREP	pre
rata	N:f	rata
(	PUNCT	(
ili	CONJ	ili
se	PAR	se
on	PRO	on
baš	PAR	baš
ložio	V:m	ložiti
na	PREP	na
nju	PRO	ona
)	PUNCT	)
u	PREP	u
vihoru	N:m	vihor
rata	N:f	rata
počinje	N:f	počinje
da	CONJ	da
,	PUNCT	,
silom	N:f	sila
prilika	N:f	prilika
,	PUNCT	,
svoj	PRO	sav
odnos	N:m	odnos
doživljava	A:aem	doživljava
kao	CONJ	kao
bitniji	A:bem	bitan
i	CONJ	i
fatalnij	N:m	fatalnij
nego	CONJ	nego
što	CONJ	što
on	PRO	on
zaista	PAR	zaista
jeste	INT	jeste
,	PUNCT	,
svako	PRO	svaki
iz	PREP	iz
svojih	PRO	svoj
pobuda	N:f	pobuda
-	PUNCT	-
ona	PRO	ona
da	CONJ	da
se	PAR	se
spasi	N:m	Spasa
,	PUNCT	,
a	CONJ	a
on	PRO	on
da	CONJ	da
olakša	A:aem	olakša
savest	N:f	savest
.	PUNCT	.
I	CONJ	i
da	CONJ	da
to	PRO	taj
na	PREP	na
kraju	N:m	kraj
kulminira	N:f	kulminira
trenutkom	N:m	trenutak
u	PREP	u
kome	PRO	koji
se	PAR	se
oni	PRO	onaj
možda	PAR	možda
zaista	PAR	zaista
zaljubljuju	N:m	zaljubljuju
jedno	NUM	jedan
u	PREP	u
drugo	A:aen	drugi
,	PUNCT	,
ali	CONJ	ali
tada	ADV	tada
je	PRO	ona
već	PAR	već
prekasno	ADV	prekasno
za	PREP	za
sve	PRO	sav
.	SENT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
ništa	PRO	ništa
se	PAR	se
od	PREP	od
toga	PRO	taj
ne	PAR	ne
desi	N:m	desi
.	SENT	.
Čak	N:m	Čak
šta	PRO	šta
,	PUNCT	,
Anđelina	N:f	Anđelina
u	PREP	u
nekim	PRO	neki
momentima	N:m	moment
oblikuje	N:m	oblikuje
tu	PRO	taj
priču	N:f	priča
prilično	ADV	prilično
konfuzno	A:aen	konfuzan
i	CONJ	i
kontradiktorno	A:aen	kontradiktoran
(	PUNCT	(
on	PRO	on
ne	PAR	ne
zna	V:m	zna
da	CONJ	da
je	PRO	ona
ona	PRO	ona
imala	V:f	imati
izloženu	A:aem	izložen
sliku	N:f	slika
u	PREP	u
lokalnom	A:aen	lokalan
muzeju	N:m	muzej
-	PUNCT	-
pa	CONJ	pa
kad	CONJ	kad
je	PRO	ona
onda	ADV	onda
slika	N:f	slika
tamo	ADV	tamo
postavljena	V:m	postaviti
,	PUNCT	,
ako	CONJ	ako
ih	PRO	ona
je	PRO	ona
rat	N:m	rat
zatekao	V:m	zateći
zajedno	ADV	zajedno
?	PUNCT	?
.	SENT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
.	SENT	.
Ako	CONJ	ako
se	PAR	se
Ajlina	N:m	Ajlina
emocionlna	A:aem	emocionlna
i	CONJ	i
svaka	PRO	svaki
druga	A:aef	drugi
konfuznost	N:f	konfuznost
još	ADV	još
i	CONJ	i
može	A:aem	može
tumačiti	A:aem	tumačiti
kao	CONJ	kao
očekivana	A:aen	očekivan
ženska	A:aen	ženski
reakcija	N:f	reakcija
na	PREP	na
jezive	A:aef	jeziv
događaje	N:m	događaj
,	PUNCT	,
Danijel	N:m	Danijel
nije	A:aem	nije
ništa	ADV	ništa
drugo	A:aen	drugi
nego	CONJ	nego
psiho	N:f	psiha
.	SENT	.
On	PRO	on
nije	A:aem	nije
momak	N:m	momak
kome	PRO	koji
je	PRO	ona
rat	N:m	rat
nemio	A:aem	nemio
,	PUNCT	,
a	CONJ	a
kako	CONJ	kako
nam	PRO	mi
Anđelina	N:f	Anđelina
kasnije	ADV	kasnije
kaže	N:f	kaža
-	PUNCT	-
on	PRO	on
je	PRO	ona
u	PREP	u
ratnim	A:aem	ratni
haranjima	N:n	haranje
čak	PAR	čak
nadmašio	V:m	nadmašiti
oca	N:m	otac
.	PUNCT	.
A	CONJ	a
opet	ADV	opet
s	PREP	s
druge	A:aem	drugi
strane	N:f	strana
mi	PRO	ja
ne	PAR	ne
vidimo	A:aen	vidimo
ni	CONJ	ni
šta	PRO	šta
je	PRO	ona
to	PRO	taj
u	PREP	u
njemu	PRO	on
što	CONJ	što
ga	PRO	on
tera	N:m	ter
na	PREP	na
zverstva	N:n	zverstvo
,	PUNCT	,
niti	CONJ	niti
gde	CONJ	gde
se	PAR	se
to	PRO	taj
on	PRO	on
lično	ADV	lično
istakao	V:m	istakati
.	SENT	.
U	PREP	u
njegovoj	PRO	njegov
vezanosti	N:f	vezanost
za	PREP	za
Ajlu	N:m	Ajl
ima	V:f	ima
previše	ADV	previše
neobjašnjene	A:aef	neobjašnjen
promaje	N:f	promaja
tj	ABB	tj
sve	PRO	sav
se	PAR	se
može	A:aem	može
objasniti	N:m	objasniti
samo	PAR	samo
time	PRO	taj
da	CONJ	da
je	PRO	ona
on	PRO	on
psihopata	N:m	psihopata
.	SENT	.
Njegova	PRO	njegov
lična	A:aen	ličan
kapitulacija	N:f	kapitulacija
na	PREP	na
kraju	N:m	kraj
filma	N:m	film
nikako	ADV	nikako
ne	PAR	ne
proizilazi	N:m	proizilazi
iz	PREP	iz
lika	N:m	lik
,	PUNCT	,
već	CONJ	već
je	PRO	ona
pamfletska	A:aef	pamfletski
poruka	N:f	poruka
same	PRO	sam
rediteljke	N:f	rediteljka
'	A:aem	'
šta	PRO	šta
su	N:m	su
srpski	A:aem	srpski
paravojnici	N:m	paravojnici
morali	V:m	morati
da	CONJ	da
urade	V:m	urade
'	N:m	'
na	PREP	na
kraju	N:m	kraj
(	PUNCT	(
rata	N:f	rata
)	PUNCT	)
.	SENT	.
No	CONJ	no
,	PUNCT	,
kako	CONJ	kako
je	PRO	ona
i	CONJ	i
ona	PRO	ona
iznuđena	V:n	iznuditi
i	CONJ	i
taj	PRO	taj
momenat	N:m	moment
deluje	N:f	deluje
jezivo	ADV	jezivo
isforsirano	V:n	isforsirati
i	CONJ	i
nema	A:aem	nem
snagu	N:f	snaga
da	CONJ	da
zatvori	N:m	zatvor
film	N:m	film
.	SENT	.
Anđelina	A:aef	Anđelin
nije	N:f	nije
donela	V:f	doneti
neki	PRO	neki
'	N:m	'
svoj	PRO	sav
'	A:aem	'
pogled	N:m	pogled
na	PREP	na
rat	N:m	rat
,	PUNCT	,
a	CONJ	a
naročito	ADV	naročito
ne	PAR	ne
na	PREP	na
onaj	PRO	onaj
u	PREP	u
Bosni	N:f	Bosna
.	PUNCT	.
Osim	PREP	osim
ako	CONJ	ako
povremeno	ADV	povremeno
bujanje	N:n	bujanje
boja	N:f	boja
u	PREP	u
totalima	N:m	total
(	PUNCT	(
nebo	N:n	nebo
)	PUNCT	)
i	CONJ	i
establišment	N:m	establišment
kadrovima	N:m	kadar
(	PUNCT	(
zgrade	N:f	zgrada
)	PUNCT	)
ne	PAR	ne
računate	A:aem	računat
kao	CONJ	kao
relevantan	A:aem	relevantan
autorski	A:aem	autorski
doprinos	N:m	doprinos
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
da	CONJ	da
je	PRO	ona
U	A:aem	U
zemlji	N:f	zemlja
krvi	N:f	krv
i	CONJ	i
meda	N:m	med
,	PUNCT	,
prema	PREP	prema
njenim	PRO	njen
rečima	N:f	reč
,	PUNCT	,
trebalo	V:n	trebati
da	CONJ	da
bude	A:aem	bude
film	N:m	film
koji	PRO	koji
(	PUNCT	(
kroz	PREP	kroz
ljubavnu	A:aef	ljubavan
priču	N:f	priča
)	PUNCT	)
prikazuje	N:m	prikazuje
stradanje	N:n	stradanje
Muslimanki	N:f	muslimanka
(	PUNCT	(
a	CONJ	a
samim	PRO	sam
tim	PRO	taj
i	CONJ	i
svih	PRO	sav
žena	N:f	žena
)	PUNCT	)
u	PREP	u
ovom	PRO	ovaj
ratu	N:m	rat
,	PUNCT	,
tim	PRO	taj
ženama	N:f	žena
ona	PRO	ona
se	PAR	se
nije	V:f	nije
pozabavila	V:f	pozabaviti
koliko	ADV	koliko
zaslužuju	N:m	zaslužuju
.	SENT	.
Sem	PREP	sem
Ajle	N:m	Ajl
i	CONJ	i
njene	PRO	njen
sestre	N:f	sestra
(	PUNCT	(
koja	PRO	koji
nije	N:f	nije
bila	V:f	biti
u	PREP	u
logoru	N:m	logor
)	PUNCT	)
mi	PRO	ja
jedva	ADV	jedva
da	CONJ	da
imamo	ADV	imamo
izdiferencirano	V:n	izdiferencirati
još	ADV	još
neki	PRO	neki
ženski	A:aem	ženski
lik	N:m	lik
,	PUNCT	,
njene	PRO	njen
patnje	N:f	patnja
ili	CONJ	ili
sudbinu	N:f	sudbina
.	SENT	.
A	CONJ	a
paradoksalno	A:aen	paradoksalan
,	PUNCT	,
prikazana	V:m	prikazati
nam	PRO	mi
je	PRO	ona
baš	PAR	baš
ona	PRO	ona
koja	PRO	koji
je	PRO	ona
,	PUNCT	,
oprostite	N:m	oprostite
mi	PRO	ja
na	PREP	na
cinizmu	N:m	cinizam
,	PUNCT	,
u	PREP	u
tom	PRO	taj
ratu	N:m	rat
uživala	V:f	uživati
primijum	N:m	primijum
tretman	N:m	tretman
s	PREP	s
obzirom	N:m	obzir
na	PREP	na
okolnosti	N:f	okolnost
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
mene	PRO	ja
buni	N:f	buna
jeste	INT	jeste
kako	CONJ	kako
,	PUNCT	,
recimo	N:m	recimo
,	PUNCT	,
Šerbedžija	N:m	Šerbedžija
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
,	PUNCT	,
navodno	ADV	navodno
,	PUNCT	,
i	CONJ	i
nekakav	PRO	nekakav
Anđelinin	A:aem	Anđelinin
prijatelj	N:m	prijatelj
,	PUNCT	,
po	PREP	po
čitanju	N:n	čitanje
scenarija	N:m	scenario
nije	N:f	nije
našao	V:m	naći
za	PREP	za
shodno	A:aen	shodan
da	CONJ	da
joj	PRO	ona
ukaže	N:f	ukaže
na	PREP	na
evidentne	A:aef	evidentan
mane	N:f	mana
istog	A:aen	isti
.	PUNCT	.
Konačno	A:aen	Konačno
i	CONJ	i
njemu	PRO	on
je	PRO	ona
poverena	V:f	poveriti
uloga	N:f	uloga
flispapir	N:m	flispapir
tankog	A:aem	tanak
srpskog	A:aen	srpski
vorlorda	N:m	vorlorda
koji	PRO	koji
je	PRO	ona
i	CONJ	i
u	PREP	u
nekim	PRO	neki
jadnijim	A:bef	jadan
ekranizacijama	N:f	ekranizacija
bosanskog	A:aem	bosanski
rata	N:f	rata
bio	V:m	biti
bolje	ADV	bolje
elaboriran	V:m	elaborirati
od	PREP	od
ovoga	PRO	ovaj
.	PUNCT	.
A	CONJ	a
pitam	N:m	pitam
se	PAR	se
zašto	ADV	zašto
su	N:m	su
glave	N:f	glava
u	PREP	u
pesak	N:m	pesak
zabili	V:m	zabiti
i	CONJ	i
ostali	V:m	ostati
srpski	A:aem	srpski
i	CONJ	i
bosanski	A:aem	bosanski
glumci	N:m	glumac
koji	PRO	koji
su	N:m	su
svakako	ADV	svakako
bolje	ADV	bolje
i	CONJ	i
više	ADV	više
od	PREP	od
Anđeline	N:f	Anđelina
znali	V:m	znati
i	CONJ	i
šta	PRO	šta
se	PAR	se
dešavalo	V:n	dešavati
i	CONJ	i
kako	CONJ	kako
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
ona	PRO	ona
zamislila	V:f	zamisliti
može	A:aem	može
filmu	N:m	film
(	PUNCT	(
a	CONJ	a
ne	PAR	ne
srpskoj	A:aef	srpski
publici	N:f	publika
ili	CONJ	ili
nekoj	PRO	neki
drugoj	A:aef	drugi
)	PUNCT	)
da	CONJ	da
se	PAR	se
obije	N:f	obije
o	PREP	o
glavu	N:f	glava
.	PUNCT	.
Ne	PAR	ne
kažem	A:aen	kažem
da	CONJ	da
je	PRO	ona
to	PRO	taj
bila	V:f	biti
njihova	PRO	njihov
obaveza	N:f	obaveza
,	PUNCT	,
ali	CONJ	ali
s	PREP	s
obzirom	N:m	obzir
na	PREP	na
ambicije	N:f	ambicija
filma	N:m	film
,	PUNCT	,
beskrajno	A:aen	beskrajan
osetljivu	A:aef	osetljiv
tematiku	N:f	tematika
i	CONJ	i
potencijalne	A:aef	potencijalan
konsekvence	N:f	konsekvenca
(	PUNCT	(
nije	V:m	nije
li	PAR	li
nas	PRO	mi
Anđelinin	A:aem	Anđelinin
film	N:m	film
opet	ADV	opet
malo	ADV	malo
zaratio	V:m	zaratiti
,	PUNCT	,
a	CONJ	a
?	PUNCT	?
)	SENT	)
,	PUNCT	,
možda	PAR	možda
se	PAR	se
moglo	V:n	moći
malo	ADV	malo
pomučiti	A:aem	pomučiti
zarad	PREP	zarad
uspešnijeg	A:bem	uspešan
ostvarenja	N:n	ostvarenje
višeg	A:aem	viši
cilja	N:m	cilj
.	SENT	.
U	PREP	u
zemlji	N:f	zemlja
krvi	N:f	krv
i	CONJ	i
meda	N:m	med
je	PRO	ona
film	N:m	film
sa	PREP	sa
mnogo	ADV	mnogo
krvi	N:f	krv
i	CONJ	i
bez	PREP	bez
imalo	ADV	imalo
meda	N:m	med
,	PUNCT	,
ali	CONJ	ali
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
još	ADV	još
bitnije	A:bef	bitan
-	PUNCT	-
on	PRO	on
fundamentalno	A:aen	fundamentalan
odbacuje	A:aen	odbacuje
ideju	N:f	ideja
da	CONJ	da
se	PAR	se
oni	PRO	onaj
'	N:m	'
smiješano	V:n	smiješati
najlakše	ADV	najlakše
piju	A:aem	piju
'	N:m	'
.	SENT	.
