Mislim	A:aem	Mislim
da	CONJ	da
posedujem	N:m	posedujem
apsolutnu	A:aef	apsolutan
otvorenost	N:f	otvorenost
prema	PREP	prema
svim	PRO	sav
žanrovima	N:m	žanr
i	CONJ	i
nikada	ADV	nikada
ne	PAR	ne
pretpostavljam	N:m	pretpostavljam
domet	N:m	domet
kvaliteta	N:m	kvalitet
filma	N:m	film
na	PREP	na
osnovu	N:f	osnova
njegovog	PRO	njegov
kategorijskog	A:aem	kategorijski
opisa	N:m	opis
.	PUNCT	.
Bilo	V:n	biti
da	CONJ	da
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
horor	N:m	horor
,	PUNCT	,
triler	N:m	triler
,	PUNCT	,
romantična	A:aef	romantičan
komedija	N:f	komedija
i	CONJ	i
sl	ABB	sl
.	SENT	.
verujem	N:m	verujem
da	CONJ	da
svaki	PRO	svaki
film	N:m	film
,	PUNCT	,
pod	PREP	pod
uslovom	N:m	uslov
da	CONJ	da
je	PRO	ona
sniman	V:m	snimati
sa	PREP	sa
bar	PAR	bar
relativnom	A:aem	relativan
tendencijom	N:f	tendencija
ka	PREP	ka
kvalitetu	N:m	kvalitet
,	PUNCT	,
može	A:aen	može
da	CONJ	da
bude	A:aen	bude
vredno	A:aen	vredan
kinematgrafsko	A:aen	kinematgrafsko
iskustvo	N:n	iskustvo
.	PUNCT	.
‘	N:m	‘
’	N:m	’
The	INT	The
Vow	A:aem	Vow
’	A:aem	’
’	N:m	’
ne	PAR	ne
sadrži	V:n	sadrži
ništa	ADV	ništa
što	CONJ	što
bi	A:aen	bi
se	PAR	se
moglo	V:n	moći
smatrati	V:n	smatrati
vrednim	A:aen	vredan
.	SENT	.
Zasnovan	A:aem	zasnovan
na	PREP	na
istinitoj	A:aef	istinit
priči	N:f	priča
Kim	N:f	Kim
i	CONJ	i
Krikita	N:m	Krikita
Karpenter	N:m	Karpenter
,	PUNCT	,
radnja	N:f	radnja
prati	N:f	prati
Pejdž	N:m	Pejdž
i	CONJ	i
Lea	N:f	Lea
,	PUNCT	,
mladi	A:aem	mlad
bračni	A:aem	bračni
par	N:m	par
kiji	A:aef	kiji
doživljava	N:f	doživljava
saobrćajnu	A:aef	saobrćajnu
nesreću	N:f	nesreća
u	PREP	u
kojoj	PRO	koji
Pejdž	N:m	Pejdž
,	PUNCT	,
usled	PREP	usled
moždane	A:aef	moždani
traume	N:f	trauma
,	PUNCT	,
zaboravlja	N:n	zaboravlja
svog	PRO	svoj
muža	N:f	muža
i	CONJ	i
njihov	PRO	njihov
brak	N:m	brak
.	SENT	.
Vodeći	N:m	Vodeći
se	PAR	se
zavetom	N:m	zavet
‘	A:aem	‘
’	A:aem	’
Dok	N:m	Dok
nas	PRO	mi
smrt	N:f	smrt
ne	PAR	ne
rastavi	N:f	rastava
’	A:aem	’
’	A:aem	’
Leo	N:m	Leo
će	V:m	će
dati	V:m	dati
sve	ADV	sve
od	PREP	od
sebe	PRO	sebe
da	CONJ	da
sačuva	A:aef	sačuva
ženu	N:f	žena
koju	PRO	koji
voli	N:m	Voli
.	SENT	.
Osnova	N:f	osnova
za	PREP	za
film	N:m	film
je	PRO	ona
krajnje	ADV	krajnje
inspirativna	A:aem	inspirativan
,	PUNCT	,
ovakve	PRO	ovakav
priče	N:f	priča
mogu	A:aem	mogu
da	CONJ	da
vas	PRO	vi
potresu	N:m	potres
.	SENT	.
Čitav	A:aem	Čitav
projekat	N:m	projekt
je	PRO	ona
toliko	ADV	toliko
jeftin	A:aem	jeftin
što	CONJ	što
oseti	N:m	oset
u	PREP	u
svakom	PRO	svaki
minutu	N:m	minut
.	SENT	.
Kontinuirani	A:aem	kontinuiran
pokušaji	N:m	pokušaj
izvlačenja	N:n	izvlačenje
emocije	N:f	emocija
kod	PREP	kod
publike	N:f	publika
,	PUNCT	,
kroz	PREP	kroz
patetiku	N:f	patetika
,	PUNCT	,
dovode	N:m	dovod
do	PREP	do
osećaja	N:m	osećaj
frustracije	N:f	frustracija
zbog	PREP	zbog
koje	PRO	koji
će	A:aem	će
većina	N:f	većina
poželeti	N:m	poželeti
da	CONJ	da
prekine	N:m	prekine
da	CONJ	da
gleda	N:m	gleda
film	N:m	film
,	PUNCT	,
mnogo	ADV	mnogo
pre	PREP	pre
njegovog	PRO	njegov
završetka	N:m	završetak
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
radnja	N:f	radnja
predvidiva	A:aen	predvidiv
,	PUNCT	,
ne	PAR	ne
znači	N:f	znači
da	CONJ	da
autor	N:m	autor
treba	N:f	treba
da	CONJ	da
podlegne	A:aef	podlegne
šablonu	N:m	šablon
i	CONJ	i
odrekne	V:m	odrekne
se	PAR	se
svakog	PRO	svaki
intelektualnog	A:aem	intelektualan
pristupa	N:m	pristup
zarad	PREP	zarad
procene	N:f	procena
da	CONJ	da
će	A:aen	će
dovoljno	A:aen	dovoljan
‘	N:m	‘
’	A:aem	’
lenjih	A:aem	lenj
’	N:m	’
’	A:aem	’
gledalaca	N:m	gledalac
ostaviti	V:m	ostaviti
ostaviti	A:aem	ostaviti
dolar	N:m	dolar
više	ADV	više
.	SENT	.
Karijeri	N:f	karijera
Rejčel	N:f	Rejčel
Mekadams	N:m	Mekadams
(	PUNCT	(
Rachel	N:m	Rachel
McAdams	N:m	McAdams
)	PUNCT	)
nikako	ADV	nikako
nije	A:aem	nije
trebao	V:m	trebati
još	ADV	još
jedan	NUM	jedan
‘	A:aem	‘
’	N:m	’
The	INT	The
Notebook	A:aem	Notebook
’	N:m	’
’	A:aem	’
film	N:m	film
.	SENT	.
Taman	PAR	taman
kada	CONJ	kada
je	PRO	ona
karijera	N:f	karijera
počela	V:f	početi
da	CONJ	da
joj	PRO	ona
ide	N:f	Ida
u	PREP	u
pravom	N:n	pravo
smeru	N:m	smer
,	PUNCT	,
po	PREP	po
pitanju	N:n	pitanje
kvaliteta	N:m	kvalitet
uloga	N:f	uloga
,	PUNCT	,
ponovo	ADV	ponovo
se	PAR	se
srozala	V:f	srozati
na	PREP	na
stari	A:aem	star
nivo	N:m	nivo
.	PUNCT	.
Razumem	N:m	Razumem
da	CONJ	da
Čening	N:m	Čening
Tejtum	N:f	Tejtum
(	PUNCT	(
Channing	N:m	Channing
Tatum	N:m	Tatum
)	PUNCT	)
uživa	A:aem	uživa
ogromu	A:aem	ogromu
popularnost	N:f	popularnost
kod	PREP	kod
suprotnog	A:aem	suprotan
pola	N:m	pol
u	PREP	u
ovom	PRO	ovaj
trenutku	N:m	trenutak
ali	CONJ	ali
su	N:m	su
tvorci	N:m	tvorac
mogli	V:m	moći
da	CONJ	da
izaberu	N:f	izaberu
glumca	N:m	glumac
sa	PREP	sa
tračkom	N:m	tračak
talenta	N:m	talent
.	SENT	.
Treba	N:f	treba
čestitati	A:aem	čestitati
režiseru	N:m	režiser
što	CONJ	što
je	PRO	ona
uspeo	V:m	uspeti
da	CONJ	da
glumačke	A:aef	glumački
legende	N:f	legenda
,	PUNCT	,
poput	PREP	poput
Džesike	N:f	Džesika
Leng	N:m	Leng
(	PUNCT	(
Jessica	N:f	Jessica
Lange	N:m	Lange
)	PUNCT	)
i	CONJ	i
Sema	N:m	Sem
Nila	N:m	Nil
(	PUNCT	(
Sam	N:m	Sam
Neill	N:m	Neill
)	PUNCT	)
,	PUNCT	,
svede	N:m	svede
na	PREP	na
blede	A:aef	bled
siluete	N:f	silueta
.	SENT	.
To	PRO	taj
ne	PAR	ne
može	A:aem	može
svako	PRO	svaki
.	PUNCT	.
Ako	CONJ	ako
imate	A:aem	imate
potrebu	N:f	potreba
za	PREP	za
samokažnjavanjem	N:n	samokažnjavanje
ili	CONJ	ili
pak	PAR	pak
volite	N:m	volite
da	CONJ	da
testirate	N:m	testirate
sopstvenu	A:aef	sopstven
izdrživost	N:f	izdrživost
,	PUNCT	,
pogledajte	N:m	pogledajte
‘	A:aem	‘
’	N:m	’
The	INT	The
Vow	A:aem	Vow
’	A:aem	’
’	N:m	’
,	PUNCT	,
efektno	A:aen	efektan
će	N:n	će
vam	PRO	vi
anulirati	A:aem	anulirati
volju	N:f	volja
za	PREP	za
životom	N:m	život
.	SENT	.
Svaki	PRO	svaki
gledalac	N:m	gledalac
treba	N:f	treba
da	CONJ	da
zahteva	N:m	zahtev
minimalnu	A:aen	minimalan
dozu	N:f	doza
smisla	N:m	smisao
i	CONJ	i
koherentnosti	N:f	koherentnost
,	PUNCT	,
kakav	PRO	kakav
god	PAR	god
film	N:m	film
da	CONJ	da
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
.	SENT	.
Projekti	N:m	projekt
poput	PREP	poput
ovog	PRO	ovaj
su	N:m	su
dobri	A:aem	dobar
samo	CONJ	samo
iz	PREP	iz
jednog	NUM	jedan
razloga	N:m	razlog
–	N:m	–
kada	CONJ	kada
ih	PRO	ona
pogledate	N:m	pogledate
,	PUNCT	,
mnogo	ADV	mnogo
više	ADV	više
cenite	N:m	cenite
kvalitetnija	A:ben	kvalitetan
ostvarenja	N:n	ostvarenje
.	SENT	.
