Godina	N:f	godina
je	PRO	ona
1913	NUM	@card@
.	SENT	.
U	PREP	u
duševnu	A:aef	duševan
bolnicu	N:f	bolnica
u	PREP	u
Mađarskoj	N:f	Mađarska
,	PUNCT	,
u	PREP	u
kojoj	PRO	koji
su	N:m	su
i	CONJ	i
dalje	ADV	dalje
okrenuti	V:m	okrenuti
starim	A:aef	star
metodama	N:f	metoda
lečenja	N:n	lečenje
(	PUNCT	(
dobra	N:n	dobro
stara	A:aef	star
lobotomija	N:f	lobotomija
)	PUNCT	)
,	PUNCT	,
stiže	A:aem	stiže
ekscentrični	A:aem	ekscentričan
psihoanalitičar	N:m	psihoanalitičar
doktor	N:m	doktor
Brener	N:m	Brener
–	A:aem	–
opijumski	A:aem	opijumski
zavisnik	N:m	zavisnik
i	CONJ	i
pisac	N:m	pisac
koji	PRO	koji
prolazi	N:m	prolaz
kroz	PREP	kroz
stvaralačku	A:aen	stvaralački
krizu	N:f	kriza
.	SENT	.
On	PRO	on
uspostavlja	N:n	uspostavlja
čudan	A:aem	čudan
(	PUNCT	(
i	CONJ	i
do	PREP	do
kraja	N:m	kraj
nedorečen	A:aem	nedorečen
)	PUNCT	)
odnos	N:m	odnos
s	PREP	s
jednom	NUM	jedan
od	PREP	od
pacijentkinja	N:f	pacijentkinja
,	PUNCT	,
Žizel	N:f	Žizel
,	PUNCT	,
koja	PRO	koji
veruje	A:aef	veruje
da	CONJ	da
Zlo	A:aef	Zlo
sâmo	N:f	sâmo
obitava	A:aef	obitava
u	PREP	u
njoj	PRO	ona
,	PUNCT	,
tačnije	ADV	tačnije
u	PREP	u
njenoj	PRO	njen
ženskosti	N:f	ženskost
,	PUNCT	,
što	CONJ	što
je	PRO	ona
nagoni	N:m	nagon
na	PREP	na
kompulsivnu	A:aef	kompulsivan
masturbaciju	N:f	masturbacija
.	SENT	.
Dobri	A:aem	dobar
doktor	N:m	doktor
je	PRO	ona
ipak	PAR	ipak
više	ADV	više
zainteresovan	V:m	zainteresovati
za	PREP	za
Žizelino	N:f	Žizelino
kompulsivno	A:aen	kompulsivan
pisanje	N:n	pisanje
,	PUNCT	,
naročito	ADV	naročito
imajući	A:aem	imajući
u	PREP	u
vidu	N:f	vida
sopstveni	A:aem	sopstven
problem	N:m	problem
s	PREP	s
manjkom	N:m	manjak
inspiracije	N:f	inspiracija
.	SENT	.
Umesto	PREP	umesto
zanimljive	A:aef	zanimljiv
psihoseksualne	A:aef	psihoseksualne
drame	N:f	drama
protkane	A:aem	protkan
ludilom	N:n	ludilo
,	PUNCT	,
dobili	V:m	dobiti
smo	N:f	smo
niz	PREP	niz
nemušto	A:aen	nemušt
snimljenih	A:aef	snimljen
scena	N:f	scena
koje	PRO	koji
,	PUNCT	,
poput	PREP	poput
pokvarene	A:aef	pokvaren
ploče	N:f	ploča
u	PREP	u
ritmu	N:m	ritam
japanskog	A:aem	japanski
mučenja	N:n	mučenje
vodom	N:f	voda
(	PUNCT	(
kap	N:f	kap
.	PUNCT	.
.	SENT	.
.	PUNCT	.
kap	N:f	kap
.	PUNCT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
,	PUNCT	,
ponavljaju	N:m	ponavljaju
istu	A:aem	isti
banalnu	A:aef	banalan
svakodnevicu	N:f	svakodnevica
duševne	A:aef	duševan
bolnice	N:f	bolnica
.	SENT	.
Tumačenje	N:n	Tumačenje
odnosa	N:m	odnos
između	PREP	između
Brenera	N:m	Brener
i	CONJ	i
Žizel	N:f	Žizel
kao	CONJ	kao
varijacije	N:f	varijacija
na	PREP	na
faustovsku	A:aef	faustovski
pogodbu	N:f	pogodba
je	PRO	ona
teorija	N:f	teorija
dobra	N:n	dobro
koliko	ADV	koliko
i	CONJ	i
bilo	V:n	biti
koja	PRO	koji
druga	A:aef	drugi
,	PUNCT	,
budući	A:aem	budući
da	CONJ	da
su	PREF	su
mogućnosti	N:f	mogućnost
učitavanja	N:n	učitavanje
kad	CONJ	kad
je	PRO	ona
pred	PREP	pred
vama	PRO	vi
prazan	A:aem	prazan
list	N:m	list
papira	N:m	papir
praktično	ADV	praktično
beskrajne	A:aef	beskrajan
.	PUNCT	.
A	CONJ	a
beskrajnim	A:aen	beskrajan
se	PAR	se
čini	N:f	čini
i	CONJ	i
sâm	A:aem	sâm
film	N:m	film
,	PUNCT	,
u	PREP	u
kom	PRO	koji
je	PRO	ona
većina	N:f	većina
scena	N:f	scena
produžena	A:aem	produžen
do	PREP	do
granica	N:f	granica
izdržljivosti	N:f	izdržljivost
,	PUNCT	,
gde	ADV	gde
nema	A:aem	nem
ni	CONJ	ni
p	A:aem	p
od	PREP	od
psihoanalize	N:f	psihoanaliza
i	CONJ	i
gde	CONJ	gde
je	PRO	ona
sve	PAR	sve
zamrznuto	V:n	zamrznuti
u	PREP	u
vremenu	N:n	vreme
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
samo	PAR	samo
nasumično	ADV	nasumično
smenjuju	N:f	smenjuju
scene	N:f	scena
Žizeline	N:f	Žizeline
histerije	N:f	histerija
i	CONJ	i
doktorove	A:aef	doktorov
jednako	A:aen	jednak
isprazne	A:aef	isprazan
kontemplacije	N:f	kontemplacija
o	PREP	o
životu	N:m	život
.	SENT	.
Možda	N:f	Možda
je	PRO	ona
reditelj	N:m	reditelj
pogledao	V:m	pogledati
fenomenalni	A:aem	fenomenalan
Quills	N:m	Quills
i	CONJ	i
rešio	V:m	rešiti
da	CONJ	da
snimi	V:m	snimi
„	N:m	„
umetničkiju	A:bef	umetnički
“	A:aem	“
verziju	N:f	verzija
,	PUNCT	,
a	CONJ	a
možda	PAR	možda
je	PRO	ona
prosto	ADV	prosto
(	PUNCT	(
sado	N:m	sado
)	PUNCT	)
mazohista	N:m	mazohista
koji	PRO	koji
voli	N:m	Voli
da	CONJ	da
muči	N:f	muči
i	CONJ	i
sebe	PRO	sebe
i	CONJ	i
publiku	N:f	publika
.	SENT	.
Fotografija	N:f	fotografija
je	PRO	ona
dobra	N:n	dobro
,	PUNCT	,
te	CONJ	te
stoga	ADV	stoga
i	CONJ	i
ocena	N:f	ocena
nije	V:m	nije
najniža	A:cef	nizak
moguća	A:aen	moguć
,	PUNCT	,
ali	CONJ	ali
ako	CONJ	ako
ste	A:aem	ste
preskočili	V:m	preskočiti
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
smatrajte	N:m	smatrajte
se	PAR	se
srećnim	A:aef	srećan
.	SENT	.
