Nije	N:m	Nije
dugo	ADV	dugo
trebalo	V:n	trebati
da	CONJ	da
se	PAR	se
razruši	A:aem	razruši
iluzija	N:f	iluzija
bivšeg	A:aen	bivši
ministra	N:m	ministar
kulture	N:f	kultura
Kojadinovića	N:m	Kojadinović
da	CONJ	da
se	PAR	se
,	PUNCT	,
barem	PAR	barem
kada	CONJ	kada
je	PRO	ona
srpski	A:aem	srpski
film	N:m	film
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
kvantitetom	N:m	kvantitet
može	A:aem	može
doći	N:n	doći
i	CONJ	i
do	PREP	do
kvaliteta	N:m	kvalitet
.	PUNCT	.
Baš	A:aem	Baš
kao	ADV	kao
i	CONJ	i
još	ADV	još
jedna	NUM	jedan
iluzija	N:f	iluzija
-	PUNCT	-
da	CONJ	da
je	PRO	ona
žig	N:m	žig
čuvene	V:f	čuti
praške	A:aem	praški
filmske	A:aem	filmski
škole	N:f	škola
sam	A:aem	sam
po	PREP	po
sebi	PRO	sebe
garancija	N:f	garancija
kvaliteta	N:m	kvalitet
,	PUNCT	,
te	CONJ	te
da	CONJ	da
vredi	N:f	vredi
ulagati	N:m	ulagati
novac	N:m	novac
i	CONJ	i
vreme	N:n	vreme
u	PREP	u
praćenje	N:n	praćenje
radova	N:m	rad
davno	ADV	davno
svršenih	A:aen	svršen
studenata	N:m	student
.	SENT	.
Nakon	PREP	nakon
Markovićeve	A:aef	Markovićev
Turneje	N:f	turneja
,	PUNCT	,
te	PRO	taj
brojnih	A:aef	brojni
promašaja	N:m	promašaj
starijeg	A:bem	star
Paskaljevića	N:m	Paskaljević
,	PUNCT	,
Srđan	N:m	Srđan
Karanović	N:m	Karanović
pokazuje	N:m	pokazuje
da	CONJ	da
katastrofalni	A:aem	katastrofalan
Sjaj	N:m	sjaj
u	PREP	u
očima	N:f	oči
nije	N:f	nije
bio	V:m	biti
tek	CONJ	tek
trenutak	N:m	trenutak
zamora	N:m	zamor
.	SENT	.
Istorijska	A:aef	istorijski
melodrama	N:f	melodrama
Besa	N:m	bes
počiva	A:aem	počiva
na	PREP	na
krajnje	ADV	krajnje
pojednostavljenoj	A:aef	pojednostavljen
premisi	N:f	premisa
–	A:aem	–
srpski	A:aem	srpski
učitelj	N:m	učitelj
dobija	N:n	dobija
poziv	N:m	poziv
u	PREP	u
(	PUNCT	(
Prvi	A:aem	prvi
svetski	A:aem	svetski
)	PUNCT	)
rat	N:m	rat
,	PUNCT	,
napušta	A:aef	napušta
zabitu	A:aef	zabit
varošicu	N:f	varošica
,	PUNCT	,
ostavivši	N:f	ostavivši
svoju	PRO	svoj
novopečenu	A:aef	novopečen
suprugu	N:f	supruga
(	PUNCT	(
pokrštenu	A:aef	pokršten
Štajerku	N:f	Štajerku
/	A:aem	/
Slovenku	N:f	Slovenka
)	PUNCT	)
na	PREP	na
čuvanje	N:n	čuvanje
ćutljivom	A:aem	ćutljiv
i	CONJ	i
časnom	A:aem	častan
domaru	N:m	domar
Albancu	N:m	Albanac
koji	PRO	koji
mu	PRO	on
daje	N:m	daje
besu	N:f	besa
(	PUNCT	(
zavet	N:m	zavet
)	PUNCT	)
da	CONJ	da
će	V:m	će
je	PRO	ona
zaštititi	N:m	zaštititi
od	PREP	od
svih	PRO	sav
zala	N:n	zlo
.	SENT	.
Tako	ADV	tako
se	PAR	se
njih	PRO	ona
dvoje	NUM	dvoje
nađu	A:aen	nađu
u	PREP	u
ispražnjenoj	A:aef	ispražnjen
školi	N:f	škola
kao	CONJ	kao
svojevrsnoj	A:aef	svojevrstan
tvrđavi	N:f	tvrđava
na	PREP	na
koju	PRO	koji
povremeno	ADV	povremeno
kidišu	V:m	kidišu
ostrašćeni	A:aem	ostrašćen
meštani	N:m	meštanin
i	CONJ	i
vojska	N:f	vojska
koja	PRO	koji
se	PAR	se
tu	ADV	tu
zadesi	V:m	zadesi
.	PUNCT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
nismo	N:f	nismo
dobili	V:m	dobiti
nekakvu	PRO	nekakav
remiksovanu	A:aef	remiksovanu
verziju	N:f	verzija
Napada	N:m	napad
na	PREP	na
policijsku	A:aef	policijski
stanicu	N:f	stanica
13	NUM	@card@
,	PUNCT	,
već	CONJ	već
samo	PAR	samo
mlohavu	A:aef	mlohav
dramu	N:f	drama
u	PREP	u
kojoj	PRO	koji
se	PAR	se
malo	ADV	malo
toga	PRO	taj
iole	ADV	iole
važnog	A:aen	važan
dešava	N:n	dešava
,	PUNCT	,
kako	CONJ	kako
među	PREP	među
likovima	N:m	lik
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
na	PREP	na
širem	A:bem	širok
(	PUNCT	(
simboličkom	A:aem	simbolički
)	PUNCT	)
fonu	N:m	fon
.	PUNCT	.
Sa	PREP	sa
prostorno	ADV	prostorno
svedenim	A:aef	sveden
pričama	N:f	priča
uspeli	V:m	uspeti
su	N:m	su
da	CONJ	da
se	PAR	se
nose	N:m	nos
,	PUNCT	,
recimo	N:f	recimo
,	PUNCT	,
Hitchcock	N:m	Hitchcock
u	PREP	u
Užetu	N:m	Užetu
,	PUNCT	,
Stephen	N:m	Stephen
Hopkins	N:m	Hopkins
u	PREP	u
Pod	N:m	pod
sumnjom	N:f	sumnja
i	CONJ	i
Srđan	N:m	Srđan
Dragojević	N:m	Dragojević
u	PREP	u
Lepim	A:aen	lep
selima	N:n	selo
(	PUNCT	(
potonja	A:aen	potonji
dva	NUM	dva
,	PUNCT	,
doduše	PAR	doduše
,	PUNCT	,
koristeći	A:aem	koristeći
obilato	ADV	obilato
fleš	N:m	fleš
bekove	N:m	bek
)	PUNCT	)
.	SENT	.
Karanović	N:m	Karanović
ne	PAR	ne
uspeva	V:m	uspeva
,	PUNCT	,
a	CONJ	a
čini	N:f	čini
se	PAR	se
da	CONJ	da
ni	PAR	ni
ne	PAR	ne
pokušava	N:f	pokušava
da	CONJ	da
razgradi	N:f	razgradi
osnovni	A:aem	osnovni
,	PUNCT	,
krajnje	ADV	krajnje
papirnati	A:aem	papirnat
koncept	N:m	koncept
priče	N:f	priča
.	SENT	.
Tako	ADV	tako
se	PAR	se
(	PUNCT	(
melo	V:n	mesti
)	PUNCT	)
drami	N:f	drama
koja	PRO	koji
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
čini	N:f	čini
srž	N:f	srž
Bese	N:m	Bese
nije	N:f	nije
dalo	V:n	dati
ni	PAR	ni
da	CONJ	da
prodiše	A:aen	prodiše
.	SENT	.
Tome	PRO	taj
je	PRO	ona
doprinelo	V:n	doprineti
još	ADV	još
tušta	ADV	tušta
i	CONJ	i
tma	N:f	tma
proizvoljnosti	N:f	proizvoljnost
i	CONJ	i
pogrešnih	A:aem	pogrešan
izbora	N:m	izbor
.	SENT	.
Pre	PREP	pre
svega	PRO	sav
,	PUNCT	,
Karanović	N:m	Karanović
ne	PAR	ne
samo	PAR	samo
da	CONJ	da
ne	PAR	ne
veruje	N:m	veruje
,	PUNCT	,
nego	CONJ	nego
očigledno	ADV	očigledno
i	CONJ	i
prezire	N:m	prezir
žanr	N:m	žanr
za	PREP	za
koji	PRO	koji
se	PAR	se
odlučio	V:m	odlučiti
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
od	PREP	od
sirkovske	A:aef	sirkovske
melodrame	N:f	melodrama
epskog	A:aem	epski
zanosa	N:m	zanos
(	PUNCT	(
sa	PREP	sa
sve	PRO	sav
kostimima	N:m	kostim
)	PUNCT	)
ostaje	N:n	ostaje
tek	CONJ	tek
šepava	A:aef	šepav
priča	N:f	priča
o	PREP	o
dve	NUM	dva
oprečne	A:aef	oprečan
osobe	N:f	osoba
vezane	A:aef	vezan
u	PREP	u
čvor	N:m	čvor
(	PUNCT	(
u	PREP	u
jednom	NUM	jedan
trenutku	N:m	trenutak
,	PUNCT	,
kada	CONJ	kada
Slovenka	N:f	Slovenka
dobije	N:n	dobije
povodac	N:m	povodac
oko	PREP	oko
noge	N:f	noga
,	PUNCT	,
i	CONJ	i
bukvalno	ADV	bukvalno
)	PUNCT	)
istorijskim	A:aef	istorijski
neprilikama	N:f	neprilika
.	SENT	.
Promene	N:f	promena
u	PREP	u
njihovom	PRO	njihov
odnosu	N:m	odnos
ničim	PRO	ništa
nisu	N:m	nisu
opravdane	V:f	opravdati
,	PUNCT	,
naprotiv	PAR	naprotiv
,	PUNCT	,
deluju	A:aen	deluju
ishitreno	A:aen	ishitren
i	CONJ	i
arbitrarno	A:aen	arbitraran
,	PUNCT	,
a	CONJ	a
scena	N:f	scena
para	N:f	para
-	PUNCT	-
seksa	N:m	seks
izgleda	N:m	izgled
nimalo	ADV	nimalo
poetično	A:aen	poetičan
i	CONJ	i
potresno	A:aen	potresan
,	PUNCT	,
već	CONJ	već
naprosto	ADV	naprosto
urnebesno	ADV	urnebesno
.	SENT	.
Jedini	A:aem	jedini
alibi	N:m	alibi
za	PREP	za
trajanje	N:n	trajanje
filma	N:m	film
može	A:aem	može
se	PAR	se
naći	V:m	naći
u	PREP	u
zakonitosti	N:f	zakonitost
koja	PRO	koji
kaže	N:f	kaža
da	CONJ	da
se	PAR	se
započeta	V:n	započeti
filmska	A:aef	filmski
priča	N:f	priča
negde	ADV	negde
i	CONJ	i
nekako	ADV	nekako
mora	N:n	more
i	CONJ	i
završiti	N:m	završiti
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
koji	PRO	koji
će	N:f	će
na	PREP	na
čisto	ADV	čisto
nefilmskom	A:aem	nefilmskom
nivou	N:m	nivo
možda	PAR	možda
naići	V:m	naići
na	PREP	na
odobravanje	N:n	odobravanje
onih	PRO	onaj
slojeva	N:m	sloj
koji	PRO	koji
se	PAR	se
naslađuju	N:m	naslađuju
mizantropskim	A:aem	mizantropski
autošovinizmom	N:m	autošovinizmom
.	SENT	.
Takav	PRO	takav
odabir	N:m	odabir
je	PRO	ona
svakako	PAR	svakako
legitiman	A:aem	legitiman
Karanovićev	A:aem	Karanovićev
izbor	N:m	izbor
,	PUNCT	,
tim	PRO	taj
pre	PREP	pre
što	PRO	što
se	PAR	se
stiče	N:m	stidak
utisak	N:m	utisak
da	CONJ	da
je	PRO	ona
njegov	PRO	njegov
autošovinizam	N:m	autošovinizam
krajnje	ADV	krajnje
iskren	A:aem	iskren
i	CONJ	i
nimalo	ADV	nimalo
kalkulantski	A:aem	kalkulantski
poput	PREP	poput
Perišićevog	A:aem	Perišićev
u	PREP	u
slučaju	N:m	slučaj
Ordinary	N:m	Ordinary
People	N:m	People
.	SENT	.
Karanović	N:m	Karanović
otvoreno	A:aen	otvoren
prezire	N:m	prezir
publiku	N:f	publika
koja	PRO	koji
će	N:m	će
možda	PAR	možda
i	CONJ	i
pružiti	A:aem	pružiti
šansu	N:f	šansa
njegovom	PRO	njegov
delu	N:n	delo
,	PUNCT	,
gradeći	N:f	gradeći
likove	N:m	lik
na	PREP	na
stereotipima	N:m	stereotip
i	CONJ	i
folklorno	A:aen	folklorni
-	PUNCT	-
kostimografskim	A:aef	kostimografski
simplifikacijama	N:f	simplifikacija
.	SENT	.
Tako	ADV	tako
je	PRO	ona
Slovenka	N:f	Slovenka
sklona	A:aef	sklon
umetnosti	N:f	umetnost
i	CONJ	i
flertu	N:m	flert
,	PUNCT	,
Albanac	N:m	Albanac
(	PUNCT	(
sa	PREP	sa
kečetom	N:n	keče
,	PUNCT	,
u	PREP	u
punoj	A:aef	pun
narodnoj	A:aef	narodni
nošnji	N:f	nošnja
i	CONJ	i
obavezno	ADV	obavezno
sa	PREP	sa
semenkama	N:f	semenka
za	PREP	za
grickati	A:aem	grickati
)	PUNCT	)
čestit	A:aem	čestit
i	CONJ	i
tradicionalan	A:aem	tradicionalan
,	PUNCT	,
a	CONJ	a
Srbima	N:m	Srbin
su	N:m	su
ponuđena	V:m	ponuditi
čak	PAR	čak
tri	NUM	tri
rukavca	N:m	rukavac
–	A:aem	–
brbljivi	A:aem	brbljiv
i	CONJ	i
snisishodljivi	A:aem	snisishodljivi
bigoti	N:m	bigoti
(	PUNCT	(
nastavnica	N:f	nastavnica
)	PUNCT	)
,	PUNCT	,
neproduktivni	A:aem	neproduktivan
obrazovani	A:aem	obrazovan
mekušci	N:m	mekušac
(	PUNCT	(
muž	N:m	muž
)	PUNCT	)
,	PUNCT	,
te	PRO	taj
uniformisani	A:aem	uniformisan
nasrtljivci	N:m	nasrtljivac
na	PREP	na
žene	N:f	žena
(	PUNCT	(
pukovnik	N:m	pukovnik
-	PUNCT	-
udvarač	N:m	udvarač
)	PUNCT	)
.	SENT	.
I	CONJ	i
to	PRO	taj
bi	N:f	bi
se	PAR	se
moglo	V:n	moći
nekako	ADV	nekako
obrazložiti	A:aem	obrazložiti
autorovim	A:aem	autorov
porivom	N:m	poriv
da	CONJ	da
možda	PAR	možda
sebi	PRO	sebe
olakša	A:aem	olakša
stvari	N:f	stvar
,	PUNCT	,
ali	CONJ	ali
kako	CONJ	kako
pojasniti	N:m	pojasniti
podužu	A:bef	podug
scenu	N:f	scena
u	PREP	u
kojoj	PRO	koji
,	PUNCT	,
tokom	PREP	tokom
tople	N:m	tople
noći	N:f	noć
,	PUNCT	,
zatočena	A:aef	zatočen
Slovenka	N:f	Slovenka
,	PUNCT	,
uz	PREP	uz
otvoren	A:aem	otvoren
prozor	N:m	prozor
sluša	A:aem	sluša
Schuberta	N:m	Schuberta
,	PUNCT	,
dok	CONJ	dok
desetine	N:f	desetina
notama	N:f	nota
omađijanih	A:aem	omađijan
meštana	N:m	meštanin
svedenih	A:aem	sveden
na	PREP	na
mračne	A:aef	mračan
prikaze	N:f	prikaza
sa	PREP	sa
dugim	A:aef	dug
senkama	N:f	senka
(	PUNCT	(
dosta	ADV	dosta
nalik	V:m	nalik
Romerovim	A:aem	Romerovim
zombijima	N:m	zombi
)	PUNCT	)
preteći	A:aem	preteći
gledaju	N:m	gledaju
u	PREP	u
pravcu	N:m	pravac
njene	PRO	njen
sobe	N:f	soba
?	SENT	?
Besa	N:m	bes
je	PRO	ona
kolosalan	A:aem	kolosalan
promašaj	N:m	promašaj
nekada	ADV	nekada
značajnog	A:aen	značajan
autora	N:m	autor
i	CONJ	i
jedan	NUM	jedan
od	PREP	od
filmova	N:m	film
kome	PRO	koji
ni	PAR	ni
par	N:m	par
svetlih	A:aem	svetao
trenutaka	N:m	trenutak
(	PUNCT	(
poput	PREP	poput
glume	N:f	gluma
Ive	N:f	Iva
Kranjc	N:m	Kranjc
i	CONJ	i
Radivoja	N:m	Radivoje
Bukvića	N:m	Bukvić
i	CONJ	i
fotografije	N:f	fotografija
Slobodana	N:m	Slobodan
Trninića	N:m	Trninić
)	PUNCT	)
ne	PAR	ne
pomažu	A:aem	pomažu
da	CONJ	da
iskorači	A:aem	iskorači
iz	PREP	iz
senke	N:f	senka
bizarnog	A:aem	bizaran
ekcesa	N:m	ekcesa
koji	PRO	koji
je	PRO	ona
sam	PRO	sam
sebi	PRO	sebe
svrha	N:f	svrha
.	SENT	.
