Prošlo	A:aem	Prošlo
je	PRO	ona
par	N:m	par
godina	N:f	godina
otkad	ADV	otkad
je	PRO	ona
fenomen	N:m	fenomen
Seks	N:m	seks
i	CONJ	i
grad	N:m	grad
ekspandirao	V:m	ekspandirati
u	PREP	u
film	N:m	film
koji	PRO	koji
je	PRO	ona
postavio	V:m	postaviti
stvari	N:f	stvar
na	PREP	na
svoje	PRO	svoj
mesto	N:n	mesto
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
doneo	V:m	doneti
konzervativni	A:aem	konzervativan
ever	N:m	ever
after	N:m	after
završetak	N:m	završetak
.	SENT	.
Tako	ADV	tako
smo	N:f	smo
dobili	V:m	dobiti
Charlotte	N:m	Charlotte
sa	PREP	sa
decom	N:f	deca
,	PUNCT	,
Mirandu	N:f	Miranda
nazad	ADV	nazad
u	PREP	u
braku	N:m	brak
,	PUNCT	,
Carrie	N:m	Carrie
najzad	ADV	najzad
u	PREP	u
braku	N:m	brak
,	PUNCT	,
i	CONJ	i
Samanthu	N:f	Samanthu
kao	ADV	kao
večito	ADV	večito
loše	A:aef	loš
dete	N:n	dete
opet	ADV	opet
sa	PREP	sa
statusom	N:m	status
single	N:m	singl
and	N:m	and
fabulous	N:m	fabulous
.	SENT	.
Michael	N:m	Michael
Patrick	N:m	Patrick
King	N:m	King
je	PRO	ona
u	PREP	u
nastavku	N:m	nastavak
,	PUNCT	,
logično	ADV	logično
,	PUNCT	,
trebalo	V:n	trebati
da	CONJ	da
razmrda	N:f	razmrda
tu	PRO	taj
idilu	N:f	idila
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
sad	ADV	sad
Samanthin	A:aem	Samanthin
duševni	A:aem	duševan
mir	N:m	mir
remete	N:f	remeta
godine	N:f	godina
te	PRO	taj
se	PAR	se
ona	PRO	ona
masovno	A:aen	masovan
kljuka	N:f	kljuka
tabletama	N:f	tableta
ne	PAR	ne
bi	V:f	bi
li	PAR	li
zavarala	V:f	zavarati
menopauzu	N:f	menopauza
,	PUNCT	,
Charlotte	N:m	Charlotte
se	PAR	se
pati	V:m	pati
sa	PREP	sa
decom	N:f	deca
i	CONJ	i
brine	N:m	brine
da	CONJ	da
Harry	A:aem	Harry
nije	N:m	nije
slučajno	ADV	slučajno
bacio	V:m	baciti
oko	PREP	oko
na	PREP	na
lepu	A:aen	lep
dadilju	N:f	dadilja
koja	PRO	koji
ne	PAR	ne
nosi	A:aem	nosi
brushalter	N:m	brushalter
,	PUNCT	,
Mirandu	N:f	Miranda
maltretira	N:f	maltretira
seksistički	A:aem	seksistički
šef	N:m	šef
,	PUNCT	,
a	CONJ	a
Carrie	N:m	Carrie
se	PAR	se
čini	N:f	čini
da	CONJ	da
su	N:m	su
ona	PRO	ona
i	PAR	i
Zverka	N:m	Zverka
izgubili	V:m	izgubiti
za	PREP	za
vezu	N:f	veza
preko	PREP	preko
potrebne	A:aem	potreban
varnice	N:f	varnica
.	PUNCT	.
I	CONJ	i
nije	V:m	nije
baš	PAR	baš
nešto	ADV	nešto
,	PUNCT	,
čini	N:f	čini
se	PAR	se
.	PUNCT	.
I	CONJ	i
zaista	ADV	zaista
,	PUNCT	,
film	N:m	film
Seks	N:m	seks
i	CONJ	i
grad	N:m	grad
2	NUM	@card@
ne	PAR	ne
sadrži	V:n	sadrži
ni	CONJ	ni
trunku	N:f	trunka
šarma	N:m	šarm
koji	PRO	koji
je	PRO	ona
famozna	A:aef	famozan
serija	N:f	serija
imala	V:f	imati
.	SENT	.
Humor	N:m	humor
je	PRO	ona
forsiran	A:aem	forsiran
i	CONJ	i
neuspeo	A:aem	neuspeo
,	PUNCT	,
modne	A:aef	modni
kombinacije	N:f	kombinacija
su	N:m	su
uglavnom	ADV	uglavnom
katastrofalno	A:aen	katastrofalan
sklopljene	A:aem	sklopljen
,	PUNCT	,
a	CONJ	a
što	CONJ	što
se	PAR	se
samo	PAR	samo
četiri	NUM	četiri
drugarice	N:f	drugarica
tiče	N:n	tiče
,	PUNCT	,
neko	PRO	neki
ko	PRO	ko
kojim	PRO	koji
čudom	N:n	čudo
nije	V:m	nije
gledao	V:m	gledati
seriju	N:f	serija
ne	PAR	ne
bi	V:m	bi
imao	V:m	imati
pojma	N:m	pojam
ko	CONJ	ko
su	N:m	su
u	PREP	u
stvari	N:f	stvar
ovi	PRO	ovaj
likovi	N:m	lik
.	SENT	.
Tako	ADV	tako
npr	N:m	npr
.	SENT	.
Samantha	N:m	Samantha
uspeva	N:m	uspeva
da	CONJ	da
se	PAR	se
poseksa	N:m	poseksa
samo	PAR	samo
sa	PREP	sa
dva	NUM	dva
tipa	N:m	tip
,	PUNCT	,
a	CONJ	a
od	PREP	od
Mirandine	A:aef	Mirandine
duhovitosti	N:f	duhovitost
i	CONJ	i
sarkazma	N:m	sarkazam
ostale	V:f	ostati
su	PREF	su
neuspele	A:aef	neuspeo
dosetke	N:f	dosetka
koje	PRO	koji
izazivaju	A:aem	izazivaju
transfer	N:m	transfer
neprijatnosti	N:f	neprijatnost
.	PUNCT	.
Seks	N:m	seks
i	CONJ	i
grad	N:m	grad
2	NUM	@card@
je	PRO	ona
,	PUNCT	,
dodatno	ADV	dodatno
,	PUNCT	,
nepodnošljivo	ADV	nepodnošljivo
dosadan	A:aem	dosadan
,	PUNCT	,
zapravo	ADV	zapravo
,	PUNCT	,
osećaj	N:m	osećaj
je	PRO	ona
mnogo	ADV	mnogo
gori	N:f	gora
nego	CONJ	nego
kad	CONJ	kad
biste	N:f	bista
npr	N:m	npr
.	PUNCT	.
gledali	V:m	gledati
deset	NUM	deset
najdosadnijih	A:cef	dosadan
epizoda	N:f	epizoda
serije	N:f	serija
zaredom	ADV	zaredom
.	SENT	.
Zaplet	N:m	zaplet
praktično	ADV	praktično
i	CONJ	i
da	CONJ	da
ne	PAR	ne
postoji	N:m	postoji
i	CONJ	i
,	PUNCT	,
osim	PREP	osim
jednog	NUM	jedan
poljupca	N:m	poljubac
i	CONJ	i
Samanthinog	A:aen	Samanthinog
arlaukanja	N:n	arlaukanje
„	A:aem	„
Ja	A:aem	Ja
imam	N:m	imam
seks	N:m	seks
!	SENT	!
“	N:m	“
pred	PREP	pred
gomilom	N:f	gomila
starijih	A:bem	star
Arapa	N:m	Arap
,	PUNCT	,
ništa	PRO	ništa
se	PAR	se
ne	PAR	ne
dogodi	N:f	dogodi
.	PUNCT	.
I	CONJ	i
to	PRO	taj
sve	PRO	sav
traje	N:m	traje
tragičnih	A:aem	tragičan
146	NUM	@card@
minuta	N:m	minut
.	SENT	.
Izmeštanje	N:n	Izmeštanje
radnje	N:f	radnja
iz	PREP	iz
Njujorka	N:m	Njujork
u	PREP	u
Abu	N:m	Abu
Dabi	N:m	Daba
takođe	PAR	takođe
nije	V:n	nije
pomoglo	V:n	pomoći
-	PUNCT	-
nismo	N:f	nismo
videli	V:m	videti
mnogo	ADV	mnogo
ni	CONJ	ni
seksa	N:m	seks
,	PUNCT	,
a	CONJ	a
ni	PAR	ni
grada	N:m	grad
,	PUNCT	,
već	CONJ	već
samo	PAR	samo
niz	PREP	niz
scena	N:f	scena
uvredljivih	A:aef	uvredljiv
i	CONJ	i
po	PREP	po
arapski	A:aem	arapski
svet	N:m	svet
i	CONJ	i
po	PREP	po
žene	N:f	žena
.	SENT	.
Vrhunac	N:m	vrhunac
nastupa	N:m	nastup
kada	CONJ	kada
,	PUNCT	,
nakon	PREP	nakon
Samanthinog	A:aem	Samanthinog
ispada	N:m	ispad
na	PREP	na
pijaci	N:f	pijaca
,	PUNCT	,
naše	PRO	naš
četiri	NUM	četiri
junakinje	N:f	junakinja
od	PREP	od
linča	N:m	linč
spašava	A:aem	spašava
grupa	N:f	grupa
žena	N:f	žena
pod	PREP	pod
burkama	N:f	Burka
,	PUNCT	,
koje	PRO	koji
u	PREP	u
skrovištu	N:n	skrovište
otkrivaju	N:f	otkrivaju
razlog	N:m	razlog
svoje	PRO	svoj
solidarnosti	N:f	solidarnost
:	PUNCT	:
i	CONJ	i
one	PRO	onaj
nose	N:m	nos
najnoviju	A:cef	nov
Louis	N:m	Louis
Vuitton	N:m	Vuitton
kolekciju	N:f	kolekcija
ispod	PREP	ispod
crnih	A:aem	crn
omotača	N:m	omotač
.	SENT	.
U	PREP	u
tom	PRO	taj
trenutku	N:m	trenutak
se	PAR	se
kao	ADV	kao
vrlo	ADV	vrlo
logično	ADV	logično
nameće	V:m	nameće
pitanje	N:n	pitanje
da	CONJ	da
li	PAR	li
je	PRO	ona
opresivnija	A:aen	opresivnija
burka	N:n	burka
ili	CONJ	ili
sav	PRO	sav
taj	PRO	taj
haos	N:m	haos
od	PREP	od
Valentina	N:f	Valentina
do	PREP	do
Vuittona	N:m	Vuittona
koji	PRO	koji
Carrie	N:m	Carrie
i	CONJ	i
kompanija	N:f	kompanija
nose	N:m	nos
.	SENT	.
Kao	CONJ	kao
rezultat	N:m	rezultat
ovakve	PRO	ovakav
brljotine	N:f	brljotina
od	PREP	od
filma	N:m	film
imamo	N:m	imamo
da	CONJ	da
se	PAR	se
bilo	V:n	biti
kakav	PRO	kakav
emancipatorski	A:aem	emancipatorski
potencijal	N:m	potencijal
Seks	N:m	seks
i	CONJ	i
grada	N:m	grad
ovde	ADV	ovde
jednsotavno	A:aen	jednsotavno
potpuno	ADV	potpuno
izgubio	V:m	izgubiti
.	SENT	.
Navodno	ADV	navodno
samostalne	A:aem	samostalan
i	CONJ	i
samosvesne	A:aef	samosvestan
žene	N:f	žena
upadaju	V:f	upadaju
u	PREP	u
niz	N:m	niz
ponižavajućih	A:aen	ponižavajući
situacija	N:f	situacija
i	CONJ	i
svoje	PRO	svoj
živote	N:m	život
na	PREP	na
kraju	N:m	kraj
u	PREP	u
potpunosti	N:f	potpunost
podređuju	N:m	podređuju
braku	N:m	brak
i	CONJ	i
porodici	N:f	porodica
(	PUNCT	(
Charlotte	N:m	Charlotte
manično	A:aen	maničan
usred	PREP	usred
pustinje	N:f	pustinja
pokušava	A:aem	pokušava
da	CONJ	da
dozove	A:aem	Dozov
Harryja	N:m	Harryja
na	PREP	na
telefon	N:m	telefon
,	PUNCT	,
Miranda	N:f	Miranda
daje	N:m	daje
otkaz	N:m	otkaz
da	CONJ	da
bi	A:aem	bi
više	ADV	više
bila	V:f	biti
sa	PREP	sa
mužem	N:m	muž
i	CONJ	i
detetom	N:n	dete
,	PUNCT	,
Carrie	N:m	Carrie
dobija	N:n	dobija
prsten	N:m	prsten
od	PREP	od
Zverke	N:m	Zverke
da	CONJ	da
je	PRO	ona
podseti	N:m	podseti
da	CONJ	da
je	PRO	ona
njegova	PRO	njegov
)	PUNCT	)
.	SENT	.
Osim	PREP	osim
naravno	PAR	naravno
Samanthe	N:f	Samanthe
,	PUNCT	,
koja	PRO	koji
na	PREP	na
kraju	N:m	kraj
(	PUNCT	(
na	PREP	na
čuvenoj	A:aef	čuven
sceni	N:f	scena
na	PREP	na
pijaci	N:f	pijaca
)	PUNCT	)
ispada	N:m	ispad
ništa	ADV	ništa
drugo	A:aen	drugi
do	PREP	do
histerična	A:aef	histeričan
drolja	N:f	drolja
.	PUNCT	.
Seks	N:m	seks
i	CONJ	i
grad	N:m	grad
2	NUM	@card@
tako	ADV	tako
od	PREP	od
pretpostavljenog	A:aen	pretpostavljen
feminizma	N:m	feminizam
završava	N:f	završava
samo	PAR	samo
u	PREP	u
jezivom	A:aef	jeziv
konzervativizmu	N:m	konzervativizam
.	SENT	.
