Oskarovka	N:f	oskarovka
Sofija	N:f	Sofija
Kopola	N:m	Kopola
(	PUNCT	(
Sofia	N:f	Sofia
Coppola	N:m	Coppola
)	PUNCT	)
se	PAR	se
oduvek	ADV	oduvek
izdvajala	V:f	izdvajati
specifičnim	A:aef	specifičan
filmovima	N:m	film
koji	PRO	koji
su	N:m	su
više	ADV	više
naklonjeni	V:m	nakloniti
ženskom	A:aen	ženski
delu	N:n	delo
publike	N:f	publika
,	PUNCT	,
ali	CONJ	ali
koji	PRO	koji
istovremeno	ADV	istovremeno
imaju	N:f	imaju
i	CONJ	i
interesantan	A:aem	interesantan
umetnički	A:aem	umetnički
karakter	N:m	karakter
.	SENT	.
Ovaj	PRO	ovaj
njen	PRO	njen
najnoviji	A:cem	nov
projekat	N:m	projekt
se	PAR	se
izdvaja	N:m	izdvaja
od	PREP	od
onoga	PRO	onaj
što	PRO	što
smo	N:f	smo
navikli	V:m	naviknuti
od	PREP	od
nje	PRO	ona
,	PUNCT	,
prvenstveno	ADV	prvenstveno
po	PREP	po
tome	PRO	taj
što	CONJ	što
u	PREP	u
njemu	PRO	on
ne	PAR	ne
postoji	N:m	postoji
zabavna	A:aef	zabavan
doza	N:f	doza
,	PUNCT	,
a	CONJ	a
i	CONJ	i
umetnička	A:aen	umetnički
crta	N:f	crta
je	PRO	ona
pod	PREP	pod
velikim	A:aem	velik
znakom	N:m	znak
pitanja	N:n	pitanje
.	SENT	.
Film	N:m	film
je	PRO	ona
snimljen	V:m	snimiti
po	PREP	po
dodatku	N:m	dodatak
ženskog	A:aem	ženski
magazina	N:m	magazin
Vanity	A:aem	Vanity
Fair	N:m	Fair
u	PREP	u
kome	PRO	koji
je	PRO	ona
Nensi	N:f	Nensi
Džo	N:m	Džo
Sejls	N:m	Sejls
(	PUNCT	(
Nancy	A:aem	Nancy
Jo	A:aem	Jo
Sales	N:m	Sales
)	PUNCT	)
napisala	V:f	napisati
tekst	N:m	tekst
o	PREP	o
ekipi	N:f	ekipa
po	PREP	po
imenu	N:n	ime
The	INT	The
Bling	N:m	Bling
Ring	N:m	ring
koja	PRO	koji
je	PRO	ona
upadala	V:f	upadati
u	PREP	u
domove	N:m	dom
svetski	A:aem	svetski
poznatih	A:aef	poznat
zvezda	N:f	zvezda
i	CONJ	i
krala	V:f	krasti
pojedine	A:aef	pojedini
komade	N:m	komad
odeće	N:f	odeća
i	CONJ	i
nakita	N:m	nakit
.	SENT	.
Tim	N:m	Tim
čine	N:m	čin
četiri	NUM	četiri
devojke	N:f	devojka
i	CONJ	i
jedan	NUM	jedan
momak	N:m	momak
,	PUNCT	,
sa	PREP	sa
tim	PRO	taj
što	CONJ	što
su	N:m	su
im	PRO	ona
se	PAR	se
povremeno	ADV	povremeno
priključivali	V:m	priključivati
i	CONJ	i
prijatelji	N:m	prijatelj
iz	PREP	iz
škole	N:f	škola
.	SENT	.
Domove	N:m	dom
su	N:m	su
birali	V:m	birati
tako	ADV	tako
što	CONJ	što
su	N:m	su
na	PREP	na
internetu	N:m	internet
tražili	V:m	tražiti
zvezde	N:f	zvezda
koje	PRO	koji
će	A:aef	će
biti	N:f	bit
daleko	ADV	daleko
od	PREP	od
svoje	PRO	svoj
kuće	N:f	kuća
i	CONJ	i
zatim	ADV	zatim
su	N:m	su
,	PUNCT	,
najčešće	ADV	najčešće
neometano	A:aen	neometan
,	PUNCT	,
provaljivali	V:m	provaljivati
unutra	ADV	unutra
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
kako	CONJ	kako
to	PRO	taj
obično	ADV	obično
biva	A:aem	biva
sa	PREP	sa
kleptomanijom	N:f	kleptomanija
,	PUNCT	,
vremenom	ADV	vremenom
se	PAR	se
potreba	N:f	potreba
i	CONJ	i
navika	N:f	navika
za	PREP	za
krađom	N:f	krađa
i	CONJ	i
provaljivanjem	N:n	provaljivanje
sve	PRO	sav
više	ADV	više
i	CONJ	i
više	ADV	više
povećavala	V:f	povećavati
,	PUNCT	,
što	CONJ	što
je	PRO	ona
na	PREP	na
kraju	N:m	kraj
i	CONJ	i
dovelo	V:n	dovesti
do	PREP	do
njihovog	PRO	njihov
hapšenja	N:n	hapšenje
.	SENT	.
Prva	A:aen	prvi
stvar	N:f	stvar
koja	PRO	koji
se	PAR	se
da	CONJ	da
zaključiti	A:aem	zaključiti
tokom	PREP	tokom
gledanja	N:n	gledanje
jeste	INT	jeste
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
jednostavno	ADV	jednostavno
nema	A:aem	nem
scenario	N:m	scenario
.	SENT	.
Čitava	A:aem	Čitava
radnja	N:f	radnja
se	PAR	se
sastoji	N:m	sastoji
od	PREP	od
nasumice	ADV	nasumice
nabacanih	A:aef	nabacan
scena	N:f	scena
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
glavni	A:aem	glavni
akcenat	N:m	akcent
bačen	V:m	baciti
na	PREP	na
sekvence	N:f	sekvenca
zabavljanja	N:n	zabavljanje
ekipe	N:f	ekipa
po	PREP	po
tuđim	A:aef	tuđ
kućama	N:f	kuća
.	SENT	.
Osim	PREP	osim
toga	PRO	taj
,	PUNCT	,
film	N:m	film
presecaju	N:m	presecaju
momenti	N:m	moment
žurkanja	N:f	žurkanja
sa	PREP	sa
većim	A:bem	velik
dozama	N:f	doza
alkohola	N:m	alkohol
i	CONJ	i
droge	N:f	droga
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
česta	A:aem	čest
presvlačenja	N:n	presvlačenje
i	CONJ	i
opsednutosti	N:f	opsednutost
novim	A:aef	nov
modnim	A:aef	modni
trendovima	N:m	trend
.	SENT	.
Hemija	N:f	hemija
između	PREP	između
likova	N:n	likovo
ne	PAR	ne
postoji	N:m	postoji
,	PUNCT	,
njihova	PRO	njihov
karakterizacija	N:f	karakterizacija
je	PRO	ona
minimalna	A:aem	minimalan
,	PUNCT	,
dok	CONJ	dok
devojke	N:f	devojka
,	PUNCT	,
sa	PREP	sa
izuzetkom	N:m	izuzetak
svima	PRO	sav
poznate	A:aef	poznat
Eme	N:f	Ema
Votson	N:m	Votson
(	PUNCT	(
Emma	A:aem	Emma
Watson	N:m	Watson
)	PUNCT	)
,	PUNCT	,
skoro	ADV	skoro
u	PREP	u
potpunosti	N:f	potpunost
liče	V:m	liče
jedna	NUM	jedan
na	PREP	na
drugu	A:aef	drugi
,	PUNCT	,
i	CONJ	i
sa	PREP	sa
fizičke	A:aem	fizički
i	CONJ	i
psihičke	A:aem	psihički
strane	N:f	strana
.	SENT	.
Dijalozi	N:m	dijalog
su	PREF	su
totalno	A:aen	totalan
nebitni	A:aem	nebitan
i	CONJ	i
,	PUNCT	,
slobodno	ADV	slobodno
se	PAR	se
može	A:aem	može
reći	N:m	reći
,	PUNCT	,
u	PREP	u
potpunosti	N:f	potpunost
nepotrebni	A:aem	nepotreban
.	PUNCT	.
Niti	CONJ	niti
utiču	N:f	utiču
na	PREP	na
radnju	N:f	radnja
,	PUNCT	,
niti	CONJ	niti
pomoću	PREP	pomoću
njih	PRO	ona
nešto	ADV	nešto
saznajemo	A:aen	saznajemo
i	CONJ	i
otkrivamo	N:f	otkrivamo
.	SENT	.
Umesto	PREP	umesto
toga	PRO	taj
likovi	N:m	lik
se	PAR	se
prikazuju	N:m	prikazuju
kao	ADV	kao
ultra	ADV	ultra
-	PUNCT	-
snobovi	N:m	snob
puni	A:aem	pun
egocentričnosti	N:f	egocentričnost
i	CONJ	i
samopouzdanja	N:n	samopouzdanje
,	PUNCT	,
osim	PREP	osim
muškog	A:aen	muški
člana	N:m	član
bande	N:f	banda
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
krajnje	ADV	krajnje
smešan	A:aem	smešan
i	CONJ	i
patetičan	A:aem	patetičan
sa	PREP	sa
svojim	PRO	svoj
razlozima	N:m	razlog
za	PREP	za
priključenje	N:n	priključenje
ekipe	N:f	ekipa
.	SENT	.
Sa	PREP	sa
takvim	PRO	takav
likovima	N:m	lik
se	PAR	se
ne	PAR	ne
može	A:aem	može
previše	ADV	previše
udubiti	N:f	udubiti
u	PREP	u
radnju	N:f	radnja
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
je	PRO	ona
prvenstveni	A:aem	prvenstven
cilj	N:m	cilj
,	PUNCT	,
da	CONJ	da
film	N:m	film
drži	N:m	drži
pažnju	N:f	pažnja
,	PUNCT	,
promašen	V:m	promašiti
već	PAR	već
posle	PREP	posle
nekih	PRO	neki
desetak	ADV	desetak
minuta	N:m	minut
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
kuriozitet	N:m	kuriozitet
jeste	INT	jeste
da	CONJ	da
je	PRO	ona
najbitniji	A:cem	bitan
deo	N:m	deo
,	PUNCT	,
suđenje	N:n	suđenje
i	CONJ	i
izricanje	N:n	izricanje
kazni	N:f	kazna
,	PUNCT	,
obavljen	V:m	obaviti
za	PREP	za
svega	PRO	sav
minut	N:m	minut
-	PUNCT	-
dva	NUM	dva
.	SENT	.
Gluma	N:f	gluma
u	PREP	u
filmu	N:m	film
je	PRO	ona
,	PUNCT	,
blago	ADV	blago
rečeno	A:aen	rečen
,	PUNCT	,
užasna	A:aen	užasan
.	PUNCT	.
Ema	N:f	Ema
Votson	N:m	Votson
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
razloga	N:m	razlog
što	CONJ	što
ovaj	PRO	ovaj
film	N:m	film
nije	V:m	nije
proglašen	A:aem	proglašen
potpunim	A:aem	potpun
promašajem	N:m	promašaj
i	CONJ	i
to	PRO	taj
ne	PAR	ne
zbog	PREP	zbog
kvaliteta	N:m	kvalitet
glume	N:f	gluma
,	PUNCT	,
nego	CONJ	nego
što	CONJ	što
joj	PRO	ona
je	PRO	ona
uloga	N:f	uloga
potpuno	ADV	potpuno
drugačija	A:aen	drugačiji
od	PREP	od
one	PRO	onaj
na	PREP	na
koju	PRO	koji
smo	N:f	smo
navikli	V:m	naviknuti
od	PREP	od
nje	PRO	ona
.	SENT	.
Istina	N:f	istina
je	PRO	ona
da	CONJ	da
glumcima	N:m	glumac
scenario	N:m	scenario
nije	V:m	nije
dao	V:m	dati
previše	ADV	previše
prostora	N:m	prostor
da	CONJ	da
se	PAR	se
razmahnu	A:aen	razmahnu
i	CONJ	i
prikažu	A:aen	prikažu
šta	PRO	šta
znaju	N:m	znaju
,	PUNCT	,
ali	CONJ	ali
su	N:m	su
svi	PRO	sav
krajnje	ADV	krajnje
neubedljivi	A:aem	neubedljiv
i	CONJ	i
bledi	A:aem	bled
u	PREP	u
onome	PRO	onaj
što	PRO	što
čine	N:m	čin
.	SENT	.
Činjenica	N:f	Činjenica
je	PRO	ona
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
neka	PRO	neki
vrsta	N:f	vrsta
metafore	N:f	metafora
od	PREP	od
praznim	A:aem	prazan
wannabe	N:m	wannabe
životima	N:m	život
mladih	A:aen	mlad
američkih	A:aef	američki
bogataša	N:m	bogataš
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
ta	PRO	taj
metafora	N:f	metafora
prikazana	V:m	prikazati
veoma	ADV	veoma
loše	ADV	loše
.	PUNCT	.
Ukoliko	CONJ	ukoliko
vas	PRO	vi
zanima	A:aen	zanima
društvena	A:aen	društven
kritika	N:f	kritika
o	PREP	o
američkog	A:aen	američki
mladeži	N:m	mladež
bolje	ADV	bolje
pogledajte	N:m	pogledajte
Spring	N:m	Spring
Breakers	N:f	Breakers
,	PUNCT	,
koji	PRO	koji
,	PUNCT	,
iako	CONJ	iako
takođe	PAR	takođe
nije	A:aem	nije
ubedljiv	A:aem	ubedljiv
,	PUNCT	,
deluje	N:m	deluje
kao	CONJ	kao
remek	N:m	remek
-	PUNCT	-
delo	N:n	delo
naspram	PREP	naspram
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
