Brokeback	N:m	Brokeback
mountain	N:m	mountain
,	PUNCT	,
čudesne	A:aef	čudesan
godine	N:f	godina
'	A:aem	'
A	ABB	A
sensual	N:m	sensual
,	PUNCT	,
but	N:m	but
delicate	A:aem	delicate
coming	N:m	coming
-	PUNCT	-
of	N:m	of
-	PUNCT	-
age	N:m	aga
tale	N:m	tal
'	A:aem	'
kaže	N:f	kaža
jedna	NUM	jedan
od	PREP	od
recenzija	N:f	recenzija
.	SENT	.
Belgijski	A:aem	belgijski
film	N:m	film
o	PREP	o
flamanskoj	A:aef	flamanski
naseobini	N:f	naseobina
na	PREP	na
jugu	N:m	jug
Francuske	N:f	Francuska
.	SENT	.
Referenca	N:f	referenca
u	PREP	u
naslovu	N:m	naslov
pariskoteksaška	A:aem	pariskoteksaška
na	PREP	na
Ameriku	N:f	Amerika
.	SENT	.
North	A:aem	North
Sea	N:m	Sea
,	PUNCT	,
Texas	N:m	Texas
jeste	INT	jeste
priča	N:f	priča
o	PREP	o
gej	N:m	gej
dečaku	N:m	dečak
koji	PRO	koji
živi	A:aem	živ
sa	PREP	sa
svojom	PRO	svoj
mamom	N:f	mama
,	PUNCT	,
harmonikašicom	N:f	harmonikašica
u	PREP	u
lokalnoj	A:aef	lokalan
kafani	N:f	kafana
,	PUNCT	,
koji	PRO	koji
se	PAR	se
zaljubljuje	N:m	zaljubljuje
u	PREP	u
svog	PRO	svoj
nešto	ADV	nešto
starijeg	A:bem	star
drugara	N:m	drugar
/	A:aem	/
komšiju	N:m	komšija
,	PUNCT	,
koji	PRO	koji
također	ADV	također
živi	A:aem	živ
bez	PREP	bez
oca	N:m	otac
,	PUNCT	,
sa	PREP	sa
majkom	N:f	majka
i	CONJ	i
mlađom	A:bef	mlad
sestrom	N:f	sestra
.	SENT	.
Bavoe	N:m	Bavoe
Defurne	A:aem	Defurne
nas	PRO	mi
u	PREP	u
priču	N:f	priča
o	PREP	o
Pimu	N:m	Pim
uvodi	N:m	uvod
već	CONJ	već
kroz	PREP	kroz
špicu	N:f	špica
,	PUNCT	,
u	PREP	u
kojoj	PRO	koji
mali	A:aem	mali
Pim	N:m	Pim
trči	A:aem	trči
u	PREP	u
zagrljaj	N:m	zagrljaj
jednom	NUM	jedan
od	PREP	od
majčinih	A:aen	majčin
ljubavnika	N:m	ljubavnik
,	PUNCT	,
što	CONJ	što
ćemo	N:f	ćemo
mnogo	ADV	mnogo
kasnije	ADV	kasnije
saznati	V:m	saznati
.	SENT	.
Nakon	PREP	nakon
toga	PRO	taj
,	PUNCT	,
videćemo	N:f	videćemo
da	CONJ	da
je	PRO	ona
mali	A:aem	mali
Pim	N:m	Pim
od	PREP	od
one	PRO	onaj
vrste	N:f	vrsta
gejeva	N:m	gej
koji	PRO	koji
su	N:m	su
se	PAR	se
kao	ADV	kao
mali	A:aem	mali
oblačili	V:m	oblačiti
u	PREP	u
haljine	N:f	haljina
i	CONJ	i
stavljali	V:m	stavljati
tijare	N:f	tijara
i	CONJ	i
glumili	V:m	glumiti
princeze	N:f	princeza
.	SENT	.
Sa	PREP	sa
ovako	ADV	ovako
originalnim	A:aem	originalan
početkom	N:m	početak
nisam	N:m	nisam
bio	V:m	biti
iznenađen	V:m	iznenaditi
onim	PRO	onaj
što	CONJ	što
sam	PRO	sam
kasnije	ADV	kasnije
dobio	V:m	dobiti
.	SENT	.
Pim	N:m	Pim
,	PUNCT	,
pred	PREP	pred
svoj	PRO	sav
petnaesti	A:aem	petnaesti
rođendan	N:m	rođendan
,	PUNCT	,
ima	V:m	ima
svoje	PRO	svoj
prvo	ADV	prvo
ljubavno	A:aen	ljubavan
/	N:m	/
seksualno	A:aen	seksualan
iskustvo	N:n	iskustvo
sa	PREP	sa
pomenutim	A:aen	pomenut
,	PUNCT	,
par	N:m	par
godina	N:f	godina
starijim	A:ben	star
komšijom	N:m	komšija
.	PUNCT	.
A	CONJ	a
vi	PRO	vi
,	PUNCT	,
pedofili	N:m	pedofil
i	CONJ	i
voajeri	N:m	voajer
,	PUNCT	,
ne	PAR	ne
hrlite	V:n	hrlite
uzalud	ADV	uzalud
,	PUNCT	,
jer	CONJ	jer
Defurne	A:aem	Defurne
je	PRO	ona
sve	ADV	sve
lepo	ADV	lepo
,	PUNCT	,
diskretno	ADV	diskretno
i	CONJ	i
neotkrivajući	A:aem	neotkrivajući
prikazao	V:m	prikazati
.	SENT	.
Predvidljivo	A:aen	predvidljiv
,	PUNCT	,
ispostavlja	N:n	ispostavlja
se	PAR	se
da	CONJ	da
komša	N:f	komša
voli	N:m	Voli
i	CONJ	i
curice	N:f	curica
i	CONJ	i
sa	PREP	sa
svojom	PRO	svoj
devojkom	N:f	devojka
Francoise	N:m	Francoise
on	PRO	on
se	PAR	se
uskoro	ADV	uskoro
seli	V:m	sesti
u	PREP	u
drugi	A:aem	drugi
grad	N:m	grad
.	SENT	.
Razočarani	A:aem	Razočarani
Pim	N:m	Pim
spaljuje	N:f	spaljuje
svu	PRO	sav
memorabiliju	N:m	memorabiliju
koja	PRO	koji
ga	PRO	on
je	PRO	ona
vezivala	V:f	vezivati
za	PREP	za
komšiju	N:m	komšija
.	PUNCT	.
A	CONJ	a
kroz	PREP	kroz
sve	PRO	sav
to	PRO	taj
provučena	V:n	provući
je	PRO	ona
tužna	A:aef	tužan
bračna	A:aem	bračni
priča	N:f	priča
komšine	N:f	komšine
bolešljive	A:aef	bolešljiv
mame	N:f	mama
,	PUNCT	,
zatim	ADV	zatim
Pimove	A:aef	Pimov
punačke	A:aef	punačak
mame	N:f	mama
večito	ADV	večito
gladne	A:aef	gladan
ljubavi	N:f	ljubav
i	CONJ	i
nesrećne	A:aem	nesrećan
komšijine	A:aef	komšijin
sestre	N:f	sestra
Sabrine	N:f	Sabrina
koja	PRO	koji
je	PRO	ona
zaljubljena	V:f	zaljubiti
u	PREP	u
Pima	N:m	Pim
.	SENT	.
Kožna	A:aef	Kožna
jakna	N:f	jakna
,	PUNCT	,
slikovničasta	A:aef	slikovničasta
scenografija	N:f	scenografija
sedamdesetih	A:aen	sedamdeseti
,	PUNCT	,
par	N:m	par
stvari	N:f	stvar
koje	PRO	koji
asociraju	N:m	asociraju
na	PREP	na
glamur	N:m	glamur
posleratne	A:aef	posleratni
Amerike	N:f	Amerika
i	CONJ	i
Kaurismakija	N:f	Kaurismakija
,	PUNCT	,
i	CONJ	i
već	CONJ	već
viđene	A:aef	viđen
muke	N:f	muka
odrastanja	N:n	odrastanje
koje	PRO	koji
stariji	A:bem	star
priređuju	N:f	priređuju
mlađima	A:bef	mlad
svojim	PRO	svoj
ponašanjem	N:n	ponašanje
.	SENT	.
Nejasno	ADV	nejasno
o	PREP	o
čemu	PRO	šta
je	PRO	ona
film	N:m	film
zapravo	ADV	zapravo
,	PUNCT	,
jer	CONJ	jer
jedno	ADV	jedno
slomljeno	V:n	slomiti
gej	N:m	gej
srce	N:n	srce
ne	PAR	ne
privlači	V:m	privlači
svu	PRO	sav
našu	PRO	naš
pažnju	N:f	pažnja
,	PUNCT	,
a	CONJ	a
okolnji	A:aem	okolnji
klišei	N:m	kliše
je	PRO	ona
tek	PAR	tek
odvraćaju	N:m	odvraćaju
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
North	A:aem	North
Sea	N:m	Sea
,	PUNCT	,
Texas	N:m	Texas
najviše	ADV	najviše
biva	A:aem	biva
o	PREP	o
deci	N:f	deca
koja	PRO	koji
su	N:m	su
napuštena	V:m	napustiti
i	CONJ	i
zapuštena	V:m	zapustiti
i	CONJ	i
koja	PRO	koji
potom	ADV	potom
,	PUNCT	,
možda	PAR	možda
nemušto	A:aen	nemušt
,	PUNCT	,
pokušavaju	N:m	pokušavaju
da	CONJ	da
stupe	N:f	stupa
u	PREP	u
svoje	PRO	svoj
prve	A:aem	prvi
odnose	N:m	odnos
.	SENT	.
Hepiend	N:m	hepiend
je	PRO	ona
potpuno	ADV	potpuno
nejasan	A:aem	nejasan
i	CONJ	i
nemotivisan	A:aem	nemotivisan
.	SENT	.
Ničeg	A:aem	Ničeg
senzualnog	A:aem	senzualan
,	PUNCT	,
još	ADV	još
manje	ADV	manje
delikatnog	A:aem	delikatan
.	SENT	.
Žao	V:m	Žao
mi	PRO	ja
je	PRO	ona
ako	CONJ	ako
sam	PRO	sam
vas	PRO	vi
smorio	V:m	smoriti
ovom	PRO	ovaj
recenzijom	N:f	recenzija
kao	CONJ	kao
film	N:m	film
mene	PRO	ja
.	SENT	.
