Neko	PRO	neki
će	A:aem	će
reći	A:aem	reći
–	N:m	–
priželjkivao	V:m	priželjkivati
si	PRO	sebe
ovo	PRO	ovaj
i	CONJ	i
čekao	V:m	čekati
si	PRO	sebe
ih	PRO	ona
na	PREP	na
penal	N:m	penal
.	PUNCT	.
Mogu	N:m	Mog
da	CONJ	da
odgovorim	A:aem	odgovorim
bez	PREP	bez
griže	N:f	griža
savesti	N:f	savest
da	CONJ	da
jesam	N:m	jesam
.	SENT	.
Znao	V:m	znati
sam	PRO	sam
.	PUNCT	.
Nije	A:aen	Nije
bilo	V:n	biti
nikakve	PRO	nikakav
sumnje	N:f	sumnja
.	SENT	.
Još	N:m	Još
od	PREP	od
prvog	A:aem	prvi
trenutka	N:m	trenutak
kada	CONJ	kada
sam	A:aem	sam
pre	PREP	pre
7	NUM	@card@
godina	N:f	godina
video	V:m	videti
da	CONJ	da
se	PAR	se
razmišlja	N:f	razmišlja
i	CONJ	i
sprema	N:f	sprema
rimejk	N:m	rimejk
jednog	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
filmova	N:m	film
koje	PRO	koji
sam	PRO	sam
ikada	ADV	ikada
gledao	V:m	gledati
,	PUNCT	,
znao	V:m	znati
sam	PRO	sam
da	CONJ	da
to	PRO	taj
mora	N:n	more
da	CONJ	da
krene	N:m	kren
po	PREP	po
zlu	A:aem	zao
.	PUNCT	.
Još	A:aem	Još
kada	CONJ	kada
se	PAR	se
pojavila	V:n	pojaviti
prva	A:aen	prvi
vest	N:f	vest
da	CONJ	da
će	A:aem	će
kombinacija	N:f	kombinacija
Stivena	N:m	Stiven
Spilberga	N:m	Spilberg
i	CONJ	i
poganog	A:aen	pogan
Vila	N:m	Vil
Smita	N:m	Smit
biti	N:f	bit
zadužena	V:m	zadužiti
da	CONJ	da
ga	PRO	on
realizuje	N:m	realizuje
,	PUNCT	,
hteo	V:m	hteti
sam	A:aem	sam
da	CONJ	da
briznem	V:m	briznem
u	PREP	u
plač	N:m	plač
.	SENT	.
Mali	A:aem	mali
napredak	N:m	napredak
je	PRO	ona
ostvaren	V:m	ostvariti
,	PUNCT	,
pa	CONJ	pa
je	PRO	ona
rediteljska	A:aef	rediteljski
palica	N:f	palica
završila	V:f	završiti
u	PREP	u
rukama	N:f	ruka
Spajka	N:m	Spajk
Lija	N:f	Lija
,	PUNCT	,
a	CONJ	a
uloga	N:f	uloga
Oh	N:f	Oh
-	PUNCT	-
DaeSua	N:m	DaeSua
je	PRO	ona
dodeljena	A:aef	dodeljen
sjajnom	A:aem	sjajan
i	CONJ	i
omiljenom	A:aem	omiljen
Džošu	N:m	Džoš
Brolinu	N:m	Brolin
.	SENT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
njihov	PRO	njihov
problem	N:m	problem
je	PRO	ona
što	PRO	što
su	N:m	su
tu	PRO	taj
odgovornost	N:f	odgovornost
prihvatili	V:m	prihvatiti
.	SENT	.
Magična	A:aem	Magična
atmosfera	N:f	atmosfera
i	CONJ	i
način	N:m	način
snimanja	N:n	snimanje
Park	N:m	Park
Chan	A:aem	Chan
Woka	N:f	Woka
se	PAR	se
ne	PAR	ne
može	A:aem	može
ponoviti	A:aem	ponoviti
.	SENT	.
Moram	N:m	Moram
priznati	A:aem	priznat
da	CONJ	da
je	PRO	ona
dobro	ADV	dobro
što	CONJ	što
je	PRO	ona
Spajk	N:m	Spajk
to	PRO	taj
shvatio	V:m	shvatiti
pa	CONJ	pa
nije	V:m	nije
ni	PAR	ni
hteo	V:m	hteti
da	CONJ	da
ga	PRO	on
kopira	N:m	kopira
nego	CONJ	nego
je	PRO	ona
probao	V:m	probati
da	CONJ	da
ostavi	N:f	ostava
svoj	PRO	sav
pečat	N:m	pečat
.	SENT	.
Rezultat	N:m	rezultat
je	PRO	ona
veoma	ADV	veoma
bled	A:aem	bled
,	PUNCT	,
dosadan	A:aem	dosadan
i	CONJ	i
neubedljiv	A:aem	neubedljiv
.	PUNCT	.
Ne	PAR	ne
postoji	N:m	postoji
ni	CONJ	ni
zrnce	N:n	zrnce
uzbuđenja	N:n	uzbuđenje
,	PUNCT	,
ni	PAR	ni
trenutak	N:m	trenutak
divljenja	N:n	divljenje
koji	PRO	koji
prvi	A:aem	prvi
film	N:m	film
probuđuje	N:m	probuđuje
.	SENT	.
Čak	N:m	Čak
ni	PAR	ni
svi	PRO	sav
pokušaji	N:m	pokušaj
da	CONJ	da
se	PAR	se
rimejk	N:m	rimejk
napravi	N:f	naprava
mračnim	A:aem	mračan
i	CONJ	i
bolesnim	A:aem	bolestan
nisu	N:m	nisu
uspeli	V:m	uspeti
.	SENT	.
Sve	PRO	sav
deluje	N:m	deluje
kao	CONJ	kao
neka	PRO	neki
pretrpana	A:aef	pretrpan
i	CONJ	i
konfuzna	A:aef	konfuzan
idiotska	A:aef	idiotski
priča	N:f	priča
,	PUNCT	,
sa	PREP	sa
isilovanim	A:aen	isilovanim
nasiljem	N:n	nasilje
i	CONJ	i
uglavnom	ADV	uglavnom
lošim	A:aef	loš
promenama	N:f	promena
u	PREP	u
priči	N:f	priča
koje	PRO	koji
deluju	N:m	deluju
nekarakteristično	A:aen	nekarakterističan
za	PREP	za
Lija	N:f	Lija
kao	CONJ	kao
reditelja	N:m	reditelj
.	SENT	.
Njegova	PRO	njegov
nesreća	N:f	nesreća
je	PRO	ona
da	CONJ	da
je	PRO	ona
Kristijan	N:m	Kristijan
Bejl	N:m	Bejl
odbio	V:m	odbiti
da	CONJ	da
glumi	N:f	gluma
negativca	N:m	negativac
(	PUNCT	(
možda	PAR	možda
je	PRO	ona
namirisao	V:m	namirisati
šta	PRO	šta
će	A:aem	će
ovde	ADV	ovde
da	CONJ	da
nastane	N:m	nastane
)	PUNCT	)
pa	CONJ	pa
je	PRO	ona
uloga	N:f	uloga
zapala	V:f	zapasti
u	PREP	u
ruke	N:f	ruka
Šarlta	N:m	Šarlta
Koplija	N:m	Kopli
,	PUNCT	,
koga	PRO	koji
znate	V:f	znati
iz	PREP	iz
Elizijuma	N:m	Elizijuma
ili	CONJ	ili
Districta	N:m	Districta
9	NUM	@card@
.	PUNCT	.
Kao	ADV	kao
da	CONJ	da
su	PREF	su
pustili	V:m	pustiti
Dačiu	N:f	Dačiu
da	CONJ	da
juri	N:f	jura
Lambordžini	A:aem	Lambordžini
po	PREP	po
stazi	N:f	staza
.	SENT	.
Za	PREP	za
one	PRO	onaj
koji	PRO	koji
nisu	N:m	nisu
gledali	V:m	gledati
original	N:m	original
–	A:aem	–
čovek	N:m	čovek
je	PRO	ona
otet	V:m	oteti
i	CONJ	i
zatočen	V:m	zatočiti
u	PREP	u
hotelskoj	A:aef	hotelski
sobi	N:f	soba
na	PREP	na
20	NUM	@card@
godina	N:f	godina
,	PUNCT	,
bez	PREP	bez
objašnjenja	N:n	objašnjenje
.	SENT	.
Odjednom	ADV	odjednom
,	PUNCT	,
biva	A:aen	biva
pušten	V:m	pustiti
na	PREP	na
slobodu	N:f	sloboda
i	CONJ	i
počinje	N:f	počinje
da	CONJ	da
traži	A:aem	traži
odgovor	N:m	odgovor
ko	PRO	ko
ga	PRO	on
je	PRO	ona
zatvorio	V:m	zatvoriti
i	CONJ	i
zašto	ADV	zašto
.	SENT	.
Učinite	N:f	Učinite
sebi	PRO	sebe
uslugu	N:f	usluga
i	CONJ	i
odgledajte	N:m	odgledajte
Zlatnom	A:aef	zlatan
palmom	N:f	palma
nagrađeni	A:aem	nagrađen
original	N:m	original
iz	PREP	iz
2003	NUM	@card@
(	PUNCT	(
to	PRO	taj
je	PRO	ona
ipak	PAR	ipak
mnogo	ADV	mnogo
realnija	A:bef	realan
nagrada	N:f	nagrada
nego	CONJ	nego
Oskar	N:m	Oskar
)	PUNCT	)
,	PUNCT	,
pa	CONJ	pa
nakon	PREP	nakon
toga	PRO	taj
odgledajte	N:m	odgledajte
i	CONJ	i
rimejk	N:m	rimejk
.	SENT	.
Bićete	N:m	Bićete
kivni	A:aem	kivan
kao	CONJ	kao
i	CONJ	i
ja	PRO	ja
.	SENT	.
