Bedno	A:aen	bedan
levičarenje	N:n	levičarenje
i	CONJ	i
još	ADV	još
bedniji	A:bem	bedan
patriotizam	N:m	patriotizam
Captain	A:aem	Captain
Phillips	N:m	Phillips
je	PRO	ona
u	PREP	u
suštini	N:f	suština
one	PRO	onaj
-	PUNCT	-
man	A:aem	man
United	N:m	United
93	NUM	@card@
.	SENT	.
U	PREP	u
Greengrassovoj	A:aef	Greengrassovoj
patriotskoj	A:aef	patriotski
ekranizaciji	N:f	ekranizacija
herojske	A:aef	herojski
borbe	N:f	borba
putnika	N:m	putnik
leta	N:n	leto
United	N:m	United
93	NUM	@card@
protiv	PREP	protiv
zlih	A:aen	zao
terorista	N:m	terorista
odato	V:n	odati
je	PRO	ona
priznanje	N:n	priznanje
putnicima	N:m	putnik
koji	PRO	koji
su	N:m	su
uspeli	V:m	uspeti
da	CONJ	da
11	NUM	@card@
.	PUNCT	.
septembra	N:m	septembar
spreče	A:aen	spreče
ostvarenje	N:n	ostvarenje
četvrtog	A:aem	četvrti
terorističkog	A:aem	teroristički
cilja	N:m	cilj
(	PUNCT	(
pretpostavlja	N:n	pretpostavlja
se	PAR	se
da	CONJ	da
je	PRO	ona
to	PRO	taj
bila	V:f	biti
Bela	N:f	Bela
kuća	N:f	kuća
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
ih	PRO	ona
je	PRO	ona
taj	PRO	taj
uspeh	N:m	uspeh
koštao	V:m	koštati
života	N:m	život
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
se	PAR	se
avion	N:m	avion
srušio	V:m	srušiti
negde	ADV	negde
u	PREP	u
Pensilvaniji	N:f	Pensilvanija
(	PUNCT	(
neki	PRO	neki
,	PUNCT	,
daleko	ADV	daleko
interesantniji	A:bem	interesantan
,	PUNCT	,
izvori	N:m	izvor
bliski	A:aem	blizak
teorijama	N:f	teorija
zavere	N:f	zavera
kažu	N:f	kaža
da	CONJ	da
je	PRO	ona
on	PRO	on
zapravo	ADV	zapravo
oboren	V:m	oboriti
,	PUNCT	,
ali	CONJ	ali
o	PREP	o
tome	PRO	taj
nema	A:aem	nem
ništa	ADV	ništa
u	PREP	u
Greengrassovom	N:m	Greengrassovom
filmu	N:m	film
)	PUNCT	)
.	SENT	.
Ako	CONJ	ako
ste	A:aem	ste
gledali	V:m	gledati
(	PUNCT	(
prilično	ADV	prilično
dobar	A:aem	dobar
)	PUNCT	)
holandski	A:aem	holandski
film	N:m	film
Hijacking	N:m	Hijacking
(	PUNCT	(
skroluj	N:n	skroluj
na	PREP	na
gore	ADV	gore
)	PUNCT	)
,	PUNCT	,
onda	CONJ	onda
vam	PRO	vi
je	PRO	ona
tema	N:f	tema
poznata	V:m	poznati
-	PUNCT	-
somalijski	A:aem	somalijski
pirati	N:m	pirat
svako	PRO	svaki
malo	ADV	malo
napadaju	N:m	napadaj
cargo	N:f	cargo
brodove	N:m	brod
koji	PRO	koji
su	N:m	su
se	PAR	se
uputili	V:m	uputiti
ka	PREP	ka
Sueckom	A:aem	suecki
kanalu	N:m	kanal
,	PUNCT	,
otimaju	N:m	otimaju
posadu	N:f	posada
i	CONJ	i
robu	N:f	roba
,	PUNCT	,
traže	V:m	traže
ma	PAR	ma
$	N:m	$
ne	PAR	ne
otkupe	N:m	otkup
i	CONJ	i
od	PREP	od
toga	PRO	taj
jedva	ADV	jedva
preživljavaju	N:f	preživljavaju
.	SENT	.
Captain	A:aem	Captain
Phillips	N:m	Phillips
pokazuje	N:f	pokazuje
kako	CONJ	kako
su	PREF	su
somalijski	A:aem	somalijski
pirati	N:m	pirat
(	PUNCT	(
njih	PRO	ona
četvorica	N:f	četvorica
zajedno	ADV	zajedno
imaju	N:f	imaju
kila	N:f	kila
koliko	ADV	koliko
Tom	N:m	Tom
Hanks	N:m	Hanks
)	PUNCT	)
iz	PREP	iz
drugog	A:aem	drugi
navrata	N:m	navrat
zaposeli	V:m	zaposesti
brod	N:m	brod
kapetana	N:m	kapetan
Filipsa	N:m	Filips
,	PUNCT	,
držali	V:m	držati
ga	PRO	on
manje	ADV	manje
od	PREP	od
jednog	NUM	jedan
dana	N:m	dan
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
svojski	ADV	svojski
poduvali	V:m	poduvati
od	PREP	od
strane	N:f	strana
sopstvene	A:aef	sopstven
nesposobnosti	N:f	nesposobnost
i	CONJ	i
Filipsovom	A:aem	Filipsov
brodu	N:m	brod
pridružene	V:f	pridružiti
podrške	N:f	podrška
od	PREP	od
strane	N:f	strana
američke	A:aem	američki
vojne	A:aef	vojni
mornarice	N:f	mornarica
.	SENT	.
U	PREP	u
prvom	A:aen	prvi
delu	N:n	delo
filma	N:m	film
Greengrass	N:m	Greengrass
demonstrira	N:m	demonstrira
da	CONJ	da
je	PRO	ona
i	CONJ	i
dalje	ADV	dalje
reditelj	N:m	reditelj
koji	PRO	koji
i	PAR	i
od	PREP	od
mrtve	A:aef	mrtav
babe	N:f	baba
i	CONJ	i
mrtve	A:aef	mrtav
žabe	N:f	žaba
ume	N:m	um
da	CONJ	da
napravi	N:f	naprava
dinamičnu	A:aef	dinamičan
akcionu	A:aef	akcioni
sekvencu	N:f	sekvenca
.	SENT	.
Opsada	N:f	opsada
broda	N:m	brod
ima	V:n	ima
nešto	ADV	nešto
od	PREP	od
ogoljenog	A:aem	ogoljen
spektakla	N:m	spektakl
čuvenih	A:aem	čuven
filmova	N:m	film
iz	PREP	iz
'	N:m	'
piratskog	A:aem	piratski
'	A:aem	'
žanra	N:m	žanr
.	SENT	.
Po	PREP	po
pentranju	N:n	pentranje
pirata	N:m	pirat
na	PREP	na
brod	N:m	brod
akcija	N:f	akcija
lagano	ADV	lagano
usporava	A:aem	usporava
,	PUNCT	,
ali	CONJ	ali
zadržava	N:f	zadržava
dramatičnost	N:f	dramatičnost
,	PUNCT	,
tokom	PREP	tokom
dela	N:n	delo
u	PREP	u
kome	PRO	koji
pirati	N:m	pirat
tragaju	N:m	tragaju
za	PREP	za
članovima	N:m	član
posade	N:f	posada
po	PREP	po
brodu	N:m	brod
,	PUNCT	,
da	CONJ	da
bi	A:aem	bi
film	N:m	film
potom	ADV	potom
u	PREP	u
drugoj	A:aef	drugi
polovini	N:f	polovina
,	PUNCT	,
koja	PRO	koji
počinje	N:f	počinje
sa	PREP	sa
'	A:aem	'
iskrcavanjem	N:n	iskrcavanje
'	A:aem	'
kapetana	N:m	kapetan
Filipsa	N:m	Filips
u	PREP	u
spasilački	A:aem	spasilački
čamac	N:m	čamac
krenuo	V:m	krenuti
da	CONJ	da
guši	N:f	guša
kako	CONJ	kako
samo	PAR	samo
Kathryn	N:m	Kathryn
Bigelow	A:aem	Bigelow
može	A:aem	može
.	PUNCT	.
Poltika	N:m	Poltika
,	PUNCT	,
vojska	N:f	vojska
,	PUNCT	,
autorski	A:aem	autorski
sudovi	N:m	sud
,	PUNCT	,
dramski	A:aem	dramski
klišei	N:m	kliše
naizmenično	ADV	naizmenično
menjaju	N:m	menjaju
mesta	N:n	mesto
,	PUNCT	,
sve	ADV	sve
do	PREP	do
predvidljivog	A:aen	predvidljiv
trijumfa	N:m	trijumf
Golijata	N:m	Golijat
nad	PREP	nad
Davidom	N:m	David
.	SENT	.
Posebno	ADV	posebno
je	PRO	ona
nepotrebna	A:aen	nepotreban
i	CONJ	i
iz	PREP	iz
ugla	N:m	ugao
ne	PAR	ne
-	PUNCT	-
američkog	A:aen	američki
gledaoca	N:m	gledalac
gadna	A:aef	gadan
scena	N:f	scena
u	PREP	u
kojoj	PRO	koji
vojni	A:aem	vojni
lekar	N:m	lekar
minuciozno	A:aen	minuciozan
istražuje	N:m	istražuje
fizičke	A:aem	fizički
traume	N:f	trauma
kapetana	N:m	kapetan
Filipsa	N:m	Filips
,	PUNCT	,
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
sedam	NUM	sedam
godina	N:f	godina
bio	V:m	biti
zarobljenik	N:m	zarobljenik
Al	N:m	Al
-	PUNCT	-
Kaide	N:m	Kaide
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Ali	CONJ	ali
malokrvna	A:aef	malokrvan
drama	N:f	drama
i	CONJ	i
solidna	A:aef	solidan
akcija	N:f	akcija
na	PREP	na
stranu	N:f	strana
,	PUNCT	,
Captain	A:aem	Captain
Phillips	N:m	Phillips
ne	PAR	ne
odgovara	N:m	odgovara
na	PREP	na
pitanje	N:n	pitanje
-	PUNCT	-
koja	PRO	koji
je	PRO	ona
njegova	PRO	njegov
poenta	N:f	poenta
?	PUNCT	?
Ako	CONJ	ako
je	PRO	ona
United	N:m	United
93	NUM	@card@
mogao	V:m	moći
da	CONJ	da
se	PAR	se
tumači	N:m	tumač
kao	CONJ	kao
zidanje	N:n	zidanje
spomenika	N:m	spomenik
ljudima	N:m	ljudi
koji	PRO	koji
su	N:m	su
to	PRO	taj
,	PUNCT	,
po	PREP	po
Greengrassovom	N:m	Greengrassovom
mišljenju	N:n	mišljenje
,	PUNCT	,
zaslužili	V:m	zaslužiti
,	PUNCT	,
kapetan	N:m	kapetan
Filips	N:m	Filips
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
to	PRO	taj
što	CONJ	što
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
'	A:aem	'
istinita	A:aef	istinit
priča	N:f	priča
'	N:m	'
,	PUNCT	,
ni	CONJ	ni
na	PREP	na
koji	PRO	koji
način	N:m	način
ne	PAR	ne
biva	A:aem	biva
herojem	N:m	heroj
,	PUNCT	,
već	CONJ	već
tek	CONJ	tek
solidnom	A:aef	solidan
žrtvom	N:f	žrtva
.	PUNCT	.
Ako	CONJ	ako
je	PRO	ona
Greengrassu	N:m	Greengrassu
ovaj	PRO	ovaj
film	N:m	film
poslužio	V:m	poslužiti
da	CONJ	da
nas	PRO	mi
zapita	V:m	zapita
ko	PRO	ko
u	PREP	u
tim	PRO	taj
piratskim	A:aem	piratski
obračunima	N:m	obračun
zapravo	ADV	zapravo
šta	ADV	šta
i	CONJ	i
kome	PRO	koji
otima	N:m	otima
,	PUNCT	,
i	CONJ	i
ko	PRO	ko
je	PRO	ona
tu	PRO	taj
žrtva	N:f	žrtva
,	PUNCT	,
onda	CONJ	onda
je	PRO	ona
njegov	PRO	njegov
film	N:m	film
sumnjivo	A:aen	sumnjiv
na	PREP	na
strani	A:aem	stran
Somalijaca	N:m	Somalijac
i	CONJ	i
gotovo	ADV	gotovo
svim	PRO	sav
srcem	N:n	srce
napet	V:m	napeti
da	CONJ	da
kastaveja	N:m	kastaveja
Hanksa	N:m	Hanksa
još	ADV	još
jednom	ADV	jednom
prikaže	A:aem	prikaže
kao	CONJ	kao
'	A:aem	'
slučajnog	A:aem	slučajan
Amerikanca	N:m	Amerikanac
'	A:aem	'
koga	PRO	koji
će	N:m	će
njegova	PRO	njegov
zemlja	N:f	zemlja
spasiti	A:aem	spasiti
iz	PREP	iz
svake	PRO	svaki
oluje	N:f	oluja
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
one	PRO	onaj
za	PREP	za
koju	PRO	koji
je	PRO	ona
možda	PAR	možda
sama	PRO	sam
kriva	A:aen	kriv
.	PUNCT	.
Captain	A:aem	Captain
Phillips	N:m	Phillips
,	PUNCT	,
i	CONJ	i
lik	N:m	lik
i	CONJ	i
film	N:m	film
,	PUNCT	,
zapravo	ADV	zapravo
nigde	ADV	nigde
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
ni	PAR	ni
oni	PRO	onaj
koji	PRO	koji
su	N:m	su
ga	PRO	on
oteli	V:m	oteti
,	PUNCT	,
ne	PAR	ne
prebacuje	N:m	prebacuje
neophodnu	A:aen	neophodan
rampu	N:f	rampa
bitnosti	N:f	bitnost
kojom	PRO	koji
bi	N:f	bi
zaslužio	V:m	zaslužiti
da	CONJ	da
se	PAR	se
neki	PRO	neki
film	N:m	film
njima	PRO	ona
pozabavi	A:aem	pozabavi
.	SENT	.
Sve	ADV	sve
prikazano	V:n	prikazati
su	PREF	su
rutina	N:f	rutina
i	CONJ	i
klišei	N:m	kliše
,	PUNCT	,
svakodnevica	N:f	svakodnevica
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
na	PREP	na
način	N:m	način
osude	N:f	osuda
,	PUNCT	,
već	PAR	već
namenskog	A:aem	namenski
filma	N:m	film
koji	PRO	koji
'	N:m	'
nekom	PRO	neki
tamo	ADV	tamo
'	A:aem	'
treba	N:f	treba
da	CONJ	da
pokaže	V:m	pokaže
kako	CONJ	kako
izgleda	N:m	izgled
tipski	A:aem	tipski
napad	N:m	napad
,	PUNCT	,
tipska	A:aef	tipski
otmica	N:f	otmica
i	CONJ	i
tipska	A:aef	tipski
odbrana	N:f	odbrana
.	PUNCT	.
Ironija	N:f	ironija
da	CONJ	da
glavni	A:aem	glavni
Somalijac	N:m	Somalijac
završava	A:aem	završava
u	PREP	u
Americi	N:f	Amerika
(	PUNCT	(
što	CONJ	što
mu	PRO	on
je	PRO	ona
bio	V:m	biti
neostvareni	A:aem	neostvaren
san	N:m	san
)	PUNCT	)
kao	CONJ	kao
kriminalac	N:m	kriminalac
osuđen	V:m	osuditi
na	PREP	na
20	NUM	@card@
godina	N:f	godina
robije	N:f	robija
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
samo	PAR	samo
je	PRO	ona
fusnota	N:f	fusnota
u	PREP	u
odjavnoj	A:aef	odjavni
špici	N:f	špica
.	SENT	.
