Šokantno	A:aen	Šokantno
.	PUNCT	.
To	PRO	taj
je	PRO	ona
reč	N:f	reč
koja	PRO	koji
ostaje	N:n	ostaje
nakon	PREP	nakon
gledanja	N:n	gledanje
Poziva	N:m	poziv
.	SENT	.
Mada	CONJ	mada
,	PUNCT	,
dosta	ADV	dosta
toga	PRO	taj
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
mi	PRO	ja
bude	A:aem	bude
jasno	ADV	jasno
kada	CONJ	kada
sam	PRO	sam
pročitao	V:m	pročitati
tagline	N:f	tagline
u	PREP	u
najavi	N:f	najava
.	SENT	.
’	A:aem	’
’	A:aem	’
There	N:m	There
are	N:m	ar
188	NUM	@card@
million	N:m	million
911	NUM	@card@
calls	N:m	calls
in	ABB	in
a	CONJ	a
year	N:m	year
,	PUNCT	,
this	N:m	this
one	PRO	onaj
made	N:f	made
it	A:aem	it
PERSONAL	N:m	personal
“	N:m	“
.	SENT	.
Blagi	A:aem	blag
nagon	N:m	nagon
za	PREP	za
povraćanjem	N:n	povraćanje
je	PRO	ona
krenuo	V:m	krenuti
.	SENT	.
Malo	ADV	malo
je	PRO	ona
nestao	V:m	nestati
tokom	PREP	tokom
prvih	A:aef	prvi
20	NUM	@card@
i	CONJ	i
nešto	ADV	nešto
minuta	N:m	minut
filma	N:m	film
u	PREP	u
kome	PRO	koji
gledamo	N:f	gledamo
Hali	N:f	Hali
Beri	N:m	Bera
sa	PREP	sa
mikrofonkom	N:f	mikrofonkom
na	PREP	na
glavi	N:f	glava
,	PUNCT	,
dok	CONJ	dok
radi	PREP	radi
u	PREP	u
911	NUM	@card@
pozivnom	A:aen	pozivni
centru	N:m	centar
LAPD	N:f	LAPD
-	PUNCT	-
a	CONJ	a
(	PUNCT	(
koji	PRO	koji
više	ADV	više
liči	N:m	liči
na	PREP	na
neki	PRO	neki
spejs	N:m	spejs
centar	N:m	centar
)	PUNCT	)
.	SENT	.
Iako	CONJ	iako
veoma	ADV	veoma
iskusna	A:aen	iskusan
,	PUNCT	,
tokom	PREP	tokom
jednog	NUM	jedan
poziva	N:m	poziv
u	PREP	u
pomoć	N:f	pomoć
,	PUNCT	,
pravi	A:aem	prav
kobnu	A:aef	koban
grešku	N:f	greška
–	A:aem	–
žrtva	N:f	žrtva
napada	N:m	napad
u	PREP	u
panici	N:f	panika
prekida	N:m	prekid
vezu	N:f	veza
,	PUNCT	,
a	CONJ	a
Hali	N:f	Hali
mudro	A:aen	mudar
stiska	N:m	stisak
redial	N:m	redial
i	CONJ	i
zvonjavom	N:f	zvonjava
fiksnog	A:aen	fiksni
otkriva	A:aem	otkriva
ubici	N:m	ubica
lokaciju	N:f	lokacija
žrtve	N:f	žrtva
.	SENT	.
Nakon	PREP	nakon
tog	PRO	taj
peha	N:m	peh
,	PUNCT	,
Hali	N:f	Hali
bataljuje	N:m	bataljuje
i	CONJ	i
počinje	N:f	počinje
da	CONJ	da
trenira	N:m	trenira
mlade	A:aef	mlad
operatere	N:m	operater
.	SENT	.
Sva	PRO	sav
pravila	N:n	pravilo
koja	PRO	koji
ih	PRO	ona
uči	N:f	uča
,	PUNCT	,
potpuno	ADV	potpuno
padaju	N:m	padaju
u	PREP	u
vodu	N:f	voda
kada	CONJ	kada
prima	N:m	Prima
poziv	N:m	poziv
mlade	A:aef	mlad
otete	A:aem	otet
devojke	N:f	devojka
koja	PRO	koji
je	PRO	ona
zove	N:m	zov
iz	PREP	iz
gepeka	N:m	gepek
automobila	N:m	automobil
.	PUNCT	.
Šta	A:aem	Šta
dalje	ADV	dalje
da	CONJ	da
vam	PRO	vi
pričam	N:m	pričam
kada	CONJ	kada
je	PRO	ona
zlatni	A:aem	zlatan
deo	N:m	deo
filma	N:m	film
trenutak	N:m	trenutak
kada	CONJ	kada
joj	PRO	ona
Hali	N:f	Hali
preko	PREP	preko
moba	N:f	moba
objasni	V:n	objasni
kako	ADV	kako
da	CONJ	da
izvali	V:m	izvali
zadnje	A:aen	zadnji
svetlo	N:n	svetlo
auta	N:n	auto
i	CONJ	i
kroz	PREP	kroz
njega	PRO	on
probaci	N:m	probaci
ruku	N:f	ruka
kako	CONJ	kako
bi	N:m	bi
je	PRO	ona
primetili	V:m	primetiti
ostali	V:m	ostati
vozači	N:m	vozač
.	SENT	.
Ostatak	N:m	ostatak
bi	N:m	bi
vam	PRO	vi
najrađe	A:cef	najrađe
opisao	V:m	opisati
i	CONJ	i
spasao	V:m	spasti
vas	PRO	vi
muke	N:f	muka
,	PUNCT	,
ali	CONJ	ali
nadam	N:m	nadam
se	PAR	se
da	CONJ	da
će	A:aem	će
još	ADV	još
neko	PRO	neki
da	CONJ	da
se	PAR	se
zezne	A:aem	zezne
i	CONJ	i
da	CONJ	da
odgleda	N:m	odgleda
ovo	PRO	ovaj
.	PUNCT	.
.	SENT	.
Metamorfozu	N:f	metamorfoza
operaterke	N:f	operaterke
u	PREP	u
FBI	N:f	FBI
superpolicajca	N:m	superpolicajca
koja	PRO	koji
ide	N:f	Ida
u	PREP	u
osvetnički	A:aem	osvetnički
pohod	N:m	pohod
potpuno	ADV	potpuno
sama	A:aef	sam
kako	CONJ	kako
bi	A:aem	bi
smirila	V:f	smiriti
svoju	PRO	svoj
savest	N:f	savest
.	SENT	.
.	PUNCT	.
Bah	INT	bah
.	PUNCT	.
.	SENT	.
A	CONJ	a
ovaj	PRO	ovaj
čovek	N:m	čovek
je	PRO	ona
režirao	V:m	režirati
takvo	PRO	takav
remek	N:m	remek
delo	N:n	delo
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
El	N:f	El
Maquinista	N:m	Maquinista
.	SENT	.
Kakav	PRO	kakav
pad	N:m	pad
nizbrdo	ADV	nizbrdo
.	SENT	.
