Ok	A:aen	Ok
,	PUNCT	,
neću	A:aem	neću
sada	ADV	sada
da	CONJ	da
lažem	N:n	lažem
kako	CONJ	kako
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
mogao	V:m	moći
biti	N:f	bit
dobar	A:aem	dobar
,	PUNCT	,
jer	CONJ	jer
nije	A:aem	nije
imao	V:m	imati
teoretske	A:aef	teoretski
šanse	N:f	šansa
.	SENT	.
Aja	INT	aja
je	PRO	ona
sa	PREP	sa
jedinicom	N:f	jedinica
napravio	V:m	napraviti
nešto	ADV	nešto
odlično	ADV	odlično
,	PUNCT	,
dvojka	N:f	dvojka
nikako	ADV	nikako
nije	V:f	nije
mogla	V:f	moći
biti	N:f	bit
tako	ADV	tako
dobra	N:n	dobro
.	SENT	.
Čak	N:m	Čak
i	CONJ	i
da	CONJ	da
su	N:m	su
ponovili	V:m	ponoviti
Ajin	A:aem	Ajin
recept	N:m	recept
,	PUNCT	,
ovo	PRO	ovaj
bi	N:f	bi
bila	V:f	biti
samo	PAR	samo
kopija	N:f	kopija
.	SENT	.
Martin	N:m	Martin
Vajs	N:m	Vajs
i	CONJ	i
njegov	PRO	njegov
tim	N:m	tim
scenarista	N:m	scenarista
su	PREF	su
zato	ADV	zato
išli	V:m	ići
na	PREP	na
drugu	A:aef	drugi
kartu	N:f	karta
.	PUNCT	.
Kada	CONJ	kada
ne	PAR	ne
znaš	INT	znaš
šta	PRO	šta
da	CONJ	da
radiš	A:aem	radiš
,	PUNCT	,
ubaciš	N:n	ubaciš
nešto	PRO	nešto
gadosti	N:f	gadost
,	PUNCT	,
ubaciš	V:n	ubaciš
nešto	PRO	nešto
brutalnosti	N:f	brutalnost
a	CONJ	a
već	PAR	već
će	V:m	će
se	PAR	se
naći	A:aem	naći
klinci	N:m	klinac
koji	PRO	koji
će	A:aem	će
ovo	PRO	ovaj
popiti	V:m	popiti
kao	CONJ	kao
dobar	A:aem	dobar
horor	N:m	horor
.	SENT	.
Na	PREP	na
početku	N:m	početak
filma	N:m	film
imamo	N:m	imamo
devojku	N:f	devojka
koja	PRO	koji
se	PAR	se
porađa	V:n	porađa
i	CONJ	i
lako	ADV	lako
je	PRO	ona
skontati	V:m	skontati
da	CONJ	da
je	PRO	ona
njena	PRO	njen
uloga	N:f	uloga
da	CONJ	da
produži	A:aem	produži
vrstu	N:f	vrsta
degenerika	N:m	degenerik
i	CONJ	i
da	CONJ	da
umre	N:f	umre
.	SENT	.
Kasnije	ADV	kasnije
u	PREP	u
filmu	N:m	film
imamo	N:m	imamo
još	ADV	još
jedan	NUM	jedan
slučaj	N:m	slučaj
gde	CONJ	gde
jedan	NUM	jedan
od	PREP	od
tih	PRO	taj
mutanata	N:m	mutant
siluje	N:f	siluje
još	ADV	još
jednu	NUM	jedan
devojku	N:f	devojka
.	SENT	.
Nagradno	A:aen	nagradni
pitanje	N:n	pitanje
,	PUNCT	,
da	CONJ	da
li	PAR	li
je	PRO	ona
ovo	PRO	ovaj
horor	N:m	horor
?	SENT	?
Aja	INT	aja
je	PRO	ona
prikazao	V:m	prikazati
par	N:m	par
brutalnih	A:aem	brutalan
scena	N:f	scena
ali	CONJ	ali
nijedna	A:aef	nijedan
nije	N:f	nije
bila	V:f	biti
ni	PAR	ni
blizu	ADV	blizu
tako	ADV	tako
neukusna	A:aem	neukusan
kao	CONJ	kao
ove	PRO	ovaj
ovde	ADV	ovde
a	CONJ	a
sve	PRO	sav
su	N:m	su
ostavljale	V:f	ostavljati
jači	A:bem	jak
utisak	N:m	utisak
.	SENT	.
Razlog	N:m	Razlog
je	PRO	ona
jednostavan	A:aem	jednostavan
.	PUNCT	.
Aja	INT	aja
i	CONJ	i
njegovi	PRO	njegov
scenaristi	N:m	scenarista
su	N:m	su
ljudi	N:m	ljudi
koji	PRO	koji
imaju	N:f	imaju
mozga	N:m	mozak
i	CONJ	i
znaju	N:m	znaju
da	CONJ	da
horor	N:m	horor
znači	A:aem	znači
napetost	N:f	napetost
,	PUNCT	,
da	CONJ	da
horor	N:m	horor
znači	A:aem	znači
strah	N:m	strah
.	SENT	.
Ove	PRO	ovaj
bulšitarije	N:f	bulšitarije
koje	PRO	koji
imamo	N:m	imamo
ovde	ADV	ovde
,	PUNCT	,
imamo	N:m	imamo
manje	ADV	manje
više	ADV	više
u	PREP	u
svakom	PRO	svaki
očajnom	A:aem	očajan
filmu	N:m	film
sa	PREP	sa
mutiranim	A:aef	mutiran
mombrilima	N:m	mombrilima
.	SENT	.
Zašto	A:aem	Zašto
bih	N:m	bih
želeo	V:m	želeti
da	CONJ	da
gledam	N:m	gledam
nešto	ADV	nešto
što	CONJ	što
liči	N:m	liči
na	PREP	na
svaki	PRO	svaki
prokleti	A:aem	proklet
film	N:m	film
sa	PREP	sa
sličnom	A:aef	sličan
tematikom	N:f	tematika
.	SENT	.
Ima	V:m	Ima
naravno	PAR	naravno
i	CONJ	i
pozitivnih	A:aen	pozitivan
stvari	N:f	stvar
.	SENT	.
Likovi	N:m	lik
treniraju	N:m	treniraju
da	CONJ	da
budu	A:aem	budu
marinci	N:m	marinac
ili	CONJ	ili
šta	PRO	šta
već	PAR	već
.	PUNCT	.
Očigledno	A:aen	Očigledno
je	PRO	ona
reč	N:f	reč
o	PREP	o
grupi	N:f	grupa
nesposobnjakovića	N:m	nesposobnjaković
ali	CONJ	ali
što	CONJ	što
je	PRO	ona
najbolje	ADV	najbolje
od	PREP	od
svega	PRO	sav
to	PRO	taj
i	CONJ	i
nije	A:aem	nije
mana	N:f	mana
.	SENT	.
Likovi	N:m	lik
rade	N:f	rada
samo	PAR	samo
jednu	NUM	jedan
nelogičnu	A:aef	nelogičan
stvar	N:f	stvar
.	SENT	.
Neko	PRO	neki
im	PRO	ona
sa	PREP	sa
brda	N:n	brdo
signalizira	N:m	signalizira
refleksijom	N:f	refleksija
.	SENT	.
Oni	PRO	onaj
naravno	PAR	naravno
nisu	N:m	nisu
čuli	V:m	čuti
da	CONJ	da
postoji	N:m	postoji
nešto	ADV	nešto
što	CONJ	što
se	PAR	se
zove	N:f	zova
dvogled	N:m	dvogled
ili	CONJ	ili
to	PRO	taj
ne	PAR	ne
spada	V:m	spada
u	PREP	u
standardnu	A:aef	standardan
opremu	N:f	oprema
budućih	A:aen	budući
marinaca	N:m	marinac
,	PUNCT	,
pa	CONJ	pa
odmah	ADV	odmah
kreću	A:aem	kreću
tamo	ADV	tamo
.	PUNCT	.
No	CONJ	no
nije	A:aem	nije
bitno	ADV	bitno
,	PUNCT	,
to	PRO	taj
je	PRO	ona
stvar	N:f	stvar
koja	PRO	koji
i	CONJ	i
može	A:aem	može
da	CONJ	da
se	PAR	se
proguta	N:m	proguta
.	SENT	.
Pedeset	NUM	pedeset
minuta	N:m	minut
filma	N:m	film
likovi	N:m	lik
šetaju	N:m	šetaju
po	PREP	po
planinskim	A:aef	planinski
predelima	N:m	predeo
a	CONJ	a
ovi	PRO	ovaj
stelt	N:m	stelt
degenerici	N:m	degenerik
im	PRO	ona
prete	A:bem	pretio
sa	PREP	sa
svih	PRO	sav
strana	N:f	strana
.	SENT	.
Kasnije	ADV	kasnije
naši	PRO	naš
'	A:aem	'
junaci	N:m	junak
'	A:aem	'
ulaze	N:m	ulaz
u	PREP	u
rudnik	N:m	rudnik
i	CONJ	i
tu	ADV	tu
sam	PRO	sam
očekivao	V:m	očekivati
već	CONJ	već
neku	PRO	neki
napetost	N:f	napetost
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
vredi	N:f	vredi
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
dosada	N:f	dosada
je	PRO	ona
sve	PRO	sav
nadjačala	V:f	nadjačati
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
filma	N:m	film
jedan	NUM	jedan
od	PREP	od
mutiranih	A:aef	mutiran
koristi	N:f	korist
računar	N:m	računar
kako	CONJ	kako
bi	N:m	bi
u	PREP	u
programu	N:m	program
za	PREP	za
skeniranje	N:n	skeniranje
okoline	N:f	okolina
pronašao	V:m	pronaći
ove	PRO	ovaj
naše	PRO	naš
likove	N:m	lik
.	SENT	.
Kome	PRO	koji
ovo	PRO	ovaj
ne	PAR	ne
vređa	A:aem	vređa
inteligenciju	N:f	inteligencija
,	PUNCT	,
taj	PRO	taj
je	PRO	ona
nema	A:aem	nem
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
rekoh	N:m	rekoh
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
nije	V:m	nije
imao	V:m	imati
šansu	N:f	šansa
da	CONJ	da
bude	A:aen	bude
dobar	A:aem	dobar
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
i	CONJ	i
te	PRO	taj
kako	ADV	kako
mogao	V:m	moći
biti	N:f	bit
gledljiv	A:aem	gledljiv
.	PUNCT	.
Ako	CONJ	ako
vas	PRO	vi
zanimaju	N:m	zanimaju
scene	N:f	scena
kopanja	N:n	kopanje
prstima	N:m	prst
po	PREP	po
mozgu	N:m	mozak
,	PUNCT	,
sečenja	N:n	sečenje
,	PUNCT	,
kidanja	N:n	kidanje
,	PUNCT	,
kanibalizma	N:m	kanibalizam
,	PUNCT	,
silovanja	N:n	silovanje
,	PUNCT	,
izvolite	A:aem	izvolite
pogledajte	N:m	pogledajte
ovo	PRO	ovaj
.	SENT	.
Meni	PRO	ja
teško	A:aen	težak
da	CONJ	da
će	A:aen	će
pasti	N:f	pasta
na	PREP	na
pamet	N:f	pamet
da	CONJ	da
u	PREP	u
skorije	A:ben	skori
vreme	N:n	vreme
nešto	PRO	nešto
ovakvo	PRO	ovakav
stavim	N:m	stavim
na	PREP	na
meni	PRO	ja
.	SENT	.
Dajem	N:m	Dajem
mu	PRO	on
dvojku	N:f	dvojka
čisto	ADV	čisto
što	CONJ	što
likovi	N:m	lik
nisu	N:m	nisu
bili	V:m	biti
totalni	A:aem	totalan
degenerici	N:m	degenerik
.	SENT	.
Sve	ADV	sve
ostalo	V:n	ostati
je	PRO	ona
ili	CONJ	ili
već	PAR	već
viđeno	V:n	viditi
,	PUNCT	,
ili	CONJ	ili
za	PREP	za
zaborav	N:m	zaborav
a	CONJ	a
najčešće	ADV	najčešće
i	CONJ	i
jedno	ADV	jedno
i	CONJ	i
drugo	A:aen	drugi
.	SENT	.
