Tešim	V:m	Tešim
se	PAR	se
da	CONJ	da
je	PRO	ona
„	A:aem	„
Scary	N:m	Scary
Movie	N:f	Movie
5	NUM	@card@
“	N:m	“
najgore	ADV	najgore
što	CONJ	što
ću	A:aem	ću
pogledati	N:m	pogledati
ove	PRO	ovaj
godine	N:f	godina
,	PUNCT	,
jer	CONJ	jer
ovakvo	PRO	ovakav
potonuće	N:n	potonuće
u	PREP	u
bioskopu	N:m	bioskop
teško	ADV	teško
je	PRO	ona
proći	V:m	proći
a	CONJ	a
bar	PAR	bar
malo	ADV	malo
ne	PAR	ne
izgubiti	A:aem	izgubiti
veru	N:f	vera
u	PREP	u
filmsko	A:aen	filmski
stvaralaštvo	N:n	stvaralaštvo
.	SENT	.
Nemojte	N:m	Nemojte
me	PRO	ja
shvatiti	N:m	shvatiti
pogrešno	ADV	pogrešno
,	PUNCT	,
veliki	A:aem	velik
sam	A:aem	sam
fan	N:m	fan
franšize	N:f	franšiza
,	PUNCT	,
prva	A:aen	prvi
tri	NUM	tri
dela	N:n	delo
smatram	N:m	smatram
za	PREP	za
sjajne	A:aef	sjajan
poteze	N:m	potez
ismevanja	N:n	ismevanje
svega	ADV	svega
površnog	A:aem	površan
i	CONJ	i
nelogičnog	A:aem	nelogičan
u	PREP	u
današnjoj	A:aef	današnji
kinematografiji	N:f	kinematografija
.	PUNCT	.
Tu	ADV	tu
i	CONJ	i
jeste	INT	jeste
problem	N:m	problem
,	PUNCT	,
kritikujući	A:aef	kritikujući
površnost	N:f	površnost
postali	V:m	postati
su	N:m	su
površni	A:aem	površan
!	PUNCT	!
Ranije	ADV	ranije
smo	N:f	smo
gledali	V:m	gledati
parodije	N:f	parodija
na	PREP	na
preko	ADV	preko
deset	NUM	deset
filmova	N:m	film
u	PREP	u
jednom	NUM	jedan
,	PUNCT	,
sada	ADV	sada
se	PAR	se
svelo	V:n	svesti
na	PREP	na
nekolicinu	N:f	nekolicina
.	SENT	.
Očigledne	A:aem	Očigledne
reference	N:f	referenca
na	PREP	na
„	A:aem	„
Mama	N:f	mama
“	N:m	“
,	PUNCT	,
„	A:aem	„
Paranormal	N:m	Paranormal
Activity	N:m	Activity
“	N:m	“
,	PUNCT	,
„	A:aem	„
Black	N:m	Black
Swan	N:m	Swan
“	A:aem	“
i	CONJ	i
„	A:aem	„
Inception	N:m	Inception
“	A:aem	“
ostaju	N:n	ostaju
u	PREP	u
domenu	N:m	domen
predvidivog	A:aen	predvidiv
,	PUNCT	,
skoro	ADV	skoro
ni	PAR	ni
jedna	NUM	jedan
„	A:aem	„
fora	N:m	for
“	N:m	“
ne	PAR	ne
iznenađuje	N:m	iznenađuje
.	PUNCT	.
Svakako	ADV	svakako
da	CONJ	da
se	PAR	se
posle	PREP	posle
četiri	NUM	četiri
nastavka	N:m	nastavak
mogla	V:n	moći
očekivati	A:aem	očekivati
repeticija	N:f	repeticija
ali	CONJ	ali
je	PRO	ona
neprijatno	ADV	neprijatno
iznenadila	V:f	iznenaditi
doza	N:f	doza
lenjosti	N:f	lenjost
kod	PREP	kod
scenarista	N:m	scenarista
.	SENT	.
Uvek	ADV	uvek
je	PRO	ona
suština	N:f	suština
u	PREP	u
preterivanju	N:n	preterivanje
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
tome	PRO	taj
treba	N:f	treba
imati	A:aem	imati
meru	N:f	mera
.	SENT	.
Većina	A:aef	Većina
scena	N:f	scena
prelazi	N:m	prelaz
granicu	N:f	granica
intelektualno	ADV	intelektualno
morbidnog	A:aem	morbidan
do	PREP	do
poražavajuće	ADV	poražavajuće
vulgarnog	A:aem	vulgaran
.	PUNCT	.
Kao	CONJ	kao
kad	CONJ	kad
iz	PREP	iz
„	A:aem	„
Meka	N:m	Mek
“	A:aem	“
pređemo	N:f	pređemo
u	PREP	u
„	A:aem	„
KFC	N:m	KFC
“	N:m	“
.	PUNCT	.
Nema	A:aem	nem
više	ADV	više
ni	CONJ	ni
pokušaja	N:m	pokušaj
između	PREP	između
histerično	ADV	histerično
smešnih	A:aem	smešan
momenata	N:m	moment
i	CONJ	i
trenutaka	N:m	trenutak
kada	CONJ	kada
se	PAR	se
blago	ADV	blago
zakikoćete	V:m	zakikoćete
.	SENT	.
Celokupan	A:aem	celokupan
projekat	N:m	projekt
karakteriše	A:aem	karakteriše
pregršt	N:f	pregršt
neuspelih	A:aem	neuspeo
pokušaja	N:m	pokušaj
humora	N:m	humor
i	CONJ	i
pucanja	N:n	pucanje
u	PREP	u
prazno	A:aen	prazan
.	SENT	.
Glumački	N:m	Glumački
je	PRO	ona
nepostojeći	A:aem	nepostojeći
,	PUNCT	,
dovoljno	ADV	dovoljno
je	PRO	ona
reći	A:bef	reći
da	CONJ	da
najbolju	A:cef	dobar
ulogu	N:f	uloga
pruža	A:aem	pruža
Snup	N:m	Snup
Dog	A:aem	Dog
(	PUNCT	(
Snoop	N:m	Snoop
Dogg	N:m	Dogg
)	PUNCT	)
na	PREP	na
početku	N:m	početak
filma	N:m	film
.	SENT	.
Istina	N:f	istina
je	PRO	ona
da	CONJ	da
svi	PRO	sav
volimo	N:f	volimo
dobro	ADV	dobro
“	A:aem	“
skrnavljenje	N:n	skrnavljenje
”	N:m	”
,	PUNCT	,
kada	CONJ	kada
se	PAR	se
sve	PRO	sav
mane	N:f	mana
ogoljeno	V:n	ogoliti
prikažu	A:aen	prikažu
i	CONJ	i
bivaju	N:f	bivaju
eksploatisane	V:f	eksploatisati
zarad	PREP	zarad
naše	PRO	naš
zabave	N:f	zabava
.	SENT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
ovde	ADV	ovde
nema	A:aem	nem
mnogo	ADV	mnogo
toga	PRO	taj
,	PUNCT	,
zato	ADV	zato
se	PAR	se
mane	N:f	mana
samog	PRO	sam
filma	N:m	film
ređaju	V:f	ređaju
jedna	NUM	jedan
za	PREP	za
drugom	A:aef	drugi
.	SENT	.
Gledanje	N:n	gledanje
„	N:m	„
Scary	A:aem	Scary
Movie	N:f	Movie
5	NUM	@card@
“	A:aem	“
bi	N:m	bi
se	PAR	se
moglo	V:n	moći
uporediti	N:f	uporediti
sa	PREP	sa
upotrebom	N:f	upotreba
jednoslojnog	A:aem	jednoslojan
toalet	N:m	toalet
papira	N:m	papir
.	PUNCT	.
Verujem	N:m	Verujem
da	CONJ	da
su	N:m	su
iskustva	N:n	iskustvo
jednako	ADV	jednako
neugodna	A:aem	neugodan
.	SENT	.
