Noar	N:m	Noar
izgubljen	A:aem	izgubljen
u	PREP	u
magli	N:f	magla
Nemam	N:m	Nemam
nameru	N:f	namera
da	CONJ	da
se	PAR	se
pravim	A:aen	prav
da	CONJ	da
znam	N:m	znam
ko	PRO	ko
su	N:m	su
Bertrand	N:m	Bertrand
Tavernier	N:m	Tavernier
(	PUNCT	(
reditelj	N:m	reditelj
)	PUNCT	)
i	CONJ	i
James	N:m	James
Lee	N:f	Lea
Burke	N:f	Burka
(	PUNCT	(
po	PREP	po
čijem	PRO	čiji
romanu	N:m	roman
je	PRO	ona
napisan	A:aem	napisan
scenario	N:m	scenario
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
osmo	A:aen	osmi
čulo	V:n	čuti
mi	PRO	ja
govori	N:m	govor
da	CONJ	da
ova	PRO	ovaj
imena	N:n	ime
ozbiljnim	A:aen	ozbiljan
(	PUNCT	(
i	CONJ	i
krimićima	N:m	krimić
sklonim	A:aem	sklon
)	PUNCT	)
filmofilima	N:m	filmofil
treba	N:f	treba
nešto	ADV	nešto
da	CONJ	da
znače	A:aen	znače
.	SENT	.
In	ABB	in
The	INT	The
Electric	N:m	Electric
Mist	N:m	Mist
je	PRO	ona
jedan	NUM	jedan
konfuzan	A:aem	konfuzan
,	PUNCT	,
dosadnjikav	A:aem	dosadnjikav
i	CONJ	i
loše	ADV	loše
skrojen	A:aem	skrojen
film	N:m	film
koji	PRO	koji
je	PRO	ona
na	PREP	na
svu	PRO	sav
svoju	PRO	svoj
muku	N:f	muka
uspeo	V:m	uspeti
i	CONJ	i
nemoguće	ADV	nemoguće
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
da	CONJ	da
učini	A:aem	učin
da	CONJ	da
američki	A:aem	američki
jug	N:m	jug
(	PUNCT	(
Luizijana	N:f	Luizijana
)	PUNCT	)
ne	PAR	ne
izgleda	N:m	izgled
kao	CONJ	kao
mesto	N:n	mesto
na	PREP	na
kome	PRO	koji
su	N:m	su
život	N:m	život
i	CONJ	i
smrt	N:f	smrt
velelepno	A:aen	velelepan
spojeni	V:m	spojiti
u	PREP	u
jedno	NUM	jedan
.	PUNCT	.
Cenim	A:aen	Cenim
da	CONJ	da
je	PRO	ona
prvi	A:aem	prvi
problem	N:m	problem
bio	V:m	biti
loš	A:aem	loš
scenario	N:m	scenario
koji	PRO	koji
nije	N:f	nije
uspeo	V:m	uspeti
da	CONJ	da
intrigantnije	A:bem	intrigantan
isplete	A:aem	isplete
sve	PRO	sav
motive	N:m	motiv
jednog	NUM	jedan
zastarelog	A:aem	zastareo
i	CONJ	i
jednog	NUM	jedan
aktuelnog	A:aem	aktuelan
slučaja	N:m	slučaj
ubistva	N:n	ubistvo
,	PUNCT	,
koji	PRO	koji
su	N:m	su
u	PREP	u
knjizi	N:f	knjiga
,	PUNCT	,
pretpostavljam	N:m	pretpostavljam
,	PUNCT	,
ukusnije	A:ben	ukusan
razmešteni	A:aem	razmešten
,	PUNCT	,
dok	CONJ	dok
u	PREP	u
filmu	N:m	film
,	PUNCT	,
mahom	ADV	mahom
,	PUNCT	,
smetaju	N:m	smetaju
jedan	NUM	jedan
drugom	A:aef	drugi
.	SENT	.
Drugi	A:aem	drugi
problem	N:m	problem
je	PRO	ona
što	CONJ	što
je	PRO	ona
Tavernier	N:m	Tavernier
noar	N:m	noar
građi	N:f	građa
pristupio	V:m	pristupiti
bez	PREP	bez
imalo	ADV	imalo
nadahnuća	N:n	nadahnuće
ili	CONJ	ili
,	PUNCT	,
barem	PAR	barem
,	PUNCT	,
precizno	ADV	precizno
formulisane	V:f	formulisati
stilizacije	N:f	stilizacija
,	PUNCT	,
već	CONJ	već
je	PRO	ona
istu	A:aem	isti
tretirao	V:m	tretirati
kao	CONJ	kao
B	ABB	B
-	PUNCT	-
triler	N:m	triler
u	PREP	u
koji	PRO	koji
su	N:m	su
mu	PRO	on
slučajno	ADV	slučajno
zapali	V:m	zapasti
Tommy	A:aem	Tommy
Lee	N:m	Lea
Jones	N:m	Jones
i	CONJ	i
John	N:m	John
Goodman	N:m	Goodman
.	SENT	.
Osnovna	A:aen	osnovni
priča	N:f	priča
je	PRO	ona
jednostavna	A:aef	jednostavan
.	SENT	.
Neko	PRO	neki
ubija	N:n	ubija
devojke	N:f	devojka
sumnjivog	A:aen	sumnjiv
morala	N:m	moral
i	CONJ	i
detektiv	N:m	detektiv
Dave	N:m	Dav
Robicheaux	N:m	Robicheaux
(	PUNCT	(
totalni	A:aem	totalan
mis	N:f	mis
-	PUNCT	-
cast	A:aem	cast
u	PREP	u
predrvenom	A:aef	predrvenom
Lee	N:f	Lea
Jonesu	N:m	Jonesu
)	PUNCT	)
mora	N:n	more
da	CONJ	da
reši	A:aem	reši
slučaj	N:m	slučaj
.	SENT	.
Materijala	N:m	materijal
za	PREP	za
kompleksnu	A:aem	kompleksan
postavku	N:f	postavka
glavnog	A:aem	glavnog
junaka	N:m	junak
ima	N:f	ima
.	SENT	.
Dave	N:m	Dav
je	PRO	ona
bivši	A:aem	bivši
alkos	N:m	alkos
,	PUNCT	,
sada	ADV	sada
porodični	A:aem	porodičan
čovek	N:m	čovek
,	PUNCT	,
kome	PRO	koji
nakon	PREP	nakon
slučajne	A:aef	slučajan
konzumacije	N:f	konzumacija
LSD	A:aen	LSD
-	PUNCT	-
ija	A:aen	ija
počinje	N:n	počinje
da	CONJ	da
se	PAR	se
priviđa	A:aem	priviđa
južnjački	A:aem	južnjački
general	N:m	general
koji	PRO	koji
mu	PRO	on
kroz	PREP	kroz
trabunjanja	N:n	trabunjanje
Lynchovskog	A:aen	Lynchovskog
tipa	N:m	tip
daje	N:m	daje
razne	A:aem	razne
savete	N:m	savet
u	PREP	u
vezi	N:f	veza
sa	PREP	sa
istragom	N:f	istraga
.	PUNCT	.
Život	N:m	Život
i	CONJ	i
smrt	N:f	smrt
su	N:m	su
tu	ADV	tu
,	PUNCT	,
dakle	CONJ	dakle
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
pod	PREP	pod
-	PUNCT	-
zapleti	N:m	zaplet
ubijaju	A:aen	ubijaju
dragoceno	A:aen	dragocen
vreme	N:n	vreme
da	CONJ	da
se	PAR	se
nešto	ADV	nešto
uradi	V:m	uradi
sa	PREP	sa
rasnošću	A:aen	rasnošću
osnovnog	A:aem	osnovni
plota	N:m	plot
.	SENT	.
Prvi	A:aem	prvi
se	PAR	se
tiče	N:n	tiče
četrdeset	NUM	četrdeset
godina	N:f	godina
starog	A:aem	star
ubistva	N:n	ubistvo
kome	PRO	koji
je	PRO	ona
Dave	N:m	Dav
prisustvovao	V:m	prisustvovati
kao	ADV	kao
klinac	N:m	klinac
.	SENT	.
Simbolično	A:aen	Simbolično
,	PUNCT	,
ubistvo	N:n	ubistvo
se	PAR	se
može	A:aem	može
tretirati	A:aem	tretirati
kao	CONJ	kao
Daveov	A:aem	Daveov
prvi	A:aem	prvi
slučaj	N:m	slučaj
koji	PRO	koji
tek	PAR	tek
sada	ADV	sada
rešava	A:aem	rešava
,	PUNCT	,
a	CONJ	a
s	PREP	s
druge	A:aem	drugi
strane	N:f	strana
ono	PRO	onaj
otvara	N:m	otvara
prostora	N:m	prostor
za	PREP	za
spekulacije	N:f	spekulacija
o	PREP	o
tome	PRO	taj
ko	PRO	ko
je	PRO	ona
zapravo	ADV	zapravo
Dave	N:m	Dav
Robicheaux	N:m	Robicheaux
i	CONJ	i
kako	CONJ	kako
je	PRO	ona
moguće	ADV	moguće
da	CONJ	da
se	PAR	se
on	PRO	on
nalazi	N:m	nalaz
na	PREP	na
fotografiji	N:f	fotografija
sa	PREP	sa
već	PAR	već
sto	NUM	sto
godina	N:f	godina
mrtvim	A:aem	mrtav
južnjačkim	A:aem	južnjački
generalom	N:m	general
.	SENT	.
Ovaj	PRO	ovaj
poslednji	A:aem	poslednji
kadar	N:m	kadar
,	PUNCT	,
koji	PRO	koji
to	PRO	taj
otkriva	N:m	otkriva
,	PUNCT	,
traje	N:m	traje
dvadesetak	N:m	dvadesetak
sekundi	N:f	sekunda
,	PUNCT	,
ali	CONJ	ali
unosi	N:m	unos
jedno	NUM	jedan
petsto	NUM	petsto
kila	N:f	kila
xtra	N:m	xtra
-	PUNCT	-
konfuzije	N:f	konfuzija
.	PUNCT	.
U	PREP	u
paketu	N:m	paket
sa	PREP	sa
ovim	PRO	ovaj
zastarelim	A:aen	zastareo
slučajem	N:m	slučaj
ide	A:aem	ide
i	CONJ	i
holivudski	A:aem	holivudski
glumac	N:m	glumac
Elrod	N:m	Elrod
Sykes	N:m	Sykes
(	PUNCT	(
uvek	ADV	uvek
solidan	A:aem	solidan
Peter	N:m	Peter
Sarsgaard	N:m	Sarsgaard
)	PUNCT	)
koji	PRO	koji
je	PRO	ona
na	PREP	na
snimanju	N:n	snimanje
filma	N:m	film
našao	V:m	naći
crnčeve	A:aef	crnčev
mošti	N:f	mošti
i	CONJ	i
koji	PRO	koji
u	PREP	u
nastavku	N:m	nastavak
filma	N:m	film
uglavnom	ADV	uglavnom
,	PUNCT	,
u	PREP	u
pijanom	A:aef	pijan
stanju	N:n	stanje
,	PUNCT	,
pravi	A:aem	prav
sranja	N:n	sranje
i	CONJ	i
ne	PAR	ne
služi	N:m	služi
ama	PAR	ama
baš	PAR	baš
ničemu	PRO	ništa
!	PUNCT	!
Pored	PREP	pored
njega	PRO	on
tu	PRO	taj
je	PRO	ona
i	CONJ	i
Baby	A:aem	Baby
Feet	N:m	Feet
Balboni	N:m	Balboni
(	PUNCT	(
uvek	ADV	uvek
neprejebivi	A:aem	neprejebivi
John	N:m	John
Goodman	N:m	Goodman
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
stari	A:aem	star
Robicheauxov	A:aem	Robicheauxov
prijatelj	N:m	prijatelj
,	PUNCT	,
ali	CONJ	ali
novi	A:aem	nov
neprijatelj	N:m	neprijatelj
,	PUNCT	,
i	CONJ	i
čijih	PRO	čiji
dvesta	NUM	dvesta
kila	N:f	kila
takođe	PAR	takođe
nema	A:aem	nem
nikakvu	PRO	nikakav
dramaturšku	A:aef	dramaturški
svrhu	N:f	svrha
sem	PREP	sem
da	CONJ	da
otvori	N:m	otvor
dodatna	A:aen	dodatan
,	PUNCT	,
nepotrebna	A:aen	nepotreban
pitanja	N:n	pitanje
poput	PREP	poput
-	PUNCT	-
šta	PRO	šta
jedan	NUM	jedan
buržuj	N:m	buržuj
njegovog	PRO	njegov
kalibra	N:m	kalibar
radi	PREP	radi
u	PREP	u
ovoj	PRO	ovaj
nedođiji	N:f	nedođija
?	SENT	?
Jedan	NUM	jedan
od	PREP	od
mogućih	A:aem	moguć
odgovora	N:m	odgovor
je	PRO	ona
-	PUNCT	-
predstavlja	N:n	predstavlja
noar	N:m	noar
kliše	N:m	kliše
o	PREP	o
bogatom	A:aef	bogat
negativcu	N:m	negativac
,	PUNCT	,
čije	PRO	čiji
je	PRO	ona
lepljenje	N:n	lepljenje
za	PREP	za
Holivud	N:m	Holivud
još	ADV	još
veći	A:bem	velik
kliše	N:m	kliše
ego	N:m	ego
manijaštva	N:n	manijaštva
.	SENT	.
Bez	PREP	bez
prostora	N:m	prostor
da	CONJ	da
prodišu	A:aen	prodišu
,	PUNCT	,
zatrpani	A:aem	zatrpan
žrtvama	N:f	žrtva
za	PREP	za
koje	PRO	koji
nas	PRO	mi
zabole	V:f	zabosti
,	PUNCT	,
izgubljeni	A:aem	izgubljen
u	PREP	u
magli	N:f	magla
sa	PREP	sa
mrtvim	A:aem	mrtav
generalom	N:m	general
,	PUNCT	,
i	CONJ	i
epizodisti	N:m	epizodista
i	CONJ	i
glavni	A:aem	glavni
likovi	N:m	lik
odrađuju	A:aen	odrađuju
čvorna	A:aen	čvoran
mesta	N:n	mesto
narativa	N:m	narativa
kako	CONJ	kako
bi	V:m	bi
se	PAR	se
makar	CONJ	makar
puka	N:m	puk
matematika	N:f	matematika
rešavanja	N:n	rešavanje
ubist	N:m	ubist
(	PUNCT	(
a	CONJ	a
)	PUNCT	)
va	N:f	va
isterala	V:f	isterati
do	PREP	do
kraja	N:m	kraj
.	SENT	.
Zbog	PREP	zbog
toga	PRO	taj
s	PREP	s
jedne	NUM	jedan
strane	N:f	strana
imate	N:m	imate
bled	A:aem	bled
i	CONJ	i
formulaičan	A:aem	formulaičan
triler	N:m	triler
,	PUNCT	,
a	CONJ	a
sa	PREP	sa
druge	A:aem	drugi
noar	N:m	noar
setting	N:m	setting
koji	PRO	koji
je	PRO	ona
neko	PRO	neki
greškom	ADV	greškom
dovukao	V:m	dovući
na	PREP	na
set	N:m	set
.	SENT	.
