Alfred	N:m	Alfred
Hičkok	N:m	Hičkok
smatrao	V:m	smatrati
je	PRO	ona
da	CONJ	da
je	PRO	ona
,	PUNCT	,
barem	PAR	barem
scenografski	A:aem	scenografski
,	PUNCT	,
uvek	ADV	uvek
dobro	ADV	dobro
upotrebiti	A:aem	upotrebiti
opštepoznate	A:aem	opštepoznat
i	CONJ	i
karakteristične	A:aem	karakterističan
resurse	N:m	resurs
zemlje	N:f	zemlja
ili	CONJ	ili
grada	N:m	grad
u	PREP	u
kojem	PRO	koji
se	PAR	se
film	N:m	film
snima	N:m	san
.	SENT	.
Tako	ADV	tako
,	PUNCT	,
na	PREP	na
primer	N:m	primer
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
radnju	N:f	radnja
i	CONJ	i
zaplet	N:m	zaplet
,	PUNCT	,
ako	CONJ	ako
se	PAR	se
snima	N:m	san
u	PREP	u
Švajcarskoj	N:f	Švajcarska
,	PUNCT	,
dobro	ADV	dobro
je	PRO	ona
pokazati	A:aem	pokazati
fabriku	N:f	fabrika
čokolade	N:f	čokolada
,	PUNCT	,
preporučivao	V:m	preporučivati
je	PRO	ona
Hičkok	N:m	Hičkok
novim	A:aef	nov
generacijama	N:f	generacija
filmadžija	N:f	filmadžija
.	PUNCT	.
Čarli	N:m	Čarli
i	CONJ	i
fabrika	N:f	fabrika
čokolade	N:f	čokolada
reditelja	N:m	reditelj
Tima	N:m	Tim
Bartona	N:m	Barton
,	PUNCT	,
međutim	PAR	međutim
,	PUNCT	,
daleko	ADV	daleko
je	PRO	ona
od	PREP	od
Švajcarske	N:f	Švajcarska
,	PUNCT	,
budući	A:aem	budući
da	CONJ	da
se	PAR	se
dešava	N:n	dešava
u	PREP	u
elektronski	A:aem	elektronski
animiranoj	A:aef	animiran
fabrici	N:f	fabrika
čokolade	N:f	čokolada
i	CONJ	i
njenoj	PRO	njen
,	PUNCT	,
studijskoj	A:aef	studijski
scenografskoj	A:aef	scenografski
neposrednoj	A:aef	neposredan
blizini	N:f	blizina
.	SENT	.
Imaginarno	A:aen	imaginaran
,	PUNCT	,
virtuelno	A:aen	virtuelan
mesto	N:n	mesto
,	PUNCT	,
prigodno	ADV	prigodno
je	PRO	ona
prikazano	V:n	prikazati
u	PREP	u
duhu	N:m	duh
MTV	A:aem	MTV
kolažne	A:aef	kolažni
forme	N:f	forma
,	PUNCT	,
bez	PREP	bez
koje	PRO	koji
,	PUNCT	,
navodno	ADV	navodno
nema	A:aem	nem
uspeha	N:m	uspeh
na	PREP	na
blagajnama	N:f	blagajna
kod	PREP	kod
mlade	A:aef	mlad
publike	N:f	publika
koja	PRO	koji
sate	N:m	sat
provodi	N:m	provod
pred	PREP	pred
ekranima	N:m	ekran
.	SENT	.
Prilično	A:aen	Prilično
pravolinijska	A:aef	pravolinijski
,	PUNCT	,
reportažna	A:aef	reportažni
radnja	N:f	radnja
Čarlija	N:m	Čarli
i	CONJ	i
fabrike	N:f	fabrika
čokolade	N:f	čokolada
i	CONJ	i
zaplet	N:m	zaplet
po	PREP	po
neaktivnosti	N:f	neaktivnost
glavnog	A:aem	glavnog
junaka	N:m	junak
Čarlija	N:m	Čarli
sličan	A:aem	sličan
češkom	A:aem	češki
filmu	N:m	film
,	PUNCT	,
takođe	PAR	takođe
odgovaraju	N:m	odgovaraju
savremenim	A:aef	savremen
američkim	A:aef	američki
trendovima	N:m	trend
,	PUNCT	,
no	CONJ	no
preuzeti	A:aem	preuzet
su	N:m	su
iz	PREP	iz
istoimenog	A:aen	istoimen
romana	N:m	roman
Roula	A:aem	Roula
Dala	N:m	Dal
koji	PRO	koji
već	PAR	već
bio	V:m	biti
filmovan	N:m	filmovan
i	CONJ	i
početkom	N:m	početak
sedamdesetih	A:aen	sedamdeseti
.	SENT	.
Dal	ABB	dal
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
umro	V:m	umreti
1990	NUM	@card@
.	SENT	.
,	PUNCT	,
bio	V:m	biti
je	PRO	ona
scenarista	N:m	scenarista
,	PUNCT	,
čovek	N:m	čovek
koji	PRO	koji
je	PRO	ona
izmislio	V:m	izmisliti
gremline	N:m	gremline
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
jedan	NUM	jedan
od	PREP	od
najvažnijih	A:cef	važan
britanskih	A:aef	britanski
pisaca	N:m	pisac
za	PREP	za
decu	N:f	deca
,	PUNCT	,
poznat	A:aem	poznat
po	PREP	po
mešavini	N:f	mešavina
crnog	A:aem	crn
humora	N:m	humor
i	CONJ	i
topline	N:f	toplina
.	SENT	.
U	PREP	u
Bartonovoj	A:aef	Bartonov
verziji	N:f	verzija
Dalove	A:aef	Dalov
priče	N:f	priča
crni	A:aem	crn
humor	N:m	humor
primenjen	V:m	primeniti
je	PRO	ona
na	PREP	na
prikazivanje	N:n	prikazivanje
tzv	ABB	tzv
.	SENT	.
kapitalizma	N:m	kapitalizam
sa	PREP	sa
ljudskim	A:aef	ljudski
likom	N:m	lik
,	PUNCT	,
a	CONJ	a
toplina	N:f	toplina
na	PREP	na
tretman	N:m	tretman
nemoćnih	A:aef	nemoćan
,	PUNCT	,
pasivnih	A:aef	pasivan
i	CONJ	i
prosečnih	A:aef	prosečan
,	PUNCT	,
koji	PRO	koji
,	PUNCT	,
prema	PREP	prema
ovoj	PRO	ovaj
savremenoj	A:aef	savremen
bajci	N:f	bajka
,	PUNCT	,
navodno	ADV	navodno
,	PUNCT	,
imaju	N:f	imaju
neke	PRO	neki
šanse	N:f	šansa
ako	CONJ	ako
budu	N:f	budu
imali	V:m	imati
dobro	A:aen	dobar
srce	N:n	srce
i	CONJ	i
dosta	ADV	dosta
kockarske	A:aef	kockarski
sreće	N:f	sreća
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
Vili	N:m	Vili
Vonka	N:f	Vonka
,	PUNCT	,
neobični	A:aem	neobičan
fabrikant	N:m	fabrikant
čokolade	N:f	čokolada
kog	PRO	koji
glumi	N:f	gluma
Džoni	N:m	Džoni
Dep	N:m	Dep
podražavajući	A:aem	podražavajući
Majkla	N:m	Majkl
Džeksona	N:m	Džekson
,	PUNCT	,
objavi	N:f	objava
da	CONJ	da
će	A:aef	će
petoro	NUM	petoro
dece	N:f	deca
koja	PRO	koji
nađu	A:aem	nađu
specijalne	A:aef	specijalan
ulaznice	N:f	ulaznica
spakovane	V:f	spakovati
u	PREP	u
čokoladu	N:f	čokolada
moći	N:f	moć
da	CONJ	da
poseti	N:f	poseta
njegovu	PRO	njegov
misterioznu	A:aef	misteriozan
fabriku	N:f	fabrika
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
jedno	ADV	jedno
od	PREP	od
dece	N:f	deca
dobiće	N:f	dobiće
i	CONJ	i
specijalnu	A:aef	specijalan
nagradu	N:f	nagrada
koja	PRO	koji
je	PRO	ona
na	PREP	na
početku	N:m	početak
tajna	N:f	tajna
,	PUNCT	,
a	CONJ	a
na	PREP	na
kraju	N:m	kraj
sama	PRO	sam
ta	PRO	taj
fabrika	N:f	fabrika
.	SENT	.
Četvoro	N:f	Četvoro
dece	N:f	deca
jasnim	A:aen	jasan
načinima	N:m	način
dolazi	N:m	dolaz
do	PREP	do
ulaznice	N:f	ulaznica
:	SENT	:
debeli	A:aem	debeo
nemački	A:aem	nemački
dečak	N:m	dečak
pronalazi	N:m	pronalazi
je	PRO	ona
po	PREP	po
zakonu	N:m	zakon
verovatnoće	N:f	verovatnoća
jedući	A:aem	jedući
gomile	N:f	gomila
čokolade	N:f	čokolada
,	PUNCT	,
bitanska	N:f	bitanska
razmažena	A:aef	razmažen
devojčica	N:f	devojčica
stiče	N:m	stidak
ulaznicu	N:f	ulaznica
putem	PREP	putem
tatinog	A:aem	tatin
bogatsva	N:m	bogatsva
,	PUNCT	,
a	CONJ	a
dvoje	NUM	dvoje
Amerikančića	N:m	Amerikančića
to	PRO	taj
postižu	A:aem	postižu
devojčica	N:f	devojčica
ambicioznošću	N:f	ambicioznost
,	PUNCT	,
a	CONJ	a
dečak	N:m	dečak
racionalnom	A:aen	racionalan
,	PUNCT	,
proračunatom	A:aef	proračunat
agresvinošću	N:f	agresvinošću
.	SENT	.
Peti	N:f	Peti
je	PRO	ona
,	PUNCT	,
dečak	N:m	dečak
Čarli	N:m	Čarli
iz	PREP	iz
siromašne	A:aef	siromašan
,	PUNCT	,
pa	CONJ	pa
prema	PREP	prema
tome	PRO	taj
srećne	A:aef	srećan
porodice	N:f	porodica
;	SENT	;
on	PRO	on
slučajnošću	N:f	slučajnost
nalazi	N:m	nalaz
i	CONJ	i
novac	N:m	novac
za	PREP	za
čokoladu	N:f	čokolada
u	PREP	u
kojoj	PRO	koji
će	A:aem	će
pronaći	A:aem	pronaći
ulaznicu	N:f	ulaznica
,	PUNCT	,
a	CONJ	a
naslednik	N:m	naslednik
fabrike	N:f	fabrika
postaje	N:f	postaja
ne	PAR	ne
zato	ADV	zato
što	CONJ	što
je	PRO	ona
nešto	ADV	nešto
uradio	V:m	uraditi
dobro	ADV	dobro
,	PUNCT	,
već	PAR	već
zato	ADV	zato
što	CONJ	što
je	PRO	ona
naprosto	ADV	naprosto
,	PUNCT	,
kao	CONJ	kao
u	PREP	u
kojekakvim	PRO	kojekakav
reality	N:m	reality
-	PUNCT	-
showovima	A:aem	showovima
,	PUNCT	,
preostao	V:m	preostati
,	PUNCT	,
ne	PAR	ne
učinivši	V:m	učinivši
ništa	PRO	ništa
loše	A:aef	loš
dok	CONJ	dok
su	PREF	su
aktivniji	A:bem	aktivan
od	PREP	od
njega	PRO	on
,	PUNCT	,
po	PREP	po
sistemu	N:m	sistem
„	A:aem	„
ko	PRO	ko
radi	PREP	radi
taj	PRO	taj
i	CONJ	i
greši	A:aem	greši
“	N:m	“
ispadali	V:m	ispadati
iz	PREP	iz
igre	N:f	igra
.	SENT	.
No	CONJ	no
,	PUNCT	,
da	CONJ	da
bi	A:aem	bi
zaista	ADV	zaista
nasledio	V:m	naslediti
fabriku	N:f	fabrika
zasnovanu	A:aef	zasnovan
na	PREP	na
radu	A:aem	rad
malih	A:aen	mali
bića	N:n	biće
uniformno	A:aen	uniforman
istog	A:aen	isti
lika	N:m	lik
(	PUNCT	(
sve	PRO	sav
ih	PRO	ona
glumi	N:f	gluma
isti	A:aem	isti
Dip	N:m	Dip
Roj	N:m	Roj
)	PUNCT	)
tj	ABB	tj
.	PUNCT	.
lumpen	N:m	lumpen
-	PUNCT	-
proletera	N:m	proleter
karakterističnog	A:aen	karakterističan
imena	N:n	ime
Umpe	N:f	Umpe
-	PUNCT	-
Lumpe	N:f	Lumpe
,	PUNCT	,
Čarli	N:m	Čarli
mora	N:n	more
da	CONJ	da
ubedi	N:f	ubedi
u	PREP	u
preadolescenciji	N:f	preadolescenciji
zaostalog	A:aem	zaostao
Vilija	N:m	Vili
Vonku	N:f	Vonka
da	CONJ	da
je	PRO	ona
porodica	N:f	porodica
dobra	A:aef	dobar
stvar	N:f	stvar
.	SENT	.
Stvar	N:f	stvar
nije	A:aem	nije
laka	N:m	lak
jer	CONJ	jer
je	PRO	ona
Vonka	N:f	Vonka
bio	V:m	biti
traumatizovano	A:aen	traumatizovan
dete	N:n	dete
zubara	N:m	zubar
koji	PRO	koji
mu	PRO	on
nije	N:f	nije
dozvoljavao	V:m	dozvoljavati
da	CONJ	da
jede	N:m	jed
slatkiše	N:m	slatkiš
,	PUNCT	,
a	CONJ	a
i	CONJ	i
porodica	N:f	porodica
i	CONJ	i
inače	PAR	inače
,	PUNCT	,
prema	PREP	prema
statističkim	A:aem	statistički
podacima	N:m	podatak
,	PUNCT	,
kako	CONJ	kako
kaže	N:f	kaža
Danijel	N:m	Danijel
Penak	N:m	Penak
u	PREP	u
Maloj	A:aef	mali
prodavačici	N:f	prodavačica
proze	N:f	proza
,	PUNCT	,
ubija	N:n	ubija
pet	NUM	pet
puta	ADV	puta
više	ADV	više
nego	CONJ	nego
ološ	N:m	ološ
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
shodno	PREP	shodno
svom	PRO	sav
dobrom	A:aem	dobar
srcu	N:n	srce
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
zainteresovanosti	N:f	zainteresovanost
za	PREP	za
kapital	N:m	kapital
,	PUNCT	,
i	CONJ	i
pasivnim	A:aef	pasivan
metodima	N:m	metod
prihvatajućeg	A:aem	prihvatajućeg
ponašanja	N:n	ponašanje
,	PUNCT	,
Čarli	N:m	Čarli
metodom	N:f	metoda
aktivnog	A:aem	aktivan
-	PUNCT	-
slušanja	N:n	slušanje
i	CONJ	i
pružanjem	N:n	pružanje
podrške	N:f	podrška
Vonki	N:f	Vonka
uspeva	N:m	uspeva
da	CONJ	da
ga	PRO	on
privede	N:m	privede
u	PREP	u
okrilje	N:n	okrilje
porodice	N:f	porodica
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
da	CONJ	da
bez	PREP	bez
porodice	N:f	porodica
i	CONJ	i
njenih	PRO	njen
prinudnih	A:aef	prinudan
proizvodno	A:aen	proizvodni
-	PUNCT	-
potrošačkih	A:aef	potrošački
sublimacija	N:f	sublimacija
i	CONJ	i
supstitucija	N:f	supstitucija
nema	A:aem	nem
ni	CONJ	ni
kaputalizma	N:m	kaputalizma
,	PUNCT	,
tek	CONJ	tek
tada	ADV	tada
,	PUNCT	,
fabrika	N:f	fabrika
čokolade	N:f	čokolada
,	PUNCT	,
tj	ABB	tj
.	SENT	.
svekoliki	A:aem	svekolik
kapitalizam	N:m	kapitalizam
postaje	N:f	postaja
Čarlijevo	A:aen	Čarlijev
lično	A:aen	ličan
vlasništvo	N:n	vlasništvo
.	SENT	.
Naša	A:aen	Naša
deca	N:f	deca
koja	PRO	koji
žive	N:f	živa
na	PREP	na
mestu	N:n	mesto
i	CONJ	i
u	PREP	u
trenutku	N:m	trenutak
delimično	ADV	delimično
van	PREP	van
kompjuterske	A:aef	kompjuterski
globalizacije	N:f	globalizacija
i	CONJ	i
gde	ADV	gde
upravo	ADV	upravo
sve	ADV	sve
-	PUNCT	-
od	PREP	od
usluga	N:f	usluga
prosvetnih	A:aen	prosvetni
radnika	N:m	radnik
do	PREP	do
umetnosti	N:f	umetnost
kao	CONJ	kao
takve	PRO	takav
postaje	N:f	postaja
roba	N:f	roba
i	CONJ	i
podleže	N:n	podleže
zakonima	N:m	zakon
tržišta	N:n	tržište
-	PUNCT	-
posle	PREP	posle
dvosatne	A:aef	dvosatni
zabave	N:f	zabava
mogu	A:aen	mogu
lako	A:aen	lak
da	CONJ	da
izađu	A:aen	izađu
iz	PREP	iz
bioskopa	N:m	bioskop
pognute	A:aef	pognut
glave	N:f	glava
.	SENT	.
Ne	PAR	ne
zbog	PREP	zbog
tuge	N:f	tuga
,	PUNCT	,
već	PAR	već
pogleda	N:m	pogled
urptog	A:aem	urptog
u	PREP	u
trotoar	N:m	trotoar
na	PREP	na
kome	PRO	koji
se	PAR	se
može	A:aem	može
naći	A:aem	naći
novac	N:m	novac
za	PREP	za
čokoladu	N:f	čokolada
koji	PRO	koji
mi	PRO	ja
roditelji	N:m	roditelj
ili	CONJ	ili
nemamo	N:f	nemamo
ili	CONJ	ili
ne	PAR	ne
damo	N:f	dama
verujući	A:aem	verujući
da	CONJ	da
je	PRO	ona
zdravije	A:bef	zdrav
jesti	N:f	jesti
zeleniš	N:m	zeleniš
.	SENT	.
Ako	CONJ	ako
mislite	N:m	mislite
da	CONJ	da
je	PRO	ona
to	PRO	taj
loše	ADV	loše
,	PUNCT	,
protivnik	N:m	protivnik
ste	A:aem	ste
socijalizacije	N:f	socijalizacija
svog	PRO	svoj
detata	N:m	detata
,	PUNCT	,
te	PRO	taj
pravite	A:aem	pravite
od	PREP	od
njega	PRO	on
nekog	PRO	neki
budućeg	A:aem	budući
Vilija	N:m	Vili
Vonku	N:f	Vonka
;	SENT	;
ako	CONJ	ako
mislite	N:m	mislite
da	CONJ	da
je	PRO	ona
to	PRO	taj
dobro	ADV	dobro
,	PUNCT	,
imate	A:aef	imate
šanse	N:f	šansa
da	CONJ	da
vam	PRO	vi
dete	N:n	dete
postane	N:m	postane
slično	A:aen	sličan
Čarliju	N:m	Čarli
.	SENT	.
U	PREP	u
oba	NUM	oba
slučaja	N:m	slučaj
,	PUNCT	,
virtuelna	A:aem	virtuelan
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
Hičkokova	A:aef	Hičkokov
fabrika	N:f	fabrika
čokolade	N:f	čokolada
prosperiraće	A:aem	prosperiraće
i	CONJ	i
vi	PRO	vi
tu	PRO	taj
ne	PAR	ne
možete	A:aem	možete
ništa	ADV	ništa
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
opustite	A:aem	opustite
i	CONJ	i
verujte	A:aen	verujte
da	CONJ	da
će	A:aen	će
vam	PRO	vi
buduće	A:aem	budući
generacije	N:f	generacija
oprostiti	A:aem	oprostiti
nemoć	N:f	nemoć
.	SENT	.
Nemoć	A:aem	Nemoć
je	PRO	ona
kul	ADV	kul
!	PUNCT	!
