Miša	N:m	Miša
Radivojević	N:m	Radivojević
je	PRO	ona
posle	PREP	posle
deset	NUM	deset
godina	N:f	godina
pauze	N:f	pauza
snimio	V:m	snimiti
novi	A:aem	nov
film	N:m	film
.	SENT	.
Buđenje	N:n	Buđenje
iz	PREP	iz
mrtvih	A:aem	mrtav
govori	N:m	govor
o	PREP	o
zlokobnom	A:aem	zlokoban
kanceru	N:m	kancer
minulih	A:aef	minuli
godina	N:f	godina
koji	PRO	koji
još	PAR	još
uvek	ADV	uvek
izjeda	A:aen	izjeda
ovo	PRO	ovaj
naše	PRO	naš
društvo	N:n	društvo
,	PUNCT	,
sukobu	N:m	sukob
očeva	N:m	otac
i	CONJ	i
sinova	N:m	sin
koji	PRO	koji
se	PAR	se
poput	PREP	poput
virusa	N:m	virus
prenosi	N:m	prenos
kroz	PREP	kroz
generacije	N:f	generacija
,	PUNCT	,
svemu	PRO	sav
onom	PRO	onaj
bolnom	A:aem	bolan
i	CONJ	i
/	A:aem	/
ili	CONJ	ili
bolesnom	A:aem	bolestan
što	CONJ	što
bi	A:aem	bi
mnogi	A:aem	mnogi
radije	ADV	radije
gurnuli	V:m	gurnuti
pod	PREP	pod
tepih	N:m	tepih
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
taj	PRO	taj
manifest	N:m	manifest
se	PAR	se
rasplinjava	N:f	rasplinjava
na	PREP	na
platnu	N:n	platno
,	PUNCT	,
potpuno	ADV	potpuno
trivijalizovan	V:m	trivijalizovati
time	PRO	taj
što	PRO	što
film	N:m	film
nalikuje	V:m	nalikuje
na	PREP	na
čoveka	N:m	čovek
koji	PRO	koji
šeta	N:m	šeta
Knez	N:m	Knez
Mihajlovom	N:n	Mihajlovo
i	CONJ	i
priča	N:f	priča
sam	A:aem	sam
sa	PREP	sa
sobom	PRO	sebe
,	PUNCT	,
a	CONJ	a
povremeno	ADV	povremeno
zaurla	V:m	zaurla
nekom	PRO	neki
prolazniku	N:m	prolaznik
u	PREP	u
lice	N:n	lice
.	SENT	.
Ovde	ADV	ovde
ne	PAR	ne
želim	A:aen	želim
da	CONJ	da
budem	A:aen	budem
zlonameran	A:aem	zlonameran
.	SENT	.
Namera	N:f	namera
autora	N:m	autor
potpuno	ADV	potpuno
je	PRO	ona
legitimna	A:aef	legitiman
i	CONJ	i
više	ADV	više
nego	CONJ	nego
opravdana	V:f	opravdati
,	PUNCT	,
ali	CONJ	ali
sama	PRO	sam
po	PREP	po
sebi	PRO	sebe
ne	PAR	ne
može	A:aem	može
biti	N:f	bit
dovoljna	A:aem	dovoljan
.	SENT	.
Besomučni	A:aem	Besomučni
pokušaji	N:m	pokušaj
eksperimentisanja	N:n	eksperimentisanje
s	PREP	s
formom	N:f	forma
tako	ADV	tako
na	PREP	na
kraju	N:m	kraj
dovode	N:m	dovod
do	PREP	do
potpune	A:aef	potpun
razgradnje	N:f	razgradnja
svega	ADV	svega
u	PREP	u
filmu	N:m	film
i	CONJ	i
filma	N:m	film
samog	PRO	sam
.	SENT	.
Buđenje	N:n	Buđenje
iz	PREP	iz
mrtvih	A:aem	mrtav
je	PRO	ona
zato	ADV	zato
sjajan	A:aem	sjajan
primer	N:m	primer
antiteze	N:f	antiteza
filma	N:m	film
kao	CONJ	kao
medija	N:m	medij
:	SENT	:
manjak	N:m	manjak
priče	N:f	priča
u	PREP	u
smislu	N:m	smisao
nepostojanja	N:n	nepostojanje
bilo	V:n	biti
kakvog	PRO	kakav
koherentnog	A:aem	koherentan
zapleta	N:m	zaplet
.	SENT	.
Rasplet	N:m	rasplet
(	PUNCT	(
čega	PRO	šta
?	PUNCT	?
)	PUNCT	)
koji	PRO	koji
iskače	V:m	iskače
iz	PREP	iz
ostatka	N:m	ostatak
filma	N:m	film
kao	CONJ	kao
celina	N:f	celina
za	PREP	za
sebe	PRO	sebe
,	PUNCT	,
nepovezan	A:aem	nepovezan
sa	PREP	sa
onim	PRO	onaj
što	CONJ	što
mu	PRO	on
prethodi	N:m	prethodi
.	SENT	.
Montaža	N:m	Montaža
uz	PREP	uz
neprestano	A:aen	neprestan
insistiranje	N:n	insistiranje
na	PREP	na
fade	N:f	fade
-	PUNCT	-
out	A:aem	out
/	A:aem	/
fade	N:m	fade
-	PUNCT	-
in	ABB	in
prelazima	N:m	prelaz
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
unutar	PREP	unutar
scena	N:f	scena
samih	A:aen	sam
.	PUNCT	.
Frustrirajuće	A:aen	Frustrirajuće
fragmentarna	A:aem	fragmentaran
struktura	N:f	struktura
za	PREP	za
koju	PRO	koji
ne	PAR	ne
postoji	N:m	postoji
opravdanje	N:n	opravdanje
.	SENT	.
Dijalozi	N:m	dijalog
koji	PRO	koji
možda	PAR	možda
mogu	A:aem	mogu
da	CONJ	da
funkcionišu	A:aem	funkcionišu
na	PREP	na
papiru	N:m	papir
i	CONJ	i
jedino	ADV	jedino
na	PREP	na
papiru	N:m	papir
.	SENT	.
Dijalozi	N:m	dijalog
koji	PRO	koji
i	CONJ	i
nisu	N:m	nisu
to	PRO	taj
već	PAR	već
isprovocirani	V:m	isprovocirati
monolozi	N:m	monolog
pa	CONJ	pa
sam	PRO	sam
na	PREP	na
momente	N:m	moment
imao	V:m	imati
utisak	N:m	utisak
da	CONJ	da
gledam	N:m	gledam
monodramu	N:f	monodrama
.	SENT	.
Umrtvljenost	N:f	umrtvljenost
bilo	V:n	biti
kakvog	PRO	kakav
dešavanja	N:n	dešavanje
u	PREP	u
kadru	A:aem	kadar
do	PREP	do
te	PRO	taj
mere	N:f	mera
da	CONJ	da
sam	PRO	sam
mogao	V:m	moći
da	CONJ	da
sklopim	A:aem	sklopim
oči	N:f	oči
i	CONJ	i
pretvaram	N:m	pretvaram
se	PAR	se
da	CONJ	da
slušam	N:m	slušam
radio	N:m	radio
dramu	N:f	drama
.	SENT	.
Gluma	N:f	gluma
,	PUNCT	,
inače	PAR	inače
odličnih	A:aem	odličan
glumaca	N:m	glumac
,	PUNCT	,
koja	PRO	koji
simulira	N:m	simulira
nekakav	PRO	nekakav
teatar	N:m	teatar
.	SENT	.
Nasilno	A:aen	nasilan
oživljavanje	N:n	oživljavanje
umrtvljenih	A:aen	umrtvljen
kadrova	N:m	kadar
rediteljskim	A:aem	rediteljski
zahvatima	N:m	zahvat
koji	PRO	koji
se	PAR	se
mogu	A:aem	mogu
oprostiti	N:m	oprostiti
jedino	ADV	jedino
u	PREP	u
studentskom	A:aef	studentski
filmu	N:m	film
.	SENT	.
Likovi	N:m	lik
koji	PRO	koji
su	N:m	su
nepodnošljivo	ADV	nepodnošljivo
antipatični	A:aem	antipatičan
i	CONJ	i
odbojni	A:aem	odbojan
uključujući	N:n	uključujući
tu	ADV	tu
i	CONJ	i
glavnog	A:aem	glavnog
junaka	N:m	junak
.	SENT	.
Likovi	N:m	lik
koji	PRO	koji
su	N:m	su
tek	CONJ	tek
otelotvorene	A:aef	otelotvoren
metafore	N:f	metafora
,	PUNCT	,
i	CONJ	i
ništa	ADV	ništa
više	ADV	više
.	SENT	.
Samodovoljni	A:aem	samodovoljan
fatalizam	N:m	fatalizam
koji	PRO	koji
mi	PRO	ja
se	PAR	se
smu	V:m	smu
čio	A:aem	čio
nakon	PREP	nakon
pola	N:m	pol
sata	N:m	sat
.	SENT	.
Nemogućnost	N:f	Nemogućnost
filma	N:m	film
da	CONJ	da
izazove	N:m	izazov
bilo	V:n	biti
kakvu	PRO	kakav
emociju	N:f	emocija
osim	PREP	osim
jedne	NUM	jedan
jedine	A:aef	jedini
.	SENT	.
Jedna	NUM	jedan
jedina	A:aef	jedini
emocija	N:f	emocija
koju	PRO	koji
film	N:m	film
izaziva	N:m	izaziva
:	PUNCT	:
gađenje	N:n	gađenje
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
onim	PRO	onaj
što	CONJ	što
se	PAR	se
u	PREP	u
filmu	N:m	film
(	PUNCT	(
ne	PAR	ne
)	PUNCT	)
dešava	N:n	dešava
nego	CONJ	nego
filmom	N:m	film
samim	PRO	sam
.	PUNCT	.
Činjenica	N:f	Činjenica
da	CONJ	da
akteri	N:m	akter
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
doslovno	ADV	doslovno
:	PUNCT	:
seru	N:m	Ser
,	PUNCT	,
pišaju	N:m	pišaju
,	PUNCT	,
povraćaju	N:m	povraćaj
,	PUNCT	,
krvare	N:f	krvara
,	PUNCT	,
i	CONJ	i
još	ADV	još
je	PRO	ona
samo	PAR	samo
nedostajalo	V:n	nedostajati
da	CONJ	da
neko	PRO	neki
izdrka	N:f	izdrka
u	PREP	u
kameru	N:f	kamera
.	SENT	.
Činjenica	N:f	Činjenica
druga	A:aef	drugi
da	CONJ	da
je	PRO	ona
sve	PRO	sav
ovo	PRO	ovaj
prethodno	ADV	prethodno
uglavnom	ADV	uglavnom
puka	A:aef	puki
ogoljenost	N:f	ogoljenost
van	PREP	van
svakog	PRO	svaki
konteksta	N:m	kontekst
.	SENT	.
Ukucavanje	N:n	ukucavanje
poruke	N:f	poruka
u	PREP	u
glavu	N:f	glava
izmučenog	A:aem	izmučen
gledaoca	N:m	gledalac
.	SENT	.
Nekomunikativnost	N:f	nekomunikativnost
filma	N:m	film
koja	PRO	koji
se	PAR	se
graniči	N:m	graniči
sa	PREP	sa
autizmom	N:m	autizam
,	PUNCT	,
što	CONJ	što
je	PRO	ona
u	PREP	u
jezivom	A:aem	jeziv
kontrastu	N:m	kontrast
sa	PREP	sa
potpuno	ADV	potpuno
jasnom	A:aef	jasan
namerom	N:f	namera
autora	N:m	autor
šta	PRO	šta
želi	V:m	žeti
da	CONJ	da
kaže	N:f	kaža
.	SENT	.
Buđenje	N:n	Buđenje
iz	PREP	iz
mrtvih	A:aem	mrtav
je	PRO	ona
film	N:m	film
koji	PRO	koji
je	PRO	ona
Miša	N:m	Miša
Radivojević	N:m	Radivojević
očigledno	ADV	očigledno
morao	V:m	morati
da	CONJ	da
snimi	V:m	snimi
.	SENT	.
Film	N:m	film
u	PREP	u
kome	PRO	koji
postoji	N:m	postoji
bolno	ADV	bolno
velika	A:aen	velik
doza	N:f	doza
istine	N:f	istina
i	CONJ	i
iskrenosti	N:f	iskrenost
.	PUNCT	.
I	CONJ	i
upravo	ADV	upravo
zato	ADV	zato
ni	CONJ	ni
meni	PRO	ja
ne	PAR	ne
preostaje	N:m	preostaje
ništa	ADV	ništa
drugo	A:aen	drugi
nego	CONJ	nego
da	CONJ	da
budem	N:n	budem
brutalno	A:aen	brutalan
iskren	A:aem	iskren
,	PUNCT	,
i	CONJ	i
da	CONJ	da
s	PREP	s
gorčinom	N:f	gorčina
konstatujem	N:m	konstatujem
da	CONJ	da
pravog	A:aem	prav
filma	N:m	film
ovde	ADV	ovde
zapravo	ADV	zapravo
ni	CONJ	ni
nema	A:aem	nem
.	PUNCT	.
Samo	PAR	samo
krik	N:m	krik
bola	N:m	bol
razasut	V:m	razasuti
po	PREP	po
filmskoj	A:aef	filmski
traci	N:f	traka
.	SENT	.
