Predstojeći	A:aem	Predstojeći
FEST	N:m	fest
nam	PRO	mi
kroz	PREP	kroz
nekoliko	ADV	nekoliko
ostvarenja	N:n	ostvarenje
nudi	N:f	nudi
uvid	N:m	uvid
u	PREP	u
stanje	N:n	stanje
novog	A:aem	nov
/	N:m	/
mladog	A:aen	mlad
argentinskog	A:aem	argentinski
filma	N:m	film
,	PUNCT	,
a	CONJ	a
kao	CONJ	kao
ključni	A:aem	ključni
naslov	N:m	naslov
u	PREP	u
toj	PRO	taj
ponudi	N:f	ponuda
donedavno	ADV	donedavno
je	PRO	ona
figurirala	V:m	figurirati
upravo	ADV	upravo
Žena	A:aem	Žena
bez	PREP	bez
glave	N:f	glava
.	SENT	.
Film	N:m	film
je	PRO	ona
misteriozno	ADV	misteriozno
nestao	V:m	nestati
s	PREP	s
festovskog	N:m	festovskog
menija	N:m	meni
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
dalje	ADV	dalje
nosi	A:aef	nosi
titulu	N:f	titula
najboljeg	A:cen	dobar
filma	N:m	film
bez	PREP	bez
distribucije	N:f	distribucija
u	PREP	u
Americi	N:f	Amerika
za	PREP	za
prošlu	A:aef	prošli
godinu	N:f	godina
(	PUNCT	(
po	PREP	po
izboru	N:m	izbor
udruženih	A:aef	udružen
filmskih	A:aen	filmski
web	N:m	web
-	PUNCT	-
recenzenata	N:m	recenzent
)	PUNCT	)
.	SENT	.
Uz	PREP	uz
to	PRO	taj
,	PUNCT	,
prikazan	V:m	prikazati
je	PRO	ona
u	PREP	u
okviru	N:m	okvir
glavnog	A:aem	glavnog
programa	N:m	program
poslednjeg	A:aen	poslednji
festivala	N:m	festival
u	PREP	u
Kanu	N:m	Kan
.	PUNCT	.
U	PREP	u
toj	PRO	taj
i	CONJ	i
takvoj	PRO	takav
postavci	N:f	postavka
,	PUNCT	,
zanimljivo	ADV	zanimljivo
je	PRO	ona
videti	N:f	videti
kakvi	PRO	kakav
su	N:m	su
dometi	N:m	domet
ovog	PRO	ovaj
hvaljenog	A:aen	hvaljen
ostvarenja	N:n	ostvarenje
.	SENT	.
Argentinska	A:aef	argentinski
kinematografija	N:f	kinematografija
je	PRO	ona
možda	PAR	možda
u	PREP	u
usponu	N:m	uspon
,	PUNCT	,
ali	CONJ	ali
Žena	N:f	Žena
bez	PREP	bez
glave	N:f	glava
svakako	ADV	svakako
ne	PAR	ne
spada	V:m	spada
u	PREP	u
grupu	N:f	grupa
filmova	N:m	film
koji	PRO	koji
zavređuju	N:m	zavređuju
neku	PRO	neki
posebnu	A:aen	poseban
međunarodnu	A:aef	međunarodan
pažnju	N:f	pažnja
.	SENT	.
Režiserka	N:f	Režiserka
Lucrecia	N:m	Lucrecia
Martel	N:m	Martel
(	PUNCT	(
koja	PRO	koji
je	PRO	ona
napisala	V:f	napisati
i	CONJ	i
scenario	N:m	scenario
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
je	PRO	ona
u	PREP	u
potpunosti	N:f	potpunost
odgovorna	A:aem	odgovoran
za	PREP	za
ne	PAR	ne
/	A:aem	/
uspeh	N:m	uspeh
projekta	N:m	projekt
)	PUNCT	)
želela	V:f	želeti
je	PRO	ona
da	CONJ	da
u	PREP	u
svom	PRO	sav
filmu	N:m	film
što	CONJ	što
vernije	A:ben	veran
dočara	N:m	dočara
život	N:m	život
argentinske	A:aef	argentinski
srednje	A:aem	srednji
klase	N:f	klasa
.	PUNCT	.
I	CONJ	i
mada	CONJ	mada
je	PRO	ona
u	PREP	u
tome	PRO	taj
,	PUNCT	,
reklo	V:n	reći
bi	V:n	bi
se	PAR	se
,	PUNCT	,
dobrim	A:aef	dobar
delom	ADV	delom
uspela	V:f	uspeti
,	PUNCT	,
negde	ADV	negde
tokom	PREP	tokom
stvaralačkog	A:aen	stvaralački
zanosa	N:m	zanos
zaboravljeno	V:n	zaboraviti
je	PRO	ona
zlatno	A:aen	zlatan
Hitchcockovo	A:aen	Hitchcockovo
pravilo	N:n	pravilo
da	CONJ	da
film	N:m	film
treba	N:f	treba
da	CONJ	da
bude	A:aem	bude
„	A:aem	„
život	N:m	život
bez	PREP	bez
dosadnih	A:aem	dosadan
delova	N:m	deo
“	N:m	“
.	SENT	.
A	CONJ	a
počelo	V:n	početi
je	PRO	ona
dobro	N:n	dobro
.	SENT	.
Dok	CONJ	dok
je	PRO	ona
vozila	N:n	vozilo
slabo	ADV	slabo
prometnim	A:aem	prometnim
putem	N:m	put
,	PUNCT	,
sredovečna	A:aem	sredovečan
ali	CONJ	ali
dobrodržeća	A:aem	dobrodržeći
Vero	N:m	Vera
(	PUNCT	(
María	N:m	María
Onetto	N:m	Onetto
)	PUNCT	)
kolima	N:n	kola
je	PRO	ona
naletela	V:f	naleteti
na	PREP	na
nekoga	PRO	neki
ili	CONJ	ili
nešto	ADV	nešto
.	PUNCT	.
Preplašena	A:aem	Preplašena
i	CONJ	i
pometena	A:aem	pometen
,	PUNCT	,
žena	N:f	žena
nastavlja	N:n	nastavlja
dalje	ADV	dalje
ne	PAR	ne
proverivši	N:m	proverivši
šta	PRO	šta
se	PAR	se
dogodilo	V:n	dogoditi
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
savest	N:f	savest
uskoro	ADV	uskoro
počinje	N:f	počinje
da	CONJ	da
je	PRO	ona
grize	N:f	grize
i	CONJ	i
Vero	N:m	Vera
,	PUNCT	,
tako	ADV	tako
bar	PAR	bar
izgeda	N:f	izgeda
,	PUNCT	,
ne	PAR	ne
može	A:aem	može
da	CONJ	da
pronađe	A:aem	pronađe
mir	N:m	mir
dok	CONJ	dok
ne	PAR	ne
sazna	A:aem	sazna
odgovor	N:m	odgovor
na	PREP	na
pitanje	N:n	pitanje
da	CONJ	da
li	PAR	li
je	PRO	ona
postala	V:f	postati
ubica	N:m	ubica
ili	CONJ	ili
ne	PAR	ne
?	PUNCT	?
Nažalost	N:f	Nažalost
,	PUNCT	,
ako	CONJ	ako
se	PAR	se
izuzmu	A:aem	izuzmu
obećavajući	A:aem	obećavajući
početak	N:m	početak
i	CONJ	i
kvalitetna	A:aef	kvalitetan
fotografija	N:f	fotografija
,	PUNCT	,
Žena	A:aem	Žena
bez	PREP	bez
glave	N:f	glava
nema	A:aem	nem
mnogo	ADV	mnogo
da	CONJ	da
ponudi	N:f	ponuda
.	SENT	.
Problema	N:m	problem
ima	A:aem	ima
pregršt	N:f	pregršt
,	PUNCT	,
a	CONJ	a
glavni	A:aem	glavni
je	PRO	ona
osećaj	N:m	osećaj
da	CONJ	da
ste	A:aem	ste
film	N:m	film
počeli	V:m	početi
da	CONJ	da
gledate	N:m	gledate
od	PREP	od
sredine	N:f	sredina
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
stvari	N:f	stvar
se	PAR	se
mogu	A:aem	mogu
povezati	N:m	povezati
i	CONJ	i
tokom	PREP	tokom
filma	N:m	film
,	PUNCT	,
u	PREP	u
hodu	N:m	hod
,	PUNCT	,
ne	PAR	ne
mora	N:n	more
sve	PRO	sav
biti	N:f	bit
servirano	V:n	servirati
na	PREP	na
tanjiru	N:m	tanjir
,	PUNCT	,
ali	CONJ	ali
Martel	N:m	Martel
zaista	ADV	zaista
preteruje	N:m	preteruje
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
ne	PAR	ne
postoji	N:m	postoji
ni	CONJ	ni
nagoveštaj	N:m	nagoveštaj
pokušaja	N:m	pokušaj
da	CONJ	da
se	PAR	se
objasne	A:aem	objasne
odnosi	N:m	odnos
među	PREP	među
likovima	N:m	lik
–	A:aem	–
gledaocu	N:m	gledalac
je	PRO	ona
ostavljeno	V:n	ostaviti
da	CONJ	da
nagađa	V:n	nagađa
ko	PRO	ko
je	PRO	ona
kome	PRO	koji
ko	PRO	ko
,	PUNCT	,
što	CONJ	što
gledalačko	A:aen	gledalački
iskustvo	N:n	iskustvo
čini	N:f	čini
mučnim	A:aen	mučan
i	CONJ	i
napornim	A:aen	naporan
.	SENT	.
U	PREP	u
više	ADV	više
navrata	N:m	navrat
tokom	PREP	tokom
filma	N:m	film
,	PUNCT	,
bez	PREP	bez
bilo	V:n	biti
kakve	PRO	kakav
pripreme	N:f	priprema
,	PUNCT	,
u	PREP	u
priču	N:f	priča
se	PAR	se
uvodi	N:m	uvod
po	PREP	po
šest	NUM	šest
i	CONJ	i
više	ADV	više
likova	N:n	likovo
;	SENT	;
kadar	A:aem	kadar
je	PRO	ona
gotovo	ADV	gotovo
uvek	ADV	uvek
krcat	A:aem	krcat
ljudima	N:m	ljudi
koji	PRO	koji
pričaju	N:m	pričaju
,	PUNCT	,
spremaju	N:m	spremaju
hranu	N:f	hrana
,	PUNCT	,
gledaju	N:m	gledaju
televiziju	N:f	televizija
.	PUNCT	.
.	SENT	.
.	PUNCT	.
U	PREP	u
svom	PRO	sav
tom	PRO	taj
mnoštvu	N:n	mnoštvo
,	PUNCT	,
gubi	N:f	guba
se	PAR	se
fokus	N:m	fokus
.	PUNCT	.
Zamislite	N:m	Zamislite
da	CONJ	da
ste	A:aem	ste
se	PAR	se
našli	V:m	naći
u	PREP	u
prostoriji	N:f	prostorija
prepunoj	A:aef	prepun
nepoznatih	A:aen	nepoznat
ljudi	N:m	ljudi
.	SENT	.
Koliko	ADV	koliko
vremena	N:n	vreme
bi	A:aen	bi
vam	PRO	vi
trebalo	V:n	trebati
da	CONJ	da
sami	PRO	sam
,	PUNCT	,
bez	PREP	bez
pomoći	N:f	pomoć
,	PUNCT	,
proniknete	N:m	proniknete
u	PREP	u
njihove	PRO	njihov
odnose	N:m	odnos
?	PUNCT	?
I	CONJ	i
taman	PAR	taman
kad	CONJ	kad
ste	A:aen	ste
bar	PAR	bar
koliko	ADV	koliko
-	PUNCT	-
toliko	ADV	toliko
pohvatali	V:m	pohvatati
konce	N:m	konac
(	PUNCT	(
ili	CONJ	ili
ste	V:m	ste
bar	PAR	bar
na	PREP	na
dobrom	A:aem	dobar
putu	N:m	put
)	PUNCT	)
,	PUNCT	,
Martel	N:m	Martel
uvodi	N:m	uvod
novu	A:aef	nov
grupu	N:f	grupa
,	PUNCT	,
i	CONJ	i
tako	ADV	tako
do	PREP	do
kraja	N:m	kraj
filma	N:m	film
,	PUNCT	,
iznova	ADV	iznova
i	CONJ	i
iznova	ADV	iznova
.	SENT	.
Nepreglednosti	N:f	nepreglednost
doprinose	N:m	doprinos
i	CONJ	i
neobični	A:aem	neobičan
uglovi	N:m	ugao
kamere	N:f	kamera
koji	PRO	koji
onemogućavaju	N:f	onemogućavaju
gledaocu	N:m	gledalac
da	CONJ	da
vidi	N:f	vida
šta	PRO	šta
se	PAR	se
tačno	ADV	tačno
događa	V:m	događa
.	SENT	.
Ova	PRO	ovaj
taktika	N:f	taktika
u	PREP	u
prvom	A:aen	prvi
trenutku	N:m	trenutak
može	A:aen	može
predstavljati	A:aem	predstavljati
osveženje	N:n	osveženje
,	PUNCT	,
ali	CONJ	ali
posle	PREP	posle
prve	A:aem	prvi
trećine	N:f	trećina
fima	N:f	Fima
postaje	N:f	postaja
iritirajuće	A:aem	iritirajući
repetitivna	A:aen	repetitivna
.	SENT	.
Likovi	N:m	lik
ispadaju	N:m	ispadaju
iz	PREP	iz
kadra	A:aen	kadar
,	PUNCT	,
drugi	A:aem	drugi
se	PAR	se
roje	N:m	roj
negde	ADV	negde
po	PREP	po
rubovima	N:m	rub
,	PUNCT	,
a	CONJ	a
omiljeni	A:aem	omiljen
režiserkin	A:aem	režiserkin
postupak	N:m	postupak
je	PRO	ona
da	CONJ	da
postavi	N:f	postava
kameru	N:f	kamera
na	PREP	na
zadnje	A:aen	zadnji
sedište	N:n	sedište
automobila	N:m	automobil
i	CONJ	i
snima	N:m	san
vožnju	N:f	vožnja
po	PREP	po
argentinskim	A:aem	argentinski
krajolicima	N:m	krajolik
(	PUNCT	(
ovo	PRO	ovaj
se	PAR	se
nekoliko	ADV	nekoliko
puta	ADV	puta
ponavlja	N:n	ponavlja
i	CONJ	i
traje	N:m	traje
duže	ADV	duže
nego	CONJ	nego
što	CONJ	što
bi	A:aem	bi
ekonomičnost	N:f	ekonomičnost
filmskog	A:aem	filmski
vremena	N:n	vreme
dozvoljavala	V:m	dozvoljavati
)	PUNCT	)
.	SENT	.
Kada	CONJ	kada
se	PAR	se
sve	PRO	sav
sabere	N:m	sabere
,	PUNCT	,
pred	PREP	pred
nama	PRO	mi
je	PRO	ona
gotovo	ADV	gotovo
negledljivo	A:aen	negledljivo
ostvarenje	N:n	ostvarenje
čiji	PRO	čiji
autori	N:m	autor
su	PREF	su
iscrpeli	A:aem	iscrpeo
svo	N:f	svo
svoje	PRO	svoj
znanje	N:n	znanje
u	PREP	u
silnoj	A:aef	silan
želji	N:f	želja
da	CONJ	da
oneobiče	A:aem	oneobiče
stvari	N:f	stvar
,	PUNCT	,
neželjeno	A:aen	neželjen
prešavši	N:n	prešavši
demarkacionu	A:aef	demarkacioni
liniju	N:f	linija
koja	PRO	koji
razdvaja	N:f	razdvaja
umetnost	N:f	umetnost
i	CONJ	i
umetničarenje	N:n	umetničarenje
,	PUNCT	,
osobenost	N:f	osobenost
i	CONJ	i
jalovo	A:aen	jalov
eksperimentisanje	N:n	eksperimentisanje
,	PUNCT	,
smislenost	N:f	smislenost
i	CONJ	i
zaludnost	N:f	zaludnost
.	SENT	.
