Da	CONJ	da
li	PAR	li
se	PAR	se
u	PREP	u
drugom	A:aef	drugi
veku	N:m	vek
filma	N:m	film
samom	PRO	sam
kvalitetu	N:m	kvalitet
filma	N:m	film
i	CONJ	i
umešnosti	N:f	umešnost
filmskog	A:aem	filmski
izraza	N:m	izraz
može	A:aem	može
i	CONJ	i
sme	A:aem	sme
pretpostaviti	A:aem	pretpostaviti
tema	N:f	tema
(	PUNCT	(
sa	PREP	sa
svim	PRO	sav
dodatnim	A:aen	dodatan
implikacijama	N:f	implikacija
koje	PRO	koji
ona	PRO	ona
sa	PREP	sa
sobom	PRO	sebe
ponese	N:m	ponese
)	PUNCT	)
koje	PRO	koji
su	N:m	su
se	PAR	se
autori	N:m	autor
prihvatili	V:m	prihvatiti
?	SENT	?
Čini	N:m	Čina
li	PAR	li
se	PAR	se
dobro	ADV	dobro
filmu	N:m	film
kojem	PRO	koji
nespretnu	A:aef	nespretan
ili	CONJ	ili
potpuno	ADV	potpuno
rđavu	A:aef	rđav
egzekuciju	N:f	egzekucija
oprostimo	N:f	oprostimo
na	PREP	na
račun	N:m	račun
društveno	ADV	društveno
angažovane	V:f	angažovati
teme	N:f	tema
o	PREP	o
kojoj	PRO	koji
svakako	PAR	svakako
treba	N:f	treba
govoriti	N:m	govoriti
i	CONJ	i
koja	PRO	koji
,	PUNCT	,
sama	PRO	sam
po	PREP	po
sebi	PRO	sebe
,	PUNCT	,
nikako	ADV	nikako
ne	PAR	ne
predstavlja	N:n	predstavlja
tabu	N:m	tabu
ili	CONJ	ili
zabranjenu	A:aem	zabranjen
zonu	N:f	zona
za	PREP	za
autore	N:m	autor
koji	PRO	koji
su	N:m	su
umešniji	A:bem	umešan
i	CONJ	i
svojim	PRO	svoj
zanatima	N:m	zanat
vičniji	A:bem	vičan
?	SENT	?
Osim	PREP	osim
preganjanja	N:n	preganjanje
po	PREP	po
pitanju	N:n	pitanje
nadmoći	N:f	nadmoć
između	PREP	između
„	N:m	„
šta	PRO	šta
“	N:m	“
i	CONJ	i
„	N:m	„
kako	CONJ	kako
“	N:m	“
,	PUNCT	,
procenu	N:f	procena
dometa	N:m	domet
kvaliteta	N:m	kvalitet
Sestara	N:m	Sestara
Vladimira	N:m	Vladimir
Paskaljevića	N:m	Paskaljević
dodatno	A:aen	dodatan
opterećuje	N:m	opterećuje
i	CONJ	i
upitna	A:aef	upitni
priroda	N:f	priroda
samog	PRO	sam
projekta	N:m	projekt
.	SENT	.
Da	CONJ	da
li	PAR	li
je	PRO	ona
pred	PREP	pred
nama	PRO	mi
igrani	A:aem	igran
film	N:m	film
viđen	V:m	viditi
za	PREP	za
bioskopski	A:aem	bioskopski
kontekst	N:m	kontekst
,	PUNCT	,
još	ADV	još
uvek	ADV	uvek
neuhlebljeni	A:aem	neuhlebljeni
TV	A:aem	TV
film	N:m	film
kome	PRO	koji
se	PAR	se
posrećilo	V:n	posrećiti
,	PUNCT	,
pa	CONJ	pa
je	PRO	ona
stigao	V:m	stignuti
i	CONJ	i
u	PREP	u
kino	N:n	kino
-	PUNCT	-
dvorane	N:f	dvorana
(	PUNCT	(
istini	N:f	istina
za	PREP	za
volju	N:f	volja
,	PUNCT	,
zasad	ADV	zasad
bi	A:aef	bi
jednina	N:f	jednina
ovde	ADV	ovde
bila	V:f	biti
daleko	ADV	daleko
tačnija	A:bef	tačan
i	CONJ	i
primerenija	A:bef	primeren
)	PUNCT	)
,	PUNCT	,
prvoj	A:aef	prvi
epizodi	N:f	epizoda
TV	A:aem	TV
serije	N:f	serija
(	PUNCT	(
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
bilo	V:n	biti
i	CONJ	i
najavljivano	V:n	najavljivati
,	PUNCT	,
mada	CONJ	mada
pod	PREP	pod
naslovom	N:m	naslov
Moderno	A:aen	moderan
ropstvo	N:n	ropstvo
)	PUNCT	)
ili	CONJ	ili
obrazovnom	A:aef	obrazovni
filmu	N:m	film
sa	PREP	sa
vidno	ADV	vidno
ambicioznijom	A:bef	ambiciozan
egzekucijom	N:f	egzekucija
u	PREP	u
svakom	PRO	svaki
pogledu	N:m	pogled
?	PUNCT	?
Bilo	V:n	biti
kako	CONJ	kako
bilo	V:n	biti
,	PUNCT	,
ove	PRO	ovaj
i	CONJ	i
ovakve	PRO	ovakav
Sestre	N:m	Sestre
su	N:m	su
se	PAR	se
,	PUNCT	,
nakon	PREP	nakon
svečarske	A:aef	svečarski
premijere	N:f	premijera
uz	PREP	uz
prisustvo	N:n	prisustvo
državnog	A:aen	državni
vrha	N:m	vrh
,	PUNCT	,
našle	V:f	naći
pred	PREP	pred
bioskopskom	A:aef	bioskopski
publikom	N:f	publika
koja	PRO	koji
je	PRO	ona
za	PREP	za
to	PRO	taj
zadovoljstvo	N:n	zadovoljstvo
morala	N:m	moral
da	CONJ	da
plati	N:f	plata
iznos	N:m	iznos
bioskopske	A:aef	bioskopski
ulaznice	N:f	ulaznica
,	PUNCT	,
te	CONJ	te
se	PAR	se
čini	N:f	čini
da	CONJ	da
je	PRO	ona
jedino	ADV	jedino
pošteno	ADV	pošteno
o	PREP	o
ovom	PRO	ovaj
filmu	N:m	film
suditi	N:m	suditi
po	PREP	po
aršinima	N:m	aršin
postavljenim	A:aef	postavljen
za	PREP	za
sve	PRO	sav
ovdašnje	A:aen	ovdašnji
produkcije	N:f	produkcija
koje	PRO	koji
dobace	N:m	dobace
do	PREP	do
kino	N:n	kino
-	PUNCT	-
distribucije	N:f	distribucija
.	PUNCT	.
Nevolja	N:f	nevolja
je	PRO	ona
što	CONJ	što
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
,	PUNCT	,
čak	PAR	čak
imajući	A:aem	imajući
u	PREP	u
vidu	N:f	vida
osetno	ADV	osetno
spuštenu	A:aef	spušten
rampu	N:f	rampa
očekivanja	N:n	očekivanje
za	PREP	za
proizvode	N:m	proizvod
srpskih	A:aef	srpski
autora	N:m	autor
u	PREP	u
poslednjoj	A:aef	poslednji
deceniji	N:f	decenija
,	PUNCT	,
ne	PAR	ne
nudi	N:f	nudi
ni	CONJ	ni
jedan	NUM	jedan
vidan	A:aem	vidan
razlog	N:m	razlog
za	PREP	za
pohvalu	N:f	pohvala
i	CONJ	i
/	N:m	/
ili	CONJ	ili
aboliciju	N:f	abolicija
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
naprosto	ADV	naprosto
loš	A:aem	loš
film	N:m	film
.	SENT	.
Sestre	N:f	sestra
su	PREF	su
priča	N:f	priča
o	PREP	o
pošasti	N:f	pošast
trgovine	N:f	trgovina
ljudima	N:m	ljudi
,	PUNCT	,
o	PREP	o
lancu	N:m	lanac
prodaje	N:f	prodaja
i	CONJ	i
preprodaje	N:f	preprodaja
belog	A:aem	beo
roblja	N:n	roblje
,	PUNCT	,
lancu	N:m	lanac
u	PREP	u
kojem	PRO	koji
je	PRO	ona
i	CONJ	i
savremena	A:aem	savremen
Srbija	N:f	Srbija
hitro	ADV	hitro
pronašla	V:f	pronaći
kariku	N:f	karika
za	PREP	za
sebe	PRO	sebe
.	SENT	.
Dve	NUM	dva
tek	CONJ	tek
punoletne	A:aef	punoletan
sestre	N:f	sestra
,	PUNCT	,
na	PREP	na
pragu	N:m	prag
ushićenja	N:n	ushićenje
stupanjem	N:n	stupanje
otadžbine	N:f	otadžbina
im	PRO	ona
na	PREP	na
belu	A:aef	beo
šengensku	A:aef	šengenski
listu	N:f	lista
,	PUNCT	,
kreću	A:aem	kreću
put	N:m	put
Italije	N:f	Italija
gde	CONJ	gde
će	N:n	će
raditi	A:aem	raditi
u	PREP	u
klubovima	N:m	klub
kao	CONJ	kao
animatorke	N:f	animatorke
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
već	PAR	već
na	PREP	na
prvoj	A:aef	prvi
stanki	N:f	stanka
tokom	PREP	tokom
tog	PRO	taj
puta	N:m	put
bivaju	N:f	bivaju
prinuđene	V:f	prinuditi
na	PREP	na
rad	N:m	rad
u	PREP	u
tajnom	A:aen	tajni
kupleraju	N:m	kupleraj
,	PUNCT	,
gde	CONJ	gde
počinje	N:f	počinje
njihova	PRO	njihov
golgota	N:f	golgota
,	PUNCT	,
pri	PREP	pri
čemu	PRO	šta
starija	A:bem	star
od	PREP	od
sestara	N:f	sestra
uspeva	N:m	uspeva
da	CONJ	da
utekne	V:m	utekne
svojim	PRO	svoj
tamničarima	N:m	tamničar
i	CONJ	i
uz	PREP	uz
pomoć	N:f	pomoć
policije	N:f	policija
,	PUNCT	,
sudstva	N:n	sudstvo
i	CONJ	i
osoblja	N:n	osoblje
jedne	NUM	jedan
od	PREP	od
Sigurnih	A:aef	siguran
kuća	N:f	kuća
krene	N:m	kren
da	CONJ	da
spase	N:m	Spasa
mlađu	A:bef	mlad
sestru	N:f	sestra
i	CONJ	i
ostale	V:f	ostati
sapatnice	N:f	sapatnice
.	SENT	.
Na	PREP	na
nivou	N:m	nivo
pukog	A:aem	puki
sinopsisa	N:m	sinopsis
pred	PREP	pred
nama	PRO	mi
je	PRO	ona
ciljano	ADV	ciljano
tipizirana	A:aef	tipiziran
priča	N:f	priča
o	PREP	o
uobičajenoj	A:aef	uobičajen
genezi	N:f	geneza
događaja	N:m	događaj
kada	CONJ	kada
je	PRO	ona
trgovina	N:f	trgovina
ljudima	N:m	ljudi
u	PREP	u
pitanju	N:n	pitanje
.	SENT	.
To	PRO	taj
samo	PAR	samo
po	PREP	po
sebi	PRO	sebe
ne	PAR	ne
bi	V:n	bi
predstavljalo	V:n	predstavljati
krunsku	A:aef	krunski
falinku	N:f	falinku
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
da	CONJ	da
ono	PRO	onaj
nije	A:aen	nije
preopterećeno	A:aen	preopterećen
ishitrenom	A:aef	ishitren
egzekucijom	N:f	egzekucija
,	PUNCT	,
lošim	A:aef	loš
rešenjima	N:n	rešenje
(	PUNCT	(
uobičajeno	ADV	uobičajeno
kataklizmično	A:aen	kataklizmičan
loša	A:aem	loš
gluma	N:f	gluma
sestara	N:f	sestra
Maljević	N:m	Maljević
,	PUNCT	,
na	PREP	na
primer	N:m	primer
)	PUNCT	)
i	CONJ	i
dramaturgijom	N:f	dramaturgija
koja	PRO	koji
se	PAR	se
zasniva	N:n	zasniva
na	PREP	na
pukoj	A:aef	puki
ilustraciji	N:f	ilustracija
zadate	V:f	zadati
/	A:aem	/
izabrane	A:aef	izabran
teme	N:f	tema
.	SENT	.
Sve	PRO	sav
to	PRO	taj
u	PREP	u
zbiru	N:m	zbir
dovodi	N:m	dovod
do	PREP	do
toga	PRO	taj
da	CONJ	da
Sestre	N:m	Sestre
ostavljaju	N:m	ostavljaju
utisak	N:m	utisak
otvorneo	V:m	otvorneo
i	CONJ	i
trapavo	ADV	trapavo
didaktičnog	A:aem	didaktičan
filma	N:m	film
.	SENT	.
Šablonizovani	A:aem	Šablonizovani
likovi	N:m	lik
onemogućavaju	N:f	onemogućavaju
bilo	V:n	biti
kakvu	PRO	kakav
vrstu	N:f	vrsta
emocionalnog	A:aen	emocionalan
angažmana	N:m	angažman
,	PUNCT	,
time	PRO	taj
,	PUNCT	,
naravno	PAR	naravno
,	PUNCT	,
udaljavajući	N:n	udaljavajući
ovo	PRO	ovaj
delo	N:n	delo
i	CONJ	i
od	PREP	od
jednog	NUM	jedan
od	PREP	od
svojih	PRO	svoj
,	PUNCT	,
reklo	V:n	reći
bi	V:n	bi
se	PAR	se
,	PUNCT	,
primarnih	A:aef	primaran
ciljeva	N:m	cilj
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
podizanje	N:n	podizanje
svesti	N:f	svest
o	PREP	o
značaju	N:m	značaj
ove	PRO	ovaj
krupne	A:aef	krupan
tegobe	N:f	tegoba
i	CONJ	i
velike	A:aem	velik
opasnosti	N:f	opasnost
.	SENT	.
Ostaje	N:m	Ostaje
nimalo	ADV	nimalo
zanimljiva	A:aem	zanimljiv
i	CONJ	i
gotovo	ADV	gotovo
antifilmska	A:aef	antifilmski
priča	N:f	priča
izatkana	V:f	izatkati
na	PREP	na
osnovi	N:f	osnova
od	PREP	od
opštih	A:aen	opšti
mesta	N:n	mesto
,	PUNCT	,
prvoloptaških	A:aem	prvoloptaških
poteza	N:m	potez
i	CONJ	i
suštinske	A:aef	suštinski
banalnosti	N:f	banalnost
.	SENT	.
Na	PREP	na
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
primetno	ADV	primetno
je	PRO	ona
sladostrašće	N:n	sladostrašće
sa	PREP	sa
kojim	PRO	koji
reditelj	N:m	reditelj
pristupa	N:m	pristup
realizaciji	N:f	realizacija
prizora	N:m	prizor
mučenja	N:n	mučenje
i	CONJ	i
iživljavanja	N:n	iživljavanje
nad	PREP	nad
zatočenicama	N:f	zatočenica
,	PUNCT	,
te	CONJ	te
ta	PRO	taj
mahnitost	N:f	mahnitost
uz	PREP	uz
podosta	ADV	podosta
repetitivnosti	N:f	repetitivnosti
izaziva	A:aef	izaziva
mučninu	N:f	mučnina
kod	PREP	kod
gledalaca	N:m	gledalac
,	PUNCT	,
pri	PREP	pri
tom	PRO	taj
ga	PRO	on
,	PUNCT	,
naravno	PAR	naravno
,	PUNCT	,
otuđujući	A:aem	otuđujući
od	PREP	od
priče	N:f	priča
i	CONJ	i
likova	N:n	likovo
do	PREP	do
kojih	PRO	koji
bi	N:m	bi
trebalo	V:n	trebati
da	CONJ	da
im	PRO	ona
je	PRO	ona
stalo	V:n	stati
.	SENT	.
Na	PREP	na
mahove	N:m	mah
Paskaljevićeve	A:aem	Paskaljevićev
Sestre	N:m	Sestre
odlikuje	N:f	odlikuje
raspojasanost	N:f	raspojasanost
i	CONJ	i
nemoralnost	N:f	nemoralnost
sekspoatacijskih	A:aen	sekspoatacijskih
naslova	N:m	naslov
sirotinjskih	A:aen	sirotinjski
produikcija	N:f	produikcija
evropskih	A:aen	evropski
i	CONJ	i
američkih	A:aef	američki
sedamdesetih	A:aen	sedamdeseti
godina	N:f	godina
prošlog	A:aen	prošli
veka	N:m	vek
,	PUNCT	,
a	CONJ	a
šok	N:m	šok
postane	N:m	postane
samom	PRO	sam
sebi	PRO	sebe
svrha	N:f	svrha
bez	PREP	bez
iole	ADV	iole
promišljanja	N:n	promišljanje
o	PREP	o
propuštenim	A:aem	propušten
potencijalima	N:m	potencijal
takvog	PRO	takav
zahvata	N:m	zahvat
.	SENT	.
To	PRO	taj
,	PUNCT	,
i	CONJ	i
ne	PAR	ne
samo	PAR	samo
to	PRO	taj
,	PUNCT	,
naravno	PAR	naravno
,	PUNCT	,
predstavljaće	A:aem	predstavljaće
krupnu	A:aef	krupan
prepreku	N:f	prepreka
na	PREP	na
planu	N:m	plan
upotrebljivosti	N:f	upotrebljivost
samog	PRO	sam
filma	N:m	film
u	PREP	u
edukativne	A:aef	edukativan
svrhe	N:f	svrha
ili	CONJ	ili
u	PREP	u
nastojanju	N:n	nastojanje
producenata	N:m	producent
da	CONJ	da
ga	PRO	on
plasiraju	N:m	plasiraju
kao	CONJ	kao
deo	N:m	deo
ponudu	N:f	ponuda
ovdašnjih	A:aef	ovdašnji
televizija	N:f	televizija
(	PUNCT	(
koje	PRO	koji
još	ADV	još
uvek	ADV	uvek
drže	A:aem	drže
do	PREP	do
ekskluzivnosti	N:f	ekskluzivnost
domaćeg	A:aem	domaći
igranog	A:aem	igran
programa	N:m	program
)	PUNCT	)
u	PREP	u
iole	ADV	iole
pristojnijem	A:bem	pristojan
terminu	N:m	termin
.	PUNCT	.
A	CONJ	a
time	PRO	taj
se	PAR	se
problematizuje	N:f	problematizuje
i	CONJ	i
smislenost	N:f	smislenost
čitavog	A:aen	čitav
projekta	N:m	projekt
ispraćenog	A:aem	ispraćen
ovakvim	PRO	ovakav
pristupom	N:m	pristup
.	SENT	.
Ova	PRO	ovaj
tema	N:f	tema
moraće	N:m	moraće
da	CONJ	da
sačeka	N:m	sačeka
vrlije	N:f	vrlije
i	CONJ	i
iskrenije	A:bem	iskren
.	SENT	.
