Alexandre	N:m	Alexandre
Aja	N:m	Aja
,	PUNCT	,
Francuz	N:m	Francuz
na	PREP	na
privremenom	A:aef	privremen
radu	N:m	rad
u	PREP	u
Holivudu	N:m	Holivud
,	PUNCT	,
počastio	V:m	počastiti
nas	PRO	mi
je	PRO	ona
2010	NUM	@card@
.	PUNCT	.
jednom	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
horor	N:m	horor
komedija	N:f	komedija
u	PREP	u
poslednjih	A:aem	poslednji
10	NUM	@card@
godina	N:f	godina
.	SENT	.
Pirana	N:m	Piran
3	NUM	@card@
D	N:f	D
je	PRO	ona
bila	V:f	biti
baš	PAR	baš
kako	ADV	kako
treba	N:f	treba
:	PUNCT	:
praznoglava	A:aef	praznoglav
razbibriga	N:f	razbibriga
sa	PREP	sa
puno	A:aen	pun
golih	A:aen	golih
lepotica	N:f	lepotica
i	CONJ	i
izgladnelih	A:aef	izgladneo
pirana	N:f	pirana
.	SENT	.
Natavak	N:m	Natavak
,	PUNCT	,
Pirana	N:m	Piran
3	NUM	@card@
DD	A:aem	DD
,	PUNCT	,
pokušava	A:aem	pokušava
da	CONJ	da
ponovi	A:aem	ponovi
uspešnu	A:aem	uspešan
formulu	N:f	formula
,	PUNCT	,
ali	CONJ	ali
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
naslov	N:m	naslov
(	PUNCT	(
duplo	A:aen	dupli
D	N:f	D
je	PRO	ona
tu	ADV	tu
da	CONJ	da
obeća	A:aen	obeća
dvostruku	A:aem	dvostruk
dozu	N:f	doza
akcije	N:f	akcija
i	CONJ	i
straha	N:m	strah
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
još	ADV	još
prsatije	A:bef	prsat
epizodistkinje	N:f	epizodistkinje
)	PUNCT	)
,	PUNCT	,
u	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
krajnje	A:aem	krajnji
problematičan	A:aem	problematičan
naslov	N:m	naslov
koji	PRO	koji
ne	PAR	ne
uspeva	V:f	uspeva
da	CONJ	da
parira	V:f	parira
prethodniku	N:m	prethodnik
.	SENT	.
U	PREP	u
teoriji	N:f	teorija
,	PUNCT	,
John	N:m	John
Gulager	N:m	Gulager
nije	N:m	nije
bio	V:m	biti
loš	A:aem	loš
izbor	N:m	izbor
za	PREP	za
reditelja	N:m	reditelj
.	SENT	.
On	PRO	on
je	PRO	ona
skrenuo	V:m	skrenuti
pažnju	N:f	pažnja
na	PREP	na
sebe	PRO	sebe
trodelnim	A:aem	trodelan
serijalom	N:m	serijal
Gozba	N:f	gozba
(	PUNCT	(
Feast	A:aem	Feast
)	PUNCT	)
o	PREP	o
napadu	N:m	napad
izgladnelih	A:aem	izgladneo
vanzemaljaca	N:m	vanzemaljac
na	PREP	na
jedan	NUM	jedan
američki	A:aem	američki
gradić	N:m	gradić
.	SENT	.
Ukrštajući	A:aem	Ukrštajući
stravu	N:f	strava
i	CONJ	i
komediju	N:f	komedija
,	PUNCT	,
Gulager	N:m	Gulager
je	PRO	ona
snimio	V:m	snimiti
jeftine	A:aef	jeftin
,	PUNCT	,
ali	CONJ	ali
do	ADV	do
određene	V:f	odrediti
mere	N:f	mera
efektne	A:aem	efektan
B	ABB	B
filmove	N:m	film
.	SENT	.
Pirana	N:m	Piran
3	NUM	@card@
DD	N:m	DD
je	PRO	ona
još	ADV	još
jedan	NUM	jedan
bljuzga	N:m	bljuzga
horor	N:m	horor
iz	PREP	iz
Gulagerove	A:aef	Gulagerove
radionice	N:f	radionica
,	PUNCT	,
ali	CONJ	ali
ovoga	PRO	ovaj
puta	ADV	puta
rezultat	N:m	rezultat
je	PRO	ona
prilično	ADV	prilično
loš	A:aem	loš
,	PUNCT	,
verovatno	ADV	verovatno
i	CONJ	i
zato	ADV	zato
što	CONJ	što
su	N:m	su
očekivanja	N:n	očekivanje
bila	V:f	biti
veća	A:bef	velik
.	SENT	.
Posle	PREP	posle
prve	A:aem	prvi
polovine	N:f	polovina
filma	N:m	film
koja	PRO	koji
je	PRO	ona
još	ADV	još
koliko	ADV	koliko
-	PUNCT	-
toliko	ADV	toliko
zadovoljavajuća	A:aen	zadovoljavajući
,	PUNCT	,
nastupa	N:m	nastup
potpuni	A:aem	potpun
kolaps	N:m	kolaps
.	SENT	.
Finale	N:n	finale
u	PREP	u
vodenom	A:aem	voden
parku	N:m	park
je	PRO	ona
traljavo	ADV	traljavo
u	PREP	u
svakom	PRO	svaki
pogledu	N:m	pogled
.	SENT	.
Film	N:m	film
ispada	N:m	ispad
iz	PREP	iz
ritma	N:m	ritam
,	PUNCT	,
više	ADV	više
nije	A:aem	nije
duhovit	A:aem	duhovit
i	CONJ	i
/	A:aem	/
ili	CONJ	ili
uzbudljiv	A:aem	uzbudljiv
,	PUNCT	,
vidan	V:m	vidati
je	PRO	ona
nedostatak	N:m	nedostatak
novca	N:m	novac
(	PUNCT	(
prvi	A:aem	prvi
film	N:m	film
je	PRO	ona
koštao	V:m	koštati
24	NUM	@card@
miliona	N:m	milion
$	N:m	$
,	PUNCT	,
nastavak	N:m	nastavak
,	PUNCT	,
navodno	ADV	navodno
,	PUNCT	,
samo	PAR	samo
četiri	NUM	četiri
milona	N:m	milona
manje	ADV	manje
–	A:aem	–
po	PREP	po
svemu	PRO	sav
sudeći	A:aem	sudeći
,	PUNCT	,
u	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
neko	PRO	neki
pranje	N:n	pranje
novca	N:m	novac
pošto	CONJ	pošto
Pirana	N:m	Piran
3	NUM	@card@
DD	N:m	DD
u	PREP	u
poslednjoj	A:aef	poslednji
trećini	N:f	trećina
izgleda	N:m	izgled
ponižavajuće	A:aen	ponižavajući
jeftino	A:aen	jeftin
)	PUNCT	)
.	SENT	.
Dok	CONJ	dok
je	PRO	ona
Aja	N:f	Aja
imao	V:m	imati
dovoljno	A:aen	dovoljan
sredstava	N:n	sredstvo
da	CONJ	da
snimi	N:m	snimi
raskošnu	A:aef	raskošan
završnicu	N:f	završnica
,	PUNCT	,
masovku	N:f	masovku
za	PREP	za
pamćenje	N:n	pamćenje
,	PUNCT	,
Gulager	N:m	Gulager
pred	PREP	pred
svoje	PRO	svoj
3	NUM	@card@
D	A:aef	D
pirane	N:f	pirana
baca	N:m	baca
samo	CONJ	samo
mrvice	N:f	mrvica
.	PUNCT	.
Ne	PAR	ne
pomaže	V:m	pomaže
mnogo	ADV	mnogo
ni	CONJ	ni
potencijalno	ADV	potencijalno
urnebesni	A:aem	urnebesni
kameo	A:aem	kameo
“	A:aem	“
čuvara	N:m	čuvar
plaže	N:f	plaža
”	A:aem	”
Davida	N:m	David
Hasselhoffa	N:m	Hasselhoffa
,	PUNCT	,
film	N:m	film
se	PAR	se
pred	PREP	pred
očima	N:f	oči
gledalaca	N:m	gledalac
(	PUNCT	(
pa	CONJ	pa
još	ADV	još
u	PREP	u
3	NUM	@card@
D	N:f	D
)	PUNCT	)
raspada	N:m	raspad
u	PREP	u
diletantsku	A:aef	diletantski
kašu	N:f	kaša
bljutavog	A:aem	bljutav
ukusa	N:m	ukus
.	SENT	.
