Srbija	N:f	Srbija
je	PRO	ona
poslednjih	A:aem	poslednji
desetak	ADV	desetak
godina	N:f	godina
opasno	ADV	opasno
zapatila	V:f	zapatiti
krajnje	ADV	krajnje
pogubni	A:aem	poguban
neokonzervatizam	N:m	neokonzervatizam
(	PUNCT	(
da	CONJ	da
stvar	N:f	stvar
bude	A:aef	bude
gora	N:f	gora
,	PUNCT	,
u	PREP	u
novomilenijumskom	A:aef	novomilenijumskom
kvazi	PREF	kvazi
-	PUNCT	-
politički	ADV	politički
korektnom	A:aen	korektan
ruhu	N:n	ruho
)	PUNCT	)
i	CONJ	i
ta	PRO	taj
je	PRO	ona
pojava	N:f	pojava
,	PUNCT	,
reklo	V:n	reći
bi	V:n	bi
se	PAR	se
,	PUNCT	,
dobrano	ADV	dobrano
metastazirala	V:f	metastazirati
.	SENT	.
Teško	A:aem	Teško
da	CONJ	da
u	PREP	u
ovako	ADV	ovako
poodmakloj	A:aef	poodmakao
fazi	N:f	faza
te	CONJ	te
degeneracije	N:f	degeneracija
društva	N:n	društvo
išta	PRO	išta
pomaže	N:f	pomaže
.	SENT	.
Čini	N:m	Čina
se	PAR	se
da	CONJ	da
je	PRO	ona
i	CONJ	i
omnipotentna	A:aef	omnipotentan
filmska	A:aef	filmski
kamera	N:f	kamera
Arri	N:m	Arri
Alexa	N:f	Alexa
tu	ADV	tu
nemoćna	A:aef	nemoćan
.	SENT	.
Led	N:m	Led
,	PUNCT	,
debitantski	A:aem	debitantski
film	N:m	film
Jelene	N:f	Jelena
Bajić	N:m	Bajić
Jočić	N:m	Jočić
,	PUNCT	,
to	PRO	taj
dosta	ADV	dosta
rečito	A:aen	rečit
pokazuje	N:m	pokazuje
.	SENT	.
Ovo	PRO	ovaj
novo	A:aen	nov
delo	N:n	delo
iz	PREP	iz
porodične	A:aef	porodičan
manafukture	N:f	manafukture
neprolazno	A:aen	neprolazan
državotvorne	A:aef	državotvoran
porodice	N:f	porodica
Bajić	N:m	Bajić
,	PUNCT	,
sa	PREP	sa
izuzetkom	N:m	izuzetak
nešto	ADV	nešto
ozbiljnijeg	A:ben	ozbiljan
tona	N:f	tona
,	PUNCT	,
u	PREP	u
potpunosti	N:f	potpunost
zastaje	N:m	zastaje
na	PREP	na
tački	N:f	tačka
očekivanog	A:aem	očekivan
.	SENT	.
Poput	PREP	poput
zloglasne	A:aef	zloglasan
serije	N:f	serija
Selo	N:f	Selo
gori	N:f	gora
,	PUNCT	,
a	CONJ	a
baba	N:f	baba
se	PAR	se
češlja	N:m	češalj
i	CONJ	i
ovaj	PRO	ovaj
film	N:m	film
(	PUNCT	(
sa	PREP	sa
prejakim	A:aem	prejak
TV	A:aem	TV
pedigreom	N:m	pedigre
,	PUNCT	,
to	PRO	taj
se	PAR	se
mora	N:n	more
naglasiti	A:aem	naglasiti
)	PUNCT	)
kreće	V:m	kreće
se	PAR	se
u	PREP	u
trouglu	N:m	trougao
pojmova	N:m	pojam
romantizacije	N:f	romantizacije
-	PUNCT	-
folklorizacije	N:f	folklorizacije
-	PUNCT	-
sentimentalizacije	N:f	sentimentalizacije
navodno	ADV	navodno
nepatvorenog	A:aen	nepatvoren
viđenja	N:n	viđenje
autentičnog	A:aem	autentičan
srpskog	A:aen	srpski
sela	N:n	selo
.	SENT	.
Svemu	PRO	sav
pomenutom	A:aen	pomenut
treba	N:f	treba
dodati	V:m	dodati
neuništive	A:aem	neuništiv
stilske	A:aem	stilski
(	PUNCT	(
tačnije	ADV	tačnije
antistilske	A:aem	antistilske
)	PUNCT	)
repove	N:m	rep
koji	PRO	koji
se	PAR	se
,	PUNCT	,
kada	CONJ	kada
je	PRO	ona
reč	N:f	reč
o	PREP	o
ovoj	PRO	ovaj
tematici	N:f	tematika
,	PUNCT	,
vuku	N:m	vuk
za	PREP	za
Radošem	N:m	Radoš
Bajićem	N:m	Bajić
još	ADV	još
iz	PREP	iz
dana	N:m	dan
saradnje	N:f	saradnja
sa	PREP	sa
Dragoslavom	N:f	Dragoslava
Lazićem	N:m	Lazić
na	PREP	na
naslovima	N:m	naslov
iz	PREP	iz
serijala	N:m	serijal
o	PREP	o
Sekuli	N:m	Sekula
,	PUNCT	,
čestoženiku	N:m	čestoženiku
.	SENT	.
To	PRO	taj
bi	N:m	bi
ukratko	ADV	ukratko
bila	V:f	biti
formula	N:f	formula
na	PREP	na
kojoj	PRO	koji
počiva	N:n	počiva
i	CONJ	i
film	N:m	film
Led	N:m	Led
–	N:m	–
puno	A:aen	pun
prenaglašenih	A:aem	prenaglašen
akcenata	N:m	akcent
,	PUNCT	,
nasilne	A:aef	nasilan
estetizacije	N:f	estetizacije
izmučenog	A:aen	izmučen
srpskog	A:aen	srpski
sela	N:n	selo
,	PUNCT	,
pregršt	N:f	pregršt
sentimentalizma	N:m	sentimentalizam
koji	PRO	koji
se	PAR	se
ubrzo	ADV	ubrzo
po	PREP	po
početku	N:m	početak
izrodi	N:m	izrod
u	PREP	u
tek	CONJ	tek
nevešto	ADV	nevešto
zamaskiranu	A:aef	zamaskiran
metiljavost	N:f	metiljavost
,	PUNCT	,
velika	A:aen	velik
tema	N:f	tema
(	PUNCT	(
propast	N:f	propast
i	CONJ	i
neveseli	A:aem	neveseo
usud	N:m	usud
poštenog	A:aem	pošten
srpskog	A:aen	srpski
seljaka	N:m	seljak
)	PUNCT	)
u	PREP	u
nagoveštaju	N:m	nagoveštaj
.	PUNCT	.
.	SENT	.
.	PUNCT	.
i	CONJ	i
pominnjana	A:aef	pominnjana
kamera	N:f	kamera
Arri	N:m	Arri
Alexa	N:f	Alexa
kojom	PRO	koji
je	PRO	ona
snimljeno	V:n	snimiti
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
.	PUNCT	.
A	CONJ	a
koja	PRO	koji
uglavnom	ADV	uglavnom
doprinosi	N:m	doprinos
falš	ADV	falš
-	PUNCT	-
utisku	N:m	utisak
koji	PRO	koji
bi	N:f	bi
da	CONJ	da
prevari	N:f	prevara
da	CONJ	da
je	PRO	ona
pred	PREP	pred
nama	PRO	mi
istinski	ADV	istinski
ambicioznije	A:bef	ambiciozan
ostvarenje	N:n	ostvarenje
.	PUNCT	.
Istina	N:f	istina
,	PUNCT	,
Led	N:m	Led
nudi	N:f	nudi
vizuelizaciju	N:f	vizuelizacija
kakva	PRO	kakav
se	PAR	se
sve	ADV	sve
ređe	ADV	ređe
sreće	N:f	sreća
u	PREP	u
srpskom	A:aem	srpski
filmu	N:m	film
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
na	PREP	na
tom	PRO	taj
planu	N:m	plan
ovaj	PRO	ovaj
film	N:m	film
dospeva	N:m	dospeva
tek	CONJ	tek
do	PREP	do
najpojavnijeg	A:cem	najpojavnijeg
i	CONJ	i
najbrzpoteznijeg	A:cen	najbrzpoteznijeg
nivoa	N:m	nivo
.	SENT	.
Što	N:m	Što
se	PAR	se
same	PRO	sam
priča	N:f	priča
filma	N:m	film
tiče	N:n	tiče
,	PUNCT	,
Led	N:m	Led
je	PRO	ona
izrazito	ADV	izrazito
loše	ADV	loše
napisan	A:aem	napisan
film	N:m	film
.	SENT	.
Na	PREP	na
prvom	A:aen	prvi
mestu	N:n	mesto
očito	PAR	očito
je	PRO	ona
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
koje	PRO	koji
je	PRO	ona
prvenstveno	ADV	prvenstveno
spravljano	V:n	spravljati
za	PREP	za
eksploataciju	N:f	eksploatacija
u	PREP	u
televizijskom	A:aem	televizijski
-	PUNCT	-
serijskom	A:aem	serijski
miljeu	N:m	milje
,	PUNCT	,
te	CONJ	te
je	PRO	ona
i	CONJ	i
narativ	N:m	narativ
izveden	A:aem	izveden
u	PREP	u
tom	PRO	taj
tonu	N:m	ton
i	CONJ	i
ritmu	N:m	ritam
.	SENT	.
Ledu	N:m	Led
manjka	N:m	manjak
ikakvog	PRO	ikakav
zapleta	N:m	zaplet
,	PUNCT	,
te	PRO	taj
autorka	N:f	autorka
ogroman	A:aem	ogroman
deo	N:m	deo
filma	N:m	film
utroši	A:aem	utroši
na	PREP	na
pojašnjenje	N:n	pojašnjenje
dosta	ADV	dosta
jednostavne	A:aef	jednostavan
,	PUNCT	,
a	CONJ	a
ovde	ADV	ovde
banalno	A:aen	banalan
u	PREP	u
filmski	A:aem	filmski
jezik	N:m	jezik
pretočene	A:aef	pretočen
teze	N:f	teza
o	PREP	o
teškoćama	N:f	teškoća
života	N:m	život
ljudi	N:m	ljudi
na	PREP	na
selu	N:n	selo
.	SENT	.
Ostatak	N:m	ostatak
vremena	N:n	vreme
otpada	N:m	otpad
na	PREP	na
nimalo	ADV	nimalo
duhovite	A:aef	duhovit
humorističke	A:aef	humoristički
pasaže	N:f	pasaža
i	CONJ	i
insistiranje	N:n	insistiranje
na	PREP	na
melodrami	N:f	melodrama
bez	PREP	bez
istinskog	A:aen	istinski
dramskog	A:aem	dramski
zamajca	N:m	zamajac
.	SENT	.
Tu	ADV	tu
negde	ADV	negde
se	PAR	se
Led	N:m	Led
približava	N:f	približava
jadnjikavom	A:aem	jadnjikavom
niskokaloričnom	A:aem	niskokaloričan
srpskom	A:aem	srpski
filmskom	A:aem	filmski
proseku	N:m	prosek
koji	PRO	koji
mahom	ADV	mahom
za	PREP	za
posledicu	N:f	posledica
ima	A:aem	ima
gotovo	ADV	gotovo
neupotrebljiva	A:aen	neupotrebljiv
ostvarenja	N:n	ostvarenje
koja	PRO	koji
levitiraju	N:f	levitiraju
u	PREP	u
nižim	A:ben	nizak
sferama	N:f	sfera
pretpostavljeno	V:n	pretpostaviti
nezahtevnog	A:aem	nezahtevan
ukusa	N:m	ukus
tipičnog	A:aem	tipičan
ovdašnjeg	A:aem	ovdašnji
gledaoca	N:m	gledalac
.	SENT	.
Na	PREP	na
idejnom	A:aem	idejni
planu	N:m	plan
autori	N:m	autor
Leda	N:m	Led
barataju	N:n	barataju
tek	CONJ	tek
odavno	ADV	odavno
izraubovanim	A:aem	izraubovan
motivom	N:m	motiv
baklanskog	A:aem	baklanskog
fatalizma	N:m	fatalizam
i	CONJ	i
života	N:m	život
protraćenog	A:aem	protraćen
u	PREP	u
čekanju	N:n	čekanje
skorih	A:aen	skori
nesreća	N:f	nesreća
,	PUNCT	,
a	CONJ	a
u	PREP	u
trenutku	N:m	trenutak
kada	CONJ	kada
mlađani	A:aem	mlađan
junak	N:m	junak
suočen	V:m	suočiti
sa	PREP	sa
ledom	N:m	led
koji	PRO	koji
mu	PRO	on
na	PREP	na
oči	N:f	oči
uništava	N:n	uništava
trud	N:m	trud
i	CONJ	i
letinu	N:f	letina
pokaže	V:f	pokaže
nešto	ADV	nešto
manične	A:aef	maničan
proaktivnosti	N:f	proaktivnosti
,	PUNCT	,
biva	A:aem	biva
kasno	ADV	kasno
i	CONJ	i
za	PREP	za
film	N:m	film
i	CONJ	i
za	PREP	za
pšenicu	N:f	pšenica
i	CONJ	i
za	PREP	za
njegovo	PRO	njegov
sazrevanje	N:n	sazrevanje
.	SENT	.
Paradoksalno	A:aen	paradoksalan
,	PUNCT	,
dok	CONJ	dok
se	PAR	se
rediteljka	N:f	rediteljka
i	CONJ	i
direktor	N:m	direktor
fotografije	N:f	fotografija
dosta	ADV	dosta
upadljivo	ADV	upadljivo
trude	N:m	trud
da	CONJ	da
film	N:m	film
barem	PAR	barem
na	PREP	na
planu	N:m	plan
likovnosti	N:f	likovnost
kultivišu	N:f	kultivišu
,	PUNCT	,
Led	N:m	Led
ponajbolje	A:aef	ponajbolji
funkcioniše	N:f	funkcioniše
u	PREP	u
segmentu	N:m	segment
u	PREP	u
kojem	PRO	koji
se	PAR	se
pojavi	N:f	pojava
Biljana	N:f	Biljana
Mišić	N:m	Mišić
(	PUNCT	(
Srpski	A:aem	srpski
ožiljci	N:m	ožiljak
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
segment	N:m	segment
koji	PRO	koji
verovatano	A:aen	verovatano
i	CONJ	i
najviše	ADV	najviše
duguje	A:aef	duguje
poetici	N:f	poetika
već	CONJ	već
pominjanog	A:aem	pominjan
Dragoslava	N:m	Dragoslav
Lazića	N:m	Lazić
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
to	PRO	taj
je	PRO	ona
deo	N:m	deo
u	PREP	u
kom	PRO	koji
se	PAR	se
,	PUNCT	,
slično	ADV	slično
kao	CONJ	kao
u	PREP	u
Selo	N:f	Selo
gori	N:f	gora
.	PUNCT	.
.	PUNCT	.
.	SENT	.
,	PUNCT	,
film	N:m	film
obrušava	A:aem	obrušava
u	PREP	u
mulj	N:m	mulj
kvazikarnalnog	A:aen	kvazikarnalnog
,	PUNCT	,
a	CONJ	a
,	PUNCT	,
suštinski	ADV	suštinski
gledano	A:aen	gledan
,	PUNCT	,
tek	CONJ	tek
erotike	N:f	erotika
iz	PREP	iz
kućne	A:aef	kućni
radinosti	N:f	radinost
i	CONJ	i
u	PREP	u
seoskom	A:aen	seoski
okruženju	N:n	okruženje
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
mora	N:n	more
se	PAR	se
naglasiti	A:aem	naglasiti
da	CONJ	da
u	PREP	u
ovom	PRO	ovaj
delu	N:n	delo
Led	N:m	Led
iznenađuje	N:m	iznenađuje
(	PUNCT	(
možda	PAR	možda
i	CONJ	i
slučajnom	A:aem	slučajan
)	PUNCT	)
posvetom	N:f	posveta
samom	PRO	sam
početku	N:m	početak
Prave	N:f	prava
romanse	N:f	romansa
pokojnog	A:aen	pokojni
Tonyja	N:m	Tonyja
Scotta	N:m	Scotta
.	PUNCT	.
Led	N:m	Led
,	PUNCT	,
ruku	N:f	ruka
na	PREP	na
srce	N:n	srce
zaslužuje	N:m	zaslužuje
nekoliko	ADV	nekoliko
tiših	A:bef	tih
pohvala	N:f	pohvala
,	PUNCT	,
na	PREP	na
prvom	A:aen	prvi
mestu	N:n	mesto
po	PREP	po
pitanju	N:n	pitanje
pominjanog	A:aen	pominjan
vizuelnog	A:aen	vizuelan
pakovanja	N:n	pakovanje
,	PUNCT	,
uglavnom	ADV	uglavnom
kostimografski	A:aem	kostimografski
-	PUNCT	-
scenografski	A:aem	scenografski
precizne	A:aem	precizan
rekonstrukcije	N:f	rekonstrukcija
ere	N:f	era
i	CONJ	i
mahom	ADV	mahom
pristojne	A:aef	pristojan
glume	N:f	gluma
.	SENT	.
Sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
treba	N:f	treba
istrpeti	V:m	istrpeti
film	N:m	film
lišen	A:aem	lišen
zapleta	N:m	zaplet
,	PUNCT	,
pa	CONJ	pa
i	CONJ	i
krajnjeg	A:aem	krajnji
smisla	N:m	smisao
,	PUNCT	,
krajnje	ADV	krajnje
problematičnu	A:aem	problematičan
ideološku	A:aef	ideološki
potku	N:f	potka
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
ekstremno	ADV	ekstremno
iritantnu	A:aef	iritantan
propratnu	A:aef	propratni
muziku	N:f	muzika
Sanje	N:f	Sanja
Ilića	N:m	Ilić
,	PUNCT	,
u	PREP	u
kojoj	PRO	koji
bi	N:m	bi
se	PAR	se
našlo	V:n	naći
dovoljno	ADV	dovoljno
orkestracija	N:f	orkestracija
za	PREP	za
barem	PAR	barem
tri	NUM	tri
filma	N:m	film
ovog	PRO	ovaj
zamaha	N:m	zamah
i	CONJ	i
slične	A:aef	sličan
minutaže	N:f	minutaža
.	SENT	.
Dalje	ADV	dalje
,	PUNCT	,
nema	A:aem	nem
ovde	ADV	ovde
velikih	A:aef	velik
istina	N:f	istina
,	PUNCT	,
nema	A:aem	nem
ovde	ADV	ovde
ni	CONJ	ni
istinske	A:aem	istinski
zabrinutosti	N:f	zabrinutost
nad	PREP	nad
sudbinom	N:f	sudbina
srpskog	A:aen	srpski
seljaka	N:m	seljak
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
u	PREP	u
najbolju	A:cef	dobar
ruku	N:f	ruka
tek	CONJ	tek
šminkersko	A:aen	šminkerski
-	PUNCT	-
pozerski	A:aem	pozerski
sročen	A:aem	sročen
izdanak	N:m	izdanak
tipično	ADV	tipično
bajićevske	A:aef	bajićevske
agroeksploatacije	N:f	agroeksploatacije
.	SENT	.
Srpsko	A:aen	srpski
selo	N:n	selo
,	PUNCT	,
kuđeno	A:aen	kuđen
,	PUNCT	,
prezreno	A:aen	prezren
,	PUNCT	,
medijski	A:aem	medijski
mrcvareno	V:n	mrcvariti
,	PUNCT	,
a	CONJ	a
počesto	ADV	počesto
i	CONJ	i
lišeno	V:n	lišiti
svoje	PRO	svoj
biti	N:f	bit
još	ADV	još
uvek	ADV	uvek
čeka	N:f	čeka
filmski	A:aem	filmski
efektno	A:aen	efektan
i	CONJ	i
sadržinski	A:aem	sadržinski
dostojanstveno	A:aen	dostojanstven
filmsko	A:aen	filmski
pakovanje	N:n	pakovanje
.	PUNCT	.
Ne	PAR	ne
nužno	A:aen	nužan
uz	PREP	uz
ovoliko	ADV	ovoliko
pompe	N:f	pompa
i	CONJ	i
uz	PREP	uz
oslanjanje	N:n	oslanjanje
na	PREP	na
ipak	PAR	ipak
tek	CONJ	tek
tehničke	A:aef	tehnički
prednosti	N:f	prednost
narečene	V:f	nareći
kamere	N:f	kamera
Arri	N:m	Arri
Alexa	N:f	Alexa
i	CONJ	i
rođaka	N:m	rođak
joj	PRO	ona
.	SENT	.
