Ovaj	PRO	ovaj
film	N:m	film
zaista	ADV	zaista
jeste	INT	jeste
zasnovan	V:m	zasnovati
na	PREP	na
istinitom	A:aem	istinit
događaju	N:m	događaj
tako	ADV	tako
da	CONJ	da
ne	PAR	ne
može	A:aem	može
niko	PRO	niko
da	CONJ	da
izađe	A:aem	izađe
sa	PREP	sa
pričom	N:f	priča
'	N:m	'
ma	CONJ	ma
da	CONJ	da
,	PUNCT	,
kako	CONJ	kako
da	CONJ	da
ne	PAR	ne
,	PUNCT	,
pa	CONJ	pa
nema	A:aem	nem
šanse	N:f	šansa
da	CONJ	da
se	PAR	se
ovo	PRO	ovaj
desilo	V:n	desiti
'	N:m	'
.	SENT	.
O	PREP	o
ovom	PRO	ovaj
slučaju	N:m	slučaj
možete	A:aem	možete
čitati	N:m	čitati
mnoge	A:aef	mnogi
članke	N:m	članak
na	PREP	na
internetu	N:m	internet
tako	ADV	tako
da	CONJ	da
je	PRO	ona
priča	N:f	priča
iz	PREP	iz
filma	N:m	film
potvrđena	V:n	potvrditi
.	SENT	.
Pre	PREP	pre
mojih	PRO	moj
utisaka	N:m	utisak
moram	N:m	moram
da	CONJ	da
napomenem	A:aem	napomenem
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
prilično	ADV	prilično
cenjen	V:m	ceniti
film	N:m	film
tako	ADV	tako
da	CONJ	da
je	PRO	ona
veoma	ADV	veoma
moguće	ADV	moguće
da	CONJ	da
je	PRO	ona
sve	PRO	sav
ovo	PRO	ovaj
do	PREP	do
mene	PRO	ja
,	PUNCT	,
ali	CONJ	ali
teško	ADV	teško
da	CONJ	da
mogu	A:aem	mogu
da	CONJ	da
promenim	A:aem	promenim
stav	N:m	stav
.	SENT	.
Setite	N:m	Setite
se	PAR	se
detinjstva	N:n	detinjstvo
,	PUNCT	,
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
.	SENT	.
Sigurno	ADV	sigurno
ste	A:aem	ste
imali	V:m	imati
nekog	PRO	neki
školskog	A:aen	školski
druga	A:aef	drugi
koji	PRO	koji
je	PRO	ona
bio	V:m	biti
pun	A:aem	pun
sebe	PRO	sebe
,	PUNCT	,
koji	PRO	koji
se	PAR	se
ponašao	V:m	ponašati
prilično	ADV	prilično
nadmeno	A:aen	nadmen
i	CONJ	i
postavljao	V:m	postavljati
se	PAR	se
iznad	PREP	iznad
svih	PRO	sav
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
kad	CONJ	kad
kad	CONJ	kad
je	PRO	ona
koga	PRO	koji
i	PAR	i
udario	V:m	udariti
ali	CONJ	ali
pre	ADV	pre
svega	ADV	svega
prilično	ADV	prilično
vam	PRO	vi
je	PRO	ona
išao	V:m	ići
na	PREP	na
nerve	N:m	nerv
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
mogli	V:m	moći
ste	A:aem	ste
i	CONJ	i
da	CONJ	da
se	PAR	se
ne	PAR	ne
družite	N:m	družite
s	PREP	s
njim	PRO	on
pa	CONJ	pa
toga	PRO	taj
ne	PAR	ne
bi	V:n	bi
ni	PAR	ni
bilo	V:n	biti
ali	CONJ	ali
vi	PRO	vi
ste	N:f	ste
ipak	PAR	ipak
odlučili	V:m	odlučiti
da	CONJ	da
budete	ADV	budete
njegov	PRO	njegov
najbolji	A:cem	dobar
prijatelj	N:m	prijatelj
.	SENT	.
Pošto	A:aem	Pošto
je	PRO	ona
išao	V:m	ići
i	CONJ	i
vama	PRO	vi
i	CONJ	i
još	PAR	još
nekim	PRO	neki
vašim	PRO	vaš
ortacima	N:m	ortak
na	PREP	na
nerve	N:m	nerv
,	PUNCT	,
logična	A:aef	logičan
stvar	N:f	stvar
je	PRO	ona
da	CONJ	da
odlučite	A:aem	odlučite
da	CONJ	da
ga	PRO	on
ubijete	A:aem	ubijete
,	PUNCT	,
zar	PAR	zar
ne	PAR	ne
?	PUNCT	?
Braćo	N:m	Braćo
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
sada	ADV	sada
zamislite	N:f	zamislite
koji	PRO	koji
je	PRO	ona
ovo	PRO	ovaj
skup	A:aem	skup
morona	N:m	moron
.	SENT	.
Da	CONJ	da
nemaju	N:m	nemaju
opcije	N:f	opcija
pa	CONJ	pa
i	CONJ	i
da	CONJ	da
razumem	N:m	razumem
njihovu	PRO	njihov
odluku	N:f	odluka
.	SENT	.
Lagano	ADV	lagano
mogu	A:aen	mogu
da	CONJ	da
se	PAR	se
ne	PAR	ne
druže	N:m	drug
s	PREP	s
njim	PRO	on
,	PUNCT	,
da	CONJ	da
ga	PRO	on
'	A:aem	'
kažu	N:f	kaža
'	A:aem	'
mamama	N:f	mama
i	CONJ	i
tatama	N:f	tata
,	PUNCT	,
učiteljicama	N:f	učiteljica
ili	CONJ	ili
kome	PRO	koji
već	PAR	već
.	PUNCT	.
Iskreno	ADV	iskreno
,	PUNCT	,
posumnjao	V:m	posumnjati
sam	PRO	sam
u	PREP	u
verodostojnost	N:f	verodostojnost
ovoga	PRO	ovaj
ali	CONJ	ali
kada	CONJ	kada
sam	PRO	sam
čitao	V:m	čitati
o	PREP	o
tom	PRO	taj
FBI	N:f	FBI
slučaju	N:m	slučaj
,	PUNCT	,
moji	PRO	moj
strahovi	N:m	strah
su	N:m	su
se	PAR	se
potvrdili	V:m	potvrditi
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Mislio	V:m	misliti
sam	PRO	sam
da	CONJ	da
je	PRO	ona
'	A:aem	'
ljudska	A:aem	ljudski
glupost	N:f	glupost
je	PRO	ona
beskonačna	A:aem	beskonačan
'	N:m	'
samo	CONJ	samo
floskula	N:f	floskula
.	SENT	.
Ne	PAR	ne
,	PUNCT	,
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
ljudska	A:aem	ljudski
glupost	N:f	glupost
je	PRO	ona
zaista	PAR	zaista
beskonačna	A:aen	beskonačan
.	PUNCT	.
Ok	A:aen	Ok
,	PUNCT	,
možemo	A:aen	možemo
film	N:m	film
prihvatiti	N:m	prihvatiti
kao	CONJ	kao
kritiku	N:f	kritika
današnje	A:aen	današnji
omladine	N:f	omladina
,	PUNCT	,
tipa	N:m	tip
'	A:aem	'
kako	CONJ	kako
su	PREF	su
nam	PRO	mi
deca	N:f	deca
nasilna	A:aen	nasilan
'	N:m	'
ali	CONJ	ali
da	CONJ	da
li	PAR	li
ovo	PRO	ovaj
zaista	ADV	zaista
može	A:aem	može
da	CONJ	da
'	A:aem	'
radi	PREP	radi
posao	N:m	posao
'	N:m	'
.	SENT	.
Ne	PAR	ne
,	PUNCT	,
jer	CONJ	jer
ova	PRO	ovaj
deca	N:f	deca
su	N:m	su
jednostavno	ADV	jednostavno
preglupa	A:aef	preglup
a	CONJ	a
nasilje	N:n	nasilje
je	PRO	ona
došlo	V:n	doći
samo	PAR	samo
kao	ADV	kao
posledica	N:f	posledica
.	SENT	.
U	PREP	u
savršenom	A:aen	savršen
Clockwork	N:m	Clockwork
Orange	N:m	Orange
imamo	N:m	imamo
istu	A:aem	isti
tu	PRO	taj
kritiku	N:f	kritika
(	PUNCT	(
uz	PREP	uz
još	ADV	još
zilion	N:m	zilion
genijalnih	A:aef	genijalan
stvari	N:f	stvar
)	PUNCT	)
ali	CONJ	ali
pogledajte	N:m	pogledajte
tamo	ADV	tamo
,	PUNCT	,
glavni	A:aem	glavni
lik	N:m	lik
je	PRO	ona
Aleks	N:m	Aleks
De	A:aem	De
Lardž	N:m	Lardž
,	PUNCT	,
neko	PRO	neki
ko	PRO	ko
svojom	PRO	svoj
inteligencijom	N:f	inteligencija
pleni	A:aem	pleni
i	CONJ	i
može	A:aem	može
da	CONJ	da
predvodi	A:aef	predvodi
grupu	N:f	grupa
.	SENT	.
Ovde	ADV	ovde
imamo	N:m	imamo
brdo	N:n	brdo
idiota	N:m	idiot
.	SENT	.
Kako	ADV	kako
mogu	A:aem	mogu
i	CONJ	i
takve	PRO	takav
idiote	N:m	idiot
da	CONJ	da
poistovetim	A:aem	poistovetim
sa	PREP	sa
nekim	PRO	neki
današnjim	A:aem	današnji
promašenim	A:aem	promašen
likovima	N:m	lik
,	PUNCT	,
jer	CONJ	jer
iako	CONJ	iako
jesu	A:aem	jesu
promašeni	A:aem	promašen
,	PUNCT	,
sumnjam	N:m	sumnjam
da	CONJ	da
su	N:m	su
baš	PAR	baš
ovoliki	A:aem	ovolik
idioti	N:m	idiot
.	SENT	.
Tinejdžeri	N:m	Tinejdžeri
kojima	PRO	koji
ni	PAR	ni
iz	PREP	iz
čega	PRO	šta
pada	N:m	pad
na	PREP	na
pamet	N:f	pamet
da	CONJ	da
ubiju	N:n	ubiju
nekog	PRO	neki
samo	PAR	samo
zato	ADV	zato
što	CONJ	što
se	PAR	se
ružno	A:aen	ružan
šali	N:f	šala
na	PREP	na
njihov	PRO	njihov
račun	N:m	račun
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
neko	PRO	neki
će	A:aem	će
reći	A:aem	reći
'	N:m	'
pa	CONJ	pa
to	PRO	taj
se	PAR	se
danas	ADV	danas
i	CONJ	i
dešava	A:aem	dešava
'	N:m	'
.	SENT	.
Da	CONJ	da
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
ovako	ADV	ovako
.	SENT	.
Kod	PREP	kod
današnjih	A:aem	današnji
promašenih	A:aem	promašen
likova	N:m	lik
imamo	N:m	imamo
barem	PAR	barem
neke	PRO	neki
preduslove	N:m	preduslov
da	CONJ	da
budu	A:aem	budu
takvi	PRO	takav
.	PUNCT	.
Šta	A:aem	Šta
ovde	ADV	ovde
imamo	N:m	imamo
,	PUNCT	,
gomilu	N:f	gomila
likova	N:n	likovo
koji	PRO	koji
su	N:m	su
bili	V:m	biti
sasvim	ADV	sasvim
obični	A:aem	običan
tinejdžeri	N:m	tinejdžer
,	PUNCT	,
koji	PRO	koji
su	N:m	su
prali	V:m	prati
zube	N:m	zub
pred	PREP	pred
spavanje	N:n	spavanje
,	PUNCT	,
iznosili	V:m	iznositi
đubre	N:n	đubre
iz	PREP	iz
mamine	A:aef	mamin
kuhinje	N:f	kuhinja
,	PUNCT	,
ćaletu	N:n	ćale
donosili	V:m	donositi
novine	N:f	novina
i	CONJ	i
u	PREP	u
tili	N:f	tila
čas	ADV	čas
su	N:m	su
se	PAR	se
pretvorili	V:m	pretvoriti
u	PREP	u
hladnokrvne	A:aef	hladnokrvan
ubice	N:f	ubica
.	PUNCT	.
Hajda	N:m	Hajd
da	CONJ	da
razumem	N:m	razumem
barem	PAR	barem
jedan	NUM	jedan
od	PREP	od
njih	PRO	ona
.	PUNCT	.
.	SENT	.
.	PUNCT	.
eventualno	ADV	eventualno
dvojica	N:f	dvojica
.	SENT	.
Ne	PAR	ne
,	PUNCT	,
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
takvi	PRO	takav
moroni	N:m	moron
nisu	N:m	nisu
smeli	V:m	smesti
da	CONJ	da
zasluže	V:m	zasluže
ovaj	PRO	ovaj
film	N:m	film
a	CONJ	a
kamo	CONJ	kamo
li	PAR	li
moju	PRO	moj
pažnju	N:f	pažnja
.	SENT	.
Ovo	PRO	ovaj
ne	PAR	ne
pije	A:aem	pije
vodu	N:f	voda
ni	CONJ	ni
kao	CONJ	kao
kritika	N:f	kritika
današnje	A:aef	današnji
omladine	N:f	omladina
,	PUNCT	,
ni	CONJ	ni
kao	CONJ	kao
neki	PRO	neki
opaki	A:aem	opak
istiniti	A:aem	istinit
događaj	N:m	događaj
.	SENT	.
Jedno	NUM	jedan
je	PRO	ona
biti	N:f	bit
inteligentno	A:aen	inteligentan
zao	A:aem	zao
,	PUNCT	,
drugo	A:aen	drugi
rođen	A:aem	rođen
zao	A:aem	zao
,	PUNCT	,
a	CONJ	a
sasvim	ADV	sasvim
treće	A:aen	treći
beznadežno	ADV	beznadežno
glup	A:aem	glup
.	SENT	.
