Clash	A:aem	Clash
of	N:m	of
The	INT	The
Titans	N:m	Titans
(	SENT	(
1981	NUM	@card@
)	PUNCT	)
je	PRO	ona
film	N:m	film
uz	PREP	uz
koji	PRO	koji
sam	A:aem	sam
odrastao	A:aem	odrastao
i	CONJ	i
film	N:m	film
koji	PRO	koji
sam	PRO	sam
gledao	V:m	gledati
i	CONJ	i
koji	PRO	koji
ću	A:aem	ću
gledati	N:m	gledati
nebrojeno	ADV	nebrojeno
puta	ADV	puta
.	PUNCT	.
Kada	CONJ	kada
sam	PRO	sam
čuo	V:m	čuti
da	CONJ	da
kreću	V:m	kreću
da	CONJ	da
ga	PRO	on
obrade	N:f	obrada
,	PUNCT	,
bio	V:m	biti
sam	PRO	sam
uzbuđen	V:m	uzbuditi
jer	CONJ	jer
sam	PRO	sam
kontao	V:m	kontati
da	CONJ	da
nema	A:aem	nem
tu	ADV	tu
puno	A:aen	pun
filozofije	N:f	filozofija
.	SENT	.
Uzmi	N:f	Uzmi
ono	PRO	onaj
što	PRO	što
ima	N:m	ima
u	PREP	u
starom	A:aem	star
,	PUNCT	,
našminkaj	N:m	našminkaj
da	CONJ	da
izgleda	N:m	izgled
lepše	ADV	lepše
,	PUNCT	,
ubaci	V:n	ubaci
još	ADV	još
što	CONJ	što
šta	ADV	šta
,	PUNCT	,
izbaci	N:m	izbaci
neke	PRO	neki
sitnice	N:f	sitnica
i	CONJ	i
imaš	A:aem	imaš
sjajan	A:aem	sjajan
film	N:m	film
.	SENT	.
Naravno	PAR	naravno
sve	ADV	sve
ovo	PRO	ovaj
stoji	N:f	stoja
da	CONJ	da
je	PRO	ona
film	N:m	film
pravio	V:m	praviti
neko	PRO	neki
sa	PREP	sa
barem	PAR	barem
dva	NUM	dva
grama	N:m	gram
mozga	N:m	mozak
.	SENT	.
Hajde	INT	hajde
da	CONJ	da
krenem	N:n	krenem
od	PREP	od
nečeg	PRO	nešto
što	CONJ	što
je	PRO	ona
trebalo	V:n	trebati
biti	N:f	bit
bolje	A:bef	dobar
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
a	CONJ	a
to	PRO	taj
su	N:m	su
efekti	N:m	efekt
.	SENT	.
Jedina	A:aef	jedini
stvar	N:f	stvar
gde	CONJ	gde
su	N:m	su
ovde	ADV	ovde
bolji	A:bem	dobar
efekti	N:m	efekt
je	PRO	ona
sam	A:aem	sam
Kraken	N:m	Kraken
.	SENT	.
Sve	ADV	sve
ostalo	V:n	ostati
je	PRO	ona
blagi	A:aem	blag
užas	N:m	užas
i	CONJ	i
praistorijska	A:aem	praistorijski
stop	N:m	stop
-	PUNCT	-
motion	A:aem	motion
tehnika	N:f	tehnika
iz	PREP	iz
originala	N:m	original
apsolutno	A:aen	apsolutan
dominira	N:m	dominira
nad	PREP	nad
ovim	PRO	ovaj
smećem	N:n	smeće
.	SENT	.
Tim	PRO	taj
isim	A:aem	isim
efektima	N:m	efekt
ubili	V:m	ubiti
su	N:m	su
Meduzu	N:m	Meduzu
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
njen	PRO	njen
lik	N:m	lik
.	SENT	.
Kada	CONJ	kada
se	PAR	se
Meduza	N:m	Meduza
u	PREP	u
starom	A:aem	star
filmu	N:m	film
pojavljuje	N:f	pojavljuje
,	PUNCT	,
čovek	N:m	čovek
se	PAR	se
sledi	V:m	sledi
od	PREP	od
njenog	PRO	njen
izgleda	N:m	izgled
i	CONJ	i
kretnje	N:f	kretnja
.	SENT	.
Ovde	ADV	ovde
je	PRO	ona
meduza	N:f	meduza
prelep	A:aem	prelep
lik	N:m	lik
iz	PREP	iz
videoigrice	N:f	videoigrice
koji	PRO	koji
se	PAR	se
munjevito	A:aen	munjevit
kreće	N:n	kreće
.	SENT	.
Samim	PRO	sam
tim	PRO	taj
scena	N:f	scena
sa	PREP	sa
njom	PRO	ona
ne	PAR	ne
izaziva	N:m	izaziva
nikakve	PRO	nikakav
emocije	N:f	emocija
.	SENT	.
Imamo	N:m	Imamo
scenu	N:f	scena
u	PREP	u
originalu	N:m	original
kada	CONJ	kada
Stigijske	A:aef	Stigijske
veštice	N:f	veštica
pominju	A:aef	pominju
Gorgonu	N:f	Gorgona
.	SENT	.
Od	PREP	od
te	PRO	taj
scene	N:f	scena
čovek	N:m	čovek
se	PAR	se
prosto	ADV	prosto
naježi	V:m	naježi
.	SENT	.
Ovde	ADV	ovde
su	N:m	su
veštice	N:f	veštica
takve	PRO	takav
da	CONJ	da
se	PAR	se
čovek	N:m	čovek
jednostavno	A:aen	jednostavan
mora	N:n	more
sprdati	V:m	sprdati
s	PREP	s
njima	PRO	ona
.	SENT	.
U	PREP	u
originalu	N:m	original
,	PUNCT	,
lik	N:m	lik
Kalibosa	N:m	Kalibosa
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
najvažnijih	A:cef	važan
.	PUNCT	.
Ovde	ADV	ovde
kada	CONJ	kada
su	PREF	su
pravili	V:m	praviti
film	N:m	film
,	PUNCT	,
izgleda	N:m	izgled
da	CONJ	da
su	N:m	su
zaboravili	V:m	zaboraviti
za	PREP	za
njega	PRO	on
,	PUNCT	,
pa	CONJ	pa
im	PRO	ona
je	PRO	ona
u	PREP	u
sred	PREP	sred
filma	N:m	film
prdnulo	V:n	prdnuti
u	PREP	u
pamet	N:f	pamet
da	CONJ	da
nekog	PRO	neki
lika	N:m	lik
nazovu	A:aen	nazovu
Kalibos	N:m	Kalibos
.	SENT	.
Šta	A:aem	Šta
da	CONJ	da
kažem	A:aem	kažem
o	PREP	o
čuvenom	A:aem	čuven
Perseju	N:m	Persej
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
naprave	N:f	naprava
lik	N:m	lik
Perseja	N:m	Persej
,	PUNCT	,
ovde	ADV	ovde
imamo	N:m	imamo
nekog	PRO	neki
Marinca	N:m	marinac
koji	PRO	koji
se	PAR	se
tu	ADV	tu
zadesio	V:m	zadesiti
samo	PAR	samo
igrom	N:f	igra
slučaja	N:m	slučaj
.	SENT	.
Kao	ADV	kao
ono	PRO	onaj
,	PUNCT	,
on	PRO	on
je	PRO	ona
mnogo	ADV	mnogo
zajeban	V:m	zajebati
,	PUNCT	,
ne	PAR	ne
treba	N:f	treba
mu	PRO	on
pomoć	N:f	pomoć
bogova	N:m	bog
,	PUNCT	,
gledao	V:m	gledati
je	PRO	ona
sva	PRO	sav
četiri	NUM	četiri
dela	N:n	delo
Ramba	N:m	Ramba
pa	CONJ	pa
ume	N:m	um
i	CONJ	i
on	PRO	on
te	PRO	taj
stvari	N:f	stvar
.	PUNCT	.
Rekao	V:m	reći
bih	A:aem	bih
vam	PRO	vi
nešto	ADV	nešto
i	CONJ	i
o	PREP	o
priči	N:f	priča
da	CONJ	da
je	PRO	ona
ima	N:f	ima
.	SENT	.
Ovde	ADV	ovde
,	PUNCT	,
kada	CONJ	kada
god	PAR	god
nisu	N:m	nisu
znali	V:m	znati
šta	PRO	šta
da	CONJ	da
rade	N:f	rada
,	PUNCT	,
niotkuda	ADV	niotkuda
,	PUNCT	,
pojavi	N:f	pojava
se	PAR	se
neka	PRO	neki
čedna	A:aef	čedan
deva	N:f	deva
i	CONJ	i
objasni	V:m	objasni
šta	PRO	šta
im	PRO	ona
je	PRO	ona
sledeći	A:aem	sledeći
korak	N:m	korak
.	PUNCT	.
Mislim	A:aem	Mislim
koliko	ADV	koliko
glup	A:aem	glup
možeš	A:aem	možeš
biti	N:f	bit
da	CONJ	da
upropastiš	A:aen	upropastiš
onako	ADV	onako
jednostavnu	A:aef	jednostavan
priču	N:f	priča
,	PUNCT	,
jednostavan	A:aem	jednostavan
tok	N:m	tok
i	CONJ	i
sjajne	A:aem	sjajan
likove	N:m	lik
iz	PREP	iz
prvog	A:aem	prvi
dela	N:n	delo
.	SENT	.
Samo	PAR	samo
dve	NUM	dva
stvari	N:f	stvar
ću	A:aem	ću
pohvaliti	N:f	pohvaliti
ali	CONJ	ali
one	PRO	onaj
uopšte	ADV	uopšte
ne	PAR	ne
prave	A:aef	prav
nikakvu	PRO	nikakav
razliku	N:f	razlika
.	SENT	.
Izbor	N:m	izbor
glumaca	N:m	glumac
mi	PRO	ja
se	PAR	se
čini	N:f	čini
da	CONJ	da
je	PRO	ona
dobar	A:aem	dobar
,	PUNCT	,
samo	PAR	samo
da	CONJ	da
su	PREF	su
im	PRO	ona
dali	V:m	dati
materijal	N:m	materijal
za	PREP	za
glumu	N:f	gluma
bilo	V:n	biti
bi	A:aen	bi
sjajno	ADV	sjajno
.	PUNCT	.
Mada	CONJ	mada
opet	ADV	opet
,	PUNCT	,
nisu	N:m	nisu
dorasli	V:m	dorasti
glumačkoj	A:aef	glumački
ekipi	N:f	ekipa
iz	PREP	iz
originala	N:m	original
.	SENT	.
Druga	A:aef	drugi
pohvalna	A:aef	pohvalan
stvar	N:f	stvar
je	PRO	ona
da	CONJ	da
je	PRO	ona
film	N:m	film
gledljiv	A:aem	gledljiv
,	PUNCT	,
što	CONJ	što
opet	ADV	opet
ne	PAR	ne
mora	N:n	more
nužno	A:aen	nužan
da	CONJ	da
bude	A:aem	bude
veliki	A:aem	velik
plus	N:m	plus
.	SENT	.
Nije	N:m	Nije
mi	PRO	ja
žao	ADV	žao
što	CONJ	što
je	PRO	ona
ovo	PRO	ovaj
smeće	N:n	smeće
od	PREP	od
filma	N:m	film
ugledalo	V:n	ugledati
svetlost	N:f	svetlost
dana	N:m	dan
.	SENT	.
Žao	V:m	Žao
mi	PRO	ja
je	PRO	ona
što	CONJ	što
ovo	PRO	ovaj
smeće	N:n	smeće
nosi	A:aen	nosi
naziv	N:m	naziv
jednog	NUM	jedan
od	PREP	od
mojih	PRO	moj
omiljenih	A:aem	omiljen
filmova	N:m	film
.	SENT	.
Mogli	V:m	moći
su	N:m	su
lepo	ADV	lepo
da	CONJ	da
naprave	N:f	naprava
film	N:m	film
koji	PRO	koji
bi	N:f	bi
imao	V:m	imati
drugo	A:aen	drugi
ime	N:n	ime
.	SENT	.
Barem	PAR	barem
ne	PAR	ne
bih	A:aem	bih
uz	PREP	uz
gađenje	N:n	gađenje
osećao	V:m	osećati
i	CONJ	i
mržnju	N:f	mržnja
prema	PREP	prema
njemu	PRO	on
.	SENT	.
