Od	PREP	od
samog	PRO	sam
početka	N:m	početak
je	PRO	ona
jasno	ADV	jasno
da	CONJ	da
ovo	PRO	ovaj
treba	N:f	treba
da	CONJ	da
bude	A:aem	bude
film	N:m	film
o	PREP	o
dva	NUM	dva
murjaka	N:m	murjak
koji	PRO	koji
su	N:m	su
naizgled	ADV	naizgled
nespojive	A:aem	nespojiv
ličnosti	N:f	ličnost
.	SENT	.
Znate	V:f	znati
onaj	PRO	onaj
fazon	N:m	fazon
,	PUNCT	,
jedan	NUM	jedan
užasno	ADV	užasno
iritantan	A:aem	iritantan
a	CONJ	a
drugi	A:aem	drugi
tanak	A:aem	tanak
sa	PREP	sa
nervima	N:m	nerv
ili	CONJ	ili
šta	PRO	šta
već	PAR	već
.	PUNCT	.
E	CONJ	e
,	PUNCT	,
ovde	ADV	ovde
se	PAR	se
vazda	ADV	vazda
precenjeni	V:m	preceniti
Kevin	N:m	Kevin
Smit	N:m	Smit
odlučio	V:m	odlučiti
za	PREP	za
nešto	PRO	nešto
sasvim	ADV	sasvim
drugačije	ADV	drugačije
,	PUNCT	,
nešto	ADV	nešto
epohalno	A:aen	epohalan
i	CONJ	i
revolucionalno	A:aen	revolucionalno
.	SENT	.
Umesto	PREP	umesto
onog	PRO	onaj
standardno	ADV	standardno
iritantnog	A:aem	iritantan
policajca	N:m	policajac
,	PUNCT	,
imamo	N:m	imamo
lika	N:m	lik
koji	PRO	koji
izgleda	N:m	izgled
kao	CONJ	kao
da	CONJ	da
se	PAR	se
igra	N:f	igra
policajca	N:m	policajac
,	PUNCT	,
imamo	N:m	imamo
lika	N:m	lik
za	PREP	za
kojeg	PRO	koji
su	N:m	su
emocije	N:f	emocija
koje	PRO	koji
pokazuje	N:m	pokazuje
Terminator	N:m	terminator
pojam	N:m	pojam
osećajnosti	N:f	osećajnost
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Nije	A:aem	Nije
fazon	N:m	fazon
u	PREP	u
tome	PRO	taj
što	CONJ	što
Brus	N:m	Brus
Vilis	N:m	Vilis
izgleda	N:m	izgled
kao	CONJ	kao
da	CONJ	da
su	N:m	su
ga	PRO	on
naterali	V:m	naterati
da	CONJ	da
glumi	N:f	gluma
ovde	ADV	ovde
i	CONJ	i
kao	ADV	kao
da	CONJ	da
mu	PRO	on
je	PRO	ona
prokleto	V:n	prokleti
svejedno	ADV	svejedno
što	CONJ	što
snima	N:m	san
eto	PAR	eto
tamo	ADV	tamo
neki	PRO	neki
film	N:m	film
.	SENT	.
Fazon	N:m	fazon
je	PRO	ona
u	PREP	u
tome	PRO	taj
da	CONJ	da
kada	CONJ	kada
bi	A:aem	bi
ste	N:m	ste
na	PREP	na
mesto	N:n	mesto
Vilisa	N:m	Vilis
postavili	V:m	postaviti
npr	N:m	npr
.	SENT	.
Paris	N:m	Paris
Hilton	N:m	Hilton
,	PUNCT	,
ne	PAR	ne
biste	N:f	bista
primetili	V:m	primetiti
nikakvu	PRO	nikakav
razliku	N:f	razlika
u	PREP	u
kvalitetu	N:m	kvalitet
karaktera	N:m	karakter
,	PUNCT	,
niti	CONJ	niti
u	PREP	u
uticaju	N:m	uticaj
tog	PRO	taj
lika	N:m	lik
na	PREP	na
film	N:m	film
.	SENT	.
Toliko	ADV	toliko
jadno	ADV	jadno
je	PRO	ona
ova	PRO	ovaj
uloga	N:f	uloga
osmišljena	V:m	osmisliti
.	SENT	.
Brus	N:m	Brus
Vilis	N:m	Vilis
je	PRO	ona
pojava	N:f	pojava
sam	A:aem	sam
po	PREP	po
sebi	PRO	sebe
i	CONJ	i
njemu	PRO	on
samom	PRO	sam
ne	PAR	ne
treba	N:f	treba
puno	ADV	puno
da	CONJ	da
nasmeje	N:m	nasmeje
gledaoca	N:m	gledalac
.	SENT	.
Ja	PRO	ja
se	PAR	se
nisam	N:m	nisam
ni	PAR	ni
osmehnuo	V:m	osmehnuti
u	PREP	u
toku	N:m	tok
ovog	PRO	ovaj
filma	N:m	film
,	PUNCT	,
to	PRO	taj
dovoljno	ADV	dovoljno
govori	N:m	govor
koliko	ADV	koliko
je	PRO	ona
sve	PRO	sav
ovo	PRO	ovaj
jadno	ADV	jadno
.	SENT	.
Partner	N:m	partner
tog	PRO	taj
nervoznog	A:aem	nervozan
treba	N:f	treba
da	CONJ	da
bude	A:aen	bude
neko	PRO	neki
iritantan	A:aem	iritantan
,	PUNCT	,
npr	N:m	npr
.	PUNCT	.
neko	PRO	neki
kao	CONJ	kao
Edi	N:m	Edi
Marfi	N:m	Marfi
,	PUNCT	,
Kris	N:m	Kris
Taker	N:m	Taker
,	PUNCT	,
Kris	N:m	Kris
Rok	N:m	Rok
.	PUNCT	.
.	SENT	.
.	PUNCT	.
To	PRO	taj
su	N:m	su
momci	N:m	momak
koji	PRO	koji
umeju	N:f	umeju
da	CONJ	da
budu	A:aen	budu
simpatično	A:aen	simpatičan
iritantni	A:aem	iritantan
.	SENT	.
Kevin	N:m	Kevin
Smit	N:m	Smit
se	PAR	se
odlučio	V:m	odlučiti
da	CONJ	da
taj	PRO	taj
lik	N:m	lik
ne	PAR	ne
treba	N:f	treba
da	CONJ	da
bude	A:aem	bude
iritantan	A:aem	iritantan
na	PREP	na
taj	PRO	taj
način	N:m	način
,	PUNCT	,
već	CONJ	već
je	PRO	ona
stvorio	V:m	stvoriti
lika	N:m	lik
koji	PRO	koji
nije	A:aem	nije
komično	A:aen	komičan
iritantan	A:aem	iritantan
.	SENT	.
Lik	N:m	lik
je	PRO	ona
jednostavno	ADV	jednostavno
dosadan	A:aem	dosadan
i	CONJ	i
konstantno	A:aen	konstantan
pravi	A:aem	prav
gluposti	N:f	glupost
.	SENT	.
To	PRO	taj
nisu	N:m	nisu
gluposti	N:f	glupost
koje	PRO	koji
će	N:f	će
vas	PRO	vi
nasmejati	N:m	nasmejati
,	PUNCT	,
to	PRO	taj
su	N:m	su
gluposti	N:f	glupost
od	PREP	od
kojih	PRO	koji
vam	PRO	vi
je	PRO	ona
neprijatno	A:aen	neprijatan
da	CONJ	da
budete	A:aem	budete
u	PREP	u
prisustvu	N:n	prisustvo
osobe	N:f	osoba
koja	PRO	koji
ih	PRO	ona
čini	N:f	čini
,	PUNCT	,
iz	PREP	iz
prostog	A:aen	prost
razloga	N:m	razlog
što	CONJ	što
vam	PRO	vi
je	PRO	ona
žao	ADV	žao
te	PRO	taj
osobe	N:f	osoba
.	SENT	.
I	CONJ	i
to	PRO	taj
treba	N:f	treba
da	CONJ	da
mi	PRO	ja
bude	A:aen	bude
smešno	A:aen	smešan
ili	CONJ	ili
/	A:aem	/
i	CONJ	i
zanimljivo	A:aen	zanimljiv
?	PUNCT	?
Šta	A:aen	Šta
tek	CONJ	tek
reći	A:aen	reći
o	PREP	o
usputnim	A:aef	usputan
likovima	N:m	lik
.	SENT	.
Imamo	N:m	Imamo
drugu	A:aef	drugi
dvojicu	N:f	dvojica
policajaca	N:m	policajac
koji	PRO	koji
su	N:m	su
kao	CONJ	kao
i	CONJ	i
ovaj	PRO	ovaj
pomenuti	A:aem	pomenut
očajni	A:aem	očajan
lik	N:m	lik
.	SENT	.
Tu	PRO	taj
se	PAR	se
kao	ADV	kao
Kevin	N:m	Kevin
Smit	N:m	Smit
sprda	N:f	sprda
o	PREP	o
velikom	A:aef	velik
poštovanju	N:n	poštovanje
mlađeg	A:bem	mlad
kolege	N:m	kolega
prema	PREP	prema
starijem	A:ben	star
,	PUNCT	,
a	CONJ	a
rezultat	N:m	rezultat
toga	PRO	taj
su	N:m	su
nekolicina	N:f	nekolicina
'	N:m	'
šta	PRO	šta
je	PRO	ona
bre	INT	bre
ovo	PRO	ovaj
'	A:aem	'
scena	N:f	scena
.	SENT	.
A	CONJ	a
pazite	N:m	pazite
sad	ADV	sad
ovu	PRO	ovaj
originalnost	N:f	originalnost
,	PUNCT	,
glavni	A:aem	glavni
lik	N:m	lik
je	PRO	ona
razvedeni	A:aem	razveden
policajac	N:m	policajac
čija	PRO	čiji
žena	N:f	žena
se	PAR	se
udala	V:f	udati
za	PREP	za
bogatog	A:aem	bogat
lika	N:m	lik
a	CONJ	a
ovaj	PRO	ovaj
naš	PRO	naš
siromašnjak	N:m	siromašnjak
ne	PAR	ne
može	A:aem	može
da	CONJ	da
finansira	N:m	finansira
ćerkicino	A:aen	ćerkicino
venčanje	N:n	venčanje
.	SENT	.
Zašto	N:m	Zašto
na	PREP	na
prste	N:m	prst
jedne	NUM	jedan
ruke	N:f	ruka
mogu	A:aen	mogu
da	CONJ	da
nabrojim	A:aen	nabrojim
filmove	N:m	film
gde	CONJ	gde
imamo	N:m	imamo
dva	NUM	dva
partnera	N:m	partner
murjaka	N:m	murjak
koji	PRO	koji
imaju	N:f	imaju
normalne	A:aef	normalan
brakove	N:m	brak
?	SENT	?
Možda	N:f	Možda
je	PRO	ona
to	PRO	taj
bilo	V:n	biti
zanimljivo	ADV	zanimljivo
u	PREP	u
Die	A:aem	Die
Hard	N:m	Hard
,	PUNCT	,
ali	CONJ	ali
dvadeset	NUM	dvadeset
i	CONJ	i
kusur	N:m	kusur
godina	N:f	godina
kasnije	ADV	kasnije
,	PUNCT	,
to	PRO	taj
je	PRO	ona
već	PAR	već
kretenizam	N:m	kretenizam
.	SENT	.
Ovaj	PRO	ovaj
drugi	A:aem	drugi
jadnik	N:m	jadnik
ima	A:aem	ima
ženu	N:f	žena
u	PREP	u
čiju	PRO	čiji
odanost	N:f	odanost
sumnja	N:f	sumnja
i	CONJ	i
to	PRO	taj
je	PRO	ona
sve	PRO	sav
što	PRO	što
ćete	N:m	ćete
tu	PRO	taj
videti	N:f	videti
.	PUNCT	.
Imamo	N:m	Imamo
i	CONJ	i
usputnog	A:aem	usputan
ludaka	N:m	ludak
.	SENT	.
Iskreno	ADV	iskreno
sam	PRO	sam
se	PAR	se
obradovao	V:m	obradovati
kada	CONJ	kada
sam	PRO	sam
video	V:m	videti
Šon	N:m	Šon
Vilijam	N:m	Vilijam
Skota	N:m	Skot
.	SENT	.
Pomsilih	A:aem	Pomsilih
'	N:m	'
odlično	ADV	odlično
,	PUNCT	,
barem	PAR	barem
će	V:m	će
ova	PRO	ovaj
budala	N:f	budala
da	CONJ	da
me	PRO	ja
nasmeje	N:f	nasmeje
nečim	PRO	nešto
'	N:m	'
.	SENT	.
On	PRO	on
je	PRO	ona
lik	N:m	lik
koji	PRO	koji
ponavlja	N:n	ponavlja
nešto	ADV	nešto
što	CONJ	što
drugi	A:aem	drugi
pričaju	N:m	pričaju
.	PUNCT	.
Sjaaaaajno	A:aen	Sjaaaaajno
majstore	N:m	majstor
.	SENT	.
Zadnji	A:aem	zadnji
put	N:m	put
kada	CONJ	kada
sam	PRO	sam
mislio	V:m	misliti
da	CONJ	da
je	PRO	ona
to	PRO	taj
zanimljivo	ADV	zanimljivo
Kebini	A:aem	Kebini
brkovi	N:m	brk
su	PREF	su
bili	V:m	biti
poslednji	A:aem	poslednji
krik	N:m	krik
mode	N:f	moda
.	SENT	.
Ko	PRO	ko
stariji	A:bem	star
od	PREP	od
5	NUM	@card@
,	PUNCT	,
6	NUM	@card@
godina	N:f	godina
uopšte	ADV	uopšte
i	CONJ	i
ponavlja	N:n	ponavlja
tuđe	A:aen	tuđ
reči	N:f	reč
pokušavajući	A:aem	pokušavajući
da	CONJ	da
ga	PRO	on
iznervira	N:m	iznervira
ili	CONJ	ili
da	CONJ	da
nekog	PRO	neki
nasmeje	N:m	nasmeje
?	SENT	?
Karikaturu	N:f	karikatura
od	PREP	od
negativca	N:m	negativac
neću	A:aem	neću
ni	CONJ	ni
pominjati	A:aem	pominjati
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
celu	A:aef	ceo
priču	N:f	priča
koja	PRO	koji
ne	PAR	ne
da	CONJ	da
ne	PAR	ne
postoji	N:m	postoji
,	PUNCT	,
već	CONJ	već
se	PAR	se
pitam	N:m	pitam
da	CONJ	da
li	PAR	li
postoji	N:m	postoji
scenario	N:m	scenario
za	PREP	za
film	N:m	film
.	SENT	.
Imaš	A:aem	Imaš
komediju	N:f	komedija
bez	PREP	bez
humora	N:m	humor
,	PUNCT	,
imaš	A:aem	imaš
bezlične	A:aem	bezličan
likove	N:m	lik
koji	PRO	koji
su	N:m	su
tako	ADV	tako
loše	ADV	loše
kreirani	V:m	kreirati
da	CONJ	da
ih	PRO	ona
ne	PAR	ne
biste	N:f	bista
ni	PAR	ni
primetili	V:m	primetiti
da	CONJ	da
ih	PRO	ona
tumače	N:m	tumač
Rokstedi	N:f	Rokstedi
i	CONJ	i
Bibop	N:m	Bibop
glavom	N:f	glava
i	CONJ	i
bradom	N:f	brada
,	PUNCT	,
imaš	A:aem	imaš
priču	N:f	priča
takvu	PRO	takav
da	CONJ	da
je	PRO	ona
telefonski	A:aem	telefonski
imenik	N:m	imenik
bogatiji	A:bem	bogat
fabulom	N:f	fabula
od	PREP	od
nje	PRO	ona
,	PUNCT	,
imaš	A:aem	imaš
neiskorišćenog	A:aem	neiskorišćen
Brus	N:m	Brus
Vilisa	N:m	Vilis
i	CONJ	i
od	PREP	od
mene	PRO	ja
imaš	A:aem	imaš
velikodušnu	A:aef	velikodušan
trojku	N:f	trojka
.	SENT	.
Eto	PAR	eto
,	PUNCT	,
gotivim	A:aem	gotivim
Vilisa	N:m	Vilis
pa	CONJ	pa
ću	N:m	ću
podići	V:m	podići
filmu	N:m	film
ocenu	N:f	ocena
za	PREP	za
1	NUM	@card@
.	PUNCT	.
Moram	N:m	Moram
da	CONJ	da
overim	N:m	overim
Dogmu	N:f	dogma
,	PUNCT	,
da	CONJ	da
vidim	A:aem	vidim
čime	PRO	šta
je	PRO	ona
Kevin	N:m	Kevin
Smit	N:m	Smit
zaradio	V:m	zaraditi
toliko	ADV	toliko
poštovanje	N:n	poštovanje
.	SENT	.
Realno	ADV	realno
,	PUNCT	,
da	CONJ	da
je	PRO	ona
počeo	V:m	početi
sa	PREP	sa
ovim	PRO	ovaj
,	PUNCT	,
ili	CONJ	ili
onim	PRO	onaj
pokušajem	N:m	pokušaj
od	PREP	od
horora	N:m	horor
Red	A:aem	Red
State	N:m	State
,	PUNCT	,
tu	ADV	tu
bi	V:m	bi
i	CONJ	i
završio	V:m	završiti
.	SENT	.
