Postoje	N:m	Postoje
stotine	N:f	stotina
slojeva	N:m	sloj
koji	PRO	koji
se	PAR	se
teško	ADV	teško
mogu	A:aem	mogu
raščlaniti	N:m	raščlaniti
i	CONJ	i
na	PREP	na
svakom	PRO	svaki
sloju	N:m	sloj
ovaj	PRO	ovaj
film	N:m	film
prosto	ADV	prosto
nije	V:m	nije
dobar	A:aem	dobar
.	SENT	.
Prvo	ADV	prvo
počev	A:aem	počev
od	PREP	od
glume	N:f	gluma
,	PUNCT	,
zatim	ADV	zatim
do	PREP	do
samog	PRO	sam
besmisleno	A:aen	besmislen
trivijalnog	A:aen	trivijalan
pisanja	N:n	pisanje
scenarija	N:m	scenario
kome	PRO	koji
se	PAR	se
zna	A:aem	zna
početak	N:m	početak
,	PUNCT	,
sredina	N:f	sredina
i	CONJ	i
kraj	N:m	kraj
,	PUNCT	,
pa	CONJ	pa
sve	PRO	sav
do	PREP	do
bezuspešnog	A:aem	bezuspešan
pokušaja	N:m	pokušaj
režije	N:f	režija
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
progura	V:m	progura
malo	ADV	malo
dalje	ADV	dalje
od	PREP	od
Holmarkovog	A:aem	Holmarkovog
TV	A:aem	TV
filma	N:m	film
.	SENT	.
Nikom	ADV	nikom
ovde	ADV	ovde
nije	V:n	nije
uspelo	V:n	uspeti
u	PREP	u
onome	PRO	onaj
što	PRO	što
su	N:m	su
namerili	V:m	nameriti
.	SENT	.
Kvin	N:m	Kvin
Latifa	N:m	Latif
je	PRO	ona
fizio	PREF	fizio
-	PUNCT	-
terapeut	N:m	terapeut
koja	PRO	koji
živi	A:aem	živ
sa	PREP	sa
svojom	PRO	svoj
sestrom	N:f	sestra
(	PUNCT	(
ili	CONJ	ili
polusestrom	N:f	polusestra
nisam	N:m	nisam
skapirao	V:m	skapirao
)	PUNCT	)
i	CONJ	i
dok	CONJ	dok
ona	PRO	ona
vredno	ADV	vredno
radi	PREP	radi
u	PREP	u
rehabilitacionom	A:aem	rehabilitacioni
centru	N:m	centar
njena	PRO	njen
sestra	N:f	sestra
(	PUNCT	(
ili	CONJ	ili
polusestra	N:f	polusestra
)	PUNCT	)
uvežbava	A:aem	uvežbava
svoje	PRO	svoj
sponzuraštvo	N:n	sponzuraštvo
na	PREP	na
NBA	A:aef	NBA
utakmicama	N:f	utakmica
pokušavajući	N:n	pokušavajući
da	CONJ	da
ušacuje	N:f	ušacuje
uspešne	A:aef	uspešan
basketaše	N:m	basketaše
.	SENT	.
U	PREP	u
jednom	NUM	jedan
trenutku	N:m	trenutak
,	PUNCT	,
na	PREP	na
trivijalan	A:aem	trivijalan
način	N:m	način
,	PUNCT	,
Kvin	N:m	Kvin
Latif	N:m	Latif
upoznaje	A:aem	upoznaje
igrača	N:m	igrač
Netsa	N:m	Netsa
(	PUNCT	(
koga	PRO	koji
tumači	N:m	tumač
reper	N:m	reper
Common	N:m	Common
,	PUNCT	,
jedina	A:aef	jedini
jaka	A:aef	jak
karika	N:f	karika
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
)	PUNCT	)
koji	PRO	koji
vrlo	ADV	vrlo
brzo	ADV	brzo
upoznaje	V:m	upoznaje
njenu	PRO	njen
sestru	N:f	sestra
,	PUNCT	,
koja	PRO	koji
vrlo	ADV	vrlo
brzo	ADV	brzo
nalazi	N:m	nalaz
mesto	N:n	mesto
n	A:aen	n
anjegovoj	A:aef	anjegovoj
ogromnoj	A:aef	ogroman
gajbi	N:f	gajba
.	SENT	.
Međutim	N:m	Međutim
ne	PAR	ne
prolazi	N:m	prolaz
mnogo	ADV	mnogo
i	CONJ	i
Common	N:m	Common
pretrpljuje	N:m	pretrpljuje
zajebanu	A:aef	zajeban
povredu	N:f	povreda
na	PREP	na
tekmi	N:f	tekma
i	CONJ	i
njegova	PRO	njegov
karijera	N:f	karijera
preti	A:bem	pretio
da	CONJ	da
će	A:bef	će
da	CONJ	da
se	PAR	se
sklopi	N:m	sklopi
kao	CONJ	kao
kula	N:f	kula
od	PREP	od
karata	N:f	karta
…	SENT	…
Licemerstvo	N:n	licemerstvo
ovog	PRO	ovaj
filma	N:m	film
se	PAR	se
oslikava	A:aen	oslikava
na	PREP	na
mnogo	ADV	mnogo
nivoa	N:m	nivo
.	SENT	.
Prvo	A:aen	prvi
ekipa	N:f	ekipa
pokušava	N:f	pokušava
da	CONJ	da
nam	PRO	mi
objasni	A:aem	objasni
da	CONJ	da
i	CONJ	i
debele	A:aef	debeo
ribe	N:f	riba
mogu	N:m	Mog
da	CONJ	da
smuvaju	N:m	smuvaju
najboljeg	A:cen	dobar
(	PUNCT	(
tj	ABB	tj
.	PUNCT	.
najuspešnijeg	A:cem	uspešan
tj	ABB	tj
.	PUNCT	.
najbogatijeg	A:cen	bogat
)	PUNCT	)
frajera	N:m	frajer
.	SENT	.
To	PRO	taj
nije	A:aem	nije
tačno	ADV	tačno
.	SENT	.
Debele	A:aef	debeo
ribe	N:f	riba
nemaju	N:f	nemaju
nikakve	PRO	nikakav
šanse	N:f	šansa
kod	PREP	kod
uspešnih	A:aem	uspešan
sportista	N:m	sportista
.	SENT	.
Nikakve	PRO	nikakav
.	SENT	.
Već	A:aem	Već
stotinu	N:f	stotina
godina	N:f	godina
civilizacija	N:f	civilizacija
pokušava	A:aem	pokušava
to	PRO	taj
da	CONJ	da
kaže	N:f	kaža
izdajući	A:aem	izdajući
časopise	N:m	časopis
sa	PREP	sa
mršavim	A:aef	mršav
ribama	N:f	riba
na	PREP	na
naslovnim	A:aef	naslovni
stranama	N:f	strana
,	PUNCT	,
proturajući	A:aem	proturajući
i	CONJ	i
modelujući	A:aem	modelujući
muški	A:aem	muški
estetizam	N:m	estetizam
do	PREP	do
te	PRO	taj
mere	N:f	mera
da	CONJ	da
bi	A:aen	bi
ste	N:n	ste
za	PREP	za
prosečnog	A:aen	prosečan
NBA	A:aem	NBA
igrača	N:m	igrač
lako	ADV	lako
mogli	V:m	moći
da	CONJ	da
napravite	A:aem	napravite
ribu	N:f	riba
od	PREP	od
gume	N:f	guma
.	SENT	.
Na	PREP	na
televiziji	N:f	televizija
ne	PAR	ne
možete	A:aem	možete
da	CONJ	da
vidite	N:m	vidite
debelu	A:aef	debeo
ribu	N:f	riba
.	SENT	.
Debele	A:aef	debeo
ribe	N:f	riba
ne	PAR	ne
puštaju	V:m	puštaju
u	PREP	u
noćne	A:aef	noćni
klubove	N:m	klub
.	SENT	.
NBA	A:aem	NBA
igrači	N:m	igrač
ne	PAR	ne
znaju	N:m	znaju
šta	PRO	šta
su	N:m	su
debele	A:aef	debeo
ribe	N:f	riba
.	PUNCT	.
A	CONJ	a
onda	ADV	onda
dođe	A:aef	dođe
rediteljka	N:f	rediteljka
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
(	PUNCT	(
koja	PRO	koji
je	PRO	ona
super	ADV	super
riba	N:f	riba
)	PUNCT	)
i	CONJ	i
kaže	N:f	kaža
da	CONJ	da
to	PRO	taj
može	A:aem	može
.	PUNCT	.
E	CONJ	e
pa	CONJ	pa
ne	PAR	ne
može	A:aem	može
.	PUNCT	.
I	CONJ	i
to	PRO	taj
svi	PRO	sav
znaju	N:m	znaju
.	PUNCT	.
Dakle	CONJ	dakle
nije	A:aen	nije
trebalo	V:n	trebati
praviti	V:m	praviti
tako	ADV	tako
trivijalnu	A:aef	trivijalan
priču	N:f	priča
.	SENT	.
Marko	N:m	Marko
Jarić	N:m	Jarić
je	PRO	ona
odvojio	V:m	odvojiti
Andrijanu	N:f	Andrijana
Limu	N:f	Lima
.	SENT	.
Nije	N:m	Nije
je	PRO	ona
odvojio	V:m	odvojiti
zato	ADV	zato
što	CONJ	što
je	PRO	ona
prepametna	A:aem	prepametna
i	CONJ	i
dobar	A:aem	dobar
materijal	N:m	materijal
za	PREP	za
domaćicu	N:f	domaćica
.	PUNCT	.
Zamisli	N:f	zamisao
kada	CONJ	kada
bi	V:m	bi
se	PAR	se
njegov	PRO	njegov
ortak	N:m	ortak
iz	PREP	iz
tima	PRO	taj
,	PUNCT	,
crnja	A:bem	crn
sa	PREP	sa
duplo	A:aen	dupli
većom	A:bef	velik
kitom	N:f	kita
pojavio	V:m	pojaviti
sa	PREP	sa
nekom	PRO	neki
neupadljivom	A:aef	neupadljiv
ribom	N:f	riba
iz	PREP	iz
„	A:aem	„
huda	A:aem	hud
“	N:m	“
.	SENT	.
Ko	PRO	ko
bi	N:f	bi
još	ADV	još
poverovao	V:m	poverovati
u	PREP	u
to	PRO	taj
.	PUNCT	.
3	NUM	@card@
kokaje	N:m	kokaje
.	SENT	.
Aj	INT	aj
ćao	INT	ćao
.	SENT	.
