Nije	N:m	Nije
lako	ADV	lako
s	PREP	s
muškarcima	N:m	muškarac
.	SENT	.
Na	PREP	na
kreku	N:m	kreku
.	PUNCT	.
Muškarcima	N:m	Muškarcima
.	PUNCT	.
Keep	N:m	Keep
The	INT	The
Lights	N:f	Lights
On	N:f	On
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
'	A:aem	'
gej	N:m	gej
filmova	N:m	film
'	A:aem	'
koji	PRO	koji
bi	N:m	bi
da	CONJ	da
nam	PRO	mi
prikažu	N:m	prikažu
kako	CONJ	kako
je	PRO	ona
to	PRO	taj
biti	N:f	bit
u	PREP	u
gej	N:m	gej
vezi	N:f	veza
,	PUNCT	,
u	PREP	u
jednoj	NUM	jedan
od	PREP	od
onih	PRO	onaj
romantičnih	A:aef	romantičan
indi	N:f	indi
drama	N:f	drama
,	PUNCT	,
i	CONJ	i
da	CONJ	da
možda	PAR	možda
to	PRO	taj
puko	A:aen	puki
dočaravanje	N:n	dočaravanje
pomere	N:m	pomere
ka	PREP	ka
nekakvom	PRO	nekakav
drugom	A:aef	drugi
terenu	N:m	teren
diskretnim	A:aem	diskretan
uključivanjem	N:n	uključivanje
'	A:aem	'
narkomanije	N:f	narkomanija
'	A:aem	'
kao	CONJ	kao
ko	PREF	ko
-	PUNCT	-
problema	N:m	problem
.	SENT	.
Pored	PREP	pored
ljubavi	N:f	ljubav
.	PUNCT	.
Odgledao	V:m	odgledati
sam	PRO	sam
ovih	PRO	ovaj
dana	N:m	dan
nekoliko	ADV	nekoliko
gej	N:m	gej
filmova	N:m	film
i	CONJ	i
moram	N:m	moram
da	CONJ	da
priznam	N:m	priznam
da	CONJ	da
me	PRO	ja
u	PREP	u
većini	N:f	većina
zamorilo	V:n	zamoriti
insistiranje	N:n	insistiranje
autora	N:m	autor
da	CONJ	da
njegovi	PRO	njegov
,	PUNCT	,
gej	N:m	gej
,	PUNCT	,
junaci	N:m	junak
sem	PREP	sem
seksa	N:m	seks
nemaju	N:m	nemaju
ništa	ADV	ništa
drugo	A:aen	drugi
u	PREP	u
životu	N:m	život
.	SENT	.
Zapravo	ADV	zapravo
,	PUNCT	,
to	PRO	taj
mi	PRO	ja
je	PRO	ona
jedino	ADV	jedino
bilo	V:n	biti
zanimljivo	ADV	zanimljivo
u	PREP	u
fasbinderovskom	A:aem	fasbinderovskom
Avant	N:m	Avant
que	N:m	que
j	A:aem	j
'	A:aem	'
oublie	N:f	oublie
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
dato	V:n	dati
iz	PREP	iz
vizure	N:f	vizura
starije	A:bef	star
gej	N:m	gej
osobe	N:f	osoba
,	PUNCT	,
što	CONJ	što
je	PRO	ona
u	PREP	u
njihovom	PRO	njihov
svetu	N:m	svet
već	CONJ	već
neka	PRO	neki
vrsta	N:f	vrsta
zombi	N:m	zombi
egzistencije	N:f	egzistencija
.	SENT	.
U	PREP	u
odnosu	N:m	odnos
na	PREP	na
tu	PRO	taj
predvidljivu	A:aef	predvidljiv
matricu	N:f	matrica
,	PUNCT	,
veteran	N:m	veteran
Ira	N:f	Ira
Sachs	N:m	Sachs
(	PUNCT	(
koji	PRO	koji
je	PRO	ona
sa	PREP	sa
ovim	PRO	ovaj
filmom	N:m	film
osvojio	V:m	osvojiti
Teddy	N:m	Teddy
-	PUNCT	-
ja	PRO	ja
u	PREP	u
Berlinu	N:m	Berlin
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
i	CONJ	i
njegov	PRO	njegov
junak	N:m	junak
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
)	PUNCT	)
,	PUNCT	,
sa	PREP	sa
Keep	N:m	Keep
The	INT	The
Lights	N:f	Lights
On	V:m	On
kao	ADV	kao
da	CONJ	da
želi	V:m	žeti
da	CONJ	da
dublje	ADV	dublje
uđe	N:n	uđe
u	PREP	u
psihologiju	N:f	psihologija
gej	N:m	gej
veze	N:f	veza
i	CONJ	i
prikaže	A:aen	prikaže
je	PRO	ona
kao	CONJ	kao
neku	PRO	neki
vrstu	N:f	vrsta
zavisnosti	N:f	zavisnost
.	SENT	.
Otprilike	ADV	otprilike
slične	A:aef	sličan
onoj	PRO	onaj
koju	PRO	koji
jedan	NUM	jedan
od	PREP	od
junaka	N:m	junak
ima	A:aem	ima
prema	PREP	prema
kreku	N:m	kreku
.	SENT	.
Erik	N:m	Erik
je	PRO	ona
razmaženi	A:aem	razmažen
sin	N:m	sin
nekog	PRO	neki
danskog	A:aem	danski
bogataša	N:m	bogataš
koji	PRO	koji
se	PAR	se
u	PREP	u
Njujorku	N:m	Njujork
bavi	A:aem	bavi
režiranjem	N:n	režiranje
dokumentarnih	A:aef	dokumentaran
filmova	N:m	film
.	PUNCT	.
Paul	N:m	Paul
,	PUNCT	,
čini	N:f	čini
mi	PRO	ja
se	PAR	se
,	PUNCT	,
radi	PREP	radi
kao	ADV	kao
agent	N:m	agent
u	PREP	u
nekoj	PRO	neki
izdavačkoj	A:aef	izdavački
kući	N:f	kuća
i	CONJ	i
pored	PREP	pored
devojke	N:f	devojka
i	CONJ	i
gej	N:m	gej
seksa	N:m	seks
najviše	ADV	najviše
voli	N:m	Voli
krek	N:m	krek
.	PUNCT	.
Erik	N:m	Erik
i	CONJ	i
Paul	N:m	Paul
se	PAR	se
upoznaju	V:m	upoznaju
tokom	PREP	tokom
jedne	NUM	jedan
od	PREP	od
telefonom	N:m	telefon
dogovorenih	A:aef	dogovoren
kres	N:m	kres
šema	N:f	šema
i	CONJ	i
pravo	N:n	pravo
s	PREP	s
vrata	N:n	vrata
počinju	N:f	počinju
vatreni	A:aem	vatren
poljupci	N:m	poljubac
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
i	CONJ	i
vatreni	A:aem	vatren
seks	N:m	seks
.	SENT	.
Erik	N:m	Erik
voli	N:m	Voli
da	CONJ	da
bude	A:aem	bude
'	N:m	'
odozgo	ADV	odozgo
'	A:aem	'
,	PUNCT	,
a	CONJ	a
Paul	N:m	Paul
nema	A:aem	nem
ništa	ADV	ništa
protiv	PREP	protiv
.	SENT	.
Sachs	N:m	Sachs
nam	PRO	mi
prikazuje	N:f	prikazuje
njihovu	PRO	njihov
vezu	N:f	veza
u	PREP	u
narednih	A:aef	naredni
osam	NUM	osam
godina	N:f	godina
.	PUNCT	.
I	CONJ	i
ona	PRO	ona
izgleda	N:m	izgled
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
sve	PAR	sve
išlo	V:n	ići
unazad	ADV	unazad
.	SENT	.
Od	PREP	od
početne	A:aef	početan
scene	N:f	scena
u	PREP	u
kojoj	PRO	koji
se	PAR	se
strasno	ADV	strasno
ljube	N:f	ljuba
kao	CONJ	kao
da	CONJ	da
su	N:m	su
dve	NUM	dva
slične	A:aef	sličan
duše	N:f	duša
koje	PRO	koji
su	N:m	su
se	PAR	se
prepoznale	V:f	prepoznati
,	PUNCT	,
iz	PREP	iz
godine	N:f	godina
u	PREP	u
godinu	N:f	godina
oni	PRO	onaj
se	PAR	se
sve	ADV	sve
bolje	A:bef	dobar
upoznaju	N:f	upoznaju
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
mahom	ADV	mahom
zbog	PREP	zbog
Paulove	A:aef	Paulove
zavisnosti	N:f	zavisnost
,	PUNCT	,
postaju	N:f	postaja
sve	ADV	sve
dalji	A:bem	dalek
jedan	NUM	jedan
od	PREP	od
drugoga	A:aen	drugi
.	PUNCT	.
Da	CONJ	da
bi	V:m	bi
se	PAR	se
na	PREP	na
kraju	N:m	kraj
razišli	V:m	razići
ne	PAR	ne
baš	PAR	baš
kao	ADV	kao
dva	NUM	dva
stranca	N:m	stranac
,	PUNCT	,
ali	CONJ	ali
kao	ADV	kao
dve	NUM	dva
osobe	N:f	osoba
koje	PRO	koji
jedva	ADV	jedva
žele	V:f	žeti
nečega	PRO	nešto
da	CONJ	da
se	PAR	se
sećaju	N:m	sećaju
iz	PREP	iz
zajedničkog	A:aen	zajednički
života	N:m	život
.	SENT	.
Bojim	V:n	Bojim
se	PAR	se
da	CONJ	da
nisam	N:m	nisam
najbolja	A:cem	dobar
osoba	N:f	osoba
da	CONJ	da
pratim	A:aem	pratim
gej	N:m	gej
osobe	N:f	osoba
koje	PRO	koji
su	N:m	su
karakterom	N:m	karakter
'	A:aem	'
pizdice	N:f	pizdice
'	N:m	'
,	PUNCT	,
a	CONJ	a
ovde	ADV	ovde
su	N:m	su
to	PRO	taj
obojica	N:f	obojica
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
Thure	N:m	Thure
Lindhardt	N:f	Lindhardt
,	PUNCT	,
kao	CONJ	kao
Erik	N:m	Erik
,	PUNCT	,
uspeo	V:m	uspeti
da	CONJ	da
blago	ADV	blago
tetkastu	A:aef	tetkastu
pojavu	N:f	pojava
vozdigne	A:aef	vozdigne
požrtvovanom	A:aef	požrtvovan
brigom	N:f	briga
za	PREP	za
Paula	N:f	Paula
,	PUNCT	,
sa	PREP	sa
dovoljno	ADV	dovoljno
egocentrične	A:aef	egocentričan
samozaokupljenosti	N:f	samozaokupljenosti
,	PUNCT	,
Keep	N:m	Keep
The	INT	The
Lights	N:f	Lights
On	N:f	On
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
meni	PRO	ja
ne	PAR	ne
uspeva	V:n	uspeva
da	CONJ	da
ponudi	N:f	ponuda
ništa	PRO	ništa
naročito	ADV	naročito
zanimljivo	ADV	zanimljivo
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
samo	PAR	samo
još	ADV	još
jedna	NUM	jedan
priča	N:f	priča
o	PREP	o
dvoje	NUM	dvoje
partnera	N:m	partner
(	PUNCT	(
polovi	N:m	pol
nebitni	A:aem	nebitan
)	PUNCT	)
u	PREP	u
kojoj	PRO	koji
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
njih	PRO	ona
narkoman	N:m	narkoman
i	CONJ	i
to	PRO	taj
neminovno	ADV	neminovno
vodi	N:f	voda
turbulenciji	N:f	turbulencija
ispunjenoj	A:aef	ispunjen
neispunjivim	A:aem	neispunjivim
obećanjima	N:n	obećanje
,	PUNCT	,
prečestim	A:aen	prečestim
odsustvima	N:n	odsustvo
,	PUNCT	,
sebičnošću	N:f	sebičnost
,	PUNCT	,
patnjama	N:f	patnja
,	PUNCT	,
grižama	N:f	griža
savesti	N:f	savest
.	PUNCT	.
.	SENT	.
.	PUNCT	.
I	CONJ	i
Paul	N:m	Paul
je	PRO	ona
u	PREP	u
toj	PRO	taj
celoj	A:aef	ceo
priči	N:f	priča
,	PUNCT	,
kao	CONJ	kao
glavni	A:aem	glavni
pokretač	N:m	pokretač
radnje	N:f	radnja
,	PUNCT	,
ostao	V:m	ostati
iritantno	A:aen	iritantan
pasivan	A:aem	pasivan
i	CONJ	i
prilično	ADV	prilično
zanemaren	V:m	zanemariti
,	PUNCT	,
a	CONJ	a
u	PREP	u
početku	N:m	početak
definisan	A:aem	definisan
svojim	PRO	svoj
ne	PAR	ne
toliko	ADV	toliko
nejasnim	A:aen	nejasan
,	PUNCT	,
nego	CONJ	nego
nečvrstim	A:aen	nečvrstim
opredeljenjem	N:n	opredeljenje
,	PUNCT	,
koliko	ADV	koliko
zavisnošću	N:f	zavisnost
.	PUNCT	.
Ne	PAR	ne
znam	N:m	znam
čime	PRO	šta
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
prigrlio	V:m	prigrliti
srca	N:n	srce
žirija	N:m	žiri
Teddy	N:m	Teddy
-	PUNCT	-
ja	PRO	ja
,	PUNCT	,
a	CONJ	a
teško	ADV	teško
mi	PRO	ja
je	PRO	ona
da	CONJ	da
poverujem	N:m	poverujem
da	CONJ	da
i	CONJ	i
takvi	PRO	takav
stručnjaci	N:m	stručnjak
ne	PAR	ne
mogu	A:aem	mogu
da	CONJ	da
odole	ADV	odole
na	PREP	na
najobičniji	A:cem	običan
'	A:aem	'
ljubić	N:m	ljubić
'	N:m	'
.	SENT	.
