Upozorenje	N:n	upozorenje
,	PUNCT	,
tekst	N:m	tekst
nije	N:f	nije
namenjen	V:m	nameniti
za	PREP	za
mlađe	A:bem	mlad
od	PREP	od
18	NUM	@card@
.	PUNCT	.
godina	N:f	godina
,	PUNCT	,
zato	ADV	zato
što	CONJ	što
nikada	ADV	nikada
nisam	N:m	nisam
bio	V:m	biti
ovako	ADV	ovako
negativno	ADV	negativno
nastrojen	A:aem	nastrojen
,	PUNCT	,
što	CONJ	što
zbog	PREP	zbog
grubih	A:aef	grub
reči	N:f	reč
a	CONJ	a
opet	ADV	opet
,	PUNCT	,
neki	PRO	neki
bi	N:f	bi
se	PAR	se
ovde	ADV	ovde
pronašli	V:m	pronaći
i	CONJ	i
smatrali	V:m	smatrati
prozvanim	A:aem	prozvan
!	PUNCT	!
Kako	CONJ	kako
uzeti	A:aem	uzet
jednostavnu	A:aef	jednostavan
ideju	N:f	ideja
koja	PRO	koji
ne	PAR	ne
može	A:aem	može
da	CONJ	da
omane	N:m	oman
i	CONJ	i
potpuno	ADV	potpuno
omanuti	V:m	omanuti
s	PREP	s
njom	PRO	ona
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Prvo	ADV	prvo
ću	A:aem	ću
malo	ADV	malo
ismejati	A:aem	ismejati
svrhu	N:f	svrha
filma	N:m	film
.	SENT	.
Svesni	A:aem	svestan
smo	N:f	smo
da	CONJ	da
živimo	N:f	živimo
u	PREP	u
vremenu	N:n	vreme
kada	CONJ	kada
bi	N:n	bi
jedan	NUM	jedan
dan	N:m	dan
bez	PREP	bez
'	A:aem	'
fejsa	N:m	fejsa
'	N:m	'
verovatno	ADV	verovatno
izazvao	V:m	izazvati
histeriju	N:f	histerija
a	CONJ	a
posle	PREP	posle
dva	NUM	dva
dana	N:m	dan
90	NUM	@card@
%	A:aem	%
klinaca	N:m	klinac
bi	N:f	bi
krenulo	V:n	krenuti
da	CONJ	da
izvršava	A:aen	izvršava
samoubistvo	N:n	samoubistvo
jer	CONJ	jer
zaboga	INT	zaboga
,	PUNCT	,
šta	PRO	šta
bi	N:f	bi
bila	V:f	biti
svrha	N:f	svrha
njihovog	PRO	njihov
postojanja	N:n	postojanje
.	SENT	.
Pre	PREP	pre
par	N:m	par
dana	N:m	dan
u	PREP	u
gradskom	A:aen	gradski
slušam	N:m	slušam
neke	PRO	neki
klinke	N:f	klinka
koje	PRO	koji
idu	A:aem	idu
u	PREP	u
medicinsku	A:aen	medicinski
.	SENT	.
One	PRO	onaj
vode	N:f	voda
sledeći	A:aem	sledeći
razgovor	N:m	razgovor
(	PUNCT	(
unapred	ADV	unapred
se	PAR	se
izvinjavam	N:m	izvinjavam
zbog	PREP	zbog
psovki	N:f	psovka
)	PUNCT	)
:	SENT	:
'	A:aem	'
Ja	N:m	Ja
mu	PRO	on
postavim	A:aem	postavim
to	PRO	taj
na	PREP	na
zid	N:m	zid
a	CONJ	a
on	PRO	on
pizda	N:f	pizda
15	NUM	@card@
minuta	N:m	minut
ništa	PRO	ništa
ne	PAR	ne
odgovara	N:m	odgovara
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Nego	CONJ	nego
jesi	N:f	jesi
li	PAR	li
ti	PRO	taj
videla	V:f	videti
šta	PRO	šta
sam	PRO	sam
postavila	V:f	postaviti
,	PUNCT	,
Mira	N:f	Mira
i	CONJ	i
Ana	N:f	Ana
su	N:m	su
već	CONJ	već
lajkovale	V:f	lajkovati
.	SENT	.
Ti	PRO	taj
kad	CONJ	kad
dođeš	A:aem	dođeš
kući	N:f	kuća
,	PUNCT	,
uloguj	V:n	uloguj
se	PAR	se
pa	CONJ	pa
lajkuj	N:m	lajkuj
.	PUNCT	.
.	SENT	.
.	PUNCT	.
'	N:m	'
.	SENT	.
Posle	PREP	posle
ovog	PRO	ovaj
donesoh	A:aen	donesoh
važnu	A:aen	važan
životnu	A:aef	životan
odluku	N:f	odluka
,	PUNCT	,
ako	CONJ	ako
su	N:m	su
ovo	PRO	ovaj
buduće	A:aem	budući
medicinske	A:aef	medicinski
sestre	N:f	sestra
i	CONJ	i
doktorke	N:f	doktorka
,	PUNCT	,
kad	CONJ	kad
u	PREP	u
penziju	N:f	penzija
ode	N:f	oda
poslednji	A:aem	poslednji
doktor	N:m	doktor
koga	PRO	koji
poznajem	N:m	poznajem
,	PUNCT	,
ja	PRO	ja
sam	PRO	sam
sa	PREP	sa
doktorima	N:m	doktor
završio	V:m	završiti
.	PUNCT	.
Makar	PAR	makar
umro	V:m	umreti
,	PUNCT	,
ja	PRO	ja
tamo	ADV	tamo
ne	PAR	ne
odlazim	N:m	odlazim
.	PUNCT	.
Ne	PAR	ne
želim	A:aem	želim
da	CONJ	da
čujem	A:ben	čujem
da	CONJ	da
na	PREP	na
'	A:aem	'
fejsu	N:m	fejsu
'	A:aem	'
postoji	N:m	postoji
sledeća	A:aen	sledeći
poruka	N:f	poruka
sa	PREP	sa
brdom	N:n	brdo
'	A:aem	'
lajkova	A:aem	lajkova
'	N:m	'
:	SENT	:
'	A:aem	'
Danas	N:m	Danas
sam	A:aem	sam
po	PREP	po
prvi	A:aem	prvi
put	N:m	put
pre	PREP	pre
operacije	N:f	operacija
kvadropleksigluteomaksimokvadrigilusa	N:m	kvadropleksigluteomaksimokvadrigilusa
pacijentu	N:m	pacijent
obrijala	V:m	obrijati
testise	N:m	testis
'	N:m	'
,	PUNCT	,
a	CONJ	a
da	CONJ	da
na	PREP	na
slici	N:f	slika
budu	A:aem	budu
moja	PRO	moj
mudašca	N:f	mudašca
.	SENT	.
Neka	PRO	neki
hvala	N:f	hvala
.	PUNCT	.
A	CONJ	a
da	CONJ	da
,	PUNCT	,
film	N:m	film
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Neko	PRO	neki
se	PAR	se
žestoko	ADV	žestoko
nadrndao	V:m	nadrndao
na	PREP	na
članove	N:m	član
društvene	A:aem	društven
mreže	N:f	mreža
zbog	PREP	zbog
jedne	NUM	jedan
jedine	A:aef	jedini
stvari	N:f	stvar
i	CONJ	i
kreće	A:aen	kreće
da	CONJ	da
im	PRO	ona
se	PAR	se
sveti	A:aem	svet
na	PREP	na
'	N:m	'
originalan	A:aem	originalan
'	A:aem	'
način	N:m	način
.	SENT	.
Šalje	N:f	Šalja
ih	PRO	ona
u	PREP	u
vazduh	N:m	vazduh
i	CONJ	i
postavlja	N:n	postavlja
im	PRO	ona
zadatke	N:m	zadatak
koje	PRO	koji
treba	N:f	treba
da	CONJ	da
izvrše	N:f	izvrše
u	PREP	u
avionu	N:m	avion
kako	CONJ	kako
bi	N:n	bi
njihovi	PRO	njihov
najmiliji	A:cem	mio
ostali	V:m	ostati
živi	A:aem	živ
.	SENT	.
Fina	A:aef	fin
ideja	N:f	ideja
,	PUNCT	,
zar	PAR	zar
ne	PAR	ne
?	PUNCT	?
Sve	PRO	sav
bi	A:aem	bi
to	PRO	taj
bilo	V:n	biti
odlično	ADV	odlično
da	CONJ	da
scenarista	N:m	scenarista
nije	N:m	nije
bio	V:m	biti
neko	PRO	neki
ko	PRO	ko
nema	A:aem	nem
blage	A:aef	blag
veze	N:f	veza
sa	PREP	sa
logikom	N:f	logika
.	SENT	.
Broj	N:m	broj
propusta	N:m	propust
skače	A:aen	skače
eksponencijalno	A:aen	eksponencijalan
kako	CONJ	kako
se	PAR	se
film	N:m	film
bliži	A:bem	bliz
kraju	N:m	kraj
.	SENT	.
Ljudi	N:m	ljudi
su	PREF	su
jednostavno	ADV	jednostavno
prenaloženi	V:m	prenaloženi
na	PREP	na
koncept	N:m	koncept
remek	N:m	remek
-	PUNCT	-
dela	N:n	delo
,	PUNCT	,
originalnog	A:aen	originalan
Saw	A:aem	Saw
filma	N:m	film
da	CONJ	da
to	PRO	taj
nije	A:aem	nije
normalno	ADV	normalno
.	SENT	.
Toliko	ADV	toliko
stvari	N:f	stvar
podseća	A:aef	podseća
na	PREP	na
Saw	N:m	Saw
da	CONJ	da
je	PRO	ona
počelo	V:n	početi
da	CONJ	da
mi	PRO	ja
bude	A:aem	bude
muka	N:f	muka
od	PREP	od
toga	PRO	taj
.	PUNCT	.
Zamislite	N:m	Zamislite
da	CONJ	da
imate	N:m	imate
bolesnu	A:aef	bolestan
verziju	N:f	verzija
Velikog	A:aem	velik
Brata	N:m	brata
u	PREP	u
avionu	N:m	avion
gde	CONJ	gde
ste	N:m	ste
u	PREP	u
situaciji	N:f	situacija
naređivati	A:aem	naređivati
likovima	N:m	lik
šta	PRO	šta
da	CONJ	da
rade	N:f	rada
.	SENT	.
To	PRO	taj
otvara	N:m	otvara
mnoge	A:aef	mnogi
mogućnosti	N:f	mogućnost
.	PUNCT	.
.	SENT	.
Dođavola	N:m	Dođavola
,	PUNCT	,
svako	PRO	svaki
sa	PREP	sa
tri	NUM	tri
čiste	A:aef	čist
u	PREP	u
glavi	N:f	glava
bi	N:f	bi
smislio	V:m	smisliti
par	N:m	par
opakih	A:aef	opak
stvari	N:f	stvar
.	PUNCT	.
E	CONJ	e
upravo	ADV	upravo
tu	ADV	tu
film	N:m	film
pada	N:m	pad
.	SENT	.
Sve	PRO	sav
propuste	N:m	propust
,	PUNCT	,
celu	A:aef	ceo
gomilu	N:f	gomila
predvidivosti	N:f	predvidivost
,	PUNCT	,
sve	PRO	sav
morone	N:m	moron
,	PUNCT	,
sve	PRO	sav
kretenske	A:aem	kretenski
delove	N:m	deo
flma	N:m	flma
bih	A:aem	bih
možda	ADV	možda
i	CONJ	i
mogao	V:m	moći
da	CONJ	da
zanemarim	A:aem	zanemarim
da	CONJ	da
film	N:m	film
nije	A:aem	nije
impotentan	A:aem	impotentan
tamo	ADV	tamo
gde	CONJ	gde
se	PAR	se
od	PREP	od
njega	PRO	on
čvrstina	N:f	čvrstina
najviše	ADV	najviše
traži	A:aem	traži
.	SENT	.
A	CONJ	a
kraj	N:m	kraj
i	CONJ	i
sama	A:aen	sam
ideja	N:f	ideja
ko	CONJ	ko
i	CONJ	i
zašto	ADV	zašto
stoji	N:f	stoja
iza	PREP	iza
svega	PRO	sav
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Da	CONJ	da
bih	A:aem	bih
vam	PRO	vi
objasnio	V:m	objasniti
koje	PRO	koji
je	PRO	ona
ovo	PRO	ovaj
moronisanje	N:n	moronisanje
,	PUNCT	,
morao	V:m	morati
bih	A:aem	bih
objaviti	N:m	objaviti
veliki	A:aem	velik
spoiler	N:m	spoiler
.	SENT	.
Kada	CONJ	kada
bih	A:aem	bih
objavio	V:m	objaviti
spoiler	N:m	spoiler
,	PUNCT	,
morao	V:m	morati
bih	A:aem	bih
da	CONJ	da
objasnim	V:m	objasnim
zašto	CONJ	zašto
je	PRO	ona
to	PRO	taj
toliko	ADV	toliko
očajna	A:aef	očajan
ideja	N:f	ideja
.	SENT	.
Kada	CONJ	kada
bih	A:aem	bih
objašnjavao	V:m	objašnjavati
zašto	CONJ	zašto
je	PRO	ona
ovo	PRO	ovaj
očajna	A:aef	očajan
ideja	N:f	ideja
,	PUNCT	,
vređao	V:m	vređati
bih	A:aem	bih
vašu	PRO	vaš
inteligenciju	N:f	inteligencija
.	SENT	.
Kada	CONJ	kada
bih	A:aem	bih
vređao	V:m	vređati
vašu	PRO	vaš
inteligenciju	N:f	inteligencija
,	PUNCT	,
bio	V:m	biti
bih	A:aef	bih
veći	A:bem	velik
moron	N:m	moron
čak	PAR	čak
i	CONJ	i
od	PREP	od
likova	N:n	likovo
koji	PRO	koji
su	N:m	su
smislili	V:m	smisliti
ovu	PRO	ovaj
ideju	N:f	ideja
.	SENT	.
