Amerikanci	N:m	Amerikanac
su	N:m	su
otišli	V:m	otići
u	PREP	u
tri	NUM	tri
lepe	N:m	lep
.	SENT	.
Imaju	N:f	Imaju
ozbiljan	A:aem	ozbiljan
problem	N:m	problem
.	PUNCT	.
Ako	CONJ	ako
neko	PRO	neki
ima	N:m	ima
šest	NUM	šest
ili	CONJ	ili
deset	NUM	deset
godina	N:f	godina
ne	PAR	ne
znči	V:m	znči
da	CONJ	da
je	PRO	ona
retardiran	A:aem	retardiran
.	SENT	.
Znate	V:f	znati
,	PUNCT	,
dragi	A:aem	drag
producenti	N:m	producent
ovog	PRO	ovaj
filma	N:m	film
,	PUNCT	,
klinci	N:m	klinac
danas	ADV	danas
koriste	N:m	koriste
komp	N:m	komp
bolje	A:bef	dobar
od	PREP	od
vas	PRO	vi
,	PUNCT	,
imaju	N:f	imaju
pet	NUM	pet
mobilnih	A:aen	mobilan
telefona	N:m	telefon
,	PUNCT	,
kamerice	N:f	kamerice
,	PUNCT	,
video	V:m	videti
igrice	N:f	igrica
,	PUNCT	,
videli	V:m	videti
su	N:m	su
više	ADV	više
čuda	N:n	čudo
iz	PREP	iz
svoje	PRO	svoj
sobe	N:f	soba
nego	CONJ	nego
što	CONJ	što
ste	N:n	ste
vi	PRO	vi
na	PREP	na
vašim	PRO	vaš
uplaćenim	A:aem	uplaćen
aranžmanima	N:m	aranžman
kod	PREP	kod
nekog	PRO	neki
holivudskog	A:aem	holivudski
Kon	N:m	Kon
-	PUNCT	-
Tiki	N:m	Tika
trevla	V:m	trevla
.	PUNCT	.
I	CONJ	i
vi	PRO	vi
pokušavate	N:m	pokušavate
da	CONJ	da
im	PRO	ona
prodate	A:aef	prodat
ovo	PRO	ovaj
sranje	N:n	sranje
?	PUNCT	?
!	SENT	!
Percy	A:aem	Percy
Jackson	N:m	Jackson
je	PRO	ona
klinac	N:m	klinac
.	SENT	.
Ima	A:aem	Ima
tu	PRO	taj
neke	PRO	neki
magije	N:f	magija
i	CONJ	i
nekih	PRO	neki
čudesa	N:n	čudo
.	PUNCT	.
I	CONJ	i
on	PRO	on
nije	A:aem	nije
običan	A:aem	običan
klinac	N:m	klinac
.	SENT	.
Dakle	CONJ	dakle
imamo	N:m	imamo
kopiju	N:f	kopija
Harija	N:m	Hari
Potera	N:m	Poter
.	SENT	.
Da	CONJ	da
budem	A:aem	budem
precizan	A:aem	precizan
,	PUNCT	,
ovde	ADV	ovde
je	PRO	ona
ključni	A:aem	ključni
zaplet	N:m	zaplet
leži	A:aem	leži
u	PREP	u
grčkoj	A:aef	grčki
mitologiji	N:f	mitologija
jer	CONJ	jer
je	PRO	ona
Persijev	A:aem	Persijev
ćale	N:n	ćale
starogrčki	A:aem	starogrčki
bog	N:m	bog
koji	PRO	koji
je	PRO	ona
sa	PREP	sa
neba	N:n	nebo
ošacovao	N:m	ošacovao
njegovu	PRO	njegov
kevu	N:f	keva
i	CONJ	i
sada	ADV	sada
klincu	N:m	klinac
sve	PRO	sav
ide	N:f	Ida
teško	ADV	teško
u	PREP	u
školi	N:f	škola
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
dobro	ADV	dobro
kapira	N:m	kapira
sa	PREP	sa
prirodnim	A:aef	prirodan
elementima	N:m	element
,	PUNCT	,
posebno	ADV	posebno
vodom	N:f	voda
.	SENT	.
Kada	CONJ	kada
skapira	N:m	skapira
da	CONJ	da
ga	PRO	on
sve	PRO	sav
demonske	A:aef	demonski
sile	N:f	sila
napadaju	N:m	napadaj
i	CONJ	i
da	CONJ	da
mu	PRO	on
je	PRO	ona
najbolji	A:cem	dobar
ortak	N:m	ortak
polu	N:f	pola
-	PUNCT	-
ovca	N:f	ovca
,	PUNCT	,
Persi	N:f	Persa
rešava	A:aef	rešava
da	CONJ	da
preuzme	A:aem	preuzme
stvar	N:f	stvar
u	PREP	u
svoje	PRO	svoj
ruke	N:f	ruka
dok	CONJ	dok
ga	PRO	on
keva	N:f	keva
vodi	N:f	voda
u	PREP	u
privatnu	A:aem	privatan
školu	N:f	škola
za	PREP	za
polu	N:f	pola
-	PUNCT	-
bogove	N:m	bog
.	PUNCT	.
I	CONJ	i
dok	CONJ	dok
u	PREP	u
Grčkoj	N:f	Grčka
radnici	N:m	radnik
nemaju	N:f	nemaju
šta	PRO	šta
da	CONJ	da
jedu	N:m	jed
i	CONJ	i
banke	N:f	banka
gore	ADV	gore
,	PUNCT	,
a	CONJ	a
avio	PREF	avio
saobraćaj	N:m	saobraćaj
je	PRO	ona
u	PREP	u
zastoju	N:m	zastoj
,	PUNCT	,
holivudski	A:aem	holivudski
producenti	N:m	producent
se	PAR	se
proseravaju	N:m	proseravaju
po	PREP	po
njihovom	PRO	njihov
nasleđu	N:n	nasleđe
…	SENT	…
Ovom	A:aem	Ovom
filmu	N:m	film
manjka	N:m	manjak
na	PREP	na
dosta	ADV	dosta
polja	N:n	polje
.	SENT	.
Ljubav	N:f	ljubav
između	PREP	između
Persija	N:f	Persija
i	CONJ	i
Atinine	A:aef	Atinine
ćerke	N:f	ćerka
je	PRO	ona
dosta	ADV	dosta
banalna	A:aem	banalan
i	CONJ	i
neubedljiva	A:aem	neubedljiv
,	PUNCT	,
stvorenja	N:n	stvorenje
sonu	A:aef	soni
stranu	N:f	strana
mraka	N:m	mrak
su	PREF	su
dosta	ADV	dosta
kompjuterska	A:aen	kompjuterski
i	CONJ	i
bezopasna	A:aen	bezopasan
(	PUNCT	(
kao	CONJ	kao
da	CONJ	da
niko	PRO	niko
nije	N:f	nije
gledao	V:m	gledati
ni	PAR	ni
jedan	NUM	jedan
film	N:m	film
Gielma	N:m	Gielma
Del	N:m	Del
Tora	N:f	Tora
)	PUNCT	)
,	PUNCT	,
dok	CONJ	dok
ostali	V:m	ostati
profi	N:m	profa
glumci	N:m	glumac
(	PUNCT	(
Pirs	N:m	Pirs
Brosnan	N:m	Brosnan
,	PUNCT	,
Uma	N:m	um
Turman	N:m	Turman
)	PUNCT	)
ne	PAR	ne
vade	N:m	vade
prosek	N:m	prosek
.	SENT	.
Ostajemo	N:f	Ostajemo
na	PREP	na
dva	NUM	dva
sata	N:m	sat
predvidive	A:aef	predvidiv
zabave	N:f	zabava
koja	PRO	koji
,	PUNCT	,
u	PREP	u
odustvu	N:n	odustvu
bioskopskog	A:aem	bioskopski
platna	N:n	platno
deluje	N:m	deluje
kao	CONJ	kao
dosta	ADV	dosta
zastarela	V:f	zastareti
igrica	N:f	igrica
sa	PREP	sa
nekog	PRO	neki
starijeg	A:bem	star
Soni	N:m	Soni
Plejstejšna	N:f	Plejstejšna
.	SENT	.
3	NUM	@card@
kokice	N:f	kokica
,	PUNCT	,
ni	PAR	ni
zrno	N:n	zrno
soli	N:f	so
više	ADV	više
.	SENT	.
