Smrt	N:f	smrt
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
nije	V:f	nije
došla	V:f	doći
i	CONJ	i
po	PREP	po
koncept	N:m	koncept
ovog	PRO	ovaj
serijala	N:m	serijal
.	SENT	.
U	PREP	u
srpskim	A:aen	srpski
bioskopima	N:m	bioskop
nemamo	N:f	nemamo
priliku	N:f	prilika
da	CONJ	da
uživamo	N:f	uživamo
u	PREP	u
3	NUM	@card@
D	A:aef	D
verziji	N:f	verzija
ovog	PRO	ovaj
filma	N:m	film
koja	PRO	koji
bi	N:f	bi
trebalo	V:n	trebati
da	CONJ	da
predstavlja	A:aen	predstavlja
unapređenje	N:n	unapređenje
izlizane	V:f	izlizati
formule	N:f	formula
o	PREP	o
Smrti	N:f	smrt
koja	PRO	koji
ubija	N:n	ubija
one	PRO	onaj
koji	PRO	koji
su	N:m	su
uspeli	V:m	uspeti
da	CONJ	da
joj	PRO	ona
uteknu	A:aem	uteknu
prvi	A:aem	prvi
put	N:m	put
kada	CONJ	kada
ih	PRO	ona
je	PRO	ona
pojurila	V:f	pojuriti
.	SENT	.
Tako	ADV	tako
smo	N:f	smo
ostavljeni	A:aem	ostavljen
na	PREP	na
milost	N:f	milost
i	CONJ	i
nemilost	N:f	nemilost
objektima	N:m	objekt
koji	PRO	koji
nam	PRO	mi
“	N:m	“
bez	PREP	bez
razloga	N:m	razlog
”	A:aem	”
lete	N:m	let
u	PREP	u
lice	N:n	lice
tokom	PREP	tokom
predugih	A:aem	predug
osamdesetak	ADV	osamdesetak
minuta	N:m	minut
.	SENT	.
David	N:m	David
R	N:f	R
.	SENT	.
Ellis	N:m	Ellis
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
karijeru	N:f	karijera
započeo	V:m	započeti
kao	ADV	kao
kaskader	N:m	kaskader
,	PUNCT	,
nije	A:aen	nije
pokazao	V:m	pokazati
mnogo	ADV	mnogo
mašte	N:f	mašta
u	PREP	u
četvtom	N:m	četvtom
nastavku	N:m	nastavak
Poslednje	A:aem	poslednji
Ekskurzije	N:f	ekskurzija
(	PUNCT	(
zašto	CONJ	zašto
se	PAR	se
ovaj	PRO	ovaj
film	N:m	film
i	CONJ	i
dalje	ADV	dalje
zove	N:m	zov
ovako	ADV	ovako
?	PUNCT	?
)	SENT	)
,	PUNCT	,
iako	CONJ	iako
je	PRO	ona
već	PAR	već
radio	V:m	raditi
na	PREP	na
drugom	A:aef	drugi
nastavku	N:m	nastavak
,	PUNCT	,
a	CONJ	a
svetu	A:aen	svet
je	PRO	ona
podario	V:m	podariti
i	CONJ	i
jedno	NUM	jedan
od	PREP	od
najbizarnijih	A:cef	bizaran
dela	N:n	delo
filmske	A:aem	filmski
umetnosti	N:f	umetnost
-	PUNCT	-
Snakes	N:m	Snakes
On	N:m	On
The	INT	The
Plane	N:f	Plana
.	SENT	.
Uvodna	A:aef	uvodni
sekvenca	N:f	sekvenca
,	PUNCT	,
koja	PRO	koji
se	PAR	se
odigrava	A:aen	odigrava
na	PREP	na
američkim	A:aem	američki
reli	N:m	reli
trkama	N:f	trka
(	PUNCT	(
auti	A:aem	auti
jure	N:f	jura
u	PREP	u
krug	N:m	krug
,	PUNCT	,
a	CONJ	a
publika	N:f	publika
se	PAR	se
nada	N:f	nada
da	CONJ	da
će	V:m	će
neko	PRO	neki
da	CONJ	da
zasere	N:m	zasere
)	PUNCT	)
,	PUNCT	,
obećavala	V:f	obećavati
je	PRO	ona
gore	ADV	gore
tulum	N:m	tulum
,	PUNCT	,
ali	CONJ	ali
na	PREP	na
kraju	N:m	kraj
je	PRO	ona
sve	PAR	sve
ispalo	V:n	ispasti
kao	CONJ	kao
nešššto	A:aem	nešššto
krvaviji	A:bem	krvav
isečak	N:m	isečak
iz	PREP	iz
nekog	PRO	neki
filma	N:m	film
katastrofe	N:f	katastrofa
.	SENT	.
Nakon	PREP	nakon
toga	PRO	taj
,	PUNCT	,
sve	ADV	sve
ide	A:aem	ide
kako	CONJ	kako
su	PREF	su
nas	PRO	mi
već	PAR	već
navikli	V:m	naviknuti
.	SENT	.
Ekipa	N:f	ekipa
(	PUNCT	(
niko	PRO	niko
vredan	A:aem	vredan
spominjanja	N:n	spominjanje
)	PUNCT	)
relativno	ADV	relativno
brzo	ADV	brzo
shvata	N:m	shvata
šta	PRO	šta
ih	PRO	ona
čeka	N:f	čeka
(	PUNCT	(
opet	ADV	opet
je	PRO	ona
Google	N:m	Google
najbolje	ADV	najbolje
dao	V:m	dati
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
čitav	A:aem	čitav
film	N:m	film
potom	ADV	potom
postaje	N:f	postaja
zamarajuće	N:n	zamarajuće
cimanje	N:n	cimanje
od	PREP	od
jedne	NUM	jedan
do	PREP	do
druge	A:aem	drugi
tragedije	N:f	tragedija
.	SENT	.
Ovaj	PRO	ovaj
gore	ADV	gore
-	PUNCT	-
ohod	N:m	ohod
dodatno	ADV	dodatno
je	PRO	ona
unapređen	V:m	unaprediti
,	PUNCT	,
a	CONJ	a
zapravo	ADV	zapravo
osakaćen	V:m	osakatiti
,	PUNCT	,
time	PRO	taj
što	CONJ	što
glavni	A:aem	glavni
junak	N:m	junak
koji	PRO	koji
je	PRO	ona
imao	V:m	imati
“	A:aem	“
predosećanje	N:n	predosećanje
”	N:m	”
sada	ADV	sada
ima	A:aem	ima
i	CONJ	i
mini	N:f	mina
-	PUNCT	-
predosećanja	N:n	predosećanje
pred	PREP	pred
stradanje	N:n	stradanje
svake	PRO	svaki
naredne	A:aef	naredni
žrtve	N:f	žrtva
koja	PRO	koji
su	PREF	su
data	V:f	dati
u	PREP	u
formi	N:f	forma
spotovske	A:aef	spotovske
animacije	N:f	animacija
u	PREP	u
kojoj	PRO	koji
su	N:m	su
nabacane	A:aef	nabacan
alatke	N:f	alatka
koje	PRO	koji
će	A:aem	će
mučeniku	N:m	mučenik
doći	A:aem	doći
glave	N:f	glava
.	SENT	.
Sve	ADV	sve
to	PRO	taj
bi	N:f	bi
trebalo	V:n	trebati
da	CONJ	da
nas	PRO	mi
animira	N:m	animira
da	CONJ	da
u	PREP	u
narednoj	A:aef	naredni
sekvenci	N:f	sekvenca
“	A:aem	“
pogađamo	N:f	pogađamo
”	A:aem	”
kako	CONJ	kako
će	A:aem	će
neko	PRO	neki
da	CONJ	da
pogine	A:aem	pogine
,	PUNCT	,
ali	CONJ	ali
zapravo	ADV	zapravo
samo	PAR	samo
služi	A:aen	služi
popunjavanju	N:n	popunjavanje
prostora	N:m	prostor
i	CONJ	i
kolje	N:n	kolje
iovako	N:f	iovako
loš	A:aem	loš
ritam	N:m	ritam
filma	N:m	film
.	SENT	.
Većina	A:aef	Većina
smrti	N:f	smrt
ima	V:f	ima
zanimljivije	A:bef	zanimljiv
osmišljen	V:m	osmisliti
segment	N:m	segment
koji	PRO	koji
nas	PRO	mi
zavarava	N:m	zavarava
,	PUNCT	,
nego	CONJ	nego
samo	PAR	samo
realizaciju	N:f	realizacija
,	PUNCT	,
uz	PREP	uz
pregršt	N:f	pregršt
lažnih	A:aem	lažan
navođenja	N:n	navođenje
.	SENT	.
Kako	CONJ	kako
su	N:m	su
likovi	N:m	lik
imbecili	N:m	imbecil
,	PUNCT	,
a	CONJ	a
niko	PRO	niko
ni	PAR	ni
ne	PAR	ne
pretenduje	N:f	pretenduje
da	CONJ	da
im	PRO	ona
organizuje	N:f	organizuje
nekakav	PRO	nekakav
život	N:m	život
ne	PAR	ne
bi	V:m	bi
li	PAR	li
nas	PRO	mi
imalo	V:n	imati
vezao	V:m	vezati
za	PREP	za
njih	PRO	ona
,	PUNCT	,
izostala	V:m	izostati
je	PRO	ona
i	CONJ	i
jeza	N:f	jeza
prisustva	N:n	prisustvo
Smrti	N:m	Smrti
koja	PRO	koji
je	PRO	ona
nekako	ADV	nekako
pre	ADV	pre
uspevala	V:f	uspevati
da	CONJ	da
se	PAR	se
prebaci	N:m	prebaci
s	PREP	s
ekrana	N:m	ekran
među	PREP	među
publiku	N:f	publika
.	SENT	.
Najzanimljiviji	A:cem	zanimljiv
trenutak	N:m	trenutak
filma	N:m	film
je	PRO	ona
kada	CONJ	kada
glavni	A:aem	glavni
momak	N:m	momak
pokušava	N:f	pokušava
da	CONJ	da
spasi	N:m	Spasa
svoju	PRO	svoj
curu	N:f	cura
iz	PREP	iz
kandži	N:f	kandža
pokvarenih	A:aef	pokvaren
pokretnih	A:aef	pokretan
stepenica	N:f	stepenica
,	PUNCT	,
a	CONJ	a
onda	ADV	onda
potom	ADV	potom
isprati	N:f	isprati
kako	CONJ	kako
je	PRO	ona
ove	PRO	ovaj
samelju	N:m	samelju
.	SENT	.
Simpatično	A:aen	Simpatično
,	PUNCT	,
ako	CONJ	ako
volite	N:m	volite
.	SENT	.
Čini	N:m	Čina
mi	PRO	ja
se	PAR	se
da	CONJ	da
bi	A:aen	bi
FD	N:f	FD
5	NUM	@card@
morao	V:m	morati
da	CONJ	da
bude	A:aem	bude
parodija	N:f	parodija
na	PREP	na
prethodne	A:aef	prethodan
nastavke	N:m	nastavak
.	SENT	.
Namerno	ADV	namerno
.	PUNCT	.
A	CONJ	a
ne	PAR	ne
slučajno	ADV	slučajno
.	SENT	.
