Ono	PRO	onaj
,	PUNCT	,
kao	CONJ	kao
,	PUNCT	,
AU	ABB	AU
.	PUNCT	.
Jedno	NUM	jedan
veliko	A:aen	velik
AU	ABB	AU
.	SENT	.
Sam	PRO	sam
sam	PRO	sam
kriv	A:aem	kriv
,	PUNCT	,
trebao	V:m	trebati
sam	PRO	sam
znati	V:m	znati
da	CONJ	da
nešto	ADV	nešto
nije	V:m	nije
u	PREP	u
redu	N:m	red
čim	CONJ	čim
na	PREP	na
početku	N:m	početak
filma	N:m	film
piše	A:aem	piše
„	A:aem	„
From	N:m	From
the	N:m	the
makers	N:m	makers
of	N:m	of
Twilight	N:m	Twilight
”	N:m	”
.	SENT	.
Ono	PRO	onaj
,	PUNCT	,
momci	N:m	momak
,	PUNCT	,
ja	PRO	ja
se	PAR	se
time	PRO	taj
baš	PAR	baš
i	CONJ	i
ne	PAR	ne
bih	A:aem	bih
hvalio	V:m	hvaliti
.	SENT	.
Dragi	A:aem	drag
čitaoci	N:m	čitalac
,	PUNCT	,
pred	PREP	pred
vama	PRO	vi
je	PRO	ona
film	N:m	film
koji	PRO	koji
ulazi	N:m	ulaz
u	PREP	u
uži	A:bem	uzak
izbor	N:m	izbor
za	PREP	za
najkrš	A:cef	najkrš
film	N:m	film
godine	N:f	godina
iako	CONJ	iako
je	PRO	ona
tek	PAR	tek
jun	N:m	jun
.	SENT	.
Na	PREP	na
ovo	PRO	ovaj
tako	ADV	tako
ne	PAR	ne
treba	N:f	treba
trošiti	A:aem	trošiti
vreme	N:n	vreme
,	PUNCT	,
a	CONJ	a
ako	CONJ	ako
ste	A:aem	ste
slučajno	ADV	slučajno
platili	V:m	platiti
i	CONJ	i
otišli	V:m	otići
u	PREP	u
bioskop	N:m	bioskop
da	CONJ	da
gledate	N:m	gledate
ovo	PRO	ovaj
sa	PREP	sa
klincima	N:m	klinac
,	PUNCT	,
moje	PRO	moj
saučešće	N:n	saučešće
.	SENT	.
Ja	PRO	ja
bih	A:aem	bih
iz	PREP	iz
revolta	N:m	revolt
uradio	V:m	uraditi
nešto	ADV	nešto
sa	PREP	sa
sobom	PRO	sebe
u	PREP	u
tom	PRO	taj
slučaju	N:m	slučaj
,	PUNCT	,
samo	PAR	samo
čupanje	N:n	čupanje
kose	N:f	kosa
i	CONJ	i
besno	ADV	besno
besciljno	A:aen	besciljan
mahanje	N:n	mahanje
pesnicom	N:f	pesnica
ka	PREP	ka
nebu	N:n	nebo
je	PRO	ona
preblaga	A:aef	preblag
verzija	N:f	verzija
.	SENT	.
Otišao	A:aem	Otišao
bih	N:m	bih
u	PREP	u
Indiju	N:f	Indija
na	PREP	na
neki	PRO	neki
festival	N:m	festival
samosakaćenja	N:n	samosakaćenje
da	CONJ	da
okajem	N:n	okajem
svoj	PRO	sav
greh	N:m	greh
–	A:aem	–
što	CONJ	što
sam	A:aem	sam
dao	V:m	dati
pare	N:f	para
da	CONJ	da
gledam	N:m	gledam
ovo	PRO	ovaj
govno	N:n	govno
od	PREP	od
filma	N:m	film
.	SENT	.
Ali	CONJ	ali
ipak	PAR	ipak
,	PUNCT	,
to	PRO	taj
je	PRO	ona
samo	PAR	samo
hipotetički	A:aem	hipotetički
,	PUNCT	,
sreća	N:f	sreća
pa	CONJ	pa
umem	N:m	umem
da	CONJ	da
koristim	A:aem	koristim
net	N:m	net
.	SENT	.
Vaša	A:aem	Vaša
sreća	N:f	sreća
,	PUNCT	,
dragi	A:aem	drag
čitaoci	N:m	čitalac
,	PUNCT	,
je	PRO	ona
da	CONJ	da
imate	N:m	imate
tim	PRO	taj
2	NUM	@card@
kokice	N:f	kokica
da	CONJ	da
gleda	N:m	gleda
ovakva	PRO	ovakav
sranja	N:n	sranje
umesto	PREP	umesto
vas	PRO	vi
,	PUNCT	,
i	CONJ	i
preporuči	V:m	preporuči
vam	PRO	vi
na	PREP	na
šta	PRO	šta
da	CONJ	da
NE	A:aem	NE
TROŠITE	A:aem	TROŠITE
SVOJE	N:m	SVOJE
DRAGOCENO	A:aen	dragocen
VREME	N:m	VREME
.	SENT	.
Možete	N:f	Možete
se	PAR	se
mnogo	ADV	mnogo
bolje	A:bef	dobar
provesti	N:f	provesti
tako	ADV	tako
što	CONJ	što
ćete	N:m	ćete
čačkati	A:aem	čačkati
nos	N:m	nos
.	SENT	.
Nekome	PRO	neki
.	SENT	.
No	CONJ	no
,	PUNCT	,
film	N:m	film
.	PUNCT	.
Čudno	A:aen	Čudno
selo	N:n	selo
,	PUNCT	,
ko	CONJ	ko
da	CONJ	da
se	PAR	se
svi	PRO	sav
drogiraju	N:m	drogiraju
u	PREP	u
njemu	PRO	on
,	PUNCT	,
napada	N:m	napad
ih	PRO	ona
vuk	N:m	vuk
koji	PRO	koji
se	PAR	se
ispostavi	N:f	ispostava
da	CONJ	da
je	PRO	ona
vukodlak	N:m	vukodlak
,	PUNCT	,
par	N:m	par
gej	N:m	gej
likova	N:n	likovo
odlazi	N:m	odlazi
da	CONJ	da
ga	PRO	on
ubije	A:aem	ubije
,	PUNCT	,
međutim	PAR	međutim
,	PUNCT	,
ubiše	A:aem	ubiše
običanog	A:aem	običanog
vuka	N:m	vuk
,	PUNCT	,
dolazi	N:m	dolaz
neki	PRO	neki
zajebani	A:aem	zajeban
sveštenik	N:m	sveštenik
,	PUNCT	,
aaaaa	N:m	aaaaa
,	PUNCT	,
ne	PAR	ne
mogu	A:aem	mogu
više	ADV	više
da	CONJ	da
izdržim	A:aem	izdržim
,	PUNCT	,
moram	N:m	moram
opet	ADV	opet
da	CONJ	da
kažem	A:aem	kažem
,	PUNCT	,
film	N:m	film
je	PRO	ona
sranje	N:n	sranje
!	PUNCT	!
Debilne	A:aef	debilan
,	PUNCT	,
ali	CONJ	ali
DEBILNE	A:aef	debilan
konverzacije	N:f	konverzacija
,	PUNCT	,
razrada	N:f	razrada
likova	N:n	likovo
je	PRO	ona
na	PREP	na
nivou	N:m	nivo
predstave	N:f	predstava
na	PREP	na
priredbi	N:f	priredba
u	PREP	u
nižim	A:ben	nizak
razredima	N:m	razred
osnovne	A:aem	osnovni
,	PUNCT	,
glavni	A:aem	glavni
lik	N:m	lik
je	PRO	ona
gej	N:m	gej
,	PUNCT	,
a	CONJ	a
ubistvo	N:n	ubistvo
vuka	N:m	vuk
se	PAR	se
slavi	N:f	slava
orgijama	N:f	orgija
.	SENT	.
U	PREP	u
srednjevekovnom	A:aen	srednjevekovni
selu	N:n	selo
.	SENT	.
A	CONJ	a
vukodlak	N:m	vukodlak
se	PAR	se
inače	PAR	inače
kao	CONJ	kao
loži	N:f	loža
na	PREP	na
Crvenkapu	N:f	Crvenkapa
.	PUNCT	.
Ali	CONJ	ali
na	PREP	na
kraju	N:m	kraj
se	PAR	se
ispostavi	N:f	ispostava
da	CONJ	da
joj	PRO	ona
je	PRO	ona
on	PRO	on
otac	N:m	otac
.	PUNCT	.
I	CONJ	i
to	PRO	taj
je	PRO	ona
on	PRO	on
sve	PRO	sav
vreme	N:n	vreme
znao	V:m	znati
(	PUNCT	(
muvao	V:m	muvati
je	PRO	ona
svoju	PRO	svoj
ćerku	N:f	ćerka
?	PUNCT	?
)	SENT	)
!	PUNCT	!
Jebo	N:f	Jebo
mater	N:f	mati
,	PUNCT	,
film	N:m	film
krši	N:m	krši
toliko	ADV	toliko
zakona	N:m	zakon
logike	N:f	logika
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
mogu	A:aen	mogu
da	CONJ	da
se	PAR	se
setim	V:n	setim
svih	PRO	sav
debilnih	A:aef	debilan
scena	N:f	scena
.	SENT	.
Zaključak	N:m	Zaključak
:	PUNCT	:
NEMOJTE	N:m	NEMOJTE
.	PUNCT	.
Tačka	N:f	Tačka
.	PUNCT	.
