Valjda	ADV	valjda
su	N:m	su
ovi	PRO	ovaj
'	N:m	'
pronađeni	V:m	pronaći
snimci	N:f	snimka
'	N:m	'
u	PREP	u
modi	N:f	moda
pa	CONJ	pa
se	PAR	se
evo	PAR	evo
i	CONJ	i
ovi	PRO	ovaj
balvani	N:m	balvan
odlučiše	N:m	odlučiše
da	CONJ	da
snime	N:m	snime
film	N:m	film
sa	PREP	sa
pronađenim	A:aef	pronađen
snimcima	N:m	snimak
.	SENT	.
Veštica	N:f	Veštica
iz	PREP	iz
Blera	N:m	Bler
je	PRO	ona
bila	V:f	biti
revolucionarna	A:aef	revolucionaran
sa	PREP	sa
ovim	PRO	ovaj
konceptom	N:m	koncept
.	SENT	.
Sem	PREP	sem
nje	PRO	ona
,	PUNCT	,
99	NUM	@card@
.	PUNCT	.
9	NUM	@card@
%	N:m	%
stvari	N:f	stvar
je	PRO	ona
zaista	PAR	zaista
bezvezno	A:aen	bezvezan
.	PUNCT	.
Recimo	A:aen	Recimo
još	ADV	još
bih	A:aem	bih
samo	PAR	samo
izdvojio	V:m	izdvojiti
[	A:aem	[
Rec	N:m	Rec
]	A:aem	]
i	CONJ	i
prvu	A:aem	prvi
Paranormalnu	A:aef	paranormalan
Aktivnost	N:f	aktivnost
kao	CONJ	kao
uspešne	A:aef	uspešan
filmove	N:m	film
.	SENT	.
Ovo	PRO	ovaj
ostalo	V:n	ostati
što	CONJ	što
sam	PRO	sam
gledao	V:m	gledati
je	PRO	ona
baš	PAR	baš
loše	ADV	loše
i	CONJ	i
postajem	N:m	postajem
prilično	ADV	prilično
netolerantan	A:aem	netolerantan
prema	PREP	prema
ovoj	PRO	ovaj
vrsti	N:f	vrsta
filmova	N:m	film
.	SENT	.
Što	N:m	Što
je	PRO	ona
najgore	ADV	najgore
,	PUNCT	,
ovde	ADV	ovde
vidimo	A:aen	vidimo
milion	N:m	milion
razloga	N:m	razlog
zašto	CONJ	zašto
koncept	N:m	koncept
filma	N:m	film
nije	V:m	nije
trebao	V:m	trebati
biti	N:f	bit
takav	PRO	takav
.	PUNCT	.
Prvo	ADV	prvo
,	PUNCT	,
efekti	N:m	efekt
su	PREF	su
sasvim	ADV	sasvim
ok	A:aem	ok
,	PUNCT	,
pa	CONJ	pa
nisu	N:m	nisu
morali	V:m	morati
biti	N:f	bit
maskirani	A:aem	maskiran
kamerom	N:f	kamera
iz	PREP	iz
ruke	N:f	ruka
.	SENT	.
Drugo	A:aen	drugi
,	PUNCT	,
ta	PRO	taj
kamera	N:f	kamera
iz	PREP	iz
ruke	N:f	ruka
se	PAR	se
i	CONJ	i
retko	ADV	retko
kada	CONJ	kada
cimata	N:m	cimata
pa	CONJ	pa
onda	CONJ	onda
se	PAR	se
i	CONJ	i
pitamo	N:f	pitamo
čemu	PRO	šta
li	PAR	li
ona	PRO	ona
služi	N:m	služi
.	SENT	.
Potom	ADV	potom
,	PUNCT	,
mnogo	ADV	mnogo
scena	N:f	scena
je	PRO	ona
isforsirano	A:aen	isforsiran
kako	CONJ	kako
bi	A:aen	bi
se	PAR	se
videlo	V:n	videti
opravdanje	N:n	opravdanje
zašto	CONJ	zašto
se	PAR	se
nešto	ADV	nešto
i	CONJ	i
snima	N:m	san
a	CONJ	a
čak	PAR	čak
i	CONJ	i
tada	ADV	tada
to	PRO	taj
pitanje	N:n	pitanje
ne	PAR	ne
dobija	N:n	dobija
odgovor	N:m	odgovor
.	PUNCT	.
I	CONJ	i
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
morali	V:m	morati
su	N:m	su
da	CONJ	da
ubace	A:aem	ubace
lika	N:m	lik
koji	PRO	koji
će	N:f	će
najviše	ADV	najviše
i	CONJ	i
da	CONJ	da
barata	N:n	barata
tim	PRO	taj
kamerama	N:f	kamera
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
ne	PAR	ne
valja	N:f	valja
,	PUNCT	,
taj	PRO	taj
lik	N:m	lik
je	PRO	ona
užasavajuće	A:aem	užasavajući
iritantan	A:aem	iritantan
.	SENT	.
Ono	PRO	onaj
što	PRO	što
još	PAR	još
više	ADV	više
ne	PAR	ne
valja	N:f	valja
,	PUNCT	,
to	PRO	taj
je	PRO	ona
glavni	A:aem	glavni
lik	N:m	lik
u	PREP	u
filmu	N:m	film
.	SENT	.
Kolosalan	A:aem	kolosalan
minus	N:m	minus
zbog	PREP	zbog
ovih	PRO	ovaj
'	N:m	'
pronađenih	A:aef	pronađen
snimaka	N:f	snimka
'	A:aem	'
i	CONJ	i
antipatičnog	A:aen	antipatičan
momčeta	N:n	momče
koga	PRO	koji
moradoh	N:m	moradoh
gledati	V:m	gledati
ceo	A:aem	ceo
film	N:m	film
.	SENT	.
Obično	A:aen	Obično
kada	CONJ	kada
film	N:m	film
ima	A:aen	ima
ovakvu	PRO	ovakav
temu	N:f	tema
,	PUNCT	,
moram	N:m	moram
da	CONJ	da
se	PAR	se
bavim	V:n	bavim
nekim	PRO	neki
nelogičnostima	N:f	nelogičnost
.	SENT	.
Ovog	PRO	ovaj
puta	N:m	put
mi	PRO	ja
se	PAR	se
jednostavno	ADV	jednostavno
ne	PAR	ne
piše	V:m	piše
o	PREP	o
tome	PRO	taj
.	PUNCT	.
Kako	CONJ	kako
to	PRO	taj
da	CONJ	da
niko	PRO	niko
nije	N:f	nije
primetio	V:m	primetiti
dinosauruse	N:m	dinosaurus
do	PREP	do
sada	ADV	sada
,	PUNCT	,
kako	CONJ	kako
to	PRO	taj
da	CONJ	da
se	PAR	se
nije	N:n	nije
provelo	V:n	provesti
malo	ADV	malo
više	ADV	više
vremena	N:n	vreme
u	PREP	u
izučavanju	N:n	izučavanje
ponašanja	N:n	ponašanje
ovih	PRO	ovaj
fascinantnih	A:aen	fascinantan
stvorenja	N:n	stvorenje
,	PUNCT	,
kako	CONJ	kako
to	PRO	taj
da	CONJ	da
ceo	A:aem	ceo
svet	N:m	svet
zna	A:aem	zna
za	PREP	za
ovu	PRO	ovaj
ekspediciju	N:f	ekspedicija
i	CONJ	i
ljudi	N:m	ljudi
iz	PREP	iz
ekspedicije	N:f	ekspedicija
uspeju	N:m	uspeju
da	CONJ	da
izgube	N:m	izgube
trajno	A:aen	trajan
kontakt	N:m	kontakt
sa	PREP	sa
svima	PRO	sav
bez	PREP	bez
da	CONJ	da
ih	PRO	ona
iko	PRO	iko
potraži	N:f	potraži
posle	PREP	posle
toga	PRO	taj
itd	N:m	itd
.	SENT	.
To	PRO	taj
ću	A:aem	ću
preskočiti	A:aem	preskočiti
jer	CONJ	jer
mi	PRO	ja
iskreno	ADV	iskreno
ne	PAR	ne
bode	N:f	boda
oči	N:f	oči
kao	CONJ	kao
neke	PRO	neki
druge	A:aem	drugi
stvari	N:f	stvar
.	SENT	.
Recimo	A:aen	Recimo
imamo	N:m	imamo
tu	ADV	tu
super	ADV	super
ekspediciju	N:f	ekspedicija
kojoj	PRO	koji
se	PAR	se
na	PREP	na
neki	PRO	neki
način	N:m	način
priključuje	N:m	priključuje
onaj	PRO	onaj
gore	ADV	gore
navedeni	A:aem	naveden
mamlaz	N:m	mamlaz
,	PUNCT	,
inače	PAR	inače
sin	N:m	sin
vođe	N:m	vođ
ekspedicije	N:f	ekspedicija
.	PUNCT	.
I	CONJ	i
on	PRO	on
uleće	V:m	uleće
tako	ADV	tako
tu	ADV	tu
sa	PREP	sa
njima	PRO	ona
,	PUNCT	,
radi	PREP	radi
bolje	A:bef	dobar
stvari	N:f	stvar
od	PREP	od
mnogih	A:aef	mnogi
.	SENT	.
Znači	A:aem	Znači
imamo	N:m	imamo
teškog	A:aen	težak
mamlaza	N:m	mamlaz
koji	PRO	koji
uspeva	N:m	uspeva
da	CONJ	da
diskredituje	N:m	diskredituje
svu	PRO	sav
vrednost	N:f	vrednost
jedne	NUM	jedan
čuvene	A:aef	čuven
ekspedicije	N:f	ekspedicija
.	PUNCT	.
Ako	CONJ	ako
on	PRO	on
može	A:aem	može
da	CONJ	da
se	PAR	se
tu	ADV	tu
priključi	V:m	priključi
bez	PREP	bez
ikakve	PRO	ikakav
frke	N:f	frka
,	PUNCT	,
ja	PRO	ja
ne	PAR	ne
vidim	A:aef	vidim
smetnju	N:f	smetnja
tome	PRO	taj
da	CONJ	da
postanem	N:n	postanem
svetski	A:aem	svetski
poznat	A:aem	poznat
režiser	N:m	režiser
.	SENT	.
Od	PREP	od
ovih	PRO	ovaj
primata	N:m	primat
bih	A:aem	bih
sigurno	ADV	sigurno
bio	V:m	biti
bolji	A:bem	dobar
.	SENT	.
Likovi	N:m	lik
su	N:m	su
užasavajuće	A:aef	užasavajući
plitki	A:aem	plitak
.	PUNCT	.
Ok	A:aem	Ok
,	PUNCT	,
ne	PAR	ne
tražim	N:n	tražim
da	CONJ	da
znam	N:m	znam
mnogo	ADV	mnogo
o	PREP	o
njima	PRO	ona
ali	CONJ	ali
imaš	A:aem	imaš
milion	N:m	milion
načina	N:m	način
da	CONJ	da
mi	PRO	ja
učiniš	N:m	učiniš
te	CONJ	te
ljude	N:m	ljudi
dopadljivim	A:aen	dopadljiv
.	SENT	.
Pre	PREP	pre
svega	PRO	sav
,	PUNCT	,
niko	PRO	niko
sem	PREP	sem
onog	PRO	onaj
mamlaza	N:m	mamlaz
nije	V:m	nije
antipatičan	A:aem	antipatičan
niti	CONJ	niti
je	PRO	ona
iko	PRO	iko
pokazao	V:m	pokazati
da	CONJ	da
je	PRO	ona
jadan	A:aem	jadan
glumac	N:m	glumac
.	SENT	.
Prema	PREP	prema
jadnim	A:aem	jadan
glumcima	N:m	glumac
automatski	ADV	automatski
stičem	N:m	stičem
odbojnost	N:f	odbojnost
koja	PRO	koji
se	PAR	se
uvek	ADV	uvek
pokaže	V:n	pokaže
opravdanom	A:aen	opravdan
.	SENT	.
Ovde	ADV	ovde
nije	A:aen	nije
taj	PRO	taj
slučaj	N:m	slučaj
ali	CONJ	ali
likovi	N:m	lik
su	PREF	su
totalno	A:aen	totalan
nezanimljivi	A:aem	nezanimljiv
.	SENT	.
O	PREP	o
vođi	N:m	vođ
ekspedicije	N:f	ekspedicija
koji	PRO	koji
je	PRO	ona
prošao	V:m	proći
milion	N:m	milion
opasnih	A:aef	opasan
situacija	N:f	situacija
sve	PRO	sav
što	PRO	što
znamo	N:m	znamo
je	PRO	ona
da	PAR	da
nosi	V:m	nosi
15	NUM	@card@
gaća	N:f	gaće
na	PREP	na
put	N:f	put
,	PUNCT	,
o	PREP	o
doktorki	N:f	doktorka
saznajemo	A:aen	saznajemo
da	CONJ	da
ima	A:aen	ima
dobru	A:aem	dobar
zadnjicu	N:f	zadnjica
,	PUNCT	,
o	PREP	o
tamnoputoj	A:aef	tamnoput
dami	N:f	dama
saznajemo	A:aen	saznajemo
da	CONJ	da
je	PRO	ona
kombinacija	N:f	kombinacija
2438293742	NUM	@card@
šablonska	A:aem	šablonski
lika	N:m	lik
ljudi	N:m	ljudi
koji	PRO	koji
predviđaju	N:m	predviđaju
nesreću	N:f	nesreća
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
konj	N:m	konj
iz	PREP	iz
Spilbergovog	A:aem	Spilbergov
War	N:m	War
Horse	N:m	Horse
-	PUNCT	-
a	CONJ	a
ostaje	N:n	ostaje
kljusina	N:f	kljusina
kroz	PREP	kroz
ceo	A:aem	ceo
film	N:m	film
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
ovi	PRO	ovaj
likovi	N:m	lik
ostaju	N:n	ostaju
likovi	N:m	lik
koji	PRO	koji
su	N:m	su
ljudska	A:aem	ljudski
bića	N:n	biće
,	PUNCT	,
doduše	PAR	doduše
mnogi	A:aem	mnogi
iz	PREP	iz
redova	N:m	red
kretenoida	N:m	kretenoida
.	SENT	.
Onda	ADV	onda
jedino	ADV	jedino
što	CONJ	što
mi	PRO	ja
preostaje	N:m	preostaje
je	PRO	ona
da	CONJ	da
čekam	A:aem	čekam
da	CONJ	da
budu	A:aem	budu
servirani	A:aem	serviran
kao	CONJ	kao
klopa	N:f	klopa
dinosaurusima	N:m	dinosaurus
.	SENT	.
Veliki	A:aem	velik
problem	N:m	problem
je	PRO	ona
taj	PRO	taj
što	CONJ	što
je	PRO	ona
režiser	N:m	režiser
/	A:aem	/
scenarista	N:m	scenarista
konstantno	ADV	konstantno
imao	V:m	imati
potrebu	N:f	potreba
da	CONJ	da
transformiše	A:aem	transformiše
bitne	A:aef	bitan
likove	N:m	lik
.	SENT	.
Mamlaz	N:m	mamlaz
postaje	N:f	postaja
hrabar	A:aem	hrabar
i	CONJ	i
bitan	A:aem	bitan
član	N:m	član
postave	N:f	postava
,	PUNCT	,
njegov	PRO	njegov
ćale	N:n	ćale
postaje	N:f	postaja
emotivac	N:m	emotivac
,	PUNCT	,
ćaletov	A:aem	ćaletov
prijatelj	N:m	prijatelj
totalno	A:aen	totalan
popizdi	N:f	popizdi
,	PUNCT	,
jedan	NUM	jedan
bledi	A:aem	bled
kamerman	N:m	kamerman
postane	N:m	postane
zajeban	V:m	zajebati
i	CONJ	i
u	PREP	u
sceni	N:f	scena
koja	PRO	koji
podseća	N:m	podseća
na	PREP	na
onu	PRO	onaj
kada	CONJ	kada
Bili	N:m	Bili
u	PREP	u
Predatoru	N:m	predator
ostane	N:m	ostane
na	PREP	na
mostu	N:m	most
da	CONJ	da
se	PAR	se
suoči	V:m	suoči
sa	PREP	sa
zverkom	N:f	zverka
,	PUNCT	,
krene	N:m	kren
da	CONJ	da
se	PAR	se
suočava	A:aen	suočava
sa	PREP	sa
zverinjem	N:n	zverinje
po	PREP	po
šumi	N:f	šuma
.	PUNCT	.
Ne	PAR	ne
moram	N:m	moram
da	CONJ	da
podsećam	N:m	podsećam
koliko	ADV	koliko
je	PRO	ona
ovde	ADV	ovde
ta	PRO	taj
scena	N:f	scena
besmislena	A:aen	besmislen
i	CONJ	i
dolazi	N:m	dolaz
ni	PAR	ni
iz	PREP	iz
čega	PRO	šta
.	PUNCT	.
Eto	PAR	eto
ćutao	V:m	ćutao
sam	A:aem	sam
ceo	A:aem	ceo
film	N:m	film
,	PUNCT	,
jedva	ADV	jedva
ste	A:aem	ste
me	PRO	ja
i	CONJ	i
primećivali	V:m	primećivati
i	CONJ	i
sad	ADV	sad
ću	V:m	ću
da	CONJ	da
odem	N:m	odem
da	CONJ	da
bijem	N:m	bijem
ove	PRO	ovaj
zveri	N:f	zver
kada	CONJ	kada
mogu	N:m	Mog
fino	ADV	fino
da	CONJ	da
se	PAR	se
okrenem	A:aen	okrenem
i	CONJ	i
odem	N:n	odem
.	PUNCT	.
Ne	PAR	ne
ide	A:aem	ide
to	PRO	taj
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
ovakve	PRO	ovakav
gluposti	N:f	glupost
nas	PRO	mi
samo	PAR	samo
vređaju	V:m	vređaju
.	SENT	.
Da	CONJ	da
ne	PAR	ne
pominjem	A:aem	pominjem
lokalnu	A:aem	lokalan
damu	N:f	dama
koja	PRO	koji
prvo	A:aen	prvi
glumi	N:f	gluma
učenjaka	N:m	učenjak
,	PUNCT	,
pa	CONJ	pa
onda	ADV	onda
kao	ADV	kao
da	CONJ	da
krije	N:m	krije
da	CONJ	da
zna	A:aem	zna
nešto	ADV	nešto
,	PUNCT	,
pa	CONJ	pa
onda	ADV	onda
proriče	A:aem	proriče
zlu	A:aem	zao
sudbu	N:f	sudba
pa	CONJ	pa
u	PREP	u
krug	N:m	krug
.	SENT	.
Sve	PRO	sav
to	PRO	taj
je	PRO	ona
začinjeno	V:n	začiniti
onim	PRO	onaj
usranim	A:aem	usran
odnosom	N:m	odnos
prezauzeti	A:aem	prezauzet
otac	N:m	otac
-	PUNCT	-
zapostavljeni	A:aem	zapostavljen
sin	N:m	sin
,	PUNCT	,
od	PREP	od
kojeg	PRO	koji
mi	PRO	ja
je	PRO	ona
najblaže	A:cef	blag
rečeno	A:aen	rečen
muka	N:f	muka
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
meni	PRO	ja
trebalo	V:n	trebati
od	PREP	od
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
sledeće	A:aem	sledeći
.	SENT	.
Daj	INT	daj
mi	PRO	ja
brdo	N:n	brdo
likova	N:n	likovo
od	PREP	od
kojih	PRO	koji
bar	PAR	bar
neko	PRO	neki
podseća	N:m	podseća
na	PREP	na
normalnu	A:aef	normalan
osobu	N:f	osoba
,	PUNCT	,
daj	INT	daj
mi	PRO	ja
gomilu	N:f	gomila
različitih	A:aem	različit
dinosaurusa	N:m	dinosaurus
koji	PRO	koji
će	N:f	će
da	CONJ	da
ih	PRO	ona
ručkaju	N:m	ručkaju
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
Ne	PAR	ne
pametuj	N:m	pametuj
previše	ADV	previše
i	CONJ	i
ja	PRO	ja
ću	A:aem	ću
biti	N:f	bit
zadovoljan	A:aem	zadovoljan
.	PUNCT	.
Ne	PAR	ne
bi	A:aen	bi
ni	CONJ	ni
tada	ADV	tada
ovo	PRO	ovaj
bio	V:m	biti
dobar	A:aem	dobar
film	N:m	film
,	PUNCT	,
ali	CONJ	ali
bih	A:aem	bih
ga	PRO	on
odgledao	V:m	odgledati
zadovoljan	A:aem	zadovoljan
verovatno	ADV	verovatno
pamteći	N:n	pamteći
par	N:m	par
krvoločnih	A:aef	krvoločan
scena	N:f	scena
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
sam	PRO	sam
dobio	V:m	dobiti
je	PRO	ona
baš	PAR	baš
daleko	ADV	daleko
od	PREP	od
toga	PRO	taj
.	PUNCT	.
Ok	N:m	Ok
,	PUNCT	,
dinosaurusi	N:m	dinosaurus
izgledaju	N:f	izgledaju
dobro	ADV	dobro
.	SENT	.
Prva	A:aen	prvi
pojava	N:f	pojava
pterodaktila	V:f	pterodaktila
u	PREP	u
daljini	N:f	daljina
mi	PRO	ja
je	PRO	ona
baš	PAR	baš
legla	V:f	leći
.	SENT	.
Scenografija	N:f	scenografija
i	CONJ	i
predeli	N:m	predeo
su	PREF	su
fenomenalni	A:aem	fenomenalan
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
problem	N:m	problem
,	PUNCT	,
za	PREP	za
film	N:m	film
koji	PRO	koji
se	PAR	se
zove	N:m	zov
Projekat	N:m	projekt
Dinosaurus	N:m	dinosaurus
,	PUNCT	,
očekivao	V:m	očekivati
sam	PRO	sam
zapravo	ADV	zapravo
dinosauruse	N:m	dinosaurus
.	SENT	.
Ovde	ADV	ovde
ih	PRO	ona
ima	A:aem	ima
šačica	N:f	šačica
.	SENT	.
Susreta	N:m	susret
sa	PREP	sa
njima	PRO	ona
je	PRO	ona
zaista	PAR	zaista
premalo	ADV	premalo
.	SENT	.
Više	N:m	Vis
se	PAR	se
akcenat	N:m	akcent
baca	N:m	baca
na	PREP	na
transformacije	N:f	transformacija
jadnih	A:aem	jadan
likova	N:n	likovo
,	PUNCT	,
na	PREP	na
iznenadno	ADV	iznenadno
ludilo	N:n	ludilo
,	PUNCT	,
na	PREP	na
kao	CONJ	kao
neke	PRO	neki
preokrete	N:m	preokret
za	PREP	za
koje	PRO	koji
ne	PAR	ne
mogu	N:m	Mog
manje	ADV	manje
mariti	N:m	mariti
.	PUNCT	.
I	CONJ	i
u	PREP	u
ono	PRO	onaj
malo	ADV	malo
susreta	N:m	susret
sa	PREP	sa
tim	PRO	taj
dinosaurusima	N:m	dinosaurus
kada	CONJ	kada
pođe	A:aem	pođe
po	PREP	po
zlu	A:aem	zao
,	PUNCT	,
ne	PAR	ne
vidimo	A:aen	vidimo
ujed	N:m	ujed
nigde	ADV	nigde
.	PUNCT	.
Najbolje	ADV	najbolje
što	CONJ	što
može	A:aem	može
da	CONJ	da
se	PAR	se
vidi	N:f	vida
je	PRO	ona
krv	N:f	krv
u	PREP	u
vodi	N:f	voda
.	SENT	.
Zbog	PREP	zbog
svega	ADV	svega
navedenog	A:aen	naveden
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
baš	PAR	baš
teška	A:aem	težak
sprdnja	N:f	sprdnja
.	SENT	.
Transformacije	N:f	transformacija
karaktera	N:m	karakter
prouzrokuju	N:m	prouzrokuju
to	PRO	taj
da	CONJ	da
film	N:m	film
postane	N:m	postane
povremeno	ADV	povremeno
dosadnjikav	A:aem	dosadnjikav
.	SENT	.
Jadni	A:aem	jadan
likovi	N:m	lik
vam	PRO	vi
zbog	PREP	zbog
toga	PRO	taj
totalno	ADV	totalno
ne	PAR	ne
budu	A:aem	budu
zanimljivi	A:aem	zanimljiv
.	SENT	.
Spektakularne	A:aef	spektakularan
scene	N:f	scena
gde	CONJ	gde
vidimo	A:aen	vidimo
dinosauruse	N:m	dinosaurus
u	PREP	u
daljini	N:f	daljina
,	PUNCT	,
iako	CONJ	iako
retke	A:aem	redak
,	PUNCT	,
zaista	PAR	zaista
probude	A:aef	probude
nadu	N:f	nada
da	CONJ	da
ćemo	N:f	ćemo
videti	N:f	videti
nešto	ADV	nešto
sjajno	ADV	sjajno
,	PUNCT	,
ali	CONJ	ali
kada	CONJ	kada
od	PREP	od
svega	ADV	svega
dobijemo	A:aen	dobijemo
šupalj	A:aem	šupalj
nos	N:m	nos
do	PREP	do
očiju	N:f	oči
,	PUNCT	,
moramo	N:f	moramo
ostati	N:m	ostati
razočarani	V:m	razočarati
.	PUNCT	.
Kao	CONJ	kao
veliki	A:aem	velik
obožavalac	N:m	obožavalac
ovih	PRO	ovaj
drevnih	A:aen	drevan
bića	N:n	biće
,	PUNCT	,
bio	V:m	biti
sam	PRO	sam
spreman	A:aem	spreman
ovom	PRO	ovaj
filmu	N:m	film
progledati	V:m	progledati
kroz	PREP	kroz
prste	N:m	prst
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
mnogo	ADV	mnogo
je	PRO	ona
ovde	ADV	ovde
idiota	N:m	idiot
iz	PREP	iz
ljudske	A:aef	ljudski
vrste	N:f	vrsta
bilo	V:n	biti
uključeno	V:n	uključiti
da	CONJ	da
bi	A:aem	bi
dinosaurusi	N:m	dinosaurus
mogli	V:m	moći
da	CONJ	da
izvuku	V:m	izvuku
celu	A:aef	ceo
priču	N:f	priča
iz	PREP	iz
blata	N:n	blato
.	SENT	.
