Posle	PREP	posle
ovakve	PRO	ovakav
dvosatne	A:aef	dvosatni
torture	N:f	tortura
vampira	N:m	vampir
nad	PREP	nad
običnim	A:aef	običan
smrtnicima	N:m	smrtnik
Blejd	N:m	Blejd
je	PRO	ona
potreban	A:aem	potreban
svetu	N:m	svet
više	ADV	više
nego	CONJ	nego
ikad	ADV	ikad
.	PUNCT	.
Mislim	A:aem	Mislim
stvarno	ADV	stvarno
…	SENT	…
ovaj	PRO	ovaj
film	N:m	film
sadrži	V:m	sadrži
više	ADV	više
muške	A:aem	muški
i	CONJ	i
manje	ADV	manje
ženske	A:aem	ženski
golotinje	N:f	golotinja
nego	CONJ	nego
i	CONJ	i
jedan	NUM	jedan
pre	ADV	pre
.	SENT	.
Otvaranje	N:n	otvaranje
filma	N:m	film
je	PRO	ona
neukusno	A:aen	neukusan
napravljeno	V:n	napraviti
neuverljivim	A:aen	neuverljiv
trčanjem	N:n	trčanje
nekog	PRO	neki
klinca	N:m	klinac
po	PREP	po
kiši	N:f	kiša
dok	CONJ	dok
ga	PRO	on
neko	PRO	neki
iz	PREP	iz
mraka	N:m	mrak
ne	PAR	ne
ščepa	V:m	ščepa
(	PUNCT	(
to	PRO	taj
je	PRO	ona
kao	ADV	kao
šatro	ADV	šatro
da	CONJ	da
nas	PRO	mi
zabrine	N:f	zabrine
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
odmah	ADV	odmah
posle	PREP	posle
toga	PRO	taj
producenti	N:m	producent
prelaze	N:m	prelaz
na	PREP	na
stvar	N:f	stvar
:	PUNCT	:
Bela	A:aen	beo
Edvardu	N:m	Edvard
čita	N:f	čita
pesme	N:f	pesma
iz	PREP	iz
čitanke	N:f	čitanka
dok	CONJ	dok
leže	N:f	leže
u	PREP	u
polju	N:n	polje
cveća	N:n	cveće
.	PUNCT	.
A	CONJ	a
onda	ADV	onda
je	PRO	ona
Edvard	N:m	Edvard
zaprosi	N:m	zaprosi
.	SENT	.
Sledećih	N:m	Sledećih
pet	NUM	pet
minuta	N:m	minut
sam	PRO	sam
proveo	V:m	provesti
glave	N:f	glava
zabodene	V:f	zabosti
u	PREP	u
WC	N:m	WC
šolju	N:f	šolja
,	PUNCT	,
slušajući	A:aem	slušajući
u	PREP	u
drugoj	A:aef	drugi
sobi	N:f	soba
njihovo	PRO	njihov
prenemaganje	N:n	prenemaganje
…	SENT	…
Onaj	N:m	Onaj
mali	A:aem	mali
indijanac	N:m	Indijanac
što	CONJ	što
glumi	N:f	gluma
vukodlaka	N:m	vukodlak
ili	CONJ	ili
šta	PRO	šta
,	PUNCT	,
više	ADV	više
glumi	N:f	gluma
bradavicama	N:f	bradavica
nego	CONJ	nego
facom	N:f	faca
.	SENT	.
U	PREP	u
trenutku	N:m	trenutak
kada	CONJ	kada
Bela	N:f	Bela
provokativno	ADV	provokativno
seda	A:aef	sed
na	PREP	na
njegov	PRO	njegov
motor	N:m	motor
ispred	PREP	ispred
Edvarda	N:m	Edvard
koji	PRO	koji
ne	PAR	ne
progovara	N:m	progovara
ni	PAR	ni
reč	N:f	reč
i	CONJ	i
bezobrazno	A:aen	bezobrazan
zamahuje	N:m	zamahuje
kosom	N:f	kosa
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
stavi	N:m	stavi
kacigu	N:f	kaciga
prvo	A:aen	prvi
pitanje	N:n	pitanje
koje	PRO	koji
vam	PRO	vi
pada	N:m	pad
na	PREP	na
pamet	N:f	pamet
nije	V:m	nije
li	PAR	li
Bela	N:f	Bela
sponzoruša	N:f	sponzoruša
besmrtnih	A:aem	besmrtan
.	SENT	.
Edvardova	A:aef	Edvardov
uloga	N:f	uloga
ovde	ADV	ovde
je	PRO	ona
da	CONJ	da
promoviše	A:aem	promoviše
Volvov	A:aem	Volvov
novi	A:aem	nov
džip	N:m	džip
–	A:aem	–
najsigurnije	A:cef	siguran
vozilo	N:n	vozilo
za	PREP	za
njegovu	PRO	njegov
miljenicu	N:f	miljenica
sa	PREP	sa
specijalnim	A:aem	specijalan
senzorima	N:m	senzor
za	PREP	za
vukodlake	N:m	vukodlak
u	PREP	u
osnovnom	A:aen	osnovni
paketu	N:m	paket
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
ima	V:m	ima
zapravo	ADV	zapravo
vrlo	ADV	vrlo
slabu	A:aef	slab
i	CONJ	i
linearnu	A:aef	linearan
priču	N:f	priča
.	SENT	.
Zaplet	N:m	zaplet
je	PRO	ona
jednodimenzionalan	A:aem	jednodimenzionalan
i	CONJ	i
služi	A:aem	služi
da	CONJ	da
bi	A:aem	bi
za	PREP	za
vreme	N:n	vreme
izvršenja	N:n	izvršenje
njegovih	PRO	njegov
radnji	N:f	radnja
Bela	N:f	Bela
imala	V:f	imati
prilike	N:f	prilika
da	CONJ	da
se	PAR	se
kurva	N:f	kurva
na	PREP	na
sve	PRO	sav
moguće	A:aem	moguć
načine	N:m	način
.	SENT	.
Neko	PRO	neki
mora	N:n	more
da	CONJ	da
je	PRO	ona
ponese	N:m	ponese
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
bi	N:m	bi
osetili	V:m	osetiti
njen	PRO	njen
miris	N:m	miris
,	PUNCT	,
drugi	A:aem	drugi
put	N:m	put
neko	PRO	neki
drugi	A:aem	drugi
mora	N:n	more
da	CONJ	da
skine	N:m	skin
majicu	N:f	majica
da	CONJ	da
bi	A:aen	bi
je	PRO	ona
zaštitio	V:m	zaštititi
…	SENT	…
Ako	A:aem	Ako
ništa	PRO	ništa
drugo	A:aen	drugi
dobra	N:n	dobro
strana	N:f	strana
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
što	PRO	što
će	V:m	će
se	PAR	se
klinci	N:m	klinac
navući	A:aem	navući
na	PREP	na
neke	PRO	neki
super	ADV	super
grupe	N:f	grupa
iz	PREP	iz
saundtreka	N:m	saundtreka
,	PUNCT	,
zaboraviti	A:aem	zaboraviti
film	N:m	film
i	CONJ	i
nastaviti	N:m	nastaviti
da	CONJ	da
slušaju	N:m	slušaju
super	ADV	super
muziku	N:f	muzika
.	SENT	.
