Ko	PRO	ko
zna	A:aem	zna
kako	CONJ	kako
svet	A:aem	svet
izgleda	N:m	izgled
kad	CONJ	kad
ga	PRO	on
posmatrate	N:m	posmatrate
kao	CONJ	kao
starac	N:m	starac
Alain	A:aem	Alain
Resnais	N:m	Resnais
ima	V:m	ima
90	NUM	@card@
godina	N:f	godina
.	SENT	.
U	PREP	u
njegovom	PRO	njegov
novom	A:aem	nov
filmu	N:m	film
došli	V:m	doći
smo	N:f	smo
na	PREP	na
sahranu	N:f	sahrana
.	SENT	.
Čuveni	A:aem	Čuveni
dramski	A:aem	dramski
pisac	N:m	pisac
i	CONJ	i
autor	N:m	autor
'	A:aem	'
Euridike	N:f	Euridika
'	A:aem	'
je	PRO	ona
umro	V:m	umreti
i	CONJ	i
na	PREP	na
njegovu	PRO	njegov
sahranu	N:f	sahrana
pozvani	V:m	pozvati
su	N:m	su
čuveni	A:aem	čuven
francuski	A:aem	francuski
glumci	N:m	glumac
koji	PRO	koji
su	N:m	su
(	PUNCT	(
u	PREP	u
dve	NUM	dva
različite	A:aef	različit
izvedbe	N:f	izvedba
)	PUNCT	)
igrali	V:m	igrati
u	PREP	u
tom	PRO	taj
njegovom	PRO	njegov
komadu	N:m	komad
.	SENT	.
Svi	PRO	sav
glumci	N:m	glumac
igraju	N:f	igraju
sami	PRO	sam
sebe	PRO	sebe
,	PUNCT	,
čime	PRO	šta
počinje	N:f	počinje
igra	N:f	igra
sa	PREP	sa
realnošću	N:f	realnost
i	CONJ	i
testamentarnim	A:aef	testamentaran
akrobacijama	N:f	akrobacija
samog	PRO	sam
Resnaisa	N:m	Resnaisa
.	SENT	.
Po	PREP	po
dolasku	N:m	dolazak
oni	PRO	onaj
saznaju	N:m	saznaju
da	CONJ	da
im	PRO	ona
je	PRO	ona
pokojni	A:aem	pokojni
pisac	N:m	pisac
priredio	V:m	prirediti
oproštaj	N:m	oproštaj
u	PREP	u
vidu	N:f	vida
snimka	N:f	snimka
izvedbe	N:f	izvedba
njegovog	PRO	njegov
komada	N:m	komad
u	PREP	u
Kolumbiji	N:f	Kolumbija
.	SENT	.
Glumci	N:m	glumac
sedaju	N:m	sedaju
u	PREP	u
prostoriju	N:f	prostorija
veličine	N:f	veličina
i	CONJ	i
izgleda	N:m	izgled
ispražnjenog	A:aen	ispražnjen
turskog	A:aen	turski
kupatila	N:n	kupatilo
,	PUNCT	,
koju	PRO	koji
batler	N:m	batler
naziva	N:m	naziv
dnevnom	A:aef	dnevni
sobom	N:f	soba
,	PUNCT	,
i	CONJ	i
posmatraju	N:m	posmatraju
predstavu	N:f	predstava
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
poznate	A:aef	poznat
replike	N:f	replika
u	PREP	u
njima	PRO	ona
bude	A:aem	bude
stare	A:aem	star
likove	N:m	lik
i	CONJ	i
oni	PRO	onaj
,	PUNCT	,
obično	ADV	obično
u	PREP	u
duelima	N:m	duel
,	PUNCT	,
počinju	N:f	počinju
da	CONJ	da
govore	N:m	govor
tekst	N:m	tekst
i	CONJ	i
još	ADV	još
jednom	NUM	jedan
igraju	N:f	igraju
komad	N:m	komad
.	SENT	.
U	PREP	u
tom	PRO	taj
trenutku	N:m	trenutak
ono	PRO	onaj
malo	ADV	malo
realističnosti	N:f	realističnost
curi	N:f	cura
iz	PREP	iz
filma	N:m	film
i	CONJ	i
on	PRO	on
se	PAR	se
pretvara	N:m	pretvara
u	PREP	u
miks	N:m	miks
medija	N:m	medij
,	PUNCT	,
miks	N:m	miks
komada	N:m	komad
(	PUNCT	(
tri	NUM	tri
postave	N:m	postav
,	PUNCT	,
tri	NUM	tri
predstave	N:f	predstava
)	PUNCT	)
,	PUNCT	,
miks	N:m	miks
sećanja	N:n	sećanje
,	PUNCT	,
usahlih	A:aen	usahao
osećanja	N:n	osećanje
,	PUNCT	,
neraščišćene	A:aef	neraščišćen
prošlosti	N:f	prošlost
.	PUNCT	.
.	SENT	.
.	PUNCT	.
I	CONJ	i
to	PRO	taj
tako	ADV	tako
traje	N:m	traje
do	PREP	do
kraja	N:m	kraj
komada	N:m	komad
,	PUNCT	,
a	CONJ	a
onda	CONJ	onda
dolazi	N:m	dolaz
tvist	N:m	tvist
,	PUNCT	,
pa	CONJ	pa
jedna	NUM	jedan
poetska	A:aef	poetski
poenta	N:f	poenta
,	PUNCT	,
pa	CONJ	pa
druga	A:aef	drugi
,	PUNCT	,
pa	CONJ	pa
treća	A:aen	treći
,	PUNCT	,
pa	CONJ	pa
Tree	N:m	Tree
Of	N:m	Of
Life	N:m	Life
momenat	N:m	moment
i	CONJ	i
.	PUNCT	.
.	SENT	.
.	PUNCT	.
fin	A:aem	fin
!	PUNCT	!
Komad	N:m	Komad
'	A:aem	'
Euridika	N:f	Euridika
'	A:aem	'
pokojnog	A:aen	pokojni
pisca	N:m	pisac
je	PRO	ona
priča	N:f	priča
o	PREP	o
Euridikinom	N:f	Euridikinom
neverstvu	N:n	neverstvo
i	CONJ	i
svodi	V:m	svodi
se	PAR	se
na	PREP	na
to	PRO	taj
da	CONJ	da
li	PAR	li
je	PRO	ona
ona	PRO	ona
zaslužila	V:f	zaslužiti
da	CONJ	da
Orfej	N:m	Orfej
krene	N:m	kren
za	PREP	za
njom	PRO	ona
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
komad	N:m	komad
smešten	V:m	smestiti
u	PREP	u
sadašnje	A:aem	sadašnji
vreme	N:n	vreme
i	CONJ	i
pokojni	A:aem	pokojni
autor	N:m	autor
deluje	N:m	deluje
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
umro	V:m	umreti
relativno	ADV	relativno
mlad	A:aem	mlad
,	PUNCT	,
pa	CONJ	pa
čak	PAR	čak
iako	CONJ	iako
mu	PRO	on
je	PRO	ona
komad	N:m	komad
iz	PREP	iz
mladosti	N:f	mladost
,	PUNCT	,
on	PRO	on
zvuči	N:m	zvuči
kao	CONJ	kao
Prever	N:m	Prever
iz	PREP	iz
XVIII	A:aem	XVIII
veka	N:m	vek
,	PUNCT	,
raspisanih	A:aef	raspisan
misli	N:f	misao
i	CONJ	i
osećanja	N:n	osećanje
,	PUNCT	,
sav	PRO	sav
u	PREP	u
samopropitivanjima	N:n	samopropitivanjima
,	PUNCT	,
replikama	N:f	replika
koje	PRO	koji
traže	N:m	traže
barem	PAR	barem
10	NUM	@card@
sekundi	N:f	sekunda
za	PREP	za
razmevanje	N:n	razmevanje
po	PREP	po
izgovaranju	N:n	izgovaranje
,	PUNCT	,
zvuči	A:aen	zvuči
arhaično	A:aen	arhaičan
i	CONJ	i
dozlabogadosadno	A:aen	dozlabogadosadno
.	PUNCT	.
Zamoljeni	A:aem	zamoljen
smo	N:f	smo
da	CONJ	da
verujemo	A:aen	verujemo
da	CONJ	da
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
veliki	A:aem	velik
komad	N:m	komad
koji	PRO	koji
je	PRO	ona
imao	V:m	imati
veliki	A:aem	velik
uspeh	N:m	uspeh
.	SENT	.
Ljubav	N:f	ljubav
i	CONJ	i
smrt	N:f	smrt
rvu	V:m	rvu
se	PAR	se
sve	PRO	sav
vreme	N:n	vreme
.	SENT	.
Glumci	N:m	glumac
različitih	A:aem	različit
dobi	N:f	dob
demonstriraju	N:m	demonstriraju
različite	A:aef	različit
strasti	N:f	strast
.	SENT	.
Resnais	N:m	Resnais
ih	PRO	ona
uglavnom	ADV	uglavnom
slika	N:f	slika
u	PREP	u
minimalistički	A:aem	minimalistički
postavljenim	A:aef	postavljen
scenografijama	N:f	scenografija
,	PUNCT	,
koje	PRO	koji
povremeno	ADV	povremeno
samo	PAR	samo
sugerišu	A:aen	sugerišu
mesto	N:n	mesto
dešavanja	N:n	dešavanje
(	PUNCT	(
soba	N:f	soba
,	PUNCT	,
stanica	N:f	stanica
,	PUNCT	,
bistro	A:aen	bistar
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
uglavnom	ADV	uglavnom
deluju	A:aem	deluju
kao	CONJ	kao
sartrovski	A:aem	sartrovski
uređene	A:aem	uređen
lokacije	N:f	lokacija
na	PREP	na
putu	N:m	put
iz	PREP	iz
ovog	PRO	ovaj
života	N:m	život
u	PREP	u
onaj	PRO	onaj
tamo	ADV	tamo
.	SENT	.
Resnais	N:m	Resnais
se	PAR	se
poigrava	A:aem	poigrava
medijima	N:m	medij
-	PUNCT	-
prenosi	N:m	prenos
nam	PRO	mi
predstavu	N:f	predstava
,	PUNCT	,
meša	A:aen	meša
filmska	A:aen	filmski
rešenja	N:n	rešenje
sa	PREP	sa
pozorišnim	A:aef	pozorišni
scenama	N:f	scena
,	PUNCT	,
koristi	N:f	korist
chroma	N:m	chroma
key	N:m	key
da	CONJ	da
bi	N:m	bi
povećao	V:m	povećati
realističnost	N:f	realističnost
scene	N:f	scena
(	PUNCT	(
ili	CONJ	ili
je	PRO	ona
voz	N:m	voz
koji	PRO	koji
prolazi	N:m	prolaz
iza	PREP	iza
bistroa	N:m	bistro
na	PREP	na
stanici	N:f	stanica
bio	V:m	biti
4	NUM	@card@
real	N:m	real
?	PUNCT	?
!	SENT	!
)	PUNCT	)
.	SENT	.
.	PUNCT	.
.	SENT	.
U	PREP	u
ostalom	A:aen	ostalom
,	PUNCT	,
čitavo	A:aen	čitav
odigravanje	N:n	odigravanje
'	A:aem	'
Euridike	N:f	Euridika
'	N:m	'
sa	PREP	sa
ove	PRO	ovaj
strane	N:f	strana
ekrana	N:m	ekran
je	PRO	ona
u	PREP	u
glavama	N:f	glava
i	CONJ	i
srcima	N:n	srce
glumaca	N:m	glumac
,	PUNCT	,
kao	CONJ	kao
neka	PRO	neki
vrsta	N:f	vrsta
privatne	A:aem	privatan
iluzije	N:f	iluzija
,	PUNCT	,
zrnce	N:n	zrnce
života	N:m	život
koje	PRO	koji
odnosimo	N:m	odnosimo
sa	PREP	sa
sobom	PRO	sebe
.	SENT	.
Priznajem	N:m	Priznajem
,	PUNCT	,
može	A:aem	može
se	PAR	se
lepo	ADV	lepo
razmišljati	A:aem	razmišljati
o	PREP	o
ovom	PRO	ovaj
filmu	N:m	film
.	SENT	.
Naročito	N:f	Naročito
i	CONJ	i
kada	CONJ	kada
nam	PRO	mi
on	PRO	on
otvori	N:m	otvor
put	N:f	put
ka	PREP	ka
pitanjima	N:n	pitanje
-	PUNCT	-
šta	PRO	šta
je	PRO	ona
smrt	N:f	smrt
?	SENT	?
koje	PRO	koji
je	PRO	ona
vreme	N:n	vreme
umiranja	N:n	umiranje
?	SENT	?
koje	PRO	koji
je	PRO	ona
pravo	N:n	pravo
vreme	N:n	vreme
umiranja	N:n	umiranje
?	SENT	?
koje	PRO	koji
je	PRO	ona
tačno	ADV	tačno
vreme	N:n	vreme
umiranja	N:n	umiranje
?	PUNCT	?
da	CONJ	da
li	PAR	li
,	PUNCT	,
kako	CONJ	kako
i	CONJ	i
u	PREP	u
kojoj	PRO	koji
meri	N:f	mera
umetničko	A:aen	umetnički
delo	N:n	delo
nadživljuje	N:m	nadživljuje
umetnika	N:m	umetnik
?	SENT	?
koja	PRO	koji
je	PRO	ona
Euridika	N:f	Euridika
vredna	A:aen	vredan
Orfejovog	N:m	Orfejovog
čina	N:m	čin
?	PUNCT	?
da	CONJ	da
li	PAR	li
je	PRO	ona
smrt	N:f	smrt
samo	CONJ	samo
privremeni	A:aem	privremen
odlazak	N:m	odlazak
po	PREP	po
neku	PRO	neki
Euridiku	N:f	Euridika
?	PUNCT	?
da	CONJ	da
li	PAR	li
se	PAR	se
pokojni	A:aem	pokojni
pisac	N:m	pisac
vratio	V:m	vratiti
po	PREP	po
svoju	PRO	svoj
(	PUNCT	(
'	N:m	'
)	PUNCT	)
Euridiku	N:f	Euridika
(	PUNCT	(
'	N:m	'
)	PUNCT	)
?	SENT	?
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Ali	CONJ	ali
teško	ADV	teško
za	PREP	za
gledanje	N:n	gledanje
.	SENT	.
'	A:aem	'
Euridika	N:f	Euridika
'	N:m	'
je	PRO	ona
nepodnošljiva	A:aef	nepodnošljiv
kao	CONJ	kao
neki	PRO	neki
komadi	N:m	komad
Krleže	N:m	Krleža
.	SENT	.
Previše	A:aem	Previše
reči	N:f	reč
.	SENT	.
Patetično	A:aen	Patetično
.	PUNCT	.
Dosadno	A:aen	dosadan
.	PUNCT	.
Sa	PREP	sa
pseudomislima	N:m	pseudomislima
o	PREP	o
pseudotemama	N:f	pseudotemama
.	SENT	.
Vous	N:m	Vous
n	A:aem	n
'	A:aem	'
avez	N:m	avez
.	PUNCT	.
.	SENT	.
.	PUNCT	.
boluje	N:m	boluje
od	PREP	od
statičnosti	N:f	statičnost
,	PUNCT	,
od	PREP	od
cementiranosti	N:f	cementiranosti
nekih	PRO	neki
prizora	N:m	prizor
,	PUNCT	,
bolje	ADV	bolje
reći	A:aem	reći
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Od	PREP	od
pseudoteatralnosti	N:f	pseudoteatralnosti
.	SENT	.
Žao	V:m	Žao
mi	PRO	ja
je	PRO	ona
što	CONJ	što
vam	PRO	vi
ne	PAR	ne
mogu	A:aen	mogu
reći	N:n	reći
da	CONJ	da
li	PAR	li
unutar	PREP	unutar
Resnaisovog	A:aem	Resnaisovog
opusa	N:m	opus
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
odabrana	A:aef	odabran
tema	N:f	tema
i	CONJ	i
specifičnost	N:f	specifičnost
njene	PRO	njen
obrade	N:f	obrada
ima	N:f	ima
neko	PRO	neki
jasnije	ADV	jasnije
značenje	N:n	značenje
.	PUNCT	.
Ali	CONJ	ali
čak	PAR	čak
i	CONJ	i
ako	CONJ	ako
to	PRO	taj
jeste	INT	jeste
slučaj	N:m	slučaj
,	PUNCT	,
ako	CONJ	ako
imate	A:aem	imate
'	N:m	'
kod	PREP	kod
'	N:m	'
,	PUNCT	,
sumnjam	N:m	sumnjam
da	CONJ	da
će	N:f	će
vam	PRO	vi
to	PRO	taj
ulepšati	A:aem	ulepšati
ili	CONJ	ili
olakšati	A:aem	olakšati
gledanje	N:n	gledanje
.	PUNCT	.
Mislim	A:aen	Mislim
da	CONJ	da
ova	PRO	ovaj
vrsta	N:f	vrsta
pristupa	N:m	pristup
umetnosti	N:f	umetnost
umire	N:m	umire
sa	PREP	sa
ovakvim	PRO	ovakav
umetnicima	N:m	umetnik
.	SENT	.
Eto	PAR	eto
,	PUNCT	,
možda	PAR	možda
vam	PRO	vi
je	PRO	ona
to	PRO	taj
neki	PRO	neki
podstrek	N:m	podstrek
.	SENT	.
