Twilight	N:m	Twilight
Saga	N:m	sag
:	PUNCT	:
Zombies	N:m	Zombies
Imam	N:m	imam
utisak	N:m	utisak
da	CONJ	da
sam	PRO	sam
vam	PRO	vi
previše	ADV	previše
otkrio	V:m	otkriti
podnaslovom	N:m	podnaslov
,	PUNCT	,
a	CONJ	a
?	PUNCT	?
Warm	N:m	Warm
Bodies	N:m	Bodies
je	PRO	ona
četvrti	A:aem	četvrti
film	N:m	film
Jonathana	N:m	Jonathana
Levinea	N:m	Levinea
(	PUNCT	(
50	NUM	@card@
-	PUNCT	-
50	NUM	@card@
,	PUNCT	,
The	INT	The
Whackness	N:m	Whackness
)	PUNCT	)
.	SENT	.
Rađen	N:m	Rađen
je	PRO	ona
po	PREP	po
romanu	N:m	roman
Isaaca	N:m	Isaaca
Mariona	N:m	Mariona
koji	PRO	koji
,	PUNCT	,
sudeći	A:aem	sudeći
prema	PREP	prema
filmu	N:m	film
(	PUNCT	(
roman	N:m	roman
nisam	N:m	nisam
čitao	V:m	čitati
)	PUNCT	)
ima	A:aem	ima
ozbiljne	A:aef	ozbiljan
namere	N:f	namera
da	CONJ	da
se	PAR	se
publici	N:f	publika
koja	PRO	koji
tek	PAR	tek
treba	N:f	treba
da	CONJ	da
dobije	N:n	dobije
prvu	A:aem	prvi
menstruaciju	N:f	menstruacija
nametne	A:aem	nametne
kao	CONJ	kao
talentovani	A:aem	talentovan
unuk	N:m	unuk
sestara	N:f	sestra
Bronte	N:m	Bronte
.	SENT	.
Bilo	V:n	biti
je	PRO	ona
samo	PAR	samo
pitanje	N:n	pitanje
dana	N:m	dan
kada	CONJ	kada
će	V:m	će
nam	PRO	mi
(	PUNCT	(
nikad	ADV	nikad
popularniji	A:bem	popularan
)	PUNCT	)
zombiji	N:m	zombi
stići	N:m	stići
i	CONJ	i
u	PREP	u
ovom	PRO	ovaj
obliku	N:m	oblik
-	PUNCT	-
tinejdž	N:f	tinejdž
ljubavne	A:aef	ljubavan
priče	N:f	priča
koja	PRO	koji
bez	PREP	bez
problema	N:m	problem
puca	N:f	puca
na	PREP	na
to	PRO	taj
da	CONJ	da
bude	A:aem	bude
legitimna	A:aef	legitiman
interpretacija	N:f	interpretacija
Shakespeareove	A:aef	Shakespeareove
tragedije	N:f	tragedija
'	A:aem	'
Romeo	N:m	Romeo
i	CONJ	i
Julija	N:f	Julija
'	N:m	'
.	SENT	.
O	PREP	o
,	PUNCT	,
da	CONJ	da
.	PUNCT	.
Nije	A:aem	Nije
teško	ADV	teško
pretpostaviti	A:aem	pretpostaviti
(	PUNCT	(
ima	V:m	ima
li	PAR	li
neko	PRO	neki
da	CONJ	da
potvrdi	N:f	potvrda
?	PUNCT	?
)	PUNCT	)
da	CONJ	da
u	PREP	u
Marionovom	A:aem	Marionovom
romanu	N:m	roman
unutrašnji	A:aem	unutrašnji
monolog	N:m	monolog
glavnog	A:aem	glavnog
junaka	N:m	junak
,	PUNCT	,
tinejdžera	N:m	tinejdžer
'	A:aem	'
R	A:aem	R
'	N:m	'
-	PUNCT	-
a	CONJ	a
(	PUNCT	(
Nicholas	A:aem	Nicholas
Hoult	N:m	Hoult
iz	PREP	iz
Skins	N:m	skins
)	PUNCT	)
,	PUNCT	,
deluje	A:aem	deluje
daleko	ADV	daleko
prirodnije	ADV	prirodnije
,	PUNCT	,
baš	PAR	baš
kao	ADV	kao
i	CONJ	i
dočaravanje	N:n	dočaravanje
nemuštih	A:aef	nemušt
konverzacija	N:f	konverzacija
između	PREP	između
zombija	N:m	zombi
.	SENT	.
U	PREP	u
filmu	N:m	film
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
unutar	PREP	unutar
samovaspostavljene	A:aef	samovaspostavljene
logike	N:f	logika
,	PUNCT	,
nije	A:aem	nije
jasno	ADV	jasno
kako	ADV	kako
možemo	A:aen	možemo
da	CONJ	da
slutimo	N:f	slutimo
unutrašnje	A:aen	unutrašnji
misli	N:f	misao
nekoga	PRO	neki
ko	PRO	ko
praktično	ADV	praktično
obitava	A:aem	obitava
na	PREP	na
sećanjima	N:n	sećanje
žrtava	N:f	žrtva
čiji	PRO	čiji
je	PRO	ona
mozak	N:m	mozak
pojeo	V:m	pojesti
i	CONJ	i
ko	PRO	ko
ima	A:aem	ima
ozbiljne	A:aef	ozbiljan
prepreke	N:f	prepreka
da	CONJ	da
se	PAR	se
seti	N:f	seta
ko	PRO	ko
je	PRO	ona
&	V	&&&&&
odakle	ADV	odakle
je	PRO	ona
.	PUNCT	.
Daleko	ADV	daleko
sumanutije	A:bem	sumanut
izgleda	N:m	izgled
rudimentarni	A:aem	rudimentaran
dijalog	N:m	dijalog
zombija	N:m	zombi
,	PUNCT	,
koji	PRO	koji
čak	PAR	čak
i	CONJ	i
kad	CONJ	kad
savladaju	N:m	savladaju
zaboravljene	A:aef	zaboravljen
reči	N:f	reč
i	CONJ	i
'	A:aem	'
raspričaju	N:m	raspričaju
se	PAR	se
'	A:aem	'
deluje	N:m	deluje
kao	CONJ	kao
razgovor	N:m	razgovor
dva	NUM	dva
Rusa	N:f	Ruse
na	PREP	na
engleskom	A:aen	engleski
u	PREP	u
nekom	PRO	neki
B	ABB	B
-	PUNCT	-
filmu	N:m	film
.	SENT	.
Pored	PREP	pored
toga	PRO	taj
,	PUNCT	,
Levine	N:m	Levin
po	PREP	po
ko	PRO	ko
zna	N:m	zna
koji	PRO	koji
put	N:f	put
reprizira	N:m	reprizira
tezu	N:f	teza
da	CONJ	da
su	PREF	su
zombiji	N:m	zombi
metafora	N:f	metafora
'	A:aem	'
zombija	N:m	zombi
'	A:aem	'
koji	PRO	koji
su	N:m	su
se	PAR	se
u	PREP	u
modernom	A:aem	moderan
svetu	N:m	svet
otuđili	V:m	otuđiti
jedni	NUM	jedan
od	PREP	od
drugih	A:aen	drugi
i	CONJ	i
sada	ADV	sada
bauljaju	N:m	bauljaju
,	PUNCT	,
zaokupljeni	V:m	zaokupiti
svojim	PRO	svoj
wi	N:m	wi
-	PUNCT	-
fi	A:aem	fi
gedžetima	N:m	gedžet
,	PUNCT	,
nesvesni	A:aem	nesvestan
postojanja	N:n	postojanje
ljudi	N:m	ljudi
oko	PREP	oko
sebe	PRO	sebe
.	SENT	.
Ta	PRO	taj
teza	N:f	teza
postaje	N:f	postaja
naročito	ADV	naročito
nepotrebna	A:aen	nepotreban
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
iz	PREP	iz
iste	A:aem	isti
'	N:m	'
ekipe	N:f	ekipa
'	A:aem	'
dolaze	N:m	dolaz
i	CONJ	i
(	PUNCT	(
dobri	A:aem	dobar
)	PUNCT	)
ljudi	N:m	ljudi
i	CONJ	i
(	PUNCT	(
zli	A:aem	zao
)	PUNCT	)
zombiji	N:m	zombi
(	PUNCT	(
koji	PRO	koji
posle	PREP	posle
postanu	N:m	postanu
dobri	A:aem	dobar
)	PUNCT	)
i	CONJ	i
(	PUNCT	(
stvarno	ADV	stvarno
zli	A:aem	zao
)	PUNCT	)
zombiji	N:m	zombi
-	PUNCT	-
skeleti	N:m	skelet
(	PUNCT	(
koji	PRO	koji
su	N:m	su
neka	PRO	neki
vrsta	N:f	vrsta
besmislom	N:m	besmisao
i	CONJ	i
depresijom	N:f	depresija
samoizjedenih	A:aem	samoizjedenih
zombija	N:m	zombi
od	PREP	od
kojih	PRO	koji
su	N:m	su
ostale	V:f	ostati
samo	PAR	samo
kost	N:f	kost
&	A	&&
koža	N:f	koža
)	PUNCT	)
.	SENT	.
U	PREP	u
takvom	PRO	takav
okruženju	N:n	okruženje
'	A:aem	'
R	A:aem	R
'	N:m	'
nekakvim	PRO	nekakav
samoizazvanim	A:aen	samoizazvanim
proviđenjem	N:n	proviđenje
(	PUNCT	(
nazovimo	A:aen	nazovimo
ga	PRO	on
'	A:aem	'
ljubavlju	N:f	ljubav
'	N:m	'
)	PUNCT	)
odlučuje	N:m	odlučuje
da	CONJ	da
spasi	N:m	Spasa
Julie	N:f	Julia
od	PREP	od
napada	N:m	napad
njegovih	PRO	njegov
kolega	N:f	kolega
zombija	N:m	zombi
sa	PREP	sa
kojima	PRO	koji
,	PUNCT	,
inače	PAR	inače
,	PUNCT	,
bleji	N:m	bleji
unutar	PREP	unutar
aerodromske	A:aem	aerodromski
zgrade	N:f	zgrada
(	PUNCT	(
nije	A:aem	nije
jasno	ADV	jasno
zašto	CONJ	zašto
zombiji	N:m	zombi
ne	PAR	ne
odu	N:f	oda
odatle	ADV	odatle
,	PUNCT	,
odnosno	PAR	odnosno
šta	PRO	šta
ih	PRO	ona
drži	N:m	drži
na	PREP	na
tom	PRO	taj
mestu	N:n	mesto
)	PUNCT	)
.	SENT	.
Julie	N:f	Julia
dolazi	N:m	dolaz
sa	PREP	sa
njim	PRO	on
u	PREP	u
njegov	PRO	njegov
'	N:m	'
privatizovani	V:m	privatizovati
'	A:aem	'
avion	N:m	avion
u	PREP	u
kome	PRO	koji
on	PRO	on
sakuplja	A:aem	sakuplja
artefakte	N:m	artefakt
'	A:aem	'
života	N:m	život
'	A:aem	'
i	CONJ	i
sluša	A:aem	sluša
ploče	N:f	ploča
.	SENT	.
Julie	N:f	Julia
je	PRO	ona
,	PUNCT	,
inače	PAR	inače
,	PUNCT	,
ćerka	N:f	ćerka
'	A:aem	'
guvernera	N:m	guverner
'	N:m	'
(	PUNCT	(
prema	PREP	prema
Walking	N:m	Walking
Dead	N:m	Dead
)	PUNCT	)
obližnjeg	A:aem	obližnji
grada	N:m	grad
koji	PRO	koji
rukovodi	N:m	rukovodi
odbranom	N:f	odbrana
od	PREP	od
zombija	N:m	zombi
(	PUNCT	(
igra	N:f	igra
ga	PRO	on
abnormalno	A:aen	abnormalan
dosadni	A:aem	dosadan
John	N:m	John
Malkovich	A:aem	Malkovich
)	PUNCT	)
.	SENT	.
Kako	CONJ	kako
se	PAR	se
Julie	N:f	Julia
i	CONJ	i
'	A:aem	'
R	A:aem	R
'	A:aem	'
zbližuju	N:m	zbližuju
,	PUNCT	,
tako	ADV	tako
on	PRO	on
postaje	N:f	postaja
sve	PRO	sav
ljudskiji	A:bem	ljudski
,	PUNCT	,
a	CONJ	a
prizor	N:m	prizor
njih	PRO	ona
dvoje	NUM	dvoje
ostaviće	A:aem	ostaviće
prosvetljujući	A:aem	prosvetljujući
utisak	N:m	utisak
i	CONJ	i
na	PREP	na
druge	A:aem	drugi
zombije	N:m	zombi
i	CONJ	i
pobuditi	N:f	pobuditi
humanost	N:f	humanost
u	PREP	u
njima	PRO	ona
.	SENT	.
Zajednička	A:aem	Zajednička
borba	N:f	borba
protiv	PREP	protiv
zombie	N:m	zombie
-	PUNCT	-
skeletora	N:m	skeletora
ujedinjuje	N:m	ujedinjuje
ih	INT	ih
i	CONJ	i
još	ADV	još
više	ADV	više
ubrzava	A:aen	ubrzava
njihovu	PRO	njihov
transformaciju	N:f	transformacija
iz	PREP	iz
zombija	N:m	zombi
natrag	ADV	natrag
u	PREP	u
ljude	N:m	ljudi
.	SENT	.
U	PREP	u
prvom	A:aen	prvi
delu	N:n	delo
filma	N:m	film
imamo	N:m	imamo
bozastu	A:aem	bozastu
ljubavnu	A:aef	ljubavan
pričicu	N:f	pričica
koja	PRO	koji
se	PAR	se
svodi	V:n	svodi
na	PREP	na
tvajlajt	N:m	tvajlajt
-	PUNCT	-
tip	N:m	tip
viteškog	A:aem	viteški
spasavanja	N:n	spasavanje
'	A:aem	'
male	A:aef	mali
'	N:m	'
koji	PRO	koji
s	PREP	s
obzirom	N:m	obzir
na	PREP	na
kontekst	N:m	kontekst
(	PUNCT	(
aerodrom	N:m	aerodrom
,	PUNCT	,
zombiji	N:m	zombi
,	PUNCT	,
post	PREF	post
-	PUNCT	-
apokalipsa	N:f	apokalipsa
)	PUNCT	)
deluje	A:aen	deluje
začuđujuće	A:aen	začuđujući
bledo	A:aen	bled
i	CONJ	i
neinspirativno	A:aen	neinspirativno
realizovano	V:n	realizovati
(	PUNCT	(
'	A:aem	'
R	A:aem	R
'	A:aem	'
uči	N:m	uča
da	CONJ	da
vozi	N:m	vozi
Z	A:aem	Z
4	NUM	@card@
u	PREP	u
prepoznatljivom	A:aen	prepoznatljiv
gas	N:m	gas
-	PUNCT	-
gočnica	N:f	gočnica
komičnom	A:aem	komičan
klišeu	N:m	kliše
)	PUNCT	)
,	PUNCT	,
dok	CONJ	dok
u	PREP	u
drugom	A:aef	drugi
delu	N:n	delo
stvari	N:f	stvar
postaju	N:f	postaja
još	ADV	još
gore	ADV	gore
.	SENT	.
Bedna	A:aef	bedan
animacija	N:f	animacija
'	A:aem	'
skeletor	N:m	skeletor
'	N:m	'
-	PUNCT	-
zombija	N:m	zombi
na	PREP	na
stranu	N:f	strana
,	PUNCT	,
udruživanje	N:n	udruživanje
ljudi	N:m	ljudi
i	CONJ	i
zombija	N:m	zombi
vizuelno	A:aen	vizuelan
podseća	N:n	podseća
na	PREP	na
seting	N:m	seting
serije	N:f	serija
Falling	N:m	Falling
Skies	N:m	Skies
,	PUNCT	,
ali	CONJ	ali
sadržajem	N:m	sadržaj
deluje	N:m	deluje
kao	CONJ	kao
da	CONJ	da
se	PAR	se
iz	PREP	iz
sve	PRO	sav
snage	N:f	snaga
trudilo	V:n	truditi
da	CONJ	da
se	PAR	se
iz	PREP	iz
'	A:aem	'
filma	N:m	film
za	PREP	za
devojčice	N:f	devojčica
'	N:m	'
ne	PAR	ne
pretegne	N:m	pretegne
u	PREP	u
'	A:aem	'
film	N:m	film
za	PREP	za
dečake	N:m	dečak
'	N:m	'
.	PUNCT	.
I	CONJ	i
tu	PRO	taj
ne	PAR	ne
mislim	A:aef	mislim
da	CONJ	da
su	PREF	su
devojčice	N:f	devojčica
glupe	A:aef	glup
,	PUNCT	,
a	CONJ	a
dečaci	N:m	dečak
postavljaju	N:m	postavljaju
pitanja	N:n	pitanje
,	PUNCT	,
već	CONJ	već
da	CONJ	da
'	N:m	'
to	PRO	taj
,	PUNCT	,
malo	ADV	malo
ratovanja	N:n	ratovanje
'	A:aem	'
nije	N:n	nije
smelo	V:n	smesti
da	CONJ	da
pokvari	N:m	pokvari
romansu	N:f	romansa
.	SENT	.
Poruka	N:f	poruka
je	PRO	ona
plemenita	A:aef	plemenit
.	SENT	.
Kao	CONJ	kao
intervencija	N:f	intervencija
na	PREP	na
templejt	N:m	templejt
zombija	N:m	zombi
teza	N:f	teza
o	PREP	o
tome	PRO	taj
da	CONJ	da
ih	PRO	ona
ljubav	N:f	ljubav
ponovo	ADV	ponovo
može	A:aem	može
učiniti	A:aem	učiniti
ljudima	N:m	ljudi
je	PRO	ona
lepa	A:aef	lep
i	CONJ	i
efektna	A:aef	efektan
,	PUNCT	,
ali	CONJ	ali
Warm	N:m	Warm
Bodies	N:m	Bodies
ne	PAR	ne
uspeva	V:n	uspeva
da	CONJ	da
bude	A:aen	bude
ni	PAR	ni
malo	ADV	malo
više	ADV	više
od	PREP	od
tinejdžerskog	A:aem	tinejdžerski
filmića	N:f	filmića
koji	PRO	koji
poput	PREP	poput
after	N:m	after
-	PUNCT	-
50	NUM	@card@
s	PREP	s
-	PUNCT	-
Madonne	N:f	Madonne
traži	A:aem	traži
sve	PRO	sav
načine	N:m	način
da	CONJ	da
se	PAR	se
prilagodi	N:f	prilagodi
aktuelnim	A:aem	aktuelan
trendovima	N:m	trend
.	SENT	.
Šteta	N:m	Šteta
što	CONJ	što
mu	PRO	on
je	PRO	ona
to	PRO	taj
i	CONJ	i
bila	V:f	biti
ambicija	N:f	ambicija
.	SENT	.
Ah	INT	ah
,	PUNCT	,
da	CONJ	da
zombiji	N:m	zombi
su	N:m	su
slipvokeri	N:f	slipvokeri
dok	CONJ	dok
ne	PAR	ne
nanjuše	A:aem	nanjuše
plen	N:m	plen
,	PUNCT	,
a	CONJ	a
onda	CONJ	onda
su	N:m	su
sprinteri	N:m	sprinter
.	SENT	.
Za	PREP	za
razliku	N:f	razlika
od	PREP	od
'	A:aem	'
skeletor	N:m	skeletor
'	N:m	'
-	PUNCT	-
zombija	N:m	zombi
koji	PRO	koji
se	PAR	se
kreću	V:n	kreću
kao	CONJ	kao
marsovci	N:f	marsovci
u	PREP	u
filmu	N:m	film
Mars	N:m	Mars
Attacks	N:m	Attacks
.	SENT	.
Eat	N:m	Eat
that	N:m	that
,	PUNCT	,
logiko	N:f	logika
!	PUNCT	!
