Kao	ADV	kao
što	CONJ	što
uvek	ADV	uvek
biva	A:aem	biva
kod	PREP	kod
svih	PRO	sav
romantičnih	A:aef	romantičan
komedija	N:f	komedija
,	PUNCT	,
kako	CONJ	kako
god	PAR	god
da	CONJ	da
okrenete	N:f	okrenete
ima	A:aem	ima
previše	ADV	previše
izlizanih	A:aem	izlizan
momenata	N:m	moment
i	CONJ	i
klišea	N:m	kliše
.	PUNCT	.
Kako	CONJ	kako
i	CONJ	i
ostali	V:m	ostati
filmovi	N:m	film
iz	PREP	iz
ovog	PRO	ovaj
žanra	N:m	žanr
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
“	A:aem	“
Love	N:m	Lov
and	N:m	and
Other	N:m	Other
Drugs	N:m	Drugs
”	A:aem	”
poseduje	N:m	poseduje
onaj	PRO	onaj
standardni	A:aem	standardan
princip	N:m	princip
i	CONJ	i
koncept	N:m	koncept
romanse	N:f	romansa
,	PUNCT	,
koji	PRO	koji
ga	PRO	on
čini	N:f	čini
jedva	ADV	jedva
podnošljivim	A:aef	podnošljiv
za	PREP	za
gledati	N:m	gledati
.	SENT	.
No	CONJ	no
,	PUNCT	,
ne	PAR	ne
bih	A:aem	bih
sada	ADV	sada
previše	ADV	previše
da	CONJ	da
pljujem	N:m	pljujem
ako	CONJ	ako
ste	A:aem	ste
fan	N:m	fan
ovog	PRO	ovaj
žanra	N:m	žanr
,	PUNCT	,
samo	PAR	samo
ću	N:m	ću
se	PAR	se
truditi	V:n	truditi
da	CONJ	da
istaknem	A:aem	istaknem
nedostatke	N:m	nedostatak
koje	PRO	koji
sam	PRO	sam
uvideo	V:m	uvideti
.	SENT	.
Priča	N:m	Priča
se	PAR	se
vrti	V:m	vrti
oko	PREP	oko
momka	N:m	momak
koji	PRO	koji
je	PRO	ona
prilično	ADV	prilično
dobar	A:aem	dobar
prodavac	N:m	prodavac
(	PUNCT	(
svega	ADV	svega
i	CONJ	i
svačega	PRO	svašta
)	PUNCT	)
,	PUNCT	,
bez	PREP	bez
nekih	PRO	neki
posebnih	A:aef	poseban
moralnih	A:aen	moralan
granica	N:f	granica
,	PUNCT	,
kako	CONJ	kako
u	PREP	u
ubeđivanju	N:n	ubeđivanje
klijenta	N:m	klijent
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
u	PREP	u
odnosu	N:m	odnos
sa	PREP	sa
ženama	N:f	žena
.	SENT	.
On	PRO	on
sasvim	ADV	sasvim
slučajno	ADV	slučajno
upoznaje	V:m	upoznaje
jednu	NUM	jedan
čudnu	A:aef	čudan
devojku	N:f	devojka
,	PUNCT	,
varnice	N:f	varnica
kreću	A:aem	kreću
momentalno	ADV	momentalno
da	CONJ	da
sevaju	N:f	sevaju
i	CONJ	i
oni	PRO	onaj
se	PAR	se
upuštaju	V:m	upuštaju
u	PREP	u
“	N:m	“
fizičku	A:aen	fizički
vezu	N:f	veza
”	N:m	”
,	PUNCT	,
sa	PREP	sa
naglaskom	N:m	naglasak
na	PREP	na
odsustvo	N:n	odsustvo
emocija	N:f	emocija
i	CONJ	i
prefiksa	N:m	prefiks
“	A:aem	“
veze	N:f	veza
”	N:m	”
.	PUNCT	.
Međutim	N:n	Međutim
,	PUNCT	,
ispostavlja	N:n	ispostavlja
se	PAR	se
da	CONJ	da
devojka	N:f	devojka
boluje	N:m	boluje
od	PREP	od
Parkinsonove	A:aef	Parkinsonov
bolesti	N:f	bolest
(	PUNCT	(
Parkinson	N:m	Parkinson
’	N:m	’
s	PREP	s
disease	N:f	disease
)	PUNCT	)
,	PUNCT	,
i	CONJ	i
da	CONJ	da
tu	ADV	tu
zapravo	ADV	zapravo
njihova	PRO	njihov
priča	N:f	priča
počinje	N:f	počinje
.	SENT	.
Pošto	A:aem	Pošto
smo	N:f	smo
ustanovili	V:m	ustanoviti
zaplet	N:m	zaplet
,	PUNCT	,
sada	ADV	sada
možemo	A:aen	možemo
da	CONJ	da
pređemo	A:aen	pređemo
na	PREP	na
kritikovanje	N:n	kritikovanje
posebnih	A:aef	poseban
segmenata	N:m	segment
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
prilično	ADV	prilično
veliki	A:aem	velik
problem	N:m	problem
ovog	PRO	ovaj
filma	N:m	film
jeste	INT	jeste
što	PRO	što
deluje	N:m	deluje
kao	CONJ	kao
niz	PREP	niz
nasumice	ADV	nasumice
naslaganih	A:aem	naslagan
klipova	N:m	klip
,	PUNCT	,
bez	PREP	bez
ikakvog	PRO	ikakav
osećaja	N:m	osećaj
celine	N:f	celina
.	SENT	.
Momenti	N:m	moment
u	PREP	u
priči	N:f	priča
se	PAR	se
dešavaju	V:n	dešavaju
samo	PAR	samo
jer	CONJ	jer
jednostavno	ADV	jednostavno
moraju	N:m	moraju
,	PUNCT	,
jer	CONJ	jer
tako	ADV	tako
standardni	A:aem	standardan
skelet	N:m	skelet
ovog	PRO	ovaj
tipa	N:m	tip
filmova	N:m	film
nalaže	A:aem	nalaže
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
zato	ADV	zato
što	CONJ	što
nas	PRO	mi
prirodni	A:aem	prirodan
tok	N:m	tok
radnje	N:f	radnja
navodi	N:m	navod
tamo	ADV	tamo
.	SENT	.
Deluje	N:m	Deluje
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
ono	PRO	onaj
što	CONJ	što
glumci	N:m	glumac
rade	N:f	rada
i	CONJ	i
govore	N:m	govor
totalno	A:aen	totalan
nezavisno	A:aen	nezavisan
od	PREP	od
čitave	A:aef	čitav
situacije	N:f	situacija
.	SENT	.
Sve	PRO	sav
je	PRO	ona
nekako	ADV	nekako
prilično	ADV	prilično
rasejano	ADV	rasejano
,	PUNCT	,
uopšte	ADV	uopšte
se	PAR	se
ne	PAR	ne
možete	A:aef	možete
udubiti	N:f	udubiti
u	PREP	u
priču	N:f	priča
,	PUNCT	,
pošto	CONJ	pošto
svaki	PRO	svaki
drugi	A:aem	drugi
momenat	N:m	moment
jeste	INT	jeste
priča	N:f	priča
za	PREP	za
sebe	PRO	sebe
,	PUNCT	,
i	CONJ	i
to	PRO	taj
čini	N:f	čini
film	N:m	film
napornim	A:aen	naporan
i	CONJ	i
predugačkim	A:aen	predugačak
.	PUNCT	.
Drugi	A:aem	drugi
od	PREP	od
bitnijih	A:bem	bitan
problema	N:m	problem
jeste	INT	jeste
što	CONJ	što
je	PRO	ona
čitav	A:aem	čitav
film	N:m	film
urađen	V:m	uraditi
kao	ADV	kao
nezavisna	A:aef	nezavisan
komedija	N:f	komedija
–	N:m	–
a	CONJ	a
ne	PAR	ne
poseduje	N:m	poseduje
nikakav	PRO	nikakav
humor	N:m	humor
.	PUNCT	.
Doduše	N:m	Doduše
,	PUNCT	,
postoji	N:m	postoji
par	N:m	par
donekle	ADV	donekle
smešnih	A:aem	smešan
momenata	N:m	moment
,	PUNCT	,
ipak	PAR	ipak
–	N:m	–
nekako	ADV	nekako
niti	CONJ	niti
je	PRO	ona
dovoljno	ADV	dovoljno
izraženo	V:n	izraziti
,	PUNCT	,
niti	CONJ	niti
kvalitetno	A:aen	kvalitetan
da	CONJ	da
bi	A:aen	bi
ovaj	PRO	ovaj
projekat	N:m	projekt
bio	V:m	biti
svrstan	V:m	svrstati
pod	PREP	pod
komedije	N:f	komedija
.	SENT	.
Nije	N:m	Nije
se	PAR	se
ni	PAR	ni
glavni	A:aem	glavni
glumački	A:aem	glumački
duo	N:m	duo
proslavio	V:m	proslaviti
.	SENT	.
Njihove	PRO	njihov
uloge	N:f	uloga
su	N:m	su
u	PREP	u
potpunosti	N:f	potpunost
prenaglašene	A:aem	prenaglašen
i	CONJ	i
navalentne	A:aem	navalentan
,	PUNCT	,
nikako	ADV	nikako
u	PREP	u
tonu	N:m	ton
sa	PREP	sa
onim	PRO	onaj
što	CONJ	što
se	PAR	se
dešava	N:n	dešava
u	PREP	u
filmu	N:m	film
.	SENT	.
Džejk	N:m	Džejk
Džilenhol	N:m	Džilenhol
(	PUNCT	(
Jake	N:f	Jaka
Gyllenhaal	N:m	Gyllenhaal
)	PUNCT	)
glumi	N:f	gluma
šmekera	N:m	šmeker
,	PUNCT	,
super	ADV	super
prodavca	N:m	prodavac
i	CONJ	i
nikako	ADV	nikako
nije	V:m	nije
ubedljiv	A:aem	ubedljiv
još	ADV	još
od	PREP	od
prve	A:aem	prvi
scene	N:f	scena
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
En	N:f	En
Hetavej	N:m	Hetavej
(	PUNCT	(
Anne	A:aem	Anne
Hathaway	N:m	Hathaway
)	PUNCT	)
,	PUNCT	,
ona	PRO	ona
je	PRO	ona
čak	PAR	čak
i	CONJ	i
gora	N:f	gora
,	PUNCT	,
nepotrebno	ADV	nepotrebno
svaki	PRO	svaki
momenat	N:m	moment
“	N:m	“
preglumela	V:m	preglumela
”	A:aem	”
.	SENT	.
Vrlo	ADV	vrlo
rasejan	A:aem	rasejan
i	CONJ	i
nepotreban	A:aem	nepotreban
projekat	N:m	projekt
,	PUNCT	,
predlažem	V:m	predlažem
vam	PRO	vi
da	CONJ	da
ga	PRO	on
preskočite	N:m	preskočite
.	SENT	.
