Iako	CONJ	iako
ovaj	PRO	ovaj
projekat	N:m	projekt
ostavlja	N:n	ostavlja
utisak	N:m	utisak
i	CONJ	i
nosi	A:aem	nosi
pečat	N:m	pečat
romantične	A:aef	romantičan
komedije	N:f	komedija
,	PUNCT	,
on	PRO	on
poseduje	N:m	poseduje
zbilja	PAR	zbilja
dosta	ADV	dosta
nedostataka	N:m	nedostatak
.	SENT	.
No	CONJ	no
,	PUNCT	,
da	CONJ	da
se	PAR	se
u	PREP	u
startu	N:m	start
izjasnim	N:n	izjasnim
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
što	PRO	što
bi	N:m	bi
se	PAR	se
reklo	V:n	reći
“	A:aem	“
ženski	A:aem	ženski
”	A:aem	”
film	N:m	film
,	PUNCT	,
namenjen	A:aem	namenjen
isključivo	ADV	isključivo
za	PREP	za
žensku	A:aef	ženski
publiku	N:f	publika
,	PUNCT	,
pa	CONJ	pa
postoji	N:m	postoji
mogućnost	N:f	mogućnost
da	CONJ	da
ga	PRO	on
ja	PRO	ja
jednostavno	ADV	jednostavno
nisam	N:m	nisam
dobro	ADV	dobro
razumeo	V:m	razumeti
,	PUNCT	,
ali	CONJ	ali
trudiću	V:m	trudiću
se	PAR	se
da	CONJ	da
elaboriram	N:m	elaboriram
svoje	PRO	svoj
stavove	N:m	stav
.	SENT	.
Film	N:m	film
“	A:aem	“
Ljubavni	A:aem	ljubavan
jackpot	N:m	jackpot
”	N:m	”
,	PUNCT	,
napisan	V:m	napisati
i	CONJ	i
režiran	V:m	režirati
od	PREP	od
strane	N:f	strana
Bar	N:m	Bar
ta	PRO	taj
Frojndliha	N:m	Frojndliha
(	PUNCT	(
Bart	N:m	Bart
Freundlich	A:aem	Freundlich
)	PUNCT	)
,	PUNCT	,
priča	N:f	priča
priču	N:f	priča
o	PREP	o
sveže	A:aen	svež
razvedenoj	A:aef	razveden
ženi	N:f	žena
,	PUNCT	,
sa	PREP	sa
dvoje	NUM	dvoje
dece	N:f	deca
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
organizovala	V:m	organizovati
ostatak	N:m	ostatak
svoje	PRO	svoj
porodice	N:f	porodica
i	CONJ	i
odvela	V:f	odvesti
ih	PRO	ona
u	PREP	u
Njujork	N:m	Njujork
,	PUNCT	,
kako	CONJ	kako
bi	A:aem	bi
stvorili	V:m	stvoriti
sebi	PRO	sebe
novi	A:aem	nov
život	N:m	život
,	PUNCT	,
i	CONJ	i
ostavila	V:m	ostaviti
za	PREP	za
sobom	PRO	sebe
ružne	A:aef	ružan
uspomene	N:f	uspomena
na	PREP	na
bivšeg	A:aen	bivši
muža	N:f	muža
i	CONJ	i
njegove	PRO	njegov
ljubavne	A:aef	ljubavan
afere	N:f	afera
.	SENT	.
Spletom	N:m	splet
okolnosti	N:f	okolnost
njoj	PRO	ona
u	PREP	u
život	N:m	život
ulazi	N:m	ulaz
dvadesetpetogodišnji	A:aem	dvadesetpetogodišnji
momak	N:m	momak
,	PUNCT	,
po	PREP	po
imenu	N:n	ime
Aram	N:m	aram
,	PUNCT	,
koji	PRO	koji
se	PAR	se
takođe	PAR	takođe
nalazi	N:m	nalaz
na	PREP	na
raskrsnici	N:f	raskrsnica
svoga	PRO	svoj
života	N:m	život
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
upravo	ADV	upravo
prekinuo	V:m	prekinuti
vezu	N:f	veza
sa	PREP	sa
dugogodišnjom	A:aef	dugogodišnji
devojkom	N:f	devojka
,	PUNCT	,
i	CONJ	i
nema	A:aem	nem
niti	CONJ	niti
ozbiljne	A:aef	ozbiljan
planove	N:m	plan
,	PUNCT	,
niti	CONJ	niti
ciljeve	N:m	cilj
za	PREP	za
svoju	PRO	svoj
budućnost	N:f	budućnost
.	SENT	.
Aram	N:m	aram
se	PAR	se
zaposlio	V:m	zaposliti
kao	CONJ	kao
šanker	N:m	šanker
u	PREP	u
jednom	NUM	jedan
malom	A:aen	mali
kafiću	N:m	kafić
,	PUNCT	,
i	CONJ	i
kao	CONJ	kao
ispomoć	N:f	ispomoć
u	PREP	u
klubu	N:m	klub
koji	PRO	koji
trenira	N:m	trenira
žene	N:f	žena
za	PREP	za
samodbranu	N:m	samodbranu
.	SENT	.
Naša	A:aem	Naša
glavna	A:aef	glavna
junakinja	N:f	junakinja
veoma	ADV	veoma
brzo	ADV	brzo
uspeva	N:m	uspeva
da	CONJ	da
organizuje	N:m	organizuje
svoju	PRO	svoj
karijeru	N:f	karijera
,	PUNCT	,
i	CONJ	i
kao	ADV	kao
prvo	ADV	prvo
i	CONJ	i
praktično	ADV	praktično
rešenje	N:n	rešenje
,	PUNCT	,
pošto	CONJ	pošto
ga	PRO	on
dosta	ADV	dosta
sreće	N:f	sreća
u	PREP	u
poslednje	A:aen	poslednji
vreme	N:n	vreme
,	PUNCT	,
nudi	N:f	nudi
Aramu	N:m	aram
posao	V:m	posati
dadilje	N:f	dadilja
,	PUNCT	,
on	PRO	on
prihvata	N:m	prihvat
i	CONJ	i
tu	PRO	taj
kreće	A:aem	kreće
njihova	PRO	njihov
priča	N:f	priča
.	SENT	.
Da	CONJ	da
bi	V:n	bi
ovakva	PRO	ovakav
spontana	A:aef	spontan
romantična	A:aef	romantičan
priča	N:f	priča
uspela	V:f	uspeti
,	PUNCT	,
potrebna	A:aef	potreban
je	PRO	ona
odlična	A:aen	odličan
hemija	N:f	hemija
između	PREP	između
glavnih	A:aem	glavnih
aktera	N:m	akter
,	PUNCT	,
koju	PRO	koji
moram	N:m	moram
reć	A:aem	reć
da	CONJ	da
baš	PAR	baš
i	CONJ	i
nisam	N:m	nisam
primetio	V:m	primetiti
.	SENT	.
Ovaj	PRO	ovaj
projekat	N:m	projekt
propagira	N:m	propagira
odnos	N:m	odnos
starije	A:bef	star
žene	N:f	žena
i	CONJ	i
mladića	N:m	mladić
,	PUNCT	,
a	CONJ	a
Ketrin	N:f	Ketrin
Zita	N:f	Zita
-	PUNCT	-
Džons	N:m	Džons
(	PUNCT	(
Catherine	A:aef	Catherine
Zeta	N:f	Zeta
-	PUNCT	-
Jones	N:m	Jones
)	PUNCT	)
je	PRO	ona
veoma	ADV	veoma
atraktivna	A:aen	atraktivan
i	CONJ	i
dobrodržeća	A:aen	dobrodržeći
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
ima	A:aem	ima
smisla	N:m	smisao
to	PRO	taj
što	PRO	što
se	PAR	se
dopala	V:n	dopasti
ovako	ADV	ovako
mladom	A:aem	mlad
momku	N:m	momak
.	SENT	.
Na	PREP	na
drugoj	A:aef	drugi
strani	N:f	strana
,	PUNCT	,
Džustin	N:m	Džustin
Barta	N:m	Barta
(	PUNCT	(
Justin	N:m	Justin
Bartha	N:m	Bartha
)	PUNCT	)
ne	PAR	ne
deluje	N:m	deluje
nešto	ADV	nešto
posebno	ADV	posebno
zrelo	A:aen	zreo
,	PUNCT	,
više	ADV	više
kao	CONJ	kao
jako	ADV	jako
emotivni	A:aem	emotivan
i	CONJ	i
očajni	A:aem	očajan
klinac	N:m	klinac
koji	PRO	koji
poene	N:m	poen
dobija	N:n	dobija
pomoću	PREP	pomoću
odličnog	A:aem	odličan
odnosa	N:m	odnos
sa	PREP	sa
njenom	PRO	njen
decom	N:f	deca
,	PUNCT	,
pa	CONJ	pa
recimo	N:f	recimo
da	CONJ	da
i	CONJ	i
taj	PRO	taj
deo	N:m	deo
veze	N:f	veza
ima	A:aem	ima
logike	N:f	logika
.	SENT	.
Veliki	A:aem	velik
problem	N:m	problem
ovog	PRO	ovaj
projekta	N:m	projekt
je	PRO	ona
što	PRO	što
većinu	N:f	većina
svog	PRO	svoj
trajanja	N:n	trajanje
pokušava	N:f	pokušava
da	CONJ	da
opravda	N:f	opravda
odnos	N:m	odnos
između	PREP	između
starije	A:bef	star
žene	N:f	žena
i	CONJ	i
mlađeg	A:bem	mlad
muškarca	N:m	muškarac
,	PUNCT	,
samo	CONJ	samo
da	CONJ	da
bi	N:n	bi
ga	PRO	on
pri	PREP	pri
kraju	N:m	kraj
razorio	V:m	razoriti
na	PREP	na
jedan	NUM	jedan
vrlo	ADV	vrlo
glup	A:aem	glup
i	CONJ	i
,	PUNCT	,
smatram	N:m	smatram
,	PUNCT	,
nedovoljno	ADV	nedovoljno
bitan	A:aem	bitan
način	N:m	način
.	SENT	.
Onda	ADV	onda
se	PAR	se
u	PREP	u
tom	PRO	taj
momentu	N:m	moment
priča	N:f	priča
totalno	ADV	totalno
okreće	V:m	okreće
iz	PREP	iz
filma	N:m	film
,	PUNCT	,
pružajući	V:m	pružajući
nam	PRO	mi
neke	PRO	neki
“	A:aem	“
Eat	N:m	Eat
,	PUNCT	,
Pray	N:m	Pray
,	PUNCT	,
Love	N:m	Lov
”	A:aem	”
momente	N:m	moment
“	A:aem	“
prosvetljenja	N:n	prosvetljenje
”	N:m	”
da	CONJ	da
bi	A:aem	bi
se	PAR	se
opet	ADV	opet
na	PREP	na
kraju	N:m	kraj
vratio	V:m	vratiti
u	PREP	u
iste	A:aem	isti
“	N:m	“
šine	N:f	šina
”	N:m	”
,	PUNCT	,
bez	PREP	bez
ikave	A:aef	ikave
maštovite	A:aef	maštovit
konekcije	N:f	konekcija
.	SENT	.
Drugi	A:aem	drugi
veći	A:bem	velik
problem	N:m	problem
u	PREP	u
filmu	N:m	film
jeste	INT	jeste
kvalitet	N:m	kvalitet
humora	N:m	humor
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
već	PAR	već
bezbroj	ADV	bezbroj
puta	ADV	puta
viđen	V:m	viditi
i	CONJ	i
prilično	ADV	prilično
je	PRO	ona
niskog	A:aen	nizak
kvaliteta	N:m	kvalitet
.	SENT	.
Ovde	ADV	ovde
se	PAR	se
provlače	A:aem	provlače
scene	N:f	scena
kao	CONJ	kao
što	PRO	što
su	N:m	su
glasno	ADV	glasno
vršenje	N:n	vršenje
velike	A:aem	velik
nužde	N:f	nužda
i	CONJ	i
jeftine	A:aef	jeftin
i	CONJ	i
pomalo	ADV	pomalo
gnusne	A:aef	gnusan
reference	N:f	referenca
na	PREP	na
seks	N:m	seks
,	PUNCT	,
što	CONJ	što
smatram	V:m	smatram
da	CONJ	da
nikome	PRO	niko
nije	A:aem	nije
smešno	A:aen	smešan
.	PUNCT	.
“	A:aem	“
Ljubavni	A:aem	ljubavan
jackpot	N:m	jackpot
”	A:aem	”
pokušava	N:f	pokušava
toliko	ADV	toliko
mnogo	ADV	mnogo
da	CONJ	da
bude	A:aen	bude
,	PUNCT	,
ploveći	A:aem	ploveći
na	PREP	na
jedrima	N:n	jedro
poznate	A:aef	poznat
formule	N:f	formula
romantičnih	A:aef	romantičan
komedija	N:f	komedija
ali	CONJ	ali
na	PREP	na
kraju	N:m	kraj
ispada	N:m	ispad
vrlo	ADV	vrlo
plitak	A:aem	plitak
i	CONJ	i
izlizan	A:aem	izlizan
.	PUNCT	.
Ne	PAR	ne
bih	A:aen	bih
rekao	V:m	reći
da	CONJ	da
je	PRO	ona
baš	PAR	baš
totalno	ADV	totalno
negledljiv	A:aem	negledljiv
,	PUNCT	,
ali	CONJ	ali
više	ADV	više
služi	A:aem	služi
kao	CONJ	kao
pozadinska	A:aef	pozadinski
zabava	N:f	zabava
dok	CONJ	dok
nešto	PRO	nešto
drugo	A:aen	drugi
radite	N:m	radite
.	SENT	.
