Pobačaj	N:m	Pobačaj
Nema	N:f	Nema
boljeg	A:ben	dobar
dokaza	N:m	dokaz
za	PREP	za
to	PRO	taj
da	CONJ	da
đavo	N:m	đavo
ne	PAR	ne
postoji	N:m	postoji
od	PREP	od
ovog	PRO	ovaj
filma	N:m	film
.	PUNCT	.
Jer	CONJ	jer
da	CONJ	da
postoji	N:m	postoji
,	PUNCT	,
đavo	N:m	đavo
bi	N:f	bi
došao	V:m	doći
po	PREP	po
svoje	PRO	svoj
.	SENT	.
