Hadži	N:m	Hadži
-	PUNCT	-
Aleksandar	N:m	Aleksandar
Đurović	N:m	Đurović
je	PRO	ona
pekao	V:m	peći
zanat	N:m	zanat
kao	CONJ	kao
asistent	N:m	asistent
režije	N:f	režija
na	PREP	na
serijama	N:f	serija
Greh	N:m	greh
njene	PRO	njen
majke	N:f	majka
,	PUNCT	,
Miris	N:m	miris
kiše	N:f	kiša
na	PREP	na
Balkanu	N:m	Balkan
i	CONJ	i
filmovima	N:m	film
Parada	N:f	parada
,	PUNCT	,
Zverinjak	N:m	zverinjak
i	CONJ	i
Kad	ADV	kad
svane	V:f	svane
dan	N:m	dan
.	SENT	.
Autor	N:m	autor
je	PRO	ona
i	CONJ	i
devetominutnog	A:aem	devetominutnog
dokumentarca	N:m	dokumentarac
Obeleženi	A:aem	Obeleženi
(	SENT	(
2008	NUM	@card@
)	PUNCT	)
koji	PRO	koji
je	PRO	ona
nagrađen	V:m	nagraditi
na	PREP	na
moskovskom	A:aem	moskovski
festivalu	N:m	festival
Zlatni	A:aem	zlatan
Vitez	N:m	Vitez
.	SENT	.
Pored	PREP	pored
toga	PRO	taj
što	PRO	što
režira	N:m	režira
,	PUNCT	,
Đurović	N:m	Đurović
i	CONJ	i
piše	A:aem	piše
–	A:aem	–
film	N:m	film
Ljubav	A:aem	Ljubav
dolazi	N:m	dolaz
kasnije	ADV	kasnije
zasnovan	V:m	zasnovati
je	PRO	ona
na	PREP	na
njegovim	PRO	njegov
kratkim	A:aen	kratak
pričama	N:f	priča
o	PREP	o
ljudskim	A:aef	ljudski
odnosima	N:m	odnos
u	PREP	u
velegradu	N:m	velegrad
(	PUNCT	(
autor	N:m	autor
je	PRO	ona
sin	N:m	sin
Ljiljane	N:f	Ljiljana
Habjanović	N:m	Habjanović
Đurović	N:m	Đurović
–	N:m	–
pa	CONJ	pa
mu	PRO	on
je	PRO	ona
,	PUNCT	,
može	A:aem	može
se	PAR	se
tako	ADV	tako
reći	V:m	reći
,	PUNCT	,
pisanje	N:n	pisanje
u	PREP	u
krvi	N:f	krv
)	PUNCT	)
.	SENT	.
Domete	N:m	domet
ovog	PRO	ovaj
debija	N:m	debi
valja	N:f	valja
sagledati	A:aem	sagledati
u	PREP	u
kontekstu	N:m	kontekst
onoga	PRO	onaj
što	CONJ	što
on	PRO	on
zapravo	ADV	zapravo
i	CONJ	i
jeste	INT	jeste
–	A:aem	–
Ljubav	A:aem	Ljubav
dolazi	N:m	dolaz
kasnije	ADV	kasnije
je	PRO	ona
skromno	ADV	skromno
budžetirano	A:aen	budžetirano
ostvarenje	N:n	ostvarenje
nastalo	V:n	nastati
kao	CONJ	kao
plod	N:m	plod
entuzijazma	N:m	entuzijazam
i	CONJ	i
lične	A:aef	ličan
inicijative	N:f	inicijativa
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
čeka	N:f	čeka
pomoć	N:f	pomoć
države	N:f	država
,	PUNCT	,
Đurović	N:m	Đurović
je	PRO	ona
preuzeo	V:m	preuzeti
stvar	N:f	stvar
u	PREP	u
svoje	PRO	svoj
ruke	N:f	ruka
i	CONJ	i
sam	PRO	sam
producirao	V:m	producirati
film	N:m	film
.	SENT	.
Bez	PREP	bez
pomoći	N:f	pomoć
ministarstva	N:n	ministarstvo
i	CONJ	i
grada	N:m	grad
,	PUNCT	,
mala	A:aen	mali
ekipa	N:f	ekipa
je	PRO	ona
gotovo	ADV	gotovo
gerilski	A:aem	gerilski
pristupila	V:m	pristupiti
realizaciji	N:f	realizacija
.	SENT	.
Pristup	N:m	pristup
za	PREP	za
svaku	PRO	svaki
pohvalu	N:f	pohvala
,	PUNCT	,
saglasićete	N:m	saglasićete
se	PAR	se
!	PUNCT	!
Đurović	N:m	Đurović
je	PRO	ona
u	PREP	u
više	ADV	više
navrata	N:m	navrat
istakao	V:m	istakati
da	CONJ	da
je	PRO	ona
film	N:m	film
snimljen	V:m	snimiti
za	PREP	za
svega	ADV	svega
sedam	NUM	sedam
noći	N:f	noć
,	PUNCT	,
što	CONJ	što
je	PRO	ona
izuzetno	ADV	izuzetno
kratak	A:aem	kratak
period	N:m	period
za	PREP	za
jedno	NUM	jedan
dugometražno	A:aen	dugometražni
ostvarenje	N:n	ostvarenje
.	SENT	.
Skromni	A:aem	skroman
produkcioni	A:aem	produkcioni
uslovi	N:m	uslov
su	PREF	su
se	PAR	se
neumitno	ADV	neumitno
odrazili	V:m	odraziti
na	PREP	na
kvalitet	N:m	kvalitet
snimljenog	A:aem	snimljen
materijala	N:m	materijal
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Već	A:aem	Već
od	PREP	od
prvog	A:aem	prvi
kadra	A:aen	kadar
je	PRO	ona
jasno	ADV	jasno
da	CONJ	da
su	N:m	su
ekipi	N:f	ekipa
bila	V:f	biti
dostupna	A:aen	dostupan
veoma	ADV	veoma
ograničena	A:aen	ograničen
sredstva	N:n	sredstvo
i	CONJ	i
da	CONJ	da
se	PAR	se
radilo	V:n	raditi
na	PREP	na
brzinu	N:f	brzina
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
sve	PRO	sav
to	PRO	taj
je	PRO	ona
dovelo	V:n	dovesti
do	PREP	do
toga	PRO	taj
da	CONJ	da
konačni	A:aem	konačan
proizvod	N:m	proizvod
ne	PAR	ne
poseduje	N:m	poseduje
ispolirani	V:m	ispolirati
izgled	N:m	izgled
profesionalnog	A:aem	profesionalan
filma	N:m	film
.	PUNCT	.
Šavovi	N:m	Šavovi
i	CONJ	i
krpež	N:m	krpež
su	PREF	su
vidljivi	A:aem	vidljiv
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
brojne	A:aem	brojni
nedostatke	N:m	nedostatak
,	PUNCT	,
ne	PAR	ne
bi	N:n	bi
bilo	V:n	biti
pošteno	ADV	pošteno
otpisati	A:aem	otpisati
ovaj	PRO	ovaj
film	N:m	film
kao	CONJ	kao
potpuni	A:aem	potpun
promašaj	N:m	promašaj
.	SENT	.
Đurović	N:m	Đurović
prepliće	A:aem	prepliće
tri	NUM	tri
priče	N:f	priča
koje	PRO	koji
se	PAR	se
odvijaju	N:m	odvijaju
tokom	PREP	tokom
jedne	NUM	jedan
beogradske	A:aef	beogradski
noći	N:f	noć
na	PREP	na
potezu	N:m	potez
Terazije	N:f	Terazije
–	A:aem	–
Belvil	N:m	Belvil
.	SENT	.
U	PREP	u
prvoj	A:aef	prvi
priči	N:f	priča
muškarac	N:m	muškarac
razočaran	V:m	razočarati
u	PREP	u
ljubav	N:f	ljubav
(	PUNCT	(
Šepetkovski	N:m	Šepetkovski
)	PUNCT	)
odlazi	N:m	odlazi
kod	PREP	kod
prostitutke	N:f	prostitutka
(	PUNCT	(
Stefanović	N:m	Stefanović
)	PUNCT	)
kako	CONJ	kako
bi	A:aem	bi
pronašao	V:m	pronaći
utehu	N:f	uteha
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
padne	A:aem	padni
seks	N:m	seks
,	PUNCT	,
mušterija	N:f	mušterija
i	CONJ	i
profesionalka	N:f	profesionalka
počinju	N:f	počinju
da	CONJ	da
preispituju	N:f	preispituju
vlastite	A:aem	vlastit
živote	N:m	život
uz	PREP	uz
citate	N:m	citat
Ive	N:m	Iva
Andrića	N:m	Andrić
i	CONJ	i
drugih	A:aen	drugi
mudrih	A:aef	mudar
glava	N:f	glava
.	SENT	.
Drugi	A:aem	drugi
segment	N:m	segment
prikazuje	N:m	prikazuje
susret	N:m	susret
otuđenih	A:aem	otuđen
ljubavnika	N:m	ljubavnik
(	PUNCT	(
još	ADV	još
jednom	NUM	jedan
Stefanović	N:m	Stefanović
,	PUNCT	,
Jeftić	N:m	Jeftić
)	PUNCT	)
u	PREP	u
jeftinoj	A:aef	jeftin
hotelskoj	A:aef	hotelski
sobi	N:f	soba
,	PUNCT	,
dok	CONJ	dok
treći	A:aem	treći
opisuje	N:m	opisuje
sastanak	N:m	sastanak
starih	A:aen	star
znanaca	N:m	znanac
(	PUNCT	(
Klarić	N:m	Klarić
,	PUNCT	,
Đurica	N:m	Đurica
)	PUNCT	)
u	PREP	u
jednom	ADV	jednom
otmenom	A:aem	otmen
prestoničkom	A:aem	prestonički
restoranu	N:m	restoran
u	PREP	u
kome	PRO	koji
se	PAR	se
hrana	N:f	hrana
servira	N:m	servira
uz	PREP	uz
izdašnu	A:aef	izdašan
porciju	N:f	porcija
vrelog	A:aen	vreo
jazza	N:m	jazza
(	PUNCT	(
standard	N:m	standard
Don	N:m	Don
’	N:m	’
t	ABB	t
Explain	N:m	Explain
u	PREP	u
nadahnutom	A:aen	nadahnut
izvođenju	N:n	izvođenje
Sofije	N:f	Sofija
Knežević	N:m	Knežević
,	PUNCT	,
Bojana	N:f	Bojana
Turkića	N:m	Turkić
i	CONJ	i
Ivana	N:m	Ivan
Radivojevića	N:m	Radivojević
)	PUNCT	)
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
treba	N:f	treba
pomenuti	A:aem	pomenut
i	CONJ	i
da	CONJ	da
pri	PREP	pri
kraju	N:m	kraj
filma	N:m	film
u	PREP	u
malim	A:aen	mali
ulogama	N:f	uloga
pojavljuju	N:f	pojavljuju
veterani	N:m	veteran
Tanasije	N:m	Tanasije
Uzunović	N:m	Uzunović
i	CONJ	i
Jadranka	N:m	Jadranko
Selec	N:m	Selec
koji	PRO	koji
glume	N:f	gluma
jedini	A:aem	jedini
srećni	A:aem	srećan
ljubavni	A:aem	ljubavan
par	N:m	par
u	PREP	u
filmu	N:m	film
.	SENT	.
U	PREP	u
suštini	N:f	suština
,	PUNCT	,
Ljubav	A:aem	Ljubav
dolazi	N:m	dolaz
kasnije	ADV	kasnije
je	PRO	ona
jedna	NUM	jedan
trodelna	A:aef	trodelan
melodramska	A:aef	melodramski
improvizacija	N:f	improvizacija
koja	PRO	koji
,	PUNCT	,
doduše	PAR	doduše
ne	PAR	ne
baš	PAR	baš
sasvim	ADV	sasvim
dosledno	ADV	dosledno
,	PUNCT	,
prati	N:f	prati
shemu	N:f	shema
ljubavne	A:aef	ljubavan
vrteške	N:f	vrteška
.	SENT	.
Veze	N:f	veza
između	PREP	između
likova	N:n	likovo
i	CONJ	i
priča	N:f	priča
postoje	N:m	postoje
,	PUNCT	,
ali	CONJ	ali
su	N:m	su
prilično	ADV	prilično
proizvoljne	A:aef	proizvoljan
i	CONJ	i
nepostojane	A:aef	nepostojan
.	SENT	.
Bora	N:f	Bora
Đorđević	N:m	Đorđević
je	PRO	ona
davno	ADV	davno
zapisao	V:m	zapisati
da	CONJ	da
priča	N:f	priča
o	PREP	o
ljubavi	N:f	ljubav
obično	ADV	obično
ugnjavi	A:aem	ugnjavi
,	PUNCT	,
što	CONJ	što
se	PAR	se
delimično	ADV	delimično
potvrdilo	V:n	potvrditi
i	CONJ	i
u	PREP	u
ovom	PRO	ovaj
slučaju	N:m	slučaj
.	SENT	.
Najbolji	A:cem	dobar
segment	N:m	segment
filma	N:m	film
je	PRO	ona
onaj	PRO	onaj
koji	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
na	PREP	na
kraju	N:m	kraj
–	N:m	–
jedino	CONJ	jedino
on	PRO	on
poseduje	N:m	poseduje
relativno	ADV	relativno
efektan	A:aem	efektan
preokret	N:m	preokret
i	CONJ	i
koliku	PRO	kolik
-	PUNCT	-
toliku	PRO	toliki
zaokruženost	N:f	zaokruženost
.	SENT	.
Prva	A:aen	prvi
dva	NUM	dva
segmenta	N:m	segment
se	PAR	se
po	PREP	po
svom	PRO	sav
dometu	N:m	domet
mogu	A:aem	mogu
uporediti	N:m	uporediti
sa	PREP	sa
studentskim	A:aef	studentski
vežbama	N:f	vežba
–	N:m	–
mnogo	ADV	mnogo
je	PRO	ona
tu	PRO	taj
prazne	A:aem	prazan
priče	N:f	priča
i	CONJ	i
neujednačenosti	N:f	neujednačenost
,	PUNCT	,
sa	PREP	sa
tek	CONJ	tek
nekoliko	ADV	nekoliko
zanimljivih	A:aen	zanimljiv
rešenja	N:n	rešenje
koja	PRO	koji
nagoveštavaju	N:m	nagoveštavaju
da	CONJ	da
Đurović	N:m	Đurović
poseduje	N:m	poseduje
talenat	N:m	talent
koji	PRO	koji
se	PAR	se
,	PUNCT	,
ako	CONJ	ako
okolnosti	N:f	okolnost
budu	N:f	budu
dozvolile	V:f	dozvoliti
,	PUNCT	,
može	A:aem	može
dalje	ADV	dalje
razvijati	N:m	razvijati
.	SENT	.
Opet	ADV	opet
,	PUNCT	,
okvirni	A:aem	okviran
koncept	N:m	koncept
o	PREP	o
velegradskom	A:aen	velegradski
otuđenju	N:n	otuđenje
je	PRO	ona
dobar	A:aem	dobar
–	N:m	–
samo	CONJ	samo
ga	PRO	on
je	PRO	ona
valjalo	V:n	valjati
realizovati	N:m	realizovati
na	PREP	na
višem	A:bem	visok
nivou	N:m	nivo
.	PUNCT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
to	PRO	taj
u	PREP	u
postojećim	A:aen	postojeći
okolnostima	N:f	okolnost
izgleda	N:m	izgled
nije	N:f	nije
bilo	V:n	biti
moguće	ADV	moguće
.	SENT	.
Mikro	PREF	mikro
budžet	N:m	budžet
koji	PRO	koji
je	PRO	ona
Đurović	N:m	Đurović
imao	V:m	imati
na	PREP	na
raspolaganju	N:n	raspolaganje
nije	A:aen	nije
omogućavao	V:m	omogućavati
da	CONJ	da
se	PAR	se
posveti	N:f	posveta
pažnja	N:f	pažnja
detaljima	N:m	detalj
.	SENT	.
Imajući	A:aem	Imajući
to	PRO	taj
u	PREP	u
vidu	N:f	vida
,	PUNCT	,
ovaj	PRO	ovaj
debitantski	A:aem	debitantski
film	N:m	film
je	PRO	ona
najbolje	ADV	najbolje
doživeti	N:f	doživeti
kao	CONJ	kao
isprobavanje	N:n	isprobavanje
krila	N:n	krilo
i	CONJ	i
zagrevanje	N:n	zagrevanje
za	PREP	za
ono	PRO	onaj
što	CONJ	što
tek	PAR	tek
treba	N:f	treba
da	CONJ	da
dođe	N:f	dođe
.	SENT	.
