Osim	PREP	osim
elegantnog	A:aem	elegantan
vizuelnog	A:aem	vizuelan
dizajna	N:m	dizajn
i	CONJ	i
odlične	A:aem	odličan
glumačke	A:aef	glumački
podele	N:f	podela
,	PUNCT	,
Gangsterski	A:aem	gangsterski
odred	N:m	odred
ne	PAR	ne
nudi	N:f	nudi
ama	PAR	ama
baš	PAR	baš
ništa	ADV	ništa
zanimljivo	ADV	zanimljivo
.	PUNCT	.
Ako	CONJ	ako
ste	A:aem	ste
gledali	V:m	gledati
Nesalomive	A:aef	Nesalomive
ili	CONJ	ili
Poverljivo	A:aen	poverljiv
iz	PREP	iz
L	N:f	L
.	PUNCT	.
A	CONJ	a
.	SENT	.
-	PUNCT	-
a	INT	a
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
isto	ADV	isto
to	PRO	taj
,	PUNCT	,
samo	PAR	samo
mnogo	ADV	mnogo
gore	ADV	gore
.	SENT	.
Imamo	N:m	Imamo
sredovečnog	A:aen	sredovečan
,	PUNCT	,
poštenog	A:aem	pošten
policajca	N:m	policajac
(	PUNCT	(
Brolin	N:m	Brolin
)	PUNCT	)
koji	PRO	koji
jedini	A:aem	jedini
misli	N:f	misao
da	CONJ	da
može	A:aem	može
nešto	ADV	nešto
da	CONJ	da
učini	N:m	učin
protiv	PREP	protiv
beskrupulouznog	A:aem	beskrupulouznog
kriminalca	N:m	kriminalac
koji	PRO	koji
vlada	N:f	vlada
gradom	N:m	grad
(	PUNCT	(
Penn	N:m	Penn
)	PUNCT	)
.	SENT	.
Imamo	N:m	Imamo
mladića	N:m	mladić
usijane	A:aef	usijan
glave	N:f	glava
ali	CONJ	ali
dobrog	A:aem	dobar
u	PREP	u
duši	N:f	duša
(	PUNCT	(
Gosling	N:m	Gosling
)	PUNCT	)
,	PUNCT	,
imamo	N:m	imamo
iskusnog	A:aem	iskusan
matorca	N:m	matorac
(	PUNCT	(
Patrick	N:m	Patrick
)	PUNCT	)
i	CONJ	i
par	N:m	par
rasnih	A:aem	rasan
stereotipa	N:m	stereotip
(	PUNCT	(
Mackie	A:aem	Mackie
,	PUNCT	,
Peña	N:m	Peña
)	PUNCT	)
,	PUNCT	,
i	CONJ	i
naravno	PAR	naravno
,	PUNCT	,
femme	N:f	femme
fatale	V:f	fatati
kojoj	PRO	koji
je	PRO	ona
srce	N:n	srce
na	PREP	na
mestu	N:n	mesto
,	PUNCT	,
ali	CONJ	ali
postupci	N:m	postupak
ponekad	ADV	ponekad
baš	PAR	baš
i	CONJ	i
nisu	N:m	nisu
(	PUNCT	(
Stone	N:m	Ston
)	PUNCT	)
.	SENT	.
I	CONJ	i
to	PRO	taj
je	PRO	ona
otprilike	ADV	otprilike
to	PRO	taj
,	PUNCT	,
ovaj	PRO	ovaj
skup	A:aem	skup
nepotkupljivih	A:aem	nepotkupljiv
policajaca	N:m	policajac
će	A:aem	će
pokušati	N:m	pokušati
da	CONJ	da
,	PUNCT	,
nezvaničnim	A:aen	nezvaničan
i	CONJ	i
neortodoksnim	A:aen	neortodoksan
putevima	N:m	put
,	PUNCT	,
ali	CONJ	ali
uz	PREP	uz
tajnu	N:f	tajna
podršku	N:f	podrška
šefa	N:m	šef
policije	N:f	policija
(	PUNCT	(
Nolte	N:m	Nolte
)	PUNCT	)
stane	N:m	stan
na	PREP	na
put	N:f	put
zločinačkoj	A:aef	zločinački
organizaciji	N:f	organizacija
Mickeya	N:m	Mickeya
Cohena	N:m	Cohena
(	PUNCT	(
stvarna	A:aef	stvaran
ličnost	N:f	ličnost
čije	PRO	čiji
konačno	ADV	konačno
hapšenje	N:n	hapšenje
nema	A:aem	nem
veze	N:f	veza
sa	PREP	sa
radnjom	N:f	radnja
filma	N:m	film
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
Mickey	A:aem	Mickey
će	A:aem	će
bivati	N:m	bivati
sve	PRO	sav
ljući	A:bem	ljut
i	CONJ	i
ljući	A:bem	ljut
do	PREP	do
konačnog	A:aen	konačan
,	PUNCT	,
ne	PAR	ne
preterano	ADV	preterano
suptilnog	A:aem	suptilan
obračuna	N:m	obračun
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
sve	PRO	sav
to	PRO	taj
ne	PAR	ne
može	A:aen	može
proći	N:n	proći
bez	PREP	bez
žrtava	N:f	žrtva
sa	PREP	sa
„	N:m	„
naše	PRO	naš
“	A:aem	“
strane	N:f	strana
,	PUNCT	,
ali	CONJ	ali
toliko	ADV	toliko
su	N:m	su
nebitne	A:aef	nebitan
i	CONJ	i
očekivane	A:aef	očekivan
da	CONJ	da
ni	PAR	ni
ti	PRO	taj
momenti	N:m	moment
nisu	N:m	nisu
preterano	ADV	preterano
potresni	A:aem	potresan
.	SENT	.
Prava	N:n	pravo
je	PRO	ona
šteta	N:f	šteta
što	CONJ	što
su	N:m	su
glumački	A:aem	glumački
talenti	N:m	talent
cele	A:aef	ceo
ekipe	N:f	ekipa
,	PUNCT	,
posebno	ADV	posebno
Josha	N:m	Josha
Brolina	N:m	Brolin
i	CONJ	i
Seana	N:m	Seana
Penna	N:f	Penna
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
neosporna	A:aef	neosporan
hemija	N:f	hemija
između	PREP	između
Emmae	N:m	Emmae
Stone	N:m	Ston
i	CONJ	i
Ryana	A:aem	Ryana
Goslinga	N:m	Gosling
protraćeni	V:m	protraćiti
na	PREP	na
ovako	ADV	ovako
mediokritetski	A:aem	mediokritetski
film	N:m	film
.	SENT	.
Posebno	ADV	posebno
je	PRO	ona
iritantan	A:aem	iritantan
bajkovito	A:aen	bajkovit
nerealan	A:aem	nerealan
kraj	N:m	kraj
,	PUNCT	,
gde	CONJ	gde
se	PAR	se
losanđeleska	A:aef	losanđeleski
policija	N:f	policija
uzdiže	A:aen	uzdiže
u	PREP	u
nebesa	N:n	nebo
za	PREP	za
vjek	A:aem	vjek
i	CONJ	i
vjekov	A:aem	vjekov
(	PUNCT	(
„	A:aem	„
i	CONJ	i
zato	ADV	zato
mafija	N:f	mafija
nikada	ADV	nikada
nije	V:f	nije
zavladala	V:f	zavladati
L	N:f	L
.	SENT	.
A	CONJ	a
-	PUNCT	-
om	N:m	om
“	N:m	“
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
završni	A:aem	završan
kadrovi	N:m	kadar
i	CONJ	i
naracija	N:f	naracija
se	PAR	se
po	PREP	po
estetici	N:f	estetika
mogu	A:aem	mogu
meriti	N:m	meriti
sa	PREP	sa
finalom	N:m	finalom
neke	PRO	neki
latinoameričke	A:aef	latinoamerički
sapunice	N:f	sapunica
.	PUNCT	.
Sem	PREP	sem
ako	CONJ	ako
niste	N:m	niste
zaluđenik	N:m	zaluđenik
za	PREP	za
dizajn	N:m	dizajn
sa	PREP	sa
posebnim	A:aef	poseban
afinitetom	N:m	afinitet
prema	PREP	prema
kasnim	A:aem	kasan
40	NUM	@card@
-	PUNCT	-
im	PRO	ona
godinama	N:f	godina
prošlog	A:aen	prošli
veka	N:m	vek
možete	A:aem	možete
slobodno	A:aen	slobodan
zaobići	N:n	zaobići
ovaj	PRO	ovaj
promašaj	N:m	promašaj
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
kada	CONJ	kada
se	PAR	se
bude	A:aem	bude
davao	V:m	davati
na	PREP	na
TV	N:m	TV
-	PUNCT	-
u	PREP	u
.	PUNCT	.
