U	PREP	u
tranziciji	N:f	tranzicija
TV	A:aem	TV
serije	N:f	serija
'	A:aem	'
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	A:aem	City
'	N:m	'
sa	PREP	sa
malih	A:aen	mali
na	PREP	na
velike	A:aem	velik
ekrane	N:m	ekran
,	PUNCT	,
reditelj	N:m	reditelj
Michael	N:m	Michael
Patrick	N:m	Patrick
King	N:m	King
(	PUNCT	(
takođe	PAR	takođe
jedan	NUM	jedan
od	PREP	od
glavnih	A:aen	glavnih
ljudi	N:m	ljudi
iza	PREP	iza
HBO	N:f	HBO
TV	A:aem	TV
serije	N:f	serija
)	PUNCT	)
izabrao	V:m	izabrati
je	PRO	ona
da	CONJ	da
ne	PAR	ne
snimi	V:m	snimi
inkluzivan	A:aem	inkluzivan
film	N:m	film
.	SENT	.
To	PRO	taj
bi	A:aem	bi
u	PREP	u
prevodu	N:m	prevod
značilo	V:n	značiti
da	CONJ	da
je	PRO	ona
film	N:m	film
za	PREP	za
fanove	N:m	fan
,	PUNCT	,
i	CONJ	i
samo	PAR	samo
za	PREP	za
fanove	N:m	fan
.	SENT	.
Oni	PRO	onaj
koji	PRO	koji
su	N:m	su
voleli	V:m	voleti
,	PUNCT	,
patili	V:m	patiti
i	CONJ	i
radovali	V:m	radovati
se	PAR	se
tokom	PREP	tokom
godina	N:f	godina
uz	PREP	uz
Carrie	N:m	Carrie
,	PUNCT	,
Samanthu	N:f	Samanthu
,	PUNCT	,
Charlotte	N:f	Charlotte
i	CONJ	i
Mirandu	N:f	Miranda
,	PUNCT	,
biće	N:n	biće
oduševljeni	A:aem	oduševljen
filmskom	A:aef	filmski
ekranizacijom	N:f	ekranizacija
.	SENT	.
To	PRO	taj
je	PRO	ona
potvrda	N:f	potvrda
da	CONJ	da
se	PAR	se
život	N:m	život
nastavlja	N:n	nastavlja
i	CONJ	i
posle	PREP	posle
pauze	N:f	pauza
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
za	PREP	za
one	PRO	onaj
koji	PRO	koji
sebe	PRO	sebe
ne	PAR	ne
gledaju	N:m	gledaju
kao	ADV	kao
verne	A:aem	veran
i	CONJ	i
odane	A:aem	odan
fanove	N:m	fan
serije	N:f	serija
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
bolno	ADV	bolno
iskustvo	N:n	iskustvo
,	PUNCT	,
i	CONJ	i
možda	PAR	možda
najdužih	A:cem	dug
148	NUM	@card@
minuta	N:m	minut
koje	PRO	koji
će	N:m	će
ove	PRO	ovaj
godine	N:f	godina
provesti	N:f	provesti
u	PREP	u
bioskopu	N:m	bioskop
.	PUNCT	.
Posmatranje	N:n	posmatranje
kako	CONJ	kako
trava	N:f	trava
raste	N:m	rast
je	PRO	ona
daleko	ADV	daleko
uzbudljivije	A:bem	uzbudljiv
iskustvo	N:n	iskustvo
.	SENT	.
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	N:m	City
je	PRO	ona
umnogome	ADV	umnogome
nalik	V:m	nalik
filmu	N:m	film
Star	N:m	Star
Trek	N:m	Trek
:	SENT	:
The	INT	The
Motion	A:aem	Motion
Picture	N:m	Picture
.	SENT	.
Iako	CONJ	iako
će	N:f	će
mnogima	A:aef	mnogi
na	PREP	na
prvi	A:aem	prvi
pogled	N:m	pogled
ovo	PRO	ovaj
delovati	N:f	delovati
kao	CONJ	kao
bizarno	A:aen	bizaran
poređenje	N:n	poređenje
,	PUNCT	,
nije	A:aem	nije
zaludno	ADV	zaludno
.	PUNCT	.
Kada	CONJ	kada
se	PAR	se
1979	NUM	@card@
.	PUNCT	.
godine	N:f	godina
pojavio	V:m	pojaviti
u	PREP	u
bioskopima	N:m	bioskop
,	PUNCT	,
Star	N:m	Star
Trek	N:m	Trek
:	SENT	:
The	INT	The
Motion	A:aem	Motion
Picture	N:m	Picture
bio	V:m	biti
je	PRO	ona
kao	CONJ	kao
božićni	A:aem	božićni
poklon	N:m	poklon
za	PREP	za
one	PRO	onaj
koji	PRO	koji
su	N:m	su
voleli	V:m	voleti
TV	A:aem	TV
seriju	N:f	serija
.	SENT	.
Film	N:m	film
je	PRO	ona
bio	V:m	biti
manje	ADV	manje
zanimljiv	A:aem	zanimljiv
onima	PRO	onaj
koje	PRO	koji
je	PRO	ona
trebalo	V:n	trebati
uvesti	V:m	uvesti
u	PREP	u
Star	N:m	Star
Trek	A:aem	Trek
svet	N:m	svet
.	SENT	.
Fanovi	N:m	fan
su	N:m	su
prigrlili	V:m	prigrliti
film	N:m	film
,	PUNCT	,
dok	CONJ	dok
su	N:m	su
se	PAR	se
slučajni	A:aem	slučajan
posetioci	N:m	posetilac
dosađivali	V:m	dosađivati
do	PREP	do
bola	N:m	bol
.	SENT	.
Istorija	N:f	istorija
se	PAR	se
ponavlja	N:n	ponavlja
sa	PREP	sa
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	N:m	City
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
vežba	N:f	vežba
za	PREP	za
skakanje	N:n	skakanje
sebi	PRO	sebe
u	PREP	u
stomak	N:m	stomak
-	PUNCT	-
epizoda	N:f	epizoda
TV	N:m	TV
serije	N:f	serija
koja	PRO	koji
je	PRO	ona
dobila	V:n	dobiti
groteskne	A:aem	groteskan
promere	N:m	promer
i	CONJ	i
u	PREP	u
pitanju	N:n	pitanje
veličine	N:f	veličina
i	CONJ	i
u	PREP	u
pitanju	N:n	pitanje
vremenskog	A:aem	vremenski
trajanja	N:n	trajanje
.	SENT	.
Podnošljiva	A:aem	Podnošljiva
zabava	N:f	zabava
u	PREP	u
30	NUM	@card@
minuta	N:m	minut
postaje	N:f	postaja
mučno	A:aen	mučan
iskustvo	N:n	iskustvo
kada	CONJ	kada
se	PAR	se
razvuče	V:m	razvuče
na	PREP	na
pet	NUM	pet
puta	ADV	puta
duže	A:bef	dug
trajanje	N:n	trajanje
.	SENT	.
Film	N:m	film
počinje	N:f	počinje
tamo	ADV	tamo
gde	ADV	gde
se	PAR	se
završila	V:f	završiti
TV	A:aem	TV
serija	N:f	serija
.	PUNCT	.
Carrie	N:m	Carrie
(	PUNCT	(
Sarah	N:m	Sarah
Jessica	N:f	Jessica
Parker	N:m	Parker
)	PUNCT	)
je	PRO	ona
još	ADV	još
uvek	ADV	uvek
sa	PREP	sa
Zverkom	N:m	Zverkom
(	PUNCT	(
Chris	N:m	Chris
Noth	A:aem	Noth
)	PUNCT	)
.	SENT	.
Njegova	PRO	njegov
priznata	A:aem	priznat
ljubav	N:f	ljubav
nije	V:f	nije
se	PAR	se
ugasila	V:f	ugasiti
i	CONJ	i
oni	PRO	onaj
sada	ADV	sada
pričaju	N:m	pričaju
o	PREP	o
zajedničkom	A:aef	zajednički
životu	N:m	život
i	CONJ	i
venčanju	N:n	venčanje
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
kako	CONJ	kako
se	PAR	se
planovi	N:m	plan
za	PREP	za
golupčiće	N:m	golupčić
odvijaju	N:m	odvijaju
,	PUNCT	,
ideja	N:f	ideja
o	PREP	o
zajedničkom	A:aef	zajednički
životu	N:m	život
pomućena	V:n	pomutiti
je	PRO	ona
u	PREP	u
razmerama	N:f	razmera
cene	N:f	cena
Carriene	N:m	Carriene
venčanice	N:f	venčanica
.	SENT	.
U	PREP	u
međuvremenu	N:n	međuvreme
,	PUNCT	,
Samantha	N:m	Samantha
(	PUNCT	(
Kim	N:f	Kim
Cattrall	N:m	Cattrall
)	PUNCT	)
vodi	N:f	voda
luksuzan	A:aem	luksuzan
život	N:m	život
u	PREP	u
Kaliforniji	N:f	Kalifornija
,	PUNCT	,
ali	CONJ	ali
obuzima	N:n	obuzima
je	PRO	ona
dosada	N:f	dosada
,	PUNCT	,
a	CONJ	a
njen	PRO	njen
nekontrolisani	A:aem	nekontrolisan
libido	N:m	libido
preti	A:bem	pretio
da	CONJ	da
pomuti	N:f	pomuti
njen	PRO	njen
život	N:m	život
.	SENT	.
Charlotte	N:m	Charlotte
(	PUNCT	(
Kristin	N:f	Kristin
Davis	N:m	Davis
)	PUNCT	)
je	PRO	ona
odana	A:aef	odan
supruga	N:f	supruga
i	CONJ	i
majka	N:f	majka
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
zabrinuta	A:aem	zabrinut
da	CONJ	da
je	PRO	ona
njen	PRO	njen
život	N:m	život
previše	ADV	previše
savršen	A:aem	savršen
i	CONJ	i
da	CONJ	da
je	PRO	ona
iza	PREP	iza
svakog	PRO	svaki
ćoška	N:f	ćoška
čeka	N:f	čeka
neviđena	A:aef	neviđen
nesreća	N:f	nesreća
.	SENT	.
Konačno	A:aen	Konačno
,	PUNCT	,
Miranda	N:f	Miranda
(	PUNCT	(
Cynthia	A:aem	Cynthia
Nixon	N:m	Nixon
)	PUNCT	)
je	PRO	ona
naučila	V:f	naučiti
da	CONJ	da
za	PREP	za
svaki	PRO	svaki
nedostatak	N:m	nedostatak
seksualnih	A:aem	seksualan
intimnosti	N:f	intimnost
u	PREP	u
bračnom	A:aem	bračni
krevetu	N:m	krevet
postoji	N:m	postoji
odgovarajuća	A:aef	odgovarajući
cena	N:f	cena
.	SENT	.
Za	PREP	za
TV	N:m	TV
seriju	N:f	serija
'	A:aem	'
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	A:aem	City
'	N:m	'
često	ADV	često
se	PAR	se
govori	N:m	govor
da	CONJ	da
je	PRO	ona
jedna	NUM	jedan
od	PREP	od
najpametnije	ADV	najpametnije
napisanih	A:aef	napisan
serija	N:f	serija
današnjice	N:f	današnjica
.	PUNCT	.
Dok	CONJ	dok
to	PRO	taj
možda	PAR	možda
i	CONJ	i
jeste	INT	jeste
tačno	ADV	tačno
,	PUNCT	,
malo	ADV	malo
od	PREP	od
dotične	A:aem	dotični
reputacije	N:f	reputacija
se	PAR	se
ogleda	N:m	ogled
u	PREP	u
scenariju	N:m	scenario
filma	N:m	film
.	SENT	.
Priča	A:aem	Priča
je	PRO	ona
tipična	A:aef	tipičan
sapunica	N:f	sapunica
sa	PREP	sa
minimalnim	A:aen	minimalan
razvojem	N:m	razvoj
likova	N:n	likovo
.	SENT	.
Četiri	N:m	Četiri
junakinje	N:f	junakinja
su	N:m	su
manje	ADV	manje
-	PUNCT	-
više	ADV	više
na	PREP	na
istom	A:aem	isti
mestu	N:n	mesto
na	PREP	na
kraju	N:m	kraj
filma	N:m	film
kao	CONJ	kao
i	CONJ	i
na	PREP	na
početku	N:m	početak
.	SENT	.
Scenario	N:m	scenario
se	PAR	se
umnogome	ADV	umnogome
oslanja	N:n	oslanja
na	PREP	na
gledaoce	N:m	gledalac
koji	PRO	koji
su	N:m	su
'	A:aem	'
odrasli	A:aem	odrastao
'	N:m	'
gledajući	A:aem	gledajući
junakinje	N:f	junakinja
tokom	PREP	tokom
godina	N:f	godina
.	PUNCT	.
A	CONJ	a
oni	PRO	onaj
koji	PRO	koji
putovanje	N:n	putovanje
započinju	A:aen	započinju
filmom	N:m	film
pitaće	N:m	pitaće
se	PAR	se
na	PREP	na
kraju	N:m	kraj
zašto	CONJ	zašto
bi	N:f	bi
neko	PRO	neki
iole	ADV	iole
mario	V:m	mariti
za	PREP	za
četiri	NUM	četiri
neprijatne	A:aef	neprijatan
i	CONJ	i
plitke	A:aef	plitak
žene	N:f	žena
pune	A:aem	pun
sebe	PRO	sebe
.	SENT	.
Dijalog	N:m	dijalog
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
bio	V:m	biti
jedna	NUM	jedan
od	PREP	od
jačih	A:ben	jak
karakteristika	N:f	karakteristika
TV	A:aem	TV
serije	N:f	serija
,	PUNCT	,
tup	A:aem	tup
je	PRO	ona
i	CONJ	i
prepun	A:aem	prepun
klišea	N:m	kliše
.	SENT	.
A	CONJ	a
naracija	N:f	naracija
Sare	N:f	Sara
Jessice	N:f	Jessice
Parker	N:m	Parker
,	PUNCT	,
umesto	PREP	umesto
da	CONJ	da
pripremi	N:f	priprema
pozornicu	N:f	pozornica
za	PREP	za
radnju	N:f	radnja
,	PUNCT	,
pojavljuje	N:f	pojavljuje
se	PAR	se
nasumice	ADV	nasumice
i	CONJ	i
neznatno	A:aen	neznatan
doprinosi	N:m	doprinos
razvoju	N:m	razvoj
radnje	N:f	radnja
.	SENT	.
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	N:m	City
nije	V:m	nije
naročito	ADV	naročito
smešan	A:aem	smešan
,	PUNCT	,
iako	CONJ	iako
se	PAR	se
jako	ADV	jako
trudi	V:m	trudi
da	CONJ	da
bude	A:aem	bude
.	SENT	.
Ideja	N:f	ideja
filma	N:m	film
o	PREP	o
'	N:m	'
pametnim	A:aef	pametan
stvarima	N:f	stvar
'	A:aem	'
jeste	INT	jeste
pričati	N:m	pričati
o	PREP	o
seksu	N:m	seks
koristeći	A:aem	koristeći
reč	N:f	reč
'	A:aem	'
obojeno	A:aen	obojen
'	N:m	'
kao	CONJ	kao
eufemizam	N:m	eufemizam
(	PUNCT	(
jer	CONJ	jer
se	PAR	se
u	PREP	u
sobi	N:f	soba
nalazi	N:m	nalaz
devojčica	N:f	devojčica
)	PUNCT	)
.	SENT	.
Najsmešniji	A:cem	Najsmešniji
deo	N:m	deo
u	PREP	u
filmu	N:m	film
nisu	N:m	nisu
razgovori	N:m	razgovor
o	PREP	o
seksu	N:m	seks
niti	CONJ	niti
nezgode	N:f	nezgoda
u	PREP	u
krevetu	N:m	krevet
,	PUNCT	,
već	PAR	već
situacija	N:f	situacija
kad	CONJ	kad
Charlotte	N:m	Charlotte
pojede	N:m	pojede
nešto	ADV	nešto
sa	PREP	sa
čim	PRO	šta
se	PAR	se
njen	PRO	njen
stomak	N:m	stomak
ne	PAR	ne
slaže	N:n	slaže
i	CONJ	i
kada	CONJ	kada
ne	PAR	ne
stigne	A:aem	stigne
na	PREP	na
vreme	N:n	vreme
u	PREP	u
toalet	N:m	toalet
.	SENT	.
Tako	ADV	tako
je	PRO	ona
:	SENT	:
najsmešniji	A:cem	smešan
fazon	N:m	fazon
u	PREP	u
Sex	N:m	Sex
and	N:m	and
the	N:m	the
City	N:m	City
je	PRO	ona
šala	N:f	šala
sa	PREP	sa
kakom	PRO	kaki
.	SENT	.
Filmska	A:aef	filmski
ideja	N:f	ideja
o	PREP	o
probijanju	N:n	probijanje
novih	A:aef	nov
ideja	N:f	ideja
je	PRO	ona
uvođenje	N:n	uvođenje
sporednog	A:aem	sporedan
lika	N:m	lik
Louise	N:m	Louise
(	PUNCT	(
Jennifer	N:m	Jennifer
Hudson	N:m	Hudson
)	PUNCT	)
,	PUNCT	,
Carrienine	A:aef	Carrienine
nove	A:aef	nov
asistentkinje	N:f	asistentkinja
.	SENT	.
Ona	PRO	ona
se	PAR	se
pojavljuje	N:f	pojavljuje
u	PREP	u
samo	PAR	samo
nekoliko	ADV	nekoliko
scena	N:f	scena
,	PUNCT	,
ali	CONJ	ali
bar	PAR	bar
vidimo	N:f	vidimo
nekoga	PRO	neki
ko	PRO	ko
nije	A:aem	nije
beo	A:aem	beo
,	PUNCT	,
mršav	A:aem	mršav
i	CONJ	i
iritantan	A:aem	iritantan
.	SENT	.
Na	PREP	na
nesreću	N:f	nesreća
,	PUNCT	,
čak	PAR	čak
ni	PAR	ni
ona	PRO	ona
ne	PAR	ne
može	A:aem	može
da	CONJ	da
pobegne	A:aef	pobegne
infekciji	N:f	infekcija
kiča	N:m	kič
koji	PRO	koji
prožima	A:aem	prožima
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	N:m	City
.	SENT	.
Pošto	A:aem	Pošto
nije	N:m	nije
u	PREP	u
mogućnosti	N:f	mogućnost
da	CONJ	da
sebi	PRO	sebe
priušti	A:aem	priušti
brendirane	A:aef	brendiran
torbe	N:f	torba
,	PUNCT	,
ona	PRO	ona
ih	PRO	ona
iznajmljuje	N:m	iznajmljuje
.	SENT	.
Na	PREP	na
neki	PRO	neki
način	N:m	način
,	PUNCT	,
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	A:aem	City
pati	N:f	pati
od	PREP	od
lošeg	A:aem	loš
tajminga	N:m	tajming
.	SENT	.
Njegova	PRO	njegov
proslava	N:f	proslava
materijalizma	N:m	materijalizam
nije	V:m	nije
baš	PAR	baš
u	PREP	u
skladu	N:m	sklad
sa	PREP	sa
nacionalnim	A:aef	nacionalan
raspoloženjem	N:n	raspoloženje
u	PREP	u
sred	PREP	sred
recesije	N:f	recesija
.	PUNCT	.
Pa	CONJ	pa
šta	PRO	šta
je	PRO	ona
onda	ADV	onda
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	N:m	City
:	SENT	:
nastavak	N:m	nastavak
moderne	A:aef	moderan
bajke	N:f	bajka
koja	PRO	koji
je	PRO	ona
započela	V:n	započeti
na	PREP	na
televiziji	N:f	televizija
i	CONJ	i
koju	PRO	koji
su	N:m	su
zavoleli	V:m	zavoleti
milioni	N:m	milion
(	PUNCT	(
najviše	ADV	najviše
žene	N:f	žena
i	CONJ	i
gej	N:m	gej
muškarci	N:m	muškarac
)	PUNCT	)
ili	CONJ	ili
aljkavo	ADV	aljkavo
snimljena	V:f	snimiti
i	CONJ	i
nepodnošljivo	ADV	nepodnošljivo
dugačka	A:aef	dugačak
priča	N:f	priča
o	PREP	o
životima	N:m	život
četiri	NUM	četiri
neprijatne	A:aef	neprijatan
individue	N:f	individua
čije	PRO	čiji
su	N:m	su
vrednosti	N:f	vrednost
više	ADV	više
uništene	V:f	uništiti
od	PREP	od
njihovih	PRO	njihov
ljubavnih	A:aem	ljubavan
života	N:m	život
?	SENT	?
Zapravo	ADV	zapravo
je	PRO	ona
i	CONJ	i
jedno	ADV	jedno
i	CONJ	i
drugo	A:aen	drugi
.	PUNCT	.
Minorna	A:aef	minoran
publika	N:f	publika
će	A:aem	će
mu	PRO	on
aplaudirati	N:m	aplaudirati
;	SENT	;
svi	PRO	sav
ostali	V:m	ostati
će	V:m	će
ga	PRO	on
ignorisati	N:m	ignorisati
(	PUNCT	(
najmudriji	A:cem	mudar
izbor	N:m	izbor
)	PUNCT	)
ili	CONJ	ili
će	A:aem	će
zaspati	A:aem	zaspati
tokom	PREP	tokom
projekcije	N:f	projekcija
ako	CONJ	ako
su	N:m	su
,	PUNCT	,
nekim	PRO	neki
slučajem	N:m	slučaj
,	PUNCT	,
primorani	V:m	primorati
da	CONJ	da
prisustvuju	N:m	prisustvuju
.	SENT	.
Ovde	ADV	ovde
nema	A:aem	nem
iznenađenja	N:n	iznenađenje
,	PUNCT	,
ni	CONJ	ni
za	PREP	za
fanove	N:m	fan
,	PUNCT	,
ni	CONJ	ni
za	PREP	za
one	PRO	onaj
druge	A:aem	drugi
.	SENT	.
Razlika	N:f	razlika
je	PRO	ona
samo	PAR	samo
što	ADV	što
će	V:m	će
se	PAR	se
oni	PRO	onaj
koji	PRO	koji
su	N:m	su
zavoleli	V:m	zavoleti
TV	N:m	TV
seriju	N:f	serija
osećati	A:aem	osećati
ugodno	ADV	ugodno
kada	CONJ	kada
se	PAR	se
ponovo	ADV	ponovo
nađu	V:m	nađu
sa	PREP	sa
starim	A:aef	star
prijateljima	N:m	prijatelj
,	PUNCT	,
dok	CONJ	dok
drugi	A:aem	drugi
gledaoci	N:m	gledalac
neće	A:aem	neće
davati	N:f	davati
ni	CONJ	ni
pet	NUM	pet
para	N:f	para
za	PREP	za
protagonistkinje	N:f	protagonistkinja
Sex	A:aem	Sex
and	N:m	and
the	N:m	the
City	N:m	City
na	PREP	na
izlasku	N:m	izlazak
iz	PREP	iz
bioskopa	N:m	bioskop
,	PUNCT	,
kao	CONJ	kao
što	PRO	što
nisu	N:m	nisu
ni	PAR	ni
na	PREP	na
ulasku	N:m	ulazak
.	SENT	.
