“	A:aem	“
Poslednja	N:f	Poslednja
ekskurzija	N:f	ekskurzija
5	NUM	@card@
″	A:aem	″
predstavlja	N:n	predstavlja
poslednjii	A:aem	poslednjii
nastavak	N:m	nastavak
istoimene	A:aef	istoimen
franšize	N:f	franšiza
koja	PRO	koji
je	PRO	ona
uspela	V:f	uspeti
da	CONJ	da
nam	PRO	mi
u	PREP	u
čak	PAR	čak
pet	NUM	pet
nastavaka	N:m	nastavak
prezentuje	N:m	prezentuje
koncept	N:m	koncept
“	N:m	“
kako	CONJ	kako
i	CONJ	i
da	CONJ	da
li	PAR	li
uopšte	ADV	uopšte
možemo	A:aen	možemo
prevariti	N:m	prevariti
smrt	N:f	smrt
”	N:m	”
.	PUNCT	.
Sada	ADV	sada
da	CONJ	da
li	PAR	li
je	PRO	ona
na	PREP	na
osnovu	N:f	osnova
prvog	A:aem	prvi
ostvarenja	N:n	ostvarenje
ova	PRO	ovaj
ideja	N:f	ideja
uopšte	ADV	uopšte
zaslužila	V:m	zaslužiti
da	CONJ	da
ima	V:m	ima
toliko	ADV	toliko
delova	N:m	deo
,	PUNCT	,
to	PRO	taj
ćemo	N:f	ćemo
se	PAR	se
truditi	V:n	truditi
da	CONJ	da
zanemarimo	N:f	zanemarimo
i	CONJ	i
pokušaćemo	N:f	pokušaćemo
da	CONJ	da
elaboriramo	N:f	elaboriramo
ovo	PRO	ovaj
finalno	A:aen	finalni
ostvarenje	N:n	ostvarenje
kao	CONJ	kao
zasebnu	A:aef	zaseban
celinu	N:f	celina
.	SENT	.
U	PREP	u
startu	N:m	start
da	CONJ	da
se	PAR	se
razjasnimo	A:aen	razjasnimo
,	PUNCT	,
ja	PRO	ja
nikako	ADV	nikako
nisam	N:m	nisam
fan	N:m	fan
prethodnih	A:aem	prethodan
filmova	N:m	film
ove	PRO	ovaj
franšize	N:f	franšiza
,	PUNCT	,
zato	ADV	zato
moja	PRO	moj
recenzija	N:f	recenzija
možda	PAR	možda
se	PAR	se
baš	PAR	baš
i	CONJ	i
neće	A:aem	neće
podudarati	N:m	podudarati
sa	PREP	sa
impresijama	N:f	impresija
fanova	N:m	fan
,	PUNCT	,
ali	CONJ	ali
trudiću	V:m	trudiću
se	PAR	se
da	CONJ	da
budem	N:n	budem
što	CONJ	što
je	PRO	ona
moguće	ADV	moguće
objektivniji	A:bem	objektivan
.	SENT	.
Priča	A:aem	Priča
ovog	PRO	ovaj
dela	N:n	delo
je	PRO	ona
onakva	PRO	onakav
kavku	A:aem	kavku
i	CONJ	i
očekujete	A:aem	očekujete
.	SENT	.
Mladić	N:m	Mladić
po	PREP	po
imenu	N:n	ime
Sem	N:m	Sem
i	CONJ	i
grupa	N:f	grupa
njegovih	PRO	njegov
kolega	N:f	kolega
sa	PREP	sa
posla	N:m	posao
kreću	A:aem	kreću
na	PREP	na
kolektivni	A:aem	kolektivan
izlet	N:m	izlet
koji	PRO	koji
im	PRO	ona
je	PRO	ona
firma	N:f	firma
organizovala	V:m	organizovati
.	SENT	.
Na	PREP	na
putu	N:m	put
ka	PREP	ka
odmaralištu	N:n	odmaralište
,	PUNCT	,
autobus	N:m	autobus
sa	PREP	sa
ovim	PRO	ovaj
mladim	A:aef	mlad
ljudima	N:m	ljudi
upada	N:m	upad
u	PREP	u
veliku	A:aef	velik
gužvu	N:f	gužva
na	PREP	na
mostu	N:m	most
koji	PRO	koji
je	PRO	ona
u	PREP	u
procesu	N:m	proces
izgradnje	N:f	izgradnja
,	PUNCT	,
gde	CONJ	gde
kroz	PREP	kroz
niz	N:m	niz
nesretnih	A:aem	nesretan
dođaja	N:m	dođaja
dolazi	N:m	dolaz
do	PREP	do
užasne	A:aef	užasan
i	CONJ	i
fatalne	A:aef	fatalan
katastrofe	N:f	katastrofa
.	PUNCT	.
Kako	CONJ	kako
sada	ADV	sada
ne	PAR	ne
bih	A:aen	bih
previše	ADV	previše
odavao	V:m	odavati
od	PREP	od
mnogobrojnih	A:aen	mnogobrojan
okreta	N:m	okret
koje	PRO	koji
film	N:m	film
poseduje	N:m	poseduje
,	PUNCT	,
recimo	N:f	recimo
samo	PAR	samo
još	ADV	još
da	CONJ	da
određena	V:m	odrediti
mala	A:aen	mali
grupa	N:f	grupa
uspeva	N:m	uspeva
da	CONJ	da
izvuče	A:aen	izvuče
živu	A:aen	živ
glavu	N:f	glava
na	PREP	na
osnovu	N:f	osnova
“	A:aem	“
lošeg	A:aem	loš
osećaja	N:m	osećaj
”	N:m	”
koji	PRO	koji
je	PRO	ona
protagonista	N:m	protagonista
imao	V:m	imati
,	PUNCT	,
i	CONJ	i
sada	ADV	sada
pošto	CONJ	pošto
nisu	N:m	nisu
trebali	V:m	trebati
da	CONJ	da
prežive	A:aem	prežive
i	CONJ	i
uspeli	A:aem	uspeo
su	N:m	su
da	CONJ	da
prevare	N:f	prevara
smrt	N:f	smrt
,	PUNCT	,
bivaju	N:f	bivaju
osuđeni	V:m	osuditi
jedan	NUM	jedan
po	PREP	po
jedan	NUM	jedan
da	CONJ	da
nestanu	N:m	nestanu
.	SENT	.
Što	N:m	Što
se	PAR	se
same	PRO	sam
priče	N:f	priča
tiče	N:n	tiče
ovaj	PRO	ovaj
film	N:m	film
zbilja	PAR	zbilja
ne	PAR	ne
nudi	N:f	nudi
mnogo	ADV	mnogo
,	PUNCT	,
on	PRO	on
se	PAR	se
više	ADV	više
centrira	N:m	centrira
na	PREP	na
formiranju	N:n	formiranje
“	A:aem	“
tenzije	N:f	tenzija
”	N:m	”
u	PREP	u
stomaku	N:m	stomak
posmatrača	N:m	posmatrač
,	PUNCT	,
da	CONJ	da
isčekuje	V:m	isčekuje
skoro	ADV	skoro
iz	PREP	iz
svake	PRO	svaki
scene	N:f	scena
da	CONJ	da
će	V:m	će
se	PAR	se
nešto	ADV	nešto
od	PREP	od
raznih	A:aen	raznih
ponuđenih	A:aen	ponuđen
mogućnosti	N:f	mogućnost
,	PUNCT	,
opet	ADV	opet
nepredvidivo	A:aen	nepredvidiv
dogoditi	N:f	dogoditi
jednom	ADV	jednom
od	PREP	od
glavnih	A:aem	glavnih
aktera	N:m	akter
,	PUNCT	,
i	CONJ	i
okončati	A:aem	okončati
njegovu	PRO	njegov
rolu	N:f	rola
u	PREP	u
filmu	N:m	film
na	PREP	na
što	PRO	što
je	PRO	ona
moguće	ADV	moguće
brutalniji	A:bem	brutalan
način	N:m	način
.	SENT	.
Smrt	N:f	smrt
prati	N:f	prati
šablon	N:m	šablon
,	PUNCT	,
i	CONJ	i
na	PREP	na
jedan	NUM	jedan
sistematičan	A:aem	sistematičan
način	N:m	način
se	PAR	se
postepeno	ADV	postepeno
rešava	A:aen	rešava
likova	N:n	likovo
koji	PRO	koji
su	N:m	su
preživeli	A:aem	preživeo
nesreću	N:f	nesreća
na	PREP	na
mostu	N:m	most
.	SENT	.
“	A:aem	“
Poslednja	N:f	Poslednja
ekskurzija	N:f	ekskurzija
5	NUM	@card@
″	N:m	″
je	PRO	ona
u	PREP	u
potpunosti	N:f	potpunost
podređena	V:m	podrediti
3	NUM	@card@
D	A:aef	D
tehnologiji	N:f	tehnologija
,	PUNCT	,
pošto	CONJ	pošto
se	PAR	se
jasno	ADV	jasno
vidi	N:f	vida
da	CONJ	da
je	PRO	ona
cilj	N:m	cilj
čitavog	A:aen	čitav
projekta	N:m	projekt
da	CONJ	da
ove	PRO	ovaj
brutalne	A:aef	brutalan
sekvence	N:f	sekvenca
vam	PRO	vi
budu	N:f	budu
bukvalno	ADV	bukvalno
ispred	PREP	ispred
nosa	N:m	nos
,	PUNCT	,
da	CONJ	da
vas	PRO	vi
navede	N:m	navede
da	CONJ	da
se	PAR	se
saginjete	A:aem	saginjete
,	PUNCT	,
savijate	N:m	savijate
kako	CONJ	kako
bi	N:m	bi
izbegli	V:m	izbegnuti
razne	A:aem	razne
oštre	A:aef	oštar
predmete	N:m	predmet
koji	PRO	koji
navodno	ADV	navodno
lete	N:m	let
tačno	ADV	tačno
ka	PREP	ka
vama	PRO	vi
.	SENT	.
Gluma	N:f	gluma
je	PRO	ona
osrednja	A:aen	osrednji
,	PUNCT	,
ali	CONJ	ali
opet	ADV	opet
ovakav	PRO	ovakav
koncept	N:m	koncept
ne	PAR	ne
zahteva	N:m	zahtev
neki	PRO	neki
veliki	A:aem	velik
talenat	N:m	talent
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
ne	PAR	ne
vidim	A:aen	vidim
da	CONJ	da
će	A:aen	će
ikome	PRO	iko
to	PRO	taj
praviti	V:m	praviti
neki	PRO	neki
veliki	A:aem	velik
problem	N:m	problem
ako	CONJ	ako
se	PAR	se
već	PAR	već
opredelio	V:m	opredeliti
da	CONJ	da
gleda	N:m	gleda
ovako	ADV	ovako
nešto	ADV	nešto
.	SENT	.
“	A:aem	“
Poslednja	N:f	Poslednja
ekskurzija	N:f	ekskurzija
5	NUM	@card@
″	A:aem	″
poseduje	N:m	poseduje
brz	A:aem	brz
tempo	N:m	tempo
,	PUNCT	,
još	ADV	još
brži	A:bem	brz
narativ	N:m	narativ
i	CONJ	i
omnibus	N:m	omnibus
stadradnih	A:aen	stadradnih
klišea	N:m	kliše
koji	PRO	koji
se	PAR	se
viđaju	V:m	viđaju
u	PREP	u
ovakvim	PRO	ovakav
tinejdžerskim	A:aef	tinejdžerski
hororima	N:m	horor
.	SENT	.
Ovako	ADV	ovako
nešto	ADV	nešto
isključivo	ADV	isključivo
treba	N:f	treba
pogledati	V:m	pogledati
u	PREP	u
bioskopu	N:m	bioskop
u	PREP	u
3	NUM	@card@
D	A:aem	D
formatu	N:m	format
jer	CONJ	jer
smatram	N:m	smatram
da	CONJ	da
mu	PRO	on
je	PRO	ona
to	PRO	taj
jedina	A:aef	jedini
prava	N:n	pravo
svrha	N:f	svrha
.	SENT	.
