Veliki	A:aem	velik
sam	A:aem	sam
poštovalac	N:m	poštovalac
istoimenog	A:aen	istoimen
Karpenterovog	A:aem	Karpenterov
(	PUNCT	(
John	N:m	John
Carpenter	N:m	Carpenter
)	PUNCT	)
filma	N:m	film
iz	PREP	iz
1982	NUM	@card@
.	PUNCT	.
godine	N:f	godina
,	PUNCT	,
i	CONJ	i
koliko	ADV	koliko
su	N:m	su
me	PRO	ja
vesti	N:f	vesta
o	PREP	o
snimanju	N:n	snimanje
prikvela	N:m	prikvela
(	PUNCT	(
prequel	N:m	prequel
)	PUNCT	)
radovale	V:f	radovati
,	PUNCT	,
toliko	ADV	toliko
su	N:m	su
me	PRO	ja
i	PAR	i
plašile	V:f	plašiti
da	CONJ	da
će	A:aem	će
ukaljati	A:aem	ukaljati
uspomenu	N:f	uspomena
i	CONJ	i
ime	N:n	ime
ovog	PRO	ovaj
fantastičnog	A:aem	fantastičan
ostvarenja	N:n	ostvarenje
.	SENT	.
Poznati	A:aem	poznat
po	PREP	po
svojoj	PRO	svoj
odličnoj	A:aef	odličan
kinematografiji	N:f	kinematografija
,	PUNCT	,
nadao	V:m	nadati
sam	PRO	sam
se	PAR	se
da	CONJ	da
će	A:aen	će
ekipa	N:f	ekipa
Norvežana	N:m	Norvežanin
koja	PRO	koji
je	PRO	ona
uzela	V:m	uzeti
na	PREP	na
sebe	PRO	sebe
da	CONJ	da
snimi	N:m	snimi
početak	N:m	početak
priče	N:f	priča
o	PREP	o
ovom	PRO	ovaj
mostrumu	N:m	mostrumu
,	PUNCT	,
pružiti	A:aem	pružiti
dostojan	A:aem	dostojan
nastavak	N:m	nastavak
.	SENT	.
Bojim	V:n	Bojim
se	PAR	se
da	CONJ	da
ipak	PAR	ipak
reditelj	N:m	reditelj
Matjis	N:m	Matjis
van	PREP	van
Heijningen	N:m	Heijningen
Junior	N:m	junior
(	PUNCT	(
Matthijs	N:m	Matthijs
van	PREP	van
Heijningen	N:m	Heijningen
Jr	N:m	Jr
.	SENT	.
)	PUNCT	)
ostatak	N:m	ostatak
ekipe	N:f	ekipa
koja	PRO	koji
je	PRO	ona
radila	V:f	raditi
ovaj	PRO	ovaj
nastavak	N:m	nastavak
uopšte	ADV	uopšte
nije	V:m	nije
razumela	V:m	razumeti
stil	N:m	stil
i	CONJ	i
poentu	N:f	poenta
prvog	A:aem	prvi
ostvarenja	N:n	ostvarenje
.	SENT	.
Čar	N:m	Čar
filma	N:m	film
“	N:m	“
The	INT	The
Thing	N:m	Thing
(	SENT	(
1982	NUM	@card@
)	PUNCT	)
”	A:aem	”
leži	N:n	leži
u	PREP	u
misteriji	N:f	misterija
i	CONJ	i
paranoji	N:f	paranoja
kojoj	PRO	koji
smo	N:f	smo
čitavo	A:aen	čitav
trajanje	N:n	trajanje
filma	N:m	film
izloženi	V:m	izložiti
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
nasilnim	A:aen	nasilan
i	CONJ	i
grafičnim	A:aen	grafičnim
prikazima	N:m	prikaz
monstruma	N:m	monstrum
.	SENT	.
Za	PREP	za
razliku	N:f	razlika
od	PREP	od
prvog	A:aem	prvi
ostvarenja	N:n	ostvarenje
čija	PRO	čiji
se	PAR	se
poenta	N:f	poenta
može	A:aen	može
tumačiti	A:aem	tumačiti
iz	PREP	iz
reči	N:f	reč
lika	N:m	lik
kojeg	PRO	koji
tumači	N:m	tumač
Kurt	N:m	Kurt
Rasel	N:m	Rasel
(	PUNCT	(
Kurt	N:m	Kurt
Russell	N:m	Russell
)	PUNCT	)
:	SENT	:
“	A:aem	“
Vanzemaljac	N:m	vanzemaljac
ima	A:aem	ima
tendenciju	N:f	tendencija
da	CONJ	da
napadne	A:aef	napadan
samo	CONJ	samo
kada	CONJ	kada
je	PRO	ona
sam	PRO	sam
sa	PREP	sa
čovekom	N:m	čovek
,	PUNCT	,
i	CONJ	i
pokušaće	N:m	pokušaće
da	CONJ	da
istrebi	N:m	istrebi
grupu	N:f	grupa
tako	ADV	tako
što	CONJ	što
će	A:aen	će
se	PAR	se
kriti	V:m	kriti
kao	ADV	kao
jedan	NUM	jedan
među	PREP	među
njima	PRO	ona
.	SENT	.
”	N:m	”
-	PUNCT	-
u	PREP	u
drugom	A:aef	drugi
delu	N:n	delo
monstrum	N:m	monstrum
radi	PREP	radi
sve	PRO	sav
suprotno	ADV	suprotno
od	PREP	od
toga	PRO	taj
.	SENT	.
Mi	PRO	ja
smo	N:f	smo
ovde	ADV	ovde
izloženi	V:m	izložiti
velikom	A:aef	velik
broju	N:m	broj
jezivih	A:aem	jeziv
momenata	N:m	moment
gde	CONJ	gde
vanzemaljac	N:m	vanzemaljac
bez	PREP	bez
ikakve	PRO	ikakav
suptilnosti	N:f	suptilnost
u	PREP	u
svom	PRO	sav
najgorem	N:m	najgorem
obliku	N:m	oblik
napada	N:m	napad
člana	N:m	član
ekspedicije	N:f	ekspedicija
,	PUNCT	,
a	CONJ	a
nekad	ADV	nekad
čak	PAR	čak
i	CONJ	i
troje	NUM	troje
odjednom	ADV	odjednom
.	SENT	.
Takva	PRO	takav
realizaciji	N:f	realizacija
totalno	A:aen	totalan
odskače	N:n	odskače
od	PREP	od
originalnog	A:aen	originalan
Karpenterovog	A:aem	Karpenterov
koncepta	N:m	koncept
,	PUNCT	,
gde	CONJ	gde
je	PRO	ona
vanzemaljac	N:m	vanzemaljac
ranjiv	A:aem	ranjiv
kada	CONJ	kada
je	PRO	ona
nadbrojan	N:m	nadbrojan
i	CONJ	i
na	PREP	na
otvorenom	A:aem	otvoren
.	SENT	.
Ovakva	PRO	ovakav
realizacija	N:f	realizacija
brzo	ADV	brzo
će	A:aem	će
postati	N:m	postati
zamorna	A:aem	zamoran
jer	CONJ	jer
postoji	N:m	postoji
ogroman	A:aem	ogroman
broj	N:m	broj
filmova	N:m	film
o	PREP	o
monstrumima	N:m	monstrum
koji	PRO	koji
vijaju	N:m	vijaju
ljude	N:m	ljudi
u	PREP	u
zabiti	N:f	zabit
da	CONJ	da
ih	PRO	ona
istrebe	N:m	istrebe
.	SENT	.
Razlog	N:m	Razlog
zašto	CONJ	zašto
je	PRO	ona
Karpenterov	A:aem	Karpenterov
film	N:m	film
postao	V:m	postati
kultni	A:aem	kultni
klasik	N:m	klasik
jeste	INT	jeste
što	CONJ	što
se	PAR	se
ne	PAR	ne
oslanja	N:n	oslanja
na	PREP	na
to	PRO	taj
da	CONJ	da
bude	A:aen	bude
vizualno	A:aen	vizualan
napadan	A:aem	napadan
,	PUNCT	,
već	CONJ	već
da	CONJ	da
preko	PREP	preko
odličnog	A:aem	odličan
zapleta	N:m	zaplet
i	CONJ	i
sjajnog	A:aem	sjajan
narativa	N:m	narativa
stvori	N:m	stvori
ogromnu	A:aef	ogroman
tenziju	N:f	tenzija
,	PUNCT	,
držeći	A:aem	držeći
gledaoce	N:m	gledalac
u	PREP	u
neznanju	N:n	neznanje
i	CONJ	i
paranoji	N:f	paranoja
,	PUNCT	,
da	CONJ	da
svako	PRO	svaki
od	PREP	od
likova	N:n	likovo
koje	PRO	koji
gledamo	N:f	gledamo
na	PREP	na
ekranu	N:m	ekran
može	A:aem	može
ustvari	ADV	ustvari
biti	N:f	bit
taj	PRO	taj
mostrum	N:m	mostrum
.	SENT	.
The	INT	The
Thing	N:m	Thing
(	SENT	(
2011	NUM	@card@
)	PUNCT	)
ne	PAR	ne
poseduje	N:m	poseduje
niti	CONJ	niti
jednu	NUM	jedan
crtu	N:f	crta
originalnosti	N:f	originalnost
koja	PRO	koji
bi	N:f	bi
vas	PRO	vi
naterala	V:f	naterati
da	CONJ	da
pogledate	V:f	pogledate
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Kao	ADV	kao
kod	PREP	kod
svih	PRO	sav
drugih	A:aen	drugi
faktora	N:m	faktor
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
kod	PREP	kod
animacije	N:f	animacija
–	N:m	–
ništa	PRO	ništa
specijalno	A:aen	specijalan
niti	CONJ	niti
vredno	A:aen	vredan
posebnog	A:aem	poseban
pominjanja	N:n	pominjanje
.	SENT	.
CGI	N:m	CGI
je	PRO	ona
u	PREP	u
potpunosti	N:f	potpunost
prevaziđen	V:m	prevazići
i	CONJ	i
sigurno	ADV	sigurno
će	V:m	će
dosta	ADV	dosta
uticati	A:aem	uticati
na	PREP	na
to	PRO	taj
da	CONJ	da
se	PAR	se
još	ADV	još
više	ADV	više
udaljite	N:m	udaljite
od	PREP	od
radnje	N:f	radnja
filma	N:m	film
i	CONJ	i
izgubite	N:m	izgubite
interesovanje	N:n	interesovanje
.	SENT	.
Gluma	N:f	gluma
je	PRO	ona
osrednja	A:aen	osrednji
,	PUNCT	,
kao	CONJ	kao
u	PREP	u
svakom	PRO	svaki
drugom	A:aef	drugi
prosečnom	A:aen	prosečan
američkom	A:aem	američki
horor	N:m	horor
filmovu	N:m	filmovu
,	PUNCT	,
a	CONJ	a
sam	A:aem	sam
scenario	N:m	scenario
,	PUNCT	,
u	PREP	u
potpunosti	N:f	potpunost
rasejan	A:aem	rasejan
i	CONJ	i
nemaštovit	A:aem	nemaštovit
.	SENT	.
The	INT	The
Thing	N:m	Thing
(	SENT	(
2011	NUM	@card@
)	PUNCT	)
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
suvišnih	A:aem	suvišan
nastavaka	N:m	nastavak
koji	PRO	koji
nisu	N:m	nisu
nikada	ADV	nikada
trebali	V:m	trebati
da	CONJ	da
se	PAR	se
dese	N:m	Des
.	PUNCT	.
Nije	A:aen	Nije
bilo	V:n	biti
nikakve	PRO	nikakav
potrebe	N:f	potreba
širiti	N:m	širit
ovu	PRO	ovaj
priču	N:f	priča
,	PUNCT	,
ali	CONJ	ali
kada	CONJ	kada
već	PAR	već
jesu	N:f	jesu
,	PUNCT	,
mogli	V:m	moći
su	N:m	su
se	PAR	se
makar	PAR	makar
malo	ADV	malo
više	ADV	više
potruditi	V:m	potruditi
.	SENT	.
Zaista	ADV	zaista
slabo	ADV	slabo
i	CONJ	i
nemaštovito	A:aen	nemaštovit
.	SENT	.
