Veliki	A:aem	velik
sam	A:aem	sam
fan	N:m	fan
avantura	N:f	avantura
Šerloka	N:m	Šerlok
Holmsa	N:m	Holms
(	PUNCT	(
Sherlock	N:m	Sherlock
Holmes	N:m	Holmes
)	PUNCT	)
,	PUNCT	,
pored	PREP	pored
toga	PRO	taj
izuzetno	ADV	izuzetno
poštujem	N:m	poštujem
reditelja	N:m	reditelj
Gaja	N:m	Gaj
Ričija	N:m	Riči
(	PUNCT	(
Guy	A:aem	Guy
Ritchie	N:f	Ritchie
)	PUNCT	)
,	PUNCT	,
ispratio	V:m	ispratiti
sam	PRO	sam
sve	PRO	sav
njegove	PRO	njegov
filmove	N:m	film
i	CONJ	i
pored	PREP	pored
svega	PRO	sav
,	PUNCT	,
naprosto	ADV	naprosto
obožavam	N:m	obožavam
Roberta	N:f	Roberta
Dauni	N:m	Dauni
Džuniora	N:m	Džuniora
(	PUNCT	(
Robert	N:m	Robert
Downey	A:aem	Downey
Jr	N:m	Jr
.	PUNCT	.
)	SENT	)
.	PUNCT	.
Iako	CONJ	iako
film	N:m	film
poseduje	N:m	poseduje
toliko	ADV	toliko
mogo	A:aem	mogo
faktora	N:m	faktor
koji	PRO	koji
bi	A:aem	bi
me	PRO	ja
naterali	V:m	naterati
da	CONJ	da
ga	PRO	on
i	CONJ	i
pre	PREP	pre
samog	PRO	sam
gledanja	N:n	gledanje
obožavam	N:m	obožavam
,	PUNCT	,
prišao	V:m	prići
sam	PRO	sam
ovom	PRO	ovaj
projektu	N:m	projekt
sa	PREP	sa
izuzetno	ADV	izuzetno
malim	A:aen	mali
očekivanjima	N:n	očekivanje
jer	CONJ	jer
me	PRO	ja
je	PRO	ona
prvi	A:aem	prvi
Ričijev	A:aem	Ričijev
Šerlok	N:m	Šerlok
Holms	N:m	Holms
film	N:m	film
ostavio	V:m	ostaviti
u	PREP	u
skepticizmu	N:m	skepticizam
(	PUNCT	(
iako	CONJ	iako
smatram	V:m	smatram
da	CONJ	da
je	PRO	ona
zabavan	A:aem	zabavan
)	PUNCT	)
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
daleko	ADV	daleko
otišao	V:m	otići
od	PREP	od
standardne	A:aef	standardan
prezentacije	N:f	prezentacija
ovog	PRO	ovaj
fenomenalnog	A:aem	fenomenalan
detektiva	N:m	detektiv
.	SENT	.
“	A:aem	“
Šerlok	N:m	Šerlok
Holms	N:m	Holms
:	SENT	:
Igra	N:f	igra
senki	N:f	senka
”	N:m	”
je	PRO	ona
možda	PAR	možda
ne	PAR	ne
samo	PAR	samo
najveće	A:cef	velik
razočarenje	N:n	razočarenje
godine	N:f	godina
,	PUNCT	,
nego	CONJ	nego
možda	ADV	možda
i	CONJ	i
najveća	A:cef	velik
neprijatnost	N:f	neprijatnost
koju	PRO	koji
sam	PRO	sam
ikada	ADV	ikada
doživeo	V:m	doživeti
od	PREP	od
strane	N:f	strana
nekog	PRO	neki
filma	N:m	film
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
da	CONJ	da
sada	ADV	sada
ne	PAR	ne
bih	A:aem	bih
pričao	V:m	pričati
svima	PRO	sav
već	CONJ	već
poznat	A:aem	poznat
koncept	N:m	koncept
i	CONJ	i
nepotrebno	ADV	nepotrebno
odavao	V:m	odavati
priču	N:f	priča
,	PUNCT	,
Šerlok	N:m	Šerlok
Holms	N:m	Holms
ovde	ADV	ovde
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
svim	PRO	sav
drugim	A:aem	drugi
njegovim	PRO	njegov
avantura	N:f	avantura
,	PUNCT	,
uz	PREP	uz
pomoć	N:f	pomoć
svoga	PRO	svoj
vernog	A:aem	veran
prijatelja	N:m	prijatelj
doktora	N:m	doktor
Votsona	N:m	Votson
,	PUNCT	,
pokušava	A:aem	pokušava
da	CONJ	da
razreši	A:aem	razreši
slučaj	N:m	slučaj
koji	PRO	koji
je	PRO	ona
toliko	ADV	toliko
kompleksan	A:aem	kompleksan
i	CONJ	i
toliko	ADV	toliko
opasan	A:aem	opasan
da	CONJ	da
ako	CONJ	ako
detektiv	N:m	detektiv
ne	PAR	ne
uspe	N:f	uspe
u	PREP	u
svom	PRO	sav
zadatku	N:m	zadatak
,	PUNCT	,
posledice	N:f	posledica
mogu	A:aef	mogu
biti	N:f	bit
pogubne	A:aef	poguban
ne	PAR	ne
samo	PAR	samo
po	PREP	po
njega	PRO	on
i	CONJ	i
njegov	PRO	njegov
grad	N:m	grad
,	PUNCT	,
već	CONJ	već
i	CONJ	i
po	PREP	po
čitav	A:aem	čitav
svet	N:m	svet
.	SENT	.
Film	N:m	film
je	PRO	ona
uspeo	V:m	uspeti
već	PAR	već
u	PREP	u
prvih	A:aef	prvi
15	NUM	@card@
minuta	N:m	minut
toliko	ADV	toliko
da	CONJ	da
me	PRO	ja
iziritira	N:m	iziritira
sa	PREP	sa
svojom	PRO	svoj
malom	A:aem	mali
“	A:aem	“
Mr	N:m	Mr
.	SENT	.
&	A	&&
Mrs	N:m	mrs
.	SENT	.
Smith	A:aem	Smith
”	N:m	”
igrom	N:f	igra
.	SENT	.
Mi	PRO	ja
ovde	ADV	ovde
gledamo	N:f	gledamo
Roberta	N:f	Roberta
Dauni	N:m	Dauni
Džuniora	N:m	Džuniora
i	CONJ	i
Rejčel	N:f	Rejčel
MekAdams	N:m	MekAdams
(	PUNCT	(
Rachel	N:m	Rachel
McAdams	N:m	McAdams
)	PUNCT	)
kako	CONJ	kako
kriminal	N:m	kriminal
,	PUNCT	,
batine	N:f	batina
i	CONJ	i
ozbiljne	A:aef	ozbiljan
teorije	N:f	teorija
zavere	N:f	zavera
koriste	N:m	koriste
kao	CONJ	kao
vid	N:m	vid
nekog	PRO	neki
njihovog	PRO	njihov
uvrnutog	A:aen	uvrnut
koketiranja	N:n	koketiranje
.	SENT	.
Ovo	PRO	ovaj
ne	PAR	ne
samo	PAR	samo
da	CONJ	da
vređa	A:aem	vređa
intelekt	N:m	intelekt
gledaoca	N:m	gledalac
,	PUNCT	,
nego	CONJ	nego
i	CONJ	i
već	PAR	već
u	PREP	u
samom	PRO	sam
startu	N:m	start
film	N:m	film
gubi	N:f	guba
jako	ADV	jako
na	PREP	na
kredibilitetu	N:m	kredibilitet
oslikavajući	A:aem	oslikavajući
kultnog	A:aem	kultnog
detektiva	N:m	detektiv
kao	CONJ	kao
nekog	PRO	neki
rasejanog	A:aem	rasejan
pajaca	N:m	pajac
.	SENT	.
Druga	A:aef	drugi
stvar	N:f	stvar
koja	PRO	koji
me	PRO	ja
je	PRO	ona
naprosto	ADV	naprosto
izludela	V:f	izludeti
jeste	INT	jeste
to	PRO	taj
što	CONJ	što
je	PRO	ona
Šerlok	N:m	Šerlok
Holms	N:m	Holms
predstavljen	V:m	predstaviti
kao	CONJ	kao
neki	PRO	neki
kung	N:m	kung
-	PUNCT	-
fu	A:aem	fu
majstor	N:m	majstor
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
bio	V:m	biti
u	PREP	u
originalnom	A:aem	originalan
konceptu	N:m	koncept
.	SENT	.
Artur	N:m	Artur
Conan	A:aem	Conan
Dojl	N:m	Dojl
(	PUNCT	(
Arthur	N:m	Arthur
Conan	A:aem	Conan
Doyle	N:f	Doyle
)	PUNCT	)
je	PRO	ona
Šerloka	N:m	Šerlok
Holmsa	N:m	Holms
zamislio	V:m	zamisliti
kao	CONJ	kao
detektiva	N:m	detektiv
koji	PRO	koji
ima	N:f	ima
izuzetno	ADV	izuzetno
visok	A:aem	visok
intelekt	N:m	intelekt
,	PUNCT	,
neverovatno	ADV	neverovatno
oštro	ADV	oštro
oko	PREP	oko
koje	PRO	koji
primećuje	N:f	primećuje
i	CONJ	i
najsitnije	A:cen	sitan
detalje	N:m	detalj
,	PUNCT	,
i	CONJ	i
gospodara	N:m	gospodar
ljudske	A:aef	ljudski
psihologe	N:m	psiholog
koji	PRO	koji
tumači	N:m	tumač
svaki	PRO	svaki
gest	N:m	gest
osobe	N:f	osoba
sa	PREP	sa
kojom	PRO	koji
interaktuje	N:m	interaktuje
ili	CONJ	ili
mu	PRO	on
se	PAR	se
nalazi	N:m	nalaz
u	PREP	u
neposrednoj	A:aef	neposredan
blizini	N:f	blizina
.	SENT	.
Ovo	PRO	ovaj
su	N:m	su
karakteristike	N:f	karakteristika
koje	PRO	koji
su	N:m	su
od	PREP	od
ovog	PRO	ovaj
imena	N:n	ime
napravile	V:f	napraviti
brend	N:m	brend
kakav	PRO	kakav
danas	ADV	danas
i	CONJ	i
jeste	INT	jeste
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
neki	PRO	neki
vid	N:m	vid
Džejmsa	N:m	Džejms
Bonda	N:m	Bond
(	PUNCT	(
James	N:f	James
Bond	N:m	Bond
)	PUNCT	)
iz	PREP	iz
1890	NUM	@card@
-	PUNCT	-
ih	INT	ih
.	SENT	.
Slažem	V:m	Slažem
se	PAR	se
da	CONJ	da
svako	PRO	svaki
ima	A:aen	ima
pravo	N:n	pravo
na	PREP	na
svoju	PRO	svoj
interpretaciju	N:f	interpretacija
,	PUNCT	,
ali	CONJ	ali
ako	CONJ	ako
već	PAR	već
hoćeš	V:m	hoćeš
da	CONJ	da
odbaciš	V:m	odbaciš
sve	PRO	sav
karakteristike	N:f	karakteristika
jednog	NUM	jedan
brenda	N:m	brend
,	PUNCT	,
zašto	CONJ	zašto
bi	V:m	bi
ga	PRO	on
onda	ADV	onda
uopšte	ADV	uopšte
uzimao	V:m	uzimati
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
jednostavno	ADV	jednostavno
napravio	V:m	napraviti
svoju	PRO	svoj
nezavisnu	A:aem	nezavisan
viziju	N:f	vizija
pod	PREP	pod
imenom	N:n	ime
koje	PRO	koji
nema	A:aem	nem
određenu	A:aef	određenu
bazu	N:f	baza
fanova	N:m	fan
?	PUNCT	?
Zar	PAR	zar
nije	A:aen	nije
nepoštovanje	N:n	nepoštovanje
prema	PREP	prema
ljudima	N:m	ljudi
koji	PRO	koji
su	N:m	su
zavoleli	V:m	zavoleti
neku	PRO	neki
određu	A:aef	određu
formu	N:f	forma
?	PUNCT	?
Sledeća	A:aef	Sledeća
stvar	N:f	stvar
koja	PRO	koji
me	PRO	ja
je	PRO	ona
jako	ADV	jako
iziritirala	V:f	iziritirati
jeste	INT	jeste
to	PRO	taj
što	CONJ	što
akteri	N:m	akter
u	PREP	u
filmu	N:m	film
koriste	N:m	koriste
automatsko	A:aen	automatski
i	CONJ	i
polu	N:f	pola
-	PUNCT	-
automatsko	A:aen	automatski
oružje	N:n	oružje
koje	PRO	koji
je	PRO	ona
napravljeno	V:n	napraviti
tek	PAR	tek
posle	PREP	posle
1900	NUM	@card@
-	PUNCT	-
ih	INT	ih
(	PUNCT	(
radnja	N:f	radnja
filma	N:m	film
se	PAR	se
odvija	A:bef	odvija
u	PREP	u
1891	NUM	@card@
.	PUNCT	.
godini	N:f	godina
)	PUNCT	)
.	SENT	.
Hajde	INT	hajde
recimo	N:f	recimo
da	CONJ	da
prećutimo	N:f	prećutimo
za	PREP	za
neki	PRO	neki
malo	ADV	malo
moderniji	A:bem	moderan
pištolj	N:m	pištolj
,	PUNCT	,
ali	CONJ	ali
snajperi	N:m	snajper
sa	PREP	sa
prigušivačem	N:m	prigušivač
i	CONJ	i
ručni	A:aem	ručni
topovi	N:m	top
su	PREF	su
zbilja	PAR	zbilja
previše	ADV	previše
.	SENT	.
Narativ	A:aem	Narativ
filma	N:m	film
je	PRO	ona
van	PREP	van
svakog	PRO	svaki
toka	N:m	tok
.	SENT	.
Radnja	N:f	radnja
se	PAR	se
vraća	V:m	vraća
i	CONJ	i
napred	ADV	napred
i	CONJ	i
nazad	ADV	nazad
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
nije	A:aem	nije
generalni	A:aem	generalan
problem	N:m	problem
već	CONJ	već
ogroman	A:aem	ogroman
broj	N:m	broj
nepotrebnih	A:aem	nepotreban
scena	N:f	scena
bez	PREP	bez
kojih	PRO	koji
bi	A:aem	bi
film	N:m	film
kraće	A:ben	kratak
trajao	V:m	trajati
i	CONJ	i
imao	V:m	imati
bolji	A:bem	dobar
fokus	N:m	fokus
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
glume	N:f	gluma
u	PREP	u
filmu	N:m	film
ne	PAR	ne
bih	A:aem	bih
nekog	PRO	neki
posebno	ADV	posebno
isticao	V:m	isticati
pored	PREP	pored
Džada	N:m	Džad
Loa	N:m	Lo
(	PUNCT	(
Jude	N:m	Juda
Law	N:m	Law
)	PUNCT	)
koji	PRO	koji
je	PRO	ona
jedini	A:aem	jedini
pružio	V:m	pružiti
performans	N:m	performans
vredan	A:aem	vredan
pominjanja	N:n	pominjanje
.	SENT	.
Robert	N:m	Robert
Dauni	N:m	Dauni
Džunior	N:m	Džunior
,	PUNCT	,
iako	CONJ	iako
sam	PRO	sam
mu	PRO	on
veliki	A:aem	velik
fan	N:m	fan
,	PUNCT	,
teška	A:aem	težak
srca	N:n	srce
moram	N:m	moram
reći	A:aem	reći
da	CONJ	da
se	PAR	se
očajno	ADV	očajno
pokazao	V:m	pokazati
u	PREP	u
filmu	N:m	film
.	SENT	.
Robert	N:m	Robert
deluje	N:f	deluje
izuzetno	ADV	izuzetno
nezainteresovano	A:aen	nezainteresovan
za	PREP	za
ulogu	N:f	uloga
,	PUNCT	,
gestikulacija	N:f	gestikulacija
je	PRO	ona
skoro	ADV	skoro
kroz	PREP	kroz
čitav	A:aem	čitav
tok	N:m	tok
filma	N:m	film
ista	A:aef	isti
,	PUNCT	,
a	CONJ	a
da	CONJ	da
ni	CONJ	ni
ne	PAR	ne
spominjem	N:n	spominjem
njegov	PRO	njegov
londonski	A:aem	londonski
naglasak	N:m	naglasak
koji	PRO	koji
je	PRO	ona
naprosto	ADV	naprosto
cepao	V:m	cepati
uši	N:f	uš
.	SENT	.
Izuzetno	ADV	izuzetno
veliko	A:aen	velik
razočareje	N:f	razočareje
,	PUNCT	,
nikada	ADV	nikada
ranije	A:aem	raniji
nisam	N:m	nisam
imao	V:m	imati
priliku	N:f	prilika
da	CONJ	da
loše	A:aef	loš
kritikujem	N:m	kritikujem
film	N:m	film
Gaja	N:m	Gaj
Ričija	N:m	Riči
,	PUNCT	,
ali	CONJ	ali
ovo	PRO	ovaj
je	PRO	ona
naprosto	ADV	naprosto
nepodnošljivo	ADV	nepodnošljivo
.	SENT	.
Tužan	A:aem	Tužan
sam	A:aem	sam
i	CONJ	i
razočaran	A:aem	razočaran
što	PRO	što
moram	N:m	moram
ovako	ADV	ovako
teške	A:aem	težak
reči	N:f	reč
da	CONJ	da
uputim	V:m	uputim
ovom	PRO	ovaj
ostvarenju	N:n	ostvarenje
.	SENT	.
