Sada	ADV	sada
je	PRO	ona
jasno	ADV	jasno
,	PUNCT	,
Tony	A:aem	Tony
Scott	N:m	Scott
ima	A:aen	ima
posebnu	A:aen	poseban
naklonost	N:f	naklonost
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
kažemo	A:aen	kažemo
fetiš	N:m	fetiš
,	PUNCT	,
prema	PREP	prema
pričama	N:f	priča
o	PREP	o
posmatranju	N:n	posmatranje
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
kažemo	A:aen	kažemo
voajerizmu	N:m	voajerizam
.	SENT	.
Državni	A:aem	Državni
neprijatelj	N:m	neprijatelj
–	A:aem	–
glavni	A:aem	glavni
junak	N:m	junak
,	PUNCT	,
crnac	N:m	crnac
,	PUNCT	,
po	PREP	po
rasnim	A:aem	rasan
pitanjima	N:n	pitanje
i	CONJ	i
problemima	N:m	problem
ne	PAR	ne
preterano	ADV	preterano
zainteresovan	V:m	zainteresovati
–	A:aem	–
otkriva	N:m	otkriva
da	CONJ	da
nas	PRO	mi
tajna	A:aef	tajni
služba	N:f	služba
,	PUNCT	,
ili	CONJ	ili
makar	PAR	makar
jedna	NUM	jedan
njena	PRO	njen
autonomna	A:aen	autonoman
frakcija	N:f	frakcija
,	PUNCT	,
posmatraju	N:m	posmatraju
vrlo	ADV	vrlo
detaljno	ADV	detaljno
i	CONJ	i
uvećano	V:n	uvećati
24	NUM	@card@
časa	N:m	čas
dnevno	ADV	dnevno
putem	PREP	putem
satelita	N:m	satelit
.	SENT	.
Razlika	N:f	razlika
je	PRO	ona
u	PREP	u
tome	PRO	taj
što	CONJ	što
u	PREP	u
slučaju	N:m	slučaj
filma	N:m	film
Već	A:aem	Već
viđeno	A:aen	viđen
,	PUNCT	,
vladina	A:aem	vladin
agencija	N:f	agencija
je	PRO	ona
dobrodošla	A:aef	dobrodošao
pomoć	N:f	pomoć
u	PREP	u
otkrivanju	N:n	otkrivanje
počinioca	N:m	počinilac
terorističkog	A:aem	teroristički
napada	N:m	napad
.	SENT	.
To	PRO	taj
je	PRO	ona
valjda	PAR	valjda
i	CONJ	i
razlika	N:f	razlika
filmova	N:m	film
koji	PRO	koji
su	N:m	su
se	PAR	se
pravili	V:m	praviti
u	PREP	u
Klintonovoj	A:aef	Klintonov
i	CONJ	i
filmova	N:m	film
koji	PRO	koji
se	PAR	se
prave	A:aef	prav
u	PREP	u
Americi	N:f	Amerika
Buša	N:m	Buš
Mlađeg	N:f	Mlađeg
:	PUNCT	:
vlada	N:f	vlada
i	CONJ	i
njene	PRO	njen
službe	N:f	služba
nisu	N:m	nisu
više	ADV	više
pretnja	N:f	pretnja
,	PUNCT	,
neukrotiva	A:aef	neukrotiv
zver	N:f	zver
,	PUNCT	,
kako	CONJ	kako
ih	PRO	ona
naziva	N:m	naziv
Oliver	N:m	Oliver
Stoun	N:m	Stoun
u	PREP	u
Niksonu	N:m	Nikson
,	PUNCT	,
već	PAR	već
poslednja	A:aem	poslednji
linija	N:f	linija
odbrane	N:f	odbrana
malih	A:aen	mali
ljudi	N:m	ljudi
od	PREP	od
globalne	A:aef	globalan
opasnosti	N:f	opasnost
.	SENT	.
Zdrav	A:aem	zdrav
žanrovski	A:aem	žanrovski
holivudski	A:aem	holivudski
mejnstrim	N:m	mejnstrim
u	PREP	u
poslednjih	A:aem	poslednji
par	N:m	par
godina	N:f	godina
očišćen	V:m	očistiti
je	PRO	ona
od	PREP	od
subverzivnosti	N:f	subverzivnost
koja	PRO	koji
se	PAR	se
pojavljuje	N:f	pojavljuje
u	PREP	u
ekstremnoj	A:aef	ekstreman
meri	N:f	mera
u	PREP	u
ljudski	A:aem	ljudski
poštenim	A:aem	pošten
,	PUNCT	,
ali	CONJ	ali
zanatski	A:aem	zanatski
mediokritetskim	A:aem	mediokritetski
filmovima	N:m	film
,	PUNCT	,
kakva	PRO	kakav
je	PRO	ona
bila	V:f	biti
Sirijana	N:m	Sirijana
.	PUNCT	.
A	CONJ	a
da	CONJ	da
,	PUNCT	,
osim	PREP	osim
toga	PRO	taj
,	PUNCT	,
Već	A:aen	Već
viđeno	V:n	viditi
je	PRO	ona
SF	N:m	SF
,	PUNCT	,
iako	CONJ	iako
se	PAR	se
čini	N:f	čini
da	CONJ	da
se	PAR	se
pomalo	ADV	pomalo
srami	V:m	srami
da	CONJ	da
to	PRO	taj
otvoreno	ADV	otvoreno
prizna	A:aem	prizna
,	PUNCT	,
što	CONJ	što
je	PRO	ona
i	CONJ	i
jedan	NUM	jedan
od	PREP	od
problema	N:m	problem
filma	N:m	film
.	SENT	.
Posle	PREP	posle
dugačke	A:aef	dugačak
ekspozicije	N:f	ekspozicija
,	PUNCT	,
tokom	PREP	tokom
koje	PRO	koji
kompjuteraši	N:m	kompjuteraš
pokušavaju	N:f	pokušavaju
da	CONJ	da
zamagle	A:aef	zamagle
oči	N:f	oči
nama	PRO	mi
i	CONJ	i
našem	PRO	naš
junaku	N:m	junak
,	PUNCT	,
negde	ADV	negde
na	PREP	na
polovini	N:f	polovina
filma	N:m	film
razotkriva	A:aem	razotkriva
se	PAR	se
da	CONJ	da
je	PRO	ona
sofisticirana	A:aef	sofisticiran
oprema	N:f	oprema
kojom	PRO	koji
oni	PRO	onaj
pokušavaju	N:m	pokušavaju
da	CONJ	da
otkriju	N:m	otkriju
počinioca	N:m	počinilac
terorističkog	A:aem	teroristički
napada	N:m	napad
zapravo	ADV	zapravo
stari	A:aem	star
dobri	A:aem	dobar
vremeplov	N:m	vremeplov
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
vremensko	A:aen	vremenski
-	PUNCT	-
prostorni	A:aem	prostorni
kanal	N:m	kanal
pomoću	PREP	pomoću
kojeg	PRO	koji
je	PRO	ona
moguće	ADV	moguće
gledati	V:m	gledati
četiri	NUM	četiri
dana	N:m	dan
u	PREP	u
prošlost	N:f	prošlost
,	PUNCT	,
s	PREP	s
mogućom	A:aef	moguć
opcijom	N:f	opcija
slanja	N:n	slanje
predmeta	N:m	predmet
i	CONJ	i
ljudi	N:m	ljudi
(	PUNCT	(
a	CONJ	a
kada	CONJ	kada
nam	PRO	mi
jednom	NUM	jedan
kažu	N:f	kaža
da	CONJ	da
je	PRO	ona
to	PRO	taj
možda	PAR	možda
moguće	ADV	moguće
,	PUNCT	,
znamo	N:m	znamo
i	CONJ	i
da	CONJ	da
će	V:m	će
se	PAR	se
do	PREP	do
kraja	N:m	kraj
svakako	ADV	svakako
dogoditi	A:aem	dogoditi
)	PUNCT	)
.	SENT	.
Sa	PREP	sa
strane	N:f	strana
akcionih	A:aem	akcioni
sekvenci	N:f	sekvenca
,	PUNCT	,
relativno	ADV	relativno
,	PUNCT	,
koliko	ADV	koliko
to	PRO	taj
može	A:aen	može
da	CONJ	da
bude	A:aen	bude
,	PUNCT	,
sveža	A:aef	svež
ideja	N:f	ideja
dala	V:f	dati
je	PRO	ona
mogućnost	N:f	mogućnost
Scottu	N:m	Scottu
da	CONJ	da
se	PAR	se
poigra	N:f	poigra
i	CONJ	i
stvori	N:m	stvori
neke	PRO	neki
odlične	A:aem	odličan
i	CONJ	i
idejno	A:aen	idejni
komplikovane	A:aef	komplikovan
scene	N:f	scena
potere	N:f	potera
.	SENT	.
No	CONJ	no
,	PUNCT	,
sa	PREP	sa
strane	N:f	strana
konačnog	A:aen	konačan
scenarističkog	A:aem	scenaristički
koncepta	N:m	koncept
,	PUNCT	,
nakon	PREP	nakon
otkrivanja	N:n	otkrivanje
i	CONJ	i
korišćenja	N:n	korišćenje
tehnologije	N:f	tehnologija
,	PUNCT	,
otkriva	A:aem	otkriva
se	PAR	se
i	CONJ	i
diskutabilna	A:aef	diskutabilan
filozofija	N:f	filozofija
filma	N:m	film
.	SENT	.
Stvarnost	N:f	stvarnost
je	PRO	ona
nekada	ADV	nekada
,	PUNCT	,
u	PREP	u
,	PUNCT	,
sada	ADV	sada
je	PRO	ona
to	PRO	taj
jasno	ADV	jasno
,	PUNCT	,
ateističkim	A:aen	ateistički
osamdesetim	A:aef	osamdeseti
,	PUNCT	,
bila	V:f	biti
podložna	A:aen	podložan
promenama	N:f	promena
,	PUNCT	,
a	CONJ	a
podžanr	N:m	podžanr
SF	N:m	SF
-	PUNCT	-
a	CONJ	a
koji	PRO	koji
se	PAR	se
bavi	A:aen	bavi
putovanjem	N:n	putovanje
kroz	PREP	kroz
vreme	N:n	vreme
osnovno	A:aen	osnovni
uzbuđenje	N:n	uzbuđenje
je	PRO	ona
pronalazio	V:m	pronalaziti
korekcijama	N:f	korekcija
grešaka	N:f	greška
koje	PRO	koji
su	N:m	su
se	PAR	se
dogodile	V:f	dogoditi
,	PUNCT	,
pa	CONJ	pa
je	PRO	ona
tako	ADV	tako
ceo	A:aem	ceo
serijal	N:m	serijal
Povratak	N:m	povratak
u	PREP	u
budućnost	N:f	budućnost
priču	N:f	priča
crpeo	V:m	crpsti
iz	PREP	iz
pokušaja	N:m	pokušaj
junaka	N:m	junak
da	CONJ	da
svet	A:aem	svet
dovedu	N:m	dovedu
u	PREP	u
neku	PRO	neki
vrstu	N:f	vrsta
plusa	N:m	plus
.	SENT	.
Filozofija	N:f	filozofija
filma	N:m	film
Već	N:m	Već
viđeno	V:n	viditi
potpuno	ADV	potpuno
je	PRO	ona
drugačija	A:aen	drugačiji
,	PUNCT	,
jer	CONJ	jer
naš	PRO	naš
junak	N:m	junak
u	PREP	u
poslednjoj	A:aef	poslednji
četvrtini	N:f	četvrtina
filma	N:m	film
radi	PREP	radi
stvari	N:f	stvar
koje	PRO	koji
mora	N:n	more
da	CONJ	da
radi	PREP	radi
,	PUNCT	,
jer	CONJ	jer
se	PAR	se
one	PRO	onaj
,	PUNCT	,
iz	PREP	iz
nekog	PRO	neki
razloga	N:m	razlog
,	PUNCT	,
moraju	N:m	moraju
dogoditi	N:f	dogoditi
(	PUNCT	(
jer	CONJ	jer
je	PRO	ona
tako	ADV	tako
zapisano	A:aen	zapisan
)	PUNCT	)
,	PUNCT	,
što	CONJ	što
u	PREP	u
velikoj	A:aef	velik
meri	N:f	mera
oduzima	N:m	oduzima
uzbuđenje	N:n	uzbuđenje
u	PREP	u
završnim	A:aem	završan
scenama	N:f	scena
.	SENT	.
Jer	CONJ	jer
,	PUNCT	,
šta	PRO	šta
je	PRO	ona
zanimljivo	ADV	zanimljivo
u	PREP	u
tome	PRO	taj
da	CONJ	da
gledamo	N:f	gledamo
ono	PRO	onaj
što	PRO	što
se	PAR	se
moralo	V:n	morati
dogoditi	N:f	dogoditi
?	SENT	?
Pojednostavljenom	A:aef	pojednostavljen
generalnom	A:aen	generalan
dramaturškom	A:aef	dramaturški
analizom	N:f	analiza
akcije	N:f	akcija
na	PREP	na
filmu	N:m	film
,	PUNCT	,
zanimljivo	ADV	zanimljivo
je	PRO	ona
kad	CONJ	kad
gledamo	N:f	gledamo
nešto	ADV	nešto
što	CONJ	što
nije	A:aen	nije
moralo	V:n	morati
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
ipak	PAR	ipak
dogodilo	V:n	dogoditi
,	PUNCT	,
zanimljivo	ADV	zanimljivo
je	PRO	ona
to	PRO	taj
kako	ADV	kako
se	PAR	se
dogodilo	V:n	dogoditi
,	PUNCT	,
i	CONJ	i
to	PRO	taj
je	PRO	ona
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
autorima	N:m	autor
filma	N:m	film
promaklo	V:n	promaknuti
.	PUNCT	.
A	CONJ	a
opet	ADV	opet
,	PUNCT	,
možda	PAR	možda
je	PRO	ona
takvo	PRO	takav
vreme	N:n	vreme
u	PREP	u
kome	PRO	koji
živimo	N:m	živimo
?	PUNCT	?
Inventivnost	N:f	inventivnost
i	CONJ	i
improvizacija	N:f	improvizacija
nisu	N:m	nisu
poželjni	A:aem	poželjan
i	CONJ	i
ustupili	V:m	ustupiti
su	N:m	su
mesto	N:n	mesto
postizanju	N:n	postizanje
zacrtanog	A:aem	zacrtan
cilja	N:m	cilj
,	PUNCT	,
zatvaranju	N:n	zatvaranje
finansijske	A:aem	finansijski
konstrukcije	N:f	konstrukcija
,	PUNCT	,
u	PREP	u
slučaju	N:m	slučaj
Scottovog	A:aem	Scottovog
filma	N:m	film
,	PUNCT	,
nekakvoj	PRO	nekakav
sramežljivoj	A:aef	sramežljiv
bogobojažljivosti	N:f	bogobojažljivost
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Dakle	CONJ	dakle
,	PUNCT	,
film	N:m	film
politički	ADV	politički
smušen	A:aem	smušen
,	PUNCT	,
trilerski	A:aem	trilerski
nedovoljno	ADV	nedovoljno
svež	A:aem	svež
,	PUNCT	,
s	PREP	s
likovima	N:m	lik
sterilnim	A:aen	sterilan
i	CONJ	i
papirnatim	A:aen	papirnat
,	PUNCT	,
s	PREP	s
Valom	N:m	Val
Kilmerom	N:m	Kilmer
u	PREP	u
ulozi	N:f	uloga
za	PREP	za
koju	PRO	koji
apsolutno	ADV	apsolutno
nije	A:aen	nije
bio	V:m	biti
neophodan	A:aem	neophodan
,	PUNCT	,
sa	PREP	sa
SF	N:m	SF
segmentom	N:m	segment
koji	PRO	koji
bi	N:f	bi
trebalo	V:n	trebati
da	CONJ	da
bude	A:aem	bude
osnovni	A:aem	osnovni
,	PUNCT	,
ali	CONJ	ali
koji	PRO	koji
se	PAR	se
u	PREP	u
svemu	PRO	sav
negde	ADV	negde
izgubio	V:m	izgubiti
,	PUNCT	,
sve	PRO	sav
zajedno	ADV	zajedno
vrlo	ADV	vrlo
haotično	A:aen	haotičan
,	PUNCT	,
ali	CONJ	ali
mestimično	ADV	mestimično
pristojno	ADV	pristojno
zabavno	ADV	zabavno
.	SENT	.
Barem	PAR	barem
nekih	PRO	neki
petnaest	NUM	petnaest
minuta	N:m	minut
kada	CONJ	kada
taj	PRO	taj
SF	N:m	SF
segment	N:m	segment
krene	N:m	kren
da	CONJ	da
vozi	N:m	vozi
,	PUNCT	,
pa	CONJ	pa
sve	PRO	sav
dok	CONJ	dok
,	PUNCT	,
metaforički	A:aem	metaforički
rečeno	A:aen	rečen
,	PUNCT	,
ne	PAR	ne
ostane	N:m	ostane
bez	PREP	bez
goriva	N:n	gorivo
.	SENT	.
