“	A:aem	“
Snow	A:aem	Snow
White	N:m	White
and	N:m	and
the	N:m	the
Huntsman	N:m	Huntsman
”	N:m	”
je	PRO	ona
druga	A:aef	drugi
prilično	ADV	prilično
slobodna	A:aen	slobodan
interpretacija	N:f	interpretacija
čuvene	A:aef	čuven
bajke	N:f	bajka
o	PREP	o
Snežani	N:f	Snežana
(	PUNCT	(
Snow	A:aem	Snow
White	N:m	White
)	PUNCT	)
koju	PRO	koji
je	PRO	ona
Holivud	N:m	Holivud
ove	PRO	ovaj
godine	N:f	godina
uradio	V:m	uraditi
.	PUNCT	.
Iako	CONJ	iako
sam	PRO	sam
pogledao	V:m	pogledati
prvu	A:aem	prvi
koja	PRO	koji
je	PRO	ona
izašla	V:f	izaći
pod	PREP	pod
nazivom	N:m	naziv
“	A:aem	“
Mirror	N:m	Mirror
,	PUNCT	,
mirror	N:m	mirror
”	N:m	”
,	PUNCT	,
moram	N:m	moram
reći	A:aem	reći
da	CONJ	da
sam	A:aem	sam
mnogo	ADV	mnogo
veće	A:bef	velik
nade	N:f	nada
ulivao	V:m	ulivati
u	PREP	u
drugu	A:aef	drugi
interpretaciju	N:f	interpretacija
,	PUNCT	,
prvenstveno	ADV	prvenstveno
jer	CONJ	jer
je	PRO	ona
po	PREP	po
samom	PRO	sam
promotivnom	A:aem	promotivan
materijalu	N:m	materijal
obećavala	V:f	obećavati
je	PRO	ona
znatno	ADV	znatno
veću	A:bef	velik
i	CONJ	i
mračniju	A:bef	mračan
avanturu	N:f	avantura
,	PUNCT	,
predvođenu	A:aem	predvođen
izuzetno	ADV	izuzetno
sposobnom	A:aen	sposoban
glumicom	N:f	glumica
u	PREP	u
ulozi	N:f	uloga
zle	A:aef	zao
kraljice	N:f	kraljica
Ravene	N:f	Ravena
.	PUNCT	.
Dok	CONJ	dok
je	PRO	ona
“	A:aem	“
Mirror	N:m	Mirror
,	PUNCT	,
Mirror	N:m	Mirror
”	N:m	”
više	ADV	više
bio	V:m	biti
koncipiran	V:m	koncipirati
kao	ADV	kao
komedija	N:f	komedija
,	PUNCT	,
“	A:aem	“
Snow	A:aem	Snow
White	N:m	White
and	N:m	and
the	N:m	the
Huntsman	N:m	Huntsman
”	N:m	”
je	PRO	ona
prema	PREP	prema
prvim	A:aem	prvi
kadrovima	N:m	kadar
sa	PREP	sa
kojima	PRO	koji
sam	PRO	sam
se	PAR	se
susreo	V:m	susresti
,	PUNCT	,
nudio	V:m	nuditi
jednu	NUM	jedan
mračnu	A:aen	mračan
i	CONJ	i
gotičarsku	A:aen	gotičarsku
atmosferu	N:f	atmosfera
koja	PRO	koji
mi	PRO	ja
je	PRO	ona
delovala	V:f	delovati
mnogo	ADV	mnogo
prikladnije	A:bef	prikladan
pisanju	N:n	pisanje
braće	N:f	braća
Grim	N:m	Grim
(	PUNCT	(
Brothers	N:m	Brothers
Grimm	N:m	Grimm
)	PUNCT	)
–	N:m	–
mada	CONJ	mada
moram	N:m	moram
reći	A:aem	reći
da	CONJ	da
nakon	PREP	nakon
što	PRO	što
sam	A:aem	sam
u	PREP	u
trejleru	N:m	trejler
video	V:m	videti
i	CONJ	i
ogledalo	N:n	ogledalo
koje	PRO	koji
se	PAR	se
razvlači	V:m	razvlači
po	PREP	po
podu	N:m	pod
i	CONJ	i
kasnije	ADV	kasnije
transformiše	A:aem	transformiše
u	PREP	u
humanoidni	A:aem	humanoidni
oblik	N:m	oblik
,	PUNCT	,
patuljke	N:m	patuljak
i	CONJ	i
ostala	V:m	ostati
čudovišta	N:n	čudovište
,	PUNCT	,
imao	V:m	imati
sam	PRO	sam
čak	PAR	čak
blage	A:aef	blag
asocijacije	N:f	asocijacija
i	CONJ	i
na	PREP	na
Tolkinov	A:aem	Tolkinov
stil	N:m	stil
(	PUNCT	(
J	ABB	J
.	PUNCT	.
R	A:aem	R
.	PUNCT	.
R	A:aem	R
.	PUNCT	.
Tolkien	N:m	Tolkien
)	PUNCT	)
,	PUNCT	,
što	CONJ	što
je	PRO	ona
samo	PAR	samo
dodatno	ADV	dodatno
uticalo	V:n	uticati
da	CONJ	da
se	PAR	se
još	ADV	još
više	ADV	više
zainteresujem	N:m	zainteresujem
za	PREP	za
film	N:m	film
.	SENT	.
Mislim	A:aem	Mislim
da	CONJ	da
o	PREP	o
samoj	PRO	sam
priči	N:f	priča
ne	PAR	ne
treba	N:f	treba
puno	A:aen	pun
govoriti	N:m	govoriti
pošto	CONJ	pošto
sam	A:aem	sam
siguran	A:aem	siguran
da	CONJ	da
su	PREF	su
svi	PRO	sav
upoznati	V:m	upoznati
sa	PREP	sa
tematikom	N:f	tematika
.	SENT	.
Hajde	INT	hajde
,	PUNCT	,
da	CONJ	da
istaknem	N:n	istaknem
u	PREP	u
najkraćim	A:cef	kratak
crtama	N:f	crta
:	SENT	:
Snežana	N:f	Snežana
je	PRO	ona
princeza	N:f	princeza
i	CONJ	i
najlepša	A:cen	lep
osoba	N:f	osoba
u	PREP	u
kraljevstvu	N:n	kraljevstvo
.	SENT	.
Nakon	PREP	nakon
što	PRO	što
se	PAR	se
uda	N:n	udo
za	PREP	za
njenog	PRO	njen
oca	N:m	otac
,	PUNCT	,
kojeg	PRO	koji
ubrzo	ADV	ubrzo
i	CONJ	i
ubija	N:n	ubija
,	PUNCT	,
zla	A:aef	zao
kraljica	N:f	kraljica
Ravena	N:f	Ravena
preuzima	N:m	preuzima
apsolutnu	A:aef	apsolutan
vlast	N:f	vlast
nad	PREP	nad
kraljestvom	N:n	kraljestvom
i	CONJ	i
zaključava	N:f	zaključava
našu	PRO	naš
protagonistkinju	N:f	protagonistkinja
u	PREP	u
kulu	N:f	kula
,	PUNCT	,
zauvek	ADV	zauvek
je	PRO	ona
distancirajući	N:f	distancirajući
od	PREP	od
sveta	N:m	svet
.	SENT	.
Ravena	N:m	raven
je	PRO	ona
veštica	N:f	veštica
i	CONJ	i
mora	N:n	more
da	CONJ	da
se	PAR	se
hrani	N:f	hrana
lepotama	N:f	lepota
mladih	A:aen	mlad
devojaka	N:f	devojka
kako	CONJ	kako
bi	N:f	bi
ostala	V:f	ostati
zauvek	ADV	zauvek
mlada	A:aef	mlad
.	SENT	.
Njeno	PRO	njen
magično	A:aen	magičan
ogledalo	N:n	ogledalo
ukazuje	N:m	ukazuje
na	PREP	na
opasnost	N:f	opasnost
koju	PRO	koji
joj	PRO	ona
mlada	A:aef	mlad
Snežana	N:f	Snežana
može	A:aem	može
biti	N:f	bit
i	CONJ	i
da	CONJ	da
ako	CONJ	ako
konzumira	N:m	konzumira
njeno	PRO	njen
srce	N:n	srce
–	A:aem	–
ostaće	N:n	ostaće
zauvek	ADV	zauvek
mlada	A:aef	mlad
.	SENT	.
Snežana	N:f	Snežana
uspeva	N:m	uspeva
da	CONJ	da
pobegne	N:m	pobegne
iz	PREP	iz
zatočeništva	N:n	zatočeništvo
iz	PREP	iz
uz	PREP	uz
pomoć	N:f	pomoć
mladog	A:aen	mlad
lovca	N:m	lovac
pokušava	A:aef	pokušava
da	CONJ	da
oformi	A:aef	oformi
armiju	N:f	armija
sa	PREP	sa
kojom	PRO	koji
će	A:aef	će
moći	N:f	moć
da	CONJ	da
porazi	N:m	poraz
zlu	A:aem	zao
kraljicu	N:f	kraljica
.	SENT	.
“	A:aem	“
Snow	A:aem	Snow
White	N:m	White
and	N:m	and
the	N:m	the
Huntsman	N:m	Huntsman
”	N:m	”
je	PRO	ona
debitantski	A:aem	debitantski
dugometražni	A:aem	dugometražni
film	N:m	film
reditelja	N:m	reditelj
Ruperta	N:m	Rupert
Sandersa	N:m	Sanders
(	PUNCT	(
Rupert	N:m	Rupert
Sunders	N:m	Sunders
)	PUNCT	)
koji	PRO	koji
prema	PREP	prema
onome	PRO	onaj
što	CONJ	što
se	PAR	se
može	A:aem	može
videti	N:m	videti
,	PUNCT	,
je	PRO	ona
očaran	A:aem	očaran
epskim	A:aef	epski
avanturama	N:f	avantura
i	CONJ	i
bajkama	N:f	bajka
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
u	PREP	u
svom	PRO	sav
prvom	A:aen	prvi
pokušaju	N:m	pokušaj
u	PREP	u
ovom	PRO	ovaj
filmskom	A:aem	filmski
formatu	N:m	format
Rupert	N:m	Rupert
tehnički	ADV	tehnički
odlično	ADV	odlično
izneo	V:m	izneti
projekat	N:m	projekt
,	PUNCT	,
imajući	A:aem	imajući
u	PREP	u
sebi	PRO	sebe
fantastične	A:aem	fantastičan
efekte	N:m	efekt
,	PUNCT	,
kvalitetne	A:aef	kvalitetan
kadrove	N:m	kadar
i	CONJ	i
bogatu	A:aef	bogat
scenografiju	N:f	scenografija
,	PUNCT	,
ono	PRO	onaj
što	PRO	što
mu	PRO	on
zbilja	PAR	zbilja
nije	V:m	nije
uspeo	V:m	uspeti
da	CONJ	da
uskladi	N:f	uskladi
u	PREP	u
ovom	PRO	ovaj
ostvarenju	N:n	ostvarenje
jeste	INT	jeste
scenario	N:m	scenario
.	SENT	.
Scenario	N:m	scenario
filma	N:m	film
“	A:aem	“
Snow	A:aem	Snow
White	N:m	White
and	N:m	and
the	N:m	the
Huntsman	N:m	Huntsman
”	N:m	”
je	PRO	ona
ispunjen	V:m	ispuniti
svakim	PRO	svaki
mogućim	A:aen	moguć
klišeom	N:m	kliše
iz	PREP	iz
filmova	N:m	film
epske	A:aef	epski
fantastike	N:f	fantastika
,	PUNCT	,
krenuvši	V:m	krenuvši
od	PREP	od
toliko	ADV	toliko
izlizanih	A:aem	izlizan
dijaloga	N:m	dijalog
i	CONJ	i
fraza	N:f	fraza
,	PUNCT	,
preko	PREP	preko
narativa	N:m	narativa
i	CONJ	i
postavke	N:f	postavka
scena	N:f	scena
.	PUNCT	.
Iako	CONJ	iako
traje	N:m	traje
127	NUM	@card@
minuta	N:m	minut
i	CONJ	i
zbilja	PAR	zbilja
je	PRO	ona
ispunjen	V:m	ispuniti
svakakvim	PRO	svakakav
dešavanjima	N:n	dešavanje
,	PUNCT	,
film	N:m	film
većinskim	A:aef	većinski
delom	N:m	deo
biva	A:aem	biva
nezanimljiv	A:aem	nezanimljiv
i	CONJ	i
iritantan	A:aem	iritantan
,	PUNCT	,
i	CONJ	i
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
zbilja	PAR	zbilja
neverovatno	ADV	neverovatno
,	PUNCT	,
ispunjen	V:m	ispuniti
ogromnim	A:aef	ogroman
rupama	N:f	rupa
u	PREP	u
priči	N:f	priča
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
nelogičnim	A:aef	nelogičan
sekvencama	N:f	sekvenca
.	SENT	.
–	A:aem	–
Ok	N:m	Ok
,	PUNCT	,
jasno	ADV	jasno
je	PRO	ona
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
bajka	N:f	bajka
i	CONJ	i
da	CONJ	da
logika	N:f	logika
treba	N:f	treba
da	CONJ	da
bude	A:aen	bude
na	PREP	na
poslednjem	A:aem	poslednji
mestu	N:n	mesto
,	PUNCT	,
ali	CONJ	ali
neke	PRO	neki
scene	N:f	scena
se	PAR	se
tako	ADV	tako
jednostavno	ADV	jednostavno
dese	N:m	Des
,	PUNCT	,
bez	PREP	bez
ikakvog	PRO	ikakav
povoda	N:m	povod
i	CONJ	i
objašnjenja	N:n	objašnjenje
da	CONJ	da
vas	PRO	vi
naprosto	ADV	naprosto
ostavljaju	N:m	ostavljaju
u	PREP	u
rebusu	N:m	rebus
.	SENT	.
Npr	N:m	Npr
.	SENT	.
Zašto	A:aem	Zašto
je	PRO	ona
veliki	A:aem	velik
trol	N:m	trol
koji	PRO	koji
je	PRO	ona
vijao	V:m	vijati
Snežanu	N:f	Snežana
i	CONJ	i
lovca	N:m	lovac
da	CONJ	da
ih	PRO	ona
masakrira	N:m	masakrira
kada	CONJ	kada
se	PAR	se
ona	PRO	ona
proderala	V:f	proderati
jednostavno	ADV	jednostavno
otišao	V:m	otići
?	SENT	?
-	PUNCT	-
Ok	V:m	Ok
da	CONJ	da
,	PUNCT	,
ona	PRO	ona
je	PRO	ona
glas	N:m	glas
prirode	N:f	priroda
,	PUNCT	,
ali	CONJ	ali
opet	ADV	opet
to	PRO	taj
je	PRO	ona
onda	ADV	onda
prilično	ADV	prilično
nedovoljan	A:aem	nedovoljan
i	CONJ	i
lenj	A:aem	lenj
okret	N:m	okret
situacije	N:f	situacija
.	SENT	.
Veliki	A:aem	velik
problem	N:m	problem
leži	A:aem	leži
u	PREP	u
samom	PRO	sam
tempu	N:m	tempo
filma	N:m	film
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
u	PREP	u
pogrešnom	A:aem	pogrešan
akcentovanju	N:n	akcentovanje
pojedinih	A:aem	pojedini
scena	N:f	scena
.	SENT	.
Određeni	A:aem	Određeni
momenti	N:m	moment
predugo	ADV	predugo
traju	N:m	traju
bez	PREP	bez
ikakvog	PRO	ikakav
razloga	N:m	razlog
i	CONJ	i
dosta	ADV	dosta
remete	N:f	remeta
tempu	N:m	tempo
ostvarenja	N:n	ostvarenje
,	PUNCT	,
stvarajući	A:aem	stvarajući
prevelike	A:aem	prevelik
oscilacije	N:f	oscilacija
u	PREP	u
narativu	N:m	narativu
.	SENT	.
Još	N:m	Još
jedan	NUM	jedan
od	PREP	od
lošijih	A:bem	loš
segmenata	N:m	segment
u	PREP	u
filmu	N:m	film
jeste	INT	jeste
kvalitet	N:m	kvalitet
glume	N:f	gluma
.	SENT	.
Jedino	ADV	jedino
koga	PRO	koji
bih	A:aem	bih
istakao	V:m	istakati
jeste	INT	jeste
Šarliz	N:m	Šarliz
Teron	N:m	Teron
(	PUNCT	(
Charlize	N:f	Charlize
Theron	N:m	Theron
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
se	PAR	se
sjajno	ADV	sjajno
snašla	V:f	snaći
u	PREP	u
ulozi	N:f	uloga
Ravene	N:f	Ravena
,	PUNCT	,
bivajući	A:aem	bivajući
podjetnako	N:m	podjetnako
zastrašujuća	A:aem	zastrašujući
i	CONJ	i
misteriozna	A:aem	misteriozan
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
ostatka	N:m	ostatak
ekipe	N:f	ekipa
,	PUNCT	,
moram	N:m	moram
reći	A:aef	reći
da	CONJ	da
su	PREF	su
delimično	ADV	delimično
svi	PRO	sav
zakazali	V:m	zakazati
.	SENT	.
Kris	N:m	Kris
Hemzvurt	N:m	Hemzvurt
(	PUNCT	(
Chris	N:m	Chris
Hemsworth	A:aem	Hemsworth
)	PUNCT	)
i	CONJ	i
Sem	N:m	Sem
Klaflin	N:m	Klaflin
(	PUNCT	(
Sam	N:m	Sam
Claflin	N:m	Claflin
)	PUNCT	)
su	N:m	su
dosta	ADV	dosta
traljavo	ADV	traljavo
izneli	V:m	izneti
svoje	PRO	svoj
role	N:f	rola
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
Kristin	N:f	Kristin
Stjuart	N:m	Stjuart
(	PUNCT	(
Kristen	A:aem	Kristen
Stewart	N:m	Stewart
)	PUNCT	)
priča	N:f	priča
za	PREP	za
sebe	PRO	sebe
.	SENT	.
Poznata	V:m	poznati
već	PAR	već
kao	ADV	kao
izuzetno	ADV	izuzetno
loša	A:aem	loš
glumica	N:f	glumica
,	PUNCT	,
Stjuartova	A:aem	Stjuartov
je	PRO	ona
ovde	ADV	ovde
zaista	ADV	zaista
otvorila	V:m	otvoriti
novu	A:aen	nov
dimenzuje	N:f	dimenzuje
amaterstva	N:n	amaterstvo
,	PUNCT	,
imajući	A:aem	imajući
kroz	PREP	kroz
čitav	A:aem	čitav
film	N:m	film
istu	A:aem	isti
facijalnu	A:aef	facijalni
ekspresiju	N:f	ekspresija
za	PREP	za
sve	PRO	sav
moguće	A:aem	moguć
situacije	N:f	situacija
.	SENT	.
Ono	PRO	onaj
što	PRO	što
sam	PRO	sam
zapazio	V:m	zapaziti
,	PUNCT	,
a	CONJ	a
u	PREP	u
potpunosti	N:f	potpunost
mi	PRO	ja
je	PRO	ona
neverovatno	ADV	neverovatno
,	PUNCT	,
jeste	INT	jeste
da	CONJ	da
mlada	A:aef	mlad
glumica	N:f	glumica
ne	PAR	ne
može	ADV	može
čak	PAR	čak
ni	PAR	ni
u	PREP	u
većini	N:f	većina
scena	N:f	scena
da	CONJ	da
zatvori	N:m	zatvor
usta	N:n	usta
,	PUNCT	,
a	CONJ	a
kamoli	CONJ	kamoli
da	CONJ	da
izlažira	N:m	izlažira
neku	PRO	neki
emocija	N:f	emocija
.	SENT	.
Šokantno	A:aen	Šokantno
loš	A:aem	loš
performans	N:m	performans
.	SENT	.
“	A:aem	“
Snow	A:aem	Snow
White	N:m	White
nad	PREP	nad
the	N:m	the
Huntsman	N:m	Huntsman
”	A:aem	”
je	PRO	ona
film	N:m	film
koji	PRO	koji
je	PRO	ona
pucao	V:m	pucati
toliko	ADV	toliko
visoko	ADV	visoko
,	PUNCT	,
samo	CONJ	samo
da	CONJ	da
bi	A:aem	bi
pao	V:m	pasti
izuzetno	ADV	izuzetno
nisko	ADV	nisko
.	SENT	.
Očajnički	A:aem	Očajnički
pokušaj	N:m	pokušaj
reditelja	N:m	reditelj
da	CONJ	da
ukombinuje	V:m	ukombinuje
jednu	NUM	jedan
vrlo	ADV	vrlo
efetknu	A:aef	efetknu
priču	N:f	priča
i	CONJ	i
sve	PRO	sav
moguće	A:aem	moguć
mitologije	N:f	mitologija
i	CONJ	i
klišee	N:m	kliše
iz	PREP	iz
epskih	A:aef	epski
i	CONJ	i
bajkovitih	A:aef	bajkovit
avantura	N:f	avantura
je	PRO	ona
relzutirao	V:m	relzutirao
u	PREP	u
127	NUM	@card@
minuta	N:m	minut
tehnički	ADV	tehnički
odlično	ADV	odlično
izvedene	A:aem	izveden
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
vrlo	ADV	vrlo
dosadne	A:aef	dosadan
i	CONJ	i
odbojne	A:aef	odbojan
filmske	A:aem	filmski
adaptacije	N:f	adaptacija
.	SENT	.
Veliko	A:aen	velik
razočarenje	N:n	razočarenje
,	PUNCT	,
dobra	A:aef	dobar
ideja	N:f	ideja
,	PUNCT	,
ali	CONJ	ali
loša	A:aem	loš
realizacija	N:f	realizacija
.	SENT	.
