U	PREP	u
podnaslovu	N:m	podnaslov
je	PRO	ona
jedna	NUM	jedan
parodična	A:aef	parodična
rečenica	N:f	rečenica
.	SENT	.
Pitanje	N:n	pitanje
je	PRO	ona
samo	PAR	samo
ko	PRO	ko
je	PRO	ona
u	PREP	u
stanju	N:n	stanje
da	CONJ	da
je	PRO	ona
shvati	N:m	shvati
kao	ADV	kao
parodičnu	A:aem	parodičnu
?	SENT	?
Ko	PRO	ko
zna	N:m	zna
da	CONJ	da
je	PRO	ona
šopingovanje	N:m	šopingovanje
jadna	A:aef	jadan
zamena	N:f	zamena
za	PREP	za
sva	PRO	sav
ona	PRO	ona
prava	N:n	pravo
uživanja	N:n	uživanje
,	PUNCT	,
nedostižna	A:aem	nedostižan
zbog	PREP	zbog
nemoći	N:f	nemoća
,	PUNCT	,
neosetljivosti	N:f	neosetljivost
ili	CONJ	ili
nedosetljivosti	N:f	nedosetljivosti
?	SENT	?
Ko	PRO	ko
zna	N:f	zna
koliko	ADV	koliko
je	PRO	ona
fast	A:aem	fast
fud	N:m	fud
nezdrava	A:aef	nezdrav
hrana	N:f	hrana
?	SENT	?
Ko	PRO	ko
zna	N:m	zna
da	CONJ	da
je	PRO	ona
klima	N:f	klima
-	PUNCT	-
uređaj	N:m	uređaj
opasna	A:aef	opasan
sprava	N:f	sprava
?	SENT	?
Ko	PRO	ko
zna	N:m	zna
da	CONJ	da
ga	PRO	on
loš	A:aem	loš
film	N:m	film
zaglupljuje	N:m	zaglupljuje
?	PUNCT	?
Neko	PRO	neki
zna	N:m	zna
.	PUNCT	.
A	CONJ	a
neko	PRO	neki
ne	PAR	ne
zna	V:m	zna
.	SENT	.
Ko	PRO	ko
zna	N:f	zna
,	PUNCT	,
taj	PRO	taj
ili	CONJ	ili
ne	PAR	ne
voli	N:m	Voli
parodiju	N:f	parodija
ili	CONJ	ili
je	PRO	ona
,	PUNCT	,
pak	PAR	pak
,	PUNCT	,
po	PREP	po
prirodi	N:f	priroda
pakostan	A:aem	pakostan
pa	CONJ	pa
mu	PRO	on
prija	N:f	prija
kad	CONJ	kad
mu	PRO	on
se	PAR	se
podilazi	V:f	podilazi
sitnim	A:aef	sitan
zlobnim	A:aem	zloban
duhovitostima	N:f	duhovitost
na	PREP	na
račun	N:m	račun
onih	PRO	onaj
koje	PRO	koji
smatra	A:aem	smatra
gorima	N:m	gorima
od	PREP	od
sebe	PRO	sebe
.	SENT	.
Ko	PRO	ko
ne	PAR	ne
zna	V:m	zna
,	PUNCT	,
kupiće	A:aem	kupiće
rog	N:m	rog
za	PREP	za
sveću	N:f	sveća
,	PUNCT	,
npr	N:m	npr
.	PUNCT	.
Henkoka	N:m	Henkok
za	PREP	za
akcionu	A:aef	akcioni
komediju	N:f	komedija
o	PREP	o
superherojima	N:m	superherojima
.	PUNCT	.
A	CONJ	a
u	PREP	u
stvari	N:f	stvar
reč	N:f	reč
je	PRO	ona
o	PREP	o
filmu	N:m	film
koji	PRO	koji
počinje	N:f	počinje
kao	CONJ	kao
parodična	A:aef	parodična
zamisao	N:f	zamisao
tipa	N:m	tip
„	A:aem	„
zamisli	N:f	zamisao
kad	CONJ	kad
bi	A:aem	bi
superheroj	N:m	superheroj
u	PREP	u
običnom	A:aem	običan
životu	N:m	život
bio	V:m	biti
ne	PAR	ne
samo	PAR	samo
sitan	A:aem	sitan
i	CONJ	i
neuvažavan	A:aem	neuvažavan
,	PUNCT	,
nego	CONJ	nego
i	CONJ	i
ulična	A:aef	ulični
pijana	A:aef	pijan
baraba	N:f	baraba
s	PREP	s
amnezijom	N:f	amnezija
!	PUNCT	!
“	N:m	“
.	PUNCT	.
I	CONJ	i
tako	ADV	tako
sednu	A:aem	sednu
scenaristi	N:m	scenarista
,	PUNCT	,
piju	A:aen	piju
pivo	N:n	pivo
,	PUNCT	,
preziru	N:m	prezir
ceo	A:aem	ceo
svet	N:m	svet
i	CONJ	i
brainstorminguju	N:m	brainstorminguju
nabacujući	V:n	nabacujući
sve	PRO	sav
što	CONJ	što
im	PRO	ona
padne	A:aef	padni
na	PREP	na
pamet	N:f	pamet
.	SENT	.
Između	N:m	Između
ostalog	A:aem	ostalog
,	PUNCT	,
opuste	N:m	opuste
se	PAR	se
u	PREP	u
veseloj	A:aef	veseo
destruktivnosti	N:f	destruktivnost
i	CONJ	i
psovačkoj	A:aef	psovački
političkoj	A:aef	politički
nekorektnosti	N:f	nekorektnost
,	PUNCT	,
pa	CONJ	pa
još	ADV	još
umru	N:f	umru
od	PREP	od
smeha	N:m	smeh
i	CONJ	i
na	PREP	na
scensko	A:aen	scenski
bukvalizovano	A:aen	bukvalizovano
prikazivanje	N:n	prikazivanje
nekih	PRO	neki
psovki	N:f	psovka
.	SENT	.
Sve	ADV	sve
to	PRO	taj
zapišu	V:m	zapišu
dok	CONJ	dok
još	ADV	još
mogu	N:m	Mog
da	CONJ	da
pišu	N:f	pišu
.	SENT	.
Zatim	ADV	zatim
produže	A:aem	produže
s	PREP	s
pivom	N:n	pivo
.	SENT	.
Sutradan	ADV	sutradan
se	PAR	se
sretnu	A:aem	sretan
ponovo	ADV	ponovo
,	PUNCT	,
mamurni	A:aem	mamuran
,	PUNCT	,
ali	CONJ	ali
nastave	N:f	nastava
da	CONJ	da
rade	N:f	rada
.	SENT	.
Sad	ADV	sad
dođe	A:aem	dođe
tu	ADV	tu
i	CONJ	i
producent	N:m	producent
i	CONJ	i
kaže	N:f	kaža
da	CONJ	da
prestanu	N:m	prestanu
s	PREP	s
divljanjem	N:n	divljanje
,	PUNCT	,
pare	N:f	para
su	N:m	su
u	PREP	u
pitanju	N:n	pitanje
.	SENT	.
Scenaristi	N:m	scenarista
se	PAR	se
uozbilje	N:n	uozbilje
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
daju	N:m	Daj
svoje	PRO	svoj
jučerašnje	A:aef	jučerašnji
„	A:aem	„
umotvorine	N:f	umotvorina
“	N:m	“
da	CONJ	da
se	PAR	se
bace	N:m	bace
,	PUNCT	,
nego	CONJ	nego
oko	PREP	oko
njih	PRO	ona
reše	N:f	reše
da	CONJ	da
ispletu	A:aem	ispletu
ozbiljnu	A:aef	ozbiljan
dramaturšku	A:aef	dramaturški
mrežu	N:f	mreža
.	SENT	.
Znaju	N:m	Znaju
oni	PRO	onaj
to	PRO	taj
.	SENT	.
Gilligan	N:m	Gilligan
je	PRO	ona
radio	N:m	radio
i	CONJ	i
Dosije	N:f	Dosije
Iks	N:m	iks
,	PUNCT	,
nije	A:aem	nije
blesav	A:aem	blesav
.	SENT	.
Tako	ADV	tako
usred	PREP	usred
smejurije	N:f	smejurija
odnosa	N:m	odnos
superheroja	N:m	superheroja
(	PUNCT	(
Smith	A:aem	Smith
)	PUNCT	)
sa	PREP	sa
juče	ADV	juče
smišljenom	A:aen	smišljen
bivšom	A:aef	bivši
mu	PRO	on
ženom	N:f	žena
(	PUNCT	(
Theron	N:m	Theron
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
rešila	V:f	rešiti
da	CONJ	da
se	PAR	se
mane	N:f	mana
superherojstva	N:n	superherojstva
i	CONJ	i
da	CONJ	da
se	PAR	se
skrasi	V:m	skrasi
sa	PREP	sa
smrtnikom	N:m	smrtnik
,	PUNCT	,
odjednom	ADV	odjednom
upadamo	V:m	upadamo
u	PREP	u
tragičnu	A:aef	tragičan
priču	N:f	priča
hajlenderskog	A:aen	hajlenderskog
tipa	N:m	tip
.	SENT	.
I	CONJ	i
to	PRO	taj
priču	N:f	priča
koja	PRO	koji
,	PUNCT	,
po	PREP	po
svoj	PRO	sav
prilici	N:f	prilika
,	PUNCT	,
čačka	A:aem	čačka
tragizam	N:m	tragizam
odnosa	N:m	odnos
prema	PREP	prema
crncima	N:m	crnac
kroz	PREP	kroz
istoriju	N:f	istorija
,	PUNCT	,
te	PRO	taj
zabranu	N:f	zabrana
mešovitih	A:aem	mešovit
brakova	N:m	brak
.	SENT	.
Kad	CONJ	kad
se	PAR	se
tome	PRO	taj
pridoda	N:f	pridoda
totalna	A:aen	totalan
zbrka	N:f	zbrka
konstrukcije	N:f	konstrukcija
uparenosti	A:aem	uparenosti
superheroja	N:m	superheroja
(	PUNCT	(
moraju	N:m	moraju
da	CONJ	da
budu	A:aem	budu
zajedno	ADV	zajedno
i	CONJ	i
da	CONJ	da
čuvaju	N:m	čuvaju
jedno	NUM	jedan
drugo	A:aen	drugi
,	PUNCT	,
međutim	PAR	međutim
kad	CONJ	kad
su	N:m	su
zajedno	ADV	zajedno
,	PUNCT	,
propadaju	N:f	propadaju
,	PUNCT	,
a	CONJ	a
kad	CONJ	kad
nisu	N:m	nisu
zajedno	ADV	zajedno
,	PUNCT	,
neko	PRO	neki
propada	N:m	propada
,	PUNCT	,
neko	PRO	neki
ne	PAR	ne
,	PUNCT	,
a	CONJ	a
možda	PAR	možda
i	CONJ	i
sve	ADV	sve
suprotno	ADV	suprotno
)	PUNCT	)
,	PUNCT	,
sve	ADV	sve
po	PREP	po
opštim	A:aem	opšti
striktnim	A:aen	striktan
,	PUNCT	,
a	CONJ	a
konkretno	ADV	konkretno
nedoslednim	A:aen	nedosledan
pravilima	N:n	pravilo
fantastičnih	A:aen	fantastičan
žanrova	N:m	žanr
,	PUNCT	,
e	CONJ	e
onda	CONJ	onda
smo	N:f	smo
stvarno	ADV	stvarno
u	PREP	u
problemu	N:m	problem
,	PUNCT	,
koji	PRO	koji
narasta	A:aem	narasta
tim	N:m	tim
više	ADV	više
što	CONJ	što
se	PAR	se
lepo	ADV	lepo
vidi	N:f	vida
„	A:aem	„
kuka	N:m	kuk
“	A:aem	“
za	PREP	za
koju	PRO	koji
treba	N:f	treba
da	CONJ	da
se	PAR	se
zakači	A:aem	zakači
sledeći	A:aem	sledeći
nastavak	N:m	nastavak
.	PUNCT	.
I	CONJ	i
s	PREP	s
njim	PRO	on
još	ADV	još
sinepleksova	A:aem	sinepleksova
,	PUNCT	,
još	ADV	još
šoping	N:m	šoping
-	PUNCT	-
molova	N:m	mol
,	PUNCT	,
još	ADV	još
fast	A:aem	fast
fudova	N:m	fudova
–	A:aem	–
pamet	N:f	pamet
je	PRO	ona
ograničena	A:aen	ograničen
,	PUNCT	,
a	CONJ	a
gluposti	N:f	glupost
kraja	N:m	kraj
nema	A:aem	nem
!	PUNCT	!
