Slikar	N:m	slikar
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
je	PRO	ona
raščupan	V:m	raščupati
,	PUNCT	,
pije	A:aen	pije
vino	N:n	vino
i	CONJ	i
nema	A:aem	nem
u	PREP	u
šta	PRO	šta
da	CONJ	da
utakne	A:aem	utakne
fleš	N:m	fleš
pa	CONJ	pa
mora	N:n	more
da	CONJ	da
,	PUNCT	,
baš	PAR	baš
usred	PREP	usred
noći	N:f	noć
,	PUNCT	,
svrati	N:m	svrati
do	PREP	do
ozloglašene	A:aef	ozloglašen
organizacije	N:f	organizacija
ZOM	N:f	ZOM
u	PREP	u
Trstu	N:m	Trst
;	SENT	;
zavodnica	N:f	zavodnica
baš	PAR	baš
liči	N:m	liči
na	PREP	na
Hičkokove	A:aef	Hičkokov
hladne	A:aef	hladan
plavuše	N:f	plavuša
(	PUNCT	(
a	CONJ	a
i	CONJ	i
nosi	A:aem	nosi
se	PAR	se
po	PREP	po
onoj	PRO	onaj
modi	N:f	moda
)	PUNCT	)
;	SENT	;
zlog	A:aem	zao
(	PUNCT	(
ono	PRO	onaj
)	PUNCT	)
stranog	A:aem	stran
trgovca	N:m	trgovac
umetninama	N:f	umetnina
igra	N:f	igra
baš	PAR	baš
Svetozar	N:m	Svetozar
Cvetković	N:m	Cvetković
,	PUNCT	,
gotovo	ADV	gotovo
neodvojiv	A:aem	neodvojiv
od	PREP	od
hladnih	A:aem	hladan
japijevskih	A:aem	japijevskih
enterijera	N:m	enterijer
u	PREP	u
koje	PRO	koji
ga	PRO	on
je	PRO	ona
kao	CONJ	kao
mumiju	N:f	mumija
u	PREP	u
savremenu	A:aen	savremen
grobnicu	N:f	grobnica
već	CONJ	već
ugradio	V:m	ugraditi
Miša	N:m	Miša
Radivojević	N:m	Radivojević
.	SENT	.
Iako	CONJ	iako
ima	A:aem	ima
sve	PRO	sav
elemente	N:m	element
potrebne	A:aem	potreban
da	CONJ	da
vam	PRO	vi
potpetice	N:f	potpetica
zlokobnih	A:aef	zlokoban
žena	N:f	žena
iz	PREP	iz
grozomorne	A:aef	grozomoran
organizacije	N:f	organizacija
ZOM	N:f	ZOM
za	PREP	za
međunarodnu	A:aef	međunarodan
hipnozu	N:f	hipnoza
talentovanih	A:aen	talentovan
ljudi	N:m	ljudi
odzvanjaju	N:m	odzvanjaju
u	PREP	u
glavi	N:f	glava
kao	CONJ	kao
u	PREP	u
mračnom	A:aem	mračan
hodniku	N:m	hodnik
,	PUNCT	,
Prelaz	N:m	prelaz
nekako	ADV	nekako
ne	PAR	ne
uspeva	V:n	uspeva
da	CONJ	da
prevede	N:m	prevede
gledaoca	N:m	gledalac
preko	PREP	preko
svojih	PRO	svoj
uslovnosti	N:f	uslovnost
u	PREP	u
oblast	N:f	oblast
hičkokovske	A:aef	hičkokovske
magije	N:f	magija
koju	PRO	koji
sebi	PRO	sebe
zadaje	N:f	zadaje
za	PREP	za
cilj	N:m	cilj
.	SENT	.
Tako	ADV	tako
,	PUNCT	,
tokom	PREP	tokom
dobrog	A:aem	dobar
dela	N:n	delo
filma	N:m	film
,	PUNCT	,
stvara	N:m	stvara
se	PAR	se
čudna	A:aef	čudan
disproporcija	N:f	disproporcija
između	PREP	između
gledaoca	N:m	gledalac
i	CONJ	i
glavnog	A:aem	glavnog
junaka	N:m	junak
koji	PRO	koji
postaje	N:f	postaja
žrtva	N:f	žrtva
manipulacije	N:f	manipulacija
.	SENT	.
Sve	PRO	sav
vreme	N:n	vreme
deluje	N:m	deluje
da	CONJ	da
Vlado	N:m	Vlada
,	PUNCT	,
mladi	A:aem	mlad
i	CONJ	i
talentovani	A:aem	talentovan
slikar	N:m	slikar
iz	PREP	iz
Ljubljane	N:f	Ljubljana
,	PUNCT	,
nekim	PRO	neki
čudom	N:n	čudo
reaguje	N:m	reaguje
na	PREP	na
filmske	A:aef	filmski
maske	N:f	maska
u	PREP	u
vidu	N:f	vida
privezaka	N:m	privezak
na	PREP	na
lančiću	N:m	lančić
Tanje	N:f	Tanja
,	PUNCT	,
studentkinje	N:f	studentkinja
na	PREP	na
nepriznatoj	A:aef	nepriznat
školi	N:f	škola
psihoanalize	N:f	psihoanaliza
.	SENT	.
U	PREP	u
najsablasnijim	A:cef	najsablasnijim
scenama	N:f	scena
u	PREP	u
kojima	PRO	koji
se	PAR	se
Vlado	N:m	Vlada
batrga	N:m	batrga
između	PREP	između
šaka	N:f	šaka
sa	PREP	sa
nalakiranim	A:aem	nalakiranim
noktima	N:m	nokat
direktorke	N:f	direktorka
ZOM	N:f	ZOM
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
na	PREP	na
pamet	N:f	pamet
pada	N:m	pad
jedino	CONJ	jedino
reklama	N:f	reklama
za	PREP	za
Vožd	N:m	Vožd
.	SENT	.
Na	PREP	na
Vladovim	A:aef	Vladovim
slikama	N:f	slika
nalazi	N:m	nalaz
se	PAR	se
devojka	N:f	devojka
koju	PRO	koji
on	PRO	on
u	PREP	u
stvarnosti	N:f	stvarnost
sreće	N:f	sreća
tek	CONJ	tek
pošto	CONJ	pošto
je	PRO	ona
slike	N:f	slika
naslikao	V:m	naslikati
i	CONJ	i
dobio	V:m	dobiti
za	PREP	za
njih	PRO	ona
nepristojnu	A:aef	nepristojan
,	PUNCT	,
okultističku	A:aef	okultistički
Cvetkvovićevu	A:aef	Cvetkvovićevu
ponudu	N:f	ponuda
.	SENT	.
S	PREP	s
tim	PRO	taj
u	PREP	u
vezi	N:f	veza
moglo	V:n	moći
bi	A:aen	bi
se	PAR	se
pomisliti	N:m	pomisliti
da	CONJ	da
autori	N:m	autor
hoće	A:aem	hoće
da	CONJ	da
nam	PRO	mi
kažu	N:f	kaža
kako	CONJ	kako
ideje	N:f	ideja
i	CONJ	i
vizije	N:f	vizija
koje	PRO	koji
i	CONJ	i
mi	PRO	ja
imamo	N:m	imamo
možda	PAR	možda
nisu	N:m	nisu
naše	PRO	naš
,	PUNCT	,
već	CONJ	već
su	N:m	su
nam	PRO	mi
nekako	ADV	nekako
implantirane	A:aem	implantiran
„	N:m	„
odozgo	ADV	odozgo
“	A:aem	“
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
nepristojno	A:aen	nepristojan
je	PRO	ona
ulaziti	N:m	ulaziti
u	PREP	u
slobodne	A:aef	slobodan
asicijativne	A:aem	asicijativne
tokove	N:m	tok
gledalaca	N:m	gledalac
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
ni	PAR	ni
sam	A:aem	sam
Prelaz	N:m	prelaz
nije	A:aem	nije
sačinje	N:f	sačinje
od	PREP	od
preteranog	A:aem	preteran
originalnog	A:aen	originalan
materijala	N:m	materijal
.	SENT	.
