Christopher	N:m	Christopher
Paolini	N:m	Paolini
je	PRO	ona
počeo	V:m	početi
da	CONJ	da
piše	A:aem	piše
Eragon	N:m	Eragon
,	PUNCT	,
fantazijski	A:aem	fantazijski
roman	N:m	roman
o	PREP	o
zmajevima	A:aef	zmajev
,	PUNCT	,
elfovima	A:aef	elfovima
i	CONJ	i
dečaku	N:m	dečak
sa	PREP	sa
farme	N:f	farma
koji	PRO	koji
otkriva	N:m	otkriva
da	CONJ	da
je	PRO	ona
njegova	PRO	njegov
sudbina	N:f	sudbina
da	CONJ	da
uništi	A:aen	uništi
zlo	A:aen	zao
carstvo	N:n	carstvo
,	PUNCT	,
kada	CONJ	kada
je	PRO	ona
imao	V:m	imati
15	NUM	@card@
godina	N:f	godina
.	SENT	.
Ove	PRO	ovaj
teme	N:f	tema
vam	PRO	vi
možda	PAR	možda
zvuče	V:n	zvuče
poznato	A:aen	poznat
,	PUNCT	,
i	CONJ	i
to	PRO	taj
je	PRO	ona
možda	PAR	možda
važan	A:aem	važan
deo	N:m	deo
uspeha	N:m	uspeh
knjige	N:f	knjiga
:	SENT	:
Postala	V:f	postati
je	PRO	ona
bestseler	N:m	bestseler
.	PUNCT	.
I	CONJ	i
ja	PRO	ja
sam	PRO	sam
mogla	V:n	moći
da	CONJ	da
napišem	V:n	napišem
takvu	PRO	takav
knjigu	N:f	knjiga
(	PUNCT	(
iako	CONJ	iako
možda	PAR	možda
ne	PAR	ne
sa	PREP	sa
15	NUM	@card@
godina	N:f	godina
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
nikad	ADV	nikad
ne	PAR	ne
bih	A:aen	bih
pretpostavila	V:n	pretpostaviti
da	CONJ	da
bi	A:aem	bi
Tolkien	N:m	Tolkien
-	PUNCT	-
ova	PRO	ovaj
imperija	N:f	imperija
i	CONJ	i
Lucasfilm	N:m	Lucasfilm
dozvolili	V:m	dozvoliti
da	CONJ	da
upotrebim	A:aem	upotrebim
sve	PRO	sav
njihove	PRO	njihov
ideje	N:f	ideja
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
jedan	NUM	jedan
Paolini	N:f	Paolini
-	PUNCT	-
jev	A:aem	jev
lik	N:m	lik
kaže	N:f	kaža
,	PUNCT	,
lakše	ADV	lakše
je	PRO	ona
oprostiti	N:m	oprostiti
nego	CONJ	nego
dozvoliti	N:f	dozvoliti
,	PUNCT	,
i	CONJ	i
izgleda	N:m	izgled
da	CONJ	da
je	PRO	ona
svako	PRO	svaki
oprostio	V:m	oprostiti
Paolini	N:f	Paolini
-	PUNCT	-
ju	PRO	ona
(	PUNCT	(
do	ADV	do
određene	V:f	odrediti
tačke	N:f	tačka
-	PUNCT	-
videćemo	N:f	videćemo
kako	CONJ	kako
će	A:aem	će
proći	A:aem	proći
film	N:m	film
)	PUNCT	)
.	SENT	.
To	PRO	taj
je	PRO	ona
dobro	ADV	dobro
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
svaki	PRO	svaki
glavni	A:aem	glavni
zaplet	N:m	zaplet
u	PREP	u
Eragonu	N:m	Eragonu
'	A:aem	'
skinut	A:aem	skinut
'	N:m	'
ili	CONJ	ili
iz	PREP	iz
Gospodara	N:m	gospodar
prstenova	N:m	prsten
ili	CONJ	ili
iz	PREP	iz
Zvezdanih	A:aem	zvezdan
ratova	N:m	rat
(	PUNCT	(
sa	PREP	sa
povremenim	A:aen	povremen
obraćanjem	N:n	obraćanje
,	PUNCT	,
verovatno	ADV	verovatno
podsvesnim	A:aen	podsvestan
,	PUNCT	,
drugim	A:aem	drugi
izvorima	N:m	izvor
kao	CONJ	kao
što	CONJ	što
The	INT	The
Wizard	N:m	Wizard
of	N:m	of
Oz	N:m	Oz
)	PUNCT	)
.	SENT	.
Zapravo	ADV	zapravo
,	PUNCT	,
Eragon	N:m	Eragon
je	PRO	ona
toliko	ADV	toliko
derivativan	A:aem	derivativan
,	PUNCT	,
da	CONJ	da
je	PRO	ona
čudo	N:n	čudo
što	CONJ	što
je	PRO	ona
uopšte	ADV	uopšte
objavljen	V:m	objaviti
.	SENT	.
Ah	INT	ah
da	CONJ	da
,	PUNCT	,
izdavačke	A:aem	izdavački
kuće	N:f	kuća
više	ADV	više
ne	PAR	ne
drže	A:aem	drže
nikakav	PRO	nikakav
standard	N:m	standard
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
takođe	PAR	takođe
iznenađujuće	ADV	iznenađujuće
jeste	INT	jeste
da	CONJ	da
je	PRO	ona
režiser	N:m	režiser
Stefen	A:aem	Stefen
Fangmeier	N:m	Fangmeier
pokušao	V:m	pokušati
da	CONJ	da
napravi	N:f	naprava
prilično	ADV	prilično
pristojan	A:aem	pristojan
film	N:m	film
od	PREP	od
ovog	PRO	ovaj
generičkog	A:aem	generički
fantazijskog	A:aem	fantazijskog
romana	N:m	roman
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
previše	ADV	previše
scena	N:f	scena
je	PRO	ona
opet	ADV	opet
iskopirano	V:n	iskopirati
iz	PREP	iz
Gospodara	N:m	gospodar
prstenova	N:m	prsten
-	PUNCT	-
orkovi	A:aem	orkovi
su	N:m	su
se	PAR	se
opet	ADV	opet
vratili	V:m	vratiti
,	PUNCT	,
u	PREP	u
potpunosti	N:f	potpunost
isti	A:aem	isti
osim	PREP	osim
imena	N:n	ime
-	PUNCT	-
a	CONJ	a
budući	A:aem	budući
da	CONJ	da
je	PRO	ona
završetak	N:m	završetak
ovih	PRO	ovaj
filmova	N:m	film
uvek	ADV	uvek
slab	A:aem	slab
,	PUNCT	,
ništa	ADV	ništa
drugačije	ADV	drugačije
nije	V:m	nije
ni	PAR	ni
sa	PREP	sa
Eragonom	N:m	Eragonom
.	PUNCT	.
Šteta	N:m	Šteta
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
Fangmeier	N:m	Fangmeier
-	PUNCT	-
ova	PRO	ovaj
režija	N:f	režija
zapravo	ADV	zapravo
bolja	A:bef	dobar
od	PREP	od
Jackson	N:m	Jackson
-	PUNCT	-
ove	PRO	ovaj
,	PUNCT	,
kinematografija	N:f	kinematografija
Eragona	N:m	Eragona
je	PRO	ona
možda	PAR	možda
bolja	A:bef	dobar
od	PREP	od
Gospodara	N:m	gospodar
prstenova	N:m	prsten
(	PUNCT	(
evropski	A:aem	evropski
pejzaži	N:m	pejzaž
su	N:m	su
odlični	A:aem	odličan
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
CGI	N:f	CGI
zmaj	N:m	zmaj
je	PRO	ona
mnogo	ADV	mnogo
bolji	A:bem	dobar
nego	CONJ	nego
,	PUNCT	,
recimo	N:m	recimo
,	PUNCT	,
hipogrif	N:m	hipogrif
u	PREP	u
Hariju	N:m	Hari
Poteru	N:m	Poter
od	PREP	od
pre	ADV	pre
nekoliko	ADV	nekoliko
godina	N:f	godina
.	SENT	.
(	PUNCT	(
CGI	N:f	CGI
se	PAR	se
unapređuje	N:m	unapređuje
sa	PREP	sa
svakim	PRO	svaki
sledećim	A:aef	sledeći
većim	A:bem	velik
filmom	N:m	film
.	PUNCT	.
)	PUNCT	)
A	ABB	A
ni	CONJ	ni
glumačka	A:aef	glumački
ekipa	N:f	ekipa
nije	A:aen	nije
loša	A:aem	loš
,	PUNCT	,
predvođena	A:aem	predvođen
Jeremy	N:m	Jeremy
-	PUNCT	-
jem	A:aem	jem
Irons	N:m	Irons
-	PUNCT	-
om	N:m	om
(	PUNCT	(
čiji	PRO	čiji
nas	PRO	mi
je	PRO	ona
glas	N:m	glas
na	PREP	na
nesreću	N:f	nesreća
podsetio	V:m	podsetiti
na	PREP	na
još	ADV	još
jedan	NUM	jedan
skoriji	A:bem	skori
blockbuster	N:m	blockbuster
,	PUNCT	,
The	INT	The
Lion	N:m	Lion
King	N:m	King
)	PUNCT	)
.	SENT	.
John	N:m	John
Malkovich	A:aef	Malkovich
ima	N:f	ima
nedovoljno	ADV	nedovoljno
istaknutu	A:aef	istaknut
ulogu	N:f	uloga
kao	CONJ	kao
zao	A:aem	zao
kralj	N:m	kralj
Galbatorix	N:m	Galbatorix
,	PUNCT	,
a	CONJ	a
novajlija	N:f	novajlija
Edward	N:m	Edward
Speleers	N:m	Speleers
kao	CONJ	kao
Eragon	N:m	Eragon
je	PRO	ona
mnogo	ADV	mnogo
dopadljiviji	A:bem	dopadljiv
nego	CONJ	nego
Hayden	A:aem	Hayden
Christensen	N:m	Christensen
(	PUNCT	(
u	PREP	u
onome	PRO	onaj
što	CONJ	što
je	PRO	ona
u	PREP	u
biti	N:f	bit
ista	A:aef	isti
uloga	N:f	uloga
)	PUNCT	)
,	PUNCT	,
što	CONJ	što
nas	PRO	mi
je	PRO	ona
podsetilo	V:n	podsetiti
koliko	ADV	koliko
bi	A:aef	bi
predstavci	N:f	predstavka
bili	V:m	biti
bolji	A:bem	dobar
bez	PREP	bez
Christensen	N:m	Christensen
-	PUNCT	-
a	CONJ	a
.	PUNCT	.
Ali	CONJ	ali
na	PREP	na
kraju	N:m	kraj
svega	ADV	svega
,	PUNCT	,
one	PRO	onaj
stvari	N:f	stvar
koje	PRO	koji
su	N:m	su
u	PREP	u
Eragonu	N:m	Eragonu
dobre	A:aem	dobar
se	PAR	se
ne	PAR	ne
računaju	N:m	računaju
-	PUNCT	-
još	ADV	još
jednom	NUM	jedan
,	PUNCT	,
razlika	N:f	razlika
između	PREP	između
dobrog	A:aem	dobar
i	CONJ	i
lošeg	A:aem	loš
filma	N:m	film
je	PRO	ona
uvek	ADV	uvek
scenario	N:m	scenario
.	SENT	.
A	CONJ	a
knjiga	N:f	knjiga
je	PRO	ona
jednostavno	ADV	jednostavno
previše	ADV	previše
derivativna	A:aen	derivativna
da	CONJ	da
bi	A:aen	bi
se	PAR	se
shvatila	V:f	shvatiti
ozbiljno	ADV	ozbiljno
.	SENT	.
Skoro	ADV	skoro
sve	PRO	sav
fantazije	N:f	fantazija
su	PREF	su
derivativne	A:aem	derivativne
-	PUNCT	-
C	ABB	C
.	PUNCT	.
S	PREP	s
.	PUNCT	.
Lewis	N:m	Lewis
,	PUNCT	,
Tolkien	N:m	Tolkien
,	PUNCT	,
Lloyd	A:aem	Lloyd
Alexander	N:m	Alexander
i	CONJ	i
još	ADV	još
nekolicina	N:f	nekolicina
dečijih	A:aef	dečiji
pisaca	N:m	pisac
su	N:m	su
praktično	ADV	praktično
izmislili	V:m	izmisliti
sve	PRO	sav
teme	N:f	tema
decenijama	N:f	decenija
ranije	ADV	ranije
,	PUNCT	,
a	CONJ	a
nijedan	A:aem	nijedan
skoriji	A:bem	skori
nije	N:m	nije
uneo	V:m	uneti
ništa	ADV	ništa
novo	A:aen	nov
čega	PRO	šta
bi	N:m	bi
mogli	V:m	moći
da	CONJ	da
se	PAR	se
setimo	N:f	setimo
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
zajedničko	A:aen	zajednički
za	PREP	za
sve	PRO	sav
te	PRO	taj
pisce	N:m	pisac
-	PUNCT	-
i	CONJ	i
razlog	N:m	razlog
zbog	PREP	zbog
čega	PRO	šta
su	N:m	su
njihove	PRO	njihov
knjige	N:f	knjiga
klasici	N:f	klasika
-	PUNCT	-
jeste	INT	jeste
da	CONJ	da
su	N:m	su
svi	PRO	sav
oni	PRO	onaj
bili	V:m	biti
moralisti	N:m	moralista
;	SENT	;
okrenuvši	V:m	okrenuvši
se	PAR	se
fantaziji	N:f	fantazija
,	PUNCT	,
oni	PRO	onaj
su	N:m	su
pojednostavili	V:m	pojednostaviti
fikciju	N:f	fikcija
uklonivši	V:m	uklonivši
sve	PRO	sav
nepotrebne	A:aef	nepotreban
detalje	N:m	detalj
stvarnog	A:aem	stvaran
života	N:m	život
i	CONJ	i
predstavili	V:m	predstaviti
nam	PRO	mi
zabavne	A:aef	zabavan
priče	N:f	priča
sa	PREP	sa
snažnim	A:aef	snažan
tradicionalnim	A:aen	tradicionalan
vrednostima	N:f	vrednost
.	SENT	.
To	PRO	taj
je	PRO	ona
ono	PRO	onaj
što	PRO	što
su	N:m	su
dečiji	A:aem	dečiji
pisci	N:f	piska
radili	V:m	raditi
,	PUNCT	,
pre	ADV	pre
nego	CONJ	nego
što	PRO	što
su	N:m	su
se	PAR	se
latili	V:m	latiti
tema	N:f	tema
o	PREP	o
zloupotrebi	N:f	zloupotreba
droge	N:f	droga
i	CONJ	i
samohranim	A:aef	samohran
roditeljima	N:m	roditelj
(	PUNCT	(
i	CONJ	i
zaboravili	V:m	zaboraviti
sve	ADV	sve
ostale	V:f	ostati
teme	N:f	tema
)	PUNCT	)
.	SENT	.
Zašto	A:aem	Zašto
je	PRO	ona
fantazija	N:f	fantazija
popularna	A:aem	popularan
?	PUNCT	?
Pa	CONJ	pa
upravo	ADV	upravo
zbog	PREP	zbog
zloupotrebe	N:f	zloupotreba
droge	N:f	droga
i	CONJ	i
samohranih	A:aem	samohran
roditelja	N:m	roditelj
,	PUNCT	,
zbog	PREP	zbog
Iraka	N:m	Irak
i	CONJ	i
Koreje	N:f	Koreja
,	PUNCT	,
Zbog	A:aem	Zbog
Paris	N:m	Paris
Hilton	N:m	Hilton
i	CONJ	i
Hillary	A:aem	Hillary
Clinton	N:m	Clinton
.	PUNCT	.
Zato	ADV	zato
što	CONJ	što
je	PRO	ona
stvarni	A:aem	stvaran
svet	N:m	svet
oko	PREP	oko
nas	PRO	mi
prepun	A:aem	prepun
razočarenja	N:n	razočarenje
i	CONJ	i
ljudi	N:m	ljudi
zatvorenih	A:aem	zatvoren
umova	N:m	um
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
heroja	N:m	heroj
otvorenih	A:aef	otvoren
umova	N:m	um
i	CONJ	i
magije	N:f	magija
.	PUNCT	.
I	CONJ	i
zbog	PREP	zbog
svega	PRO	sav
toga	PRO	taj
,	PUNCT	,
fantazija	N:f	fantazija
nigde	ADV	nigde
neće	A:aem	neće
otići	N:m	otići
još	ADV	još
neko	PRO	neki
vreme	N:n	vreme
.	SENT	.
A	CONJ	a
neko	PRO	neki
treba	N:f	treba
da	CONJ	da
počne	A:aem	počne
da	CONJ	da
piše	A:aem	piše
pristojnu	A:aef	pristojan
,	PUNCT	,
originalnu	A:aef	originalan
fantaziju	N:f	fantazija
i	CONJ	i
nastavi	N:f	nastava
sa	PREP	sa
tradicijom	N:f	tradicija
.	SENT	.
