Poslednja	A:aem	poslednji
ekskurzija	N:f	ekskurzija
iz	PREP	iz
2000	NUM	@card@
.	PUNCT	.
će	A:aem	će
ostati	N:m	ostati
upamćena	A:aef	upamćen
kao	CONJ	kao
pametna	A:aef	pametan
diverzija	N:f	diverzija
na	PREP	na
račun	N:m	račun
smrtno	ADV	smrtno
dosadnih	A:aem	dosadan
neoslešera	N:m	neoslešera
sa	PREP	sa
kraja	N:m	kraj
devedesetih	A:aem	devedeseti
.	SENT	.
Scenaristi	N:m	scenarista
Dosijea	N:m	dosije
X	A:aem	X
James	N:m	James
Wong	N:m	Wong
i	CONJ	i
Glen	N:f	Glen
Morgan	N:m	Morgan
osmislili	V:m	osmisliti
su	N:m	su
koncept	N:m	koncept
u	PREP	u
kom	PRO	koji
je	PRO	ona
ubica	N:m	ubica
izlišan	A:aem	izlišan
.	SENT	.
Protivnik	N:m	protivnik
postaje	N:f	postaja
smrt	N:f	smrt
lično	ADV	lično
,	PUNCT	,
a	CONJ	a
njeni	PRO	njen
otkosi	N:m	otkos
ovaploćeni	V:m	ovaplotiti
su	N:m	su
kroz	PREP	kroz
„	A:aem	„
nesrećne	A:aem	nesrećan
slučajeve	N:m	slučaj
“	A:aem	“
–	N:m	–
nešto	ADV	nešto
poput	PREP	poput
Predskazanja	N:n	predskazanje
ukrštenog	A:aen	ukršten
sa	PREP	sa
doživljajima	N:m	doživljaj
Pere	N:m	Pera
Kojota	N:m	Kojot
.	SENT	.
U	PREP	u
nastavku	N:m	nastavak
,	PUNCT	,
David	N:m	David
R	N:f	R
.	SENT	.
Ellis	N:m	Ellis
je	PRO	ona
nagazio	V:m	nagaziti
na	PREP	na
gas	N:m	gas
u	PREP	u
spektakularno	A:aen	spektakularan
orkestriranoj	A:aef	orkestriran
sceni	N:f	scena
saobraćajne	A:aef	saobraćajni
nesreće	N:f	nesreća
i	CONJ	i
,	PUNCT	,
poigravajući	V:m	poigravajući
se	PAR	se
konceptom	N:m	koncept
do	PREP	do
granica	N:f	granica
morbidne	A:aef	morbidan
parodije	N:f	parodija
,	PUNCT	,
snimio	V:m	snimiti
jedan	NUM	jedan
od	PREP	od
retkih	A:aef	redak
nastavaka	N:m	nastavak
koji	PRO	koji
može	A:aem	može
da	CONJ	da
parira	N:n	parira
originalu	N:m	original
.	SENT	.
U	PREP	u
trećem	A:aem	treći
delu	N:n	delo
se	PAR	se
osetio	V:m	osetiti
nedostatak	N:m	nedostatak
ideja	N:f	ideja
,	PUNCT	,
ali	CONJ	ali
su	N:m	su
se	PAR	se
autori	N:m	autor
(	PUNCT	(
ponovo	ADV	ponovo
Wong	N:m	Wong
i	CONJ	i
Morgan	N:m	Morgan
)	PUNCT	)
ipak	PAR	ipak
donekle	ADV	donekle
potrudili	V:m	potruditi
da	CONJ	da
inicijalni	A:aem	inicijalan
koncept	N:m	koncept
obogate	A:aem	obogate
sa	PREP	sa
bar	PAR	bar
malo	ADV	malo
sveže	A:aen	svež
krvi	N:f	krv
.	SENT	.
Četvrti	A:aem	Četvrti
deo	N:m	deo
u	PREP	u
originalnom	A:aem	originalan
nazivu	N:m	naziv
dolazi	N:m	dolaz
bez	PREP	bez
broja	N:m	broj
u	PREP	u
naslovu	N:m	naslov
,	PUNCT	,
ali	CONJ	ali
uz	PREP	uz
jedno	ADV	jedno
The	INT	The
na	PREP	na
početku	N:m	početak
što	CONJ	što
bi	N:f	bi
,	PUNCT	,
valjda	PAR	valjda
,	PUNCT	,
trebalo	V:n	trebati
da	CONJ	da
nam	PRO	mi
stavi	N:m	stavi
do	PREP	do
znanja	N:n	znanje
da	CONJ	da
gledamo	N:f	gledamo
ultimativnu	A:aef	ultimativan
verziju	N:f	verzija
stare	A:aem	star
priče	N:f	priča
.	PUNCT	.
Ni	PAR	ni
primaći	A:aem	primaći
tome	PRO	taj
.	SENT	.
Jedini	A:aem	jedini
povod	N:m	povod
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
renesansa	N:f	renesansa
3	NUM	@card@
D	N:m	D
-	PUNCT	-
horora	N:m	horor
,	PUNCT	,
a	CONJ	a
i	CONJ	i
on	PRO	on
na	PREP	na
kraju	N:m	kraj
postaje	N:f	postaja
sebi	PRO	sebe
svrha	N:f	svrha
,	PUNCT	,
budući	A:aem	budući
da	CONJ	da
nije	A:aem	nije
poslužio	V:m	poslužiti
za	PREP	za
idejnu	A:aef	idejni
nadogradnju	N:f	nadogradnja
recikliranih	A:aen	recikliran
momenata	N:m	moment
iz	PREP	iz
prethodnika	N:m	prethodnik
.	SENT	.
Ellis	N:m	Ellis
se	PAR	se
ugleda	N:m	ugled
na	PREP	na
sopstveni	A:aem	sopstven
film	N:m	film
već	CONJ	već
u	PREP	u
uvodnoj	A:aef	uvodni
sceni	N:f	scena
nesreće	N:f	nesreća
(	PUNCT	(
ovog	PRO	ovaj
puta	ADV	puta
na	PREP	na
trkalištu	N:n	trkalište
umesto	PREP	umesto
na	PREP	na
otvorenom	A:aem	otvoren
drumu	N:m	drum
)	PUNCT	)
,	PUNCT	,
da	CONJ	da
bi	V:m	bi
nam	PRO	mi
potom	ADV	potom
priredio	V:m	prirediti
repliku	N:f	replika
scene	N:f	scena
iz	PREP	iz
zubarske	A:aef	zubarski
ordinacije	N:f	ordinacija
iz	PREP	iz
drugog	A:aem	drugi
dela	N:n	delo
,	PUNCT	,
ovoga	PRO	ovaj
puta	ADV	puta
smeštene	V:f	smestiti
u	PREP	u
salon	N:m	salon
lepote	N:f	lepota
.	SENT	.
Na	PREP	na
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
svesno	ADV	svesno
ili	CONJ	ili
ne	PAR	ne
,	PUNCT	,
citira	N:m	citira
genijalno	A:aen	genijalan
morbidnu	A:aef	morbidan
priču	N:f	priča
Guts	N:m	Guts
Chucka	A:aem	Chucka
Palahniuka	N:m	Palahniuka
.	SENT	.
Toliko	ADV	toliko
o	PREP	o
originalnosti	N:f	originalnost
.	SENT	.
U	PREP	u
,	PUNCT	,
trenutku	N:m	trenutak
smrti	N:f	smrt
,	PUNCT	,
jedan	NUM	jedan
od	PREP	od
junaka	N:m	junak
spomene	N:m	spomen
déjà	A:aem	déjà
vu	N:f	vu
.	PUNCT	.
Da	CONJ	da
li	PAR	li
se	PAR	se
to	PRO	taj
Ellis	N:m	Ellis
nasmejao	V:m	nasmejati
sam	PRO	sam
sebi	PRO	sebe
?	PUNCT	?
I	CONJ	i
,	PUNCT	,
je	PRO	ona
li	PAR	li
to	PRO	taj
i	CONJ	i
najmanje	ADV	najmanje
bitno	ADV	bitno
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Finale	N:n	finale
u	PREP	u
bioskopu	N:m	bioskop
(	PUNCT	(
u	PREP	u
kome	PRO	koji
se	PAR	se
gleda	N:m	gleda
,	PUNCT	,
sasvim	ADV	sasvim
prigodno	ADV	prigodno
,	PUNCT	,
3	NUM	@card@
D	A:aem	D
film	N:m	film
)	PUNCT	)
jedan	NUM	jedan
je	PRO	ona
od	PREP	od
retkih	A:aef	redak
trenutaka	N:m	trenutak
kada	CONJ	kada
Ellis	N:m	Ellis
pokazuje	N:f	pokazuje
da	CONJ	da
ipak	PAR	ipak
ume	N:m	um
da	CONJ	da
na	PREP	na
svež	A:aem	svež
način	N:m	način
upari	V:m	upari
samosvesni	A:aem	samosvestan
crni	A:aem	crn
humor	N:m	humor
i	CONJ	i
visceralni	A:aem	visceralni
teror	N:m	teror
.	SENT	.
Svako	PRO	svaki
ko	PRO	ko
je	PRO	ona
bar	PAR	bar
nekad	ADV	nekad
osetio	V:m	osetiti
pravednički	A:aem	pravednički
gnev	N:m	gnev
spram	PREP	spram
tinejdžera	N:m	tinejdžer
i	CONJ	i
njihovog	PRO	njihov
najčešće	ADV	najčešće
nesnosnog	A:aen	nesnosan
ponašanja	N:n	ponašanje
u	PREP	u
bioskopu	N:m	bioskop
pozdraviće	A:aem	pozdraviće
jednu	NUM	jedan
scenu	N:f	scena
pri	PREP	pri
kraju	N:m	kraj
,	PUNCT	,
dok	CONJ	dok
će	V:m	će
svi	PRO	sav
oni	PRO	onaj
koji	PRO	koji
osećaju	N:m	osećaj
blagu	A:aef	blag
nelagodnost	N:f	nelagodnost
kad	CONJ	kad
kroče	N:m	krok
na	PREP	na
pokretne	A:aef	pokretan
stepenice	N:f	stepenica
dobiti	N:f	dobit
još	ADV	još
jedan	NUM	jedan
razlog	N:m	razlog
za	PREP	za
nervozu	N:f	nervoza
.	SENT	.
Umereno	ADV	umereno
zanimljiva	A:aef	zanimljiv
završnica	N:f	završnica
ipak	PAR	ipak
ne	PAR	ne
može	A:aem	može
da	CONJ	da
izvuče	A:aem	izvuče
jedan	NUM	jedan
ovako	ADV	ovako
banalan	A:aem	banalan
film	N:m	film
koji	PRO	koji
se	PAR	se
svodi	V:n	svodi
na	PREP	na
puko	A:aen	puki
gomilanje	N:n	gomilanje
leševa	N:m	leš
koji	PRO	koji
i	PAR	i
pre	PREP	pre
smrti	N:f	smrt
nisu	N:m	nisu
pucali	V:m	pucati
od	PREP	od
životnosti	N:f	životnost
.	SENT	.
Seckanje	N:n	seckanje
papirantih	A:aen	papirantih
likova	N:n	likovo
je	PRO	ona
jednako	ADV	jednako
samodovoljno	A:aen	samodovoljan
kao	CONJ	kao
i	CONJ	i
u	PREP	u
rimejku	N:f	rimejku
filma	N:m	film
Petak	N:m	petak
13	NUM	@card@
-	PUNCT	-
i	CONJ	i
,	PUNCT	,
s	PREP	s
tim	PRO	taj
što	PRO	što
Ellis	N:m	Ellis
bar	PAR	bar
ne	PAR	ne
pokušava	N:f	pokušava
da	CONJ	da
stvori	N:m	stvori
privid	N:m	privid
kako	CONJ	kako
je	PRO	ona
sve	PRO	sav
to	PRO	taj
tobož	ADV	tobož
„	A:aem	„
ozbiljno	A:aen	ozbiljan
“	N:m	“
i	CONJ	i
„	N:m	„
mračno	A:aen	mračan
“	N:m	“
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
na	PREP	na
nivou	N:m	nivo
kakvog	PRO	kakav
morbidnog	A:aem	morbidan
vica	N:m	vic
u	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
bajata	A:aef	bajat
dosetka	N:f	dosetka
koju	PRO	koji
vam	PRO	vi
neko	PRO	neki
mucajući	A:aem	mucajući
priča	N:f	priča
po	PREP	po
četvrti	A:aem	četvrti
put	N:m	put
.	SENT	.
