Sudeći	N:m	Sudeći
po	PREP	po
prepunoj	A:aef	prepun
Kinoteci	N:m	Kinoteci
i	CONJ	i
velikom	A:aef	velik
broju	N:m	broj
novinara	N:m	novinar
,	PUNCT	,
TV	A:aem	TV
ekipa	N:f	ekipa
i	CONJ	i
kritičara	N:m	kritičar
,	PUNCT	,
Dugo	N:f	Duga
putovanje	N:n	putovanje
kroz	PREP	kroz
istoriju	N:f	istorija
,	PUNCT	,
historiju	N:f	historija
i	CONJ	i
povjest	N:f	povjest
je	PRO	ona
zicer	N:m	zicer
tekućeg	A:aem	tekući
Beldocsa	N:m	Beldocsa
.	SENT	.
Prethodne	A:aef	prethodan
projekcije	N:f	projekcija
bile	V:f	biti
su	PREF	su
poluprazne	A:aef	poluprazan
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
kada	CONJ	kada
su	N:m	su
filmovi	N:m	film
,	PUNCT	,
i	CONJ	i
po	PREP	po
temi	N:f	tema
,	PUNCT	,
i	CONJ	i
po	PREP	po
kvalitetu	N:m	kvalitet
,	PUNCT	,
poput	PREP	poput
Centra	N:m	centar
za	PREP	za
pranje	N:n	pranje
filmova	N:m	film
zasluživali	V:m	zasluživati
veći	A:bem	velik
odziv	N:m	odziv
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
razumem	N:m	razumem
jagmu	N:f	jagma
.	SENT	.
Prosto	A:aen	prost
su	PREF	su
svi	PRO	sav
elementi	N:m	element
–	A:aem	–
roud	A:aem	roud
muvi	N:f	muva
,	PUNCT	,
jugo	PREF	jugo
45	NUM	@card@
,	PUNCT	,
Vidojković	N:m	Vidojković
i	CONJ	i
Jergović	N:m	Jergović
„	N:m	„
se	PAR	se
smenjuju	N:f	smenjuju
“	N:m	“
za	PREP	za
volanom	N:m	volan
duž	PREP	duž
nekadašnjeg	A:aen	nekadašnji
Autoputa	A:aen	Autoputa
Bratstva	N:n	bratstvo
i	CONJ	i
jedinstva	N:n	jedinstvo
–	N:m	–
zvučali	V:m	zvučati
kao	CONJ	kao
nekakva	PRO	nekakav
maturska	A:aef	maturski
ekskurzija	N:f	ekskurzija
.	SENT	.
Pa	CONJ	pa
,	PUNCT	,
iako	CONJ	iako
ti	PRO	taj
se	PAR	se
sva	PRO	sav
simbolika	N:f	simbolika
te	CONJ	te
mature	N:f	matura
gadi	N:f	gadi
,	PUNCT	,
nadaš	V:m	nadaš
se	PAR	se
da	CONJ	da
će	A:aem	će
tokom	PREP	tokom
putovanja	N:n	putovanje
,	PUNCT	,
u	PREP	u
autobusu	N:m	autobus
,	PUNCT	,
biti	N:f	bit
ekstra	ADV	ekstra
zanimljivih	A:aef	zanimljiv
stvari	N:f	stvar
,	PUNCT	,
koje	PRO	koji
će	A:aem	će
potom	ADV	potom
činiti	N:f	činiti
istoriju	N:f	istorija
unutar	PREP	unutar
nametnutog	A:aen	nametnut
skupog	A:aen	skup
rama	N:m	ram
.	SENT	.
Za	PREP	za
ovakvo	PRO	ovakav
traćenje	N:n	traćenje
benzina	N:m	benzin
najpre	ADV	najpre
treba	N:f	treba
pisati	N:m	pisati
reditelju	N:m	reditelj
/	A:aem	/
koscenaristi	N:m	koscenarist
koji	PRO	koji
se	PAR	se
od	PREP	od
početnog	A:aen	početan
koncepta	N:m	koncept
nije	V:m	nije
odmakao	V:m	odmaknuti
ni	PAR	ni
za	PREP	za
kilometar	N:m	kilometar
tokom	PREP	tokom
'	N:m	'
dugog	A:aem	dug
putovanja	N:n	putovanje
'	N:m	'
.	SENT	.
Postoje	N:m	Postoje
,	PUNCT	,
doduše	PAR	doduše
,	PUNCT	,
obrisi	N:m	obris
nekekvog	PRO	nekekvog
razvoja	N:m	razvoj
i	CONJ	i
nekakvih	PRO	nekakav
dešavanja	N:n	dešavanje
–	A:aem	–
npr	N:m	npr
.	PUNCT	.
da	CONJ	da
je	PRO	ona
Vidojković	N:m	Vidojković
,	PUNCT	,
shodno	PREP	shodno
svojoj	PRO	svoj
rude	N:f	ruda
boy	A:aem	boy
reputaciji	N:f	reputacija
,	PUNCT	,
Sančo	A:aem	Sančo
Pansa	N:m	Pansa
za	PREP	za
volanom	N:m	volan
(	PUNCT	(
popravlja	N:n	popravlja
kola	N:f	kola
,	PUNCT	,
postavlja	N:n	postavlja
iz	PREP	iz
neba	N:n	nebo
pa	CONJ	pa
u	PREP	u
rebra	N:n	rebro
pitanja	N:n	pitanje
,	PUNCT	,
igra	N:f	igra
ulogu	N:f	uloga
'	A:aem	'
politički	A:aem	politički
nekorektnog	A:aem	nekorektan
'	A:aem	'
glasnogovornika	N:m	glasnogovornik
ulice	N:f	ulica
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
Jergović	N:m	Jergović
je	PRO	ona
donkihotovska	A:aef	donkihotovski
figura	N:f	figura
zagledana	V:f	zagledati
u	PREP	u
daljine	N:f	daljina
,	PUNCT	,
koja	PRO	koji
'	A:aem	'
produbljuje	N:m	produbljuje
'	A:aem	'
stvari	N:f	stvar
,	PUNCT	,
podjebava	A:aem	podjebava
svog	PRO	svoj
saputnika	N:m	saputnik
zbog	PREP	zbog
brzopletosti	N:f	brzopletost
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
i	CONJ	i
spreman	A:aem	spreman
da	CONJ	da
ga	PRO	on
uputi	N:f	uputa
–	N:m	–
dakle	CONJ	dakle
,	PUNCT	,
postoje	N:m	postoje
elementi	N:m	element
dramske	A:aem	dramski
karakterizacije	N:f	karakterizacija
ove	PRO	ovaj
dvojice	N:f	dvojica
likova	N:n	likovo
koji	PRO	koji
su	N:m	su
zapravo	ADV	zapravo
odjeci	N:m	odjek
očekivanja	N:n	očekivanje
koja	PRO	koji
od	PREP	od
ova	PRO	ovaj
dva	NUM	dva
pisca	N:m	pisac
(	PUNCT	(
i	CONJ	i
njihovih	PRO	njihov
medijskih	A:aef	medijski
profila	N:m	profil
)	PUNCT	)
ima	A:aem	ima
javnost	N:f	javnost
.	SENT	.
Problem	N:m	problem
je	PRO	ona
što	PRO	što
oni	PRO	onaj
upravo	ADV	upravo
glume	N:f	gluma
ta	PRO	taj
očekivanja	N:n	očekivanje
,	PUNCT	,
umesto	PREP	umesto
da	CONJ	da
budu	N:f	budu
šta	PRO	šta
jesu	N:f	jesu
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
već	PAR	već
dokumentarac	N:m	dokumentarac
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
pa	CONJ	pa
rediteljske	A:aef	rediteljski
beleške	N:f	beleška
treba	N:f	treba
da	CONJ	da
ostanu	N:m	ostanu
nevidljive	A:aef	nevidljiv
na	PREP	na
marginama	N:f	margina
papira	N:m	papir
,	PUNCT	,
a	CONJ	a
da	CONJ	da
vidimo	A:aen	vidimo
put	N:f	put
i	CONJ	i
živu	A:aen	živ
ljudsku	A:aef	ljudski
misao	N:f	misao
.	SENT	.
Drugi	A:aem	drugi
problem	N:m	problem
je	PRO	ona
protok	N:m	protok
vremena	N:n	vreme
.	SENT	.
Iako	CONJ	iako
junaci	N:m	junak
protutnje	N:f	protutnje
kroz	PREP	kroz
četiri	NUM	četiri
zemlje	N:f	zemlja
,	PUNCT	,
sve	PRO	sav
vreme	N:n	vreme
kao	CONJ	kao
da	CONJ	da
smo	N:f	smo
u	PREP	u
YU	N:m	YU
muzeju	N:m	muzej
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
nema	A:aem	nem
utisak	N:m	utisak
pređene	A:aef	pređen
kilometraže	N:f	kilometraža
,	PUNCT	,
ni	PAR	ni
probijanja	N:n	probijanje
nekakvih	PRO	nekakav
mentalnih	A:aen	mentalan
i	CONJ	i
iskustvenih	A:aef	iskustven
barijera	N:f	barijera
.	SENT	.
Akteri	N:m	akter
prelaze	N:m	prelaz
iz	PREP	iz
jedne	NUM	jedan
u	PREP	u
drugu	A:aef	drugi
odaju	N:f	odaja
tog	PRO	taj
ex	N:m	ex
-	PUNCT	-
SFRJ	N:m	SFRJ
mauzoleja	N:m	mauzolej
,	PUNCT	,
zastanu	N:m	zastanu
po	PREP	po
malo	ADV	malo
ispred	PREP	ispred
svake	PRO	svaki
memorabilije	N:f	memorabilije
,	PUNCT	,
prozbore	N:m	prozbore
po	PREP	po
koju	PRO	koji
,	PUNCT	,
ko	PRO	ko
u	PREP	u
RTS	ABB	RTS
naučno	A:aen	naučni
-	PUNCT	-
obrazovnim	A:aen	obrazovni
programima	N:m	program
kad	CONJ	kad
se	PAR	se
nema	A:aem	nem
para	N:f	para
za	PREP	za
pošten	A:aem	pošten
scenario	N:m	scenario
i	CONJ	i
glumce	N:m	glumac
i	CONJ	i
kostime	N:m	kostim
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
sve	PRO	sav
svede	N:m	svede
na	PREP	na
jedan	NUM	jedan
dugačak	A:aem	dugačak
monolog	N:m	monolog
reditelja	N:m	reditelj
na	PREP	na
samrti	N:f	samrt
ispred	PREP	ispred
hroma	N:m	hrom
-	PUNCT	-
ki	A:aem	ki
panoa	N:m	pano
.	SENT	.
Javlja	N:n	Javlja
se	PAR	se
paradoks	N:m	paradoks
u	PREP	u
sudaru	N:m	sudar
namere	N:f	namera
reditelja	N:m	reditelj
da	CONJ	da
isprovocira	N:f	isprovocira
istoriju	N:f	istorija
(	PUNCT	(
il	V:m	il
njene	PRO	njen
različite	A:aef	različit
zvanične	A:aem	zvaničan
verzije	N:f	verzija
)	PUNCT	)
i	CONJ	i
krajnje	ADV	krajnje
udžbeničkog	A:aen	udžbenički
,	PUNCT	,
bubalačkog	A:aen	bubalačkog
čekiranja	N:n	čekiranje
stranica	N:f	stranica
kao	CONJ	kao
što	CONJ	što
su	N:m	su
Kumrovec	N:m	Kumrovec
,	PUNCT	,
Vukovar	N:m	Vukovar
i	CONJ	i
Jasenovac	N:m	Jasenovac
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
dijalozi	N:m	dijalog
/	A:aem	/
intervjui	N:m	intervju
koje	PRO	koji
dvojica	N:f	dvojica
pisaca	N:m	pisac
vode	N:f	voda
sa	PREP	sa
odokativno	A:aen	odokativan
odabranim	A:aen	odabran
sagovornicima	N:m	sagovornik
,	PUNCT	,
među	PREP	među
kojima	PRO	koji
čak	PAR	čak
i	CONJ	i
Stipe	N:m	Stipe
Mesić	N:m	Mesić
i	CONJ	i
Vuk	N:m	Vuk
Drašković	N:m	Drašković
izgledaju	N:m	izgledaju
kao	CONJ	kao
krš	N:m	krš
holivudski	A:aem	holivudski
glumci	N:m	glumac
.	PUNCT	.
I	CONJ	i
nemoguće	ADV	nemoguće
je	PRO	ona
oteti	V:m	oteti
se	PAR	se
utisku	N:m	utisak
da	CONJ	da
je	PRO	ona
Stpe	N:m	Stpe
Mesić	N:m	Mesić
,	PUNCT	,
recimo	N:f	recimo
,	PUNCT	,
nekakva	PRO	nekakav
endivorholovska	N:f	endivorholovska
konzerva	N:f	konzerva
koju	PRO	koji
reditelj	N:m	reditelj
pošto	CONJ	pošto
poto	A:aen	poto
mora	N:n	more
da	CONJ	da
zarotira	N:m	zarotira
u	PREP	u
filmu	N:m	film
iako	CONJ	iako
je	PRO	ona
ne	PAR	ne
upotrebi	N:f	upotreba
ni	PAR	ni
u	PREP	u
kom	PRO	koji
smislu	N:m	smisao
.	SENT	.
Drašković	N:m	Drašković
se	PAR	se
malo	ADV	malo
više	ADV	više
potrudio	V:m	potruditi
od	PREP	od
kolege	N:m	kolega
da	CONJ	da
izrecituje	N:f	izrecituje
šta	PRO	šta
ima	N:m	ima
.	SENT	.
Reditelj	N:m	reditelj
,	PUNCT	,
naime	PAR	naime
,	PUNCT	,
nije	V:m	nije
raščistio	V:m	raščistiti
pravi	A:aem	prav
li	PAR	li
parodiju	N:f	parodija
početne	A:aef	početan
ideje	N:f	ideja
ili	CONJ	ili
je	PRO	ona
sledi	N:f	sledi
doslovno	ADV	doslovno
uz	PREP	uz
povremene	A:aem	povremen
humorističke	A:aef	humoristički
epizode	N:f	epizoda
koje	PRO	koji
potiču	N:m	potiču
od	PREP	od
karaktera	N:m	karakter
.	SENT	.
A	CONJ	a
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
tamo	ADV	tamo
gde	CONJ	gde
biste	N:f	bista
se	PAR	se
nasmejali	V:m	nasmejati
koči	N:f	koča
vas	PRO	vi
utisak	N:m	utisak
da	CONJ	da
je	PRO	ona
neko	PRO	neki
to	PRO	taj
seo	V:m	sesti
,	PUNCT	,
napisao	V:m	napisati
i	CONJ	i
natempirao	V:m	natempirati
da	CONJ	da
se	PAR	se
baš	PAR	baš
tu	PRO	taj
nasmejete	N:m	nasmejete
jer	CONJ	jer
je	PRO	ona
tako	ADV	tako
zdravo	ADV	zdravo
ili	CONJ	ili
zatreperite	A:aem	zatreperite
,	PUNCT	,
pa	CONJ	pa
ništa	PRO	ništa
od	PREP	od
svega	PRO	sav
ne	PAR	ne
bude	A:aem	bude
.	SENT	.
Čini	N:m	Čina
se	PAR	se
da	CONJ	da
je	PRO	ona
dvojici	N:f	dvojica
pisaca	N:m	pisac
preterano	ADV	preterano
predočen	A:aem	predočen
(	PUNCT	(
unapred	ADV	unapred
otkriven	V:m	otkriti
)	PUNCT	)
koncept	N:m	koncept
filma	N:m	film
i	CONJ	i
ciljevi	N:m	cilj
(	PUNCT	(
ideje	N:f	ideja
)	PUNCT	)
tog	PRO	taj
koncepta	N:m	koncept
na	PREP	na
intelektualnom	A:aem	intelektualan
i	CONJ	i
idejnom	A:aem	idejni
nivou	N:m	nivo
pa	CONJ	pa
oni	PRO	onaj
u	PREP	u
svakoj	PRO	svaki
sceni	N:f	scena
igraju	N:f	igraju
ideju	N:f	ideja
umesto	PREP	umesto
radnju	N:f	radnja
,	PUNCT	,
što	CONJ	što
je	PRO	ona
greška	N:f	greška
igranih	A:aen	igran
,	PUNCT	,
a	CONJ	a
nekmoli	CONJ	nekmoli
dokumentarnih	A:aef	dokumentaran
filmova	N:m	film
u	PREP	u
kojima	PRO	koji
o	PREP	o
takvom	PRO	takav
uskakanju	N:n	uskakanje
u	PREP	u
oči	N:f	oči
ne	PAR	ne
sme	A:aem	sme
biti	N:f	bit
ni	CONJ	ni
reči	N:f	reč
.	SENT	.
Stiče	N:m	Stiče
se	PAR	se
utisak	N:m	utisak
da	CONJ	da
je	PRO	ona
u	PREP	u
montaži	N:f	montaža
ostavljen	A:aem	ostavljen
samo	CONJ	samo
„	A:aem	„
tačan	A:aem	tačan
rezultat	N:m	rezultat
“	A:aem	“
golemog	A:aem	golem
matematičkog	A:aem	matematički
proračuna	N:m	proračun
.	SENT	.
Metiljava	A:aef	metiljav
režija	N:f	režija
se	PAR	se
bazira	V:m	bazira
na	PREP	na
skečevima	N:m	skeč
na	PREP	na
benzinskoj	A:aef	benzinski
pumpi	N:f	pumpa
i	CONJ	i
suvim	A:aem	suv
one	PRO	onaj
-	PUNCT	-
linerima	N:m	linerima
lišenim	A:aem	lišen
prirodnog	A:aem	prirodan
razgovornog	A:aem	razgovoran
konteksta	N:m	kontekst
.	SENT	.
Konfrontirani	V:m	konfrontirati
sa	PREP	sa
arhivskim	A:aem	arhivski
snimcima	N:m	snimak
komunističke	A:aem	komunistički
omladine	N:f	omladina
ujarmljene	V:f	ujarmiti
da	CONJ	da
gradi	N:m	grad
autoput	N:m	autoput
,	PUNCT	,
aktuelni	A:aem	aktuelan
dvojac	N:m	dvojac
stvara	N:m	stvara
utisak	N:m	utisak
da	CONJ	da
tu	ADV	tu
prosto	ADV	prosto
svaki	PRO	svaki
omladinac	N:m	omladinac
kroz	PREP	kroz
istoriju	N:f	istorija
,	PUNCT	,
historiju	N:f	historija
i	CONJ	i
povjest	N:f	povjest
radi	PREP	radi
svoj	PRO	sav
posao	V:m	posati
-	PUNCT	-
nekad	ADV	nekad
je	PRO	ona
bila	V:f	biti
fora	N:f	fora
da	CONJ	da
mladi	A:aem	mlad
rade	N:f	rada
,	PUNCT	,
a	CONJ	a
sad	ADV	sad
da	CONJ	da
putuju	N:m	putuju
,	PUNCT	,
promišljaju	N:m	promišljaj
i	CONJ	i
osećaju	N:m	osećaj
se	PAR	se
odgovornim	A:aem	odgovoran
.	PUNCT	.
I	CONJ	i
tako	ADV	tako
smo	N:f	smo
svi	PRO	sav
u	PREP	u
svom	PRO	sav
trenutku	N:m	trenutak
deo	N:m	deo
popularne	A:aef	popularan
kulture	N:f	kultura
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
se	PAR	se
ne	PAR	ne
zamara	V:m	zamara
postavljanjem	N:n	postavljanje
pitanja	N:n	pitanje
šta	PRO	šta
je	PRO	ona
tu	ADV	tu
sporno	A:aen	sporan
.	PUNCT	.
Jergović	N:m	Jergović
i	CONJ	i
Vidojković	N:m	Vidojković
pristupili	V:m	pristupiti
su	N:m	su
celoj	A:aef	ceo
ideji	N:f	ideja
sa	PREP	sa
očiglednim	A:aem	očigledan
žarom	N:m	žar
il	A:aef	il
'	A:aem	'
verom	N:f	vera
u	PREP	u
zamišljeno	ADV	zamišljeno
,	PUNCT	,
pa	CONJ	pa
deluju	N:m	deluju
u	PREP	u
najmanju	A:cef	najmanju
ruku	N:f	ruka
šarmantno	ADV	šarmantno
.	SENT	.
Šteta	N:m	Šteta
je	PRO	ona
samo	PAR	samo
što	CONJ	što
ostaje	N:n	ostaje
utisak	N:m	utisak
da	CONJ	da
im	PRO	ona
je	PRO	ona
neko	PRO	neki
drugi	A:aem	drugi
napisao	V:m	napisati
zadatak	N:m	zadatak
,	PUNCT	,
zadaću	N:f	zadaća
i	CONJ	i
.	PUNCT	.
.	SENT	.
.	PUNCT	.
štagod	ADV	štagod
.	PUNCT	.
