Otprilike	ADV	otprilike
u	PREP	u
momentu	N:m	moment
kada	CONJ	kada
se	PAR	se
majmun	N:m	majmun
ispiški	V:m	ispiški
na	PREP	na
glavu	N:f	glava
Bena	N:m	Ben
Stillera	N:m	Stillera
,	PUNCT	,
bilo	V:n	biti
nam	PRO	mi
je	PRO	ona
jasno	ADV	jasno
da	CONJ	da
je	PRO	ona
visokokonceptualna	A:aef	visokokonceptualna
komedija	N:f	komedija
Shawna	A:aem	Shawna
Levyja	N:m	Levyja
izabrala	V:m	izabrati
najniži	A:cem	nizak
mogući	A:aem	moguć
put	N:m	put
u	PREP	u
potrazi	N:f	potraga
za	PREP	za
skatološkim	A:aem	skatološkim
humorom	N:m	humor
.	SENT	.
Taj	PRO	taj
Levy	N:m	Levy
-	PUNCT	-
režiser	N:m	režiser
koji	PRO	koji
je	PRO	ona
odgovoran	A:aem	odgovoran
za	PREP	za
bespotrebni	A:aem	bespotreban
nastavak	N:m	nastavak
Pink	N:m	Pink
Panthera	N:m	Panthera
-	PUNCT	-
bi	V:m	bi
se	PAR	se
spustio	V:m	spustiti
do	PREP	do
takvih	PRO	takav
nivoa	N:m	nivo
da	CONJ	da
nas	PRO	mi
to	PRO	taj
ne	PAR	ne
iznenađuje	N:m	iznenađuje
.	SENT	.
Ne	PAR	ne
,	PUNCT	,
više	ADV	više
nas	PRO	mi
uznemirava	A:aem	uznemirava
to	PRO	taj
što	CONJ	što
nam	PRO	mi
je	PRO	ona
trebalo	V:n	trebati
toliko	ADV	toliko
puno	A:aen	pun
vremena	N:n	vreme
da	CONJ	da
nerado	ADV	nerado
prihvatimo	N:f	prihvatimo
činjenicu	N:f	činjenica
da	CONJ	da
je	PRO	ona
ono	PRO	onaj
što	PRO	što
je	PRO	ona
moglo	V:n	moći
biti	N:f	bit
inspirativna	A:aef	inspirativan
zabava	N:f	zabava
za	PREP	za
celu	A:aef	ceo
porodicu	N:f	porodica
,	PUNCT	,
zapravo	ADV	zapravo
,	PUNCT	,
glupava	A:aef	glupav
parada	N:f	parada
budalaština	N:f	budalaština
namenjena	V:m	nameniti
za	PREP	za
decu	N:f	deca
ispod	PREP	ispod
8	NUM	@card@
godina	N:f	godina
.	SENT	.
Stiller	N:m	Stiller
glumi	N:f	gluma
beznačajnog	A:aem	beznačajan
Larryja	N:f	Larryja
Daleyja	N:m	Daleyja
,	PUNCT	,
detinjastog	A:aem	detinjast
raspuštenika	N:m	raspuštenika
čija	PRO	čiji
ga	PRO	on
je	PRO	ona
nesposobnost	N:f	nesposobnost
da	CONJ	da
zadrži	A:aem	zadrži
pristojan	A:aem	pristojan
posao	N:m	posao
ubacila	V:n	ubaciti
u	PREP	u
nemilost	N:f	nemilost
sa	PREP	sa
sinom	N:m	sin
Nickom	N:m	Nickom
(	PUNCT	(
Jake	N:f	Jaka
Cherry	N:m	Cherry
)	PUNCT	)
.	SENT	.
Poslednji	A:aem	poslednji
intervju	N:m	intervju
za	PREP	za
posao	N:m	posao
šalje	N:m	šalje
Larryja	N:f	Larryja
u	PREP	u
Prirodnjački	A:aem	Prirodnjački
muzej	N:m	muzej
Njujorka	N:m	Njujork
,	PUNCT	,
gde	CONJ	gde
dobija	N:n	dobija
posao	N:m	posao
noćnog	A:aen	noćni
čuvara	N:m	čuvar
i	CONJ	i
otkriva	A:aem	otkriva
da	CONJ	da
sve	ADV	sve
doslovno	ADV	doslovno
oživljava	A:aem	oživljava
jednom	ADV	jednom
kada	CONJ	kada
zađe	N:f	zađe
sunce	N:n	sunce
.	SENT	.
U	PREP	u
Muzeju	N:m	muzej
se	PAR	se
mogu	A:aem	mogu
videti	N:m	videti
stvarne	A:aef	stvaran
komične	A:aem	komičan
relikvije	N:f	relikvija
.	SENT	.
Dick	N:m	Dick
Van	N:m	Van
Dyke	N:f	Dyke
,	PUNCT	,
Bill	N:m	Bill
Cobbs	N:m	Cobbs
i	CONJ	i
Mickey	A:aem	Mickey
Rooney	N:m	Rooney
(	PUNCT	(
koji	PRO	koji
je	PRO	ona
užasno	ADV	užasno
odglumio	V:m	odglumiti
Dona	N:f	Dona
Ricklesa	N:m	Ricklesa
)	PUNCT	)
se	PAR	se
pojavljuju	N:f	pojavljuju
kao	CONJ	kao
bivši	A:aem	bivši
čuvari	N:m	čuvar
zdanja	N:n	zdanje
.	SENT	.
Oni	PRO	onaj
ostavljaju	N:m	ostavljaju
Larryju	A:aen	Larryju
uputstva	N:n	uputstvo
koja	PRO	koji
on	PRO	on
treba	N:f	treba
da	CONJ	da
sledi	N:f	sledi
,	PUNCT	,
iako	CONJ	iako
su	N:m	su
njihovi	PRO	njihov
motivi	N:m	motiv
malo	ADV	malo
sumnjivi	A:aem	sumnjiv
.	SENT	.
Robin	N:m	Robin
Williams	N:m	Williams
drži	N:m	drži
svoja	PRO	svoj
usta	N:n	usta
uposlena	V:m	uposliti
kao	ADV	kao
voskasti	A:aem	voskasti
Theodore	N:m	Theodore
Roosevelt	N:m	Roosevelt
,	PUNCT	,
Larryjev	A:aem	Larryjev
noćni	A:aem	noćni
mentor	N:m	mentor
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
svi	PRO	sav
igrači	N:m	igrač
moraju	N:m	moraju
da	CONJ	da
oduvaju	N:m	oduvaju
jedno	NUM	jedan
prst	N:m	prst
prašine	N:f	prašina
sa	PREP	sa
filmskih	A:aen	filmski
šala	N:m	šal
,	PUNCT	,
čije	PRO	čiji
zasluge	N:f	zasluga
idu	A:aem	idu
scenaristima	N:m	scenarista
Benu	N:m	Ben
Garantu	N:m	garant
i	CONJ	i
Thomasu	N:m	Thomasu
Lennonu	N:m	Lennonu
.	SENT	.
Budući	A:aem	Budući
da	CONJ	da
je	PRO	ona
Muzej	N:m	muzej
počinje	N:f	počinje
ne	PAR	ne
blisko	A:aen	blizak
povezanim	A:aef	povezan
premisama	N:f	premisa
,	PUNCT	,
radi	PREP	radi
smo	N:f	smo
preskočiti	A:aem	preskočiti
nekoliko	ADV	nekoliko
protivrečnosti	N:f	protivrečnost
u	PREP	u
zapletu	N:m	zaplet
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
one	PRO	onaj
koje	PRO	koji
čitavu	A:aem	čitav
priču	N:f	priča
potencijalno	ADV	potencijalno
izbacuju	N:m	izbacuju
iz	PREP	iz
koloseka	N:m	kolosek
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
u	PREP	u
pamćenje	N:n	pamćenje
su	N:m	su
nam	PRO	mi
se	PAR	se
urezale	V:f	urezati
dve	NUM	dva
stvari	N:f	stvar
koje	PRO	koji
ne	PAR	ne
možemo	ADV	možemo
preskočiti	A:aem	preskočiti
.	SENT	.
Dok	CONJ	dok
hrli	N:m	hrli
kroz	PREP	kroz
dekatlon	N:m	dekatlon
katastrofa	N:f	katastrofa
,	PUNCT	,
Stiller	N:m	Stiller
pada	N:m	pad
i	CONJ	i
pokazuje	N:m	pokazuje
preteranu	A:aem	preteran
hrabrost	N:f	hrabrost
što	CONJ	što
je	PRO	ona
deo	N:m	deo
njegovog	PRO	njegov
komičarskog	A:aem	komičarski
nastupa	N:m	nastup
.	SENT	.
To	PRO	taj
je	PRO	ona
u	PREP	u
redu	N:m	red
,	PUNCT	,
iako	CONJ	iako
se	PAR	se
nadmetanje	N:n	nadmetanje
sa	PREP	sa
De	A:aem	De
Nirom	N:m	Nirom
u	PREP	u
Meet	N:m	Meet
the	N:m	the
Parents	N:m	Parents
teško	ADV	teško
može	A:aem	može
uporediti	N:m	uporediti
sa	PREP	sa
šamaranjem	N:n	šamaranje
sa	PREP	sa
majmunom	N:m	majmun
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
razočaravajuće	A:aem	razočaravajući
jeste	INT	jeste
to	PRO	taj
što	PRO	što
Muzej	N:m	muzej
ne	PAR	ne
kroji	N:m	kroji
svoj	PRO	sav
promenljivi	A:aem	promenljiv
scenario	N:m	scenario
oko	PREP	oko
Stillerovih	A:aef	Stillerovih
prednosti	N:f	prednost
.	SENT	.
Odmah	ADV	odmah
nam	PRO	mi
postaje	N:f	postaja
jasno	ADV	jasno
da	CONJ	da
bi	A:aen	bi
bilo	V:n	biti
koji	PRO	koji
glumac	N:m	glumac
voljan	A:aem	voljan
da	CONJ	da
šprinta	N:m	šprinta
90	NUM	@card@
minuta	N:m	minut
mogao	V:m	moći
da	CONJ	da
odglumi	V:m	odglumi
ovu	PRO	ovaj
ulogu	N:f	uloga
.	SENT	.
(	PUNCT	(
Jack	A:aem	Jack
Black	N:m	Black
bi	V:m	bi
možda	PAR	možda
bio	V:m	biti
inspirativan	A:aem	inspirativan
izbor	N:m	izbor
.	SENT	.
)	PUNCT	)
Na	A:aem	Na
kraju	N:m	kraj
,	PUNCT	,
Levyjevi	A:aem	Levyjevi
efekti	N:m	efekt
su	N:m	su
ispod	PREP	ispod
proseka	N:m	prosek
-	PUNCT	-
opet	ADV	opet
,	PUNCT	,
nije	A:aen	nije
veliko	A:aen	velik
iznenađenje	N:n	iznenađenje
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
zasluge	N:f	zasluga
za	PREP	za
to	PRO	taj
idu	A:aem	idu
Chrisu	N:m	Chrisu
Columbusu	N:m	Columbusu
i	CONJ	i
Stephenu	N:m	Stephenu
Sommersu	N:m	Sommersu
(	PUNCT	(
The	INT	The
Mummy	N:m	Mummy
,	PUNCT	,
Van	N:m	Van
Helsing	N:m	Helsing
)	PUNCT	)
.	SENT	.
Digitalne	A:aem	digitalan
životinje	N:f	životinja
i	CONJ	i
minijaturni	A:aem	minijaturan
vojnici	N:m	vojnik
(	PUNCT	(
potražite	A:aem	potražite
Owena	A:aem	Owena
Wilsona	N:m	Wilsona
i	CONJ	i
Stevea	N:m	Stevea
Coogana	N:m	Coogana
u	PREP	u
produženim	A:aem	produžen
kadrovima	N:m	kadar
)	PUNCT	)
nas	PRO	mi
podsećaju	N:m	podsećaju
na	PREP	na
Jumanji	N:f	Jumanji
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
snimljen	V:m	snimiti
pre	PREP	pre
11	NUM	@card@
godina	N:f	godina
.	SENT	.
Zev	N:m	zev
.	PUNCT	.
Evo	PAR	evo
ideje	N:f	ideja
:	PUNCT	:
Umesto	PREP	umesto
da	CONJ	da
kupite	A:aef	kupite
karte	N:f	karta
za	PREP	za
film	N:m	film
,	PUNCT	,
provedite	A:aem	provedite
poslepodne	N:n	poslepodne
u	PREP	u
pravom	N:n	pravo
muzeju	N:m	muzej
.	SENT	.
Verovatno	ADV	verovatno
ćete	N:m	ćete
se	PAR	se
smejati	N:m	smejati
isto	ADV	isto
toliko	ADV	toliko
.	SENT	.
