WB	N:m	WB
studio	V:m	studjeti
je	PRO	ona
,	PUNCT	,
posle	PREP	posle
niza	N:m	niz
zanimljivih	A:aem	zanimljiv
reditelja	N:m	reditelj
,	PUNCT	,
2007	NUM	@card@
.	PUNCT	.
rešio	V:m	rešiti
da	CONJ	da
od	PREP	od
svega	PRO	sav
toga	PRO	taj
odustane	N:m	odustane
i	CONJ	i
režiju	N:f	režija
svih	PRO	sav
budućih	A:aen	budući
nastavaka	N:m	nastavak
prepusti	N:m	prepusti
ne	PAR	ne
preterano	ADV	preterano
inventivnom	A:aem	inventivan
ali	CONJ	ali
vernom	A:aem	veran
i	CONJ	i
pouzdanom	A:aem	pouzdan
Davidu	N:m	David
Yatesu	N:m	Yatesu
.	SENT	.
Jedan	NUM	jedan
od	PREP	od
razloga	N:m	razlog
što	CONJ	što
ovaj	PRO	ovaj
čovek	N:m	čovek
i	CONJ	i
dalje	ADV	dalje
sedi	N:m	sedi
za	PREP	za
kormilom	N:n	kormilo
HP	N:m	HP
franšize	N:f	franšiza
,	PUNCT	,
bar	PAR	bar
kada	CONJ	kada
je	PRO	ona
veliko	A:aen	velik
platno	N:n	platno
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
je	PRO	ona
to	PRO	taj
što	PRO	što
se	PAR	se
pokazao	V:m	pokazati
voljnim	A:aem	voljan
da	CONJ	da
pri	PREP	pri
snimanju	N:n	snimanje
slepo	A:aen	slep
prati	N:f	prati
sve	PRO	sav
događaje	N:m	događaj
iz	PREP	iz
knjige	N:f	knjiga
,	PUNCT	,
bez	PREP	bez
zastajanja	N:n	zastajanje
da	CONJ	da
se	PAR	se
zapita	V:n	zapita
da	CONJ	da
li	PAR	li
će	A:aem	će
to	PRO	taj
funkcionisati	N:m	funkcionisati
u	PREP	u
ovom	PRO	ovaj
drugom	A:aef	drugi
mediju	N:m	medij
.	SENT	.
To	PRO	taj
nikada	ADV	nikada
nije	N:f	nije
bilo	V:n	biti
očiglednije	A:bef	očigledan
.	SENT	.
Producenti	N:m	producent
iz	PREP	iz
WB	N:m	WB
-	PUNCT	-
a	CONJ	a
su	N:m	su
to	PRO	taj
takođe	PAR	takođe
sigurno	ADV	sigurno
imali	V:m	imati
na	PREP	na
umu	N:m	um
kada	CONJ	kada
su	N:m	su
rešili	V:m	rešiti
da	CONJ	da
poslednji	A:aem	poslednji
deo	N:m	deo
ove	PRO	ovaj
maratonske	A:aef	maratonski
sage	N:f	saga
podele	N:f	podela
na	PREP	na
dva	NUM	dva
.	PUNCT	.
Jedan	NUM	jedan
od	PREP	od
najbitnijih	A:cef	bitan
kvaliteta	N:m	kvalitet
uspešnog	A:aem	uspešan
prebacivanja	N:n	prebacivanje
književnog	A:aen	književan
dela	N:n	delo
na	PREP	na
celuloidnu	A:aef	celuloidni
traku	N:f	traka
je	PRO	ona
sposobnost	N:f	sposobnost
činjenja	N:n	činjenje
pravih	A:aef	prav
izbora	N:m	izbor
.	PUNCT	.
Ne	PAR	ne
moramo	N:f	moramo
svaku	PRO	svaki
stranicu	N:f	stranica
koju	PRO	koji
je	PRO	ona
J	ABB	J
.	PUNCT	.
K	ABB	K
.	PUNCT	.
napisala	V:f	napisati
propratiti	N:m	propratiti
u	PREP	u
realnom	A:aem	realan
vremenu	N:n	vreme
.	SENT	.
Na	PREP	na
žalost	N:f	žalost
,	PUNCT	,
Yates	N:m	Yates
tu	PRO	taj
činjenicu	N:f	činjenica
namerno	ADV	namerno
ignoriše	A:aem	ignoriše
,	PUNCT	,
time	PRO	taj
stvarajući	N:f	stvarajući
ne	PAR	ne
samo	PAR	samo
dosadan	A:aem	dosadan
,	PUNCT	,
već	CONJ	već
i	CONJ	i
isprazan	A:aem	isprazan
film	N:m	film
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
na	PREP	na
momente	N:m	moment
zaista	PAR	zaista
mučno	ADV	mučno
gledati	V:m	gledati
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
HP	N:m	HP
i	CONJ	i
družina	N:f	družina
i	CONJ	i
dalje	ADV	dalje
tragaju	N:m	tragaju
za	PREP	za
horkruksima	N:m	horkruksima
,	PUNCT	,
misterioznim	A:aem	misteriozan
objektima	N:m	objekt
koje	PRO	koji
treba	N:f	treba
uništiti	N:m	uništiti
kako	CONJ	kako
bi	A:aem	bi
se	PAR	se
ubio	V:m	ubiti
Voldemort	N:m	Voldemort
,	PUNCT	,
usput	ADV	usput
nastojeći	N:m	nastojeći
da	CONJ	da
ostanu	N:m	ostanu
živi	A:aem	živ
,	PUNCT	,
jer	CONJ	jer
su	N:m	su
,	PUNCT	,
nakon	PREP	nakon
smrti	N:f	smrt
Dumbledorea	N:m	Dumbledorea
,	PUNCT	,
smrtožderi	N:m	smrtožderi
zavladali	V:m	zavladati
čarobnjačkim	A:aem	čarobnjački
svetom	N:m	svet
.	SENT	.
Sve	PRO	sav
to	PRO	taj
zvuči	N:m	zvuči
jako	ADV	jako
uzbudljivo	A:aen	uzbudljiv
,	PUNCT	,
i	CONJ	i
naizgled	ADV	naizgled
pruža	A:aem	pruža
mnogo	ADV	mnogo
potencijala	N:m	potencijal
za	PREP	za
punokrvnu	A:aef	punokrvan
fantastičnu	A:aef	fantastičan
avanturu	N:f	avantura
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
želeći	A:aen	želeći
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
rekosmo	N:f	rekosmo
,	PUNCT	,
da	CONJ	da
literarni	A:aem	literaran
predložak	N:m	predložak
ispoštuje	N:m	ispoštuje
do	PREP	do
kraja	N:m	kraj
,	PUNCT	,
Yates	N:m	Yates
veći	A:bem	velik
deo	N:m	deo
vremena	N:n	vreme
provodi	N:m	provod
snimajući	A:aem	snimajući
Harryja	N:f	Harryja
,	PUNCT	,
Hermionu	N:f	Hermiona
i	CONJ	i
Rona	N:f	Rona
,	PUNCT	,
koji	PRO	koji
kampuju	N:m	kampuju
po	PREP	po
britanskim	A:aef	britanski
šumama	N:f	šuma
i	CONJ	i
pokušavaju	N:f	pokušavaju
da	CONJ	da
odgonetnu	A:aen	odgonetnu
šta	PRO	šta
su	N:m	su
preostali	A:aem	preostali
horkruksi	N:m	horkruksi
,	PUNCT	,
misleći	A:aem	misleći
,	PUNCT	,
valjda	PAR	valjda
,	PUNCT	,
da	CONJ	da
će	V:m	će
im	PRO	ona
inspiracija	N:f	inspiracija
doći	A:aem	doći
sama	PRO	sam
od	PREP	od
sebe	PRO	sebe
dok	CONJ	dok
sede	A:aef	sed
i	CONJ	i
ne	PAR	ne
rade	A:aem	rad
ništa	ADV	ništa
,	PUNCT	,
a	CONJ	a
za	PREP	za
to	PRO	taj
vreme	N:n	vreme
se	PAR	se
svet	N:m	svet
oko	PREP	oko
njih	PRO	ona
raspada	N:m	raspad
.	SENT	.
Troje	NUM	troje
tinejdžera	N:m	tinejdžer
u	PREP	u
istom	A:aem	isti
šatoru	N:m	šator
?	PUNCT	?
Ne	PAR	ne
tako	ADV	tako
zanimljivo	ADV	zanimljivo
kako	CONJ	kako
se	PAR	se
na	PREP	na
prvi	A:aem	prvi
pogled	N:m	pogled
čini	N:f	čini
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
to	PRO	taj
povoljan	A:aem	povoljan
teren	N:m	teren
za	PREP	za
svakojaka	PRO	svakojak
emotivna	A:aen	emotivan
previranja	N:n	previranje
,	PUNCT	,
seksualni	A:aem	seksualan
naboj	N:m	naboj
između	PREP	između
ljupke	A:aef	ljubak
Emme	N:f	Emme
Watson	N:m	Watson
i	CONJ	i
njene	PRO	njen
dvojice	N:f	dvojica
kolega	N:f	kolega
je	PRO	ona
praktično	ADV	praktično
nepostojeći	A:aem	nepostojeći
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
cela	A:aef	ceo
ujdurma	N:f	ujdurma
koja	PRO	koji
se	PAR	se
oko	PREP	oko
toga	PRO	taj
dešava	A:aem	dešava
deluje	N:m	deluje
jako	ADV	jako
veštački	A:aem	veštački
.	SENT	.
Uzgred	ADV	uzgred
,	PUNCT	,
jedna	NUM	jedan
jedina	A:aef	jedini
zajednička	A:aen	zajednički
scena	N:f	scena
koju	PRO	koji
Daniel	N:m	Daniel
Radcliffe	N:m	Radcliffe
ima	A:aem	ima
sa	PREP	sa
mlađanom	A:aem	mlađan
Bonnie	A:aem	Bonnie
Wright	N:m	Wright
(	PUNCT	(
Harryjeva	A:aef	Harryjeva
izabranica	N:f	izabranica
Ginny	A:aem	Ginny
Weasley	N:m	Weasley
)	PUNCT	)
,	PUNCT	,
iako	CONJ	iako
prilično	ADV	prilično
nevina	A:aef	nevin
,	PUNCT	,
vrelija	A:bef	vreo
je	PRO	ona
od	PREP	od
svih	PRO	sav
tih	PRO	taj
sati	N:f	sat
(	PUNCT	(
bukvalno	ADV	bukvalno
)	PUNCT	)
provedenih	A:aef	proveden
sa	PREP	sa
Hermionom	N:f	Hermiona
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
nam	PRO	mi
Ronova	A:aem	Ronova
posledična	A:aef	posledični
ljubomora	N:f	ljubomora
deluje	A:aem	deluje
ničim	PRO	ništa
izazvano	V:n	izazvati
,	PUNCT	,
mada	CONJ	mada
je	PRO	ona
njegova	PRO	njegov
izvedba	N:f	izvedba
jedna	NUM	jedan
od	PREP	od
boljih	A:bef	dobar
i	CONJ	i
uverljivijih	A:bef	uverljiv
u	PREP	u
filmu	N:m	film
.	PUNCT	.
Ako	CONJ	ako
je	PRO	ona
,	PUNCT	,
dakle	CONJ	dakle
,	PUNCT	,
uspešno	ADV	uspešno
pratila	V:f	pratiti
predadolescentna	A:aen	predadolescentna
zaljubljivanja	N:n	zaljubljivanje
svojih	PRO	svoj
junaka	N:m	junak
,	PUNCT	,
J	ABB	J
.	PUNCT	.
K	ABB	K
.	PUNCT	.
se	PAR	se
nije	N:m	nije
baš	PAR	baš
najbolje	ADV	najbolje
snašla	V:f	snaći
u	PREP	u
trenutku	N:m	trenutak
kada	CONJ	kada
je	PRO	ona
trebalo	V:n	trebati
uvesti	N:f	uvesti
reč	N:f	reč
na	PREP	na
„	N:m	„
S	ABB	S
“	N:m	“
.	SENT	.
Psihološki	A:aem	Psihološki
naboj	N:m	naboj
,	PUNCT	,
dakle	CONJ	dakle
,	PUNCT	,
nismo	N:f	nismo
dobili	V:m	dobiti
.	PUNCT	.
A	CONJ	a
šta	PRO	šta
je	PRO	ona
sa	PREP	sa
avanturama	N:f	avantura
?	SENT	?
Recimo	N:f	Recimo
samo	PAR	samo
to	PRO	taj
da	CONJ	da
ćete	N:m	ćete
se	PAR	se
sve	PRO	sav
vreme	N:n	vreme
osećati	N:f	osećati
uskraćeno	V:n	uskratiti
i	CONJ	i
nervirati	A:aem	nervirati
se	PAR	se
oko	PREP	oko
toga	PRO	taj
ko	PRO	ko
sve	PRO	sav
u	PREP	u
spoljnom	A:aen	spoljni
svetu	A:aen	svet
gine	N:n	gine
,	PUNCT	,
dok	CONJ	dok
se	PAR	se
ovo	PRO	ovaj
troje	NUM	troje
kriju	N:m	kriju
po	PREP	po
šumama	N:f	šuma
.	SENT	.
Yates	N:m	Yates
doduše	PAR	doduše
uvodi	N:m	uvod
jedan	NUM	jedan
zanimljiv	A:aem	zanimljiv
element	N:m	element
–	A:aem	–
radio	N:m	radio
koji	PRO	koji
Ron	N:m	Ron
konstantno	ADV	konstantno
sluša	V:m	sluša
i	CONJ	i
koji	PRO	koji
im	PRO	ona
predstavlja	N:n	predstavlja
jedinu	A:aef	jedini
komunikaciju	N:f	komunikacija
sa	PREP	sa
okolinom	N:f	okolina
,	PUNCT	,
svojim	PRO	svoj
zlokobnim	A:aem	zlokoban
šumovima	N:m	šum
stvara	N:m	stvara
psihodeličnu	A:aef	psihodeličan
atmosferu	N:f	atmosfera
.	SENT	.
Uz	PREP	uz
to	PRO	taj
,	PUNCT	,
izuzetno	ADV	izuzetno
zanimljiva	A:aef	zanimljiv
animirana	A:aef	animiran
sekvenca	N:f	sekvenca
pred	PREP	pred
kraj	N:m	kraj
filma	N:m	film
(	PUNCT	(
koju	PRO	koji
,	PUNCT	,
nota	N:f	nota
bene	N:f	bena
,	PUNCT	,
nije	V:m	nije
režirao	V:m	režirati
Yates	N:m	Yates
,	PUNCT	,
već	PAR	već
Švajcarac	N:m	Švajcarac
Ben	N:m	Ben
Hibon	N:m	Hibon
)	PUNCT	)
,	PUNCT	,
jedini	A:aem	jedini
je	PRO	ona
razlog	N:m	razlog
što	CONJ	što
vaša	PRO	vaš
kritičarka	N:f	kritičarka
ovde	ADV	ovde
poklanja	N:n	poklanja
četvorku	N:f	četvorka
.	SENT	.
