Paganski	A:aem	paganski
egzorcizam	N:m	egzorcizam
(	PUNCT	(
brusom	N:m	Brus
i	CONJ	i
makazama	N:f	makaze
)	PUNCT	)
.	SENT	.
Pustio	V:m	pustiti
sam	PRO	sam
Wolves	N:m	Wolves
In	N:m	In
The	INT	The
Throne	N:m	Throne
Room	N:m	Room
(	PUNCT	(
Black	N:m	Black
Cascade	N:f	Cascade
)	PUNCT	)
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
Lars	N:m	Lars
kad	CONJ	kad
je	PRO	ona
seo	V:m	sesti
da	CONJ	da
piše	A:aem	piše
scenario	N:m	scenario
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
i	CONJ	i
razmišljam	V:m	razmišljam
da	CONJ	da
li	PAR	li
možda	PAR	možda
postoji	N:f	postoji
neki	PRO	neki
album	N:m	album
sa	PREP	sa
kojim	PRO	koji
bih	N:m	bih
mogao	V:m	moći
da	CONJ	da
uporedim	A:aem	uporedim
Antichrist	N:m	Antichrist
-	PUNCT	-
a	CONJ	a
.	SENT	.
Bilo	V:n	biti
šta	PRO	šta
od	PREP	od
Kate	N:f	Kata
Bush	A:aem	Bush
otpada	N:m	otpad
,	PUNCT	,
iako	CONJ	iako
mi	PRO	ja
je	PRO	ona
ona	PRO	ona
(	PUNCT	(
tj	ABB	tj
Never	N:m	Never
For	N:m	for
Ever	N:m	Ever
)	PUNCT	)
prva	A:aen	prvi
pala	V:f	pasti
na	PREP	na
pamet	N:f	pamet
.	SENT	.
U	PREP	u
njenim	PRO	njen
pesmama	N:f	pesma
niko	PRO	niko
sebi	PRO	sebe
ne	PAR	ne
otseče	N:m	otsek
klitoris	N:m	klitoris
(	PUNCT	(
ups	N:m	ups
,	PUNCT	,
spojler	N:m	spojler
!	PUNCT	!
)	PUNCT	)
.	SENT	.
Miranda	N:f	Miranda
Sex	A:aem	Sex
Garden	N:m	Garden
(	PUNCT	(
Carnival	N:m	Carnival
Of	N:m	Of
Souls	N:m	Souls
)	PUNCT	)
?	SENT	?
Možda	N:f	Možda
,	PUNCT	,
ali	CONJ	ali
one	PRO	onaj
su	N:m	su
prilično	ADV	prilično
aseksualne	A:aem	aseksualan
.	SENT	.
PJ	N:m	PJ
Harvey	N:m	Harvey
!	SENT	!
Tako	ADV	tako
je	PRO	ona
!	PUNCT	!
Dry	N:m	Dry
-	PUNCT	-
u	PREP	u
suštini	N:f	suština
,	PUNCT	,
To	N:m	To
Bring	N:m	Bring
You	N:m	You
My	A:aem	My
Love	N:m	Lov
i	CONJ	i
Uh	A:aem	Uh
Huh	A:aem	Huh
Her	N:m	Her
-	PUNCT	-
u	PREP	u
atmosferi	N:f	atmosfera
.	SENT	.
I	CONJ	i
gotskim	A:aem	gotski
prizvucima	N:m	prizvuk
.	PUNCT	.
A	CONJ	a
tragao	V:m	tragati
sam	PRO	sam
za	PREP	za
nečim	PRO	nešto
što	CONJ	što
je	PRO	ona
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
i	CONJ	i
žensko	A:aen	ženski
i	CONJ	i
pagansko	A:aen	paganski
i	CONJ	i
krvareće	N:f	krvareće
i	CONJ	i
majčinsko	A:aen	majčinski
i	CONJ	i
ljubavno	A:aen	ljubavan
i	CONJ	i
divlje	A:aem	divalj
i	CONJ	i
pomahnitalo	A:aen	pomahnitao
i	CONJ	i
u	PREP	u
šumi	N:f	šuma
i	CONJ	i
zlokobno	A:aen	zlokoban
i	CONJ	i
žrtvovano	A:aen	žrtvovan
i	CONJ	i
nemoćno	A:aen	nemoćan
(	PUNCT	(
da	CONJ	da
bude	A:aem	bude
samo	PAR	samo
)	PUNCT	)
.	SENT	.
Novi	A:aem	nov
film	N:m	film
Larsa	N:m	Lars
Von	N:m	Von
Triera	N:m	Triera
verovatno	ADV	verovatno
će	A:aem	će
opravdati	N:m	opravdati
vaša	PRO	vaš
očekivanja	N:n	očekivanje
da	CONJ	da
dobijete	A:aem	dobijete
larsvontrierovski	A:aem	larsvontrierovski
film	N:m	film
.	PUNCT	.
Ne	PAR	ne
znam	N:m	znam
da	CONJ	da
li	PAR	li
će	N:m	će
nam	PRO	mi
se	PAR	se
film	N:m	film
ukazati	N:m	ukazati
na	PREP	na
Autorskom	N:f	Autorskom
festivalu	N:m	festival
ili	CONJ	ili
FEST	N:m	fest
-	PUNCT	-
u	PREP	u
,	PUNCT	,
ali	CONJ	ali
do	PREP	do
tada	ADV	tada
će	N:n	će
vas	PRO	vi
već	PAR	već
stići	N:m	stići
svi	PRO	sav
detalji	N:m	detalj
kontroverze	N:f	kontroverza
vezane	V:f	vezati
za	PREP	za
njega	PRO	on
i	CONJ	i
imaćete	A:aem	imaćete
pregršt	N:m	pregršt
razloga	N:m	razlog
da	CONJ	da
odlučite	A:aem	odlučite
da	CONJ	da
li	PAR	li
jedva	ADV	jedva
čekate	N:m	čekate
da	CONJ	da
ga	PRO	on
pogledate	N:m	pogledate
ili	CONJ	ili
ćete	N:m	ćete
pre	PREP	pre
pristati	N:m	pristati
da	CONJ	da
vam	PRO	vi
zabiju	N:m	zabiju
ekser	N:m	ekser
pod	PREP	pod
očne	A:aef	očni
jabučice	N:f	jabučica
.	SENT	.
Preterujem	N:m	Preterujem
,	PUNCT	,
ali	CONJ	ali
malo	ADV	malo
sam	A:aem	sam
pod	PREP	pod
utiskom	N:m	utisak
.	SENT	.
Ono	PRO	onaj
što	PRO	što
mogu	N:m	Mog
odmah	ADV	odmah
da	CONJ	da
vam	PRO	vi
kažem	A:aem	kažem
je	PRO	ona
da	CONJ	da
je	PRO	ona
sa	PREP	sa
102	NUM	@card@
minuta	N:m	minut
trajanja	N:n	trajanje
ovo	PRO	ovaj
verovatno	PAR	verovatno
jedan	NUM	jedan
od	PREP	od
njegovih	PRO	njegov
kraćih	A:bef	kratak
filmova	N:m	film
.	PUNCT	.
I	CONJ	i
zbog	PREP	zbog
toga	PRO	taj
mu	PRO	on
treba	N:f	treba
biti	N:f	bit
zahvalan	A:aem	zahvalan
.	SENT	.
Priča	A:aem	Priča
je	PRO	ona
vrlo	ADV	vrlo
jednostavna	A:aem	jednostavan
.	SENT	.
Njemu	PRO	on
(	PUNCT	(
Willem	N:m	Willem
Dafoe	N:m	Dafoe
)	PUNCT	)
i	CONJ	i
Njoj	A:aem	Njoj
(	PUNCT	(
Charlotte	N:m	Charlotte
Gainsbourg	N:m	Gainsbourg
)	PUNCT	)
strada	N:f	strada
dete	N:n	dete
.	SENT	.
Bitno	ADV	bitno
je	PRO	ona
kako	ADV	kako
,	PUNCT	,
ali	CONJ	ali
neću	V:m	neću
vam	PRO	vi
reći	N:m	reći
.	SENT	.
Nakon	PREP	nakon
toga	PRO	taj
,	PUNCT	,
Ona	A:aem	Ona
ima	A:aem	ima
ozbiljnih	A:aem	ozbiljan
problema	N:m	problem
da	CONJ	da
to	PRO	taj
prihvati	N:m	prihvat
i	CONJ	i
preboli	N:m	prebol
.	SENT	.
Zbog	PREP	zbog
toga	PRO	taj
je	PRO	ona
On	N:m	On
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
psihijatar	N:m	psihijatar
,	PUNCT	,
odvodi	N:m	odvod
na	PREP	na
mesto	N:n	mesto
koga	PRO	koji
se	PAR	se
najviše	ADV	najviše
plaši	V:m	plaši
-	PUNCT	-
kolibu	N:f	koliba
u	PREP	u
šumi	N:f	šuma
,	PUNCT	,
u	PREP	u
nadi	N:f	nada
da	CONJ	da
će	N:f	će
kroz	PREP	kroz
suočavanje	N:n	suočavanje
sa	PREP	sa
jednim	NUM	jedan
strahom	N:m	strah
uspeti	A:aem	uspeti
da	CONJ	da
izađe	A:ben	izađe
kao	CONJ	kao
snažnija	A:bem	snažan
osoba	N:f	osoba
spremna	A:aem	spreman
da	CONJ	da
se	PAR	se
nosi	V:m	nosi
sa	PREP	sa
bolnom	A:aef	bolan
realnošću	N:f	realnost
.	SENT	.
Kako	CONJ	kako
se	PAR	se
odvija	A:bef	odvija
terapija	N:f	terapija
„	A:aem	„
prirodom	N:f	priroda
“	N:m	“
ne	PAR	ne
smem	N:m	smem
da	CONJ	da
vam	PRO	vi
kažem	A:aem	kažem
,	PUNCT	,
ali	CONJ	ali
ću	V:m	ću
vam	PRO	vi
otkriti	N:m	otkriti
da	CONJ	da
se	PAR	se
u	PREP	u
jednom	NUM	jedan
trenutku	N:m	trenutak
On	A:aem	On
sakriva	N:n	sakriva
u	PREP	u
jazavičju	A:aef	jazavičji
rupu	N:f	rupa
podno	PREP	podno
nekog	PRO	neki
drveta	N:n	drvo
u	PREP	u
kome	PRO	koji
otkriva	A:aen	otkriva
zakopano	A:aen	zakopan
gavranče	N:m	gavranče
koje	PRO	koji
oživljava	A:aem	oživljava
nakon	PREP	nakon
otkopavanja	N:n	otkopavanje
i	CONJ	i
počinje	N:f	počinje
da	CONJ	da
krešti	N:f	krešti
,	PUNCT	,
a	CONJ	a
On	V:m	On
ga	PRO	on
ubija	N:n	ubija
udarcima	N:m	udarac
pesnice	N:f	pesnica
da	CONJ	da
ga	PRO	on
Ona	N:f	Ona
ne	PAR	ne
bi	V:f	bi
otkrila	V:f	otkriti
.	PUNCT	.
Ludilo	V:n	luditi
,	PUNCT	,
a	INT	a
?	PUNCT	?
!	SENT	!
Druga	A:aef	drugi
bitna	A:aef	bitan
stvar	N:f	stvar
je	PRO	ona
da	CONJ	da
obratite	N:m	obratite
pažnju	N:f	pažnja
na	PREP	na
sazvežđe	N:n	sazvežđe
koje	PRO	koji
će	N:f	će
se	PAR	se
ukazati	N:m	ukazati
potkraj	PREP	potkraj
filma	N:m	film
.	SENT	.
Čini	N:m	Čina
mi	PRO	ja
se	PAR	se
da	CONJ	da
je	PRO	ona
ono	PRO	onaj
ključ	N:m	ključ
za	PREP	za
dešifrovanje	N:n	dešifrovanje
filma	N:m	film
.	SENT	.
Ja	PRO	ja
nisam	N:m	nisam
.	PUNCT	.
Ako	CONJ	ako
ostavimo	N:f	ostavimo
po	PREP	po
strani	N:f	strana
da	CONJ	da
ovaj	PRO	ovaj
put	N:f	put
(	PUNCT	(
ubedljivije	A:bef	ubedljiv
nego	CONJ	nego
u	PREP	u
Idiots	N:m	Idiots
ili	CONJ	ili
Breaking	N:f	Breaking
The	INT	The
Waves	N:m	Waves
)	PUNCT	)
Lars	N:m	Lars
nije	N:f	nije
napravio	V:m	napraviti
film	N:m	film
za	PREP	za
naše	PRO	naš
majke	N:f	majka
&	PUNCT	&&&&
bake	N:f	baka
,	PUNCT	,
kao	CONJ	kao
ni	PAR	ni
za	PREP	za
sve	PRO	sav
DS	N:m	DS
-	PUNCT	-
ovce	N:f	ovca
okrenute	V:f	okrenuti
pravoslavlju	N:n	pravoslavlje
,	PUNCT	,
ono	PRO	onaj
što	CONJ	što
će	A:aef	će
biti	N:f	bit
ozbiljan	A:aem	ozbiljan
kamen	N:m	kamen
spoticanja	N:n	spoticanje
za	PREP	za
uživanje	N:n	uživanje
u	PREP	u
filmu	N:m	film
jeste	INT	jeste
njegov	PRO	njegov
širokogrudi	A:aem	širokogrud
poziv	N:m	poziv
na	PREP	na
tumačenje	N:n	tumačenje
svake	PRO	svaki
jebene	A:aef	jeben
stvari	N:f	stvar
koja	PRO	koji
se	PAR	se
pokaže	V:m	pokaže
,	PUNCT	,
prikaže	N:m	prikaže
ili	CONJ	ili
izgovori	N:m	izgovor
.	SENT	.
A	CONJ	a
stvari	N:f	stvar
ima	A:aem	ima
dosta	ADV	dosta
.	SENT	.
Više	N:m	Vis
nego	CONJ	nego
kod	PREP	kod
Bergmana	N:m	Bergman
.	SENT	.
Na	PREP	na
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
Ona	N:m	Ona
u	PREP	u
jednom	NUM	jedan
trenutku	N:m	trenutak
kaže	N:f	kaža
da	CONJ	da
ne	PAR	ne
veruje	N:m	veruje
u	PREP	u
psihologiju	N:f	psihologija
ironično	ADV	ironično
konstatujući	A:aem	konstatujući
da	CONJ	da
je	PRO	ona
Frojd	N:m	Frojd
mrtav	A:aem	mrtav
.	SENT	.
Ženske	A:aem	Ženske
studije	N:f	studija
će	N:f	će
bez	PREP	bez
sumnje	N:f	sumnja
imati	N:f	imati
svoju	PRO	svoj
reč	N:f	reč
.	SENT	.
Baš	N:m	Baš
kao	CONJ	kao
i	CONJ	i
norveški	A:aem	norveški
satanisti	N:m	satanisti
.	SENT	.
Meni	PRO	ja
je	PRO	ona
,	PUNCT	,
kao	CONJ	kao
u	PREP	u
Vinyan	N:m	Vinyan
-	PUNCT	-
u	PREP	u
,	PUNCT	,
falilo	V:n	faliti
malo	ADV	malo
autentične	A:aef	autentičan
drame	N:f	drama
(	PUNCT	(
sleš	A:aem	sleš
zapleta	N:m	zaplet
)	PUNCT	)
koja	PRO	koji
bi	N:f	bi
odgovarala	V:f	odgovarati
tooolikim	A:aef	tooolikim
(	PUNCT	(
a	CONJ	a
nisu	N:m	nisu
svi	PRO	sav
uspešni	A:aem	uspešan
!	PUNCT	!
)	PUNCT	)
pokušajima	N:m	pokušaj
njenog	PRO	njen
autentičnog	A:aem	autentičan
dočaravanja	N:n	dočaravanje
.	SENT	.
Ako	CONJ	ako
razgrnete	N:m	razgrnete
svu	PRO	sav
tu	ADV	tu
baroknu	A:aef	barokni
metafiziku	N:f	metafizika
videćete	N:m	videćete
da	CONJ	da
se	PAR	se
u	PREP	u
osnovi	N:f	osnova
Antichrist	N:m	Antichrist
-	PUNCT	-
a	CONJ	a
nalazi	N:m	nalaz
jedan	NUM	jedan
vrlo	ADV	vrlo
.	PUNCT	.
.	SENT	.
.	PUNCT	.
banalan	A:aem	banalan
triler	N:m	triler
.	SENT	.
Von	N:m	Von
Trier	N:m	Trier
očigledno	ADV	očigledno
koketira	N:m	koketira
sa	PREP	sa
mitom	N:n	mito
o	PREP	o
Adamu	N:m	Adam
i	CONJ	i
Evi	N:f	Eva
,	PUNCT	,
jer	CONJ	jer
ih	PRO	ona
je	PRO	ona
samo	PAR	samo
dvoje	NUM	dvoje
i	CONJ	i
spominje	N:n	spominje
se	PAR	se
Rajski	N:f	Rajska
vrt	N:m	vrt
.	SENT	.
Međutim	A:aef	Međutim
priroda	N:f	priroda
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
obično	ADV	obično
bila	V:f	biti
kolevka	N:f	kolevka
idiličnih	A:aef	idiličan
slika	N:f	slika
raja	N:m	raj
,	PUNCT	,
ovde	ADV	ovde
se	PAR	se
pojavljuje	N:f	pojavljuje
u	PREP	u
svojoj	PRO	svoj
paganskoj	A:aef	paganski
negostoljubivosti	N:f	negostoljubivosti
kojoj	PRO	koji
Von	N:m	Von
Trier	N:m	Trier
daje	N:m	daje
potom	ADV	potom
i	CONJ	i
zlokobne	A:aem	zlokoban
atribute	N:m	atribut
zla	N:n	zlo
i	CONJ	i
pretvara	N:f	pretvara
je	PRO	ona
u	PREP	u
pravo	N:n	pravo
malo	ADV	malo
satansko	A:aen	satanski
grotlo	N:n	grotlo
.	PUNCT	.
Kako	CONJ	kako
nikako	ADV	nikako
ne	PAR	ne
mogu	A:aen	mogu
da	CONJ	da
prihvatim	A:aen	prihvatim
takvu	PRO	takav
viziju	N:f	vizija
/	A:aem	/
tvrdnju	N:f	tvrdnja
kao	CONJ	kao
simpatičnu	A:aen	simpatičan
,	PUNCT	,
ja	PRO	ja
se	PAR	se
osećam	N:m	osećam
nesposobnim	A:aef	nesposoban
da	CONJ	da
u	PREP	u
takvom	PRO	takav
sistemu	N:m	sistem
tražim	V:m	tražim
ni	PAR	ni
smisao	N:m	smisao
ni	CONJ	ni
zadovoljstvo	N:n	zadovoljstvo
.	SENT	.
Stvar	N:f	stvar
dodatno	A:aen	dodatan
komplikuje	N:m	komplikuje
to	PRO	taj
što	PRO	što
Von	N:m	Von
Trier	N:m	Trier
provlači	A:aem	provlači
ideju	N:f	ideja
da	CONJ	da
između	PREP	između
satane	N:f	satana
,	PUNCT	,
prirode	N:f	priroda
i	CONJ	i
žene	N:f	žena
stoji	N:f	stoja
znak	N:m	znak
jednakosti	N:f	jednakost
.	PUNCT	.
A	CONJ	a
onda	ADV	onda
na	PREP	na
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
kao	CONJ	kao
so	N:f	so
,	PUNCT	,
sipa	N:f	sipa
i	CONJ	i
priču	N:f	priča
o	PREP	o
vešticama	N:f	veštica
,	PUNCT	,
kojima	PRO	koji
se	PAR	se
Ona	N:m	Ona
u	PREP	u
istoj	A:aef	isti
toj	PRO	taj
kolibi	N:f	koliba
prošle	A:aef	prošli
godine	N:f	godina
bavila	V:n	baviti
u	PREP	u
svom	PRO	sav
literarnom	A:aem	literaran
radu	N:m	rad
i	CONJ	i
za	PREP	za
koje	PRO	koji
Ona	A:aem	Ona
misli	N:f	misao
da	CONJ	da
su	N:m	su
zaslužile	V:f	zaslužiti
sve	ADV	sve
što	CONJ	što
im	PRO	ona
se	PAR	se
dešavalo	V:n	dešavati
(	PUNCT	(
tokom	PREP	tokom
srednjevekovnih	A:aef	srednjevekovni
crkvenih	A:aen	crkven
varošarija	N:f	varošarija
)	PUNCT	)
.	SENT	.
Kažem	A:aem	Kažem
vam	PRO	vi
-	PUNCT	-
ima	A:aem	ima
više	ADV	više
da	CONJ	da
se	PAR	se
tumači	N:m	tumač
,	PUNCT	,
nego	CONJ	nego
da	CONJ	da
se	PAR	se
gleda	N:m	gleda
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
dve	NUM	dva
stvari	N:f	stvar
su	N:m	su
jebeno	A:aen	jeben
genijalne	A:aef	genijalan
.	PUNCT	.
Ne	PAR	ne
čitajte	N:m	čitajte
dalje	ADV	dalje
,	PUNCT	,
ako	CONJ	ako
patite	N:m	patite
od	PREP	od
spojlerofilisa	N:m	spojlerofilisa
!	PUNCT	!
!	SENT	!
!	PUNCT	!
!	SENT	!
Tri	NUM	tri
,	PUNCT	,
zapravo	ADV	zapravo
.	SENT	.
Uvodna	A:aef	uvodni
sekvenca	N:f	sekvenca
je	PRO	ona
poezija	N:f	poezija
.	SENT	.
Nakon	PREP	nakon
toga	PRO	taj
,	PUNCT	,
tokom	PREP	tokom
scene	N:f	scena
sahrane	N:f	sahrana
,	PUNCT	,
Von	N:m	Von
Trier	N:m	Trier
stavlja	N:n	stavlja
kameru	N:f	kamera
u	PREP	u
detetov	A:aem	detetov
stakleni	A:aem	staklen
mrtvački	A:aem	mrtvački
kovčeg	N:m	kovčeg
i	CONJ	i
daje	N:m	daje
nam	PRO	mi
njegov	PRO	njegov
nepokretni	A:aem	nepokretan
„	A:aem	„
subjektivac	N:m	subjektivac
“	A:aem	“
na	PREP	na
ljude	N:m	ljudi
spolja	ADV	spolja
.	PUNCT	.
Skidam	N:m	Skidam
kapu	N:f	kapa
.	SENT	.
I	CONJ	i
treći	A:aem	treći
je	PRO	ona
kada	CONJ	kada
JEBENA	A:aem	jeben
LISICA	N:f	lisica
JEBENO	A:aen	jeben
PROGOVORI	N:m	PROGOVORI
i	CONJ	i
kaže	N:f	kaža
„	A:aem	„
CHAOS	N:m	CHAOS
REIGNS	N:m	REIGNS
“	A:aem	“
