Braćo	N:m	Braćo
,	PUNCT	,
da	CONJ	da
vam	PRO	vi
se	PAR	se
obratim	A:aem	obratim
tako	ADV	tako
,	PUNCT	,
poput	PREP	poput
Malkoma	N:m	Malkom
Mekdauela	N:m	Mekdauela
u	PREP	u
Clockwork	A:aem	Clockwork
Orange	N:m	Orange
,	PUNCT	,
večeras	ADV	večeras
sam	PRO	sam
bio	V:m	biti
na	PREP	na
projekciji	N:f	projekcija
ovog	PRO	ovaj
čuda	N:n	čudo
od	PREP	od
filma	N:m	film
.	SENT	.
Utorak	N:m	utorak
,	PUNCT	,
Happy	A:aem	Happy
Day	N:m	Day
u	PREP	u
Areni	N:m	Areni
(	PUNCT	(
Novosadskoj	A:aef	novosadski
)	PUNCT	)
,	PUNCT	,
karta	N:f	karta
200	NUM	@card@
din	N:m	din
,	PUNCT	,
lepa	A:aef	lep
noć	N:f	noć
za	PREP	za
šetnju	N:f	šetnja
5	NUM	@card@
km	ABB	km
do	PREP	do
stana	N:m	stan
posle	PREP	posle
filma	N:m	film
,	PUNCT	,
što	CONJ	što
da	CONJ	da
ne	PAR	ne
.	SENT	.
Uostalom	PAR	uostalom
,	PUNCT	,
Thor	N:m	Thor
je	PRO	ona
bio	V:m	biti
zabavan	A:aem	zabavan
,	PUNCT	,
pa	CONJ	pa
zašto	ADV	zašto
ne	PAR	ne
bi	V:m	bi
bio	V:m	biti
i	CONJ	i
Kapetan	A:aem	Kapetan
Amerika	N:f	Amerika
.	SENT	.
Glavna	A:aen	Glavna
uloga	N:f	uloga
je	PRO	ona
dodeljena	V:f	dodeliti
vazda	ADV	vazda
simpatičnom	A:aem	simpatičan
Kris	N:m	Kris
Evansu	N:m	Evans
.	SENT	.
Izbor	N:m	izbor
sasvim	ADV	sasvim
ok	A:aem	ok
.	PUNCT	.
Krenuću	V:m	Krenuću
odmah	ADV	odmah
sa	PREP	sa
pričom	N:f	priča
,	PUNCT	,
pa	CONJ	pa
ću	A:aem	ću
predstaviti	N:m	predstaviti
i	CONJ	i
ostale	V:f	ostati
likove	N:m	lik
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
Stiv	N:m	Stiv
Rodžers	N:m	Rodžers
je	PRO	ona
momak	N:m	momak
koji	PRO	koji
je	PRO	ona
rasta	N:m	rast
kao	CONJ	kao
klinac	N:m	klinac
.	SENT	.
Ima	A:aem	Ima
probleme	N:m	problem
sa	PREP	sa
astmom	N:f	astma
i	CONJ	i
još	ADV	još
nekim	PRO	neki
stvarima	N:f	stvar
,	PUNCT	,
ne	PAR	ne
sećam	N:n	sećam
se	PAR	se
već	PAR	već
sa	PREP	sa
čime	PRO	šta
,	PUNCT	,
u	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
ima	A:aem	ima
kolekciju	N:f	kolekcija
bolesti	N:f	bolest
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
mali	A:aem	mali
,	PUNCT	,
logično	ADV	logično
je	PRO	ona
da	CONJ	da
se	PAR	se
svi	PRO	sav
izdrndavaju	N:m	izdrndavaju
po	PREP	po
njemu	PRO	on
.	SENT	.
Posle	PREP	posle
nekoliko	ADV	nekoliko
neuspešnih	A:aem	neuspešan
pokušaja	N:m	pokušaj
da	CONJ	da
se	PAR	se
uvuče	V:m	uvuče
u	PREP	u
vojsku	N:f	vojska
tako	ADV	tako
što	CONJ	što
je	PRO	ona
lažirao	V:m	lažirati
dokumenta	N:n	dokument
,	PUNCT	,
primećuje	N:m	primećuje
ga	PRO	on
Nemac	N:m	Nemac
,	PUNCT	,
naučnik	N:m	naučnik
,	PUNCT	,
(	PUNCT	(
glumi	N:f	gluma
ga	PRO	on
Stenli	N:m	Stenli
Tuči	N:f	Tuči
)	PUNCT	)
koji	PRO	koji
radi	PREP	radi
za	PREP	za
Amere	N:m	Amer
.	PUNCT	.
A	CONJ	a
da	CONJ	da
,	PUNCT	,
nisam	N:m	nisam
rekao	V:m	reći
da	CONJ	da
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
period	N:m	period
drugog	A:aem	drugi
svetskog	A:aem	svetski
rata	N:f	rata
.	SENT	.
Onda	ADV	onda
su	N:m	su
ga	PRO	on
nabudžili	V:m	nabudžili
fizički	ADV	fizički
,	PUNCT	,
i	CONJ	i
gle	INT	gle
čuda	N:n	čudo
,	PUNCT	,
imamo	N:m	imamo
superheroja	N:m	superheroja
.	PUNCT	.
Ako	CONJ	ako
je	PRO	ona
to	PRO	taj
samo	PAR	samo
fizičko	A:aen	fizički
nabudživanje	N:n	nabudživanje
,	PUNCT	,
kako	CONJ	kako
on	PRO	on
onda	ADV	onda
zna	V:m	zna
da	CONJ	da
se	PAR	se
šiba	N:f	šiba
,	PUNCT	,
ne	PAR	ne
baš	PAR	baš
kao	CONJ	kao
Stiven	N:m	Stiven
Sigal	N:m	Sigal
,	PUNCT	,
ali	CONJ	ali
manje	ADV	manje
brutalno	A:aen	brutalan
,	PUNCT	,
sa	PREP	sa
više	ADV	više
akrobacija	N:f	akrobacija
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
on	PRO	on
odmah	ADV	odmah
nije	A:aem	nije
priiznat	A:aem	priiznat
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
'	A:aem	'
eksperiment	N:m	eksperiment
'	A:aem	'
pa	CONJ	pa
ga	PRO	on
koriste	N:m	koriste
kao	CONJ	kao
cirkusku	A:aef	cirkuski
atrakciju	N:f	atrakcija
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
onda	ADV	onda
gledalac	N:m	gledalac
sa	PREP	sa
iole	ADV	iole
malo	ADV	malo
mozga	N:m	mozak
zna	A:aen	zna
da	CONJ	da
se	PAR	se
čeka	N:f	čeka
neki	PRO	neki
njegov	PRO	njegov
dojajan	A:aem	dojajan
potez	N:m	potez
da	CONJ	da
bi	V:m	bi
ga	PRO	on
pustili	V:m	pustiti
da	CONJ	da
gazi	N:f	gaza
dalje	ADV	dalje
.	SENT	.
Jednog	NUM	jedan
od	PREP	od
'	N:m	'
naših	PRO	naš
'	N:m	'
,	PUNCT	,
i	CONJ	i
to	PRO	taj
generala	N:m	general
,	PUNCT	,
glumi	N:f	gluma
Tomi	N:m	Toma
Li	N:m	Li
Džons	N:m	Džons
.	SENT	.
U	PREP	u
filmu	N:m	film
sam	PRO	sam
se	PAR	se
dva	NUM	dva
puta	ADV	puta
nasmejao	V:m	nasmejati
.	SENT	.
Najbolji	A:cem	dobar
fazon	N:m	fazon
je	PRO	ona
izveo	V:m	izvesti
upravo	ADV	upravo
Tomi	N:m	Toma
Li	N:m	Li
Džons	N:m	Džons
,	PUNCT	,
za	PREP	za
drugi	A:aem	drugi
je	PRO	ona
zaslužna	A:aef	zaslužan
pojava	N:f	pojava
osobe	N:f	osoba
na	PREP	na
kraju	N:m	kraj
filma	N:m	film
.	PUNCT	.
Neću	N:m	Neću
da	CONJ	da
dajem	N:m	dajem
neke	PRO	neki
spoilere	N:m	spoilere
.	SENT	.
Ovo	PRO	ovaj
što	CONJ	što
sam	PRO	sam
do	PREP	do
sada	ADV	sada
pisao	V:m	pisati
,	PUNCT	,
i	CONJ	i
nisu	N:m	nisu
neki	PRO	neki
spoileri	N:m	spoileri
.	SENT	.
Negativca	N:m	negativac
glumi	N:f	gluma
Hugo	N:m	Hugo
Viving	N:m	Viving
.	SENT	.
On	PRO	on
se	PAR	se
u	PREP	u
filmu	N:m	film
preziva	N:m	preziva
,	PUNCT	,
pazi	N:m	pazi
sad	ADV	sad
ovo	PRO	ovaj
,	PUNCT	,
Šmit	N:m	Šmit
.	PUNCT	.
Da	CONJ	da
li	PAR	li
je	PRO	ona
to	PRO	taj
slučajnost	N:f	slučajnost
,	PUNCT	,
pošto	CONJ	pošto
u	PREP	u
Matriksu	N:m	matriks
on	PRO	on
glumi	N:f	gluma
Smita	N:m	Smit
.	PUNCT	.
.	SENT	.
.	PUNCT	.
pa	CONJ	pa
procenite	A:aem	procenite
sami	A:aem	sam
.	SENT	.
On	PRO	on
predvodi	N:m	predvodi
jedinicu	N:f	jedinica
koja	PRO	koji
se	PAR	se
zove	N:f	zova
Hidra	N:f	Hidra
.	SENT	.
I	CONJ	i
zamislite	N:f	zamislite
,	PUNCT	,
oni	PRO	onaj
nisu	N:m	nisu
zadovoljni	A:aem	zadovoljan
kako	CONJ	kako
Hitler	N:m	Hitler
napreduje	N:m	napreduje
,	PUNCT	,
pa	CONJ	pa
su	N:m	su
pronašli	V:m	pronaći
tajni	A:aem	tajni
izvor	N:m	izvor
energije	N:f	energija
,	PUNCT	,
pa	CONJ	pa
piče	V:m	piče
u	PREP	u
pola	N:m	pol
svetskog	A:aem	svetski
rata	N:f	rata
sa	PREP	sa
laserskim	A:aef	laserski
oružjima	N:n	oružje
.	PUNCT	.
E	CONJ	e
pošto	CONJ	pošto
se	PAR	se
zovu	N:f	zova
Hidra	N:f	Hidra
,	PUNCT	,
salutiraju	N:n	salutiraju
sa	PREP	sa
dve	NUM	dva
umesto	PREP	umesto
jedne	NUM	jedan
ruke	N:f	ruka
kao	CONJ	kao
Nacisti	N:m	nacista
i	CONJ	i
šake	N:f	šaka
su	N:m	su
stegnute	V:f	stegnuti
u	PREP	u
pesnice	N:f	pesnica
,	PUNCT	,
vi	PRO	vi
sada	ADV	sada
zamislite	N:f	zamislite
kako	CONJ	kako
izgleda	N:m	izgled
kada	CONJ	kada
uzviknu	A:aem	uzviknu
Heil	N:m	Heil
Hidra	N:f	Hidra
(	PUNCT	(
ili	CONJ	ili
tako	ADV	tako
nešto	ADV	nešto
)	PUNCT	)
.	SENT	.
Njesra	N:m	Njesra
,	PUNCT	,
zar	PAR	zar
ne	PAR	ne
?	PUNCT	?
Od	PREP	od
ovih	PRO	ovaj
novih	A:aef	nov
superherojskih	A:aem	superherojskih
filmova	N:m	film
očekujem	V:m	očekujem
barem	PAR	barem
zabavu	N:f	zabava
,	PUNCT	,
ako	CONJ	ako
ne	PAR	ne
ozbiljan	A:aem	ozbiljan
film	N:m	film
.	SENT	.
Savršen	A:aem	Savršen
primer	N:m	primer
za	PREP	za
to	PRO	taj
je	PRO	ona
Iron	A:aem	Iron
Man	N:m	Man
.	SENT	.
Ovde	ADV	ovde
sam	PRO	sam
se	PAR	se
,	PUNCT	,
kažem	N:m	kažem
,	PUNCT	,
dva	NUM	dva
puta	ADV	puta
nasmejao	V:m	nasmejati
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
Neke	PRO	neki
scene	N:f	scena
koje	PRO	koji
treba	N:f	treba
da	CONJ	da
traju	N:m	traju
duže	ADV	duže
su	N:m	su
skrndeljane	N:m	skrndeljane
na	PREP	na
brzinu	N:f	brzina
,	PUNCT	,
neke	PRO	neki
scene	N:f	scena
koje	PRO	koji
nisu	N:m	nisu
potrebne	A:aem	potreban
,	PUNCT	,
tu	PRO	taj
su	N:m	su
,	PUNCT	,
čisto	ADV	čisto
da	CONJ	da
se	PAR	se
ispoštuju	N:m	ispoštuju
standardne	A:aef	standardan
bolesti	N:f	bolest
šablona	N:m	šablon
snimanja	N:n	snimanje
filmova	N:m	film
.	SENT	.
Scene	N:f	scena
u	PREP	u
kojim	PRO	koji
Kapetan	A:aem	Kapetan
Amerika	N:f	Amerika
baca	N:m	baca
štit	N:m	štit
su	PREF	su
odlične	A:aem	odličan
,	PUNCT	,
ostale	V:f	ostati
su	N:m	su
jedva	ADV	jedva
vredne	A:aef	vredan
pomena	N:m	pomen
.	SENT	.
Vrhunac	N:m	vrhunac
debilizma	N:m	debilizma
:	PUNCT	:
scena	N:f	scena
u	PREP	u
kojoj	PRO	koji
Kapetan	A:aem	Kapetan
Amerika	N:f	Amerika
upada	N:m	upad
u	PREP	u
bazu	N:f	baza
Hidre	N:f	Hidra
,	PUNCT	,
i	CONJ	i
lik	N:m	lik
koji	PRO	koji
ima	A:aem	ima
lasersko	A:aen	laserski
,	PUNCT	,
jebokevno	A:aen	jebokevno
oružje	N:n	oružje
,	PUNCT	,
mu	PRO	on
jedno	NUM	jedan
deset	NUM	deset
sekundi	N:f	sekunda
prilazi	N:m	prilaz
s	PREP	s
leđa	N:n	leđa
na	PREP	na
nekih	PRO	neki
dva	NUM	dva
centimetra	N:m	centimetar
od	PREP	od
njega	PRO	on
?	PUNCT	?
!	PUNCT	!
?	SENT	?
!	PUNCT	!
Verovatno	ADV	verovatno
je	PRO	ona
hteo	V:m	hteti
da	CONJ	da
ga	PRO	on
bolje	ADV	bolje
nacilja	A:aem	nacilja
topom	N:m	top
koji	PRO	koji
drži	N:m	drži
u	PREP	u
ruci	N:f	ruka
.	SENT	.
Pred	PREP	pred
kraj	N:m	kraj
sledi	N:f	sledi
ono	PRO	onaj
što	PRO	što
sam	PRO	sam
očekivao	V:m	očekivati
ceo	A:aem	ceo
film	N:m	film
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
preser	N:m	preser
čuvenog	A:aem	čuven
Američkoh	N:m	Američkoh
herojstva	N:n	herojstvo
i	CONJ	i
patriotizma	N:m	patriotizam
.	SENT	.
A	CONJ	a
sam	A:aem	sam
kraj	N:m	kraj
.	PUNCT	.
.	SENT	.
.	PUNCT	.
šta	PRO	šta
da	CONJ	da
vam	PRO	vi
kažem	A:aem	kažem
,	PUNCT	,
pogledajte	N:m	pogledajte
pa	CONJ	pa
procenite	N:m	procenite
.	SENT	.
Meni	PRO	ja
se	PAR	se
čini	N:f	čini
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
samo	CONJ	samo
uvod	N:m	uvod
za	PREP	za
još	ADV	još
veću	A:bef	velik
otimačinu	N:f	otimačina
para	N:f	para
,	PUNCT	,
a	CONJ	a
to	PRO	taj
su	N:m	su
čuveni	A:aem	čuven
Avengersi	N:m	Avengersi
,	PUNCT	,
film	N:m	film
koji	PRO	koji
nam	PRO	mi
dolazi	N:m	dolaz
mislim	A:aen	mislim
sledeće	A:aem	sledeći
godine	N:f	godina
.	PUNCT	.
Valjda	PAR	valjda
će	A:aem	će
tu	PRO	taj
Toni	N:m	Toni
Stark	N:m	Stark
da	CONJ	da
izvuče	A:aef	izvuče
situaciju	N:f	situacija
.	SENT	.
