Zamišljam	N:m	Zamišljam
kako	CONJ	kako
je	PRO	ona
ovo	PRO	ovaj
uz	PREP	uz
Mela	N:m	Mel
Gibsona	N:m	Gibson
mogao	V:m	moći
biti	N:f	bit
opor	A:aem	opor
,	PUNCT	,
grub	A:aem	grub
i	CONJ	i
zabavan	A:aem	zabavan
akcioni	A:aem	akcioni
film	N:m	film
Samo	N:m	Samo
jednom	NUM	jedan
sam	PRO	sam
se	PAR	se
nasmejao	V:m	nasmejati
-	PUNCT	-
kada	CONJ	kada
Alan	N:m	Alan
(	PUNCT	(
Galifianakis	N:m	Galifianakis
)	PUNCT	)
sa	PREP	sa
glisera	N:m	gliser
koji	PRO	koji
je	PRO	ona
upravo	ADV	upravo
uterao	V:m	uterati
jedno	ADV	jedno
sto	NUM	sto
metara	N:m	metar
u	PREP	u
kopno	N:n	kopno
izbaci	N:m	izbaci
sidro	N:n	sidro
.	SENT	.
Obratite	N:m	Obratite
pažnju	N:f	pažnja
.	SENT	.
Možda	N:f	Možda
će	A:aem	će
i	CONJ	i
vama	PRO	vi
to	PRO	taj
biti	N:f	bit
jedina	A:aef	jedini
prilika	N:f	prilika
da	CONJ	da
se	PAR	se
nasmejete	N:f	nasmejete
.	PUNCT	.
OK	N:m	OK
,	PUNCT	,
znam	N:m	znam
da	CONJ	da
je	PRO	ona
moj	PRO	moj
smisao	N:m	smisao
za	PREP	za
humor	N:m	humor
potpuno	ADV	potpuno
irelevantan	A:aem	irelevantan
za	PREP	za
vaše	PRO	vaš
gledalačko	A:aen	gledalački
iskustvo	N:n	iskustvo
i	CONJ	i
Hangover	N:m	Hangover
Part	N:m	Part
II	A:aem	II
nije	A:aem	nije
loš	A:aem	loš
film	N:m	film
zato	ADV	zato
što	CONJ	što
se	PAR	se
ja	PRO	ja
nisam	N:m	nisam
smejao	V:m	smejati
.	SENT	.
On	PRO	on
je	PRO	ona
loš	A:aem	loš
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
urnebesan	A:aem	urnebesan
na	PREP	na
pogrešan	A:aem	pogrešan
način	N:m	način
.	SENT	.
Recimo	A:aen	Recimo
da	CONJ	da
bi	A:aen	bi
se	PAR	se
to	PRO	taj
tako	ADV	tako
moglo	V:n	moći
definisati	N:m	definisati
.	PUNCT	.
Prvo	ADV	prvo
moram	N:m	moram
da	CONJ	da
skinem	N:m	skinem
kapu	N:f	kapa
Toddu	N:f	Toddu
Phillipsu	N:f	Phillipsu
jer	CONJ	jer
je	PRO	ona
sa	PREP	sa
praktično	ADV	praktično
istim	A:aef	isti
filmom	N:m	film
uspeo	V:m	uspeti
da	CONJ	da
zaradi	N:f	zarada
više	ADV	više
para	N:f	para
nego	CONJ	nego
prošli	V:m	proći
put	N:f	put
.	PUNCT	.
I	CONJ	i
tu	PRO	taj
pokušaja	N:m	pokušaj
da	CONJ	da
nas	PRO	mi
prevari	N:f	prevara
da	CONJ	da
če	A:aef	če
biti	N:f	bit
tako	ADV	tako
nije	V:n	nije
ni	CONJ	ni
bilo	V:n	biti
.	PUNCT	.
Baš	A:aem	Baš
kao	ADV	kao
i	CONJ	i
u	PREP	u
Saw	N:m	Saw
ili	CONJ	ili
Final	N:m	Final
Destination	A:aem	Destination
serijalima	N:m	serijal
ključna	A:aen	ključna
mesta	N:n	mesto
su	PREF	su
identična	A:aef	identičan
,	PUNCT	,
a	CONJ	a
varijacije	N:f	varijacija
su	N:m	su
samo	PAR	samo
u	PREP	u
detaljima	N:m	detalj
.	SENT	.
Ovaj	PRO	ovaj
put	N:f	put
ženi	N:f	žena
se	PAR	se
Stu	V:m	Stu
,	PUNCT	,
ekipa	N:f	ekipa
se	PAR	se
okuplja	V:m	okuplja
na	PREP	na
Tajlandu	N:m	Tajland
i	CONJ	i
nakon	PREP	nakon
lude	A:aef	lud
noći	N:f	noć
budi	CONJ	budi
se	PAR	se
u	PREP	u
nekoj	PRO	neki
šupi	N:f	šupa
od	PREP	od
hotela	N:m	hotel
u	PREP	u
Bankoku	N:m	Bankoku
,	PUNCT	,
sa	PREP	sa
majmunom	N:m	majmun
na	PREP	na
leđima	N:n	leđa
.	SENT	.
Za	PREP	za
razliku	N:f	razlika
od	PREP	od
prvog	A:aem	prvi
dela	N:n	delo
gde	CONJ	gde
je	PRO	ona
nedostajao	V:m	nedostajati
mladoženja	N:f	mladoženja
,	PUNCT	,
ovaj	PRO	ovaj
put	N:f	put
nestao	V:m	nestati
je	PRO	ona
mladin	A:aem	mladin
brat	N:m	brat
.	SENT	.
Phillips	N:m	Phillips
je	PRO	ona
pokušao	V:m	pokušati
da	CONJ	da
predvidljivost	N:f	predvidljivost
suzbije	A:aef	suzbije
rekombinacijom	N:f	rekombinacija
elemenata	N:m	element
iz	PREP	iz
prvog	A:aem	prvi
dela	N:n	delo
(	PUNCT	(
Mr	N:m	Mr
.	PUNCT	.
Chow	N:m	Chow
na	PREP	na
početku	N:m	početak
,	PUNCT	,
Tyson	N:m	Tyson
na	PREP	na
kraju	N:m	kraj
)	PUNCT	)
,	PUNCT	,
odnosno	PAR	odnosno
pojačavanjem	N:n	pojačavanje
faktora	N:m	faktor
uvrnutosti	N:f	uvrnutost
na	PREP	na
već	PAR	već
poznatim	A:aen	poznat
mestima	N:n	mesto
(	PUNCT	(
sve	ADV	sve
što	CONJ	što
se	PAR	se
može	A:aem	može
desiti	A:aem	desiti
Stuu	N:m	Stuu
u	PREP	u
toku	N:m	tok
jedne	NUM	jedan
večeri	N:f	veče
,	PUNCT	,
ovaj	PRO	ovaj
put	N:f	put
sa	PREP	sa
tajlandskom	A:aef	tajlandski
kurvom	N:f	kurva
)	PUNCT	)
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
pojačanom	A:aef	pojačan
eksploatacijom	N:f	eksploatacija
dva	NUM	dva
najzanimljivija	A:cen	zanimljiv
glumca	N:m	glumac
-	PUNCT	-
Galifianakisa	N:m	Galifianakisa
i	CONJ	i
Jeonga	N:m	Jeonga
.	SENT	.
Elemenat	N:m	element
neočekivanog	A:aem	neočekivan
koji	PRO	koji
je	PRO	ona
bio	V:m	biti
ključni	A:aem	ključni
za	PREP	za
komičnost	N:f	komičnost
prvog	A:aem	prvi
dela	N:n	delo
ovde	ADV	ovde
je	PRO	ona
nekako	ADV	nekako
rutiniziran	A:aem	rutiniziran
i	CONJ	i
rekonstrukcija	N:f	rekonstrukcija
'	A:aem	'
blekauta	N:m	blekauta
'	N:m	'
daleko	ADV	daleko
je	PRO	ona
nasilnija	A:bef	nasilan
,	PUNCT	,
što	CONJ	što
paradoksalno	A:aen	paradoksalan
ostaje	N:n	ostaje
potpuno	ADV	potpuno
neiskorišteno	A:aen	neiskorišten
u	PREP	u
građenju	N:n	građenje
priče	N:f	priča
.	PUNCT	.
Prilika	N:f	Prilike
da	CONJ	da
Hangover	N:m	Hangover
Part	N:m	Part
II	A:aem	II
postane	N:m	postane
Rush	A:aem	Rush
Hour	N:m	Hour
-	PUNCT	-
u	PREP	u
nalika	N:m	nalika
komedija	N:f	komedija
bilo	V:n	biti
je	PRO	ona
mnogo	ADV	mnogo
,	PUNCT	,
ali	CONJ	ali
nijedna	A:aen	nijedan
nije	N:n	nije
iskorištena	A:aen	iskorišten
.	PUNCT	.
Giamatti	A:aem	Giamatti
kao	CONJ	kao
lažni	A:aem	lažan
krimos	N:m	krimos
nije	V:m	nije
podbacio	V:m	podbaciti
,	PUNCT	,
ali	CONJ	ali
zamišljam	N:m	zamišljam
Gibsona	N:m	Gibson
na	PREP	na
njegovom	PRO	njegov
mestu	N:n	mesto
i	CONJ	i
suze	N:f	suza
mi	PRO	ja
kreću	N:m	kreću
.	SENT	.
Druga	A:aef	drugi
karta	N:f	karta
na	PREP	na
koju	PRO	koji
Phillips	N:m	Phillips
nije	V:f	nije
ozbiljnije	A:bef	ozbiljan
zaigrao	V:m	zaigrati
jeste	INT	jeste
neka	PRO	neki
'	N:m	'
grubost	N:f	grubost
'	N:m	'
koja	PRO	koji
se	PAR	se
provukla	V:f	provući
na	PREP	na
više	ADV	više
nivoa	N:m	nivo
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
-	PUNCT	-
od	PREP	od
povremeno	ADV	povremeno
ledenih	A:aef	leden
,	PUNCT	,
skoro	ADV	skoro
neprijatnih	A:aem	neprijatan
detalja	N:m	detalj
u	PREP	u
verbalnim	A:aem	verbalan
obračunima	N:m	obračun
(	PUNCT	(
obraćanje	N:n	obraćanje
Stuovog	A:aem	Stuovog
tasta	N:m	tast
na	PREP	na
svadbi	N:f	svadba
)	PUNCT	)
,	PUNCT	,
preko	PREP	preko
skoro	ADV	skoro
vulgarnog	A:aen	vulgaran
nipodaštavanja	N:n	nipodaštavanje
ikakvog	PRO	ikakav
dostojanstva	N:n	dostojanstvo
Alana	N:m	Alan
i	CONJ	i
Chowa	N:m	Chowa
,	PUNCT	,
do	PREP	do
'	A:aem	'
anything	N:m	anything
goes	N:m	goes
'	A:aem	'
miljea	N:m	milje
tajlandske	A:aem	tajlandski
'	A:aem	'
lasvegas	N:m	lasvegas
'	A:aem	'
industrije	N:f	industrija
.	SENT	.
Ko	PRO	ko
zna	N:f	zna
,	PUNCT	,
možda	PAR	možda
je	PRO	ona
bilo	V:n	biti
pametnije	A:bem	pametan
osetiti	N:m	osetiti
mamurluk	N:m	mamurluk
tokom	PREP	tokom
narednog	A:aen	naredni
dana	N:m	dan
.	SENT	.
A	CONJ	a
gledajući	A:aem	gledajući
(	PUNCT	(
opet	ADV	opet
repriza	N:f	repriza
)	PUNCT	)
sumanute	A:aef	sumanut
fotke	N:f	fotka
od	PREP	od
'	N:m	'
prethodne	A:aef	prethodan
noći	N:f	noć
'	N:m	'
uz	PREP	uz
odjavnu	A:aef	odjavni
špicu	N:f	špica
čovek	N:m	čovek
mora	N:n	more
da	CONJ	da
se	PAR	se
zapita	V:m	zapita
-	PUNCT	-
a	CONJ	a
što	CONJ	što
nam	PRO	mi
nije	A:aem	nije
prikazan	A:aem	prikazan
film	N:m	film
o	PREP	o
svemu	PRO	sav
ovome	PRO	ovaj
?	PUNCT	?
!	SENT	!
Sve	PRO	sav
izgleda	N:m	izgled
deset	NUM	deset
puta	ADV	puta
zanimljivije	A:bef	zanimljiv
.	PUNCT	.
A	CONJ	a
i	CONJ	i
Bradley	A:aem	Bradley
Cooper	N:m	Cooper
bi	N:f	bi
trebalo	V:n	trebati
da	CONJ	da
se	PAR	se
ljutne	N:f	ljutne
što	CONJ	što
je	PRO	ona
za	PREP	za
višemilionski	A:aem	višemilionski
honorar	N:m	honorar
prošetao	V:m	prošetati
prljavu	A:aef	prljav
košulju	N:f	košulja
i	CONJ	i
nauljenu	A:aef	nauljen
kosu	N:f	kosa
.	SENT	.
