Debitantski	A:aem	debitantski
film	N:m	film
mlade	A:aef	mlad
glumice	N:f	glumica
i	CONJ	i
majke	N:f	majka
stotine	N:f	stotina
dece	N:f	deca
na	PREP	na
početku	N:m	početak
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
piše	A:aem	piše
„	N:m	„
Pre	A:aef	Pre
rata	N:f	rata
Muslimani	N:m	musliman
,	PUNCT	,
Srbi	N:m	Srba
i	CONJ	i
Hrvati	N:m	Hrvat
su	PREF	su
živeli	V:m	živeti
u	PREP	u
slozi	N:f	sloga
“	A:aem	“
što	CONJ	što
bi	A:aem	bi
matematički	A:aem	matematički
značilo	V:n	značiti
da	CONJ	da
Srbi	N:m	Srba
ne	PAR	ne
mogu	A:aem	mogu
da	CONJ	da
budu	A:aem	budu
Muslimani	N:m	musliman
,	PUNCT	,
a	CONJ	a
ja	PRO	ja
baš	PAR	baš
imam	N:m	imam
par	N:m	par
drugara	N:m	drugar
koji	PRO	koji
su	N:m	su
Muslimani	N:m	musliman
i	CONJ	i
Srbi	N:m	Srba
.	SENT	.
Toliko	ADV	toliko
o	PREP	o
američkom	A:aem	američki
obrazovnom	A:aef	obrazovni
sistemu	N:m	sistem
.	SENT	.
Idemo	N:f	Idemo
dalje	ADV	dalje
…	SENT	…
Rediteljka	N:f	rediteljka
se	PAR	se
odlučila	V:f	odlučiti
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
predstavi	N:f	predstava
publici	N:f	publika
na	PREP	na
dva	NUM	dva
jezika	N:m	jezik
,	PUNCT	,
mi	PRO	ja
smo	N:n	smo
vam	PRO	vi
našli	V:m	naći
obe	NUM	oba
verzije	N:f	verzija
,	PUNCT	,
ali	CONJ	ali
smo	N:f	smo
se	PAR	se
odlučili	V:m	odlučiti
za	PREP	za
jezik	N:m	jezik
sa	PREP	sa
naših	PRO	naš
prostora	N:m	prostor
,	PUNCT	,
to	PRO	taj
je	PRO	ona
verovatno	PAR	verovatno
i	CONJ	i
poslednji	A:aem	poslednji
film	N:m	film
2	NUM	@card@
kokice	N:f	kokica
.	SENT	.
com	N:m	com
za	PREP	za
koji	PRO	koji
vam	PRO	vi
neće	A:aem	neće
trebati	N:f	trebati
titl	N:m	titl
.	SENT	.
Danijel	N:m	Danijel
je	PRO	ona
kul	ADV	kul
lik	N:m	lik
tipa	N:m	tip
Danijel	N:m	Danijel
Kreg	N:m	Kreg
koji	PRO	koji
u	PREP	u
Sarajevu	N:n	Sarajevo
đuska	N:n	đuska
na	PREP	na
podijumu	N:m	podijum
sa	PREP	sa
simpa	N:f	simpa
ribom	N:f	riba
Ajlom	N:m	Ajl
u	PREP	u
trenutku	N:m	trenutak
kada	CONJ	kada
bomba	N:f	bomba
koja	PRO	koji
označava	A:aem	označava
početak	N:m	početak
rata	N:f	rata
u	PREP	u
Bosni	N:f	Bosna
spiči	V:n	spiči
nedaleko	ADV	nedaleko
odatle	ADV	odatle
i	CONJ	i
pobije	N:m	pobije
pola	N:m	pol
ljudi	N:m	ljudi
u	PREP	u
klubu	N:m	klub
.	PUNCT	.
Kada	CONJ	kada
kasnije	ADV	kasnije
srpski	A:aem	srpski
vojnici	N:m	vojnik
,	PUNCT	,
među	PREP	među
kojima	PRO	koji
je	PRO	ona
i	CONJ	i
Danijel	N:m	Danijel
(	PUNCT	(
gde	CONJ	gde
svi	PRO	sav
tu	ADV	tu
i	CONJ	i
mali	A:aem	mali
Mujo	N:m	Mujo
izreka	N:f	izreka
ovde	ADV	ovde
zvuči	A:aem	zvuči
bizarno	A:aen	bizaran
)	PUNCT	)
postroje	N:m	postroj
žene	N:f	žena
muslimanske	A:aem	muslimanski
veroispovesti	N:f	veroispovest
u	PREP	u
cilju	N:m	cilj
sortiranja	N:n	sortiranje
ubij	N:m	ubij
/	A:aem	/
siluj	N:m	siluj
,	PUNCT	,
Danijel	N:m	Danijel
odvaja	N:m	odvaja
Ajlu	N:m	Ajl
za	PREP	za
sebe	PRO	sebe
i	CONJ	i
tako	ADV	tako
započinje	N:n	započinje
njihova	PRO	njihov
romansa	N:f	romansa
.	SENT	.
Mislim	A:aen	Mislim
romansa	N:f	romansa
,	PUNCT	,
tako	ADV	tako
piše	A:aem	piše
u	PREP	u
sinopsisu	N:m	sinopsis
filma	N:m	film
.	SENT	.
Ja	PRO	ja
je	PRO	ona
nigde	ADV	nigde
nisam	N:m	nisam
video	V:m	videti
,	PUNCT	,
posebno	ADV	posebno
kada	CONJ	kada
zdrava	A:aem	zdrav
logika	N:f	logika
nalaže	A:aen	nalaže
da	CONJ	da
bi	A:aen	bi
svako	PRO	svaki
pristao	V:m	pristati
na	PREP	na
povremeni	A:aem	povremen
seks	N:m	seks
sa	PREP	sa
jednom	NUM	jedan
osobom	N:f	osoba
da	CONJ	da
bi	V:m	bi
se	PAR	se
spasao	V:m	spasti
sigurne	A:aef	siguran
smrti	N:f	smrt
.	SENT	.
Najveći	A:aem	Najveći
problem	N:m	problem
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
nepostojanje	N:n	nepostojanje
zapleta	N:m	zaplet
ili	CONJ	ili
bilo	V:n	biti
koje	PRO	koji
karike	N:f	karika
za	PREP	za
koju	PRO	koji
bi	A:aef	bi
smo	N:f	smo
se	PAR	se
uhvatili	V:m	uhvatiti
,	PUNCT	,
navijali	V:m	navijati
za	PREP	za
lika	N:m	lik
ili	CONJ	ili
ideju	N:f	ideja
.	SENT	.
Uz	PREP	uz
dobru	A:aem	dobar
sinematografiju	N:f	sinematografiju
i	CONJ	i
najblaže	A:cen	blag
rečeno	A:aen	rečen
neadekvatnu	A:aen	neadekvatan
režiju	N:f	režija
,	PUNCT	,
primorani	A:aem	primoran
smo	N:f	smo
da	CONJ	da
gledamo	N:f	gledamo
mučne	A:aef	mučan
scene	N:f	scena
jednu	NUM	jedan
za	PREP	za
drugom	A:aef	drugi
bez	PREP	bez
kulminacije	N:f	kulminacija
ili	CONJ	ili
raspleta	N:m	rasplet
,	PUNCT	,
bez	PREP	bez
direkcije	N:f	direkcija
gde	CONJ	gde
se	PAR	se
jedna	NUM	jedan
scena	N:f	scena
može	A:aem	može
završiti	N:m	završiti
i	CONJ	i
druga	N:m	drug
početi	V:m	početi
.	SENT	.
Uz	PREP	uz
odličnu	A:aef	odličan
glumačku	A:aef	glumački
ekipu	N:f	ekipa
koju	PRO	koji
je	PRO	ona
totalno	ADV	totalno
usrao	V:m	usrati
veteran	N:m	veteran
Rade	N:f	Rada
Šerbedžija	N:m	Šerbedžija
koji	PRO	koji
kao	ADV	kao
da	CONJ	da
tekst	N:m	tekst
čita	N:f	čita
sa	PREP	sa
papira	N:m	papir
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
mi	PRO	ja
se	PAR	se
učinio	V:m	učiniti
dužim	A:ben	dug
od	PREP	od
šest	NUM	šest
sati	N:f	sat
.	SENT	.
