S	PREP	s
vremena	N:n	vreme
na	PREP	na
vreme	N:n	vreme
,	PUNCT	,
Holivud	N:m	Holivud
rado	ADV	rado
plasira	A:aef	plasira
priče	N:f	priča
o	PREP	o
napaćenim	A:aef	napaćen
životinjama	N:f	životinja
lišenim	A:aem	lišen
slobode	N:f	sloboda
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
u	PREP	u
njima	PRO	ona
obično	ADV	obično
ispostavi	N:f	ispostava
kako	CONJ	kako
su	N:m	su
ljudi	N:m	ljudi
ti	PRO	taj
kojima	PRO	koji
je	PRO	ona
potrebna	A:aef	potreban
pomoć	N:f	pomoć
.	PUNCT	.
Tek	CONJ	tek
kada	CONJ	kada
opravdaju	N:f	opravdaju
svoju	PRO	svoj
prisutnost	N:f	prisutnost
na	PREP	na
filmu	N:m	film
,	PUNCT	,
odnosno	PAR	odnosno
,	PUNCT	,
kada	CONJ	kada
posluže	V:m	posluže
svojim	PRO	svoj
vlasnicima	N:m	vlasnik
da	CONJ	da
reše	N:f	reše
sve	PRO	sav
probleme	N:m	problem
,	PUNCT	,
i	CONJ	i
životinje	N:f	životinja
budu	N:f	budu
nagrađene	V:f	nagraditi
lepšim	A:ben	lep
životom	N:m	život
Cameron	N:m	Cameron
Crowe	N:m	Crowe
(	PUNCT	(
Jerry	A:aem	Jerry
Maguire	N:m	Maguire
)	PUNCT	)
,	PUNCT	,
reditelj	N:m	reditelj
i	CONJ	i
scenarista	N:m	scenarista
filma	N:m	film
Kupili	N:m	Kupili
smo	N:f	smo
zoo	N:f	zoo
-	PUNCT	-
vrt	N:m	vrt
,	PUNCT	,
postavio	V:m	postaviti
je	PRO	ona
stvari	N:f	stvar
na	PREP	na
vredniju	A:bef	vredan
i	CONJ	i
nešto	ADV	nešto
drugačiju	A:aem	drugačiji
ravan	A:aem	ravan
,	PUNCT	,
ali	CONJ	ali
ni	PAR	ni
ona	PRO	ona
nije	N:f	nije
previše	ADV	previše
udaljena	V:f	udaljiti
od	PREP	od
prethodno	ADV	prethodno
opisane	A:aef	opisan
premise	N:f	premisa
.	SENT	.
Razlika	N:f	razlika
je	PRO	ona
vidna	A:aem	vidan
jedino	ADV	jedino
u	PREP	u
tome	PRO	taj
što	PRO	što
Crowe	N:m	Crowe
uopšte	ADV	uopšte
ne	PAR	ne
krije	N:f	krije
da	CONJ	da
životinje	N:f	životinja
nisu	N:m	nisu
glavni	A:aem	glavni
akteri	N:m	akter
njegovog	PRO	njegov
filma	N:m	film
.	SENT	.
U	PREP	u
njemu	PRO	on
Matt	A:aem	Matt
Damon	N:m	Damon
rutinski	A:aem	rutinski
tumači	N:m	tumač
Benjamina	N:m	Benjamin
Meeja	N:m	Meeja
,	PUNCT	,
pisca	N:m	pisac
koji	PRO	koji
posle	PREP	posle
smrti	N:f	smrt
supruge	N:f	supruga
kupuje	N:f	kupuje
mali	A:aem	mali
zoo	N:f	zoo
-	PUNCT	-
vrt	N:m	vrt
u	PREP	u
nadi	N:f	nada
da	CONJ	da
će	N:n	će
time	PRO	taj
ublažiti	A:aem	ublažiti
tugu	N:m	tug
sebi	PRO	sebe
,	PUNCT	,
svojoj	PRO	svoj
kćerkici	N:f	kćerkica
i	CONJ	i
sinu	N:m	sin
tinejdžeru	N:m	tinejdžer
.	SENT	.
Dok	CONJ	dok
pokušava	N:f	pokušava
da	CONJ	da
ispuni	N:f	ispuna
sve	PRO	sav
uslove	N:m	uslov
za	PREP	za
otvaranje	N:n	otvaranje
vrta	N:m	vrt
koji	PRO	koji
je	PRO	ona
na	PREP	na
ivici	N:f	ivica
propasti	N:f	propast
,	PUNCT	,
Mee	N:m	Mee
se	PAR	se
istovremeno	ADV	istovremeno
hvata	N:m	hvat
u	PREP	u
koštac	N:m	koštac
s	PREP	s
ličnom	A:aem	ličan
dramom	N:m	dram
,	PUNCT	,
ali	CONJ	ali
životinje	N:f	životinja
ostaju	N:n	ostaju
na	PREP	na
nivou	N:m	nivo
nemog	A:aen	nem
,	PUNCT	,
fotogeničnog	A:aem	fotogeničan
i	CONJ	i
prilično	ADV	prilično
nebitnog	A:aem	nebitan
paravana	N:m	paravan
,	PUNCT	,
prisutnog	A:aem	prisutan
u	PREP	u
pozadini	N:f	pozadina
disfunkcionalne	A:aef	disfunkcionalne
porodice	N:f	porodica
.	SENT	.
Crowe	N:m	Crowe
je	PRO	ona
uobličio	V:m	uobličiti
film	N:m	film
uz	PREP	uz
pomoć	N:f	pomoć
scenaristkinje	N:f	scenaristkinja
Aline	A:aef	Alin
Brosh	A:aef	Brosh
McKennae	N:f	McKennae
i	CONJ	i
istinskog	A:aen	istinski
Benjamina	N:m	Benjamin
Meeja	N:m	Meeja
,	PUNCT	,
na	PREP	na
čijoj	PRO	čiji
je	PRO	ona
autobiografskoj	A:aef	autobiografski
knjizi	N:f	knjiga
film	N:m	film
i	CONJ	i
zasnovan	A:aem	zasnovan
.	PUNCT	.
Međutim	A:aem	Međutim
,	PUNCT	,
on	PRO	on
se	PAR	se
nije	V:m	nije
najbolje	ADV	najbolje
snašao	V:m	snaći
s	PREP	s
književnim	A:aem	književan
predloškom	N:m	predložak
,	PUNCT	,
zbog	PREP	zbog
čega	PRO	šta
se	PAR	se
film	N:m	film
Kupili	N:m	Kupili
smo	N:f	smo
zoo	N:f	zoo
-	PUNCT	-
vrt	N:m	vrt
može	A:aem	može
opisati	N:m	opisati
kao	CONJ	kao
zbir	N:m	zbir
neodlučnih	A:aen	neodlučan
,	PUNCT	,
a	CONJ	a
samim	PRO	sam
tim	N:m	tim
i	CONJ	i
nedorečenih	A:aen	nedorečen
rediteljskih	A:aen	rediteljski
stremljenja	N:n	stremljenje
.	SENT	.
Meejeva	A:aef	Meejeva
skrhanost	N:f	skrhanost
,	PUNCT	,
na	PREP	na
primer	N:m	primer
,	PUNCT	,
isticana	V:n	isticati
je	PRO	ona
sjajnom	A:aef	sjajan
fotografijom	N:f	fotografija
Rodriga	N:f	Rodriga
Prieta	N:f	Prieta
,	PUNCT	,
primerenijom	A:bef	primeren
festivalskim	A:aen	festivalski
ostvarenjima	N:n	ostvarenje
nego	CONJ	nego
holivudskom	A:aem	holivudski
porodičnom	A:aem	porodičan
filmu	N:m	film
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
omalovažena	A:aef	omalovažen
suštom	A:aef	sušti
suprotnošću	N:f	suprotnost
-	PUNCT	-
komičnim	A:aef	komičan
epizodama	N:f	epizoda
veoma	ADV	veoma
loše	ADV	loše
osmišljenih	A:aen	osmišljen
sporednih	A:aem	sporedan
likova	N:n	likovo
koji	PRO	koji
previše	ADV	previše
liče	V:m	liče
na	PREP	na
one	PRO	onaj
iz	PREP	iz
filmova	N:m	film
Disneyjeve	A:aef	Disneyjeve
produkcije	N:f	produkcija
.	SENT	.
Osim	PREP	osim
čuvarke	N:f	čuvarka
Kelly	A:aem	Kelly
Foster	N:m	Foster
,	PUNCT	,
u	PREP	u
čiju	PRO	čiji
je	PRO	ona
interpretaciju	N:f	interpretacija
Scarlett	A:aem	Scarlett
Johansson	N:m	Johansson
unela	V:f	uneti
posebnu	A:aen	poseban
živost	N:f	živost
,	PUNCT	,
ostali	V:m	ostati
sporedni	A:aem	sporedan
protagonisti	N:m	protagonista
-	PUNCT	-
od	PREP	od
zaposlenih	A:aef	zaposlen
u	PREP	u
zoo	N:f	zoo
-	PUNCT	-
vrtu	N:m	vrt
do	PREP	do
Meejevog	A:aem	Meejevog
prijatelja	N:m	prijatelj
-	PUNCT	-
krajnje	A:aem	krajnji
su	N:m	su
karikirani	A:aem	karikiran
i	CONJ	i
naivno	A:aen	naivan
odglumljeni	A:aem	odglumljen
.	SENT	.
Našlo	N:m	Našlo
se	PAR	se
tu	PRO	taj
prostora	N:m	prostor
i	CONJ	i
za	PREP	za
neinventivne	A:aef	neinventivan
ljubavne	A:aef	ljubavan
zavrzlame	N:f	zavrzlama
između	PREP	između
Meejevog	A:aem	Meejevog
sina	N:m	sin
i	CONJ	i
Fosterine	A:aem	Fosterine
rođake	N:m	rođak
,	PUNCT	,
a	CONJ	a
kako	CONJ	kako
ni	PAR	ni
to	PRO	taj
nije	N:f	nije
bilo	V:n	biti
dovoljno	ADV	dovoljno
da	CONJ	da
se	PAR	se
zakrpe	N:f	zakrpa
svi	PRO	sav
nedostaci	N:m	nedostatak
scenarija	N:m	scenario
,	PUNCT	,
film	N:m	film
često	ADV	često
poseže	A:aem	poseže
i	CONJ	i
za	PREP	za
drugim	A:aem	drugi
skretanjima	N:n	skretanje
s	PREP	s
teme	N:f	tema
,	PUNCT	,
kao	ADV	kao
što	CONJ	što
su	PREF	su
bekstvo	N:n	bekstvo
medveda	N:m	medved
iz	PREP	iz
vrta	N:m	vrt
ili	CONJ	ili
popravljanje	N:n	popravljanje
kaveza	N:m	kavez
za	PREP	za
lavove	N:m	lav
.	SENT	.
Dva	NUM	dva
sata	N:m	sat
trajanja	N:n	trajanje
zato	ADV	zato
se	PAR	se
čine	N:m	čin
predugim	A:aem	predug
i	CONJ	i
nepotrebnim	A:aem	nepotreban
,	PUNCT	,
a	CONJ	a
Crowe	N:m	Crowe
je	PRO	ona
prevideo	V:m	prevideti
da	CONJ	da
je	PRO	ona
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
slučaju	N:m	slučaj
,	PUNCT	,
drama	N:f	drama
o	PREP	o
ljudima	N:m	ljudi
okruženim	A:aef	okružen
životinjama	N:f	životinja
previše	ADV	previše
razvodnjena	V:f	razvodniti
da	CONJ	da
bi	V:f	bi
bila	V:f	biti
spasena	V:f	spasti
zanimljivim	A:aem	zanimljiv
komentarima	N:m	komentar
slatke	A:aef	sladak
devojčice	N:f	devojčica
,	PUNCT	,
nekolicinom	N:f	nekolicina
istinski	ADV	istinski
dirljivih	A:aef	dirljiv
scena	N:f	scena
i	CONJ	i
kvalitetnom	A:aef	kvalitetan
stilizacijom	N:f	stilizacija
.	SENT	.
