Svaki	PRO	svaki
film	N:m	film
koji	PRO	koji
se	PAR	se
bavi	A:aem	bavi
egzorcizmom	N:m	egzorcizam
ima	V:m	ima
tu	PRO	taj
nesreću	N:f	nesreća
da	CONJ	da
mora	N:n	more
biti	N:f	bit
poređen	V:m	porediti
s	PREP	s
Friedkinovim	A:aem	Friedkinovim
Isterivačem	A:aem	Isterivačem
đavola	N:m	đavo
.	SENT	.
Prošlo	A:aem	Prošlo
je	PRO	ona
skoro	ADV	skoro
četrdeset	NUM	četrdeset
godina	N:f	godina
od	PREP	od
tada	ADV	tada
i	CONJ	i
svi	PRO	sav
drugi	A:aem	drugi
filmovi	N:m	film
samo	CONJ	samo
su	N:m	su
bledi	A:aem	bled
pokušaji	N:m	pokušaj
da	CONJ	da
ga	PRO	on
dostignu	A:aem	dostignu
Obred	N:m	obred
je	PRO	ona
još	ADV	još
jedan	NUM	jedan
u	PREP	u
nizu	N:m	niz
koji	PRO	koji
je	PRO	ona
izgubio	V:m	izgubiti
bitku	N:f	bitka
.	SENT	.
Baziran	A:aem	baziran
je	PRO	ona
na	PREP	na
iskustvu	N:n	iskustvo
katoličkog	A:aem	katolički
sveštenika	N:m	sveštenik
Garyja	A:aem	Garyja
Thomasa	N:m	Thomasa
,	PUNCT	,
koga	PRO	koji
je	PRO	ona
Kalifornijska	N:f	Kalifornijska
biskupija	N:f	biskupija
poslala	V:f	poslati
u	PREP	u
Vatikan	N:m	Vatikan
da	CONJ	da
studira	N:m	studira
egzorcizam	N:m	egzorcizam
.	SENT	.
U	PREP	u
filmu	N:m	film
on	PRO	on
postaje	N:f	postaja
Michael	N:m	Michael
Kovak	N:m	Kovak
(	PUNCT	(
Colin	A:aem	Colin
O	A:aem	O
'	A:aem	'
Donoghue	N:m	Donoghue
)	PUNCT	)
iz	PREP	iz
Čikaga	N:m	Čikago
.	PUNCT	.
Potiče	A:aem	Potiče
iz	PREP	iz
familije	N:f	familija
u	PREP	u
kojoj	PRO	koji
su	N:m	su
muškarci	N:m	muškarac
mrtvozornici	N:m	mrtvozornik
ili	CONJ	ili
sveštenici	N:m	sveštenik
i	CONJ	i
jedini	A:aem	jedini
beg	N:m	beg
od	PREP	od
sudbine	N:f	sudbina
vidi	N:f	vida
u	PREP	u
studiranju	N:n	studiranje
teologije	N:f	teologija
.	SENT	.
Na	PREP	na
taj	PRO	taj
način	N:m	način
dovoljno	ADV	dovoljno
bi	V:m	bi
se	PAR	se
udaljio	V:m	udaljiti
od	PREP	od
oca	N:m	otac
,	PUNCT	,
a	CONJ	a
posle	PREP	posle
četiri	NUM	četiri
godine	N:f	godina
odustao	V:m	odustati
od	PREP	od
zaveta	N:m	zavet
i	CONJ	i
pobegao	V:m	pobeći
.	SENT	.
Michael	N:m	Michael
je	PRO	ona
mladić	N:m	mladić
koji	PRO	koji
ne	PAR	ne
veruje	N:m	veruje
u	PREP	u
Boga	N:f	Boga
,	PUNCT	,
ne	PAR	ne
veruje	N:m	veruje
ni	PAR	ni
u	PREP	u
đavola	N:m	đavo
,	PUNCT	,
skeptik	N:m	skeptik
je	PRO	ona
koji	PRO	koji
u	PREP	u
svemu	PRO	sav
traži	A:aen	traži
objašnjenje	N:n	objašnjenje
.	SENT	.
Po	PREP	po
mišljenju	N:n	mišljenje
njegovog	PRO	njegov
mentora	N:m	mentor
,	PUNCT	,
savršen	A:aem	savršen
kandidat	N:m	kandidat
za	PREP	za
kurs	N:m	kurs
isterivača	N:m	isterivač
u	PREP	u
Rimu	N:m	Rim
.	SENT	.
U	PREP	u
Vatikanu	N:m	Vatikan
je	PRO	ona
već	PAR	već
prvog	A:aem	prvi
dana	N:m	dan
okarakterisan	V:m	okarakterisati
kao	ADV	kao
nevernik	N:m	nevernik
i	CONJ	i
odmah	ADV	odmah
ga	PRO	on
šalju	N:m	šalju
ocu	N:m	otac
Lucasu	N:m	Lucasu
(	PUNCT	(
Anthony	A:aem	Anthony
Hopkins	N:m	Hopkins
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
se	PAR	se
već	PAR	već
duže	ADV	duže
vreme	N:n	vreme
bavi	A:aem	bavi
egzorcizmom	N:m	egzorcizam
,	PUNCT	,
da	CONJ	da
bi	V:m	bi
ga	PRO	on
video	V:m	videti
svojim	PRO	svoj
očima	N:f	oči
.	SENT	.
Šta	A:aem	Šta
je	PRO	ona
stvarno	ADV	stvarno
,	PUNCT	,
kako	CONJ	kako
razlikovati	N:m	razlikovati
posednute	V:f	posednuti
od	PREP	od
psihijatrijskih	A:aef	psihijatrijski
slučajeva	N:m	slučaj
?	SENT	?
Za	PREP	za
Michaela	N:m	Michaela
su	PREF	su
to	PRO	taj
ljudi	N:m	ljudi
kojima	PRO	koji
je	PRO	ona
potrebna	A:aef	potreban
samo	CONJ	samo
lekarska	A:aen	lekarski
nega	N:f	nega
.	SENT	.
Ništa	N:m	Ništa
ga	PRO	on
ne	PAR	ne
može	A:aem	može
ubediti	N:m	ubediti
:	PUNCT	:
promene	N:f	promena
glasa	N:m	glas
,	PUNCT	,
promena	N:f	promena
boje	N:f	boja
kože	N:f	koža
,	PUNCT	,
trudnice	N:f	trudnica
koje	PRO	koji
povraćaju	N:m	povraćaj
eksere	N:m	ekser
kojima	PRO	koji
je	PRO	ona
razapet	A:aem	razapet
Isus	N:m	Isus
,	PUNCT	,
snovi	N:m	san
koje	PRO	koji
deli	N:f	deli
s	PREP	s
nekima	PRO	neki
od	PREP	od
njih	PRO	ona
,	PUNCT	,
čak	PAR	čak
ni	PAR	ni
detalji	N:m	detalj
o	PREP	o
njegovom	PRO	njegov
životu	N:m	život
koje	PRO	koji
mogu	N:m	Mog
da	CONJ	da
znaju	N:m	znaju
samo	CONJ	samo
ako	CONJ	ako
su	N:m	su
tada	ADV	tada
bili	V:m	biti
prisutni	A:aem	prisutan
.	SENT	.
Demoni	N:m	demon
se	PAR	se
na	PREP	na
sve	PRO	sav
načine	N:m	način
trude	N:m	trud
da	CONJ	da
poveruje	N:m	poveruje
u	PREP	u
njih	PRO	ona
i	CONJ	i
đavola	N:m	đavo
,	PUNCT	,
ali	CONJ	ali
kada	CONJ	kada
na	PREP	na
kraju	N:m	kraj
uspeju	N:m	uspeju
u	PREP	u
tome	PRO	taj
,	PUNCT	,
pobeda	N:f	pobeda
nije	A:aem	nije
njihova	PRO	njihov
,	PUNCT	,
jer	CONJ	jer
ako	CONJ	ako
postoji	N:m	postoji
on	PRO	on
,	PUNCT	,
postoji	N:m	postoji
i	CONJ	i
Bog	N:m	bog
.	SENT	.
Samo	PAR	samo
još	ADV	još
da	CONJ	da
je	PRO	ona
Mikael	N:m	Mikael
Håfström	N:m	Håfström
uspeo	V:m	uspeti
da	CONJ	da
režira	N:m	režira
kako	CONJ	kako
treba	N:f	treba
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
bi	V:m	bi
možda	PAR	možda
bio	V:m	biti
dobar	A:aem	dobar
.	SENT	.
Jedna	NUM	jedan
ekranizacija	N:f	ekranizacija
romana	N:m	roman
Stephena	N:m	Stephena
Kinga	N:m	King
ne	PAR	ne
čini	N:f	čini
ga	PRO	on
ekspertom	N:m	ekspert
za	PREP	za
horor	N:m	horor
.	SENT	.
Neprijatnost	N:f	neprijatnost
i	CONJ	i
teskobnu	A:aef	teskoban
atmosferu	N:f	atmosfera
s	PREP	s
početka	N:m	početak
,	PUNCT	,
dok	CONJ	dok
gledamo	N:f	gledamo
kako	CONJ	kako
se	PAR	se
telo	N:n	telo
priprema	N:f	priprema
za	PREP	za
sahranu	N:f	sahrana
,	PUNCT	,
uspešno	ADV	uspešno
održava	N:f	održava
skoro	ADV	skoro
kroz	PREP	kroz
ceo	A:aem	ceo
film	N:m	film
.	SENT	.
Scene	N:f	scena
isterivanja	N:n	isterivanje
samo	PAR	samo
na	PREP	na
trenutke	N:m	trenutak
dostižu	A:aem	dostižu
onaj	PRO	onaj
pravi	A:aem	prav
teror	N:m	teror
.	SENT	.
Poslednja	A:aem	poslednji
scena	N:f	scena
izgleda	N:m	izgled
sramno	ADV	sramno
smešno	A:aen	smešan
i	CONJ	i
odskače	N:n	odskače
od	PREP	od
svega	PRO	sav
u	PREP	u
filmu	N:m	film
.	SENT	.
Hopkins	N:m	Hopkins
kao	ADV	kao
da	CONJ	da
u	PREP	u
pojedinim	A:aen	pojedini
delovima	N:m	deo
ne	PAR	ne
ume	N:m	um
da	CONJ	da
glumi	N:f	gluma
;	PUNCT	;
samo	PAR	samo
u	PREP	u
jednoj	NUM	jedan
sceni	N:f	scena
,	PUNCT	,
kada	CONJ	kada
šamarom	N:m	šamar
skoro	ADV	skoro
onesvesti	N:f	onesvesti
devojčicu	N:f	devojčica
,	PUNCT	,
vidi	N:f	vida
se	PAR	se
kako	ADV	kako
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
odigra	V:n	odigra
taj	PRO	taj
poslednji	A:aem	poslednji
segment	N:m	segment
.	SENT	.
O	PREP	o
'	A:aem	'
Donoghue	N:m	Donoghue
se	PAR	se
izborio	V:m	izboriti
sa	PREP	sa
svojom	PRO	svoj
ulogom	N:f	uloga
,	PUNCT	,
izrazom	N:m	izraz
lica	N:n	lice
na	PREP	na
kome	PRO	koji
se	PAR	se
vidi	N:f	vida
konstantna	A:aen	konstantan
neverica	N:f	neverica
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
kada	CONJ	kada
su	N:m	su
dokazi	N:m	dokaz
očigledni	A:aem	očigledan
.	SENT	.
Za	PREP	za
kraj	N:m	kraj
je	PRO	ona
dovoljna	A:aem	dovoljan
samo	CONJ	samo
izjava	N:f	izjava
oca	N:m	otac
Garyja	N:f	Garyja
Thomasa	N:m	Thomasa
da	CONJ	da
je	PRO	ona
najpribližnije	A:cef	približan
pravom	N:n	pravo
obredu	N:m	obred
prikazano	V:n	prikazati
u	PREP	u
filmu	N:m	film
The	INT	The
Exorcism	A:aem	Exorcism
of	N:m	of
Emily	A:aem	Emily
Rose	N:f	Rosa
.	SENT	.
Čemu	A:aem	Čemu
onda	CONJ	onda
ovaj	PRO	ovaj
film	N:m	film
?	PUNCT	?
