Kad	CONJ	kad
god	PAR	god
se	PAR	se
pojavi	N:f	pojava
novi	A:aem	nov
nastavak	N:m	nastavak
nekog	PRO	neki
filma	N:m	film
,	PUNCT	,
uvek	ADV	uvek
se	PAR	se
zapitam	V:m	zapitam
:	SENT	:
dokle	CONJ	dokle
?	PUNCT	?
Producenti	N:m	producent
četvrtog	A:aem	četvrti
dela	N:n	delo
Poslednje	A:aem	poslednji
ekskurzije	N:f	ekskurzija
(	PUNCT	(
nikada	ADV	nikada
mi	PRO	ja
neće	A:aef	neće
biti	N:f	bit
jasno	ADV	jasno
zašto	ADV	zašto
nije	A:aem	nije
preveden	A:aem	preveden
kao	CONJ	kao
Konačno	A:aen	Konačno
odredište	N:n	odredište
)	PUNCT	)
,	PUNCT	,
nadam	N:m	nadam
se	PAR	se
,	PUNCT	,
došli	V:m	doći
su	N:m	su
do	PREP	do
kraja	N:m	kraj
David	N:m	David
R	N:f	R
.	PUNCT	.
Ellis	N:f	Ellis
i	CONJ	i
James	N:f	James
Wong	N:m	Wong
podelili	V:m	podeliti
su	N:m	su
se	PAR	se
u	PREP	u
režiranju	N:n	režiranje
.	SENT	.
Ellis	N:m	Ellis
je	PRO	ona
režirao	V:m	režirati
drugi	A:aem	drugi
deo	N:m	deo
,	PUNCT	,
ujedno	ADV	ujedno
i	CONJ	i
najbolji	A:cem	dobar
,	PUNCT	,
i	CONJ	i
četvrti	A:aem	četvrti
-	PUNCT	-
najgori	N:m	najgori
u	PREP	u
seriji	N:f	serija
,	PUNCT	,
a	CONJ	a
Wong	N:m	Wong
prvi	A:aem	prvi
i	CONJ	i
treći	A:aem	treći
.	SENT	.
U	PREP	u
prva	A:aen	prvi
dva	NUM	dva
dela	N:m	deo
postojala	V:m	postojati
je	PRO	ona
neka	PRO	neki
priča	N:f	priča
,	PUNCT	,
likovi	N:m	lik
kojima	PRO	koji
je	PRO	ona
dato	V:n	dati
bar	PAR	bar
malo	ADV	malo
vremena	N:n	vreme
da	CONJ	da
se	PAR	se
razviju	N:f	razviju
.	SENT	.
U	PREP	u
poslednjem	A:aem	poslednji
nastavku	N:m	nastavak
,	PUNCT	,
osim	PREP	osim
osnovne	A:aem	osnovni
radnje	N:f	radnja
,	PUNCT	,
skoro	ADV	skoro
ništa	ADV	ništa
drugo	A:aen	drugi
i	CONJ	i
ne	PAR	ne
postoji	N:m	postoji
.	PUNCT	.
Neposredno	ADV	neposredno
pred	PREP	pred
izbijanje	N:n	izbijanje
opšteg	A:aen	opšti
haosa	N:m	haos
grupa	N:f	grupa
mladih	A:aen	mlad
spasava	A:aef	spasava
se	PAR	se
velike	A:aem	velik
nesreće	N:f	nesreća
,	PUNCT	,
zahvaljujući	PREP	zahvaljujući
viziji	N:f	vizija
koju	PRO	koji
je	PRO	ona
imao	V:m	imati
jedan	NUM	jedan
od	PREP	od
njih	PRO	ona
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
niko	PRO	niko
se	PAR	se
nije	V:m	nije
izvukao	V:m	izvući
,	PUNCT	,
samo	PAR	samo
su	N:m	su
odložili	V:m	odložiti
neizbežno	ADV	neizbežno
.	SENT	.
Sve	PRO	sav
se	PAR	se
toliko	ADV	toliko
brzo	ADV	brzo
dešava	N:n	dešava
da	CONJ	da
nemamo	N:f	nemamo
vremena	N:n	vreme
ni	CONJ	ni
da	CONJ	da
upoznamo	N:n	upoznamo
preživele	A:aem	preživeo
i	CONJ	i
sve	PRO	sav
postaje	N:f	postaja
jedna	NUM	jedan
velika	A:aen	velik
redaljka	N:f	redaljka
.	SENT	.
Ono	PRO	onaj
što	PRO	što
čini	N:f	čini
zabavnim	A:aen	zabavan
sve	PRO	sav
delove	N:m	deo
Poslednje	A:aef	poslednji
ekskurzije	N:f	ekskurzija
jesu	A:aem	jesu
krajnje	A:aem	krajnji
inventivni	A:aem	inventivan
načini	N:m	način
pogibija	N:f	pogibija
na	PREP	na
koje	PRO	koji
se	PAR	se
rešava	A:aem	rešava
reditelj	N:m	reditelj
.	SENT	.
To	PRO	taj
je	PRO	ona
jedino	ADV	jedino
u	PREP	u
čemu	PRO	šta
ne	PAR	ne
posustaju	N:m	posustaju
-	PUNCT	-
svakom	PRO	svaki
novom	A:aem	nov
pogibijom	N:f	pogibija
sledi	N:f	sledi
šok	N:m	šok
.	SENT	.
Pored	PREP	pored
uobičajenog	A:aem	uobičajen
CGI	N:m	CGI
-	PUNCT	-
ja	PRO	ja
tu	ADV	tu
je	PRO	ona
i	CONJ	i
prostetika	N:f	prostetika
u	PREP	u
vidu	N:f	vida
creva	N:n	crevo
koja	PRO	koji
bivaju	N:f	bivaju
isisana	V:m	isisati
velikim	A:aem	velik
vakuumom	N:m	vakuum
,	PUNCT	,
oka	N:n	oko
koje	PRO	koji
je	PRO	ona
izbio	V:m	izbiti
lansirani	V:m	lansirati
kamenčić	N:m	kamenčić
,	PUNCT	,
onoga	PRO	onaj
što	PRO	što
ostane	N:m	ostane
od	PREP	od
glave	N:f	glava
kada	CONJ	kada
je	PRO	ona
velikom	A:aef	velik
brzinom	N:f	brzina
pogodi	A:aem	pogodi
otpali	A:aem	otpao
točak	N:m	točak
itd	N:f	itd
.	SENT	.
Već	N:m	Već
u	PREP	u
samoj	PRO	sam
špici	N:f	špica
nalazi	N:m	nalaz
se	PAR	se
kompletna	A:aef	kompletan
rekonstrukcija	N:f	rekonstrukcija
svih	PRO	sav
scena	N:f	scena
smrti	N:f	smrt
iz	PREP	iz
prethodnih	A:aem	prethodan
filmova	N:m	film
,	PUNCT	,
koje	PRO	koji
se	PAR	se
smenjuju	N:f	smenjuju
kao	CONJ	kao
rendgenski	A:aem	rendgenski
snimci	N:f	snimka
.	SENT	.
Posle	PREP	posle
početnog	A:aen	početan
masakra	N:m	masakr
na	PREP	na
NASCAR	N:m	NASCAR
trci	N:f	trka
poželećete	N:m	poželećete
samo	CONJ	samo
krv	N:f	krv
,	PUNCT	,
što	CONJ	što
vam	PRO	vi
reditelj	N:m	reditelj
i	CONJ	i
isporučuje	N:m	isporučuje
.	SENT	.
Kast	A:aem	Kast
je	PRO	ona
,	PUNCT	,
kao	ADV	kao
i	CONJ	i
uvek	ADV	uvek
,	PUNCT	,
sastavljen	A:aem	sastavljen
od	PREP	od
mladih	A:aen	mlad
glumaca	N:m	glumac
.	SENT	.
Jedino	A:aen	jedini
osveženje	N:n	osveženje
je	PRO	ona
za	PREP	za
trenutak	N:m	trenutak
Krista	N:f	Krista
Allen	N:m	Allen
(	PUNCT	(
smenila	V:f	smeniti
Sylviju	N:f	Sylviju
Kristel	N:m	Kristel
kao	CONJ	kao
Emanuelu	N:f	Emanuela
)	PUNCT	)
,	PUNCT	,
nekako	ADV	nekako
se	PAR	se
ponadate	V:f	ponadate
nekoj	PRO	neki
golotinji	N:f	golotinja
,	PUNCT	,
ali	CONJ	ali
ništa	PRO	ništa
od	PREP	od
toga	PRO	taj
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
koji	PRO	koji
ima	A:aef	ima
oznaku	N:f	oznaka
3	NUM	@card@
D	N:f	D
;	SENT	;
koliko	ADV	koliko
vidim	A:aen	vidim
,	PUNCT	,
nije	A:aen	nije
kao	CONJ	kao
takav	PRO	takav
došao	V:m	doći
u	PREP	u
naše	PRO	naš
bioskope	N:m	bioskop
,	PUNCT	,
bar	PAR	bar
ne	PAR	ne
u	PREP	u
salu	N:f	sala
u	PREP	u
kojoj	PRO	koji
sam	PRO	sam
ga	PRO	on
ja	PRO	ja
gledao	V:m	gledati
.	SENT	.
