U	PREP	u
Japanu	N:m	Japan
se	PAR	se
ovaj	PRO	ovaj
film	N:m	film
zove	N:f	zova
Dangerous	N:m	Dangerous
Run	N:f	Run
.	SENT	.
Slike	N:f	slika
sve	PRO	sav
govore	N:m	govor
.	SENT	.
Iako	CONJ	iako
Snabba	A:aem	Snabba
Cash	A:aem	Cash
(	PUNCT	(
o	PREP	o
kome	PRO	koji
sam	PRO	sam
vam	PRO	vi
pisao	V:m	pisati
pre	PREP	pre
par	N:m	par
nedelja	N:f	nedelja
)	PUNCT	)
nije	A:aen	nije
bio	V:m	biti
vrhunsko	A:aen	vrhunski
ostvarenje	N:n	ostvarenje
,	PUNCT	,
on	PRO	on
je	PRO	ona
bio	V:m	biti
jedini	A:aem	jedini
razlog	N:m	razlog
zbog	PREP	zbog
koga	PRO	koji
sam	PRO	sam
pogledao	V:m	pogledati
Daniel	N:f	Daniel
Espinosin	A:aem	Espinosin
holivudski	A:aem	holivudski
debi	N:m	debi
.	SENT	.
Mračne	A:aem	Mračne
face	N:f	faca
i	CONJ	i
ubojiti	A:aem	ubojit
pogledi	N:m	pogled
koje	PRO	koji
pravi	A:aem	prav
Denzel	N:m	Denzel
Washington	N:m	Washington
i	CONJ	i
koje	PRO	koji
ja	PRO	ja
posle	PREP	posle
noću	ADV	noću
sanjam	N:m	sanjam
i	CONJ	i
budim	A:aem	budim
se	PAR	se
u	PREP	u
znoju	N:m	znoj
više	ADV	više
to	PRO	taj
nisu	N:m	nisu
.	SENT	.
Otklonimo	A:aen	Otklonimo
prvu	A:aem	prvi
zabludu	N:f	zabluda
.	SENT	.
Safe	N:m	Safe
House	N:m	House
nije	A:aem	nije
Panic	N:m	Panic
Room	N:m	Room
tj	ABB	tj
ovo	PRO	ovaj
nije	A:aem	nije
triler	N:m	triler
zatočen	V:m	zatočiti
u	PREP	u
jednoj	NUM	jedan
lokaciji	N:f	lokacija
iz	PREP	iz
koje	PRO	koji
se	PAR	se
crpe	N:f	crpe
svi	PRO	sav
mogući	A:aem	moguć
i	CONJ	i
nemogući	A:aem	nemoguć
saspensi	N:f	saspensi
.	SENT	.
Naprotiv	PAR	naprotiv
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
,	PUNCT	,
baš	PAR	baš
kako	CONJ	kako
su	PREF	su
Japanci	N:m	Japanac
pametno	ADV	pametno
zaključili	V:m	zaključiti
,	PUNCT	,
koji	PRO	koji
predstavlja	N:n	predstavlja
jednu	NUM	jedan
(	PUNCT	(
pre	PREP	pre
)	PUNCT	)
dugačku	A:aef	dugačak
jurnjavu	N:f	jurnjava
ispred	PREP	ispred
koje	PRO	koji
je	PRO	ona
opravdano	ADV	opravdano
stavljen	V:m	staviti
prefiks	N:m	prefiks
'	A:aem	'
opasna	A:aem	opasan
'	N:m	'
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
Espinosa	N:m	Espinosa
prilikom	PREP	prilikom
snimanja	N:n	snimanje
filma	N:m	film
nije	N:f	nije
ispoštovao	V:m	ispoštovati
ni	PAR	ni
jedan	NUM	jedan
jedini	A:aem	jedini
saobraćajni	A:aem	saobraćajni
propis	N:m	propis
.	SENT	.
Otklonimo	A:aen	Otklonimo
drugu	A:aef	drugi
zabludu	N:f	zabluda
.	SENT	.
Safe	N:m	Safe
House	N:m	House
nije	V:m	nije
režirao	V:m	režirati
Paul	N:m	Paul
Greengrass	N:m	Greengrass
iako	CONJ	iako
Espinosa	N:m	Espinosa
daje	N:m	daje
sve	PRO	sav
od	PREP	od
sebe	PRO	sebe
da	CONJ	da
taj	PRO	taj
utisak	N:m	utisak
steknemo	V:m	steknemo
i	CONJ	i
sve	PRO	sav
do	PREP	do
kraja	N:m	kraj
filma	N:m	film
ne	PAR	ne
možemo	ADV	možemo
da	CONJ	da
ga	PRO	on
se	PAR	se
ratosiljamo	V:n	ratosiljamo
.	SENT	.
Od	PREP	od
'	N:m	'
bourneastih	A:aem	bourneastih
'	A:aem	'
agenata	N:m	agent
CIA	N:f	CIA
-	PUNCT	-
e	CONJ	e
,	PUNCT	,
preko	PREP	preko
setinga	N:m	setinga
Južnoafričke	N:m	Južnoafričke
Republike	N:f	republika
,	PUNCT	,
kamere	N:f	kamera
iz	PREP	iz
ruke	N:f	ruka
i	CONJ	i
oslanjanja	N:n	oslanjanje
na	PREP	na
'	A:aem	'
nerežiranu	A:aem	nerežiranu
'	N:m	'
ulogu	N:f	uloga
statista	N:m	statista
i	CONJ	i
scenografije	N:f	scenografija
(	PUNCT	(
ili	CONJ	ili
stvaranje	N:n	stvaranje
tog	PRO	taj
utiska	N:m	utisak
)	PUNCT	)
,	PUNCT	,
preko	PREP	preko
brze	A:aef	brz
montaže	N:f	montaža
i	CONJ	i
skakanja	N:n	skakanje
po	PREP	po
krovovima	N:m	krov
udžerica	N:f	udžerica
,	PUNCT	,
do	PREP	do
agenata	N:m	agent
,	PUNCT	,
izdatih	A:aef	izdat
i	CONJ	i
otkrivenih	A:aem	otkriven
,	PUNCT	,
zatim	ADV	zatim
snažnog	A:aem	snažan
akcenta	N:m	akcent
na	PREP	na
detaljnim	A:aef	detaljan
fizičkim	A:aef	fizički
obračunima	N:m	obračun
i	CONJ	i
neke	PRO	neki
vrste	N:f	vrsta
špageti	N:m	špageti
-	PUNCT	-
Dogma	N:f	dogma
dočaravanja	N:n	dočaravanje
nasilja	N:n	nasilje
.	PUNCT	.
.	SENT	.
.	PUNCT	.
sve	PRO	sav
je	PRO	ona
tu	ADV	tu
.	PUNCT	.
I	CONJ	i
nema	A:aem	nem
puno	ADV	puno
toga	PRO	taj
drugog	A:aem	drugi
.	SENT	.
Naročito	N:f	Naročito
ne	PAR	ne
dobrog	A:aem	dobar
.	SENT	.
Safe	N:m	Safe
House	N:m	House
praktično	ADV	praktično
još	ADV	još
nije	V:m	nije
ni	CONJ	ni
počeo	V:m	početi
,	PUNCT	,
a	CONJ	a
Espinosa	N:m	Espinosa
je	PRO	ona
ispucao	V:m	ispucati
sve	PRO	sav
svoje	PRO	svoj
adute	N:m	adut
-	PUNCT	-
impresivno	A:aen	impresivan
samopouzdanje	N:n	samopouzdanje
kada	CONJ	kada
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
kopiranje	N:n	kopiranje
Greengrassa	N:m	Greengrassa
i	CONJ	i
zapanjujuća	A:aef	zapanjujući
lakoća	N:f	lakoća
vladanja	N:n	vladanje
holivudskim	A:aen	holivudski
blokbasterom	N:m	blokbaster
.	PUNCT	.
Pucačina	N:f	Pucačina
,	PUNCT	,
jurnjave	N:f	jurnjava
kolima	N:n	kola
,	PUNCT	,
sudaranja	N:n	sudaranje
,	PUNCT	,
sve	PRO	sav
to	PRO	taj
izrešetano	V:n	izrešetati
je	PRO	ona
ispred	PREP	ispred
nas	PRO	mi
u	PREP	u
prvih	A:aef	prvi
deset	NUM	deset
minuta	N:m	minut
i	CONJ	i
u	PREP	u
nastavku	N:m	nastavak
filma	N:m	film
dobija	N:n	dobija
samo	CONJ	samo
svoje	PRO	svoj
ekstendid	N:m	ekstendid
i	CONJ	i
distorzirane	A:aem	distorzirane
oblike	N:m	oblik
postojanja	N:n	postojanje
.	SENT	.
Ako	CONJ	ako
ne	PAR	ne
volite	N:m	volite
ovakve	PRO	ovakav
stvari	N:f	stvar
naročito	ADV	naročito
ćete	N:m	ćete
umirati	A:aem	umirati
od	PREP	od
dosade	N:f	dosada
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
mnogo	ADV	mnogo
je	PRO	ona
veći	A:bem	velik
problem	N:m	problem
to	PRO	taj
što	PRO	što
Espinosa	N:m	Espinosa
ozbiljno	ADV	ozbiljno
zanemaruje	N:m	zanemaruje
psihologizaciju	N:f	psihologizaciju
likova	N:n	likovo
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
unutrašnju	A:aef	unutrašnji
logiku	N:f	logika
priče	N:f	priča
.	SENT	.
Ryan	N:m	Ryan
Raynolds	N:m	Raynolds
samo	PAR	samo
je	PRO	ona
u	PREP	u
filmu	N:m	film
Buried	N:f	Buried
zaslužio	V:m	zaslužiti
da	CONJ	da
preživi	A:aem	preživi
(	PUNCT	(
a	CONJ	a
nije	A:aem	nije
,	PUNCT	,
ups	N:m	ups
!	PUNCT	!
.	SENT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
.	SENT	.
On	PRO	on
je	PRO	ona
kao	CONJ	kao
Ben	N:m	Ben
Affleck	N:m	Affleck
koji	PRO	koji
je	PRO	ona
promenio	V:m	promeniti
pol	ADV	pol
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
hormoni	N:m	hormon
još	ADV	još
nisu	N:m	nisu
slegli	V:m	slegnuti
.	SENT	.
Ja	PRO	ja
ne	PAR	ne
mogu	N:m	Mog
da	CONJ	da
poverujem	N:m	poverujem
u	PREP	u
njega	PRO	on
i	CONJ	i
za	PREP	za
mene	PRO	ja
je	PRO	ona
on	PRO	on
miskasting	N:m	miskasting
totalni	A:aem	totalan
.	SENT	.
S	PREP	s
druge	A:aem	drugi
strane	N:f	strana
Denzelu	N:m	Denzel
je	PRO	ona
kita	N:f	kita
toliko	ADV	toliko
otekla	V:m	oteći
da	CONJ	da
svog	PRO	svoj
'	A:aem	'
dobroglošegzlognaopakog	A:aem	dobroglošegzlognaopakog
'	A:aem	'
negativca	N:m	negativac
postavi	N:f	postava
drugačije	ADV	drugačije
od	PREP	od
prevejanog	A:aen	prevejan
,	PUNCT	,
ćutljivog	A:aem	ćutljiv
prostreljivača	A:aem	prostreljivača
pogledom	N:m	pogled
da	CONJ	da
mu	PRO	on
to	PRO	taj
ozbiljno	ADV	ozbiljno
otežava	A:aen	otežava
kretanje	N:n	kretanje
,	PUNCT	,
kroz	PREP	kroz
film	N:m	film
.	SENT	.
Njih	PRO	ona
dvojica	N:f	dvojica
se	PAR	se
nisu	N:m	nisu
pošteno	ADV	pošteno
ni	PAR	ni
pogledali	V:m	pogledati
,	PUNCT	,
a	CONJ	a
Espinosa	N:m	Espinosa
ih	PRO	ona
već	PAR	već
udružuje	N:f	udružuje
u	PREP	u
bekstvu	N:n	bekstvo
tokom	PREP	tokom
koga	PRO	koji
Denzel	N:m	Denzel
pokazuje	N:m	pokazuje
ozbiljne	A:aef	ozbiljan
namere	N:f	namera
da	CONJ	da
Ryanu	A:aen	Ryanu
dođe	A:aen	dođe
glave	N:f	glava
,	PUNCT	,
a	CONJ	a
koje	PRO	koji
su	N:m	su
nekako	ADV	nekako
,	PUNCT	,
videćete	N:m	videćete
,	PUNCT	,
u	PREP	u
ozbiljnom	A:aem	ozbiljan
raskoraku	N:m	raskorak
sa	PREP	sa
njegovim	PRO	njegov
kasnijim	A:bef	kasan
miroljubivijim	A:bem	miroljubiv
stavovima	N:m	stav
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
Espinosa	N:m	Espinosa
lepo	ADV	lepo
postavio	V:m	postaviti
klacklaicu	N:f	klacklaicu
po	PREP	po
kojoj	PRO	koji
Ryan	N:m	Ryan
treba	N:f	treba
da	CONJ	da
se	PAR	se
'	A:aem	'
spusti	N:m	spusti
'	A:aem	'
do	PREP	do
realnosti	N:f	realnost
,	PUNCT	,
a	CONJ	a
Denzel	N:m	Denzel
'	A:aem	'
uzdigne	A:aem	uzdigne
'	N:m	'
do	PREP	do
vere	N:f	vera
u	PREP	u
poštenje	N:n	poštenje
,	PUNCT	,
Safe	N:m	Safe
House	N:m	House
za	PREP	za
previše	ADV	previše
kratko	A:aen	kratak
vreme	N:n	vreme
prevaljuje	N:f	prevaljuje
put	N:f	put
koji	PRO	koji
bi	N:f	bi
i	CONJ	i
jednog	NUM	jedan
i	CONJ	i
drugog	A:aem	drugi
junaka	N:m	junak
uverio	V:m	uveriti
u	PREP	u
ispravnost	N:f	ispravnost
takve	PRO	takav
promene	N:f	promena
.	SENT	.
Zato	ADV	zato
sam	A:aem	sam
kraj	PREP	kraj
deluje	N:m	deluje
usiljeno	ADV	usiljeno
i	CONJ	i
isprazno	ADV	isprazno
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
većina	N:f	većina
prethodno	ADV	prethodno
napisanog	A:aen	napisan
imala	V:f	imati
bi	A:aem	bi
smisla	N:m	smisao
da	CONJ	da
u	PREP	u
filmu	N:m	film
nepotrebno	A:aen	nepotreban
imamo	N:m	imamo
i	CONJ	i
čitav	A:aem	čitav
HQ	A:aem	HQ
CIA	N:m	CIA
-	PUNCT	-
e	CONJ	e
koji	PRO	koji
prvo	ADV	prvo
izdaleka	ADV	izdaleka
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
(	PUNCT	(
iz	PREP	iz
potpuno	ADV	potpuno
neobjašnjivih	A:aem	neobjašnjiv
razloga	N:m	razlog
)	PUNCT	)
izbliza	ADV	izbliza
pokušava	A:aem	pokušava
da	CONJ	da
se	PAR	se
pozabavi	A:aem	pozabavi
situacijom	N:f	situacija
.	SENT	.
Ko	PRO	ko
god	PAR	god
da	CONJ	da
je	PRO	ona
izdajica	N:f	izdajica
od	PREP	od
njih	PRO	ona
(	PUNCT	(
a	CONJ	a
imate	A:aen	imate
pravo	N:n	pravo
jednom	ADV	jednom
da	CONJ	da
pogađate	A:aem	pogađate
)	PUNCT	)
uopšte	ADV	uopšte
nije	A:aem	nije
bitno	ADV	bitno
,	PUNCT	,
jer	CONJ	jer
ti	PRO	taj
likovi	N:m	lik
su	N:m	su
tek	CONJ	tek
nešto	ADV	nešto
upadljiviji	A:bem	upadljiv
od	PREP	od
statista	N:m	statista
(	PUNCT	(
a	CONJ	a
izakani	A:aem	izakani
su	N:m	su
ozbiljni	A:aem	ozbiljan
glumci	N:m	glumac
)	PUNCT	)
.	SENT	.
Isto	ADV	isto
važi	V:m	važi
i	CONJ	i
za	PREP	za
ekipu	N:f	ekipa
koja	PRO	koji
juri	N:f	jura
za	PREP	za
Denzelom	N:m	Denzel
-	PUNCT	-
oni	PRO	onaj
su	N:m	su
samo	CONJ	samo
ekipa	N:f	ekipa
koja	PRO	koji
juri	N:f	jura
za	PREP	za
Denzelom	N:m	Denzel
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
možda	PAR	možda
treba	N:f	treba
ceniti	N:m	ceniti
što	CONJ	što
je	PRO	ona
dobar	A:aem	dobar
deo	N:m	deo
svoje	PRO	svoj
estetike	N:f	estetika
iz	PREP	iz
Snabba	A:aem	Snabba
Cash	A:aem	Cash
Espinosa	N:m	Espinosa
uspeo	V:m	uspeti
da	CONJ	da
primeni	N:f	primena
i	CONJ	i
u	PREP	u
Holivudu	N:m	Holivud
.	SENT	.
Možda	N:f	Možda
ima	A:aem	ima
nade	N:f	nada
.	SENT	.
