Mnogo	ADV	mnogo
se	PAR	se
htjelo	V:n	htjeti
Možda	N:f	Možda
me	PRO	ja
sećanje	N:n	sećanje
vara	N:m	var
,	PUNCT	,
ali	CONJ	ali
ja	PRO	ja
mislim	A:aef	mislim
da	CONJ	da
su	PREF	su
ovakve	PRO	ovakav
'	N:m	'
komplicirane	V:f	komplicirati
ljubavne	A:aef	ljubavan
melodrame	N:f	melodrama
'	N:m	'
u	PREP	u
kinematografiji	N:f	kinematografija
'	A:aem	'
stare	A:aem	star
Juge	N:f	Juge
'	N:m	'
preferirali	V:m	preferirati
njihov	PRO	njihov
Rajko	N:m	Rajko
Grlić	N:m	Grlić
i	CONJ	i
naš	PRO	naš
Srđan	N:m	Srđan
Karanović	N:m	Karanović
.	SENT	.
Bili	V:m	biti
su	PREF	su
to	PRO	taj
filmovi	N:m	film
nerealizovanih	A:aen	nerealizovan
jebačina	N:f	jebačina
,	PUNCT	,
nemogućih	A:aef	nemoguć
ljubavi	N:f	ljubav
i	CONJ	i
mučnih	A:aem	mučan
razlaza	N:m	razlaz
.	SENT	.
Film	N:m	film
Gorana	N:m	Goran
Rukavine	N:m	Rukavina
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
vidi	N:f	vida
svetlo	N:n	svetlo
na	PREP	na
kraju	N:m	kraj
tunela	N:m	tunel
.	SENT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
ono	PRO	onaj
deluje	N:m	deluje
kao	CONJ	kao
da	CONJ	da
stiže	A:aem	stiže
'	N:m	'
iz	PREP	iz
kesice	N:f	kesica
'	N:m	'
.	SENT	.
Osnovna	A:aen	osnovni
priča	N:f	priča
je	PRO	ona
jednostavna	A:aef	jednostavan
-	PUNCT	-
jedan	NUM	jedan
muškarac	N:m	muškarac
,	PUNCT	,
u	PREP	u
srednjim	A:aen	srednji
četrdesetim	A:aef	četrdeseti
,	PUNCT	,
pokušava	A:aef	pokušava
da	CONJ	da
preboli	N:m	prebol
'	A:aem	'
ostanak	N:m	ostanak
'	N:m	'
(	PUNCT	(
da	CONJ	da
vam	PRO	vi
tako	ADV	tako
ništa	ADV	ništa
ne	PAR	ne
otkrijem	N:m	otkrijem
,	PUNCT	,
za	PREP	za
sada	ADV	sada
!	PUNCT	!
)	PUNCT	)
bez	PREP	bez
najveće	A:cef	velik
ljubavi	N:f	ljubav
svog	PRO	svoj
života	N:m	život
.	SENT	.
Koliko	ADV	koliko
god	PAR	god
godina	N:f	godina
da	CONJ	da
imate	N:m	imate
i	CONJ	i
koliko	ADV	koliko
god	PAR	god
vaša	PRO	vaš
ljubav	N:f	ljubav
bila	V:f	biti
čvrsta	A:aef	čvrst
i	CONJ	i
večna	A:aef	večan
,	PUNCT	,
to	PRO	taj
je	PRO	ona
tema	N:f	tema
koja	PRO	koji
će	N:f	će
vas	PRO	vi
intrigirati	N:m	intrigirati
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
njegov	PRO	njegov
scenarist	N:m	scenarist
,	PUNCT	,
Zvonimir	N:m	Zvonimir
Munivrana	N:m	Munivrana
,	PUNCT	,
nepotrebno	ADV	nepotrebno
je	PRO	ona
opteretio	V:m	opteretiti
priču	N:f	priča
kompliciranim	A:aef	kompliciran
sporednim	A:aem	sporedan
pričama	N:f	priča
,	PUNCT	,
dao	V:m	dati
joj	PRO	ona
na	PREP	na
egzotici	N:f	egzotika
na	PREP	na
krivim	A:aen	kriv
mestima	N:n	mesto
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
sam	A:aem	sam
reditelj	N:m	reditelj
u	PREP	u
suradnji	N:f	suradnja
sa	PREP	sa
direktorom	N:m	direktor
fotografije	N:f	fotografija
dao	V:m	dati
sve	ADV	sve
od	PREP	od
sebe	PRO	sebe
da	CONJ	da
(	PUNCT	(
trebalo	V:n	trebati
bi	V:n	bi
to	PRO	taj
da	CONJ	da
budu	A:aem	budu
,	SENT	,
valjda	PAR	valjda
)	PUNCT	)
najemocionalniji	A:cem	najemocionalniji
trenuci	N:m	trenutak
filma	N:m	film
izgledaju	N:f	izgledaju
kao	CONJ	kao
jeftini	A:aem	jeftin
MTV	A:aem	MTV
spotovi	N:m	spot
klonova	N:m	klon
HIM	N:f	HIM
.	SENT	.
Tako	ADV	tako
je	PRO	ona
Marko	N:m	Marko
Čović	N:m	Čović
patolog	N:m	patolog
,	PUNCT	,
od	PREP	od
svih	PRO	sav
zanimanja	N:n	zanimanje
na	PREP	na
ovom	PRO	ovaj
svetu	A:aen	svet
!	PUNCT	!
Verujem	A:aef	Verujem
da	CONJ	da
su	PREF	su
takvi	PRO	takav
ljudi	N:m	ljudi
čudni	A:aem	čudan
,	PUNCT	,
nepričljivi	A:aem	nepričljivi
,	PUNCT	,
vole	N:m	vo
svoj	PRO	sav
posao	V:m	posati
i	CONJ	i
duboko	ADV	duboko
su	N:m	su
skrivene	A:aef	skriven
emotivnosti	N:f	emotivnost
.	SENT	.
Rukavinin	A:aem	Rukavinin
Marko	N:m	Marko
manje	ADV	manje
-	PUNCT	-
više	ADV	više
tako	ADV	tako
izgleda	N:m	izgled
.	PUNCT	.
Ali	CONJ	ali
tu	PRO	taj
Goša	N:m	Goša
povlači	V:m	povlači
jednu	NUM	jedan
neprijatnu	A:aef	neprijatan
paralelu	N:f	paralela
,	PUNCT	,
koja	PRO	koji
se	PAR	se
dublje	ADV	dublje
ne	PAR	ne
elaborira	N:m	elaborira
u	PREP	u
filmu	N:m	film
i	CONJ	i
NGO	N:f	NGO
-	PUNCT	-
ovci	N:f	ovca
među	PREP	među
vama	PRO	vi
uspešno	ADV	uspešno
će	A:aem	će
potražiti	A:aem	potražiti
veliko	A:aen	velik
(	PUNCT	(
g	ABB	g
)	PUNCT	)
Srbina	N:m	Srbin
u	PREP	u
meni	PRO	ja
u	PREP	u
primedbi	N:f	primedba
koja	PRO	koji
sledi	N:m	sledi
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
malo	ADV	malo
-	PUNCT	-
malo	ADV	malo
pa	CONJ	pa
Marko	N:m	Marko
ispred	PREP	ispred
ucveljenih	A:aem	ucveljen
građana	N:m	građanin
Hrvatske	N:f	Hrvatska
prostire	N:m	prostire
bele	A:aem	beo
čaršave	N:m	čaršav
ispod	PREP	ispod
kojih	PRO	koji
se	PAR	se
nalaze	N:m	nalaz
posmrtni	A:aem	posmrtni
ostaci	N:m	ostatak
(	PUNCT	(
kosti	N:f	kosti
,	PUNCT	,
lobanje	N:f	lobanja
,	PUNCT	,
delovi	N:m	deo
odeće	N:f	odeća
,	PUNCT	,
satovi	N:m	sat
.	PUNCT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
,	PUNCT	,
pretpostavljam	N:m	pretpostavljam
poginulih	A:aef	poginuo
i	CONJ	i
'	A:aem	'
nestalih	A:aef	nestao
'	N:m	'
u	PREP	u
domovinskim	A:aef	domovinski
ratovima	N:m	rat
.	SENT	.
Jer	CONJ	jer
Hrvatska	N:f	Hrvatska
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
nije	A:aem	nije
zemlja	N:f	zemlja
u	PREP	u
kojoj	PRO	koji
ljudi	N:m	ljudi
nestaju	N:m	nestaju
u	PREP	u
močvarama	N:f	močvara
i	CONJ	i
lavinama	N:f	lavina
on	PRO	on
daily	N:m	daily
basis	N:m	basis
.	PUNCT	.
Kad	CONJ	kad
nešto	ADV	nešto
kasnije	ADV	kasnije
saznamo	N:n	saznamo
da	CONJ	da
je	PRO	ona
Markova	A:aef	Markov
Maša	N:f	Maša
(	PUNCT	(
verovatno	ADV	verovatno
)	PUNCT	)
mrtva	A:aef	mrtav
ili	CONJ	ili
nestala	A:aef	nestao
,	PUNCT	,
shvatićemo	A:aen	shvatićemo
da	CONJ	da
i	CONJ	i
on	PRO	on
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
ovi	PRO	ovaj
dobri	A:aem	dobar
ljudi	N:m	ljudi
,	PUNCT	,
čeka	N:f	čeka
na	PREP	na
definitivni	A:aem	definitivan
dokaz	N:m	dokaz
svemu	PRO	sav
tome	PRO	taj
,	PUNCT	,
kako	CONJ	kako
bi	A:aem	bi
konačno	ADV	konačno
mogao	V:m	moći
da	CONJ	da
se	PAR	se
oprosti	N:m	oprost
.	SENT	.
Ja	PRO	ja
verujem	N:m	verujem
da	CONJ	da
je	PRO	ona
iz	PREP	iz
hrvatske	A:aef	hrvatski
perspektive	N:f	perspektiva
tu	ADV	tu
sve	ADV	sve
legitimno	A:aen	legitiman
.	PUNCT	.
Saznaćemo	A:aen	Saznaćemo
i	CONJ	i
da	CONJ	da
je	PRO	ona
Maša	N:f	Maša
bila	V:f	biti
arheologinja	N:f	arheologinja
(	PUNCT	(
arheolog	N:m	arheolog
,	PUNCT	,
ž	N:m	ž
.	PUNCT	.
rod	N:m	rod
-	PUNCT	-
prim	N:m	prim
.	PUNCT	.
aut	N:m	aut
)	PUNCT	)
i	CONJ	i
da	CONJ	da
je	PRO	ona
poginula	V:f	poginuti
u	PREP	u
lavini	A:aem	lavin
ili	CONJ	ili
su	PREF	su
je	PRO	ona
oteli	V:m	oteti
teororisti	N:m	teororisti
tokom	PREP	tokom
iskopavanja	N:n	iskopavanje
u	PREP	u
Kolumbiji	N:f	Kolumbija
.	SENT	.
Ni	PAR	ni
manje	ADV	manje
,	PUNCT	,
ni	PAR	ni
više	ADV	više
!	PUNCT	!
VelikoSrbin	N:m	VelikoSrbin
u	PREP	u
meni	PRO	ja
se	PAR	se
pita	N:f	pita
,	PUNCT	,
pa	CONJ	pa
zar	PAR	zar
nije	V:m	nije
i	CONJ	i
ona	PRO	ona
mogla	V:n	moći
da	CONJ	da
bude	A:aem	bude
'	N:m	'
nestala	A:aef	nestao
'	N:m	'
u	PREP	u
domovinskom	A:aef	domovinski
ratu	N:f	rata
i	CONJ	i
da	CONJ	da
te	PRO	taj
njene	PRO	njen
mošti	N:f	mošti
nikako	ADV	nikako
da	CONJ	da
budu	A:aen	budu
pronađene	V:f	pronaći
,	PUNCT	,
a	CONJ	a
da	CONJ	da
Marko	N:m	Marko
i	CONJ	i
dalje	ADV	dalje
veruje	A:aen	veruje
da	CONJ	da
je	PRO	ona
ona	PRO	ona
živa	A:aef	živ
,	PUNCT	,
oteta	A:aef	otet
,	PUNCT	,
zarobljena	A:aef	zarobljen
,	PUNCT	,
dobrovoljno	ADV	dobrovoljno
udata	A:aem	udat
za	PREP	za
nekog	PRO	neki
'	A:aem	'
Srbina	N:m	Srbin
'	N:m	'
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Ja	PRO	ja
mislim	A:aef	mislim
da	CONJ	da
su	PREF	su
ovakve	PRO	ovakav
egzekucije	N:f	egzekucija
signal	N:m	signal
hronične	A:aef	hroničan
hrvatske	A:aef	hrvatski
malograđanštine	N:f	malograđanština
koja	PRO	koji
kontinuirano	ADV	kontinuirano
sebe	PRO	sebe
želi	V:m	žeti
da	CONJ	da
vidi	N:f	vida
ne	PAR	ne
samo	PAR	samo
kao	ADV	kao
deo	N:m	deo
velike	A:aem	velik
'	N:m	'
europske	A:aef	europski
porodice	N:f	porodica
'	N:m	'
već	CONJ	već
njenih	PRO	njen
najelitnijih	A:cef	elitan
klasa	N:f	klasa
.	SENT	.
Ne	PAR	ne
bez	PREP	bez
razloga	N:m	razlog
,	PUNCT	,
najbolje	ADV	najbolje
hrvatske	A:aef	hrvatski
stvari	N:f	stvar
uvek	ADV	uvek
se	PAR	se
bave	N:f	bave
svim	PRO	sav
ostalim	A:aem	ostalim
klasama	N:f	klasa
.	SENT	.
Hvala	N:f	hvala
Gospi	N:f	Gospa
.	SENT	.
Marko	N:m	Marko
ima	A:aem	ima
kćer	N:f	kćer
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
ljubavnicu	N:f	ljubavnica
,	PUNCT	,
odvjetnicu	N:m	odvjetnicu
Lidiju	N:f	Lidija
.	PUNCT	.
Lidija	N:f	Lidija
već	CONJ	već
godinama	N:f	godina
piše	A:aem	piše
pisma	N:n	pismo
Markovoj	A:aef	Markov
kćeri	N:f	kćer
,	PUNCT	,
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
njena	PRO	njen
mama	N:f	mama
.	PUNCT	.
I	CONJ	i
kao	CONJ	kao
da	CONJ	da
ne	PAR	ne
postoji	N:m	postoji
Skajp	N:m	Skajp
,	PUNCT	,
email	N:m	email
,	PUNCT	,
Internet	N:m	internet
,	PUNCT	,
fotografski	A:aem	fotografski
aparat	N:m	aparat
(	PUNCT	(
pa	CONJ	pa
i	CONJ	i
analogni	A:aem	analogan
)	PUNCT	)
,	PUNCT	,
jer	CONJ	jer
'	A:aem	'
mama	N:f	mama
je	PRO	ona
tamo	ADV	tamo
daleko	ADV	daleko
u	PREP	u
bolnici	N:f	bolnica
na	PREP	na
liječenju	N:n	liječenje
i	CONJ	i
već	PAR	već
godinama	ADV	godinama
ne	PAR	ne
može	A:aem	može
da	CONJ	da
se	PAR	se
vrati	N:m	vrati
'	N:m	'
.	SENT	.
Ovako	ADV	ovako
sumanuta	A:aef	sumanut
postavka	N:f	postavka
toliko	ADV	toliko
lebdi	V:m	lebdi
u	PREP	u
vazduhu	N:m	vazduh
da	CONJ	da
vas	PRO	vi
svako	PRO	svaki
malo	ADV	malo
udara	N:m	udar
po	PREP	po
sred	PREP	sred
čela	N:n	čelo
,	PUNCT	,
kao	CONJ	kao
spušten	A:aem	spušten
luster	N:m	luster
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
se	PAR	se
ispostavlja	N:n	ispostavlja
da	CONJ	da
je	PRO	ona
sva	PRO	sav
ta	PRO	taj
korešpondencija	N:f	korešpondencija
potrebnija	A:ben	potreban
Marku	N:f	Marka
,	PUNCT	,
nego	CONJ	nego
ćerki	N:f	ćerka
i	CONJ	i
da	CONJ	da
zapravo	ADV	zapravo
on	PRO	on
ima	A:aem	ima
problem	N:m	problem
da	CONJ	da
se	PAR	se
oprosti	N:m	oprost
sa	PREP	sa
Mašom	N:f	Maša
.	PUNCT	.
A	CONJ	a
tu	ADV	tu
je	PRO	ona
onda	ADV	onda
i	CONJ	i
terapeut	N:m	terapeut
koji	PRO	koji
sedi	A:aem	sed
kao	CONJ	kao
policijski	A:aem	policijski
islednik	N:m	islednik
,	PUNCT	,
zatim	ADV	zatim
Markovi	A:aem	Markov
susjedi	N:m	susjed
koji	PRO	koji
idu	A:aem	idu
kod	PREP	kod
istog	A:aen	isti
terapeuta	N:m	terapeut
,	PUNCT	,
jer	CONJ	jer
On	A:aem	On
voli	N:m	Voli
da	CONJ	da
stavi	N:m	stavi
masku	N:f	maska
petla	N:m	petao
na	PREP	na
glavu	N:f	glava
,	PUNCT	,
a	CONJ	a
Njoj	A:aem	Njoj
masku	N:f	maska
koke	N:f	koka
i	CONJ	i
onda	ADV	onda
voli	N:m	Voli
da	CONJ	da
pusti	A:aem	pust
zvuk	N:m	zvuk
kokodakanja	N:n	kokodakanje
dok	CONJ	dok
vodi	N:f	voda
ljubav	N:f	ljubav
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Nisam	N:m	Nisam
uspeo	V:m	uspeti
da	CONJ	da
shvatim	A:aem	shvatim
u	PREP	u
kakvom	PRO	kakav
je	PRO	ona
odnosu	N:m	odnos
ova	PRO	ovaj
priča	N:f	priča
sa	PREP	sa
osnovnom	A:aen	osnovni
.	SENT	.
Možda	N:f	Možda
vama	PRO	vi
pođe	A:aem	pođe
za	PREP	za
rukom	N:f	ruka
.	PUNCT	.
Marko	N:m	Marko
i	CONJ	i
Lidija	N:f	Lidija
deluju	N:m	deluju
nekako	ADV	nekako
formulaično	A:aen	formulaično
,	PUNCT	,
uprkos	PREP	uprkos
njihovim	PRO	njihov
'	A:aem	'
razigranim	A:aem	razigran
'	N:m	'
profesionalnim	A:aen	profesionalan
karijerama	N:f	karijera
.	SENT	.
Rukavina	N:m	Rukavina
u	PREP	u
postavci	N:f	postavka
ranjeni	A:aem	ranjen
muškarac	N:m	muškarac
-	PUNCT	-
dobra	A:aef	dobar
komšinica	N:f	komšinica
ne	PAR	ne
nudi	N:f	nudi
ništa	ADV	ništa
originalno	ADV	originalno
.	SENT	.
Sem	PREP	sem
somnabulnih	A:aef	somnabulan
prikaza	N:f	prikaza
Markovih	A:aen	Markov
snova	N:m	san
u	PREP	u
kojima	PRO	koji
se	PAR	se
ovaj	PRO	ovaj
oprašta	N:n	oprašta
od	PREP	od
svoje	PRO	svoj
supruge	N:f	supruga
obučene	A:aem	obučen
u	PREP	u
belu	A:aef	beo
venčanicu	N:f	venčanica
(	PUNCT	(
ili	CONJ	ili
nešto	ADV	nešto
slično	ADV	slično
tome	PRO	taj
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
ova	PRO	ovaj
hodi	N:m	hodi
nekom	PRO	neki
maglovitom	A:aem	maglovit
livadom	N:f	livada
u	PREP	u
pet	NUM	pet
ujutru	ADV	ujutru
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Snaga	N:f	snaga
tih	PRO	taj
klišea	N:m	kliše
opasno	ADV	opasno
dezavuiše	A:aef	dezavuiše
egzotičnost	N:f	egzotičnost
svih	PRO	sav
ostalih	A:aem	ostalih
detalja	N:m	detalj
i	CONJ	i
zapravo	ADV	zapravo
ih	PRO	ona
čini	N:f	čini
smešnim	A:aef	smešan
i	CONJ	i
još	ADV	još
nebuloznijim	A:bem	nebulozan
.	SENT	.
Poput	PREP	poput
ukrasa	N:m	ukras
koji	PRO	koji
su	N:m	su
stavljeni	V:m	staviti
naknadno	ADV	naknadno
da	CONJ	da
priči	N:f	priča
daju	N:m	Daj
nekakvu	PRO	nekakav
autentičnost	N:f	autentičnost
i	CONJ	i
posebnost	N:f	posebnost
.	SENT	.
Zamka	N:f	zamka
za	PREP	za
prvaka	N:m	prvak
.	SENT	.
