Uželeh	N:m	Uželeh
se	PAR	se
malo	ADV	malo
dobrog	A:aem	dobar
starog	A:aem	star
horora	N:m	horor
.	PUNCT	.
I	CONJ	i
šta	PRO	šta
sam	PRO	sam
onda	ADV	onda
trebao	V:m	trebati
da	CONJ	da
uradim	V:m	uradim
?	PUNCT	?
Recimo	N:m	Recimo
da	CONJ	da
prelistam	N:m	prelistam
vaše	PRO	vaš
preporuke	N:f	preporuka
.	PUNCT	.
Ima	A:aem	Ima
tu	ADV	tu
vazda	ADV	vazda
dobrih	A:aem	dobar
stvari	N:f	stvar
kao	CONJ	kao
i	CONJ	i
potencijalnih	A:aef	potencijalan
mina	N:f	mina
u	PREP	u
najavi	N:f	najava
ali	CONJ	ali
what	N:m	what
the	N:m	the
hell	N:m	hell
.	PUNCT	.
Nisam	N:m	Nisam
hteo	V:m	hteti
da	CONJ	da
uzmem	V:m	uzmem
nešto	PRO	nešto
što	CONJ	što
sam	PRO	sam
gledao	V:m	gledati
a	CONJ	a
što	CONJ	što
je	PRO	ona
masterpis	N:m	masterpis
,	PUNCT	,
recimo	A:aen	recimo
Shining	N:m	Shining
(	PUNCT	(
čeka	N:f	čeka
na	PREP	na
novi	A:aem	nov
tekst	N:m	tekst
)	PUNCT	)
ili	CONJ	ili
genijalne	A:aef	genijalan
Suspiria	N:f	Suspiria
i	CONJ	i
Deep	A:aem	Deep
Red	N:m	red
.	PUNCT	.
Nisam	N:m	Nisam
hteo	V:m	hteti
ni	CONJ	ni
uzeti	V:m	uzeti
neku	PRO	neki
siguricu	N:f	siguricu
,	PUNCT	,
recimo	A:aen	recimo
House	N:m	House
Of	N:m	Of
Usher	N:m	Usher
ili	CONJ	ili
In	N:m	In
The	INT	The
Mouth	A:aem	Mouth
of	N:m	of
Madness	N:m	Madness
.	SENT	.
Primenih	A:aem	Primenih
dobar	A:aem	dobar
stari	A:aem	star
sistem	N:m	sistem
'	A:aem	'
ofrlje	N:m	ofrlje
'	A:aem	'
na	PREP	na
neki	PRO	neki
od	PREP	od
mojih	PRO	moj
horor	N:m	horor
filtera	N:m	filter
na	PREP	na
imdb	N:m	imdb
i	CONJ	i
gle	INT	gle
čuda	N:n	čudo
ispade	N:m	ispad
film	N:m	film
sa	PREP	sa
ludim	A:aef	lud
nazivom	N:m	naziv
.	SENT	.
Tajland	N:m	Tajland
!	PUNCT	!
Jea	N:m	Jea
,	PUNCT	,
nisam	N:m	nisam
ništa	ADV	ništa
gledao	V:m	gledati
odatle	ADV	odatle
.	PUNCT	.
A	CONJ	a
zašto	ADV	zašto
ne	PAR	ne
dati	V:m	dati
šansu	N:f	šansa
nečemu	PRO	nešto
što	PRO	što
je	PRO	ona
prevedeno	V:n	prevesti
kao	CONJ	kao
Sick	A:aem	Sick
Nurses	N:m	Nurses
.	SENT	.
Na	PREP	na
kakvu	PRO	kakav
su	N:m	su
samo	PAR	samo
siguricu	N:f	siguricu
išli	V:m	ići
ovde	ADV	ovde
.	PUNCT	.
Kao	CONJ	kao
grupa	N:f	grupa
ljudi	N:m	ljudi
ubije	A:aem	ubije
nekog	PRO	neki
pa	CONJ	pa
se	PAR	se
taj	PRO	taj
vraća	N:m	vraća
kao	CONJ	kao
duh	N:m	duh
,	PUNCT	,
demon	N:m	demon
ili	CONJ	ili
šta	PRO	šta
već	PAR	već
da	CONJ	da
im	PRO	ona
stiska	N:f	stiska
pastu	N:f	pasta
od	PREP	od
sredine	N:f	sredina
,	PUNCT	,
čepa	N:m	čep
po	PREP	po
kurijim	N:f	kurijim
očima	N:f	oči
,	PUNCT	,
soli	N:f	so
kafu	N:f	kafa
,	PUNCT	,
'	A:aem	'
ladi	N:f	lada
sarmu	N:f	sarma
,	PUNCT	,
peva	N:m	pev
Georgijeva	N:m	Georgijev
dok	CONJ	dok
ne	PAR	ne
odluče	V:n	odluče
da	CONJ	da
se	PAR	se
samozapale	V:f	samozapale
,	PUNCT	,
odseku	N:m	odsek
sebi	PRO	sebe
glavu	N:f	glava
sekirčetom	N:n	sekirčetom
ili	CONJ	ili
skoče	N:n	skoče
u	PREP	u
čašu	N:f	čaša
vode	N:f	voda
sa	PREP	sa
Ajfela	N:m	Ajfel
.	SENT	.
Manje	ADV	manje
više	ADV	više
,	PUNCT	,
uz	PREP	uz
neke	PRO	neki
detalje	N:m	detalj
i	CONJ	i
detaljčiće	N:m	detaljčiće
,	PUNCT	,
to	PRO	taj
je	PRO	ona
sadržaj	N:m	sadržaj
celog	A:aem	ceo
filma	N:m	film
.	SENT	.
Zato	ADV	zato
kažem	A:aem	kažem
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
sigurica	N:f	sigurica
.	SENT	.
Vidite	N:m	Vidite
razlog	N:m	razlog
pojavljivanja	N:n	pojavljivanje
duha	N:m	duh
i	CONJ	i
onda	ADV	onda
gledate	A:aef	gledate
osvetu	N:f	osveta
od	PREP	od
sat	N:f	sat
i	CONJ	i
nešto	ADV	nešto
malo	ADV	malo
minuta	N:m	minut
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
Mislim	A:aem	Mislim
,	PUNCT	,
postoje	N:m	postoje
još	ADV	još
neki	PRO	neki
'	A:aem	'
sočni	A:aem	sočan
'	A:aem	'
detalji	N:m	detalj
priče	N:f	priča
ali	CONJ	ali
nemaju	N:f	nemaju
naročito	ADV	naročito
bitan	A:aem	bitan
efekat	N:m	efekt
osim	PREP	osim
šoka	N:m	šok
i	CONJ	i
/	N:m	/
ili	CONJ	ili
iznenađenja	N:n	iznenađenje
.	SENT	.
Film	N:m	film
pokušava	A:aen	pokušava
da	CONJ	da
se	PAR	se
igra	N:f	igra
sa	PREP	sa
odnosom	N:m	odnos
između	PREP	između
žena	N:f	žena
i	CONJ	i
muškaraca	N:m	muškarac
i	CONJ	i
žena	N:f	žena
i	CONJ	i
žena	N:f	žena
i	CONJ	i
muškaraca	N:m	muškarac
i	CONJ	i
muškaraca	N:m	muškarac
ali	CONJ	ali
mislim	A:aem	mislim
da	CONJ	da
to	PRO	taj
radi	PREP	radi
na	PREP	na
pomalo	ADV	pomalo
glupav	A:aem	glupav
i	CONJ	i
pomalo	ADV	pomalo
uvredljiv	A:aem	uvredljiv
a	CONJ	a
nadasve	ADV	nadasve
ljigav	A:aem	ljigav
način	N:m	način
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
u	PREP	u
srži	N:f	srž
svega	ADV	svega
i	CONJ	i
jesu	A:aen	jesu
ti	PRO	taj
odnosi	N:m	odnos
.	SENT	.
Oni	PRO	onaj
su	N:m	su
doveli	V:m	dovesti
do	PREP	do
tragedije	N:f	tragedija
.	PUNCT	.
Iako	CONJ	iako
sve	PRO	sav
to	PRO	taj
deluje	N:m	deluje
malo	ADV	malo
verovatno	ADV	verovatno
i	CONJ	i
dosta	ADV	dosta
šuplje	ADV	šuplje
,	PUNCT	,
mogu	N:m	Mog
čak	PAR	čak
i	CONJ	i
da	CONJ	da
prihvatim	A:aem	prihvatim
celu	A:aef	ceo
igru	N:f	igra
.	SENT	.
Ebi	A:aem	Ebi
ga	PRO	on
,	PUNCT	,
ako	CONJ	ako
nisi	N:m	nisi
spreman	A:aem	spreman
zbog	PREP	zbog
ljubavi	N:f	ljubav
prema	PREP	prema
nekom	PRO	neki
da	CONJ	da
uradiš	V:m	uradiš
svašta	PRO	svašta
,	PUNCT	,
kontam	N:m	kontam
da	CONJ	da
nisi	N:m	nisi
ni	PAR	ni
voleo	V:m	voleti
kako	CONJ	kako
valja	N:f	valja
.	PUNCT	.
Ne	PAR	ne
mislim	A:aen	mislim
ovo	PRO	ovaj
na	PREP	na
patetičan	A:aem	patetičan
već	CONJ	već
na	PREP	na
realan	A:aem	realan
način	N:m	način
.	PUNCT	.
E	CONJ	e
sad	ADV	sad
,	PUNCT	,
pitanje	N:n	pitanje
je	PRO	ona
da	CONJ	da
li	PAR	li
taj	PRO	taj
što	PRO	što
voli	N:m	Voli
ima	V:m	ima
barem	PAR	barem
dva	NUM	dva
grama	N:m	gram
mozga	N:m	mozak
ili	CONJ	ili
je	PRO	ona
samo	PAR	samo
sila	N:f	sila
prirode	N:f	priroda
obdarena	V:m	obdariti
šupljinom	N:f	šupljina
u	PREP	u
glavi	N:f	glava
i	CONJ	i
mudima	N:n	mudo
da	CONJ	da
uradi	V:m	uradi
nešto	ADV	nešto
veoma	ADV	veoma
glupo	ADV	glupo
(	PUNCT	(
bez	PREP	bez
obzira	N:m	obzir
da	CONJ	da
li	PAR	li
je	PRO	ona
reč	N:f	reč
o	PREP	o
ženi	N:f	žena
ili	CONJ	ili
muškarcu	N:m	muškarac
)	PUNCT	)
.	SENT	.
Zašto	A:aem	Zašto
mislim	N:m	mislim
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
glupo	ADV	glupo
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
ide	A:aem	ide
na	PREP	na
kartu	N:f	karta
ljubavi	N:f	ljubav
žena	N:f	žena
prema	PREP	prema
jednom	NUM	jedan
muškarcu	N:m	muškarac
a	CONJ	a
sve	PRO	sav
te	PRO	taj
žene	N:f	žena
ne	PAR	ne
ostavljaju	N:m	ostavljaju
utisak	N:m	utisak
naročito	ADV	naročito
bistrih	A:aef	bistar
osoba	N:f	osoba
.	SENT	.
Ček	N:m	Ček
,	PUNCT	,
imaš	A:aem	imaš
pešes	N:m	pešes
medicinskih	A:aem	medicinski
sestara	N:f	sestra
i	CONJ	i
sve	PRO	sav
su	N:m	su
slično	ADV	slično
okrnjenog	A:aem	okrnjen
intelekta	N:m	intelekt
?	PUNCT	?
Pazi	N:f	Pazi
,	PUNCT	,
ok	V:m	ok
je	PRO	ona
ako	CONJ	ako
se	PAR	se
šališ	N:f	šališ
na	PREP	na
račun	N:m	račun
žena	N:f	žena
,	PUNCT	,
muškaraca	N:m	muškarac
,	PUNCT	,
bradate	A:aef	bradat
žene	N:f	žena
,	PUNCT	,
naše	PRO	naš
fudbalske	A:aef	fudbalski
sakatosti	N:f	sakatost
,	PUNCT	,
ali	CONJ	ali
opet	ADV	opet
u	PREP	u
svemu	PRO	sav
tome	PRO	taj
treba	N:f	treba
da	CONJ	da
imaš	A:aem	imaš
meru	N:f	mera
.	SENT	.
Druga	A:aef	drugi
stvar	N:f	stvar
koja	PRO	koji
mi	PRO	ja
smeta	N:m	smet
je	PRO	ona
to	PRO	taj
što	CONJ	što
je	PRO	ona
svaki	PRO	svaki
kadar	A:aem	kadar
kao	CONJ	kao
iz	PREP	iz
predigre	N:f	predigra
u	PREP	u
'	A:aem	'
erockim	N:m	erockim
'	A:aem	'
filmovima	N:m	film
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
kažem	A:aem	kažem
pornićima	N:m	pornić
.	SENT	.
Sranje	N:n	sranje
,	PUNCT	,
upravo	ADV	upravo
sam	PRO	sam
to	PRO	taj
rekao	V:m	reći
.	PUNCT	.
Ali	CONJ	ali
dobro	ADV	dobro
,	PUNCT	,
barem	PAR	barem
simpatične	A:aef	simpatičan
pretrage	N:f	pretraga
ulete	N:m	ulete
na	PREP	na
ovaj	PRO	ovaj
blog	N:m	blog
.	SENT	.
Mogu	N:m	Mog
samo	PAR	samo
da	CONJ	da
zamislim	A:aen	zamislim
šta	PRO	šta
pomisli	N:f	pomisao
lik	N:m	lik
koji	PRO	koji
je	PRO	ona
tražio	V:m	tražiti
seks	N:m	seks
između	PREP	između
čoveka	N:m	čovek
i	CONJ	i
ovce	N:f	ovca
i	CONJ	i
uleteo	V:m	uleteti
na	PREP	na
prikaz	N:m	prikaz
nekog	PRO	neki
od	PREP	od
filmova	N:m	film
.	SENT	.
Garant	N:m	garant
je	PRO	ona
predugo	ADV	predugo
čekao	V:m	čekati
na	PREP	na
akciju	N:f	akcija
pa	CONJ	pa
opalio	V:m	opaliti
kečeve	N:m	kec
na	PREP	na
gomile	N:f	gomila
klasika	N:f	klasika
.	SENT	.
Šta	A:aem	Šta
znam	N:m	znam
,	PUNCT	,
možda	PAR	možda
traži	A:aem	traži
čova	N:m	čova
nešto	ADV	nešto
mlađe	A:bem	mlad
i	CONJ	i
prljavije	A:bef	prljav
pa	CONJ	pa
mu	PRO	on
je	PRO	ona
Dobar	A:aem	dobar
,	PUNCT	,
Loš	A:aem	Loš
,	PUNCT	,
Zao	N:f	Zao
previše	ADV	previše
zastareo	A:aem	zastareo
i	CONJ	i
čist	A:aem	čist
.	PUNCT	.
E	CONJ	e
pa	CONJ	pa
ovo	PRO	ovaj
je	PRO	ona
onda	ADV	onda
filmić	A:aem	filmić
za	PREP	za
njega	PRO	on
.	SENT	.
Ovde	ADV	ovde
svaki	PRO	svaki
kadar	A:aem	kadar
akcentuje	N:m	akcentuje
žensku	A:aef	ženski
lepotu	N:f	lepota
i	CONJ	i
obline	N:f	oblina
.	SENT	.
Čoveče	A:aen	Čoveče
,	PUNCT	,
šta	PRO	šta
god	PAR	god
da	CONJ	da
se	PAR	se
dešava	N:n	dešava
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
da	CONJ	da
li	PAR	li
je	PRO	ona
scena	N:f	scena
ozbiljna	A:aem	ozbiljan
,	PUNCT	,
da	CONJ	da
li	PAR	li
ima	A:aem	ima
uticaj	N:m	uticaj
na	PREP	na
bilo	V:n	biti
šta	PRO	šta
,	PUNCT	,
mora	N:n	more
da	CONJ	da
se	PAR	se
prenese	N:f	prenese
ta	PRO	taj
konotacija	N:f	konotacija
.	SENT	.
Prosto	ADV	prosto
mogu	A:aem	mogu
da	CONJ	da
zamislim	A:aem	zamislim
petnaestogodišnjaka	N:m	petnaestogodišnjak
koji	PRO	koji
ovo	PRO	ovaj
gleda	N:m	gleda
i	CONJ	i
balavi	A:aem	balav
dok	CONJ	dok
igra	N:f	igra
džepni	A:aem	džepni
bilijar	N:m	bilijar
.	SENT	.
Kontam	N:m	Kontam
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
prešlo	V:n	preći
u	PREP	u
neki	PRO	neki
soft	N:m	soft
-	PUNCT	-
porn	N:m	porn
da	CONJ	da
bi	N:m	bi
imalo	V:n	imati
i	CONJ	i
više	ADV	više
uspeha	N:m	uspeh
i	CONJ	i
više	ADV	više
kvaliteta	N:m	kvalitet
.	SENT	.
Ako	CONJ	ako
su	N:m	su
već	PAR	već
nagoveštavali	V:m	nagoveštavati
toliko	ADV	toliko
,	PUNCT	,
mogli	V:m	moći
su	N:m	su
nam	PRO	mi
dati	V:m	dati
barem	PAR	barem
nešto	ADV	nešto
da	CONJ	da
vidimo	A:aen	vidimo
.	PUNCT	.
Čoveče	A:aen	Čoveče
,	PUNCT	,
sat	N:f	sat
vremena	N:n	vreme
sevanja	N:n	sevanje
polugolih	A:aef	polugo
devojčica	N:f	devojčica
,	PUNCT	,
njihovih	PRO	njihov
stomaka	N:m	stomak
,	PUNCT	,
nogu	N:f	noga
,	PUNCT	,
gaćica	N:f	gaćice
,	PUNCT	,
podvezica	N:f	podvezica
i	CONJ	i
čega	PRO	šta
već	PAR	već
,	PUNCT	,
ni	PAR	ni
poštena	A:aem	pošten
guza	N:m	guz
niti	CONJ	niti
sisić	N:f	sisić
se	PAR	se
nisu	N:m	nisu
videli	V:m	videti
.	SENT	.
Vrhunac	N:m	vrhunac
svega	PRO	sav
je	PRO	ona
to	PRO	taj
što	CONJ	što
se	PAR	se
jedna	NUM	jedan
od	PREP	od
njih	PRO	ona
tušira	N:m	tušira
i	CONJ	i
pere	N:m	Pera
kosu	N:f	kosa
potpuno	ADV	potpuno
obučena	A:aef	obučen
.	SENT	.
Kontam	N:m	Kontam
da	CONJ	da
je	PRO	ona
to	PRO	taj
najidiotskija	A:cef	idiotski
scena	N:f	scena
tuširanja	N:n	tuširanje
još	ADV	još
od	PREP	od
kad	CONJ	kad
je	PRO	ona
onaj	PRO	onaj
nesrećni	A:aem	nesrećan
Daničić	N:m	Daničić
(	PUNCT	(
pretraži	A:aem	pretraži
na	PREP	na
Youtube	A:aem	Youtube
ako	CONJ	ako
imaš	A:aem	imaš
jak	A:aem	jak
stomak	N:m	stomak
)	PUNCT	)
došao	V:m	doći
na	PREP	na
ideju	N:f	ideja
'	A:aem	'
hej	INT	hej
,	PUNCT	,
zašto	CONJ	zašto
ne	PAR	ne
bih	A:aem	bih
skoro	ADV	skoro
potpuno	ADV	potpuno
go	A:aem	go
snimio	V:m	snimiti
pesmu	N:f	pesma
posvećenu	A:aem	posvećen
mojoj	PRO	moj
najdražoj	A:cef	drag
i	CONJ	i
okačio	V:m	okačiti
je	PRO	ona
na	PREP	na
youtube	N:m	youtube
da	CONJ	da
svi	PRO	sav
vide	N:f	vida
koliko	ADV	koliko
je	PRO	ona
volim	A:aem	volim
i	CONJ	i
kako	CONJ	kako
sam	PRO	sam
romantičan	A:aem	romantičan
dok	CONJ	dok
u	PREP	u
gaćama	N:f	gaće
šetam	N:m	šetam
džukca	N:m	džukac
'	N:m	'
.	SENT	.
Imamo	N:m	Imamo
jednog	NUM	jedan
,	PUNCT	,
ustvari	ADV	ustvari
dva	NUM	dva
mužjaka	N:m	mužjak
u	PREP	u
filmu	N:m	film
.	SENT	.
Nije	A:aem	Nije
najsrećnije	A:cem	srećan
ni	CONJ	ni
kako	CONJ	kako
je	PRO	ona
tzv	ABB	tzv
.	SENT	.
jači	A:bem	jak
pol	N:m	pol
prikazan	V:m	prikazati
.	SENT	.
Prvo	ADV	prvo
,	PUNCT	,
anemični	A:aem	anemičan
lepotan	N:m	lepotan
od	PREP	od
doce	N:f	doca
je	PRO	ona
tu	PRO	taj
neki	PRO	neki
srcelomac	N:m	srcelomac
.	PUNCT	.
Baš	A:aem	Baš
tako	ADV	tako
.	SENT	.
Mi	PRO	ja
muškarci	N:m	muškarac
nikada	ADV	nikada
ne	PAR	ne
činimo	N:f	činimo
sranja	N:n	sranje
zbog	PREP	zbog
žena	N:f	žena
.	SENT	.
Nikada	ADV	nikada
nismo	N:f	nismo
bili	V:m	biti
toliko	ADV	toliko
zatreskani	V:m	zatreskati
da	CONJ	da
bi	V:m	bi
pravili	V:m	praviti
budalu	N:f	budala
od	PREP	od
sebe	PRO	sebe
.	SENT	.
Na	PREP	na
docu	N:m	doca
se	PAR	se
loži	N:f	loža
po	PREP	po
mom	PRO	moj
broju	N:m	broj
7	NUM	@card@
(	PUNCT	(
slovima	N:n	slovo
SEDAM	N:m	SEDAM
)	PUNCT	)
lepolikih	A:aef	lepolikih
sestara	N:f	sestra
manekenskog	A:aem	manekenski
izgleda	N:m	izgled
i	CONJ	i
pornićkog	A:aen	pornićkog
nastrojenja	N:n	nastrojenje
.	SENT	.
On	PRO	on
je	PRO	ona
naravno	PAR	naravno
strogo	ADV	strogo
cool	N:m	cool
i	CONJ	i
ne	PAR	ne
balavi	A:aem	balav
ni	CONJ	ni
na	PREP	na
jednu	NUM	jedan
od	PREP	od
njih	PRO	ona
.	PUNCT	.
Ma	PAR	ma
da	CONJ	da
,	PUNCT	,
svi	PRO	sav
mi	PRO	ja
muškarci	N:m	muškarac
smo	N:f	smo
neverovatno	A:aen	neverovatan
cool	N:m	cool
,	PUNCT	,
hladni	A:aem	hladan
,	PUNCT	,
srcelomci	N:m	srcelomac
i	CONJ	i
krijemo	N:f	krijemo
svoju	PRO	svoj
gej	N:m	gej
stranu	N:f	strana
.	SENT	.
Op	INT	op
op	INT	op
,	PUNCT	,
gej	N:m	gej
stranu	N:f	strana
.	SENT	.
Nisam	N:m	Nisam
li	PAR	li
to	PRO	taj
napisao	V:m	napisati
na	PREP	na
glas	N:m	glas
?	PUNCT	?
Znate	V:f	znati
da	CONJ	da
nemam	N:m	nemam
ništa	PRO	ništa
protiv	PREP	protiv
bilo	V:n	biti
kakve	PRO	kakav
seksualne	A:aef	seksualan
orijentacije	N:f	orijentacija
ali	CONJ	ali
imam	N:m	imam
protiv	PREP	protiv
onih	PRO	onaj
koji	PRO	koji
su	N:m	su
budale	N:f	budala
.	SENT	.
E	CONJ	e
scenaristi	N:m	scenarista
su	PREF	su
budale	N:f	budala
koji	PRO	koji
su	N:m	su
uspeli	V:m	uspeti
da	CONJ	da
uvrede	N:f	uvreda
svakog	PRO	svaki
.	PUNCT	.
A	CONJ	a
kad	CONJ	kad
je	PRO	ona
duh	N:m	duh
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
mnogo	ADV	mnogo
bolji	A:bem	dobar
je	PRO	ona
kada	CONJ	kada
se	PAR	se
ne	PAR	ne
vidi	N:f	vida
ili	CONJ	ili
kada	CONJ	kada
mu	PRO	on
se	PAR	se
vidi	N:f	vida
senka	N:f	senka
.	SENT	.
Od	PREP	od
nagoveštaja	N:m	nagoveštaj
i	CONJ	i
senke	N:f	senka
verujem	A:aen	verujem
da	CONJ	da
bih	A:aen	bih
napunio	V:m	napuniti
gaće	N:f	gaće
od	PREP	od
straha	N:m	strah
.	PUNCT	.
Ovako	ADV	ovako
da	CONJ	da
vidim	A:aen	vidim
takvog	PRO	takav
duha	N:m	duh
verovatno	ADV	verovatno
bih	A:aen	bih
je	PRO	ona
pitao	V:m	pitati
'	A:aem	'
Zašto	N:m	Zašto
se	PAR	se
mažeš	A:aem	mažeš
imalinom	N:m	imalin
koji	PRO	koji
đavo	N:m	đavo
?	SENT	?
Zašto	N:m	Zašto
se	PAR	se
ne	PAR	ne
ošišaš	V:m	ošišaš
?	SENT	?
Ja	PRO	ja
bih	A:aem	bih
od	PREP	od
tolike	PRO	toliki
kose	N:f	kosa
popizdeo	V:m	popizdeti
,	PUNCT	,
majke	N:f	majka
mi	PRO	ja
?	PUNCT	?
'	A:aem	'
Fora	N:m	for
sa	PREP	sa
dugom	A:aen	dug
kosom	N:f	kosa
je	PRO	ona
bila	V:f	biti
sjajna	A:aen	sjajan
kada	CONJ	kada
ju	PRO	ona
je	PRO	ona
Ringu	N:m	Ringo
uveo	V:m	uvesti
,	PUNCT	,
Ju	A:aen	Ju
-	PUNCT	-
On	A:aen	On
obradio	V:m	obraditi
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	SENT	.
Kasnije	ADV	kasnije
je	PRO	ona
postala	V:f	postati
izlizana	V:f	izlizati
kao	ADV	kao
štapić	N:m	štapić
kad	CONJ	kad
završite	N:m	završite
sa	PREP	sa
'	A:aem	'
rumenkom	N:f	rumenka
'	N:m	'
.	SENT	.
Mislim	A:aen	Mislim
nije	N:n	nije
ovo	PRO	ovaj
loša	A:aem	loš
šminka	N:f	šminka
ali	CONJ	ali
ja	PRO	ja
tu	PRO	taj
ne	PAR	ne
vidim	A:aem	vidim
duha	N:m	duh
.	SENT	.
Vidim	A:aen	Vidim
strašilo	N:n	strašilo
od	PREP	od
žene	N:f	žena
.	PUNCT	.
Tako	ADV	tako
da	CONJ	da
će	A:aen	će
vas	PRO	vi
nagoveštaj	N:m	nagoveštaj
ili	CONJ	ili
samo	PAR	samo
senka	N:f	senka
možda	PAR	možda
uplašiti	N:m	uplašiti
.	SENT	.
Ovo	PRO	ovaj
ostalo	V:n	ostati
teško	ADV	teško
.	SENT	.
Pravi	A:aem	prav
se	PAR	se
tu	ADV	tu
neka	PRO	neki
simbolika	N:f	simbolika
kada	CONJ	kada
dođe	N:f	dođe
do	PREP	do
krvave	A:aef	krvav
osvete	N:f	osveta
.	PUNCT	.
Kao	CONJ	kao
svaka	PRO	svaki
od	PREP	od
devojaka	N:f	devojka
ima	A:aem	ima
neki	PRO	neki
trip	N:m	trip
.	SENT	.
Jedna	NUM	jedan
je	PRO	ona
bulimična	A:aen	bulimična
,	PUNCT	,
druga	A:aef	drugi
želi	V:m	žeti
da	CONJ	da
ima	A:aen	ima
savršeno	A:aen	savršen
telo	N:n	telo
,	PUNCT	,
treća	A:aen	treći
nije	A:aen	nije
strejt	N:f	strejt
(	PUNCT	(
kao	CONJ	kao
i	CONJ	i
četvrta	A:aen	četvrti
)	PUNCT	)
,	PUNCT	,
peta	N:f	peta
luduje	N:m	luduje
za	PREP	za
krpicama	N:f	krpica
,	PUNCT	,
šesta	A:aen	šesti
bi	N:n	bi
da	CONJ	da
je	PRO	ona
oplodi	A:aem	oplodi
Željko	N:m	Željko
Joksimović	N:m	Joksimović
.	SENT	.
Mislim	A:aem	Mislim
ok	N:m	ok
,	PUNCT	,
sve	PRO	sav
su	N:m	su
to	PRO	taj
mogući	A:aem	moguć
i	CONJ	i
realni	A:aem	realan
tripovi	N:m	trip
.	SENT	.
Ovde	ADV	ovde
su	N:m	su
se	PAR	se
potrudili	V:m	potruditi
da	CONJ	da
egzekucije	N:f	egzekucija
budu	A:aem	budu
u	PREP	u
skladu	N:m	sklad
sa	PREP	sa
ovim	PRO	ovaj
tripovima	N:m	trip
.	SENT	.
Niti	CONJ	niti
su	N:m	su
mi	PRO	ja
ti	PRO	taj
tripovi	N:m	trip
naročito	ADV	naročito
bitni	A:aem	bitan
,	PUNCT	,
niti	CONJ	niti
su	N:m	su
mi	PRO	ja
te	PRO	taj
egzekucije	N:f	egzekucija
tu	ADV	tu
donele	V:f	doneti
neki	PRO	neki
'	N:m	'
tako	ADV	tako
ti	PRO	taj
i	CONJ	i
treba	N:f	treba
skote	N:m	skot
'	A:aem	'
momenat	N:m	moment
.	SENT	.
Ko	PRO	ko
voli	N:m	Voli
brutalnosti	N:f	brutalnost
,	PUNCT	,
kasapljnenja	N:n	kasapljnenja
,	PUNCT	,
gadosti	N:f	gadost
,	PUNCT	,
može	A:aem	može
ovde	ADV	ovde
naći	A:aem	naći
ponešto	ADV	ponešto
.	SENT	.
U	PREP	u
suprotnom	A:aef	suprotan
ne	PAR	ne
vidim	A:aem	vidim
razlog	N:m	razlog
da	CONJ	da
se	PAR	se
ovome	PRO	ovaj
posveti	N:f	posveta
vreme	N:n	vreme
.	SENT	.
Krije	N:m	Krije
se	PAR	se
tu	ADV	tu
kao	CONJ	kao
neki	PRO	neki
bolesni	A:aem	bolestan
obrt	N:m	obrt
što	CONJ	što
je	PRO	ona
ok	A:aem	ok
boleštine	N:f	boleština
radi	PREP	radi
ali	CONJ	ali
cela	A:aef	ceo
priča	N:f	priča
jednostavno	ADV	jednostavno
ne	PAR	ne
drži	N:m	drži
vodu	N:f	voda
.	SENT	.
Opet	ADV	opet
,	PUNCT	,
ko	PRO	ko
voli	N:m	Voli
bolesne	A:aem	bolestan
priče	N:f	priča
i	CONJ	i
one	PRO	onaj
gadosti	N:f	gadost
svakako	ADV	svakako
će	A:aef	će
biti	N:f	bit
zadovoljan	A:aem	zadovoljan
ovim	PRO	ovaj
.	SENT	.
Recimo	N:f	Recimo
neko	PRO	neki
mi	PRO	ja
je	PRO	ona
peporučio	V:m	peporučio
onaj	PRO	onaj
Train	N:m	Train
koji	PRO	koji
sam	PRO	sam
komentarisao	V:m	komentarisati
.	PUNCT	.
Ili	CONJ	ili
recimo	A:aen	recimo
drugi	A:aem	drugi
deo	N:m	deo
Hostela	N:f	Hostela
.	PUNCT	.
E	CONJ	e
ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
za	PREP	za
poklonike	N:m	poklonik
tog	PRO	taj
totalnog	A:aen	totalan
splačinavljenja	N:n	splačinavljenja
bez	PREP	bez
ikakvog	PRO	ikakav
smislenog	A:aen	smislen
sadržaja	N:m	sadržaj
.	SENT	.
Ovde	ADV	ovde
ima	A:aen	ima
nekog	PRO	neki
nagoveštaja	N:m	nagoveštaj
smislenosti	N:f	smislenost
ali	CONJ	ali
nije	N:f	nije
mi	PRO	ja
se	PAR	se
dovoljno	ADV	dovoljno
dojmilo	V:n	dojmiti
među	PREP	među
silnim	A:aef	silan
glupostima	N:f	glupost
.	PUNCT	.
I	CONJ	i
dalje	ADV	dalje
mi	PRO	ja
se	PAR	se
gleda	N:m	gleda
neki	PRO	neki
hororčić	N:m	hororčić
ali	CONJ	ali
sad	ADV	sad
ću	A:aem	ću
žestoko	ADV	žestoko
da	CONJ	da
pripazim	N:m	pripazim
šta	PRO	šta
biram	N:m	biram
.	SENT	.
