Teško	A:aem	Teško
je	PRO	ona
snimiti	V:m	snimiti
nešto	ADV	nešto
zanimljivo	ADV	zanimljivo
o	PREP	o
dosadnim	A:aem	dosadan
ljudima	N:m	ljudi
Prvo	A:aen	prvi
jedan	NUM	jedan
heads	N:m	heads
up	A:aem	up
za	PREP	za
moje	PRO	moj
drage	A:aef	drag
Dašiće	N:m	Dašić
:	SENT	:
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
imate	A:aem	imate
full	N:m	full
-	PUNCT	-
frontal	N:m	frontal
bush	A:aen	bush
-	PUNCT	-
crazy	A:aem	crazy
view	A:aem	view
Michelle	N:m	Michelle
Williams	N:m	Williams
i	CONJ	i
Sarahe	N:m	Sarahe
Silverman	N:m	Silverman
.	SENT	.
Znajući	A:aem	Znajući
kolike	PRO	kolik
ste	A:aem	ste
vi	PRO	vi
estete	N:m	esteta
kad	CONJ	kad
su	N:m	su
neke	PRO	neki
stvari	N:f	stvar
u	PREP	u
pitanju	N:n	pitanje
preporučavam	N:m	preporučavam
vašoj	PRO	vaš
pažnji	N:f	pažnja
.	SENT	.
Heads	N:m	Heads
up	A:aem	up
svima	PRO	sav
ostalima	A:aen	ostalima
:	PUNCT	:
(	SENT	(
i	CONJ	i
)	PUNCT	)
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
Seth	A:aem	Seth
Rogen	A:aem	Rogen
pokušava	N:f	pokušava
da	CONJ	da
ostvari	N:m	ostvari
'	A:aem	'
ozbiljnu	A:aef	ozbiljan
ulogu	N:f	uloga
'	N:m	'
.	SENT	.
Sarah	N:m	Sarah
Polley	A:aem	Polley
nastupa	N:m	nastup
patriotski	A:aem	patriotski
.	SENT	.
Radnja	N:f	radnja
filma	N:m	film
se	PAR	se
dešava	V:m	dešava
u	PREP	u
Torontu	N:m	Toronto
,	PUNCT	,
muški	A:aem	muški
deo	N:m	deo
posade	N:f	posada
je	PRO	ona
poreklom	N:n	poreklo
iz	PREP	iz
Kanade	N:f	Kanada
,	PUNCT	,
muzika	N:f	muzika
je	PRO	ona
kremdelakrem	N:m	kremdelakrem
scene	N:f	scena
(	PUNCT	(
Cohen	N:m	Cohen
,	PUNCT	,
Feist	N:m	Feist
,	PUNCT	,
Jason	N:m	Jason
Collett	N:m	Collett
,	PUNCT	,
Micah	A:aem	Micah
P	A:aem	P
Hinson	N:m	Hinson
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
baš	PAR	baš
kao	ADV	kao
što	CONJ	što
smo	N:f	smo
to	PRO	taj
navikli	V:m	naviknuti
kada	CONJ	kada
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
'	A:aem	'
kanadsko	A:aen	kanadski
društvo	N:n	društvo
'	A:aem	'
njihovi	PRO	njihov
problemi	N:m	problem
deluju	A:aem	deluju
kao	CONJ	kao
nešto	ADV	nešto
sa	PREP	sa
čime	PRO	šta
mi	PRO	ja
tek	PAR	tek
treba	N:f	treba
da	CONJ	da
potpišemo	N:f	potpišemo
ugovor	N:m	ugovor
o	PREP	o
pridruživanju	N:n	pridruživanje
.	PUNCT	.
Michelle	N:f	Michelle
i	CONJ	i
Seth	A:aem	Seth
su	N:m	su
muž	N:m	muž
i	CONJ	i
žena	N:f	žena
.	SENT	.
Ona	PRO	ona
je	PRO	ona
dokona	A:aem	dokon
i	CONJ	i
zaboravio	V:m	zaboraviti
sam	PRO	sam
čime	PRO	šta
se	PAR	se
u	PREP	u
životu	N:m	život
bavi	N:f	bavi
,	PUNCT	,
a	CONJ	a
on	PRO	on
je	PRO	ona
pisac	N:m	pisac
kuvara	N:m	kuvar
za	PREP	za
jela	N:n	jelo
od	PREP	od
piletine	N:f	piletina
.	SENT	.
Na	PREP	na
jednom	NUM	jedan
putovanju	N:n	putovanje
ona	PRO	ona
upoznaje	N:m	upoznaje
Daniela	N:f	Daniela
,	PUNCT	,
za	PREP	za
koga	PRO	koji
se	PAR	se
ispostavlja	N:n	ispostavlja
da	CONJ	da
je	PRO	ona
njen	PRO	njen
novi	A:aem	nov
sused	N:m	sused
koji	PRO	koji
živi	A:aem	živ
u	PREP	u
kući	N:f	kuća
preko	PREP	preko
puta	N:m	put
.	SENT	.
Poznanstvo	N:n	poznanstvo
sa	PREP	sa
njim	PRO	on
otvara	N:m	otvara
put	N:m	put
preispitivanju	N:n	preispitivanje
sopstvenog	A:aem	sopstven
braka	N:m	brak
,	PUNCT	,
sreće	N:f	sreća
u	PREP	u
istom	A:aem	isti
,	PUNCT	,
objektivnijem	A:ben	objektivan
sagledavanjem	N:n	sagledavanje
osobe	N:f	osoba
sa	PREP	sa
kojom	PRO	koji
se	PAR	se
život	N:m	život
deli	N:f	deli
,	PUNCT	,
prvim	A:aem	prvi
koracima	N:m	korak
ka	PREP	ka
neverstvu	N:n	neverstvo
,	PUNCT	,
zatim	ADV	zatim
onim	PRO	onaj
sve	ADV	sve
sigurnijim	A:bem	siguran
,	PUNCT	,
a	CONJ	a
konačno	ADV	konačno
i	CONJ	i
potpunom	A:aen	potpun
prešaltovanju	N:n	prešaltovanju
na	PREP	na
novu	A:aen	nov
ljubav	N:f	ljubav
.	SENT	.
Ovo	PRO	ovaj
bi	N:f	bi
možda	PAR	možda
i	PAR	i
mogla	V:n	moći
da	CONJ	da
bude	A:aem	bude
zanimljiva	A:aef	zanimljiv
studija	N:f	studija
modernog	A:aem	moderan
,	PUNCT	,
kanadskog	A:aen	kanadski
doba	N:n	doba
i	CONJ	i
,	PUNCT	,
šire	A:bem	širok
gledano	A:aen	gledan
,	PUNCT	,
mladih	A:aen	mlad
ljudi	N:m	ljudi
zaroboljenih	A:aem	zaroboljenih
u	PREP	u
arhaične	A:aef	arhaičan
kandže	N:f	kandža
tradicionalnog	A:aen	tradicionalan
bračnog	A:aen	bračni
'	A:aem	'
nedešavanja	N:n	nedešavanja
'	N:m	'
,	PUNCT	,
ali	CONJ	ali
likovi	N:m	lik
,	PUNCT	,
i	CONJ	i
Michellin	A:aem	Michellin
i	CONJ	i
Sethov	A:aem	Sethov
,	PUNCT	,
su	N:m	su
nepojamno	A:aen	nepojaman
dosadni	A:aem	dosadan
.	SENT	.
On	PRO	on
za	PREP	za
razliku	N:f	razlika
od	PREP	od
nje	PRO	ona
ni	PAR	ni
nema	A:aem	nem
iluzija	N:f	iluzija
o	PREP	o
tome	PRO	taj
da	CONJ	da
život	N:m	život
treba	N:f	treba
da	CONJ	da
bude	A:aen	bude
posebno	ADV	posebno
zanimljiv	A:aem	zanimljiv
i	CONJ	i
prilično	ADV	prilično
je	PRO	ona
srećan	A:aem	srećan
u	PREP	u
svom	PRO	sav
skromnom	A:aen	skroman
kuhinjskom	A:aen	kuhinjski
sokačetu	N:n	sokače
.	SENT	.
Ona	PRO	ona
,	PUNCT	,
za	PREP	za
razliku	N:f	razlika
od	PREP	od
njega	PRO	on
,	PUNCT	,
izgleda	N:m	izgled
kao	CONJ	kao
studentkinja	N:f	studentkinja
nekog	PRO	neki
arty	A:aem	arty
koledža	N:m	koledž
koja	PRO	koji
u	PREP	u
sopstvenim	A:aef	sopstven
sitnim	A:aef	sitan
konfuzijama	N:f	konfuzija
(	PUNCT	(
desperate	N:m	desperate
moments	N:m	moments
of	N:m	of
desperate	N:m	desperate
housewives	N:m	housewives
)	PUNCT	)
nalazi	N:m	nalaz
tragove	N:m	trag
dubljeg	A:bem	dubok
bola	N:m	bol
i	CONJ	i
zavodljivije	A:bef	zavodljiv
depresije	N:f	depresija
,	PUNCT	,
osećajući	A:aem	osećajući
pri	PREP	pri
tome	PRO	taj
sve	ADV	sve
intenzivniju	A:bef	intenzivan
uskraćenost	N:f	uskraćenost
na	PREP	na
svim	PRO	sav
planovima	N:m	plan
.	SENT	.
Što	N:m	Što
nije	A:aem	nije
da	CONJ	da
nije	A:aem	nije
.	SENT	.
Svako	PRO	svaki
ima	A:aen	ima
pravo	N:n	pravo
da	CONJ	da
traži	N:n	traži
svoju	PRO	svoj
sreću	N:f	sreća
i	CONJ	i
ovaj	PRO	ovaj
Seth	A:aem	Seth
nije	N:m	nije
baš	PAR	baš
naročit	A:aem	naročit
čergar	N:m	čergar
najzanimljivijih	A:cef	zanimljiv
stvar	N:f	stvar
na	PREP	na
ovom	PRO	ovaj
svetu	N:m	svet
.	SENT	.
Ali	CONJ	ali
Michelle	N:m	Michelle
je	PRO	ona
jednostavno	ADV	jednostavno
jedna	NUM	jedan
sama	PRO	sam
sebi	PRO	sebe
dosadna	A:aem	dosadan
osoba	N:f	osoba
kojoj	PRO	koji
nema	A:aem	nem
pomoći	N:f	pomoć
.	PUNCT	.
I	CONJ	i
to	PRO	taj
zna	N:m	zna
i	CONJ	i
Sarah	N:m	Sarah
.	SENT	.
Zato	ADV	zato
film	N:m	film
ima	V:m	ima
jednu	NUM	jedan
zanimljivu	A:aef	zanimljiv
montažnu	A:aef	montažni
sekvencu	N:f	sekvenca
na	PREP	na
kraju	N:m	kraj
koja	PRO	koji
menja	N:n	menja
sve	ADV	sve
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
pre	PREP	pre
toga	PRO	taj
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
vam	PRO	vi
kažem	A:aef	kažem
da	CONJ	da
su	PREF	su
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
ljudi	N:m	ljudi
toliko	ADV	toliko
dosadni	A:aem	dosadan
da	CONJ	da
je	PRO	ona
i	CONJ	i
Sarah	N:m	Sarah
Silverman	N:m	Silverman
koja	PRO	koji
igra	N:f	igra
majku	N:f	majka
alkoholičarku	N:f	alkoholičarka
nepodnošljiva	A:aef	nepodnošljiv
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
dok	CONJ	dok
vi	PRO	vi
,	PUNCT	,
kao	CONJ	kao
moderni	A:aem	moderan
bitnici	N:m	bitnik
modernog	A:aem	moderan
sveta	N:m	svet
,	PUNCT	,
gušite	N:f	gušite
srca	N:n	srce
u	PREP	u
strahu	N:m	strah
da	CONJ	da
i	CONJ	i
vas	PRO	vi
sutra	ADV	sutra
očekuje	A:aem	očekuje
raspad	N:m	raspad
vaše	PRO	vaš
zajednice	N:f	zajednica
,	PUNCT	,
jer	CONJ	jer
svom	PRO	sav
partneru	N:m	partner
niste	N:m	niste
pružili	V:m	pružiti
sve	PRO	sav
što	PRO	što
ste	N:m	ste
mogli	V:m	moći
u	PREP	u
ovim	PRO	ovaj
kompetitivnim	A:aen	kompetitivan
vremenima	N:n	vreme
,	PUNCT	,
Sarah	N:m	Sarah
Polley	N:m	Polley
lepo	ADV	lepo
prekine	A:aem	prekine
svoj	PRO	sav
film	N:m	film
kad	CONJ	kad
se	PAR	se
veza	N:f	veza
završi	A:aem	završi
i	CONJ	i
u	PREP	u
nekoj	PRO	neki
vrsti	N:f	vrsta
epiloga	N:m	epilog
pokaže	V:n	pokaže
nam	PRO	mi
da	CONJ	da
neke	PRO	neki
naročite	A:aef	naročit
sreće	N:f	sreća
nema	A:aem	nem
ni	CONJ	ni
posle	ADV	posle
,	PUNCT	,
nakon	PREP	nakon
što	PRO	što
'	N:m	'
donesete	A:aef	donesete
teške	A:aem	težak
odluke	N:f	odluka
'	N:m	'
.	SENT	.
U	PREP	u
ostalom	A:aem	ostalom
,	PUNCT	,
u	PREP	u
njenom	PRO	njen
prethodnom	A:aef	prethodan
filmu	N:m	film
par	N:m	par
se	PAR	se
nakon	PREP	nakon
četrdesetčetiri	N:m	četrdesetčetiri
srećne	A:aef	srećan
godine	N:f	godina
suočio	V:m	suočiti
sa	PREP	sa
njenim	PRO	njen
Alchajmerom	N:m	Alchajmerom
sa	PREP	sa
poprilično	ADV	poprilično
fatalnim	A:aef	fatalan
posledicama	N:f	posledica
.	SENT	.
Sarah	N:m	Sarah
na	PREP	na
kraju	N:m	kraj
filma	N:m	film
,	PUNCT	,
a	CONJ	a
neprijatno	ADV	neprijatno
je	PRO	ona
koliko	ADV	koliko
je	PRO	ona
sve	PRO	sav
'	N:m	'
nacrtano	A:aen	nacrtan
'	N:m	'
,	PUNCT	,
bukvalno	ADV	bukvalno
neutrališe	A:aem	neutrališe
sve	ADV	sve
prethodno	ADV	prethodno
prikazano	V:n	prikazati
i	CONJ	i
pokazuje	N:m	pokazuje
nam	PRO	mi
da	CONJ	da
nakon	PREP	nakon
što	PRO	što
proživimo	N:f	proživimo
sve	PRO	sav
svoje	PRO	svoj
tripove	N:m	trip
opet	ADV	opet
na	PREP	na
kraju	N:m	kraj
završavamo	N:f	završavamo
'	N:m	'
ispred	PREP	ispred
TV	N:m	TV
-	PUNCT	-
a	CONJ	a
'	N:m	'
.	PUNCT	.
A	CONJ	a
tada	ADV	tada
će	V:m	će
nam	PRO	mi
ono	PRO	onaj
što	PRO	što
smo	N:f	smo
juče	ADV	juče
pljunuli	V:m	pljunuti
delovati	N:m	delovati
kao	CONJ	kao
ne	PAR	ne
toliko	ADV	toliko
bljutavo	A:aen	bljutav
.	SENT	.
Čak	N:m	Čak
naprotiv	PAR	naprotiv
.	PUNCT	.
Ali	CONJ	ali
,	PUNCT	,
tada	ADV	tada
ćemo	N:f	ćemo
već	CONJ	već
biti	N:f	bit
zarobljeni	V:m	zarobiti
u	PREP	u
novom	A:aem	nov
razočaranju	N:n	razočaranje
.	PUNCT	.
Osim	PREP	osim
ako	CONJ	ako
ne	PAR	ne
otvorite	N:m	otvorite
jedna	NUM	jedan
mala	A:aen	mali
,	PUNCT	,
mizogena	A:aen	mizogena
vrata	N:n	vrata
i	CONJ	i
pomislite	N:m	pomislite
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
film	N:m	film
o	PREP	o
Michelle	N:f	Michelle
,	PUNCT	,
jednoj	NUM	jedan
nenaročito	A:aen	nenaročito
zanimljivoj	A:aef	zanimljiv
ženi	N:f	žena
koja	PRO	koji
nije	N:f	nije
znala	V:f	znati
šta	PRO	šta
hoće	N:f	hoće
i	CONJ	i
mislila	V:f	misliti
je	PRO	ona
da	CONJ	da
je	PRO	ona
život	N:m	život
luda	A:aef	lud
vožnja	N:f	vožnja
na	PREP	na
ringišpilu	N:m	ringišpil
.	PUNCT	.
A	CONJ	a
sve	ADV	sve
ostalo	V:n	ostati
o	PREP	o
njenoj	PRO	njen
sudbini	N:f	sudbina
metaforično	A:aen	metaforičan
će	N:m	će
vam	PRO	vi
preneti	V:m	preneti
više	ADV	više
puta	ADV	puta
emitovana	V:f	emitovati
pesma	N:f	pesma
Video	A:aem	Video
Killed	N:m	Killed
The	INT	The
Radio	A:aem	Radio
Star	N:m	Star
.	SENT	.
Sarah	N:m	Sarah
Polley	N:m	Polley
nije	A:aen	nije
nezanimljiva	A:aef	nezanimljiv
.	PUNCT	.
Ali	CONJ	ali
ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
čijih	PRO	čiji
'	A:aem	'
pet	NUM	pet
minuta	N:m	minut
'	A:aem	'
dolaze	N:m	dolaz
prekasno	ADV	prekasno
i	CONJ	i
traju	N:m	traju
manje	ADV	manje
od	PREP	od
toga	PRO	taj
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
ukus	N:m	ukus
okrutne	A:aef	okrutan
beznadežnosti	N:f	beznadežnost
otvara	N:m	otvara
apetit	N:m	apetit
više	ADV	više
od	PREP	od
piletine	N:f	piletina
koja	PRO	koji
se	PAR	se
sprema	N:f	sprema
tokom	PREP	tokom
filma	N:m	film
.	SENT	.
