Praunuci	N:f	praunuka
Glembajevih	A:aem	Glembajev
Ne	A:aem	Ne
znam	N:m	znam
kada	CONJ	kada
će	V:m	će
se	PAR	se
ovaj	PRO	ovaj
tekst	N:m	tekst
pojaviti	V:m	pojaviti
pred	PREP	pred
vama	PRO	vi
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
da	CONJ	da
li	PAR	li
će	V:n	će
to	PRO	taj
biti	N:f	bit
moje	PRO	moj
prvo	A:aen	prvi
pisanje	N:n	pisanje
o	PREP	o
hrvatskom	A:aem	hrvatski
filmu	N:m	film
u	PREP	u
okviru	N:m	okvir
'	A:aem	'
Meseca	N:m	Mesec
njihovih	PRO	njihov
i	CONJ	i
naših	PRO	naš
filmova	N:m	film
'	N:m	'
,	PUNCT	,
ali	CONJ	ali
ovo	PRO	ovaj
ne	PAR	ne
obećava	A:aen	obećava
.	SENT	.
Projekcije	N:f	projekcija
mi	PRO	ja
je	PRO	ona
stigao	V:m	stignuti
u	PREP	u
paketu	N:m	paket
sa	PREP	sa
još	ADV	još
nekim	PRO	neki
filmovima	N:m	film
koji	PRO	koji
su	N:m	su
imali	V:m	imati
više	ADV	više
preporuka	N:f	preporuka
,	PUNCT	,
ali	CONJ	ali
ga	PRO	on
je	PRO	ona
njegovo	PRO	njegov
ekonomično	A:aen	ekonomičan
trajanje	N:n	trajanje
(	PUNCT	(
tek	CONJ	tek
70	NUM	@card@
minuta	N:m	minut
)	PUNCT	)
stavilo	V:n	staviti
među	PREP	među
prve	A:aem	prvi
filmove	N:m	film
za	PREP	za
gledanje	N:n	gledanje
.	SENT	.
U	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
obična	A:aef	običan
televizijska	A:aef	televizijski
/	N:m	/
televizična	A:aef	televizičan
jednočinka	N:f	jednočinka
smeštena	V:f	smestiti
u	PREP	u
sobu	N:f	soba
za	PREP	za
probe	N:f	proba
neke	PRO	neki
muzičke	A:aef	muzički
škole	N:f	škola
ili	CONJ	ili
slične	A:aef	sličan
kulturne	A:aem	kulturan
'	A:aem	'
multipraktik	N:m	multipraktik
'	A:aem	'
ustanove	N:f	ustanova
.	SENT	.
U	PREP	u
toj	PRO	taj
prostoriji	N:f	prostorija
nalaze	N:m	nalaz
se	PAR	se
polaznici	N:m	polaznik
jednog	NUM	jedan
kursa	N:m	kurs
koji	PRO	koji
drži	N:m	drži
izvikani	V:m	izvikati
profesor	N:m	profesor
Blau	N:m	Blau
.	SENT	.
Svi	PRO	sav
oni	PRO	onaj
su	N:m	su
na	PREP	na
ovaj	PRO	ovaj
ili	CONJ	ili
onaj	PRO	onaj
način	N:m	način
povezani	V:m	povezati
sa	PREP	sa
nekom	PRO	neki
sferom	N:f	sfera
medicine	N:f	medicina
(	PUNCT	(
privatne	A:aem	privatan
ili	CONJ	ili
državne	A:aef	državni
prakse	N:f	praksa
,	PUNCT	,
alternativne	A:aem	alternativan
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
ima	A:aem	ima
i	CONJ	i
jedna	NUM	jedan
glumica	N:f	glumica
(	PUNCT	(
?	SENT	?
!	PUNCT	!
)	SENT	)
.	PUNCT	.
Ovo	PRO	ovaj
je	PRO	ona
druga	A:aef	drugi
godina	N:f	godina
kursa	N:m	kurs
,	PUNCT	,
on	PRO	on
ima	N:f	ima
samo	PAR	samo
10	NUM	@card@
polaznika	N:m	polaznik
(	PUNCT	(
Srbin	N:m	Srbin
Stevo	N:m	Steva
nije	V:m	nije
došao	V:m	doći
,	PUNCT	,
ali	CONJ	ali
o	PREP	o
njemu	PRO	on
se	PAR	se
priča	N:f	priča
)	PUNCT	)
i	CONJ	i
meni	PRO	ja
nije	N:m	nije
pošlo	V:n	poći
za	PREP	za
rukom	N:f	ruka
da	CONJ	da
vidim	A:aem	vidim
o	PREP	o
kakvoj	PRO	kakav
vrsti	N:f	vrsta
terapije	N:f	terapija
/	N:m	/
samo	PAR	samo
-	PUNCT	-
terapije	N:f	terapija
/	A:aem	/
sticanja	N:n	sticanje
naučničkog	A:aem	naučnički
znanja	N:n	znanje
se	PAR	se
ovde	ADV	ovde
radi	PREP	radi
.	SENT	.
Zrinko	N:f	Zrinko
Ogresta	N:m	Ogresta
(	PUNCT	(
čijih	PRO	čiji
desetak	ADV	desetak
TV	A:aem	TV
i	CONJ	i
bioskopskih	A:aef	bioskopski
filmova	N:m	film
su	N:m	su
za	PREP	za
mene	PRO	ja
misterij	N:m	misterij
)	PUNCT	)
upozanje	N:n	upozanje
nas	PRO	mi
s	PREP	s
junacima	N:m	junak
kako	CONJ	kako
oni	PRO	onaj
pristižu	N:f	pristižu
u	PREP	u
prostoriju	N:f	prostorija
.	SENT	.
Interakcije	N:f	interakcija
među	PREP	među
njima	PRO	ona
počinju	N:f	počinju
odmah	ADV	odmah
definišući	A:aem	definišući
'	A:aem	'
odnose	N:m	odnos
'	N:m	'
.	SENT	.
U	PREP	u
mizanscenu	N:m	mizanscen
i	CONJ	i
govoru	N:m	govor
junaka	N:m	junak
sve	PRO	sav
izgleda	N:m	izgled
kao	CONJ	kao
snimka	N:f	snimka
pozorišne	A:aef	pozorišni
predstave	N:f	predstava
(	PUNCT	(
film	N:m	film
je	PRO	ona
inače	PAR	inače
i	CONJ	i
rađen	V:m	raditi
prema	PREP	prema
komadu	N:m	komad
Lade	N:f	Lada
Kastelan	N:m	kastelan
)	PUNCT	)
.	SENT	.
Ogresta	N:m	Ogresta
je	PRO	ona
,	PUNCT	,
verovatno	ADV	verovatno
u	PREP	u
želji	N:f	želja
da	CONJ	da
oneobiči	A:aen	oneobiči
krutu	A:aef	krut
i	CONJ	i
monotonu	A:aef	monoton
scenografsku	A:aef	scenografski
konstrukciju	N:f	konstrukcija
,	PUNCT	,
dao	V:m	dati
sebi	PRO	sebe
za	PREP	za
pravo	N:n	pravo
da	CONJ	da
svako	PRO	svaki
malo	ADV	malo
pozicionira	N:m	pozicionira
kameru	N:f	kamera
u	PREP	u
'	A:aem	'
subjektivac	N:m	subjektivac
'	N:m	'
jednog	NUM	jedan
od	PREP	od
junaka	N:m	junak
,	PUNCT	,
i	CONJ	i
da	CONJ	da
potom	ADV	potom
mlatara	N:m	mlatara
njome	PRO	ona
po	PREP	po
rekviziti	N:f	rekvizita
(	PUNCT	(
mahom	ADV	mahom
stolice	N:f	stolica
)	PUNCT	)
koje	PRO	koji
sa	PREP	sa
tri	NUM	tri
strane	N:f	strana
okružuju	N:f	okružuju
junake	N:m	junak
.	PUNCT	.
I	CONJ	i
dok	CONJ	dok
se	PAR	se
ovom	PRO	ovaj
rediteljskom	A:aem	rediteljski
postupku	N:m	postupak
opravdanje	N:n	opravdanje
može	A:aen	može
potražiti	A:aem	potražiti
u	PREP	u
'	N:m	'
ludilu	N:n	ludilo
'	N:m	'
(	PUNCT	(
ili	CONJ	ili
'	A:aem	'
besnilu	N:n	besnilo
'	N:m	'
)	PUNCT	)
junaka	N:m	junak
,	PUNCT	,
mahom	ADV	mahom
pod	PREP	pod
dejstvom	N:n	dejstvo
same	PRO	sam
terapije	N:f	terapija
,	PUNCT	,
teško	ADV	teško
mu	PRO	on
se	PAR	se
može	A:aem	može
oprostiti	N:m	oprostiti
repetativnost	N:f	repetativnost
i	CONJ	i
proizvoljnost	N:f	proizvoljnost
upotrebe	N:f	upotreba
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
ako	CONJ	ako
sve	PRO	sav
te	PRO	taj
stvari	N:f	stvar
ostavimo	A:aen	ostavimo
po	PREP	po
strani	N:f	strana
(	PUNCT	(
pobogu	PAR	pobogu
,	PUNCT	,
ljudi	N:m	ljudi
su	PREF	su
snimali	V:m	snimati
zabavnije	A:bem	zabavan
filmove	N:m	film
čija	PRO	čiji
se	PAR	se
sva	PRO	sav
radnja	N:f	radnja
odvija	A:bef	odvija
u	PREP	u
jednom	NUM	jedan
mrtvačkom	A:aen	mrtvački
kovčegu	N:m	kovčeg
!	SENT	!
)	PUNCT	)
ni	PAR	ni
ona	PRO	ona
drama	N:f	drama
koja	PRO	koji
treba	N:f	treba
da	CONJ	da
nam	PRO	mi
drži	N:m	drži
pažnju	N:f	pažnja
'	A:aem	'
nije	N:f	nije
neka	PRO	neki
'	N:m	'
.	SENT	.
Kastelan	N:m	kastelan
kombinuje	N:m	kombinuje
dobroznanu	A:aef	dobroznanu
hrvatsku	A:aef	hrvatski
frustriranost	N:f	frustriranost
sopstvenom	A:aem	sopstven
malograđanštinom	N:f	malograđanština
sa	PREP	sa
elementima	N:m	element
krize	N:f	kriza
srednjih	A:aem	srednji
godina	N:f	godina
i	CONJ	i
kroz	PREP	kroz
priče	N:f	priča
o	PREP	o
ljudima	N:m	ljudi
koji	PRO	koji
bi	N:f	bi
trebalo	V:n	trebati
da	CONJ	da
budu	A:aem	budu
elita	N:f	elita
jednog	NUM	jedan
društva	N:n	društvo
(	PUNCT	(
'	A:aem	'
doktori	N:m	doktor
'	N:m	'
!	SENT	!
)	PUNCT	)
ona	PRO	ona
pokazuje	N:m	pokazuje
da	CONJ	da
se	PAR	se
radi	PREP	radi
o	PREP	o
sitnim	A:aef	sitan
dušama	N:f	duša
koje	PRO	koji
jedino	ADV	jedino
brine	N:m	brine
sadržaj	N:m	sadržaj
sopstvene	A:aef	sopstven
kese	N:f	kesa
ili	CONJ	ili
tuđeg	A:aem	tuđ
žviota	N:m	žviota
.	PUNCT	.
Nit	CONJ	nit
šta	PRO	šta
novo	A:aen	nov
,	PUNCT	,
nit	CONJ	nit
na	PREP	na
iole	ADV	iole
drugačiji	A:aem	drugačiji
način	N:m	način
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
to	PRO	taj
još	ADV	još
pokojni	A:aem	pokojni
Miroslav	N:m	Miroslav
pisao	V:m	pisati
.	SENT	.
Intrigiralo	V:n	intrigirati
bi	A:aem	bi
me	PRO	ja
da	CONJ	da
znam	N:m	znam
u	PREP	u
kojoj	PRO	koji
meri	N:f	mera
su	N:m	su
hrvatske	A:aef	hrvatski
elite	N:f	elita
otvorene	V:f	otvoriti
za	PREP	za
ovu	PRO	ovaj
vrstu	N:f	vrsta
samo	CONJ	samo
kritike	N:f	kritika
.	SENT	.
(	PUNCT	(
Duhovito	ADV	duhovito
)	PUNCT	)
'	A:aem	'
odsutni	A:aem	odsutan
'	A:aem	'
Srbi	N:m	Srba
na	PREP	na
stranu	N:f	strana
.	SENT	.
