Ovi	PRO	ovaj
Australijanci	N:m	Australijanac
ne	PAR	ne
odustaju	N:m	odustaju
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
još	ADV	još
jedna	NUM	jedan
njihova	PRO	njihov
'	N:m	'
istinita	A:aef	istinit
priča	N:f	priča
'	N:m	'
.	SENT	.
Posle	PREP	posle
polovičnog	A:aem	polovičan
Wolf	N:m	Wolf
Creek	N:m	Creek
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
sasvim	ADV	sasvim
zadovoljavajućeg	A:aem	zadovoljavajući
ali	CONJ	ali
ne	PAR	ne
toliko	ADV	toliko
kvalitetnog	A:aem	kvalitetan
The	INT	The
Tunnel	N:m	Tunnel
i	CONJ	i
odličnog	A:aem	odličan
Black	N:m	Black
Water	N:m	Water
,	PUNCT	,
dolazi	N:m	dolaz
nam	PRO	mi
do	PREP	do
sada	ADV	sada
najlošija	A:cem	loš
među	PREP	među
istinitim	A:aen	istinit
pričama	N:f	priča
,	PUNCT	,
The	INT	The
Reef	N:m	Reef
.	SENT	.
Black	A:aem	Black
Water	N:m	Water
je	PRO	ona
sjajno	ADV	sjajno
pokazao	V:m	pokazati
kako	CONJ	kako
se	PAR	se
pravi	A:aem	prav
napeta	A:aef	napet
atmosfera	N:f	atmosfera
.	SENT	.
The	INT	The
Reef	N:m	Reef
je	PRO	ona
mogao	V:m	moći
donekle	ADV	donekle
da	CONJ	da
dosegne	N:m	dosegne
taj	PRO	taj
neki	PRO	neki
kvalitet	N:m	kvalitet
u	PREP	u
tom	PRO	taj
segmentu	N:m	segment
,	PUNCT	,
ali	CONJ	ali
postoji	N:m	postoji
gadan	A:aem	gadan
problem	N:m	problem
.	SENT	.
Kada	CONJ	kada
pravite	A:aem	pravite
napetu	A:aef	napet
atmosferu	N:f	atmosfera
,	PUNCT	,
ne	PAR	ne
davite	V:f	davite
tu	PRO	taj
scenu	N:f	scena
10	NUM	@card@
minuta	N:m	minut
.	SENT	.
Kada	CONJ	kada
napetost	N:f	napetost
dostigne	A:aem	dostigne
vrhunac	N:m	vrhunac
,	PUNCT	,
ili	CONJ	ili
ohladite	A:aem	ohladite
ili	CONJ	ili
šokirate	A:aem	šokirate
gledaoca	N:m	gledalac
.	SENT	.
Šta	N:m	Šta
se	PAR	se
ovde	ADV	ovde
dešava	V:m	dešava
,	PUNCT	,
scena	N:f	scena
postaje	N:f	postaja
napeta	V:f	napeti
,	PUNCT	,
scena	N:f	scena
je	PRO	ona
i	PAR	i
dalje	ADV	dalje
napeta	V:f	napeti
,	PUNCT	,
scena	N:f	scena
traje	N:m	traje
,	PUNCT	,
i	CONJ	i
traje	N:m	traje
,	PUNCT	,
i	CONJ	i
traje	N:m	traje
,	PUNCT	,
i	CONJ	i
traje	N:m	traje
i	CONJ	i
scena	N:f	scena
postane	N:m	postane
toliko	ADV	toliko
dosadna	A:aem	dosadan
da	CONJ	da
vas	PRO	vi
baš	PAR	baš
briga	N:f	briga
šta	PRO	šta
će	N:m	će
se	PAR	se
dogoditi	N:f	dogoditi
.	SENT	.
Što	N:m	Što
je	PRO	ona
najgore	ADV	najgore
,	PUNCT	,
većina	N:f	većina
takvih	PRO	takav
scena	N:f	scena
se	PAR	se
ovde	ADV	ovde
završi	A:aem	završi
ćorkom	N:m	ćorak
.	SENT	.
Sledeća	A:aef	Sledeća
stvar	N:f	stvar
koja	PRO	koji
je	PRO	ona
veoma	ADV	veoma
neophodna	A:aen	neophodan
je	PRO	ona
ljubavna	A:aef	ljubavan
priča	N:f	priča
.	SENT	.
Prva	A:aen	prvi
stvar	N:f	stvar
koja	PRO	koji
me	PRO	ja
obično	ADV	obično
zanima	A:aem	zanima
u	PREP	u
filmovima	N:m	film
sa	PREP	sa
napadom	N:m	napad
životinja	N:f	životinja
je	PRO	ona
da	CONJ	da
li	PAR	li
će	A:aem	će
par	N:m	par
koji	PRO	koji
se	PAR	se
rastao	V:m	rasti
zbog	PREP	zbog
nekih	PRO	neki
tamo	ADV	tamo
nejasnih	A:aen	nejasan
problema	N:m	problem
ponovo	ADV	ponovo
biti	N:f	bit
zajedno	ADV	zajedno
.	SENT	.
Prosto	ADV	prosto
ne	PAR	ne
mogu	A:aen	mogu
da	CONJ	da
dočekam	A:aen	dočekam
onaj	PRO	onaj
momenat	N:m	moment
kada	CONJ	kada
će	N:m	će
u	PREP	u
vrhuncu	N:m	vrhunac
napetosti	N:f	napetost
i	CONJ	i
tragedije	N:f	tragedija
jedno	ADV	jedno
drugom	A:aef	drugi
reći	A:aem	reći
'	N:m	'
Volim	A:aem	Volim
te	PRO	taj
'	N:m	'
.	SENT	.
To	PRO	taj
kada	CONJ	kada
čujem	N:m	čujem
,	PUNCT	,
krećem	A:aem	krećem
sa	PREP	sa
bakljadom	N:f	bakljada
i	CONJ	i
padam	N:m	padam
u	PREP	u
sevdah	N:m	sevdah
jer	CONJ	jer
sam	PRO	sam
ubeđen	A:aem	ubeđen
da	CONJ	da
će	A:aem	će
ljubav	N:f	ljubav
ovo	PRO	ovaj
dvoje	NUM	dvoje
da	CONJ	da
pobedi	N:f	pobeda
sve	PRO	sav
nedaće	N:f	nedaća
.	SENT	.
(	PUNCT	(
'	A:aem	'
Mardž	N:f	Mardž
,	PUNCT	,
ako	CONJ	ako
nisi	N:m	nisi
shvatila	V:f	shvatiti
,	PUNCT	,
bio	V:m	biti
sam	A:aem	sam
sarkastičan	A:aem	sarkastičan
'	N:m	'
)	PUNCT	)
.	SENT	.
Kako	CONJ	kako
upoznate	V:f	upoznati
likove	N:m	lik
,	PUNCT	,
znaćete	N:m	znaćete
ko	CONJ	ko
će	N:m	će
kojim	PRO	koji
redom	ADV	redom
biti	N:f	bit
pojeden	V:m	pojesti
,	PUNCT	,
znaćete	N:m	znaćete
čak	PAR	čak
i	CONJ	i
kako	ADV	kako
će	V:m	će
ko	PRO	ko
biti	N:f	bit
pojeden	V:m	pojesti
,	PUNCT	,
ili	CONJ	ili
par	N:m	par
minuta	N:m	minut
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
se	PAR	se
to	PRO	taj
desi	N:m	desi
ili	CONJ	ili
par	N:m	par
minuta	N:m	minut
po	PREP	po
početku	N:m	početak
filma	N:m	film
.	PUNCT	.
I	CONJ	i
najiritantnija	A:cem	najiritantnija
stvar	N:f	stvar
,	PUNCT	,
kada	CONJ	kada
bi	V:m	bi
se	PAR	se
te	PRO	taj
scene	N:f	scena
isekle	V:f	iseći
iz	PREP	iz
filma	N:m	film
,	PUNCT	,
dobili	V:m	dobiti
bi	A:aem	bi
barem	PAR	barem
pola	ADV	pola
sata	N:m	sat
scena	N:f	scena
kako	CONJ	kako
lik	N:m	lik
stavlja	N:n	stavlja
naočari	N:f	naočari
i	CONJ	i
kreće	N:m	kreće
da	CONJ	da
izvidi	N:m	izvid
šta	PRO	šta
ima	N:f	ima
pod	PREP	pod
vodom	N:f	voda
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
ajkulu	N:f	ajkula
ćete	N:m	ćete
videti	N:f	videti
posle	PREP	posle
skoro	ADV	skoro
pedesetak	ADV	pedesetak
minuta	N:m	minut
a	CONJ	a
sve	PRO	sav
ukupno	ADV	ukupno
je	PRO	ona
nećete	N:m	nećete
videti	N:f	videti
ni	PAR	ni
2	NUM	@card@
,	PUNCT	,
3	NUM	@card@
minuta	N:m	minut
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
od	PREP	od
brutalnosti	N:f	brutalnost
samo	CONJ	samo
ćete	N:m	ćete
videti	A:aem	videti
krv	N:f	krv
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
Sami	A:aem	sam
procenite	N:m	procenite
da	CONJ	da
li	PAR	li
je	PRO	ona
to	PRO	taj
ok	N:m	ok
ili	CONJ	ili
ne	PAR	ne
.	PUNCT	.
Evo	PAR	evo
sada	ADV	sada
nekoliko	ADV	nekoliko
pozitivnih	A:aen	pozitivan
stvari	N:f	stvar
.	SENT	.
Način	N:m	Način
na	PREP	na
koji	PRO	koji
je	PRO	ona
film	N:m	film
sniman	V:m	snimati
je	PRO	ona
vrhunski	A:aem	vrhunski
.	SENT	.
Ljudi	N:m	ljudi
su	N:m	su
u	PREP	u
vodenoj	A:aef	voden
nedođiji	N:f	nedođija
i	CONJ	i
kamera	N:f	kamera
je	PRO	ona
neretko	ADV	neretko
u	PREP	u
nivou	N:m	nivo
vode	N:f	voda
.	SENT	.
Ta	PRO	taj
nepreglednost	N:f	nepreglednost
je	PRO	ona
zaista	PAR	zaista
mogla	V:n	moći
biti	N:f	bit
dobro	ADV	dobro
iskorišćena	V:n	iskoristiti
u	PREP	u
rukama	N:f	ruka
nekog	PRO	neki
ko	PRO	ko
bi	N:f	bi
znao	V:m	znati
da	CONJ	da
napravi	N:f	naprava
napetu	A:aef	napet
atmosferu	N:f	atmosfera
.	PUNCT	.
Ovako	ADV	ovako
imamo	N:m	imamo
samo	CONJ	samo
male	A:aef	mali
momente	N:m	moment
paranoje	N:f	paranoja
koji	PRO	koji
su	N:m	su
zaista	ADV	zaista
dobri	A:aem	dobar
.	SENT	.
Druga	A:aef	drugi
stvar	N:f	stvar
je	PRO	ona
izgled	N:m	izgled
ajkule	N:f	ajkula
.	SENT	.
Koliko	ADV	koliko
sam	PRO	sam
ja	PRO	ja
primetio	V:m	primetiti
,	PUNCT	,
ona	PRO	ona
nije	A:aem	nije
plod	N:m	plod
specijalnih	A:aef	specijalan
efekata	N:m	efekt
i	CONJ	i
grdosija	N:f	grdosija
zaista	ADV	zaista
izgleda	N:m	izgled
jezivo	ADV	jezivo
.	SENT	.
Dopadaju	N:m	Dopadaju
mi	PRO	ja
se	PAR	se
i	CONJ	i
scene	N:f	scena
u	PREP	u
kojima	PRO	koji
ona	PRO	ona
kruži	N:m	kruži
oko	PREP	oko
plena	N:m	plen
,	PUNCT	,
ali	CONJ	ali
su	N:m	su
te	PRO	taj
scene	N:f	scena
loše	ADV	loše
isečene	V:f	iseći
i	CONJ	i
slabo	ADV	slabo
odrađene	V:f	odraditi
.	SENT	.
Non	N:m	Non
stop	INT	stop
lik	N:m	lik
proverava	A:aem	proverava
gde	CONJ	gde
je	PRO	ona
ajkula	N:f	ajkula
,	PUNCT	,
ona	PRO	ona
ode	N:f	oda
,	PUNCT	,
taman	PAR	taman
on	PRO	on
kaže	N:f	kaža
'	N:m	'
otišla	V:m	otići
je	PRO	ona
'	N:m	'
,	PUNCT	,
ona	PRO	ona
se	PAR	se
pojavi	N:f	pojava
i	CONJ	i
sve	PRO	sav
u	PREP	u
krug	N:m	krug
.	SENT	.
Sve	PRO	sav
u	PREP	u
svemu	PRO	sav
,	PUNCT	,
ne	PAR	ne
mogu	A:aem	mogu
da	CONJ	da
kažem	A:aem	kažem
da	CONJ	da
sam	A:aem	sam
nezadovoljan	A:aem	nezadovoljan
ovim	PRO	ovaj
filmom	N:m	film
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
propuštena	V:m	propustiti
prilika	N:f	prilika
da	CONJ	da
se	PAR	se
napravi	N:f	naprava
nešto	ADV	nešto
znatno	ADV	znatno
bolje	ADV	bolje
.	SENT	.
Nije	A:aen	Nije
moralo	V:n	morati
biti	N:f	bit
u	PREP	u
rangu	N:m	rang
Black	A:aem	Black
Water	N:m	Water
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
moglo	V:n	moći
imati	N:f	imati
barem	PAR	barem
neki	PRO	neki
zadovoljavajući	A:aem	zadovoljavajući
nivo	N:m	nivo
.	SENT	.
