Ako	CONJ	ako
pogledamo	N:m	pogledamo
prva	A:aen	prvi
tri	NUM	tri
X	N:m	X
-	PUNCT	-
Men	N:m	Men
filma	N:m	film
koja	PRO	koji
su	N:m	su
snimljena	V:m	snimiti
,	PUNCT	,
jasno	ADV	jasno
je	PRO	ona
kao	ADV	kao
dan	N:m	dan
da	CONJ	da
je	PRO	ona
Logan	N:m	Logan
lik	N:m	lik
broj	N:m	broj
jedan	NUM	jedan
,	PUNCT	,
jasno	ADV	jasno
je	PRO	ona
da	CONJ	da
zbog	PREP	zbog
njega	PRO	on
gledamo	N:f	gledamo
filmove	N:m	film
i	CONJ	i
najbolje	ADV	najbolje
scene	N:f	scena
su	N:m	su
upravo	ADV	upravo
vezane	V:f	vezati
za	PREP	za
njega	PRO	on
.	SENT	.
Bez	PREP	bez
obzira	N:m	obzir
što	CONJ	što
su	N:m	su
Magneto	N:f	Magneto
,	PUNCT	,
Xavier	N:m	Xavier
i	CONJ	i
još	ADV	još
mnogi	A:aem	mnogi
možda	ADV	možda
moćniji	A:bem	moćan
od	PREP	od
logana	A:aem	logana
,	PUNCT	,
na	PREP	na
njemu	PRO	on
je	PRO	ona
pažnja	N:f	pažnja
.	SENT	.
X	N:m	X
-	PUNCT	-
Men	N:m	Men
First	N:m	First
Class	N:m	Class
ispravlja	N:n	ispravlja
nepravdu	N:f	nepravda
nanesenu	A:aem	nanesen
ostalim	A:aem	ostalim
likovima	N:m	lik
i	CONJ	i
to	PRO	taj
je	PRO	ona
najbolji	A:cem	dobar
X	N:m	X
-	PUNCT	-
Men	N:m	Men
film	N:m	film
do	PREP	do
sada	ADV	sada
.	PUNCT	.
Iako	CONJ	iako
su	N:m	su
svi	PRO	sav
prethodni	A:aem	prethodan
filmovi	N:m	film
bili	V:m	biti
zapravo	ADV	zapravo
građeni	V:m	graditi
oko	PREP	oko
Logana	N:m	Logan
,	PUNCT	,
neko	PRO	neki
je	PRO	ona
želeo	V:m	želeti
da	CONJ	da
iskoristi	N:m	iskoristi
popularnost	N:f	popularnost
tog	PRO	taj
karaktera	N:m	karakter
i	CONJ	i
harizmatičnost	N:f	harizmatičnost
Džekmena	N:m	Džekmena
pa	CONJ	pa
nam	PRO	mi
je	PRO	ona
ponudio	V:m	ponuditi
zaseban	A:aem	zaseban
Vulverin	A:aem	Vulverin
film	N:m	film
,	PUNCT	,
snimljen	V:m	snimiti
2009	NUM	@card@
.	SENT	.
Bilo	V:n	biti
je	PRO	ona
to	PRO	taj
zanimljivo	ADV	zanimljivo
ali	CONJ	ali
ne	PAR	ne
naročito	ADV	naročito
kvalitetno	ADV	kvalitetno
.	SENT	.
Film	N:m	film
je	PRO	ona
na	PREP	na
svojim	PRO	svoj
leđima	N:n	leđa
nosio	V:m	nositi
Džekmen	N:m	Džekmen
,	PUNCT	,
ubačeno	V:n	ubaciti
je	PRO	ona
dosta	ADV	dosta
akcije	N:f	akcija
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
U	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
,	PUNCT	,
nismo	N:f	nismo
dobili	V:m	dobiti
ništa	PRO	ništa
ni	PAR	ni
blizu	ADV	blizu
dobro	ADV	dobro
kao	ADV	kao
što	CONJ	što
Logan	N:m	Logan
/	A:aem	/
Džekmen	N:m	Džekmen
zaslužuje	N:m	zaslužuje
.	PUNCT	.
E	CONJ	e
onda	ADV	onda
je	PRO	ona
došao	V:m	doći
ovaj	PRO	ovaj
film	N:m	film
.	PUNCT	.
Ako	CONJ	ako
slobodno	ADV	slobodno
možemo	A:aen	možemo
da	CONJ	da
kažemo	A:aen	kažemo
da	CONJ	da
pored	PREP	pored
Vulverina	N:f	Vulverina
,	PUNCT	,
drugi	A:aem	drugi
likovi	N:m	lik
(	PUNCT	(
osim	PREP	osim
donekle	ADV	donekle
Džin	N:f	Džin
)	PUNCT	)
u	PREP	u
prva	A:aen	prvi
tri	NUM	tri
filma	N:m	film
nisu	N:m	nisu
bili	V:m	biti
naročito	ADV	naročito
istaknuti	V:m	istaknuti
,	PUNCT	,
to	PRO	taj
sada	ADV	sada
i	CONJ	i
ne	PAR	ne
deluje	N:m	deluje
loše	ADV	loše
kada	CONJ	kada
sam	PRO	sam
pogledao	V:m	pogledati
ovo	PRO	ovaj
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
zapravo	ADV	zapravo
drama	N:f	drama
o	PREP	o
japanskoj	A:aef	japanski
porodici	N:f	porodica
i	CONJ	i
borba	N:f	borba
za	PREP	za
prevlast	N:f	prevlast
za	PREP	za
multimilionersko	A:aen	multimilionersko
nasleđe	N:n	nasleđe
.	SENT	.
Ček	A:aem	Ček
ček	N:m	ček
ček	N:m	ček
,	PUNCT	,
a	CONJ	a
kakve	PRO	kakav
veze	N:f	veza
to	PRO	taj
ima	N:m	ima
sa	PREP	sa
Vulverinom	N:f	Vulverinom
.	PUNCT	.
Skoro	ADV	skoro
pa	CONJ	pa
nikakve	PRO	nikakav
.	SENT	.
Vulverin	A:aem	Vulverin
je	PRO	ona
ovde	ADV	ovde
kolateralna	A:aem	kolateralni
šteta	N:f	šteta
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
onaj	PRO	onaj
ko	PRO	ko
je	PRO	ona
gledao	V:m	gledati
ovo	PRO	ovaj
može	A:aem	može
da	CONJ	da
kaže	N:f	kaža
da	CONJ	da
Logan	N:m	Logan
ima	A:aem	ima
veze	N:f	veza
sa	PREP	sa
likovima	N:m	lik
.	SENT	.
Kontrapitanje	N:n	kontrapitanje
za	PREP	za
tako	ADV	tako
nekog	PRO	neki
:	PUNCT	:
i	CONJ	i
da	CONJ	da
nema	A:aem	nem
veze	N:f	veza
sa	PREP	sa
nekim	PRO	neki
od	PREP	od
likova	N:n	likovo
,	PUNCT	,
da	CONJ	da
li	PAR	li
bi	N:m	bi
to	PRO	taj
suštinski	ADV	suštinski
menjalo	V:n	menjati
priču	N:f	priča
?	PUNCT	?
Naravno	PAR	naravno
da	CONJ	da
ne	PAR	ne
.	SENT	.
Onda	ADV	onda
ovaj	PRO	ovaj
naš	PRO	naš
Vulverin	N:m	Vulverin
ovde	ADV	ovde
služi	A:aem	služi
da	CONJ	da
osveži	A:aem	osveži
prežvakanu	A:aef	prežvakan
dramu	N:f	drama
koja	PRO	koji
nije	A:aen	nije
vredna	A:aef	vredan
ničije	PRO	ničiji
pažnje	N:f	pažnja
.	SENT	.
Koga	PRO	koji
u	PREP	u
Vulverin	A:aem	Vulverin
filmu	N:m	film
zabole	V:f	zabosti
da	CONJ	da
gleda	N:m	gleda
borbu	N:f	borba
za	PREP	za
nasledstvo	N:n	nasledstvo
,	PUNCT	,
spletke	N:f	spletka
i	CONJ	i
dobre	A:aem	dobar
i	CONJ	i
loše	A:aef	loš
odnose	N:m	odnos
u	PREP	u
jednoj	NUM	jedan
porodici	N:f	porodica
?	SENT	?
Ima	V:m	Ima
li	PAR	li
takvih	PRO	takav
?	PUNCT	?
Hajde	INT	hajde
malo	ADV	malo
da	CONJ	da
pišemo	N:f	pišemo
i	CONJ	i
o	PREP	o
samom	A:aef	sam
Vulverinu	N:f	Vulverinu
.	PUNCT	.
Gde	CONJ	gde
i	CONJ	i
kakvog	PRO	kakav
ga	PRO	on
nalazimo	N:m	nalazimo
?	SENT	?
On	PRO	on
je	PRO	ona
tužan	A:aem	tužan
,	PUNCT	,
slomljen	A:aem	slomljen
i	CONJ	i
kako	ADV	kako
sam	A:aem	sam
kaže	N:f	kaža
'	A:aem	'
nije	N:n	nije
više	ADV	više
onaj	PRO	onaj
za	PREP	za
kog	PRO	koji
ga	PRO	on
svi	PRO	sav
smatraju	A:aem	smatraju
'	N:m	'
.	PUNCT	.
Kad	CONJ	kad
mi	PRO	ja
u	PREP	u
novom	A:aem	nov
filmu	N:m	film
u	PREP	u
ovoj	PRO	ovaj
situaciji	N:f	situacija
kažu	N:f	kaža
'	A:aem	'
Taj	N:m	Taj
čovek	N:m	čovek
je	PRO	ona
umro	V:m	umreti
'	N:m	'
misleći	A:aem	misleći
na	PREP	na
sebe	PRO	sebe
iz	PREP	iz
prošlosti	N:f	prošlost
,	PUNCT	,
odmah	ADV	odmah
bacam	N:m	bacam
scenaristu	N:m	scenarista
na	PREP	na
listu	N:f	lista
bubuljičavih	A:aef	bubuljičav
pubertetlija	N:f	pubertetlija
koji	PRO	koji
su	N:m	su
pogledali	V:m	pogledati
manje	ADV	manje
od	PREP	od
10	NUM	@card@
filmova	N:m	film
u	PREP	u
životu	N:m	život
.	PUNCT	.
I	CONJ	i
sad	ADV	sad
je	PRO	ona
naš	PRO	naš
Vulverin	A:aem	Vulverin
jadan	A:aem	jadan
tužan	A:aem	tužan
i	CONJ	i
pati	A:aem	pati
za	PREP	za
Džin	N:f	Džin
.	SENT	.
To	PRO	taj
je	PRO	ona
ok	N:m	ok
,	PUNCT	,
nema	A:aem	nem
šta	ADV	šta
,	PUNCT	,
izgubio	V:m	izgubiti
je	PRO	ona
nekog	PRO	neki
koga	PRO	koji
voli	N:m	Voli
.	SENT	.
E	CONJ	e
frka	N:f	frka
je	PRO	ona
što	CONJ	što
se	PAR	se
ta	PRO	taj
Džin	N:f	Džin
malo	ADV	malo
malo	ADV	malo
pojavljuje	N:f	pojavljuje
u	PREP	u
njegovim	PRO	njegov
snovima	N:m	san
.	SENT	.
Razumem	N:m	Razumem
ja	PRO	ja
,	PUNCT	,
opsesija	N:f	opsesija
mu	PRO	on
je	PRO	ona
,	PUNCT	,
proganja	N:n	proganja
ga	PRO	on
to	PRO	taj
.	PUNCT	.
Nije	A:aem	Nije
loše	ADV	loše
ni	PAR	ni
smestiti	V:n	smestiti
je	PRO	ona
u	PREP	u
snove	N:m	san
,	PUNCT	,
ali	CONJ	ali
ovako	ADV	ovako
jadno	ADV	jadno
da	CONJ	da
deluje	N:m	deluje
kao	CONJ	kao
duh	N:m	duh
iz	PREP	iz
boce	N:f	boca
,	PUNCT	,
da	CONJ	da
non	N:m	non
stop	N:m	stop
povlači	A:aem	povlači
moralne	A:aef	moralan
crte	N:f	crta
o	PREP	o
liku	N:f	lika
,	PUNCT	,
delu	N:n	delo
i	CONJ	i
stanju	N:n	stanje
Vulverina	N:f	Vulverina
,	PUNCT	,
da	CONJ	da
nosi	A:aef	nosi
simboliku	N:f	simbolika
najusranije	A:cef	usran
moguće	A:aem	moguć
forme	N:f	forma
,	PUNCT	,
to	PRO	taj
mi	PRO	ja
se	PAR	se
nikako	ADV	nikako
ne	PAR	ne
dopada	N:m	dopada
.	SENT	.
Ceo	A:aem	ceo
film	N:m	film
je	PRO	ona
kao	CONJ	kao
neka	PRO	neki
Loganova	N:m	Loganova
transformacija	N:f	transformacija
kako	CONJ	kako
bi	A:aen	bi
ga	PRO	on
vratili	V:m	vratiti
nazad	ADV	nazad
u	PREP	u
igru	N:f	igra
a	CONJ	a
to	PRO	taj
smo	N:f	smo
gledali	V:m	gledati
milion	N:m	milion
puta	ADV	puta
i	CONJ	i
ne	PAR	ne
zanima	N:m	zanima
nas	PRO	mi
još	ADV	još
jedan	NUM	jedan
takav	PRO	takav
film	N:m	film
.	SENT	.
Zašto	N:m	Zašto
se	PAR	se
nije	V:m	nije
vratio	V:m	vratiti
odmah	ADV	odmah
u	PREP	u
celini	N:f	celina
na	PREP	na
početku	N:m	početak
filma	N:m	film
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
,	PUNCT	,
može	A:aem	može
on	PRO	on
da	CONJ	da
pati	A:aem	pati
i	CONJ	i
dalje	ADV	dalje
,	PUNCT	,
ali	CONJ	ali
neeeee	N:f	neeeee
.	PUNCT	.
Moramo	N:f	Moramo
da	CONJ	da
vidimo	A:aen	vidimo
patetične	A:aef	patetičan
scene	N:f	scena
u	PREP	u
kojima	PRO	koji
se	PAR	se
on	PRO	on
miri	N:m	miri
sa	PREP	sa
sudbinom	N:f	sudbina
,	PUNCT	,
ostavlja	N:n	ostavlja
prošlost	N:f	prošlost
iza	PREP	iza
sebe	PRO	sebe
itd	N:m	itd
.	SENT	.
To	PRO	taj
me	PRO	ja
u	PREP	u
Vulverin	A:aem	Vulverin
filmu	N:m	film
još	ADV	još
manje	ADV	manje
zanima	A:aem	zanima
.	SENT	.
Šta	A:aem	Šta
reći	N:m	reći
za	PREP	za
formiranje	N:n	formiranje
priče	N:f	priča
i	CONJ	i
negativce	N:m	negativac
.	SENT	.
Sve	PRO	sav
je	PRO	ona
to	PRO	taj
dobri	A:aem	dobar
moji	PRO	moj
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
predvidivo	A:aen	predvidiv
,	PUNCT	,
plitko	A:aen	plitak
i	CONJ	i
nezanimljivo	A:aen	nezanimljiv
do	PREP	do
krajnjih	A:aef	krajnji
granica	N:f	granica
predvidivosti	N:f	predvidivost
,	PUNCT	,
plitkosti	N:f	plitkost
i	CONJ	i
nezanimljivosti	N:f	nezanimljivosti
.	SENT	.
Vidi	N:f	Vida
se	PAR	se
odmah	ADV	odmah
ko	PRO	ko
je	PRO	ona
ko	PRO	ko
u	PREP	u
porodici	N:f	porodica
i	CONJ	i
ko	PRO	ko
kome	PRO	koji
želi	V:m	žeti
šta	PRO	šta
,	PUNCT	,
vidi	N:f	vida
se	PAR	se
iz	PREP	iz
aviona	N:m	avion
preokret	N:m	preokret
koji	PRO	koji
sledi	N:f	sledi
u	PREP	u
finalu	N:n	finale
,	PUNCT	,
vidi	N:f	vida
se	PAR	se
da	CONJ	da
su	N:m	su
likovi	N:m	lik
teški	A:aem	težak
jad	N:m	jad
.	SENT	.
Ako	CONJ	ako
hoćeš	A:aem	hoćeš
preokretom	N:m	preokret
da	CONJ	da
iznenadiš	V:m	iznenadiš
nekog	PRO	neki
,	PUNCT	,
nemoj	A:aef	nem
mu	PRO	on
sedamdeset	NUM	sedamdeset
puta	ADV	puta
sugerisati	A:aem	sugerisati
na	PREP	na
njega	PRO	on
.	SENT	.
Prejadno	A:aen	prejadan
i	CONJ	i
presmešno	A:aen	presmešno
je	PRO	ona
ako	CONJ	ako
su	N:m	su
očekivali	V:m	očekivati
da	CONJ	da
nas	PRO	mi
ovaj	PRO	ovaj
obrt	N:m	obrt
iznenadi	N:f	iznenadi
.	SENT	.
Likovi	N:m	lik
su	PREF	su
teški	A:aem	težak
plićak	N:m	plićak
.	SENT	.
Zli	A:aem	zao
su	N:m	su
(	PUNCT	(
šablonski	A:aem	šablonski
)	PUNCT	)
zli	A:aem	zao
eto	PAR	eto
tako	ADV	tako
,	PUNCT	,
dobri	A:aem	dobar
su	N:m	su
dobri	A:aem	dobar
eto	PAR	eto
tako	ADV	tako
.	SENT	.
Imamo	N:f	Imamo
devojčicu	N:f	devojčica
koja	PRO	koji
se	PAR	se
šiba	N:f	šiba
opasno	ADV	opasno
ali	CONJ	ali
glavna	A:aen	glavna
fora	N:f	fora
je	PRO	ona
što	CONJ	što
ona	PRO	ona
vidi	N:f	vida
smrt	N:f	smrt
mnogih	A:aef	mnogi
likova	N:n	likovo
.	SENT	.
Momentalno	ADV	momentalno
sam	PRO	sam
znao	V:m	znati
da	CONJ	da
će	V:m	će
videti	A:aem	videti
Loganovu	N:m	Loganovu
smrt	N:f	smrt
i	CONJ	i
da	CONJ	da
će	N:m	će
joj	PRO	ona
to	PRO	taj
biti	N:f	bit
jedino	ADV	jedino
pogrešno	ADV	pogrešno
proročanstvo	N:n	proročanstvo
.	SENT	.
Momentalno	ADV	momentalno
sam	PRO	sam
znao	V:m	znati
i	CONJ	i
da	CONJ	da
ta	PRO	taj
njena	PRO	njen
sposobnost	N:f	sposobnost
i	CONJ	i
neće	A:aem	neće
služiti	A:aem	služiti
ni	CONJ	ni
za	PREP	za
šta	PRO	šta
drugo	A:aen	drugi
osim	PREP	osim
da	CONJ	da
napravi	N:f	naprava
ovu	PRO	ovaj
lažnu	A:aef	lažan
paniku	N:f	panika
i	CONJ	i
da	CONJ	da
da	CONJ	da
još	PAR	još
pokoji	PRO	pokoji
nagoveštaj	N:m	nagoveštaj
šta	PRO	šta
ćemo	N:f	ćemo
videti	N:f	videti
u	PREP	u
filmu	N:m	film
a	CONJ	a
šta	PRO	šta
je	PRO	ona
trebalo	V:n	trebati
sakriti	N:m	sakriti
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
još	ADV	još
jedna	NUM	jedan
očajna	A:aef	očajan
odluka	N:f	odluka
.	SENT	.
Ima	N:m	Ima
tu	PRO	taj
još	PAR	još
brdo	N:n	brdo
jadnih	A:aen	jadan
likova	N:n	likovo
van	PREP	van
ove	PRO	ovaj
porodice	N:f	porodica
o	PREP	o
kojoj	PRO	koji
neću	N:m	neću
ni	CONJ	ni
da	CONJ	da
pišem	A:aem	pišem
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
sačinjena	V:f	sačiniti
od	PREP	od
nekoliko	PRO	nekolik
takođe	PAR	takođe
jadnih	A:aen	jadan
likova	N:n	likovo
koji	PRO	koji
ne	PAR	ne
bi	V:m	bi
mogli	V:m	moći
da	CONJ	da
prođu	N:f	prođa
kao	CONJ	kao
ok	A:aem	ok
likovi	N:m	lik
ni	CONJ	ni
u	PREP	u
filmovima	N:m	film
pre	PREP	pre
60	NUM	@card@
tak	N:m	tak
godina	N:f	godina
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
imamo	N:m	imamo
emo	N:f	emo
nindžu	V:n	nindžu
koji	PRO	koji
nikada	ADV	nikada
da	CONJ	da
se	PAR	se
odluči	V:n	odluči
da	CONJ	da
li	PAR	li
i	CONJ	i
šta	PRO	šta
hoće	N:m	hoće
,	PUNCT	,
da	CONJ	da
li	PAR	li
biti	N:f	bit
tužan	A:aem	tužan
sa	PREP	sa
pramenom	N:m	pramen
kose	N:f	kosa
preko	PREP	preko
levog	A:aen	levi
ili	CONJ	ili
desnog	A:aem	desni
oka	N:n	oko
,	PUNCT	,
da	CONJ	da
li	PAR	li
gledati	V:m	gledati
zabrinuto	A:aen	zabrinut
ili	CONJ	ili
sa	PREP	sa
čuđenjem	N:n	čuđenje
,	PUNCT	,
i	CONJ	i
kako	CONJ	kako
mudašaca	N:m	mudašaca
retko	ADV	retko
ima	A:aem	ima
,	PUNCT	,
da	CONJ	da
li	PAR	li
je	PRO	ona
on	PRO	on
zapravo	ADV	zapravo
bata	N:m	bat
ili	CONJ	ili
seka	N:f	seka
u	PREP	u
dubini	N:f	dubina
duše	N:f	duša
.	SENT	.
Imamo	N:m	Imamo
još	ADV	još
jednog	NUM	jedan
mutanta	N:m	mutant
,	PUNCT	,
takozvanu	A:aef	takozvani
otrovnicu	N:f	otrovnica
.	SENT	.
U	PREP	u
jednoj	NUM	jedan
sceni	N:f	scena
se	PAR	se
nazire	V:n	nazire
neka	PRO	neki
zmijska	A:aef	zmijski
koža	N:f	koža
na	PREP	na
njoj	PRO	ona
i	CONJ	i
za	PREP	za
očekivati	A:aem	očekivati
je	PRO	ona
da	CONJ	da
će	V:m	će
se	PAR	se
ona	PRO	ona
tu	ADV	tu
transformisati	A:aem	transformisati
u	PREP	u
neku	PRO	neki
spodobu	N:f	spodoba
.	PUNCT	.
Braćo	N:m	Braćo
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
premro	V:m	premrijeti
sam	PRO	sam
od	PREP	od
straha	N:m	strah
kada	CONJ	kada
se	PAR	se
dotična	A:aef	dotični
transformisala	V:n	transformisati
iz	PREP	iz
plavokose	A:aef	plavokos
žene	N:f	žena
u	PREP	u
ćelavu	A:aef	ćelav
ženu	N:f	žena
.	SENT	.
Čoveče	A:aen	Čoveče
,	PUNCT	,
kako	CONJ	kako
su	N:m	su
se	PAR	se
moćno	A:aen	moćan
setili	V:m	setiti
ovoga	PRO	ovaj
.	PUNCT	.
Šok	N:m	Šok
,	PUNCT	,
neverica	N:f	neverica
,	PUNCT	,
užas	N:m	užas
.	PUNCT	.
Dijalozi	N:m	dijalog
negativaca	N:m	negativac
su	PREF	su
neviđeno	A:aen	neviđen
glupavi	A:aem	glupav
i	CONJ	i
mene	PRO	ja
bi	N:m	bi
kao	CONJ	kao
glumca	N:m	glumac
bilo	V:n	biti
sramota	N:f	sramota
da	CONJ	da
ih	PRO	ona
izgovaram	N:m	izgovaram
.	SENT	.
Dijalozi	N:m	dijalog
pozitivaca	N:m	pozitivac
su	N:m	su
neviđeno	A:aen	neviđen
dosadni	A:aem	dosadan
i	CONJ	i
mene	PRO	ja
bi	N:m	bi
kao	CONJ	kao
glumca	N:m	glumac
bio	V:m	biti
smor	N:m	smor
da	CONJ	da
ih	PRO	ona
izgovaram	N:m	izgovaram
.	SENT	.
Dijalozi	N:m	dijalog
između	PREP	između
ove	PRO	ovaj
dve	NUM	dva
grupe	N:f	grupa
su	N:m	su
kombinacija	N:f	kombinacija
ovih	PRO	ovaj
prethodno	ADV	prethodno
navedenih	A:aen	naveden
pa	CONJ	pa
zamislite	N:f	zamislite
onda	ADV	onda
kako	CONJ	kako
to	PRO	taj
izgleda	N:m	izgled
.	PUNCT	.
Ako	CONJ	ako
ništa	ADV	ništa
drugo	A:aen	drugi
,	PUNCT	,
barem	PAR	barem
od	PREP	od
Logana	N:m	Logan
očekujemo	A:aen	očekujemo
nešto	ADV	nešto
što	CONJ	što
će	A:aen	će
zasmejati	A:aem	zasmejati
,	PUNCT	,
nešto	ADV	nešto
u	PREP	u
njegovom	PRO	njegov
nejebavajućem	A:aen	nejebavajućem
stilu	N:n	stilo
.	SENT	.
Koliko	ADV	koliko
mogu	A:aen	mogu
da	CONJ	da
se	PAR	se
setim	V:n	setim
,	PUNCT	,
samo	PAR	samo
tri	NUM	tri
ili	CONJ	ili
četiri	NUM	četiri
puta	ADV	puta
su	N:m	su
to	PRO	taj
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
i	CONJ	i
primenili	V:m	primeniti
,	PUNCT	,
s	PREP	s
tim	PRO	taj
što	CONJ	što
je	PRO	ona
jednom	ADV	jednom
bila	V:f	biti
klasična	A:aem	klasičan
kopija	N:f	kopija
fenomenalne	A:aef	fenomenalan
scene	N:f	scena
iz	PREP	iz
X	N:m	X
-	PUNCT	-
Men	N:m	Men
First	N:m	First
Class	N:m	Class
.	SENT	.
Ovde	ADV	ovde
imamo	N:m	imamo
logana	A:aen	logana
koji	PRO	koji
patetiše	A:aen	patetiše
,	PUNCT	,
morališe	A:aen	morališe
,	PUNCT	,
ponekad	ADV	ponekad
kaže	N:f	kaža
nešto	PRO	nešto
što	PRO	što
smo	N:f	smo
čuli	V:m	čuti
već	PAR	već
od	PREP	od
njega	PRO	on
i	CONJ	i
eto	PAR	eto
,	PUNCT	,
ponekad	ADV	ponekad
zasmeje	N:m	zasmeje
.	SENT	.
Premalo	ADV	premalo
je	PRO	ona
to	PRO	taj
,	PUNCT	,
pogotovu	ADV	pogotovu
na	PREP	na
ovako	ADV	ovako
loš	A:aem	loš
film	N:m	film
.	SENT	.
Hajde	INT	hajde
malo	ADV	malo
o	PREP	o
dobrim	A:aef	dobar
stvarima	N:f	stvar
.	SENT	.
Hju	N:m	Hju
Džekmen	N:m	Džekmen
ima	V:m	ima
tu	PRO	taj
harizmu	N:f	harizma
i	CONJ	i
Vulverin	N:m	Vulverin
je	PRO	ona
takav	PRO	takav
lik	N:m	lik
da	CONJ	da
vas	PRO	vi
jednostavno	A:aen	jednostavan
vuče	N:f	vuča
da	CONJ	da
gledate	N:m	gledate
svaku	PRO	svaki
scenu	N:f	scena
u	PREP	u
kojoj	PRO	koji
se	PAR	se
pojavljuje	N:f	pojavljuje
.	SENT	.
Akcija	N:f	akcija
u	PREP	u
kojoj	PRO	koji
on	PRO	on
učestvuje	N:m	učestvuje
je	PRO	ona
odlična	A:aen	odličan
,	PUNCT	,
pre	PREP	pre
svega	PRO	sav
zbog	PREP	zbog
karakterističnog	A:aen	karakterističan
oružja	N:n	oružje
.	SENT	.
Problem	N:m	problem
je	PRO	ona
što	CONJ	što
tu	PRO	taj
akciju	N:f	akcija
doživljavam	N:m	doživljavam
na	PREP	na
isti	A:aem	isti
način	N:m	način
ovde	ADV	ovde
kao	ADV	kao
da	CONJ	da
su	N:m	su
je	PRO	ona
ubacili	V:m	ubaciti
u	PREP	u
'	A:aem	'
Selo	N:f	Selo
Gori	N:m	Gori
a	CONJ	a
Babu	N:f	Baba
Izbole	N:m	Izbole
'	A:aem	'
seriju	N:f	serija
.	PUNCT	.
Samo	PAR	samo
gledam	N:m	gledam
akciju	N:f	akcija
radi	PREP	radi
akcije	N:f	akcija
.	PUNCT	.
Uzrok	N:m	uzrok
i	CONJ	i
posledice	N:f	posledica
me	PRO	ja
ne	PAR	ne
zanimaju	N:m	zanimaju
a	CONJ	a
nisu	N:m	nisu
ni	CONJ	ni
bitne	A:aef	bitan
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
akcije	N:f	akcija
u	PREP	u
koju	PRO	koji
nije	N:m	nije
uključen	V:m	uključiti
Vulverin	A:aem	Vulverin
,	PUNCT	,
previše	ADV	previše
je	PRO	ona
to	PRO	taj
brzo	ADV	brzo
,	PUNCT	,
previše	ADV	previše
skakanja	N:n	skakanje
,	PUNCT	,
letenja	N:n	letenje
i	CONJ	i
akrobacija	N:f	akrobacija
je	PRO	ona
tu	ADV	tu
uključeno	V:n	uključiti
da	CONJ	da
bi	A:aen	bi
moglo	V:n	moći
lako	ADV	lako
da	CONJ	da
se	PAR	se
prati	N:f	prati
.	SENT	.
Ipak	PAR	ipak
sam	PRO	sam
za	PREP	za
'	A:aem	'
udri	A:aem	udri
Mile	N:m	Mil
letnji	A:aem	letnji
dan	N:m	dan
do	PREP	do
podne	N:n	podne
sistem	N:m	sistem
'	N:m	'
.	SENT	.
Brutalnom	A:aen	brutalan
,	PUNCT	,
sirovom	A:aen	sirov
snagom	N:f	snaga
nek	CONJ	nek
Vulverin	A:aem	Vulverin
secka	N:m	secko
,	PUNCT	,
ja	PRO	ja
ću	A:aem	ću
biti	N:f	bit
zadovoljan	A:aem	zadovoljan
.	SENT	.
Druga	A:aef	drugi
dobra	A:aef	dobar
stvar	N:f	stvar
je	PRO	ona
što	CONJ	što
je	PRO	ona
akcija	N:f	akcija
odlično	ADV	odlično
usnimljena	A:aen	usnimljena
.	PUNCT	.
Još	A:aen	Još
da	CONJ	da
je	PRO	ona
imala	V:f	imati
neki	PRO	neki
naboj	N:m	naboj
,	PUNCT	,
značila	V:f	značiti
nečemu	PRO	nešto
,	PUNCT	,
da	CONJ	da
nije	A:aem	nije
bila	V:f	biti
šablonska	A:aef	šablonski
gluparija	N:f	gluparija
,	PUNCT	,
film	N:m	film
bi	A:aem	bi
svakako	ADV	svakako
imao	V:m	imati
veću	N:n	veće
vrednost	N:f	vrednost
.	PUNCT	.
Braćo	N:m	Braćo
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
nešto	PRO	nešto
mi	PRO	ja
ne	PAR	ne
ide	V:m	ide
sa	PREP	sa
ovim	PRO	ovaj
bioskopom	N:m	bioskop
,	PUNCT	,
nikako	ADV	nikako
ubosti	N:f	ubosti
nešto	PRO	nešto
baš	PAR	baš
kvalitetno	ADV	kvalitetno
u	PREP	u
zadnje	A:aen	zadnji
vreme	N:n	vreme
.	SENT	.
Nadam	N:m	Nadam
se	PAR	se
da	CONJ	da
će	A:aen	će
i	CONJ	i
to	PRO	taj
da	CONJ	da
se	PAR	se
desi	N:f	Desa
.	SENT	.
Ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
je	PRO	ona
veoma	ADV	veoma
slabašno	ADV	slabašno
,	PUNCT	,
Vulverin	N:m	Vulverin
je	PRO	ona
samo	PAR	samo
dodatak	N:m	dodatak
na	PREP	na
usranu	A:aen	usran
,	PUNCT	,
već	PAR	već
viđenu	A:aef	viđen
,	PUNCT	,
šablonsku	A:aef	šablonski
priču	N:f	priča
,	PUNCT	,
likovi	N:m	lik
su	PREF	su
plitki	A:aem	plitak
,	PUNCT	,
nezanimljvi	N:f	nezanimljvi
,	PUNCT	,
misterija	N:f	misterija
nikakva	PRO	nikakav
.	PUNCT	.
Od	PREP	od
pozitivnih	A:aen	pozitivan
stvari	N:f	stvar
bih	A:aen	bih
izdvojio	V:m	izdvojiti
akciju	N:f	akcija
iako	CONJ	iako
je	PRO	ona
povremeno	ADV	povremeno
prepuna	A:aef	prepun
preterivanja	N:n	preterivanje
,	PUNCT	,
način	N:m	način
snimanja	N:n	snimanje
,	PUNCT	,
i	CONJ	i
scenu	N:f	scena
posle	PREP	posle
odjavne	A:aef	odjavni
špice	N:f	špica
koja	PRO	koji
daje	N:m	daje
sjajnu	A:aef	sjajan
osnovu	N:f	osnova
za	PREP	za
dobar	A:aem	dobar
film	N:m	film
.	SENT	.
Nadam	N:m	Nadam
se	PAR	se
samo	PAR	samo
da	CONJ	da
ovi	PRO	ovaj
likovi	N:m	lik
koji	PRO	koji
su	N:m	su
pravili	V:m	praviti
ovaj	PRO	ovaj
neće	A:aem	neće
prići	A:aem	prići
ni	CONJ	ni
blizu	ADV	blizu
rada	A:aem	rad
na	PREP	na
tom	PRO	taj
koji	PRO	koji
scena	N:f	scena
najavljuje	N:m	najavljuje
.	SENT	.
