Lorin	N:f	Lorin
od	PREP	od
Arabije	N:f	Arabija
ovo	PRO	ovaj
nije	A:aem	nije
Kaže	A:aef	Kaže
Žozefina	N:f	Žozefina
o	PREP	o
ovoj	PRO	ovaj
ekranizaciji	N:f	ekranizacija
čuvenog	A:aem	čuven
bestselera	N:m	bestseler
Robyn	N:m	Robyn
Davidson	N:m	Davidson
o	PREP	o
njenom	PRO	njen
više	ADV	više
mesečnom	A:aen	mesečni
putovanju	N:n	putovanje
,	PUNCT	,
sa	PREP	sa
četiri	NUM	četiri
kamile	N:f	kamila
i	CONJ	i
psom	N:m	pas
,	PUNCT	,
kroz	PREP	kroz
pustinju	N:f	pustinja
zapadne	A:aef	zapadni
Australije	N:f	Australija
:	PUNCT	:
'	A:aem	'
više	ADV	više
bi	A:aem	bi
me	PRO	ja
zanimalo	V:n	zanimati
da	CONJ	da
su	N:m	su
mi	PRO	ja
prikazali	V:m	prikazati
kako	CONJ	kako
je	PRO	ona
ovo	PRO	ovaj
stvarno	PAR	stvarno
izgledalo	V:n	izgledati
,	PUNCT	,
gde	CONJ	gde
se	PAR	se
kupala	V:f	kupati
,	PUNCT	,
šta	PRO	šta
je	PRO	ona
radila	V:f	raditi
kad	CONJ	kad
dobije	N:n	dobije
menstruaciju	N:f	menstruacija
,	PUNCT	,
nego	CONJ	nego
ove	PRO	ovaj
lepe	A:aem	lep
slike	N:f	slika
,	PUNCT	,
to	PRO	taj
svako	PRO	svaki
može	A:aem	može
.	PUNCT	.
.	SENT	.
.	PUNCT	.
'	A:aem	'
I	N:m	I
u	PREP	u
pravu	N:n	pravo
je	PRO	ona
,	PUNCT	,
film	N:m	film
Johna	A:aef	Johna
Currana	N:f	Currana
(	PUNCT	(
negledao	V:m	negledao
nijedan	A:aem	nijedan
od	PREP	od
njegovih	PRO	njegov
prethodnih	A:aem	prethodan
filmova	N:m	film
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
po	PREP	po
scenariju	N:m	scenario
Marion	N:f	Marion
Nelson	N:m	Nelson
(	PUNCT	(
iz	PREP	iz
nekog	PRO	neki
razloga	N:m	razlog
uvek	ADV	uvek
volim	A:aem	volim
da	CONJ	da
istaknem	A:aem	istaknem
radove	N:m	rad
scenaristkinja	N:f	scenaristkinja
koji	PRO	koji
mi	PRO	ja
se	PAR	se
nisu	N:m	nisu
dopali	V:m	dopasti
)	PUNCT	)
,	PUNCT	,
manjka	N:m	manjak
onim	PRO	onaj
zbog	PREP	zbog
čega	PRO	šta
smo	N:f	smo
došli	V:m	doći
-	PUNCT	-
krvlju	N:f	krv
i	CONJ	i
znojem	N:m	znoj
koji	PRO	koji
su	N:m	su
izgurali	V:m	izgurati
ovaj	PRO	ovaj
put	N:f	put
.	SENT	.
'	A:aem	'
Šater	N:m	Šater
stok	A:aem	stok
'	N:m	'
fotografije	N:f	fotografija
Aboridžina	N:m	Aboridžin
,	PUNCT	,
zalazaka	N:m	zalazak
sunca	N:n	sunce
,	PUNCT	,
vrele	A:aef	vreo
pustinje	N:f	pustinja
(	PUNCT	(
iz	PREP	iz
bliza	A:aem	bliz
i	CONJ	i
iz	PREP	iz
aviona	N:m	avion
)	PUNCT	)
,	PUNCT	,
sve	PRO	sav
je	PRO	ona
tu	ADV	tu
,	PUNCT	,
verovatno	ADV	verovatno
kao	ADV	kao
i	CONJ	i
na	PREP	na
fotografijama	N:f	fotografija
Ricka	A:aem	Ricka
Smolana	N:m	Smolana
koji	PRO	koji
je	PRO	ona
put	N:m	put
(	PUNCT	(
kroz	PREP	kroz
povremene	A:aem	povremen
obilaske	N:m	obilazak
same	PRO	sam
Robyn	N:m	Robyn
)	PUNCT	)
ovekovečio	V:m	ovekovečiti
za	PREP	za
National	A:aem	National
Geographic	N:m	Geographic
.	SENT	.
Mia	N:f	Mia
Wasikowska	A:aem	Wasikowska
(	PUNCT	(
kojoj	PRO	koji
su	N:m	su
u	PREP	u
međuvremenu	N:n	međuvreme
poptuno	N:m	poptuno
nestale	A:aem	nestao
sise	N:f	sisa
,	PUNCT	,
toliko	ADV	toliko
o	PREP	o
studioznosti	N:f	studioznost
mog	PRO	moj
kritičarskog	A:aem	kritičarski
rada	N:m	rad
)	PUNCT	)
drži	N:m	drži
našu	PRO	naš
pažnju	N:f	pažnja
,	PUNCT	,
jer	CONJ	jer
deluje	N:m	deluje
kao	CONJ	kao
osoba	N:f	osoba
koja	PRO	koji
bi	N:m	bi
i	CONJ	i
sama	PRO	sam
krenula	V:f	krenuti
na	PREP	na
taj	PRO	taj
put	N:m	put
,	PUNCT	,
ali	CONJ	ali
ako	CONJ	ako
vas	PRO	vi
zanima	A:aen	zanima
stvarno	A:aen	stvaran
iskustvo	N:n	iskustvo
bauljanja	N:n	bauljanje
pustinjom	N:f	pustinja
,	PUNCT	,
uz	PREP	uz
sve	PRO	sav
moguće	ADV	moguće
metaforične	A:aef	metaforičan
reperkusije	N:f	reperkusija
,	PUNCT	,
preporučujem	N:m	preporučujem
daleko	ADV	daleko
zanimljiviji	A:bem	zanimljiv
Gus	N:m	Gus
Van	N:m	Van
Santov	A:aem	Santov
film	N:m	film
Gerry	N:m	Gerry
.	SENT	.
Stvaranju	N:n	stvaranje
slike	N:f	slika
,	PUNCT	,
i	CONJ	i
uživljavanju	N:n	uživljavanje
u	PREP	u
istu	A:aem	isti
,	PUNCT	,
nije	A:aen	nije
pomoglo	V:n	pomoći
ni	CONJ	ni
par	N:m	par
bijednih	A:aen	bijedan
flešbekova	N:m	flešbekova
u	PREP	u
kojima	PRO	koji
saznajemo	A:aen	saznajemo
o	PREP	o
tome	PRO	taj
da	CONJ	da
je	PRO	ona
Robynina	A:aef	Robynina
majka	N:f	majka
izvršila	V:f	izvršiti
samoubistvo	N:n	samoubistvo
i	CONJ	i
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
putešestvije	N:n	putešestvije
pokušaj	N:m	pokušaj
da	CONJ	da
se	PAR	se
ona	PRO	ona
ožali	V:m	ožali
,	PUNCT	,
njen	PRO	njen
čin	N:m	čin
prihvati	N:m	prihvat
,	PUNCT	,
a	CONJ	a
nešto	ADV	nešto
slično	ADV	slično
predupredi	N:m	predupredi
i	CONJ	i
prevaziđe	N:f	prevaziđe
kroz	PREP	kroz
taj	PRO	taj
'	A:aem	'
samobulački	A:aem	samobulački
pokušaj	N:m	pokušaj
'	N:m	'
.	SENT	.
Film	N:m	film
je	PRO	ona
lišen	V:m	lišiti
svih	PRO	sav
stvarno	ADV	stvarno
neprijatnih	A:aem	neprijatan
trenutaka	N:m	trenutak
ove	PRO	ovaj
avanture	N:f	avantura
,	PUNCT	,
a	CONJ	a
sve	PRO	sav
ono	PRO	onaj
što	PRO	što
se	PAR	se
dogodilo	V:n	dogoditi
uvijeno	ADV	uvijeno
je	PRO	ona
u	PREP	u
'	A:aem	'
family	N:m	family
friendly	A:aem	friendly
'	A:aem	'
trenutke	N:m	trenutak
skoro	ADV	skoro
do	PREP	do
nivoa	N:m	nivo
da	CONJ	da
bi	A:aem	bi
Tracks	N:m	Tracks
mogao	V:m	moći
da	CONJ	da
dobije	N:n	dobije
i	CONJ	i
Disney	N:m	Disney
-	PUNCT	-
evu	A:aem	evu
podršku	N:f	podrška
,	PUNCT	,
ako	CONJ	ako
ne	PAR	ne
i	CONJ	i
pare	N:f	para
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
meni	PRO	ja
najviše	ADV	najviše
smetalo	V:n	smetati
jeste	INT	jeste
što	CONJ	što
,	PUNCT	,
sem	PREP	sem
povremenog	A:aen	povremen
spominjanja	N:n	spominjanje
koliki	PRO	kolik
je	PRO	ona
put	N:m	put
pred	PREP	pred
Robyn	N:m	Robyn
(	PUNCT	(
skoro	ADV	skoro
2000	NUM	@card@
milja	N:n	milje
!	PUNCT	!
)	SENT	)
,	PUNCT	,
mi	PRO	ja
nismo	N:f	nismo
dobili	V:m	dobiti
stvarnu	A:aef	stvaran
tj	ABB	tj
'	N:m	'
filmsku	A:aef	filmski
'	A:aem	'
predstavu	N:f	predstava
o	PREP	o
dužini	N:f	dužina
istog	A:aen	isti
.	PUNCT	.
A	CONJ	a
činjenica	N:f	činjenica
da	CONJ	da
Robyn	N:m	Robyn
na	PREP	na
tom	PRO	taj
putu	N:m	put
svako	PRO	svaki
malo	ADV	malo
sreće	N:f	sreća
neke	PRO	neki
turiste	N:m	turista
koji	PRO	koji
je	PRO	ona
napadaju	N:m	napadaj
foto	N:f	fota
-	PUNCT	-
aparatima	N:m	aparat
kao	CONJ	kao
da	CONJ	da
su	N:m	su
videli	V:m	videti
jetija	N:m	jeti
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
to	PRO	taj
da	CONJ	da
fotograf	N:m	fotograf
Rick	N:m	Rick
ima	A:aem	ima
prohodan	A:aem	prohodan
put	N:m	put
do	PREP	do
nje	PRO	ona
na	PREP	na
svakoj	PRO	svaki
etapi	N:f	etapa
(	PUNCT	(
i	CONJ	i
da	CONJ	da
joj	PRO	ona
se	PAR	se
pridružuje	N:m	pridružuje
na	PREP	na
svakih	PRO	svaki
pređenih	A:aef	pređen
20	NUM	@card@
milja	N:n	milje
)	PUNCT	)
pre	PREP	pre
stvara	N:m	stvara
utisak	N:m	utisak
da	CONJ	da
je	PRO	ona
Robyn	N:m	Robyn
išla	V:f	ići
na	PREP	na
200	NUM	@card@
metara	N:m	metar
od	PREP	od
autoputa	N:m	autoput
,	PUNCT	,
nego	CONJ	nego
nekim	PRO	neki
putem	PREP	putem
kojim	PRO	koji
'	N:m	'
stvarno	ADV	stvarno
niko	PRO	niko
ne	PAR	ne
ide	A:aem	ide
'	N:m	'
.	SENT	.
Što	N:m	Što
u	PREP	u
konačnom	A:aem	konačan
ishodu	N:m	ishod
njenu	PRO	njen
avanturu	N:f	avantura
čini	N:f	čini
pre	PREP	pre
blesavom	A:aef	blesav
i	CONJ	i
hirom	N:m	hir
,	PUNCT	,
nego	CONJ	nego
impresivnom	A:aem	impresivan
.	PUNCT	.
A	CONJ	a
ništa	PRO	ništa
ne	PAR	ne
ostavlja	A:aem	ostavlja
utisak	N:m	utisak
da	CONJ	da
je	PRO	ona
Curran	N:m	Curran
želeo	V:m	želeti
da	CONJ	da
uđe	N:n	uđe
u	PREP	u
diskusiju	N:f	diskusija
sa	PREP	sa
smislom	N:m	smisao
ovog	PRO	ovaj
feminističkog	A:aen	feministički
(	PUNCT	(
pre	PREP	pre
nego	CONJ	nego
'	N:m	'
ljudskog	A:aen	ljudski
'	N:m	'
)	PUNCT	)
čina	N:m	čin
.	PUNCT	.
Čak	N:m	Čak
šta	PRO	šta
,	PUNCT	,
čini	N:f	čini
mi	PRO	ja
se	PAR	se
da	CONJ	da
bi	A:aem	bi
eventualni	A:aem	eventualan
'	A:aem	'
making	N:m	making
of	N:m	of
'	N:m	'
o	PREP	o
snimanju	N:n	snimanje
ovog	PRO	ovaj
filma	N:m	film
progovorio	V:m	progovoriti
bolje	ADV	bolje
i	CONJ	i
rečitije	A:bem	rečit
o	PREP	o
svemu	PRO	sav
što	CONJ	što
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
želeo	V:m	želeti
da	CONJ	da
kaže	N:f	kaža
.	SENT	.
