Ben	N:m	Ben
Stiler	N:m	Stiler
u	PREP	u
još	ADV	još
jednom	NUM	jedan
pokušaju	N:m	pokušaj
da	CONJ	da
napravi	N:f	naprava
dobru	A:aem	dobar
komediju	N:f	komedija
.	SENT	.
Krajnji	A:aem	krajnji
rezultat	N:m	rezultat
je	PRO	ona
po	PREP	po
mom	PRO	moj
mišljenju	N:n	mišljenje
,	PUNCT	,
još	ADV	još
jedan	NUM	jedan
lagani	A:aem	lagan
neuspeh	N:m	neuspeh
.	SENT	.
Ne	PAR	ne
samo	PAR	samo
da	CONJ	da
je	PRO	ona
čovek	N:m	čovek
precenjen	V:m	preceniti
već	PAR	već
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
najgore	ADV	najgore
,	PUNCT	,
njemu	PRO	on
ni	PAR	ni
jednom	ADV	jednom
ne	PAR	ne
uspeva	V:m	uspeva
da	CONJ	da
me	PRO	ja
nasmeje	N:m	nasmeje
.	SENT	.
Aplauz	N:m	aplauz
za	PREP	za
nekog	PRO	neki
ko	PRO	ko
sebe	PRO	sebe
smatra	A:aem	smatra
komičarem	N:m	komičarem
.	SENT	.
Uz	PREP	uz
There	N:m	There
Is	A:aem	Is
Something	N:m	Something
About	A:aem	About
Marry	N:m	Marry
,	PUNCT	,
Cable	N:m	Cable
Guy	N:m	Guy
,	PUNCT	,
Night	N:m	Night
At	N:m	at
The	INT	The
Museum	N:m	Museum
2	NUM	@card@
,	PUNCT	,
i	CONJ	i
vrhunski	A:aem	vrhunski
glupavi	A:aem	glupav
Zoolander	N:m	Zoolander
,	PUNCT	,
smeštam	N:m	smeštam
još	ADV	još
jedno	ADV	jedno
njegovo	PRO	njegov
nedelo	N:n	nedelo
.	SENT	.
Nisam	N:m	Nisam
još	ADV	još
pogledao	V:m	pogledati
Fokerove	A:aem	Fokerov
pa	CONJ	pa
se	PAR	se
tu	ADV	tu
iskreno	ADV	iskreno
nadam	N:m	nadam
da	CONJ	da
je	PRO	ona
uspeo	V:m	uspeti
ubosti	N:f	ubosti
nešto	ADV	nešto
kako	CONJ	kako
valja	N:f	valja
,	PUNCT	,
a	CONJ	a
ta	PRO	taj
nada	N:f	nada
se	PAR	se
bazira	V:m	bazira
na	PREP	na
tome	PRO	taj
što	CONJ	što
on	PRO	on
nije	A:aem	nije
režiser	N:m	režiser
filma	N:m	film
.	SENT	.
Što	N:m	Što
je	PRO	ona
najgore	ADV	najgore
,	PUNCT	,
ovaj	PRO	ovaj
filmić	A:aem	filmić
je	PRO	ona
imao	V:m	imati
odličan	A:aem	odličan
potencijal	N:m	potencijal
.	SENT	.
Prvo	ADV	prvo
,	PUNCT	,
priča	N:f	priča
je	PRO	ona
bila	V:f	biti
odlična	A:aen	odličan
.	SENT	.
Nekolicina	N:f	nekolicina
glumaca	N:m	glumac
koji	PRO	koji
misle	N:m	misle
da	CONJ	da
snimaju	N:m	snimaju
ratni	A:aem	ratni
film	N:m	film
upadaju	V:m	upadaju
u	PREP	u
realnu	A:aef	realan
opasnost	N:f	opasnost
a	CONJ	a
nesvesni	A:aem	nesvestan
su	PREF	su
toga	PRO	taj
.	SENT	.
Šta	A:aem	Šta
bi	N:m	bi
tu	ADV	tu
trebao	V:m	trebati
da	CONJ	da
učiniš	A:aem	učiniš
da	CONJ	da
napraviš	A:aem	napraviš
nezanimljiv	A:aem	nezanimljiv
film	N:m	film
-	PUNCT	-
jednostavno	ADV	jednostavno
,	PUNCT	,
da	CONJ	da
budeš	A:aem	budeš
Ben	N:m	Ben
Stiler	N:m	Stiler
.	SENT	.
Glumačka	N:m	Glumačka
ekipa	N:f	ekipa
je	PRO	ona
sasvim	ADV	sasvim
dobra	N:n	dobro
što	CONJ	što
je	PRO	ona
bio	V:m	biti
još	ADV	još
jedan	NUM	jedan
plus	N:m	plus
i	CONJ	i
još	ADV	još
jedan	NUM	jedan
garant	N:m	garant
da	CONJ	da
će	V:m	će
ovo	PRO	ovaj
uspeti	N:f	uspeti
.	SENT	.
Džek	N:m	Džek
Blek	N:m	Blek
je	PRO	ona
neko	PRO	neki
ko	PRO	ko
retko	ADV	retko
omane	N:m	oman
u	PREP	u
komediji	N:f	komedija
,	PUNCT	,
ovde	ADV	ovde
on	PRO	on
tek	PAR	tek
povremeno	ADV	povremeno
bljesne	A:aem	bljesne
.	SENT	.
Robert	N:m	Robert
Dauni	N:m	Dauni
Džunior	N:m	Džunior
kao	CONJ	kao
Iron	A:aem	Iron
Man	N:m	Man
je	PRO	ona
izazivao	V:m	izazivati
salve	N:f	salva
smeha	N:m	smeh
.	SENT	.
Ovde	ADV	ovde
kadkad	ADV	kadkad
uspe	N:m	uspe
da	CONJ	da
nasmeje	N:m	nasmeje
gledaoca	N:m	gledalac
ali	CONJ	ali
njegovi	PRO	njegov
'	A:aem	'
tripovi	N:m	trip
'	A:aem	'
su	N:m	su
ovde	ADV	ovde
suviše	ADV	suviše
bezvezni	A:aem	bezvezan
da	CONJ	da
bi	A:aem	bi
me	PRO	ja
zasmejali	V:m	zasmejati
.	SENT	.
Brendan	N:m	Brendan
T	ABB	T
.	SENT	.
Džekson	N:m	Džekson
dostavlja	N:n	dostavlja
upravo	ADV	upravo
ono	PRO	onaj
što	CONJ	što
se	PAR	se
od	PREP	od
njega	PRO	on
očekivalo	V:n	očekivati
a	CONJ	a
to	PRO	taj
je	PRO	ona
da	CONJ	da
bude	A:aem	bude
tamo	ADV	tamo
neki	PRO	neki
lik	N:m	lik
koji	PRO	koji
će	N:f	će
povremeno	ADV	povremeno
reći	A:aem	reći
nešto	ADV	nešto
.	SENT	.
Zašto	A:aem	Zašto
Dauni	N:m	Dauni
Džunior	N:m	Džunior
i	CONJ	i
Blek	N:m	Blek
nisu	N:m	nisu
uspeli	V:m	uspeti
da	CONJ	da
podignu	V:m	podignu
film	N:m	film
na	PREP	na
viši	A:aem	viši
nivo	N:m	nivo
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
je	PRO	ona
u	PREP	u
prvi	A:aem	prvi
plan	N:m	plan
Stiler	N:m	Stiler
izbacio	V:m	izbaciti
jednog	NUM	jedan
od	PREP	od
najvećih	A:cen	velik
promašaja	N:m	promašaj
među	PREP	među
glumcima	N:m	glumac
komičarima	N:m	komičar
-	PUNCT	-
samog	PRO	sam
sebe	PRO	sebe
.	PUNCT	.
Njegove	PRO	njegov
priče	N:f	priča
,	PUNCT	,
njegovo	PRO	njegov
psihičko	A:aen	psihički
stanje	N:n	stanje
i	CONJ	i
već	PAR	već
viđeni	V:m	viditi
fazoni	N:m	fazon
ne	PAR	ne
mogu	N:m	Mog
da	CONJ	da
izazovu	N:m	izazov
ni	CONJ	ni
jedan	NUM	jedan
prokleti	A:aem	proklet
'	N:m	'
ha	PAR	ha
ha	PAR	ha
'	A:aem	'
momenat	N:m	moment
.	PUNCT	.
Ako	CONJ	ako
njegova	PRO	njegov
gluma	N:f	gluma
retardiranog	A:aen	retardiran
momka	N:m	momak
i	CONJ	i
beskrajno	A:aen	beskrajan
razglabanje	N:n	razglabanje
o	PREP	o
tome	PRO	taj
kako	CONJ	kako
je	PRO	ona
on	PRO	on
tog	PRO	taj
retarda	N:m	retarda
odglumio	V:m	odglumiti
vama	PRO	vi
zvuče	N:m	zvuče
kao	CONJ	kao
nešto	PRO	nešto
što	PRO	što
biste	N:f	bista
rado	ADV	rado
gledali	V:m	gledati
,	PUNCT	,
onda	ADV	onda
je	PRO	ona
Stiler	N:m	Stiler
pravi	A:aem	prav
komičar	N:m	komičar
za	PREP	za
vas	PRO	vi
.	SENT	.
Ako	CONJ	ako
ipak	PAR	ipak
tražite	N:m	tražite
nešto	ADV	nešto
inteligentnijeg	A:ben	inteligentan
ili	CONJ	ili
urnebesnijeg	A:bem	urnebesan
humora	N:m	humor
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
što	CONJ	što
do	PREP	do
sada	ADV	sada
pogledah	N:m	pogledah
sa	PREP	sa
njegovim	PRO	njegov
imenom	N:n	ime
,	PUNCT	,
nećete	N:m	nećete
naći	A:aem	naći
ništa	ADV	ništa
od	PREP	od
toga	PRO	taj
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
nije	A:aen	nije
sve	PRO	sav
tako	ADV	tako
crno	A:aen	crn
.	SENT	.
Imamo	N:m	Imamo
odličnog	A:aem	odličan
Toma	N:m	Toma
Kruza	N:m	Kruz
,	PUNCT	,
imamo	N:m	imamo
odlične	A:aem	odličan
najave	N:f	najava
filmova	N:m	film
,	PUNCT	,
imamo	N:m	imamo
scenu	N:f	scena
u	PREP	u
kojoj	PRO	koji
Stilerov	A:aem	Stilerov
lik	N:m	lik
misli	N:f	misao
da	CONJ	da
rukuje	N:f	rukuje
rekvizitom	N:f	rekvizita
i	CONJ	i
imamo	N:m	imamo
ovu	PRO	ovaj
Naj	N:f	Naj
scenu	N:f	scena
.	PUNCT	.
Za	PREP	za
makar	CONJ	makar
prosečnu	A:aef	prosečan
komediju	N:f	komedija
-	PUNCT	-
premalo	ADV	premalo
.	PUNCT	.
