Kako	CONJ	kako
upokojiti	A:aem	upokojiti
zombija	N:m	zombi
Nesumnjiv	A:aem	nesumnjiv
uspeh	N:m	uspeh
TV	A:aem	TV
serije	N:f	serija
Walking	N:m	Walking
Dead	N:m	Dead
(	PUNCT	(
jedna	NUM	jedan
od	PREP	od
najgledanijih	A:cen	gledan
serija	N:f	serija
u	PREP	u
Americi	N:f	Amerika
)	PUNCT	)
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
filmova	N:m	film
poput	PREP	poput
Zombieland	N:m	Zombieland
,	PUNCT	,
a	CONJ	a
pre	PREP	pre
njega	PRO	on
i	CONJ	i
28	NUM	@card@
Days	N:m	Days
Later	N:m	Later
i	CONJ	i
28	NUM	@card@
Weeks	N:m	Weeks
Later	N:m	Later
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
po	PREP	po
igrici	N:f	igrica
krojenog	A:aem	krojen
serijala	N:m	serijal
Resident	N:m	Resident
Evil	N:m	Evil
neminovno	ADV	neminovno
je	PRO	ona
doveo	V:m	dovesti
do	PREP	do
još	ADV	još
većeg	A:ben	velik
,	PUNCT	,
pre	PREP	pre
svega	ADV	svega
komercijalnog	A:aem	komercijalan
,	PUNCT	,
interesovanja	N:n	interesovanje
za	PREP	za
sirote	A:aem	sirot
zombije	N:m	zombi
,	PUNCT	,
pa	CONJ	pa
smo	N:f	smo
tako	ADV	tako
početkom	N:m	početak
godine	N:f	godina
videli	V:m	videti
'	A:aem	'
verziju	N:f	verzija
za	PREP	za
devojčice	N:f	devojčica
'	N:m	'
u	PREP	u
Warm	N:m	Warm
Bodies	N:m	Bodies
,	PUNCT	,
a	CONJ	a
sada	ADV	sada
stiže	A:aem	stiže
mejnstrim	N:m	mejnstrim
kruna	N:f	kruna
u	PREP	u
vidu	N:f	vida
letnjeg	A:aen	letnji
blokbaster	N:m	blokbaster
hita	N:m	hit
na	PREP	na
čijem	PRO	čiji
čelu	N:n	čelo
se	PAR	se
nalazi	N:m	nalaz
Brad	N:m	Brad
Pitt	N:f	Pitt
(	PUNCT	(
i	CONJ	i
kao	CONJ	kao
glumac	N:m	glumac
i	CONJ	i
kao	CONJ	kao
producent	N:m	producent
)	PUNCT	)
.	SENT	.
Vreme	N:n	vreme
će	A:aem	će
pokazati	N:m	pokazati
da	CONJ	da
li	PAR	li
ćemo	N:f	ćemo
ovaj	PRO	ovaj
pokušaj	N:m	pokušaj
uvaljivanja	N:n	uvaljivanje
zombija	N:m	zombi
kroz	PREP	kroz
mešavinu	N:f	mešavina
melodrame	N:f	melodrama
i	CONJ	i
filma	N:m	film
katastrofe	N:f	katastrofa
računati	V:m	računati
kao	ADV	kao
'	A:aem	'
zero	N:m	zero
hour	N:m	hour
'	N:m	'
nakon	PREP	nakon
koga	PRO	koji
je	PRO	ona
sve	PRO	sav
,	PUNCT	,
pre	PREP	pre
svega	PRO	sav
po	PREP	po
zombije	N:m	zombi
,	PUNCT	,
krenulo	V:n	krenuti
nagore	ADV	nagore
.	PUNCT	.
Iako	CONJ	iako
ima	A:aen	ima
puno	A:aen	pun
plakata	N:m	plakat
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
i	CONJ	i
svi	PRO	sav
koje	PRO	koji
sam	PRO	sam
video	V:m	videti
izgledaju	N:f	izgledaju
bolje	A:bef	dobar
od	PREP	od
onoga	PRO	onaj
koji	PRO	koji
sam	PRO	sam
odabrao	V:m	odabrati
da	CONJ	da
ukrasi	N:m	ukras
ovaj	PRO	ovaj
tekst	N:m	tekst
,	PUNCT	,
ali	CONJ	ali
ovaj	PRO	ovaj
,	PUNCT	,
predvidljivi	A:aem	predvidljiv
,	PUNCT	,
umiveni	A:aem	umiven
i	CONJ	i
dosadni	A:aem	dosadan
najbolje	ADV	najbolje
govori	N:m	govor
o	PREP	o
tome	PRO	taj
kakav	PRO	kakav
vas	PRO	vi
film	N:m	film
očekuje	N:m	očekuje
.	SENT	.
Brad	N:m	Brad
Pitt	A:aem	Pitt
igra	N:f	igra
'	A:aem	'
stručnjaka	N:m	stručnjak
'	N:m	'
koji	PRO	koji
se	PAR	se
dokazao	V:m	dokazati
u	PREP	u
'	N:m	'
stručnjaštvu	N:n	stručnjaštvu
'	N:m	'
u	PREP	u
konfliktnim	A:aef	konfliktan
zonama	N:f	zona
širom	PREP	širom
sveta	N:m	svet
.	PUNCT	.
Kada	CONJ	kada
u	PREP	u
Njujorku	N:m	Njujork
izbije	A:aem	izbije
'	A:aem	'
virus	N:m	virus
'	N:m	'
(	PUNCT	(
na	PREP	na
već	CONJ	već
više	ADV	više
puta	ADV	puta
viđeni	V:m	viditi
način	N:m	način
+	PUNCT	+
sekvenca	N:f	sekvenca
pražnjenja	N:n	pražnjenje
prodavnica	N:f	prodavnica
)	PUNCT	)
baš	PAR	baš
je	PRO	ona
on	PRO	on
odabran	V:m	odabrati
od	PREP	od
strane	N:f	strana
zamenika	N:m	zamenik
sekretara	N:m	sekretar
Ujedinjenih	A:aef	ujedinjen
Nacija	N:f	nacija
da	CONJ	da
bude	A:aem	bude
spasen	A:aem	spasen
i	CONJ	i
'	A:aem	'
ključan	A:aem	ključan
'	N:m	'
u	PREP	u
traženju	N:n	traženje
rešenja	N:n	rešenje
za	PREP	za
problem	N:m	problem
.	SENT	.
Ovde	ADV	ovde
je	PRO	ona
zgodno	ADV	zgodno
napomenuti	A:aem	napomenut
da	CONJ	da
Mark	N:m	Mark
Forster	N:m	Forster
(	PUNCT	(
sa	PREP	sa
osmehom	N:m	osmeh
bih	A:aen	bih
pomenuo	V:m	pomenuti
samo	PAR	samo
njegov	PRO	njegov
Stranger	N:m	Stranger
Than	A:aem	Than
Fiction	N:m	Fiction
)	PUNCT	)
jedinu	A:aef	jedini
intervencijicu	N:f	intervencijicu
u	PREP	u
talasu	N:m	talas
već	CONJ	već
viđenog	A:aem	viđen
pravi	A:aem	prav
u	PREP	u
sitnim	A:aen	sitan
političkim	A:aen	politički
/	N:m	/
politikantskim	A:aef	politikantski
opaskama	N:f	opaska
,	PUNCT	,
počevši	A:aem	počevši
od	PREP	od
te	PRO	taj
da	CONJ	da
Sjedinjenim	A:aef	sjedinjen
državama	N:f	država
predsedavaju	N:m	predsedavaju
krizne	A:aem	krizni
Ujedinjene	A:aef	ujedinjen
nacije	N:f	nacija
u	PREP	u
nedostatku	N:m	nedostatak
živih	A:aem	živ
lidera	N:m	lider
slobodnog	A:aen	slobodan
sveta	N:m	svet
,	PUNCT	,
a	CONJ	a
da	CONJ	da
ćemo	N:f	ćemo
tokom	PREP	tokom
filma	N:m	film
dobiti	N:f	dobit
i	CONJ	i
fin	A:aem	fin
uvid	N:m	uvid
,	PUNCT	,
koliko	ADV	koliko
god	PAR	god
to	PRO	taj
somanabulno	A:aen	somanabulno
delovalo	V:n	delovati
u	PREP	u
kontekstu	N:m	kontekst
,	PUNCT	,
u	PREP	u
to	PRO	taj
šta	PRO	šta
su	N:m	su
recimo	A:aen	recimo
Jevreji	N:m	Jevrejin
(	PUNCT	(
u	PREP	u
Izraelu	N:m	Izrael
)	PUNCT	)
naučili	V:m	naučiti
iz	PREP	iz
iskustva	N:n	iskustvo
.	PUNCT	.
Ako	CONJ	ako
pogledate	A:aem	pogledate
spisak	N:m	spisak
scenarista	N:m	scenarista
i	CONJ	i
njihove	PRO	njihov
prethodne	A:aef	prethodan
/	A:aem	/
'	N:m	'
tipične	A:aef	tipičan
'	A:aem	'
uratke	N:m	uradak
videćete	N:m	videćete
kako	CONJ	kako
su	N:m	su
svi	PRO	sav
oni	PRO	onaj
nesrećno	ADV	nesrećno
spareni	V:m	spariti
u	PREP	u
filmu	N:m	film
i	CONJ	i
skoro	ADV	skoro
da	CONJ	da
ćete	N:m	ćete
moći	N:f	moć
da	CONJ	da
prepoznate	V:f	prepoznati
ko	PRO	ko
je	PRO	ona
šta	PRO	šta
pisao	V:m	pisati
.	SENT	.
Ionako	ADV	ionako
nemoćni	A:aem	nemoćan
Mark	N:m	Mark
ostao	V:m	ostati
je	PRO	ona
nemoćan	A:aem	nemoćan
i	CONJ	i
u	PREP	u
borbi	N:f	borba
sa	PREP	sa
svima	PRO	sav
njima	PRO	ona
.	SENT	.
Radnja	N:f	radnja
filma	N:m	film
je	PRO	ona
više	ADV	više
puta	ADV	puta
podgrevani	V:m	podgrevati
recept	N:m	recept
za	PREP	za
film	N:m	film
katastrofe	N:f	katastrofa
.	SENT	.
Dok	CONJ	dok
ide	A:aem	ide
špica	N:m	špic
u	PREP	u
prepoznatljivom	A:aem	prepoznatljiv
kolažu	N:m	kolaž
vesti	N:f	vesta
saznajemo	A:aen	saznajemo
razvojni	A:aem	razvojni
put	N:m	put
epidemije	N:f	epidemija
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
i	CONJ	i
apokalipse	N:f	apokalipsa
.	SENT	.
Potom	ADV	potom
prelazimo	A:aen	prelazimo
na	PREP	na
sekvencu	N:f	sekvenca
skladne	A:aef	skladan
porodice	N:f	porodica
'	N:m	'
za	PREP	za
doručkom	N:m	doručak
'	N:m	'
koja	PRO	koji
potom	ADV	potom
(	PUNCT	(
i	CONJ	i
bukvalno	ADV	bukvalno
)	PUNCT	)
ima	A:aem	ima
frontalni	A:aem	frontalan
sudar	N:m	sudar
sa	PREP	sa
događajima	N:m	događaj
iz	PREP	iz
špice	N:f	špica
.	SENT	.
Imamo	N:m	Imamo
potom	ADV	potom
par	N:m	par
akcionih	A:aem	akcioni
scena	N:f	scena
,	PUNCT	,
ali	CONJ	ali
već	PAR	već
tu	PRO	taj
počinje	N:f	počinje
da	CONJ	da
se	PAR	se
naslućuje	N:m	naslućuje
nesrećna	A:aem	nesrećan
Forsterova	A:aef	Forsterov
namera	N:f	namera
da	CONJ	da
svoj	PRO	sav
film	N:m	film
oblikuje	N:m	oblikuje
kao	CONJ	kao
neki	PRO	neki
zombi	N:m	zombi
-	PUNCT	-
Babel	N:f	Babel
koji	PRO	koji
pokazuje	N:m	pokazuje
kako	CONJ	kako
jedna	NUM	jedan
takva	PRO	takav
opasnost	N:f	opasnost
može	A:aem	može
da	CONJ	da
nas	PRO	mi
udruži	A:aem	udruži
i	CONJ	i
po	PREP	po
socijalnoj	A:aef	socijalan
vertikali	N:f	vertikala
i	CONJ	i
po	PREP	po
geografskim	A:aem	geografski
horizontalama	N:f	horizontala
.	SENT	.
Film	N:m	film
nije	N:f	nije
pošteno	ADV	pošteno
ni	PAR	ni
počeo	V:m	početi
,	PUNCT	,
a	CONJ	a
Brad	N:m	Brad
je	PRO	ona
već	PAR	već
'	N:m	'
usvojio	V:m	usvojiti
'	A:aem	'
malog	A:aem	mali
meksičkog	A:aem	meksički
emigranta	N:m	emigrant
,	PUNCT	,
njegov	PRO	njegov
pretpostavljeni	A:aem	pretpostavljen
je	PRO	ona
Afrikanac	N:m	Afrikanac
,	PUNCT	,
a	CONJ	a
doktor	N:m	doktor
sa	PREP	sa
kojim	PRO	koji
kreće	A:aem	kreće
u	PREP	u
misiju	N:f	misija
zove	N:f	zova
se	PAR	se
Fasbah	N:m	Fasbah
.	SENT	.
Babel	N:f	Babel
efekat	N:m	efekt
još	ADV	još
više	ADV	više
dolazi	N:m	dolaz
do	PREP	do
izražaja	N:m	izražaj
kada	CONJ	kada
Pitt	A:aem	Pitt
krene	N:m	kren
na	PREP	na
turneju	N:f	turneja
po	PREP	po
svetu	A:aen	svet
tražeći	N:n	tražeći
mu	PRO	on
leka	N:m	lek
.	SENT	.
Sve	PRO	sav
ono	PRO	onaj
što	PRO	što
CNN	N:m	CNN
stavlja	N:n	stavlja
u	PREP	u
svoje	PRO	svoj
reklamne	A:aef	reklamni
džinglove	A:aef	džinglove
sačekaće	N:f	sačekaće
vas	PRO	vi
i	PAR	i
ovde	ADV	ovde
u	PREP	u
svom	PRO	sav
manje	ADV	manje
atraktivnom	A:aem	atraktivan
obliku	N:m	oblik
.	SENT	.
Da	CONJ	da
World	N:m	World
War	N:m	War
Z	A:aem	Z
nije	N:f	nije
koncipiran	V:m	koncipirati
tako	ADV	tako
da	CONJ	da
previše	ADV	previše
plaši	A:aem	plaši
tj	ABB	tj
da	CONJ	da
bude	A:aem	bude
'	N:m	'
samo	CONJ	samo
horor	N:m	horor
'	A:aem	'
govori	N:m	govor
i	CONJ	i
to	PRO	taj
što	CONJ	što
jezivih	A:aem	jeziv
momenata	N:m	moment
u	PREP	u
dejstvu	N:n	dejstvo
zombija	N:m	zombi
i	CONJ	i
nema	A:aem	nem
i	CONJ	i
njihovi	PRO	njihov
napadi	N:m	napad
su	N:m	su
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
u	PREP	u
najefektnijim	A:cef	efektan
scenama	N:f	scena
,	PUNCT	,
zakamuflirani	V:m	zakamuflirati
Forsterovom	A:aef	Forsterov
režijom	N:f	režija
koja	PRO	koji
mulja	N:m	mulj
kameru	N:f	kamera
levo	ADV	levo
-	PUNCT	-
desno	ADV	desno
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
u	PREP	u
montaži	N:f	montaža
kadrove	N:m	kadar
skraćuje	N:f	skraćuje
na	PREP	na
milisekund	N:m	milisekund
.	SENT	.
Dobijeni	A:aem	dobijen
rezultat	N:m	rezultat
je	PRO	ona
skoro	ADV	skoro
Disney	A:aem	Disney
-	PUNCT	-
friendly	A:aem	friendly
fleš	N:m	fleš
.	PUNCT	.
Iako	CONJ	iako
se	PAR	se
u	PREP	u
kastu	N:f	kasta
nalaze	N:m	nalaz
i	CONJ	i
Nikola	N:m	Nikola
Đuričko	N:m	Đuričko
i	CONJ	i
fenomenalni	A:aem	fenomenalan
Peter	N:m	Peter
Capaldi	N:f	Capaldi
(	PUNCT	(
KAKO	A:aem	KAKO
KO	N:m	Ko
,	PUNCT	,
BOKTEJEBO	N:f	BOKTEJEBO
?	PUNCT	?
!	PUNCT	!
!	SENT	!
)	PUNCT	)
Forster	N:m	Forster
je	PRO	ona
malo	ADV	malo
toga	PRO	taj
postigao	V:m	postignuti
sa	PREP	sa
ne	PAR	ne
-	PUNCT	-
holivudskim	A:aef	holivudski
kastom	N:f	kasta
i	CONJ	i
njegova	PRO	njegov
tipično	ADV	tipično
holivudski	A:aem	holivudski
krojena	A:aef	krojen
melodrama	N:f	melodrama
nije	V:f	nije
uspela	V:f	uspeti
da	CONJ	da
dobaci	V:f	dobaci
čak	PAR	čak
ni	PAR	ni
doautentike	N:f	doautentike
aerodromskih	A:aem	aerodromski
suvenira	N:m	suvenir
koju	PRO	koji
je	PRO	ona
posedovao	V:m	posedovati
Inarrituov	A:aem	Inarrituov
film	N:m	film
.	SENT	.
To	PRO	taj
da	CONJ	da
Amerikanac	N:m	Amerikanac
na	PREP	na
kraju	N:m	kraj
spasava	A:aem	spasava
svet	N:m	svet
i	CONJ	i
ne	PAR	ne
bodi	N:f	boda
oči	N:f	oči
toliko	ADV	toliko
koliko	ADV	koliko
(	PUNCT	(
impresivna	A:aen	impresivan
)	PUNCT	)
teza	N:f	teza
da	CONJ	da
će	N:n	će
nas	PRO	mi
od	PREP	od
mrtvih	A:aem	mrtav
koji	PRO	koji
su	N:m	su
ustali	V:m	ustati
spasiti	A:aem	spasiti
samo	CONJ	samo
to	PRO	taj
da	CONJ	da
se	PAR	se
pravimo	N:f	pravimo
da	CONJ	da
i	CONJ	i
mi	PRO	ja
umiremo	N:f	umiremo
.	SENT	.
Ima	A:aem	Ima
nečeg	PRO	nešto
duhovito	ADV	duhovito
pesimističnog	A:aem	pesimističan
u	PREP	u
svemu	PRO	sav
tome	PRO	taj
.	PUNCT	.
