Kad	CONJ	kad
se	PAR	se
autor	N:m	autor
ogradi	N:f	ograda
od	PREP	od
odgovornosti	N:f	odgovornost
za	PREP	za
umetničke	A:aef	umetnički
izbore	N:m	izbor
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
to	PRO	taj
učinio	V:m	učiniti
McQueen	N:f	McQueen
u	PREP	u
podnaslovu	N:m	podnaslov
ovog	PRO	ovaj
teksta	N:m	tekst
,	PUNCT	,
onda	ADV	onda
može	A:aem	može
kako	CONJ	kako
hoće	A:aem	hoće
.	SENT	.
Publika	N:f	publika
,	PUNCT	,
međutim	PAR	međutim
,	PUNCT	,
ne	PAR	ne
može	A:aen	može
kako	CONJ	kako
hoće	A:aen	hoće
,	PUNCT	,
a	CONJ	a
pogotovo	ADV	pogotovo
ne	PAR	ne
može	A:aen	može
da	CONJ	da
neće	A:aen	neće
ukoliko	CONJ	ukoliko
ne	PAR	ne
želi	V:m	žeti
da	CONJ	da
bude	A:aem	bude
optužena	A:aem	optužen
za	PREP	za
teški	A:aem	težak
konzervativizam	N:m	konzervativizam
tipa	N:m	tip
onog	PRO	onaj
Platonovog	A:aem	Platonov
(	PUNCT	(
koji	PRO	koji
je	PRO	ona
pesnike	N:m	pesnik
u	PREP	u
društvu	N:n	društvo
smatrao	V:m	smatrati
nepoželjnima	A:aem	nepoželjan
,	PUNCT	,
jer	CONJ	jer
stvaraju	N:m	stvaraju
u	PREP	u
zanosu	N:m	zanos
i	CONJ	i
ne	PAR	ne
znaju	N:m	znaju
šta	PRO	šta
rade	N:f	rada
)	PUNCT	)
.	SENT	.
Tako	ADV	tako
je	PRO	ona
i	CONJ	i
na	PREP	na
ovogodišnjem	A:aem	ovogodišnji
Festivalu	N:m	festival
autorskog	A:aen	autorski
filma	N:m	film
sa	PREP	sa
projekcije	N:f	projekcija
McQueenovog	A:aem	McQueenovog
filma	N:m	film
izašla	V:f	izaći
samo	PAR	samo
nekolicina	N:f	nekolicina
ljudi	N:m	ljudi
,	PUNCT	,
a	CONJ	a
dupke	ADV	dupke
puna	A:aef	pun
sala	N:f	sala
junački	ADV	junački
je	PRO	ona
izdržala	V:n	izdržati
do	PREP	do
kraja	N:m	kraj
.	SENT	.
Skrećući	A:aem	Skrećući
pogled	N:m	pogled
sa	PREP	sa
platna	N:n	platno
u	PREP	u
pojedinim	A:aen	pojedini
scenama	N:f	scena
susrela	V:n	susresti
sam	PRO	sam
mnogobrojne	A:aem	mnogobrojan
tuđe	A:aen	tuđ
skrenute	A:aem	skrenut
poglede	N:m	pogled
,	PUNCT	,
a	CONJ	a
videla	V:f	videti
sam	PRO	sam
i	CONJ	i
one	PRO	onaj
neskrenute	A:aef	neskrenute
,	PUNCT	,
upiljene	A:aef	upiljen
,	PUNCT	,
koji	PRO	koji
su	N:m	su
pomno	ADV	pomno
zurili	V:m	zuriti
u	PREP	u
scene	N:f	scena
neskrivenog	A:aem	neskriven
nasilja	N:n	nasilje
i	CONJ	i
ljudske	A:aef	ljudski
patnje	N:f	patnja
.	SENT	.
Skrenuti	A:aem	skrenut
su	N:m	su
bili	V:m	biti
kukavički	A:aem	kukavički
,	PUNCT	,
neskrenuti	A:aem	neskrenuti
manijački	A:aem	manijački
.	SENT	.
Obe	NUM	oba
ove	PRO	ovaj
ljudske	A:aef	ljudski
osobine	N:f	osobina
teško	ADV	teško
je	PRO	ona
opravdati	V:m	opravdati
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
posle	PREP	posle
filma	N:m	film
iz	PREP	iz
mnogih	A:aef	mnogi
usta	N:n	usta
čulo	V:n	čuti
kako	CONJ	kako
je	PRO	ona
film	N:m	film
fantastičan	A:aem	fantastičan
iako	CONJ	iako
je	PRO	ona
odvratan	A:aem	odvratan
!	SENT	!
Šokiranjem	A:aem	Šokiranjem
auditorijuma	N:m	auditorijum
bavili	V:m	baviti
su	N:m	su
se	PAR	se
razni	A:aem	razni
autori	N:m	autor
u	PREP	u
razna	A:aen	razna
vremena	N:n	vreme
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
uvek	ADV	uvek
tumačeno	V:n	tumačiti
kao	CONJ	kao
prodrmavanje	N:n	prodrmavanje
malograđana	N:m	malograđanin
u	PREP	u
njihovoj	PRO	njihov
tuposti	N:f	tupost
i	CONJ	i
licemerju	N:n	licemerje
prema	PREP	prema
socijalnim	A:aen	socijalan
problemima	N:m	problem
društva	N:n	društvo
.	SENT	.
Bunuelov	A:aem	Bunuelov
Andaluzijski	A:aem	andaluzijski
pas	N:m	pas
u	PREP	u
čuvenoj	A:aef	čuven
sceni	N:f	scena
sečenja	N:n	sečenje
oka	N:n	oko
žiletom	N:m	žilet
bio	V:m	biti
je	PRO	ona
tumačen	A:aem	tumačen
kao	CONJ	kao
asociranje	N:n	asociranje
na	PREP	na
teskobne	A:aef	teskoban
sadržaje	N:m	sadržaj
podsvesti	N:f	podsvest
,	PUNCT	,
tako	ADV	tako
drago	ADV	drago
avangardi	N:f	avangarda
i	CONJ	i
nadrealizmu	N:m	nadrealizam
.	SENT	.
McQueen	N:f	McQueen
,	PUNCT	,
pak	PAR	pak
,	PUNCT	,
pričajući	A:aem	pričajući
istinitu	A:aef	istinit
priču	N:f	priča
o	PREP	o
vođi	N:m	vođ
irskih	A:aem	irski
pobunjenika	N:m	pobunjenik
Bobbyju	A:aem	Bobbyju
Sandsu	N:m	Sandsu
(	PUNCT	(
Michael	N:m	Michael
Fasssbender	N:m	Fasssbender
)	PUNCT	)
i	CONJ	i
njegovoj	PRO	njegov
smrti	N:f	smrt
zbog	PREP	zbog
štrajka	N:m	štrajk
glađu	N:f	glad
u	PREP	u
britanskom	A:aen	britanski
zatvoru	N:m	zatvor
Maze	N:m	Maze
1981	NUM	@card@
,	PUNCT	,
ne	PAR	ne
bavi	V:m	bavi
se	PAR	se
podsvešću	N:f	podsvest
.	SENT	.
Naprotiv	PAR	naprotiv
,	PUNCT	,
poetski	A:aem	poetski
dokumentarizam	N:m	dokumentarizam
njegove	PRO	njegov
režije	N:f	režija
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
kamere	N:f	kamera
Seana	N:m	Seana
Bobbitta	N:f	Bobbitta
,	PUNCT	,
okrenuti	A:aem	okrenut
su	N:m	su
realnosti	N:f	realnost
do	PREP	do
tačke	N:f	tačka
njenog	PRO	njen
pretvaranja	N:n	pretvaranje
u	PREP	u
sopstvenu	A:aef	sopstven
suprotnost	N:f	suprotnost
.	SENT	.
Američka	A:aen	Američka
,	PUNCT	,
tročinska	A:aen	tročinska
dramaturgija	N:f	dramaturgija
filma	N:m	film
striktna	A:aef	striktan
je	PRO	ona
i	CONJ	i
ima	N:m	ima
A	ABB	A
-	PUNCT	-
B	ABB	B
-	PUNCT	-
A	ABB	A
šemu	N:f	šema
:	PUNCT	:
vizuelna	A:aef	vizuelan
motivacija	N:f	motivacija
,	PUNCT	,
verbalna	A:aef	verbalan
eksplikacija	N:f	eksplikacija
i	CONJ	i
vizuleni	A:aem	vizuleni
patos	N:m	patos
.	SENT	.
Motivacija	N:f	motivacija
pokazuje	N:m	pokazuje
uzroke	N:m	uzrok
budućih	A:aen	budući
događaja	N:m	događaj
,	PUNCT	,
eskplikacija	N:f	eskplikacija
objašnjava	A:aem	objašnjava
ono	PRO	onaj
što	CONJ	što
će	A:aem	će
doći	N:m	doći
,	PUNCT	,
a	CONJ	a
patos	N:m	patos
je	PRO	ona
gradirana	A:aef	gradiran
propast	N:f	propast
junaka	N:m	junak
.	PUNCT	.
Ne	PAR	ne
ulazeći	A:aem	ulazeći
u	PREP	u
pojedinosti	N:f	pojedinost
irsko	A:aen	irski
-	PUNCT	-
britanskih	A:aef	britanski
problema	N:m	problem
,	PUNCT	,
u	PREP	u
Gladi	N:m	Gladi
je	PRO	ona
prikazan	A:aem	prikazan
opšti	A:aem	opšti
problem	N:m	problem
onih	PRO	onaj
koji	PRO	koji
se	PAR	se
bore	N:f	bora
za	PREP	za
svoja	PRO	svoj
prava	N:n	pravo
sa	PREP	sa
onima	PRO	onaj
koji	PRO	koji
im	PRO	ona
ta	PRO	taj
prava	N:n	pravo
osporavaju	N:f	osporavaju
.	SENT	.
Prvi	A:aem	prvi
su	N:m	su
oličeni	V:m	oličiti
u	PREP	u
Sandsu	N:m	Sandsu
opredeljenom	A:aem	opredeljen
za	PREP	za
fatalističku	A:aef	fatalistički
krilaticu	N:f	krilatica
„	A:aem	„
Bolje	N:f	Bolje
grob	N:m	grob
nego	CONJ	nego
rob	N:m	rob
!	PUNCT	!
“	N:m	“
,	PUNCT	,
a	CONJ	a
drugi	A:aem	drugi
u	PREP	u
autistično	A:aen	autističan
stupornoj	A:aef	stupornoj
majci	N:f	majka
jednog	NUM	jedan
od	PREP	od
zatvorskih	A:aef	zatvorski
čuvara	N:m	čuvar
koja	PRO	koji
ne	PAR	ne
reaguje	N:m	reaguje
ni	PAR	ni
na	PREP	na
šta	PRO	šta
pa	CONJ	pa
ni	PAR	ni
na	PREP	na
sina	N:m	sin
koji	PRO	koji
joj	PRO	ona
mrtav	A:aem	mrtav
pada	N:m	pad
u	PREP	u
krilo	N:n	krilo
.	SENT	.
Iako	CONJ	iako
su	N:m	su
sve	PRO	sav
mogućnosti	N:f	mogućnost
filmskog	A:aem	filmski
jezika	N:m	jezik
upotrebljene	A:aem	upotrebljen
na	PREP	na
najprecizniji	A:cem	precizan
način	N:m	način
i	CONJ	i
dočaravaju	N:m	dočaravaju
niz	PREP	niz
ideološko	A:aen	ideološki
-	PUNCT	-
filozofskih	A:aef	filozofski
teorijskih	A:aem	teorijski
stavova	N:m	stav
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
sve	PRO	sav
to	PRO	taj
mnogo	ADV	mnogo
više	ADV	više
pogoduje	N:m	pogoduje
niskim	A:aen	nizak
strastima	N:f	strast
prikazivanja	N:n	prikazivanje
užasa	N:m	užas
i	CONJ	i
telesnosti	N:f	telesnost
kao	CONJ	kao
svojevsnog	A:aem	svojevsnog
horor	N:m	horor
-	PUNCT	-
pornića	N:m	pornić
nego	CONJ	nego
angažovanog	A:aem	angažovan
filma	N:m	film
.	PUNCT	.
Kao	CONJ	kao
kad	CONJ	kad
bi	A:aem	bi
čovek	N:m	čovek
savršeno	ADV	savršeno
naučio	V:m	naučiti
strani	A:aem	stran
jezik	N:m	jezik
,	PUNCT	,
imao	V:m	imati
bogat	A:aem	bogat
rečnik	N:m	rečnik
,	PUNCT	,
govorio	V:m	govoriti
bez	PREP	bez
akcenta	N:m	akcent
i	CONJ	i
sa	PREP	sa
svim	PRO	sav
mogućim	A:aen	moguć
stilskim	A:aef	stilski
finesama	N:f	finesa
,	PUNCT	,
no	CONJ	no
kad	CONJ	kad
bi	A:aem	bi
sadržaj	N:m	sadržaj
njegovog	PRO	njegov
govora	N:m	govor
bio	V:m	biti
bez	PREP	bez
poente	N:f	poenta
,	PUNCT	,
a	CONJ	a
sve	ADV	sve
ostalo	V:n	ostati
tek	CONJ	tek
puki	A:aem	puki
verbalni	A:aem	verbalan
ezgibicionizam	N:m	ezgibicionizam
.	SENT	.
