Premijerno	A:aen	premijerni
prikazana	V:m	prikazati
na	PREP	na
prošlogodišnjem	A:aem	prošlogodišnji
SXSW	N:m	SXSW
,	PUNCT	,
filmska	A:aef	filmski
adaptacija	N:f	adaptacija
Jonasa	N:m	Jonasa
Akerlunda	N:m	Akerlunda
(	PUNCT	(
Jonas	N:m	Jonas
Åkerlund	N:m	Åkerlund
)	PUNCT	)
istoimenog	A:aen	istoimen
romana	N:m	roman
Krisa	N:m	Kris
Milsa	N:m	Mils
(	PUNCT	(
Chris	N:m	Chris
Millis	N:m	Millis
)	PUNCT	)
iako	CONJ	iako
je	PRO	ona
osvojila	V:n	osvojiti
brojne	A:aem	brojni
ovacije	N:f	ovacije
posetilaca	N:m	posetilac
festivala	N:m	festival
,	PUNCT	,
zaista	PAR	zaista
je	PRO	ona
dugo	A:aen	dug
vremena	N:n	vreme
čekala	V:n	čekati
da	CONJ	da
se	PAR	se
pojavi	N:f	pojava
u	PREP	u
nekoj	PRO	neki
široj	A:bef	širok
distribuciji	N:f	distribucija
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
većina	N:f	većina
vas	PRO	vi
koji	PRO	koji
čitate	N:m	čitate
ovaj	PRO	ovaj
blog	N:m	blog
redovnije	A:bef	redovan
već	PAR	već
znate	V:f	znati
,	PUNCT	,
veliki	A:aem	velik
sam	A:aem	sam
ljubitelj	N:m	ljubitelj
crnog	A:aem	crn
i	CONJ	i
neobičnog	A:aem	neobičan
humora	N:m	humor
,	PUNCT	,
a	CONJ	a
isto	ADV	isto
tako	ADV	tako
i	CONJ	i
surealnih	A:aem	surealnih
i	CONJ	i
sanovitih	A:aem	sanovitih
filmova	N:m	film
,	PUNCT	,
što	CONJ	što
vam	PRO	vi
već	PAR	već
unapred	ADV	unapred
govori	N:m	govor
da	CONJ	da
sam	PRO	sam
vrlo	ADV	vrlo
nestrpljivo	ADV	nestrpljivo
očekivao	V:m	očekivati
ovaj	PRO	ovaj
film	N:m	film
jer	CONJ	jer
kombinuje	N:m	kombinuje
gore	ADV	gore
navedene	A:aef	naveden
elemente	N:m	element
.	SENT	.
Uvidevši	N:m	Uvidevši
kakvu	PRO	kakav
je	PRO	ona
glumačku	A:aef	glumački
ekipu	N:f	ekipa
uspeo	V:m	uspeti
da	CONJ	da
okupi	N:m	okup
,	PUNCT	,
predvođenu	A:aef	predvođen
britanskim	A:aef	britanski
komičarom	N:m	komičar
Metom	N:f	Meta
Lukasom	N:m	Lukas
(	PUNCT	(
Matt	A:aem	Matt
Lucas	N:m	Lucas
)	PUNCT	)
,	PUNCT	,
najpoznatijem	A:cem	poznat
po	PREP	po
svom	PRO	sav
doprinosu	N:m	doprinos
televizijskoj	A:aef	televizijski
seriji	N:f	serija
“	A:aem	“
Little	N:m	Little
Britain	A:aem	Britain
“	N:m	“
,	PUNCT	,
Jonas	N:m	Jonas
Akerlund	N:m	Akerlund
je	PRO	ona
već	PAR	već
na	PREP	na
papiru	N:m	papir
obećavao	V:m	obećavati
da	CONJ	da
će	V:m	će
njegov	PRO	njegov
film	N:m	film
biti	N:f	bit
vrlo	ADV	vrlo
zabavan	A:aem	zabavan
i	CONJ	i
neobičan	A:aem	neobičan
.	SENT	.
Priča	A:aem	Priča
filma	N:m	film
“	A:aem	“
Small	N:m	Small
Apartments	N:m	Apartments
”	N:m	”
se	PAR	se
centrira	N:m	centrira
oko	PREP	oko
bledog	A:aen	bled
,	PUNCT	,
nezdravo	A:aen	nezdrav
gojaznog	A:aem	gojazan
čudaka	N:m	čudak
po	PREP	po
imenu	N:n	ime
Frenklin	N:m	Frenklin
,	PUNCT	,
koji	PRO	koji
svoje	PRO	svoj
vreme	N:n	vreme
provodi	N:m	provod
u	PREP	u
malom	A:aen	mali
apartmanu	N:m	apartman
,	PUNCT	,
sedeći	A:aem	sedeći
polugolišav	N:m	polugolišav
,	PUNCT	,
cugajući	A:aem	cugajući
gazirane	A:aem	gaziran
sokove	N:m	sok
,	PUNCT	,
posmatrajući	A:aem	posmatrajući
komšiluk	N:m	komšiluk
dvogledom	N:m	dvogled
i	CONJ	i
svirajući	N:f	svirajući
svoj	PRO	sav
“	A:aem	“
alpenhorn	N:m	alpenhorn
”	N:m	”
.	PUNCT	.
Iako	CONJ	iako
prilično	ADV	prilično
asocijalan	A:aem	asocijalan
,	PUNCT	,
Frenklin	N:m	Frenklin
izuzetno	ADV	izuzetno
voli	N:m	Voli
društvo	N:n	društvo
svoga	PRO	svoj
psa	N:m	pas
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
svoga	PRO	svoj
brata	N:m	brata
,	PUNCT	,
koji	PRO	koji
se	PAR	se
trenutno	ADV	trenutno
nalazi	N:m	nalaz
u	PREP	u
mentalnoj	A:aef	mentalan
instituciji	N:f	institucija
.	SENT	.
Pored	PREP	pored
toga	PRO	taj
što	ADV	što
veći	A:bem	velik
deo	N:m	deo
uvoda	N:m	uvod
film	N:m	film
troši	A:aem	troši
na	PREP	na
predstavljanje	N:n	predstavljanje
protagoniste	N:m	protagonista
,	PUNCT	,
“	A:aem	“
Small	N:m	Small
Apartments	N:m	Apartments
”	N:m	”
nam	PRO	mi
iznenada	ADV	iznenada
pokazuje	N:f	pokazuje
da	CONJ	da
se	PAR	se
u	PREP	u
Frenklinovom	A:aem	Frenklinovom
stanu	N:m	stan
nalazi	N:m	nalaz
i	CONJ	i
jedan	NUM	jedan
leš	N:m	leš
koji	PRO	koji
on	PRO	on
kako	ADV	kako
zna	A:aem	zna
i	CONJ	i
ume	N:m	um
u	PREP	u
tajnosti	N:f	tajnost
mora	N:n	more
da	CONJ	da
odstrani	A:aem	odstrani
,	PUNCT	,
ne	PAR	ne
bi	V:m	bi
li	PAR	li
ga	PRO	on
njegove	PRO	njegov
podjednako	ADV	podjednako
uvrnute	V:f	uvrnuti
komšile	V:f	komšile
provalile	V:f	provaliti
i	CONJ	i
prijavile	V:f	prijaviti
ga	PRO	on
policiji	N:f	policija
kao	CONJ	kao
ubicu	N:m	ubica
.	SENT	.
U	PREP	u
samoj	PRO	sam
svojoj	PRO	svoj
osnovi	N:f	osnova
,	PUNCT	,
“	A:aem	“
Small	N:m	Small
Apartments	N:m	Apartments
”	N:m	”
mi	PRO	ja
je	PRO	ona
delovao	V:m	delovati
kao	ADV	kao
savršeno	ADV	savršeno
izbalansirana	V:f	izbalansirati
kombinacija	N:f	kombinacija
filmova	N:m	film
“	A:aem	“
Wrong	N:m	Wrong
”	N:m	”
i	CONJ	i
”	N:m	”
A	ABB	A
Glimpse	N:m	Glimpse
Inside	N:m	Inside
the	N:m	the
Mind	N:m	Mind
of	N:m	of
Charles	N:m	Charles
Swan	N:m	Swan
III	A:aem	III
”	N:m	”
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
nažalost	ADV	nažalost
ipak	PAR	ipak
mnogo	ADV	mnogo
više	ADV	više
povukao	V:m	povući
na	PREP	na
drugi	A:aem	drugi
navedeni	A:aem	naveden
projekat	N:m	projekt
.	PUNCT	.
Iako	CONJ	iako
u	PREP	u
teoriji	N:f	teorija
pun	A:aem	pun
vrlo	ADV	vrlo
bogatih	A:aef	bogat
i	CONJ	i
drugačijih	A:aen	drugačiji
likova	N:n	likovo
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
nepredvidivih	A:aem	nepredvidiv
i	CONJ	i
bizarnih	A:aem	bizaran
okreta	N:m	okret
u	PREP	u
priči	N:f	priča
,	PUNCT	,
narativ	A:aem	narativ
filma	N:m	film
“	A:aem	“
Small	N:m	Small
Apartments	N:m	Apartments
”	N:m	”
se	PAR	se
šokatno	A:aen	šokatno
sporo	ADV	sporo
kreće	A:aem	kreće
i	CONJ	i
ored	A:aem	ored
toga	PRO	taj
što	CONJ	što
generalno	A:aen	generalan
prikazuje	N:f	prikazuje
interesantne	A:aef	interesantan
i	CONJ	i
neobične	A:aef	neobičan
momente	N:m	moment
,	PUNCT	,
uspeva	N:m	uspeva
kroz	PREP	kroz
čitav	A:aem	čitav
svoj	PRO	sav
tok	N:m	tok
da	CONJ	da
stvara	N:m	stvara
vrlo	ADV	vrlo
mlak	A:aem	mlak
utisak	N:m	utisak
.	SENT	.
Film	N:m	film
zaista	PAR	zaista
ima	V:m	ima
dosta	ADV	dosta
simpatičnih	A:aem	simpatičan
momenata	N:m	moment
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
vrlo	ADV	vrlo
duhovitih	A:aef	duhovit
opaski	N:f	opaska
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
atmosfera	N:f	atmosfera
vrlo	ADV	vrlo
troma	A:aen	trom
i	CONJ	i
automatski	ADV	automatski
formira	N:f	formira
barijeru	N:f	barijera
između	PREP	između
publike	N:f	publika
i	CONJ	i
filma	N:m	film
,	PUNCT	,
odnosno	PAR	odnosno
stvara	N:m	stvara
unapred	ADV	unapred
odbojan	A:aem	odbojan
stav	N:m	stav
.	SENT	.
“	A:aem	“
Small	N:m	Small
Aartments	N:f	Aartments
”	N:m	”
je	PRO	ona
čak	PAR	čak
i	CONJ	i
korektno	A:aen	korektan
snimiljen	V:m	snimiljen
,	PUNCT	,
ima	A:aem	ima
i	CONJ	i
dobru	A:aem	dobar
fotografiju	N:f	fotografija
i	CONJ	i
setove	N:m	set
,	PUNCT	,
ali	CONJ	ali
opet	ADV	opet
,	PUNCT	,
kroz	PREP	kroz
čitavo	A:aen	čitav
trajanje	N:n	trajanje
se	PAR	se
oseća	V:n	oseća
da	CONJ	da
“	N:m	“
nešto	PRO	nešto
nedostaje	N:f	nedostaje
”	N:m	”
.	SENT	.
Sam	A:aem	sam
odnos	N:m	odnos
prema	PREP	prema
protagonisti	N:m	protagonista
je	PRO	ona
vrlo	ADV	vrlo
konfuzan	A:aem	konfuzan
.	SENT	.
Autor	N:m	autor
niti	CONJ	niti
u	PREP	u
jednom	NUM	jedan
momentu	N:m	moment
ne	PAR	ne
daje	N:m	daje
nikakve	PRO	nikakav
smernice	N:f	smernica
da	CONJ	da
li	PAR	li
od	PREP	od
nas	PRO	mi
želi	V:m	žeti
da	CONJ	da
se	PAR	se
saosećamo	N:f	saosećamo
sa	PREP	sa
ovim	PRO	ovaj
sociopatom	N:m	sociopata
ili	CONJ	ili
da	CONJ	da
ga	PRO	on
preziremo	N:m	preziremo
ili	CONJ	ili
jednostavno	ADV	jednostavno
melanholično	A:aen	melanholičan
posmatramo	N:f	posmatramo
?	PUNCT	?
Ako	CONJ	ako
je	PRO	ona
ovo	PRO	ovaj
treće	A:aen	treći
ipak	PAR	ipak
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
ne	PAR	ne
znam	N:m	znam
šta	PRO	šta
je	PRO	ona
postigao	V:m	postignuti
time	PRO	taj
osim	PREP	osim
što	PRO	što
je	PRO	ona
u	PREP	u
startu	N:m	start
distancirao	V:m	distancirati
publiku	N:f	publika
.	SENT	.
Čitav	A:aem	Čitav
glumački	A:aem	glumački
sastav	N:m	sastav
je	PRO	ona
korektan	A:aem	korektan
.	SENT	.
Džoni	N:m	Džoni
Noksvil	N:m	Noksvil
(	PUNCT	(
Johnny	A:aem	Johnny
Knoxville	N:m	Knoxville
)	PUNCT	)
je	PRO	ona
vrlo	ADV	vrlo
dobar	A:aem	dobar
kao	CONJ	kao
progresivni	A:aem	progresivan
panker	N:m	panker
,	PUNCT	,
Džuno	N:m	Džuno
Temlp	N:m	Temlp
(	PUNCT	(
Juno	N:f	Juno
Temple	N:m	Templ
)	PUNCT	)
isto	ADV	isto
korektno	A:aen	korektan
iznosi	N:m	iznos
ono	PRO	onaj
što	PRO	što
se	PAR	se
od	PREP	od
nje	PRO	ona
traži	N:m	traži
,	PUNCT	,
a	CONJ	a
čak	PAR	čak
se	PAR	se
i	CONJ	i
Bili	N:m	Bili
Kristal	N:m	Kristal
(	PUNCT	(
Billy	A:aem	Billy
Crystal	N:m	Crystal
)	PUNCT	)
pokazao	V:m	pokazati
bolje	ADV	bolje
nego	CONJ	nego
što	ADV	što
sam	PRO	sam
mislio	V:m	misliti
.	SENT	.
Džejms	N:m	Džejms
Marsden	N:m	Marsden
(	PUNCT	(
James	N:f	James
Marsden	N:m	Marsden
)	PUNCT	)
,	PUNCT	,
Dolf	N:m	Dolf
Lungren	A:aem	Lungren
(	PUNCT	(
Dolph	A:aem	Dolph
Lundgren	N:m	Lundgren
)	PUNCT	)
,	PUNCT	,
Rebel	N:f	Rebel
Vilson	N:m	Vilson
(	PUNCT	(
Rebel	N:f	Rebel
Wilson	N:m	Wilson
)	PUNCT	)
i	CONJ	i
Piter	N:m	Piter
Stormar	N:m	Stormar
(	PUNCT	(
Peter	N:m	Peter
Stormare	N:m	Stormare
)	PUNCT	)
su	N:m	su
sjajni	A:aem	sjajan
u	PREP	u
svojim	PRO	svoj
epizodnim	A:aef	epizodan
rolama	N:f	rola
.	PUNCT	.
Iako	CONJ	iako
me	PRO	ja
je	PRO	ona
u	PREP	u
određenim	A:aem	određenim
momentima	N:m	moment
držao	V:m	držati
zaintrigiranim	A:aem	zaintrigiranim
i	CONJ	i
sa	PREP	sa
vremena	N:n	vreme
na	PREP	na
vreme	N:n	vreme
uspeo	V:m	uspeti
da	CONJ	da
nasmeje	N:m	nasmeje
,	PUNCT	,
film	N:m	film
“	A:aem	“
Small	N:m	Small
Apartments	N:m	Apartments
”	N:m	”
sam	PRO	sam
ipak	PAR	ipak
većinskim	A:aef	većinski
delom	N:m	deo
posmatrao	V:m	posmatrati
previše	ADV	previše
melanholično	A:aen	melanholičan
da	CONJ	da
bih	A:aen	bih
ga	PRO	on
na	PREP	na
kraju	N:m	kraj
preporučio	V:m	preporučiti
ljudima	N:m	ljudi
da	CONJ	da
gledaju	N:m	gledaju
.	SENT	.
Prilično	A:aen	Prilično
pomešani	A:aem	pomešan
utisci	N:m	utisak
,	PUNCT	,
ali	CONJ	ali
daleko	ADV	daleko
do	PREP	do
toga	PRO	taj
da	CONJ	da
bih	A:aem	bih
film	N:m	film
pogledao	V:m	pogledati
još	ADV	još
koji	PRO	koji
put	N:f	put
.	SENT	.
