Mađarska	N:f	Mađarska
grofica	N:f	grofica
Erzebet	N:m	Erzebet
Bathory	N:m	Bathory
upamćena	V:n	upamtiti
je	PRO	ona
kao	CONJ	kao
'	A:aem	'
krvava	A:aef	krvav
grofica	N:f	grofica
'	N:m	'
:	SENT	:
navodno	ADV	navodno
,	PUNCT	,
u	PREP	u
želji	N:f	želja
za	PREP	za
večnom	A:aef	večan
mladošću	N:f	mladost
,	PUNCT	,
kupala	V:f	kupati
se	PAR	se
u	PREP	u
krvi	N:f	krv
siromašnih	A:aen	siromašan
devica	N:f	devica
.	SENT	.
Legenda	N:f	legenda
o	PREP	o
njoj	PRO	ona
ovekovečena	V:f	ovekovečiti
je	PRO	ona
u	PREP	u
nizu	N:m	niz
B	ABB	B
-	PUNCT	-
horor	N:m	horor
filmova	N:m	film
iz	PREP	iz
ranih	A:aef	ran
1970	NUM	@card@
-	PUNCT	-
ih	INT	ih
(	PUNCT	(
Countess	N:m	Countess
Dracula	N:m	Dracula
,	PUNCT	,
Daughters	N:m	Daughters
of	N:m	of
Darkness	N:m	Darkness
.	PUNCT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
pa	CONJ	pa
i	CONJ	i
u	PREP	u
omnibusu	N:m	omnibus
Immoral	N:m	Immoral
Tales	N:m	Tales
(	PUNCT	(
1974	NUM	@card@
)	PUNCT	)
W	ABB	W
.	PUNCT	.
Borowczyka	N:f	Borowczyka
.	SENT	.
Zadugo	ADV	zadugo
zaboravljena	V:n	zaboraviti
,	PUNCT	,
ova	PRO	ovaj
vlastelinka	N:f	vlastelinka
je	PRO	ona
u	PREP	u
razmaku	N:m	razmak
od	PREP	od
par	N:m	par
godina	N:f	godina
dobila	V:n	dobiti
čak	PAR	čak
dve	NUM	dva
ambiciozne	A:aef	ambiciozan
biografije	N:f	biografija
.	SENT	.
Slavni	A:aem	slavan
slovački	A:aem	slovački
reditelj	N:m	reditelj
Juraj	N:m	Juraj
Jakubisko	N:f	Jakubisko
prošle	A:aef	prošli
godine	N:f	godina
je	PRO	ona
izbacio	V:m	izbaciti
Bathory	N:m	Bathory
,	PUNCT	,
najskuplji	A:cem	skup
češki	A:aem	češki
film	N:m	film
ikada	ADV	ikada
(	PUNCT	(
20	NUM	@card@
miliona	N:m	milion
dolara	N:m	dolar
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
sada	ADV	sada
je	PRO	ona
pred	PREP	pred
nama	PRO	mi
i	CONJ	i
Grofica	N:f	grofica
u	PREP	u
kojoj	PRO	koji
nam	PRO	mi
Julie	N:f	Julia
Delpy	N:m	Delpy
(	PUNCT	(
poznatija	A:bef	poznat
kao	CONJ	kao
glumica	N:f	glumica
)	PUNCT	)
,	PUNCT	,
nudi	N:f	nudi
feminističku	A:aef	feministički
vizuru	N:f	vizura
na	PREP	na
zloglasnu	A:aef	zloglasan
Mađaricu	N:f	Mađarica
.	SENT	.
Oba	NUM	oba
ova	PRO	ovaj
nova	A:aef	nov
filma	N:m	film
demitologizuju	N:f	demitologizuju
famu	N:f	fama
o	PREP	o
'	N:m	'
krvavoj	A:aef	krvav
grofici	N:f	grofica
'	A:aem	'
prikazujući	N:m	prikazujući
je	PRO	ona
kao	ADV	kao
žrtvu	N:f	žrtva
okolnosti	N:f	okolnost
:	SENT	:
Jakubisko	N:m	Jakubisko
naglašava	A:aem	naglašava
istorijske	A:aef	istorijski
fakte	N:m	fakt
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
činjenicu	N:f	činjenica
da	CONJ	da
je	PRO	ona
grofica	N:f	grofica
bila	V:f	biti
suviše	ADV	suviše
bogata	A:aef	bogat
(	PUNCT	(
bogatija	A:bef	bogat
od	PREP	od
kralja	N:m	kralj
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
bio	V:m	biti
njen	PRO	njen
dužnik	N:m	dužnik
–	A:aem	–
a	CONJ	a
dug	A:aem	dug
je	PRO	ona
zao	A:aem	zao
drug	N:m	drug
!	PUNCT	!
)	SENT	)
,	PUNCT	,
i	CONJ	i
jer	CONJ	jer
je	PRO	ona
,	PUNCT	,
kao	CONJ	kao
udovica	N:f	udovica
,	PUNCT	,
bila	V:f	biti
bez	PREP	bez
(	PUNCT	(
muške	N:m	muško
)	PUNCT	)
zaštite	N:f	zaštita
.	PUNCT	.
To	PRO	taj
se	PAR	se
vidi	N:f	vida
i	CONJ	i
u	PREP	u
verziji	N:f	verzija
Julie	N:f	Julia
Delpy	N:m	Delpy
,	PUNCT	,
ali	CONJ	ali
ona	PRO	ona
naglasak	N:m	naglasak
stavlja	N:n	stavlja
na	PREP	na
zločin	N:m	zločin
protiv	PREP	protiv
srca	N:n	srce
koji	PRO	koji
grofici	N:f	grofica
poremeti	N:f	poremeti
um	N:m	um
.	SENT	.
Ona	PRO	ona
se	PAR	se
u	PREP	u
svojoj	PRO	svoj
39	NUM	@card@
-	PUNCT	-
oj	INT	oj
godini	N:f	godina
zaljubi	N:m	zaljubi
u	PREP	u
21	NUM	@card@
-	PUNCT	-
godišnjeg	A:aem	godišnji
mladića	N:m	mladić
(	PUNCT	(
Daniel	N:f	Daniel
Brühl	N:m	Brühl
)	PUNCT	)
ali	CONJ	ali
ih	PRO	ona
mahinacije	N:f	mahinacija
njegovog	PRO	njegov
oca	N:m	otac
(	PUNCT	(
William	N:m	William
Heart	N:m	Heart
)	PUNCT	)
razdvoje	N:m	razdvoje
.	SENT	.
Zato	ADV	zato
grofica	N:f	grofica
postane	V:f	postane
opsednuta	V:f	opsednuti
svojim	PRO	svoj
godinama	N:f	godina
i	CONJ	i
očuvanjem	N:n	očuvanje
mladolikog	A:aem	mladolik
tena	N:f	tena
kurom	N:f	kura
od	PREP	od
krvavih	A:aef	krvav
kupki	N:f	kupka
,	PUNCT	,
što	CONJ	što
dovodi	N:m	dovod
do	PREP	do
osude	N:f	osuda
(	PUNCT	(
i	CONJ	i
zaplene	N:f	zaplena
imetka	N:m	imetak
)	PUNCT	)
.	SENT	.
Na	PREP	na
žalost	N:f	žalost
,	PUNCT	,
ovaj	PRO	ovaj
scenario	N:m	scenario
nema	A:aem	nem
ni	CONJ	ni
približnu	A:aef	približan
snagu	N:f	snaga
da	CONJ	da
zameni	N:f	zamena
mit	N:m	mit
,	PUNCT	,
a	CONJ	a
arhetipsku	A:aef	arhetipski
priču	N:f	priča
o	PREP	o
kletoj	A:aef	klet
smrtnosti	N:f	smrtnost
svodi	V:n	svodi
na	PREP	na
prilično	ADV	prilično
staromodnu	A:aef	staromodan
vežbu	N:f	vežba
iz	PREP	iz
istorije	N:f	istorija
,	PUNCT	,
uz	PREP	uz
malo	ADV	malo
uklete	A:aef	uklet
romanse	N:f	romansa
,	PUNCT	,
a	CONJ	a
sa	PREP	sa
patologijom	N:f	patologija
i	CONJ	i
fetišizmom	N:m	fetišizam
te	PRO	taj
storije	N:f	storija
jedva	ADV	jedva
dotaknutim	A:aem	dotaknut
.	PUNCT	.
Drami	N:f	Drama
nedostaje	N:f	nedostaje
jači	A:bem	jak
emotivni	A:aem	emotivan
naboj	N:m	naboj
,	PUNCT	,
pa	CONJ	pa
rastrzana	V:f	rastrzati
između	PREP	između
fakata	N:m	fakt
i	CONJ	i
fikcije	N:f	fikcija
i	CONJ	i
ona	PRO	ona
sama	A:aen	sam
ostaje	N:n	ostaje
anemična	A:aen	anemičan
poput	PREP	poput
grofičinih	A:aef	grofičinih
žrtava	N:f	žrtva
.	SENT	.
Julie	N:f	Julia
Delpy	N:m	Delpy
je	PRO	ona
solidna	A:aef	solidan
(	PUNCT	(
mada	CONJ	mada
,	PUNCT	,
previše	ADV	previše
obična	A:aen	običan
)	PUNCT	)
kao	CONJ	kao
grofica	N:f	grofica
,	PUNCT	,
a	CONJ	a
znatno	ADV	znatno
življu	A:bef	živ
ulogu	N:f	uloga
ostvaruje	N:m	ostvaruje
Anamaria	N:f	Anamaria
Marinca	N:m	marinac
(	PUNCT	(
junakinja	N:f	junakinja
filma	N:m	film
Četiri	N:m	Četiri
meseca	N:m	mesec
,	PUNCT	,
tri	NUM	tri
nedelje	N:f	nedelja
,	PUNCT	,
dva	NUM	dva
dana	N:m	dan
)	PUNCT	)
,	PUNCT	,
kao	CONJ	kao
grofičina	N:f	grofičina
družbenica	N:f	družbenica
-	PUNCT	-
'	A:aem	'
veštica	N:f	veštica
'	N:m	'
.	SENT	.
