Kasting	N:m	kasting
za	PREP	za
„	N:m	„
The	INT	The
Bucket	N:m	Bucket
List	N:m	List
“	A:aem	“
vidi	N:f	vida
se	PAR	se
,	PUNCT	,
bio	V:m	biti
je	PRO	ona
unapred	ADV	unapred
poznat	A:aem	poznat
,	PUNCT	,
što	CONJ	što
je	PRO	ona
verovatno	ADV	verovatno
glavni	A:aem	glavni
razlog	N:m	razlog
za	PREP	za
ovakav	PRO	ovakav
promašaj	N:m	promašaj
.	SENT	.
Da	CONJ	da
se	PAR	se
Rob	N:m	Rob
Rajner	N:m	Rajner
(	PUNCT	(
Rob	N:m	Rob
Reiner	N:m	Reiner
)	PUNCT	)
više	ADV	više
posvetio	V:m	posvetiti
logici	N:f	logika
i	CONJ	i
koherentnosti	N:f	koherentnost
same	PRO	sam
priče	N:f	priča
,	PUNCT	,
nasuprot	PREP	nasuprot
oslanjanju	N:n	oslanjanje
na	PREP	na
harizmu	N:f	harizma
i	CONJ	i
status	N:m	status
glavnih	A:aem	glavnih
glumaca	N:m	glumac
,	PUNCT	,
dobili	V:m	dobiti
bismo	N:f	bismo
jedan	NUM	jedan
od	PREP	od
filmova	N:m	film
„	N:m	„
za	PREP	za
svaku	PRO	svaki
priliku	N:f	prilika
“	N:m	“
.	PUNCT	.
Očigledno	A:aen	Očigledno
,	PUNCT	,
realnost	N:f	realnost
je	PRO	ona
daleko	ADV	daleko
od	PREP	od
toga	PRO	taj
.	PUNCT	.
Kada	CONJ	kada
se	PAR	se
suoče	V:m	suoče
sa	PREP	sa
činjenicnom	N:f	činjenicnom
da	CONJ	da
im	PRO	ona
je	PRO	ona
ostalo	V:n	ostati
svega	ADV	svega
nekoliko	ADV	nekoliko
meseci	N:m	mesec
života	N:m	život
,	PUNCT	,
Edvard	N:m	Edvard
(	PUNCT	(
Jack	N:m	Jack
Nicholson	N:m	Nicholson
)	PUNCT	)
,	PUNCT	,
bogataš	N:m	bogataš
sa	PREP	sa
mnogobrojnim	A:aem	mnogobrojan
iskustvima	N:n	iskustvo
ali	CONJ	ali
malo	A:aen	mali
mudrosti	N:f	mudrost
,	PUNCT	,
i	CONJ	i
Karter	N:m	Karter
(	PUNCT	(
Morgan	N:m	Morgan
Freeman	N:m	Freeman
)	PUNCT	)
,	PUNCT	,
automehaničar	N:m	automehaničar
sa	PREP	sa
mnogo	ADV	mnogo
mudrosti	N:f	mudrost
i	CONJ	i
znanja	N:n	znanje
ali	CONJ	ali
željan	A:aem	željan
avantura	N:f	avantura
,	PUNCT	,
odlučuju	N:m	odlučuju
da	CONJ	da
ispune	N:f	ispuna
sve	PRO	sav
ciljeve	N:m	cilj
,	PUNCT	,
sastavljene	V:f	sastaviti
u	PREP	u
zajedničkoj	A:aef	zajednički
„	A:aem	„
Listi	N:m	Listi
poslednjih	A:aem	poslednji
želja	N:f	želja
“	N:m	“
.	SENT	.
Tu	PRO	taj
spadaju	N:m	spadaju
putovanja	N:n	putovanje
po	PREP	po
svetu	N:m	svet
,	PUNCT	,
tetoviranje	N:n	tetoviranje
kao	CONJ	kao
i	CONJ	i
skakanje	N:n	skakanje
padobranom	N:m	padobran
.	SENT	.
Teško	A:aem	Teško
je	PRO	ona
poverovati	N:m	poverovati
da	CONJ	da
bi	A:aem	bi
porodičan	A:aem	porodičan
čovek	N:m	čovek
odlučio	V:m	odlučiti
da	CONJ	da
umesto	PREP	umesto
provođenja	N:n	provođenje
poslednjih	A:aem	poslednji
dana	N:m	dan
u	PREP	u
krugu	N:m	krug
porodice	N:f	porodica
,	PUNCT	,
ono	PRO	onaj
malo	ADV	malo
dobrih	A:aem	dobar
momenata	N:m	moment
potroši	A:aem	potroši
na	PREP	na
potpunog	A:aen	potpun
stranca	N:m	stranac
.	SENT	.
Racio	N:m	Racio
je	PRO	ona
nevešto	ADV	nevešto
umetnut	V:m	umetnuti
u	PREP	u
vidu	N:f	vida
opravdanja	N:n	opravdanje
kako	CONJ	kako
se	PAR	se
Karter	N:m	Karter
odrekao	V:m	odreći
školovanja	N:n	školovanje
,	PUNCT	,
postavši	A:aem	postavši
automehaničar	N:m	automehaničar
da	CONJ	da
bi	N:m	bi
prehranio	V:m	prehraniti
porodicu	N:f	porodica
.	SENT	.
Ako	CONJ	ako
možete	A:aem	možete
da	CONJ	da
zamislite	A:aem	zamislite
znantno	A:aen	znantno
uvećanu	A:aen	uvećan
mešavinu	N:f	mešavina
neiživljenosti	N:f	neiživljenosti
,	PUNCT	,
kompleksa	N:m	kompleks
i	CONJ	i
pustih	A:aef	pust
celoživotnih	A:aef	celoživotan
želja	N:f	želja
,	PUNCT	,
možda	PAR	možda
vam	PRO	vi
ovakav	PRO	ovakav
razvoj	N:m	razvoj
narativa	N:m	narativa
bude	A:aen	bude
logičan	A:aem	logičan
.	SENT	.
U	PREP	u
pogledu	N:m	pogled
glume	N:f	gluma
,	PUNCT	,
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
i	CONJ	i
nema	A:aem	nem
!	PUNCT	!
Nikolson	N:m	Nikolson
i	CONJ	i
Frimen	N:m	Frimen
se	PAR	se
više	ADV	više
zabavljaju	N:m	zabavljaju
nego	CONJ	nego
što	CONJ	što
se	PAR	se
trude	N:m	trud
,	PUNCT	,
što	CONJ	što
nije	A:aem	nije
za	PREP	za
zameriti	N:m	zameriti
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
su	N:m	su
likovi	N:m	lik
u	PREP	u
prosečnoj	A:aef	prosečan
televiziskoj	A:aef	televiziskoj
sapunici	N:f	sapunica
bolje	ADV	bolje
napisani	V:m	napisati
i	CONJ	i
razrađeniji	A:bem	razrađen
od	PREP	od
Edvarda	N:m	Edvard
i	CONJ	i
Kartera	N:m	Karter
.	SENT	.
Celokupan	A:aem	celokupan
projekat	N:m	projekt
zavisi	N:m	zavisi
od	PREP	od
naše	PRO	naš
volje	N:f	volja
da	CONJ	da
zanemarimo	N:f	zanemarimo
sve	ADV	sve
i	CONJ	i
dođemo	N:f	dođemo
do	PREP	do
zaključka	N:m	zaključak
da	CONJ	da
samim	PRO	sam
tim	PRO	taj
što	PRO	što
smo	N:f	smo
videli	V:m	videti
ova	PRO	ovaj
dva	NUM	dva
glumca	N:m	glumac
zajedno	ADV	zajedno
na	PREP	na
filmu	N:m	film
,	PUNCT	,
čini	N:f	čini
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
vrednim	A:aen	vredan
ponovnog	A:aem	ponovan
gledanja	N:n	gledanje
.	SENT	.
Istina	N:f	istina
je	PRO	ona
da	CONJ	da
nema	A:aem	nem
potrebe	N:f	potreba
za	PREP	za
pisanjem	N:n	pisanje
„	A:aem	„
Dobitnik	N:m	dobitnik
Oskara	N:m	Oskar
“	N:m	“
iznad	PREP	iznad
imena	N:n	ime
ni	CONJ	ni
jedne	NUM	jedan
od	PREP	od
ovih	PRO	ovaj
glumačkih	A:aef	glumački
legendi	N:f	legenda
.	SENT	.
Potvrda	N:f	potvrda
njihovih	PRO	njihov
kvaliteta	N:m	kvalitet
daleko	ADV	daleko
je	PRO	ona
iznad	PREP	iznad
bilo	V:n	biti
kakve	PRO	kakav
nagrade	N:f	nagrada
.	SENT	.
Šteta	N:m	Šteta
što	CONJ	što
Rajner	N:m	Rajner
i	CONJ	i
njegova	PRO	njegov
ekipa	N:f	ekipa
nisu	N:m	nisu
to	PRO	taj
iskoristili	V:m	iskoristiti
kao	ADV	kao
priliku	N:f	prilika
da	CONJ	da
izvuku	N:m	izvuku
maksimum	N:m	maksimum
iz	PREP	iz
dva	NUM	dva
iskusna	A:aem	iskusan
veterana	N:m	veteran
u	PREP	u
jednom	NUM	jedan
filmu	N:m	film
.	SENT	.
Verujem	N:m	Verujem
u	PREP	u
laganu	A:aef	lagan
filmsku	A:aef	filmski
zabavu	N:f	zabava
ali	CONJ	ali
je	PRO	ona
nikada	ADV	nikada
ne	PAR	ne
mešam	N:m	mešam
sa	PREP	sa
ispraznom	A:aem	isprazan
.	SENT	.
