Romantična	A:aef	Romantična
komedija	N:f	komedija
je	PRO	ona
vremenom	N:n	vreme
postala	V:f	postati
jedan	NUM	jedan
od	PREP	od
najtvrdoglavijih	A:cen	tvrdoglav
delova	N:m	deo
kinematografije	N:f	kinematografija
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
zacementiranim	A:aem	zacementiran
standardima	N:m	standard
toliko	ADV	toliko
okovana	V:f	okovati
u	PREP	u
šablon	N:m	šablon
da	CONJ	da
retko	ADV	retko
koje	PRO	koji
delo	N:n	delo
ovog	PRO	ovaj
žanra	N:m	žanr
uspeva	A:aem	uspeva
da	CONJ	da
izbegne	A:aem	izbegne
epitet	N:m	epitet
„	A:aem	„
već	CONJ	već
viđenog	A:aem	viđen
“	N:m	“
.	SENT	.
Problemi	N:m	problem
nastaju	N:m	nastaju
kada	CONJ	kada
u	PREP	u
pomenutom	A:aen	pomenut
šablonskom	A:aen	šablonski
pristupu	N:m	pristup
pored	PREP	pored
originalnosti	N:f	originalnost
izostane	N:m	izostane
i	CONJ	i
komičnost	N:f	komičnost
,	PUNCT	,
jer	CONJ	jer
tada	ADV	tada
dosada	N:f	dosada
ulazi	N:m	ulaz
na	PREP	na
velika	A:aen	velik
vrata	N:n	vrata
.	SENT	.
Srećom	N:m	Srećom
,	PUNCT	,
Lov	N:m	Lov
na	PREP	na
bivšu	A:aef	bivši
ženu	N:f	žena
napravio	V:m	napraviti
je	PRO	ona
samo	PAR	samo
mali	A:aem	mali
otvor	N:m	otvor
kroz	PREP	kroz
koji	PRO	koji
se	PAR	se
ona	PRO	ona
provlači	N:f	provlači
,	PUNCT	,
čime	PRO	šta
je	PRO	ona
daleko	ADV	daleko
od	PREP	od
fijaska	N:m	fijasko
o	PREP	o
kome	PRO	koji
piše	A:aem	piše
većina	N:f	većina
kritičara	N:m	kritičar
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
od	PREP	od
toga	PRO	taj
da	CONJ	da
se	PAR	se
istakne	A:aem	istakne
inovativnim	A:aef	inovativan
pristupom	N:m	pristup
.	PUNCT	.
Kao	CONJ	kao
i	CONJ	i
u	PREP	u
mnogim	A:aef	mnogi
filmovima	N:m	film
ovog	PRO	ovaj
žanra	N:m	žanr
,	PUNCT	,
gde	CONJ	gde
se	PAR	se
menja	N:n	menja
samo	CONJ	samo
ruho	N:n	ruho
teme	N:f	tema
i	CONJ	i
ideje	N:f	ideja
dok	CONJ	dok
one	PRO	onaj
ostaju	N:n	ostaju
iste	A:aem	isti
sa	PREP	sa
svakim	PRO	svaki
novim	A:aef	nov
naslovom	N:m	naslov
,	PUNCT	,
i	CONJ	i
ovde	ADV	ovde
okosnicu	N:f	okosnica
predstavlja	N:n	predstavlja
prikaz	N:m	prikaz
razvedenog	A:aem	razveden
para	N:f	para
čiji	PRO	čiji
se	PAR	se
putevi	N:m	put
ponovo	ADV	ponovo
ukrštaju	N:m	ukrštaj
.	SENT	.
Ovakav	PRO	ovakav
prepoznatljivi	A:aem	prepoznatljiv
recept	N:m	recept
marljivo	ADV	marljivo
je	PRO	ona
skrivan	A:aem	skrivan
elementima	N:m	element
road	N:m	road
movie	N:m	movie
-	PUNCT	-
ja	PRO	ja
,	PUNCT	,
kada	CONJ	kada
Milo	N:m	Milo
(	PUNCT	(
Gerard	N:m	Gerard
Butler	N:m	Butler
)	PUNCT	)
,	PUNCT	,
lovac	N:m	lovac
na	PREP	na
glave	N:f	glava
koji	PRO	koji
privodi	N:m	privod
pojedince	N:m	pojedinac
pred	PREP	pred
lice	N:n	lice
pravde	N:f	pravda
,	PUNCT	,
kreće	A:aem	kreće
u	PREP	u
potragu	N:f	potraga
za	PREP	za
Nicole	N:f	Nicole
(	PUNCT	(
Jennifer	N:m	Jennifer
Aniston	N:m	Aniston
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
zbog	PREP	zbog
opsesivne	A:aef	opsesivan
posvećenosti	N:f	posvećenost
svom	PRO	sav
novinarskom	A:aem	novinarski
pozivu	N:m	poziv
zaboravila	V:f	zaboraviti
na	PREP	na
obaveze	N:f	obaveza
prema	PREP	prema
zakonu	N:m	zakon
.	SENT	.
Reditelj	N:m	reditelj
David	N:m	David
Tennant	N:m	Tennant
ekranizovao	V:m	ekranizovati
je	PRO	ona
zaplet	N:m	zaplet
tvrdoglavo	ADV	tvrdoglavo
koračajući	A:aem	koračajući
utabanim	A:aef	utaban
stazama	N:f	staza
prosečnih	A:aef	prosečan
rediteljskih	A:aef	rediteljski
zahvata	N:m	zahvat
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
scenario	N:m	scenario
napisala	V:f	napisati
Sarah	N:m	Sarah
Thorp	N:m	Thorp
.	SENT	.
Zanimljivo	ADV	zanimljivo
je	PRO	ona
da	CONJ	da
njen	PRO	njen
rad	N:m	rad
neodoljivo	ADV	neodoljivo
podseća	V:m	podseća
na	PREP	na
jedan	NUM	jedan
od	PREP	od
prethodnih	A:aem	prethodan
Tennantovih	A:aem	Tennantovih
filmova	N:m	film
–	A:aem	–
Fool	N:m	Fool
’	A:aem	’
s	PREP	s
Gold	N:m	Gold
.	SENT	.
Baš	A:aem	Baš
kao	CONJ	kao
Metthew	A:aem	Metthew
McConaughey	N:m	McConaughey
i	CONJ	i
Kate	N:f	Kata
Hudson	N:m	Hudson
,	PUNCT	,
u	PREP	u
pomenutoj	A:aef	pomenut
romantičnoj	A:aef	romantičan
avanturi	N:f	avantura
u	PREP	u
potrazi	N:f	potraga
za	PREP	za
blagom	A:aen	blag
,	PUNCT	,
Butler	N:m	Butler
i	CONJ	i
Annistonova	A:aem	Annistonova
ređaju	N:m	ređaju
replike	N:f	replika
prepune	A:aef	prepun
mržnje	N:f	mržnja
.	SENT	.
Kako	CONJ	kako
film	N:m	film
stremi	N:m	stremi
svom	PRO	sav
finalu	N:n	finale
vrcavi	A:aem	vrcav
dijalozi	N:m	dijalog
otkrivaju	N:f	otkrivaju
da	CONJ	da
se	PAR	se
ispod	PREP	ispod
prividne	A:aef	prividan
netrpeljivosti	N:f	netrpeljivost
krije	N:f	krije
ljubav	N:f	ljubav
,	PUNCT	,
tačnije	ADV	tačnije
,	PUNCT	,
ideja	N:f	ideja
o	PREP	o
njenoj	PRO	njen
neprolaznosti	N:f	neprolaznost
,	PUNCT	,
u	PREP	u
čemu	PRO	šta
se	PAR	se
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
ogleda	N:m	ogled
i	CONJ	i
poslednji	A:aem	poslednji
neizbežni	A:aem	neizbežan
sastojak	N:m	sastojak
klišea	N:m	kliše
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
uprkos	PREP	uprkos
predvidljivom	A:aen	predvidljiv
narativu	N:m	narativu
i	CONJ	i
paušalnoj	A:aef	paušalan
poruci	N:f	poruka
,	PUNCT	,
sekvence	N:f	sekvenca
uspevaju	N:f	uspevaju
da	CONJ	da
zabave	N:f	zabava
,	PUNCT	,
iako	CONJ	iako
su	N:m	su
ključni	A:aem	ključni
detalji	N:m	detalj
otkriveni	V:m	otkriti
gledaocima	N:m	gledalac
još	ADV	još
u	PREP	u
trejleru	N:m	trejler
.	SENT	.
Situaciju	N:f	situacija
spašava	A:aem	spašava
nekoliko	ADV	nekoliko
sporednih	A:aem	sporedan
likova	N:m	lik
.	SENT	.
Na	PREP	na
primer	N:m	primer
,	PUNCT	,
Siobhan	N:m	Siobhan
Fallon	N:m	Fallon
je	PRO	ona
postala	V:f	postati
maestralna	A:aef	maestralan
kradljivica	N:f	kradljivica
scena	N:f	scena
tumečeći	A:aef	tumečeći
ulogu	N:f	uloga
piskave	A:aef	piskav
sekretarice	N:f	sekretarica
Tereze	N:f	Tereza
.	SENT	.
U	PREP	u
poređenju	N:n	poređenje
sa	PREP	sa
njenom	PRO	njen
nadahnutom	A:aef	nadahnut
pojavom	N:f	pojava
Butler	N:m	Butler
rutinski	A:aem	rutinski
pristupa	N:m	pristup
svom	PRO	sav
zadatku	N:m	zadatak
,	PUNCT	,
dok	CONJ	dok
Jennifer	N:m	Jennifer
Aniston	N:m	Aniston
još	ADV	još
jednom	ADV	jednom
izvlači	A:aem	izvlači
maksimum	N:m	maksimum
iz	PREP	iz
ponuđene	A:aem	ponuđen
uloge	N:f	uloga
,	PUNCT	,
čime	PRO	šta
dokazuje	N:m	dokazuje
da	CONJ	da
potcenjuje	N:m	potcenjuje
sopstveni	A:aem	sopstven
talenat	N:m	talent
pojavom	N:f	pojava
u	PREP	u
ovakvim	PRO	ovakav
,	PUNCT	,
površnim	A:aem	površan
filmovima	N:m	film
,	PUNCT	,
umesto	PREP	umesto
u	PREP	u
onim	PRO	onaj
koji	PRO	koji
bi	N:m	bi
se	PAR	se
pamtili	V:m	pamtiti
.	SENT	.
Ovaj	PRO	ovaj
par	N:m	par
,	PUNCT	,
slično	ADV	slično
svojim	PRO	svoj
kvalitativno	A:aen	kvalitativan
suprotnim	A:aen	suprotan
izvođenjima	N:n	izvođenje
,	PUNCT	,
oscilirajuće	A:aem	oscilirajuće
deluje	N:m	deluje
na	PREP	na
pažnju	N:f	pažnja
gledaoca	N:m	gledalac
,	PUNCT	,
uspevajući	A:aem	uspevajući
u	PREP	u
tome	PRO	taj
da	CONJ	da
film	N:m	film
ipak	PAR	ipak
učini	N:m	učin
za	PREP	za
nijansu	N:f	nijansa
boljim	A:bem	dobar
od	PREP	od
mnogih	A:aef	mnogi
sličnih	A:aen	sličan
ostvarenja	N:n	ostvarenje
serijske	A:aef	serijski
holivudske	A:aef	holivudski
produkcije	N:f	produkcija
.	PUNCT	.
Ne	PAR	ne
verujete	A:aef	verujete
?	SENT	?
Pogledajte	N:m	Pogledajte
Da	N:f	Da
li	PAR	li
ste	V:m	ste
čuli	V:m	čuti
za	PREP	za
Morganove	A:aef	Morganov
–	N:m	–
to	PRO	taj
se	PAR	se
zove	N:m	zov
fijasko	N:m	fijasko
.	SENT	.
