Još	N:m	Još
jedan	NUM	jedan
u	PREP	u
nizu	N:m	niz
tih	PRO	taj
novih	A:aef	nov
popularnih	A:aem	popularan
“	N:m	“
ekstremnijih	A:bem	ekstreman
”	A:aem	”
komedija	N:f	komedija
.	SENT	.
Nisam	N:m	Nisam
siguran	A:aem	siguran
,	PUNCT	,
ali	CONJ	ali
ovaj	PRO	ovaj
film	N:m	film
treba	N:f	treba
da	CONJ	da
predstavlja	N:n	predstavlja
nastavak	N:m	nastavak
popularne	A:aef	popularan
komedije	N:f	komedija
“	A:aem	“
Forgetting	N:m	Forgetting
Sarah	N:m	Sarah
Marshall	N:m	Marshall
“	N:m	“
,	PUNCT	,
ako	CONJ	ako
da	CONJ	da
,	PUNCT	,
onda	ADV	onda
želim	A:aem	želim
da	CONJ	da
čestitam	N:m	čestitam
reditelju	N:m	reditelj
i	CONJ	i
scenaristi	N:m	scenarista
na	PREP	na
izuzetnoj	A:aef	izuzetan
nemarnosti	N:f	nemarnost
prema	PREP	prema
delovima	N:m	deo
prvenca	N:m	prvenac
.	SENT	.
“	A:aem	“
Get	N:m	Get
Him	A:aem	Him
to	PRO	taj
the	N:m	the
Greek	N:m	Greek
”	A:aem	”
sadrži	A:aen	sadrži
isto	A:aen	isti
imenu	N:n	ime
rok	N:m	rok
zvezdu	N:f	zvezda
,	PUNCT	,
igranu	A:aem	igran
od	PREP	od
strane	N:f	strana
istoimenog	A:aen	istoimen
glumca	N:m	glumac
kao	CONJ	kao
u	PREP	u
“	A:aem	“
Forgetting	N:m	Forgetting
Sarah	N:m	Sarah
Marshall	N:m	Marshall
”	N:m	”
,	PUNCT	,
ali	CONJ	ali
on	PRO	on
baš	PAR	baš
ne	PAR	ne
poseduje	N:m	poseduje
neko	PRO	neki
posebno	ADV	posebno
sećanje	N:n	sećanje
o	PREP	o
devojci	N:f	devojka
koja	PRO	koji
je	PRO	ona
bila	V:f	biti
centar	N:m	centar
prvog	A:aem	prvi
filma	N:m	film
,	PUNCT	,
a	CONJ	a
pored	PREP	pored
toga	PRO	taj
Džona	N:m	Džon
Hil	N:m	Hil
(	PUNCT	(
Jonah	N:m	Jonah
Hill	N:m	Hill
)	PUNCT	)
tumači	N:m	tumač
sasvim	ADV	sasvim
drugačijeg	A:aem	drugačiji
lika	N:m	lik
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
u	PREP	u
slučaju	N:m	slučaj
sa	PREP	sa
“	A:aem	“
Sarom	N:m	Sar
Maršal	N:m	Maršal
”	N:m	”
.	PUNCT	.
No	CONJ	no
hajde	INT	hajde
da	CONJ	da
i	CONJ	i
zanemarimo	N:f	zanemarimo
to	PRO	taj
,	PUNCT	,
i	CONJ	i
da	CONJ	da
kažemo	N:f	kažemo
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
nastavak	N:m	nastavak
isključivo	ADV	isključivo
napravljen	V:m	napraviti
da	CONJ	da
kapitalizuje	N:m	kapitalizuje
na	PREP	na
popularnosti	N:f	popularnost
lika	N:m	lik
pod	PREP	pod
nazivom	N:m	naziv
Adis	A:aem	Adis
Snov	A:aem	Snov
,	PUNCT	,
ali	CONJ	ali
ni	PAR	ni
to	PRO	taj
ga	PRO	on
baš	PAR	baš
nešto	ADV	nešto
neće	A:aem	neće
opravdati	N:m	opravdati
.	SENT	.
Ovo	PRO	ovaj
jedna	NUM	jedan
vrlo	ADV	vrlo
predvidiva	A:aef	predvidiv
komedija	N:f	komedija
,	PUNCT	,
sastavljena	V:f	sastaviti
od	PREP	od
trenutno	ADV	trenutno
popularne	A:aef	popularan
formule	N:f	formula
…	PUNCT	…
.	SENT	.
par	N:m	par
gadljivih	A:aef	gadljiv
fora	N:f	fora
,	PUNCT	,
par	N:m	par
bolesnih	A:aef	bolestan
fora	N:f	fora
,	PUNCT	,
i	CONJ	i
na	PREP	na
kraju	N:m	kraj
onaj	PRO	onaj
grozni	A:aem	grozan
izlizani	A:aem	izlizan
emotivni	A:aem	emotivan
momenat	N:m	moment
.	SENT	.
Fabričko	A:aen	Fabričko
đubre	N:n	đubre
!	PUNCT	!
Iako	CONJ	iako
sam	PRO	sam
uspeo	V:m	uspeti
da	CONJ	da
se	PAR	se
odlično	ADV	odlično
zabavim	A:aem	zabavim
uz	PREP	uz
“	A:aem	“
Saru	N:m	Sar
Maršal	N:m	Maršal
”	N:m	”
,	PUNCT	,
i	CONJ	i
filmove	N:m	film
iz	PREP	iz
istog	A:aen	isti
žanra	N:m	žanr
kao	CONJ	kao
“	A:aem	“
Pineapple	A:aem	Pineapple
Express	N:m	Express
”	N:m	”
,	PUNCT	,
smatram	N:m	smatram
da	CONJ	da
uz	PREP	uz
par	N:m	par
zanimljivih	A:aem	zanimljiv
momenata	N:m	moment
,	PUNCT	,
ceo	A:aem	ceo
ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
izuzetno	ADV	izuzetno
isforsiran	V:m	isforsirati
i	CONJ	i
lako	ADV	lako
zaboravljiv	A:aem	zaboravljiv
.	SENT	.
Scenario	N:m	scenario
je	PRO	ona
isključivo	ADV	isključivo
tu	ADV	tu
da	CONJ	da
omoguće	A:aem	omoguće
što	CONJ	što
više	ADV	više
nazovi	A:aem	nazovi
“	N:m	“
brljavih	A:aem	brljav
”	A:aem	”
momenata	N:m	moment
,	PUNCT	,
i	CONJ	i
da	CONJ	da
ispuca	N:m	ispuca
svaku	PRO	svaki
moguću	A:aef	moguć
referencu	N:f	referenca
na	PREP	na
pop	N:m	pop
kulturu	N:f	kultura
.	SENT	.
Likovi	N:m	lik
su	N:m	su
u	PREP	u
istom	A:aem	isti
stilu	N:n	stilo
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
scenario	N:m	scenario
,	PUNCT	,
izuzetno	ADV	izuzetno
isforsirani	A:aem	isforsiran
i	CONJ	i
iritantni	A:aem	iritantan
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
mogao	V:m	moći
biti	N:f	bit
mnogo	ADV	mnogo
bolji	A:bem	dobar
,	PUNCT	,
da	CONJ	da
se	PAR	se
našao	V:m	naći
bolji	A:bem	dobar
scenarista	N:m	scenarista
,	PUNCT	,
nije	A:aem	nije
da	CONJ	da
je	PRO	ona
ne	PAR	ne
gledljiv	A:aem	gledljiv
,	PUNCT	,
fali	N:f	fala
mu	PRO	on
dobra	A:aef	dobar
pozadinska	A:aef	pozadinski
priča	N:f	priča
,	PUNCT	,
zasnovan	V:m	zasnovati
je	PRO	ona
na	PREP	na
nekolicini	N:f	nekolicina
glupih	A:aef	glup
fora	N:f	fora
,	PUNCT	,
koje	PRO	koji
mogu	A:aem	mogu
nasmejati	N:m	nasmejati
,	PUNCT	,
sve	PRO	sav
zavisi	N:m	zavisi
od	PREP	od
vašeg	PRO	vaš
smisla	N:m	smisao
za	PREP	za
humor	N:m	humor
.	SENT	.
Preporučio	A:aem	Preporučio
bi	N:m	bi
ga	PRO	on
za	PREP	za
gledanje	N:n	gledanje
uz	PREP	uz
veće	N:n	veće
društvo	N:n	društvo
.	SENT	.
Što	N:m	Što
se	PAR	se
manje	ADV	manje
udubite	N:f	udubite
u	PREP	u
njega	PRO	on
,	PUNCT	,
biće	N:n	biće
vam	PRO	vi
sve	ADV	sve
zanimljiviji	A:bem	zanimljiv
.	SENT	.
