Uz	PREP	uz
Jimma	A:aef	Jimma
Carreyja	N:f	Carreyja
,	PUNCT	,
koji	PRO	koji
ipak	PAR	ipak
češće	ADV	češće
teži	A:bem	težak
izletima	N:m	izlet
u	PREP	u
dramske	A:aem	dramski
/	N:m	/
zahtevnije	A:bem	zahtevan
/	N:m	/
ambicioznije	A:ben	ambiciozan
/	N:m	/
rizičnije	A:ben	rizičan
produkcije	N:f	produkcija
,	PUNCT	,
Adam	N:m	Adam
Sandler	N:m	Sandler
je	PRO	ona
najznačajniji	A:cem	značajan
američki	A:aem	američki
filmski	A:aem	filmski
komičar	N:m	komičar
današnjice	N:f	današnjica
.	SENT	.
To	PRO	taj
potvrđuje	N:m	potvrđuje
i	CONJ	i
činjenica	N:f	činjenica
da	CONJ	da
svaka	PRO	svaki
njergova	A:aem	njergova
nova	A:aef	nov
komedija	N:f	komedija
,	PUNCT	,
gotovo	ADV	gotovo
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
stvarni	A:aem	stvaran
kvalitet	N:m	kvalitet
ili	CONJ	ili
otklon	N:m	otklon
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
tipsko	A:aen	tipski
i	CONJ	i
već	PAR	već
viđeno	V:n	viditi
u	PREP	u
Sandlerovom	A:aem	Sandlerovom
opusu	N:m	opus
,	PUNCT	,
lako	ADV	lako
doseže	N:m	doseg
zaradu	N:f	zarada
od	PREP	od
stotinu	N:f	stotina
i	CONJ	i
kusur	N:m	kusur
miliona	N:m	milion
dolara	N:m	dolar
samo	PAR	samo
na	PREP	na
američkim	A:aef	američki
bioskopskim	A:aef	bioskopski
blagajnama	N:f	blagajna
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
već	PAR	već
klimavi	A:aem	klimav
Matorani	N:m	Matorani
,	PUNCT	,
a	CONJ	a
još	ADV	još
više	ADV	više
nevešti	A:aem	nevešt
Moja	N:m	Mojo
nazovi	A:aem	nazovi
žena	N:f	žena
,	PUNCT	,
gde	CONJ	gde
je	PRO	ona
bio	V:m	biti
uparen	V:m	upariti
sa	PREP	sa
Jennifer	N:m	Jennifer
Aniston	N:m	Aniston
,	PUNCT	,
ukazivali	V:m	ukazivati
su	N:m	su
na	PREP	na
vidljiv	A:aem	vidljiv
zamor	N:m	zamor
materijala	N:m	materijal
,	PUNCT	,
pre	PREP	pre
svega	PRO	sav
sa	PREP	sa
Sandlerove	A:aef	Sandlerove
strane	N:f	strana
,	PUNCT	,
a	CONJ	a
tamošnji	A:aem	tamošnji
gledaoci	N:m	gledalac
su	PREF	su
nešto	ADV	nešto
suzdržanijim	A:ben	suzdržanijim
prijemom	N:m	prijem
Džek	N:m	Džek
i	CONJ	i
Džil	N:f	Džil
pokazali	V:m	pokazati
da	CONJ	da
i	CONJ	i
njih	PRO	ona
muči	A:aem	muči
isti	A:aem	isti
utisak	N:m	utisak
.	SENT	.
Nakon	PREP	nakon
neporecivih	A:aem	neporeciv
remek	N:m	remek
dela	N:n	delo
Ne	A:aef	Ne
kači	N:f	kači
se	PAR	se
sa	PREP	sa
Zohanom	N:m	Zohanom
i	CONJ	i
Zečica	N:f	Zečica
sa	PREP	sa
koledža	N:m	koledž
,	PUNCT	,
gde	CONJ	gde
je	PRO	ona
trag	N:m	trag
ostavio	V:m	ostaviti
kao	ADV	kao
producent	N:m	producent
,	PUNCT	,
Sandler	N:m	Sandler
je	PRO	ona
po	PREP	po
prvi	A:aem	prvi
put	N:m	put
krenuo	V:m	krenuti
da	CONJ	da
posrće	A:aem	posrće
i	CONJ	i
luta	A:aem	luta
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
pređašnju	A:aef	pređašnji
ocenu	N:f	ocena
„	A:aem	„
remek	N:m	remek
-	PUNCT	-
dela	N:n	delo
“	A:aem	“
treba	N:f	treba
smatrati	V:f	smatrati
isključivo	ADV	isključivo
u	PREP	u
kontekstu	N:m	kontekst
savremenih	A:aef	savremen
pučkih	A:aef	pučki
filmskih	A:aen	filmski
komedija	N:f	komedija
.	SENT	.
Saradnja	N:f	saradnja
sa	PREP	sa
Juddom	N:f	Juddom
Apatowom	N:m	Apatowom
Funny	A:aem	Funny
People	A:aem	People
nije	N:m	nije
dala	V:f	dati
željena	A:aem	željen
rezultate	N:m	rezultat
,	PUNCT	,
a	CONJ	a
već	CONJ	već
pominjani	A:aem	pominjan
Matorani	N:m	Matorani
i	CONJ	i
Moja	N:m	Mojo
nazovi	A:aem	nazovi
žena	N:f	žena
su	N:m	su
predstavljali	V:m	predstavljati
razočaranja	N:n	razočaranje
za	PREP	za
verne	A:aef	veran
sandleroljupce	N:m	sandleroljupce
.	SENT	.
Već	A:aem	Već
trailer	N:m	trailer
i	CONJ	i
prvi	A:aem	prvi
prikazi	N:m	prikaz
novog	A:aem	nov
Sandlerovog	A:aem	Sandlerovog
pokušaja	N:m	pokušaj
Džek	N:m	Džek
i	CONJ	i
Džil	N:f	Džil
nisu	N:m	nisu
slutili	V:m	slutiti
na	PREP	na
nešto	PRO	nešto
iole	ADV	iole
dobro	ADV	dobro
,	PUNCT	,
ali	CONJ	ali
majstoru	N:m	majstor
valja	N:f	valja
odati	V:m	odati
počast	N:f	počast
i	CONJ	i
kada	CONJ	kada
sve	PRO	sav
govori	N:m	govor
da	CONJ	da
neće	A:aem	neće
pokazati	N:m	pokazati
majstoriju	N:f	majstorija
kojom	PRO	koji
je	PRO	ona
zaradio	V:m	zaraditi
divljenje	N:n	divljenje
.	SENT	.
U	PREP	u
Džek	N:m	Džek
i	CONJ	i
Džil	N:f	Džil
stvaralačkoj	A:aef	stvaralački
epizodi	N:f	epizoda
Sandler	N:m	Sandler
je	PRO	ona
posegnuo	V:m	posegnuti
za	PREP	za
čisto	ADV	čisto
ziheraškim	A:aem	ziheraški
mamcima	N:m	mamac
;	SENT	;
naime	PAR	naime
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
blizanačka	A:aef	blizanački
komedija	N:f	komedija
u	PREP	u
kojoj	PRO	koji
obe	NUM	oba
uloge	N:f	uloga
(	PUNCT	(
uloge	N:f	uloga
brata	N:m	brata
i	CONJ	i
sestre	N:f	sestra
)	PUNCT	)
tumači	N:m	tumač
Adam	N:m	Adam
Sandler	N:m	Sandler
.	PUNCT	.
Gender	N:m	Gender
-	PUNCT	-
bender	N:m	Bender
komedije	N:f	komedija
jesu	A:aem	jesu
stalni	A:aem	stalan
izvor	N:m	izvor
zabave	N:f	zabava
za	PREP	za
puk	N:m	puk
,	PUNCT	,
ali	CONJ	ali
retko	ADV	retko
koje	PRO	koji
ostvarenje	N:n	ostvarenje
iz	PREP	iz
tog	PRO	taj
odeljka	N:m	odeljak
je	PRO	ona
uspelo	V:n	uspeti
da	CONJ	da
ostavi	N:f	ostava
neizbrisiv	A:aem	neizbrisiv
trag	N:m	trag
u	PREP	u
istoriji	N:f	istorija
filma	N:m	film
(	PUNCT	(
uz	PREP	uz
izuzetak	N:m	izuzetak
Neki	N:f	Neki
to	PRO	taj
voli	N:m	Voli
vruće	A:aef	vruć
Billyja	N:f	Billyja
Wildera	N:m	Wildera
i	CONJ	i
Pollockove	A:aem	Pollockove
Tootsie	N:m	Tootsie
)	PUNCT	)
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
bilo	V:n	biti
je	PRO	ona
nerealno	A:aen	nerealan
očekivati	A:aem	očekivati
da	CONJ	da
naglašeno	A:aen	naglašen
repertoarski	A:aem	repertoarski
orijentisan	A:aem	orijentisan
film	N:m	film
iz	PREP	iz
zrele	A:aef	zreo
faze	N:f	faza
Adama	N:m	Adam
Sandlera	N:m	Sandlera
dobaci	N:m	dobaci
do	PREP	do
tih	PRO	taj
visina	N:f	visina
,	PUNCT	,
ali	CONJ	ali
svi	PRO	sav
su	N:m	su
ipak	PAR	ipak
nadali	V:m	nadati
barem	PAR	barem
izbegavanju	N:n	izbegavanje
potpune	A:aef	potpun
havarije	N:f	havarija
.	PUNCT	.
Džek	N:m	Džek
i	CONJ	i
Džil	N:f	Džil
nije	A:aem	nije
posebno	ADV	posebno
dobar	A:aem	dobar
film	N:m	film
,	PUNCT	,
ne	PAR	ne
odmakne	A:aem	odmakne
daleko	ADV	daleko
u	PREP	u
minutaži	N:f	minutaža
,	PUNCT	,
a	CONJ	a
postaje	N:f	postaja
jasno	ADV	jasno
da	CONJ	da
je	PRO	ona
to	PRO	taj
delo	N:n	delo
u	PREP	u
kome	PRO	koji
nešto	ADV	nešto
ozbiljno	ADV	ozbiljno
ne	PAR	ne
štima	N:n	štima
;	SENT	;
ipak	PAR	ipak
,	PUNCT	,
Džek	N:m	Džek
i	CONJ	i
Džil	N:f	Džil
zavređuje	A:aef	zavređuje
pažnju	N:f	pažnja
barem	PAR	barem
iskrenih	A:aem	iskren
zaljubljenika	N:m	zaljubljenik
u	PREP	u
Sandlerovu	A:aem	Sandlerovu
„	N:m	„
poetiku	N:f	poetika
“	A:aem	“
jer	CONJ	jer
nudi	N:f	nudi
gotovo	ADV	gotovo
do	PREP	do
paroksizma	N:m	paroksizam
doveden	A:aem	doveden
nemar	N:m	nemar
koji	PRO	koji
tako	ADV	tako
ekstremistički	A:aem	ekstremistički
izražen	A:aem	izražen
dovodi	N:m	dovod
do	PREP	do
impresije	N:f	impresija
da	CONJ	da
se	PAR	se
ovde	ADV	ovde
ipak	PAR	ipak
radi	PREP	radi
o	PREP	o
svojevrsnoj	A:aef	svojevrstan
odvažnosti	N:f	odvažnost
.	PUNCT	.
Recimo	N:f	Recimo
,	PUNCT	,
Sandler	N:m	Sandler
na	PREP	na
bezmalo	ADV	bezmalo
istovetan	A:aem	istovetan
način	N:m	način
tumači	N:m	tumač
i	CONJ	i
ženski	A:aem	ženski
lik	N:m	lik
iz	PREP	iz
naslova	N:m	naslov
,	PUNCT	,
očigledno	ADV	očigledno
ne	PAR	ne
iz	PREP	iz
uverenja	N:n	uverenje
da	CONJ	da
su	N:m	su
ženska	A:aef	ženski
odežda	N:f	odežda
,	PUNCT	,
perika	N:f	perika
i	CONJ	i
nešto	PRO	nešto
šminke	N:f	šminka
dovoljni	A:aem	dovoljan
da	CONJ	da
obmanu	N:f	obmana
gledaoca	N:m	gledalac
koji	PRO	koji
je	PRO	ona
ionako	ADV	ionako
pre	PREP	pre
početka	N:m	početak
filma	N:m	film
bio	V:m	biti
upućen	V:m	uputiti
u	PREP	u
šta	PRO	šta
se	PAR	se
upušta	V:m	upušta
,	PUNCT	,
već	PAR	već
,	PUNCT	,
reklo	V:n	reći
bi	V:n	bi
se	PAR	se
,	PUNCT	,
da	CONJ	da
to	PRO	taj
koren	A:aem	koren
ima	N:m	ima
u	PREP	u
izvesnoj	A:aef	izvestan
opuštenoj	A:aef	opušten
zaigranosti	N:f	zaigranosti
uz	PREP	uz
garnirung	N:m	garnirung
i	CONJ	i
dalje	ADV	dalje
zabavne	A:aef	zabavan
i	CONJ	i
razumljive	A:aef	razumljiv
zlovolje	N:f	zlovolja
.	SENT	.
Osim	PREP	osim
toga	PRO	taj
,	PUNCT	,
Džek	N:m	Džek
i	CONJ	i
Džil	N:f	Džil
je	PRO	ona
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
u	PREP	u
okvirima	N:m	okvir
Sandlerove	A:aem	Sandlerove
dosadašnje	A:aen	dosadašnji
filmografiji	N:f	filmografiji
,	PUNCT	,
najekstremnije	A:cem	ekstreman
ustrojen	A:aem	ustrojen
film	N:m	film
,	PUNCT	,
sav	PRO	sav
zasnovan	A:aem	zasnovan
na	PREP	na
neumerenostima	N:f	neumerenost
i	CONJ	i
preterivanjima	N:n	preterivanje
.	PUNCT	.
Ako	CONJ	ako
mu	PRO	on
tako	ADV	tako
pristupimo	A:aen	pristupimo
,	PUNCT	,
tu	ADV	tu
je	PRO	ona
dovoljno	ADV	dovoljno
istinski	ADV	istinski
zabavnih	A:aef	zabavan
,	PUNCT	,
a	CONJ	a
katkad	ADV	katkad
i	CONJ	i
zbilja	PAR	zbilja
duhovitih	A:aef	duhovit
situacija	N:f	situacija
,	PUNCT	,
što	CONJ	što
u	PREP	u
sveukupnu	A:aef	sveukupan
bizarnost	N:f	bizarnost
premise	N:f	premisa
(	PUNCT	(
na	PREP	na
primer	N:m	primer
,	PUNCT	,
Al	N:m	Al
Pacino	A:aen	Pacino
ovde	ADV	ovde
glumi	N:f	gluma
sebe	PRO	sebe
u	PREP	u
epizodi	N:f	epizoda
ozbiljne	A:aef	ozbiljan
rezignacije	N:f	rezignacija
i	CONJ	i
krize	N:f	kriza
identiteta	N:m	identitet
,	PUNCT	,
a	CONJ	a
iz	PREP	iz
takvog	PRO	takav
stanja	N:n	stanje
će	V:n	će
ga	PRO	on
prenuti	A:aem	prenut
telesna	A:aef	telesni
privlačnost	N:f	privlačnost
prema	PREP	prema
Sandlerovoj	A:aef	Sandlerovoj
bliznakinji	N:f	bliznakinja
Džil	N:f	Džil
)	PUNCT	)
u	PREP	u
znatnoj	A:aef	znatan
meri	N:f	mera
daje	N:m	daje
alibi	N:m	alibi
da	CONJ	da
se	PAR	se
ovom	PRO	ovaj
filmu	N:m	film
da	CONJ	da
prelazna	A:aef	prelazan
ocena	N:f	ocena
i	CONJ	i
pruži	A:aem	pruži
iskrena	A:aef	iskren
šansa	N:f	šansa
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
Sandler	N:m	Sandler
zalužuje	N:m	zalužuje
barem	PAR	barem
zvezdicu	N:f	zvezdica
više	ADV	više
zbog	PREP	zbog
svoje	PRO	svoj
odvažnosti	N:f	odvažnost
da	CONJ	da
se	PAR	se
u	PREP	u
ne	PAR	ne
toliko	ADV	toliko
valjanom	A:aem	valjan
filmu	N:m	film
zapravo	ADV	zapravo
poigra	V:m	poigra
sa	PREP	sa
načinom	N:m	način
na	PREP	na
koji	PRO	koji
ga	PRO	on
doživljavaju	N:m	doživljavaju
oni	PRO	onaj
ne	PAR	ne
toliko	ADV	toliko
nakonjeni	V:m	nakonjeni
mu	PRO	on
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
trebalo	V:n	trebati
bi	A:aen	bi
da	CONJ	da
ima	A:aen	ima
u	PREP	u
vidu	N:f	vida
da	CONJ	da
je	PRO	ona
već	PAR	već
dovoljno	ADV	dovoljno
potrošio	V:m	potrošiti
trpilo	V:n	trpilo
onih	PRO	onaj
koji	PRO	koji
ga	PRO	on
poštuju	N:m	poštuju
.	PUNCT	.
Sve	ADV	sve
i	CONJ	i
da	CONJ	da
je	PRO	ona
teško	ADV	teško
poreći	V:m	poreći
da	CONJ	da
je	PRO	ona
Zohan	N:m	Zohan
ipak	PAR	ipak
samo	PAR	samo
jedan	NUM	jedan
,	PUNCT	,
Sandleru	N:m	Sandleru
bi	N:f	bi
bilo	V:n	biti
najbolje	ADV	najbolje
da	CONJ	da
prione	N:m	prione
u	PREP	u
misiju	N:f	misija
ozbiljnog	A:aem	ozbiljan
resetovanja	N:n	resetovanje
svog	PRO	svoj
pristupa	N:m	pristup
karijeri	N:f	karijera
,	PUNCT	,
jer	CONJ	jer
istrajni	A:aem	istrajan
i	CONJ	i
hrabri	A:aem	hrabar
imaju	N:f	imaju
pravo	N:n	pravo
na	PREP	na
veru	N:f	vera
u	PREP	u
srećan	A:aem	srećan
ishod	N:m	ishod
i	CONJ	i
poneko	PRO	poneki
čudo	N:n	čudo
.	SENT	.
