Prvo	A:aen	prvi
ostvarenje	N:n	ostvarenje
posle	PREP	posle
četiri	NUM	četiri
godine	N:f	godina
pauze	N:f	pauza
Fareli	A:aem	Fareli
braće	N:f	braća
(	PUNCT	(
Farrelly	A:aem	Farrelly
brothers	N:m	brothers
)	PUNCT	)
koje	PRO	koji
je	PRO	ona
napokon	ADV	napokon
posle	PREP	posle
njihovih	PRO	njihov
klasika	N:f	klasika
“	A:aem	“
Glupan	N:m	glupan
i	CONJ	i
tupan	N:m	tupan
”	N:m	”
(	PUNCT	(
Dumb	N:m	Dumb
and	N:m	and
Dumber	N:m	Dumber
)	PUNCT	)
i	CONJ	i
“	A:aem	“
Nešto	N:m	Nešto
u	PREP	u
vezi	N:f	veza
sa	PREP	sa
Meri	N:f	Meri
”	N:m	”
(	PUNCT	(
Something	N:m	Something
About	A:aem	About
Mary	N:m	Mary
)	PUNCT	)
,	PUNCT	,
pomoću	PREP	pomoću
novog	A:aem	nov
i	CONJ	i
interesantnog	A:aem	interesantan
trejlera	N:m	trejler
,	PUNCT	,
ulivalo	V:n	ulivati
nade	N:f	nada
za	PREP	za
još	ADV	još
jednom	NUM	jedan
odličnom	A:aen	odličan
komedijom	N:f	komedija
,	PUNCT	,
nakon	PREP	nakon
serije	N:f	serija
osrednjih	A:aen	osrednji
i	CONJ	i
loših	A:aen	loš
filmova	N:m	film
.	SENT	.
Priča	A:aem	Priča
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
ziblja	N:f	ziblja
jako	ADV	jako
idiotska	A:aem	idiotski
,	PUNCT	,
ali	CONJ	ali
zarad	PREP	zarad
komičnog	A:aem	komičan
aspekta	N:m	aspekt
,	PUNCT	,
i	CONJ	i
mogućnosti	N:f	mogućnost
da	CONJ	da
se	PAR	se
stvore	N:m	stvor
razne	A:aef	razne
interesantne	A:aef	interesantan
i	CONJ	i
urnebesne	A:aem	urnebesne
situacije	N:f	situacija
,	PUNCT	,
ovakve	PRO	ovakav
stvari	N:f	stvar
se	PAR	se
dopuštaju	V:m	dopuštaju
u	PREP	u
komedija	N:f	komedija
.	SENT	.
Mi	PRO	ja
se	PAR	se
ovde	ADV	ovde
upoznajemo	A:aen	upoznajemo
sa	PREP	sa
dva	NUM	dva
muškarca	N:m	muškarac
,	PUNCT	,
Rik	N:m	Rik
(	PUNCT	(
Owen	N:f	Owen
Wilson	N:m	Wilson
)	PUNCT	)
i	CONJ	i
Fred	N:m	Fred
(	PUNCT	(
Jason	N:m	Jason
Sudeikis	N:m	Sudeikis
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
se	PAR	se
pate	N:m	pat
sa	PREP	sa
krizom	N:f	kriza
srednjih	A:aem	srednji
godina	N:f	godina
.	SENT	.
Kao	CONJ	kao
posledeica	N:f	posledeica
nezadovoljstva	N:n	nezadovoljstvo
kvantiteta	N:m	kvantitet
“	A:aem	“
akcije	N:f	akcija
”	A:aem	”
koje	PRO	koji
dobijaju	N:m	dobijaju
u	PREP	u
spavaćoj	A:aef	spavaći
sobi	N:f	soba
,	PUNCT	,
ovi	PRO	ovaj
momci	N:m	momak
bivaju	N:f	bivaju
opsednuti	A:aem	opsednut
ženama	N:f	žena
i	CONJ	i
seksom	N:m	seks
do	PREP	do
te	PRO	taj
granice	N:f	granica
da	CONJ	da
naprosto	ADV	naprosto
postoju	N:m	postoju
iritiantni	A:aem	iritiantni
kod	PREP	kod
svojih	PRO	svoj
žena	N:f	žena
.	SENT	.
Na	PREP	na
sugestiju	N:f	sugestija
njihove	PRO	njihov
zajedničke	A:aef	zajednički
prijateljice	N:f	prijateljica
,	PUNCT	,
kojoj	PRO	koji
se	PAR	se
ovaj	PRO	ovaj
potez	N:m	potez
isplatio	V:m	isplatiti
,	PUNCT	,
supruge	N:f	supruga
daju	N:m	Daj
momcima	N:m	momak
nedeljuda	N:m	nedeljuda
na	PREP	na
slobode	N:f	sloboda
od	PREP	od
braka	N:m	brak
i	CONJ	i
svih	PRO	sav
bračnih	A:aef	bračni
obaveza	N:f	obaveza
,	PUNCT	,
kako	CONJ	kako
bi	V:m	bi
tu	PRO	taj
energiju	N:f	energija
i	CONJ	i
želje	N:f	želja
izbacili	V:m	izbaciti
iz	PREP	iz
svog	PRO	svoj
sistema	N:m	sistem
.	PUNCT	.
Naravno	PAR	naravno
momci	N:m	momak
ovo	PRO	ovaj
vide	N:f	vida
kao	CONJ	kao
da	CONJ	da
im	PRO	ona
bog	N:m	bog
odgovara	N:m	odgovara
na	PREP	na
njihove	PRO	njihov
molitve	N:f	molitva
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
kao	CONJ	kao
rezultat	N:m	rezultat
na	PREP	na
njihovu	PRO	njihov
lošu	A:aem	loš
situaciju	N:f	situacija
u	PREP	u
brakovima	N:m	brak
,	PUNCT	,
i	CONJ	i
više	ADV	više
nego	CONJ	nego
uzbuđeno	ADV	uzbuđeno
prihvataju	N:m	prihvataju
svoj	PRO	sav
“	A:aem	“
poklon	N:m	poklon
”	N:m	”
,	PUNCT	,
i	CONJ	i
kreću	A:aem	kreću
na	PREP	na
misiju	N:f	misija
da	CONJ	da
spavaju	N:f	spavaju
sa	PREP	sa
što	PRO	što
više	ADV	više
je	PRO	ona
žena	N:f	žena
moguće	ADV	moguće
,	PUNCT	,
dok	CONJ	dok
se	PAR	se
ova	PRO	ovaj
njihova	PRO	njihov
specijalna	A:aef	specijalan
nedelja	N:f	nedelja
ne	PAR	ne
završi	V:m	završi
,	PUNCT	,
i	CONJ	i
ne	PAR	ne
vrate	N:m	vrat
se	PAR	se
u	PREP	u
normalan	A:aem	normalan
porodični	A:aem	porodičan
život	N:m	život
.	PUNCT	.
Iako	CONJ	iako
ovaj	PRO	ovaj
zaplet	N:m	zaplet
obećava	A:aef	obećava
nedelju	N:f	nedelja
dana	N:m	dan
kompletnog	A:aem	kompletan
ludila	N:n	ludilo
i	CONJ	i
mnoštvo	N:n	mnoštvo
urnebesnih	A:aem	urnebesnih
momenata	N:m	moment
,	PUNCT	,
moram	N:m	moram
razočarati	N:m	razočarati
i	CONJ	i
reći	A:aem	reći
da	CONJ	da
se	PAR	se
apsolutno	ADV	apsolutno
ništa	ADV	ništa
niti	CONJ	niti
bitno	ADV	bitno
,	PUNCT	,
niti	CONJ	niti
smešno	A:aen	smešan
nije	N:n	nije
desilo	V:n	desiti
.	SENT	.
Odbrojavanje	N:n	odbrojavanje
dana	N:m	dan
vidimo	N:f	vidimo
u	PREP	u
“	A:aem	“
Law	N:m	Law
&	SENT	&
Order	N:m	Order
”	A:aem	”
stilu	N:n	stilo
,	PUNCT	,
gde	CONJ	gde
se	PAR	se
ekran	N:m	ekran
u	PREP	u
potpunosti	N:f	potpunost
zacrni	A:aem	zacrni
,	PUNCT	,
i	CONJ	i
vidi	N:f	vida
se	PAR	se
broj	N:m	broj
dana	N:m	dan
.	SENT	.
Iako	CONJ	iako
se	PAR	se
projekat	N:m	projekt
svim	PRO	sav
silama	N:f	sila
trudi	V:m	trudi
da	CONJ	da
bude	A:aem	bude
smešan	A:aem	smešan
,	PUNCT	,
ali	CONJ	ali
jednostavno	ADV	jednostavno
smatram	A:aem	smatram
da	CONJ	da
su	PREF	su
scene	N:f	scena
kao	CONJ	kao
vršenje	N:n	vršenje
velike	A:aem	velik
nužde	N:f	nužda
na	PREP	na
terenu	N:m	teren
za	PREP	za
golf	N:m	golf
,	PUNCT	,
proždiranje	N:n	proždiranje
kolačića	N:m	kolačić
sa	PREP	sa
drogom	N:f	droga
,	PUNCT	,
ostalih	A:aen	ostalih
fekalnihh	A:aen	fekalnihh
i	CONJ	i
genitalnih	A:aen	genitalni
jeftinih	A:aen	jeftin
referenci	N:f	referenca
ispod	PREP	ispod
svačijeg	PRO	svačiji
nivoa	N:m	nivo
humora	N:m	humor
,	PUNCT	,
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
definitivno	ADV	definitivno
najveće	A:cef	velik
razočarenje	N:n	razočarenje
je	PRO	ona
što	PRO	što
dani	N:m	dan
izuzetno	ADV	izuzetno
brzo	ADV	brzo
lete	N:m	let
,	PUNCT	,
imaju	N:f	imaju
sumirana	V:f	sumirati
tri	NUM	tri
dana	N:m	dan
u	PREP	u
svega	ADV	svega
desetak	ADV	desetak
minuta	N:m	minut
filma	N:m	film
,	PUNCT	,
i	CONJ	i
na	PREP	na
kraju	N:m	kraj
naravno	PAR	naravno
pokušavaju	N:m	pokušavaju
sve	ADV	sve
da	CONJ	da
naguraju	N:n	naguraju
.	SENT	.
Film	N:m	film
isto	PRO	isti
ne	PAR	ne
čini	N:f	čini
sebi	PRO	sebe
uslugu	N:f	usluga
time	PRO	taj
što	PRO	što
kroz	PREP	kroz
svoju	PRO	svoj
duraciju	N:f	duraciju
iz	PREP	iz
neobavezne	A:aef	neobavezan
brlje	N:f	brlja
pokušava	N:f	pokušava
da	CONJ	da
se	PAR	se
prebaci	N:m	prebaci
u	PREP	u
romansu	N:f	romansa
,	PUNCT	,
i	CONJ	i
na	PREP	na
kraju	N:m	kraj
da	CONJ	da
ugura	A:aem	ugura
i	CONJ	i
srceparajuće	A:aem	srceparajući
dramatične	A:aem	dramatičan
segmente	N:m	segment
,	PUNCT	,
čineći	N:f	čineći
čitav	A:aem	čitav
svoj	PRO	sav
sklop	N:m	sklop
,	PUNCT	,
“	A:aem	“
već	CONJ	već
viđenim	A:aem	viđen
”	N:m	”
i	CONJ	i
“	A:aem	“
izlizanim	A:aem	izlizan
”	N:m	”
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
same	PRO	sam
glume	N:f	gluma
,	PUNCT	,
ona	PRO	ona
nije	A:aem	nije
sjajna	A:aem	sjajan
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
korektna	A:aen	korektan
,	PUNCT	,
niko	PRO	niko
se	PAR	se
nije	V:n	nije
nešto	ADV	nešto
posebno	ADV	posebno
istakao	V:m	istakati
,	PUNCT	,
a	CONJ	a
nije	V:m	nije
se	PAR	se
ni	PAR	ni
obrukao	V:m	obrukati
.	PUNCT	.
Vezano	ADV	vezano
za	PREP	za
naše	PRO	naš
glavne	A:aem	glavne
aktere	N:m	akter
Oven	N:m	Oven
Vilson	N:m	Vilson
je	PRO	ona
prilično	ADV	prilično
monoton	A:aem	monoton
,	PUNCT	,
bez	PREP	bez
ikakvih	PRO	ikakav
značajnih	A:aem	značajan
momenata	N:m	moment
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
Džejson	N:m	Džejson
prilično	ADV	prilično
interesantan	A:aem	interesantan
.	SENT	.
Mogu	N:m	Mog
otvoreno	A:aen	otvoren
reći	N:m	reći
da	CONJ	da
su	N:m	su
mi	PRO	ja
najsmešniji	A:cem	smešan
momenti	N:m	moment
filma	N:m	film
način	N:m	način
na	PREP	na
koji	PRO	koji
Džejson	N:m	Džejson
izgovara	N:m	izgovara
i	CONJ	i
gestikulira	N:f	gestikulira
ovako	ADV	ovako
osrednji	A:aem	osrednji
scenario	N:m	scenario
.	SENT	.
Ovaj	PRO	ovaj
projekat	N:m	projekt
zbilja	PAR	zbilja
nije	V:n	nije
ništa	ADV	ništa
posebno	ADV	posebno
,	PUNCT	,
iako	CONJ	iako
doduše	PAR	doduše
ima	V:f	ima
nekoliko	ADV	nekoliko
interesantnih	A:aef	interesantan
sekvenci	N:f	sekvenca
,	PUNCT	,
i	CONJ	i
par	N:m	par
interesantnih	A:aef	interesantan
sporednih	A:aem	sporedan
likova	N:n	likovo
,	PUNCT	,
jednostavno	ADV	jednostavno
se	PAR	se
spaja	N:f	spaja
sa	PREP	sa
prosekom	N:f	proseka
romantičnih	A:aef	romantičan
komedija	N:f	komedija
i	CONJ	i
lako	ADV	lako
se	PAR	se
zaboravlja	N:n	zaboravlja
pošto	CONJ	pošto
ne	PAR	ne
ostavlja	N:n	ostavlja
nikakav	PRO	nikakav
poseban	A:aem	poseban
utisak	N:m	utisak
.	SENT	.
Nije	A:aen	Nije
tragično	A:aen	tragičan
,	PUNCT	,
ali	CONJ	ali
zbilja	PAR	zbilja
nepotrebno	ADV	nepotrebno
.	SENT	.
