Od	PREP	od
starta	N:m	start
ću	A:aem	ću
najaviti	N:m	najaviti
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
definitivno	ADV	definitivno
nije	V:m	nije
za	PREP	za
svakoga	PRO	svaki
,	PUNCT	,
ovaj	PRO	ovaj
proizvod	N:m	proizvod
je	PRO	ona
isključivo	ADV	isključivo
ciljan	V:m	ciljati
i	CONJ	i
namenjen	V:m	nameniti
ljubiteljima	N:m	ljubitelj
tzv	ABB	tzv
.	SENT	.
“	A:aem	“
Trash	A:aem	Trash
”	N:m	”
horor	N:m	horor
žanra	N:m	žanr
.	SENT	.
Filmovi	N:m	film
ovog	PRO	ovaj
žanra	N:m	žanr
za	PREP	za
cilj	N:m	cilj
imaju	N:f	imaju
da	CONJ	da
ismevaju	A:aem	ismevaju
loše	A:aef	loš
horor	N:m	horor
filmove	N:m	film
,	PUNCT	,
prikazivajući	A:aen	prikazivajući
sarkastično	A:aen	sarkastičan
što	CONJ	što
gluplje	A:bef	glup
i	CONJ	i
besmislenije	A:bef	besmislen
scene	N:f	scena
koje	PRO	koji
čine	N:m	čin
čitavo	A:aen	čitav
isključivo	A:aen	isključiv
gledanja	N:n	gledanje
vrlo	ADV	vrlo
smešnim	A:aen	smešan
i	CONJ	i
zabavnim	A:aen	zabavan
.	SENT	.
Svako	PRO	svaki
ko	PRO	ko
je	PRO	ona
gledao	V:m	gledati
trejler	N:m	trejler
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
uočio	V:m	uočiti
je	PRO	ona
da	CONJ	da
su	N:m	su
glavni	A:aem	glavni
faktori	N:m	faktor
krvoproliće	N:n	krvoproliće
i	CONJ	i
golotinja	N:f	golotinja
.	SENT	.
Očekivao	V:m	Očekivao
sam	A:aem	sam
da	CONJ	da
će	A:aem	će
biti	N:f	bit
više	ADV	više
i	CONJ	i
ozbiljnijeg	A:ben	ozbiljan
krvoprolića	N:n	krvoproliće
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
zato	ADV	zato
golotinje	N:f	golotinja
bile	V:f	biti
više	ADV	više
nego	CONJ	nego
što	ADV	što
sam	PRO	sam
mislio	V:m	misliti
.	SENT	.
Film	N:m	film
se	PAR	se
trudi	V:f	trudi
da	CONJ	da
ismeje	V:f	ismeje
popularne	A:aef	popularan
horor	N:m	horor
blokbastere	N:m	blokbaster
,	PUNCT	,
kao	ADV	kao
što	CONJ	što
su	PREF	su
“	A:aem	“
Ajkula	N:m	Ajkula
”	N:m	”
(	PUNCT	(
Jaws	N:m	Jaws
)	PUNCT	)
i	CONJ	i
kombinacije	N:f	kombinacija
raznih	A:aem	raznih
Ves	N:m	Ves
Krejvenovih	A:aem	Krejvenov
(	PUNCT	(
Wes	N:m	Wes
Craven	N:m	Craven
)	PUNCT	)
filmova	N:m	film
gde	CONJ	gde
nekolicine	N:f	nekolicina
pijanih	A:aem	pijan
i	CONJ	i
super	ADV	super
iritantnih	A:aem	iritantan
tinejdžera	N:m	tinejdžer
tragično	A:aen	tragičan
stradaju	N:m	stradaju
.	SENT	.
Zaplet	N:m	zaplet
je	PRO	ona
smisleno	A:aen	smislen
toliko	ADV	toliko
proziran	V:m	prozirati
da	CONJ	da
je	PRO	ona
skoro	ADV	skoro
nepostojeći	A:aem	nepostojeći
.	SENT	.
Kroz	PREP	kroz
pukotinu	N:f	pukotina
na	PREP	na
dnu	N:n	dno
Okeana	N:m	Okean
izlaze	N:m	izlaz
super	ADV	super
krvoločne	A:aef	krvoločan
pirane	N:f	pirana
za	PREP	za
koje	PRO	koji
su	N:m	su
ljudi	N:m	ljudi
smatrali	V:m	smatrati
da	CONJ	da
su	N:m	su
izumrele	V:f	izumrele
pre	PREP	pre
hiljade	N:f	hiljada
godina	N:f	godina
.	SENT	.
One	PRO	onaj
isplivavaju	N:m	isplivavaju
tačno	ADV	tačno
na	PREP	na
odmaralište	N:n	odmaralište
gde	CONJ	gde
se	PAR	se
veliki	A:aem	velik
broj	N:m	broj
studenata	N:m	student
okupio	V:m	okupiti
na	PREP	na
letnjem	A:aem	letnji
raspustu	N:m	raspust
…	SENT	…
.	PUNCT	.
budalaština	N:f	budalaština
!	PUNCT	!
Kasting	N:m	kasting
je	PRO	ona
sačinjen	V:m	sačiniti
od	PREP	od
poznatih	A:aef	poznat
ispranih	A:aen	ispran
imena	N:n	ime
,	PUNCT	,
kao	ADV	kao
što	CONJ	što
su	PREF	su
Keli	N:f	Keli
Bruk	N:f	Bruk
(	PUNCT	(
Kelly	A:aem	Kelly
Brook	A:aem	Brook
)	PUNCT	)
,	PUNCT	,
Elizabet	N:f	Elizabet
Šu	N:m	Šu
(	PUNCT	(
Elizabeth	A:aem	Elizabeth
Shue	N:m	Shue
)	PUNCT	)
,	PUNCT	,
Džeri	N:m	Džeri
O	A:aem	O
Konel	N:m	Konel
(	PUNCT	(
Jerry	A:aem	Jerry
O	A:aem	O
’	A:aem	’
Connell	N:m	Connell
)	PUNCT	)
,	PUNCT	,
Ving	N:m	Ving
Rems	N:m	Rems
(	PUNCT	(
Ving	N:m	Ving
Rhames	N:m	Rhames
)	PUNCT	)
,	PUNCT	,
plus	N:m	plus
par	N:m	par
poznatih	A:aef	poznat
glumica	N:f	glumica
iz	PREP	iz
porno	A:aen	porni
industrije	N:f	industrija
,	PUNCT	,
što	CONJ	što
znatno	ADV	znatno
dodaje	N:f	dodaje
na	PREP	na
neozbiljnosti	N:f	neozbiljnost
i	CONJ	i
sarkazmu	N:m	sarkazam
.	SENT	.
Atmosfera	N:f	atmosfera
na	PREP	na
filmu	N:m	film
deluje	A:aem	deluje
korektno	A:aen	korektan
,	PUNCT	,
stvara	N:m	stvara
se	PAR	se
utisak	N:m	utisak
kao	ADV	kao
da	CONJ	da
se	PAR	se
ekipa	N:f	ekipa
dobro	ADV	dobro
zabavljala	V:m	zabavljati
dok	CONJ	dok
je	PRO	ona
snimala	V:f	snimati
.	SENT	.
Efekti	N:m	efekt
su	PREF	su
znatno	ADV	znatno
bolji	A:bem	dobar
nego	CONJ	nego
što	CONJ	što
sam	PRO	sam
očekivao	V:m	očekivati
,	PUNCT	,
a	CONJ	a
realno	ADV	realno
su	N:m	su
smešno	A:aen	smešan
loši	A:aem	loš
.	SENT	.
Za	PREP	za
divno	A:aen	divan
čudo	N:n	čudo
,	PUNCT	,
nije	A:aen	nije
bilo	V:n	biti
nešto	PRO	nešto
izlazanih	A:aem	izlazanih
kliše	N:m	kliše
dijaloga	N:m	dijalog
.	SENT	.
Film	N:m	film
je	PRO	ona
posedovao	V:m	posedovati
originalu	N:m	original
bazu	N:f	baza
glupih	A:aef	glup
izjava	N:f	izjava
likova	N:n	likovo
.	SENT	.
Jedine	A:aef	jedini
zamerke	N:f	zamerka
filma	N:m	film
–	N:m	–
neke	PRO	neki
scene	N:f	scena
traju	N:m	traju
mnogo	ADV	mnogo
duže	ADV	duže
nego	CONJ	nego
što	ADV	što
bi	V:f	bi
trebale	V:f	trebati
,	PUNCT	,
dok	CONJ	dok
neke	PRO	neki
druge	A:aem	drugi
remete	N:f	remeta
neizvesnost	N:f	neizvesnost
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
sam	A:aem	sam
i	CONJ	i
ranije	ADV	ranije
naveo	V:m	navesti
,	PUNCT	,
krvi	N:f	krv
ima	A:aem	ima
toliko	ADV	toliko
da	CONJ	da
se	PAR	se
kante	N:f	kanta
mogu	A:aem	mogu
puniti	N:m	puniti
,	PUNCT	,
ali	CONJ	ali
ni	PAR	ni
blizu	ADV	blizu
kao	ADV	kao
egzibicionizma	N:m	egzibicionizam
…	PUNCT	…
tako	ADV	tako
da	CONJ	da
možda	PAR	možda
nije	V:m	nije
pametno	ADV	pametno
gledati	V:m	gledati
ovaj	PRO	ovaj
projekat	N:m	projekt
u	PREP	u
blizini	N:f	blizina
dece	N:f	deca
.	SENT	.
Sam	A:aem	sam
sadržaj	N:m	sadržaj
je	PRO	ona
definitivno	ADV	definitivno
namenjen	V:m	nameniti
za	PREP	za
odrasle	A:aem	odrastao
.	PUNCT	.
Dakle	CONJ	dakle
da	CONJ	da
sumiramo	N:f	sumiramo
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
projekat	N:m	projekt
koji	PRO	koji
namerno	ADV	namerno
sadrži	A:aem	sadrži
glupavu	A:aef	glupav
priču	N:f	priča
,	PUNCT	,
ispunjenu	A:aef	ispunjen
smešnim	A:aef	smešan
i	CONJ	i
butalnim	A:aef	butalnim
scenama	N:f	scena
,	PUNCT	,
sa	PREP	sa
dosta	ADV	dosta
krvoprolića	N:n	krvoproliće
i	CONJ	i
eksplicitne	A:aem	eksplicitan
golotinje	N:f	golotinja
.	SENT	.
Ako	CONJ	ako
mislite	N:m	mislite
da	CONJ	da
ovakvi	PRO	ovakav
faktori	N:m	faktor
mogu	N:m	Mog
da	CONJ	da
vas	PRO	vi
zabave	N:f	zabava
,	PUNCT	,
onda	CONJ	onda
ga	PRO	on
strogo	ADV	strogo
preporučujem	N:m	preporučujem
.	SENT	.
Čista	N:m	Čista
praznoglava	A:aef	praznoglav
krvava	A:aef	krvav
zezancija	N:f	zezancija
!	PUNCT	!
