Ako	CONJ	ako
ni	PAR	ni
po	PREP	po
koga	PRO	koji
drugog	A:aem	drugi
,	PUNCT	,
a	CONJ	a
ono	PRO	onaj
sreća	N:f	sreća
po	PREP	po
recezente	N:m	recezente
što	CONJ	što
film	N:m	film
Prijatelji	N:m	prijatelj
dosta	ADV	dosta
brzo	ADV	brzo
očita	A:aen	očit
sve	PRO	sav
svoje	PRO	svoj
kvalitete	N:m	kvalitet
i	CONJ	i
sve	PRO	sav
svoje	PRO	svoj
manjkavosti	N:f	manjkavost
.	SENT	.
A	CONJ	a
kvaliteti	N:m	kvalitet
i	CONJ	i
manjkavosti	N:f	manjkavost
ovde	ADV	ovde
stoje	N:f	stoja
u	PREP	u
gotovo	ADV	gotovo
savršenoj	A:aef	savršen
ravnoteži	N:f	ravnoteža
.	SENT	.
Prijatelji	N:m	prijatelj
nominalno	A:aen	nominalan
pripadaju	N:m	pripadaju
stilsko	A:aen	stilski
-	PUNCT	-
produkcionoj	A:aef	produkcioni
podgrupi	N:f	podgrupa
američkog	A:aen	američki
nazavisnog	A:aem	nazavisnog
/	N:m	/
indie	A:aem	indie
filma	N:m	film
,	PUNCT	,
ali	CONJ	ali
osim	PREP	osim
toga	PRO	taj
valja	N:f	valja
naglasiti	A:aem	naglasiti
da	CONJ	da
se	PAR	se
i	CONJ	i
u	PREP	u
tim	PRO	taj
samonategnutim	A:aef	samonategnutim
granicama	N:f	granica
ključna	A:aef	ključna
autorka	N:f	autorka
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
Jennifer	N:m	Jennifer
Westfeldt	N:f	Westfeldt
(	PUNCT	(
ovde	ADV	ovde
i	CONJ	i
rediteljka	N:f	rediteljka
i	CONJ	i
scenaristkinja	N:f	scenaristkinja
i	CONJ	i
producentkinja	N:f	producentkinja
i	CONJ	i
tumač	N:m	tumač
jedne	NUM	jedan
od	PREP	od
dve	NUM	dva
glavne	A:aef	glavne
uloge	N:f	uloga
)	PUNCT	)
,	PUNCT	,
reklo	V:n	reći
bi	V:n	bi
se	PAR	se
,	PUNCT	,
ciljano	ADV	ciljano
i	CONJ	i
svesno	ADV	svesno
drži	N:m	drži
sredine	N:f	sredina
i	CONJ	i
tog	PRO	taj
puta	N:m	put
.	SENT	.
To	PRO	taj
je	PRO	ona
igra	N:f	igra
na	PREP	na
sigurno	ADV	sigurno
i	CONJ	i
to	PRO	taj
je	PRO	ona
,	PUNCT	,
naravno	PAR	naravno
,	PUNCT	,
sasvim	ADV	sasvim
legitiman	A:aem	legitiman
potez	N:m	potez
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
to	PRO	taj
omeđuje	N:f	omeđuje
Prijatelje	N:m	prijatelj
Westfeldtove	A:aem	Westfeldtove
u	PREP	u
zabat	N:m	zabat
mnogo	ADV	mnogo
puta	ADV	puta
viđenih	A:aef	viđen
pričaonica	N:f	pričaonica
na	PREP	na
teme	N:f	tema
muško	A:aen	muški
-	PUNCT	-
ženskih	A:aef	ženski
i	CONJ	i
šire	A:bem	širok
shvaćenih	A:aef	shvaćen
međuljudskih	A:aef	međuljudski
odnosa	N:m	odnos
.	SENT	.
Prijatelji	N:m	prijatelj
kreće	A:aem	kreće
od	PREP	od
osnovne	A:aem	osnovni
potke	N:f	potka
o	PREP	o
dvoje	NUM	dvoje
višegodišnjih	A:aef	višegodišnji
,	PUNCT	,
iskrenih	A:aef	iskren
i	CONJ	i
odanih	A:aem	odan
prijatelja	N:m	prijatelj
koji	PRO	koji
se	PAR	se
dogovore	N:m	dogovor
da	CONJ	da
udruženim	A:aef	udružen
snagama	N:f	snaga
dođu	A:aen	dođu
do	PREP	do
potomstva	N:n	potomstvo
dok	CONJ	dok
im	PRO	ona
i	CONJ	i
onaj	PRO	onaj
poslovični	A:aem	poslovičan
poslednji	A:aem	poslednji
voz	N:m	voz
ne	PAR	ne
utekne	V:n	utekne
.	SENT	.
Dolazak	N:m	dolazak
deteta	N:n	dete
na	PREP	na
svet	N:m	svet
,	PUNCT	,
sasvim	ADV	sasvim
očekivano	A:aen	očekivan
,	PUNCT	,
drastično	A:aen	drastičan
menja	N:n	menja
prirodu	N:f	priroda
njihovog	PRO	njihov
dotadašnjeg	A:aem	dotadašnji
odnosa	N:m	odnos
,	PUNCT	,
baš	PAR	baš
kao	ADV	kao
što	CONJ	što
u	PREP	u
dobroj	A:aef	dobar
meri	N:f	mera
utiče	N:f	utiče
i	CONJ	i
na	PREP	na
njihove	PRO	njihov
odnose	N:m	odnos
sa	PREP	sa
poširom	A:bef	poširok
mrežom	N:f	mreža
prijatelja	N:m	prijatelj
.	PUNCT	.
Premisa	N:f	premisa
,	PUNCT	,
dakle	CONJ	dakle
,	PUNCT	,
sasvim	ADV	sasvim
jasna	A:aen	jasan
i	CONJ	i
ne	PAR	ne
bez	PREP	bez
privlačnosti	N:f	privlačnost
i	CONJ	i
rezona	N:m	rezon
,	PUNCT	,
premisa	N:f	premisa
dovoljno	ADV	dovoljno
jaka	A:aem	jak
da	CONJ	da
se	PAR	se
oko	PREP	oko
nje	PRO	ona
sroči	A:aem	sroči
čitava	A:aem	čitav
jedna	NUM	jedan
filmska	A:aef	filmski
priča	N:f	priča
,	PUNCT	,
ali	CONJ	ali
ipak	PAR	ipak
lišena	A:aem	lišen
potencijala	N:m	potencijal
za	PREP	za
stvaranje	N:n	stvaranje
istinski	ADV	istinski
osobenog	A:aem	osoben
i	CONJ	i
filma	N:m	film
viših	A:aen	viši
dometa	N:m	domet
.	SENT	.
Westfeldtova	A:aem	Westfeldtova
svoje	PRO	svoj
Prijatelje	N:m	prijatelj
pozicionira	N:m	pozicionira
unutar	PREP	unutar
mikrokosmosa	N:m	mikrokosmos
koji	PRO	koji
dobro	A:aen	dobar
poznajemo	N:f	poznajemo
iz	PREP	iz
ostvarenja	N:n	ostvarenje
nedavno	ADV	nedavno
upokojene	A:aef	upokojen
Nore	N:f	Nora
Ephron	A:aem	Ephron
i	CONJ	i
to	PRO	taj
je	PRO	ona
uzor	N:m	uzor
koji	PRO	koji
autorka	N:f	autorka
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
ni	PAR	ni
ne	PAR	ne
pokušava	N:f	pokušava
da	CONJ	da
prikrije	N:f	prikrije
.	SENT	.
Jedina	A:aef	jedini
nevolja	N:f	nevolja
je	PRO	ona
što	PRO	što
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
uprkos	PREP	uprkos
opštoj	A:aef	opšti
uprizorenosti	N:f	uprizorenosti
i	CONJ	i
svrsihodnosti	N:f	svrsihodnosti
,	PUNCT	,
te	PRO	taj
solidnoj	A:aef	solidan
izradi	N:f	izrada
po	PREP	po
svim	PRO	sav
pitanjima	N:n	pitanje
i	CONJ	i
nekoliko	ADV	nekoliko
odblesaka	N:m	odblesak
scenarističke	A:aef	scenaristički
genijalnosti	N:f	genijalnost
u	PREP	u
najavi	N:f	najava
(	PUNCT	(
recimo	N:f	recimo
,	PUNCT	,
u	PREP	u
sceni	N:f	scena
razgovora	N:m	razgovor
o	PREP	o
dužini	N:f	dužina
penisa	N:m	penis
)	PUNCT	)
,	PUNCT	,
kao	CONJ	kao
celina	N:f	celina
ipak	PAR	ipak
vidno	ADV	vidno
zaostaje	N:m	zaostaje
za	PREP	za
klasikom	N:f	klasika
Kad	ADV	kad
je	PRO	ona
Hari	N:m	Hari
sreo	V:m	sresti
Sali	N:f	Sali
,	PUNCT	,
pa	CONJ	pa
čak	PAR	čak
i	CONJ	i
kada	CONJ	kada
vrednost	N:f	vrednost
čitavog	A:aen	čitav
poslednjepomenutog	A:aem	poslednjepomenutog
remek	N:m	remek
-	PUNCT	-
dela	N:n	delo
svedemo	N:f	svedemo
na	PREP	na
uzorak	N:m	uzorak
legendarne	A:aef	legendaran
scene	N:f	scena
u	PREP	u
kojoj	PRO	koji
Meg	N:f	Meg
Ryan	N:m	Ryan
simulira	N:m	simulira
orgazam	N:m	orgazam
u	PREP	u
punom	A:aem	pun
restoranu	N:m	restoran
.	SENT	.
