Majkl	N:m	Majkl
Bej	N:m	bej
(	PUNCT	(
Michael	N:m	Michael
Bay	N:m	Bay
)	PUNCT	)
već	CONJ	već
godinama	ADV	godinama
u	PREP	u
nazad	ADV	nazad
s	PREP	s
puno	A:aen	pun
uspeha	N:m	uspeh
siluje	N:m	siluje
detinjstvo	N:n	detinjstvo
svih	PRO	sav
nas	PRO	mi
koji	PRO	koji
smo	N:f	smo
odrastali	V:m	odrastati
tokom	PREP	tokom
devesedestih	A:aef	devesedestih
godina	N:f	godina
prošlog	A:aen	prošli
veka	N:m	vek
.	PUNCT	.
Iako	CONJ	iako
izuzetno	ADV	izuzetno
uspešne	A:aef	uspešan
(	PUNCT	(
u	PREP	u
finansijskom	A:aef	finansijski
smislu	N:m	smisao
)	PUNCT	)
,	PUNCT	,
njegove	PRO	njegov
filmske	A:aem	filmski
adaptacije	N:f	adaptacija
kultnog	A:aem	kultnog
crtaća	N:m	crtać
Transformers	N:m	Transformers
su	PREF	su
mnoge	A:aef	mnogi
naterale	V:f	naterati
da	CONJ	da
se	PAR	se
hvataju	N:m	hvataju
za	PREP	za
glavu	N:f	glava
i	CONJ	i
mole	N:m	mol
Boga	N:f	Boga
da	CONJ	da
im	PRO	ona
monitor	N:m	monitor
jednostavno	ADV	jednostavno
eksplodira	N:m	eksplodira
u	PREP	u
lice	N:n	lice
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
se	PAR	se
film	N:m	film
završi	N:f	završi
.	SENT	.
Prebrzi	A:aem	prebrz
rezovi	N:m	rez
,	PUNCT	,
trapavo	ADV	trapavo
reciklirane	A:aef	recikliran
scene	N:f	scena
,	PUNCT	,
pretanki	A:aem	pretanak
zapleti	N:m	zaplet
,	PUNCT	,
banalni	A:aem	banalan
dijalozi	N:m	dijalog
i	CONJ	i
očajna	A:aen	očajan
gluma	N:f	gluma
su	PREF	su
glavni	A:aem	glavni
razlozi	N:m	razlog
zbog	PREP	zbog
kojih	PRO	koji
je	PRO	ona
Bej	N:m	bej
poznat	V:m	poznati
u	PREP	u
svetu	A:aen	svet
filma	N:m	film
kao	CONJ	kao
jedan	NUM	jedan
od	PREP	od
trenutno	ADV	trenutno
najomrženijih	A:cem	najomrženijih
živih	A:aem	živ
reditelja	N:m	reditelj
.	SENT	.
Nekoliko	ADV	nekoliko
puta	ADV	puta
sam	A:aem	sam
na	PREP	na
ovom	PRO	ovaj
blogu	N:m	blog
pominjao	V:m	pominjati
da	CONJ	da
ne	PAR	ne
smatram	N:m	smatram
da	CONJ	da
filmska	A:aef	filmski
adaptacija	N:f	adaptacija
nekog	PRO	neki
dela	N:n	delo
treba	N:f	treba
da	CONJ	da
bude	A:aef	bude
fotokopija	N:f	fotokopija
“	A:aem	“
originala	N:m	original
”	N:m	”
,	PUNCT	,
samo	PAR	samo
u	PREP	u
drugom	A:aef	drugi
formatu	N:m	format
.	SENT	.
Svaki	PRO	svaki
doprinos	N:m	doprinos
,	PUNCT	,
odnosno	PAR	odnosno
deljenje	N:n	deljenje
vizije	N:f	vizija
i	CONJ	i
načina	N:m	način
kako	CONJ	kako
je	PRO	ona
na	PREP	na
onog	PRO	onaj
ko	PRO	ko
adaptira	N:m	adaptira
uticalo	V:n	uticati
originalno	A:aen	originalan
štivo	N:n	štivo
je	PRO	ona
za	PREP	za
svaku	PRO	svaki
pohvalu	N:f	pohvala
.	SENT	.
Problem	N:m	problem
kod	PREP	kod
Bejovih	A:aef	bejov
adaptacije	N:f	adaptacija
je	PRO	ona
što	PRO	što
iste	PRO	isti
ne	PAR	ne
poštuju	N:m	poštuju
sadržaj	N:m	sadržaj
na	PREP	na
kojem	PRO	koji
su	N:m	su
zasnovane	V:f	zasnovati
.	SENT	.
Majkl	N:m	Majkl
daje	N:m	daje
sebi	PRO	sebe
za	PREP	za
pravo	N:n	pravo
da	CONJ	da
u	PREP	u
potpunosti	N:f	potpunost
menja	N:n	menja
ključne	A:aem	ključne
elemente	N:m	element
priče	N:f	priča
,	PUNCT	,
što	CONJ	što
itekako	ADV	itekako
već	PAR	već
u	PREP	u
samom	PRO	sam
startu	N:m	start
stvara	N:m	stvara
negativan	A:aem	negativan
stav	N:m	stav
prema	PREP	prema
njegovom	PRO	njegov
filmu	N:m	film
.	PUNCT	.
Ako	CONJ	ako
ti	PRO	taj
se	PAR	se
određena	V:m	odrediti
ideja	N:f	ideja
koja	PRO	koji
uživa	A:aem	uživa
u	PREP	u
kultnom	A:aem	kultnom
statusu	N:m	status
ne	PAR	ne
dopada	N:m	dopada
,	PUNCT	,
ne	PAR	ne
vidim	A:aef	vidim
poentu	N:f	poenta
zašto	CONJ	zašto
bi	V:m	bi
se	PAR	se
cimao	V:m	cimati
oko	PREP	oko
nje	PRO	ona
?	PUNCT	?
Ok	A:aem	Ok
,	PUNCT	,
drugačije	ADV	drugačije
bi	A:aem	bi
bilo	V:n	biti
da	CONJ	da
dotični	A:aem	dotični
stvarno	ADV	stvarno
ima	A:aef	ima
viziju	N:f	vizija
kako	CONJ	kako
da	CONJ	da
je	PRO	ona
unapredi	N:m	unapredi
i	CONJ	i
da	CONJ	da
snima	N:m	san
nezavisne	A:aem	nezavisan
filmove	N:m	film
koji	PRO	koji
nisu	N:m	nisu
toliko	ADV	toliko
strogo	ADV	strogo
finansijski	A:aem	finansijski
fokusirani	V:m	fokusirati
.	SENT	.
Bej	N:m	bej
je	PRO	ona
filmadžija	N:f	filmadžija
koji	PRO	koji
radi	PREP	radi
na	PREP	na
skupim	A:aem	skup
projektima	N:m	projekt
za	PREP	za
velike	A:aem	velik
producentske	A:aef	producentski
kuće	N:f	kuća
.	SENT	.
Cilj	N:m	cilj
njegovih	PRO	njegov
filmova	N:m	film
svakako	ADV	svakako
nije	V:m	nije
okrenut	V:m	okrenuti
artističnom	A:aen	artističnom
izražavanju	N:n	izražavanje
,	PUNCT	,
već	PAR	već
monetarnom	A:aem	monetarni
uspehu	N:m	uspeh
.	SENT	.
Priča	A:aem	Priča
Bejovog	A:aem	bejov
“	A:aem	“
Teenage	N:m	Teenage
Ninja	N:f	Ninja
Mutant	N:m	mutant
Turtles	N:m	Turtles
”	A:aem	”
filma	N:m	film
nas	PRO	mi
vodi	N:f	voda
u	PREP	u
Njujork	N:m	Njujork
i	CONJ	i
mi	PRO	ja
već	PAR	već
u	PREP	u
prvih	A:aef	prvi
nekoliko	ADV	nekoliko
scena	N:f	scena
vidimo	N:f	vidimo
da	CONJ	da
ovaj	PRO	ovaj
grad	N:m	grad
preuzima	N:m	preuzima
mračna	A:aef	mračan
sila	N:f	sila
.	PUNCT	.
Kriminal	N:m	kriminal
i	CONJ	i
strah	N:m	strah
se	PAR	se
šire	A:bem	širok
ulicama	N:f	ulica
,	PUNCT	,
Sekač	N:f	Sekač
i	CONJ	i
njegov	PRO	njegov
zli	A:aem	zao
klan	N:m	klan
Stopalo	A:aen	Stopalo
haraju	N:m	haraju
gradom	N:m	grad
,	PUNCT	,
manipulišu	A:aem	manipulišu
policijom	N:f	policija
i	CONJ	i
političarima	N:m	političar
.	SENT	.
Budućnost	N:f	Budućnost
deluje	N:m	deluje
sumorno	ADV	sumorno
,	PUNCT	,
sve	ADV	sve
dok	CONJ	dok
četvorica	N:f	četvorica
odbačene	A:aef	odbačen
braće	N:f	braća
,	PUNCT	,
preživeli	A:aem	preživeo
dokazi	N:m	dokaz
naučnog	A:aem	naučni
eksperimenta	N:m	eksperiment
koji	PRO	koji
je	PRO	ona
pošao	V:m	poći
po	PREP	po
zlu	A:aem	zao
,	PUNCT	,
ne	PAR	ne
izađu	A:bef	izađu
iz	PREP	iz
podzemlja	N:n	podzemlje
i	CONJ	i
prigrle	V:f	prigrle
svoju	PRO	svoj
sudbinu	N:f	sudbina
maskiranih	A:aem	maskiran
zaštitnika	N:m	zaštitnik
.	SENT	.
Suočeni	A:aem	Suočeni
sa	PREP	sa
Sekačevim	A:aem	Sekačevim
monstruoznim	A:aem	monstruozan
planom	N:m	plan
o	PREP	o
dominaciji	N:f	dominacija
,	PUNCT	,
ove	PRO	ovaj
kornjače	N:f	kornjača
udružuju	N:f	udružuju
se	PAR	se
sa	PREP	sa
neustrašivom	A:aef	neustrašiv
reporterkom	N:f	reporterka
Ejpril	N:f	Ejpril
O	A:aem	O
’	A:aem	’
Nil	N:m	Nil
i	CONJ	i
njenim	PRO	njen
kamermanom	N:m	kamerman
Vernom	N:m	Vern
Fenvikom	N:m	Fenvik
kako	CONJ	kako
bi	N:m	bi
spasili	V:m	spasiti
građane	N:m	građanin
Njujorka	N:m	Njujork
.	SENT	.
Ova	PRO	ovaj
moćna	A:aef	moćan
četvorka	N:f	četvorka
koja	PRO	koji
već	PAR	već
decenijama	N:f	decenija
zabavlja	N:n	zabavlja
mlade	A:aef	mlad
širom	PREP	širom
sveta	N:m	svet
,	PUNCT	,
prvi	A:aem	prvi
put	N:m	put
se	PAR	se
pojavila	V:n	pojaviti
u	PREP	u
stripu	N:m	strip
Pitera	N:m	Piter
Lerda	N:m	Lerd
i	CONJ	i
Kevina	N:m	Kevin
Istmana	N:m	Istman
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
znatno	ADV	znatno
mračnijem	A:bem	mračan
izdanju	N:n	izdanje
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
ovaj	PRO	ovaj
koncept	N:m	koncept
je	PRO	ona
zenit	N:m	zenit
svoje	PRO	svoj
popularnosti	N:f	popularnost
doživeo	V:m	doživeti
pojavom	N:f	pojava
istoimene	A:aef	istoimen
crtane	A:aef	crtan
serije	N:f	serija
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
naprosto	ADV	naprosto
zapalila	V:f	zapaliti
svet	N:m	svet
.	SENT	.
Veliki	A:aem	velik
deo	N:m	deo
zasluga	N:f	zasluga
za	PREP	za
uspeh	N:m	uspeh
Nindža	A:aem	Nindža
kornjača	N:f	kornjača
ide	A:aem	ide
agentu	N:m	agent
Marku	N:f	Marka
Fridmanu	N:m	Fridman
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
predložio	V:m	predložiti
Istmanu	N:m	Istman
i	CONJ	i
Lerdu	N:m	Lerd
da	CONJ	da
šire	A:bem	širok
reklamiraju	N:m	reklamiraju
svoj	PRO	sav
strip	N:m	strip
.	SENT	.
Pored	PREP	pored
akcionih	A:aem	akcioni
figurica	N:f	figurica
koje	PRO	koji
su	N:m	su
totalno	ADV	totalno
sludele	V:f	sludele
klince	N:m	klinac
,	PUNCT	,
na	PREP	na
vrhuncu	N:m	vrhunac
svoje	PRO	svoj
popularnosti	N:f	popularnost
,	PUNCT	,
likovi	N:m	lik
kornjača	N:f	kornjača
mogli	V:m	moći
su	N:m	su
se	PAR	se
naći	V:m	naći
u	PREP	u
širokom	A:aem	širok
luku	N:m	luk
proizvoda	N:m	proizvod
za	PREP	za
decu	N:f	deca
,	PUNCT	,
poput	PREP	poput
svesaka	N:m	svesaka
,	PUNCT	,
patika	N:f	patika
,	PUNCT	,
majica	N:f	majica
,	PUNCT	,
itd	N:f	itd
.	PUNCT	.
Od	PREP	od
momenta	N:m	moment
kada	CONJ	kada
se	PAR	se
ime	N:n	ime
Majkla	N:m	Majkl
Bejla	N:m	Bejla
povezalo	V:n	povezati
sa	PREP	sa
ovim	PRO	ovaj
projektom	N:m	projekt
,	PUNCT	,
novi	A:aem	nov
TNMT	N:m	TNMT
napala	V:m	napasti
je	PRO	ona
lavina	A:aem	lavin
negativnih	A:aem	negativan
komentara	N:m	komentar
i	CONJ	i
proročanstava	N:n	proročanstvo
raznih	A:aen	raznih
ljubitelja	N:m	ljubitelj
filma	N:m	film
.	SENT	.
Brojne	A:aem	brojni
idiotske	A:aef	idiotski
spekulacije	N:f	spekulacija
iskakale	V:f	iskakati
su	PREF	su
na	PREP	na
sve	PRO	sav
strane	N:f	strana
po	PREP	po
netu	N:m	net
tokom	PREP	tokom
snimanja	N:n	snimanje
filma	N:m	film
,	PUNCT	,
a	CONJ	a
i	CONJ	i
sam	PRO	sam
kontroverzni	A:aem	kontroverzan
poster	N:m	poster
je	PRO	ona
samo	PAR	samo
dodatno	ADV	dodatno
potpalio	V:m	potpaliti
vatru	N:f	vatra
.	PUNCT	.
Ne	PAR	ne
treba	N:f	treba
ni	CONJ	ni
da	CONJ	da
spominjen	V:m	spominjen
kakav	PRO	kakav
se	PAR	se
hejt	N:m	hejt
digao	V:m	dignuti
kada	CONJ	kada
su	N:m	su
ljudi	N:m	ljudi
izvalili	V:m	izvaliti
da	CONJ	da
nove	A:aef	nov
kornjače	N:f	kornjača
imaju	N:f	imaju
noseve	N:m	nos
?	PUNCT	?
Iako	CONJ	iako
je	PRO	ona
TNMT	A:aem	TNMT
ludački	A:aem	ludački
obožavan	A:aem	obožavan
koncept	N:m	koncept
,	PUNCT	,
marketinški	A:aem	marketinški
tim	N:m	tim
ovog	PRO	ovaj
naslova	N:m	naslov
je	PRO	ona
imao	V:m	imati
zaista	ADV	zaista
težak	A:aem	težak
zadatak	N:m	zadatak
pred	PREP	pred
sobom	PRO	sebe
.	SENT	.
Jedino	ADV	jedino
šta	PRO	šta
je	PRO	ona
zapravo	ADV	zapravo
Beju	N:m	bej
i	CONJ	i
njegovoj	PRO	njegov
ekipi	N:f	ekipa
išlo	V:n	ići
u	PREP	u
korist	N:f	korist
je	PRO	ona
to	PRO	taj
što	PRO	što
su	N:m	su
sve	ADV	sve
prethodne	A:aef	prethodan
filmske	A:aem	filmski
avanture	N:f	avantura
ovih	PRO	ovaj
junaka	N:m	junak
bolno	ADV	bolno
loše	ADV	loše
.	PUNCT	.
Ako	CONJ	ako
zbog	PREP	zbog
nečega	PRO	nešto
vredi	N:f	vredi
gledati	V:m	gledati
novi	A:aem	nov
TNMT	A:aem	TNMT
film	N:m	film
,	PUNCT	,
to	PRO	taj
je	PRO	ona
onda	ADV	onda
svakako	ADV	svakako
zbog	PREP	zbog
animacije	N:f	animacija
.	SENT	.
Iako	CONJ	iako
se	PAR	se
pljuvalo	V:n	pljuvati
po	PREP	po
netu	N:m	net
o	PREP	o
njihovom	PRO	njihov
izgledu	N:m	izgled
,	PUNCT	,
kornjače	N:f	kornjača
su	N:m	su
definitivno	ADV	definitivno
najjači	A:cem	jak
faktor	N:m	faktor
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
.	SENT	.
Zaista	PAR	zaista
je	PRO	ona
nevervatno	A:aen	nevervatno
koliko	ADV	koliko
je	PRO	ona
mnogo	ADV	mnogo
truda	N:m	trud
uloženo	V:n	uložiti
u	PREP	u
svaki	PRO	svaki
njihov	PRO	njihov
pokret	N:m	pokret
.	PUNCT	.
Iako	CONJ	iako
animirane	V:f	animirati
,	PUNCT	,
one	PRO	onaj
su	N:m	su
zapravo	ADV	zapravo
jedini	A:aem	jedini
složeniji	A:bem	složen
likovi	N:m	lik
u	PREP	u
filmu	N:m	film
.	SENT	.
Jedino	ADV	jedino
one	PRO	onaj
imaju	N:f	imaju
kakvu	PRO	kakav
harizmu	N:f	harizma
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
je	PRO	ona
bilo	V:n	biti
i	CONJ	i
za	PREP	za
očekivati	A:aem	očekivati
,	PUNCT	,
scenario	N:m	scenario
je	PRO	ona
sramotno	ADV	sramotno
tanak	A:aem	tanak
,	PUNCT	,
likovi	N:m	lik
su	PREF	su
jednodimenzionalni	A:aem	jednodimenzionalan
,	PUNCT	,
a	CONJ	a
gluma	N:f	gluma
ispod	PREP	ispod
svih	PRO	sav
mogućih	A:aem	moguć
standarda	N:m	standard
.	SENT	.
Megan	N:f	Megan
Foks	N:m	Foks
(	PUNCT	(
Megan	N:f	Megan
Fox	N:m	Fox
)	PUNCT	)
je	PRO	ona
još	PAR	još
jednom	ADV	jednom
pokazala	V:f	pokazati
da	CONJ	da
njeno	PRO	njen
ludački	A:aem	ludački
izoperisano	A:aen	izoperisano
lice	N:n	lice
nije	A:aen	nije
sposobno	A:aen	sposoban
ni	CONJ	ni
da	CONJ	da
se	PAR	se
namršti	A:aem	namršti
,	PUNCT	,
a	CONJ	a
kamoli	CONJ	kamoli
da	CONJ	da
oslika	N:f	oslika
bilo	V:n	biti
kakvu	PRO	kakav
emociju	N:f	emocija
.	PUNCT	.
Ne	PAR	ne
želim	A:aem	želim
zaista	ADV	zaista
da	CONJ	da
je	PRO	ona
osuđujem	N:m	osuđujem
,	PUNCT	,
ali	CONJ	ali
jasno	ADV	jasno
se	PAR	se
vidi	N:f	vida
da	CONJ	da
dotična	A:aef	dotični
nije	N:f	nije
spremna	A:aef	spreman
niti	CONJ	niti
malo	ADV	malo
da	CONJ	da
se	PAR	se
potrudi	V:m	potrudi
za	PREP	za
ulogu	N:f	uloga
.	PUNCT	.
Iako	CONJ	iako
sam	PRO	sam
očekivao	V:m	očekivati
da	CONJ	da
će	A:aem	će
Bej	N:m	bej
i	CONJ	i
ekipa	N:f	ekipa
protutnjati	A:aem	protutnjati
kroz	PREP	kroz
TNMT	A:aem	TNMT
univerzum	N:m	univerzum
,	PUNCT	,
moram	N:m	moram
da	CONJ	da
istaknem	A:aem	istaknem
da	CONJ	da
sam	A:aem	sam
prilično	ADV	prilično
razočaran	V:m	razočarati
što	CONJ	što
reditelj	N:m	reditelj
Džonatan	N:m	Džonatan
Libsman	N:m	Libsman
(	PUNCT	(
Jonathan	N:m	Jonathan
Leibesman	N:m	Leibesman
)	PUNCT	)
nije	A:aen	nije
uključio	V:m	uključiti
nikoga	PRO	niko
od	PREP	od
omiljenih	A:aen	omiljen
sporednih	A:aem	sporedan
likova	N:n	likovo
u	PREP	u
film	N:m	film
.	SENT	.
Hajde	INT	hajde
još	ADV	još
nekako	ADV	nekako
i	CONJ	i
da	CONJ	da
razumem	N:m	razumem
što	PRO	što
nismo	N:f	nismo
videli	V:m	videti
Kranga	N:m	Kranga
,	PUNCT	,
Bakstera	N:m	Bakster
Stokmana	N:m	Stokmana
,	PUNCT	,
Kejsija	N:m	Kejsi
Džounsa	N:m	Džouns
,	PUNCT	,
Lederheda	N:m	Lederheda
,	PUNCT	,
Kralja	N:m	Kralj
pacova	N:m	pacov
,	PUNCT	,
ali	CONJ	ali
Bibopa	N:m	Bibopa
i	CONJ	i
Rokstedija	N:m	Rokstedija
?	PUNCT	?
Teški	A:aem	Teški
smor	N:m	smor
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
napomenuo	V:m	napomenuti
bih	A:aem	bih
da	CONJ	da
me	PRO	ja
je	PRO	ona
i	PAR	i
prilično	ADV	prilično
deprimirao	V:m	deprimirati
način	N:m	način
na	PREP	na
koji	PRO	koji
je	PRO	ona
Sekač	N:m	Sekač
realizovan	V:m	realizovati
.	SENT	.
Zli	A:aem	zao
Japanac	N:m	Japanac
u	PREP	u
robotskoj	A:aef	robotski
samurajskoj	A:aef	samurajski
odori	N:f	odora
?	PUNCT	?
Ne	PAR	ne
hvala	N:f	hvala
!	PUNCT	!
I	CONJ	i
ovako	ADV	ovako
sakat	A:aem	sakat
,	PUNCT	,
Bejov	A:aem	bejov
TMNT	N:m	TMNT
je	PRO	ona
svakako	PAR	svakako
stotinu	ADV	stotinu
lestvica	N:f	lestvica
iznad	PREP	iznad
svojih	PRO	svoj
prethodnika	N:m	prethodnik
.	SENT	.
Narativ	A:aem	Narativ
filma	N:m	film
je	PRO	ona
izuzetno	ADV	izuzetno
lagan	A:aem	lagan
i	CONJ	i
brz	A:aem	brz
,	PUNCT	,
a	CONJ	a
i	CONJ	i
sadrži	A:aem	sadrži
dosta	ADV	dosta
uzbudljivih	A:aef	uzbudljiv
akcionih	A:aem	akcioni
sekvenci	N:f	sekvenca
koje	PRO	koji
će	A:aem	će
naterati	N:m	naterati
mlađu	A:bef	mlad
publiku	N:f	publika
da	CONJ	da
ciči	N:f	ciča
tokom	PREP	tokom
svih	PRO	sav
100	NUM	@card@
minuta	N:m	minut
filma	N:m	film
.	SENT	.
Iako	CONJ	iako
nije	A:aem	nije
pružio	V:m	pružiti
fanovima	N:m	fan
ono	PRO	onaj
što	PRO	što
su	N:m	su
godinama	ADV	godinama
nestrpljivo	ADV	nestrpljivo
čekali	V:m	čekati
,	PUNCT	,
novi	A:aem	nov
TNMT	N:m	TNMT
je	PRO	ona
svakako	PAR	svakako
uspeo	V:m	uspeti
da	CONJ	da
se	PAR	se
pozicionira	N:m	pozicionira
kao	CONJ	kao
film	N:m	film
koji	PRO	koji
će	N:f	će
neki	PRO	neki
novi	A:aem	nov
klinci	N:m	klinac
gotiviti	V:m	gotiviti
i	CONJ	i
iznova	ADV	iznova
reprizirati	A:aem	reprizirati
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
bi	V:m	bi
preporučio	V:m	preporučiti
deci	N:f	deca
uzrasta	N:m	uzrast
od	PREP	od
8	NUM	@card@
do	PREP	do
15	NUM	@card@
godina	N:f	godina
.	SENT	.
Stariji	A:bem	star
zaista	PAR	zaista
nemaju	N:m	nemaju
ovde	ADV	ovde
šta	ADV	šta
da	CONJ	da
traže	A:aen	traže
.	SENT	.
