Mnogo	ADV	mnogo
manje	ADV	manje
od	PREP	od
onoga	PRO	onaj
što	CONJ	što
se	PAR	se
moglo	V:n	moći
Nisam	N:m	Nisam
bio	V:m	biti
neki	PRO	neki
fan	N:m	fan
filma	N:m	film
Ted	N:m	Ted
.	SENT	.
Crtaće	A:aem	Crtaće
Family	A:aem	Family
Guy	N:m	Guy
,	PUNCT	,
American	A:aem	American
Guy	N:m	Guy
,	PUNCT	,
Black	A:aem	Black
Guy	N:m	Guy
sam	PRO	sam
sve	PAR	sve
probao	V:m	probati
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
nisam	N:m	nisam
zadržao	V:m	zadržati
.	SENT	.
Gledao	V:m	gledati
sam	PRO	sam
i	CONJ	i
dodelu	N:f	dodela
Oskara	N:m	Oskar
koju	PRO	koji
je	PRO	ona
emsizovao	V:m	emsizovao
Seth	A:aem	Seth
MacFarlane	N:m	MacFarlane
.	SENT	.
Gledao	V:m	gledati
sam	PRO	sam
ga	PRO	on
kad	CONJ	kad
je	PRO	ona
rostovao	A:aem	rostovao
Donalda	N:m	Donald
,	PUNCT	,
Davida	N:m	David
i	CONJ	i
Charlieja	N:m	Charlieja
i	CONJ	i
vrištao	V:m	vrištati
.	SENT	.
Gledao	V:m	gledati
sam	PRO	sam
ga	PRO	on
i	CONJ	i
kod	PREP	kod
Billa	A:aem	Billa
Mahera	N:m	Maher
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
pratim	A:aen	pratim
njegov	PRO	njegov
rad	N:m	rad
.	PUNCT	.
Ali	CONJ	ali
ga	PRO	on
ne	PAR	ne
volim	A:aem	volim
koliko	ADV	koliko
njega	PRO	on
samog	PRO	sam
(	PUNCT	(
ako	CONJ	ako
,	PUNCT	,
kao	CONJ	kao
ja	PRO	ja
,	PUNCT	,
to	PRO	taj
dvoje	NUM	dvoje
možete	A:aem	možete
da	CONJ	da
razdvojite	A:aem	razdvojite
)	PUNCT	)
.	SENT	.
Sledi	N:f	Sledi
paradoks	N:m	paradoks
.	PUNCT	.
Iako	CONJ	iako
ga	PRO	on
,	PUNCT	,
Setha	N:m	Setha
lično	ADV	lično
,	PUNCT	,
film	N:m	film
A	ABB	A
Million	N:m	Million
Ways	N:m	Ways
To	N:m	To
Die	A:aem	Die
In	N:m	In
The	INT	The
West	N:m	West
daleko	ADV	daleko
najbolje	ADV	najbolje
reprezentuje	N:m	reprezentuje
,	PUNCT	,
on	PRO	on
se	PAR	se
ili	CONJ	ili
nije	N:m	nije
u	PREP	u
potpunosti	N:f	potpunost
predao	V:m	predati
sebi	PRO	sebe
ili	CONJ	ili
je	PRO	ona
sat	N:f	sat
i	CONJ	i
51	NUM	@card@
minut	N:m	minut
bilo	V:n	biti
previše	ADV	previše
vremena	N:n	vreme
za	PREP	za
Setha	N:m	Setha
reditelja	N:m	reditelj
,	PUNCT	,
scenaristu	N:m	scenarista
i	CONJ	i
glavnog	A:aem	glavnog
glumca	N:m	glumac
.	PUNCT	.
Ne	PAR	ne
treba	N:f	treba
mnogo	ADV	mnogo
pameti	N:f	pamet
da	CONJ	da
se	PAR	se
shvati	N:m	shvati
da	CONJ	da
je	PRO	ona
do	PREP	do
ideje	N:f	ideja
došlo	V:n	doći
od	PREP	od
prezira	N:m	prezir
prema	PREP	prema
mitologizaciji	N:f	mitologizaciji
koju	PRO	koji
je	PRO	ona
'	A:aem	'
Divlji	A:aem	divalj
zapad	N:m	zapad
'	N:m	'
ostvario	V:m	ostvariti
kroz	PREP	kroz
zlatno	A:aen	zlatan
doba	N:n	doba
vesterna	N:m	vestern
,	PUNCT	,
a	CONJ	a
koja	PRO	koji
je	PRO	ona
potom	ADV	potom
postala	V:f	postati
difolt	N:m	difolt
mod	N:m	Mod
za	PREP	za
sam	A:aem	sam
žanr	N:m	žanr
.	SENT	.
MacFarlane	N:m	MacFarlane
se	PAR	se
namerio	V:m	nameriti
da	CONJ	da
nam	PRO	mi
pokaže	V:m	pokaže
da	CONJ	da
su	N:m	su
i	CONJ	i
taj	PRO	taj
Zapad	N:m	zapad
i	CONJ	i
vesterni	N:m	vestern
o	PREP	o
njemu	PRO	on
bili	V:m	biti
neverovatna	A:aef	neverovatan
gomila	N:f	gomila
bulšita	N:m	bulšita
.	PUNCT	.
Samo	PAR	samo
ime	N:n	ime
vezano	V:n	vezati
je	PRO	ona
za	PREP	za
tiradu	N:f	tirada
MacFarlaneovog	A:aem	MacFarlaneovog
lika	N:m	lik
u	PREP	u
filmu	N:m	film
u	PREP	u
kojoj	PRO	koji
pobraja	N:m	pobraja
desetak	ADV	desetak
(	PUNCT	(
od	PREP	od
milion	N:m	milion
)	PUNCT	)
načina	N:m	način
od	PREP	od
kojih	PRO	koji
si	PRO	sebe
mogao	V:m	moći
da	CONJ	da
umreš	V:m	umreš
u	PREP	u
to	PRO	taj
doba	N:n	doba
(	PUNCT	(
1882	NUM	@card@
.	SENT	.
)	PUNCT	)
u	PREP	u
Americi	N:f	Amerika
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
zašto	CONJ	zašto
je	PRO	ona
to	PRO	taj
,	PUNCT	,
u	PREP	u
najmanju	A:cef	najmanju
ruku	N:f	ruka
,	PUNCT	,
bio	V:m	biti
jedan	NUM	jedan
bljutav	A:aem	bljutav
okoliš	N:m	okoliš
za	PREP	za
život	N:m	život
.	SENT	.
Priča	N:f	Priča
koja	PRO	koji
je	PRO	ona
sprovođenju	N:n	sprovođenje
te	PRO	taj
ideje	N:f	ideja
trebalo	V:n	trebati
da	CONJ	da
posluži	A:aen	posluži
,	PUNCT	,
preti	A:bem	pretio
arhaičnošću	N:f	arhaičnošću
,	PUNCT	,
ali	CONJ	ali
zapravo	ADV	zapravo
je	PRO	ona
vrlo	ADV	vrlo
tanka	A:aef	tanak
.	SENT	.
Albert	N:m	Albert
(	PUNCT	(
MacFarlane	N:m	MacFarlane
)	PUNCT	)
je	PRO	ona
smotani	V:m	smotati
,	PUNCT	,
vudialenovski	A:aem	vudialenovski
raspričani	A:aem	raspričan
i	CONJ	i
bojažljivi	A:aem	bojažljiv
farmer	N:m	farmer
koji	PRO	koji
igrom	N:f	igra
slučaja	N:m	slučaj
postaje	N:f	postaja
ljubavnik	N:m	ljubavnik
supruge	N:f	supruga
(	PUNCT	(
Charlize	N:m	Charlize
Theron	N:m	Theron
)	PUNCT	)
najpoznatijeg	A:cem	poznat
revolveraša	N:m	revolveraš
zapada	N:m	zapad
(	PUNCT	(
Liam	N:m	Liam
Neeson	N:m	Neeson
)	PUNCT	)
.	SENT	.
I	CONJ	i
dok	CONJ	dok
na	PREP	na
tom	PRO	taj
planu	N:m	plan
uživamo	N:f	uživamo
u	PREP	u
'	A:aem	'
tipičnoj	A:aef	tipičan
'	N:m	'
štrebersko	A:aen	štreberski
-	PUNCT	-
kukavičkoj	A:aef	kukavički
komediji	N:f	komedija
u	PREP	u
kome	PRO	koji
dobro	A:aen	dobar
srce	N:n	srce
nrda	N:f	nrda
osvaja	N:m	osvaja
curu	N:f	cura
,	PUNCT	,
pored	PREP	pored
nas	PRO	mi
protiče	N:m	protiče
nedovoljno	ADV	nedovoljno
usaglašena	A:aem	usaglašen
satira	N:m	satir
Zapada	N:m	zapad
,	PUNCT	,
razigrana	V:f	razigrati
od	PREP	od
stendap	N:f	stendap
fora	N:f	fora
do	PREP	do
vulgarnog	A:aem	vulgaran
slepstika	N:f	slepstika
.	PUNCT	.
Iako	CONJ	iako
na	PREP	na
par	N:m	par
momenata	N:m	moment
vrlo	ADV	vrlo
duhovit	A:aem	duhovit
,	PUNCT	,
MacFarlaneov	A:aem	MacFarlaneov
film	N:m	film
/	A:aem	/
eksperiment	N:m	eksperiment
(	PUNCT	(
jer	CONJ	jer
se	PAR	se
čini	N:f	čini
da	CONJ	da
i	CONJ	i
on	PRO	on
sam	PRO	sam
tu	ADV	tu
nešto	ADV	nešto
probava	N:f	probava
)	PUNCT	)
na	PREP	na
kraju	N:m	kraj
deluje	A:aef	deluje
kao	CONJ	kao
čuveni	A:aem	čuven
slepstici	N:f	slepstici
Petra	N:f	Petra
Bogdanovicha	N:m	Bogdanovicha
(	PUNCT	(
Nickelodeon	N:m	Nickelodeon
)	PUNCT	)
u	PREP	u
kojima	PRO	koji
vidite	N:m	vidite
šta	PRO	šta
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
bude	A:aen	bude
smešno	A:aen	smešan
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
ne	PAR	ne
smejete	N:f	smejete
,	PUNCT	,
i	CONJ	i
niste	N:m	niste
ljuti	A:aem	ljut
,	PUNCT	,
jer	CONJ	jer
vidite	N:m	vidite
da	CONJ	da
mu	PRO	on
je	PRO	ona
srce	N:n	srce
bilo	V:n	biti
na	PREP	na
pravom	N:n	pravo
mestu	N:n	mesto
.	SENT	.
Plus	N:m	plus
,	PUNCT	,
ovde	ADV	ovde
je	PRO	ona
više	ADV	više
nego	CONJ	nego
u	PREP	u
Tedu	N:m	Ted
očigledno	A:aen	očigledan
da	CONJ	da
Seth	A:aen	Seth
uspešnije	A:bef	uspešan
rešava	A:aem	rešava
komično	A:aen	komičan
na	PREP	na
manjem	N:n	manjem
prostoru	N:m	prostor
(	PUNCT	(
replika	N:f	replika
,	PUNCT	,
scena	N:f	scena
)	PUNCT	)
nego	CONJ	nego
kada	CONJ	kada
isto	A:aen	isti
treba	N:f	treba
da	CONJ	da
montira	N:m	montira
na	PREP	na
ceo	A:aem	ceo
film	N:m	film
,	PUNCT	,
što	CONJ	što
možda	PAR	možda
jeste	INT	jeste
posledica	N:f	posledica
friflou	N:m	friflou
dramaturgije	N:f	dramaturgija
koju	PRO	koji
njegovi	PRO	njegov
animirani	A:aem	animiran
radovi	N:m	rad
bolje	ADV	bolje
apsorbuju	N:m	apsorbuju
.	SENT	.
