Ko	PRO	ko
što	PRO	što
ortak	N:m	ortak
D	A:aen	D
reče	N:m	redak
,	PUNCT	,
kad	CONJ	kad
na	PREP	na
IMDB	N:m	IMDB
-	PUNCT	-
u	PREP	u
piše	N:m	piše
da	CONJ	da
je	PRO	ona
žanr	N:m	žanr
filma	N:m	film
comedy	N:m	comedy
|	A:aem	|
drama	N:f	drama
,	PUNCT	,
samo	PAR	samo
izbaciš	A:aem	izbaciš
ono	PRO	onaj
comedy	N:m	comedy
i	CONJ	i
dobiješ	A:aem	dobiješ
pravi	A:aem	prav
žanr	N:m	žanr
filma	N:m	film
.	SENT	.
Znači	A:aen	Znači
,	PUNCT	,
ko	CONJ	ko
od	PREP	od
ovog	PRO	ovaj
očekuje	N:m	očekuje
da	CONJ	da
se	PAR	se
nasmeje	N:m	nasmeje
i	CONJ	i
opusti	N:m	opusti
,	PUNCT	,
slobodno	ADV	slobodno
može	A:aem	može
odmah	ADV	odmah
da	CONJ	da
ga	PRO	on
preskoči	N:m	preskoči
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
priča	N:f	priča
o	PREP	o
čoveku	N:m	čovek
koji	PRO	koji
je	PRO	ona
stvarno	ADV	stvarno
najveća	A:cef	velik
krpa	N:f	krpa
koju	PRO	koji
sam	PRO	sam
ikada	ADV	ikada
video	V:m	videti
.	SENT	.
Toliko	ADV	toliko
su	N:m	su
ga	PRO	on
svi	PRO	sav
razvlačili	V:m	razvlačiti
,	PUNCT	,
gazili	V:m	gaziti
i	CONJ	i
kinjili	V:m	kinjiti
kroz	PREP	kroz
ceo	A:aem	ceo
film	N:m	film
da	CONJ	da
mi	PRO	ja
uopšte	ADV	uopšte
nije	V:m	nije
jasno	ADV	jasno
kako	CONJ	kako
to	PRO	taj
da	CONJ	da
nije	A:aem	nije
uzeo	V:m	uzeti
pištolj	N:m	pištolj
,	PUNCT	,
pobio	V:m	pobiti
govna	N:n	govno
i	CONJ	i
gotova	A:aef	gotov
stvar	N:f	stvar
što	CONJ	što
kaže	N:f	kaža
Radovan	N:m	Radovan
treći	A:aem	treći
:	PUNCT	:
)	PUNCT	)
Sou	N:m	Sou
,	PUNCT	,
priča	N:f	priča
se	PAR	se
dešava	V:m	dešava
u	PREP	u
malo	ADV	malo
iskarikiranoj	A:aef	iskarikiranoj
jevrejskoj	A:aef	jevrejski
zajednici	N:f	zajednica
.	SENT	.
Sad	ADV	sad
,	PUNCT	,
nije	A:aem	nije
kao	ADV	kao
da	CONJ	da
ja	PRO	ja
znam	N:m	znam
kako	CONJ	kako
stvarno	A:aen	stvaran
izgleda	N:m	izgled
jevrejska	A:aef	jevrejski
zajednica	N:f	zajednica
,	PUNCT	,
ali	CONJ	ali
deluje	N:m	deluje
prilično	ADV	prilično
iskarikirano	V:n	iskarikirati
.	SENT	.
Žena	N:m	Žena
malo	ADV	malo
čudna	A:aef	čudan
i	CONJ	i
nosata	A:aef	nosat
koja	PRO	koji
je	PRO	ona
ustvari	ADV	ustvari
pravo	N:n	pravo
i	CONJ	i
jedino	ADV	jedino
muško	A:aen	muški
u	PREP	u
kući	N:f	kuća
.	SENT	.
Ćerka	N:f	Ćerka
malo	ADV	malo
čudna	A:aef	čudan
i	CONJ	i
nosata	A:aef	nosat
,	PUNCT	,
ali	CONJ	ali
štedi	N:f	štedi
za	PREP	za
nouz	N:m	nouz
džab	N:m	džab
.	SENT	.
Sin	N:m	Sin
malo	ADV	malo
pegav	A:aem	pegav
,	PUNCT	,
pritup	A:aem	pritup
i	CONJ	i
pritom	PAR	pritom
je	PRO	ona
sasvim	ADV	sasvim
solidan	A:aem	solidan
varioc	N:m	varioc
.	SENT	.
Znači	A:aem	Znači
vari	N:m	vari
i	CONJ	i
tako	ADV	tako
te	PRO	taj
stvari	N:f	stvar
…	PUNCT	…
a	CONJ	a
da	CONJ	da
,	PUNCT	,
i	CONJ	i
nosat	A:aem	nosat
…	SENT	…
I	A:aem	I
zatim	ADV	zatim
naš	PRO	naš
heroj	N:m	heroj
Larry	A:aem	Larry
Gopnik	N:m	Gopnik
,	PUNCT	,
profesor	N:m	profesor
fizike	N:f	fizika
i	CONJ	i
dežurni	A:aem	dežuran
otirač	N:m	otirač
kome	PRO	koji
se	PAR	se
ceo	A:aem	ceo
svet	N:m	svet
kreće	A:aem	kreće
da	CONJ	da
se	PAR	se
ruši	A:aen	ruši
kada	CONJ	kada
jednog	NUM	jedan
dana	N:m	dan
dođe	A:aef	dođe
kući	N:f	kuća
,	PUNCT	,
a	CONJ	a
žena	N:f	žena
mu	PRO	on
mrtva	A:aef	mrtav
ladna	A:aef	ladan
kaže	N:f	kaža
da	CONJ	da
je	PRO	ona
vreme	N:n	vreme
da	CONJ	da
popričaju	N:m	popričaju
o	PREP	o
razvodu	N:m	razvod
.	SENT	.
Pritom	PAR	pritom
mu	PRO	on
kaže	N:f	kaža
da	CONJ	da
hoće	N:f	hoće
da	CONJ	da
se	PAR	se
uda	N:n	udo
za	PREP	za
nekog	PRO	neki
njihovog	PRO	njihov
prijatelja	N:m	prijatelj
,	PUNCT	,
izbacuje	N:m	izbacuje
ga	PRO	on
iz	PREP	iz
kuće	N:f	kuća
,	PUNCT	,
deca	N:f	deca
mu	PRO	on
stalno	ADV	stalno
prave	A:aef	prav
neke	PRO	neki
račune	N:m	račun
,	PUNCT	,
njegov	PRO	njegov
brat	N:m	brat
Albert	N:m	Albert
nikako	ADV	nikako
da	CONJ	da
se	PAR	se
odseli	V:m	odsesti
iako	CONJ	iako
je	PRO	ona
došao	V:m	doći
na	PREP	na
mesec	N:m	mesec
dana	N:m	dan
,	PUNCT	,
a	CONJ	a
ostao	V:m	ostati
zauvek	ADV	zauvek
.	SENT	.
Na	PREP	na
poslu	N:m	posao
neki	PRO	neki
student	N:m	student
pokušava	N:f	pokušava
da	CONJ	da
ga	PRO	on
podmiti	N:m	podmiti
za	PREP	za
prolaznu	A:aef	prolazan
ocenu	N:f	ocena
,	PUNCT	,
a	CONJ	a
unapređenje	N:n	unapređenje
nikako	ADV	nikako
da	CONJ	da
stigne	A:aem	stigne
i	CONJ	i
neko	PRO	neki
redovno	A:aen	redovan
šalje	N:m	šalje
pisma	N:n	pismo
u	PREP	u
kojima	PRO	koji
ga	PRO	on
blati	N:m	Blati
kod	PREP	kod
nadležnih	A:aen	nadležan
.	SENT	.
Definitivno	ADV	definitivno
mi	PRO	ja
se	PAR	se
ne	PAR	ne
sviđaju	V:n	sviđaju
ovi	PRO	ovaj
filmovi	N:m	film
braće	N:f	braća
Koen	N:m	Koen
,	PUNCT	,
mada	CONJ	mada
mi	PRO	ja
je	PRO	ona
Big	N:m	Big
Lebovski	A:aem	Lebovski
totalno	A:aen	totalan
vrhunski	A:aem	vrhunski
.	SENT	.
Od	PREP	od
celog	A:aem	ceo
filma	N:m	film
jedino	CONJ	jedino
mi	PRO	ja
se	PAR	se
kraj	PREP	kraj
sviđa	N:n	sviđa
jer	CONJ	jer
je	PRO	ona
totalno	ADV	totalno
iznenadan	A:aem	iznenadan
i	CONJ	i
nimalo	ADV	nimalo
srećan	A:aem	srećan
,	PUNCT	,
a	CONJ	a
početak	N:m	početak
je	PRO	ona
totalno	ADV	totalno
čudan	A:aem	čudan
i	CONJ	i
uopšte	ADV	uopšte
mi	PRO	ja
nije	V:m	nije
jasno	ADV	jasno
kakve	PRO	kakav
veze	N:f	veza
ima	A:aem	ima
sa	PREP	sa
ostatkom	N:m	ostatak
filma	N:m	film
jer	CONJ	jer
se	PAR	se
dešava	V:n	dešava
nekih	ADV	nekih
200	NUM	@card@
godina	N:f	godina
ranije	ADV	ranije
u	PREP	u
nekoj	PRO	neki
selendri	N:f	selendra
…	PUNCT	…
no	CONJ	no
dobro	ADV	dobro
…	PUNCT	…
Zaključak	N:m	Zaključak
,	PUNCT	,
film	N:m	film
nikako	PAR	nikako
ne	PAR	ne
preporučujem	N:m	preporučujem
ako	CONJ	ako
ste	N:m	ste
u	PREP	u
nekom	PRO	neki
suicidalnom	A:aen	suicidalan
raspoloženju	N:n	raspoloženje
kao	CONJ	kao
što	CONJ	što
sam	PRO	sam
ja	PRO	ja
.	PUNCT	.
Treš	A:aen	Treš
komedije	N:f	komedija
here	N:m	Her
I	A:aem	I
come	A:aem	come
again	N:m	again
…	SENT	…
čim	CONJ	čim
napišem	A:aem	napišem
nešto	ADV	nešto
za	PREP	za
raspali	A:aem	raspali
2012	NUM	@card@
…	PUNCT	…
da	CONJ	da
da	CONJ	da
,	PUNCT	,
raspali	A:aem	raspali
…	PUNCT	…
Za	A:aem	Za
sada	ADV	sada
,	PUNCT	,
ovo	PRO	ovaj
od	PREP	od
mene	PRO	ja
dobija	N:n	dobija
5	NUM	@card@
kokica	N:f	kokica
.	SENT	.
