Kada	CONJ	kada
sam	PRO	sam
u	PREP	u
drugom	A:aef	drugi
delu	N:n	delo
Predatora	N:m	predator
,	PUNCT	,
na	PREP	na
zidu	N:m	zid
sa	PREP	sa
trofejima	N:m	trofej
u	PREP	u
svemirskom	A:aem	svemirski
brodu	N:m	brod
Predatora	N:m	predator
video	V:m	videti
lobanju	N:f	lobanja
Aliena	N:m	Aliena
,	PUNCT	,
mašta	N:f	mašta
je	PRO	ona
učinila	V:m	učiniti
svoje	PRO	svoj
i	CONJ	i
ovaj	PRO	ovaj
film	N:m	film
sam	PRO	sam
željno	ADV	željno
iščekivao	V:m	iščekivati
kao	CONJ	kao
i	CONJ	i
svaki	PRO	svaki
fan	N:m	fan
Aliena	N:m	Aliena
i	CONJ	i
Predatora	N:m	predator
.	SENT	.
Činjenica	N:f	Činjenica
da	CONJ	da
film	N:m	film
režira	N:m	režira
Pol	N:m	Pol
Anderson	N:m	Anderson
mi	PRO	ja
je	PRO	ona
zvučala	V:f	zvučati
i	CONJ	i
dobro	ADV	dobro
i	CONJ	i
loše	ADV	loše
.	PUNCT	.
Dobro	ADV	dobro
zbog	PREP	zbog
toga	PRO	taj
što	CONJ	što
on	PRO	on
zna	N:f	zna
da	CONJ	da
napravi	N:f	naprava
vrhunski	A:aem	vrhunski
zabavan	A:aem	zabavan
film	N:m	film
.	SENT	.
Resident	N:m	Resident
Evil	N:m	Evil
npr	N:m	npr
.	SENT	.
je	PRO	ona
serijal	N:m	serijal
koji	PRO	koji
nema	A:aem	nem
mnogo	ADV	mnogo
mozga	N:m	mozak
ali	CONJ	ali
je	PRO	ona
genijalan	A:aem	genijalan
kao	CONJ	kao
zabava	N:f	zabava
.	SENT	.
Loše	N:m	Loše
iz	PREP	iz
prostog	A:aen	prost
razloga	N:m	razlog
što	CONJ	što
nijedan	A:aem	nijedan
njegov	PRO	njegov
film	N:m	film
baš	PAR	baš
i	CONJ	i
nema	A:aem	nem
veliku	A:aef	velik
dozu	N:f	doza
doslednosti	N:f	doslednost
,	PUNCT	,
zdravog	A:aen	zdrav
razuma	N:m	razum
niti	CONJ	niti
naročito	ADV	naročito
ingeligentno	A:aen	ingeligentno
smišljenih	A:aef	smišljen
stvari	N:f	stvar
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
kada	CONJ	kada
radiš	A:aem	radiš
nešto	ADV	nešto
što	CONJ	što
ima	A:aen	ima
imena	N:n	ime
Aliena	N:m	Aliena
i	CONJ	i
Predatora	N:m	predator
u	PREP	u
sebi	PRO	sebe
,	PUNCT	,
moraš	V:m	moraš
da	CONJ	da
pokažeš	V:m	pokažeš
i	CONJ	i
doslednost	N:f	doslednost
a	CONJ	a
time	PRO	taj
i	CONJ	i
poštovanje	N:n	poštovanje
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
inteligenciju	N:f	inteligencija
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
svi	PRO	sav
moji	PRO	moj
strahovi	N:m	strah
i	CONJ	i
sva	PRO	sav
očekivanja	N:n	očekivanje
su	N:m	su
bila	V:f	biti
ostvarena	V:f	ostvariti
.	SENT	.
Film	N:m	film
je	PRO	ona
prokleto	A:aen	proklet
zabavan	A:aem	zabavan
i	CONJ	i
mogu	A:aem	mogu
ga	PRO	on
gledati	N:m	gledati
mnogo	ADV	mnogo
puta	ADV	puta
,	PUNCT	,
ali	CONJ	ali
na	PREP	na
žalost	N:f	žalost
,	PUNCT	,
to	PRO	taj
mu	PRO	on
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
retkih	A:aef	redak
kvaliteta	N:m	kvalitet
.	SENT	.
Prvo	ADV	prvo
nas	PRO	mi
upoznaju	N:m	upoznaju
sa	PREP	sa
likovima	N:m	lik
koji	PRO	koji
treba	N:f	treba
da	CONJ	da
krenu	N:m	kren
na	PREP	na
put	N:f	put
na	PREP	na
Antarktik	N:m	Antarktik
.	SENT	.
Tu	PRO	taj
naravno	PAR	naravno
raduje	A:aen	raduje
pojavljivanje	N:n	pojavljivanje
legendarnog	A:aem	legendaran
Lensa	N:m	Lens
Henriksena	N:m	Henriksena
,	PUNCT	,
ali	CONJ	ali
koliko	ADV	koliko
god	PAR	god
me	PRO	ja
je	PRO	ona
to	PRO	taj
obradovalo	V:n	obradovati
,	PUNCT	,
glavni	A:aem	glavni
lik	N:m	lik
me	PRO	ja
je	PRO	ona
tri	NUM	tri
puta	ADV	puta
više	ADV	više
razočarao	V:m	razočarati
.	SENT	.
Ovako	ADV	ovako
antipatičnog	A:aem	antipatičan
mudrosera	N:f	mudrosera
odavno	ADV	odavno
nisam	N:m	nisam
video	V:m	videti
.	PUNCT	.
No	CONJ	no
dobro	ADV	dobro
,	PUNCT	,
parola	N:f	parola
filma	N:m	film
je	PRO	ona
'	A:aem	'
Whoever	N:m	Whoever
Wins	N:m	Wins
,	PUNCT	,
We	N:m	We
Lose	N:m	Los
'	N:m	'
(	PUNCT	(
Ko	N:m	Ko
god	PAR	god
da	CONJ	da
pobedi	N:f	pobeda
,	PUNCT	,
mi	PRO	ja
gubimo	N:f	gubimo
)	PUNCT	)
što	CONJ	što
je	PRO	ona
jedna	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
parola	N:f	parola
ikada	ADV	ikada
.	SENT	.
Shodno	PREP	shodno
njoj	PRO	ona
očekivao	V:m	očekivati
sam	A:aem	sam
da	CONJ	da
će	V:m	će
se	PAR	se
i	CONJ	i
ova	PRO	ovaj
devojčica	N:f	devojčica
naći	V:m	naći
na	PREP	na
meti	N:f	meta
neke	PRO	neki
od	PREP	od
ove	PRO	ovaj
dve	NUM	dva
živine	N:f	živina
i	CONJ	i
tako	ADV	tako
prekinuti	V:m	prekinuti
svoje	PRO	svoj
postojanje	N:n	postojanje
i	CONJ	i
iritiranje	N:n	iritiranje
mene	PRO	ja
kao	ADV	kao
gledaoca	N:m	gledalac
.	SENT	.
Potom	ADV	potom
nam	PRO	mi
serviraju	N:m	serviraju
priču	N:f	priča
o	PREP	o
tome	PRO	taj
kako	CONJ	kako
su	N:m	su
Alieni	N:m	Alieni
i	CONJ	i
Predatori	N:m	predator
bili	V:m	biti
na	PREP	na
zemlji	N:f	zemlja
pre	PREP	pre
zilion	N:m	zilion
godina	N:f	godina
i	CONJ	i
kako	CONJ	kako
oni	PRO	onaj
imaju	N:f	imaju
neku	PRO	neki
tradiciju	N:f	tradicija
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Za	PREP	za
divno	A:aen	divan
čudo	N:n	čudo
,	PUNCT	,
koliko	ADV	koliko
god	PAR	god
ova	PRO	ovaj
priča	N:f	priča
bila	V:f	biti
neoriginalna	A:aef	neoriginalan
i	CONJ	i
besmislena	A:aen	besmislen
,	PUNCT	,
meni	PRO	ja
i	PAR	i
nije	V:f	nije
zvučala	V:f	zvučati
tako	ADV	tako
loše	ADV	loše
.	PUNCT	.
I	CONJ	i
kada	CONJ	kada
je	PRO	ona
sva	PRO	sav
akcija	N:f	akcija
počela	V:f	početi
,	PUNCT	,
počele	V:f	početi
su	N:m	su
i	CONJ	i
nelogičnosti	N:f	nelogičnost
vezane	A:aef	vezan
za	PREP	za
Aliene	N:m	Aliene
i	CONJ	i
Predatore	N:m	predator
a	CONJ	a
o	PREP	o
tome	PRO	taj
ne	PAR	ne
bih	A:aem	bih
dužio	V:m	dužiti
.	SENT	.
Tu	ADV	tu
dolazimo	A:aen	dolazimo
do	PREP	do
onog	PRO	onaj
što	ADV	što
je	PRO	ona
najveći	A:cem	velik
,	PUNCT	,
tačnije	ADV	tačnije
jedini	A:aem	jedini
veliki	A:aem	velik
kvalitet	N:m	kvalitet
filma	N:m	film
a	CONJ	a
to	PRO	taj
su	N:m	su
dueli	N:m	duel
Aliena	N:m	Aliena
i	CONJ	i
Predatora	N:m	predator
.	SENT	.
Oni	PRO	onaj
tako	ADV	tako
opako	ADV	opako
izgledaju	N:m	izgledaju
da	CONJ	da
nisam	N:m	nisam
treptao	V:m	treptati
dok	CONJ	dok
sam	PRO	sam
ih	PRO	ona
gledao	V:m	gledati
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
za	PREP	za
to	PRO	taj
uživanje	N:n	uživanje
vam	PRO	vi
treba	N:f	treba
dobar	A:aem	dobar
snimak	N:m	snimak
jer	CONJ	jer
na	PREP	na
snimcima	N:m	snimak
slabijeg	A:ben	slab
kvaliteta	N:m	kvalitet
se	PAR	se
bukvalno	ADV	bukvalno
ništa	ADV	ništa
ne	PAR	ne
vidi	N:f	vida
.	SENT	.
To	PRO	taj
kažem	A:aem	kažem
jer	CONJ	jer
sam	A:aem	sam
imao	V:m	imati
čast	N:f	čast
posedovati	N:m	posedovati
tzv	ABB	tzv
.	SENT	.
DVD	A:aem	DVD
snimak	N:m	snimak
na	PREP	na
kom	PRO	koji
sam	PRO	sam
samo	PAR	samo
video	V:m	videti
odsjaje	N:m	odsjaj
u	PREP	u
tami	N:f	tama
.	SENT	.
I	CONJ	i
Alieni	N:m	Alieni
i	CONJ	i
Predatori	N:m	predator
izgledaju	N:f	izgledaju
opako	ADV	opako
i	CONJ	i
da	CONJ	da
se	PAR	se
film	N:m	film
držao	V:m	držati
njihovog	PRO	njihov
duela	N:m	duel
do	PREP	do
samog	PRO	sam
kraja	N:m	kraj
i	CONJ	i
istrebljivanja	N:n	istrebljivanje
ljudi	N:m	ljudi
koje	PRO	koji
je	PRO	ona
sasvim	ADV	sasvim
fino	ADV	fino
započeto	V:n	započeti
,	PUNCT	,
bio	V:m	biti
bih	A:aem	bih
i	CONJ	i
više	ADV	više
nego	CONJ	nego
zadovoljan	A:aem	zadovoljan
.	SENT	.
Ovo	PRO	ovaj
'	A:aem	'
Whoever	N:m	Whoever
Wins	N:m	Wins
,	PUNCT	,
We	N:m	We
Lose	N:m	Los
'	N:m	'
,	PUNCT	,
okačite	A:aem	okačite
mačku	N:m	mačak
o	PREP	o
rep	N:m	rep
jer	CONJ	jer
je	PRO	ona
pogaženo	A:aen	pogažen
jednim	NUM	jedan
od	PREP	od
najglupljih	A:cef	glup
mogućih	A:aem	moguć
fazona	N:m	fazon
.	PUNCT	.
Braćo	N:m	Braćo
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
ovo	PRO	ovaj
jednostavno	ADV	jednostavno
morate	N:m	Morat
pogledati	N:m	pogledati
i	CONJ	i
uvideti	N:m	uvideti
ovaj	PRO	ovaj
kretenski	A:aem	kretenski
način	N:m	način
na	PREP	na
koji	PRO	koji
se	PAR	se
glavni	A:aem	glavni
lik	N:m	lik
snašao	V:m	snaći
u	PREP	u
duelima	N:m	duel
sa	PREP	sa
Alienima	N:m	Alienima
i	CONJ	i
Predatorom	N:m	predator
.	SENT	.
To	PRO	taj
ne	PAR	ne
vređa	V:m	vređa
samo	PAR	samo
inteligenciju	N:f	inteligencija
već	CONJ	već
i	CONJ	i
sve	PRO	sav
ono	PRO	onaj
što	PRO	što
Alien	N:m	Alien
i	CONJ	i
Predator	N:m	predator
predstavljaju	N:m	predstavljaju
.	SENT	.
Drugi	A:aem	drugi
deo	N:m	deo
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
otišao	V:m	otići
korak	N:m	korak
dalje	ADV	dalje
tako	ADV	tako
da	CONJ	da
i	CONJ	i
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
ne	PAR	ne
deluje	N:m	deluje
toliko	ADV	toliko
jadno	ADV	jadno
,	PUNCT	,
ali	CONJ	ali
moram	N:m	moram
da	CONJ	da
priznam	N:m	priznam
da	CONJ	da
sam	A:aem	sam
od	PREP	od
Andersona	N:m	Anderson
očekivao	V:m	očekivati
da	CONJ	da
se	PAR	se
potrudi	V:n	potrudi
više	ADV	više
i	CONJ	i
pruži	V:m	pruži
nam	PRO	mi
nešto	ADV	nešto
bolje	ADV	bolje
od	PREP	od
onog	PRO	onaj
na	PREP	na
šta	PRO	šta
nas	PRO	mi
je	PRO	ona
navikao	V:m	naviknuti
.	SENT	.
To	PRO	taj
može	A:aem	može
da	CONJ	da
prođe	N:f	prođa
u	PREP	u
Resident	N:m	Resident
-	PUNCT	-
u	PREP	u
koga	PRO	koji
niko	PRO	niko
ne	PAR	ne
smatra	V:n	smatra
ozbiljnim	A:aen	ozbiljan
filmom	N:m	film
već	CONJ	već
vrhunskom	A:aen	vrhunski
zabavom	N:f	zabava
.	SENT	.
Mi	PRO	ja
koji	PRO	koji
volimo	N:f	volimo
Aliena	N:m	Aliena
i	CONJ	i
Predatora	N:m	predator
ne	PAR	ne
prelazimo	A:aen	prelazimo
tako	ADV	tako
lako	ADV	lako
preko	PREP	preko
ovoga	PRO	ovaj
.	SENT	.
