Film	N:m	film
počinje	A:aef	počinje
pričom	N:f	priča
o	PREP	o
čoveku	N:m	čovek
po	PREP	po
imenu	N:n	ime
Vili	N:m	Vili
Vonka	N:f	Vonka
i	CONJ	i
njegovoj	PRO	njegov
fabrici	N:f	fabrika
čokolade	N:f	čokolada
.	SENT	.
Taj	PRO	taj
isti	A:aem	isti
lik	N:m	lik
je	PRO	ona
u	PREP	u
svoje	PRO	svoj
čokolade	N:f	čokolada
stavio	V:m	staviti
5	NUM	@card@
zlatnih	A:aef	zlatan
karata	N:f	karta
čiji	PRO	čiji
će	A:aem	će
dobitnici	N:m	dobitnik
provesti	N:f	provesti
dan	N:m	dan
sa	PREP	sa
njim	PRO	on
i	CONJ	i
dobiti	N:f	dobit
od	PREP	od
njega	PRO	on
vredan	A:aem	vredan
poklon	N:m	poklon
.	SENT	.
Tu	ADV	tu
dolazimo	A:aen	dolazimo
do	PREP	do
prve	A:aem	prvi
stvari	N:f	stvar
koja	PRO	koji
mi	PRO	ja
se	PAR	se
baš	PAR	baš
ne	PAR	ne
dopada	N:m	dopada
.	SENT	.
Ponovo	ADV	ponovo
imamo	N:m	imamo
isključivost	N:f	isključivost
kao	CONJ	kao
u	PREP	u
takođe	PAR	takođe
Bartonovom	A:aem	Bartonov
Edvardu	N:m	Edvard
Makazorukom	N:m	Makazorukom
.	SENT	.
Kartice	N:f	kartica
pronalazi	N:m	pronalazi
petoro	NUM	petoro
dece	N:f	deca
od	PREP	od
čega	PRO	šta
su	N:m	su
četvoro	NUM	četvoro
nevaspitana	A:aen	nevaspitan
,	PUNCT	,
bezobrazna	A:aen	bezobrazan
derišta	N:n	derište
a	CONJ	a
jedno	ADV	jedno
je	PRO	ona
anđelak	N:m	anđelak
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
prvih	A:aef	prvi
četvoro	NUM	četvoro
su	N:m	su
bogataši	N:m	bogataš
dok	CONJ	dok
je	PRO	ona
ovaj	PRO	ovaj
peti	N:f	peta
siromašan	A:aem	siromašan
.	PUNCT	.
Wow	A:aem	Wow
,	PUNCT	,
sjajna	A:aef	sjajan
poruka	N:f	poruka
.	SENT	.
Bogati	A:aem	bogat
su	N:m	su
zli	A:aem	zao
,	PUNCT	,
siromašni	A:aem	siromašan
dobri	A:aem	dobar
.	SENT	.
Već	N:m	Već
po	PREP	po
ovom	PRO	ovaj
može	A:aem	može
se	PAR	se
zaključiti	N:f	zaključiti
i	CONJ	i
tok	N:m	tok
i	CONJ	i
rasplet	N:m	rasplet
filma	N:m	film
.	SENT	.
Kasnije	ADV	kasnije
,	PUNCT	,
klinci	N:m	klinac
+	PUNCT	+
neko	PRO	neki
od	PREP	od
rodbine	N:f	rodbina
/	A:aem	/
roditelja	N:m	roditelj
idu	A:aem	idu
sa	PREP	sa
Vilijem	N:m	Vili
kroz	PREP	kroz
fabriku	N:f	fabrika
pri	PREP	pri
čemu	PRO	šta
svako	PRO	svaki
od	PREP	od
ovih	PRO	ovaj
derišta	N:n	derište
biva	A:aem	biva
kažnjeno	V:n	kazniti
zbog	PREP	zbog
svojih	PRO	svoj
mana	N:f	mana
.	SENT	.
Napomenuću	V:m	Napomenuću
samo	PAR	samo
da	CONJ	da
imamo	N:m	imamo
razmaženo	A:aen	razmažen
derište	N:n	derište
,	PUNCT	,
destruktivno	A:aen	destruktivan
derište	N:n	derište
,	PUNCT	,
derište	N:n	derište
plod	N:m	plod
bolesno	ADV	bolesno
iskompleksiranih	A:aem	iskompleksiran
roditelja	N:m	roditelj
i	CONJ	i
proždrljivo	A:aen	proždrljiv
derište	N:n	derište
.	SENT	.
Sada	ADV	sada
vi	PRO	vi
,	PUNCT	,
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
sami	PRO	sam
zamislite	N:f	zamislite
koliko	ADV	koliko
ovaj	PRO	ovaj
nesoj	A:aef	nesoj
iritira	N:m	iritira
.	SENT	.
U	PREP	u
svemu	PRO	sav
tome	PRO	taj
postoji	N:m	postoji
jedna	NUM	jedan
,	PUNCT	,
ne	PAR	ne
dobra	N:n	dobro
,	PUNCT	,
ne	PAR	ne
odlična	A:aen	odličan
,	PUNCT	,
već	PAR	već
genijalna	A:aef	genijalan
stvar	N:f	stvar
.	SENT	.
To	PRO	taj
je	PRO	ona
Vilijev	A:aem	Vilijev
humor	N:m	humor
koji	PRO	koji
je	PRO	ona
toliko	ADV	toliko
brutalan	A:aem	brutalan
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
toliko	ADV	toliko
iznad	PREP	iznad
klinačkog	A:aen	klinački
poimanja	N:n	poimanje
da	CONJ	da
sam	PRO	sam
u	PREP	u
nekim	PRO	neki
momentima	N:m	moment
vrištao	V:m	vrištati
od	PREP	od
smeha	N:m	smeh
.	SENT	.
Valjda	ADV	valjda
mi	PRO	ja
je	PRO	ona
odgovaralo	V:n	odgovarati
to	PRO	taj
što	CONJ	što
glupa	A:aen	glup
derišta	N:n	derište
ne	PAR	ne
kontaju	N:m	kontaju
šta	PRO	šta
im	PRO	ona
on	PRO	on
govori	N:m	govor
i	CONJ	i
šta	PRO	šta
ih	PRO	ona
sve	PRO	sav
čeka	N:f	čeka
.	PUNCT	.
Da	CONJ	da
je	PRO	ona
ce	A:aem	ce
film	N:m	film
u	PREP	u
tom	PRO	taj
fazonu	N:m	fazon
,	PUNCT	,
da	CONJ	da
je	PRO	ona
obogaćen	A:aem	obogaćen
više	ADV	više
ovim	PRO	ovaj
šalama	N:f	šala
,	PUNCT	,
ocena	N:f	ocena
bi	N:f	bi
bila	V:f	biti
drastično	ADV	drastično
viša	A:ben	visok
.	SENT	.
Ovako	ADV	ovako
,	PUNCT	,
osim	PREP	osim
tih	PRO	taj
šala	N:m	šal
,	PUNCT	,
mogu	A:aem	mogu
još	ADV	još
sa	PREP	sa
rezervom	N:f	rezerva
samo	CONJ	samo
pohvaliti	A:aem	pohvaliti
estetiku	N:f	estetika
scena	N:f	scena
.	SENT	.
'	N:m	'
Sa	A:aef	Sa
rezervom	N:f	rezerva
'	A:aem	'
stoji	N:f	stoja
zato	ADV	zato
što	CONJ	što
su	N:m	su
manje	ADV	manje
više	ADV	više
sve	PRO	sav
scene	N:f	scena
plod	N:m	plod
specijalnih	A:aef	specijalan
efekata	N:m	efekt
.	SENT	.
Film	N:m	film
sadrži	A:aem	sadrži
i	CONJ	i
nekoliko	ADV	nekoliko
pesama	N:f	pesma
ali	CONJ	ali
su	N:m	su
one	PRO	onaj
na	PREP	na
žalost	N:f	žalost
takve	PRO	takav
da	CONJ	da
jedva	ADV	jedva
čekate	N:m	čekate
da	CONJ	da
prođu	N:f	prođa
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
one	PRO	onaj
nešto	PRO	nešto
govore	N:m	govor
,	PUNCT	,
ali	CONJ	ali
mogli	V:m	moći
su	N:m	su
ubaciti	N:m	ubaciti
i	CONJ	i
neke	PRO	neki
gegove	N:m	geg
dok	CONJ	dok
nam	PRO	mi
serviraju	N:m	serviraju
ove	PRO	ovaj
pesme	N:f	pesma
a	CONJ	a
ne	PAR	ne
samo	PAR	samo
patuljke	N:m	patuljak
koji	PRO	koji
ih	PRO	ona
pevaju	N:m	pevaju
.	SENT	.
Ljudima	N:m	ljudi
koji	PRO	koji
možda	PAR	možda
ne	PAR	ne
planiraju	N:m	planiraju
pogledati	A:aem	pogledati
film	N:m	film
toplo	ADV	toplo
preporučujem	N:m	preporučujem
gledanje	N:n	gledanje
scena	N:f	scena
u	PREP	u
kojima	PRO	koji
Vili	N:m	Vili
Vonka	N:f	Vonka
(	PUNCT	(
Džoni	N:m	Džoni
Dep	N:m	Dep
)	PUNCT	)
govori	N:m	govor
.	PUNCT	.
Sve	PRO	sav
ostalo	V:n	ostati
je	PRO	ona
jedna	NUM	jedan
klasična	A:aem	klasičan
,	PUNCT	,
izlizana	A:aef	izlizan
,	PUNCT	,
patetična	A:aef	patetičan
poruka	N:f	poruka
koju	PRO	koji
više	ADV	više
ne	PAR	ne
mogu	A:aen	mogu
da	CONJ	da
svarim	A:aen	svarim
.	SENT	.
