“	A:aem	“
London	N:m	London
Boulevard	N:m	Boulevard
”	N:m	”
je	PRO	ona
debitanski	A:aem	debitanski
film	N:m	film
u	PREP	u
domenu	N:m	domen
režije	N:f	režija
Vilijama	N:m	Vilijam
Monahana	N:m	Monahana
(	PUNCT	(
William	N:m	William
Monahan	N:m	Monahan
)	PUNCT	)
,	PUNCT	,
popularnog	A:aem	popularan
scenariste	N:m	scenarista
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
i	CONJ	i
dobitnik	N:m	dobitnik
Oskara	N:m	Oskar
za	PREP	za
najbolji	A:cem	dobar
scenario	N:m	scenario
,	PUNCT	,
za	PREP	za
film	N:m	film
“	N:m	“
The	INT	The
Departed	N:m	Departed
“	N:m	“
.	SENT	.
Za	PREP	za
svoj	PRO	sav
debitanski	A:aem	debitanski
poduhvat	N:m	poduhvat
,	PUNCT	,
Vilijam	N:m	Vilijam
je	PRO	ona
izabrao	V:m	izabrati
da	CONJ	da
uradi	V:m	uradi
filmsku	A:aef	filmski
adaptaciju	N:f	adaptacija
istoimenog	A:aen	istoimen
fiktivnog	A:aem	fiktivan
krimi	N:m	krimi
romana	N:m	roman
Kena	N:m	Ken
Bruena	N:m	Bruena
(	PUNCT	(
Ken	N:m	Ken
Bruen	N:m	Bruen
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
bih	A:aem	bih
baš	PAR	baš
rekao	V:m	reći
da	CONJ	da
se	PAR	se
nešto	ADV	nešto
posebno	ADV	posebno
proslavio	V:m	proslaviti
.	SENT	.
Priča	A:aem	Priča
ovog	PRO	ovaj
projekta	N:m	projekt
prati	N:f	prati
Mičela	N:m	Mičel
,	PUNCT	,
bivšeg	A:aen	bivši
kriminalca	N:m	kriminalac
koji	PRO	koji
je	PRO	ona
upravo	ADV	upravo
pušten	V:m	pustiti
iz	PREP	iz
zatvora	N:m	zatvor
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
odslužio	V:m	odslužiti
tri	NUM	tri
godine	N:f	godina
za	PREP	za
napad	N:m	napad
,	PUNCT	,
i	CONJ	i
odmah	ADV	odmah
po	PREP	po
izlasku	N:m	izlazak
biva	A:aen	biva
sačekan	V:m	sačekati
od	PREP	od
strane	N:f	strana
njegovog	PRO	njegov
starog	A:aem	star
partnera	N:m	partner
Bilija	N:m	Bili
,	PUNCT	,
i	CONJ	i
isti	A:aem	isti
ga	PRO	on
vodi	N:f	voda
na	PREP	na
žurku	N:f	žurka
koja	PRO	koji
se	PAR	se
događa	V:m	događa
u	PREP	u
njegovu	PRO	njegov
čast	N:f	čast
,	PUNCT	,
da	CONJ	da
slave	N:f	slava
što	CONJ	što
je	PRO	ona
pušten	V:m	pustiti
iz	PREP	iz
zatvora	N:m	zatvor
.	SENT	.
Na	PREP	na
ovom	PRO	ovaj
okupu	N:m	okup
se	PAR	se
sjatio	V:m	sjatiti
sav	PRO	sav
gangsterski	A:aem	gangsterski
svet	N:m	svet
Istočnog	A:aem	Istočnog
Londona	N:m	London
,	PUNCT	,
kako	CONJ	kako
bi	A:aem	bi
pružili	V:m	pružiti
ruku	N:f	ruka
jednom	NUM	jedan
od	PREP	od
najstrahopoštovanijih	A:cef	najstrahopoštovanijih
gangstera	N:m	gangster
,	PUNCT	,
ali	CONJ	ali
Mičela	N:m	Mičel
više	ADV	više
ne	PAR	ne
zanima	A:aen	zanima
takav	PRO	takav
život	N:m	život
,	PUNCT	,
i	CONJ	i
on	PRO	on
se	PAR	se
iz	PREP	iz
sve	PRO	sav
snage	N:f	snaga
trudi	V:n	trudi
da	CONJ	da
se	PAR	se
isključi	V:m	isključi
iz	PREP	iz
te	PRO	taj
scene	N:f	scena
pošto	CONJ	pošto
mu	PRO	on
ne	PAR	ne
pada	N:m	pad
na	PREP	na
pamet	N:f	pamet
više	ADV	više
da	CONJ	da
se	PAR	se
vraća	V:m	vraća
u	PREP	u
zatvor	N:m	zatvor
.	SENT	.
On	PRO	on
uspeva	N:m	uspeva
malo	ADV	malo
da	CONJ	da
se	PAR	se
odmakne	N:m	odmakne
od	PREP	od
tog	PRO	taj
života	N:m	život
kriminala	N:m	kriminal
time	PRO	taj
što	PRO	što
dobija	N:n	dobija
posao	V:m	posati
kod	PREP	kod
jedne	NUM	jedan
poznate	A:aef	poznat
glumice	N:f	glumica
kao	CONJ	kao
ispomoć	N:f	ispomoć
/	A:aem	/
telohranitelj	N:m	telohranitelj
,	PUNCT	,
da	CONJ	da
se	PAR	se
brine	N:m	brine
za	PREP	za
njenu	PRO	njen
bezbednost	N:f	bezbednost
i	CONJ	i
da	CONJ	da
je	PRO	ona
zaštiti	N:f	zaštita
od	PREP	od
paparaca	N:m	paparaco
(	PUNCT	(
paparazzi	N:m	paparazzi
)	PUNCT	)
.	SENT	.
Sve	PRO	sav
je	PRO	ona
krenulo	V:n	krenuti
lepo	ADV	lepo
i	CONJ	i
po	PREP	po
planu	N:m	plan
za	PREP	za
Mičela	N:m	Mičel
,	PUNCT	,
ali	CONJ	ali
ubrzo	ADV	ubrzo
se	PAR	se
u	PREP	u
njegovom	PRO	njegov
životu	N:m	život
pojavljuje	N:m	pojavljuje
jedan	NUM	jedan
od	PREP	od
glavnih	A:aen	glavnih
gangstera	N:m	gangster
britanskog	A:aem	britanski
podzemlja	N:n	podzemlje
,	PUNCT	,
tražeći	A:aem	tražeći
od	PREP	od
njega	PRO	on
saradnju	N:f	saradnja
,	PUNCT	,
da	CONJ	da
se	PAR	se
priključi	A:aem	priključi
određenoj	A:aef	određenoj
kriminalnoj	A:aef	kriminalan
organizaciji	N:f	organizacija
.	SENT	.
Na	PREP	na
Mičelu	N:m	Mičel
ostaje	N:n	ostaje
da	CONJ	da
pronađe	A:aem	pronađe
način	N:m	način
kako	CONJ	kako
da	CONJ	da
odbije	A:aem	odbije
ovog	PRO	ovaj
izuzetno	ADV	izuzetno
opasnog	A:aen	opasan
čoveka	N:m	čovek
,	PUNCT	,
ali	CONJ	ali
na	PREP	na
način	N:m	način
kako	CONJ	kako
bi	N:m	bi
uspeo	V:m	uspeti
i	CONJ	i
da	CONJ	da
zaštiti	N:f	zaštita
svoje	PRO	svoj
najdraže	A:cef	drag
.	SENT	.
Problem	N:m	problem
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
što	PRO	što
mnogo	ADV	mnogo
hoće	A:aem	hoće
,	PUNCT	,
ali	CONJ	ali
ništa	PRO	ništa
ne	PAR	ne
uspeva	N:m	uspeva
da	CONJ	da
realizuje	N:m	realizuje
kvalitetno	A:aen	kvalitetan
.	SENT	.
Mi	PRO	ja
ovde	ADV	ovde
imamo	ADV	imamo
nekoliko	ADV	nekoliko
zapleta	N:m	zaplet
,	PUNCT	,
prvi	A:aem	prvi
i	CONJ	i
glavni	A:aem	glavni
je	PRO	ona
taj	PRO	taj
krminalni	A:aem	krminalni
svet	N:m	svet
u	PREP	u
koji	PRO	koji
konstatno	A:aen	konstatno
uskače	N:n	uskače
i	CONJ	i
iz	PREP	iz
njega	PRO	on
iskače	V:m	iskače
naš	PRO	naš
glavni	A:aem	glavni
akter	N:m	akter
,	PUNCT	,
drugi	A:aem	drugi
je	PRO	ona
njegova	PRO	njegov
romansa	N:f	romansa
koja	PRO	koji
ima	A:aem	ima
slabe	A:aef	slab
dodirne	A:aef	dodiran
tačke	N:f	tačka
sa	PREP	sa
prethodno	ADV	prethodno
pomenutim	A:aen	pomenut
segmentom	N:m	segment
,	PUNCT	,
a	CONJ	a
kao	CONJ	kao
treći	A:aem	treći
zaplet	N:m	zaplet
imamo	N:m	imamo
situaciju	N:f	situacija
sa	PREP	sa
atentatom	N:m	atentat
njegovog	PRO	njegov
bliskog	A:aem	blizak
prijatelja	N:m	prijatelj
i	CONJ	i
proces	N:m	proces
traženja	N:n	traženje
izvršitelja	N:m	izvršitelj
ovog	PRO	ovaj
dela	N:n	delo
,	PUNCT	,
koja	PRO	koji
se	PAR	se
skoro	ADV	skoro
ni	CONJ	ni
ne	PAR	ne
pominje	N:n	pominje
,	PUNCT	,
posle	PREP	posle
svega	PRO	sav
par	N:m	par
minuta	N:m	minut
postaje	N:f	postaja
jasno	ADV	jasno
da	CONJ	da
je	PRO	ona
tu	ADV	tu
isključivo	ADV	isključivo
kao	CONJ	kao
sredstvo	N:n	sredstvo
pomoću	PREP	pomoću
kojeg	PRO	koji
će	N:m	će
se	PAR	se
završiti	A:aem	završiti
film	N:m	film
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
grubom	A:aem	grub
opisu	N:m	opis
već	CONJ	već
se	PAR	se
mogu	A:aem	mogu
primetiti	N:m	primetiti
prilike	N:f	prilika
za	PREP	za
ogromne	A:aef	ogroman
rupe	N:f	rupa
u	PREP	u
samoj	PRO	sam
priči	N:f	priča
,	PUNCT	,
čija	PRO	čiji
raštrkanost	N:f	raštrkanost
čini	N:f	čini
film	N:m	film
prilično	ADV	prilično
dosadnim	A:aem	dosadan
u	PREP	u
određenim	A:aem	određenim
trenutcima	N:m	trenutak
.	SENT	.
Pored	PREP	pored
ovakvog	PRO	ovakav
pretrpavanja	N:n	pretrpavanje
raznim	A:aem	raznim
događajima	N:m	događaj
,	PUNCT	,
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
isto	ADV	isto
vrlo	ADV	vrlo
suvišno	ADV	suvišno
jeste	INT	jeste
epizodna	A:aef	epizodan
uloga	N:f	uloga
Mičelove	A:aef	Mičelove
rasejane	A:aef	rasejan
i	CONJ	i
luckaste	A:aef	luckast
sestre	N:f	sestra
,	PUNCT	,
čiji	PRO	čiji
udeo	N:m	udeo
od	PREP	od
samog	PRO	sam
starta	N:m	start
filma	N:m	film
je	PRO	ona
izuzetno	ADV	izuzetno
predvidiv	A:aem	predvidiv
.	SENT	.
Monahan	A:aem	Monahan
pokušava	N:f	pokušava
da	CONJ	da
kombinuje	N:m	kombinuje
dva	NUM	dva
prepoznatljiva	A:aen	prepoznatljiv
stila	N:n	stilo
poznatih	A:aef	poznat
reditelja	N:m	reditelj
,	PUNCT	,
Gaja	N:m	Gaj
Ričija	N:m	Riči
(	PUNCT	(
Guy	A:aem	Guy
Ritchie	N:f	Ritchie
)	PUNCT	)
,	PUNCT	,
po	PREP	po
vizuelnom	A:aen	vizuelan
stilu	N:n	stilo
,	PUNCT	,
muzici	N:f	muzika
i	CONJ	i
povremenim	A:aen	povremen
ispadima	N:m	ispad
i	CONJ	i
stilu	N:n	stilo
humora	N:m	humor
,	PUNCT	,
i	CONJ	i
sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
Martina	N:m	Martin
Skorsezea	N:m	Skorseze
(	PUNCT	(
Martin	N:m	Martin
Scorsese	N:m	Scorsese
)	PUNCT	)
,	PUNCT	,
u	PREP	u
vezi	N:f	veza
sa	PREP	sa
glorifikacijom	N:f	glorifikacija
kriminalaca	N:m	kriminalac
,	PUNCT	,
i	CONJ	i
generalnim	A:aen	generalan
tonalitetom	N:m	tonalitet
filma	N:m	film
.	SENT	.
Tužno	A:aen	Tužno
je	PRO	ona
reći	N:m	reći
,	PUNCT	,
ali	CONJ	ali
ovo	PRO	ovaj
ne	PAR	ne
ispada	N:m	ispad
na	PREP	na
kraju	N:m	kraj
kao	CONJ	kao
dobar	A:aem	dobar
spoj	N:m	spoj
,	PUNCT	,
posebno	ADV	posebno
primetno	ADV	primetno
po	PREP	po
veoma	ADV	veoma
lošim	A:aef	loš
dijalozima	N:m	dijalog
,	PUNCT	,
koji	PRO	koji
ni	PAR	ni
blizu	ADV	blizu
nisu	N:m	nisu
kvalitetnih	A:aen	kvalitetan
,	PUNCT	,
a	CONJ	a
nisu	N:m	nisu
ni	CONJ	ni
smešni	A:aem	smešan
kao	ADV	kao
što	CONJ	što
kod	PREP	kod
Ričija	N:m	Riči
bivaju	N:f	bivaju
.	SENT	.
Ovaj	PRO	ovaj
projekat	N:m	projekt
je	PRO	ona
zbilja	PAR	zbilja
neka	PRO	neki
porvšna	V:n	porvšna
vrsta	N:f	vrsta
omaža	N:m	omaž
stila	N:n	stilo
na	PREP	na
dva	NUM	dva
pomenuta	A:aen	pomenut
reditelja	N:m	reditelj
,	PUNCT	,
puna	A:aef	pun
grešaka	N:f	greška
,	PUNCT	,
užasnih	A:aem	užasan
dijaloga	N:m	dijalog
i	CONJ	i
moglo	V:n	moći
bi	A:aem	bi
se	PAR	se
reći	V:n	reći
još	ADV	još
i	CONJ	i
osrednje	A:aef	osrednji
glume	N:f	gluma
.	PUNCT	.
Ne	PAR	ne
uspeva	N:m	uspeva
da	CONJ	da
ostavi	N:f	ostava
nikakav	PRO	nikakav
utisak	N:m	utisak
,	PUNCT	,
sumnjam	N:m	sumnjam
da	CONJ	da
će	A:aem	će
se	PAR	se
ovaj	PRO	ovaj
projekat	N:m	projekt
nešto	ADV	nešto
duže	A:bef	dug
pamtiti	N:m	pamtiti
.	SENT	.
