Ovi	PRO	ovaj
Amri	N:m	Amri
su	N:m	su
toliko	ADV	toliko
drski	A:aem	drzak
i	CONJ	i
bezobrazni	A:aem	bezobrazan
da	CONJ	da
ja	PRO	ja
reči	N:f	reč
nemam	N:m	nemam
.	SENT	.
To	PRO	taj
posebno	ADV	posebno
važi	V:m	važi
za	PREP	za
njihove	PRO	njihov
plagijate	N:m	plagijat
i	CONJ	i
krađe	N:f	krađa
tuđih	A:aef	tuđ
ideja	N:f	ideja
bez	PREP	bez
ikakvog	PRO	ikakav
konsultovanja	N:n	konsultovanje
sa	PREP	sa
idejnim	A:aef	idejni
tvorcem	N:m	tvorac
.	SENT	.
Prvo	ADV	prvo
je	PRO	ona
naš	PRO	naš
Srbin	N:m	Srbin
,	PUNCT	,
Lazar	N:m	Lazar
Ristovski	N:m	Ristovski
napravio	V:m	napraviti
remek	N:m	remek
delo	N:n	delo
pod	PREP	pod
nazivom	N:m	naziv
„	A:aem	„
Beli	N:f	Bela
Lavovi	A:aem	Lavov
“	N:m	“
i	CONJ	i
kada	CONJ	kada
je	PRO	ona
vanserijska	A:aef	vanserijski
popularnost	N:f	popularnost
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
preplavila	V:f	preplaviti
svet	N:m	svet
nađu	V:m	nađu
se	PAR	se
ovi	PRO	ovaj
agresori	N:m	agresor
da	CONJ	da
naprave	N:f	naprava
film	N:m	film
„	A:aem	„
Beli	N:f	Bela
Slon	N:m	Slon
“	N:m	“
.	SENT	.
Slučajnost	N:f	Slučajnost
?	SENT	?
Nikako	ADV	nikako
…	PUNCT	…
Elephant	N:m	Elephant
White	N:m	White
je	PRO	ona
priča	N:f	priča
o	PREP	o
surovom	A:aem	surov
ubici	N:m	ubica
koji	PRO	koji
dolazi	N:m	dolaz
u	PREP	u
glavni	A:aem	glavni
grad	N:m	grad
Tajlanda	N:m	Tajland
kako	CONJ	kako
bi	V:m	bi
svoje	PRO	svoj
plaćeničke	A:aef	plaćenički
krvave	A:aef	krvav
ruke	N:f	ruka
umešao	V:m	umešati
u	PREP	u
brutalan	A:aem	brutalan
sukob	N:m	sukob
bandi	N:f	banda
koje	PRO	koji
kontrolišu	A:aem	kontrolišu
prostituciju	N:f	prostitucija
i	CONJ	i
pritom	PAR	pritom
osvetio	V:m	osvetiti
kidnapovanje	N:n	kidnapovanje
ćerke	N:f	ćerka
lokalnog	A:aem	lokalan
biznismena	N:m	biznismen
.	SENT	.
Vrlo	ADV	vrlo
brzo	ADV	brzo
ovaj	PRO	ovaj
momak	N:m	momak
lakog	A:aen	lak
kažiprsta	N:m	kažiprst
će	A:aem	će
shvatiti	N:m	shvatiti
da	CONJ	da
se	PAR	se
u	PREP	u
zemlji	N:f	zemlja
gde	CONJ	gde
vladaju	N:f	vladaju
duhovi	N:m	duh
prošlosti	N:f	prošlost
,	PUNCT	,
nije	A:aem	nije
lako	ADV	lako
otaljavati	A:aem	otaljavati
posao	N:m	posao
kao	CONJ	kao
što	CONJ	što
se	PAR	se
radi	PREP	radi
u	PREP	u
zapadnim	A:aen	zapadni
zemljama	N:f	zemlja
.	SENT	.
Ovaj	PRO	ovaj
drugi	A:aem	drugi
pasus	N:m	pasus
mi	PRO	ja
deluje	A:aem	deluje
pretanko	A:aen	pretanak
,	PUNCT	,
ali	CONJ	ali
stvarno	ADV	stvarno
ne	PAR	ne
znam	N:m	znam
šta	PRO	šta
još	PAR	još
da	CONJ	da
dodam	N:m	dodam
na	PREP	na
zaplet	N:m	zaplet
filma	N:m	film
koji	PRO	koji
se	PAR	se
svodi	V:n	svodi
samo	PAR	samo
na	PREP	na
ubijanje	N:n	ubijanje
,	PUNCT	,
zato	ADV	zato
sam	PRO	sam
verovatno	ADV	verovatno
i	CONJ	i
dodao	V:m	dodati
ovu	PRO	ovaj
poslednju	A:aef	poslednji
rečenicu	N:f	rečenica
i	CONJ	i
…	SENT	…
papus	N:m	papus
mi	PRO	ja
je	PRO	ona
sada	ADV	sada
dovoljno	ADV	dovoljno
debeo	A:aem	debeo
.	SENT	.
Prachya	N:m	Prachya
Pinkaew	N:m	Pinkaew
(	SENT	(
konsultovati	A:aem	konsultovati
najbliži	A:cem	bliz
Tajlandski	A:aem	tajlandski
konzulat	N:m	konzulat
za	PREP	za
informaciju	N:f	informacija
kako	CONJ	kako
se	PAR	se
izgovara	N:m	izgovara
ovo	PRO	ovaj
ime	N:n	ime
)	PUNCT	)
,	PUNCT	,
reditelj	N:m	reditelj
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
,	PUNCT	,
je	PRO	ona
poznat	A:aem	poznat
po	PREP	po
tajlandskim	A:aem	tajlandski
tepačkim	A:aem	tepačkim
filmovima	N:m	film
,	PUNCT	,
što	CONJ	što
je	PRO	ona
ikustvo	N:n	ikustvo
loše	ADV	loše
preneseno	V:n	preneti
u	PREP	u
ovaj	PRO	ovaj
film	N:m	film
jer	CONJ	jer
priču	N:f	priča
čini	N:f	čini
još	ADV	još
neubedljivijom	A:bef	neubedljiv
,	PUNCT	,
a	CONJ	a
hrpu	N:f	hrpa
leševa	N:m	leš
još	ADV	još
većom	A:bef	velik
.	SENT	.
Djimon	N:m	Djimon
Hounsou	N:m	Hounsou
(	PUNCT	(
dva	NUM	dva
puta	ADV	puta
nominovan	V:m	nominovati
za	PREP	za
Oskara	N:m	Oskar
,	PUNCT	,
sjajan	A:aem	sjajan
u	PREP	u
Blood	N:m	Blood
Diamond	N:m	Diamond
)	PUNCT	)
pruža	A:aem	pruža
neupečatljivu	A:aem	neupečatljivu
rolu	N:f	rola
,	PUNCT	,
dok	CONJ	dok
Kevin	N:m	Kevin
Bejkon	N:m	Bejkon
(	PUNCT	(
Slaninica	N:f	slaninica
)	PUNCT	)
kao	CONJ	kao
rođeni	V:m	roditi
Australijanac	N:m	Australijanac
katastrofalno	A:aen	katastrofalan
interpretira	N:m	interpretira
engleski	A:aem	engleski
akcenat	N:m	akcent
.	SENT	.
Sve	PRO	sav
u	PREP	u
svem	PRO	sav
prosečan	A:aem	prosečan
,	PUNCT	,
ali	CONJ	ali
gledljiv	A:aem	gledljiv
film	N:m	film
.	SENT	.
