Artsy	A:aem	Artsy
Topsy	A:aem	Topsy
Turvy	N:m	Turvy
.	SENT	.
U	PREP	u
trenutku	N:m	trenutak
ovog	PRO	ovaj
pisanja	N:n	pisanje
poslednji	A:aem	poslednji
film	N:m	film
Mikea	N:m	Mikea
Leigha	N:f	Leigha
,	PUNCT	,
Mr	N:m	Mr
Turner	N:m	Turner
,	PUNCT	,
ocenjen	V:m	oceniti
je	PRO	ona
prosečnom	A:aen	prosečan
ocenom	N:f	ocena
od	PREP	od
6	NUM	@card@
.	PUNCT	.
8	NUM	@card@
/	N:m	/
10	NUM	@card@
od	PREP	od
strane	N:f	strana
nekih	PRO	neki
260	NUM	@card@
gledalaca	N:m	gledalac
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
prosek	N:m	prosek
od	PREP	od
strane	N:f	strana
kritike	N:f	kritika
neverovatnih	A:aem	neverovatan
96	NUM	@card@
/	N:m	/
100	NUM	@card@
.	SENT	.
Iako	CONJ	iako
sam	PRO	sam
klepetao	V:m	klepetati
nanulama	N:f	nanula
od	PREP	od
sreće	N:f	sreća
na	PREP	na
Leighev	N:f	Leighev
prethodni	A:aem	prethodan
,	PUNCT	,
Another	N:m	Another
Year	N:m	Year
,	PUNCT	,
bojim	V:n	bojim
se	PAR	se
da	CONJ	da
sam	PRO	sam
među	PREP	među
ovih	PRO	ovaj
260	NUM	@card@
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
koji	PRO	koji
su	N:m	su
najviše	ADV	najviše
kumovali	V:m	kumovati
takvoj	PRO	takav
oceni	N:f	ocena
.	SENT	.
Mr	ABB	mr
Turner	N:m	Turner
,	PUNCT	,
uprkos	PREP	uprkos
dobroj	A:aef	dobar
i	CONJ	i
originalnoj	A:aef	originalan
ulozi	N:f	uloga
Timothy	A:aem	Timothy
Spalla	N:m	Spalla
(	PUNCT	(
više	ADV	više
od	PREP	od
toga	PRO	taj
nisam	N:m	nisam
bio	V:m	biti
impresioniran	V:m	impresionirati
)	PUNCT	)
,	PUNCT	,
spada	N:m	spada
u	PREP	u
one	PRO	onaj
njegove	PRO	njegov
filmove	N:m	film
u	PREP	u
kojima	PRO	koji
mi	PRO	ja
Leighovo	N:f	Leighovo
obrazovanje	N:n	obrazovanje
i	CONJ	i
elitizam	N:m	elitizam
ne	PAR	ne
prijaju	N:m	prijaju
.	SENT	.
Full	N:m	Full
disclosure	N:f	disclosure
:	PUNCT	:
možda	PAR	možda
je	PRO	ona
do	PREP	do
mene	PRO	ja
.	SENT	.
Za	PREP	za
J	ABB	J
.	PUNCT	.
M	ABB	m
.	PUNCT	.
W	ABB	W
.	PUNCT	.
Turnera	N:m	Turnera
čuo	V:m	čuti
sam	A:aem	sam
tek	CONJ	tek
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
.	SENT	.
Žozefina	N:f	Žozefina
me	PRO	ja
je	PRO	ona
naknadno	ADV	naknadno
informisala	V:f	informisati
da	CONJ	da
se	PAR	se
radi	PREP	radi
o	PREP	o
jednom	NUM	jedan
od	PREP	od
najvećih	A:cen	velik
britanskih	A:aef	britanski
slikara	N:m	slikar
i	CONJ	i
preteči	N:f	preteča
impresionizma	N:m	impresionizam
.	SENT	.
Radovi	N:m	rad
koji	PRO	koji
su	N:m	su
prikazani	V:m	prikazati
u	PREP	u
filmu	N:m	film
nisu	N:m	nisu
me	PRO	ja
naročito	ADV	naročito
impresionirali	V:m	impresionirati
.	PUNCT	.
Ali	CONJ	ali
to	PRO	taj
je	PRO	ona
uvek	ADV	uvek
konfliktno	A:aen	konfliktan
mesto	N:n	mesto
umetničkih	A:aem	umetnički
dela	N:n	delo
koja	PRO	koji
se	PAR	se
bave	A:aem	bave
drugim	A:aem	drugi
umetnicima	N:m	umetnik
.	SENT	.
Gledalac	N:m	gledalac
definiše	A:aem	definiše
svoj	PRO	sav
odnos	N:m	odnos
prema	PREP	prema
junaku	N:m	junak
i	CONJ	i
kroz	PREP	kroz
odnos	N:m	odnos
prema	PREP	prema
njegovim	PRO	njegov
(	PUNCT	(
umetničkim	A:aem	umetnički
)	PUNCT	)
delima	N:n	delo
,	PUNCT	,
i	CONJ	i
ako	CONJ	ako
prema	PREP	prema
njima	PRO	ona
nema	A:aem	nem
odnos	N:m	odnos
koji	PRO	koji
je	PRO	ona
,	PUNCT	,
recimo	N:f	recimo
,	PUNCT	,
istorija	N:f	istorija
(	PUNCT	(
te	CONJ	te
)	PUNCT	)
umetnosti	N:f	umetnost
utvrdila	V:n	utvrditi
i	CONJ	i
potvrdila	V:n	potvrditi
,	PUNCT	,
ili	CONJ	ili
na	PREP	na
koji	PRO	koji
se	PAR	se
reditelj	N:m	reditelj
oslanja	N:n	oslanja
,	PUNCT	,
može	A:aem	može
doći	N:m	doći
do	PREP	do
popriličnog	A:aem	popriličan
razlaza	N:m	razlaz
sa	PREP	sa
utiskom	N:m	utisak
sa	PREP	sa
kojim	PRO	koji
je	PRO	ona
to	PRO	taj
umetničko	A:aen	umetnički
delo	N:n	delo
računalo	V:n	računati
.	PUNCT	.
Ali	CONJ	ali
to	PRO	taj
sam	PRO	sam
vam	PRO	vi
već	PAR	već
pričao	V:m	pričati
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
za	PREP	za
sve	PRO	sav
one	PRO	onaj
koji	PRO	koji
nisu	N:m	nisu
dobri	A:aem	dobar
poznavaoci	N:m	poznavalac
društvenih	A:aef	društven
i	CONJ	i
umetničkih	A:aem	umetnički
prilika	N:f	prilika
u	PREP	u
prvoj	A:aef	prvi
polovini	N:f	polovina
XIX	A:aem	XIX
veka	N:m	vek
u	PREP	u
Britaniji	N:f	Britanija
,	PUNCT	,
kao	ADV	kao
i	CONJ	i
posebno	ADV	posebno
verzirani	A:aem	verziran
u	PREP	u
slikarske	A:aem	slikarski
krugove	N:m	krug
tog	PRO	taj
doba	N:n	doba
da	CONJ	da
mogu	N:m	Mog
da	CONJ	da
film	N:m	film
prate	N:f	prate
između	PREP	između
redova	N:m	red
,	PUNCT	,
ostaje	N:n	ostaje
Turnerov	A:aem	Turnerov
privatni	A:aem	privatan
život	N:m	život
i	CONJ	i
'	N:m	'
amatersko	A:aen	amaterski
'	A:aem	'
bavljenje	N:n	bavljenje
njegovim	PRO	njegov
profesionalnim	A:aen	profesionalan
radom	N:m	rad
.	SENT	.
Priču	N:m	Priču
o	PREP	o
Turneru	N:m	Turneru
,	PUNCT	,
Leigh	A:aen	Leigh
započinje	N:n	započinje
bez	PREP	bez
nekog	PRO	neki
meni	PRO	ja
vidljivog	A:aen	vidljiv
povoda	N:m	povod
i	CONJ	i
u	PREP	u
Turnerovom	A:aen	Turnerovom
dobu	N:n	doba
koje	PRO	koji
mi	PRO	ja
nije	N:m	nije
ništa	ADV	ništa
lakše	ADV	lakše
odrediti	A:aem	odrediti
(	PUNCT	(
ali	CONJ	ali
recimo	A:aen	recimo
da	CONJ	da
bi	A:aen	bi
trebalo	V:n	trebati
da	CONJ	da
ima	V:n	ima
između	PREP	između
40	NUM	@card@
i	CONJ	i
50	NUM	@card@
godina	N:f	godina
)	PUNCT	)
.	SENT	.
U	PREP	u
prvom	A:aen	prvi
satu	N:m	sat
ovog	PRO	ovaj
topsiturvipredugog	A:aem	topsiturvipredugog
filma	N:m	film
(	PUNCT	(
150	NUM	@card@
min	ABB	min
)	PUNCT	)
mahom	ADV	mahom
se	PAR	se
upoznajemo	A:aen	upoznajemo
sa	PREP	sa
osnovama	N:f	osnova
Turnerovog	A:aem	Turnerovog
lika	N:m	lik
i	CONJ	i
dela	N:n	delo
-	PUNCT	-
živeo	V:m	živeti
je	PRO	ona
sa	PREP	sa
ocem	N:m	otac
koga	PRO	koji
je	PRO	ona
veoma	ADV	veoma
voleo	V:m	voleti
,	PUNCT	,
najradije	ADV	najradije
i	CONJ	i
najčešće	ADV	najčešće
slikao	V:m	slikati
je	PRO	ona
marine	N:f	marina
i	CONJ	i
pejzaže	N:m	pejzaž
.	SENT	.
Leighev	A:aem	Leighev
ritam	N:m	ritam
je	PRO	ona
spor	A:aem	spor
,	PUNCT	,
nema	A:aem	nem
neke	PRO	neki
naročite	A:aef	naročit
drame	N:f	drama
,	PUNCT	,
iako	CONJ	iako
prostora	N:m	prostor
za	PREP	za
nju	PRO	ona
ima	N:m	ima
(	PUNCT	(
Turner	N:m	Turner
je	PRO	ona
manje	ADV	manje
-	PUNCT	-
više	ADV	više
bio	V:m	biti
prilično	ADV	prilično
bezosećajan	A:aem	bezosećajan
skot	N:m	skot
)	PUNCT	)
i	CONJ	i
Leigh	N:f	Leigh
se	PAR	se
zadovoljava	A:aen	zadovoljava
time	PRO	taj
da	CONJ	da
pred	PREP	pred
nama	PRO	mi
niže	A:bef	nizak
scene	N:f	scena
kao	CONJ	kao
pejzaže	N:m	pejzaž
.	SENT	.
Nešto	N:m	Nešto
malo	ADV	malo
dramski	A:aem	dramski
dinamičnije	A:bef	dinamičan
radnje	N:f	radnja
počinje	N:f	počinje
sa	PREP	sa
smrću	N:f	smrt
Turnerovog	A:aem	Turnerovog
oca	N:m	otac
,	PUNCT	,
koje	PRO	koji
za	PREP	za
sobom	PRO	sebe
povlači	N:n	povlači
i	CONJ	i
sećanje	N:n	sećanje
na	PREP	na
majku	N:f	majka
koja	PRO	koji
i	PAR	i
nije	V:f	nije
bila	V:f	biti
toliko	ADV	toliko
majka	N:f	majka
i	CONJ	i
sestru	N:f	sestra
koja	PRO	koji
je	PRO	ona
umrla	V:f	umreti
kao	CONJ	kao
devojčica	N:f	devojčica
.	SENT	.
Ovo	PRO	ovaj
nam	PRO	mi
donekle	ADV	donekle
objašnjava	A:aem	objašnjava
i	CONJ	i
opravdava	A:aem	opravdava
Turnera	N:m	Turnera
,	PUNCT	,
ali	CONJ	ali
Leigh	N:f	Leigh
svoj	PRO	sav
film	N:m	film
svodi	V:m	svodi
na	PREP	na
Turnerovo	A:aen	Turnerovo
kretanje	N:n	kretanje
od	PREP	od
svoje	PRO	svoj
kuće	N:f	kuća
do	PREP	do
kuće	N:f	kuća
svoje	PRO	svoj
nove	A:aef	nov
ljubavnice	N:f	ljubavnica
koja	PRO	koji
živi	A:aem	živ
na	PREP	na
obali	N:f	obala
mora	N:n	more
,	PUNCT	,
i	CONJ	i
povremene	A:aem	povremen
odlaske	N:m	odlazak
do	PREP	do
Akademije	N:m	Akademije
gde	CONJ	gde
su	N:m	su
godišnje	ADV	godišnje
prodajne	A:aem	prodajni
izložbe	N:f	izložba
pripremane	V:f	pripremati
samo	PAR	samo
za	PREP	za
kralja	N:m	kralj
i	CONJ	i
njegovu	PRO	njegov
kolekciju	N:f	kolekcija
.	SENT	.
Leigh	A:aem	Leigh
je	PRO	ona
izmešao	V:m	izmešati
postepenu	A:aef	postepen
transformaciju	N:f	transformacija
Turnera	N:m	Turnera
od	PREP	od
realiste	N:m	realista
ka	PREP	ka
impresionisti	N:m	impresionista
,	PUNCT	,
koji	PRO	koji
sve	ADV	sve
više	ADV	više
zbunjuje	N:m	zbunjuje
i	CONJ	i
plaši	A:aem	plaši
javnost	N:f	javnost
time	PRO	taj
što	PRO	što
na	PREP	na
njegovim	PRO	njegov
slikama	N:f	slika
nije	V:m	nije
jasno	ADV	jasno
šta	PRO	šta
prikazuju	N:m	prikazuju
,	PUNCT	,
sa	PREP	sa
Turnerom	N:m	Turnerom
čije	PRO	čiji
ponašanje	N:n	ponašanje
iz	PREP	iz
asocijalnog	A:aem	asocijalan
ide	N:m	ide
u	PREP	u
skoro	ADV	skoro
psihotično	A:aen	psihotičan
.	SENT	.
Čemu	A:aem	Čemu
je	PRO	ona
značajno	ADV	značajno
doprinela	V:n	doprineti
njegova	PRO	njegov
nezgrapna	A:aef	nezgrapan
pojava	N:f	pojava
.	SENT	.
Leighevi	A:aem	Leighevi
pejzaži	N:m	pejzaž
povremeno	ADV	povremeno
oduzimaju	N:m	oduzimaju
dah	N:m	dah
,	PUNCT	,
scenografija	N:f	scenografija
i	CONJ	i
kostimi	N:m	kostim
su	PREF	su
besprekorni	A:aem	besprekoran
,	PUNCT	,
rad	N:m	rad
sa	PREP	sa
glumcima	N:m	glumac
promišljen	V:m	promisliti
do	PREP	do
detalja	N:m	detalj
,	PUNCT	,
ali	CONJ	ali
ništa	PRO	ništa
u	PREP	u
tkivu	N:n	tkivo
filma	N:m	film
ne	PAR	ne
postoji	N:f	postoji
što	CONJ	što
bi	A:aen	bi
ga	PRO	on
pokretalo	V:n	pokretati
i	CONJ	i
što	PRO	što
bi	A:aem	bi
nas	PRO	mi
vuklo	V:n	vući
sa	PREP	sa
interesovanjem	N:n	interesovanje
dalje	ADV	dalje
.	SENT	.
Timothy	A:aem	Timothy
Spall	N:m	Spall
dočarao	V:m	dočarati
je	PRO	ona
Turnera	N:m	Turnera
kao	CONJ	kao
mešavinu	N:f	mešavina
kučeta	N:n	kuče
Dragoljupčeta	N:m	Dragoljupčeta
,	PUNCT	,
orangutana	N:m	orangutan
i	CONJ	i
osobenjaka	N:m	osobenjak
koji	PRO	koji
sa	PREP	sa
ljudima	N:m	ljudi
radije	ADV	radije
i	CONJ	i
češće	ADV	češće
komunicira	N:m	komunicira
režuckanjima	N:n	režuckanjima
i	CONJ	i
onomatopejama	N:f	onomatopeja
nego	CONJ	nego
rečima	N:f	reč
,	PUNCT	,
ili	CONJ	ili
ne	PAR	ne
daj	INT	daj
bože	N:m	bog
,	PUNCT	,
rečenicima	N:m	rečenicima
.	PUNCT	.
U	PREP	u
više	ADV	više
navrata	N:m	navrat
Leigh	A:aef	Leigh
će	N:f	će
nam	PRO	mi
pokazati	N:m	pokazati
i	CONJ	i
da	CONJ	da
je	PRO	ona
Turnerov	A:aem	Turnerov
emocionalni	A:aem	emocionalan
i	CONJ	i
psihološki	A:aem	psihološki
sklop	N:m	sklop
zapravo	ADV	zapravo
ogledalo	N:n	ogledalo
takvog	PRO	takav
kapaciteta	N:m	kapacitet
za	PREP	za
komunikaciju	N:f	komunikacija
.	SENT	.
Turner	N:m	Turner
će	N:f	će
povremeno	ADV	povremeno
porinuti	V:m	porinuti
u	PREP	u
neartikulisane	A:aef	neartikulisan
emotivne	A:aef	emotivan
reakcije	N:f	reakcija
,	PUNCT	,
ali	CONJ	ali
će	V:m	će
zapravo	ADV	zapravo
najveći	A:cem	velik
deo	N:m	deo
vremena	N:n	vreme
ostati	N:m	ostati
empatijski	A:aem	empatijski
nemušt	A:aem	nemušt
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
u	PREP	u
situacijama	N:f	situacija
kada	CONJ	kada
nam	PRO	mi
je	PRO	ona
jasno	ADV	jasno
da	CONJ	da
želi	V:m	žeti
da	CONJ	da
pomogne	A:aem	pomogne
i	CONJ	i
kad	ADV	kad
oseća	A:aem	oseća
da	CONJ	da
je	PRO	ona
to	PRO	taj
što	CONJ	što
radi	PREP	radi
ispravna	A:aen	ispravan
stvar	N:f	stvar
.	SENT	.
Uobičajeni	A:aem	Uobičajeni
raskol	N:m	raskol
umetnika	N:m	umetnik
i	CONJ	i
čoveka	N:m	čovek
ovde	ADV	ovde
je	PRO	ona
tek	PAR	tek
malčice	ADV	malčice
ublažen	V:m	ublažiti
time	PRO	taj
što	CONJ	što
nema	A:aem	nem
dramske	A:aem	dramski
zaoštrenosti	N:f	zaoštrenost
u	PREP	u
kojoj	PRO	koji
bi	A:aem	bi
jedan	NUM	jedan
od	PREP	od
ove	PRO	ovaj
dvojice	N:f	dvojica
bio	V:m	biti
krivac	N:m	krivac
za	PREP	za
nešto	PRO	nešto
.	SENT	.
Leigh	N:f	Leigh
je	PRO	ona
nekako	ADV	nekako
izjednačio	V:m	izjednačiti
Turnerove	A:aem	Turnerove
reone	N:m	reon
i	CONJ	i
pustio	V:m	pustiti
ga	PRO	on
da	CONJ	da
svuda	ADV	svuda
bude	A:aem	bude
isti	A:aem	isti
što	CONJ	što
je	PRO	ona
poprilično	ADV	poprilično
učinilo	V:n	učiniti
da	CONJ	da
film	N:m	film
deluje	A:aef	deluje
mlako	N:f	mlaka
,	PUNCT	,
preduuuuugo	N:f	preduuuuugo
i	CONJ	i
neinteresantno	A:aen	neinteresantan
.	SENT	.
Za	PREP	za
nekoga	PRO	neki
ko	PRO	ko
je	PRO	ona
umro	V:m	umreti
uzvikujući	A:aem	uzvikujući
'	A:aem	'
Sunce	N:m	Sunce
je	PRO	ona
bog	N:m	bog
'	N:m	'
,	PUNCT	,
Turner	N:m	Turner
deluje	N:m	deluje
kao	CONJ	kao
čovek	N:m	čovek
koji	PRO	koji
niti	PAR	niti
je	PRO	ona
utekao	V:m	uteći
iz	PREP	iz
naročito	ADV	naročito
'	A:aem	'
mračnog	A:aem	mračan
mraka	N:m	mrak
'	A:aem	'
da	CONJ	da
bi	A:aem	bi
nam	PRO	mi
nešto	PRO	nešto
takvo	PRO	takav
zaigralo	V:n	zaigrati
kao	ADV	kao
životna	A:aen	životan
poruka	N:f	poruka
,	PUNCT	,
niti	CONJ	niti
me	PRO	ja
je	PRO	ona
Leigh	N:f	Leigh
ubedio	V:m	ubediti
da	CONJ	da
je	PRO	ona
sunce	N:n	sunce
u	PREP	u
njegovom	PRO	njegov
stvaralaštvu	N:n	stvaralaštvo
odigralo	V:n	odigrati
stvarno	ADV	stvarno
tako	ADV	tako
veliku	A:aef	velik
ulogu	N:f	uloga
.	SENT	.
