Onaj	PRO	onaj
u	PREP	u
kome	PRO	koji
siluju	N:m	siluju
Dakotu	N:f	Dakota
Fanning	N:m	Fanning
.	SENT	.
Hounddog	A:aem	Hounddog
je	PRO	ona
prikazan	V:m	prikazati
na	PREP	na
Sundance	N:m	Sundance
-	PUNCT	-
u	PREP	u
2007	NUM	@card@
.	PUNCT	.
godine	N:f	godina
(	PUNCT	(
čini	N:f	čini
mi	PRO	ja
se	PAR	se
)	PUNCT	)
i	CONJ	i
tada	ADV	tada
su	N:m	su
do	PREP	do
zainteresovanih	A:aem	zainteresovan
filmofila	N:m	filmofil
doprle	V:f	dopreti
glasine	N:f	glasina
da	CONJ	da
su	N:m	su
čak	PAR	čak
i	CONJ	i
oni	PRO	onaj
retki	A:aem	redak
koji	PRO	koji
su	N:m	su
spremni	A:aem	spreman
da	CONJ	da
priznaju	N:m	priznaju
da	CONJ	da
su	N:m	su
film	N:m	film
gledali	V:m	gledati
voljni	A:aem	voljan
da	CONJ	da
zbog	PREP	zbog
toga	PRO	taj
odrade	N:m	odrade
1000	NUM	@card@
sati	N:f	sat
društveno	ADV	društveno
-	PUNCT	-
korisnog	A:aem	korisnog
rada	N:m	rad
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
da	CONJ	da
se	PAR	se
vrate	N:m	vrat
pod	PREP	pod
okrilje	N:n	okrilje
matične	A:aem	matični
crkve	N:f	crkva
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
ima	A:aem	ima
scena	N:f	scena
silovanja	N:n	silovanje
dvanaestogodišnje	A:aef	dvanaestogodišnji
devojčice	N:f	devojčica
!	PUNCT	!
A	CONJ	a
na	PREP	na
svu	PRO	sav
muku	N:f	muka
ima	V:m	ima
još	ADV	još
nekoliko	ADV	nekoliko
scena	N:f	scena
u	PREP	u
kojima	PRO	koji
Lewellen	N:m	Lewellen
(	PUNCT	(
Dakota	N:f	Dakota
)	PUNCT	)
i	CONJ	i
njen	PRO	njen
drugar	N:m	drugar
Buddy	N:m	Buddy
samo	PAR	samo
u	PREP	u
donjem	A:aem	donji
vešu	N:m	veš
trče	A:aem	trče
diljem	ADV	diljem
neke	PRO	neki
selendre	N:f	selendra
na	PREP	na
američkom	A:aem	američki
Jugu	N:f	Jugu
ili	CONJ	ili
se	PAR	se
kupaju	N:m	kupaju
u	PREP	u
lokalnoj	A:aef	lokalan
bari	N:f	bara
.	SENT	.
U	PREP	u
par	N:m	par
navrata	N:m	navrat
se	PAR	se
čak	PAR	čak
i	CONJ	i
ljube	N:f	ljuba
.	SENT	.
Što	N:f	Što
sve	PRO	sav
ovo	PRO	ovaj
čini	N:f	čini
pedofiličarskim	N:m	pedofiličarskim
praznikom	N:m	praznik
za	PREP	za
oči	N:f	oči
,	PUNCT	,
a	CONJ	a
mene	PRO	ja
još	ADV	još
jednom	ADV	jednom
stavlja	N:n	stavlja
u	PREP	u
poziciju	N:f	pozicija
da	CONJ	da
moram	N:m	moram
da	CONJ	da
objašnjavam	N:n	objašnjavam
zašto	CONJ	zašto
me	PRO	ja
ovakve	PRO	ovakav
stvari	N:f	stvar
zanimaju	N:m	zanimaju
(	PUNCT	(
što	CONJ	što
mi	PRO	ja
ne	PAR	ne
pada	N:m	pad
napamet	ADV	napamet
!	PUNCT	!
)	PUNCT	)
.	SENT	.
Nažalost	N:f	Nažalost
ova	PRO	ovaj
vrsta	N:f	vrsta
publiciteta	N:m	publicitet
(	PUNCT	(
a	CONJ	a
očigledno	ADV	očigledno
nije	V:m	nije
baš	PAR	baš
svaki	PRO	svaki
dobar	A:aem	dobar
)	PUNCT	)
dovela	V:n	dovesti
je	PRO	ona
do	PREP	do
toga	PRO	taj
da	CONJ	da
film	N:m	film
praktično	ADV	praktično
nije	V:m	nije
ni	CONJ	ni
ušao	V:m	ući
u	PREP	u
bioskopsku	A:aef	bioskopski
distribuciju	N:f	distribucija
i	CONJ	i
da	CONJ	da
je	PRO	ona
završio	V:m	završiti
,	PUNCT	,
kako	CONJ	kako
neko	PRO	neki
reče	N:m	redak
,	PUNCT	,
kao	CONJ	kao
“	A:aem	“
collector	N:m	collector
’	A:aem	’
s	PREP	s
item	N:n	item
”	N:m	”
.	SENT	.
Što	N:m	Što
je	PRO	ona
,	PUNCT	,
možda	PAR	možda
,	PUNCT	,
kada	CONJ	kada
pogledate	A:aem	pogledate
film	N:m	film
i	CONJ	i
sasvim	ADV	sasvim
zasluženo	ADV	zasluženo
.	SENT	.
Ne	PAR	ne
zato	ADV	zato
što	CONJ	što
je	PRO	ona
na	PREP	na
taj	PRO	taj
način	N:m	način
udovoljeno	V:n	udovoljiti
sve	PRO	sav
fašističkijim	A:aem	fašističkijim
apetitima	N:m	apetit
političke	A:aef	politički
korektnosti	N:f	korektnost
,	PUNCT	,
već	CONJ	već
zato	ADV	zato
što	CONJ	što
kao	ADV	kao
ostvarenje	N:n	ostvarenje
sa	PREP	sa
umetničkim	A:aem	umetnički
ambicijama	N:f	ambicija
ovaj	PRO	ovaj
film	N:m	film
nije	V:m	nije
ništa	ADV	ništa
posebno	ADV	posebno
.	PUNCT	.
OK	N:m	OK
,	PUNCT	,
Dakotu	N:f	Dakota
siliju	N:m	Sili
i	CONJ	i
,	PUNCT	,
ako	CONJ	ako
me	PRO	ja
baš	PAR	baš
vučete	V:f	vučete
za	PREP	za
jezik	N:m	jezik
,	PUNCT	,
ta	PRO	taj
scena	N:f	scena
izgleda	N:m	izgled
prilično	ADV	prilično
dobro	ADV	dobro
.	PUNCT	.
Da	CONJ	da
bi	A:aen	bi
dobila	V:n	dobiti
kartu	N:f	karta
za	PREP	za
Elvisov	A:aem	Elvisov
koncert	N:m	koncert
,	PUNCT	,
mala	A:aen	mali
Lewellen	N:f	Lewellen
je	PRO	ona
namamljena	V:f	namamiti
u	PREP	u
neku	PRO	neki
napuštenu	A:aef	napušten
šupu	N:f	šupa
,	PUNCT	,
gde	CONJ	gde
mora	N:n	more
da	CONJ	da
izvede	N:f	izvede
svoju	PRO	svoj
tačku	N:f	tačka
(	PUNCT	(
pevanje	N:n	pevanje
Hounddog	A:aem	Hounddog
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
gola	N:m	gol
.	SENT	.
Nakon	PREP	nakon
toga	PRO	taj
,	PUNCT	,
nešto	ADV	nešto
stariji	A:bem	star
momak	N:m	momak
koji	PRO	koji
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
joj	PRO	ona
da	CONJ	da
kartu	N:f	karta
navaljuje	N:f	navaljuje
na	PREP	na
nju	PRO	ona
.	SENT	.
Tokom	PREP	tokom
silovanja	N:n	silovanje
mi	PRO	ja
smemo	N:f	smemo
da	CONJ	da
vidimo	A:aen	vidimo
samo	A:aen	sam
patnje	N:f	patnja
koje	PRO	koji
nam	PRO	mi
dočarava	N:m	dočarava
njeno	PRO	njen
lice	N:n	lice
.	SENT	.
Iz	PREP	iz
scene	N:f	scena
izlazimo	A:aen	izlazimo
kroz	PREP	kroz
rupu	N:f	rupa
na	PREP	na
krovu	N:m	krov
kroz	PREP	kroz
koju	PRO	koji
se	PAR	se
vidi	N:f	vida
samo	PAR	samo
zaleđeni	V:m	zalediti
pogled	N:m	pogled
Lewellen	N:m	Lewellen
.	SENT	.
Sve	PRO	sav
zajedno	ADV	zajedno
ne	PAR	ne
traje	N:m	traje
dugo	ADV	dugo
.	SENT	.
Čak	N:m	Čak
je	PRO	ona
mučnije	ADV	mučnije
ono	PRO	onaj
što	CONJ	što
smo	N:f	smo
sami	PRO	sam
zamislili	V:m	zamisliti
.	SENT	.
Hounddog	A:aen	Hounddog
,	PUNCT	,
ako	CONJ	ako
vas	PRO	vi
zanima	N:m	zanima
da	CONJ	da
se	PAR	se
time	PRO	taj
bavite	V:f	bavite
,	PUNCT	,
nudi	N:f	nudi
previše	ADV	previše
simbola	N:m	simbol
za	PREP	za
dekodiranje	N:n	dekodiranje
poruke	N:f	poruka
,	PUNCT	,
razumevanje	N:n	razumevanje
radnje	N:f	radnja
ili	CONJ	ili
(	PUNCT	(
ne	PAR	ne
)	PUNCT	)
prihvatanje	N:n	prihvatanje
filma	N:m	film
.	SENT	.
Tu	PRO	taj
su	N:m	su
:	PUNCT	:
Elvisove	A:aef	Elvisove
era	N:f	era
i	CONJ	i
simboličke	A:aef	simbolički
reperkusije	N:f	reperkusija
samo	CONJ	samo
tog	PRO	taj
aspekta	N:m	aspekt
,	PUNCT	,
američki	A:aem	američki
Jug	N:m	jug
,	PUNCT	,
pedesete	A:aef	pedeseti
,	PUNCT	,
zmije	N:f	zmija
,	PUNCT	,
uloga	N:f	uloga
muzike	N:f	muzika
u	PREP	u
našem	PRO	naš
životu	N:m	život
,	PUNCT	,
očinske	A:aef	očinski
i	CONJ	i
majčinske	A:aef	majčinski
figure	N:f	figura
…	SENT	…
Akanje	A:aem	Akanje
mozga	N:m	mozak
na	PREP	na
svakom	PRO	svaki
od	PREP	od
njih	PRO	ona
neće	A:aem	neće
nužno	A:aen	nužan
rezultirati	N:m	rezultirati
isceljujućim	A:aem	isceljujućim
saznanjima	N:n	saznanje
.	SENT	.
Za	PREP	za
mene	PRO	ja
,	PUNCT	,
Hounddog	A:aem	Hounddog
je	PRO	ona
priča	N:f	priča
o	PREP	o
muškoj	A:aef	muški
i	CONJ	i
ženskoj	A:aef	ženski
seksualnosti	N:f	seksualnost
,	PUNCT	,
prelomljena	V:f	prelomiti
kroz	PREP	kroz
čuvenu	A:aem	čuven
Elvisovu	N:m	Elvisovu
pesmu	N:f	pesma
.	SENT	.
Mala	A:aen	mali
Lewellen	N:m	Lewellen
je	PRO	ona
Elvisov	A:aem	Elvisov
veliki	A:aem	velik
fan	N:m	fan
i	CONJ	i
njena	PRO	njen
interpretacija	N:f	interpretacija
ove	PRO	ovaj
pesme	N:f	pesma
podrazumeva	A:aem	podrazumeva
imitiranje	N:n	imitiranje
‘	A:aem	‘
elvisovskog	A:aen	elvisovskog
vrckanja	N:n	vrckanje
’	N:m	’
bez	PREP	bez
pravog	A:aem	prav
razumevanja	N:n	razumevanje
seksualne	A:aef	seksualan
konotacije	N:f	konotacija
istog	A:aen	isti
.	SENT	.
Rediteljka	N:f	rediteljka
Deborah	N:f	Deborah
Kampmeier	N:m	Kampmeier
potom	ADV	potom
školski	A:aem	školski
nalazi	N:m	nalaz
načina	N:m	način
da	CONJ	da
nas	PRO	mi
upozna	A:aem	upozna
sa	PREP	sa
tim	PRO	taj
da	CONJ	da
je	PRO	ona
Hounddog	A:aem	Hounddog
,	PUNCT	,
zapravo	ADV	zapravo
,	PUNCT	,
obrada	N:f	obrada
velikog	A:aen	velik
hita	N:m	hit
Big	N:m	Big
Mame	N:m	mam
Thornton	N:m	Thornton
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
ovu	PRO	ovaj
pesmu	N:f	pesma
izvodila	V:f	izvoditi
u	PREP	u
daleko	ADV	daleko
spiritualnijoj	A:bef	spiritualnijoj
verziji	N:f	verzija
,	PUNCT	,
i	CONJ	i
takvom	PRO	takav
izvođenju	N:n	izvođenje
će	A:aen	će
i	CONJ	i
sama	A:aen	sam
Lewellen	N:m	Lewellen
u	PREP	u
nekom	PRO	neki
trenutku	N:m	trenutak
prisustvovati	N:m	prisustvovati
.	SENT	.
Kada	CONJ	kada
se	PAR	se
nakon	PREP	nakon
silovanja	N:n	silovanje
Lewellen	A:aem	Lewellen
razboli	N:m	razboli
ona	PRO	ona
će	A:aem	će
ozdraviti	N:m	ozdraviti
tek	CONJ	tek
kada	CONJ	kada
na	PREP	na
svoj	PRO	sav
način	N:m	način
(	PUNCT	(
u	PREP	u
verziji	N:f	verzija
vrlo	ADV	vrlo
bliskoj	A:aef	blizak
Big	N:m	Big
Maminoj	A:aef	mamin
)	PUNCT	)
ponovo	ADV	ponovo
otpeva	V:m	otpeva
Hounddog	A:aem	Hounddog
.	SENT	.
Nakon	PREP	nakon
toga	PRO	taj
Lewellen	N:m	Lewellen
će	A:aem	će
napustiti	A:aem	napustiti
oca	N:m	otac
i	CONJ	i
otići	N:m	otići
sa	PREP	sa
tetkom	N:f	tetka
.	SENT	.
Ovo	PRO	ovaj
feminističko	A:aen	feministički
čitanje	N:n	čitanje
“	A:aem	“
Elvisove	N:m	Elvisove
ere	N:f	era
”	N:m	”
,	PUNCT	,
koje	PRO	koji
se	PAR	se
uglavnom	ADV	uglavnom
vidi	N:f	vida
kao	CONJ	kao
značajan	A:aem	značajan
doprinos	N:m	doprinos
emancipaciji	N:f	emancipacija
seksualnosti	N:f	seksualnost
,	PUNCT	,
predstavljeno	A:aen	predstavljen
je	PRO	ona
kao	ADV	kao
(	PUNCT	(
samo	PAR	samo
)	PUNCT	)
još	ADV	još
jedan	NUM	jedan
period	N:m	period
brutalne	A:aef	brutalan
muške	A:aef	muški
dominacije	N:f	dominacija
(	PUNCT	(
začetak	N:m	začetak
“	A:aem	“
modernog	A:aem	moderan
pećinskog	A:aem	pećinski
doba	N:n	doba
”	N:m	”
)	PUNCT	)
.	SENT	.
A	CONJ	a
muškarci	N:m	muškarac
kao	ADV	kao
:	PUNCT	:
silovatelji	N:m	silovatelj
(	PUNCT	(
silovatelj	N:m	silovatelj
)	PUNCT	)
,	PUNCT	,
nesposobnjakovići	N:m	nesposobnjaković
(	PUNCT	(
mali	A:aem	mali
Buddy	N:m	Buddy
koji	PRO	koji
,	PUNCT	,
ne	PAR	ne
svojom	PRO	svoj
krivicom	N:f	krivica
,	PUNCT	,
namami	N:m	namami
Lewellen	N:m	Lewellen
u	PREP	u
šupu	N:f	šupa
)	PUNCT	)
,	PUNCT	,
ženo	N:f	žena
-	PUNCT	-
tabači	N:m	tabač
i	CONJ	i
retardi	N:m	retardi
(	PUNCT	(
Lewellenin	A:aem	Lewellenin
otac	N:m	otac
)	PUNCT	)
i	CONJ	i
spiritualni	A:aem	spiritualan
lideri	N:m	lider
(	PUNCT	(
ugnjetani	A:aem	ugnjetani
crnac	N:m	crnac
koji	PRO	koji
pomaže	A:aem	pomaže
Lewellen	N:m	Lewellen
)	PUNCT	)
.	SENT	.
Žene	A:aem	Žene
su	N:m	su
:	PUNCT	:
lolitaste	N:f	lolitaste
frajlice	N:f	frajlica
(	PUNCT	(
Lewellen	N:m	Lewellen
)	PUNCT	)
,	PUNCT	,
ženo	N:f	žena
-	PUNCT	-
tabačoljubive	A:aem	tabačoljubive
,	PUNCT	,
ali	CONJ	ali
emancipovane	A:aef	emancipovan
bludnice	N:f	bludnica
(	PUNCT	(
Lewellenina	A:aem	Lewellenina
tetka	N:m	tetak
)	PUNCT	)
ili	CONJ	ili
džizusfrik	N:m	džizusfrik
otkačenjaci	N:m	otkačenjak
(	PUNCT	(
Lewellenina	A:aef	Lewellenina
baba	N:f	baba
)	PUNCT	)
.	SENT	.
Možda	N:f	Možda
je	PRO	ona
sirota	A:aef	sirot
Deborah	N:f	Deborah
samo	PAR	samo
želela	V:f	želeti
da	CONJ	da
kaže	N:f	kaža
da	CONJ	da
se	PAR	se
od	PREP	od
životinja	N:f	životinja
ništa	PRO	ništa
drugo	A:aen	drugi
nije	N:n	nije
moglo	V:n	moći
ni	PAR	ni
očekivati	A:aem	očekivati
.	PUNCT	.
Ili	CONJ	ili
da	CONJ	da
je	PRO	ona
prevazilaženje	N:n	prevazilaženje
animalnog	A:aem	animalan
/	N:m	/
primalnog	A:aem	primalnog
/	N:m	/
muškog	A:aen	muški
(	PUNCT	(
izaberite	N:f	izaberite
)	PUNCT	)
principa	N:m	princip
moguće	ADV	moguće
samo	PAR	samo
kroz	PREP	kroz
patnju	N:f	patnja
,	PUNCT	,
nakon	PREP	nakon
čega	PRO	šta
počinje	N:f	počinje
viši	A:aem	viši
/	N:m	/
racionalni	A:aem	racionalan
/	N:m	/
ženski	A:aem	ženski
princip	N:m	princip
(	PUNCT	(
opet	ADV	opet
dame	N:f	dama
biraju	N:m	biraju
)	PUNCT	)
.	SENT	.
Muškarcima	N:m	Muškarcima
ostaje	N:n	ostaje
da	CONJ	da
međusobno	A:aen	međusoban
debatuju	N:f	debatuju
da	CONJ	da
li	PAR	li
je	PRO	ona
Elvis	N:m	Elvis
bio	V:m	biti
samo	PAR	samo
uber	N:m	uber
-	PUNCT	-
alfa	N:f	alfa
-	PUNCT	-
mužjak	N:m	mužjak
koji	PRO	koji
od	PREP	od
(	PUNCT	(
Big	N:m	Big
)	PUNCT	)
mame	N:f	mama
nije	N:m	nije
preuzeo	V:m	preuzeti
samo	PAR	samo
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
bilo	V:n	biti
bitno	ADV	bitno
-	PUNCT	-
prometejsku	A:aef	prometejski
iskru	N:f	iskra
spiritualnosti	N:f	spiritualnost
.	SENT	.
Hezusa	N:m	Hezusa
mi	PRO	ja
,	PUNCT	,
raspametih	A:aem	raspametih
se	PAR	se
pišući	N:f	pišući
ovo	PRO	ovaj
.	PUNCT	.
