Edukativni	A:aem	edukativan
kineski	A:aem	kineski
krimić	N:m	krimić
Nakon	N:m	Nakon
gledanja	N:n	gledanje
ovog	PRO	ovaj
filma	N:m	film
vaše	PRO	vaš
misli	N:f	misao
mogu	N:m	Mog
odlutati	A:aem	odlutati
jednim	NUM	jedan
od	PREP	od
dva	NUM	dva
putića	N:m	putić
.	SENT	.
PUTIĆ	N:m	PUTIĆ
1	NUM	@card@
:	SENT	:
Ima	A:aem	Ima
nade	N:f	nada
!	PUNCT	!
Srpski	A:aem	srpski
(	PUNCT	(
žanrovski	A:aem	žanrovski
)	PUNCT	)
film	N:m	film
ima	A:aef	ima
velike	A:aem	velik
šanse	N:f	šansa
da	CONJ	da
za	PREP	za
tri	NUM	tri
-	PUNCT	-
četiri	NUM	četiri
godine	N:f	godina
(	PUNCT	(
daćebog	INT	daćebog
!	PUNCT	!
)	PUNCT	)
izgleda	N:m	izgled
kao	CONJ	kao
osrednji	A:aem	osrednji
kineski	A:aem	kineski
film	N:m	film
danas	ADV	danas
.	SENT	.
PUTIĆ	N:m	PUTIĆ
2	NUM	@card@
:	PUNCT	:
Sve	PRO	sav
je	PRO	ona
izgubljeno	V:n	izgubiti
!	SENT	!
Prosečan	A:aem	Prosečan
kineski	A:aem	kineski
krimić	N:m	krimić
već	CONJ	već
izgleda	N:m	izgled
bolje	A:bef	dobar
od	PREP	od
većine	N:f	većina
srpskih	A:aef	srpski
filmova	N:m	film
koji	PRO	koji
su	N:m	su
aspirirali	V:m	aspirirati
ka	PREP	ka
ovom	PRO	ovaj
žanru	N:m	žanr
u	PREP	u
poslednjih	A:aem	poslednji
dvadeset	NUM	dvadeset
godina	N:f	godina
.	SENT	.
Iz	PREP	iz
recenzije	N:f	recenzija
će	A:aem	će
valjda	ADV	valjda
biti	N:f	bit
očiglednjo	N:f	očiglednjo
kojem	PRO	koji
se	PAR	se
carstvu	N:n	carstvo
moje	PRO	moj
misli	N:f	misao
priklanjaju	N:m	priklanjaju
.	SENT	.
Odmah	ADV	odmah
na	PREP	na
početku	N:m	početak
moram	N:m	moram
da	CONJ	da
kažem	A:aem	kažem
da	CONJ	da
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
nisam	N:m	nisam
gledao	V:m	gledati
ni	PAR	ni
jedan	NUM	jedan
od	PREP	od
19	NUM	@card@
filmova	N:m	film
koje	PRO	koji
je	PRO	ona
reditelj	N:m	reditelj
Jim	A:aem	Jim
Wong	N:m	Wong
snimio	V:m	snimiti
.	SENT	.
Samo	PAR	samo
u	PREP	u
poslednjoj	A:aef	poslednji
dekadi	N:f	dekada
.	SENT	.
Ono	PRO	onaj
što	PRO	što
letimičan	A:aem	letimičan
uvid	N:m	uvid
u	PREP	u
naslove	N:m	naslov
njegovih	PRO	njegov
filmova	N:m	film
(	PUNCT	(
My	A:aem	My
Wife	N:m	Wife
Is	A:aem	Is
Gambling	N:m	Gambling
Maestro	N:f	Maestro
,	PUNCT	,
Kung	N:m	Kung
Fu	A:aem	Fu
Sweetheart	N:m	Sweetheart
,	PUNCT	,
Slim	A:aem	Slim
Till	N:m	Till
Dead	N:m	Dead
,	PUNCT	,
Infernal	N:m	Infernal
Unfairs	N:m	Unfairs
,	PUNCT	,
My	N:m	My
Schoolmate	N:m	Schoolmate
The	INT	The
Barbarian	N:m	Barbarian
.	PUNCT	.
.	SENT	.
)	PUNCT	)
naslućuje	V:m	naslućuje
jeste	INT	jeste
da	CONJ	da
se	PAR	se
radi	PREP	radi
o	PREP	o
reditelju	N:m	reditelj
koji	PRO	koji
svoju	PRO	svoj
ljubav	N:f	ljubav
prema	PREP	prema
filmu	N:m	film
radije	ADV	radije
meri	N:f	mera
brojem	N:m	broj
,	PUNCT	,
nego	CONJ	nego
kvalitetom	N:m	kvalitet
snimljenih	A:aef	snimljen
filmova	N:m	film
.	SENT	.
U	PREP	u
tom	PRO	taj
smislu	N:m	smisao
,	PUNCT	,
I	A:aem	I
Corrupt	N:m	Corrupt
All	N:m	All
Cops	N:m	Cops
verovatno	A:aen	verovatan
predstavlja	N:n	predstavlja
jedan	NUM	jedan
od	PREP	od
Wongovih	A:aen	Wongovih
boljih	A:bef	dobar
radova	N:m	rad
.	SENT	.
Priča	V:m	Priča
se	PAR	se
istorijsko	A:aen	istorijski
-	PUNCT	-
edukativno	A:aen	edukativan
-	PUNCT	-
žanrovski	A:aem	žanrovski
bavi	A:aem	bavi
osnivanjem	N:n	osnivanje
prve	A:aem	prvi
anti	PREF	anti
-	PUNCT	-
korupcijske	A:aef	korupcijski
jedinice	N:f	jedinica
u	PREP	u
Hong	N:m	Hong
Kongu	N:m	Kongo
i	CONJ	i
njenog	PRO	njen
obračuna	N:m	obračun
sa	PREP	sa
korupcijom	N:f	korupcija
među	PREP	među
policijom	N:f	policija
koja	PRO	koji
je	PRO	ona
na	PREP	na
kraju	N:m	kraj
šezdesetih	A:aef	šezdeseti
godina	N:f	godina
prošlog	A:aen	prošli
veka	N:m	vek
imala	V:f	imati
devetocifren	A:aem	devetocifren
dolarski	A:aem	dolarski
obrt	N:m	obrt
.	SENT	.
Istorijska	A:aef	istorijski
građa	N:f	građa
služi	N:m	služi
kao	CONJ	kao
kontekst	N:m	kontekst
i	CONJ	i
daje	N:m	daje
priči	N:f	priča
da	CONJ	da
na	PREP	na
težini	N:f	težina
koju	PRO	koji
sama	PRO	sam
radnja	N:f	radnja
ne	PAR	ne
nudi	N:f	nudi
.	SENT	.
Sam	A:aem	sam
pristup	N:m	pristup
naratora	N:m	narator
zvuči	V:m	zvuči
vrlo	ADV	vrlo
pedagoški	A:aem	pedagoški
,	PUNCT	,
jer	CONJ	jer
se	PAR	se
oseća	V:m	oseća
da	CONJ	da
mu	PRO	on
je	PRO	ona
za	PREP	za
vratom	N:m	vrat
duvalo	V:n	duvati
nekoliko	ADV	nekoliko
cenzora	N:m	cenzor
čiji	PRO	čiji
je	PRO	ona
jedini	A:aem	jedini
interes	N:m	interes
bio	V:m	biti
da	CONJ	da
se	PAR	se
filmom	N:m	film
poruči	V:m	poruči
svim	PRO	sav
smutljivcima	N:m	smutljivac
da	CONJ	da
će	A:aem	će
kineska	A:aef	kineski
vlada	N:f	vlada
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
dobiti	N:f	dobit
svaki	PRO	svaki
rat	N:m	rat
.	SENT	.
Ovaj	PRO	ovaj
aspekt	N:m	aspekt
povremeno	ADV	povremeno
nespretno	ADV	nespretno
izbija	N:m	izbija
u	PREP	u
prvi	A:aem	prvi
plan	N:m	plan
,	PUNCT	,
ali	CONJ	ali
ga	PRO	on
autor	N:m	autor
mnogo	ADV	mnogo
češće	ADV	češće
zloupotrebljava	A:aem	zloupotrebljava
kao	CONJ	kao
opravdanje	N:n	opravdanje
za	PREP	za
čiste	A:aef	čist
eksploitejšn	N:m	eksploitejšn
momente	N:m	moment
(	PUNCT	(
brutalni	A:aem	brutalan
obračuni	N:m	obračun
unutar	PREP	unutar
mafije	N:f	mafija
,	PUNCT	,
još	ADV	još
brutalniji	A:bem	brutalan
obračuni	N:m	obračun
sa	PREP	sa
mafijom	N:f	mafija
)	PUNCT	)
.	SENT	.
Iako	CONJ	iako
se	PAR	se
radi	PREP	radi
o	PREP	o
stilskoj	A:aef	stilski
kupusari	N:f	kupusara
koja	PRO	koji
od	PREP	od
scene	N:f	scena
do	PREP	do
scene	N:f	scena
različito	A:aen	različit
pristupa	N:m	pristup
materiji	N:f	materija
,	PUNCT	,
jasno	ADV	jasno
je	PRO	ona
da	CONJ	da
je	PRO	ona
hongkonžanin	A:aem	hongkonžanin
Wong	N:m	Wong
želeo	V:m	želeti
da	CONJ	da
napravi	N:f	naprava
.	PUNCT	.
.	SENT	.
.	PUNCT	.
hm	INT	hm
.	PUNCT	.
.	SENT	.
.	PUNCT	.
koinzistentnu	A:aem	koinzistentnu
?	PUNCT	?
,	PUNCT	,
poetičnu	A:aem	poetičan
?	PUNCT	?
,	PUNCT	,
dinamičnu	A:aef	dinamičan
?	PUNCT	?
,	PUNCT	,
dramski	A:aem	dramski
mesnatu	A:aef	mesnat
?	PUNCT	?
.	SENT	.
.	PUNCT	.
.	SENT	.
krimi	N:m	krimi
priču	N:f	priča
.	SENT	.
Narator	N:m	narator
je	PRO	ona
korumpirani	V:m	korumpirati
,	PUNCT	,
ali	CONJ	ali
„	A:aem	„
dobri	A:aem	dobar
“	A:aem	“
detektiv	N:m	detektiv
Gale	N:f	Gala
,	PUNCT	,
međutim	PAR	međutim
priča	N:f	priča
je	PRO	ona
samo	PAR	samo
uslovno	ADV	uslovno
o	PREP	o
njemu	PRO	on
.	PUNCT	.
A	CONJ	a
i	CONJ	i
ako	CONJ	ako
jeste	INT	jeste
,	PUNCT	,
jedanaest	NUM	jedanaest
žena	N:f	žena
kojima	PRO	koji
je	PRO	ona
okružen	V:m	okružiti
(	PUNCT	(
od	PREP	od
kojih	PRO	koji
je	PRO	ona
sa	PREP	sa
deset	NUM	deset
oženjen	A:aem	oženjen
!	PUNCT	!
?	SENT	?
)	PUNCT	)
razvodnjavaju	N:m	razvodnjavaju
građenje	N:n	građenje
njegovog	PRO	njegov
lika	N:m	lik
u	PREP	u
,	PUNCT	,
barem	PAR	barem
,	PUNCT	,
tri	NUM	tri
traljavo	ADV	traljavo
vezana	A:aem	vezan
pravca	N:m	pravac
(	PUNCT	(
fatalna	A:aef	fatalan
mafijašica	N:f	mafijašica
,	PUNCT	,
verna	A:aef	veran
ljuba	N:f	ljuba
,	PUNCT	,
„	A:aem	„
kilavi	A:aem	kilav
šeik	N:m	šeik
“	N:m	“
)	PUNCT	)
.	SENT	.
Pored	PREP	pored
Gale	N:f	Gala
-	PUNCT	-
a	CONJ	a
za	PREP	za
loše	A:aef	loš
momke	N:m	momak
igraju	N:f	igraju
i	CONJ	i
Lak	N:f	Lak
(	PUNCT	(
šef	N:m	šef
,	PUNCT	,
pasionirani	A:aem	pasioniran
fudbaler	N:m	fudbaler
)	PUNCT	)
,	PUNCT	,
Gold	N:m	Gold
(	PUNCT	(
njegova	PRO	njegov
desna	A:aef	desni
ruka	N:f	ruka
)	PUNCT	)
i	CONJ	i
Unicorn	N:m	Unicorn
(	PUNCT	(
niko	PRO	niko
ga	PRO	on
ne	PAR	ne
voli	N:m	Voli
)	PUNCT	)
.	SENT	.
Oni	PRO	onaj
su	N:m	su
korumpirani	V:m	korumpirati
policajci	N:m	policajac
koji	PRO	koji
drže	A:aem	drže
Hong	N:m	Hong
Kong	N:m	Kong
u	PREP	u
svojim	PRO	svoj
šakama	N:f	šaka
.	SENT	.
Na	PREP	na
početku	N:m	početak
filma	N:m	film
,	PUNCT	,
međutim	PAR	međutim
,	PUNCT	,
ne	PAR	ne
deluje	A:aen	deluje
da	CONJ	da
će	A:aen	će
priča	N:f	priča
biti	N:f	bit
o	PREP	o
Gale	N:f	Gala
-	PUNCT	-
u	PREP	u
.	PUNCT	.
Jer	CONJ	jer
prisustvujemo	A:aen	prisustvujemo
brutalnom	A:aen	brutalan
prebijanju	N:n	prebijanje
mladića	N:m	mladić
kome	PRO	koji
je	PRO	ona
namešteno	V:n	namestiti
da	CONJ	da
je	PRO	ona
hteo	V:m	hteti
da	CONJ	da
ukrade	A:aem	ukrade
bicikl	N:m	bicikl
,	PUNCT	,
a	CONJ	a
koji	PRO	koji
se	PAR	se
potom	ADV	potom
tabanjem	N:n	tabanje
tera	N:m	ter
da	CONJ	da
prizna	A:aem	prizna
i	CONJ	i
druge	A:aem	drugi
brojne	A:aem	brojni
zločine	N:m	zločin
koje	PRO	koji
je	PRO	ona
„	N:m	„
počinio	V:m	počiniti
“	N:m	“
,	PUNCT	,
a	CONJ	a
što	CONJ	što
bi	A:aem	bi
pozitivno	ADV	pozitivno
uticalo	V:n	uticati
na	PREP	na
negativan	A:aem	negativan
trend	N:m	trend
nerešenih	A:aef	nerešen
slučajeva	N:m	slučaj
.	SENT	.
Nakon	PREP	nakon
što	PRO	što
ga	PRO	on
oslobode	N:m	oslobode
na	PREP	na
Goldovu	A:aef	Goldov
intervenciju	N:f	intervencija
,	PUNCT	,
momak	N:m	momak
obećava	A:aem	obećava
da	CONJ	da
će	V:m	će
se	PAR	se
vratiti	N:m	vratiti
i	CONJ	i
osvetiti	N:m	osvetiti
.	PUNCT	.
Što	N:f	Što
i	CONJ	i
uradi	N:f	uradi
,	PUNCT	,
delujući	A:aem	delujući
unutar	PREP	unutar
anti	PREF	anti
-	PUNCT	-
korupcionih	A:aem	korupcionih
organa	N:m	organ
reda	N:m	red
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
gde	CONJ	gde
je	PRO	ona
bio	V:m	biti
i	CONJ	i
šta	PRO	šta
je	PRO	ona
radio	N:m	radio
ceo	A:aem	ceo
film	N:m	film
-	PUNCT	-
niko	PRO	niko
ne	PAR	ne
zna	V:m	zna
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
se	PAR	se
stiče	N:m	stidak
utisak	N:m	utisak
da	CONJ	da
bi	N:m	bi
sa	PREP	sa
malo	ADV	malo
koncentracije	N:f	koncentracija
i	CONJ	i
veštine	N:f	veština
od	PREP	od
ovog	PRO	ovaj
materijala	N:m	materijal
mogao	V:m	moći
da	CONJ	da
se	PAR	se
napravi	N:f	naprava
film	N:m	film
koji	PRO	koji
bi	A:aem	bi
Scorsese	N:m	Scorsese
rado	ADV	rado
rimejkovao	V:m	rimejkovao
za	PREP	za
Oskara	N:m	Oskar
za	PREP	za
koju	PRO	koji
godinu	N:f	godina
.	SENT	.
Vi	PRO	vi
sami	A:aem	sam
prosudite	N:m	prosudite
da	CONJ	da
li	PAR	li
je	PRO	ona
to	PRO	taj
kompliment	N:m	kompliment
.	SENT	.
I	CONJ	i
,	PUNCT	,
o	INT	o
,	PUNCT	,
da	CONJ	da
,	PUNCT	,
glumci	N:m	glumac
su	PREF	su
uglavnom	ADV	uglavnom
očajni	A:aem	očajan
.	SENT	.
Naročito	A:aen	Naročito
britanski	A:aem	britanski
.	SENT	.
