“	A:aem	“
I	A:aem	I
Love	N:m	Lov
You	N:m	You
Phillip	N:m	Phillip
Morris	N:m	Morris
”	N:m	”
,	PUNCT	,
to	PRO	taj
mogu	A:aen	mogu
da	CONJ	da
tvrdim	A:aen	tvrd
,	PUNCT	,
će	A:aem	će
dosta	ADV	dosta
teško	ADV	teško
pasti	N:f	pasta
Džim	N:m	Džim
Kerijevim	A:aem	Kerijev
fanovima	N:m	fan
,	PUNCT	,
koji	PRO	koji
su	N:m	su
,	PUNCT	,
uprkos	PREP	uprkos
trejleru	N:m	trejler
koji	PRO	koji
ih	PRO	ona
je	PRO	ona
uputio	V:m	uputiti
u	PREP	u
problematiku	N:f	problematika
,	PUNCT	,
otperjali	V:m	otperjati
da	CONJ	da
pogledaju	N:m	pogledaju
ovaj	PRO	ovaj
film	N:m	film
.	PUNCT	.
Moram	N:m	Moram
da	CONJ	da
kažem	A:aem	kažem
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
sam	PRO	sam
i	CONJ	i
najavljivao	V:m	najavljivati
u	PREP	u
komentarima	N:m	komentar
,	PUNCT	,
da	CONJ	da
sam	PRO	sam
pustio	V:m	pustiti
pošteno	ADV	pošteno
da	CONJ	da
mi	PRO	ja
se	PAR	se
slegne	A:aem	slegne
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
I	CONJ	i
nisam	N:m	nisam
došao	V:m	doći
do	PREP	do
nekog	PRO	neki
posebnog	A:aem	poseban
zaključka	N:m	zaključak
.	SENT	.
Činjenica	N:f	Činjenica
da	CONJ	da
nas	PRO	mi
sam	A:aem	sam
početak	N:m	početak
filma	N:m	film
uverava	A:aem	uverava
u	PREP	u
to	PRO	taj
da	CONJ	da
je	PRO	ona
rađen	V:m	raditi
po	PREP	po
stvarnim	A:aem	stvaran
događajima	N:m	događaj
nas	PRO	mi
ne	PAR	ne
uverava	A:aen	uverava
da	CONJ	da
je	PRO	ona
priča	N:f	priča
koju	PRO	koji
ćemo	N:f	ćemo
videti	N:f	videti
manje	ADV	manje
konfuzna	A:aem	konfuzan
samo	CONJ	samo
zato	ADV	zato
što	CONJ	što
je	PRO	ona
istinita	A:aef	istinit
.	SENT	.
Džim	N:m	Džim
Keri	N:f	Keri
je	PRO	ona
murkan	N:m	murkan
koji	PRO	koji
posle	PREP	posle
saobraćajne	A:aef	saobraćajni
nesreće	N:f	nesreća
shvata	N:m	shvata
koliko	ADV	koliko
je	PRO	ona
život	N:m	život
kratak	A:aem	kratak
i	CONJ	i
da	CONJ	da
ostatak	N:m	ostatak
želi	V:m	žeti
da	CONJ	da
provede	N:m	provede
u	PREP	u
koži	N:f	koža
kojoj	PRO	koji
se	PAR	se
najbolje	ADV	najbolje
oseća	V:m	oseća
:	SENT	:
gej	N:m	gej
koži	N:f	koža
.	SENT	.
Elem	CONJ	elem
,	PUNCT	,
saopštava	N:n	saopštava
ženi	N:f	žena
,	PUNCT	,
nalazi	N:m	nalaz
kul	ADV	kul
latino	A:aen	latino
frajera	N:m	frajer
i	CONJ	i
kada	CONJ	kada
shvata	N:m	shvata
kojliko	A:aen	kojliko
je	PRO	ona
život	N:m	život
geja	N:m	gej
skup	A:aem	skup
odlučuje	N:m	odlučuje
se	PAR	se
da	CONJ	da
postane	A:aem	postane
sitan	A:aem	sitan
prevarant	N:m	prevarant
.	SENT	.
Ubrzo	ADV	ubrzo
ga	PRO	on
hapse	N:m	hapse
i	CONJ	i
on	PRO	on
odlazi	N:m	odlazi
u	PREP	u
zatvor	N:m	zatvor
gde	CONJ	gde
upoznaje	N:m	upoznaje
svoju	PRO	svoj
ljubav	N:f	ljubav
Filipa	N:m	Filip
Morisa	N:m	Moris
(	PUNCT	(
Juan	N:m	Juan
Mekgregor	N:m	Mekgregor
)	PUNCT	)
.	SENT	.
Činjenica	N:f	Činjenica
da	CONJ	da
je	PRO	ona
Džim	N:m	Džim
Keri	N:f	Keri
u	PREP	u
ovoj	PRO	ovaj
dosta	ADV	dosta
zahtevnoj	A:aef	zahtevan
ulozi	N:f	uloga
,	PUNCT	,
po	PREP	po
mom	PRO	moj
mišljenju	N:n	mišljenje
,	PUNCT	,
zakazao	V:m	zakazati
kao	CONJ	kao
glumac	N:m	glumac
još	ADV	još
dodatno	ADV	dodatno
oduzima	N:m	oduzima
ionako	ADV	ionako
mršavim	A:aef	mršav
kokicama	N:f	kokica
koje	PRO	koji
sam	PRO	sam
imao	V:m	imati
nameru	N:f	namera
da	CONJ	da
dodelim	A:aem	dodelim
filmu	N:m	film
„	A:aem	„
I	A:aem	I
Love	N:m	Lov
You	N:m	You
Phillip	N:m	Phillip
Morris	N:m	Morris
“	N:m	“
koji	PRO	koji
nema	A:aem	nem
konzistentnu	A:aef	konzistentan
priču	N:f	priča
,	PUNCT	,
osciluje	N:m	osciluje
u	PREP	u
dinamici	N:f	dinamika
i	CONJ	i
nažalost	ADV	nažalost
nije	A:aem	nije
smešan	A:aem	smešan
ni	CONJ	ni
po	PREP	po
jednom	NUM	jedan
osnovu	N:f	osnova
,	PUNCT	,
jer	CONJ	jer
se	PAR	se
stalno	ADV	stalno
provlači	A:aem	provlači
utisak	N:m	utisak
da	CONJ	da
je	PRO	ona
Kerijev	A:aem	Kerijev
lik	N:m	lik
u	PREP	u
agoniji	N:f	agonija
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
njegovo	PRO	njegov
konstantno	A:aen	konstantan
nasmejano	A:aen	nasmejan
gej	N:m	gej
lice	N:n	lice
.	SENT	.
Juan	N:m	Juan
Mekgregor	N:m	Mekgregor
je	PRO	ona
sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
pružio	V:m	pružiti
jednu	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
uloga	N:f	uloga
tokom	PREP	tokom
svoje	PRO	svoj
karijere	N:f	karijera
portretišući	A:aem	portretišući
lika	N:m	lik
koji	PRO	koji
ne	PAR	ne
izlazi	N:m	izlaz
u	PREP	u
zatvorsko	A:aen	zatvorski
dvorište	N:n	dvorište
jer	CONJ	jer
„	N:m	„
znaš	INT	znaš
šta	PRO	šta
rade	N:f	rada
mladim	A:aef	mlad
plavim	A:aef	plav
kvirovima	N:m	kvirovima
u	PREP	u
zatvoru	N:m	zatvor
“	N:m	“
i	CONJ	i
u	PREP	u
potpunosti	N:f	potpunost
zasenjuje	N:m	zasenjuje
Džima	N:m	Džim
Kerija	N:m	Keri
.	PUNCT	.
Ako	CONJ	ako
mi	PRO	ja
ne	PAR	ne
verujte	N:m	verujte
setite	V:m	setite
se	PAR	se
kako	CONJ	kako
ovaj	PRO	ovaj
glumac	N:m	glumac
lako	ADV	lako
menja	N:n	menja
svoje	PRO	svoj
maske	N:f	maska
od	PREP	od
palog	A:aem	pao
viteza	N:m	vitez
(	PUNCT	(
Star	N:m	Star
Wars	N:m	Wars
)	PUNCT	)
preko	PREP	preko
bratoubice	N:m	bratoubica
(	PUNCT	(
Cassandra	N:m	Cassandra
’	N:m	’
s	PREP	s
Dream	N:m	Dream
)	PUNCT	)
do	PREP	do
povučenog	A:aem	povučen
geja	N:m	gej
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
.	SENT	.
