Iako	CONJ	iako
smo	N:f	smo
svi	PRO	sav
očekivali	V:m	očekivati
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
bude	A:aem	bude
šlanje	N:n	šlanje
,	PUNCT	,
plilično	A:aen	plilično
je	PRO	ona
neočekivano	ADV	neočekivano
da	CONJ	da
nismo	N:f	nismo
naločito	A:aen	naločito
besni	A:aem	besan
zbog	PREP	zbog
toga	PRO	taj
.	SENT	.
Jedina	A:aef	jedini
razlika	N:f	razlika
između	PREP	između
prve	A:aem	prvi
i	CONJ	i
druge	A:aem	drugi
Lude	A:aem	lud
noći	N:f	noć
u	PREP	u
muzeju	N:m	muzej
jeste	INT	jeste
što	CONJ	što
je	PRO	ona
prva	A:aen	prvi
neočekivano	ADV	neočekivano
postala	V:f	postati
pola	ADV	pola
milijarde	N:f	milijarda
težak	A:aem	težak
hit	N:m	hit
,	PUNCT	,
a	CONJ	a
za	PREP	za
drugu	A:aef	drugi
se	PAR	se
svi	PRO	sav
iz	PREP	iz
sve	PRO	sav
snage	N:f	snaga
nadaju	V:m	nadaju
da	CONJ	da
će	V:m	će
se	PAR	se
što	CONJ	što
više	ADV	više
približiti	A:aem	približiti
toj	PRO	taj
cifri	N:f	cifra
.	SENT	.
Ta	PRO	taj
vrsta	N:f	vrsta
skoka	N:m	skok
u	PREP	u
„	N:m	„
nadanju	N:n	nadanje
“	N:m	“
obično	ADV	obično
je	PRO	ona
glavna	A:aef	glavna
prepreka	N:f	prepreka
„	A:aem	„
nastavcima	N:m	nastavak
“	N:m	“
da	CONJ	da
budu	A:aem	budu
bolji	A:bem	dobar
od	PREP	od
svojih	PRO	svoj
prethodnika	N:m	prethodnik
,	PUNCT	,
jer	CONJ	jer
jedni	NUM	jedan
misle	N:m	misle
da	CONJ	da
ništa	PRO	ništa
ne	PAR	ne
treba	N:f	treba
menjati	N:m	menjati
(	PUNCT	(
kad	CONJ	kad
već	PAR	već
radi	PREP	radi
posao	N:m	posao
)	PUNCT	)
,	PUNCT	,
drugi	A:aem	drugi
misle	N:m	misle
da	CONJ	da
treba	N:f	treba
menjati	N:m	menjati
(	PUNCT	(
jer	CONJ	jer
staro	A:aen	star
neće	N:n	neće
dvaput	ADV	dvaput
da	CONJ	da
upali	N:f	upala
)	PUNCT	)
,	PUNCT	,
dok	CONJ	dok
treći	A:aem	treći
nisu	N:m	nisu
sigurni	A:aem	siguran
koliko	ADV	koliko
treba	N:f	treba
menjati	N:m	menjati
(	PUNCT	(
jer	CONJ	jer
se	PAR	se
nijanse	N:f	nijansa
mere	N:f	mera
stotinama	ADV	stotinama
miliona	N:m	milion
(	PUNCT	(
ne	PAR	ne
)	PUNCT	)
zarađenih	A:aem	zarađen
dolara	N:m	dolar
)	PUNCT	)
.	SENT	.
Ono	PRO	onaj
što	PRO	što
Ben	N:m	Ben
Stiller	N:m	Stiller
,	PUNCT	,
kao	CONJ	kao
kreativni	A:aem	kreativan
lider	N:m	lider
ovog	PRO	ovaj
projekta	N:m	projekt
,	PUNCT	,
i	CONJ	i
Shawan	N:m	Shawan
Levy	N:m	Levy
,	PUNCT	,
kao	CONJ	kao
podizvođač	N:m	podizvođač
,	PUNCT	,
ozbiljnije	A:bef	ozbiljan
nisu	N:m	nisu
smetnuli	V:m	smetnuti
s	PREP	s
uma	N:m	um
jeste	INT	jeste
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
samo	PAR	samo
dečiji	A:aem	dečiji
film	N:m	film
.	SENT	.
Ako	CONJ	ako
(	PUNCT	(
želite	N:m	želite
da	CONJ	da
)	PUNCT	)
se	PAR	se
sećate	N:n	sećate
,	PUNCT	,
prva	A:aen	prvi
Luda	A:aen	lud
noć	N:f	noć
dešavala	V:n	dešavati
se	PAR	se
u	PREP	u
Nacionalnom	N:m	Nacionalnom
muzeju	N:m	muzej
Njujorka	N:m	Njujork
i	CONJ	i
zahvaljujući	PREP	zahvaljujući
retkoj	A:aef	redak
egipatskoj	A:aef	egipatski
tabli	N:f	tabla
eksponati	N:m	eksponat
su	N:m	su
počeli	V:m	početi
da	CONJ	da
preko	PREP	preko
noći	N:f	noć
oživljavaju	N:f	oživljavaju
i	CONJ	i
divljaju	N:m	divljaju
po	PREP	po
muzeju	N:m	muzej
na	PREP	na
horor	N:m	horor
tek	CONJ	tek
zaposlenog	A:aem	zaposlen
čuvara	N:m	čuvar
Larry	N:m	Larry
-	PUNCT	-
ja	PRO	ja
.	SENT	.
Čitav	A:aem	Čitav
karambul	N:m	karambul
poslužio	V:m	poslužiti
je	PRO	ona
Larry	N:m	Larry
-	PUNCT	-
ju	PRO	ona
da	CONJ	da
povrati	N:m	povrat
samopouzdanje	N:n	samopouzdanje
i	CONJ	i
da	CONJ	da
svom	PRO	sav
sinu	N:m	sin
dokaže	A:aem	dokaže
da	CONJ	da
nije	A:aem	nije
luzer	N:m	luzer
koga	PRO	koji
je	PRO	ona
njegova	PRO	njegov
mama	N:f	mama
s	PREP	s
razlogom	N:m	razlog
šutnula	V:f	šutnuti
.	SENT	.
U	PREP	u
drugom	A:aef	drugi
delu	N:n	delo
,	PUNCT	,
Larry	A:aem	Larry
je	PRO	ona
postao	V:m	postati
uspešan	A:aem	uspešan
biznismen	N:m	biznismen
koji	PRO	koji
pare	N:f	para
mlati	N:m	mlati
na	PREP	na
praktičnim	A:aen	praktičan
izumima	N:m	izum
poput	PREP	poput
baterije	N:f	baterija
koja	PRO	koji
svetli	A:aem	svetao
u	PREP	u
mraku	N:m	mrak
(	PUNCT	(
kako	CONJ	kako
bi	V:m	bi
je	PRO	ona
lakše	ADV	lakše
našli	V:m	naći
u	PREP	u
mraku	N:m	mrak
,	PUNCT	,
duh	N:m	duh
!	PUNCT	!
)	PUNCT	)
i	CONJ	i
sada	ADV	sada
samo	PAR	samo
povremeno	ADV	povremeno
,	PUNCT	,
preko	PREP	preko
noći	N:f	noć
,	PUNCT	,
obilazi	N:m	obilazi
svoje	PRO	svoj
drugare	N:m	drugar
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
jednog	NUM	jedan
dana	N:m	dan
saznaje	N:f	saznaje
da	CONJ	da
se	PAR	se
njegovi	PRO	njegov
omiljeni	A:aem	omiljen
(	PUNCT	(
živi	A:aem	živ
)	PUNCT	)
eksponati	N:m	eksponat
sele	N:n	sele
u	PREP	u
Vašington	N:m	Vašington
u	PREP	u
čuveni	A:aem	čuven
Smitsonijan	A:aem	Smitsonijan
muzej	N:m	muzej
,	PUNCT	,
jer	CONJ	jer
u	PREP	u
Njujorku	N:m	Njujork
nema	A:aem	nem
para	N:f	para
za	PREP	za
njih	PRO	ona
.	SENT	.
Ono	PRO	onaj
što	PRO	što
eksponati	N:m	eksponat
ne	PAR	ne
znaju	N:f	znaju
jeste	INT	jeste
da	CONJ	da
magična	A:aef	magičan
egipatska	A:aef	egipatski
tabla	N:f	tabla
ostaje	N:n	ostaje
u	PREP	u
Njujorku	N:m	Njujork
što	CONJ	što
praktično	A:aen	praktičan
znači	N:n	znači
da	CONJ	da
selidbom	N:f	selidba
oni	PRO	onaj
okončavaju	N:f	okončavaju
svoje	PRO	svoj
živote	N:m	život
.	SENT	.
Zabava	N:f	zabava
počinje	N:f	počinje
kad	CONJ	kad
Larry	A:aem	Larry
otkrije	N:f	otkrije
da	CONJ	da
je	PRO	ona
majmun	N:m	majmun
(	PUNCT	(
a	CONJ	a
ko	PRO	ko
bi	A:aem	bi
drugi	A:aem	drugi
?	SENT	?
)	PUNCT	)
poneo	V:m	poneti
tablu	N:f	tabla
u	PREP	u
Smitsonijan	N:m	Smitsonijan
,	PUNCT	,
gde	ADV	gde
će	A:aem	će
pored	PREP	pored
njegove	PRO	njegov
ekipe	N:f	ekipa
u	PREP	u
drugom	A:aef	drugi
nastavku	N:m	nastavak
oživeti	N:f	oživeti
i	CONJ	i
svi	PRO	sav
ostali	V:m	ostati
eksponati	N:m	eksponat
,	PUNCT	,
a	CONJ	a
među	PREP	među
njima	PRO	ona
i	CONJ	i
zli	A:aem	zao
faraon	N:m	faraon
kome	PRO	koji
je	PRO	ona
tabla	N:f	tabla
potrebna	A:aef	potreban
da	CONJ	da
bi	A:aen	bi
otvorio	V:m	otvoriti
još	ADV	još
magičniju	A:bef	magičan
kapiju	N:f	kapija
kroz	PREP	kroz
koju	PRO	koji
će	N:f	će
s	PREP	s
onog	PRO	onaj
sveta	A:aef	svet
doći	N:f	doći
njegova	PRO	njegov
vojska	N:f	vojska
s	PREP	s
kojom	PRO	koji
će	N:n	će
on	PRO	on
zavladati	A:aem	zavladati
svetom	N:m	svet
.	SENT	.
Izdetaljisao	N:m	Izdetaljisao
sam	A:aem	sam
zbog	PREP	zbog
deteta	N:n	dete
u	PREP	u
vama	PRO	vi
.	SENT	.
Zlog	A:aem	zao
faraona	N:m	faraon
igra	N:f	igra
Hank	N:m	Hank
Azaria	N:f	Azaria
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
da	CONJ	da
se	PAR	se
ne	PAR	ne
možemo	ADV	možemo
dvaput	ADV	dvaput
iznenaditi	A:aem	iznenaditi
oživljavanjem	N:n	oživljavanje
eksponata	N:m	eksponat
(	PUNCT	(
pa	CONJ	pa
čak	PAR	čak
i	CONJ	i
ako	CONJ	ako
smo	N:f	smo
deca	N:f	deca
)	PUNCT	)
,	PUNCT	,
autori	N:m	autor
su	PREF	su
krenuli	V:m	krenuti
da	CONJ	da
akaju	N:m	akaju
drugu	A:aef	drugi
logičnu	A:aef	logičan
premisu	N:f	premisa
-	PUNCT	-
daj	INT	daj
da	CONJ	da
oživimo	A:aen	oživimo
što	CONJ	što
više	ADV	više
sumanutih	A:aem	sumanut
eksponata	N:m	eksponat
!	PUNCT	!
Tako	ADV	tako
u	PREP	u
kolu	N:n	kolo
ovaj	PRO	ovaj
put	N:f	put
imamo	N:m	imamo
džinovske	A:aef	džinovski
meduze	N:f	meduza
,	PUNCT	,
statuu	N:f	statua
Abrahama	N:m	Abraham
Lincolna	A:aem	Lincolna
koja	PRO	koji
krasi	N:m	krasi
njegov	PRO	njegov
memorijalni	A:aem	memorijalan
centar	N:m	centar
u	PREP	u
Vašingtonu	N:m	Vašington
,	PUNCT	,
slike	N:f	slika
Roya	N:m	Roya
Lichtensteina	N:m	Lichtensteina
,	PUNCT	,
psa	N:m	pas
od	PREP	od
balona	N:m	balon
Jeffa	N:m	Jeffa
Koonsa	N:m	Koonsa
,	PUNCT	,
fotografije	N:f	fotografija
sa	PREP	sa
Tajm	N:m	Tajm
Skvera	N:m	skver
Alfreda	N:m	Alfredo
Eisensteadta	N:m	Eisensteadta
,	PUNCT	,
dok	CONJ	dok
od	PREP	od
loših	A:aen	loš
momaka	N:m	momak
tu	PRO	taj
su	N:m	su
Ivan	N:m	Ivan
Grozni	N:m	Grozni
,	PUNCT	,
Napoleon	N:m	Napoleon
i	CONJ	i
Al	N:m	Al
Capone	N:m	Capone
.	SENT	.
Na	PREP	na
Larryjevoj	A:aef	Larryjevoj
strani	N:f	strana
,	PUNCT	,
pored	PREP	pored
stare	A:aef	star
ekipe	N:f	ekipa
,	PUNCT	,
imamo	N:m	imamo
i	CONJ	i
Ameliu	N:f	Amelia
Earhart	N:m	Earhart
,	PUNCT	,
prvu	A:aem	prvi
ženu	N:f	žena
koja	PRO	koji
je	PRO	ona
avionom	N:m	avion
preletela	V:f	preleteti
Atlantik	N:m	Atlantik
(	PUNCT	(
koju	PRO	koji
igra	N:f	igra
Amy	A:aem	Amy
Adams	N:m	Adams
koja	PRO	koji
izgleda	N:m	izgled
i	CONJ	i
ponaša	V:m	ponaša
se	PAR	se
kao	CONJ	kao
klon	N:m	klon
Nicole	N:m	Nicole
Kidman	N:m	Kidman
!	PUNCT	!
)	SENT	)
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
u	PREP	u
nekom	PRO	neki
trenutku	N:m	trenutak
imamo	N:m	imamo
i	CONJ	i
brdo	N:n	brdo
aviona	N:m	avion
(	PUNCT	(
iz	PREP	iz
svih	PRO	sav
epoha	N:f	epoha
)	PUNCT	)
koji	PRO	koji
lete	N:m	let
Smitsonijanom	N:m	Smitsonijanom
.	SENT	.
Mlađi	N:m	Mlađa
od	PREP	od
7	NUM	@card@
godina	N:f	godina
će	A:aem	će
uživati	N:m	uživati
u	PREP	u
kostimiranom	A:aem	kostimiran
cirkusu	N:m	cirkus
,	PUNCT	,
jurnjavama	N:f	jurnjava
sasvim	ADV	sasvim
nalikim	V:m	nalikim
onim	PRO	onaj
iz	PREP	iz
Looney	A:aem	Looney
Tunes	N:m	Tunes
fabrike	N:f	fabrika
,	PUNCT	,
oni	PRO	onaj
između	PREP	između
7	NUM	@card@
i	CONJ	i
14	NUM	@card@
godina	N:f	godina
će	V:m	će
se	PAR	se
praviti	V:m	praviti
da	CONJ	da
razumeju	N:m	razumeju
humor	N:m	humor
Bena	N:m	Ben
Stillera	N:m	Stillera
i	CONJ	i
prevrtaće	A:aem	prevrtaće
oči	N:f	oči
na	PREP	na
sve	PRO	sav
ostalo	V:n	ostati
,	PUNCT	,
oni	PRO	onaj
između	PREP	između
14	NUM	@card@
i	CONJ	i
35	NUM	@card@
godina	N:f	godina
će	A:aem	će
več	N:n	več
posle	PREP	posle
druge	A:aem	drugi
fore	N:m	for
„	A:aem	„
provaliti	N:m	provaliti
“	A:aem	“
patern	N:m	patern
po	PREP	po
kome	PRO	koji
Stiller	N:m	Stiller
i	CONJ	i
ekipa	N:f	ekipa
(	PUNCT	(
jedva	ADV	jedva
primećeni	A:aem	primećen
Jonah	N:m	Jonah
Hill	N:m	Hill
i	CONJ	i
Ricky	A:aem	Ricky
Gervais	N:m	Gervais
)	PUNCT	)
prave	A:aef	prav
(	PUNCT	(
dube	N:m	dub
)	PUNCT	)
fore	N:f	fora
i	CONJ	i
to	PRO	taj
će	N:n	će
im	PRO	ona
u	PREP	u
nastavku	N:m	nastavak
filma	N:m	film
biti	N:f	bit
jedino	ADV	jedino
zanimljivo	ADV	zanimljivo
.	PUNCT	.
Ili	CONJ	ili
će	A:aem	će
početi	V:m	početi
da	CONJ	da
hrču	N:m	hrču
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
moram	N:m	moram
da	CONJ	da
primetim	A:aem	primetim
,	PUNCT	,
ima	V:n	ima
nečeg	PRO	nešto
lepog	A:aen	lep
u	PREP	u
ideji	N:f	ideja
da	CONJ	da
neko	PRO	neki
čak	PAR	čak
iovako	N:f	iovako
superkomercijalnim	A:aem	superkomercijalnim
proizvodom	N:m	proizvod
budi	CONJ	budi
ili	CONJ	ili
ohrabruje	N:f	ohrabruje
ideju	N:f	ideja
odlaska	N:m	odlazak
u	PREP	u
muzej	N:m	muzej
.	SENT	.
Naročito	N:f	Naročito
kod	PREP	kod
naših	PRO	naš
,	PUNCT	,
belom	A:aef	beo
kugom	N:f	kuga
neodnesenih	A:aem	neodnesenih
,	PUNCT	,
najmlađih	A:cem	mlad
.	PUNCT	.
