Bosanski	A:aem	bosanski
Kusta	N:m	Kusta
.	SENT	.
Što	N:m	Što
se	PAR	se
više	ADV	više
upoznajem	V:m	upoznajem
sa	PREP	sa
karijerom	N:f	karijera
Danisa	N:m	Danisa
Tanovića	N:m	Tanović
to	PRO	taj
mi	PRO	ja
sve	PRO	sav
više	ADV	više
deluje	A:aem	deluje
da	CONJ	da
je	PRO	ona
on	PRO	on
zapravo	ADV	zapravo
samo	PAR	samo
bosanska	A:aef	bosanski
verzija	N:f	verzija
svog	PRO	svoj
(	PUNCT	(
neformalnog	A:aem	neformalan
mentora	N:m	mentor
i	CONJ	i
uzora	N:m	uzor
)	PUNCT	)
Michaela	N:m	Michaela
Winterbottoma	N:m	Winterbottoma
(	PUNCT	(
ovaj	PRO	ovaj
Kusta	N:m	Kusta
iz	PREP	iz
podnaslova	N:m	podnaslov
odnosi	N:m	odnos
se	PAR	se
samo	PAR	samo
na	PREP	na
ovaj	PRO	ovaj
film	N:m	film
)	PUNCT	)
.	SENT	.
Kao	CONJ	kao
i	CONJ	i
Michael	N:m	Michael
i	CONJ	i
Danis	N:m	Danis
brzo	ADV	brzo
i	CONJ	i
lako	ADV	lako
svoj	PRO	sav
autorski	A:aem	autorski
kapacitet	N:m	kapacitet
prilagođava	A:aem	prilagođava
svakoj	PRO	svaki
(	PUNCT	(
aktuelnoj	A:aef	aktuelan
)	PUNCT	)
temi	N:f	tema
,	PUNCT	,
mogućnostima	N:f	mogućnost
za	PREP	za
produkciju	N:f	produkcija
ili	CONJ	ili
nekoinzistentnim	A:aen	nekoinzistentnim
interesovanjima	N:n	interesovanje
.	SENT	.
Nakon	PREP	nakon
što	PRO	što
je	PRO	ona
Ničijom	N:m	Ničijom
zemljom	N:f	zemlja
rekao	V:m	reći
'	A:aem	'
sve	ADV	sve
o	PREP	o
ratu	N:f	rata
u	PREP	u
Bosni	N:f	Bosna
'	N:m	'
,	PUNCT	,
Tanović	N:m	Tanović
je	PRO	ona
pokušao	V:m	pokušati
da	CONJ	da
demonstrira	N:m	demonstrira
da	CONJ	da
je	PRO	ona
reditelj	N:m	reditelj
koga	PRO	koji
ne	PAR	ne
steže	V:n	steže
lokalno	A:aen	lokalan
,	PUNCT	,
ali	CONJ	ali
nakon	PREP	nakon
i	CONJ	i
evropskog	A:aen	evropski
(	PUNCT	(
L	A:aem	L
'	A:aem	'
enfer	N:m	enfer
)	PUNCT	)
i	CONJ	i
holivudskog	A:aem	holivudski
(	PUNCT	(
Shell	N:m	Shell
Shock	N:m	Shock
)	PUNCT	)
neuspeha	N:m	neuspeh
,	PUNCT	,
sa	PREP	sa
Cirkusom	N:m	cirkus
Kolumbija	N:f	Kolumbija
vratio	V:m	vratiti
se	PAR	se
'	N:m	'
starim	A:aef	star
temama	N:f	tema
'	N:m	'
sa	PREP	sa
istom	A:aem	isti
nepristrasnoću	N:f	nepristrasnoću
koja	PRO	koji
je	PRO	ona
krasila	V:f	krasiti
i	CONJ	i
njegov	PRO	njegov
anti	PREF	anti
-	PUNCT	-
srpski	A:aem	srpski
esej	N:m	esej
udenut	V:m	udenuti
u	PREP	u
srce	N:n	srce
Ničije	A:aef	Ničije
zemlje	N:f	zemlja
.	SENT	.
Svet	N:m	svet
se	PAR	se
nije	V:m	nije
mnogo	ADV	mnogo
uzbudio	V:m	uzbuditi
.	SENT	.
Priča	N:m	Priča
o	PREP	o
životu	N:m	život
bosanskih	A:aef	bosanski
Roma	N:m	Rom
morala	N:m	moral
mu	PRO	on
se	PAR	se
učiniti	A:aem	učiniti
na	PREP	na
vi	PRO	vi
$	A:aem	$
e	CONJ	e
različitih	A:aem	različit
načina	N:m	način
zanimljivom	A:aem	zanimljiv
,	PUNCT	,
te	CONJ	te
je	PRO	ona
u	PREP	u
nju	PRO	ona
ušao	V:m	ući
lako	ADV	lako
kao	CONJ	kao
Kusta	N:m	Kusta
u	PREP	u
dom	N:m	dom
za	PREP	za
vešanje	N:n	vešanje
i	CONJ	i
tom	PRO	taj
prilikom	N:f	prilika
uspeo	V:m	uspeti
da	CONJ	da
ono	PRO	onaj
što	PRO	što
smo	N:f	smo
zvali	V:m	zvati
'	A:aem	'
NGO	A:aem	NGO
filmom	N:m	film
'	N:m	'
(	PUNCT	(
u	PREP	u
kome	PRO	koji
se	PAR	se
podiže	A:aem	podiže
pozornost	N:f	pozornost
na	PREP	na
probleme	N:m	problem
kojima	PRO	koji
se	PAR	se
NGO	A:aem	NGO
bavi	A:aem	bavi
i	CONJ	i
posredno	A:aen	posredan
stimulišu	A:aem	stimulišu
fondovi	N:m	fond
za	PREP	za
iste	A:aem	isti
)	PUNCT	)
transformiše	A:aem	transformiše
u	PREP	u
film	N:m	film
u	PREP	u
kome	PRO	koji
NGO	A:aem	NGO
otvoreno	A:aen	otvoren
uzima	N:m	uzo
učešće	N:n	učešće
tražeći	A:aen	tražeći
svoje	PRO	svoj
parče	N:m	parac
ekrana	N:m	ekran
.	PUNCT	.
Jer	CONJ	jer
kada	CONJ	kada
bolnica	N:f	bolnica
okrene	A:aem	okrene
leđa	N:n	leđa
bolesnoj	A:aef	bolestan
Romkinji	N:f	Romkinja
nadležni	A:aem	nadležan
NGO	A:aem	NGO
će	N:m	će
bukvalno	ADV	bukvalno
potegnuti	V:m	potegnuti
veze	N:f	veza
,	PUNCT	,
okrenuti	A:aem	okrenut
telefone	N:m	telefon
(	PUNCT	(
besmrtna	A:aef	besmrtan
rečenica	N:f	rečenica
:	PUNCT	:
oćemo	A:aen	oćemo
i	CONJ	i
kantonalno	A:aen	kantonalni
i	CONJ	i
republički	A:aem	republički
?	PUNCT	?
)	PUNCT	)
i	CONJ	i
doći	A:aem	doći
na	PREP	na
lice	N:n	lice
mesta	N:n	mesto
da	CONJ	da
pomogne	A:aem	pomogne
.	PUNCT	.
Kao	ADV	kao
hitna	A:aef	hitan
i	CONJ	i
jedina	A:aef	jedini
pouzdana	A:aef	pouzdan
pomoć	N:f	pomoć
.	PUNCT	.
Jedino	ADV	jedino
što	CONJ	što
će	A:aem	će
sirota	A:aef	sirot
Senada	N:f	Senada
,	PUNCT	,
razočarana	A:aem	razočaran
tretmanom	N:m	tretman
u	PREP	u
bolnici	N:f	bolnica
,	PUNCT	,
tu	PRO	taj
pomoć	N:f	pomoć
odbiti	V:m	odbiti
(	PUNCT	(
jebote	INT	jebote
,	PUNCT	,
Danise	N:m	Danise
,	PUNCT	,
bio	V:m	biti
si	PRO	sebe
tako	ADV	tako
blizu	ADV	blizu
da	CONJ	da
im	PRO	ona
nikada	ADV	nikada
ne	PAR	ne
izađeš	A:bem	izađeš
iz	PREP	iz
džepa	N:m	džep
!	PUNCT	!
)	PUNCT	)
.	SENT	.
Priča	N:m	Priča
je	PRO	ona
zaista	PAR	zaista
epizoda	N:f	epizoda
.	SENT	.
Senada	N:f	Senada
nakon	PREP	nakon
odlaska	N:m	odlazak
na	PREP	na
pregled	N:m	pregled
zbog	PREP	zbog
bolova	N:m	bol
u	PREP	u
stomaku	N:m	stomak
saznaje	N:m	saznaje
da	CONJ	da
je	PRO	ona
bila	V:f	biti
trudna	A:aef	trudan
,	PUNCT	,
da	CONJ	da
je	PRO	ona
dete	N:n	dete
umrlo	V:n	umreti
i	CONJ	i
da	CONJ	da
ga	PRO	on
sad	ADV	sad
operacijom	N:f	operacija
treba	N:f	treba
izvaditi	V:f	izvaditi
napolje	ADV	napolje
pre	ADV	pre
nego	CONJ	nego
što	ADV	što
ugrozi	V:f	ugrozi
njen	PRO	njen
život	N:m	život
.	SENT	.
Kako	CONJ	kako
nije	A:aem	nije
osigurana	A:aem	osiguran
mora	N:n	more
za	PREP	za
to	PRO	taj
da	CONJ	da
plati	N:f	plata
980	NUM	@card@
federacijskih	A:aem	federacijskih
maraka	N:f	marka
.	SENT	.
Koje	PRO	koji
nema	A:aem	nem
(	PUNCT	(
ju	PRO	ona
)	PUNCT	)
.	SENT	.
Njen	PRO	njen
suprug	N:m	suprug
je	PRO	ona
berač	N:m	berač
željeza	N:n	željezo
,	PUNCT	,
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
koji	PRO	koji
Opel	N:m	opel
Kadeta	N:m	kadet
sekirom	N:f	sekira
rastavi	N:f	rastava
za	PREP	za
sat	N:m	sat
vremena	N:n	vreme
i	CONJ	i
proda	N:m	proda
ga	PRO	on
u	PREP	u
staro	A:aen	star
gvožđe	N:n	gvožđe
.	SENT	.
Njih	PRO	ona
dvoje	NUM	dvoje
i	CONJ	i
njihove	PRO	njihov
dve	NUM	dva
ćerke	N:f	ćerka
prikazani	V:m	prikazati
su	N:m	su
nam	PRO	mi
,	PUNCT	,
sve	ADV	sve
sa	PREP	sa
svojim	PRO	svoj
ultrasiromašnim	A:aem	ultrasiromašnim
i	CONJ	i
tužnim	A:aem	tužan
i	CONJ	i
veselim	A:aem	veseo
životima	N:m	život
u	PREP	u
par	N:m	par
dana	N:m	dan
.	SENT	.
Nema	A:aem	nem
ničega	PRO	ništa
od	PREP	od
Kustinog	A:aem	Kustinog
magičnog	A:aem	magičan
realizma	N:m	realizam
,	PUNCT	,
ali	CONJ	ali
zato	ADV	zato
je	PRO	ona
sav	PRO	sav
njegov	PRO	njegov
realizam	N:m	realizam
uredno	ADV	uredno
dokumentovan	V:m	dokumentovati
.	PUNCT	.
Tek	CONJ	tek
sitnim	A:aef	sitan
scenarističkim	A:aef	scenaristički
intervencijama	N:f	intervencija
Tanovićev	A:aem	Tanovićev
film	N:m	film
ne	PAR	ne
biva	A:aem	biva
skroz	ADV	skroz
dokumentarnim	A:aem	dokumentaran
i	CONJ	i
mora	N:n	more
mu	PRO	on
se	PAR	se
priznati	V:m	priznati
da	CONJ	da
je	PRO	ona
efektno	A:aen	efektan
ostvario	V:m	ostvariti
saradnju	N:f	saradnja
sa	PREP	sa
naturščicima	N:m	naturščik
i	CONJ	i
njihovim	PRO	njihov
doprinosom	N:m	doprinos
filmu	N:m	film
.	SENT	.
Ali	CONJ	ali
opšti	A:aem	opšti
utisak	N:m	utisak
'	A:aem	'
većviđenosti	N:f	većviđenosti
'	A:aem	'
teme	N:f	tema
,	PUNCT	,
pristupa	N:m	pristup
i	CONJ	i
poente	N:f	poenta
kontraproduktivno	A:aen	kontraproduktivan
deluje	N:m	deluje
po	PREP	po
anagažman	N:m	anagažman
koji	PRO	koji
se	PAR	se
od	PREP	od
gledaoce	N:m	gledalac
očekuje	N:m	očekuje
.	SENT	.
Vreme	N:n	vreme
je	PRO	ona
za	PREP	za
gej	N:m	gej
roud	A:aem	roud
muvi	N:f	muva
po	PREP	po
Bosni	N:f	Bosna
.	SENT	.
Neka	PRO	neki
ljubi	N:f	ljuba
se	PAR	se
istok	N:m	istok
i	CONJ	i
zapad	N:m	zapad
,	PUNCT	,
neka	PRO	neki
ljubi	N:f	ljuba
se	PAR	se
sjever	N:m	sjever
i	CONJ	i
jug	N:m	jug
.	PUNCT	.
.	SENT	.
.	PUNCT	.
