Kakav	PRO	kakav
sam	A:aem	sam
sucker	N:m	sucker
za	PREP	za
ove	PRO	ovaj
mračne	A:aef	mračan
misterije	N:f	misterija
bokte	INT	bokte
čoveče	N:m	čovek
.	SENT	.
Od	PREP	od
maestralnog	A:aem	maestralan
Cube	N:m	Cube
-	PUNCT	-
a	CONJ	a
i	CONJ	i
fenomenalnog	A:aem	fenomenalan
Saw	N:m	Saw
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
samo	PAR	samo
mi	PRO	ja
daj	INT	daj
likove	N:m	lik
koji	PRO	koji
su	N:m	su
na	PREP	na
malom	A:aen	mali
prostoru	N:m	prostor
u	PREP	u
gadnom	A:aem	gadan
sosu	N:m	sos
i	CONJ	i
ćao	INT	ćao
zdravo	A:aen	zdrav
.	SENT	.
Uglavnom	ADV	uglavnom
to	PRO	taj
ispadnu	A:aem	ispadnu
prosečni	A:aem	prosečan
filmovi	N:m	film
ili	CONJ	ili
pak	PAR	pak
totalne	A:aem	totalan
gluposti	N:f	glupost
ali	CONJ	ali
opet	ADV	opet
,	PUNCT	,
dođe	A:aem	dođe
nešto	ADV	nešto
kao	CONJ	kao
sasvim	ADV	sasvim
solidni	A:aem	solidan
Fermat	N:m	Fermat
'	A:aem	'
s	PREP	s
Room	N:m	Room
i	CONJ	i
vera	N:f	vera
u	PREP	u
ovakve	PRO	ovakav
filmove	N:m	film
mi	PRO	ja
se	PAR	se
vrati	N:m	vrati
.	SENT	.
Elem	CONJ	elem
,	PUNCT	,
Open	A:aem	Open
Grave	N:m	Grave
je	PRO	ona
inicijalno	A:aen	inicijalan
imao	V:m	imati
opasnu	A:aef	opasan
ideju	N:f	ideja
a	CONJ	a
tako	ADV	tako
je	PRO	ona
i	CONJ	i
počeo	V:m	početi
.	SENT	.
Lik	N:m	lik
se	PAR	se
budi	CONJ	budi
u	PREP	u
jami	N:f	jama
u	PREP	u
kojoj	PRO	koji
je	PRO	ona
brdo	N:n	brdo
leševa	N:m	leš
.	SENT	.
Ne	PAR	ne
seća	V:m	seća
se	PAR	se
ničega	PRO	ništa
.	PUNCT	.
Ajao	N:m	Ajao
.	SENT	.
Koliko	ADV	koliko
je	PRO	ona
samo	PAR	samo
to	PRO	taj
jezivo	ADV	jezivo
i	CONJ	i
bolesno	ADV	bolesno
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
.	SENT	.
Dobro	ADV	dobro
,	PUNCT	,
ne	PAR	ne
može	A:aem	može
da	CONJ	da
dohvati	N:m	dohvat
jezu	N:f	jeza
Kovačićeve	A:aef	Kovačićev
Jame	N:f	jama
ali	CONJ	ali
ovo	PRO	ovaj
me	PRO	ja
je	PRO	ona
užasno	ADV	užasno
podsetilo	V:n	podsetiti
na	PREP	na
to	PRO	taj
.	PUNCT	.
Noć	N:f	Noć
,	PUNCT	,
tišina	N:f	tišina
,	PUNCT	,
vidi	N:f	vida
se	PAR	se
noćno	A:aen	noćni
nebo	N:n	nebo
,	PUNCT	,
lik	N:m	lik
leži	A:aem	leži
na	PREP	na
leševima	N:m	leš
potpuno	ADV	potpuno
sluđen	A:aem	sluđen
i	CONJ	i
kako	ADV	kako
da	CONJ	da
ovo	PRO	ovaj
ne	PAR	ne
ugrabi	A:aef	ugrabi
pažnju	N:f	pažnja
.	PUNCT	.
I	CONJ	i
kada	CONJ	kada
ta	PRO	taj
hipnoza	N:f	hipnoza
filmom	N:m	film
prestaje	N:f	prestaje
?	PUNCT	?
Pa	CONJ	pa
nedugo	ADV	nedugo
posle	PREP	posle
toga	PRO	taj
kada	CONJ	kada
lik	N:m	lik
izađe	A:aem	izađe
iz	PREP	iz
jame	N:f	jama
.	PUNCT	.
Ne	PAR	ne
shvatite	N:m	shvatite
ovo	PRO	ovaj
pogrešno	ADV	pogrešno
,	PUNCT	,
misterija	N:f	misterija
i	CONJ	i
dalje	ADV	dalje
pršti	A:aem	pršti
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
gubi	N:f	guba
nekako	ADV	nekako
ova	PRO	ovaj
mračna	A:aef	mračan
strana	N:f	strana
.	SENT	.
Poblem	N:m	Poblem
sam	PRO	sam
imao	V:m	imati
sa	PREP	sa
interakcijom	N:f	interakcija
između	PREP	između
likova	N:n	likovo
.	PUNCT	.
Kontam	N:m	Kontam
da	CONJ	da
će	N:f	će
tu	PRO	taj
svi	PRO	sav
biti	N:f	bit
oprezni	A:aem	oprezan
ali	CONJ	ali
euforično	ADV	euforično
pokazivati	A:aem	pokazivati
neprijateljski	A:aem	neprijateljski
stav	N:m	stav
prema	PREP	prema
svima	PRO	sav
mi	PRO	ja
je	PRO	ona
totalna	A:aen	totalan
debilana	N:m	debilana
.	SENT	.
To	PRO	taj
je	PRO	ona
isto	ADV	isto
kao	ADV	kao
da	CONJ	da
niste	N:m	niste
izgubili	V:m	izgubiti
pamćenje	N:n	pamćenje
,	PUNCT	,
došli	V:m	doći
ste	A:aem	ste
u	PREP	u
grupu	N:f	grupa
ljudi	N:m	ljudi
koje	PRO	koji
ne	PAR	ne
poznajete	N:m	poznajete
i	CONJ	i
krenuli	V:m	krenuti
odmah	ADV	odmah
da	CONJ	da
se	PAR	se
agresivno	ADV	agresivno
raspravljate	N:m	raspravljate
sa	PREP	sa
njima	PRO	ona
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
možete	A:aem	možete
upasti	A:aem	upasti
u	PREP	u
grupu	N:f	grupa
ljudi	N:m	ljudi
koji	PRO	koji
besmisleno	A:aen	besmislen
raspravljaju	N:m	raspravljaju
o	PREP	o
tome	PRO	taj
ko	CONJ	ko
je	PRO	ona
bolji	A:bem	dobar
od	PREP	od
dva	NUM	dva
genija	N:m	genije
gitare	N:f	gitara
,	PUNCT	,
Točak	N:m	Točak
ili	CONJ	ili
Vlatko	N:m	Vlatko
.	SENT	.
Teško	A:aem	Teško
će	N:m	će
tu	ADV	tu
izbiti	V:m	izbiti
neki	PRO	neki
veliki	A:aem	velik
sukob	N:m	sukob
.	PUNCT	.
Ali	CONJ	ali
šta	PRO	šta
ako	CONJ	ako
upadnete	N:f	upadnete
u	PREP	u
neku	PRO	neki
od	PREP	od
ekstremnih	A:aef	ekstreman
grupa	N:f	grupa
žestoko	ADV	žestoko
pljujući	V:m	pljujući
po	PREP	po
njihovim	PRO	njihov
stavovima	N:m	stav
.	SENT	.
To	PRO	taj
je	PRO	ona
nešto	ADV	nešto
sasvim	ADV	sasvim
drugo	A:aen	drugi
.	PUNCT	.
Tako	ADV	tako
da	CONJ	da
kontam	N:m	kontam
da	CONJ	da
bi	A:aem	bi
ovde	ADV	ovde
ljudi	N:m	ljudi
bili	V:m	biti
oprezni	A:aem	oprezan
i	CONJ	i
tražili	V:m	tražiti
odgovore	N:m	odgovor
na	PREP	na
pitanja	N:n	pitanje
pa	CONJ	pa
i	CONJ	i
saradnju	N:f	saradnja
pre	ADV	pre
nego	CONJ	nego
li	PAR	li
se	PAR	se
agresivno	ADV	agresivno
suprotstavljali	V:m	suprotstavljati
.	SENT	.
Nisam	N:m	Nisam
istraživao	V:m	istraživati
slučajeve	N:m	slučaj
gubljenja	N:n	gubljenje
pamćenja	N:n	pamćenje
tako	ADV	tako
da	CONJ	da
možda	PAR	možda
grešim	N:m	grešim
u	PREP	u
narednoj	A:aef	naredni
tvrdnji	N:f	tvrdnja
.	PUNCT	.
Ako	CONJ	ako
neko	PRO	neki
među	PREP	među
vama	PRO	vi
zna	N:m	zna
nešto	ADV	nešto
više	ADV	više
o	PREP	o
toj	PRO	taj
temi	N:f	tema
,	PUNCT	,
neka	PRO	neki
podeli	N:f	podela
svoje	PRO	svoj
znanje	N:n	znanje
sa	PREP	sa
nama	PRO	mi
.	SENT	.
U	PREP	u
dosta	ADV	dosta
filmova	N:m	film
sam	PRO	sam
video	V:m	videti
da	CONJ	da
osoba	N:f	osoba
koja	PRO	koji
je	PRO	ona
izgubila	V:m	izgubiti
pamćenje	N:n	pamćenje
ima	A:aem	ima
strah	N:m	strah
da	CONJ	da
li	PAR	li
je	PRO	ona
dobra	A:aef	dobar
osoba	N:f	osoba
ili	CONJ	ili
ne	PAR	ne
.	SENT	.
Nekako	ADV	nekako
mi	PRO	ja
to	PRO	taj
ne	PAR	ne
leži	N:n	leži
.	SENT	.
Kao	CONJ	kao
vratiće	N:m	vratić
ti	PRO	taj
se	PAR	se
pamćenje	N:n	pamćenje
i	CONJ	i
skontaćeš	V:m	skontaćeš
da	CONJ	da
si	PRO	sebe
masovni	A:aem	masovan
ubica	N:m	ubica
koji	PRO	koji
ima	N:f	ima
neki	PRO	neki
lud	A:aem	lud
poriv	N:m	poriv
,	PUNCT	,
da	CONJ	da
si	PRO	sebe
šljam	N:m	šljam
prve	A:aem	prvi
vrste	N:f	vrsta
ili	CONJ	ili
tako	ADV	tako
nešto	ADV	nešto
.	SENT	.
Ok	N:m	Ok
,	PUNCT	,
ne	PAR	ne
znaš	INT	znaš
stvari	N:f	stvar
vezane	A:aef	vezan
za	PREP	za
svoju	PRO	svoj
prošlost	N:f	prošlost
ali	CONJ	ali
kontam	N:m	kontam
da	CONJ	da
bi	A:aem	bi
čovek	N:m	čovek
instinktivno	ADV	instinktivno
postupao	V:m	postupati
u	PREP	u
skladu	N:m	sklad
sa	PREP	sa
onim	PRO	onaj
što	CONJ	što
je	PRO	ona
bio	V:m	biti
.	PUNCT	.
Tako	ADV	tako
da	CONJ	da
po	PREP	po
nekom	PRO	neki
mom	PRO	moj
mišljenju	N:n	mišljenje
,	PUNCT	,
čovek	N:m	čovek
bi	A:aem	bi
brzo	ADV	brzo
skontao	V:m	skontati
šta	PRO	šta
je	PRO	ona
i	CONJ	i
ko	PRO	ko
je	PRO	ona
.	PUNCT	.
Svako	PRO	svaki
je	PRO	ona
donekle	ADV	donekle
i	CONJ	i
dobar	A:aem	dobar
i	CONJ	i
loš	A:aem	loš
ali	CONJ	ali
baš	PAR	baš
da	CONJ	da
neko	PRO	neki
otkrije	N:f	otkrije
da	CONJ	da
je	PRO	ona
ekstremni	A:aem	ekstreman
slučaj	N:m	slučaj
i	CONJ	i
šokira	N:m	šokira
se	PAR	se
time	PRO	taj
,	PUNCT	,
nekako	ADV	nekako
mi	PRO	ja
ne	PAR	ne
ide	V:m	ide
baš	PAR	baš
u	PREP	u
glavu	N:f	glava
.	SENT	.
Cela	A:aef	ceo
misterija	N:f	misterija
se	PAR	se
zapravo	ADV	zapravo
svodi	V:m	svodi
na	PREP	na
to	PRO	taj
ko	PRO	ko
je	PRO	ona
ko	PRO	ko
i	CONJ	i
ko	PRO	ko
je	PRO	ona
šta	PRO	šta
napravio	V:m	napraviti
.	SENT	.
Tu	PRO	taj
naravno	PAR	naravno
imamo	ADV	imamo
nekoliko	ADV	nekoliko
preokretića	V:m	preokretića
što	CONJ	što
je	PRO	ona
bilo	V:n	biti
i	CONJ	i
za	PREP	za
očekivati	A:aem	očekivati
.	PUNCT	.
E	CONJ	e
sad	ADV	sad
ono	PRO	onaj
glavno	ADV	glavno
.	PUNCT	.
I	CONJ	i
Saw	A:aem	Saw
i	CONJ	i
Cube	A:aef	Cube
imaju	N:f	imaju
te	PRO	taj
fazone	N:m	fazon
sa	PREP	sa
misterijom	N:f	misterija
ali	CONJ	ali
sve	PRO	sav
to	PRO	taj
je	PRO	ona
začinilo	V:n	začiniti
glavnu	A:aef	glavnu
priču	N:f	priča
.	SENT	.
I	CONJ	i
ludački	A:aem	ludački
preokret	N:m	preokret
u	PREP	u
Saw	N:m	Saw
je	PRO	ona
samo	PAR	samo
začinio	V:m	začiniti
neverovatnu	A:aef	neverovatan
priču	N:f	priča
o	PREP	o
Džonu	N:m	Džon
Krameru	N:m	Kramer
i	CONJ	i
celu	A:aef	ceo
misteriju	N:f	misterija
koju	PRO	koji
gledamo	N:f	gledamo
.	SENT	.
I	CONJ	i
zamke	N:f	zamka
u	PREP	u
Cube	A:aem	Cube
su	N:m	su
donekle	ADV	donekle
i	CONJ	i
simbolične	A:aef	simboličan
ali	CONJ	ali
opet	ADV	opet
ni	PAR	ni
jednog	NUM	jedan
momenta	N:m	moment
ne	PAR	ne
skreću	V:m	skreću
sa	PREP	sa
onog	PRO	onaj
glavnog	A:aem	glavnog
a	CONJ	a
to	PRO	taj
je	PRO	ona
analiza	N:f	analiza
ljudske	A:aef	ljudski
psihe	N:f	psiha
.	SENT	.
Open	A:aem	Open
Grave	N:m	Grave
me	PRO	ja
je	PRO	ona
tu	ADV	tu
podsetio	V:m	podsetiti
na	PREP	na
Priest	N:m	Priest
.	SENT	.
Priest	N:m	Priest
je	PRO	ona
imao	V:m	imati
neke	PRO	neki
legende	N:f	legenda
i	CONJ	i
priče	N:f	priča
koje	PRO	koji
smo	N:f	smo
čuli	V:m	čuti
od	PREP	od
likova	N:n	likovo
i	CONJ	i
od	PREP	od
tih	PRO	taj
priča	N:f	priča
i	CONJ	i
legendi	N:f	legenda
se	PAR	se
mogao	V:m	moći
napraviti	V:m	napraviti
opasno	ADV	opasno
dopadljiv	A:aem	dopadljiv
film	N:m	film
.	PUNCT	.
A	CONJ	a
od	PREP	od
svega	PRO	sav
smo	N:f	smo
videli	V:m	videti
jurcanje	N:n	jurcanje
,	PUNCT	,
vozikanje	N:n	vozikanje
i	CONJ	i
akciju	N:f	akcija
.	SENT	.
Open	A:aem	Open
Grave	A:aem	Grave
ima	N:m	ima
ovu	PRO	ovaj
misteriju	N:f	misterija
ko	PRO	ko
je	PRO	ona
ko	PRO	ko
i	CONJ	i
ko	PRO	ko
je	PRO	ona
šta	PRO	šta
radio	N:m	radio
a	CONJ	a
zapravo	ADV	zapravo
šok	N:m	šok
i	CONJ	i
ono	PRO	onaj
bitno	ADV	bitno
ne	PAR	ne
prikazuje	N:m	prikazuje
već	CONJ	već
čuva	N:m	čuva
za	PREP	za
sam	PRO	sam
kraj	N:m	kraj
.	PUNCT	.
Ne	PAR	ne
shvatite	N:m	shvatite
pogrešno	ADV	pogrešno
,	PUNCT	,
opak	A:aem	opak
je	PRO	ona
to	PRO	taj
kraj	N:m	kraj
,	PUNCT	,
ludačka	A:aen	ludački
je	PRO	ona
to	PRO	taj
ideja	N:f	ideja
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
Open	A:aem	Open
Grave	N:m	Grave
potpuno	ADV	potpuno
pogrešan	A:aem	pogrešan
pristup	N:m	pristup
tome	PRO	taj
.	SENT	.
To	PRO	taj
izgleda	N:m	izgled
kao	ADV	kao
da	CONJ	da
prenose	N:m	prenos
neku	PRO	neki
opasnu	A:aef	opasan
fudbalsku	A:aef	fudbalski
utakmicu	N:f	utakmica
a	CONJ	a
mi	PRO	ja
gledamo	N:f	gledamo
šišanje	N:n	šišanje
trave	N:f	trava
terena	N:m	teren
na	PREP	na
kom	PRO	koji
će	N:m	će
se	PAR	se
meč	N:m	meč
odigrati	A:aem	odigrati
i	CONJ	i
na	PREP	na
kraju	N:m	kraj
nam	PRO	mi
kažu	N:f	kaža
krajnji	A:aem	krajnji
rezultat	N:m	rezultat
.	SENT	.
Eventualno	ADV	eventualno
vidimo	A:aen	vidimo
golove	N:m	gol
.	SENT	.
Ko	PRO	ko
tu	ADV	tu
može	A:aef	može
biti	N:f	bit
zadovoljan	A:aem	zadovoljan
?	SENT	?
Takav	PRO	takav
pristup	N:m	pristup
pomaže	V:n	pomaže
svakako	ADV	svakako
skrivanju	N:n	skrivanje
glavne	A:aef	glavne
teme	N:f	tema
,	PUNCT	,
ali	CONJ	ali
neću	A:aem	neću
da	CONJ	da
na	PREP	na
kraju	N:m	kraj
shvatim	A:aem	shvatim
da	CONJ	da
postoji	N:m	postoji
jeziva	A:aen	jeziv
,	PUNCT	,
strašna	A:aef	strašan
priča	N:f	priča
a	CONJ	a
do	PREP	do
tada	ADV	tada
sam	PRO	sam
gledao	V:m	gledati
sprdnju	N:f	sprdnja
od	PREP	od
misterije	N:f	misterija
.	SENT	.
Dobro	ADV	dobro
je	PRO	ona
što	CONJ	što
se	PAR	se
povremeno	ADV	povremeno
kroz	PREP	kroz
misteriju	N:f	misterija
pojavljuju	N:f	pojavljuju
neke	PRO	neki
hororistične	A:aef	hororistične
stvari	N:f	stvar
.	SENT	.
Leševi	A:aem	Leševi
vezani	A:aem	vezan
za	PREP	za
drveće	N:n	drveće
,	PUNCT	,
čova	N:m	čova
umotan	A:aem	umotan
u	PREP	u
bodljikavu	A:aef	bodljikav
žicu	N:f	žica
,	PUNCT	,
neka	PRO	neki
potpuno	ADV	potpuno
poludela	A:aef	poludeo
žena	N:f	žena
itd	N:f	itd
.	SENT	.
Sve	PRO	sav
to	PRO	taj
daje	N:m	daje
neki	PRO	neki
dobar	A:aem	dobar
horor	N:m	horor
štimung	N:m	štimung
celoj	A:aef	ceo
misteriji	N:f	misterija
.	SENT	.
Veliki	A:aem	velik
broj	N:m	broj
scena	N:f	scena
se	PAR	se
odvija	A:bem	odvija
u	PREP	u
šumi	N:f	šuma
.	PUNCT	.
Bilo	V:n	biti
da	CONJ	da
je	PRO	ona
dan	N:m	dan
ili	CONJ	ili
noć	N:f	noć
,	PUNCT	,
u	PREP	u
šumi	N:f	šuma
nije	A:aen	nije
teško	A:aen	težak
postići	N:n	postići
neku	PRO	neki
jezivu	A:aef	jeziv
atmosferu	N:f	atmosfera
(	PUNCT	(
Ko	N:m	Ko
je	PRO	ona
rekao	V:m	reći
The	INT	The
Blair	N:m	Blair
Witch	A:aen	Witch
Project	A:aen	Project
i	CONJ	i
The	INT	The
Village	N:m	Village
?	PUNCT	?
)	PUNCT	)
.	SENT	.
Problem	N:m	problem
u	PREP	u
celoj	A:aef	ceo
toj	PRO	taj
frci	N:f	frka
je	PRO	ona
taj	PRO	taj
prenadrndani	A:aem	prenadrndani
odnos	N:m	odnos
između	PREP	između
likova	N:n	likovo
kao	CONJ	kao
i	CONJ	i
činjenica	N:f	činjenica
da	CONJ	da
sve	PRO	sav
to	PRO	taj
izgleda	N:m	izgled
sumanuto	ADV	sumanuto
.	SENT	.
Jesu	N:f	Jesu
se	PAR	se
potrudili	V:m	potruditi
da	CONJ	da
na	PREP	na
kraju	N:m	kraj
sve	PRO	sav
to	PRO	taj
povežu	A:aem	povežu
ali	CONJ	ali
opet	ADV	opet
svi	PRO	sav
ti	PRO	taj
postupci	N:m	postupak
likova	N:n	likovo
,	PUNCT	,
sva	PRO	sav
ponašanja	N:n	ponašanje
,	PUNCT	,
nekako	ADV	nekako
mi	PRO	ja
je	PRO	ona
sve	PAR	sve
to	PRO	taj
bilo	V:n	biti
isforsirano	V:n	isforsirati
.	SENT	.
Ja	PRO	ja
iskreno	ADV	iskreno
od	PREP	od
ovoga	PRO	ovaj
ne	PAR	ne
bih	A:aem	bih
ni	PAR	ni
pravio	V:m	praviti
horor	N:m	horor
triler	N:m	triler
sa	PREP	sa
frkom	N:f	frka
.	SENT	.
Ja	PRO	ja
bih	N:m	bih
pravio	V:m	praviti
dramu	N:m	dram
gde	CONJ	gde
bi	V:m	bi
ovako	ADV	ovako
šokantan	A:aem	šokantan
kraj	N:m	kraj
došao	V:m	doći
kao	ADV	kao
opak	A:aem	opak
šamar	N:m	šamar
.	SENT	.
Zašto	A:aen	Zašto
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
bi	A:aem	bi
dramom	N:m	dram
postigao	V:m	postignuti
neki	PRO	neki
odnos	N:m	odnos
između	PREP	između
likova	N:n	likovo
.	SENT	.
Tim	PRO	taj
odnosom	N:m	odnos
bi	V:m	bi
približio	V:m	približiti
likove	N:m	lik
gledaocima	N:m	gledalac
.	SENT	.
Sa	PREP	sa
takvim	PRO	takav
likovima	N:m	lik
se	PAR	se
lakše	ADV	lakše
identifikovati	A:aem	identifikovati
i	CONJ	i
njihova	PRO	njihov
sudbina	N:f	sudbina
zaista	ADV	zaista
može	A:aem	može
da	CONJ	da
intrigira	N:m	intrigira
i	CONJ	i
/	N:m	/
ili	CONJ	ili
potrese	N:m	potres
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
bi	V:m	bi
oni	PRO	onaj
činili	V:m	činiti
i	CONJ	i
žrtve	N:f	žrtva
koje	PRO	koji
bi	N:f	bi
podneli	V:m	podneti
bi	A:aem	bi
bile	V:f	biti
upečatljive	A:aef	upečatljiv
.	PUNCT	.
Ne	PAR	ne
mogu	A:aen	mogu
da	CONJ	da
se	PAR	se
fasciniram	N:m	fasciniram
kada	CONJ	kada
saznam	N:n	saznam
da	CONJ	da
je	PRO	ona
neko	PRO	neki
od	PREP	od
opasno	ADV	opasno
agresivnih	A:aen	agresivan
likova	N:n	likovo
koji	PRO	koji
trči	A:aem	trči
naokolo	ADV	naokolo
,	PUNCT	,
viče	N:m	vidac
i	CONJ	i
traži	A:aem	traži
izlaz	N:m	izlaz
bez	PREP	bez
da	CONJ	da
kefa	N:f	kefa
išta	PRO	išta
i	CONJ	i
jednog	NUM	jedan
jedinog	A:aem	jedini
momenta	N:m	moment
,	PUNCT	,
zapravo	ADV	zapravo
neko	PRO	neki
ko	PRO	ko
radi	PREP	radi
neku	PRO	neki
veliku	A:aef	velik
stvar	N:f	stvar
.	PUNCT	.
Ako	CONJ	ako
mi	PRO	ja
daš	A:aem	daš
tog	PRO	taj
lika	N:m	lik
na	PREP	na
tacni	N:f	tacna
,	PUNCT	,
ako	CONJ	ako
me	PRO	ja
interesuje	N:m	interesuje
njegova	PRO	njegov
sudbina	N:f	sudbina
i	CONJ	i
njegovi	PRO	njegov
postupci	N:m	postupak
umesto	PREP	umesto
da	CONJ	da
mi	PRO	ja
cirkusom	N:m	cirkus
skrećeš	A:aef	skrećeš
pažnju	N:f	pažnja
,	PUNCT	,
e	CONJ	e
tada	ADV	tada
mogu	A:aem	mogu
da	CONJ	da
se	PAR	se
šokiram	A:aen	šokiram
i	CONJ	i
razmislim	A:aen	razmislim
debelo	ADV	debelo
o	PREP	o
svemu	PRO	sav
.	SENT	.
Imamo	N:m	Imamo
jednu	NUM	jedan
devojku	N:f	devojka
čiji	PRO	čiji
identitet	N:m	identitet
je	PRO	ona
i	CONJ	i
najveća	A:cef	velik
misterija	N:f	misterija
.	SENT	.
Čudno	A:aen	Čudno
je	PRO	ona
sve	PRO	sav
što	PRO	što
je	PRO	ona
vezano	V:n	vezati
za	PREP	za
nju	PRO	ona
.	SENT	.
Teško	N:f	Teško
mi	PRO	ja
je	PRO	ona
bilo	V:n	biti
u	PREP	u
glavu	N:f	glava
da	CONJ	da
uklopim	A:aef	uklopim
mogućnosti	N:f	mogućnost
i	CONJ	i
varijante	N:f	varijanta
pod	PREP	pod
kojim	PRO	koji
bi	N:f	bi
ova	PRO	ovaj
devojka	N:f	devojka
bila	V:f	biti
povezana	V:f	povezati
sa	PREP	sa
ostalim	A:aem	ostalim
ljudima	N:m	ljudi
.	PUNCT	.
E	CONJ	e
tu	PRO	taj
smo	N:f	smo
kod	PREP	kod
one	PRO	onaj
dobre	A:aem	dobar
stare	A:aem	star
da	CONJ	da
od	PREP	od
drveća	N:n	drveće
ne	PAR	ne
vidimo	A:aen	vidimo
šumu	N:f	šuma
,	PUNCT	,
ili	CONJ	ili
nešto	ADV	nešto
ekstremnije	A:bef	ekstreman
varijante	N:f	varijanta
da	CONJ	da
smo	N:f	smo
slepi	A:aem	slep
kod	PREP	kod
očiju	N:f	oči
.	SENT	.
Elem	CONJ	elem
,	PUNCT	,
rešenje	N:n	rešenje
velikih	A:aef	velik
problema	N:m	problem
je	PRO	ona
neretko	ADV	neretko
na	PREP	na
dohvat	N:m	dohvat
ruke	N:f	ruka
.	SENT	.
Fazon	N:m	fazon
je	PRO	ona
u	PREP	u
tome	PRO	taj
što	PRO	što
ljudi	N:m	ljudi
suviše	ADV	suviše
paniče	A:aem	paniče
,	PUNCT	,
suviše	ADV	suviše
su	N:m	su
ometeni	A:aem	ometen
problemima	N:m	problem
,	PUNCT	,
strahom	N:m	strah
od	PREP	od
najgorih	A:aef	najgorih
varijanti	N:f	varijanta
da	CONJ	da
bi	N:f	bi
shvatili	V:m	shvatiti
da	CONJ	da
rešenje	N:n	rešenje
imaju	N:f	imaju
pod	PREP	pod
nosom	N:m	nos
.	SENT	.
To	PRO	taj
na	PREP	na
kraju	N:m	kraj
tek	CONJ	tek
dolazi	N:m	dolaz
do	PREP	do
izražaja	N:m	izražaj
kada	CONJ	kada
vidimo	N:f	vidimo
da	CONJ	da
su	N:m	su
se	PAR	se
ceo	A:aem	ceo
film	N:m	film
sprdali	V:m	sprdati
sa	PREP	sa
nečim	PRO	nešto
toliko	ADV	toliko
velikim	A:aem	velik
,	PUNCT	,
da	CONJ	da
su	N:m	su
nam	PRO	mi
krili	V:m	kriti
nešto	ADV	nešto
kolosalno	ADV	kolosalno
.	SENT	.
Samo	PAR	samo
jedna	NUM	jedan
stvar	N:f	stvar
me	PRO	ja
je	PRO	ona
naterala	V:f	naterati
da	CONJ	da
se	PAR	se
zbog	PREP	zbog
kraja	N:m	kraj
vratim	N:f	vratim
i	CONJ	i
pogledam	N:m	pogledam
sve	PRO	sav
ponovo	ADV	ponovo
a	CONJ	a
to	PRO	taj
je	PRO	ona
Nowhere	N:m	Nowhere
Man	N:m	Man
.	SENT	.
Tu	ADV	tu
sam	PRO	sam
tražio	V:m	tražiti
odgovore	N:m	odgovor
na	PREP	na
ludačku	A:aef	ludački
genijalštinu	N:f	genijalštinu
.	SENT	.
Zašto	A:aem	Zašto
bih	N:m	bih
se	PAR	se
ovde	ADV	ovde
vraćao	V:m	vraćati
?	PUNCT	?
Da	CONJ	da
bih	A:aem	bih
sada	ADV	sada
gledao	V:m	gledati
neku	PRO	neki
smešnu	A:aef	smešan
pričicu	N:f	pričica
znajući	A:aem	znajući
da	CONJ	da
je	PRO	ona
to	PRO	taj
nakinđureni	A:aem	nakinđuren
delić	N:m	delić
nečega	PRO	nešto
kolosalnog	A:aen	kolosalan
.	PUNCT	.
Neće	A:aen	Neće
da	CONJ	da
može	A:aen	može
.	PUNCT	.
Ne	PAR	ne
oduševljavam	N:m	oduševljavam
se	PAR	se
u	PREP	u
rikverc	N:m	rikverc
.	SENT	.
Open	A:aem	Open
Grave	N:m	Grave
je	PRO	ona
dobro	ADV	dobro
počeo	V:m	početi
,	PUNCT	,
nastavio	V:m	nastaviti
slabašno	ADV	slabašno
prodavajući	A:aem	prodavajući
jeftine	A:aef	jeftin
fazone	N:m	fazon
,	PUNCT	,
finiširao	V:m	finiširati
šokantno	A:aen	šokantan
i	CONJ	i
kolosalno	A:aen	kolosalan
.	SENT	.
Uvod	N:m	uvod
je	PRO	ona
zgrabio	V:m	zgrabiti
pažnju	N:f	pažnja
,	PUNCT	,
središnjica	N:f	središnjica
je	PRO	ona
miks	N:m	miks
svega	ADV	svega
i	CONJ	i
svačega	PRO	svašta
ali	CONJ	ali
je	PRO	ona
kako	ADV	kako
tako	ADV	tako
držala	V:f	držati
neku	PRO	neki
neizvesnost	N:f	neizvesnost
i	CONJ	i
misteriju	N:f	misterija
.	SENT	.
Kraj	PREP	kraj
je	PRO	ona
nešto	PRO	nešto
što	PRO	što
tera	N:m	ter
da	CONJ	da
se	PAR	se
zapitamo	V:m	zapitamo
zašto	CONJ	zašto
ovo	PRO	ovaj
nije	N:m	nije
urađeno	V:n	uraditi
kako	CONJ	kako
treba	N:f	treba
.	SENT	.
Mogli	V:m	moći
bi	A:aem	bi
sada	ADV	sada
pričati	A:aem	pričati
o	PREP	o
odličnom	A:aen	odličan
filmu	N:m	film
koji	PRO	koji
tera	N:m	ter
na	PREP	na
razmišljanje	N:n	razmišljanje
.	PUNCT	.
Ipak	PAR	ipak
će	V:m	će
se	PAR	se
Cube	N:m	Cube
i	CONJ	i
Saw	N:m	Saw
teško	ADV	teško
ponoviti	A:aem	ponoviti
.	SENT	.
Lakše	A:aem	Lakše
je	PRO	ona
prodavati	A:aem	prodavati
petarde	N:f	petarda
,	PUNCT	,
prskalice	N:f	prskalica
i	CONJ	i
slatkiše	N:m	slatkiš
nego	CONJ	nego
knjige	N:f	knjiga
,	PUNCT	,
lakše	ADV	lakše
je	PRO	ona
prodati	V:m	prodati
tralalala	V:f	tralalala
pričicu	N:f	pričica
i	CONJ	i
akcionu	A:aef	akcioni
misteriju	N:f	misterija
nego	CONJ	nego
dramu	N:f	drama
.	SENT	.
Veća	A:aem	Veća
je	PRO	ona
ciljna	A:aef	ciljni
grupa	N:f	grupa
,	PUNCT	,
zarada	N:f	zarada
je	PRO	ona
ispred	PREP	ispred
vrednosti	N:f	vrednost
,	PUNCT	,
kvantitet	N:m	kvantitet
ispred	PREP	ispred
kvaliteta	N:m	kvalitet
.	SENT	.
Samo	PAR	samo
,	PUNCT	,
postoji	N:m	postoji
tu	ADV	tu
jedna	NUM	jedan
stvar	N:f	stvar
-	PUNCT	-
kvalitet	N:m	kvalitet
je	PRO	ona
veličina	N:f	veličina
,	PUNCT	,
kvalitet	N:m	kvalitet
je	PRO	ona
vreme	N:n	vreme
,	PUNCT	,
kvalitet	N:m	kvalitet
je	PRO	ona
besmrtnost	N:f	besmrtnost
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
ipak	PAR	ipak
žvaka	N:f	žvaka
kojoj	PRO	koji
ukus	N:m	ukus
kratko	A:aen	kratak
traje	N:m	traje
.	SENT	.
Sažvaćeš	A:aen	Sažvaćeš
,	PUNCT	,
ispljuneš	A:aem	ispljuneš
i	CONJ	i
uzmeš	V:m	uzmeš
sledeću	A:aem	sledeći
ako	CONJ	ako
ti	PRO	taj
ova	PRO	ovaj
prethodna	A:aen	prethodan
nije	N:n	nije
loše	ADV	loše
legla	V:f	leći
.	SENT	.
