Na	PREP	na
početku	N:m	početak
ovog	PRO	ovaj
filma	N:m	film
koji	PRO	koji
nam	PRO	mi
dolazi	N:m	dolaz
iz	PREP	iz
Australije	N:f	Australija
imamo	N:m	imamo
scenu	N:f	scena
iz	PREP	iz
10	NUM	@card@
.	PUNCT	.
000	NUM	@card@
godina	N:f	godina
pre	PREP	pre
nove	A:aef	nov
ere	N:f	era
u	PREP	u
kojoj	PRO	koji
čovek	N:m	čovek
slika	N:f	slika
na	PREP	na
toj	PRO	taj
steni	N:f	stena
.	SENT	.
Iza	PREP	iza
leđa	N:n	leđa
mu	PRO	on
prilazi	N:m	prilaz
nešto	ADV	nešto
što	CONJ	što
u	PREP	u
početku	N:m	početak
deluje	N:m	deluje
kao	CONJ	kao
čovek	N:m	čovek
,	PUNCT	,
međutim	PAR	međutim
zubići	N:m	zubić
upućuju	N:m	upućuju
na	PREP	na
nešto	ADV	nešto
drugo	A:aen	drugi
.	SENT	.
Skok	N:m	skok
u	PREP	u
današnjicu	N:f	današnjica
i	CONJ	i
ta	PRO	taj
ekipa	N:f	ekipa
stiže	A:aem	stiže
da	CONJ	da
istražuje	N:f	istražuje
tu	PRO	taj
stenu	N:f	stena
.	SENT	.
Vrlo	ADV	vrlo
brzo	ADV	brzo
se	PAR	se
otkriva	A:aen	otkriva
da	CONJ	da
nešto	PRO	nešto
postoji	N:m	postoji
u	PREP	u
pećini	N:f	pećina
pored	PREP	pored
slike	N:f	slika
.	SENT	.
Odatle	ADV	odatle
kreće	A:aen	kreće
ova	PRO	ovaj
priča	N:f	priča
sa	PREP	sa
zarazom	N:f	zaraza
i	CONJ	i
stvarima	N:f	stvar
koje	PRO	koji
su	N:m	su
priprema	N:f	priprema
za	PREP	za
nešto	PRO	nešto
veliko	A:aen	velik
što	CONJ	što
očekujete	A:aem	očekujete
da	CONJ	da
se	PAR	se
desi	N:m	desi
na	PREP	na
kraju	N:m	kraj
.	SENT	.
Transformacija	N:f	transformacija
likova	N:n	likovo
pod	PREP	pod
uticajem	N:m	uticaj
tog	PRO	taj
nečeg	PRO	nešto
je	PRO	ona
smešna	A:aem	smešan
.	SENT	.
Vidi	N:f	Vida
se	PAR	se
da	CONJ	da
su	N:m	su
glumcima	N:m	glumac
ugurali	V:m	ugurati
veštačke	A:aef	veštački
zube	N:m	zub
koji	PRO	koji
neprirodno	A:aen	neprirodan
štrče	N:n	štrče
i	CONJ	i
okrvavili	V:m	okrvaviti
ih	PRO	ona
.	SENT	.
Sve	ADV	sve
ostalo	V:n	ostati
je	PRO	ona
isto	A:aen	isti
.	SENT	.
U	PREP	u
jednoj	NUM	jedan
sceni	N:f	scena
ti	PRO	taj
isti	A:aem	isti
transformisani	A:aem	transformisan
likovi	N:m	lik
jure	N:f	jura
i	CONJ	i
skaču	V:m	skaču
barem	PAR	barem
deset	NUM	deset
puta	ADV	puta
brže	A:bef	brz
od	PREP	od
prirodnog	A:aem	prirodan
a	CONJ	a
potom	ADV	potom
vidite	N:m	vidite
scenu	N:f	scena
gde	CONJ	gde
jedna	NUM	jedan
od	PREP	od
tih	PRO	taj
spodoba	N:f	spodoba
juri	N:f	jura
za	PREP	za
nekim	PRO	neki
od	PREP	od
dobrih	A:aem	dobar
likova	N:m	lik
brzinom	N:f	brzina
tetke	N:f	tetka
sa	PREP	sa
gadnim	A:aem	gadan
išijasom	N:m	išijas
.	SENT	.
Ta	PRO	taj
promenljiva	A:aef	promenljiv
kretnja	N:f	kretnja
tih	PRO	taj
transformisanih	A:aen	transformisan
likova	N:n	likovo
je	PRO	ona
veliki	A:aem	velik
problem	N:m	problem
.	PUNCT	.
Kada	CONJ	kada
je	PRO	ona
spora	A:aef	spor
i	CONJ	i
prilično	ADV	prilično
ljudska	A:aem	ljudski
,	PUNCT	,
tu	PRO	taj
su	N:m	su
mogli	V:m	moći
malo	ADV	malo
zatresti	V:m	zatresti
kamerom	N:f	kamera
da	CONJ	da
se	PAR	se
dobije	N:n	dobije
na	PREP	na
efektu	N:m	efekt
jurcanja	N:n	jurcanje
i	CONJ	i
opasnosti	N:f	opasnost
.	SENT	.
Ovako	ADV	ovako
gledate	A:aem	gledate
tu	ADV	tu
opasnu	A:aef	opasan
i	CONJ	i
ubrzanu	A:aef	ubrzan
spodobu	N:f	spodoba
koja	PRO	koji
režeći	A:aem	režeći
ležerno	A:aen	ležeran
džogira	N:m	džogira
iza	PREP	iza
lovine	N:f	lovina
.	SENT	.
Drugi	A:aem	drugi
veliki	A:aem	velik
problem	N:m	problem
su	PREF	su
specijalni	A:aem	specijalan
efekti	N:m	efekt
.	SENT	.
U	PREP	u
jednoj	NUM	jedan
sceni	N:f	scena
spodoba	N:f	spodoba
hvata	N:m	hvat
i	CONJ	i
baca	N:m	baca
devojku	N:f	devojka
i	CONJ	i
u	PREP	u
momentu	N:m	moment
bacanja	N:n	bacanje
i	CONJ	i
početka	N:m	početak
leta	N:n	leto
vidite	N:m	vidite
lutku	N:f	lutka
koja	PRO	koji
drži	N:m	drži
ruke	N:f	ruka
unapred	ADV	unapred
i	CONJ	i
sprema	N:f	sprema
se	PAR	se
da	CONJ	da
se	PAR	se
dočeka	N:m	doček
slepoočnicom	N:f	slepoočnica
.	SENT	.
Relativno	ADV	relativno
brzo	ADV	brzo
ćete	N:m	ćete
skontati	N:m	skontati
da	CONJ	da
cela	A:aef	ceo
ova	PRO	ovaj
priča	N:f	priča
vodi	N:f	voda
ka	PREP	ka
nečemu	PRO	nešto
tj	ABB	tj
.	PUNCT	.
da	CONJ	da
priprema	N:f	priprema
polje	N:n	polje
za	PREP	za
nešto	ADV	nešto
jezivo	ADV	jezivo
.	SENT	.
To	PRO	taj
se	PAR	se
odlaže	N:n	odlaže
do	PREP	do
zadnjih	A:aem	zadnji
momenata	N:m	moment
tako	ADV	tako
kad	CONJ	kad
to	PRO	taj
dođe	A:aem	dođe
i	CONJ	i
bude	A:aem	bude
rezultat	N:m	rezultat
još	ADV	još
jadnijih	A:ben	jadan
efekata	N:m	efekt
,	PUNCT	,
osećaćete	N:m	osećaćete
se	PAR	se
prilično	ADV	prilično
razočarano	ADV	razočarano
.	SENT	.
Film	N:m	film
generalno	A:aen	generalan
nije	A:aem	nije
promašaj	N:m	promašaj
.	SENT	.
Imao	V:m	imati
je	PRO	ona
nekoliko	ADV	nekoliko
finih	A:aef	fin
ideja	N:f	ideja
ali	CONJ	ali
šteta	N:f	šteta
što	PRO	što
se	PAR	se
završio	V:m	završiti
pomalo	ADV	pomalo
neupečatljivo	A:aen	neupečatljivo
.	SENT	.
Dobra	A:aef	dobar
stvar	N:f	stvar
je	PRO	ona
što	PRO	što
nije	N:m	nije
završen	V:m	završiti
standardnim	A:aef	standardan
'	N:m	'
još	ADV	još
nije	A:aem	nije
gotovo	ADV	gotovo
,	PUNCT	,
ali	CONJ	ali
na	PREP	na
debilan	A:aem	debilan
način	N:m	način
'	A:aem	'
fazonom	N:m	fazon
.	SENT	.
Sasvim	ADV	sasvim
ok	A:aem	ok
hororčić	N:m	hororčić
za	PREP	za
jedno	NUM	jedan
gledanje	N:n	gledanje
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
