Agenti	N:m	agent
Mosada	N:f	Mosada
su	N:m	su
bili	V:m	biti
u	PREP	u
akciji	N:f	akcija
hvatanja	N:n	hvatanje
čuvenog	A:aem	čuven
nacističkog	A:aem	nacistički
zločinca	N:m	zločinac
,	PUNCT	,
tzv	ABB	tzv
doktora	N:m	doktor
iz	PREP	iz
Birkenaua	N:m	Birkenaua
.	SENT	.
Opako	N:f	Opaka
dobra	A:aef	dobar
tema	N:f	tema
.	SENT	.
Uvek	ADV	uvek
se	PAR	se
rado	ADV	rado
prisetim	A:aem	prisetim
majstorskog	A:aem	majstorski
filma	N:m	film
Momci	N:m	momak
iz	PREP	iz
Brazila	N:m	Brazil
.	PUNCT	.
Naravno	PAR	naravno
nisam	N:m	nisam
očekivao	V:m	očekivati
od	PREP	od
ovoga	PRO	ovaj
da	CONJ	da
bude	A:aem	bude
ni	PAR	ni
upola	ADV	upola
tako	ADV	tako
dobar	A:aem	dobar
,	PUNCT	,
ali	CONJ	ali
moram	N:m	moram
priznati	V:m	priznati
da	CONJ	da
mi	PRO	ja
je	PRO	ona
tema	N:f	tema
prilično	ADV	prilično
dopadljiva	A:aem	dopadljiv
.	PUNCT	.
E	CONJ	e
sada	ADV	sada
,	PUNCT	,
to	PRO	taj
je	PRO	ona
prilično	ADV	prilično
zahtevna	A:aen	zahtevan
tema	N:f	tema
.	PUNCT	.
Ne	PAR	ne
možeš	A:aen	možeš
da	CONJ	da
serviraš	A:aen	serviraš
priču	N:f	priča
o	PREP	o
nečemu	PRO	nešto
što	CONJ	što
ima	A:aem	ima
istorijsku	A:aem	istorijski
pozadinu	N:f	pozadina
a	CONJ	a
da	CONJ	da
napraviš	V:n	napraviš
neko	PRO	neki
karikirano	A:aen	karikiran
sranje	N:n	sranje
.	SENT	.
Drugi	A:aem	drugi
veliki	A:aem	velik
zadatak	N:m	zadatak
je	PRO	ona
sama	PRO	sam
špijunska	A:aef	špijunski
igra	N:f	igra
.	PUNCT	.
Ne	PAR	ne
možeš	A:aem	možeš
da	CONJ	da
pošalješ	A:aem	pošalješ
balvane	N:m	balvan
da	CONJ	da
hvataju	N:m	hvataju
neko	PRO	neki
tako	ADV	tako
bitno	A:aen	bitan
ime	N:n	ime
.	SENT	.
Film	N:m	film
je	PRO	ona
pred	PREP	pred
sebe	PRO	sebe
postavio	V:m	postaviti
veliki	A:aem	velik
zadatak	N:m	zadatak
.	SENT	.
Sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
ekipa	N:f	ekipa
glumaca	N:m	glumac
je	PRO	ona
po	PREP	po
mom	PRO	moj
ukusu	N:m	ukus
.	SENT	.
Helen	N:f	Helen
Miren	N:m	Miren
,	PUNCT	,
Tom	N:m	Tom
Vilkinson	N:m	Vilkinson
,	PUNCT	,
Kiaren	N:m	Kiaren
Hajnds	N:m	Hajnds
,	PUNCT	,
sve	ADV	sve
bolja	A:bef	dobar
Džesika	N:f	Džesika
Častejn	N:m	Častejn
su	N:m	su
obećavali	V:m	obećavati
da	CONJ	da
mogu	N:m	Mog
da	CONJ	da
naprave	N:f	naprava
nešto	ADV	nešto
dobro	ADV	dobro
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
mi	PRO	ja
se	PAR	se
nije	V:n	nije
dopalo	V:n	dopasti
a	CONJ	a
što	PRO	što
se	PAR	se
videlo	V:n	videti
od	PREP	od
prvog	A:aem	prvi
momenta	N:m	moment
,	PUNCT	,
pošto	CONJ	pošto
imamo	N:m	imamo
tri	NUM	tri
agenta	N:m	agent
,	PUNCT	,
veliki	A:aem	velik
deo	N:m	deo
priče	N:f	priča
će	A:aem	će
zauzimati	N:m	zauzimati
taj	PRO	taj
njihov	PRO	njihov
ljubavni	A:aem	ljubavan
trougao	N:m	trougao
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
mogu	A:aen	mogu
da	CONJ	da
podnesem	N:m	podnesem
tu	PRO	taj
priču	N:f	priča
ali	CONJ	ali
mislim	A:aef	mislim
da	CONJ	da
su	PREF	su
imali	V:m	imati
pogrešan	A:aem	pogrešan
pristup	N:m	pristup
.	SENT	.
Potpuno	ADV	potpuno
patetični	A:aem	patetičan
ljubavni	A:aem	ljubavan
trougao	N:m	trougao
je	PRO	ona
bio	V:m	biti
užasno	ADV	užasno
nepotreban	A:aem	nepotreban
.	SENT	.
Realno	ADV	realno
,	PUNCT	,
moglo	V:n	moći
je	PRO	ona
da	CONJ	da
padne	A:aem	padni
jedno	NUM	jedan
obično	ADV	obično
zaljubljivanje	N:n	zaljubljivanje
i	CONJ	i
malo	A:aen	mali
ljubomore	N:f	ljubomora
.	SENT	.
Ovako	ADV	ovako
su	N:m	su
otišli	V:m	otići
predaleko	ADV	predaleko
i	CONJ	i
neretko	ADV	neretko
kroz	PREP	kroz
film	N:m	film
ta	PRO	taj
patetična	A:aef	patetičan
priča	N:f	priča
baca	N:m	baca
u	PREP	u
senku	N:f	senka
celu	A:aef	ceo
realnu	A:aef	realan
dramu	N:f	drama
ove	PRO	ovaj
trojke	N:n	trojke
i	CONJ	i
priču	N:f	priča
o	PREP	o
doktoru	N:m	doktor
iz	PREP	iz
Birkenaua	N:m	Birkenaua
.	SENT	.
Realno	ADV	realno
,	PUNCT	,
šta	PRO	šta
želite	N:m	želite
da	CONJ	da
gledate	N:m	gledate
:	SENT	:
'	A:aem	'
Ah	N:m	Ah
tebe	PRO	ti
volim	A:aem	volim
ali	CONJ	ali
moram	N:m	moram
da	CONJ	da
budem	N:m	budem
sa	PREP	sa
ovim	PRO	ovaj
drugim	A:aem	drugi
'	N:m	'
ili	CONJ	ili
'	N:m	'
u	PREP	u
gadnom	A:aef	gadan
smo	N:f	smo
psihičkom	A:aen	psihički
stanju	N:n	stanje
jer	CONJ	jer
smo	N:f	smo
u	PREP	u
strašnoj	A:aef	strašan
opasnosti	N:f	opasnost
zbog	PREP	zbog
zajebanog	A:aem	zajeban
zadatka	N:m	zadatak
'	N:m	'
?	SENT	?
Ceo	A:aem	ceo
ovaj	PRO	ovaj
segment	N:m	segment
vadi	N:f	vadi
,	PUNCT	,
za	PREP	za
mene	PRO	ja
opako	A:aen	opak
prijatno	A:aen	prijatan
iznenađenje	N:n	iznenađenje
,	PUNCT	,
gluma	N:f	gluma
i	CONJ	i
sasvim	ADV	sasvim
zanimljiv	A:aem	zanimljiv
lik	N:m	lik
Džesike	N:f	Džesika
Častejn	N:m	Častejn
.	SENT	.
Druga	A:aef	drugi
dva	NUM	dva
lika	N:m	lik
su	N:m	su
patetični	A:aem	patetičan
emo	A:aem	emo
holivudizovani	A:aem	holivudizovani
lik	N:m	lik
i	CONJ	i
pun	A:aem	pun
sebe	PRO	sebe
holivudizovani	A:aem	holivudizovani
lik	N:m	lik
.	SENT	.
Njih	PRO	ona
dvojica	N:f	dvojica
su	N:m	su
zanimljivi	A:aem	zanimljiv
kao	CONJ	kao
svaka	PRO	svaki
domaća	A:aem	domaći
tok	N:m	tok
šou	N:m	šou
emisija	N:f	emisija
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
od	PREP	od
Helen	N:f	Helen
Miren	N:m	Miren
i	CONJ	i
Toma	N:m	Toma
Vilkinsona	N:m	Vilkinson
naravno	PAR	naravno
da	CONJ	da
svaki	PRO	svaki
put	N:f	put
dobijemo	A:aen	dobijemo
majstorluk	N:m	majstorluk
.	SENT	.
Izgleda	N:m	izgled
da	CONJ	da
posle	PREP	posle
dugo	A:aen	dug
godina	N:f	godina
imamo	N:m	imamo
jednu	NUM	jedan
mladu	A:aef	mlad
glumicu	N:f	glumica
vrednu	A:aef	vredan
pažnje	N:f	pažnja
.	SENT	.
Nadajmo	N:f	Nadajmo
se	PAR	se
da	CONJ	da
će	A:aen	će
dobiti	N:f	dobit
odgovarajuće	A:aef	odgovarajući
uloge	N:f	uloga
a	CONJ	a
tu	PRO	taj
ne	PAR	ne
mislim	A:aen	mislim
na	PREP	na
onu	PRO	onaj
poput	PREP	poput
idiotske	A:aef	idiotski
iz	PREP	iz
isto	ADV	isto
takvog	PRO	takav
The	INT	The
Help	N:m	Help
-	PUNCT	-
a	CONJ	a
.	SENT	.
Ceo	A:aem	ceo
film	N:m	film
se	PAR	se
nekako	ADV	nekako
prepliću	V:m	prepliću
emotivna	A:aef	emotivan
i	CONJ	i
psihološka	A:aen	psihološki
drama	N:f	drama
likova	N:n	likovo
sa	PREP	sa
ovom	PRO	ovaj
pričom	N:f	priča
o	PREP	o
hvatanju	N:n	hvatanje
doktora	N:m	doktor
.	SENT	.
To	PRO	taj
je	PRO	ona
dobro	ADV	dobro
u	PREP	u
momentima	N:m	moment
kada	CONJ	kada
oni	PRO	onaj
pizde	N:f	pizda
zbog	PREP	zbog
misije	N:f	misija
.	SENT	.
Velika	A:aen	velik
opasnost	N:f	opasnost
,	PUNCT	,
veliko	A:aen	velik
opterećenje	N:n	opterećenje
-	PUNCT	-
sasvim	ADV	sasvim
je	PRO	ona
shvatljivo	A:aen	shvatljiv
da	CONJ	da
čovek	N:m	čovek
postaje	N:f	postaja
nervozan	A:aem	nervozan
.	SENT	.
Problem	N:m	problem
je	PRO	ona
čim	CONJ	čim
se	PAR	se
pređe	ADV	pređe
na	PREP	na
one	PRO	onaj
emotivne	A:aef	emotivan
pizdarije	N:f	pizdarija
.	SENT	.
Tu	PRO	taj
se	PAR	se
dosta	ADV	dosta
izgubi	A:aem	izgubi
na	PREP	na
kvalitetu	N:m	kvalitet
.	SENT	.
Mogli	V:m	moći
su	N:m	su
se	PAR	se
opredeliti	N:f	opredeliti
za	PREP	za
jednostavnu	A:aef	jednostavan
emotivnu	A:aef	emotivan
priču	N:f	priča
i	CONJ	i
svi	PRO	sav
bi	N:f	bi
bili	V:m	biti
srećni	A:aem	srećan
ko	CONJ	ko
mali	A:aem	mali
majmuni	N:m	majmun
.	SENT	.
Svi	PRO	sav
likovi	N:m	lik
kao	CONJ	kao
imaju	N:f	imaju
neku	PRO	neki
tešku	A:aef	težak
prošlost	N:f	prošlost
.	SENT	.
U	PREP	u
slučaju	N:m	slučaj
Džesikinog	A:aem	Džesikinog
lika	N:m	lik
,	PUNCT	,
to	PRO	taj
je	PRO	ona
suptilno	A:aen	suptilan
,	PUNCT	,
upečatljivo	ADV	upečatljivo
i	CONJ	i
taman	PAR	taman
toliko	ADV	toliko
dobro	ADV	dobro
da	CONJ	da
se	PAR	se
uklopi	N:m	uklopi
u	PREP	u
celu	A:aef	ceo
priču	N:f	priča
.	SENT	.
Sve	PRO	sav
što	PRO	što
znamo	N:m	znamo
o	PREP	o
toj	PRO	taj
njenoj	PRO	njen
drami	N:f	drama
stane	N:m	stan
u	PREP	u
jednu	NUM	jedan
rečenicu	N:f	rečenica
ali	CONJ	ali
je	PRO	ona
i	CONJ	i
više	ADV	više
nego	CONJ	nego
dovoljno	ADV	dovoljno
.	SENT	.
U	PREP	u
slučaju	N:m	slučaj
Vortingtona	N:m	Vortingtona
,	PUNCT	,
tužnjikavog	A:aem	tužnjikavog
paćenika	N:m	paćenik
tragične	A:aef	tragičan
sudbine	N:f	sudbina
,	PUNCT	,
prešli	V:m	preći
su	N:m	su
svaku	PRO	svaki
meru	N:f	mera
sa	PREP	sa
patetisanjem	N:n	patetisanjem
.	PUNCT	.
E	CONJ	e
sada	ADV	sada
,	PUNCT	,
imamo	N:m	imamo
i	CONJ	i
tog	PRO	taj
zločinca	N:m	zločinac
.	SENT	.
Hirurg	N:m	hirurg
iz	PREP	iz
Birkenaua	N:m	Birkenaua
koji	PRO	koji
je	PRO	ona
izvršavao	V:m	izvršavati
eksperimente	N:m	eksperiment
na	PREP	na
ljudima	N:m	ljudi
je	PRO	ona
horor	N:m	horor
sam	A:aem	sam
po	PREP	po
sebi	PRO	sebe
.	SENT	.
Šta	A:aem	Šta
mi	PRO	ja
od	PREP	od
svega	PRO	sav
toga	PRO	taj
vidimo	N:f	vidimo
?	PUNCT	?
Samo	CONJ	samo
nekoliko	ADV	nekoliko
slika	N:f	slika
.	SENT	.
Ček	N:m	Ček
bre	INT	bre
,	PUNCT	,
pa	CONJ	pa
zašto	CONJ	zašto
samo	PAR	samo
to	PRO	taj
?	PUNCT	?
Hoćeš	A:aem	Hoćeš
da	CONJ	da
mi	PRO	ja
kažeš	N:m	kažeš
da	CONJ	da
je	PRO	ona
to	PRO	taj
neki	PRO	neki
kolosalni	A:aem	kolosalan
zločinac	N:m	zločinac
a	CONJ	a
jedva	ADV	jedva
šta	PRO	šta
pomeneš	N:m	pomeneš
od	PREP	od
njegovih	PRO	njegov
dela	N:n	delo
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
tu	PRO	taj
zver	N:f	zver
najaviš	V:m	najaviš
propisno	ADV	propisno
,	PUNCT	,
vreme	N:n	vreme
se	PAR	se
troši	V:m	troši
na	PREP	na
druge	A:aem	drugi
stvari	N:f	stvar
.	SENT	.
Zamislite	N:m	Zamislite
sad	ADV	sad
ovo	PRO	ovaj
.	PUNCT	.
Dali	V:m	dati
su	N:m	su
nam	PRO	mi
brdo	N:n	brdo
podataka	N:m	podatak
o	PREP	o
tom	PRO	taj
čovi	N:m	čova
,	PUNCT	,
dali	V:m	dati
su	N:m	su
nam	PRO	mi
neke	PRO	neki
slike	N:f	slika
,	PUNCT	,
jezive	A:aef	jeziv
činjenice	N:f	činjenica
,	PUNCT	,
pa	CONJ	pa
zašto	ADV	zašto
ne	PAR	ne
i	CONJ	i
neki	PRO	neki
snimak	N:m	snimak
dok	CONJ	dok
se	PAR	se
priča	N:f	priča
o	PREP	o
njemu	PRO	on
.	SENT	.
Kad	CONJ	kad
već	PAR	već
dođe	A:aem	dođe
prvi	A:aem	prvi
susret	N:m	susret
sa	PREP	sa
njim	PRO	on
,	PUNCT	,
bili	V:m	biti
bi	A:aem	bi
preplašeni	A:aem	preplašen
zajedno	ADV	zajedno
sa	PREP	sa
jadnom	A:aem	jadan
Rejčel	N:f	Rejčel
(	PUNCT	(
Džesika	N:f	Džesika
Častejn	N:m	Častejn
)	PUNCT	)
.	SENT	.
Ovako	ADV	ovako
znamo	ADV	znamo
da	CONJ	da
je	PRO	ona
to	PRO	taj
eto	PAR	eto
tako	ADV	tako
neki	PRO	neki
čuveni	A:aem	čuven
zločinac	N:m	zločinac
i	CONJ	i
onda	ADV	onda
gledamo	N:f	gledamo
deku	N:f	deka
koji	PRO	koji
radi	PREP	radi
sad	ADV	sad
kao	ADV	kao
doktor	N:m	doktor
.	PUNCT	.
Ok	N:m	Ok
,	PUNCT	,
deluje	N:m	deluje
on	PRO	on
i	PAR	i
ovako	ADV	ovako
zajebano	V:n	zajebati
,	PUNCT	,
ali	CONJ	ali
čoveče	N:m	čovek
,	PUNCT	,
mogao	V:m	moći
si	PRO	sebe
napraviti	V:m	napraviti
kolosalnu	A:aef	kolosalan
zver	N:f	zver
koja	PRO	koji
bi	N:f	bi
ulivala	V:f	ulivati
strah	N:m	strah
i	CONJ	i
budila	V:f	buditi
neopisivu	A:aef	neopisiv
mržnju	N:f	mržnja
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
same	PRO	sam
špijunske	A:aef	špijunski
akcije	N:f	akcija
,	PUNCT	,
to	PRO	taj
je	PRO	ona
prilično	ADV	prilično
jednostavno	ADV	jednostavno
,	PUNCT	,
bez	PREP	bez
puno	A:aen	pun
mrsomuđenja	N:n	mrsomuđenja
.	SENT	.
Što	N:m	Što
se	PAR	se
mene	PRO	ja
tiče	N:n	tiče
,	PUNCT	,
to	PRO	taj
je	PRO	ona
sasvim	ADV	sasvim
ok	A:aem	ok
.	PUNCT	.
Bolje	ADV	bolje
i	CONJ	i
tako	ADV	tako
nego	CONJ	nego
lupetati	A:aem	lupetati
.	SENT	.
Sve	PRO	sav
je	PRO	ona
to	PRO	taj
prihvatljivo	A:aen	prihvatljiv
za	PREP	za
mene	PRO	ja
,	PUNCT	,
naravno	PAR	naravno
zbog	PREP	zbog
odličnog	A:aem	odličan
ženskog	A:aem	ženski
lika	N:m	lik
.	SENT	.
Zapravo	ADV	zapravo
to	PRO	taj
je	PRO	ona
jedini	A:aem	jedini
lik	N:m	lik
sa	PREP	sa
kojim	PRO	koji
možemo	A:aen	možemo
da	CONJ	da
se	PAR	se
kako	ADV	kako
tako	ADV	tako
povežemo	A:aen	povežemo
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
mi	PRO	ja
se	PAR	se
nije	V:n	nije
dopalo	V:n	dopasti
je	PRO	ona
kada	CONJ	kada
misija	N:f	misija
kreće	A:aef	kreće
po	PREP	po
zlu	A:aem	zao
.	SENT	.
Jadan	A:aem	jadan
mi	PRO	ja
je	PRO	ona
ovo	PRO	ovaj
razlog	N:m	razlog
.	PUNCT	.
Ako	CONJ	ako
si	PRO	sebe
agent	N:m	agent
,	PUNCT	,
znaš	INT	znaš
što	CONJ	što
si	PRO	sebe
agent	N:m	agent
.	PUNCT	.
Ali	CONJ	ali
dobro	ADV	dobro
,	PUNCT	,
ako	CONJ	ako
si	PRO	sebe
agent	N:m	agent
,	PUNCT	,
nisi	N:m	nisi
emo	A:aem	emo
paćenik	N:m	paćenik
tako	ADV	tako
da	CONJ	da
od	PREP	od
ovakvih	PRO	ovakav
likova	N:n	likovo
nisam	N:m	nisam
ni	PAR	ni
očekivao	V:m	očekivati
više	ADV	više
.	PUNCT	.
E	CONJ	e
sada	ADV	sada
,	PUNCT	,
imamo	N:m	imamo
ponovo	ADV	ponovo
onaj	PRO	onaj
odnos	N:m	odnos
između	PREP	između
otmičara	N:m	otmičar
i	CONJ	i
taoca	N:m	talac
.	SENT	.
Ako	CONJ	ako
izuzmemo	N:f	izuzmemo
scene	N:f	scena
između	PREP	između
doktora	N:m	doktor
i	CONJ	i
Rejčel	N:f	Rejčel
,	PUNCT	,
sve	PRO	sav
ostalo	V:n	ostati
je	PRO	ona
već	PAR	već
previše	ADV	previše
puta	ADV	puta
viđeno	V:n	viditi
sranje	N:n	sranje
.	SENT	.
Jasno	ADV	jasno
se	PAR	se
vidi	N:f	vida
kada	CONJ	kada
doca	N:m	doca
preuzima	A:aef	preuzima
inicijativu	N:f	inicijativa
i	CONJ	i
počinje	N:f	počinje
da	CONJ	da
trpa	N:m	trp
u	PREP	u
mozak	N:m	mozak
agente	N:m	agent
.	SENT	.
Ništa	N:f	Ništa
od	PREP	od
toga	PRO	taj
mi	PRO	ja
nije	N:m	nije
bilo	V:n	biti
vredno	A:aen	vredan
pažnje	N:f	pažnja
osim	PREP	osim
odnosa	N:m	odnos
doce	N:f	doca
i	CONJ	i
Rejčel	N:f	Rejčel
.	SENT	.
Kad	CONJ	kad
kreće	A:aem	kreće
po	PREP	po
zlu	A:aem	zao
,	PUNCT	,
čovek	N:m	čovek
ne	PAR	ne
može	A:aem	može
baš	PAR	baš
da	CONJ	da
se	PAR	se
kontroliše	N:f	kontroliše
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
kada	CONJ	kada
su	N:m	su
dani	N:m	dan
ustaljeni	A:aem	ustaljen
,	PUNCT	,
kada	CONJ	kada
smo	N:f	smo
non	N:m	non
stop	N:m	stop
zaokupljeni	V:m	zaokupiti
istim	A:aef	isti
stvarima	N:f	stvar
u	PREP	u
istom	A:aem	isti
prostoru	N:m	prostor
,	PUNCT	,
nervoza	N:f	nervoza
je	PRO	ona
velika	A:aen	velik
.	PUNCT	.
Još	A:aen	Još
na	PREP	na
sve	PRO	sav
to	PRO	taj
ako	CONJ	ako
smo	N:f	smo
pod	PREP	pod
pritiskom	N:m	pritisak
,	PUNCT	,
e	CONJ	e
onda	CONJ	onda
smo	N:f	smo
u	PREP	u
stanju	N:n	stanje
da	CONJ	da
ujedamo	ADV	ujedamo
.	SENT	.
To	PRO	taj
se	PAR	se
ovde	ADV	ovde
lepo	ADV	lepo
vidi	N:f	vida
tj	ABB	tj
.	SENT	.
lepo	ADV	lepo
je	PRO	ona
preneto	V:n	preneti
na	PREP	na
film	N:m	film
i	CONJ	i
to	PRO	taj
ne	PAR	ne
samo	PAR	samo
kroz	PREP	kroz
Rejčel	N:f	Rejčel
već	CONJ	već
i	CONJ	i
kroz	PREP	kroz
preostala	A:aef	preostali
dva	NUM	dva
balvana	N:m	balvan
.	SENT	.
Ono	PRO	onaj
glavno	ADV	glavno
valjda	ADV	valjda
dolazi	N:m	dolaz
pred	PREP	pred
kraj	N:m	kraj
,	PUNCT	,
kada	CONJ	kada
se	PAR	se
saznaje	V:n	saznaje
neka	PRO	neki
velika	A:aen	velik
tajna	N:f	tajna
.	SENT	.
To	PRO	taj
jeste	INT	jeste
dobro	ADV	dobro
.	SENT	.
Mračna	A:aef	Mračna
tajna	N:f	tajna
je	PRO	ona
nešto	ADV	nešto
što	CONJ	što
proganja	N:n	proganja
čoveka	N:m	čovek
.	SENT	.
Teško	A:aem	Teško
je	PRO	ona
zamisliti	A:aem	zamisliti
mentalni	A:aem	mentalan
sklop	N:m	sklop
i	CONJ	i
psihičko	A:aen	psihički
stanje	N:n	stanje
nekog	PRO	neki
ko	PRO	ko
toliko	ADV	toliko
godina	N:f	godina
drži	N:m	drži
teret	N:m	teret
na	PREP	na
sebi	PRO	sebe
.	PUNCT	.
E	CONJ	e
to	PRO	taj
je	PRO	ona
mogao	V:m	moći
biti	N:f	bit
dobar	A:aem	dobar
završni	A:aem	završan
udarac	N:m	udarac
na	PREP	na
sve	PRO	sav
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
nisam	N:m	nisam
mogao	V:m	moći
biti	N:f	bit
zadovoljan	A:aem	zadovoljan
.	SENT	.
Ovo	PRO	ovaj
izgleda	N:m	izgled
kao	ADV	kao
da	CONJ	da
pevate	N:m	pevate
pesmu	N:f	pesma
a	CONJ	a
svaku	PRO	svaki
notu	N:f	nota
pevate	N:m	pevate
više	ADV	više
ili	CONJ	ili
niže	ADV	niže
nego	CONJ	nego
što	CONJ	što
bi	A:aen	bi
trebalo	V:n	trebati
.	SENT	.
U	PREP	u
momentu	N:m	moment
kada	CONJ	kada
akcenat	N:m	akcent
treba	N:f	treba
da	CONJ	da
bude	A:aem	bude
na	PREP	na
psihi	N:f	psiha
,	PUNCT	,
bacamo	N:f	bacamo
se	PAR	se
na	PREP	na
patetičnu	A:aef	patetičan
ljubavnu	A:aef	ljubavan
priču	N:f	priča
.	SENT	.
U	PREP	u
momentu	N:m	moment
kada	CONJ	kada
špijunska	A:aef	špijunski
igra	N:f	igra
treba	N:f	treba
da	CONJ	da
preuzme	A:aef	preuzme
ulogu	N:f	uloga
,	PUNCT	,
bacimo	N:m	bacimo
se	PAR	se
na	PREP	na
merenje	N:n	merenje
đoka	A:aef	đoka
.	SENT	.
U	PREP	u
momentu	N:m	moment
kad	CONJ	kad
drama	N:f	drama
treba	N:f	treba
da	CONJ	da
nastupi	N:m	nastup
,	PUNCT	,
odemo	N:f	odemo
u	PREP	u
neku	PRO	neki
letargiju	N:f	letargija
.	PUNCT	.
I	CONJ	i
na	PREP	na
kraju	N:m	kraj
kao	CONJ	kao
neki	PRO	neki
likovi	N:m	lik
doživljavaju	N:m	doživljavaju
otkrovenje	N:n	otkrovenje
i	CONJ	i
čine	N:m	čin
pravednu	A:aen	pravedan
stvar	N:f	stvar
.	SENT	.
To	PRO	taj
ne	PAR	ne
da	CONJ	da
nema	A:aem	nem
smisla	N:m	smisao
već	CONJ	već
nema	A:aem	nem
svrhe	N:f	svrha
.	SENT	.
Imalo	V:n	imati
bi	A:aef	bi
svrhe	N:f	svrha
da	CONJ	da
time	PRO	taj
likovi	N:m	lik
zapravo	ADV	zapravo
govore	N:m	govor
nešto	ADV	nešto
,	PUNCT	,
da	CONJ	da
time	PRO	taj
imaju	N:f	imaju
uticaj	N:m	uticaj
na	PREP	na
bilo	V:n	biti
šta	PRO	šta
.	SENT	.
Film	N:m	film
izgleda	N:m	izgled
kao	CONJ	kao
pikado	N:n	pikado
meč	N:m	meč
između	PREP	između
pet	NUM	pet
takmičara	N:m	takmičar
gde	CONJ	gde
je	PRO	ona
svako	PRO	svaki
gađao	V:m	gađati
tuđu	A:aen	tuđ
metu	N:f	meta
.	SENT	.
Sve	PRO	sav
se	PAR	se
dešava	V:m	dešava
u	PREP	u
pogrešno	ADV	pogrešno
vreme	N:n	vreme
,	PUNCT	,
sve	PRO	sav
se	PAR	se
pokazuje	N:m	pokazuje
na	PREP	na
pogrešan	A:aem	pogrešan
način	N:m	način
,	PUNCT	,
akcenat	N:m	akcent
se	PAR	se
baca	N:m	baca
na	PREP	na
nebitne	A:aef	nebitan
stvari	N:f	stvar
i	CONJ	i
rezultat	N:m	rezultat
je	PRO	ona
nerešen	A:aem	nerešen
-	PUNCT	-
niko	PRO	niko
ništa	PRO	ništa
nije	N:m	nije
pogodio	V:m	pogoditi
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
bilo	V:n	biti
ok	A:aem	ok
gledati	N:m	gledati
,	PUNCT	,
čisto	ADV	čisto
zbog	PREP	zbog
nade	N:f	nada
da	CONJ	da
će	V:m	će
neko	PRO	neki
od	PREP	od
njih	PRO	ona
skontati	N:m	skontati
gde	CONJ	gde
treba	N:f	treba
da	CONJ	da
udara	N:m	udar
.	SENT	.
