Na	PREP	na
samom	PRO	sam
početku	N:m	početak
nam	PRO	mi
serviraju	N:m	serviraju
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
istinita	A:aef	istinit
priča	N:f	priča
što	CONJ	što
automatski	ADV	automatski
u	PREP	u
meni	PRO	ja
stvara	N:m	stvara
averziju	N:f	averzija
prema	PREP	prema
filmu	N:m	film
.	SENT	.
Imamo	N:m	Imamo
momka	N:m	momak
koji	PRO	koji
je	PRO	ona
teško	ADV	teško
bolestan	A:aem	bolestan
i	CONJ	i
zbog	PREP	zbog
njega	PRO	on
porodica	N:f	porodica
je	PRO	ona
prisiljena	V:m	prisiliti
da	CONJ	da
se	PAR	se
preseli	V:m	presesti
u	PREP	u
ovu	PRO	ovaj
kuću	N:f	kuća
.	SENT	.
Na	PREP	na
samom	PRO	sam
početku	N:m	početak
film	N:m	film
se	PAR	se
bazira	V:m	bazira
na	PREP	na
onim	PRO	onaj
brzim	A:aef	brz
prepadajućim	A:aef	prepadajućim
scenama	N:f	scena
.	SENT	.
Moram	N:m	Moram
priznati	A:aem	priznat
da	CONJ	da
su	PREF	su
neke	PRO	neki
od	PREP	od
njih	PRO	ona
zaista	PAR	zaista
dobre	A:aem	dobar
.	SENT	.
Problem	N:m	problem
je	PRO	ona
što	PRO	što
su	N:m	su
ih	PRO	ona
ovde	ADV	ovde
toliko	ADV	toliko
učestali	V:m	učestati
da	CONJ	da
će	V:m	će
one	PRO	onaj
postati	N:m	postati
potpuno	ADV	potpuno
predvidive	A:aem	predvidiv
pa	CONJ	pa
i	CONJ	i
dosadne	A:aem	dosadan
.	SENT	.
Druga	A:aef	drugi
stvar	N:f	stvar
je	PRO	ona
sama	PRO	sam
priča	N:f	priča
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
istorija	N:f	istorija
kuće	N:f	kuća
.	SENT	.
Teško	A:aem	Teško
bolesni	A:aem	bolestan
klinac	N:m	klinac
vidi	N:f	vida
neke	PRO	neki
stvari	N:f	stvar
koje	PRO	koji
su	N:m	su
se	PAR	se
dešavale	V:f	dešavati
u	PREP	u
kući	N:f	kuća
ali	CONJ	ali
i	CONJ	i
te	PRO	taj
vizije	N:f	vizija
su	N:m	su
totalno	A:aen	totalan
impotentne	A:aef	impotentan
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
nam	PRO	mi
se	PAR	se
prikaže	V:n	prikaže
nešto	ADV	nešto
šokantno	A:aen	šokantan
,	PUNCT	,
iz	PREP	iz
čega	PRO	šta
bi	N:m	bi
videli	V:m	videti
neku	PRO	neki
jaču	A:bef	jak
opasnost	N:f	opasnost
za	PREP	za
ljude	N:m	ljudi
u	PREP	u
kući	N:f	kuća
,	PUNCT	,
servira	N:m	servira
nam	PRO	mi
se	PAR	se
ona	PRO	ona
klasična	A:aem	klasičan
priča	N:f	priča
o	PREP	o
uznemirenim	A:aem	uznemiren
duhovima	N:m	duh
.	PUNCT	.
Ne	PAR	ne
znam	N:m	znam
kako	CONJ	kako
to	PRO	taj
ljudima	N:m	ljudi
ne	PAR	ne
dosadi	N:f	dosada
.	SENT	.
Neko	PRO	neki
je	PRO	ona
tom	PRO	taj
duhu	N:m	duh
za	PREP	za
života	N:m	život
stiskao	V:m	stiskati
pastu	N:f	pasta
od	PREP	od
sredine	N:f	sredina
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
on	PRO	on
vraća	A:aen	vraća
da	CONJ	da
uznemirava	A:aen	uznemirava
tog	PRO	taj
istog	A:aen	isti
lika	N:m	lik
ili	CONJ	ili
neke	PRO	neki
koji	PRO	koji
obitavaju	N:m	obitavaju
na	PREP	na
mestu	N:n	mesto
gde	CONJ	gde
je	PRO	ona
on	PRO	on
bio	V:m	biti
.	SENT	.
Zbog	PREP	zbog
toga	PRO	taj
nisam	N:m	nisam
bio	V:m	biti
fasciniran	A:aem	fasciniran
izuzento	N:m	izuzento
cenjenim	A:aem	cenjen
Devil	N:m	Devil
'	A:aem	'
s	PREP	s
Backbone	N:m	Backbone
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
prvi	A:aem	prvi
film	N:m	film
koji	PRO	koji
gledam	N:m	gledam
da	CONJ	da
se	PAR	se
bavio	V:m	baviti
temom	N:f	tema
ektoplazme	N:f	ektoplazme
i	CONJ	i
te	PRO	taj
scene	N:f	scena
mi	PRO	ja
zbog	PREP	zbog
specijalnih	A:aef	specijalan
efekata	N:m	efekt
deluju	N:m	deluju
prilično	ADV	prilično
jadno	ADV	jadno
.	SENT	.
Elem	CONJ	elem
,	PUNCT	,
ima	A:aem	ima
ovde	ADV	ovde
stvari	N:f	stvar
koje	PRO	koji
su	N:m	su
sasvim	ADV	sasvim
ok	A:aem	ok
.	SENT	.
Neke	PRO	neki
stvari	N:f	stvar
iz	PREP	iz
te	PRO	taj
'	A:aem	'
istorije	N:f	istorija
kuće	N:f	kuća
'	A:aem	'
deluju	N:m	deluju
prilično	ADV	prilično
sablasno	ADV	sablasno
,	PUNCT	,
na	PREP	na
čelu	N:n	čelo
sa	PREP	sa
fotografijama	N:f	fotografija
koje	PRO	koji
vidimo	N:m	vidimo
u	PREP	u
filmu	N:m	film
.	SENT	.
Atmosfera	N:f	atmosfera
koja	PRO	koji
okružuje	N:f	okružuje
ovu	PRO	ovaj
priču	N:f	priča
i	CONJ	i
činjenica	N:f	činjenica
da	CONJ	da
je	PRO	ona
u	PREP	u
njenom	PRO	njen
centru	N:m	centar
momak	N:m	momak
kome	PRO	koji
još	PAR	još
nije	V:n	nije
mnogo	ADV	mnogo
ostalo	V:n	ostati
čine	N:m	čin
ovaj	PRO	ovaj
film	N:m	film
sasvim	ADV	sasvim
gledljivim	A:aem	gledljiv
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
mogu	N:m	Mog
se	PAR	se
oteti	A:aem	otet
utisku	N:m	utisak
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
moralo	V:n	morati
bolje	ADV	bolje
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
mi	PRO	ja
se	PAR	se
takođe	PAR	takođe
ne	PAR	ne
dopada	N:m	dopada
je	PRO	ona
po	PREP	po
ko	PRO	ko
zna	N:m	zna
koji	PRO	koji
put	N:f	put
primenjen	V:m	primeniti
sistem	N:m	sistem
,	PUNCT	,
'	N:m	'
sve	PRO	sav
je	PRO	ona
gotovo	ADV	gotovo
-	PUNCT	-
auuu	N:m	auuu
vidi	N:f	vida
nije	A:aem	nije
'	N:m	'
,	PUNCT	,
pa	CONJ	pa
nas	PRO	mi
onda	ADV	onda
očekuje	V:m	očekuje
neki	PRO	neki
'	A:aem	'
spektakl	N:m	spektakl
'	N:m	'
.	SENT	.
Ceo	A:aem	ceo
film	N:m	film
ima	A:aem	ima
atmosferu	N:f	atmosfera
laganog	A:aem	lagan
horora	N:m	horor
sa	PREP	sa
ne	PAR	ne
toliko	ADV	toliko
sablasnih	A:aem	sablasnih
i	CONJ	i
fantastičnih	A:aef	fantastičan
scena	N:f	scena
.	PUNCT	.
E	CONJ	e
to	PRO	taj
su	N:m	su
sve	ADV	sve
batalili	V:m	bataliti
i	CONJ	i
servirali	V:m	servirati
nam	PRO	mi
kraj	PREP	kraj
prepun	A:aem	prepun
efekata	N:m	efekt
,	PUNCT	,
nazovi	A:aem	nazovi
nekih	PRO	neki
poruka	N:f	poruka
sa	PREP	sa
neubedljivim	A:aem	neubedljiv
rezultatom	N:m	rezultat
cele	A:aef	ceo
priče	N:f	priča
zbog	PREP	zbog
koga	PRO	koji
je	PRO	ona
ona	PRO	ona
činjenica	N:f	činjenica
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
istinita	A:aef	istinit
priča	N:f	priča
teško	A:aen	težak
vređanje	N:n	vređanje
inteligencije	N:f	inteligencija
.	SENT	.
Ako	CONJ	ako
nemate	A:aem	nemate
šta	ADV	šta
bolje	A:bef	dobar
na	PREP	na
meniju	N:m	meni
,	PUNCT	,
onda	CONJ	onda
ni	PAR	ni
ovo	PRO	ovaj
nije	N:f	nije
tako	ADV	tako
loše	ADV	loše
za	PREP	za
jednom	NUM	jedan
pogledati	N:m	pogledati
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
očekujte	N:n	očekujte
bog	N:m	bog
zna	A:aem	zna
šta	PRO	šta
.	SENT	.
