Razlog	N:m	Razlog
zbog	PREP	zbog
kog	PRO	koji
preskačem	A:aem	preskačem
drugi	A:aem	drugi
deo	N:m	deo
je	PRO	ona
taj	PRO	taj
što	CONJ	što
sam	PRO	sam
ga	PRO	on
davno	ADV	davno
gledao	V:m	gledati
pa	CONJ	pa
kada	CONJ	kada
ga	PRO	on
odgledam	N:n	odgledam
ponovo	ADV	ponovo
komentarisaću	V:m	komentarisaću
i	CONJ	i
njega	PRO	on
.	SENT	.
U	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
taj	PRO	taj
film	N:m	film
mi	PRO	ja
je	PRO	ona
možda	PAR	možda
i	CONJ	i
najzanimljiviji	A:cem	zanimljiv
u	PREP	u
ovoj	PRO	ovaj
trilogiji	N:f	trilogija
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
i	CONJ	i
nije	A:aem	nije
baš	PAR	baš
najbolje	ADV	najbolje
prošao	V:m	proći
.	SENT	.
Glavna	A:aen	Glavna
stvar	N:f	stvar
koja	PRO	koji
je	PRO	ona
meni	PRO	ja
zasmetala	V:f	zasmetati
je	PRO	ona
promena	N:f	promena
glavne	A:aef	glavne
glumice	N:f	glumica
.	SENT	.
Mumija	N:f	mumija
bez	PREP	bez
Rejčel	N:f	Rejčel
Vajs	N:m	Vajs
je	PRO	ona
kao	ADV	kao
da	CONJ	da
npr	N:m	npr
.	SENT	.
gledate	A:aem	gledate
Dosije	N:m	dosije
X	A:aem	X
bez	PREP	bez
Džilian	N:f	Džilian
Anderson	N:m	Anderson
.	SENT	.
Koga	PRO	koji
god	PAR	god
drugog	A:aem	drugi
stavili	V:m	staviti
jednostavno	ADV	jednostavno
ne	PAR	ne
ide	V:m	ide
.	SENT	.
Maria	N:f	Maria
Belo	N:f	Belo
je	PRO	ona
prelepa	A:aef	prelep
,	PUNCT	,
lepo	A:aen	lep
glumi	N:f	gluma
,	PUNCT	,
veoma	ADV	veoma
je	PRO	ona
dopadljiva	A:aef	dopadljiv
ali	CONJ	ali
nikako	ADV	nikako
nisam	N:m	nisam
mogao	V:m	moći
da	CONJ	da
se	PAR	se
naviknem	N:n	naviknem
na	PREP	na
nju	PRO	ona
.	SENT	.
Film	N:m	film
je	PRO	ona
veoma	ADV	veoma
dinamičan	A:aem	dinamičan
,	PUNCT	,
priča	N:f	priča
je	PRO	ona
zanimljiva	A:aef	zanimljiv
ali	CONJ	ali
opet	ADV	opet
,	PUNCT	,
nikako	ADV	nikako
nisam	N:m	nisam
mogao	V:m	moći
da	CONJ	da
se	PAR	se
unesem	N:m	unesem
u	PREP	u
nju	PRO	ona
kao	CONJ	kao
u	PREP	u
prethodna	A:aen	prethodan
dva	NUM	dva
dela	N:m	deo
.	SENT	.
Što	N:m	Što
je	PRO	ona
najgore	ADV	najgore
,	PUNCT	,
ovaj	PRO	ovaj
treći	A:aem	treći
deo	N:m	deo
je	PRO	ona
začinjen	V:m	začiniti
sa	PREP	sa
možda	PAR	možda
i	CONJ	i
dve	NUM	dva
najveće	A:cef	velik
azijske	A:aef	azijski
filmske	A:aef	filmski
zvezde	N:f	zvezda
.	SENT	.
Pojavljuju	N:f	Pojavljuju
se	PAR	se
mega	PREF	mega
zajebani	V:m	zajebati
Džet	A:aem	Džet
Li	N:m	Li
i	CONJ	i
ništa	PRO	ništa
manje	ADV	manje
opasna	A:aem	opasan
ali	CONJ	ali
i	CONJ	i
prelepa	A:aem	prelep
Mišel	N:m	Mišel
Jeo	N:f	Jeo
.	SENT	.
Zanimljivih	A:aem	zanimljiv
scena	N:f	scena
ima	N:f	ima
,	PUNCT	,
pogotovu	ADV	pogotovu
onih	PRO	onaj
u	PREP	u
kojim	PRO	koji
se	PAR	se
penzionisani	A:aem	penzionisan
avanturisti	N:m	avanturista
ustručavaju	N:f	ustručavaju
da	CONJ	da
kažu	N:f	kaža
da	CONJ	da
žele	N:m	žele
poći	A:aem	poći
u	PREP	u
avanturu	N:f	avantura
,	PUNCT	,
potom	ADV	potom
način	N:m	način
na	PREP	na
koji	PRO	koji
Rik	N:m	Rik
lovi	N:f	lova
ribu	N:f	riba
.	SENT	.
Ponovo	ADV	ponovo
tu	ADV	tu
imamo	N:m	imamo
scene	N:f	scena
jurnjava	N:f	jurnjava
,	PUNCT	,
scene	N:f	scena
borbi	N:f	borba
,	PUNCT	,
dosta	ADV	dosta
humora	N:m	humor
koji	PRO	koji
nije	N:f	nije
tako	ADV	tako
efikasan	A:aem	efikasan
kao	CONJ	kao
u	PREP	u
prethodnim	A:aen	prethodan
delovima	N:m	deo
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
ovde	ADV	ovde
sigurno	ADV	sigurno
bolje	ADV	bolje
nego	CONJ	nego
u	PREP	u
prethodnim	A:aen	prethodan
su	N:m	su
specijalni	A:aem	specijalan
efekti	N:m	efekt
ali	CONJ	ali
to	PRO	taj
valjda	PAR	valjda
dolazi	N:m	dolaz
sa	PREP	sa
godinama	N:f	godina
.	SENT	.
U	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
film	N:m	film
je	PRO	ona
ok	N:f	ok
za	PREP	za
jedno	NUM	jedan
gledanje	N:n	gledanje
ali	CONJ	ali
ne	PAR	ne
treba	N:f	treba
da	CONJ	da
imate	A:aen	imate
velika	A:aen	velik
očekivanja	N:n	očekivanje
,	PUNCT	,
pogotovu	ADV	pogotovu
ako	CONJ	ako
ste	A:aem	ste
fan	N:m	fan
prva	A:aen	prvi
dva	NUM	dva
dela	N:m	deo
.	SENT	.
