Ima	N:m	Ima
jedna	NUM	jedan
scena	N:f	scena
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
u	PREP	u
kojoj	PRO	koji
je	PRO	ona
Oldman	N:m	Oldman
sa	PREP	sa
još	ADV	još
dvojicom	N:f	dvojica
špijuna	N:m	špijun
u	PREP	u
kolima	N:n	kola
i	CONJ	i
neka	PRO	neki
zumzara	N:m	zumzara
leti	ADV	leti
naokolo	ADV	naokolo
i	CONJ	i
iritira	N:m	iritira
ih	PRO	ona
.	PUNCT	.
Dok	CONJ	dok
ovi	PRO	ovaj
mlate	N:m	mlat
rukama	N:f	ruka
terajući	A:aem	terajući
je	PRO	ona
,	PUNCT	,
Oldman	N:m	Oldman
otvori	N:m	otvor
prozor	N:m	prozor
i	CONJ	i
muva	N:f	muva
izleti	N:m	izlet
.	SENT	.
Takav	PRO	takav
je	PRO	ona
i	CONJ	i
ovaj	PRO	ovaj
film	N:m	film
Ima	A:aem	Ima
spojlera	N:m	spojlera
.	SENT	.
Filmovi	N:m	film
poput	PREP	poput
ovoga	PRO	ovaj
teraju	N:f	teraju
me	PRO	ja
na	PREP	na
razmišljanje	N:n	razmišljanje
zašto	CONJ	zašto
ja	PRO	ja
pišem	N:f	pišem
o	PREP	o
filmu	N:m	film
(	PUNCT	(
sem	PREP	sem
da	CONJ	da
bi	V:m	bi
vi	PRO	vi
čitali	V:m	čitati
)	PUNCT	)
tj	ABB	tj
teraju	N:f	teraju
me	PRO	ja
na	PREP	na
razmišljanje	N:n	razmišljanje
koliko	ADV	koliko
ja	PRO	ja
ne	PAR	ne
umem	N:m	umem
da	CONJ	da
pišem	N:m	pišem
o	PREP	o
filmu	N:m	film
.	SENT	.
Sem	PREP	sem
ovako	ADV	ovako
.	PUNCT	.
Da	CONJ	da
umem	N:m	umem
,	PUNCT	,
ja	PRO	ja
BIH	A:aem	BIH
prvo	ADV	prvo
pročitao	V:m	pročitati
roman	N:m	roman
Johna	N:m	Johna
Le	A:aem	Le
Carrea	N:m	Carrea
po	PREP	po
kome	PRO	koji
je	PRO	ona
snimljen	V:m	snimiti
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
pa	CONJ	pa
bih	A:aem	bih
odgledao	V:m	odgledati
BBC	N:m	BBC
-	PUNCT	-
ijevu	A:aef	ijevu
mini	N:f	mina
-	PUNCT	-
seriju	N:f	serija
iz	PREP	iz
sedamdesetih	A:aen	sedamdeseti
urađenu	A:aef	urađen
po	PREP	po
istom	A:aem	isti
,	PUNCT	,
pa	CONJ	pa
bih	A:aem	bih
pročešljao	V:m	pročešljati
net	N:m	net
u	PREP	u
potrazi	N:f	potraga
za	PREP	za
referencama	N:f	referenca
,	PUNCT	,
pa	CONJ	pa
bih	A:aem	bih
overio	V:m	overiti
neki	PRO	neki
intervju	N:m	intervju
Tomasa	N:m	Tomas
Alfredsona	N:m	Alfredsona
da	CONJ	da
vidim	A:aen	vidim
šta	PRO	šta
je	PRO	ona
hteo	V:m	hteti
da	CONJ	da
postigne	N:m	postigne
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Možda	N:f	Možda
(	PUNCT	(
ponovo	ADV	ponovo
)	PUNCT	)
odgledao	V:m	odgledati
još	ADV	još
po	PREP	po
neki	PRO	neki
'	N:m	'
špijunski	A:aem	špijunski
'	A:aem	'
film	N:m	film
koji	PRO	koji
bi	N:f	bi
bio	V:m	biti
referentan	A:aem	referentan
za	PREP	za
razumevanje	N:n	razumevanje
ovoga	PRO	ovaj
.	PUNCT	.
Ali	CONJ	ali
koji	PRO	koji
još	ADV	još
gledalac	N:m	gledalac
to	PRO	taj
radi	PREP	radi
pre	PREP	pre
odlaska	N:m	odlazak
u	PREP	u
bioskop	N:m	bioskop
ili	CONJ	ili
pre	PREP	pre
pritiskanja	N:n	pritiskanje
'	A:aem	'
play	A:aem	play
'	N:m	'
?	SENT	?
Ja	PRO	ja
sa	PREP	sa
vama	PRO	vi
želim	A:aen	želim
da	CONJ	da
podelim	A:aen	podelim
samo	CONJ	samo
ono	PRO	onaj
što	CONJ	što
sam	PRO	sam
znao	V:m	znati
pre	PREP	pre
filma	N:m	film
i	CONJ	i
ono	PRO	onaj
što	CONJ	što
mi	PRO	ja
je	PRO	ona
sam	PRO	sam
film	N:m	film
otkrio	V:m	otkriti
.	SENT	.
Bez	PREP	bez
posebnih	A:aef	poseban
priprema	N:f	priprema
.	SENT	.
Net	N:m	Net
je	PRO	ona
nadohvat	PREP	nadohvat
ruke	N:f	ruka
,	PUNCT	,
on	PRO	on
uvek	ADV	uvek
može	A:aem	može
da	CONJ	da
vam	PRO	vi
posluži	A:aen	posluži
kao	CONJ	kao
prva	A:aen	prvi
četiri	NUM	četiri
pasusa	N:m	pasus
moje	PRO	moj
recenzije	N:f	recenzija
,	PUNCT	,
kao	CONJ	kao
nekakav	PRO	nekakav
'	A:aem	'
objektivni	A:aem	objektivan
'	A:aem	'
sud	N:m	sud
.	SENT	.
Moja	PRO	moj
recenzija	N:f	recenzija
je	PRO	ona
samo	PAR	samo
ono	PRO	onaj
šta	PRO	šta
ja	PRO	ja
imam	N:m	imam
da	CONJ	da
kažem	N:m	kažem
.	SENT	.
Ja	PRO	ja
i	CONJ	i
film	N:m	film
.	SENT	.
Eto	PAR	eto
.	PUNCT	.
Sad	ADV	sad
i	CONJ	i
to	PRO	taj
piše	N:f	piše
na	PREP	na
Internetu	N:m	internet
,	PUNCT	,
pa	CONJ	pa
sam	PRO	sam
obavio	V:m	obaviti
i	CONJ	i
taj	PRO	taj
'	A:aem	'
objektivni	A:aem	objektivan
'	A:aem	'
deo	N:m	deo
.	SENT	.
Ako	CONJ	ako
ste	A:aem	ste
gledali	V:m	gledati
Let	N:m	Let
The	INT	The
Right	N:m	Right
One	N:m	One
In	N:m	In
,	PUNCT	,
Alfredsonov	N:m	Alfredsonov
teen	N:m	teen
-	PUNCT	-
horor	N:m	horor
smešten	A:aem	smešten
u	PREP	u
osamdesete	A:aef	osamdeseti
u	PREP	u
Švedskoj	N:f	Švedska
,	PUNCT	,
onda	ADV	onda
znate	V:f	znati
u	PREP	u
kojoj	PRO	koji
meri	N:f	mera
ovaj	PRO	ovaj
čovek	N:m	čovek
ume	N:m	um
i	CONJ	i
voli	N:m	Voli
da	CONJ	da
se	PAR	se
pozabavi	A:aem	pozabavi
epohom	N:f	epoha
.	SENT	.
Relativno	ADV	relativno
spor	A:aem	spor
ritam	N:m	ritam
filma	N:m	film
sa	PREP	sa
povremenim	A:aen	povremen
erupcijama	N:f	erupcija
nasilja	N:n	nasilje
fino	A:aen	fin
su	N:m	su
pasovali	V:m	pasovati
hladnoj	A:aef	hladan
i	CONJ	i
prljavoj	A:aef	prljav
zimi	N:f	zima
sateranoj	A:aef	sateran
u	PREP	u
blokove	N:m	blok
unutar	PREP	unutar
kojih	PRO	koji
tavori	N:n	tavori
niža	A:bem	nizak
srednja	A:aem	srednji
-	PUNCT	-
klasa	N:f	klasa
.	SENT	.
U	PREP	u
Tinker	N:m	Tinker
Tailor	N:m	Tailor
Soldier	N:m	Soldier
Spy	A:aem	Spy
radnja	N:f	radnja
je	PRO	ona
smeštena	V:f	smestiti
u	PREP	u
,	PUNCT	,
za	PREP	za
Alfredsona	N:m	Alfredsona
još	ADV	još
izazovnije	A:bef	izazovan
,	PUNCT	,
sedamdesete	A:aef	sedamdeseti
,	PUNCT	,
a	CONJ	a
potraga	N:f	potraga
za	PREP	za
'	A:aem	'
ubačenim	A:aem	ubačen
agentom	N:m	agent
'	N:m	'
ispresecana	V:m	ispresecati
je	PRO	ona
flešbekovima	N:m	flešbekovima
koji	PRO	koji
praktično	ADV	praktično
naviguju	N:f	naviguju
njen	PRO	njen
tok	N:m	tok
.	PUNCT	.
Iako	CONJ	iako
me	PRO	ja
je	PRO	ona
zanimalo	V:n	zanimati
ko	PRO	ko
je	PRO	ona
ubačeni	A:aem	ubačen
špijun	N:m	špijun
(	PUNCT	(
ja	PRO	ja
sam	PRO	sam
od	PREP	od
početka	N:m	početak
filma	N:m	film
tipovao	V:m	tipovati
na	PREP	na
Oldmana	N:m	Oldman
i	CONJ	i
želeo	V:m	želeti
da	CONJ	da
čitav	A:aem	čitav
film	N:m	film
bude	A:aem	bude
zapravo	ADV	zapravo
njegovo	PRO	njegov
ingeniozno	A:aen	ingeniozan
zavođenje	N:n	zavođenje
svih	PRO	sav
upletenih	A:aef	upleten
,	PUNCT	,
pa	CONJ	pa
i	CONJ	i
nas	PRO	mi
,	PUNCT	,
gledalaca	N:m	gledalac
)	PUNCT	)
,	PUNCT	,
moram	N:m	moram
da	CONJ	da
priznam	N:m	priznam
da	CONJ	da
me	PRO	ja
sama	PRO	sam
potraga	N:f	potraga
ostavila	V:m	ostaviti
poprilično	ADV	poprilično
ravnodušnim	A:aem	ravnodušan
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
onaj	PRO	onaj
dramski	A:aem	dramski
tok	N:m	tok
koji	PRO	koji
vodi	N:f	voda
ka	PREP	ka
kristalizaciji	N:f	kristalizacija
'	A:aem	'
izdajnika	N:m	izdajnik
'	N:m	'
čak	PAR	čak
poprilično	ADV	poprilično
trapavo	ADV	trapavo
urađen	V:m	uraditi
,	PUNCT	,
sa	PREP	sa
motivima	N:m	motiv
koji	PRO	koji
su	N:m	su
nekako	ADV	nekako
više	ADV	više
nakalemljeni	V:m	nakalemiti
(	PUNCT	(
ženina	A:aef	ženin
prevara	N:f	prevara
,	PUNCT	,
gej	N:m	gej
romansa	N:f	romansa
)	PUNCT	)
nego	CONJ	nego
integrisani	V:m	integrisati
u	PREP	u
radnju	N:f	radnja
,	PUNCT	,
uz	PREP	uz
stranputice	N:f	stranputica
(	PUNCT	(
romansa	N:f	romansa
u	PREP	u
Istanbulu	N:m	Istanbul
)	PUNCT	)
koje	PRO	koji
donose	N:m	donose
više	ADV	više
filmske	A:aef	filmski
drame	N:f	drama
tamo	ADV	tamo
gde	CONJ	gde
ona	PRO	ona
nema	A:aem	nem
nikakvu	PRO	nikakav
svrhu	N:f	svrha
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
ima	N:f	ima
u	PREP	u
životima	N:m	život
glavnih	A:aem	glavnih
aktera	N:m	akter
.	SENT	.
Zamerki	N:f	zamerka
ima	N:m	ima
(	PUNCT	(
m	ABB	m
)	PUNCT	)
još	ADV	još
.	PUNCT	.
Oldman	N:m	Oldman
,	PUNCT	,
kao	CONJ	kao
šef	N:m	šef
istrage	N:f	istraga
,	PUNCT	,
ostaje	N:n	ostaje
tanak	A:aem	tanak
uprkos	PREP	uprkos
nepotrebnim	A:aem	nepotreban
naporima	N:m	napor
Alfredsona	N:m	Alfredsona
da	CONJ	da
ga	PRO	on
mistifikuje	N:m	mistifikuje
preko	PREP	preko
svake	PRO	svaki
mere	N:f	mera
(	PUNCT	(
scene	N:f	scena
plivanja	N:n	plivanje
,	PUNCT	,
recimo	A:aen	recimo
)	PUNCT	)
,	PUNCT	,
dok	CONJ	dok
njegova	PRO	njegov
intimna	A:aef	intiman
rvačina	N:f	rvačina
sa	PREP	sa
'	A:aem	'
Karlom	N:f	Karla
'	N:m	'
(	PUNCT	(
šef	N:m	šef
ruske	A:aef	ruski
službe	N:f	služba
)	PUNCT	)
ne	PAR	ne
nalazi	N:m	nalaz
pravi	A:aem	prav
motiv	N:m	motiv
za	PREP	za
svoje	PRO	svoj
povampirenje	N:n	povampirenje
.	SENT	.
Neko	PRO	neki
nezapočeto	A:aen	nezapočeto
rivalstvo	N:n	rivalstvo
iz	PREP	iz
prošlosti	N:f	prošlost
ne	PAR	ne
možemo	ADV	možemo
da	CONJ	da
tretiramo	N:f	tretiramo
kao	CONJ	kao
opsesiju	N:f	opsesija
i	CONJ	i
kao	ADV	kao
definitivnu	A:aef	definitivan
osobinu	N:f	osobina
njegove	PRO	njegov
ličnosti	N:f	ličnost
.	SENT	.
Oldman	N:m	Oldman
je	PRO	ona
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
skoro	ADV	skoro
kao	CONJ	kao
komšija	N:f	komšija
bivši	A:aem	bivši
DB	N:m	DB
-	PUNCT	-
ovac	N:m	ovac
kome	PRO	koji
je	PRO	ona
'	N:m	'
nešto	ADV	nešto
u	PREP	u
ulazu	N:m	ulaz
'	A:aem	'
sumnjivo	A:aen	sumnjiv
.	PUNCT	.
Osumnjičeni	A:aem	Osumnjičeni
još	ADV	još
lošije	A:ben	loš
stoje	N:f	stoja
.	SENT	.
Četiri	N:m	Četiri
glavna	A:aen	glavna
aktera	N:m	akter
su	PREF	su
toliko	ADV	toliko
malo	ADV	malo
i	CONJ	i
toliko	ADV	toliko
'	A:aem	'
neindividualno	A:aen	neindividualno
'	N:m	'
prisutna	A:aef	prisutan
da	CONJ	da
ih	PRO	ona
Alfredson	N:m	Alfredson
poimence	ADV	poimence
ne	PAR	ne
spominje	N:n	spominje
svako	PRO	svaki
malo	ADV	malo
mi	PRO	ja
bismo	N:f	bismo
imali	V:m	imati
problem	N:m	problem
da	CONJ	da
zapamtimo	N:f	zapamtimo
ko	PRO	ko
je	PRO	ona
ko	PRO	ko
od	PREP	od
njih	PRO	ona
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
po	PREP	po
čemu	PRO	šta
se	PAR	se
razlikuju	N:m	razlikuju
.	SENT	.
Shvatićemo	N:f	Shvatićemo
na	PREP	na
kraju	N:m	kraj
da	CONJ	da
se	PAR	se
i	CONJ	i
ne	PAR	ne
razlikuju	N:m	razlikuju
tj	ABB	tj
da	CONJ	da
su	PREF	su
razlike	N:f	razlika
sasvim	ADV	sasvim
'	A:aem	'
privatne	A:aem	privatan
'	N:m	'
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
ostaje	N:n	ostaje
da	CONJ	da
onaj	PRO	onaj
'	N:m	'
najlepši	A:cem	lep
'	A:aem	'
deo	N:m	deo
filma	N:m	film
,	PUNCT	,
u	PREP	u
kojima	PRO	koji
se	PAR	se
sudbina	N:f	sudbina
poigrava	A:aen	poigrava
sa	PREP	sa
junacima	N:m	junak
,	PUNCT	,
otpada	N:m	otpad
na	PREP	na
likove	N:m	lik
koji	PRO	koji
su	N:m	su
zapravo	ADV	zapravo
'	A:aem	'
pijuni	N:m	pijun
'	A:aem	'
u	PREP	u
čitavoj	A:aef	čitav
priči	N:f	priča
(	PUNCT	(
ako	CONJ	ako
je	PRO	ona
to	PRO	taj
i	CONJ	i
bila	V:f	biti
namera	N:f	namera
,	PUNCT	,
onda	CONJ	onda
je	PRO	ona
potera	N:f	potera
za	PREP	za
špijunom	N:m	špijun
preobimni	A:aem	preobiman
mekgafin	N:m	mekgafin
,	PUNCT	,
ali	CONJ	ali
ovaj	PRO	ovaj
film	N:m	film
znatno	ADV	znatno
bolje	A:bef	dobar
stoji	N:f	stoja
)	PUNCT	)
.	SENT	.
Mark	N:m	Mark
Strong	N:m	Strong
,	PUNCT	,
Tom	N:m	Tom
Hardy	A:aem	Hardy
i	CONJ	i
Benedict	A:aem	Benedict
Cumberbatch	A:aem	Cumberbatch
su	N:m	su
zvezde	N:f	zvezda
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
Na	PREP	na
isečcima	N:m	isečak
njihovih	PRO	njihov
života	N:m	život
mi	PRO	ja
vidimo	A:aen	vidimo
traumu	N:f	trauma
i	CONJ	i
tragediju	N:f	tragedija
njihovog	PRO	njihov
poziva	N:m	poziv
.	SENT	.
Oni	PRO	onaj
su	N:m	su
ti	PRO	taj
zbog	PREP	zbog
kojih	PRO	koji
ovaj	PRO	ovaj
film	N:m	film
na	PREP	na
momente	N:m	moment
živi	A:aem	živ
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
u	PREP	u
senci	N:f	senka
nepotrebno	ADV	nepotrebno
dugih	A:aen	dug
i	CONJ	i
fetišizovanih	A:aen	fetišizovanih
dešavanja	N:n	dešavanje
(	PUNCT	(
krađa	N:f	krađa
dokumenata	N:m	dokument
iz	PREP	iz
'	A:aem	'
biblioteke	N:f	biblioteka
'	N:m	'
)	PUNCT	)
.	SENT	.
I	CONJ	i
kada	CONJ	kada
na	PREP	na
kraju	N:m	kraj
otkrijemo	N:f	otkrijemo
ko	CONJ	ko
je	PRO	ona
prodana	A:aef	prodan
duša	N:f	duša
,	PUNCT	,
objašnjenje	N:n	objašnjenje
koje	PRO	koji
od	PREP	od
njega	PRO	on
dobijamo	N:f	dobijamo
za	PREP	za
izdaju	N:f	izdaja
je	PRO	ona
superbijedno	A:aen	superbijedno
za	PREP	za
visoke	A:aem	visok
standarde	N:m	standard
koje	PRO	koji
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
sebi	PRO	sebe
(	PUNCT	(
nepotrebno	ADV	nepotrebno
)	PUNCT	)
postavio	V:m	postaviti
(	PUNCT	(
'	A:aem	'
West	N:m	West
sucks	N:m	sucks
'	N:m	'
)	PUNCT	)
.	SENT	.
Gej	N:m	Gej
romansa	N:f	romansa
koja	PRO	koji
se	PAR	se
potom	ADV	potom
razotkriva	A:aen	razotkriva
je	PRO	ona
suvišna	A:aef	suvišan
i	CONJ	i
prekasno	ADV	prekasno
dolazi	N:m	dolaz
da	CONJ	da
bi	N:f	bi
pojasnila	V:f	pojasniti
postupke	N:m	postupak
aktera	N:m	akter
(	PUNCT	(
a	CONJ	a
naročito	ADV	naročito
scenu	N:f	scena
sa	PREP	sa
sovom	N:f	sova
u	PREP	u
školi	N:f	škola
)	PUNCT	)
.	SENT	.
O	PREP	o
repriziranju	N:n	repriziranje
uloga	N:f	uloga
da	CONJ	da
i	CONJ	i
ne	PAR	ne
govorim	A:aem	govorim
.	SENT	.
Tinker	N:m	Tinker
Tailor	N:m	Tailor
Soldier	N:m	Soldier
Spy	N:m	Spy
je	PRO	ona
što	CONJ	što
se	PAR	se
mene	PRO	ja
tiče	N:n	tiče
visokostilizovana	A:aef	visokostilizovana
onanija	N:f	onanija
nad	PREP	nad
epohom	N:f	epoha
,	PUNCT	,
beživotna	A:aem	beživotan
koliko	ADV	koliko
i	CONJ	i
paleta	N:f	paleta
boja	N:f	boja
upotrebljenih	A:aem	upotrebljen
da	CONJ	da
se	PAR	se
dočara	N:m	dočara
,	PUNCT	,
u	PREP	u
kojoj	PRO	koji
je	PRO	ona
ono	PRO	onaj
malo	ADV	malo
drame	N:f	drama
statira	N:m	statira
poput	PREP	poput
večito	ADV	večito
magličastih	A:aem	magličast
i	CONJ	i
zadimljenih	A:aem	zadimljen
prostora	N:m	prostor
u	PREP	u
kojima	PRO	koji
se	PAR	se
ista	A:aef	isti
odigrava	A:aen	odigrava
i	CONJ	i
služi	A:aen	služi
samo	CONJ	samo
kao	ADV	kao
jedan	NUM	jedan
estetski	A:aem	estetski
sloj	N:m	sloj
u	PREP	u
nečemu	PRO	nešto
što	CONJ	što
je	PRO	ona
više	ADV	više
zadivljeno	A:aen	zadivljen
arhitekturom	N:f	arhitektura
,	PUNCT	,
nego	CONJ	nego
stanovnicima	N:m	stanovnik
priče	N:f	priča
.	SENT	.
