Kvalitet	N:m	kvalitet
filmskih	A:aen	filmski
serijala	N:m	serijal
obično	ADV	obično
opada	N:m	opada
sa	PREP	sa
svakim	PRO	svaki
novim	A:aef	nov
nastavkom	N:m	nastavak
.	SENT	.
Izuzetaka	N:m	izuzetak
ima	N:m	ima
(	PUNCT	(
tu	PRO	taj
su	N:m	su
,	PUNCT	,
recimo	A:aen	recimo
,	PUNCT	,
friški	A:aem	frišak
primeri	N:m	primer
:	SENT	:
Iron	N:m	Iron
Man	N:m	Man
3	NUM	@card@
i	CONJ	i
Paklene	A:aef	paklen
ulice	N:f	ulica
6	NUM	@card@
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
Mamurluk	N:m	mamurluk
3	NUM	@card@
nije	N:m	nije
jedan	NUM	jedan
od	PREP	od
njih	PRO	ona
.	SENT	.
Najnoviji	A:cem	nov
(	PUNCT	(
i	CONJ	i
navodno	ADV	navodno
poslednji	A:aem	poslednji
)	PUNCT	)
deo	N:m	deo
komičnog	A:aem	komičan
serijala	N:m	serijal
Todda	N:f	Todda
Phillipsa	N:m	Phillipsa
najslabija	A:cem	slab
je	PRO	ona
karika	N:f	karika
u	PREP	u
nizu	N:m	niz
.	SENT	.
Prvi	A:aem	prvi
Mamurluk	N:m	mamurluk
je	PRO	ona
bio	V:m	biti
umnogome	ADV	umnogome
revolucionaran	A:aem	revolucionaran
i	CONJ	i
smešan	A:aem	smešan
do	PREP	do
suza	N:f	suza
.	SENT	.
Drugi	A:aem	drugi
je	PRO	ona
,	PUNCT	,
uz	PREP	uz
manje	ADV	manje
varijacije	N:f	varijacija
,	PUNCT	,
ponovio	V:m	ponoviti
formulu	N:f	formula
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
i	CONJ	i
tada	ADV	tada
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
upadljiv	A:aem	upadljiv
déjà	A:aem	déjà
vu	N:m	vu
,	PUNCT	,
vučji	A:aem	vučji
čopor	N:m	čopor
(	PUNCT	(
potpomognut	V:m	potpomoći
nezaobilaznim	A:aef	nezaobilazan
Chowom	N:f	Chowom
i	CONJ	i
urnebesnim	A:aem	urnebesnim
majmunčetom	N:n	majmunče
)	PUNCT	)
uspeo	V:m	uspeti
da	CONJ	da
zasmeje	A:aem	zasmeje
milione	N:m	milion
.	SENT	.
Treći	A:aem	Treći
put	N:m	put
im	PRO	ona
to	PRO	taj
nije	N:m	nije
pošlo	V:n	poći
za	PREP	za
rukom	N:f	ruka
.	SENT	.
Reditelj	N:m	reditelj
sva	PRO	sav
tri	NUM	tri
dela	N:n	delo
i	CONJ	i
ko	PRO	ko
-	PUNCT	-
scenarista	N:m	scenarista
druga	A:aef	drugi
dva	NUM	dva
,	PUNCT	,
Todd	A:aem	Todd
Phillips	N:m	Phillips
,	PUNCT	,
dosta	ADV	dosta
reskira	N:m	reskir
i	CONJ	i
u	PREP	u
Mamurluku	N:m	mamurluk
3	NUM	@card@
ne	PAR	ne
ponavlja	N:n	ponavlja
dobitnu	A:aef	dobitni
formulu	N:f	formula
–	N:m	–
već	CONJ	već
odlučuje	N:m	odlučuje
da	CONJ	da
se	PAR	se
zaputi	V:n	zaputi
potpuno	ADV	potpuno
novom	A:aem	nov
trasom	N:f	trasa
.	SENT	.
Hrabar	A:aem	hrabar
potez	N:m	potez
,	PUNCT	,
to	PRO	taj
nije	A:aen	nije
sporno	A:aen	sporan
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
rizik	N:m	rizik
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
nije	V:m	nije
isplatio	V:m	isplatiti
.	SENT	.
U	PREP	u
najkraćem	A:cem	kratak
:	SENT	:
film	N:m	film
nije	A:aem	nije
dovoljno	ADV	dovoljno
smešan	A:aem	smešan
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
greh	N:m	greh
koji	PRO	koji
nikako	PAR	nikako
ne	PAR	ne
može	A:aem	može
da	CONJ	da
se	PAR	se
oprosti	N:m	oprost
jednoj	NUM	jedan
komediji	N:f	komedija
.	PUNCT	.
Istina	N:f	istina
,	PUNCT	,
Mamurluk	N:m	mamurluk
3	NUM	@card@
u	PREP	u
jednom	NUM	jedan
trenutku	N:m	trenutak
napušta	A:aem	napušta
okvir	N:m	okvir
komedije	N:f	komedija
i	CONJ	i
prerasta	N:m	prerast
u	PREP	u
crnohumorni	A:aem	crnohumorni
triler	N:m	triler
,	PUNCT	,
što	CONJ	što
samo	PAR	samo
po	PREP	po
sebi	PRO	sebe
i	CONJ	i
nije	A:aen	nije
moralo	V:n	morati
da	CONJ	da
bude	A:aen	bude
loše	A:aef	loš
-	PUNCT	-
samo	PAR	samo
da	CONJ	da
je	PRO	ona
konačni	A:aem	konačan
rezultat	N:m	rezultat
bio	V:m	biti
bolji	A:bem	dobar
.	PUNCT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
triler	N:m	triler
momenat	N:m	moment
je	PRO	ona
prilično	ADV	prilično
slab	A:aem	slab
i	CONJ	i
ne	PAR	ne
uspeva	A:aen	uspeva
da	CONJ	da
adekvatno	A:aen	adekvatan
popuni	N:f	popuna
prazninu	N:f	praznina
koja	PRO	koji
je	PRO	ona
nastala	V:n	nastati
nasilnim	A:aen	nasilan
gušenjem	N:n	gušenje
i	CONJ	i
potiskivanjem	N:n	potiskivanje
komičnog	A:aem	komičan
segementa	N:m	segementa
.	SENT	.
John	A:aem	John
Goodman	N:m	Goodman
glumi	N:f	gluma
prevejanog	A:aem	prevejan
kriminalca	N:m	kriminalac
koji	PRO	koji
ucenjuje	N:m	ucenjuje
Phila	N:m	Phila
,	PUNCT	,
Stua	N:m	Stua
i	CONJ	i
Alana	N:m	Alan
kako	CONJ	kako
bi	V:m	bi
mu	PRO	on
pomogli	V:m	pomoći
da	CONJ	da
se	PAR	se
dokopa	V:m	dokopa
odbeglog	A:aem	odbegao
Chowa	N:m	Chowa
i	CONJ	i
zlata	N:n	zlato
koji	PRO	koji
je	PRO	ona
ovaj	PRO	ovaj
oteo	V:m	oteti
.	SENT	.
Početak	N:m	Početak
je	PRO	ona
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
promenu	N:f	promena
tona	N:f	tona
,	PUNCT	,
dovoljno	ADV	dovoljno
zanimljiv	A:aem	zanimljiv
da	CONJ	da
probudi	A:aef	probudi
pažnju	N:f	pažnja
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
ne	PAR	ne
traje	N:m	traje
dugo	ADV	dugo
…	SENT	…
Radnja	N:f	radnja
se	PAR	se
ubrzo	ADV	ubrzo
prebacuje	N:m	prebacuje
u	PREP	u
Las	N:m	Las
Vegas	N:m	Vegas
i	CONJ	i
u	PREP	u
tom	PRO	taj
trenutku	N:m	trenutak
Mamurluk	N:m	mamurluk
3	NUM	@card@
,	PUNCT	,
makar	CONJ	makar
privremeno	ADV	privremeno
,	PUNCT	,
postaje	N:f	postaja
film	N:m	film
nostalgije	N:f	nostalgija
.	SENT	.
Kratka	A:aef	kratak
poseta	N:f	poseta
Jade	N:f	Jade
(	PUNCT	(
ponovo	ADV	ponovo
je	PRO	ona
glumi	N:f	gluma
još	ADV	još
uvek	ADV	uvek
nestvarno	A:aen	nestvaran
lepa	A:aef	lep
Heather	N:m	Heather
Graham	N:m	Graham
)	PUNCT	)
i	CONJ	i
njenom	PRO	njen
sada	ADV	sada
već	CONJ	već
poodraslom	A:aem	poodrastao
sinu	N:m	sin
Tayleru	N:m	Tayleru
/	A:aem	/
Carlosu	N:m	Carlosu
(	PUNCT	(
petogodišnji	A:aem	petogodišnji
Grant	N:m	Grant
Holmquist	N:m	Holmquist
)	PUNCT	)
budi	CONJ	budi
sećanja	N:n	sećanje
na	PREP	na
antologijski	A:aem	antologijski
prvi	A:aem	prvi
deo	N:m	deo
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
suštini	N:f	suština
predstavlja	N:n	predstavlja
još	ADV	još
samo	PAR	samo
jedno	NUM	jedan
slepo	A:aen	slep
crevo	N:n	crevo
novog	A:aem	nov
filma	N:m	film
.	SENT	.
Lepo	ADV	lepo
je	PRO	ona
ponovo	ADV	ponovo
videti	A:aem	videti
Jade	N:m	jad
i	CONJ	i
poraslog	N:m	poraslog
bebirona	N:m	bebirona
,	PUNCT	,
ali	CONJ	ali
ovaj	PRO	ovaj
segment	N:m	segment
predstavlja	N:n	predstavlja
samo	CONJ	samo
dodatno	A:aen	dodatan
usporavanje	N:n	usporavanje
ionako	ADV	ionako
dovoljno	ADV	dovoljno
opterećenog	A:aem	opterećen
i	CONJ	i
razvučenog	A:aem	razvučen
filma	N:m	film
.	SENT	.
Bez	PREP	bez
obzira	N:m	obzir
što	PRO	što
su	N:m	su
gotovo	ADV	gotovo
uvek	ADV	uvek
prisutni	A:aem	prisutan
u	PREP	u
kadru	A:aem	kadar
,	PUNCT	,
Bradley	A:aem	Bradley
Cooper	N:m	Cooper
i	CONJ	i
Ed	N:m	Ed
Helms	N:m	Helms
ne	PAR	ne
dobijaju	A:aef	dobijaju
priliku	N:f	prilika
da	CONJ	da
zasijaju	N:m	zasijaju
kao	CONJ	kao
u	PREP	u
dva	NUM	dva
prethodna	A:aen	prethodan
dela	N:n	delo
.	SENT	.
Njihove	PRO	njihov
uloge	N:f	uloga
su	N:m	su
sasečene	V:f	saseći
,	PUNCT	,
a	CONJ	a
oni	PRO	onaj
potisnuti	V:m	potisnuti
u	PREP	u
drugi	A:aem	drugi
plan	N:m	plan
.	SENT	.
To	PRO	taj
remeti	N:f	remeta
dinamiku	N:f	dinamika
i	CONJ	i
ruši	A:aem	ruši
glavni	A:aem	glavni
adut	N:m	adut
koji	PRO	koji
je	PRO	ona
serijal	N:m	serijal
imao	V:m	imati
.	SENT	.
Mamurluk	N:m	mamurluk
3	NUM	@card@
je	PRO	ona
zapravo	ADV	zapravo
priča	N:f	priča
o	PREP	o
Alanu	N:m	Alan
(	PUNCT	(
Galifianakis	N:m	Galifianakis
)	PUNCT	)
,	PUNCT	,
njegovom	PRO	njegov
turbulentnom	A:aen	turbulentan
prijateljstvu	N:n	prijateljstvo
sa	PREP	sa
Chowom	N:f	Chowom
(	PUNCT	(
Jeong	N:m	Jeong
)	PUNCT	)
i	CONJ	i
transformaciji	N:f	transformacija
iz	PREP	iz
neodgovornog	A:aen	neodgovoran
i	CONJ	i
egocentričnog	A:aen	egocentričan
tupsona	N:m	tupsona
u	PREP	u
nešto	PRO	nešto
manje	ADV	manje
neodgovornog	A:aen	neodgovoran
i	CONJ	i
egocentričnog	A:aen	egocentričan
tupsona	N:m	tupsona
–	A:aem	–
Phil	N:m	Phil
i	CONJ	i
Stu	A:aem	Stu
su	N:m	su
tu	ADV	tu
čist	A:aem	čist
višak	N:m	višak
.	SENT	.
Ono	PRO	onaj
što	PRO	što
ostaje	N:n	ostaje
kao	CONJ	kao
valjano	A:aen	valjan
i	CONJ	i
vredno	A:aen	vredan
pažnje	N:f	pažnja
jesu	A:aen	jesu
uvodnih	A:aef	uvodni
dvadesetak	N:m	dvadesetak
minuta	N:m	minut
,	PUNCT	,
jedna	NUM	jedan
zaista	ADV	zaista
dobra	A:aef	dobar
scena	N:f	scena
u	PREP	u
kojoj	PRO	koji
briljiraju	N:m	briljiraju
Zach	A:aem	Zach
Galifianakis	N:m	Galifianakis
i	CONJ	i
Melissa	N:f	Melissa
McCarthy	N:f	McCarthy
(	PUNCT	(
Deveruše	N:m	Deveruše
,	PUNCT	,
Vrati	N:m	Vrati
mi	PRO	ja
ime	N:n	ime
)	PUNCT	)
i	CONJ	i
urenebesni	A:aem	urenebesni
bonus	N:m	bonus
nakon	PREP	nakon
početka	N:m	početak
odjavne	A:aef	odjavni
špice	N:f	špica
u	PREP	u
kome	PRO	koji
se	PAR	se
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
što	CONJ	što
je	PRO	ona
film	N:m	film
najavljivan	V:m	najavljivati
kao	ADV	kao
završni	A:aem	završan
deo	N:m	deo
serijala	N:m	serijal
,	PUNCT	,
signalizira	N:m	signalizira
da	CONJ	da
je	PRO	ona
moguć	A:aem	moguć
još	ADV	još
jedan	NUM	jedan
nastavak	N:m	nastavak
.	SENT	.
