Kada	CONJ	kada
je	PRO	ona
scenarista	N:m	scenarista
kriv	A:aem	kriv
za	PREP	za
sve	PRO	sav
.	SENT	.
Artiljero	N:f	Artiljero
,	PUNCT	,
slično	ADV	slično
filmu	N:m	film
Nikole	N:m	Nikola
Ležaića	N:m	Ležaić
Tilva	N:f	Tilva
Roš	N:m	Roš
,	PUNCT	,
ne	PAR	ne
želi	V:m	žeti
da	CONJ	da
bude	A:aem	bude
samo	CONJ	samo
dobar	A:aem	dobar
omladinski	A:aem	omladinski
(	PUNCT	(
žanrovski	A:aem	žanrovski
)	PUNCT	)
film	N:m	film
,	PUNCT	,
već	PAR	već
želi	V:m	žeti
da	CONJ	da
koristeći	V:m	koristeći
taj	PRO	taj
format	N:m	format
poruči	V:m	poruči
nešto	ADV	nešto
i	CONJ	i
onim	PRO	onaj
starijima	A:ben	star
o	PREP	o
njihovim	PRO	njihov
životima	N:m	život
i	CONJ	i
njihovoj	PRO	njihov
odgovornosti	N:f	odgovornost
za	PREP	za
stanje	N:n	stanje
stvari	N:f	stvar
i	CONJ	i
nametne	A:aem	nametne
se	PAR	se
filmskoj	A:aef	filmski
publici	N:f	publika
kao	CONJ	kao
ozbiljno	ADV	ozbiljno
(	PUNCT	(
ili	CONJ	ili
ozbiljnije	A:bef	ozbiljan
)	PUNCT	)
'	N:m	'
autorsko	A:aen	autorski
'	A:aem	'
/	N:m	/
festivalsko	A:aen	festivalski
ostvarenje	N:n	ostvarenje
.	SENT	.
U	PREP	u
nemogućnosti	N:f	nemogućnost
da	CONJ	da
pomiri	N:f	pomiri
to	PRO	taj
što	ADV	što
može	A:aem	može
i	CONJ	i
to	PRO	taj
što	CONJ	što
želi	V:m	žeti
on	PRO	on
ne	PAR	ne
uspeva	V:n	uspeva
da	CONJ	da
bude	A:aen	bude
ni	PAR	ni
jedno	ADV	jedno
ni	CONJ	ni
drugo	A:aen	drugi
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
jedan	NUM	jedan
tinejdžer	N:m	tinejdžer
,	PUNCT	,
Mali	N:m	Mali
,	PUNCT	,
smoren	A:aem	smoren
nad	PREP	nad
situacijom	N:f	situacija
u	PREP	u
fudbalu	N:m	fudbal
,	PUNCT	,
državi	N:f	država
i	CONJ	i
(	PUNCT	(
što	CONJ	što
ga	PRO	on
najviše	ADV	najviše
boli	V:m	bosti
)	PUNCT	)
Zvezdi	N:f	zvezda
odlučuje	N:m	odlučuje
da	CONJ	da
u	PREP	u
tim	PRO	taj
vrati	N:m	vrati
Nemanju	N:m	Nemanja
Vidića	N:m	Vidić
i	CONJ	i
na	PREP	na
taj	PRO	taj
način	N:m	način
reanimira	A:aem	reanimira
stvarnost	N:f	stvarnost
na	PREP	na
svim	PRO	sav
nivoima	N:m	nivo
i	CONJ	i
probudi	N:f	probudi
ugušeni	A:aem	ugušen
duh	N:m	duh
(	PUNCT	(
fudbalske	A:aef	fudbalski
)	PUNCT	)
nacije	N:f	nacija
.	PUNCT	.
Da	CONJ	da
nam	PRO	mi
on	PRO	on
sam	PRO	sam
,	PUNCT	,
ovo	PRO	ovaj
drugo	A:aen	drugi
,	PUNCT	,
ne	PAR	ne
elaborira	N:m	elaborira
'	N:m	'
svojim	PRO	svoj
rečima	N:f	reč
'	N:m	'
na	PREP	na
fudbalskom	A:aem	fudbalski
terenu	N:m	teren
ova	PRO	ovaj
premisa	N:f	premisa
bi	N:f	bi
mogla	V:n	moći
da	CONJ	da
bude	A:aem	bude
interesantan	A:aem	interesantan
predložak	N:m	predložak
za	PREP	za
pomenuti	A:aem	pomenut
'	N:m	'
omladinski	A:aem	omladinski
film	N:m	film
'	A:aem	'
ili	CONJ	ili
ono	PRO	onaj
što	PRO	što
u	PREP	u
svetu	A:aen	svet
zovu	N:m	zov
'	A:aem	'
coming	N:m	coming
of	N:m	of
age	N:m	aga
'	N:m	'
.	SENT	.
Dodajte	N:m	Dodajte
na	PREP	na
sve	PRO	sav
to	PRO	taj
da	CONJ	da
zbog	PREP	zbog
te	PRO	taj
svoje	PRO	svoj
odluke	N:f	odluka
Mali	N:m	Mali
izaziva	A:aen	izaziva
divljenje	N:n	divljenje
jedne	NUM	jedan
sasvim	ADV	sasvim
zgodne	A:aef	zgodan
cure	N:f	cura
,	PUNCT	,
koja	PRO	koji
se	PAR	se
potom	ADV	potom
i	CONJ	i
zaljubljuje	N:m	zaljubljuje
u	PREP	u
njega	PRO	on
i	CONJ	i
želi	V:m	žeti
da	CONJ	da
mu	PRO	on
pomogne	A:aef	pomogne
u	PREP	u
tom	PRO	taj
cilju	N:m	cilj
,	PUNCT	,
i	CONJ	i
više	ADV	više
nam	PRO	mi
ništa	PRO	ništa
ne	PAR	ne
treba	N:f	treba
da	CONJ	da
bi	N:f	bi
uživali	V:m	uživati
u	PREP	u
filmu	N:m	film
o	PREP	o
onome	PRO	onaj
što	PRO	što
smo	N:f	smo
jednom	ADV	jednom
imali	V:m	imati
.	SENT	.
Jednom	ADV	jednom
kad	ADV	kad
smo	N:f	smo
bili	V:m	biti
mladi	A:aem	mlad
.	SENT	.
I	CONJ	i
ludi	A:aem	lud
.	PUNCT	.
I	CONJ	i
luđi	A:bem	lud
.	PUNCT	.
I	CONJ	i
najluđi	A:cem	lud
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
pritisnut	A:aem	pritisnut
'	N:m	'
očekivanjima	N:n	očekivanje
sredine	N:f	sredina
'	N:m	'
ili	CONJ	ili
svojim	PRO	svoj
sopstvenim	A:aef	sopstven
ambicijama	N:f	ambicija
scenarista	N:m	scenarista
koji	PRO	koji
po	PREP	po
prvi	A:aem	prvi
put	N:m	put
režira	N:m	režira
,	PUNCT	,
Srđa	N:m	Srđa
(	PUNCT	(
n	N:m	n
)	PUNCT	)
Anđelić	N:m	Anđelić
,	PUNCT	,
uvodi	N:m	uvod
i	CONJ	i
brata	N:m	brata
Zlaju	N:m	Zlaju
,	PUNCT	,
nekadašnjeg	A:aen	nekadašnji
vođu	N:m	vođ
Delija	N:f	Delija
i	CONJ	i
ratnog	A:aem	ratni
veterana	N:m	veteran
,	PUNCT	,
zatim	ADV	zatim
druge	A:aem	drugi
navijače	N:m	navijač
koji	PRO	koji
se	PAR	se
sada	ADV	sada
vraćaju	N:m	vraćaju
iz	PREP	iz
raznih	A:aem	raznih
luksemburga	N:m	Luksemburg
sa	PREP	sa
sumnjivim	A:aem	sumnjiv
biznisima	N:m	biznis
i	CONJ	i
idejama	N:f	ideja
kako	CONJ	kako
srpski	A:aem	srpski
fudbal	N:m	fudbal
još	ADV	još
može	A:aem	može
da	CONJ	da
se	PAR	se
izmuze	N:m	izmuze
,	PUNCT	,
naslućuju	N:m	naslućuju
se	PAR	se
polupani	V:m	polupati
brakovi	N:m	brak
između	PREP	između
njih	PRO	ona
i	CONJ	i
policije	N:f	policija
,	PUNCT	,
da	CONJ	da
bi	V:m	bi
se	PAR	se
film	N:m	film
na	PREP	na
kraju	N:m	kraj
iz	PREP	iz
svog	PRO	svoj
potencijalno	ADV	potencijalno
Mekgafinovskog	A:aem	Mekgafinovskog
'	N:m	'
dovođenja	N:n	dovođenje
Vidića	N:m	Vidić
'	N:m	'
sveo	V:m	svesti
na	PREP	na
bolno	ADV	bolno
glupu	A:aef	glup
realizaciju	N:f	realizacija
ideje	N:f	ideja
kako	CONJ	kako
da	CONJ	da
se	PAR	se
to	PRO	taj
postigne	N:m	postigne
.	SENT	.
Sa	PREP	sa
previše	ADV	previše
utrošenog	A:aem	utrošen
prostora	N:m	prostor
na	PREP	na
ove	PRO	ovaj
stvari	N:f	stvar
,	PUNCT	,
ali	CONJ	ali
bez	PREP	bez
iskrenog	A:aem	iskren
interesa	N:m	interes
za	PREP	za
njih	PRO	ona
Artiljero	N:f	Artiljero
tone	N:m	ton
pod	PREP	pod
teretom	N:m	teret
opravdanih	A:aef	opravdan
,	PUNCT	,
ali	CONJ	ali
izlizanih	A:aef	izlizan
fraza	N:f	fraza
i	CONJ	i
konstatacija	N:f	konstatacija
o	PREP	o
dotaknutom	A:aen	dotaknut
dnu	N:n	dno
srpskog	A:aen	srpski
fudbala	N:m	fudbal
,	PUNCT	,
a	CONJ	a
priča	N:f	priča
zbog	PREP	zbog
toga	PRO	taj
trpi	N:f	trpi
ozbiljan	A:aem	ozbiljan
,	PUNCT	,
i	CONJ	i
možda	PAR	možda
fatalan	A:aem	fatalan
,	PUNCT	,
bočni	A:aem	bočni
sudar	N:m	sudar
.	SENT	.
U	PREP	u
ostalom	A:aem	ostalom
,	PUNCT	,
o	PREP	o
tome	PRO	taj
da	CONJ	da
fudbalska	A:aef	fudbalski
mečka	N:f	mečka
ima	V:m	ima
sedam	NUM	sedam
koža	N:f	koža
govori	N:m	govor
i	CONJ	i
činjenica	N:f	činjenica
da	CONJ	da
joj	PRO	ona
ni	PAR	ni
Brankica	N:f	Brankica
Stanković	N:m	Stanković
nije	N:f	nije
mogla	V:n	moći
ništa	ADV	ništa
uprkos	PREP	uprkos
ozbiljnom	A:aem	ozbiljan
mlaćenju	N:n	mlaćenje
.	SENT	.
E	CONJ	e
,	PUNCT	,
sad	ADV	sad
,	PUNCT	,
da	CONJ	da
su	N:m	su
samo	CONJ	samo
'	N:m	'
ozbiljne	A:aef	ozbiljan
teme	N:f	tema
'	A:aem	'
problem	N:m	problem
Artiljera	N:m	Artiljera
,	PUNCT	,
pa	CONJ	pa
i	CONJ	i
da	CONJ	da
zažmurimo	N:f	zažmurimo
(	PUNCT	(
nešto	PRO	nešto
što	PRO	što
smo	N:f	smo
mogli	V:m	moći
gledajući	A:aem	gledajući
Tilva	N:f	Tilva
Roš	N:m	Roš
,	PUNCT	,
ako	CONJ	ako
nismo	N:f	nismo
zaspali	V:m	zaspati
)	PUNCT	)
.	SENT	.
Ako	CONJ	ako
ste	A:aem	ste
gledali	V:m	gledati
Klip	N:m	klip
i	CONJ	i
poverovali	V:m	poverovati
da	CONJ	da
je	PRO	ona
to	PRO	taj
najsvežija	A:cef	svež
slika	N:f	slika
naše	PRO	naš
omladine	N:f	omladina
onda	ADV	onda
će	V:m	će
vam	PRO	vi
likovi	N:m	lik
Jasninih	A:aem	Jasninih
i	CONJ	i
Đoletovih	A:aem	Đoletovih
vršnjaka	N:m	vršnjak
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
u	PREP	u
najmanju	N:n	najmanju
ruku	N:f	ruka
delovati	A:aem	delovati
retardirano	A:aen	retardiran
,	PUNCT	,
jer	CONJ	jer
Anđelićevi	A:aem	Anđelićev
tinejdžeri	N:m	tinejdžer
i	CONJ	i
kad	CONJ	kad
su	N:m	su
najljući	A:cem	ljut
(	PUNCT	(
šibanje	N:n	šibanje
Delija	N:f	Delija
džuniora	N:m	džunior
sa	PREP	sa
Grobarima	N:m	grobar
džuniorima	N:m	džunior
)	PUNCT	)
deluju	A:aen	deluju
naivno	A:aen	naivan
,	PUNCT	,
dobroćudno	A:aen	dobroćudan
,	PUNCT	,
dečije	A:aem	dečiji
,	PUNCT	,
kao	ADV	kao
preseljeni	V:m	preseliti
iz	PREP	iz
nekog	PRO	neki
drugog	A:aem	drugi
,	PUNCT	,
plemenitijeg	A:ben	plemenit
doba	N:n	doba
.	PUNCT	.
Mali	A:aem	mali
,	PUNCT	,
iako	CONJ	iako
mu	PRO	on
je	PRO	ona
brat	N:m	brat
vodio	V:m	voditi
Delije	N:f	Delija
(	PUNCT	(
kad	CONJ	kad
se	PAR	se
on	PRO	on
doduše	PAR	doduše
još	ADV	još
nije	V:m	nije
ni	CONJ	ni
rodio	V:m	roditi
)	PUNCT	)
,	PUNCT	,
ni	CONJ	ni
po	PREP	po
čemu	PRO	šta
posebnom	A:aef	poseban
nije	A:aef	nije
Delija	N:f	Delija
.	SENT	.
On	PRO	on
je	PRO	ona
pre	PREP	pre
slika	N:f	slika
i	CONJ	i
prilika	N:f	prilika
tinejdžera	N:m	tinejdžer
koji	PRO	koji
voli	N:m	Voli
fudbal	N:m	fudbal
,	PUNCT	,
a	CONJ	a
možda	PAR	možda
i	CONJ	i
život	N:m	život
(	PUNCT	(
što	CONJ	što
ga	PRO	on
čini	N:f	čini
vrlo	ADV	vrlo
atipičnim	A:aem	atipičan
Srbinom	N:m	Srbin
)	PUNCT	)
.	SENT	.
U	PREP	u
nastavku	N:m	nastavak
Anđelićeve	A:aef	Anđelićev
stilizacije	N:f	stilizacija
tinejdžerskog	A:aen	tinejdžerski
sveta	A:aef	svet
imamo	N:m	imamo
i	CONJ	i
Anu	N:f	Ana
,	PUNCT	,
njegovu	PRO	njegov
curu	N:f	cura
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
verovatno	PAR	verovatno
gledala	V:f	gledati
Klip	N:m	klip
pa	CONJ	pa
tokom	PREP	tokom
celog	A:aem	ceo
filma	N:m	film
ne	PAR	ne
ispušta	V:m	ispušta
mobilni	A:aem	mobilan
telefon	N:m	telefon
kojim	PRO	koji
snima	N:m	san
sve	ADV	sve
što	CONJ	što
stigne	A:aem	stigne
do	PREP	do
te	PRO	taj
mere	N:f	mera
,	PUNCT	,
da	CONJ	da
veliki	A:aem	velik
Artiljero	N:f	Artiljero
na	PREP	na
kraju	N:m	kraj
biva	A:aem	biva
film	N:m	film
o	PREP	o
snimanju	N:n	snimanje
malog	A:aem	mali
(	PUNCT	(
njenog	PRO	njen
)	PUNCT	)
'	A:aem	'
Artiljera	N:m	Artiljera
'	N:m	'
(	PUNCT	(
reč	N:f	reč
odabrana	A:aem	odabran
da	CONJ	da
dočara	N:m	dočara
entuzijazam	N:m	entuzijazam
Malog	A:aem	mali
)	PUNCT	)
i	CONJ	i
,	PUNCT	,
paradoksalno	A:aen	paradoksalan
,	PUNCT	,
ono	PRO	onaj
što	CONJ	što
od	PREP	od
tog	PRO	taj
filmića	A:aen	filmića
vidimo	A:aen	vidimo
predstavlja	N:n	predstavlja
najzanimljiviji	A:cem	zanimljiv
i	CONJ	i
najzabavniji	A:cem	zabavan
deo	N:m	deo
celog	A:aem	ceo
filma	N:m	film
-	PUNCT	-
nešto	ADV	nešto
kao	CONJ	kao
da	CONJ	da
su	N:m	su
Makavejev	N:m	Makavejev
i	CONJ	i
EmTiVi	N:m	EmTiVi
imali	V:m	imati
dobar	A:aem	dobar
seks	N:m	seks
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
svet	N:m	svet
te	CONJ	te
Ane	N:f	Ana
i	CONJ	i
njene	PRO	njen
drugarice	N:f	drugarica
svet	N:m	svet
je	PRO	ona
ajmekova	N:n	ajmekova
,	PUNCT	,
bavljenja	N:n	bavljenje
nekim	PRO	neki
opičenim	A:aem	opičen
dizajnom	N:m	dizajn
majica	N:f	majica
,	PUNCT	,
posve	ADV	posve
čednim	A:aen	čedan
bavljenjem	N:n	bavljenje
momcima	N:m	momak
,	PUNCT	,
dobrano	ADV	dobrano
nenalik	N:m	nenalik
mojim	PRO	moj
očekivanjima	N:n	očekivanje
od	PREP	od
srpskih	A:aef	srpski
tinejdžera	N:m	tinejdžer
.	SENT	.
Ali	CONJ	ali
svakako	PAR	svakako
zabavniji	A:bem	zabavan
od	PREP	od
onoga	PRO	onaj
prikazanog	A:aem	prikazan
u	PREP	u
Klipu	N:m	Klipa
.	SENT	.
Moj	PRO	moj
problem	N:m	problem
sa	PREP	sa
ovom	PRO	ovaj
stilizacijom	N:f	stilizacija
je	PRO	ona
što	PRO	što
ona	PRO	ona
,	PUNCT	,
sem	PREP	sem
u	PREP	u
bočnim	A:aef	bočni
minijaturama	N:f	minijatura
sa	PREP	sa
penzionisamim	A:aem	penzionisamim
navijačima	N:m	navijač
Cvijom	N:m	Cvija
i	CONJ	i
Bakočem	N:f	Bakočem
koji	PRO	koji
bleje	N:m	bleje
ispred	PREP	ispred
lokalnog	A:aem	lokalan
kioska	N:m	kiosk
,	PUNCT	,
trpi	N:f	trpi
ozbiljno	A:aen	ozbiljan
neslaganje	N:n	neslaganje
sa	PREP	sa
ostatkom	N:m	ostatak
realistično	A:aen	realističan
i	CONJ	i
prljavo	ADV	prljavo
prikazane	V:f	prikazati
Srbije	N:f	Srbija
(	PUNCT	(
barem	PAR	barem
kako	CONJ	kako
nas	PRO	mi
je	PRO	ona
Oleg	N:m	Oleg
navikao	V:m	naviknuti
da	CONJ	da
je	PRO	ona
vidimo	N:f	vidimo
)	PUNCT	)
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
bude	A:aen	bude
uparena	V:n	upariti
sa	PREP	sa
stilizovano	A:aen	stilizovan
realističnom	A:aef	realističan
i	CONJ	i
prljavom	A:aef	prljav
Srbijom	N:f	Srbija
(	PUNCT	(
nešto	ADV	nešto
što	CONJ	što
se	PAR	se
najčešće	ADV	najčešće
viđa	V:m	viđa
kod	PREP	kod
Dragojevića	N:m	Dragojević
,	PUNCT	,
recimo	A:aen	recimo
)	PUNCT	)
.	SENT	.
Košmar	N:m	Košmar
tog	PRO	taj
sudara	N:m	sudar
vidi	N:f	vida
se	PAR	se
i	CONJ	i
u	PREP	u
glumi	N:f	gluma
glavnih	A:aem	glavnih
aktera	N:m	akter
.	SENT	.
Nebojša	N:m	Nebojša
Glogovac	N:m	Glogovac
od	PREP	od
Potpalublja	A:aef	Potpalublja
vuče	N:f	vuča
tu	ADV	tu
,	PUNCT	,
uvek	ADV	uvek
istu	A:aem	isti
sliku	N:f	slika
i	CONJ	i
priliku	N:f	prilika
demolirane	V:f	demolirati
srpske	A:aef	srpski
generacije	N:f	generacija
(	PUNCT	(
rođene	V:f	roditi
sredinom	N:f	sredina
i	CONJ	i
krajem	PREP	krajem
šezdesetih	A:aen	šezdeseti
)	PUNCT	)
koja	PRO	koji
u	PREP	u
jeftinoj	A:aef	jeftin
brlji	N:f	brlja
ili	CONJ	ili
sponzorskom	A:aen	sponzorski
pivu	N:n	pivo
,	PUNCT	,
u	PREP	u
oblaku	N:m	oblak
duvanskog	A:aen	duvanski
ili	CONJ	ili
neprskanog	A:aem	neprskan
dima	N:m	dim
,	PUNCT	,
žali	N:m	žal
za	PREP	za
propuštenim	A:aen	propušten
,	PUNCT	,
nesposobna	A:aen	nesposoban
da	CONJ	da
izroni	A:aem	izroni
iz	PREP	iz
srpskog	A:aen	srpski
mulja	N:m	mulj
i	CONJ	i
uvek	ADV	uvek
voljna	A:aen	voljan
da	CONJ	da
nas	PRO	mi
zapljusne	A:aem	zapljusne
patetičnim	A:aen	patetičan
i	CONJ	i
prosvetljujućim	A:aen	prosvetljujućim
poređenjima	N:n	poređenje
na	PREP	na
temu	N:f	tema
nekad	ADV	nekad
&	V	&&&&&
sad	ADV	sad
.	SENT	.
Kunem	N:m	Kunem
vam	PRO	vi
se	PAR	se
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
bukvalno	ADV	bukvalno
ima	A:aem	ima
nekoliko	ADV	nekoliko
scena	N:f	scena
u	PREP	u
kojima	PRO	koji
niste	N:m	niste
sigurni	A:aem	siguran
da	CONJ	da
li	PAR	li
Glogovca	N:m	Glogovac
gledate	A:aem	gledate
u	PREP	u
Artiljeru	N:m	Artiljeru
ili	CONJ	ili
u	PREP	u
Nebeskoj	A:aef	nebeski
udici	N:f	udica
,	PUNCT	,
Normalnim	A:aem	normalan
ljudima	N:m	ljudi
ili	CONJ	ili
Buretu	N:m	Buretu
baruta	N:m	barut
.	SENT	.
Ovaj	PRO	ovaj
tajpkasting	N:m	tajpkasting
nesumnjivo	ADV	nesumnjivo
je	PRO	ona
upropastio	V:m	upropastiti
sjajnog	A:aem	sjajan
glumca	N:m	glumac
.	SENT	.
Nasuprot	PREP	nasuprot
njemu	PRO	on
Jovan	N:m	Jovan
Kolarić	N:m	Kolarić
(	PUNCT	(
Mali	N:m	Mali
)	PUNCT	)
i	CONJ	i
naročito	ADV	naročito
Ana	N:f	Ana
Konjović	N:m	Konjović
(	PUNCT	(
Ana	N:f	Ana
)	PUNCT	)
deluju	A:aen	deluju
sveže	A:aen	svež
i	CONJ	i
voljno	A:aen	voljan
da	CONJ	da
kroje	N:m	kroj
nekakvu	PRO	nekakav
drugačiju	A:aem	drugačiji
srpsku	A:aef	srpski
filmsku	A:aef	filmski
realnost	N:f	realnost
.	SENT	.
Mislim	A:aem	Mislim
da	CONJ	da
Ana	N:f	Ana
ima	A:aen	ima
sjajnu	A:aef	sjajan
filmsku	A:aef	filmski
prisutnost	N:f	prisutnost
i	CONJ	i
dobar	A:aem	dobar
instinkt	N:m	instinkt
za	PREP	za
to	PRO	taj
da	CONJ	da
je	PRO	ona
'	N:m	'
pred	PREP	pred
kamerama	N:f	kamera
'	N:m	'
,	PUNCT	,
nešto	ADV	nešto
što	CONJ	što
njene	PRO	njen
školovane	A:aef	školovan
koleginice	N:f	koleginica
,	PUNCT	,
upropaštene	V:f	upropastiti
na	PREP	na
FDU	N:f	FDU
-	PUNCT	-
u	PREP	u
,	PUNCT	,
ne	PAR	ne
mogu	A:aen	mogu
da	CONJ	da
postignu	A:aen	postignu
ni	CONJ	ni
za	PREP	za
pare	N:f	para
.	SENT	.
Čestitke	N:f	Čestitke
Srđi	N:m	Srđa
što	CONJ	što
ju	PRO	ona
je	PRO	ona
otkrio	V:m	otkriti
.	SENT	.
Kao	CONJ	kao
reditelj	N:m	reditelj
Anđelić	N:m	Anđelić
ne	PAR	ne
deluje	N:m	deluje
ništa	ADV	ništa
lošije	A:ben	loš
od	PREP	od
onih	PRO	onaj
koji	PRO	koji
su	N:m	su
u	PREP	u
tom	PRO	taj
poslu	N:m	posao
duže	ADV	duže
od	PREP	od
njega	PRO	on
.	SENT	.
Sa	PREP	sa
par	N:m	par
sloumoušna	A:aem	sloumoušna
bez	PREP	bez
kojih	PRO	koji
se	PAR	se
itekako	ADV	itekako
moglo	V:n	moći
Artiljero	N:f	Artiljero
izgleda	N:m	izgled
kao	CONJ	kao
većina	N:f	većina
naših	PRO	naš
nešotrijanskih	A:aem	nešotrijanskih
filmova	N:m	film
i	CONJ	i
nažalost	ADV	nažalost
tek	CONJ	tek
povremeno	ADV	povremeno
se	PAR	se
prepušta	V:n	prepušta
nekim	PRO	neki
smelijim	A:bef	smeo
,	PUNCT	,
'	A:aem	'
iracionalnijim	N:m	iracionalnijim
'	A:aem	'
rešenjima	N:n	rešenje
(	PUNCT	(
trenutak	N:m	trenutak
zaljubljivanja	N:n	zaljubljivanje
Ane	N:f	Ana
i	CONJ	i
Malog	A:aen	mali
sa	PREP	sa
vrtenjem	N:n	vrtenje
u	PREP	u
krug	N:m	krug
)	PUNCT	)
koja	PRO	koji
štrče	N:n	štrče
iz	PREP	iz
filma	N:m	film
i	CONJ	i
,	PUNCT	,
nadam	N:m	nadam
se	PAR	se
,	PUNCT	,
naslućuju	N:m	naslućuju
da	CONJ	da
bi	N:m	bi
ovo	PRO	ovaj
bio	V:m	biti
daleko	ADV	daleko
bolji	A:bem	dobar
film	N:m	film
da	CONJ	da
se	PAR	se
Anđelić	N:m	Anđelić
više	ADV	više
prepustio	V:m	prepustiti
svojim	PRO	svoj
fiks	N:m	fiks
-	PUNCT	-
idejama	N:f	ideja
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
propisanim	A:aen	propisan
filmskim	A:aef	filmski
propozicijama	N:f	propozicija
.	SENT	.
Za	PREP	za
razliku	N:f	razlika
od	PREP	od
Klipa	N:m	Klipa
,	PUNCT	,
ovde	ADV	ovde
je	PRO	ona
upotreba	N:f	upotreba
snimaka	N:f	snimka
mobilnih	A:aen	mobilan
telefonom	N:m	telefon
smislenija	A:ben	smislen
,	PUNCT	,
u	PREP	u
estetskom	A:aem	estetski
smislu	N:m	smisao
doprinosi	N:m	doprinos
ideji	N:f	ideja
dočaravanja	N:n	dočaravanje
njihovog	PRO	njihov
ljubavnog	A:aem	ljubavan
zanosa	N:m	zanos
,	PUNCT	,
a	CONJ	a
,	PUNCT	,
konačno	ADV	konačno
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
filma	N:m	film
vidimo	N:f	vidimo
i	CONJ	i
rezultat	N:m	rezultat
svih	PRO	sav
tih	PRO	taj
snimanja	N:n	snimanje
.	SENT	.
Artiljero	N:f	Artiljero
ni	PAR	ni
po	PREP	po
čemu	PRO	šta
nije	A:aem	nije
veliki	A:aem	velik
film	N:m	film
.	PUNCT	.
Čak	N:m	Čak
ni	CONJ	ni
veliki	A:aem	velik
mali	A:aem	mali
.	SENT	.
Sem	PREP	sem
možda	ADV	možda
po	PREP	po
činjenici	N:f	činjenica
da	CONJ	da
ga	PRO	on
je	PRO	ona
njegov	PRO	njegov
autor	N:m	autor
sam	A:aem	sam
sa	PREP	sa
svojih	PRO	svoj
deset	NUM	deset
prstiju	N:m	prst
podigao	V:m	podignuti
ni	PAR	ni
iz	PREP	iz
čega	PRO	šta
i	CONJ	i
pokazao	V:m	pokazati
da	CONJ	da
je	PRO	ona
to	PRO	taj
moguće	ADV	moguće
.	PUNCT	.
Znači	N:f	Znači
,	PUNCT	,
bez	PREP	bez
Čivasa	N:m	Čivasa
,	PUNCT	,
Dače	N:f	Dača
i	CONJ	i
ekipe	N:f	ekipa
.	SENT	.
Upravo	ADV	upravo
zato	ADV	zato
i	CONJ	i
boli	V:m	bosti
što	PRO	što
film	N:m	film
ne	PAR	ne
dočarava	N:m	dočarava
tu	PRO	taj
strast	N:f	strast
,	PUNCT	,
tu	PRO	taj
volju	N:f	volja
,	PUNCT	,
tu	PRO	taj
budalstost	N:f	budalstost
.	SENT	.
Što	N:m	Što
je	PRO	ona
nekako	ADV	nekako
umeren	V:m	umeriti
i	CONJ	i
primiren	V:m	primiriti
,	PUNCT	,
umesto	PREP	umesto
da	CONJ	da
divlja	A:aem	divalj
,	PUNCT	,
srlja	N:m	srlja
,	PUNCT	,
greši	N:f	greši
i	CONJ	i
pogađa	N:f	pogađa
na	PREP	na
sve	PRO	sav
načine	N:m	način
.	SENT	.
Što	N:m	Što
nije	A:aem	nije
Mjehur	N:m	mjehur
Ubica	N:f	ubica
.	SENT	.
