Jedan	NUM	jedan
od	PREP	od
najdužih	A:cef	dug
filmova	N:m	film
ove	PRO	ovaj
jeseni	N:f	jesen
(	PUNCT	(
i	CONJ	i
u	PREP	u
pogledu	N:m	pogled
naslova	N:m	naslov
i	CONJ	i
u	PREP	u
pogledu	N:m	pogled
trajanja	N:n	trajanje
)	PUNCT	)
je	PRO	ona
The	INT	The
Assassination	A:aem	Assassination
of	N:m	of
Jesse	N:m	Jesse
James	N:f	James
by	A:aem	by
the	N:m	the
Coward	N:m	Coward
Robert	N:m	Robert
Ford	N:m	Ford
.	SENT	.
Neki	PRO	neki
delovi	N:m	deo
filma	N:m	film
su	PREF	su
brilijantni	A:aem	brilijantni
i	CONJ	i
kao	ADV	kao
inspirisani	A:aem	inspirisan
Terrenceom	N:m	Terrenceom
Malickom	N:f	Malickom
,	PUNCT	,
ali	CONJ	ali
žalosnom	A:aem	žalostan
srednjem	A:aem	srednji
delu	N:n	delo
očajnički	A:aem	očajnički
treba	N:f	treba
ruka	N:f	ruka
brutalnog	A:aem	brutalan
montažera	N:m	montažer
.	SENT	.
The	INT	The
Assassination	A:aem	Assassination
of	N:m	of
Jesse	N:m	Jesse
James	N:f	James
počinje	N:f	počinje
i	CONJ	i
završava	N:f	završava
se	PAR	se
snažno	ADV	snažno
,	PUNCT	,
ali	CONJ	ali
do	PREP	do
tog	PRO	taj
kraja	N:m	kraj
će	V:m	će
izgubiti	A:aem	izgubiti
brojne	A:aem	brojni
gledaoce	N:m	gledalac
zahvaljujući	PREP	zahvaljujući
frustrirajućem	A:aen	frustrirajući
srednjem	A:aem	srednji
delu	N:n	delo
koji	PRO	koji
previše	ADV	previše
vremena	N:n	vreme
provodi	N:m	provod
baveći	V:m	baveći
se	PAR	se
sporednim	A:aem	sporedan
likovima	N:m	lik
i	CONJ	i
često	ADV	često
zaboravlja	N:n	zaboravlja
na	PREP	na
naslovne	A:aef	naslovni
likove	N:m	lik
.	SENT	.
Jedan	NUM	jedan
od	PREP	od
aspekata	N:m	aspekt
života	N:m	život
(	PUNCT	(
i	CONJ	i
smrti	N:f	smrt
)	PUNCT	)
poznatog	A:aen	poznat
odmetnika	N:m	odmetnik
Jesse	N:f	Jesse
Jamesa	N:f	Jamesa
(	PUNCT	(
Brad	N:m	Brad
Pitt	N:f	Pitt
)	PUNCT	)
na	PREP	na
koji	PRO	koji
ukazuje	N:m	ukazuje
ova	PRO	ovaj
preuveličana	A:aef	preuveličan
drama	N:f	drama
je	PRO	ona
način	N:m	način
na	PREP	na
koji	PRO	koji
je	PRO	ona
poznata	A:aem	poznat
ličnost	N:f	ličnost
oživela	V:f	oživeti
van	PREP	van
samog	PRO	sam
filma	N:m	film
.	SENT	.
Gledan	V:m	gledati
kroz	PREP	kroz
hladno	A:aen	hladan
i	CONJ	i
teško	A:aen	težak
svetlo	N:n	svetlo
,	PUNCT	,
James	N:m	James
(	PUNCT	(
Brad	N:m	Brad
Pitt	N:f	Pitt
)	PUNCT	)
je	PRO	ona
bio	V:m	biti
lopov	N:m	lopov
i	CONJ	i
ubica	N:m	ubica
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
za	PREP	za
vreme	N:n	vreme
njegovog	PRO	njegov
života	N:m	život
,	PUNCT	,
mit	N:m	mit
je	PRO	ona
zasenio	V:m	zaseniti
realnost	N:f	realnost
.	SENT	.
Na	PREP	na
njega	PRO	on
su	N:m	su
gledali	V:m	gledati
kao	ADV	kao
na	PREP	na
smelog	A:aem	smeo
junaka	N:m	junak
tipa	N:m	tip
Robina	N:m	Robin
Hoooda	N:m	Hoooda
kog	PRO	koji
su	N:m	su
ponekad	ADV	ponekad
nazivali	V:m	nazivati
i	CONJ	i
herojem	N:m	heroj
.	SENT	.
Robert	N:m	Robert
Ford	N:m	Ford
(	PUNCT	(
Cassey	A:aem	Cassey
Affleck	N:m	Affleck
)	PUNCT	)
je	PRO	ona
ovo	PRO	ovaj
saznao	V:m	saznati
na	PREP	na
teži	A:bem	težak
način	N:m	način
kada	CONJ	kada
je	PRO	ona
ubio	V:m	ubiti
Jamesa	N:f	Jamesa
.	SENT	.
Njegova	PRO	njegov
prvobitna	A:aen	prvobitan
očekivanja	N:n	očekivanje
su	PREF	su
bila	V:f	biti
da	CONJ	da
će	V:f	će
ga	PRO	on
svet	N:m	svet
pozdraviti	V:m	pozdraviti
zaglušujućim	A:aem	zaglušujući
aplauzom	N:m	aplauz
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
reakcija	N:f	reakcija
je	PRO	ona
bila	V:f	biti
suprotna	A:aen	suprotan
.	SENT	.
Posle	PREP	posle
perioda	N:m	period
radoznalosti	N:f	radoznalost
,	PUNCT	,
javno	A:aen	javan
mišljenje	N:n	mišljenje
se	PAR	se
okrenulo	V:n	okrenuti
protiv	PREP	protiv
njega	PRO	on
.	PUNCT	.
Na	PREP	na
ovo	PRO	ovaj
se	PAR	se
odnosi	N:m	odnos
naslov	N:m	naslov
filma	N:m	film
,	PUNCT	,
u	PREP	u
kome	PRO	koji
se	PAR	se
on	PRO	on
pominje	N:n	pominje
kao	CONJ	kao
'	A:aem	'
Kukavica	N:m	Kukavica
Robert	N:m	Robert
Ford	N:m	Ford
'	N:m	'
.	SENT	.
Prvih	A:aef	prvi
trideset	NUM	trideset
minuta	N:m	minut
filma	N:m	film
su	PREF	su
sjajni	A:aem	sjajan
.	SENT	.
Sedmog	A:aem	sedmi
septembra	N:m	septembar
1881	NUM	@card@
.	PUNCT	.
godine	N:f	godina
,	PUNCT	,
treba	N:f	treba
da	CONJ	da
se	PAR	se
odigra	N:f	odigra
pljačka	N:f	pljačka
voza	N:m	voz
.	SENT	.
James	N:f	James
ima	N:m	ima
34	NUM	@card@
godine	N:f	godina
.	SENT	.
Ovo	PRO	ovaj
će	A:aem	će
biti	N:f	bit
poslednji	A:aem	poslednji
zločin	N:m	zločin
bande	N:f	banda
James	N:f	James
posle	PREP	posle
dvanaest	NUM	dvanaest
godina	N:f	godina
.	SENT	.
Jesse	N:f	Jesse
i	CONJ	i
njegov	PRO	njegov
stariji	A:bem	star
brat	N:m	brat
Frank	N:m	Frank
(	PUNCT	(
Sam	N:m	Sam
Shepard	N:m	Shepard
)	PUNCT	)
još	ADV	još
uvek	ADV	uvek
predvode	N:m	predvode
bandu	N:f	banda
,	PUNCT	,
ali	CONJ	ali
svi	PRO	sav
prvobitni	A:aem	prvobitan
članovi	N:m	član
su	PREF	su
ili	CONJ	ili
mrtvi	A:aem	mrtav
ili	CONJ	ili
u	PREP	u
zatvoru	N:m	zatvor
.	SENT	.
U	PREP	u
ovoj	PRO	ovaj
pljački	N:f	pljačka
im	PRO	ona
se	PAR	se
stoga	ADV	stoga
pridružuje	N:m	pridružuje
gomila	N:f	gomila
lokalnih	A:aef	lokalan
bandita	N:m	bandit
,	PUNCT	,
među	PREP	među
kojima	PRO	koji
i	CONJ	i
Robert	N:m	Robert
Ford	N:m	Ford
.	SENT	.
On	PRO	on
je	PRO	ona
veliki	A:aem	velik
Jamesov	A:aem	Jamesov
fan	N:m	fan
,	PUNCT	,
i	CONJ	i
od	PREP	od
svoje	PRO	svoj
najranije	A:cem	ran
mladosti	N:f	mladost
ga	PRO	on
je	PRO	ona
idolizovao	V:m	idolizovao
.	SENT	.
On	PRO	on
je	PRO	ona
takođe	PAR	takođe
bolesno	ADV	bolesno
opsednut	V:m	opsednuti
time	PRO	taj
da	CONJ	da
postane	A:aem	postane
odmetnik	N:m	odmetnik
.	SENT	.
Frank	N:m	Frank
mu	PRO	on
kaže	N:f	kaža
:	SENT	:
'	A:aem	'
Nemaš	N:m	Nemaš
potrebne	A:aem	potreban
sastojke	N:m	sastojak
,	PUNCT	,
sinko	N:m	sinak
.	PUNCT	.
'	N:m	'
Bilo	V:n	biti
kako	CONJ	kako
bilo	V:n	biti
,	PUNCT	,
on	PRO	on
se	PAR	se
ušuškava	N:f	ušuškava
u	PREP	u
Jamesovo	A:aen	Jamesovo
poverenje	N:n	poverenje
i	CONJ	i
postaje	N:f	postaja
mu	PRO	on
povremeni	A:aem	povremen
saputnik	N:m	saputnik
sve	PRO	sav
do	PREP	do
dana	N:m	dan
kada	CONJ	kada
gonjen	A:aem	gonjen
pola	N:m	pol
strahom	N:m	strah
,	PUNCT	,
a	CONJ	a
pola	ADV	pola
pohlepom	N:f	pohlepa
,	PUNCT	,
počini	A:aem	počini
ubistvo	N:n	ubistvo
koje	PRO	koji
mu	PRO	on
otvara	N:m	otvara
put	N:f	put
ka	PREP	ka
sramoti	N:f	sramota
.	SENT	.
Problem	N:m	problem
je	PRO	ona
u	PREP	u
tome	PRO	taj
što	CONJ	što
je	PRO	ona
deo	N:m	deo
između	PREP	između
pljačke	N:f	pljačka
voza	N:m	voz
i	CONJ	i
Jessejeve	N:m	Jessejeve
smrti	N:f	smrt
dosadan	A:aem	dosadan
.	SENT	.
Više	N:m	Vis
se	PAR	se
koncentriše	V:m	koncentriše
na	PREP	na
manje	ADV	manje
likove	N:m	lik
koji	PRO	koji
nisu	N:m	nisu
posebno	ADV	posebno
zanimljivi	A:aem	zanimljiv
.	SENT	.
Tokom	PREP	tokom
ovog	PRO	ovaj
dela	N:n	delo
,	PUNCT	,
razvoj	N:m	razvoj
Jessejevog	A:aem	Jessejevog
i	CONJ	i
Robertovog	A:aem	Robertov
lika	N:m	lik
je	PRO	ona
neujednačen	A:aem	neujednačen
.	SENT	.
Ford	N:m	Ford
i	CONJ	i
dalje	ADV	dalje
ostaje	N:n	ostaje
enigma	N:f	enigma
.	PUNCT	.
Ni	CONJ	ni
u	PREP	u
jednom	NUM	jedan
momentu	N:m	moment
nije	V:n	nije
efektivno	A:aen	efektivan
prikazano	V:n	prikazati
kako	CONJ	kako
se	PAR	se
on	PRO	on
transformisao	V:m	transformisati
iz	PREP	iz
Jessejevog	A:aem	Jessejevog
najvećeg	A:cem	velik
fana	N:m	fan
u	PREP	u
čoveka	N:m	čovek
koji	PRO	koji
ga	PRO	on
je	PRO	ona
gledao	V:m	gledati
sa	PREP	sa
zavišću	N:f	zavist
i	CONJ	i
ljubomorom	N:f	ljubomora
.	SENT	.
Provodeći	N:m	Provodeći
mnogo	ADV	mnogo
vremena	N:n	vreme
na	PREP	na
individuama	N:f	individua
koji	PRO	koji
ne	PAR	ne
pobuđuju	N:m	pobuđuju
niti	CONJ	niti
interesovanje	N:n	interesovanje
niti	CONJ	niti
simpatije	N:f	simpatija
kod	PREP	kod
publike	N:f	publika
,	PUNCT	,
film	N:m	film
reditelja	N:m	reditelj
Andrewa	N:m	Andrewa
Dominika	N:f	Dominika
skreće	A:aem	skreće
sa	PREP	sa
koloseka	N:m	kolosek
.	SENT	.
Film	N:m	film
ima	A:aem	ima
tri	NUM	tri
nepobitna	A:aem	nepobitan
aduta	N:m	adut
.	SENT	.
Gluma	N:f	gluma
,	PUNCT	,
naročito	ADV	naročito
od	PREP	od
strane	N:f	strana
Brada	N:m	Brad
Pitta	N:f	Pitta
kao	CONJ	kao
Jesse	N:m	Jesse
Jamesa	N:f	Jamesa
i	CONJ	i
Casseyja	A:aem	Casseyja
Afflecka	N:m	Afflecka
kao	CONJ	kao
sve	ADV	sve
ogorčenijeg	A:bem	ogorčen
Roberta	N:m	Roberto
je	PRO	ona
odlična	A:aen	odličan
.	SENT	.
Ostavljajući	N:f	Ostavljajući
po	PREP	po
strani	A:aem	stran
imidž	N:m	imidž
superzvezde	N:f	superzvezde
,	PUNCT	,
Pitt	N:m	Pitt
se	PAR	se
seća	V:m	seća
dana	N:m	dan
s	PREP	s
početka	N:m	početak
svoje	PRO	svoj
karijere	N:f	karijera
,	PUNCT	,
kada	CONJ	kada
je	PRO	ona
kao	ADV	kao
karakterni	A:aem	karakteran
glumac	N:m	glumac
dobijao	V:m	dobijati
brojna	A:aef	brojni
priznanja	N:n	priznanje
.	SENT	.
Podršku	A:aem	Podršku
pružaju	N:m	pružaju
Sam	N:m	Sam
Shephard	N:m	Shephard
kao	CONJ	kao
Frank	N:m	Frank
(	PUNCT	(
koji	PRO	koji
se	PAR	se
pojavljuje	N:f	pojavljuje
u	PREP	u
filmu	N:m	film
samo	CONJ	samo
prvih	A:aef	prvi
30	NUM	@card@
minuta	N:m	minut
)	PUNCT	)
;	SENT	;
Mary	N:m	Mary
-	PUNCT	-
Louise	N:m	Louise
Parker	N:m	Parker
kao	CONJ	kao
Jessejeva	A:aef	Jessejeva
žena	N:f	žena
;	SENT	;
i	CONJ	i
Zoey	A:aem	Zoey
Deschanel	N:m	Deschanel
u	PREP	u
maloj	A:aef	mali
ali	CONJ	ali
važnoj	A:aef	važan
ulozi	N:f	uloga
Robertove	A:aef	Robertov
kasnije	ADV	kasnije
lepše	A:bef	lep
polovine	N:f	polovina
.	SENT	.
Pored	PREP	pored
glume	N:f	gluma
,	PUNCT	,
onaj	PRO	onaj
koji	PRO	koji
je	PRO	ona
najzaslužniji	A:cem	zaslužan
za	PREP	za
odličnost	N:f	odličnost
filma	N:m	film
je	PRO	ona
veteranski	A:aem	veteranski
kinematograf	N:m	kinematograf
Roger	N:m	Roger
Deakins	N:m	Deakins
.	SENT	.
Njegovi	PRO	njegov
snimci	N:f	snimka
pejzaža	N:m	pejzaž
prostranih	A:aem	prostran
polja	N:n	polje
Misurija	N:m	Misuri
su	PREF	su
čudesni	A:aem	čudesan
,	PUNCT	,
i	CONJ	i
postoje	N:m	postoje
brojne	A:aem	brojni
vizuelne	A:aef	vizuelan
kompozicije	N:f	kompozicija
koje	PRO	koji
oduzimaju	N:m	oduzimaju
dah	N:m	dah
.	SENT	.
Konačno	A:aen	Konačno
,	PUNCT	,
narativni	A:aem	narativan
glas	N:m	glas
koji	PRO	koji
se	PAR	se
čuje	N:f	čuje
tokom	PREP	tokom
filma	N:m	film
je	PRO	ona
informativan	A:aem	informativan
,	PUNCT	,
pametan	A:aem	pametan
i	CONJ	i
inteligentan	A:aem	inteligentan
.	SENT	.
The	INT	The
Assassination	A:aem	Assassination
of	N:m	of
Jesse	N:m	Jesse
James	N:m	James
je	PRO	ona
predugačak	A:aem	predugačak
film	N:m	film
.	PUNCT	.
Ne	PAR	ne
sumnjamo	N:f	sumnjamo
da	CONJ	da
je	PRO	ona
cilj	N:m	cilj
bio	V:m	biti
da	CONJ	da
se	PAR	se
snimi	V:m	snimi
kao	CONJ	kao
razvučen	V:m	razvući
roman	N:m	roman
koji	PRO	koji
pruža	A:aem	pruža
uvid	N:m	uvid
u	PREP	u
sve	PRO	sav
likove	N:m	lik
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
samo	PAR	samo
glavne	A:aef	glavne
.	PUNCT	.
Međutim	A:aef	Međutim
,	PUNCT	,
filmovi	N:m	film
nisu	N:m	nisu
romani	N:m	roman
i	CONJ	i
ovaj	PRO	ovaj
pristup	N:m	pristup
podstiče	A:aef	podstiče
apatiju	N:f	apatija
gledalaca	N:m	gledalac
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
takođe	PAR	takođe
čudno	ADV	čudno
jeste	INT	jeste
da	CONJ	da
je	PRO	ona
najintrigantnijem	A:cem	intrigantan
materijalu	N:m	materijal
filma	N:m	film
-	PUNCT	-
način	N:m	način
na	PREP	na
koji	PRO	koji
se	PAR	se
javno	A:aen	javan
mišljenje	N:n	mišljenje
o	PREP	o
Fordu	N:m	Ford
menja	N:n	menja
posle	PREP	posle
Jamesovog	A:aen	Jamesovog
ubistva	N:n	ubistvo
-	PUNCT	-
dato	V:n	dati
veoma	ADV	veoma
malo	ADV	malo
prostora	N:m	prostor
.	SENT	.
U	PREP	u
tim	PRO	taj
momentima	N:m	moment
film	N:m	film
oživljava	A:aem	oživljava
i	CONJ	i
postaje	N:f	postaja
vitalan	A:aem	vitalan
.	PUNCT	.
Ali	CONJ	ali
u	PREP	u
tim	PRO	taj
mometnima	A:aem	mometnima
se	PAR	se
takođe	PAR	takođe
i	CONJ	i
završava	A:aen	završava
.	SENT	.
Mnogo	ADV	mnogo
je	PRO	ona
manje	ADV	manje
uzbudljiv	A:aem	uzbudljiv
za	PREP	za
razliku	N:f	razlika
od	PREP	od
novog	A:aem	nov
rimejka	N:f	rimejka
3	NUM	@card@
:	PUNCT	:
10	NUM	@card@
to	PRO	taj
Yuma	N:m	Yuma
i	CONJ	i
više	ADV	više
se	PAR	se
koncentriše	V:m	koncentriše
na	PREP	na
detalje	N:m	detalj
nego	CONJ	nego
na	PREP	na
širu	A:bef	širok
sliku	N:f	slika
.	SENT	.
