Dvadeset	NUM	dvadeset
godina	N:f	godina
je	PRO	ona
nobelovac	N:m	nobelovac
Gabriel	N:m	Gabriel
Garcia	N:m	Garcia
Marquez	N:m	Marquez
uporno	ADV	uporno
odbijao	V:m	odbijati
da	CONJ	da
proda	N:m	proda
prava	N:n	pravo
na	PREP	na
ekranizaciju	N:f	ekranizacija
svog	PRO	svoj
kultnog	A:aem	kultnog
romana	N:m	roman
'	A:aem	'
Ljubav	N:f	ljubav
u	PREP	u
doba	N:n	doba
kolere	N:f	kolera
'	N:m	'
.	SENT	.
Ispostavilo	V:n	ispostaviti
se	PAR	se
da	CONJ	da
je	PRO	ona
bio	V:m	biti
u	PREP	u
pravu	N:n	pravo
,	PUNCT	,
da	CONJ	da
je	PRO	ona
dobru	A:aem	dobar
knjigu	N:f	knjiga
zaista	PAR	zaista
teško	ADV	teško
pretočiti	A:aem	pretočiti
u	PREP	u
film	N:m	film
,	PUNCT	,
da	CONJ	da
su	N:m	su
u	PREP	u
New	A:aem	New
Line	N:m	Lin
Cinema	N:m	Cinema
napravili	V:m	napraviti
loš	A:aem	loš
film	N:m	film
,	PUNCT	,
i	CONJ	i
pored	PREP	pored
toga	PRO	taj
što	PRO	što
su	N:m	su
imali	V:m	imati
i	CONJ	i
grandioznu	A:aef	grandiozan
ideju	N:f	ideja
i	CONJ	i
vrsnu	A:aef	vrstan
filmsku	A:aef	filmski
ekipu	N:f	ekipa
.	SENT	.
Britanac	N:m	Britanac
Mike	N:m	Mika
Newell	N:m	Newell
(	PUNCT	(
Četiri	N:m	Četiri
venčanja	N:n	venčanje
i	CONJ	i
sahrana	N:f	sahrana
,	PUNCT	,
Hari	N:m	Hari
Poter	N:m	Poter
i	CONJ	i
vatreni	A:aem	vatren
pehar	N:m	pehar
)	PUNCT	)
svojom	PRO	svoj
režijom	N:f	režija
ni	PAR	ni
izbliza	ADV	izbliza
nije	V:m	nije
uspeo	V:m	uspeti
da	CONJ	da
oživi	A:aem	oživi
vanvremensku	A:aef	vanvremenski
Marquezovu	A:aef	Marquezovu
priču	N:f	priča
,	PUNCT	,
koja	PRO	koji
se	PAR	se
dešava	V:m	dešava
u	PREP	u
Kolumbiji	N:f	Kolumbija
krajem	PREP	krajem
devetnaestog	A:aem	devetnaesti
i	CONJ	i
početkom	N:m	početak
dvadesetog	A:aem	dvadeseti
veka	N:m	vek
.	SENT	.
Ni	CONJ	ni
domišljatost	N:f	domišljatost
oskarovskog	N:m	oskarovskog
scenariste	N:m	scenarista
Ronalda	N:m	Ronald
Harwooda	N:m	Harwooda
(	PUNCT	(
Pijanista	N:m	pijanista
)	PUNCT	)
nije	N:f	nije
pomogla	V:f	pomoći
da	CONJ	da
čuvena	V:f	čuti
knjiga	N:f	knjiga
dobije	N:n	dobije
dobar	A:aem	dobar
filmski	A:aem	filmski
izraz	N:m	izraz
.	PUNCT	.
A	CONJ	a
i	CONJ	i
sablasna	A:aef	sablasna
mirnoća	N:f	mirnoća
i	CONJ	i
tih	PRO	taj
glas	N:m	glas
Javiera	N:m	Javiera
Bardema	N:m	Bardema
,	PUNCT	,
mnogo	ADV	mnogo
su	N:m	su
bolje	ADV	bolje
pasovali	V:m	pasovati
ulozi	N:f	uloga
ubice	N:f	ubica
psihopate	N:f	psihopata
iz	PREP	iz
Nema	N:m	Nema
zemlje	N:f	zemlja
za	PREP	za
starce	N:m	starac
,	PUNCT	,
nego	CONJ	nego
što	CONJ	što
su	N:m	su
bili	V:m	biti
od	PREP	od
koristi	N:f	korist
u	PREP	u
ulozi	N:f	uloga
romantika	N:f	romantika
iz	PREP	iz
Ljubavi	N:f	ljubav
u	PREP	u
doba	N:n	doba
kolere	N:f	kolera
.	SENT	.
Da	CONJ	da
se	PAR	se
podsetimo	N:f	podsetimo
same	PRO	sam
priče	N:f	priča
.	SENT	.
Florentino	N:f	Florentino
Ariz	N:m	Ariz
(	PUNCT	(
Javier	N:m	Javier
Bardem	N:m	Bardem
)	PUNCT	)
,	PUNCT	,
pesnik	N:m	pesnik
i	CONJ	i
telegrafista	N:m	telegrafista
,	PUNCT	,
još	ADV	još
u	PREP	u
mladosti	N:f	mladost
se	PAR	se
zaljubjluje	N:m	zaljubjluje
u	PREP	u
zanosnu	A:aef	zanosan
Ferminu	A:aef	Ferminu
Dazu	N:f	Dazu
(	PUNCT	(
Giovanna	A:aem	Giovanna
Mezzogiorno	N:m	Mezzogiorno
)	PUNCT	)
,	PUNCT	,
budeći	A:aem	budeći
i	CONJ	i
u	PREP	u
njoj	PRO	ona
strastvene	A:aem	strastven
osećaje	N:m	osećaj
kroz	PREP	kroz
seriju	N:f	serija
ljubavnih	A:aem	ljubavan
pisama	N:n	pismo
.	SENT	.
Ljubav	N:f	ljubav
je	PRO	ona
naravno	PAR	naravno
,	PUNCT	,
kako	CONJ	kako
to	PRO	taj
već	PAR	već
biva	A:aen	biva
u	PREP	u
romeovskoj	A:aef	romeovskoj
razradi	N:f	razrada
,	PUNCT	,
osuđena	A:aen	osuđen
na	PREP	na
propast	N:f	propast
zbog	PREP	zbog
neslaganja	N:n	neslaganje
roditelja	N:m	roditelj
i	CONJ	i
nerazumevanja	N:n	nerazumevanje
sredine	N:f	sredina
za	PREP	za
razlike	N:f	razlika
među	PREP	među
društvenim	A:aem	društven
klasama	N:f	klasa
.	SENT	.
E	CONJ	e
,	PUNCT	,
što	CONJ	što
se	PAR	se
tiče	N:n	tiče
Marqueza	N:m	Marqueza
,	PUNCT	,
tu	ADV	tu
kreće	A:aen	kreće
majstorstvo	N:n	majstorstvo
–	A:aem	–
vešto	A:aen	vešt
izbegavanje	N:n	izbegavanje
tankog	A:aem	tanak
leda	N:m	led
patetike	N:f	patetika
kroz	PREP	kroz
pripovedanje	N:n	pripovedanje
o	PREP	o
pedeset	NUM	pedeset
Florentinovih	A:aef	Florentinovih
godina	N:f	godina
provedenih	A:aef	proveden
u	PREP	u
čežnji	N:f	čežnja
za	PREP	za
neostvarenom	A:aef	neostvaren
ljubavi	N:f	ljubav
iz	PREP	iz
mladosti	N:f	mladost
.	SENT	.
Fermina	A:aem	Fermina
Daza	N:m	Daza
se	PAR	se
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
po	PREP	po
očevoj	A:aef	očev
želji	N:f	želja
,	PUNCT	,
udaje	N:f	udaja
za	PREP	za
doktora	N:m	doktor
Juvenala	N:m	Juvenala
Urbina	N:m	Urbino
(	PUNCT	(
Benjamin	N:m	Benjamin
Bratt	N:m	Bratt
)	PUNCT	)
,	PUNCT	,
poželjnog	A:aem	poželjan
aristokratu	N:m	aristokrata
i	CONJ	i
pariskog	A:aem	pariski
đaka	N:m	đak
koji	PRO	koji
zauzdava	A:aen	zauzdava
surovu	A:aen	surov
epidemiju	N:f	epidemija
kuge	N:f	kuga
.	SENT	.
Prolaze	N:m	prolaz
godine	N:f	godina
,	PUNCT	,
prolaze	N:m	prolaz
decenije	N:f	decenija
,	PUNCT	,
prolazi	N:m	prolaz
čitav	A:aem	čitav
život	N:m	život
,	PUNCT	,
a	CONJ	a
Florentino	N:f	Florentino
Ariz	N:m	Ariz
ni	CONJ	ni
u	PREP	u
izgnanstvu	N:n	izgnanstvo
svoje	PRO	svoj
telegrafske	A:aef	telegrafski
službe	N:f	služba
koja	PRO	koji
ga	PRO	on
vodi	N:f	voda
po	PREP	po
raznim	A:aef	raznim
latinoameričkim	A:aef	latinoamerički
gudurama	N:f	gudura
,	PUNCT	,
ni	CONJ	ni
kroz	PREP	kroz
gorka	A:aef	gorak
zaranjanja	N:n	zaranjanje
u	PREP	u
ponore	N:m	ponor
promiskuiteta	N:m	promiskuitet
,	PUNCT	,
ne	PAR	ne
uspeva	N:m	uspeva
da	CONJ	da
zaboravi	N:m	zaborav
Ferminu	A:aef	Ferminu
Dazu	N:f	Dazu
.	SENT	.
Univerzalna	A:aen	univerzalan
priča	N:f	priča
o	PREP	o
toplini	N:f	toplina
i	CONJ	i
nežnosti	N:f	nežnost
kao	CONJ	kao
najvećoj	A:cef	velik
potrebi	N:f	potreba
ljudske	A:aef	ljudski
duše	N:f	duša
,	PUNCT	,
o	PREP	o
tankoj	A:aef	tanak
liniji	N:f	linija
koja	PRO	koji
razdvaja	N:f	razdvaja
zaljubljenost	N:f	zaljubljenost
od	PREP	od
gorke	A:aef	gorak
iluzije	N:f	iluzija
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
sve	PRO	sav
ovo	PRO	ovaj
odnosi	N:m	odnos
se	PAR	se
samo	PAR	samo
na	PREP	na
knjigu	N:f	knjiga
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
i	CONJ	i
na	PREP	na
film	N:m	film
.	SENT	.
Film	N:m	film
je	PRO	ona
površan	A:aem	površan
po	PREP	po
svim	PRO	sav
osnovama	N:f	osnova
,	PUNCT	,
a	CONJ	a
aveti	N:f	avet
jeftine	A:aef	jeftin
patetike	N:f	patetika
nas	PRO	mi
nemilosrdno	A:aen	nemilosrdan
zaskaču	N:n	zaskaču
u	PREP	u
svim	PRO	sav
scenama	N:f	scena
obojenim	A:aef	obojen
Shakirinom	A:aef	Shakirinom
muzikom	N:f	muzika
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
je	PRO	ona
suzu	N:f	suza
nemoguće	ADV	nemoguće
proliti	A:aem	proliti
i	CONJ	i
najosetljivijim	A:cef	osetljiv
gledaocima	N:m	gledalac
.	SENT	.
Mike	N:m	Mika
Newell	N:m	Newell
je	PRO	ona
sa	PREP	sa
baroknom	A:aef	barokni
scenografijom	N:f	scenografija
uspeo	V:m	uspeti
samo	PAR	samo
da	CONJ	da
upečatljivo	ADV	upečatljivo
dočara	N:m	dočara
vreme	N:n	vreme
u	PREP	u
kojem	PRO	koji
se	PAR	se
radnja	N:f	radnja
zbiva	V:f	zbiva
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
je	PRO	ona
akcenat	N:m	akcent
Marquezove	A:aef	Marquezove
priče	N:f	priča
na	PREP	na
vanvremenosti	A:aef	vanvremenosti
teme	N:f	tema
,	PUNCT	,
i	CONJ	i
to	PRO	taj
je	PRO	ona
od	PREP	od
slabe	A:aef	slab
vajde	N:f	vajda
.	SENT	.
Jasno	ADV	jasno
je	PRO	ona
da	CONJ	da
će	A:aem	će
Ljubav	N:f	ljubav
u	PREP	u
doba	N:n	doba
kolere	N:f	kolera
publiku	N:f	publika
privući	V:m	privući
samo	PAR	samo
zbog	PREP	zbog
knjige	N:f	knjiga
,	PUNCT	,
a	CONJ	a
knjiga	N:f	knjiga
je	PRO	ona
već	PAR	već
popularna	A:aem	popularan
i	CONJ	i
bez	PREP	bez
filma	N:m	film
,	PUNCT	,
ali	CONJ	ali
ako	CONJ	ako
će	A:aem	će
se	PAR	se
baciti	N:m	baciti
neko	PRO	neki
dodatno	A:aen	dodatan
svetlo	N:n	svetlo
i	CONJ	i
privući	V:m	privući
oni	PRO	onaj
koji	PRO	koji
nikad	ADV	nikad
nisu	N:m	nisu
čitali	V:m	čitati
Marqueza	N:m	Marqueza
,	PUNCT	,
onda	ADV	onda
,	PUNCT	,
eto	PAR	eto
,	PUNCT	,
neka	PRO	neki
je	PRO	ona
filmu	N:m	film
sve	ADV	sve
oprošteno	V:n	oprostiti
.	SENT	.
