Sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
novi	A:aem	nov
film	N:m	film
Arsena	N:m	Arsen
Antona	N:m	Anton
Ostojića	N:m	Ostojić
,	PUNCT	,
kod	PREP	kod
nas	PRO	mi
najpoznatijeg	A:cem	poznat
po	PREP	po
ranijem	A:aen	raniji
radu	A:aem	rad
Ta	N:n	Ta
divna	A:aef	divan
splitska	A:aef	splitski
noć	N:f	noć
,	PUNCT	,
dosta	ADV	dosta
toga	PRO	taj
duguje	A:aef	duguje
estetikama	N:f	estetika
i	CONJ	i
tematskim	A:aem	tematski
kanonima	N:m	kanon
iz	PREP	iz
filmskog	A:aem	filmski
vremena	N:n	vreme
koje	PRO	koji
je	PRO	ona
ipak	PAR	ipak
prohujalo	V:n	prohujati
.	SENT	.
Halimin	A:aem	Halimin
put	N:m	put
je	PRO	ona
predratno	A:aen	predratni
-	PUNCT	-
poratna	A:aef	poratni
drama	N:f	drama
smeštena	V:f	smestiti
među	PREP	među
predstavnike	N:m	predstavnik
zakrvljenih	A:aem	zakrvljen
naciona	N:m	nacion
u	PREP	u
Bosni	N:f	Bosna
i	CONJ	i
Hercegovini	N:f	Hercegovina
,	PUNCT	,
a	CONJ	a
Ostojić	N:m	Ostojić
je	PRO	ona
ovde	ADV	ovde
očito	PAR	očito
ciljao	V:m	ciljati
da	CONJ	da
sačini	A:aem	sačini
svoj	PRO	sav
pandan	N:m	pandan
glasovitom	A:aem	glasovit
Pakulinom	A:aem	Pakulin
Sofijinom	A:aem	Sofijin
izboru	N:m	izbor
(	PUNCT	(
jedna	NUM	jedan
od	PREP	od
ključnih	A:aef	ključnih
junakinja	N:f	junakinja
,	PUNCT	,
zapravo	ADV	zapravo
nenamerni	A:aem	nenameran
generator	N:m	generator
dobrog	A:aem	dobar
dela	N:n	delo
nesreća	N:f	nesreća
u	PREP	u
Haliminom	A:aem	Haliminom
putu	N:m	put
se	PAR	se
i	CONJ	i
zove	N:f	zova
Safija	N:f	Safija
/	A:aem	/
Sofija	N:f	Sofija
)	PUNCT	)
.	SENT	.
Ima	V:m	Ima
se	PAR	se
podosta	ADV	podosta
toga	PRO	taj
pohvaliti	N:f	pohvaliti
ovde	ADV	ovde
(	PUNCT	(
još	ADV	još
jedan	NUM	jedan
odličan	A:aem	odličan
snimateljski	A:aem	snimateljski
rad	N:m	rad
Slobodana	N:m	Slobodan
Trninića	N:m	Trninić
,	PUNCT	,
sugestivna	A:aef	sugestivan
gluma	N:f	gluma
Alme	N:f	Alma
Price	N:m	Prica
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
nijansirana	A:aef	nijansiran
igra	N:f	igra
njege	N:f	njega
koleginice	N:f	koleginica
Olge	N:f	Olga
Pakalović	N:f	Pakalović
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
sasvim	ADV	sasvim
primerena	A:aef	primeren
muzika	N:f	muzika
Mate	N:m	Mata
Matišića	N:m	Matišić
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
ipak	PAR	ipak
ova	PRO	ovaj
priča	N:f	priča
o	PREP	o
majci	N:f	majka
koja	PRO	koji
godinama	N:f	godina
nastoji	N:f	nastoji
da	CONJ	da
uđe	N:n	uđe
u	PREP	u
trag	N:m	trag
posmrtnim	A:aem	posmrtni
ostacima	N:m	ostatak
sina	N:m	sin
,	PUNCT	,
dok	CONJ	dok
joj	PRO	ona
na	PREP	na
stoji	N:f	stoja
višekraka	A:aef	višekraka
porodična	A:aef	porodičan
tragedija	N:f	tragedija
iz	PREP	iz
mirnodopskih	A:aem	mirnodopski
dana	N:m	dan
na	PREP	na
kraju	N:m	kraj
ipak	PAR	ipak
ostavi	N:f	ostava
polovičan	A:aem	polovičan
utisak	N:m	utisak
,	PUNCT	,
i	CONJ	i
to	PRO	taj
na	PREP	na
prvom	A:aen	prvi
mestu	N:n	mesto
jer	CONJ	jer
i	CONJ	i
u	PREP	u
stilskom	A:aem	stilski
i	CONJ	i
u	PREP	u
narativnom	A:aem	narativan
i	CONJ	i
estetskom	A:aem	estetski
smislu	N:m	smisao
Ostojić	N:m	Ostojić
kao	CONJ	kao
ideju	N:f	ideja
-	PUNCT	-
vodilju	N:f	vodilja
bira	N:f	bira
upadljivi	A:aem	upadljiv
arhaizam	N:m	arhaizam
.	SENT	.
