Gde	ADV	gde
je	PRO	ona
Nađa	N:f	Nađa
?	SENT	?
priča	N:f	priča
je	PRO	ona
o	PREP	o
tihoj	A:aef	tih
potrazi	N:f	potraga
tiho	ADV	tiho
nestale	A:aem	nestao
devojke	N:f	devojka
.	PUNCT	.
A	CONJ	a
gotovo	ADV	gotovo
jednako	ADV	jednako
tiho	ADV	tiho
nastao	V:m	nastati
je	PRO	ona
i	CONJ	i
završen	V:m	završiti
je	PRO	ona
i	CONJ	i
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
o	PREP	o
kome	PRO	koji
se	PAR	se
doskora	ADV	doskora
ništa	ADV	ništa
nije	V:n	nije
ni	CONJ	ni
znalo	V:n	znati
.	SENT	.
Nije	A:aem	Nije
reč	N:f	reč
o	PREP	o
konspiraciji	N:f	konspiracija
(	PUNCT	(
tim	PRO	taj
pre	ADV	pre
jer	CONJ	jer
iza	PREP	iza
filma	N:m	film
delimično	ADV	delimično
stoji	N:f	stoja
firma	N:f	firma
Košutnjak	N:m	Košutnjak
Film	N:m	film
poznata	A:aem	poznat
po	PREP	po
medijskoj	A:aef	medijski
svezastupljenosti	N:f	svezastupljenosti
)	PUNCT	)
;	SENT	;
pre	PREP	pre
će	A:aef	će
biti	N:f	bit
da	CONJ	da
se	PAR	se
ovde	ADV	ovde
radi	PREP	radi
o	PREP	o
pravom	N:n	pravo
malom	A:aen	mali
čudu	N:n	čudo
koje	PRO	koji
je	PRO	ona
na	PREP	na
koncu	N:m	konac
stiglo	V:n	stignuti
do	PREP	do
svog	PRO	svoj
srećnog	A:aem	srećan
kraja	N:m	kraj
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
kompletirane	A:aef	kompletiran
realizacije	N:f	realizacija
.	SENT	.
Nakon	PREP	nakon
prikazivanja	N:n	prikazivanje
u	PREP	u
bočnom	A:aem	bočni
programu	N:m	program
Palićkog	A:aem	Palićkog
festivala	N:m	festival
sledi	V:m	sledi
još	ADV	još
par	N:m	par
svečarsko	A:aen	svečarski
-	PUNCT	-
festivalskih	A:aef	festivalski
projekcija	N:f	projekcija
,	PUNCT	,
a	CONJ	a
,	PUNCT	,
ako	CONJ	ako
pravde	N:f	pravda
bude	A:aem	bude
bilo	V:n	biti
,	PUNCT	,
Gde	N:n	Gde
je	PRO	ona
Nađa	N:f	Nađa
?	PUNCT	?
dobiće	N:f	dobiće
i	CONJ	i
redovnu	A:aef	redovan
bioskopsku	A:aef	bioskopski
distribuciju	N:f	distribucija
.	SENT	.
To	PRO	taj
šansa	N:f	šansa
da	CONJ	da
se	PAR	se
nađe	V:m	nađe
pred	PREP	pred
publikom	N:f	publika
u	PREP	u
kojoj	PRO	koji
neće	A:aem	neće
dominirati	N:m	dominirati
rodbina	N:f	rodbina
,	PUNCT	,
prijatelji	N:m	prijatelj
i	CONJ	i
kolege	N:m	kolega
uvek	ADV	uvek
spremni	A:aem	spreman
na	PREP	na
hitre	A:aef	hitar
hvalospeve	N:m	hvalospev
predstavljaće	A:aem	predstavljaće
pravu	N:n	pravo
meru	N:f	mera
,	PUNCT	,
istinski	A:aem	istinski
tekst	N:m	tekst
i	CONJ	i
posve	ADV	posve
zasluženo	A:aen	zaslužen
priznanje	N:n	priznanje
za	PREP	za
ono	PRO	onaj
što	CONJ	što
su	N:m	su
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
prikazali	V:m	prikazati
friški	A:aem	frišak
i	CONJ	i
(	PUNCT	(
blisko	A:aen	blizak
)	PUNCT	)
budući	A:aem	budući
diplomci	N:m	diplomac
beogradskog	A:aem	beogradski
FDU	N:f	FDU
-	PUNCT	-
a	CONJ	a
.	SENT	.
Gde	ADV	gde
je	PRO	ona
Nađa	N:f	Nađa
?	SENT	?
nastavlja	N:n	nastavlja
možda	PAR	možda
iznenađujuće	ADV	iznenađujuće
vitalnu	A:aem	vitalan
i	CONJ	i
možda	ADV	možda
najzdraviju	A:cef	zdrav
tradiciju	N:f	tradicija
srpskog	A:aen	srpski
filma	N:m	film
u	PREP	u
postpetooktobarskim	A:aef	postpetooktobarskim
godinama	N:f	godina
–	A:aem	–
tradiciju	N:f	tradicija
kvalitetnog	A:aem	kvalitetan
debitantskog	A:aem	debitantski
dugometražnog	A:aem	dugometražni
filma	N:m	film
.	SENT	.
Srpska	A:aen	srpski
kinematografija	N:f	kinematografija
takvo	PRO	takav
šta	PRO	šta
teško	ADV	teško
da	CONJ	da
je	PRO	ona
zaslužila	V:f	zaslužiti
,	PUNCT	,
a	CONJ	a
,	PUNCT	,
mimo	PREP	mimo
ćoraka	N:m	ćorak
kojih	PRO	koji
će	A:aef	će
biti	N:f	bit
uvek	ADV	uvek
i	CONJ	i
svugde	ADV	svugde
,	PUNCT	,
probajmo	N:f	probajmo
da	CONJ	da
zamislimo	N:f	zamislimo
kako	CONJ	kako
bi	N:f	bi
izgledao	V:m	izgledati
srpski	A:aem	srpski
film	N:m	film
novog	A:aem	nov
milenijuma	N:m	milenijum
da	CONJ	da
nije	N:m	nije
bilo	V:n	biti
tih	PRO	taj
izvanrednih	A:aem	izvanredan
podviga	N:m	podvig
duha	N:m	duh
i	CONJ	i
talenata	N:m	talent
u	PREP	u
vidu	N:f	vida
početničkih	A:aem	početnički
filmova	N:m	film
koji	PRO	koji
su	N:m	su
osvetlali	V:m	osvetlati
obraz	N:m	obraz
onome	PRO	onaj
što	PRO	što
u	PREP	u
nemanju	N:n	nemanje
bolje	A:bef	dobar
terminologije	N:f	terminologija
,	PUNCT	,
a	CONJ	a
kanda	CONJ	kanda
i	CONJ	i
iz	PREP	iz
dubokog	A:aen	dubok
očaja	N:m	očaj
još	ADV	još
uvek	ADV	uvek
nazivamo	N:m	nazivamo
srpskim	A:aen	srpski
filmom	N:m	film
.	SENT	.
Gde	ADV	gde
je	PRO	ona
Nađa	N:f	Nađa
?	SENT	?
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
po	PREP	po
merilima	N:n	merilo
ovdašnjih	A:aen	ovdašnji
neuslova	A:aem	neuslova
,	PUNCT	,
film	N:m	film
nastao	V:m	nastati
na	PREP	na
margini	N:f	margina
,	PUNCT	,
još	ADV	još
uvek	ADV	uvek
daje	N:m	daje
nadu	N:f	nada
optimistima	N:m	optimista
bez	PREP	bez
straha	N:m	strah
i	CONJ	i
mane	N:f	mana
da	CONJ	da
je	PRO	ona
bolji	A:bem	dobar
svet	N:m	svet
u	PREP	u
domenu	N:m	domen
srpskog	A:aen	srpski
filma	N:m	film
ipak	PAR	ipak
i	CONJ	i
dalje	ADV	dalje
moguć	A:aem	moguć
.	SENT	.
Formalno	A:aen	formalan
gledano	A:aen	gledan
,	PUNCT	,
Gde	A:aen	Gde
je	PRO	ona
Nađa	N:m	Nađ
?	SENT	?
je	PRO	ona
za	PREP	za
naše	PRO	naš
prilike	N:f	prilika
ćudna	A:aem	ćudna
sorta	N:f	sorta
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
delo	N:n	delo
koje	PRO	koji
potpisuje	N:m	potpisuje
čak	PAR	čak
osam	NUM	osam
mladih	A:aen	mlad
rediteljskih	A:aen	rediteljski
imena	N:n	ime
,	PUNCT	,
ovde	ADV	ovde
nije	A:aef	nije
reč	N:f	reč
o	PREP	o
omnibusu	N:m	omnibus
,	PUNCT	,
toj	PRO	taj
potrošenoj	A:aef	potrošen
,	PUNCT	,
krajnje	ADV	krajnje
sputavajućoj	A:aem	sputavajućoj
i	CONJ	i
sve	ADV	sve
više	ADV	više
iritantnoj	A:aef	iritantan
formi	N:f	forma
(	PUNCT	(
kada	CONJ	kada
govorimo	N:f	govorimo
o	PREP	o
srpskom	A:aem	srpski
filmu	N:m	film
,	PUNCT	,
naravno	PAR	naravno
)	PUNCT	)
.	SENT	.
Gde	ADV	gde
je	PRO	ona
Nađa	N:f	Nađa
?	SENT	?
je	PRO	ona
nastao	V:m	nastati
po	PREP	po
priči	N:f	priča
izloženoj	A:aef	izložen
u	PREP	u
kontinuitetu	N:m	kontinuitet
i	CONJ	i
jednom	ADV	jednom
jedinom	A:aem	jedini
scenariju	N:m	scenario
koji	PRO	koji
je	PRO	ona
potom	ADV	potom
režiralo	V:n	režirati
osam	NUM	osam
pomenutih	A:aem	pomenut
junoša	N:m	junoša
.	SENT	.
Ovde	ADV	ovde
se	PAR	se
,	PUNCT	,
za	PREP	za
svaki	PRO	svaki
slučaj	N:m	slučaj
,	PUNCT	,
mora	N:n	more
naglasiti	A:aem	naglasiti
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
film	N:m	film
sa	PREP	sa
fizički	A:aem	fizički
neomeđenim	A:aem	neomeđen
segmentima	N:m	segment
i	CONJ	i
jedinstvenom	A:aen	jedinstven
pričom	N:f	priča
.	SENT	.
U	PREP	u
tom	PRO	taj
smislu	N:m	smisao
,	PUNCT	,
pomalo	ADV	pomalo
je	PRO	ona
teško	ADV	teško
na	PREP	na
ekonomičan	A:aem	ekonomičan
način	N:m	način
pričati	A:aem	pričati
o	PREP	o
dometima	N:m	domet
pojedinačnih	A:aef	pojedinačan
autora	N:m	autor
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
Gde	N:m	Gde
je	PRO	ona
Nađa	N:f	Nađa
?	PUNCT	?
ipak	PAR	ipak
zaokružena	A:aem	zaokružen
celina	N:f	celina
u	PREP	u
kojoj	PRO	koji
je	PRO	ona
osam	NUM	osam
mladih	A:aen	mlad
sineasta	N:m	sineast
dobilo	V:n	dobiti
priliko	N:f	prilika
da	CONJ	da
skupa	N:m	skup
ispriča	A:aem	ispriča
jednu	NUM	jedan
priču	N:f	priča
sa	PREP	sa
preglednom	A:aef	pregledan
,	PUNCT	,
uvezanom	A:aef	uvezan
i	CONJ	i
logičnom	A:aef	logičan
narativnom	A:aef	narativan
putanjom	N:f	putanja
.	PUNCT	.
A	CONJ	a
putanja	N:f	putanja
se	PAR	se
brzo	ADV	brzo
nameće	V:m	nameće
i	CONJ	i
kada	CONJ	kada
treba	N:f	treba
prozboriti	A:aem	prozboriti
koju	PRO	koji
o	PREP	o
priči	N:f	priča
koja	PRO	koji
je	PRO	ona
ovde	ADV	ovde
ispripovedana	V:m	ispripovedati
.	SENT	.
Mlada	A:aef	mlad
Nađa	N:f	Nađa
je	PRO	ona
nestala	V:f	nestati
bez	PREP	bez
traga	N:m	trag
i	CONJ	i
glasa	N:m	glas
,	PUNCT	,
a	CONJ	a
njen	PRO	njen
otac	N:m	otac
,	PUNCT	,
u	PREP	u
pratnji	N:f	pratnja
prijatelja	N:m	prijatelj
-	PUNCT	-
policijskog	A:aen	policijski
inspektora	N:m	inspektor
,	PUNCT	,
njenog	PRO	njen
ništa	ADV	ništa
manje	ADV	manje
zblanutog	A:aem	zblanut
dečka	N:m	dečko
i	CONJ	i
njenog	PRO	njen
najboljeg	A:cen	dobar
druga	A:aef	drugi
,	PUNCT	,
pokušaće	A:aen	pokušaće
da	CONJ	da
je	PRO	ona
pronađe	A:aem	pronađe
prateći	A:aem	prateći
njene	PRO	njen
kretnje	N:f	kretnja
kroz	PREP	kroz
vertikalni	A:aem	vertikalan
i	CONJ	i
mahom	ADV	mahom
noćni	A:aem	noćni
Beograd	N:m	Beograd
,	PUNCT	,
usput	ADV	usput
naletivši	A:aem	naletivši
na	PREP	na
devojku	N:f	devojka
koja	PRO	koji
bi	N:m	bi
mu	PRO	on
(	PUNCT	(
po	PREP	po
godinama	N:f	godina
a	CONJ	a
i	CONJ	i
po	PREP	po
ono	PRO	onaj
malo	A:aen	mali
svetzonazora	N:m	svetzonazora
koje	PRO	koji
u	PREP	u
toku	N:m	tok
te	CONJ	te
jedne	NUM	jedan
noći	N:f	noć
pred	PREP	pred
njim	PRO	on
očita	A:aef	očit
)	PUNCT	)
mogla	V:f	moći
biti	N:f	bit
kćerka	N:f	kćerka
.	SENT	.
Sam	PRO	sam
scenario	N:m	scenario
očito	PAR	očito
je	PRO	ona
nastao	V:m	nastati
pod	PREP	pod
uticajem	N:m	uticaj
novo	A:aen	nov
-	PUNCT	-
novog	A:aem	nov
francuskog	A:aem	francuski
filma	N:m	film
uz	PREP	uz
ponešto	ADV	ponešto
suptilnih	A:aef	suptilan
referenci	N:f	referenca
na	PREP	na
srodne	A:aef	srodan
naslove	N:m	naslov
iz	PREP	iz
skorije	A:ben	skori
istorije	N:f	istorija
srpskog	A:aen	srpski
filma	N:m	film
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
rediteljske	A:aef	rediteljski
realizacije	N:f	realizacija
(	PUNCT	(
tačnije	ADV	tačnije
,	PUNCT	,
rediteljskih	A:aef	rediteljski
realizacija	N:f	realizacija
)	PUNCT	)
ona	PRO	ona
je	PRO	ona
dobrim	A:aem	dobar
delom	N:m	deo
bila	V:f	biti
sputana	A:aef	sputan
postavkom	N:f	postavka
sa	PREP	sa
kojom	PRO	koji
su	N:m	su
se	PAR	se
ovde	ADV	ovde
nosila	V:f	nositi
pomenuta	A:aen	pomenut
osmorka	N:f	osmorka
;	SENT	;
naime	PAR	naime
,	PUNCT	,
zadatak	N:m	zadatak
je	PRO	ona
bio	V:m	biti
da	CONJ	da
se	PAR	se
svaki	PRO	svaki
od	PREP	od
segmenata	N:m	segment
izvede	N:f	izvede
kao	ADV	kao
mizan	A:aem	mizan
-	PUNCT	-
kadar	A:aem	kadar
,	PUNCT	,
što	CONJ	što
je	PRO	ona
namet	N:m	namet
sa	PREP	sa
kojim	PRO	koji
bi	N:m	bi
se	PAR	se
i	CONJ	i
ovdašnja	A:aen	ovdašnji
starija	A:bem	star
i	CONJ	i
iskusnija	A:bef	iskusan
imena	N:n	ime
teško	ADV	teško
značajno	ADV	značajno
bolje	ADV	bolje
izborila	V:f	izboriti
.	SENT	.
To	PRO	taj
je	PRO	ona
omeđilo	V:n	omeđiti
rediteljski	A:aem	rediteljski
manevarski	A:aem	manevarski
prostor	N:m	prostor
,	PUNCT	,
neki	PRO	neki
su	N:m	su
se	PAR	se
snašli	V:m	snaći
tek	CONJ	tek
solidno	ADV	solidno
,	PUNCT	,
a	CONJ	a
neki	PRO	neki
znatno	ADV	znatno
bolje	ADV	bolje
(	PUNCT	(
najefektnije	A:cem	efektan
i	CONJ	i
najveštije	A:cen	vešt
je	PRO	ona
svakako	PAR	svakako
urađen	V:m	uraditi
deo	N:m	deo
koji	PRO	koji
se	PAR	se
zbiva	V:m	zbiva
u	PREP	u
šikarama	N:f	šikara
u	PREP	u
podnožju	N:n	podnožje
mosta	N:m	most
,	PUNCT	,
deo	N:m	deo
za	PREP	za
koji	PRO	koji
je	PRO	ona
bio	V:m	biti
zadužen	V:m	zadužiti
Marko	N:m	Marko
Đorđević	N:m	Đorđević
)	PUNCT	)
.	SENT	.
Osim	PREP	osim
ovoga	PRO	ovaj
i	CONJ	i
tvrdokornog	A:aem	tvrdokoran
glumačkog	A:aem	glumački
manira	N:m	manir
u	PREP	u
okviru	N:m	okvir
kog	PRO	koji
se	PAR	se
već	PAR	već
predugo	ADV	predugo
obitava	A:aem	obitava
i	CONJ	i
dela	N:n	delo
Svetozar	N:m	Svetozar
Cvetković	N:m	Cvetković
,	PUNCT	,
dodatni	A:aem	dodatan
balast	N:m	balast
samom	PRO	sam
tkivu	N:n	tkivo
i	CONJ	i
priče	N:f	priča
i	CONJ	i
filma	N:m	film
predstavlja	N:n	predstavlja
očigledna	A:aef	očigledan
generacijska	A:aem	generacijski
fascinacija	N:f	fascinacija
stilemama	N:f	stilemama
novog	A:aem	nov
rumunskog	A:aen	rumunski
filma	N:m	film
.	SENT	.
To	PRO	taj
insistiranje	N:n	insistiranje
na	PREP	na
tzv	ABB	tzv
.	PUNCT	.
rumunskom	A:aef	rumunski
blefu	N:m	blef
,	PUNCT	,
izrazu	N:m	izraz
koji	PRO	koji
je	PRO	ona
već	PAR	već
duže	ADV	duže
na	PREP	na
zalasku	N:m	zalazak
i	CONJ	i
od	PREP	od
kog	PRO	koji
su	N:m	su
ruke	N:f	ruka
digli	V:m	dignuti
i	CONJ	i
ključni	A:aem	ključni
autori	N:m	autor
ovog	PRO	ovaj
talasa	N:m	talas
,	PUNCT	,
a	CONJ	a
koji	PRO	koji
je	PRO	ona
znatno	ADV	znatno
naškodio	V:m	naškoditi
i	CONJ	i
Golubovićevim	A:aem	Golubovićev
Krugovima	N:m	krug
,	PUNCT	,
sputalo	V:n	sputati
je	PRO	ona
priču	N:f	priča
filma	N:m	film
,	PUNCT	,
jer	CONJ	jer
u	PREP	u
par	N:m	par
navrata	N:m	navrat
postaje	N:f	postaja
posve	ADV	posve
jasno	ADV	jasno
da	CONJ	da
je	PRO	ona
u	PREP	u
poređenju	N:n	poređenje
sa	PREP	sa
domaćim	A:aem	domaći
prosekom	N:m	prosek
prilično	ADV	prilično
odvažno	ADV	odvažno
i	CONJ	i
uz	PREP	uz
izvesnu	A:aem	izvestan
kosinu	N:f	kosina
koncipirani	A:aem	koncipiran
scenartio	A:aen	scenartio
Koste	N:m	Kosta
Peševskog	A:aem	Peševski
davao	V:m	davati
mogućnosti	N:f	mogućnost
za	PREP	za
više	ADV	više
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
u	PREP	u
krajnjem	A:aen	krajnji
zbiru	N:m	zbir
,	PUNCT	,
Gde	N:m	Gde
je	PRO	ona
Nađa	N:f	Nađa
?	PUNCT	?
je	PRO	ona
dovoljno	ADV	dovoljno
zanimljiv	A:aem	zanimljiv
,	PUNCT	,
šarmantan	A:aem	šarmantan
,	PUNCT	,
vešto	ADV	vešto
u	PREP	u
delo	N:n	delo
sproveden	A:aem	sproveden
i	CONJ	i
osoben	A:aem	osoben
rad	N:m	rad
koji	PRO	koji
donosi	N:m	donosi
jednu	NUM	jedan
nenadanu	A:aef	nenadan
glumačku	A:aef	glumački
bravuru	N:f	bravura
(	PUNCT	(
vinjetu	N:f	vinjeta
mlade	A:aef	mlad
Gordane	N:f	Gordana
Paunović	N:m	Paunović
u	PREP	u
ulozi	N:f	uloga
zaposlene	A:aef	zaposlen
u	PREP	u
igronici	N:f	igronici
)	PUNCT	)
,	PUNCT	,
nekoliko	ADV	nekoliko
zanimljivih	A:aen	zanimljiv
rešenja	N:n	rešenje
,	PUNCT	,
uštimovanu	A:aef	uštimovanu
i	CONJ	i
zavodljivu	A:aef	zavodljiv
atmosferu	N:f	atmosfera
noćnih	A:aem	noćni
lutanja	N:n	lutanje
i	CONJ	i
onog	PRO	onaj
nespokja	N:m	nespokja
kome	PRO	koji
je	PRO	ona
najlakše	ADV	najlakše
predati	V:m	predati
se	PAR	se
negde	ADV	negde
pred	PREP	pred
zoru	N:f	zora
,	PUNCT	,
i	CONJ	i
,	PUNCT	,
sve	ADV	sve
u	PREP	u
svemu	PRO	sav
,	PUNCT	,
sasvim	ADV	sasvim
upotrebljiv	A:aem	upotrebljiv
film	N:m	film
u	PREP	u
smislu	N:m	smisao
pominjane	V:f	pominjati
biskopske	A:aef	biskopske
distribucije	N:f	distribucija
.	SENT	.
Što	N:m	Što
je	PRO	ona
svakako	PAR	svakako
dovoljan	A:aem	dovoljan
zalog	N:m	zalog
za	PREP	za
jednu	NUM	jedan
čistu	A:aef	čist
šesticu	N:f	šestica
i	CONJ	i
vetar	N:m	vetar
u	PREP	u
jedra	N:n	jedro
za	PREP	za
dalje	ADV	dalje
.	SENT	.
