Da	CONJ	da
bi	A:aem	bi
publika	N:f	publika
uživala	V:f	uživati
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
bitno	ADV	bitno
je	PRO	ona
da	CONJ	da
znaju	N:m	znaju
iz	PREP	iz
kog	PRO	koji
ugla	N:m	ugao
da	CONJ	da
ga	PRO	on
posmatraju	N:m	posmatraju
i	CONJ	i
šta	PRO	šta
da	CONJ	da
očekuju	N:m	očekuju
od	PREP	od
njega	PRO	on
.	SENT	.
“	A:aem	“
Your	N:m	Your
Highness	N:m	Highness
”	A:aem	”
nije	N:f	nije
baš	PAR	baš
nešto	ADV	nešto
posebno	ADV	posebno
konvencionalan	A:aem	konvencionalan
film	N:m	film
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
generalno	A:aen	generalan
više	ADV	više
sarkastični	A:aem	sarkastičan
pristup	N:m	pristup
užasnim	A:aem	užasan
i	CONJ	i
izlizanim	A:aem	izlizan
avanturističkim	A:aem	avanturistički
filmovima	N:m	film
vezanim	A:aem	vezan
za	PREP	za
srednji	A:aem	srednji
vek	N:m	vek
i	CONJ	i
herojstvo	N:n	herojstvo
,	PUNCT	,
uzevši	A:aem	uzevši
dobro	ADV	dobro
poznatu	A:aef	poznat
i	CONJ	i
stereotipičnu	A:aef	stereotipičnu
formulu	N:f	formula
iz	PREP	iz
ovog	PRO	ovaj
žanra	N:m	žanr
za	PREP	za
cilj	N:m	cilj
da	CONJ	da
je	PRO	ona
u	PREP	u
potpunosti	N:f	potpunost
izokrene	A:aem	izokrene
zarad	PREP	zarad
ismevanja	N:n	ismevanje
njene	PRO	njen
banalnosti	N:f	banalnost
,	PUNCT	,
i	CONJ	i
mogu	A:aem	mogu
reći	N:m	reći
da	CONJ	da
u	PREP	u
većini	N:f	većina
filma	N:m	film
to	PRO	taj
i	CONJ	i
polazi	N:m	polaz
za	PREP	za
rukom	N:f	ruka
.	SENT	.
Ovo	PRO	ovaj
što	CONJ	što
je	PRO	ona
ovde	ADV	ovde
vrlo	ADV	vrlo
interesantno	A:aen	interesantan
,	PUNCT	,
što	CONJ	što
će	A:aem	će
posebno	ADV	posebno
nasmejati	A:aem	nasmejati
onaj	PRO	onaj
deo	N:m	deo
publike	N:f	publika
koji	PRO	koji
ima	N:m	ima
malo	ADV	malo
dublje	ADV	dublje
iskustvo	N:n	iskustvo
sa	PREP	sa
ovim	PRO	ovaj
žanrom	N:m	žanr
,	PUNCT	,
jest	A:aem	jest
to	PRO	taj
što	CONJ	što
faktički	PAR	faktički
svaki	PRO	svaki
segment	N:m	segment
narativa	N:m	narativa
je	PRO	ona
iskarikiran	V:m	iskarikirati
i	CONJ	i
ismevan	V:m	ismevati
,	PUNCT	,
počevši	A:aem	počevši
od	PREP	od
samog	PRO	sam
kliše	N:m	kliše
opisa	N:m	opis
likova	N:n	likovo
,	PUNCT	,
preko	PREP	preko
potrage	N:f	potraga
za	PREP	za
skrivenim	A:aef	skriven
artifaktom	N:m	artifakt
,	PUNCT	,
pa	CONJ	pa
sve	PRO	sav
do	PREP	do
misije	N:f	misija
da	CONJ	da
ubiju	N:n	ubiju
ultimativnog	A:aen	ultimativan
negativca	N:m	negativac
i	CONJ	i
spasu	N:m	spas
nevestu	N:f	nevesta
u	PREP	u
nevolji	N:f	nevolja
,	PUNCT	,
narvno	N:m	narvno
sve	PRO	sav
to	PRO	taj
kroz	PREP	kroz
susrete	N:m	susret
sa	PREP	sa
mnogim	A:aef	mnogi
drugim	A:aem	drugi
negativcima	N:m	negativac
i	CONJ	i
preprekama	N:f	prepreka
ispunjenim	A:aef	ispunjen
mačevanjem	N:n	mačevanje
,	PUNCT	,
herojstvom	N:n	herojstvo
i	CONJ	i
magijama	N:f	magija
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
projektu	N:m	projekt
se	PAR	se
zaista	PAR	zaista
svašta	PRO	svašta
može	A:aen	može
naći	N:n	naći
,	PUNCT	,
elementi	N:m	element
prevare	N:f	prevara
,	PUNCT	,
izdaje	N:f	izdaja
,	PUNCT	,
griže	N:f	griža
savesti	N:f	savest
,	PUNCT	,
saosećanja	N:n	saosećanje
,	PUNCT	,
osvete	N:f	osveta
,	PUNCT	,
mitološka	A:aen	mitološki
bića	N:n	biće
,	PUNCT	,
sve	PRO	sav
sami	PRO	sam
popularni	A:aem	popularan
stereotipi	N:m	stereotip
ovakvog	PRO	ovakav
koncepta	N:m	koncept
.	SENT	.
Priča	A:aem	Priča
našeg	PRO	naš
filma	N:m	film
centrirana	V:n	centrirati
je	PRO	ona
oko	PREP	oko
braće	N:f	braća
,	PUNCT	,
Tidiusa	N:m	Tidiusa
i	CONJ	i
Fabiusa	N:m	Fabiusa
,	PUNCT	,
dva	NUM	dva
potpuno	ADV	potpuno
različita	A:aef	različit
princa	N:m	princ
po	PREP	po
svojim	PRO	svoj
temperamentima	N:m	temperament
i	CONJ	i
dostignućima	N:n	dostignuće
,	PUNCT	,
gde	CONJ	gde
je	PRO	ona
Tidius	N:m	Tidius
kompletni	A:aem	kompletan
neuspeh	N:m	neuspeh
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
alfa	N:f	alfa
mužijak	N:m	mužijak
tendencije	N:f	tendencija
svoga	PRO	svoj
rođenog	A:aem	rođenog
brata	N:m	brata
Fabiusa	N:m	Fabiusa
.	SENT	.
Iz	PREP	iz
svoje	PRO	svoj
poslednje	A:aen	poslednji
velike	A:aem	velik
avanture	N:f	avantura
,	PUNCT	,
Fabius	N:m	Fabius
se	PAR	se
vraća	V:m	vraća
u	PREP	u
kraljevstvo	N:n	kraljevstvo
sa	PREP	sa
novom	A:aem	nov
ženom	N:f	žena
,	PUNCT	,
koju	PRO	koji
će	A:aem	će
ubrzo	ADV	ubrzo
zli	A:aem	zao
čarobnjak	N:m	čarobnjak
da	CONJ	da
kidnapuje	N:m	kidnapuje
i	CONJ	i
uzme	V:m	uzme
za	PREP	za
svoju	PRO	svoj
suprugu	N:f	supruga
.	SENT	.
Na	PREP	na
braći	N:f	braća
ostaje	N:n	ostaje
da	CONJ	da
okupe	N:m	okup
ekipu	N:f	ekipa
časnih	A:aem	častan
boraca	N:m	borac
i	CONJ	i
brižnih	A:aem	brižan
prijatelja	N:m	prijatelj
,	PUNCT	,
i	CONJ	i
zajedno	ADV	zajedno
svi	PRO	sav
krenu	N:m	kren
u	PREP	u
avanturu	N:f	avantura
kako	CONJ	kako
bi	N:f	bi
vratili	V:m	vratiti
novu	A:aen	nov
princezu	N:f	princeza
nazad	ADV	nazad
,	PUNCT	,
imajući	A:aem	imajući
pri	PREP	pri
tom	PRO	taj
putovanje	N:n	putovanje
mnoštvo	N:n	mnoštvo
nepredvidivih	A:aef	nepredvidiv
prepreka	N:f	prepreka
.	SENT	.
Faktor	N:m	faktor
sa	PREP	sa
kojim	PRO	koji
baš	PAR	baš
nisam	N:m	nisam
zadovoljan	A:aem	zadovoljan
ovde	ADV	ovde
jeste	INT	jeste
kvalitet	N:m	kvalitet
glume	N:f	gluma
.	SENT	.
Džejms	N:m	Džejms
Franko	N:m	Franko
(	PUNCT	(
James	N:m	James
Franco	N:f	Franco
)	PUNCT	)
kao	CONJ	kao
neustrašivi	A:aem	neustrašiv
princ	N:m	princ
i	CONJ	i
borac	N:m	borac
se	PAR	se
ovde	ADV	ovde
baš	PAR	baš
i	CONJ	i
nije	A:aem	nije
pokazao	V:m	pokazati
u	PREP	u
najboljem	A:cem	dobar
svetlu	N:n	svetlo
,	PUNCT	,
dajući	N:m	dajući
nam	PRO	mi
prilično	ADV	prilično
neuverljiv	A:aem	neuverljiv
performans	N:m	performans
.	SENT	.
Pored	PREP	pored
njegovog	PRO	njegov
rada	A:aem	rad
moram	N:m	moram
da	CONJ	da
kritikujem	N:m	kritikujem
i	CONJ	i
Zoi	N:f	Zoi
Dešanel	N:m	Dešanel
(	PUNCT	(
Zooey	A:aem	Zooey
Deschanel	N:m	Deschanel
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
iako	CONJ	iako
je	PRO	ona
imala	V:f	imati
sličnu	A:aem	sličan
rolu	N:f	rola
poznatoj	A:aef	poznat
princezi	N:f	princeza
Rapanzel	N:m	Rapanzel
,	PUNCT	,
nije	A:aen	nije
ni	CONJ	ni
malo	A:aen	mali
dramatičnosti	N:f	dramatičnost
unela	V:f	uneti
u	PREP	u
ulogu	N:f	uloga
.	SENT	.
Natali	N:f	Natali
Portman	N:m	Portman
(	PUNCT	(
Natalie	N:f	Natalie
Portman	N:m	Portman
)	PUNCT	)
i	CONJ	i
Deni	N:f	Dena
Mekbrajd	N:m	Mekbrajd
(	PUNCT	(
Danny	A:aem	Danny
McBride	N:f	McBride
)	PUNCT	)
su	N:m	su
standardno	ADV	standardno
kvalitetni	A:aem	kvalitetan
.	SENT	.
“	A:aem	“
Your	N:m	Your
Highness	N:m	Highness
”	A:aem	”
sadrži	N:f	sadrži
dosta	ADV	dosta
eksplicitnog	A:aen	eksplicitan
humora	N:m	humor
i	CONJ	i
skečeva	N:m	skeč
ispraćenih	A:aef	ispraćen
pogrdnim	A:aef	pogrdan
jezikom	N:m	jezik
.	SENT	.
Skoro	ADV	skoro
svaka	PRO	svaki
druga	A:aef	drugi
scena	N:f	scena
ima	V:n	ima
nekakvu	PRO	nekakav
simboliku	N:f	simbolika
na	PREP	na
seks	N:m	seks
i	CONJ	i
genitalni	A:aem	genitalni
humor	N:m	humor
tako	ADV	tako
da	CONJ	da
dosta	ADV	dosta
zavisi	N:m	zavisi
od	PREP	od
samog	PRO	sam
posmatrača	N:m	posmatrač
da	CONJ	da
li	PAR	li
će	V:n	će
ovako	ADV	ovako
nešto	ADV	nešto
doživeti	A:aem	doživeti
kao	CONJ	kao
degutantno	A:aen	degutantan
ili	CONJ	ili
urnebesno	ADV	urnebesno
.	SENT	.
Dosta	ADV	dosta
dijaloga	N:m	dijalog
su	N:m	su
čista	A:aef	čist
improvizacija	N:f	improvizacija
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
opet	ADV	opet
daje	N:m	daje
neku	PRO	neki
impresiju	N:f	impresija
neozbiljnosti	N:f	neozbiljnost
.	SENT	.
