Brda	N:n	brdo
imaju	N:f	imaju
oči	N:f	oči
,	PUNCT	,
film	N:m	film
Wesa	N:m	Wesa
Cravena	N:m	Cravena
iz	PREP	iz
1977	NUM	@card@
.	PUNCT	.
godine	N:f	godina
je	PRO	ona
proizvod	N:m	proizvod
svog	PRO	svoj
vremena	N:n	vreme
.	SENT	.
Porodica	N:f	porodica
,	PUNCT	,
najvažnija	A:cem	važan
društvena	A:aen	društven
ćelija	N:f	ćelija
po	PREP	po
tradicionalnom	A:aen	tradicionalan
poimanju	N:n	poimanje
stvari	N:f	stvar
našla	V:m	naći
se	PAR	se
na	PREP	na
ozbiljnom	A:aem	ozbiljan
udaru	N:m	udar
sedamdesetih	A:aen	sedamdeseti
,	PUNCT	,
a	CONJ	a
filmovi	N:m	film
su	N:m	su
,	PUNCT	,
logično	ADV	logično
,	PUNCT	,
samo	PAR	samo
reprezentovali	V:m	reprezentovati
stvarne	A:aef	stvaran
strahove	N:m	strah
i	CONJ	i
nesigurnosti	N:f	nesigurnost
,	PUNCT	,
prelamajući	V:m	prelamajući
sve	PRO	sav
to	PRO	taj
kroz	PREP	kroz
prizmu	N:f	prizma
modernog	A:aem	moderan
horora	N:m	horor
.	SENT	.
Strahovi	N:m	strah
se	PAR	se
tako	ADV	tako
materijalizuju	N:m	materijalizuju
u	PREP	u
vidu	N:f	vida
opipljive	A:aef	opipljiv
pretnje	N:f	pretnja
,	PUNCT	,
a	CONJ	a
poslednja	A:aem	poslednji
uzdanica	N:f	uzdanica
društva	N:n	društvo
biva	A:aen	biva
brutalno	A:aen	brutalan
relativizovana	V:f	relativizovati
.	SENT	.
Porodica	N:f	porodica
–	N:m	–
to	PRO	taj
smo	N:f	smo
mi	PRO	ja
,	PUNCT	,
naši	PRO	naš
najbliži	A:cem	bliz
,	PUNCT	,
odnosno	PAR	odnosno
neki	PRO	neki
njima	PRO	ona
vrlo	ADV	vrlo
slični	A:aem	sličan
,	PUNCT	,
ali	CONJ	ali
porodica	N:f	porodica
–	A:aem	–
to	PRO	taj
su	N:m	su
i	CONJ	i
oni	PRO	onaj
drugi	A:aem	drugi
,	PUNCT	,
izopačeni	A:aem	izopačen
i	CONJ	i
od	PREP	od
društva	N:n	društvo
gurnuti	A:aem	gurnut
pod	PREP	pod
tepih	N:m	tepih
;	SENT	;
strašne	A:aef	strašan
priče	N:f	priča
na	PREP	na
koje	PRO	koji
naletimo	N:f	naletimo
listajući	A:aem	listajući
crnu	A:aef	crn
hroniku	N:f	hronika
i	CONJ	i
koje	PRO	koji
se	PAR	se
uvek	ADV	uvek
dešavaju	V:m	dešavaju
nekom	PRO	neki
drugom	A:aef	drugi
.	SENT	.
Brda	N:n	brdo
imaju	N:f	imaju
oči	N:f	oči
je	PRO	ona
kroz	PREP	kroz
sukob	N:m	sukob
dve	NUM	dva
porodice	N:f	porodica
,	PUNCT	,
zapravo	ADV	zapravo
dva	NUM	dva
sveta	N:m	svet
,	PUNCT	,
uznemirio	V:m	uznemiriti
javnost	N:f	javnost
mnogo	ADV	mnogo
više	ADV	više
samim	A:aef	sam
kontekstom	N:m	kontekst
priče	N:f	priča
nego	CONJ	nego
li	PAR	li
grafičkim	A:aef	grafički
scenama	N:f	scena
nasilja	N:n	nasilje
.	PUNCT	.
Slično	A:aen	Slično
kao	CONJ	kao
i	CONJ	i
Hooper	N:m	Hooper
u	PREP	u
Teksaškom	A:aem	Teksaškom
masakru	N:m	masakr
motornom	A:aem	motorni
testerom	N:f	testera
,	PUNCT	,
sirovošću	N:f	sirovost
filmskog	A:aem	filmski
izraza	N:m	izraz
,	PUNCT	,
delimično	ADV	delimično
sadržanim	A:aef	sadržan
u	PREP	u
nedostatku	N:m	nedostatak
iskustva	N:n	iskustvo
i	CONJ	i
ozbiljnijeg	A:ben	ozbiljan
budžeta	N:m	budžet
,	PUNCT	,
Craven	N:m	Craven
je	PRO	ona
ovaplotio	V:m	ovaplotiti
košmare	N:m	košmar
društva	N:n	društvo
u	PREP	u
previranju	N:n	previranje
.	SENT	.
Pretnja	N:f	pretnja
u	PREP	u
vidu	N:f	vida
deformisanog	A:aem	deformisan
odraza	N:m	odraz
u	PREP	u
ogledalu	N:n	ogledalo
,	PUNCT	,
porodice	N:f	porodica
kanibala	N:m	kanibal
,	PUNCT	,
samo	PAR	samo
je	PRO	ona
istakla	V:m	istaknuti
da	CONJ	da
zlo	A:aen	zao
dolazi	N:m	dolaz
iznutra	ADV	iznutra
,	PUNCT	,
poput	PREP	poput
kancera	N:m	kancer
na	PREP	na
telu	N:n	telo
društva	N:n	društvo
.	SENT	.
Kancera	N:m	kancer
koji	PRO	koji
nije	N:f	nije
nastao	V:m	nastati
slučajno	ADV	slučajno
,	PUNCT	,
niti	CONJ	niti
sam	PRO	sam
od	PREP	od
sebe	PRO	sebe
.	SENT	.
Brda	N:n	brdo
imaju	N:f	imaju
oči	N:f	oči
,	PUNCT	,
film	N:m	film
Alexandra	N:m	Alexandra
Aje	A:aem	Aje
iz	PREP	iz
2006	NUM	@card@
.	PUNCT	.
godine	N:f	godina
je	PRO	ona
proizvod	N:m	proizvod
filmskog	A:aem	filmski
studija	N:f	studija
.	PUNCT	.
I	CONJ	i
pored	PREP	pored
izuzetno	ADV	izuzetno
potentne	A:aef	potentan
premise	N:f	premisa
,	PUNCT	,
legitimne	A:aef	legitiman
za	PREP	za
novu	A:aen	nov
interpretaciju	N:f	interpretacija
,	PUNCT	,
talentovani	A:aem	talentovan
Francuz	N:m	Francuz
je	PRO	ona
u	PREP	u
svome	PRO	svoj
USA	N:m	usi
debiju	N:m	debi
poklekao	V:m	pokleknuti
pred	PREP	pred
izazovom	N:m	izazov
koji	PRO	koji
pružaju	N:m	pružaju
sve	PRO	sav
one	PRO	onaj
produkcijske	A:aef	produkcijski
pogodnosti	N:f	pogodnost
kojima	PRO	koji
Craven	N:m	Craven
(	PUNCT	(
sada	ADV	sada
jedan	NUM	jedan
od	PREP	od
producenata	N:m	producent
rimejka	N:f	rimejka
)	PUNCT	)
nije	V:m	nije
raspolagao	V:m	raspolagati
u	PREP	u
svoje	PRO	svoj
vreme	N:n	vreme
.	SENT	.
Rimejk	N:m	Rimejk
stoga	ADV	stoga
izgleda	N:m	izgled
znatno	ADV	znatno
upeglanije	A:bef	upeglanije
i	CONJ	i
profesionalnije	A:bef	profesionalan
snimljen	V:m	snimiti
.	PUNCT	.
I	CONJ	i
jeste	INT	jeste
.	PUNCT	.
Ali	CONJ	ali
ni	PAR	ni
sav	PRO	sav
talenat	N:m	talent
i	CONJ	i
drčnost	N:f	drčnost
mladog	A:aen	mlad
autora	N:m	autor
,	PUNCT	,
društvena	A:aen	društven
samosvest	N:f	samosvest
koja	PRO	koji
je	PRO	ona
nespretno	ADV	nespretno
utkana	V:m	utkati
u	PREP	u
film	N:m	film
,	PUNCT	,
ni	CONJ	ni
svi	PRO	sav
litri	N:m	litar
veštačke	A:aef	veštački
krvi	N:f	krv
i	CONJ	i
znoja	N:m	znoj
koji	PRO	koji
su	N:m	su
proliveni	V:m	proliti
ne	PAR	ne
uspevaju	N:m	uspevaju
da	CONJ	da
usade	N:m	usad
onu	PRO	onaj
vrstu	N:f	vrsta
primalnog	A:aem	primalnog
straha	N:m	strah
u	PREP	u
susretu	N:m	susret
s	PREP	s
nečim	PRO	nešto
drugačijim	A:aen	drugačiji
i	CONJ	i
pretećim	A:aen	preteći
,	PUNCT	,
a	CONJ	a
opet	ADV	opet
toliko	ADV	toliko
poznatim	A:aen	poznat
.	PUNCT	.
Slično	A:aen	Slično
nedavnom	A:aem	nedavni
rimejku	N:f	rimejku
Teksaškog	A:aem	Teksaškog
masakra	N:m	masakr
,	PUNCT	,
brutalnost	N:f	brutalnost
konteksta	N:m	kontekst
je	PRO	ona
zamenjena	A:aen	zamenjen
surovošću	N:f	surovost
samog	PRO	sam
čina	N:m	čin
.	PUNCT	.
Ne	PAR	ne
može	A:aem	može
se	PAR	se
reći	A:aen	reći
da	CONJ	da
Aja	A:aen	Aja
nije	N:n	nije
pokušao	V:m	pokušati
.	SENT	.
Brda	N:n	brdo
imaju	N:f	imaju
oči	N:f	oči
se	PAR	se
može	A:aem	može
posmatrati	N:m	posmatrati
i	CONJ	i
kao	CONJ	kao
kritika	N:f	kritika
na	PREP	na
račun	N:m	račun
savremene	A:aef	savremen
Amerike	N:f	Amerika
od	PREP	od
strane	N:f	strana
navodno	ADV	navodno
neutralnog	A:aem	neutralan
Evropljanina	N:m	Evropljanin
.	PUNCT	.
Međutim	N:n	Međutim
,	PUNCT	,
razlika	N:f	razlika
između	PREP	između
njega	PRO	on
i	CONJ	i
recimo	A:aen	recimo
Von	N:m	Von
Triera	N:m	Triera
je	PRO	ona
što	ADV	što
potonji	A:aem	potonji
u	PREP	u
svojoj	PRO	svoj
kritici	N:f	kritika
Amerike	N:f	Amerika
nastupa	N:m	nastup
sa	PREP	sa
pozicije	N:f	pozicija
autora	N:m	autor
koji	PRO	koji
svoj	PRO	sav
već	PAR	već
kristalisani	V:m	kristalisati
kritički	A:aem	kritički
stav	N:m	stav
oblikuje	N:m	oblikuje
u	PREP	u
film	N:m	film
poigravajući	V:m	poigravajući
se	PAR	se
formom	N:f	forma
,	PUNCT	,
ali	CONJ	ali
bez	PREP	bez
suštinske	A:aef	suštinski
namere	N:f	namera
da	CONJ	da
ispriča	A:aem	ispriča
priču	N:f	priča
koja	PRO	koji
bi	N:f	bi
otrgnuta	V:f	otrgnuti
od	PREP	od
tog	PRO	taj
formalnog	A:aem	formalan
konteksta	N:m	kontekst
imala	V:f	imati
istu	A:aem	isti
ubojitost	N:f	ubojitost
.	SENT	.
Von	N:m	Von
Trier	N:m	Trier
je	PRO	ona
namerno	ADV	namerno
artificijelan	A:aem	artificijelan
,	PUNCT	,
i	CONJ	i
dok	CONJ	dok
se	PAR	se
može	A:aem	može
polemisati	N:m	polemisati
oko	PREP	oko
toga	PRO	taj
koliko	ADV	koliko
je	PRO	ona
to	PRO	taj
efektno	A:aen	efektan
,	PUNCT	,
u	PREP	u
Ajinom	A:aem	Ajinom
slučaju	N:m	slučaj
artificijelnost	N:f	artificijelnost
radi	PREP	radi
protiv	PREP	protiv
njega	PRO	on
.	SENT	.
Odnosno	PAR	odnosno
protiv	PREP	protiv
žanra	N:m	žanr
u	PREP	u
kome	PRO	koji
stvara	N:m	stvara
.	SENT	.
Članovi	A:aem	Članovi
porodice	N:f	porodica
su	N:m	su
tipski	A:aem	tipski
dati	V:m	dati
,	PUNCT	,
podeljeni	V:m	podeliti
na	PREP	na
one	PRO	onaj
koji	PRO	koji
utočište	N:n	utočište
nalaze	N:m	nalaz
u	PREP	u
konzervatinim	A:aef	konzervatinim
vrednostima	N:f	vrednost
stare	A:aem	star
Amerike	N:f	Amerika
,	PUNCT	,
i	CONJ	i
na	PREP	na
one	PRO	onaj
preostale	A:aem	preostali
,	PUNCT	,
mlade	A:aef	mlad
pa	CONJ	pa
samim	A:aef	sam
tim	N:m	tim
i	CONJ	i
nevine	A:aem	nevin
,	PUNCT	,
koji	PRO	koji
nisu	N:m	nisu
dospeli	A:aem	dospeo
na	PREP	na
ideološku	A:aef	ideološki
stranputicu	N:f	stranputica
.	PUNCT	.
I	CONJ	i
šta	PRO	šta
mislite	N:m	mislite
koji	PRO	koji
od	PREP	od
njih	PRO	ona
prežive	A:aem	prežive
?	PUNCT	?
Kada	CONJ	kada
je	PRO	ona
reč	N:f	reč
o	PREP	o
„	N:m	„
staroj	A:aef	star
Americi	N:f	Amerika
“	N:m	“
,	PUNCT	,
upravo	ADV	upravo
je	PRO	ona
ona	PRO	ona
odgovorna	A:aem	odgovoran
za	PREP	za
pretnju	N:f	pretnja
sa	PREP	sa
kojom	PRO	koji
se	PAR	se
(	PUNCT	(
ljudska	A:aem	ljudski
)	PUNCT	)
porodica	N:f	porodica
suočava	A:aem	suočava
.	SENT	.
S	PREP	s
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
sada	ADV	sada
preostalo	A:aen	preostali
od	PREP	od
navodno	ADV	navodno
idealne	A:aef	idealan
nuklearne	A:aem	nuklearni
porodice	N:f	porodica
iz	PREP	iz
pedesetih	A:aef	pedeseti
je	PRO	ona
grupa	N:f	grupa
mutiranih	A:aem	mutiran
kanibala	N:m	kanibal
koji	PRO	koji
polažu	A:aen	polažu
pravo	N:n	pravo
na	PREP	na
svoj	PRO	sav
komad	N:m	komad
zemlje	N:f	zemlja
i	CONJ	i
svoju	PRO	svoj
viziju	N:f	vizija
Amerike	N:f	Amerika
.	SENT	.
U	PREP	u
sudaru	N:m	sudar
svih	PRO	sav
ovih	PRO	ovaj
koncepata	N:m	koncept
stradao	V:m	stradati
je	PRO	ona
pre	PREP	pre
svega	PRO	sav
horor	N:m	horor
kao	CONJ	kao
žanr	N:m	žanr
.	SENT	.
Aja	INT	aja
je	PRO	ona
snimio	V:m	snimiti
film	N:m	film
u	PREP	u
kome	PRO	koji
cerebralni	A:aem	cerebralni
i	CONJ	i
visceralni	A:aem	visceralni
horor	N:m	horor
egzistriraju	N:m	egzistriraju
jedan	NUM	jedan
pored	PREP	pored
drugog	A:aem	drugi
,	PUNCT	,
bez	PREP	bez
da	CONJ	da
se	PAR	se
prirodno	ADV	prirodno
povežu	V:m	povežu
u	PREP	u
kvalitativno	A:aen	kvalitativan
novu	A:aen	nov
celinu	N:f	celina
.	SENT	.
Ideološki	A:aem	Ideološki
aspekt	N:m	aspekt
nije	V:m	nije
otelotvoren	V:m	otelotvoriti
u	PREP	u
nešto	ADV	nešto
životnijim	A:bem	životan
likovima	N:m	lik
već	CONJ	već
je	PRO	ona
dat	V:m	dati
na	PREP	na
nivou	N:m	nivo
informacije	N:f	informacija
.	SENT	.
Slično	A:aen	Slično
je	PRO	ona
učinjeno	V:n	učiniti
i	CONJ	i
sa	PREP	sa
grafičkim	A:aef	grafički
scenama	N:f	scena
nasilja	N:n	nasilje
koje	PRO	koji
se	PAR	se
samo	PAR	samo
nižu	A:bef	nizak
bez	PREP	bez
osećaja	N:m	osećaj
prave	A:aef	prav
pretnje	N:f	pretnja
pošto	CONJ	pošto
je	PRO	ona
više	ADV	više
nego	CONJ	nego
jasno	ADV	jasno
kome	PRO	koji
je	PRO	ona
dozvoljeno	V:n	dozvoliti
da	CONJ	da
preživi	A:aem	preživi
.	SENT	.
Cravenov	A:aem	Cravenov
film	N:m	film
je	PRO	ona
tako	ADV	tako
poslužio	V:m	poslužiti
kao	CONJ	kao
mehanički	A:aem	mehanički
uzor	N:m	uzor
odakle	ADV	odakle
su	N:m	su
bukvalno	ADV	bukvalno
prekopirane	V:f	prekopirati
čitave	A:aef	čitav
scene	N:f	scena
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
dopusti	N:m	dopust
filmu	N:m	film
da	CONJ	da
prodiše	A:aem	prodiše
i	CONJ	i
da	CONJ	da
se	PAR	se
situacije	N:f	situacija
razvijaju	N:m	razvijaju
prirodno	ADV	prirodno
i	CONJ	i
u	PREP	u
skladu	N:m	sklad
sa	PREP	sa
zanimljivo	ADV	zanimljivo
postavljenim	A:aef	postavljen
likovima	N:m	lik
i	CONJ	i
zlokobnim	A:aem	zlokoban
prologom	N:m	prolog
,	PUNCT	,
Aja	A:aem	Aja
poseže	N:m	poseže
za	PREP	za
šokom	N:m	šok
šoka	N:m	šok
radi	PREP	radi
,	PUNCT	,
niže	ADV	niže
brutalne	A:aef	brutalan
scene	N:f	scena
koje	PRO	koji
kako	CONJ	kako
vreme	N:n	vreme
odmiče	N:m	odmiče
sve	PRO	sav
manje	ADV	manje
uznemiruju	N:m	uznemiruju
,	PUNCT	,
a	CONJ	a
sve	PRO	sav
više	ADV	više
dovode	N:m	dovod
u	PREP	u
pitanje	N:n	pitanje
unutrašnju	A:aef	unutrašnji
logiku	N:f	logika
filma	N:m	film
.	SENT	.
Tako	ADV	tako
je	PRO	ona
uništena	A:aem	uništen
i	CONJ	i
osnovna	A:aen	osnovni
ideja	N:f	ideja
Cravenovog	A:aen	Cravenovog
originala	N:m	original
.	SENT	.
Da	CONJ	da
,	PUNCT	,
ovo	PRO	ovaj
se	PAR	se
definitivno	ADV	definitivno
dešava	V:n	dešava
nekim	PRO	neki
drugim	A:aem	drugi
ljudima	N:m	ljudi
.	SENT	.
Ljudima	N:m	ljudi
na	PREP	na
platnu	N:n	platno
.	SENT	.
Dvodimenzionalnim	A:aem	dvodimenzionalan
.	SENT	.
Momenat	N:m	moment
u	PREP	u
kome	PRO	koji
pacifista	N:m	pacifista
u	PREP	u
nuždi	N:f	nužda
poseže	A:aem	poseže
za	PREP	za
ekstremnim	A:aem	ekstreman
nasiljem	N:n	nasilje
je	PRO	ona
propuštena	A:aef	propušten
prilika	N:f	prilika
da	CONJ	da
se	PAR	se
stvari	N:f	stvar
pomere	N:m	pomere
iz	PREP	iz
crno	A:aen	crn
-	PUNCT	-
belog	A:aem	beo
spektra	N:m	spektar
.	PUNCT	.
Čak	N:m	Čak
i	CONJ	i
to	PRO	taj
biva	A:aen	biva
poništeno	A:aen	poništen
završnim	A:aem	završan
žrtvovanjem	N:n	žrtvovanje
.	SENT	.
Pacifisti	N:m	pacifista
prežive	A:aem	prežive
,	PUNCT	,
pošto	CONJ	pošto
su	N:m	su
i	CONJ	i
sami	PRO	sam
ogrezli	V:m	ogreznuti
u	PREP	u
krvi	N:f	krv
.	PUNCT	.
Ali	CONJ	ali
i	CONJ	i
pored	PREP	pored
toga	PRO	taj
bivaju	N:f	bivaju
izbavljeni	V:m	izbaviti
činom	N:m	čin
milosrđa	N:n	milosrđe
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
nasilja	N:n	nasilje
.	SENT	.
Mada	CONJ	mada
,	PUNCT	,
ni	PAR	ni
to	PRO	taj
im	PRO	ona
izgleda	N:m	izgled
ne	PAR	ne
vredi	V:m	vredi
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
neko	PRO	neki
planirao	V:m	planirati
nastavak	N:m	nastavak
.	PUNCT	.
I	CONJ	i
šta	PRO	šta
je	PRO	ona
tu	ADV	tu
onda	ADV	onda
uopšte	ADV	uopšte
poenta	N:f	poenta
?	SENT	?
Cronenberg	N:m	Cronenberg
je	PRO	ona
u	PREP	u
Nasilničkoj	A:aef	Nasilničkoj
prošlosti	N:f	prošlost
,	PUNCT	,
pružio	V:m	pružiti
zanimljiv	A:aem	zanimljiv
pogled	N:m	pogled
na	PREP	na
dvojaku	A:aen	dvojak
prirodu	N:f	priroda
krvavog	A:aem	krvav
čina	N:m	čin
i	CONJ	i
pokazao	V:m	pokazati
da	CONJ	da
je	PRO	ona
(	PUNCT	(
zavisno	ADV	zavisno
od	PREP	od
prilike	N:f	prilika
)	PUNCT	)
zgađenost	N:f	zgađenost
nasiljem	N:n	nasilje
ali	CONJ	ali
i	CONJ	i
uživanje	N:n	uživanje
u	PREP	u
njemu	PRO	on
moguće	ADV	moguće
nevezano	ADV	nevezano
od	PREP	od
ideološkog	A:aem	ideološki
prefiksa	N:m	prefiks
.	SENT	.
Aja	INT	aja
je	PRO	ona
ovde	ADV	ovde
na	PREP	na
gotovo	ADV	gotovo
dobio	V:m	dobiti
idealnu	A:aef	idealan
premisu	N:f	premisa
da	CONJ	da
se	PAR	se
obračuna	N:m	obračun
sa	PREP	sa
demonima	N:m	demon
modernog	A:aem	moderan
američkog	A:aen	američki
(	PUNCT	(
i	CONJ	i
ne	PAR	ne
samo	PAR	samo
američkog	A:aen	američki
)	PUNCT	)
društva	N:n	društvo
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
umesto	PREP	umesto
toga	PRO	taj
snimio	V:m	snimiti
nešto	PRO	nešto
nalik	N:m	nalik
na	PREP	na
Petak	N:m	petak
trinaesti	A:aem	trinaesti
u	PREP	u
pustinji	N:f	pustinja
uz	PREP	uz
zametak	N:m	zametak
neartikulisane	A:aef	neartikulisan
društvene	A:aem	društven
kritike	N:f	kritika
.	SENT	.
