Koja	PRO	koji
je	PRO	ona
svrha	N:f	svrha
filmova	N:m	film
o	PREP	o
velikim	A:aem	velik
umetnicima	N:m	umetnik
,	PUNCT	,
osim	PREP	osim
očigledno	ADV	očigledno
edukativne	A:aef	edukativan
(	PUNCT	(
a	CONJ	a
gorepotpisani	A:aem	gorepotpisani
je	PRO	ona
,	PUNCT	,
inspirisan	V:m	inspirisati
ovim	PRO	ovaj
filmom	N:m	film
,	PUNCT	,
malo	ADV	malo
kliktao	V:m	kliktati
po	PREP	po
internetu	N:m	internet
,	PUNCT	,
izoštrio	V:m	izoštriti
svoje	PRO	svoj
stavove	N:m	stav
o	PREP	o
nekim	PRO	neki
stvarima	N:f	stvar
usput	ADV	usput
otkrivši	V:m	otkrivši
jednu	NUM	jedan
tačku	N:f	tačka
u	PREP	u
kojoj	PRO	koji
se	PAR	se
ova	PRO	ovaj
zemlja	N:f	zemlja
sasvim	ADV	sasvim
sigurno	ADV	sigurno
nalazi	N:m	nalaz
u	PREP	u
zabludi	N:f	zabluda
)	PUNCT	)
?	SENT	?
Film	N:m	film
o	PREP	o
sjajnom	A:aem	sjajan
umetniku	N:m	umetnik
kao	CONJ	kao
takvom	PRO	takav
prilično	ADV	prilično
je	PRO	ona
besmislen	A:aem	besmislen
,	PUNCT	,
u	PREP	u
šta	PRO	šta
se	PAR	se
mogao	V:m	moći
uveriti	V:m	uveriti
svako	PRO	svaki
ko	PRO	ko
je	PRO	ona
gledao	V:m	gledati
film	N:m	film
Frida	N:f	Frida
.	SENT	.
Dobri	A:aem	dobar
filmovi	N:m	film
o	PREP	o
velikim	A:aem	velik
umetnicima	N:m	umetnik
(	PUNCT	(
evo	PAR	evo
,	PUNCT	,
recimo	N:m	recimo
,	PUNCT	,
Ed	N:m	Ed
Vud	N:m	Vud
Tima	N:m	Tim
Burtona	N:m	Burtona
)	PUNCT	)
obično	ADV	obično
uzimaju	N:m	uzimaju
lik	N:m	lik
umetnika	N:m	umetnik
kao	CONJ	kao
primer	N:m	primer
za	PREP	za
promišljanje	N:n	promišljanje
o	PREP	o
nekoj	PRO	neki
temi	N:f	tema
.	PUNCT	.
Pa	CONJ	pa
tako	ADV	tako
Amadeus	N:m	Amadeus
Miloša	N:m	Miloš
Formana	N:m	Forman
nije	A:aem	nije
film	N:m	film
o	PREP	o
čoveku	N:m	čovek
koji	PRO	koji
stvara	N:m	stvara
predivnu	A:aef	predivan
muziku	N:f	muzika
već	CONJ	već
rasprava	N:f	rasprava
o	PREP	o
odnosu	N:m	odnos
genijalnosti	N:f	genijalnost
i	CONJ	i
osrednjosti	N:f	osrednjost
i	CONJ	i
o	PREP	o
tome	PRO	taj
kakav	PRO	kakav
je	PRO	ona
zaista	PAR	zaista
,	PUNCT	,
religijski	A:aem	religijski
i	CONJ	i
filozofski	A:aem	filozofski
gledano	A:aen	gledan
,	PUNCT	,
svet	N:m	svet
u	PREP	u
kome	PRO	koji
onaj	PRO	onaj
koji	PRO	koji
svim	PRO	sav
srcem	N:n	srce
hoće	A:aem	hoće
–	N:m	–
ne	PAR	ne
može	A:aem	može
,	PUNCT	,
a	CONJ	a
onaj	PRO	onaj
kome	PRO	koji
je	PRO	ona
svejedno	ADV	svejedno
uspeva	V:m	uspeva
da	CONJ	da
nam	PRO	mi
slomi	N:m	slomi
i	CONJ	i
dušu	N:f	duša
i	CONJ	i
telo	N:n	telo
jednom	ADV	jednom
jedinom	A:aem	jedini
precizno	ADV	precizno
postavljenom	A:aef	postavljen
notom	N:f	nota
odsviranom	A:aef	odsviran
na	PREP	na
oboi	N:f	oboa
.	SENT	.
Upravo	ADV	upravo
zahvaljujući	PREP	zahvaljujući
Amadeusu	N:f	Amadeusu
jasno	ADV	jasno
je	PRO	ona
kako	CONJ	kako
je	PRO	ona
prva	A:aen	prvi
polovina	N:f	polovina
Gojinih	A:aef	Gojin
utvara	N:f	utvara
na	PREP	na
tragu	N:m	trag
odličnog	A:aem	odličan
filma	N:m	film
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
isto	ADV	isto
tako	ADV	tako
nejasno	ADV	nejasno
kako	CONJ	kako
se	PAR	se
Formanu	N:m	Forman
sve	ADV	sve
otelo	V:n	oteti
kontroli	N:f	kontrola
u	PREP	u
drugoj	A:aef	drugi
polovini	N:f	polovina
.	SENT	.
Možda	N:f	Možda
je	PRO	ona
odgovor	N:m	odgovor
upravo	ADV	upravo
u	PREP	u
tome	PRO	taj
što	CONJ	što
je	PRO	ona
Formanov	A:aem	Formanov
Goja	N:m	Goja
postavljen	V:m	postaviti
kao	CONJ	kao
čovek	N:m	čovek
koji	PRO	koji
nema	A:aem	nem
nikakav	PRO	nikakav
životni	A:aem	životan
kredo	N:m	kredo
(	PUNCT	(
osim	PREP	osim
da	CONJ	da
se	PAR	se
od	PREP	od
svakoga	PRO	svaki
može	A:aem	može
uzeti	A:aem	uzet
novac	N:m	novac
,	PUNCT	,
mada	CONJ	mada
je	PRO	ona
i	CONJ	i
to	PRO	taj
nešto	ADV	nešto
)	PUNCT	)
,	PUNCT	,
te	CONJ	te
kao	CONJ	kao
takav	PRO	takav
služi	N:m	služi
prvenstveno	ADV	prvenstveno
kao	CONJ	kao
veznik	N:m	veznik
između	PREP	između
aristokratije	N:f	aristokratija
,	PUNCT	,
buržoazije	N:f	buržoazija
i	CONJ	i
sveštenstva	N:n	sveštenstvo
u	PREP	u
Španiji	N:f	Španija
na	PREP	na
prelazu	N:m	prelaz
iz	PREP	iz
18	NUM	@card@
.	PUNCT	.
u	PREP	u
19	NUM	@card@
.	PUNCT	.
vek	N:m	vek
.	SENT	.
Tri	NUM	tri
navedene	A:aef	naveden
društvene	A:aem	društven
kategorije	N:f	kategorija
,	PUNCT	,
za	PREP	za
razliku	N:f	razlika
od	PREP	od
umetnika	N:m	umetnik
,	PUNCT	,
imaju	N:f	imaju
jasno	ADV	jasno
određenu	A:aef	određenu
veru	N:f	vera
u	PREP	u
međusobno	ADV	međusobno
apartne	A:aef	apartan
stvari	N:f	stvar
,	PUNCT	,
te	PRO	taj
se	PAR	se
jasno	ADV	jasno
određuje	N:f	određuje
prostor	N:m	prostor
za	PREP	za
igru	N:f	igra
,	PUNCT	,
koja	PRO	koji
,	PUNCT	,
zajedno	ADV	zajedno
sa	PREP	sa
dinamičnom	A:aef	dinamičan
fabulom	N:f	fabula
,	PUNCT	,
zadovoljava	A:aem	zadovoljava
prohteve	N:m	prohtev
prve	A:aem	prvi
polovine	N:f	polovina
,	PUNCT	,
ili	CONJ	ili
,	PUNCT	,
razrade	N:f	razrada
filma	N:m	film
.	SENT	.
Dominantan	A:aem	dominantan
činilac	N:m	činilac
igre	N:f	igra
je	PRO	ona
,	PUNCT	,
iz	PREP	iz
ovog	PRO	ovaj
izvora	N:m	izvor
očekivan	V:m	očekivati
,	PUNCT	,
možda	PAR	možda
previše	ADV	previše
pojednostavljen	V:m	pojednostaviti
a	CONJ	a
opet	ADV	opet
,	PUNCT	,
ipak	PAR	ipak
pozitivan	A:aem	pozitivan
i	CONJ	i
ironičan	A:aem	ironičan
stav	N:m	stav
prema	PREP	prema
snazi	N:f	snaga
vere	N:f	vera
u	PREP	u
jednom	ADV	jednom
prosečnom	A:aen	prosečan
sveštenom	A:aen	svešteni
licu	N:n	lice
,	PUNCT	,
više	ADV	više
teorijski	A:aem	teorijski
nego	CONJ	nego
empirijski	A:aem	empirijski
sigurnom	A:aem	siguran
u	PREP	u
svoju	PRO	svoj
nepokolebljivost	N:f	nepokolebljivost
pred	PREP	pred
đavoljim	A:aef	đavolji
iskušenjima	N:n	iskušenje
.	PUNCT	.
Međutim	N:n	Međutim
,	PUNCT	,
problemi	N:m	problem
nastaju	N:m	nastaju
kada	CONJ	kada
postane	N:m	postane
jasno	ADV	jasno
da	CONJ	da
je	PRO	ona
korektan	A:aem	korektan
presek	N:m	presek
društva	N:n	društvo
nešto	PRO	nešto
što	PRO	što
se	PAR	se
moglo	V:n	moći
pročitati	A:aem	pročitati
i	CONJ	i
odvojeno	ADV	odvojeno
od	PREP	od
filma	N:m	film
,	PUNCT	,
da	CONJ	da
usled	PREP	usled
toga	PRO	taj
likovi	N:m	lik
nisu	N:m	nisu
zadovoljavajuće	A:aem	zadovoljavajući
izgrađeni	V:m	izgraditi
,	PUNCT	,
te	CONJ	te
da	CONJ	da
je	PRO	ona
dinamična	A:aef	dinamičan
priča	N:f	priča
postala	V:f	postati
svrha	N:f	svrha
sebe	PRO	sebe
same	PRO	sam
a	CONJ	a
ne	PAR	ne
filma	N:m	film
kao	CONJ	kao
celine	N:f	celina
.	SENT	.
Rezultat	N:m	rezultat
je	PRO	ona
da	PAR	da
,	PUNCT	,
nakon	PREP	nakon
jednog	NUM	jedan
katarzičnog	A:aem	katarzičan
momenta	N:m	moment
koji	PRO	koji
se	PAR	se
desi	N:m	desi
negde	ADV	negde
oko	PREP	oko
polovine	N:f	polovina
(	PUNCT	(
i	CONJ	i
oko	PREP	oko
kojeg	PRO	koji
je	PRO	ona
,	PUNCT	,
možda	PAR	možda
,	PUNCT	,
tematski	A:aem	tematski
i	CONJ	i
pripovedno	A:aen	pripovedni
,	PUNCT	,
valjalo	V:n	valjati
graditi	A:aem	graditi
film	N:m	film
)	PUNCT	)
,	PUNCT	,
film	N:m	film
počinje	N:f	počinje
da	CONJ	da
liči	N:m	liči
na	PREP	na
televizijske	A:aef	televizijski
mini	N:f	mina
-	PUNCT	-
serije	N:f	serija
iz	PREP	iz
osamdesetih	A:aem	osamdeseti
čija	PRO	čiji
je	PRO	ona
svrha	N:f	svrha
zabavno	ADV	zabavno
provedeno	A:aen	proveden
nedeljno	A:aen	nedeljni
popodne	N:n	popodne
.	SENT	.
Za	PREP	za
utehu	N:f	uteha
Formanu	N:m	Forman
,	PUNCT	,
i	CONJ	i
kao	CONJ	kao
pokazatelj	N:m	pokazatelj
da	CONJ	da
lik	N:m	lik
Goje	N:m	Goja
nije	V:m	nije
samo	PAR	samo
u	PREP	u
njegovom	PRO	njegov
filmu	N:m	film
pomalo	ADV	pomalo
besmisleno	ADV	besmisleno
potrošen	V:m	potrošiti
,	PUNCT	,
treba	N:f	treba
napomenuti	A:aem	napomenut
da	CONJ	da
dva	NUM	dva
španska	A:aem	španski
filma	N:m	film
(	PUNCT	(
oba	NUM	oba
iz	PREP	iz
1999	NUM	@card@
)	PUNCT	)
pate	N:m	pat
od	PREP	od
još	ADV	još
akutnijih	A:bem	akutan
problema	N:m	problem
–	A:aem	–
Bigas	N:m	Bigas
Luna	N:f	Luna
u	PREP	u
Vojvotkinji	N:f	vojvotkinja
od	PREP	od
Albe	N:f	Alba
oko	PREP	oko
,	PUNCT	,
iz	PREP	iz
današnje	A:aef	današnji
vizure	N:f	vizura
irelevantnog	A:aem	irelevantan
dvorskog	A:aen	dvorski
incidenta	N:m	incident
plete	N:m	plete
priču	N:f	priča
koja	PRO	koji
kod	PREP	kod
gledaoca	N:m	gledalac
izaziva	N:n	izaziva
najužasnije	A:cem	užasan
od	PREP	od
svih	PRO	sav
pitanja	N:n	pitanje
-	PUNCT	-
zašto	CONJ	zašto
je	PRO	ona
ovo	PRO	ovaj
uopšte	ADV	uopšte
bitno	ADV	bitno
?	PUNCT	?
A	CONJ	a
Goja	N:m	Goja
u	PREP	u
Bordou	N:m	Bordo
Karlosa	N:m	Karlos
Saure	N:m	Saure
priču	N:f	priča
ni	CONJ	ni
nema	A:aem	nem
,	PUNCT	,
već	PAR	već
tematski	A:aem	tematski
,	PUNCT	,
na	PREP	na
neki	PRO	neki
način	N:m	način
traži	A:aem	traži
efekat	N:m	efekt
sličan	A:aem	sličan
Formanu	N:m	Forman
,	PUNCT	,
kroz	PREP	kroz
nejedinstvo	N:n	nejedinstvo
mesta	N:n	mesto
,	PUNCT	,
vremena	N:n	vreme
i	CONJ	i
radnje	N:f	radnja
pripoveda	N:m	pripoveda
o	PREP	o
umetnosti	N:f	umetnost
,	PUNCT	,
državi	N:f	država
,	PUNCT	,
pojedincu	N:m	pojedinac
,	PUNCT	,
tj	ABB	tj
.	SENT	.
svemu	PRO	sav
.	PUNCT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
zvezdica	N:f	zvezdica
o	PREP	o
zabludi	N:f	zabluda
naroda	N:m	narod
.	SENT	.
Gola	N:m	Gol
Maja	N:f	Maja
bi	V:m	bi
zapravo	ADV	zapravo
trebalo	V:n	trebati
da	CONJ	da
bude	A:aen	bude
čitana	V:n	čitati
kao	CONJ	kao
Gola	N:m	Gol
maha	N:m	mah
,	PUNCT	,
budući	A:aem	budući
da	CONJ	da
su	PREF	su
mahama	N:f	mahama
nazivani	V:m	nazivati
mladi	A:aem	mlad
urbani	A:aem	urbani
ljudi	N:m	ljudi
iz	PREP	iz
nižih	A:ben	nizak
slojeva	N:m	sloj
društva	N:n	društvo
koji	PRO	koji
su	N:m	su
se	PAR	se
šareno	ADV	šareno
oblačili	V:m	oblačiti
,	PUNCT	,
govorili	V:m	govoriti
Kastiljanskim	A:aen	kastiljanski
narečjem	N:n	narečje
i	CONJ	i
kretali	V:m	kretati
se	PAR	se
u	PREP	u
umetničkim	A:aem	umetnički
krugovima	N:m	krug
Madrida	N:m	Madrid
krajem	PREP	krajem
18	NUM	@card@
.	PUNCT	.
veka	N:m	vek
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
nije	A:aem	nije
u	PREP	u
pitanju	N:n	pitanje
ženska	A:aef	ženski
osoba	N:f	osoba
koja	PRO	koji
se	PAR	se
zove	N:f	zova
Maja	N:f	Maja
.	SENT	.
No	CONJ	no
,	PUNCT	,
na	PREP	na
španskom	A:aen	španski
se	PAR	se
piše	A:aem	piše
maja	N:m	maj
,	PUNCT	,
te	CONJ	te
kod	PREP	kod
Srbalja	N:n	Srblje
i	CONJ	i
druge	A:aem	drugi
južne	A:aef	južne
Slovenčadi	N:f	Slovenčadi
tako	ADV	tako
i	CONJ	i
ostade	N:m	ostade
…	SENT	…
