Iako	CONJ	iako
nije	A:aem	nije
baš	PAR	baš
nešto	ADV	nešto
preterano	ADV	preterano
zainteresovao	V:m	zainteresovati
publiku	N:f	publika
širom	PREP	širom
sveta	N:m	svet
,	PUNCT	,
“	N:m	“
The	INT	The
Raven	N:m	raven
”	N:m	”
je	PRO	ona
pomoću	PREP	pomoću
svog	PRO	svoj
vrlo	ADV	vrlo
dinamičnog	A:aem	dinamičan
trejlera	N:m	trejler
upao	V:m	upasti
u	PREP	u
oko	PREP	oko
velikom	A:aef	velik
broju	N:m	broj
ljudi	N:m	ljudi
u	PREP	u
Srbiji	N:f	Srbija
.	PUNCT	.
Prema	PREP	prema
onome	PRO	onaj
što	CONJ	što
sam	PRO	sam
uspeo	V:m	uspeti
da	CONJ	da
pronađem	V:m	pronađem
na	PREP	na
internetu	N:m	internet
i	CONJ	i
saznam	N:n	saznam
iz	PREP	iz
rediteljeve	A:aef	rediteljev
izjave	N:f	izjava
,	PUNCT	,
3	NUM	@card@
.	PUNCT	.
09	NUM	@card@
.	PUNCT	.
1849	NUM	@card@
godine	N:f	godina
,	PUNCT	,
Edgar	N:m	Edgar
Alan	N:m	Alan
Po	N:m	Po
(	PUNCT	(
Edgar	N:m	Edgar
Alan	N:m	Alan
Poe	N:m	Poe
)	PUNCT	)
je	PRO	ona
pronađen	V:m	pronaći
kako	CONJ	kako
u	PREP	u
delirijumu	N:m	delirijum
tumara	N:m	Tumara
ulicama	N:f	ulica
Baltimora	N:m	Baltimor
,	PUNCT	,
vičući	A:aem	vičući
na	PREP	na
sav	PRO	sav
glas	N:m	glas
prezime	N:n	prezime
“	A:aem	“
Rejnolds	N:m	Rejnolds
!	SENT	!
”	A:aem	”
Postoje	N:m	Postoje
mnoge	A:aef	mnogi
teorije	N:f	teorija
prema	PREP	prema
kojima	PRO	koji
se	PAR	se
uzrok	N:m	uzrok
smrti	N:f	smrt
ovog	PRO	ovaj
popularnog	A:aem	popularan
pesnika	N:m	pesnik
proteže	N:m	proteg
od	PREP	od
tuerkoloze	N:m	tuerkoloze
,	PUNCT	,
preko	PREP	preko
gušenje	N:n	gušenje
od	PREP	od
alkohola	N:m	alkohol
,	PUNCT	,
ali	CONJ	ali
nikada	ADV	nikada
se	PAR	se
do	PREP	do
kraja	N:m	kraj
tačno	ADV	tačno
nije	A:aem	nije
ustanovilo	V:n	ustanoviti
šta	PRO	šta
je	PRO	ona
to	PRO	taj
što	PRO	što
je	PRO	ona
okončalo	V:n	okončati
život	N:m	život
ove	PRO	ovaj
kultne	A:aem	kultne
ličnosti	N:f	ličnost
.	PUNCT	.
Film	N:m	film
“	N:m	“
The	INT	The
Raven	N:m	raven
”	N:m	”
upravo	ADV	upravo
nastoji	N:m	nastoji
da	CONJ	da
ove	PRO	ovaj
zaista	PAR	zaista
neslave	N:f	neslave
scenarije	N:m	scenario
smrti	N:f	smrt
popularnog	A:aem	popularan
pesnika	N:m	pesnik
zameni	N:f	zamena
jednom	ADV	jednom
fiktivnom	A:aef	fiktivan
,	PUNCT	,
romantičnom	A:aef	romantičan
i	CONJ	i
misterioznom	A:aef	misteriozan
pričom	N:f	priča
,	PUNCT	,
koja	PRO	koji
će	A:aem	će
život	N:m	život
i	CONJ	i
dela	N:n	delo
autora	N:m	autor
predstaviti	V:m	predstaviti
u	PREP	u
formi	N:f	forma
jednog	NUM	jedan
intrigantnog	A:aem	intrigantan
detektivskog	A:aem	detektivski
romana	N:m	roman
.	SENT	.
Kao	CONJ	kao
sumarum	N:m	sumarum
onoga	PRO	onaj
što	CONJ	što
se	PAR	se
nalazi	N:m	nalaz
u	PREP	u
gore	ADV	gore
napisanom	A:aem	napisan
paragrafu	N:m	paragraf
,	PUNCT	,
“	N:m	“
The	INT	The
Raven	N:m	raven
”	N:m	”
je	PRO	ona
fiktivna	A:aef	fiktivan
priča	N:f	priča
koja	PRO	koji
je	PRO	ona
prilično	ADV	prilično
slobodno	ADV	slobodno
bazirana	A:aen	baziran
na	PREP	na
Edgaru	N:m	Edgar
Alenu	N:f	Alena
Pou	N:m	Po
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
pored	PREP	pored
njegovog	PRO	njegov
imena	N:n	ime
i	CONJ	i
nekoliko	ADV	nekoliko
referenci	N:f	referenca
na	PREP	na
kultna	A:aen	kultna
dela	N:n	delo
koja	PRO	koji
je	PRO	ona
napisao	V:m	napisati
,	PUNCT	,
ne	PAR	ne
treba	N:f	treba
očekivati	A:aem	očekivati
nikakve	PRO	nikakav
biografski	A:aem	biografski
tačne	A:aem	tačan
detalje	N:m	detalj
i	CONJ	i
sekvence	N:f	sekvenca
.	SENT	.
Priča	A:aem	Priča
je	PRO	ona
centrirana	V:f	centrirati
oko	PREP	oko
pojave	N:f	pojava
serijskog	A:aem	serijski
ubice	N:f	ubica
koji	PRO	koji
u	PREP	u
svojim	PRO	svoj
zločinima	N:m	zločin
sprovodi	N:m	sprovod
u	PREP	u
delo	N:n	delo
neke	PRO	neki
od	PREP	od
strašnijih	A:bef	strašan
priča	N:f	priča
koje	PRO	koji
je	PRO	ona
poznati	A:aem	poznat
autor	N:m	autor
napisao	V:m	napisati
.	PUNCT	.
Iako	CONJ	iako
na	PREP	na
početku	N:m	početak
kao	CONJ	kao
osumnjičeni	A:aem	osumnjičen
,	PUNCT	,
Po	N:m	Po
vrlo	ADV	vrlo
brzo	ADV	brzo
uspeva	V:m	uspeva
da	CONJ	da
pokaže	V:m	pokaže
istražiteljima	N:m	istražitelj
da	CONJ	da
on	PRO	on
nije	A:aem	nije
osoba	N:f	osoba
za	PREP	za
kojom	PRO	koji
oni	PRO	onaj
tragaju	N:m	tragaju
.	SENT	.
Posle	PREP	posle
kratkog	A:aen	kratak
vremena	N:n	vreme
,	PUNCT	,
Edgar	N:m	Edgar
se	PAR	se
priključuje	N:m	priključuje
nadležnim	A:aef	nadležan
organima	N:m	organ
kao	CONJ	kao
konsultant	N:m	konsultant
,	PUNCT	,
jer	CONJ	jer
su	N:m	su
zločini	N:m	zločin
bazirani	V:m	bazirati
na	PREP	na
njegovim	PRO	njegov
spisama	N:f	spisama
.	SENT	.
Priča	A:aen	Priča
dobija	N:n	dobija
sasvim	ADV	sasvim
novu	A:aen	nov
dimenziju	N:f	dimenzija
kada	CONJ	kada
ubica	N:m	ubica
kidnapuje	N:f	kidnapuje
Poovu	A:aef	Poov
ljubavnicu	N:f	ljubavnica
i	CONJ	i
putem	PREP	putem
svakog	PRO	svaki
novog	A:aem	nov
zločina	N:m	zločin
ostavlja	A:aem	ostavlja
dokaze	N:m	dokaz
koji	PRO	koji
postepeno	ADV	postepeno
otkrivaju	N:f	otkrivaju
gde	CONJ	gde
se	PAR	se
ona	PRO	ona
nalazi	N:m	nalaz
.	SENT	.
Nemam	N:m	Nemam
nikakav	PRO	nikakav
problem	N:m	problem
sa	PREP	sa
ovako	ADV	ovako
slobodnim	A:aen	slobodan
izvrtanjem	N:n	izvrtanje
stvarnih	A:aen	stvaran
likova	N:n	likovo
i	CONJ	i
događaja	N:m	događaj
,	PUNCT	,
ali	CONJ	ali
ono	PRO	onaj
što	CONJ	što
me	PRO	ja
je	PRO	ona
malo	ADV	malo
ovde	ADV	ovde
izneverilo	V:n	izneveriti
jeste	INT	jeste
prilično	ADV	prilično
standardna	A:aen	standardan
realizacija	N:f	realizacija
,	PUNCT	,
rađena	V:n	raditi
po	PREP	po
formuli	N:f	formula
koje	PRO	koji
se	PAR	se
već	PAR	već
toliko	ADV	toliko
mnogo	ADV	mnogo
puta	ADV	puta
manifestovala	V:m	manifestovati
u	PREP	u
raznim	A:aem	raznim
naslovima	N:m	naslov
ovog	PRO	ovaj
žanra	N:m	žanr
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
misterija	N:f	misterija
sama	PRO	sam
po	PREP	po
sebi	PRO	sebe
dosta	ADV	dosta
predvidiva	A:aem	predvidiv
,	PUNCT	,
ona	PRO	ona
nije	A:aem	nije
toliko	ADV	toliko
frustrirajuća	A:aem	frustrirajući
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
zaista	PAR	zaista
slabo	ADV	slabo
u	PREP	u
filmu	N:m	film
jeste	INT	jeste
atmosfera	N:f	atmosfera
koja	PRO	koji
umesto	PREP	umesto
da	CONJ	da
nudi	N:f	nudi
mračan	A:aem	mračan
,	PUNCT	,
paranoičan	A:aem	paranoičan
i	CONJ	i
prilično	ADV	prilično
uznemirujuću	A:aem	uznemirujući
osećaj	N:m	osećaj
,	PUNCT	,
biva	A:aem	biva
jednostavno	ADV	jednostavno
toliko	ADV	toliko
“	A:aem	“
Holivudski	N:m	Holivudski
standardna	A:aen	standardan
”	N:m	”
da	CONJ	da
nije	N:f	nije
uspela	V:f	uspeti
da	CONJ	da
me	PRO	ja
ubedi	N:f	ubedi
da	CONJ	da
na	PREP	na
vrhu	N:m	vrh
stolice	N:f	stolica
isčekujem	V:n	isčekujem
svaki	PRO	svaki
sledeći	A:aem	sledeći
okret	N:m	okret
u	PREP	u
zapletu	N:m	zaplet
.	PUNCT	.
Priča	A:aem	Priča
jednostavno	ADV	jednostavno
nema	A:aem	nem
dovoljno	A:aen	dovoljan
varijacija	N:f	varijacija
da	CONJ	da
bi	N:f	bi
postala	V:f	postati
napeta	A:aef	napet
i	CONJ	i
uzbudljiva	A:aef	uzbudljiv
,	PUNCT	,
i	CONJ	i
posle	PREP	posle
scene	N:f	scena
bala	N:f	bala
nekako	ADV	nekako
sve	PRO	sav
teče	N:f	teča
u	PREP	u
istom	A:aem	isti
tonalitetu	N:m	tonalitet
i	CONJ	i
ritmu	N:m	ritam
što	CONJ	što
znatno	ADV	znatno
narušava	A:aem	narušava
cilj	N:m	cilj
koji	PRO	koji
je	PRO	ona
trebao	V:m	trebati
da	CONJ	da
bude	A:aem	bude
postignut	V:m	postignuti
sa	PREP	sa
ovakvim	PRO	ovakav
zapletom	N:m	zaplet
.	SENT	.
Ben	N:m	Ben
Livingston	N:m	Livingston
(	PUNCT	(
Ben	N:m	Ben
Livingston	N:m	Livingston
)	PUNCT	)
i	CONJ	i
Hana	N:f	Hana
Šepkspir	N:m	Šepkspir
(	PUNCT	(
Hannah	N:m	Hannah
Shakespeare	N:m	Shakespeare
)	PUNCT	)
sami	PRO	sam
po	PREP	po
sebi	PRO	sebe
nisu	N:m	nisu
napisali	V:m	napisati
očajno	ADV	očajno
delo	N:n	delo
.	SENT	.
Scenario	N:m	scenario
sam	A:aem	sam
po	PREP	po
poeban	A:aem	poeban
segment	N:m	segment
sadrži	V:m	sadrži
nekoliko	ADV	nekoliko
interesantnih	A:aef	interesantan
anegdota	N:f	anegdota
i	CONJ	i
omaža	N:m	omaž
na	PREP	na
Poove	A:aef	Poov
pesme	N:f	pesma
,	PUNCT	,
ali	CONJ	ali
njegova	PRO	njegov
realizacija	N:f	realizacija
nikako	ADV	nikako
ne	PAR	ne
uspeva	V:m	uspeva
u	PREP	u
pravom	N:n	pravo
svetlu	N:n	svetlo
da	CONJ	da
istakne	N:f	istakne
te	PRO	taj
atribute	N:m	atribut
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
se	PAR	se
odlikuje	N:m	odlikuje
sporijim	A:bef	spor
ritmom	N:m	ritam
punim	A:aef	pun
odličnih	A:aem	odličan
dijaloga	N:m	dijalog
i	CONJ	i
sitnih	A:aem	sitan
i	CONJ	i
lukavo	A:aen	lukav
postavljenih	A:aef	postavljen
detalja	N:m	detalj
,	PUNCT	,
film	N:m	film
uzima	N:m	uzo
jedan	NUM	jedan
prilično	ADV	prilično
brz	A:aem	brz
tempo	N:m	tempo
,	PUNCT	,
poput	PREP	poput
Ričijevog	A:aem	Ričijev
(	PUNCT	(
Guy	A:aem	Guy
Ritchie	N:m	Ritchie
)	PUNCT	)
Šerloka	N:m	Šerlok
Holmsa	N:m	Holms
(	PUNCT	(
Sherlock	N:m	Sherlock
Holmes	N:m	Holmes
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
nikako	ADV	nikako
ne	PAR	ne
uspeva	V:f	uspeva
da	CONJ	da
parira	V:f	parira
sa	PREP	sa
kvalitetom	N:m	kvalitet
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
gluma	N:f	gluma
od	PREP	od
većinskog	A:aen	većinski
dela	N:n	delo
ekipe	N:f	ekipa
zadovoljavajuća	A:aen	zadovoljavajući
,	PUNCT	,
nikako	ADV	nikako
mi	PRO	ja
se	PAR	se
nije	V:m	nije
dopao	V:m	dopasti
Džon	N:m	Džon
Kjusak	N:m	Kjusak
(	PUNCT	(
John	N:m	John
Cusack	N:m	Cusack
)	PUNCT	)
kao	CONJ	kao
kultni	A:aem	kultni
pisac	N:m	pisac
.	SENT	.
Kjusak	N:m	Kjusak
poput	PREP	poput
Roberta	N:m	Roberto
Dauni	N:m	Dauni
Džuniora	N:m	Džuniora
(	PUNCT	(
Robert	N:m	Robert
Downey	A:aem	Downey
Jr	N:m	Jr
.	SENT	.
)	PUNCT	)
pokušava	A:aem	pokušava
dosta	ADV	dosta
da	CONJ	da
modernizuje	N:m	modernizuje
svoga	PRO	svoj
lika	N:m	lik
,	PUNCT	,
ali	CONJ	ali
za	PREP	za
razliku	N:f	razlika
od	PREP	od
Daunija	N:m	Dauni
,	PUNCT	,
ne	PAR	ne
polazi	N:m	polaz
mu	PRO	on
ni	PAR	ni
najmanje	ADV	najmanje
za	PREP	za
rukom	N:f	ruka
.	SENT	.
Jednostavno	A:aen	jednostavan
fale	N:f	fala
svi	PRO	sav
elementi	N:m	element
koji	PRO	koji
karaterišu	A:aem	karaterišu
Poa	N:m	Po
,	PUNCT	,
počevši	A:aem	počevši
od	PREP	od
paranoje	N:f	paranoja
.	SENT	.
Iako	CONJ	iako
ne	PAR	ne
mogu	A:aen	mogu
reći	N:n	reći
da	CONJ	da
je	PRO	ona
“	N:m	“
The	INT	The
Raven	N:m	raven
”	A:aem	”
očajan	A:aem	očajan
film	N:m	film
,	PUNCT	,
moram	N:m	moram
istaći	A:aem	istaći
da	CONJ	da
sam	A:aem	sam
vidno	ADV	vidno
razočaran	A:aem	razočaran
potencijalom	N:m	potencijal
koji	PRO	koji
nije	N:f	nije
iskorišćen	V:m	iskoristiti
.	SENT	.
Zabavan	A:aem	zabavan
detektivski	A:aem	detektivski
triler	N:m	triler
,	PUNCT	,
ali	CONJ	ali
nedovoljno	ADV	nedovoljno
jak	A:aem	jak
da	CONJ	da
bi	A:aem	bi
ostao	V:m	ostati
zapamćen	V:m	zapamtiti
.	SENT	.
