The	INT	The
Last	N:m	Last
Exorcism	N:m	Exorcism
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
retkih	A:aef	redak
filmova	N:m	film
kod	PREP	kod
kojih	PRO	koji
je	PRO	ona
marketinška	A:aef	marketinški
kampanja	N:f	kampanja
interesantnija	A:bem	interesantan
od	PREP	od
samog	PRO	sam
filma	N:m	film
.	SENT	.
Film	N:m	film
je	PRO	ona
očigledno	ADV	očigledno
niskobudžetan	A:aem	niskobudžetan
i	CONJ	i
,	PUNCT	,
umesto	PREP	umesto
da	CONJ	da
novac	N:m	novac
troši	A:aem	troši
na	PREP	na
tradicionalni	A:aem	tradicionalan
marketing	N:m	marketing
,	PUNCT	,
studio	V:m	studjeti
Lionsgate	N:m	Lionsgate
je	PRO	ona
odlučio	V:m	odlučiti
da	CONJ	da
film	N:m	film
promoviše	A:aem	promoviše
skoro	ADV	skoro
ekskluzivno	A:aen	ekskluzivan
preko	PREP	preko
društvenih	A:aef	društven
mreža	N:f	mreža
i	CONJ	i
YouTube	N:f	YouTube
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
dobrim	A:aef	dobar
starim	A:aef	star
rekla	N:f	rekla
-	PUNCT	-
kazala	V:n	kazati
-	PUNCT	-
pristup	N:m	pristup
tipa	N:m	tip
Snakes	N:m	Snakes
on	PRO	on
a	CONJ	a
Plane	N:f	Plana
.	PUNCT	.
Priznajmo	N:f	Priznajmo
,	PUNCT	,
u	PREP	u
slučaju	N:m	slučaj
ovog	PRO	ovaj
filma	N:m	film
sa	PREP	sa
Samuelom	N:m	Samuel
L	N:n	L
.	SENT	.
Jacksonom	N:m	Jacksonom
to	PRO	taj
i	CONJ	i
nije	A:aen	nije
ispalo	V:n	ispasti
tako	ADV	tako
dobro	ADV	dobro
,	PUNCT	,
ali	CONJ	ali
ovde	ADV	ovde
su	N:m	su
ulozi	N:f	uloga
manji	N:f	manja
.	SENT	.
The	INT	The
Last	N:m	Last
Exorcism	N:m	Exorcism
ne	PAR	ne
mora	N:n	more
da	CONJ	da
zaradi	N:f	zarada
brdo	N:n	brdo
novca	N:m	novac
da	CONJ	da
bi	N:m	bi
bio	V:m	biti
profitabilan	A:aem	profitabilan
;	SENT	;
ostaje	N:n	ostaje
da	CONJ	da
vidimo	N:f	vidimo
da	CONJ	da
li	PAR	li
će	A:aem	će
biti	N:f	bit
dovoljno	A:aen	dovoljan
hajpa	N:m	hajpa
da	CONJ	da
se	PAR	se
The	INT	The
Last	N:m	Last
Exorcism	A:aem	Exorcism
popne	N:m	popne
još	ADV	još
malo	ADV	malo
na	PREP	na
box	A:aem	box
office	N:f	office
listi	N:f	lista
i	CONJ	i
da	CONJ	da
li	PAR	li
je	PRO	ona
trenutno	ADV	trenutno
nezadovoljstvo	N:n	nezadovoljstvo
u	PREP	u
publici	N:f	publika
na	PREP	na
projekciji	N:f	projekcija
kojoj	PRO	koji
sam	PRO	sam
prisustvovao	V:m	prisustvovati
samo	PAR	samo
ćorak	N:m	ćorak
.	PUNCT	.
Kada	CONJ	kada
se	PAR	se
The	INT	The
Blair	N:m	Blair
Witch	A:aef	Witch
Project	N:f	Project
pojavio	V:m	pojaviti
u	PREP	u
bioskopima	N:m	bioskop
,	PUNCT	,
glavni	A:aem	glavni
razlog	N:m	razlog
njegovog	PRO	njegov
uspeha	N:m	uspeh
bio	V:m	biti
je	PRO	ona
svežina	N:f	svežina
pristupa	N:m	pristup
.	SENT	.
Perspektiva	N:f	perspektiva
iz	PREP	iz
prvog	A:aem	prvi
lica	N:n	lice
bila	V:f	biti
je	PRO	ona
nešto	ADV	nešto
novo	A:aen	nov
za	PREP	za
žanr	N:m	žanr
horora	N:m	horor
i	CONJ	i
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
The	INT	The
Blair	N:m	Blair
Witch	A:aef	Witch
Project	N:f	Project
veći	A:bem	velik
deo	N:m	deo
svog	PRO	svoj
horora	N:m	horor
oslanjao	V:m	oslanjati
na	PREP	na
ono	PRO	onaj
što	CONJ	što
se	PAR	se
dešava	N:n	dešava
van	PREP	van
kadra	A:aen	kadar
,	PUNCT	,
postao	V:m	postati
je	PRO	ona
nešto	ADV	nešto
poput	PREP	poput
fenomena	N:m	fenomen
.	SENT	.
Copycat	A:aem	Copycat
filmovi	N:m	film
-	PUNCT	-
a	CONJ	a
bilo	V:n	biti
ih	PRO	ona
je	PRO	ona
nekoliko	ADV	nekoliko
tokom	PREP	tokom
godina	N:f	godina
-	PUNCT	-
opšte	ADV	opšte
uzev	A:aem	uzev
,	PUNCT	,
nisu	N:m	nisu
postigli	V:m	postignuti
tako	ADV	tako
dobar	A:aem	dobar
uspeh	N:m	uspeh
jer	CONJ	jer
su	N:m	su
ignorisali	V:m	ignorisati
pristup	N:m	pristup
originala	N:m	original
'	N:m	'
manje	ADV	manje
je	PRO	ona
više	ADV	više
'	A:aem	'
.	SENT	.
U	PREP	u
The	INT	The
Blair	N:m	Blair
Witch	A:aef	Witch
Project	N:f	Project
-	PUNCT	-
u	PREP	u
,	PUNCT	,
nije	A:aen	nije
bilo	V:n	biti
teško	ADV	teško
poverovati	A:aem	poverovati
da	CONJ	da
ste	A:aem	ste
izgubljeni	A:aem	izgubljen
u	PREP	u
šumi	N:f	šuma
sa	PREP	sa
grupom	N:f	grupa
pogubljenih	A:aem	pogubljen
dvadesetogodišnjaka	N:m	dvadesetogodišnjak
koje	PRO	koji
možda	PAR	možda
,	PUNCT	,
a	CONJ	a
možda	PAR	možda
i	CONJ	i
ne	PAR	ne
proganja	N:n	proganja
natprirodni	A:aem	natprirodan
entitet	N:m	entitet
.	SENT	.
Tamo	ADV	tamo
je	PRO	ona
postojao	V:m	postojati
osećaj	N:m	osećaj
nečeg	PRO	nešto
jezivog	A:aem	jeziv
.	SENT	.
Taj	PRO	taj
faktor	N:m	faktor
konkretno	ADV	konkretno
nije	V:m	nije
prisutan	A:aem	prisutan
u	PREP	u
mnogim	A:aef	mnogi
filmovima	N:m	film
koji	PRO	koji
su	N:m	su
usledili	V:m	uslediti
posle	PREP	posle
Blair	N:m	Blair
Witch	A:aen	Witch
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
i	CONJ	i
The	INT	The
Last	N:m	Last
Exorcism	A:aem	Exorcism
nije	A:aem	nije
izuzetak	N:m	izuzetak
.	SENT	.
Ispostavlja	N:m	Ispostavlja
se	PAR	se
da	CONJ	da
je	PRO	ona
film	N:m	film
više	ADV	više
manipulativan	A:aem	manipulativan
nego	CONJ	nego
strašan	A:aem	strašan
.	SENT	.
Možda	N:f	Možda
je	PRO	ona
problem	N:m	problem
u	PREP	u
tome	PRO	taj
što	PRO	što
smo	N:f	smo
previše	ADV	previše
puta	ADV	puta
bili	V:m	biti
izloženi	V:m	izložiti
ovim	PRO	ovaj
niskobudžetnim	A:aem	niskobudžetni
'	N:m	'
izgubljenim	A:aen	izgubljen
snimcima	N:m	snimak
'	A:aem	'
lažnih	A:aef	lažan
dokumentaraca	N:m	dokumentarac
da	CONJ	da
bi	A:aem	bi
se	PAR	se
izgradile	V:f	izgraditi
prava	N:n	pravo
strava	N:f	strava
i	CONJ	i
užas	N:m	užas
.	SENT	.
Zaplet	N:m	zaplet
za	PREP	za
The	INT	The
Last	N:m	Last
Exorcism	A:aef	Exorcism
nije	N:f	nije
loš	A:aem	loš
i	CONJ	i
,	PUNCT	,
iako	CONJ	iako
prolazi	N:m	prolaz
mnogo	ADV	mnogo
vremena	N:n	vreme
dok	CONJ	dok
'	A:aem	'
akcija	N:f	akcija
'	N:m	'
ne	PAR	ne
krene	N:m	kren
,	PUNCT	,
ima	V:m	ima
nekih	PRO	neki
strašnih	A:aef	strašan
scena	N:f	scena
u	PREP	u
srednjem	A:aem	srednji
delu	N:n	delo
filma	N:m	film
.	SENT	.
Tu	ADV	tu
je	PRO	ona
i	CONJ	i
misterija	N:f	misterija
da	CONJ	da
li	PAR	li
su	PREF	su
sve	PRO	sav
te	PRO	taj
loše	A:aef	loš
stvari	N:f	stvar
posledica	N:f	posledica
natprirodnog	A:aem	natprirodan
dešavanja	N:n	dešavanje
ili	CONJ	ili
imamo	N:m	imamo
posla	N:m	posao
sa	PREP	sa
kombinacijom	N:f	kombinacija
psihotičnih	A:aen	psihotičan
ljudskih	A:aem	ljudski
bića	N:n	biće
i	CONJ	i
religioznih	A:aen	religiozan
fanatika	N:m	fanatik
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
krajeva	N:m	kraj
,	PUNCT	,
The	INT	The
Last	N:m	Last
Exorcism	A:aef	Exorcism
bi	N:f	bi
možda	PAR	možda
bolje	ADV	bolje
prošao	V:m	proći
da	CONJ	da
nije	V:m	nije
dao	V:m	dati
odgovor	N:m	odgovor
na	PREP	na
ova	PRO	ovaj
pitanja	N:n	pitanje
.	SENT	.
Rasplet	N:m	rasplet
nije	A:aem	nije
samo	CONJ	samo
antiklimaktičan	A:aem	antiklimaktičan
,	PUNCT	,
već	CONJ	već
i	CONJ	i
smešan	A:aem	smešan
.	SENT	.
To	PRO	taj
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
problema	N:m	problem
ovog	PRO	ovaj
podžanra	N:m	podžanr
-	PUNCT	-
teško	ADV	teško
je	PRO	ona
prodati	V:m	prodati
ideju	N:f	ideja
da	CONJ	da
neko	PRO	neki
još	ADV	još
uvek	ADV	uvek
snima	N:m	san
dok	CONJ	dok
spašava	A:aen	spašava
živu	A:aen	živ
glavu	N:f	glava
.	SENT	.
Film	N:m	film
je	PRO	ona
predstavljen	V:m	predstaviti
kao	CONJ	kao
dokumentarac	N:m	dokumentarac
o	PREP	o
'	N:m	'
poslednjem	A:aem	poslednji
isterivanju	N:n	isterivanje
'	A:aem	'
koje	PRO	koji
sprovodi	N:m	sprovod
poznati	A:aem	poznat
evangelista	N:m	evangelista
i	CONJ	i
isterivač	N:m	isterivač
prečasni	A:aem	prečastan
Cotton	N:m	Cotton
Marcus	N:m	Marcus
(	PUNCT	(
Patrick	A:aem	Patrick
Fabian	N:m	Fabian
)	PUNCT	)
.	SENT	.
Njega	PRO	on
prati	N:f	prati
ekipa	N:f	ekipa
koja	PRO	koji
se	PAR	se
sastoji	N:m	sastoji
od	PREP	od
rediteljke	N:f	rediteljka
Iris	N:f	Iris
Reisen	N:m	Reisen
(	PUNCT	(
Iris	N:f	Iris
Bahr	N:m	Bahr
)	PUNCT	)
i	CONJ	i
njenog	PRO	njen
kamermana	N:m	kamerman
koji	PRO	koji
se	PAR	se
ne	PAR	ne
vidi	N:f	vida
(	PUNCT	(
ali	CONJ	ali
povremeno	ADV	povremeno
čuje	N:f	čuje
)	PUNCT	)
.	SENT	.
U	PREP	u
uvodnom	A:aen	uvodni
delu	N:n	delo
,	PUNCT	,
Marcus	N:m	Marcus
otkriva	A:aem	otkriva
da	CONJ	da
je	PRO	ona
izgubio	V:m	izgubiti
veru	N:f	vera
u	PREP	u
Boga	N:f	Boga
i	CONJ	i
da	CONJ	da
su	N:m	su
njegova	PRO	njegov
isterivanja	N:n	isterivanje
lažna	A:aef	lažan
.	SENT	.
Želi	N:f	Želi
da	CONJ	da
snimi	N:m	snimi
ceo	A:aem	ceo
proces	N:m	proces
kako	CONJ	kako
bi	N:m	bi
dokazao	V:m	dokazati
koliko	ADV	koliko
laž	N:f	laž
i	CONJ	i
pretvaranje	N:n	pretvaranje
mogu	A:aen	mogu
da	CONJ	da
budu	A:aen	budu
efikasni	A:aem	efikasan
u	PREP	u
biznisu	N:m	biznis
isterivanja	N:n	isterivanje
demona	N:m	demon
.	SENT	.
Isterivanje	N:n	isterivanje
za	PREP	za
koje	PRO	koji
se	PAR	se
odlučuje	N:m	odlučuje
da	CONJ	da
snimi	N:m	snimi
uključuje	N:f	uključuje
16	NUM	@card@
-	PUNCT	-
godišnju	A:aef	godišnji
devojku	N:f	devojka
Nell	N:m	Nell
Sweetzer	N:m	Sweetzer
(	PUNCT	(
Ashley	A:aem	Ashley
Bell	N:m	Bell
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
živi	A:aem	živ
u	PREP	u
sred	PREP	sred
nedođije	N:f	nedođija
(	PUNCT	(
u	PREP	u
ruralnoj	A:aef	ruralan
Luizijani	N:f	Luizijana
,	PUNCT	,
da	CONJ	da
budemo	A:aen	budemo
precizni	A:aem	precizan
)	PUNCT	)
sa	PREP	sa
njenim	PRO	njen
ultrareligioznim	A:aem	ultrareligioznim
ocem	N:m	otac
Louisom	N:m	Louisom
(	PUNCT	(
Louis	N:m	Louis
Herthum	N:m	Herthum
)	PUNCT	)
i	CONJ	i
ciničnim	A:aem	ciničan
bratom	N:m	brata
Calebom	N:m	Calebom
(	PUNCT	(
Caleb	N:m	Caleb
Landry	A:aem	Landry
Jones	N:m	Jones
)	PUNCT	)
.	SENT	.
Marcusovo	A:aen	Marcusovo
samopouzdanje	N:n	samopouzdanje
se	PAR	se
polako	ADV	polako
ruši	A:aem	ruši
kada	CONJ	kada
počnu	A:aem	počnu
da	CONJ	da
se	PAR	se
dešavaju	N:m	dešavaju
čudne	A:aef	čudan
stvari	N:f	stvar
u	PREP	u
sred	PREP	sred
njegovog	PRO	njegov
uspešnog	A:aem	uspešan
'	N:m	'
isterivanja	N:n	isterivanje
'	N:m	'
i	CONJ	i
on	PRO	on
počinje	N:f	počinje
da	CONJ	da
se	PAR	se
pita	N:f	pita
da	CONJ	da
li	PAR	li
ovde	ADV	ovde
ima	A:aem	ima
posla	N:m	posao
sa	PREP	sa
ozbiljno	ADV	ozbiljno
poremećenom	A:aef	poremećen
situacijom	N:f	situacija
ili	CONJ	ili
je	PRO	ona
možda	PAR	možda
nešto	ADV	nešto
zaista	PAR	zaista
natprirodno	A:aen	natprirodan
stupilo	V:n	stupiti
na	PREP	na
scenu	N:f	scena
.	SENT	.
Film	N:m	film
nam	PRO	mi
ne	PAR	ne
ostaje	N:n	ostaje
dužan	A:aem	dužan
niskobudžetnim	A:aef	niskobudžetni
scenama	N:f	scena
strave	N:f	strava
i	CONJ	i
užasa	N:m	užas
,	PUNCT	,
pri	PREP	pri
čemu	PRO	šta
se	PAR	se
najveći	A:cem	velik
deo	N:m	deo
zbiva	N:n	zbiva
u	PREP	u
srednjem	A:aem	srednji
(	PUNCT	(
od	PREP	od
tri	NUM	tri
)	PUNCT	)
čina	N:f	čini
.	SENT	.
Nema	A:aem	nem
puno	A:aen	pun
prolivanja	N:n	prolivanje
krvi	N:f	krv
,	PUNCT	,
a	CONJ	a
najjeziviji	A:cem	jeziv
prizori	N:m	prizor
su	N:m	su
Nellin	N:m	Nellin
iskrivljeni	A:aem	iskrivljen
vrat	N:m	vrat
u	PREP	u
nemogućim	A:aef	nemoguć
uglovima	N:m	ugao
i	CONJ	i
iskolačene	A:aef	iskolačen
oči	N:f	oči
.	SENT	.
Možda	A:aem	Možda
najneprijatnija	A:cem	neprijatan
scena	N:f	scena
je	PRO	ona
ona	PRO	ona
u	PREP	u
kojoj	PRO	koji
se	PAR	se
pojavljuje	N:f	pojavljuje
u	PREP	u
Marcusovoj	A:aef	Marcusovoj
hotelskoj	A:aef	hotelski
sobi	N:f	soba
obučena	V:n	obući
samo	PAR	samo
u	PREP	u
spavaćicu	N:f	spavaćica
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
momentu	N:m	moment
pretpostavljamo	N:m	pretpostavljamo
jednu	NUM	jedan
od	PREP	od
tri	NUM	tri
mogućnosti	N:f	mogućnost
:	PUNCT	:
(	SENT	(
1	NUM	@card@
)	PUNCT	)
ona	PRO	ona
je	PRO	ona
zaposednuta	A:aem	zaposednut
demonom	N:m	demon
,	PUNCT	,
(	SENT	(
2	NUM	@card@
)	PUNCT	)
ona	PRO	ona
je	PRO	ona
poremećeni	A:aem	poremećen
ubica	N:m	ubica
,	PUNCT	,
(	SENT	(
3	NUM	@card@
)	PUNCT	)
otac	N:m	otac
ili	CONJ	ili
brat	N:m	brat
su	PREF	su
je	PRO	ona
zlostavljali	V:m	zlostavljati
i	CONJ	i
oni	PRO	onaj
su	N:m	su
odgovorni	A:aem	odgovoran
za	PREP	za
sve	PRO	sav
loše	A:aef	loš
stvari	N:f	stvar
koje	PRO	koji
se	PAR	se
dešavaju	V:n	dešavaju
.	SENT	.
Glumačka	N:m	Glumačka
ekipa	N:f	ekipa
je	PRO	ona
efektivna	A:aef	efektivan
,	PUNCT	,
i	CONJ	i
svi	PRO	sav
su	N:m	su
vrlo	ADV	vrlo
uverljivi	A:aem	uverljiv
u	PREP	u
svojim	PRO	svoj
ulogama	N:f	uloga
.	SENT	.
To	PRO	taj
su	N:m	su
većim	A:bem	velik
delom	N:m	deo
profesionalni	A:aem	profesionalan
glumci	N:m	glumac
;	SENT	;
međutim	PAR	međutim
,	PUNCT	,
nisu	N:m	nisu
poznate	A:aef	poznat
face	N:f	faca
niti	CONJ	niti
poznata	A:aem	poznat
imena	N:n	ime
.	SENT	.
Njihove	PRO	njihov
filmografije	N:f	filmografije
se	PAR	se
sastoje	N:m	sastoje
od	PREP	od
niza	N:m	niz
gostovanja	N:n	gostovanje
u	PREP	u
TV	N:m	TV
serijama	N:f	serija
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
imaju	N:f	imaju
dovoljno	A:aen	dovoljan
iskustva	N:n	iskustvo
da	CONJ	da
budu	N:f	budu
ubedljivi	A:aem	ubedljiv
pred	PREP	pred
kamerama	N:f	kamera
.	SENT	.
Glavni	A:aem	Glavni
glumac	N:m	glumac
Patrick	A:aem	Patrick
Fabian	N:m	Fabian
ima	A:aem	ima
impresivnu	A:aef	impresivan
filmografiju	N:f	filmografiju
,	PUNCT	,
i	CONJ	i
pojavljivao	V:m	pojavljivati
se	PAR	se
u	PREP	u
svemu	PRO	sav
,	PUNCT	,
od	PREP	od
serija	N:f	serija
'	A:aem	'
Big	N:m	Big
Love	N:m	Lov
'	N:m	'
preko	PREP	preko
'	A:aem	'
Veronice	N:f	Veronice
Mars	N:m	Mars
'	A:aem	'
pa	CONJ	pa
do	PREP	do
serije	N:f	serija
'	N:m	'
24	NUM	@card@
'	N:m	'
,	PUNCT	,
ali	CONJ	ali
nije	A:aem	nije
prepoznatljiv	A:aem	prepoznatljiv
.	SENT	.
On	PRO	on
prodaje	N:f	prodaja
Marcusa	N:m	Marcusa
kao	CONJ	kao
kredibilnu	A:aef	kredibilan
osobu	N:f	osoba
,	PUNCT	,
što	CONJ	što
je	PRO	ona
i	CONJ	i
kritična	A:aen	kritičan
tačka	N:f	tačka
u	PREP	u
The	INT	The
Last	N:m	Last
Exorcism	N:m	Exorcism
-	PUNCT	-
inače	PAR	inače
bi	A:aen	bi
bio	V:m	biti
samo	PAR	samo
loša	A:aem	loš
parodija	N:f	parodija
.	SENT	.
Poput	PREP	poput
drugih	A:aen	drugi
filmova	N:m	film
iz	PREP	iz
ovog	PRO	ovaj
podžanra	N:m	podžanr
,	PUNCT	,
The	INT	The
Last	N:m	Last
Exorcism	A:aem	Exorcism
ostavlja	N:n	ostavlja
bolji	A:bem	dobar
utisak	N:m	utisak
kada	CONJ	kada
ga	PRO	on
gledate	N:m	gledate
u	PREP	u
ponoć	N:f	ponoć
na	PREP	na
TV	N:m	TV
-	PUNCT	-
u	PREP	u
sa	PREP	sa
malom	A:aen	mali
grupom	N:f	grupa
prijatelja	N:m	prijatelj
nego	CONJ	nego
u	PREP	u
bioskopu	N:m	bioskop
.	SENT	.
Intimnija	A:bem	intiman
atmosfera	N:f	atmosfera
pojačaće	A:aem	pojačaće
'	N:m	'
realistične	A:aem	realističan
'	A:aem	'
elemente	N:m	element
lažnih	A:aef	lažan
snimaka	N:f	snimka
.	SENT	.
Pretpostavljam	N:m	Pretpostavljam
da	CONJ	da
je	PRO	ona
i	CONJ	i
prva	A:aen	prvi
,	PUNCT	,
sporija	A:bef	spor
polovina	N:f	polovina
bolja	A:bef	dobar
kada	CONJ	kada
se	PAR	se
gleda	N:m	gleda
kod	PREP	kod
kuće	N:f	kuća
;	SENT	;
neophodna	A:aen	neophodan
je	PRO	ona
za	PREP	za
priču	N:f	priča
,	PUNCT	,
ali	CONJ	ali
nestrpljivi	A:aem	nestrpljiv
članovi	N:m	član
publike	N:f	publika
mogu	N:m	Mog
početi	V:m	početi
da	CONJ	da
gunđaju	V:m	gunđaju
i	CONJ	i
tako	ADV	tako
oštete	N:f	ošteta
krhku	A:aef	krhak
atmosferu	N:f	atmosfera
koju	PRO	koji
je	PRO	ona
konstruisao	V:m	konstruisati
reditelj	N:m	reditelj
Daniel	N:f	Daniel
Stamm	N:m	Stamm
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
na	PREP	na
zahteve	N:m	zahtev
,	PUNCT	,
Stamm	N:m	Stamm
je	PRO	ona
verovatno	PAR	verovatno
izvukao	V:m	izvući
sve	ADV	sve
što	CONJ	što
je	PRO	ona
mogao	V:m	moći
iz	PREP	iz
ovog	PRO	ovaj
stila	N:n	stilo
koji	PRO	koji
je	PRO	ona
mnogo	ADV	mnogo
izgubio	V:m	izgubiti
na	PREP	na
efektivnosti	N:f	efektivnost
tokom	PREP	tokom
godina	N:f	godina
.	SENT	.
Njegov	PRO	njegov
pokušaj	N:m	pokušaj
da	CONJ	da
završi	A:aem	završi
film	N:m	film
dovitljivim	A:aen	dovitljiv
,	PUNCT	,
konfuznim	A:aen	konfuzan
i	CONJ	i
konačno	ADV	konačno
nezadovoljavajućim	A:aem	nezadovoljavajući
zaključkom	N:m	zaključak
predstavlja	N:n	predstavlja
nedostatak	N:m	nedostatak
,	PUNCT	,
ali	CONJ	ali
treba	N:f	treba
se	PAR	se
setiti	V:n	setiti
i	CONJ	i
činjenice	N:f	činjenica
da	CONJ	da
ono	PRO	onaj
što	PRO	što
je	PRO	ona
funkcionisalo	V:n	funkcionisati
u	PREP	u
The	INT	The
Blair	N:m	Blair
Witch	A:aef	Witch
Project	N:f	Project
-	PUNCT	-
u	PREP	u
može	A:aen	može
da	CONJ	da
bude	A:aen	bude
efektivno	A:aen	efektivan
i	CONJ	i
deset	NUM	deset
godina	N:f	godina
kasnije	ADV	kasnije
.	SENT	.
