Kašalj	N:m	Kašalj
i	CONJ	i
kijanje	N:n	kijanje
prenose	N:m	prenos
bolest	N:f	bolest
.	PUNCT	.
Kao	CONJ	kao
i	CONJ	i
rukovanje	N:n	rukovanje
,	PUNCT	,
kreditne	A:aef	kreditni
kartice	N:f	kartica
i	CONJ	i
kikiriki	N:m	kikiriki
u	PREP	u
filmu	N:m	film
Zaraza	N:m	Zaraza
(	PUNCT	(
Contagion	N:m	Contagion
)	PUNCT	)
,	PUNCT	,
jezivom	A:aef	jeziv
i	CONJ	i
ubedljivom	A:aef	ubedljiv
trileru	N:m	triler
Stevena	A:aem	Stevena
Soderbergha	N:m	Soderbergha
o	PREP	o
pandemiji	N:f	pandemija
svetskih	A:aem	svetski
razmera	N:f	razmera
.	SENT	.
Hvatajući	A:aem	Hvatajući
publiku	N:f	publika
na	PREP	na
prepad	N:m	prepad
,	PUNCT	,
film	N:m	film
zloslutno	A:aen	zloslutan
počinje	N:n	počinje
'	A:aem	'
Danom	N:m	Dan
2	NUM	@card@
'	N:m	'
i	CONJ	i
scenom	N:f	scena
sa	PREP	sa
Beth	A:aen	Beth
(	PUNCT	(
Gwyneth	A:aem	Gwyneth
Paltrow	N:m	Paltrow
)	PUNCT	)
koja	PRO	koji
izgleda	N:m	izgled
vrlo	ADV	vrlo
bolesno	ADV	bolesno
.	SENT	.
Bez	PREP	bez
spojlera	N:m	spojlera
,	PUNCT	,
ali	CONJ	ali
nema	A:aem	nem
poente	N:f	poenta
slati	V:m	slati
joj	PRO	ona
čestitku	N:f	čestitka
'	A:aem	'
Ozdravi	N:m	Ozdravi
brzo	ADV	brzo
'	A:aem	'
.	SENT	.
Uskoro	ADV	uskoro
vidimo	A:aen	vidimo
kako	CONJ	kako
doktorka	N:f	doktorka
Kate	N:f	Kata
Winslet	N:m	Winslet
koja	PRO	koji
radi	PREP	radi
na	PREP	na
proučavanju	N:n	proučavanje
bolesti	N:f	bolest
'	A:aem	'
zarađuje	N:f	zarađuje
'	A:aem	'
gadan	A:aem	gadan
osip	N:m	osip
.	SENT	.
Ako	CONJ	ako
dobitnica	N:f	dobitnica
Oskara	N:m	Oskar
nije	A:aen	nije
bezbedna	A:aem	bezbedan
,	PUNCT	,
kakvu	PRO	kakav
nadu	N:f	nada
imamo	N:m	imamo
mi	PRO	ja
ostali	V:m	ostati
?	PUNCT	?
Contagion	N:m	Contagion
alarmira	N:m	alarmira
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
širi	A:bem	širok
paniku	N:f	panika
.	SENT	.
Soderberghova	N:m	Soderberghova
karakteristično	A:aen	karakterističan
hladna	A:aef	hladan
glava	N:f	glava
ovde	ADV	ovde
mu	PRO	on
ide	N:m	ide
na	PREP	na
ruku	N:f	ruka
dok	CONJ	dok
se	PAR	se
zaplet	N:m	zaplet
premešta	A:aem	premešta
s	PREP	s
lokacije	N:f	lokacija
na	PREP	na
lokaciju	N:f	lokacija
(	PUNCT	(
Mineapolis	N:m	Mineapolis
,	PUNCT	,
Hong	N:m	Hong
Kong	N:m	Kong
,	PUNCT	,
Pariz	N:m	Pariz
,	PUNCT	,
London	N:m	London
.	PUNCT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
,	PUNCT	,
prikazujući	A:aem	prikazujući
krizu	N:f	kriza
u	PREP	u
zamahu	N:m	zamah
na	PREP	na
informisan	A:aem	informisan
,	PUNCT	,
ograničen	A:aem	ograničen
i	CONJ	i
odgovoran	A:aem	odgovoran
način	N:m	način
.	SENT	.
Uprkos	PREP	uprkos
svim	PRO	sav
zvezdama	N:f	zvezda
-	PUNCT	-
ovo	PRO	ovaj
je	PRO	ona
Valentine	A:aem	Valentin
'	N:m	'
s	PREP	s
Day	A:aem	Day
filmova	N:m	film
o	PREP	o
virusima	N:m	virus
(	PUNCT	(
i	CONJ	i
jednako	ADV	jednako
pouzdan	A:aem	pouzdan
da	CONJ	da
će	A:aem	će
vam	PRO	vi
se	PAR	se
od	PREP	od
njega	PRO	on
okrenuti	A:aem	okrenut
želudac	N:m	želudac
)	PUNCT	)
-	PUNCT	-
nema	A:aem	nem
glamura	N:m	glamur
karakterističnog	A:aem	karakterističan
za	PREP	za
filmove	N:m	film
o	PREP	o
katastrofama	N:f	katastrofa
.	SENT	.
Junaštvo	N:n	Junaštvo
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
je	PRO	ona
stvar	N:f	stvar
rada	A:aem	rad
preko	PREP	preko
cele	A:aef	ceo
noći	N:f	noć
(	PUNCT	(
naučnica	N:f	naučnica
Jennifer	N:m	Jennifer
Ehle	N:m	Ehle
koja	PRO	koji
pokušava	A:aem	pokušava
da	CONJ	da
pronađe	A:aem	pronađe
lek	N:m	lek
)	PUNCT	)
ili	CONJ	ili
tihe	A:aef	tih
osvete	N:f	osveta
(	PUNCT	(
Matt	A:aem	Matt
Damon	N:m	Damon
,	PUNCT	,
udovac	N:m	udovac
koji	PRO	koji
pazi	N:f	pazi
na	PREP	na
svoju	PRO	svoj
ćerku	N:f	ćerka
dok	CONJ	dok
im	PRO	ona
se	PAR	se
predgrađe	N:n	predgrađe
urušava	A:aen	urušava
)	PUNCT	)
.	SENT	.
Najbliži	A:aem	Najbliži
folirantu	N:m	folirant
je	PRO	ona
Jude	N:m	Juda
Law	N:m	Law
,	PUNCT	,
kao	CONJ	kao
gerila	N:f	gerila
bloger	N:m	bloger
koji	PRO	koji
širi	A:bem	širok
paniku	N:f	panika
u	PREP	u
svojoj	PRO	svoj
potrazi	N:f	potraga
za	PREP	za
istinom	N:f	istina
.	PUNCT	.
Iako	CONJ	iako
njemu	PRO	on
to	PRO	taj
baš	PAR	baš
i	CONJ	i
ne	PAR	ne
polazi	N:m	polaz
za	PREP	za
rukom	N:f	ruka
,	PUNCT	,
drugi	A:aem	drugi
nisu	N:m	nisu
tako	ADV	tako
dobre	A:aem	dobar
sreće	N:f	sreća
.	SENT	.
Na	PREP	na
primer	N:m	primer
,	PUNCT	,
Marion	N:f	Marion
Cotillard	N:m	Cotillard
,	PUNCT	,
čija	PRO	čiji
lik	N:m	lik
radnice	N:f	radnica
za	PREP	za
Svetsku	A:aef	svetski
zdravstvenu	A:aef	zdravstveni
organizaciju	N:f	organizacija
dobija	N:n	dobija
početak	N:m	početak
,	PUNCT	,
kraj	N:m	kraj
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
i	CONJ	i
sredinu	N:f	sredina
u	PREP	u
svojoj	PRO	svoj
obećavajućoj	A:aef	obećavajući
putanji	N:f	putanja
.	SENT	.
Soderberghovo	A:aen	Soderberghovo
održavanje	N:n	održavanje
svakodnevne	A:aef	svakodnevan
stvarnosti	N:f	stvarnost
uzrokuje	N:m	uzrokuje
to	PRO	taj
-	PUNCT	-
sam	A:aem	sam
-	PUNCT	-
mogao	V:m	moći
-	PUNCT	-
biti	N:f	bit
-	PUNCT	-
ja	PRO	ja
-	PUNCT	-
žmarce	N:m	žmarac
;	SENT	;
s	PREP	s
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
ni	CONJ	ni
u	PREP	u
jednom	NUM	jedan
momentu	N:m	moment
nećete	N:m	nećete
previše	ADV	previše
mariti	N:m	mariti
za	PREP	za
bilo	V:n	biti
koga	PRO	koji
od	PREP	od
njih	PRO	ona
.	PUNCT	.
Sijaset	ADV	sijaset
posledica	N:f	posledica
-	PUNCT	-
dezinformacije	N:f	dezinformacija
,	PUNCT	,
lična	A:aen	ličan
korist	N:f	korist
,	PUNCT	,
društveni	A:aem	društven
kolaps	N:m	kolaps
,	PUNCT	,
smrt	N:f	smrt
-	PUNCT	-
nikad	ADV	nikad
nisu	N:m	nisu
manje	ADV	manje
od	PREP	od
opipljive	A:aef	opipljiv
stvarnosti	N:f	stvarnost
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
za	PREP	za
razliku	N:f	razlika
od	PREP	od
filma	N:m	film
Traffic	N:m	Traffic
,	PUNCT	,
postoji	N:m	postoji
osećaj	N:m	osećaj
da	CONJ	da
je	PRO	ona
dubina	N:f	dubina
žrtvovana	V:f	žrtvovati
u	PREP	u
korist	N:f	korist
širine	N:f	širina
.	SENT	.
Previše	A:aem	Previše
podzapleta	A:aem	podzapleta
,	PUNCT	,
previše	ADV	previše
oblasti	N:f	oblast
,	PUNCT	,
prestroga	A:aen	prestrog
montaža	N:f	montaža
.	SENT	.
A	CONJ	a
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
Contagion	N:m	Contagion
neće	A:aem	neće
biti	N:f	bit
ideja	N:f	ideja
zabavne	A:aef	zabavan
filmske	A:aem	filmski
večeri	N:f	veče
,	PUNCT	,
postavlja	N:n	postavlja
se	PAR	se
pitanje	N:n	pitanje
da	CONJ	da
li	PAR	li
bismo	N:f	bismo
bili	V:m	biti
zadovoljniji	A:bem	zadovoljan
mini	N:f	mina
serijom	N:f	serija
.	PUNCT	.
Barem	PAR	barem
bi	A:aen	bi
gledanjem	N:n	gledanje
kod	PREP	kod
kuće	N:f	kuća
bili	V:m	biti
manje	ADV	manje
paranoični	A:aem	paranoičan
ko	CONJ	ko
je	PRO	ona
još	ADV	još
dodirivao	V:m	dodirivati
kvaku	N:f	kvaka
od	PREP	od
vrata	N:n	vrata
.	PUNCT	.
.	SENT	.
.	PUNCT	.
