“	A:aem	“
Buddy	A:aem	Buddy
cop	N:m	cop
”	A:aem	”
filmovi	N:m	film
su	PREF	su
postali	V:m	postati
zaseban	A:aem	zaseban
podžanr	N:m	podžanr
.	SENT	.
Za	PREP	za
one	PRO	onaj
koji	PRO	koji
ne	PAR	ne
znaju	N:m	znaju
,	PUNCT	,
konstrukcija	N:f	konstrukcija
svakog	PRO	svaki
“	A:aem	“
buddy	A:aem	buddy
cop	N:m	cop
”	A:aem	”
filma	N:m	film
je	PRO	ona
ista	A:aef	isti
.	SENT	.
Mi	PRO	ja
pratimo	N:f	pratimo
priču	N:f	priča
dve	NUM	dva
u	PREP	u
potpunosti	N:f	potpunost
različite	A:aef	različit
ličnosti	N:f	ličnost
,	PUNCT	,
drugačijih	A:aen	drugačiji
shvatanja	N:n	shvatanje
i	CONJ	i
temperamenata	N:m	temperament
,	PUNCT	,
koje	PRO	koji
su	N:m	su
primorane	V:f	primorati
da	CONJ	da
zajedno	ADV	zajedno
sarađuju	N:m	sarađuju
i	CONJ	i
trpe	N:m	trp
jedna	NUM	jedan
drugu	A:aef	drugi
jer	CONJ	jer
tako	ADV	tako
zadatak	N:m	zadatak
nalaže	A:aem	nalaže
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
naravno	PAR	naravno
glavni	A:aem	glavni
cilj	N:m	cilj
rešavanje	N:n	rešavanje
slučaja	N:m	slučaj
i	CONJ	i
hvatanje	N:n	hvatanje
kriminalca	N:m	kriminalac
,	PUNCT	,
ovi	PRO	ovaj
filmovi	N:m	film
su	N:m	su
često	ADV	često
fokusirani	V:m	fokusirati
na	PREP	na
formiranje	N:n	formiranje
neočekivanih	A:aem	neočekivan
prijateljstava	N:n	prijateljstvo
i	CONJ	i
mogućnosti	N:f	mogućnost
naših	PRO	naš
protagonista	N:m	protagonista
da	CONJ	da
nauče	N:m	nauk
da	CONJ	da
vole	N:m	vo
i	CONJ	i
poštuju	N:m	poštuju
mane	N:f	mana
svojih	PRO	svoj
novih	A:aef	nov
partnera	N:m	partner
.	SENT	.
Naravno	PAR	naravno
iz	PREP	iz
gore	ADV	gore
pomenutog	A:aem	pomenut
opisa	N:m	opis
jasno	ADV	jasno
možete	A:aem	možete
da	CONJ	da
shvatite	N:m	shvatite
da	CONJ	da
je	PRO	ona
najbitniji	A:cem	bitan
segment	N:m	segment
“	A:aem	“
buddy	A:aem	buddy
cop	N:m	cop
”	A:aem	”
filmova	N:m	film
upravo	ADV	upravo
hemija	N:f	hemija
između	PREP	između
glumaca	N:m	glumac
koji	PRO	koji
tumače	N:m	tumač
glavne	A:aef	glavne
role	N:f	rola
.	SENT	.
Ako	CONJ	ako
se	PAR	se
glavni	A:aem	glavni
duo	N:m	duo
lepo	ADV	lepo
ne	PAR	ne
uklopi	N:m	uklopi
i	CONJ	i
ne	PAR	ne
oseti	N:m	oset
se	PAR	se
to	PRO	taj
da	CONJ	da
se	PAR	se
čitavim	A:aef	čitav
tokom	PREP	tokom
akteri	N:m	akter
međusobno	ADV	međusobno
dopunjuju	N:f	dopunjuju
–	A:aem	–
film	N:m	film
sa	PREP	sa
ovakvom	PRO	ovakav
konstrukcijom	N:f	konstrukcija
biva	A:aem	biva
momentalno	ADV	momentalno
osuđen	V:m	osuditi
na	PREP	na
propast	N:f	propast
.	SENT	.
Rekavši	A:aem	Rekavši
ovo	PRO	ovaj
,	PUNCT	,
“	N:m	“
The	INT	The
Heat	N:m	Heat
”	N:m	”
je	PRO	ona
najnovije	A:cef	nov
filmsko	A:aen	filmski
ostvarenje	N:n	ostvarenje
koje	PRO	koji
u	PREP	u
potpunosti	N:f	potpunost
prati	N:f	prati
ovu	PRO	ovaj
konstrukciju	N:f	konstrukcija
.	SENT	.
Iako	CONJ	iako
se	PAR	se
u	PREP	u
startu	N:m	start
moglo	V:n	moći
očekivati	A:aem	očekivati
da	CONJ	da
će	A:aem	će
biti	N:f	bit
isti	A:aem	isti
kao	CONJ	kao
i	CONJ	i
svaki	PRO	svaki
drugi	A:aem	drugi
film	N:m	film
ovog	PRO	ovaj
žanra	N:m	žanr
,	PUNCT	,
“	N:m	“
The	INT	The
Heat	N:m	Heat
”	A:aem	”
čini	N:f	čini
posebnim	A:aef	poseban
to	PRO	taj
što	CONJ	što
po	PREP	po
prvi	A:aem	prvi
put	N:m	put
u	PREP	u
ovakvoj	PRO	ovakav
postavci	N:f	postavka
kao	CONJ	kao
protagoniste	N:m	protagonista
imamo	N:m	imamo
dve	NUM	dva
žene	N:f	žena
.	SENT	.
Priča	A:aem	Priča
filma	N:m	film
“	N:m	“
The	INT	The
Heat	N:m	Heat
”	A:aem	”
prati	N:f	prati
Saru	N:f	Sara
Ešborn	N:m	Ešborn
,	PUNCT	,
uštogljenog	A:aem	uštogljen
i	CONJ	i
vrlo	ADV	vrlo
ambicioznog	A:aem	ambiciozan
FBI	N:m	FBI
agenta	N:m	agent
,	PUNCT	,
koja	PRO	koji
se	PAR	se
izuzetno	ADV	izuzetno
loše	A:aef	loš
slaže	N:n	slaže
sa	PREP	sa
svojim	PRO	svoj
kolegama	N:f	kolega
.	SENT	.
Kako	CONJ	kako
bi	A:aem	bi
se	PAR	se
napokon	ADV	napokon
izborila	V:f	izboriti
za	PREP	za
dugo	A:aen	dug
očekivano	A:aen	očekivan
unapređenje	N:n	unapređenje
,	PUNCT	,
Ešbornova	A:aem	Ešbornova
biva	A:aem	biva
poslata	V:m	poslati
u	PREP	u
Boston	N:m	Boston
da	CONJ	da
reši	A:aem	reši
veliki	A:aem	velik
slučaj	N:m	slučaj
i	CONJ	i
pohvata	N:m	pohvata
glavne	A:aem	glavne
distributere	N:m	distributer
droge	N:f	droga
u	PREP	u
tom	PRO	taj
regionu	N:m	region
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
ono	PRO	onaj
što	PRO	što
Ešbornova	N:m	Ešbornova
ne	PAR	ne
zna	V:f	zna
jeste	INT	jeste
da	CONJ	da
će	A:bef	će
po	PREP	po
dolasku	N:m	dolazak
u	PREP	u
Boston	N:m	Boston
biti	N:f	bit
primorana	V:n	primorati
da	CONJ	da
sarađuje	N:m	sarađuje
sa	PREP	sa
lokalnom	A:aen	lokalan
detektivnkom	N:f	detektivnkom
Šenon	N:f	Šenon
Malins	N:m	Malins
,	PUNCT	,
za	PREP	za
koju	PRO	koji
je	PRO	ona
malo	ADV	malo
reći	V:m	reći
da	CONJ	da
je	PRO	ona
“	A:aem	“
neotesana	A:aem	neotesan
”	N:m	”
i	CONJ	i
sve	PRO	sav
ono	PRO	onaj
što	CONJ	što
Ešbornova	A:aem	Ešbornova
nije	N:m	nije
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
sam	PRO	sam
gore	ADV	gore
pomenuo	V:m	pomenuti
,	PUNCT	,
uspeh	N:m	uspeh
ovog	PRO	ovaj
filma	N:m	film
isključivo	ADV	isključivo
zavisi	N:m	zavisi
od	PREP	od
hemije	N:f	hemija
protagonistkinja	N:f	protagonistkinja
na	PREP	na
platnu	N:n	platno
koje	PRO	koji
ovog	PRO	ovaj
puta	ADV	puta
čine	N:m	čin
Sandra	N:f	Sandra
Bulok	N:m	Bulok
(	PUNCT	(
Sandra	N:f	Sandra
Bullock	N:m	Bullock
)	PUNCT	)
i	CONJ	i
Melisa	N:f	Melisa
Mekarti	N:m	Mekarti
(	PUNCT	(
Melissa	N:f	Melissa
McCarthy	N:m	McCarthy
)	PUNCT	)
.	SENT	.
Nikada	ADV	nikada
nešto	ADV	nešto
preterano	ADV	preterano
nisam	N:m	nisam
uživao	V:m	uživati
u	PREP	u
komedijama	N:f	komedija
sa	PREP	sa
Sandrom	N:f	Sandra
Bulok	N:m	Bulok
.	PUNCT	.
Iako	CONJ	iako
nikada	ADV	nikada
zapravo	ADV	zapravo
nisam	N:m	nisam
mogao	V:m	moći
da	CONJ	da
kažem	V:m	kažem
da	CONJ	da
je	PRO	ona
ona	PRO	ona
kao	ADV	kao
glumica	N:f	glumica
loše	ADV	loše
uradila	V:f	uraditi
posao	N:m	posao
i	CONJ	i
bila	V:f	biti
neubedljiva	A:aef	neubedljiv
,	PUNCT	,
uvek	ADV	uvek
su	N:m	su
mi	PRO	ja
njeni	PRO	njen
humoristički	A:aem	humoristički
filmovi	N:m	film
ostavljali	V:m	ostavljati
neki	PRO	neki
slab	A:aem	slab
utisak	N:m	utisak
jer	CONJ	jer
su	N:m	su
previše	ADV	previše
bili	V:m	biti
predvidivi	A:aem	predvidiv
i	CONJ	i
generični	A:aem	generičan
.	PUNCT	.
Međutim	A:aem	Međutim
,	PUNCT	,
“	N:m	“
The	INT	The
Heat	N:m	Heat
”	A:aem	”
nudi	N:f	nudi
sasvim	ADV	sasvim
drugačiji	A:aem	drugačiji
rezultat	N:m	rezultat
.	PUNCT	.
Bulokova	A:aem	Bulokov
naprosto	ADV	naprosto
blista	N:m	blista
u	PREP	u
društvu	N:n	društvo
Melise	N:f	Melisa
Mekarti	N:m	Mekarti
i	CONJ	i
njih	PRO	ona
dve	NUM	dva
čine	N:m	čin
jedan	NUM	jedan
od	PREP	od
zabavnijih	A:bem	zabavan
disharmoničnih	A:aem	disharmoničan
tandema	N:m	tandem
koje	PRO	koji
sam	PRO	sam
ove	PRO	ovaj
godine	N:f	godina
gledao	V:m	gledati
na	PREP	na
filmu	N:m	film
.	SENT	.
Dok	CONJ	dok
Sandra	N:m	Sandro
Bulok	N:m	Bulok
oslikava	A:aem	oslikava
jednu	NUM	jedan
odmerenu	A:aef	odmeren
,	PUNCT	,
introvertnu	A:aef	introvertan
i	CONJ	i
proračunatu	A:aef	proračunat
personu	N:f	persona
,	PUNCT	,
Mekartijeva	A:aef	Mekartijeva
nudi	N:f	nudi
sasvim	ADV	sasvim
suprotno	ADV	suprotno
i	CONJ	i
prikazuje	N:m	prikazuje
sebe	PRO	sebe
kao	ADV	kao
neotesanu	A:aem	neotesan
grubijanku	N:m	grubijanku
,	PUNCT	,
vođenu	A:aem	vođen
instiktima	N:m	instiktima
i	CONJ	i
galamom	N:f	galama
.	SENT	.
Priča	A:aem	Priča
filma	N:m	film
je	PRO	ona
dosta	ADV	dosta
slaba	A:aem	slab
,	PUNCT	,
neinventivna	A:aem	neinventivan
i	CONJ	i
predvidiva	A:aem	predvidiv
(	PUNCT	(
ali	CONJ	ali
opet	ADV	opet
dovoljno	A:aen	dovoljan
dobra	N:n	dobro
da	CONJ	da
drži	N:m	drži
pažnju	N:f	pažnja
)	PUNCT	)
,	PUNCT	,
te	PRO	taj
se	PAR	se
jasno	ADV	jasno
vidi	N:f	vida
da	CONJ	da
služi	N:f	služi
isključivo	ADV	isključivo
kao	CONJ	kao
platforma	N:f	platforma
na	PREP	na
kojoj	PRO	koji
će	A:aem	će
Bulokova	A:aef	Bulokov
i	CONJ	i
Mekartijeva	A:aef	Mekartijeva
da	CONJ	da
prave	A:aef	prav
kompletne	A:aef	kompletan
morone	N:m	moron
od	PREP	od
sebe	PRO	sebe
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
ovo	PRO	ovaj
nije	A:aem	nije
loša	A:aem	loš
stvar	N:f	stvar
jer	CONJ	jer
su	N:m	su
njih	PRO	ona
dve	NUM	dva
zaista	ADV	zaista
urnebesne	A:aem	urnebesne
,	PUNCT	,
ali	CONJ	ali
opet	ADV	opet
ostaje	N:n	ostaje
taj	PRO	taj
neki	PRO	neki
osećaj	N:m	osećaj
u	PREP	u
ustima	N:n	usta
da	CONJ	da
su	N:m	su
te	PRO	taj
komične	A:aem	komičan
sekvence	N:f	sekvenca
mogle	V:f	moći
biti	N:f	bit
dopadljivije	A:bef	dopadljiv
da	CONJ	da
su	PREF	su
one	PRO	onaj
stvarane	V:f	stvarati
oko	PREP	oko
priče	N:f	priča
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
priča	N:f	priča
oko	PREP	oko
njih	PRO	ona
.	SENT	.
Glavni	A:aem	Glavni
duo	N:m	duo
ima	N:n	ima
i	CONJ	i
podršku	N:f	podrška
sjajne	A:aef	sjajan
glumačke	A:aef	glumački
ekipe	N:f	ekipa
koju	PRO	koji
čine	N:m	čin
nekoliko	ADV	nekoliko
trenutno	ADV	trenutno
popularnijih	A:bem	popularan
imena	N:n	ime
iz	PREP	iz
sveta	A:aef	svet
komedije	N:f	komedija
,	PUNCT	,
ali	CONJ	ali
nažalost	ADV	nažalost
smatram	V:m	smatram
da	CONJ	da
ona	PRO	ona
nisu	N:m	nisu
dovoljno	ADV	dovoljno
angažovana	V:m	angažovati
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
.	SENT	.
Reditelj	N:m	reditelj
ludački	A:aem	ludački
popularne	A:aef	popularan
komedije	N:f	komedija
“	A:aem	“
Bridesmaids	N:m	Bridesmaids
”	A:aem	”
Pol	N:m	Pol
Fig	N:m	Fig
(	PUNCT	(
Paul	N:m	Paul
Feig	N:m	Feig
)	PUNCT	)
,	PUNCT	,
iz	PREP	iz
nekog	PRO	neki
razloga	N:m	razlog
nije	V:m	nije
dao	V:m	dati
više	ADV	više
prostora	N:m	prostor
Džejn	N:f	Džejn
Kurtin	N:m	Kurtin
(	PUNCT	(
Jane	N:f	Jana
Curtin	N:m	Curtin
)	PUNCT	)
i	CONJ	i
Marlonu	N:m	Marlon
Vejnsu	N:m	Vejnsu
(	PUNCT	(
Marlon	N:m	Marlon
Wayans	N:m	Wayans
)	PUNCT	)
za	PREP	za
koje	PRO	koji
znamo	N:m	znamo
da	CONJ	da
su	N:m	su
sposobni	A:aem	sposoban
i	CONJ	i
afirmisani	A:aem	afirmisan
komičari	N:m	komičar
.	SENT	.
Od	PREP	od
sporednih	A:aem	sporedan
uloga	N:f	uloga
,	PUNCT	,
najbolje	ADV	najbolje
se	PAR	se
pokazala	V:f	pokazati
Kejtlin	A:aem	Kejtlin
Olson	N:m	Olson
(	PUNCT	(
Kaitlin	A:aem	Kaitlin
Olson	N:m	Olson
)	PUNCT	)
,	PUNCT	,
mada	CONJ	mada
i	CONJ	i
ona	PRO	ona
nije	N:m	nije
dobila	V:n	dobiti
nešto	ADV	nešto
mnogo	ADV	mnogo
vremena	N:n	vreme
na	PREP	na
ekranu	N:m	ekran
.	SENT	.
Što	N:m	Što
se	PAR	se
tehničke	A:aef	tehnički
strane	N:f	strana
tiče	N:n	tiče
,	PUNCT	,
“	N:m	“
The	INT	The
Heat	N:m	Heat
”	N:m	”
je	PRO	ona
sasvim	ADV	sasvim
korektno	A:aen	korektan
urađen	V:m	uraditi
film	N:m	film
.	SENT	.
Kadrovi	N:m	kadar
su	N:m	su
interesantni	A:aem	interesantan
i	CONJ	i
lepo	ADV	lepo
montirani	V:m	montirati
.	SENT	.
Spomenuo	V:m	spomenuti
bih	A:aem	bih
još	ADV	još
i	CONJ	i
pozadinsku	A:aen	pozadinski
muziku	N:f	muzika
koja	PRO	koji
je	PRO	ona
znatno	ADV	znatno
zabavnija	A:bef	zabavan
nego	CONJ	nego
što	CONJ	što
sam	PRO	sam
očekivao	V:m	očekivati
da	CONJ	da
će	A:aem	će
biti	N:f	bit
.	SENT	.
Generalno	A:aen	generalan
gledano	A:aen	gledan
,	PUNCT	,
“	N:m	“
The	INT	The
Heat	N:m	Heat
”	N:m	”
kao	CONJ	kao
celina	N:f	celina
nije	A:aem	nije
nešto	ADV	nešto
preterano	ADV	preterano
kvalitetan	A:aem	kvalitetan
i	CONJ	i
originalan	A:aem	originalan
film	N:m	film
.	SENT	.
Ono	PRO	onaj
što	PRO	što
čini	N:f	čini
ovaj	PRO	ovaj
film	N:m	film
vrednim	A:aen	vredan
gledanja	N:n	gledanje
jesu	A:aem	jesu
momenti	N:m	moment
i	CONJ	i
odlična	A:aen	odličan
hemija	N:f	hemija
hemija	N:f	hemija
između	PREP	između
Bulokove	A:aem	Bulokov
i	CONJ	i
Mekartijeve	A:aem	Mekartijeve
.	SENT	.
“	A:aem	“
The	INT	The
Heat	N:m	Heat
”	N:m	”
je	PRO	ona
vrlo	ADV	vrlo
duhovit	A:aem	duhovit
film	N:m	film
od	PREP	od
kojeg	PRO	koji
zaista	PAR	zaista
ne	PAR	ne
treba	N:f	treba
ništa	PRO	ništa
više	ADV	više
očekivati	A:aem	očekivati
nego	CONJ	nego
nekolicinu	N:f	nekolicina
vrlo	ADV	vrlo
duhovitih	A:aef	duhovit
sekvenci	N:f	sekvenca
.	SENT	.
Pored	PREP	pored
svega	PRO	sav
ovoga	PRO	ovaj
rečenog	A:aen	rečen
,	PUNCT	,
smatram	A:aen	smatram
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
vredan	A:aem	vredan
gledanja	N:n	gledanje
.	SENT	.
