Ako	CONJ	ako
ste	N:m	ste
do	PREP	do
sada	ADV	sada
pogledali	V:m	pogledati
bar	PAR	bar
jedan	NUM	jedan
deo	N:m	deo
serijala	N:m	serijal
Poslednja	N:f	Poslednja
ekskurzija	N:f	ekskurzija
–	N:m	–
znate	V:f	znati
šta	PRO	šta
možete	A:aef	možete
da	CONJ	da
očekujete	A:aem	očekujete
i	CONJ	i
od	PREP	od
petice	N:f	petica
.	SENT	.
Na	PREP	na
početku	N:m	početak
svakog	PRO	svaki
filma	N:m	film
događa	V:m	događa
se	PAR	se
po	PREP	po
jedna	NUM	jedan
velika	A:aen	velik
nesreća	N:f	nesreća
koju	PRO	koji
,	PUNCT	,
zahvaljujući	PREP	zahvaljujući
blagovremenom	A:aen	blagovremen
upozorenju	N:n	upozorenje
odabranog	A:aem	odabran
/	N:m	/
odabrane	A:aef	odabran
,	PUNCT	,
preživljava	A:aem	preživljava
desetak	ADV	desetak
(	PUNCT	(
uglavnom	ADV	uglavnom
)	PUNCT	)
mladih	A:aen	mlad
i	CONJ	i
lepih	A:aef	lep
ljudi	N:m	ljudi
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
avaj	INT	avaj
-	PUNCT	-
njihova	PRO	njihov
sreća	N:f	sreća
je	PRO	ona
kratkotrajna	A:aef	kratkotrajan
.	PUNCT	.
Ne	PAR	ne
prođe	N:f	prođa
mnogo	ADV	mnogo
,	PUNCT	,
a	CONJ	a
preživeli	A:aem	preživeo
počinju	N:f	počinju
da	CONJ	da
,	PUNCT	,
jedan	NUM	jedan
po	PREP	po
jedan	NUM	jedan
,	PUNCT	,
stradaju	N:m	stradaju
u	PREP	u
bizarnim	A:aef	bizaran
nesrećama	N:f	nesreća
onim	PRO	onaj
redosledom	N:m	redosled
kojim	PRO	koji
su	N:m	su
se	PAR	se
njihove	PRO	njihov
smrti	N:f	smrt
odigrale	V:f	odigrati
u	PREP	u
viziji	N:f	vizija
.	SENT	.
Smrt	N:f	smrt
se	PAR	se
ne	PAR	ne
može	A:aem	može
prevariti	N:m	prevariti
,	PUNCT	,
uvek	ADV	uvek
dođe	A:aem	dođe
po	PREP	po
svoje	PRO	svoj
.	SENT	.
Scenarista	N:m	scenarista
Eric	N:m	Eric
Hasserer	N:m	Hasserer
(	PUNCT	(
radio	N:m	radio
je	PRO	ona
i	PAR	i
na	PREP	na
rimejcima	N:m	rimejcima
Strave	A:aem	Strave
u	PREP	u
ulici	N:f	ulica
brestova	N:m	brest
i	CONJ	i
Stvora	N:m	stvor
)	PUNCT	)
ne	PAR	ne
odstupa	N:m	odstup
previše	ADV	previše
od	PREP	od
već	PAR	već
dobro	ADV	dobro
poznatog	A:aen	poznat
koncepta	N:m	koncept
.	SENT	.
Zaštitni	A:aem	Zaštitni
znak	N:m	znak
serijala	N:m	serijal
je	PRO	ona
spektakularna	A:aef	spektakularan
nesreća	N:f	nesreća
na	PREP	na
početku	N:m	početak
,	PUNCT	,
pa	CONJ	pa
je	PRO	ona
tako	ADV	tako
i	CONJ	i
ovoga	PRO	ovaj
puta	N:m	put
.	SENT	.
U	PREP	u
prvom	A:aen	prvi
filmu	N:m	film
je	PRO	ona
eksplodirao	V:m	eksplodirati
avion	N:m	avion
,	PUNCT	,
u	PREP	u
drugom	A:aef	drugi
smo	N:f	smo
imali	V:m	imati
lančani	A:aem	lančan
sudar	N:m	sudar
,	PUNCT	,
zatim	ADV	zatim
nesreću	N:f	nesreća
na	PREP	na
toboganu	N:m	tobogan
i	CONJ	i
incident	N:m	incident
na	PREP	na
auto	N:n	auto
-	PUNCT	-
trkama	N:f	trka
.	PUNCT	.
Sada	ADV	sada
je	PRO	ona
na	PREP	na
redu	N:m	red
rušenje	N:n	rušenje
mosta	N:m	most
(	PUNCT	(
koji	PRO	koji
,	PUNCT	,
gle	INT	gle
ironije	N:f	ironija
,	PUNCT	,
neodoljivo	ADV	neodoljivo
podseća	A:aem	podseća
na	PREP	na
sveže	A:aen	svež
izgrađenu	A:aem	izgrađen
Harfu	N:m	Harfu
-	PUNCT	-
ili	CONJ	ili
već	PAR	već
kako	CONJ	kako
će	A:aen	će
se	PAR	se
zvati	V:m	zvati
nova	A:aef	nov
prestonička	A:aef	prestonički
dika	N:f	dika
)	PUNCT	)
.	SENT	.
Dobar	A:aem	dobar
je	PRO	ona
to	PRO	taj
uvod	N:m	uvod
.	SENT	.
Na	PREP	na
efektima	N:m	efekt
se	PAR	se
nije	V:n	nije
štedelo	V:n	štedeti
,	PUNCT	,
a	CONJ	a
uzbuđenje	N:n	uzbuđenje
je	PRO	ona
dodatno	ADV	dodatno
pojačano	V:n	pojačati
kvalitetnim	A:aen	kvalitetan
3	NUM	@card@
D	A:aem	D
efektima	N:m	efekt
.	SENT	.
Posle	PREP	posle
ubedljivog	A:aem	ubedljiv
početka	N:m	početak
(	PUNCT	(
koga	PRO	koji
u	PREP	u
okvirima	N:m	okvir
serijala	N:m	serijal
jedino	CONJ	jedino
nadmašuje	N:f	nadmašuje
neprevaziđena	A:aef	neprevaziđen
scena	N:f	scena
saobraćajke	N:f	saobraćajka
iz	PREP	iz
drugog	A:aem	drugi
dela	N:n	delo
)	PUNCT	)
,	PUNCT	,
počinju	N:f	počinju
pogibije	N:f	pogibija
preživelih	A:aem	preživeo
.	SENT	.
Hasserer	N:m	Hasserer
pokušava	N:f	pokušava
da	CONJ	da
unese	N:m	unese
neke	PRO	neki
novine	N:f	novina
u	PREP	u
postojeći	A:aem	postojeći
mitos	N:m	mitos
(	PUNCT	(
obeleženi	A:aem	obeležen
za	PREP	za
smrt	N:f	smrt
saznaju	A:aen	saznaju
da	CONJ	da
mogu	A:aen	mogu
da	CONJ	da
izbegnu	A:aen	izbegnu
svoju	PRO	svoj
zlu	A:aem	zao
sudbu	N:f	sudba
ako	CONJ	ako
oduzmu	A:aem	oduzmu
život	N:m	život
nekom	PRO	neki
drugom	A:aef	drugi
i	CONJ	i
tako	ADV	tako
„	A:aem	„
ukradu	A:aem	ukradu
“	N:m	“
njegovo	PRO	njegov
vreme	N:n	vreme
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
su	N:m	su
te	CONJ	te
intervencije	N:f	intervencija
minimalne	A:aem	minimalan
i	CONJ	i
ne	PAR	ne
menjaju	N:m	menjaju
ustaljeni	A:aem	ustaljen
tok	N:m	tok
priče	N:f	priča
–	A:aem	–
uključujući	A:aem	uključujući
i	CONJ	i
završni	A:aem	završan
preokret	N:m	preokret
koji	PRO	koji
je	PRO	ona
domišljat	A:aem	domišljat
ali	CONJ	ali
suštinski	ADV	suštinski
nepotreban	A:aem	nepotreban
.	SENT	.
Bez	PREP	bez
obzira	N:m	obzir
što	CONJ	što
ne	PAR	ne
donosi	N:m	donosi
ništa	ADV	ništa
novo	A:aen	nov
,	PUNCT	,
Poslednja	A:aem	poslednji
ekskurzija	N:f	ekskurzija
5	NUM	@card@
se	PAR	se
nameće	V:m	nameće
kao	ADV	kao
solidan	A:aem	solidan
populistički	A:aem	populistički
horor	N:m	horor
koji	PRO	koji
još	PAR	još
kako	ADV	kako
ima	V:m	ima
šta	PRO	šta
da	CONJ	da
ponudi	N:f	ponuda
manje	ADV	manje
zahtevnoj	A:aef	zahtevan
publici	N:f	publika
.	PUNCT	.
Prve	A:aem	prvi
dve	NUM	dva
-	PUNCT	-
tri	NUM	tri
smrti	N:f	smrt
su	N:m	su
dobro	ADV	dobro
koreografisane	V:f	koreografisati
i	CONJ	i
razrađene	V:f	razraditi
do	PREP	do
u	PREP	u
krvavi	A:aem	krvav
detalj	N:m	detalj
.	SENT	.
Steven	A:aem	Steven
Quale	N:m	Quale
,	PUNCT	,
saradnik	N:m	saradnik
/	A:aem	/
učenik	N:m	učenik
slavnog	A:aem	slavan
Jamesa	N:f	Jamesa
Camerona	N:m	Camerona
,	PUNCT	,
pokazuje	N:m	pokazuje
sasvim	ADV	sasvim
solidan	A:aem	solidan
rediteljski	A:aem	rediteljski
telenat	N:m	telenat
.	SENT	.
On	PRO	on
uspeva	N:m	uspeva
da	CONJ	da
film	N:m	film
začini	N:m	začin
sa	PREP	sa
malo	ADV	malo
istinske	A:aef	istinski
napetosti	N:f	napetost
,	PUNCT	,
što	CONJ	što
je	PRO	ona
popriličan	A:aem	popriličan
uspeh	N:m	uspeh
imajući	A:aem	imajući
u	PREP	u
vidu	N:f	vida
da	CONJ	da
su	N:m	su
mu	PRO	on
ruke	N:f	ruka
bile	V:f	biti
vezane	A:aef	vezan
scenarističkim	A:aef	scenaristički
ograničenjima	N:n	ograničenje
.	SENT	.
Nicholas	N:m	Nicholas
D	A:aem	D
'	A:aem	'
Agosto	N:m	Agosto
uspeva	N:m	uspeva
da	CONJ	da
pridobije	N:f	pridobije
simpatije	N:f	simpatija
publike	N:f	publika
tumačeći	A:aef	tumačeći
ulogu	N:f	uloga
glavnog	A:aem	glavnog
junaka	N:m	junak
,	PUNCT	,
simpatičnog	A:aem	simpatičan
gubitnika	N:m	gubitnik
Sama	N:m	Samo
.	PUNCT	.
Dok	CONJ	dok
će	V:m	će
možda	PAR	možda
još	ADV	još
neko	PRO	neki
i	CONJ	i
strepeti	N:m	strepeti
oko	PREP	oko
Samove	A:aef	Samov
sudbine	N:f	sudbina
,	PUNCT	,
ostali	V:m	ostati
likovi	N:m	lik
su	N:m	su
tu	PRO	taj
samo	PAR	samo
da	CONJ	da
bi	A:aem	bi
lista	N:f	lista
žrtava	N:f	žrtva
bila	V:f	biti
što	CONJ	što
duža	A:ben	dug
.	PUNCT	.
Qualeov	A:aem	Qualeov
film	N:m	film
jeste	INT	jeste
značajan	A:aem	značajan
napredak	N:m	napredak
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
traljavi	A:aem	traljav
četvrti	A:aem	četvrti
deo	N:m	deo
,	PUNCT	,
ali	CONJ	ali
ostaje	N:n	ostaje
činjenica	N:f	činjenica
da	CONJ	da
je	PRO	ona
serijal	N:m	serijal
zapao	V:m	zapasti
u	PREP	u
ćorsokak	N:m	ćorsokak
iz	PREP	iz
koga	PRO	koji
će	N:m	će
teško	ADV	teško
izaći	A:aem	izaći
.	SENT	.
Koliko	ADV	koliko
se	PAR	se
puta	ADV	puta
može	A:aef	može
ispričati	N:f	ispričati
jedna	NUM	jedan
te	PRO	taj
ista	A:aef	isti
priča	N:f	priča
?	SENT	?
U	PREP	u
teoriji	N:f	teorija
:	PUNCT	:
bezbroj	ADV	bezbroj
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
praksi	N:f	praksa
stvari	N:f	stvar
stoje	N:f	stoja
malo	ADV	malo
drugačije	ADV	drugačije
.	SENT	.
Posle	PREP	posle
prvog	A:aem	prvi
dela	N:n	delo
,	PUNCT	,
filmovi	N:m	film
iz	PREP	iz
serijala	N:m	serijal
Poslednja	A:aen	poslednji
ekskurzija	N:f	ekskurzija
su	PREF	su
se	PAR	se
sveli	V:m	svesti
na	PREP	na
novomilenijumski	A:aem	novomilenijumski
Grand	N:m	Grand
Guignol	N:m	Guignol
:	SENT	:
oni	PRO	onaj
postoje	N:m	postoje
samo	PAR	samo
da	CONJ	da
bi	A:aem	bi
zabavili	V:m	zabaviti
gledalište	N:n	gledalište
što	CONJ	što
gnusnijim	A:bef	gnusan
i	CONJ	i
raznovrsnijim	A:bef	raznovrstan
prikazima	N:m	prikaz
smrti	N:f	smrt
.	PUNCT	.
Ako	CONJ	ako
ovaj	PRO	ovaj
pristup	N:m	pristup
odgovara	N:m	odgovara
vašem	PRO	vaš
senzibilitetu	N:m	senzibilitet
,	PUNCT	,
Poslednja	A:aef	poslednji
ekskurzija	N:f	ekskurzija
5	NUM	@card@
je	PRO	ona
film	N:m	film
koji	PRO	koji
ne	PAR	ne
smete	N:m	smet
propustiti	N:m	propustiti
da	CONJ	da
pogledate	N:m	pogledate
na	PREP	na
velikom	A:aef	velik
platnu	N:n	platno
i	CONJ	i
u	PREP	u
3	NUM	@card@
D	A:aef	D
tehnici	N:f	tehnika
.	SENT	.
Suptilnije	A:bem	suptilan
duše	N:f	duša
će	A:aem	će
morati	N:m	morati
da	CONJ	da
filmsko	A:aen	filmski
zadovoljenje	N:n	zadovoljenje
potraže	A:aem	potraže
na	PREP	na
nekom	PRO	neki
drugom	A:aef	drugi
mestu	N:n	mesto
.	SENT	.
