Ako	CONJ	ako
je	PRO	ona
ovo	PRO	ovaj
novi	A:aem	nov
hrabri	A:aem	hrabar
svet	N:m	svet
u	PREP	u
koji	PRO	koji
nas	PRO	mi
prenosi	N:m	prenos
3	NUM	@card@
D	A:aef	D
tehnologija	N:f	tehnologija
,	PUNCT	,
zaustavite	A:aem	zaustavite
voz	N:m	voz
.	PUNCT	.
Hoću	A:aem	Hoću
da	CONJ	da
izađem	A:aem	izađem
.	SENT	.
Monsters	N:m	Monsters
vs	N:m	vs
.	SENT	.
Aliens	N:f	Aliens
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
velikih	A:aef	velik
filmova	N:m	film
2009	NUM	@card@
.	PUNCT	.
godine	N:f	godina
dizajniran	V:m	dizajnirati
kao	CONJ	kao
tačka	N:f	tačka
vrhunca	N:m	vrhunac
gde	CONJ	gde
bi	A:aem	bi
3	NUM	@card@
D	A:aef	D
tehnologija	N:f	tehnologija
mogla	V:n	moći
da	CONJ	da
prenese	N:f	prenese
publiku	N:f	publika
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
primer	N:m	primer
gde	CONJ	gde
je	PRO	ona
tehnologija	N:f	tehnologija
pobacila	V:f	pobaciti
.	SENT	.
Sa	PREP	sa
laganim	A:aem	lagan
scenariom	N:m	scenario
koji	PRO	koji
je	PRO	ona
zahtevao	V:m	zahtevati
pet	NUM	pet
kreditovanih	A:aem	kreditovanih
scenarista	N:m	scenarista
,	PUNCT	,
film	N:m	film
je	PRO	ona
na	PREP	na
kraju	N:m	kraj
nemaštovita	A:aef	nemaštovit
priča	N:f	priča
o	PREP	o
invaziji	N:f	invazija
vanzemaljaca	N:m	vanzemaljac
na	PREP	na
Zemlju	N:f	zemlja
koju	PRO	koji
osujećuju	N:m	osujećuju
'	A:aem	'
čudovišta	N:n	čudovište
'	N:m	'
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
to	PRO	taj
nisu	N:m	nisu
prava	N:n	pravo
čudovišta	N:n	čudovište
,	PUNCT	,
samo	PAR	samo
su	N:m	su
neshvaćeni	A:aem	neshvaćen
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
su	N:m	su
u	PREP	u
3	NUM	@card@
D	N:m	D
-	PUNCT	-
u	PREP	u
,	PUNCT	,
mi	PRO	ja
smo	N:f	smo
previše	ADV	previše
zauzeti	V:m	zauzeti
praćenjem	N:n	praćenje
kometa	N:f	kometa
koje	PRO	koji
lete	N:m	let
po	PREP	po
ekranu	N:m	ekran
,	PUNCT	,
umesto	PREP	umesto
da	CONJ	da
obraćamo	N:f	obraćamo
pažnju	N:f	pažnja
na	PREP	na
stvari	N:f	stvar
poput	PREP	poput
zapleta	N:m	zaplet
ili	CONJ	ili
razvoja	N:m	razvoj
likova	N:n	likovo
.	SENT	.
To	PRO	taj
je	PRO	ona
takođe	PAR	takođe
i	CONJ	i
dobra	A:aef	dobar
stvar	N:f	stvar
,	PUNCT	,
jer	CONJ	jer
bi	V:m	bi
svako	PRO	svaki
ko	PRO	ko
bi	N:m	bi
obratio	V:m	obratiti
pažnju	N:f	pažnja
na	PREP	na
te	PRO	taj
elemente	N:m	element
bio	V:m	biti
pomalo	ADV	pomalo
razočaran	V:m	razočarati
.	SENT	.
Ovo	PRO	ovaj
se	PAR	se
ne	PAR	ne
sme	V:m	sme
pobrkati	A:aem	pobrkati
sa	PREP	sa
daleko	ADV	daleko
superiornijim	A:bem	superioran
Monsters	N:m	Monsters
Inc	N:m	Inc
.	SENT	.
Sigurni	A:aem	siguran
smo	N:f	smo
da	CONJ	da
će	A:aem	će
prosečni	A:aem	prosečan
petogodišnjaci	N:m	petogodišnjaci
biti	N:f	bit
očarani	V:m	očarati
.	PUNCT	.
Ali	CONJ	ali
prosečan	A:aem	prosečan
petogodišnjak	N:m	petogodišnjak
gleda	N:m	gleda
Teletabise	N:m	Teletabise
i	CONJ	i
Sunđerboba	N:f	Sunđerboba
.	SENT	.
Problem	N:m	problem
sa	PREP	sa
Monsters	N:m	Monsters
vs	N:m	vs
.	SENT	.
Aliensje	N:n	Aliensje
što	CONJ	što
svi	PRO	sav
ti	PRO	taj
scenaristi	N:m	scenarista
nisu	N:m	nisu
puno	ADV	puno
mislili	V:m	misliti
na	PREP	na
potencijalnu	A:aef	potencijalan
publiku	N:f	publika
sakosmatom	N:m	sakosmatom
stranom	A:aem	stran
puberteta	N:m	pubertet
.	SENT	.
Postoji	N:m	Postoji
nekoliko	ADV	nekoliko
pametnih	A:aef	pametan
doskočica	N:f	doskočica
ipokoji	N:m	ipokoji
fazon	N:m	fazon
,	PUNCT	,
ali	CONJ	ali
premalo	ADV	premalo
je	PRO	ona
takvih	PRO	takav
momenata	N:m	moment
da	CONJ	da
bi	N:m	bi
sprečili	V:m	sprečiti
da	CONJ	da
odraslizadremaju	N:m	odraslizadremaju
tokom	PREP	tokom
filma	N:m	film
.	SENT	.
Uprkos	PREP	uprkos
mnoštvu	N:n	mnoštvo
mogućnosti	N:f	mogućnost
da	CONJ	da
se	PAR	se
satirizujunaučnofantastični	A:aem	satirizujunaučnofantastični
filmovi	N:m	film
B	ABB	B
klase	N:f	klasa
iz	PREP	iz
50	NUM	@card@
-	PUNCT	-
tih	PRO	taj
godina	N:f	godina
,	PUNCT	,
samo	PAR	samo
ih	PRO	ona
je	PRO	ona
malibroj	N:m	malibroj
-	PUNCT	-
tu	ADV	tu
su	N:m	su
zamaskirane	A:aef	zamaskiran
reference	N:f	referenca
na	PREP	na
filmove	N:m	film
Attack	N:m	Attack
of	N:m	of
the	N:m	the
50	NUM	@card@
Foot	N:m	Foot
Woman	N:m	Woman
,	PUNCT	,
The	INT	The
Blob	N:m	Blob
,	PUNCT	,
The	INT	The
Creature	N:f	Creature
from	N:m	from
the	N:m	the
Black	N:m	Black
Lagoon	N:m	Lagoon
i	CONJ	i
The	INT	The
Fly	N:m	Fly
.	SENT	.
Previše	N:m	Previše
toga	PRO	taj
bi	N:f	bi
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
krajeva	N:m	kraj
,	PUNCT	,
zbunilo	V:n	zbuniti
petogodišnjake	N:m	petogodišnjake
.	PUNCT	.
A	CONJ	a
i	CONJ	i
zaštoubaciti	N:m	zaštoubaciti
promišljene	A:aef	promišljen
stvari	N:f	stvar
u	PREP	u
scenario	N:m	scenario
kada	CONJ	kada
možete	A:aem	možete
kompjuterski	A:aem	kompjuterski
dakreirate	N:m	dakreirate
neke	PRO	neki
zanimljive	A:aef	zanimljiv
stvari	N:f	stvar
za	PREP	za
publiku	N:f	publika
?	PUNCT	?
Monsters	N:m	Monsters
vs	N:m	vs
.	SENT	.
Alienspati	N:m	Alienspati
od	PREP	od
zajedničkih	A:aef	zajednički
3	NUM	@card@
D	A:aem	D
problema	N:m	problem
:	PUNCT	:
maglovito	ADV	maglovito
svetlo	N:n	svetlo
,	PUNCT	,
loš	A:aem	loš
fokus	N:m	fokus
i	CONJ	i
brzeakcijske	A:aef	brzeakcijske
scene	N:f	scena
,	PUNCT	,
i	CONJ	i
premalo	ADV	premalo
detalja	N:m	detalj
koji	PRO	koji
bi	N:f	bi
zaokupili	V:m	zaokupiti
pažnju	N:f	pažnja
gledaoca	N:m	gledalac
.	SENT	.
Posle	PREP	posle
filma	N:m	film
Coraline	N:f	Coraline
,	PUNCT	,
izgledalo	V:n	izgledati
je	PRO	ona
kao	CONJ	kao
da	CONJ	da
se	PAR	se
stvari	N:f	stvar
kreću	A:aem	kreću
u	PREP	u
pravom	N:n	pravo
smeru	N:m	smer
,	PUNCT	,
ali	CONJ	ali
Monsters	N:m	Monsters
vs	N:m	vs
.	SENT	.
Aliens	N:m	Aliens
je	PRO	ona
veliki	A:aem	velik
korak	N:m	korak
unazad	ADV	unazad
.	PUNCT	.
SusanMurphy	N:m	SusanMurphy
(	PUNCT	(
glas	N:m	glas
Reese	N:m	Reese
Witherspoon	N:m	Witherspoon
)	PUNCT	)
se	PAR	se
sprema	N:f	sprema
za	PREP	za
svoje	PRO	svoj
venčanje	N:n	venčanje
kada	CONJ	kada
padmeteora	N:m	padmeteora
komplikuje	N:m	komplikuje
njeno	PRO	njen
savršeno	ADV	savršeno
postojanje	N:n	postojanje
domaćice	N:f	domaćica
malom	A:aen	mali
gradu	N:m	grad
.	SENT	.
Supstanca	N:f	supstanca
koja	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
u	PREP	u
meteoru	N:m	meteor
uzrokuje	N:m	uzrokuje
da	CONJ	da
Susan	N:m	Susan
sija	V:m	sija
zeleno	ADV	zeleno
iraste	A:aem	iraste
sve	ADV	sve
dok	CONJ	dok
ne	PAR	ne
bude	A:aem	bude
dovoljno	ADV	dovoljno
velika	A:aen	velik
da	CONJ	da
je	PRO	ona
nazovu	A:aef	nazovu
Ginormica	N:f	Ginormica
.	SENT	.
Vladastiže	N:f	Vladastiže
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
uspela	V:f	uspeti
da	CONJ	da
kaže	N:f	kaža
'	N:m	'
da	CONJ	da
'	N:m	'
i	CONJ	i
odvodi	N:m	odvod
je	PRO	ona
u	PREP	u
zatvor	N:m	zatvor
začudovišta	N:n	začudovišta
,	PUNCT	,
gde	CONJ	gde
se	PAR	se
sprijateljuje	N:m	sprijateljuje
sa	PREP	sa
drugim	A:aem	drugi
neuklopljenim	A:aen	neuklopljenim
bićima	N:n	biće
:	PUNCT	:
kapB	N:m	kapB
.	PUNCT	.
O	PREP	o
.	PUNCT	.
B	ABB	B
.	PUNCT	.
(	PUNCT	(
Seth	A:aem	Seth
Rogen	N:m	Rogen
)	PUNCT	)
,	PUNCT	,
prigodno	ADV	prigodno
nazvanim	A:aem	nazvan
Dr	N:m	Dr
.	SENT	.
Bubašvaba	N:f	Bubašvaba
(	PUNCT	(
Hugh	A:aem	Hugh
Laurie	N:m	Laurie
)	PUNCT	)
iIzgubljenom	A:aem	iIzgubljenom
Karikom	N:m	Karikom
(	PUNCT	(
Will	N:m	Will
Arnett	N:m	Arnett
)	PUNCT	)
.	SENT	.
Stvari	N:f	stvar
ne	PAR	ne
izgledaju	N:m	izgledaju
dobro	ADV	dobro
po	PREP	po
Susandok	N:m	Susandok
na	PREP	na
scenu	N:f	scena
ne	PAR	ne
stupi	N:f	stupa
Gallaxhar	N:m	Gallaxhar
(	PUNCT	(
Rainn	N:m	Rainn
Wilson	N:m	Wilson
)	PUNCT	)
.	SENT	.
Njegov	PRO	njegov
cilj	N:m	cilj
ima	A:aem	ima
nekeveze	N:f	nekeveze
sa	PREP	sa
istrebljivanjem	N:n	istrebljivanje
čovečanstva	N:n	čovečanstvo
i	CONJ	i
ponovnim	A:aem	ponovan
naseljavanjem	N:n	naseljavanje
Zemljenjegovom	A:aef	Zemljenjegovom
vrstom	N:f	vrsta
-	PUNCT	-
tipične	A:aef	tipičan
megalomanske	A:aef	megalomanski
vanzemaljske	A:aef	vanzemaljski
stvari	N:f	stvar
.	SENT	.
PredsednikHathaway	N:m	PredsednikHathaway
(	PUNCT	(
Stephen	N:m	Stephen
Colbert	N:m	Colbert
)	PUNCT	)
odlučuje	N:m	odlučuje
da	CONJ	da
pusti	A:aem	pust
čudovišta	N:n	čudovište
u	PREP	u
nadi	N:f	nada
da	CONJ	da
će	A:aen	će
semeđusobno	A:aen	semeđusobno
poubijati	N:m	poubijati
sa	PREP	sa
vanzemaljcima	N:m	vanzemaljac
.	SENT	.
U	PREP	u
međuvremenu	N:n	međuvreme
,	PUNCT	,
sve	PRO	sav
šro	N:m	šro
Susan	N:m	Susan
želije	V:m	želije
da	CONJ	da
je	PRO	ona
poštuju	N:m	poštuju
zbog	PREP	zbog
onog	PRO	onaj
što	CONJ	što
jeste	INT	jeste
.	SENT	.
Postojalo	V:n	postojati
je	PRO	ona
vreme	N:n	vreme
kada	ADV	kada
jeizgledalo	V:n	jeizgledalo
da	CONJ	da
Dreamworks	N:m	Dreamworks
može	A:aem	može
da	CONJ	da
bude	A:aem	bude
kompetentan	A:aem	kompetentan
sa	PREP	sa
studiomDisney	A:aem	studiomDisney
/	A:aem	/
Pixar	N:m	Pixar
u	PREP	u
trci	N:f	trka
za	PREP	za
tron	N:m	tron
animacije	N:f	animacija
.	SENT	.
Taj	PRO	taj
dan	N:m	dan
je	PRO	ona
odavno	ADV	odavno
prošao	V:m	proći
i	CONJ	i
,	PUNCT	,
dokPixar	N:m	dokPixar
teži	A:bem	težak
da	CONJ	da
unapredi	N:m	unapredi
svaki	PRO	svaki
svoj	PRO	sav
novi	A:aem	nov
film	N:m	film
,	PUNCT	,
Dreamworks	N:m	Dreamworks
nam	PRO	mi
nudi	N:f	nudi
ovo	PRO	ovaj
.	PUNCT	.
Vizuelno	A:aen	vizuelan
,	PUNCT	,
film	N:m	film
je	PRO	ona
okej	INT	okej
,	PUNCT	,
ali	CONJ	ali
ništa	ADV	ništa
posebno	ADV	posebno
,	PUNCT	,
i	CONJ	i
svakako	PAR	svakako
ne	PAR	ne
nešto	ADV	nešto
čime	PRO	šta
bimogao	V:m	bimogao
da	CONJ	da
parira	V:m	parira
filmu	N:m	film
WALL	N:m	WALL
-	PUNCT	-
E	N:m	E
.	PUNCT	.
Čini	N:m	Čina
se	PAR	se
da	CONJ	da
je	PRO	ona
ideja	N:f	ideja
da	CONJ	da
prisustvo	N:n	prisustvo
3	NUM	@card@
D	A:aem	D
tehnologije	N:f	tehnologija
eliminiše	A:aem	eliminiše
potrebu	N:f	potreba
da	CONJ	da
seinvestiraju	N:m	seinvestiraju
napori	N:m	napor
u	PREP	u
težnji	N:f	težnja
za	PREP	za
najkvalitetnijom	A:cef	kvalitetan
animacijom	N:f	animacija
.	PUNCT	.
I	CONJ	i
to	PRO	taj
jeprava	N:f	jeprava
opasnost	N:f	opasnost
3	NUM	@card@
D	N:m	D
-	PUNCT	-
a	CONJ	a
-	PUNCT	-
da	CONJ	da
'	A:aem	'
wow	N:m	wow
'	A:aem	'
faktor	N:m	faktor
postane	N:m	postane
previše	ADV	previše
važan	A:aem	važan
da	CONJ	da
bi	A:aen	bi
sezanemarile	N:n	sezanemarile
druge	A:aem	drugi
stvari	N:f	stvar
.	SENT	.
Ovonije	A:aem	Ovonije
film	N:m	film
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
vožnja	N:f	vožnja
u	PREP	u
zabavnom	A:aen	zabavan
parku	N:m	park
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
šansa	N:f	šansa
za	PREP	za
klince	N:m	klinac
da	CONJ	da
seoduševljavaju	N:m	seoduševljavaju
dok	CONJ	dok
roditelji	N:m	roditelj
odremaju	N:m	odremaju
.	SENT	.
Film	N:m	film
je	PRO	ona
svakako	PAR	svakako
simpatičan	A:aem	simpatičan
ibezopasan	N:m	ibezopasan
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
oduzmite	N:m	oduzmite
3	NUM	@card@
D	N:f	D
,	PUNCT	,
i	CONJ	i
sve	PRO	sav
što	CONJ	što
vam	PRO	vi
ostane	N:m	ostane
je	PRO	ona
film	N:m	film
za	PREP	za
decu	N:f	deca
,	PUNCT	,
ništa	PRO	ništa
nalik	N:m	nalik
Madagascar	N:m	Madagascar
-	PUNCT	-
u	PREP	u
i	CONJ	i
njegovom	PRO	njegov
nastavku	N:m	nastavak
(	PUNCT	(
svi	PRO	sav
su	N:m	su
došli	V:m	doći
iz	PREP	iz
studija	N:f	studija
Dreamworks	N:m	Dreamworks
)	PUNCT	)
.	SENT	.
Monsters	N:m	Monsters
vs	N:m	vs
.	SENT	.
Aliens	N:m	Aliens
je	PRO	ona
galerija	N:f	galerija
propuštenih	A:aef	propušten
prilika	N:f	prilika
.	PUNCT	.
Ima	A:aem	Ima
nekoliko	ADV	nekoliko
'	A:aem	'
lame	N:m	lama
'	A:aem	'
referenci	N:f	referenca
na	PREP	na
King	N:m	King
Konga	N:m	Kongo
,	PUNCT	,
Star	N:m	Star
Trek	N:m	Trek
i	CONJ	i
muzički	A:aem	muzički
odjek	N:m	odjek
iz	PREP	iz
Close	N:m	Close
Encounters	N:m	Encounters
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
uprkos	PREP	uprkos
prisustvu	N:n	prisustvo
Ratne	A:aef	ratni
sobe	N:f	soba
,	PUNCT	,
nema	A:aem	nem
ni	CONJ	ni
nagoveštaja	N:m	nagoveštaj
Dr	N:m	Dr
.	PUNCT	.
Strangelove	A:aem	Strangelove
-	PUNCT	-
a	CONJ	a
.	PUNCT	.
Kao	CONJ	kao
da	CONJ	da
je	PRO	ona
neko	PRO	neki
osmislio	V:m	osmisliti
scenografiju	N:f	scenografija
i	CONJ	i
radnju	N:f	radnja
i	CONJ	i
onda	ADV	onda
zaboravio	V:m	zaboraviti
glavnu	A:aef	glavnu
premisu	N:f	premisa
.	SENT	.
3	NUM	@card@
D	A:aef	D
tehnologija	N:f	tehnologija
odvlači	A:aef	odvlači
pažnju	N:f	pažnja
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
slučaju	N:m	slučaj
,	PUNCT	,
to	PRO	taj
je	PRO	ona
dobra	A:aef	dobar
stvar	N:f	stvar
jer	CONJ	jer
oživljava	A:aef	oživljava
stvari	N:f	stvar
malo	ADV	malo
.	SENT	.
Takođe	A:aen	Takođe
nagoveštava	N:n	nagoveštava
da	CONJ	da
bi	A:aem	bi
Monsters	N:m	Monsters
vs	N:m	vs
.	SENT	.
Alienssbio	V:m	Alienssbio
bolji	A:bem	dobar
film	N:m	film
u	PREP	u
2	NUM	@card@
D	A:aef	D
tehnologiji	N:f	tehnologija
.	SENT	.
Katzenberg	N:m	Katzenberg
je	PRO	ona
rekao	V:m	reći
da	CONJ	da
je	PRO	ona
želeo	V:m	želeti
danapravi	ADV	danapravi
da	CONJ	da
3	NUM	@card@
D	A:aem	D
bude	A:aem	bude
integralni	A:aem	integralan
deo	N:m	deo
iskustva	N:n	iskustvo
odlaska	N:m	odlazak
u	PREP	u
bioskop	N:m	bioskop
,	PUNCT	,
ali	CONJ	ali
sa	PREP	sa
Monsters	N:m	Monsters
vs	N:m	vs
.	SENT	.
Aliens	N:m	Aliens
,	PUNCT	,
on	PRO	on
je	PRO	ona
pružio	V:m	pružiti
jedan	NUM	jedan
od	PREP	od
najvarljivijih	A:cef	varljiv
3	NUM	@card@
D	A:aem	D
filmova	N:m	film
od	PREP	od
pojave	N:f	pojava
tog	PRO	taj
formata	N:m	format
.	SENT	.
