Poslednjih	A:aem	poslednji
nekoliko	ADV	nekoliko
godina	N:f	godina
američki	A:aem	američki
horor	N:m	horor
film	N:m	film
nije	V:m	nije
imao	V:m	imati
mnogo	ADV	mnogo
šta	ADV	šta
da	CONJ	da
ponudi	N:f	ponuda
.	SENT	.
Filmovi	N:m	film
poput	PREP	poput
V	ABB	V
\	N:m	\
H	ABB	H
\	N:m	\
S	ABB	S
,	PUNCT	,
Insidious	N:m	Insidious
i	CONJ	i
Evil	N:m	Evil
Dead	N:m	Dead
-	PUNCT	-
a	CONJ	a
su	N:m	su
razbijali	V:m	razbijati
sada	ADV	sada
vec	N:m	vec
razrađenu	A:aef	razrađen
i	CONJ	i
jeftinu	A:aen	jeftin
formu	N:f	forma
američkih	A:aef	američki
horora	N:m	horor
,	PUNCT	,
čiji	PRO	čiji
jedini	A:aem	jedini
uspeh	N:m	uspeh
je	PRO	ona
da	CONJ	da
nas	PRO	mi
dva	NUM	dva
-	PUNCT	-
tri	NUM	tri
puta	N:m	put
u	PREP	u
toku	N:m	tok
filma	N:m	film
prepadnu	A:aef	prepadnu
naglim	A:aef	nagao
scenama	N:f	scena
.	SENT	.
“	A:aem	“
We	N:m	We
Are	A:aem	Are
Who	A:aen	Who
We	N:m	We
Are	A:aem	Are
”	N:m	”
,	PUNCT	,
film	N:m	film
rezisera	N:f	rezisera
Džima	N:m	Džim
Mikla	A:aen	Mikla
(	PUNCT	(
Jim	A:aem	Jim
Mickle	N:m	Mickle
)	PUNCT	)
,	PUNCT	,
autora	N:m	autor
ostvarenja	N:n	ostvarenje
kao	CONJ	kao
što	CONJ	što
su	N:m	su
Transamerica	N:f	Transamerica
i	CONJ	i
Stake	N:f	Staka
Land	N:m	Land
,	PUNCT	,
je	PRO	ona
rimejk	N:f	rimejk
istoimenog	A:aen	istoimen
Meksičkog	A:aem	Meksičkog
filma	N:m	film
(	PUNCT	(
naslov	N:m	naslov
u	PREP	u
originalu	N:m	original
“	A:aem	“
Somos	N:m	Somos
lo	A:aem	lo
que	N:m	que
hay	A:aem	hay
“	N:m	“
)	PUNCT	)
.	SENT	.
Inspirisano	V:n	inspirisati
Southern	N:m	Southern
Gothic	N:m	Gothic
literaturom	N:f	literatura
,	PUNCT	,
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
je	PRO	ona
predvodnik	N:m	predvodnik
nove	A:aef	nov
generacije	N:f	generacija
amerčkog	A:aen	amerčkog
horor	N:m	horor
filma	N:m	film
,	PUNCT	,
koji	PRO	koji
se	PAR	se
više	ADV	više
osvrću	V:m	osvrću
na	PREP	na
jezivu	A:aef	jeziv
atmosferu	N:f	atmosfera
filma	N:m	film
,	PUNCT	,
pokušavajući	A:aem	pokušavajući
da	CONJ	da
na	PREP	na
takav	PRO	takav
način	N:m	način
prenesu	N:f	prenesu
strah	N:m	strah
do	PREP	do
publike	N:f	publika
.	SENT	.
Radnja	N:f	radnja
filma	N:m	film
prepričava	A:aen	prepričava
događaj	N:m	događaj
,	PUNCT	,
koji	PRO	koji
nije	A:aem	nije
nerealan	A:aem	nerealan
,	PUNCT	,
i	CONJ	i
moguće	ADV	moguće
je	PRO	ona
da	CONJ	da
se	PAR	se
desi	N:m	desi
,	PUNCT	,
naročito	ADV	naročito
u	PREP	u
manjim	A:aem	manjim
i	CONJ	i
zatvorenijim	A:ben	zatvoren
sredinama	N:f	sredina
.	SENT	.
Sama	PRO	sam
realnost	N:f	realnost
ove	PRO	ovaj
situacije	N:f	situacija
nam	PRO	mi
doista	ADV	doista
sleđuje	N:m	sleđuje
krv	N:f	krv
u	PREP	u
zilama	N:f	zile
i	CONJ	i
čini	N:f	čini
ovaj	PRO	ovaj
element	N:m	element
filma	N:m	film
njegovim	PRO	njegov
najjačim	A:cef	jak
oružijem	N:m	oružijem
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
priča	N:f	priča
prati	N:f	prati
porodicu	N:f	porodica
Parkers	N:m	Parkers
,	PUNCT	,
koju	PRO	koji
pogađa	A:aem	pogađa
iznenadna	A:aef	iznenadan
smrt	N:f	smrt
majke	N:f	majka
i	CONJ	i
zene	A:aen	zene
,	PUNCT	,
ostavljajući	A:aem	ostavljajući
oca	N:m	otac
Frenka	N:m	Frenk
(	PUNCT	(
Bill	N:m	Bill
Sage	N:m	Sage
)	PUNCT	)
,	PUNCT	,
sa	PREP	sa
ćerkama	N:f	ćerka
Ajris	N:f	Ajris
(	PUNCT	(
Ambyr	N:m	Ambyr
Childers	N:m	Childers
)	PUNCT	)
i	CONJ	i
Rouz	N:m	Rouz
(	PUNCT	(
Julia	N:f	Julia
Garner	N:m	Garner
)	PUNCT	)
i	CONJ	i
sinom	N:m	sin
Rorijem	N:m	Rori
(	PUNCT	(
Jack	A:aem	Jack
Gore	N:m	Gor
)	PUNCT	)
.	SENT	.
Ali	CONJ	ali
Parkersovi	A:aem	Parkersovi
nisu	N:m	nisu
obična	A:aef	običan
porodica	N:f	porodica
.	SENT	.
Oni	PRO	onaj
prate	A:aem	prate
običaje	N:m	običaj
svojih	PRO	svoj
predaka	N:m	predak
,	PUNCT	,
i	CONJ	i
u	PREP	u
čudnom	A:aef	čudan
ritualu	N:m	ritual
praktikuju	N:m	praktikuju
kanibalizam	N:m	kanibalizam
.	PUNCT	.
Pored	PREP	pored
toga	PRO	taj
što	CONJ	što
Ajris	N:f	Ajris
i	CONJ	i
Rouz	N:f	Rouz
,	PUNCT	,
sada	ADV	sada
moraju	N:m	moraju
da	CONJ	da
preuzmu	A:aem	preuzmu
obaveze	N:f	obaveza
u	PREP	u
ritualu	N:m	ritual
koje	PRO	koji
je	PRO	ona
do	PREP	do
tada	ADV	tada
njihova	PRO	njihov
majka	N:f	majka
obavljala	V:f	obavljati
,	PUNCT	,
celokupna	A:aef	celokupan
porodica	N:f	porodica
se	PAR	se
suočava	A:aen	suočava
sa	PREP	sa
opasnošću	N:f	opasnost
da	CONJ	da
njihova	PRO	njihov
tajna	N:f	tajna
bude	A:aen	bude
otkrivena	A:aem	otkriven
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
fabula	N:f	fabula
veoma	ADV	veoma
razrađena	V:n	razraditi
,	PUNCT	,
i	CONJ	i
u	PREP	u
sebi	PRO	sebe
nosi	A:aem	nosi
tešku	A:aef	težak
dramu	N:f	drama
i	CONJ	i
visoku	A:aem	visok
tenziju	N:f	tenzija
,	PUNCT	,
izvedba	N:f	izvedba
ovog	PRO	ovaj
filma	N:m	film
nije	V:f	nije
ispratila	V:f	ispratiti
kvalitet	N:m	kvalitet
priče	N:f	priča
.	SENT	.
Povremeno	ADV	povremeno
je	PRO	ona
film	N:m	film
bespotrebno	A:aen	bespotreban
spor	A:aem	spor
,	PUNCT	,
pokušavajući	A:aem	pokušavajući
na	PREP	na
taj	PRO	taj
način	N:m	način
da	CONJ	da
izdigne	A:aef	izdigne
kulminaciju	N:f	kulminacija
događaja	N:m	događaj
.	SENT	.
Na	PREP	na
žalost	N:f	žalost
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
pokušaju	N:m	pokušaj
apsolutno	ADV	apsolutno
ne	PAR	ne
uspeva	V:n	uspeva
i	CONJ	i
posle	PREP	posle
svega	PRO	sav
vam	PRO	vi
ostaje	N:n	ostaje
gorak	A:aem	gorak
ukus	N:m	ukus
u	PREP	u
ustima	N:n	usta
i	CONJ	i
razočarenje	N:n	razočarenje
za	PREP	za
propuštenim	A:aef	propušten
potencijalom	N:m	potencijal
.	SENT	.
Ovaj	PRO	ovaj
nedostatak	N:m	nedostatak
,	PUNCT	,
utiče	N:f	utiče
na	PREP	na
sve	PRO	sav
druge	A:aem	drugi
aspekte	N:m	aspekt
filma	N:m	film
.	SENT	.
Gluma	N:f	gluma
je	PRO	ona
zbog	PREP	zbog
nepotrebnih	A:aem	nepotreban
scena	N:f	scena
neretko	ADV	neretko
neupečatljiva	A:aem	neupečatljiva
i	CONJ	i
bleda	A:aef	bled
.	PUNCT	.
Amber	N:m	Amber
i	CONJ	i
Džulija	N:f	Džulija
,	PUNCT	,
jednostavno	ADV	jednostavno
nisu	N:m	nisu
prenele	V:f	preneti
konflikt	N:m	konflikt
,	PUNCT	,
koji	PRO	koji
postoji	N:m	postoji
u	PREP	u
devojčicama	N:f	devojčica
posle	PREP	posle
smrti	N:f	smrt
majke	N:f	majka
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
Bil	N:m	Bil
Sejdž	N:f	Sejdž
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
trebao	V:m	trebati
da	CONJ	da
predstavi	N:f	predstava
konzervativnog	A:aem	konzervativan
i	CONJ	i
patrijahalnog	A:aem	patrijahalnog
religijskog	A:aem	religijski
fanatika	N:m	fanatik
,	PUNCT	,
apsolutno	ADV	apsolutno
promašio	V:m	promašiti
ulogu	N:f	uloga
.	SENT	.
Svetla	N:n	svetlo
glumačka	A:aef	glumački
tačka	N:f	tačka
je	PRO	ona
Majkl	N:m	Majkl
Parks	N:m	Parks
(	PUNCT	(
Michael	N:m	Michael
Parks	N:m	Parks
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
kao	ADV	kao
sporedni	A:aem	sporedan
lik	N:m	lik
(	PUNCT	(
Doc	N:m	Doc
Barrow	N:m	Barrow
)	PUNCT	)
,	PUNCT	,
jedini	A:aem	jedini
uspeva	N:m	uspeva
da	CONJ	da
dočara	N:m	dočara
patnju	N:f	patnja
žrtvi	N:f	žrtva
ove	PRO	ovaj
porodice	N:f	porodica
u	PREP	u
hladnoj	A:aef	hladan
južnjačkoj	A:aef	južnjački
sredini	N:f	sredina
.	SENT	.
Vizualno	A:aen	vizualan
,	PUNCT	,
film	N:m	film
izgleda	N:m	izgled
prilično	ADV	prilično
lepo	ADV	lepo
.	SENT	.
Obiluje	N:m	Obiluje
tamno	A:aen	taman
braon	A:aem	braon
tonovima	N:m	ton
,	PUNCT	,
fotografija	N:f	fotografija
povremno	A:aen	povremno
podseća	N:m	podseća
na	PREP	na
film	N:m	film
Stoker	N:m	Stoker
,	PUNCT	,
i	CONJ	i
definitivno	ADV	definitivno
izgledom	N:m	izgled
izvlači	A:aem	izvlači
prethodno	ADV	prethodno
navedene	A:aef	naveden
mane	N:f	mana
.	SENT	.
Generalno	A:aen	generalan
,	PUNCT	,
“	A:aem	“
We	N:m	We
Are	A:aem	Are
What	N:m	What
We	N:m	We
Are	A:aem	Are
”	A:aem	”
nije	N:m	nije
dosegao	V:m	dosegnuti
potencijal	N:m	potencijal
koji	PRO	koji
nosi	N:f	nosi
u	PREP	u
sebi	PRO	sebe
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
uloženo	A:aen	uložen
puno	A:aen	pun
truda	N:m	trud
,	PUNCT	,
drama	N:f	drama
koja	PRO	koji
je	PRO	ona
originalno	ADV	originalno
zamišljena	V:n	zamisliti
nije	A:aen	nije
uspešno	ADV	uspešno
preneta	V:f	preneti
do	PREP	do
gledaoca	N:m	gledalac
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
ovom	PRO	ovaj
ostvarenju	N:n	ostvarenje
se	PAR	se
mora	N:n	more
priznati	A:aem	priznat
da	CONJ	da
ima	A:aem	ima
fantastičnu	A:aef	fantastičan
atmosferu	N:f	atmosfera
,	PUNCT	,
čime	PRO	šta
horor	N:m	horor
film	N:m	film
prenosi	N:m	prenos
na	PREP	na
drugi	A:aem	drugi
,	PUNCT	,
podsvesni	A:aem	podsvestan
nivo	N:m	nivo
.	SENT	.
“	A:aem	“
We	N:m	We
Are	A:aem	Are
What	N:m	What
We	N:m	We
Are	A:aem	Are
”	N:m	”
ne	PAR	ne
bih	A:aen	bih
preporučio	V:m	preporučiti
osobama	N:f	osoba
sa	PREP	sa
slabim	A:aef	slab
stomakom	N:m	stomak
.	SENT	.
