Novi	A:aem	nov
film	N:m	film
nekadašnjeg	A:aen	nekadašnji
dokumentariste	N:m	dokumentarista
,	PUNCT	,
Poljaka	N:m	Poljak
Pawela	A:aem	Pawela
Pawlikowskog	A:aen	Pawlikowskog
,	PUNCT	,
Žena	A:aen	Žena
iz	PREP	iz
susedstva	N:n	susedstvo
,	PUNCT	,
barata	N:n	barata
jakim	A:aen	jak
oružjem	N:n	oružje
–	N:m	–
dobro	ADV	dobro
skrojenim	A:aem	skrojen
kafkijanskim	A:aem	kafkijanskim
zapletom	N:m	zaplet
u	PREP	u
kom	PRO	koji
američki	A:aem	američki
pisac	N:m	pisac
(	PUNCT	(
Ethan	A:aem	Ethan
Hawke	N:f	Hawke
)	PUNCT	)
sa	PREP	sa
mutnom	A:aen	mutan
prošlošću	N:f	prošlost
i	CONJ	i
,	PUNCT	,
kako	CONJ	kako
uskoro	ADV	uskoro
saznajemo	A:aen	saznajemo
,	PUNCT	,
ne	PAR	ne
baš	PAR	baš
stabilnim	A:aem	stabilan
mentalnim	A:aem	mentalan
zdravljem	N:n	zdravlje
,	PUNCT	,
dospeva	N:m	dospeva
u	PREP	u
Pariz	N:m	Pariz
sa	PREP	sa
nadom	N:f	nada
da	CONJ	da
će	V:m	će
se	PAR	se
izmiriti	N:m	izmiriti
sa	PREP	sa
bivšom	A:aef	bivši
suprugom	N:f	supruga
i	CONJ	i
podizati	N:m	podizati
njihovo	PRO	njihov
dete	N:n	dete
,	PUNCT	,
ali	CONJ	ali
završava	N:f	završava
u	PREP	u
predgrađu	N:n	predgrađe
Grada	N:m	Grada
svetlosti	N:f	svetlost
okružen	V:m	okružiti
emigrantima	N:m	emigrant
,	PUNCT	,
sa	PREP	sa
zaposlenjem	N:n	zaposlenje
koje	PRO	koji
mu	PRO	on
nije	N:m	nije
sasvim	ADV	sasvim
jasno	ADV	jasno
i	CONJ	i
nizom	N:m	niz
sukoba	N:m	sukob
sa	PREP	sa
jednako	A:aen	jednak
izgubljenim	A:aen	izgubljen
dušama	N:f	duša
u	PREP	u
zadnjem	A:aem	zadnji
džepu	N:m	džep
metropole	N:f	metropola
.	SENT	.
U	PREP	u
nizanju	N:n	nizanje
slučajnosti	N:f	slučajnost
koje	PRO	koji
kao	ADV	kao
bujica	N:f	bujica
nemilih	A:aen	nemio
i	CONJ	i
tajanstvenih	A:aen	tajanstven
događaja	N:m	događaj
među	PREP	među
koje	PRO	koji
spada	N:m	spada
i	CONJ	i
odlazak	N:m	odlazak
na	PREP	na
književno	A:aen	književan
veče	N:n	veče
(	PUNCT	(
brojgelovski	A:aem	brojgelovski
prikaz	N:m	prikaz
blaziranih	A:aef	blaziran
književnih	A:aef	književan
spodoba	N:f	spodoba
nalik	N:m	nalik
balu	N:f	bala
vampira	N:m	vampir
)	PUNCT	)
gde	CONJ	gde
pisac	N:m	pisac
upoznaje	A:aef	upoznaje
misterioznu	A:aef	misteriozan
ženu	N:f	žena
(	PUNCT	(
Kristin	N:f	Kristin
Scott	A:aem	Scott
Thomas	N:m	Thomas
)	PUNCT	)
može	A:aem	može
se	PAR	se
pronaći	V:m	pronaći
i	CONJ	i
nešto	PRO	nešto
plave	A:aef	plav
boje	N:f	boja
iz	PREP	iz
romana	N:m	roman
Paula	N:f	Paula
Austera	N:m	Austera
,	PUNCT	,
a	CONJ	a
,	PUNCT	,
sve	ADV	sve
veći	A:bem	velik
jaz	N:m	jaz
između	PREP	između
junakove	A:aef	junakov
svesti	N:f	svest
i	CONJ	i
njegovih	PRO	njegov
fantazija	N:f	fantazija
na	PREP	na
tragu	N:m	trag
je	PRO	ona
odličnog	A:aem	odličan
filma	N:m	film
Secret	N:m	Secret
Window	N:m	Window
,	PUNCT	,
uostalom	PAR	uostalom
i	CONJ	i
Isijavanja	N:n	isijavanje
kao	CONJ	kao
i	CONJ	i
niza	N:m	niz
filmova	N:m	film
o	PREP	o
piscima	N:m	pisac
koji	PRO	koji
su	N:m	su
pomerili	V:m	pomeriti
pameću	N:f	pamet
na	PREP	na
nesreću	N:f	nesreća
njihovih	PRO	njihov
supruga	N:f	supruga
i	CONJ	i
stanodavaca	N:m	stanodavac
.	SENT	.
Lynch	A:aem	Lynch
se	PAR	se
raspoznaje	N:m	raspoznaje
u	PREP	u
purpurnim	A:aem	purpuran
enterijerima	N:m	enterijer
koji	PRO	koji
su	N:m	su
svedoci	N:m	svedok
patološke	A:aef	patološki
afere	N:f	afera
sa	PREP	sa
misterioznom	A:aef	misteriozan
ženom	N:f	žena
koja	PRO	koji
u	PREP	u
prvih	A:aef	prvi
nekoliko	ADV	nekoliko
sekundi	N:f	sekunda
susreta	N:m	susret
sa	PREP	sa
našim	PRO	naš
piscem	N:m	pisac
jasno	ADV	jasno
daje	N:m	daje
do	PREP	do
znanja	N:n	znanje
da	CONJ	da
će	N:f	će
ovom	PRO	ovaj
sasvim	ADV	sasvim
izgubljenom	A:aef	izgubljen
čoveku	N:m	čovek
biti	N:f	bit
i	CONJ	i
majka	N:f	majka
i	CONJ	i
ljubavnica	N:f	ljubavnica
i	CONJ	i
muza	N:f	muza
.	SENT	.
Budući	A:aem	Budući
da	CONJ	da
ona	PRO	ona
govori	N:m	govor
sve	ADV	sve
što	CONJ	što
ovaj	PRO	ovaj
hoće	N:f	hoće
da	CONJ	da
čuje	N:f	čuje
,	PUNCT	,
biva	A:aem	biva
jasno	ADV	jasno
da	CONJ	da
posla	N:m	posao
nisu	N:m	nisu
čista	A:aef	čist
i	CONJ	i
,	PUNCT	,
sa	PREP	sa
obzirom	N:m	obzir
na	PREP	na
celokupnu	A:aef	celokupan
situaciju	N:f	situacija
nesrećnog	A:aen	nesrećan
pisca	N:m	pisac
,	PUNCT	,
tenzija	N:f	tenzija
raste	N:m	rast
.	SENT	.
Pawlikowski	A:aem	Pawlikowski
koji	PRO	koji
je	PRO	ona
u	PREP	u
svom	PRO	sav
ranijem	A:aen	raniji
,	PUNCT	,
odličnom	A:aen	odličan
filmu	N:m	film
My	A:aem	My
Summer	N:m	Summer
of	N:m	of
Love	N:m	Lov
,	PUNCT	,
priči	N:f	priča
na	PREP	na
tragu	N:m	trag
Nebeskih	A:aem	nebeski
stvorenja	N:n	stvorenje
,	PUNCT	,
o	PREP	o
dijaboličnom	A:aen	dijaboličan
prijateljstvu	N:n	prijateljstvo
između	PREP	između
dve	NUM	dva
devojčice	N:f	devojčica
,	PUNCT	,
savršeno	ADV	savršeno
povlačio	V:m	povlačiti
linije	N:f	linija
između	PREP	između
sveta	A:aef	svet
realnih	A:aen	realan
zbivanja	N:n	zbivanje
i	CONJ	i
fantazija	N:f	fantazija
svojih	PRO	svoj
junakinja	N:f	junakinja
,	PUNCT	,
poseže	A:aem	poseže
za	PREP	za
sličnim	A:aef	sličan
principom	N:m	princip
i	CONJ	i
u	PREP	u
slučaju	N:m	slučaj
svog	PRO	svoj
pisca	N:m	pisac
izgubljenog	A:aem	izgubljen
u	PREP	u
predgrađu	N:n	predgrađe
Pariza	N:m	Pariz
.	SENT	.
U	PREP	u
nizu	N:m	niz
scena	N:f	scena
u	PREP	u
kojima	PRO	koji
junak	N:m	junak
prati	N:f	prati
svoju	PRO	svoj
ćerku	N:f	ćerka
,	PUNCT	,
on	PRO	on
nije	A:aem	nije
toliko	ADV	toliko
otac	N:m	otac
koji	PRO	koji
traži	A:aen	traži
starateljstvo	N:n	starateljstvo
i	CONJ	i
uhodi	N:f	uhoda
svoju	PRO	svoj
bivšu	A:aef	bivši
porodicu	N:f	porodica
koliko	ADV	koliko
labilan	A:aem	labilan
um	N:m	um
koji	PRO	koji
kroz	PREP	kroz
ograde	N:f	ograda
vrtića	N:m	vrtić
,	PUNCT	,
musave	A:aem	musav
prozore	N:m	prozor
motela	N:m	motel
i	CONJ	i
iza	PREP	iza
uglova	N:m	ugao
zgrada	N:f	zgrada
posmatra	N:f	posmatra
svoj	PRO	sav
mogući	A:aem	moguć
dobar	A:aem	dobar
život	N:m	život
mereći	A:aem	mereći
kilometre	N:m	kilometar
koji	PRO	koji
ga	PRO	on
sve	ADV	sve
više	ADV	više
,	PUNCT	,
kako	CONJ	kako
vreme	N:n	vreme
odmiče	N:m	odmiče
,	PUNCT	,
udaljavaju	N:m	udaljavaju
u	PREP	u
crnu	A:aef	crn
rupu	N:f	rupa
sasvim	ADV	sasvim
drugačijeg	A:aem	drugačiji
,	PUNCT	,
lošijeg	A:ben	loš
života	N:m	život
u	PREP	u
samoći	N:f	samoća
i	CONJ	i
bez	PREP	bez
uspeha	N:m	uspeh
.	SENT	.
Na	PREP	na
ovoj	PRO	ovaj
liniji	N:f	linija
,	PUNCT	,
Pawlikowski	A:aem	Pawlikowski
vešto	ADV	vešto
ostavlja	N:n	ostavlja
svog	PRO	svoj
junaka	N:m	junak
da	CONJ	da
pluta	N:n	pluto
u	PREP	u
namerno	ADV	namerno
neizoštrenim	A:aem	neizoštren
drugim	A:aem	drugi
planovima	N:m	plan
kraj	PREP	kraj
sasvim	ADV	sasvim
jasno	ADV	jasno
slikanih	A:aem	slikan
zidova	N:m	zid
zgrada	N:f	zgrada
Pariza	N:m	Pariz
koji	PRO	koji
više	ADV	više
podseća	V:m	podseća
na	PREP	na
ovaj	PRO	ovaj
grad	N:m	grad
iz	PREP	iz
Mržnje	N:f	Mržnje
nego	CONJ	nego
iz	PREP	iz
Funny	A:aem	Funny
Face	N:m	Face
.	SENT	.
Dvojezičnost	N:f	Dvojezičnost
je	PRO	ona
često	ADV	često
korišćena	V:n	koristiti
da	CONJ	da
pokaže	V:n	pokaže
otuđenost	N:f	otuđenost
junaka	N:m	junak
koji	PRO	koji
uporno	ADV	uporno
pokušava	A:aem	pokušava
da	CONJ	da
nađe	A:aem	nađe
izlaz	N:m	izlaz
iz	PREP	iz
košmarnog	A:aen	košmarnog
predgrađa	N:n	predgrađe
gde	CONJ	gde
se	PAR	se
čuje	N:f	čuje
čak	PAR	čak
i	CONJ	i
poljski	A:aem	poljski
pored	PREP	pored
francuskog	A:aem	francuski
kojim	PRO	koji
savršeno	A:aen	savršen
govori	N:m	govor
njegova	PRO	njegov
supruga	N:f	supruga
,	PUNCT	,
uostalom	PAR	uostalom
i	CONJ	i
ćerka	N:f	ćerka
od	PREP	od
šest	NUM	šest
godina	N:f	godina
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
i	CONJ	i
maternji	A:aem	maternji
jezik	N:m	jezik
pisca	N:m	pisac
.	PUNCT	.
Iako	CONJ	iako
povremeno	ADV	povremeno
komičan	A:aem	komičan
,	PUNCT	,
ovaj	PRO	ovaj
“	A:aem	“
poremećaj	N:m	poremećaj
”	A:aem	”
u	PREP	u
sporazumevanju	N:n	sporazumevanje
često	ADV	često
ima	A:aef	ima
ulogu	N:f	uloga
da	CONJ	da
proširi	N:m	proširi
sve	ADV	sve
veći	A:bem	velik
krater	N:m	krater
između	PREP	između
pisca	N:m	pisac
i	CONJ	i
realnog	A:aem	realan
sveta	N:m	svet
kojim	PRO	koji
je	PRO	ona
okružen	V:m	okružiti
a	CONJ	a
u	PREP	u
koji	PRO	koji
očigledno	ADV	očigledno
ne	PAR	ne
može	A:aem	može
ili	CONJ	ili
ne	PAR	ne
ume	N:m	um
da	CONJ	da
se	PAR	se
uklopi	N:m	uklopi
tako	ADV	tako
da	CONJ	da
u	PREP	u
jednom	NUM	jedan
trenutku	N:m	trenutak
on	PRO	on
počinje	N:f	počinje
da	CONJ	da
sumnja	N:f	sumnja
čak	PAR	čak
i	CONJ	i
u	PREP	u
jezik	N:m	jezik
kojim	PRO	koji
je	PRO	ona
napisao	V:m	napisati
svoje	PRO	svoj
delo	N:n	delo
(	PUNCT	(
“	A:aem	“
Možda	N:f	Možda
bolje	ADV	bolje
zvuči	V:m	zvuči
na	PREP	na
poljskom	A:aem	poljski
”	N:m	”
,	PUNCT	,
kaže	N:f	kaža
šankerici	N:f	šankerica
Poljakinji	N:f	Poljakinja
koja	PRO	koji
radi	PREP	radi
u	PREP	u
restoranu	N:m	restoran
motela	N:m	motel
)	PUNCT	)
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
Žena	A:aen	Žena
iz	PREP	iz
susedstva	N:n	susedstvo
poklekne	N:m	poklekne
u	PREP	u
razrešenju	N:n	razrešenje
ove	PRO	ovaj
pažljivo	ADV	pažljivo
štrikane	A:aef	štrikan
paučine	N:f	paučina
misterije	N:f	misterija
,	PUNCT	,
halucinacija	N:f	halucinacija
i	CONJ	i
slika	N:f	slika
koje	PRO	koji
precizno	ADV	precizno
lociraju	A:aem	lociraju
junaka	N:m	junak
na	PREP	na
rubu	N:m	rub
između	PREP	između
sna	N:m	san
i	CONJ	i
jave	N:f	java
tražeći	A:aen	tražeći
od	PREP	od
njega	PRO	on
da	CONJ	da
se	PAR	se
opredeli	V:m	opredeli
.	SENT	.
Pawlikowski	A:aem	Pawlikowski
je	PRO	ona
razrešenjem	N:n	razrešenje
dozvolio	V:m	dozvoliti
jednu	NUM	jedan
od	PREP	od
gorih	A:aef	gorih
stvari	N:f	stvar
koja	PRO	koji
mu	PRO	on
se	PAR	se
može	A:aem	može
prikačiti	N:f	prikačiti
kao	CONJ	kao
reditelju	N:m	reditelj
prilično	ADV	prilično
intrigantnog	A:aen	intrigantan
stila	N:n	stilo
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
da	CONJ	da
se	PAR	se
olako	ADV	olako
u	PREP	u
svojoj	PRO	svoj
inspiraciji	N:f	inspiracija
pozvao	V:m	pozvati
na	PREP	na
sve	PRO	sav
gore	ADV	gore
pomenute	A:aef	pomenut
uzore	N:m	uzor
.	SENT	.
Razrešenje	N:n	Razrešenje
kao	CONJ	kao
i	CONJ	i
poruka	N:f	poruka
koju	PRO	koji
šalje	N:m	šalje
mogli	V:m	moći
su	N:m	su
biti	N:f	bit
deo	N:m	deo
bilo	V:n	biti
koje	PRO	koji
TV	A:aem	TV
drame	N:f	drama
ili	CONJ	ili
jeftine	A:aef	jeftin
sapunice	N:f	sapunica
koja	PRO	koji
nije	N:f	nije
morala	V:f	morati
ovoliko	ADV	ovoliko
kafkijanski	A:aem	kafkijanski
,	PUNCT	,
osterovski	N:f	osterovski
ili	CONJ	ili
kako	CONJ	kako
god	PAR	god
obigravati	A:aem	obigravati
oko	PREP	oko
svog	PRO	svoj
obroka	N:m	obrok
.	SENT	.
