Sačekao	A:aem	Sačekao
sam	A:aem	sam
da	CONJ	da
prođe	N:f	prođa
par	N:m	par
dana	N:m	dan
od	PREP	od
odgledanog	A:aem	odgledan
filma	N:m	film
kako	CONJ	kako
bi	N:m	bi
mi	PRO	ja
se	PAR	se
sabrali	V:m	sabrati
utisci	N:m	utisak
.	SENT	.
Hmmm	N:m	Hmmm
…	SENT	…
čekao	V:m	čekati
sam	PRO	sam
,	PUNCT	,
čekao	V:m	čekati
i	CONJ	i
ništa	ADV	ništa
.	SENT	.
Ostajem	N:m	Ostajem
teško	ADV	teško
neodlučan	A:aem	neodlučan
u	PREP	u
kom	PRO	koji
smeru	N:m	smer
uopšte	ADV	uopšte
da	CONJ	da
idem	N:m	idem
u	PREP	u
“	N:m	“
procenjivanju	N:n	procenjivanje
”	N:m	”
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
broj	N:m	broj
kokica	N:f	kokica
u	PREP	u
ovom	PRO	ovaj
slučaju	N:m	slučaj
slobodno	ADV	slobodno
možete	A:aem	možete
da	CONJ	da
zanemarite	N:m	zanemarite
,	PUNCT	,
a	CONJ	a
ja	PRO	ja
ću	N:m	ću
se	PAR	se
potruditi	V:n	potruditi
da	CONJ	da
se	PAR	se
držim	N:m	držim
konkretluka	N:m	konkretluka
…	SENT	…
Dok	N:m	Dok
gledate	A:aem	gledate
prvih	A:aef	prvi
desetak	ADV	desetak
minuta	N:m	minut
“	A:aem	“
Bed	N:m	Bed
lutenet	A:aem	lutenet
”	N:m	”
-	PUNCT	-
a	CONJ	a
prvo	ADV	prvo
što	CONJ	što
vam	PRO	vi
pada	N:m	pad
napamet	ADV	napamet
jeste	INT	jeste
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
verovatno	ADV	verovatno
najbolja	A:cem	dobar
Nikolas	N:m	Nikolas
Kejdžova	A:aef	Kejdžov
uloga	N:f	uloga
još	ADV	još
od	PREP	od
Mečstik	N:m	Mečstik
Mena	N:m	Men
,	PUNCT	,
iako	CONJ	iako
će	N:m	će
vam	PRO	vi
se	PAR	se
na	PREP	na
trenutak	N:m	trenutak
učiniti	A:aem	učiniti
da	CONJ	da
je	PRO	ona
samo	PAR	samo
pokušao	V:m	pokušati
da	CONJ	da
se	PAR	se
izvuče	A:aem	izvuče
proverenu	A:aef	proveren
foru	N:f	fora
.	SENT	.
Ostali	V:m	ostati
glumci	N:m	glumac
su	N:m	su
toliko	ADV	toliko
duboko	ADV	duboko
u	PREP	u
Kejdžovoj	A:aef	Kejdžov
senci	N:f	senka
da	CONJ	da
nisu	N:m	nisu
vredni	A:aem	vredan
pomena	N:m	pomen
.	SENT	.
Sem	PREP	sem
Eve	N:f	Eva
Mendez	N:m	Mendez
.	SENT	.
Ona	PRO	ona
je	PRO	ona
vredna	A:aem	vredan
pomena	N:m	pomen
.	SENT	.
Režija	N:m	Režija
je	PRO	ona
blago	ADV	blago
rečeno	V:n	reći
uvrnuta	A:aen	uvrnut
i	CONJ	i
krajnje	ADV	krajnje
nedosledna	A:aen	nedosledan
(	PUNCT	(
ili	CONJ	ili
možda	PAR	možda
dosledna	A:aem	dosledan
holivudskom	A:aem	holivudski
koksu	N:m	koks
)	PUNCT	)
,	PUNCT	,
niste	N:m	niste
ni	CONJ	ni
sami	A:aem	sam
sigurni	A:aem	siguran
da	CONJ	da
li	PAR	li
gledate	A:aem	gledate
odmetničko	A:aen	odmetnički
,	PUNCT	,
artističko	A:aen	artistički
ostvarenje	N:n	ostvarenje
ili	CONJ	ili
mejstrimaški	A:aem	mejstrimaški
akcioni	A:aem	akcioni
film	N:m	film
B	ABB	B
produkcije	N:f	produkcija
sa	PREP	sa
puno	A:aen	pun
pištolja	N:m	pištolj
i	CONJ	i
golotinje	N:f	golotinja
.	SENT	.
(	PUNCT	(
Spojler	N:m	Spojler
:	PUNCT	:
Scena	N:f	scena
seksa	N:m	seks
na	PREP	na
parkingu	N:m	parking
,	PUNCT	,
na	PREP	na
kreku	N:m	kreku
,	PUNCT	,
je	PRO	ona
krajnje	ADV	krajnje
retardirana	A:aem	retardiran
i	CONJ	i
unajviše	A:aem	unajviše
doprinosi	N:m	doprinos
mojoj	PRO	moj
neodlučnosti	N:f	neodlučnost
)	PUNCT	)
.	SENT	.
Poneki	PRO	poneki
kadrovi	N:m	kadar
i	CONJ	i
fotografija	N:f	fotografija
deluju	N:m	deluju
kao	CONJ	kao
da	CONJ	da
su	N:m	su
deknuti	A:aem	deknuti
iz	PREP	iz
serije	N:f	serija
“	A:aem	“
Tru	A:aem	Tru
blad	N:m	blad
”	N:m	”
,	PUNCT	,
mada	CONJ	mada
scenografija	N:f	scenografija
postapokaliptičnog	A:aem	postapokaliptičnog
Nju	A:aem	Nju
Orleansa	N:m	Orleansa
dosta	ADV	dosta
doprinosi	N:m	doprinos
tom	PRO	taj
utisku	N:m	utisak
.	SENT	.
Kejdž	N:m	Kejdž
igra	N:f	igra
lošeg	A:aem	loš
načelnika	N:m	načelnik
(	PUNCT	(
valjda	PAR	valjda
se	PAR	se
tako	ADV	tako
prevodi	N:m	prevod
lutenet	A:aem	lutenet
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
posle	PREP	posle
spašavanja	N:n	spašavanje
sitnog	A:aen	sitan
krimosa	N:m	krimos
tokom	PREP	tokom
poplava	N:f	poplava
trpi	N:f	trpi
tešku	A:aef	težak
povredu	N:f	povreda
kičme	N:f	kičma
zbog	PREP	zbog
koje	PRO	koji
je	PRO	ona
stalno	ADV	stalno
u	PREP	u
gudrama	N:f	gudrama
.	SENT	.
Dok	CONJ	dok
se	PAR	se
u	PREP	u
getu	N:m	geto
Nju	A:aem	Nju
Orleansa	N:m	Orleansa
dešava	A:aem	dešava
ubistvo	N:n	ubistvo
za	PREP	za
koje	PRO	koji
je	PRO	ona
osumnjičen	A:aem	osumnjičen
Egzibit	N:m	Egzibit
,	PUNCT	,
Kejdž	N:m	Kejdž
pokušava	N:f	pokušava
da	CONJ	da
iz	PREP	iz
sobe	N:f	soba
za	PREP	za
dokaze	N:m	dokaz
promuva	N:f	promuva
još	ADV	još
malo	ADV	malo
koksa	N:m	koks
…	SENT	…
I	A:aen	I
da	CONJ	da
…	SENT	…
Igra	N:f	igra
Val	N:m	Val
Kilmer	N:m	Kilmer
.	SENT	.
Toliko	ADV	toliko
o	PREP	o
ulozi	N:f	uloga
,	PUNCT	,
sada	ADV	sada
sam	PRO	sam
se	PAR	se
setio	V:m	setiti
.	SENT	.
Šest	N:m	Šest
kokica	N:f	kokica
koje	PRO	koji
možda	PAR	možda
i	CONJ	i
nisu	N:m	nisu
kokice	N:f	kokica
.	SENT	.
Nego	CONJ	nego
koks	N:m	koks
kokice	N:f	kokica
.	SENT	.
