Kada	CONJ	kada
sam	PRO	sam
govorio	V:m	govoriti
o	PREP	o
filmu	N:m	film
17	NUM	@card@
Again	N:m	Again
,	PUNCT	,
rekao	V:m	reći
sam	PRO	sam
da	CONJ	da
je	PRO	ona
on	PRO	on
u	PREP	u
potpunosti	N:f	potpunost
iskoristio	V:m	iskoristiti
već	CONJ	već
postojeću	A:aef	postojeći
ideju	N:f	ideja
o	PREP	o
podmlađivanju	N:n	podmlađivanje
.	SENT	.
Postoji	N:m	Postoji
još	ADV	još
filmova	N:m	film
na	PREP	na
taj	PRO	taj
fazon	N:m	fazon
ali	CONJ	ali
ovo	PRO	ovaj
je	PRO	ona
prvi	A:aem	prvi
koji	PRO	koji
vidim	N:m	vidim
da	CONJ	da
u	PREP	u
njemu	PRO	on
neko	PRO	neki
postaje	N:f	postaja
stariji	A:bem	star
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
ovo	PRO	ovaj
nikako	PAR	nikako
ne	PAR	ne
treba	N:f	treba
shvatati	A:aem	shvatati
kao	CONJ	kao
inteligentnu	A:aef	inteligentan
komediju	N:f	komedija
ili	CONJ	ili
ozbiljan	A:aem	ozbiljan
film	N:m	film
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
ono	PRO	onaj
što	CONJ	što
ja	PRO	ja
zovem	A:aem	zovem
glupava	A:aef	glupav
zabava	N:f	zabava
ali	CONJ	ali
u	PREP	u
svom	PRO	sav
veoma	ADV	veoma
dobrom	A:aem	dobar
izdanju	N:n	izdanje
.	SENT	.
Budimo	N:f	Budimo
realni	A:aem	realan
,	PUNCT	,
ko	PRO	ko
ne	PAR	ne
želi	V:m	žeti
da	CONJ	da
gleda	N:m	gleda
nešto	PRO	nešto
ovakvo	PRO	ovakav
.	PUNCT	.
Sasvim	ADV	sasvim
je	PRO	ona
sjajno	ADV	sjajno
prikazano	V:n	prikazati
kako	CONJ	kako
devojčica	N:f	devojčica
u	PREP	u
telu	N:n	telo
tridesetogodišnjakinje	N:f	tridesetogodišnjakinje
razmišlja	N:f	razmišlja
.	SENT	.
To	PRO	taj
je	PRO	ona
ono	PRO	onaj
najbolje	ADV	najbolje
u	PREP	u
filmu	N:m	film
.	SENT	.
Način	N:m	Način
na	PREP	na
koji	PRO	koji
se	PAR	se
naša	PRO	naš
glavna	A:aef	glavna
junakinja	N:f	junakinja
,	PUNCT	,
sada	ADV	sada
kao	CONJ	kao
starija	A:bef	star
,	PUNCT	,
ophodi	N:m	ophod
prema	PREP	prema
klinkama	N:f	klinka
,	PUNCT	,
na	PREP	na
koji	PRO	koji
način	N:m	način
posmatra	N:m	posmatra
na	PREP	na
ljubav	N:f	ljubav
,	PUNCT	,
seks	N:m	seks
i	CONJ	i
odnose	N:m	odnos
i	CONJ	i
sa	PREP	sa
kojom	PRO	koji
nevinošću	N:f	nevinost
ulazi	N:m	ulaz
u	PREP	u
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
način	N:m	način
na	PREP	na
koji	PRO	koji
priča	N:f	priča
o	PREP	o
svojim	PRO	svoj
'	A:aem	'
oblinama	N:f	oblina
'	N:m	'
.	PUNCT	.
.	SENT	.
.	PUNCT	.
sve	PRO	sav
to	PRO	taj
je	PRO	ona
sjajna	A:aef	sjajan
zabava	N:f	zabava
.	PUNCT	.
.	SENT	.
.	PUNCT	.
ni	PAR	ni
manje	ADV	manje
ni	CONJ	ni
više	ADV	više
od	PREP	od
toga	PRO	taj
.	SENT	.
U	PREP	u
glavnoj	A:aef	glavnoj
ulozi	N:f	uloga
se	PAR	se
našla	V:m	naći
simpatična	A:aef	simpatičan
Dženifer	N:f	Dženifer
Garner	N:m	Garner
,	PUNCT	,
poznata	A:aem	poznat
iz	PREP	iz
glupave	A:aef	glupav
serije	N:f	serija
Alias	N:m	Alias
.	SENT	.
Iskreno	ADV	iskreno
nisam	N:m	nisam
nešto	ADV	nešto
bio	V:m	biti
oduševljen	V:m	oduševiti
njome	PRO	ona
do	PREP	do
sada	ADV	sada
,	PUNCT	,
ali	CONJ	ali
način	N:m	način
na	PREP	na
koji	PRO	koji
je	PRO	ona
odlgumila	V:n	odlgumila
ovu	PRO	ovaj
totalno	A:aen	totalan
otkačenu	A:aef	otkačen
ulogu	N:f	uloga
je	PRO	ona
skroz	ADV	skroz
ok	A:aem	ok
a	CONJ	a
način	N:m	način
na	PREP	na
koji	PRO	koji
se	PAR	se
smeje	N:m	smej
mi	PRO	ja
je	PRO	ona
zaista	ADV	zaista
sjajan	A:aem	sjajan
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
postoji	N:m	postoji
gomila	N:f	gomila
šablona	N:m	šablon
u	PREP	u
filmu	N:m	film
,	PUNCT	,
među	PREP	među
njima	PRO	ona
i	CONJ	i
onaj	PRO	onaj
glupavi	A:aem	glupav
koji	PRO	koji
me	PRO	ja
najviše	ADV	najviše
nervira	N:m	nervira
,	PUNCT	,
koji	PRO	koji
ste	N:f	ste
gledali	V:m	gledati
u	PREP	u
99	NUM	@card@
%	N:m	%
romantičnih	A:aef	romantičan
komedija	N:f	komedija
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Kao	ADV	kao
sve	ADV	sve
ide	V:m	ide
ka	PREP	ka
nečem	PRO	nešto
lepom	A:aem	lep
,	PUNCT	,
onda	CONJ	onda
se	PAR	se
to	PRO	taj
lepo	A:aen	lep
desi	N:m	desi
,	PUNCT	,
onda	ADV	onda
nešto	ADV	nešto
iskrsne	A:aem	iskrsne
što	CONJ	što
sve	PRO	sav
zajebe	N:m	zajeb
i	CONJ	i
na	PREP	na
kraju	N:m	kraj
sve	PRO	sav
to	PRO	taj
bude	A:aem	bude
kako	CONJ	kako
treba	N:f	treba
.	SENT	.
Ovde	ADV	ovde
je	PRO	ona
'	N:m	'
na	PREP	na
kraju	N:m	kraj
sve	PRO	sav
to	PRO	taj
bude	A:aem	bude
kako	CONJ	kako
treba	N:f	treba
'	A:aem	'
deo	N:m	deo
prilično	ADV	prilično
slabašno	ADV	slabašno
odrađen	V:m	odraditi
.	PUNCT	.
Ali	CONJ	ali
dobro	ADV	dobro
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
komedijica	N:f	komedijica
za	PREP	za
razbribrigu	N:f	razbribrigu
,	PUNCT	,
ne	PAR	ne
bi	A:aem	bi
trebali	V:m	trebati
tražiti	A:aem	tražiti
dlaku	N:f	dlaka
u	PREP	u
jajetu	N:n	jaje
već	CONJ	već
je	PRO	ona
pogledati	V:m	pogledati
čisto	ADV	čisto
radi	PREP	radi
malo	A:aen	mali
zabave	N:f	zabava
.	SENT	.
