Pre	ADV	pre
nego	CONJ	nego
se	PAR	se
bacim	N:m	bacim
na	PREP	na
analizu	N:f	analiza
ozbiljnijih	A:bem	ozbiljan
i	CONJ	i
/	A:aem	/
ili	CONJ	ili
poznatijih	A:bem	poznat
filmova	N:m	film
,	PUNCT	,
evo	PAR	evo
jednog	NUM	jedan
kratkog	A:aem	kratak
prikaza	N:m	prikaz
filma	N:m	film
koji	PRO	koji
pogledah	N:m	pogledah
za	PREP	za
svoju	PRO	svoj
dušu	N:f	duša
.	SENT	.
Na	PREP	na
početku	N:m	početak
vidimo	A:aen	vidimo
obred	N:m	obred
u	PREP	u
kom	PRO	koji
živu	A:aen	živ
sahranjuju	N:m	sahranjuju
egipatsku	A:aef	egipatski
kraljicu	N:f	kraljica
pri	PREP	pri
čemu	PRO	šta
joj	PRO	ona
odsecaju	N:m	odsecaju
i	CONJ	i
ruku	N:f	ruka
.	SENT	.
Epilog	N:m	epilog
toga	PRO	taj
je	PRO	ona
jeziv	A:aem	jeziv
i	CONJ	i
niko	PRO	niko
od	PREP	od
likova	N:n	likovo
koji	PRO	koji
su	N:m	su
je	PRO	ona
sahranili	V:m	sahraniti
nije	V:m	nije
preživeo	V:m	preživeti
narednih	A:aef	naredni
nekoliko	PRO	nekolik
trenutaka	N:m	trenutak
.	SENT	.
Te	PRO	taj
scene	N:f	scena
opasno	ADV	opasno
dobro	ADV	dobro
izgledaju	N:m	izgledaju
,	PUNCT	,
odlično	ADV	odlično
su	N:m	su
uslikane	V:f	uslikati
i	CONJ	i
zaista	PAR	zaista
obećavaju	V:n	obećavaju
mnogo	ADV	mnogo
.	SENT	.
Potom	ADV	potom
nas	PRO	mi
film	N:m	film
baca	N:m	baca
u	PREP	u
današnjicu	N:f	današnjica
gde	CONJ	gde
jedna	NUM	jedan
devojka	N:f	devojka
sanja	N:f	sanja
onaj	PRO	onaj
obred	N:m	obred
a	CONJ	a
više	ADV	više
likova	N:n	likovo
vidi	N:f	vida
znakove	N:m	znak
nadolazeće	A:aef	nadolazeći
propasti	N:f	propast
ili	CONJ	ili
čega	PRO	šta
već	PAR	već
.	PUNCT	.
Ovo	PRO	ovaj
je	PRO	ona
sve	PAR	sve
dobro	ADV	dobro
ukomponovano	V:n	ukomponovati
,	PUNCT	,
pre	PREP	pre
svega	PRO	sav
što	CONJ	što
likovi	N:m	lik
deluju	N:m	deluju
donekle	ADV	donekle
nepovezano	ADV	nepovezano
a	CONJ	a
sve	ADV	sve
veoma	ADV	veoma
dobro	ADV	dobro
sluti	V:m	sluti
na	PREP	na
nesreću	N:f	nesreća
.	SENT	.
2	NUM	@card@
arheologa	N:m	arheolog
,	PUNCT	,
vidovnjak	N:m	vidovnjak
,	PUNCT	,
jedan	NUM	jedan
čovek	N:m	čovek
u	PREP	u
ludnici	N:f	ludnica
i	CONJ	i
jedan	NUM	jedan
misteriozni	A:aem	misteriozan
čova	N:f	čova
koji	PRO	koji
posmatra	N:m	posmatra
onu	PRO	onaj
devojku	N:f	devojka
-	PUNCT	-
svi	PRO	sav
oni	PRO	onaj
vide	N:m	vid
znake	N:m	znak
nečeg	PRO	nešto
što	PRO	što
dolazi	N:m	dolaz
.	PUNCT	.
Tek	CONJ	tek
onda	CONJ	onda
ih	PRO	ona
povezuje	N:m	povezuje
jedna	NUM	jedan
scena	N:f	scena
iz	PREP	iz
prošlosti	N:f	prošlost
kada	CONJ	kada
vidimo	N:f	vidimo
da	CONJ	da
su	N:m	su
oni	PRO	onaj
zapravo	ADV	zapravo
otkrili	V:m	otkriti
grobnicu	N:f	grobnica
ove	PRO	ovaj
egipatske	A:aef	egipatski
kraljice	N:f	kraljica
i	CONJ	i
odneli	V:m	odneti
sarkofag	N:m	sarkofag
iz	PREP	iz
nje	PRO	ona
sa	PREP	sa
sve	PRO	sav
savršeno	ADV	savršeno
očuvanim	A:aen	očuvan
telom	N:n	telo
.	SENT	.
Vidimo	N:f	Vidimo
da	CONJ	da
je	PRO	ona
ova	PRO	ovaj
mlada	A:aef	mlad
devojka	N:f	devojka
likom	N:m	lik
ista	A:aef	isti
kao	CONJ	kao
kraljica	N:f	kraljica
,	PUNCT	,
od	PREP	od
oca	N:m	otac
dobija	N:n	dobija
prsten	N:m	prsten
koji	PRO	koji
je	PRO	ona
bio	V:m	biti
na	PREP	na
kraljičinoj	A:aef	kraljičin
(	PUNCT	(
odsečenoj	A:aef	odsečen
)	PUNCT	)
ruci	N:f	ruka
i	CONJ	i
zabava	N:f	zabava
može	A:aem	može
da	CONJ	da
počne	A:aem	počne
.	PUNCT	.
Ako	CONJ	ako
na	PREP	na
ovo	PRO	ovaj
gledamo	N:f	gledamo
kao	CONJ	kao
na	PREP	na
film	N:m	film
koji	PRO	koji
će	A:aem	će
sadržati	A:aem	sadržati
kaznu	N:f	kazna
za	PREP	za
likove	N:m	lik
koji	PRO	koji
su	N:m	su
oskrnavili	V:m	oskrnaviti
grobnicu	N:f	grobnica
,	PUNCT	,
film	N:m	film
je	PRO	ona
čista	A:aef	čist
desetka	N:f	desetka
.	SENT	.
Svako	PRO	svaki
je	PRO	ona
uzeo	V:m	uzeti
po	PREP	po
artefakt	N:m	artefakt
i	CONJ	i
svako	PRO	svaki
će	N:f	će
žestoko	ADV	žestoko
nadrljati	A:aem	nadrljati
.	SENT	.
Sve	PRO	sav
te	PRO	taj
scene	N:f	scena
u	PREP	u
kojima	PRO	koji
otkrivamo	N:f	otkrivamo
povezanost	N:f	povezanost
ovih	PRO	ovaj
likova	N:n	likovo
sa	PREP	sa
otvaranjem	N:n	otvaranje
grobnice	N:f	grobnica
,	PUNCT	,
potom	ADV	potom
sve	PRO	sav
scene	N:f	scena
u	PREP	u
kojima	PRO	koji
vidimo	A:aen	vidimo
kažnjavanje	N:n	kažnjavanje
tih	PRO	taj
istih	A:aef	isti
likova	N:n	likovo
,	PUNCT	,
sve	PRO	sav
je	PRO	ona
to	PRO	taj
perfektno	ADV	perfektno
.	SENT	.
Prvo	ADV	prvo
je	PRO	ona
dobra	A:aef	dobar
ideja	N:f	ideja
,	PUNCT	,
drugo	A:aen	drugi
je	PRO	ona
odlično	ADV	odlično
osmišljeno	A:aen	osmišljen
,	PUNCT	,
treće	A:aen	treći
ima	A:aem	ima
odličan	A:aem	odličan
tajming	N:m	tajming
,	PUNCT	,
četvrto	A:aen	četvrti
,	PUNCT	,
te	PRO	taj
scene	N:f	scena
se	PAR	se
ne	PAR	ne
razvlače	A:aef	razvlače
već	CONJ	već
su	PREF	su
kratke	A:aef	kratak
i	CONJ	i
efikasne	A:aef	efikasan
.	SENT	.
Ponavljam	N:m	Ponavljam
,	PUNCT	,
što	CONJ	što
se	PAR	se
tiče	N:n	tiče
dela	N:n	delo
priče	N:f	priča
gde	CONJ	gde
nadrljaju	N:m	nadrljaju
likovi	N:m	lik
koji	PRO	koji
oskrnaviše	A:aem	oskrnaviše
grobnicu	N:f	grobnica
,	PUNCT	,
od	PREP	od
mene	PRO	ja
taj	PRO	taj
deo	N:m	deo
filma	N:m	film
ima	A:aem	ima
čistu	A:aef	čist
desetku	N:f	desetka
.	SENT	.
Ono	PRO	onaj
što	PRO	što
je	PRO	ona
nabacano	V:n	nabacati
je	PRO	ona
sama	A:aen	sam
priča	N:f	priča
vezana	V:n	vezati
za	PREP	za
tu	PRO	taj
kraljicu	N:f	kraljica
.	SENT	.
Šta	A:aem	Šta
je	PRO	ona
ona	PRO	ona
,	PUNCT	,
zašto	ADV	zašto
su	N:m	su
je	PRO	ona
uspavali	V:m	uspavati
pa	CONJ	pa
živu	A:aen	živ
sahranili	V:m	sahraniti
,	PUNCT	,
kakve	PRO	kakav
su	N:m	su
njene	PRO	njen
moći	N:f	moć
,	PUNCT	,
zašto	ADV	zašto
bi	A:aem	bi
da	CONJ	da
se	PAR	se
probudi	V:n	probudi
sada	ADV	sada
,	PUNCT	,
stotinama	ADV	stotinama
godina	N:f	godina
kasnije	ADV	kasnije
,	PUNCT	,
i	CONJ	i
šta	PRO	šta
kada	CONJ	kada
se	PAR	se
probudi	N:f	probudi
,	PUNCT	,
šta	PRO	šta
će	N:f	će
da	CONJ	da
radi	PREP	radi
,	PUNCT	,
šta	PRO	šta
su	N:m	su
joj	PRO	ona
planovi	N:m	plan
.	SENT	.
To	PRO	taj
je	PRO	ona
potpuno	ADV	potpuno
nedorečeno	A:aen	nedorečen
,	PUNCT	,
cilj	N:m	cilj
je	PRO	ona
probuditi	N:m	probuditi
je	PRO	ona
pa	PAR	pa
ćemo	N:f	ćemo
da	CONJ	da
vidimo	N:f	vidimo
.	SENT	.
Nja	N:n	Nja
,	PUNCT	,
za	PREP	za
mene	PRO	ja
je	PRO	ona
to	PRO	taj
neubedljivo	A:aen	neubedljiv
.	PUNCT	.
Druga	A:aef	drugi
stvar	N:f	stvar
je	PRO	ona
motiv	N:m	motiv
jednog	NUM	jedan
od	PREP	od
likova	N:n	likovo
da	CONJ	da
je	PRO	ona
probudi	N:f	probudi
,	PUNCT	,
i	CONJ	i
to	PRO	taj
je	PRO	ona
potpuno	ADV	potpuno
nejasno	ADV	nejasno
.	SENT	.
Sve	PRO	sav
je	PRO	ona
napravljeno	V:n	napraviti
super	ADV	super
,	PUNCT	,
vezano	ADV	vezano
za	PREP	za
tog	PRO	taj
lika	N:m	lik
,	PUNCT	,
ali	CONJ	ali
samo	PAR	samo
mi	PRO	ja
nije	N:f	nije
jasan	A:aem	jasan
taj	PRO	taj
motiv	N:m	motiv
,	PUNCT	,
tu	PRO	taj
su	N:m	su
morali	V:m	morati
malo	ADV	malo
da	CONJ	da
se	PAR	se
potrude	N:f	potrude
.	SENT	.
Treći	N:f	Treći
i	CONJ	i
najveći	A:cem	velik
problem	N:m	problem
je	PRO	ona
to	PRO	taj
što	CONJ	što
ova	PRO	ovaj
kraljica	N:f	kraljica
kao	CONJ	kao
da	CONJ	da
deluje	N:m	deluje
kroz	PREP	kroz
devojku	N:f	devojka
.	SENT	.
Hm	INT	hm
,	PUNCT	,
zašto	CONJ	zašto
je	PRO	ona
onda	ADV	onda
potrebno	ADV	potrebno
buditi	ADV	buditi
je	PRO	ona
ako	CONJ	ako
već	PAR	već
obuzima	N:n	obuzima
ovo	PRO	ovaj
devojče	N:n	devojče
.	SENT	.
Tu	ADV	tu
je	PRO	ona
nastala	V:n	nastati
potpuna	A:aef	potpun
zbrka	N:f	zbrka
i	CONJ	i
taj	PRO	taj
deo	N:m	deo
filma	N:m	film
je	PRO	ona
malo	ADV	malo
konfuzan	A:aem	konfuzan
.	SENT	.
Ono	PRO	onaj
što	PRO	što
će	N:m	će
se	PAR	se
svakako	ADV	svakako
svideti	V:m	svideti
muškom	A:aem	muški
delu	N:m	deo
populacije	N:f	populacija
je	PRO	ona
glavna	A:aef	glavna
glumica	N:f	glumica
.	SENT	.
Zaista	PAR	zaista
je	PRO	ona
prelepa	A:aen	prelep
i	CONJ	i
dosta	ADV	dosta
se	PAR	se
potencira	N:m	potencira
na	PREP	na
njoj	PRO	ona
i	CONJ	i
njenoj	PRO	njen
lepoti	N:f	lepota
pa	CONJ	pa
i	CONJ	i
polugolišavim	A:aem	polugolišavim
scenama	N:f	scena
gde	CONJ	gde
bujno	A:aen	bujan
poprsje	N:n	poprsje
samo	CONJ	samo
što	CONJ	što
joj	PRO	ona
ne	PAR	ne
iskoči	V:m	iskoči
iz	PREP	iz
odeće	N:f	odeća
.	SENT	.
Verujte	N:m	Verujte
mi	PRO	ja
,	PUNCT	,
u	PREP	u
nekim	PRO	neki
scenam	N:m	scenam
to	PRO	taj
ume	N:m	um
baš	PAR	baš
da	CONJ	da
skrene	A:aef	skrene
pažnju	N:f	pažnja
.	SENT	.
Da	CONJ	da
li	PAR	li
je	PRO	ona
to	PRO	taj
prednost	N:f	prednost
ili	CONJ	ili
mana	N:f	mana
,	PUNCT	,
procenite	A:aem	procenite
sami	A:aem	sam
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
za	PREP	za
mene	PRO	ja
mana	N:f	mana
je	PRO	ona
što	PRO	što
sem	PREP	sem
prve	A:aem	prvi
scene	N:f	scena
obreda	N:m	obred
i	CONJ	i
mudadžijske	A:aem	mudadžijske
poslednje	A:aen	poslednji
scene	N:f	scena
koja	PRO	koji
vam	PRO	vi
ostavi	N:f	ostava
znak	N:m	znak
pitanja	N:n	pitanje
nad	PREP	nad
glavom	N:f	glava
,	PUNCT	,
ovde	ADV	ovde
ništa	ADV	ništa
drugo	A:aen	drugi
ne	PAR	ne
može	A:aen	može
da	CONJ	da
se	PAR	se
nazove	A:aem	nazove
hororom	N:m	horor
.	SENT	.
Ima	A:aem	Ima
tu	PRO	taj
krvi	N:f	krv
ali	CONJ	ali
nigde	ADV	nigde
tenzije	N:f	tenzija
,	PUNCT	,
nigde	ADV	nigde
strave	N:f	strava
,	PUNCT	,
samo	PAR	samo
jednostavna	A:aem	jednostavan
pričica	N:f	pričica
o	PREP	o
mogućem	A:aem	moguć
povratku	N:m	povratak
egipatske	A:aef	egipatski
kraljice	N:f	kraljica
i	CONJ	i
kažnjavanju	N:n	kažnjavanje
ljudi	N:m	ljudi
koji	PRO	koji
joj	PRO	ona
oskrnaviše	A:aem	oskrnaviše
grob	N:m	grob
.	SENT	.
Da	CONJ	da
su	N:m	su
se	PAR	se
malo	ADV	malo
više	ADV	više
potrudili	V:m	potruditi
oko	PREP	oko
kraljice	N:f	kraljica
,	PUNCT	,
motiva	N:m	motiv
njenog	PRO	njen
povratka	N:m	povratak
,	PUNCT	,
njenim	PRO	njen
moćima	N:f	moć
,	PUNCT	,
istorijom	N:f	istorija
i	CONJ	i
sposobnostima	N:f	sposobnost
,	PUNCT	,
ovo	PRO	ovaj
bi	N:f	bi
bio	V:m	biti
klasik	N:m	klasik
svakako	ADV	svakako
.	SENT	.
Bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
mane	N:f	mana
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
simatičan	A:aem	simatičan
filmić	N:f	filmić
koji	PRO	koji
će	A:aem	će
prijati	A:aem	prijati
fanovima	N:m	fan
starih	A:aen	star
hororčića	N:m	hororčića
koji	PRO	koji
su	N:m	su
ipak	PAR	ipak
morali	V:m	morati
imati	N:f	imati
smišljenu	A:aef	smišljen
priču	N:f	priča
za	PREP	za
razliku	N:f	razlika
od	PREP	od
današnjih	A:aem	današnji
bulažnjenja	N:n	bulažnjenje
.	SENT	.
