Originalna	A:aem	originalan
verzija	N:f	verzija
nije	A:aen	nije
savršena	A:aef	savršen
,	PUNCT	,
ima	N:n	ima
bolju	A:bef	dobar
priču	N:f	priča
i	CONJ	i
razvijenije	A:bem	razvijen
karaktere	N:m	karakter
,	PUNCT	,
ali	CONJ	ali
nova	A:aef	nov
ima	N:f	ima
bolju	A:bef	dobar
akciju	N:f	akcija
i	CONJ	i
efekte	N:m	efekt
.	SENT	.
Ako	CONJ	ako
zanemarite	N:m	zanemarite
neke	PRO	neki
nedostatke	N:m	nedostatak
,	PUNCT	,
zabavićete	N:m	zabavićete
se	PAR	se
uz	PREP	uz
non	N:m	non
-	PUNCT	-
stop	INT	stop
akciju	N:f	akcija
skoro	ADV	skoro
puna	A:aen	pun
dva	NUM	dva
sata	N:m	sat
Sa	A:aem	Sa
rimejkovima	N:f	rimejkovima
treba	N:f	treba
biti	N:f	bit
oprezan	A:aem	oprezan
.	SENT	.
Oni	PRO	onaj
koji	PRO	koji
se	PAR	se
late	N:m	lat
tog	PRO	taj
posla	N:m	posao
moraju	N:m	moraju
da	CONJ	da
udovolje	A:aem	udovolje
ljubiteljima	N:m	ljubitelj
originala	N:m	original
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
da	CONJ	da
pridobiju	N:f	pridobiju
publiku	N:f	publika
koja	PRO	koji
se	PAR	se
prvi	A:aem	prvi
put	N:m	put
upoznaje	N:m	upoznaje
s	PREP	s
materijom	N:f	materija
.	PUNCT	.
Kao	CONJ	kao
i	CONJ	i
mnogi	A:aem	mnogi
obožavaoci	N:m	obožavalac
filma	N:m	film
iz	PREP	iz
1981	NUM	@card@
,	PUNCT	,
jedva	ADV	jedva
sam	PRO	sam
čekao	V:m	čekati
da	CONJ	da
pogledam	N:m	pogledam
novu	A:aen	nov
verziju	N:f	verzija
Borbe	N:f	borba
titana	N:m	titan
Louisa	N:m	Louisa
Leterriera	N:m	Leterriera
(	PUNCT	(
Transporter	N:m	transporter
1	NUM	@card@
i	CONJ	i
2	NUM	@card@
)	PUNCT	)
.	SENT	.
Scenaristi	N:m	scenarista
se	PAR	se
nisu	N:m	nisu
mnogo	ADV	mnogo
trudili	V:m	truditi
oko	PREP	oko
priče	N:f	priča
,	PUNCT	,
uglavnom	ADV	uglavnom
su	N:m	su
skoro	ADV	skoro
sve	ADV	sve
preuzeli	V:m	preuzeti
od	PREP	od
prethodnika	N:m	prethodnik
.	SENT	.
Pored	PREP	pored
kombinacija	N:f	kombinacija
grčko	A:aen	grčki
-	PUNCT	-
rimske	A:aef	rimski
mitologije	N:f	mitologija
,	PUNCT	,
s	PREP	s
pozajmicom	N:f	pozajmica
čudovišta	N:n	čudovište
Krakena	N:m	Krakena
iz	PREP	iz
nordijske	A:aem	nordijski
,	PUNCT	,
novina	N:f	novina
su	N:m	su
jedino	CONJ	jedino
džinovi	N:m	džin
iz	PREP	iz
priče	N:f	priča
Hiljadu	N:f	hiljada
i	CONJ	i
jedna	NUM	jedan
noć	N:f	noć
.	SENT	.
Ljudi	N:m	ljudi
su	N:m	su
se	PAR	se
pobunili	V:m	pobuniti
protiv	PREP	protiv
bogova	N:m	bog
i	CONJ	i
razbesneli	V:m	razbesneti
ih	PRO	ona
.	SENT	.
Dok	CONJ	dok
čekaju	N:m	čekaju
njihovu	PRO	njihov
kaznu	N:f	kazna
,	PUNCT	,
sve	PRO	sav
svoje	PRO	svoj
nade	N:f	nada
polažu	A:aen	polažu
u	PREP	u
šačicu	N:f	šačica
ljudi	N:m	ljudi
koje	PRO	koji
predvodi	N:m	predvodi
Persej	N:m	Persej
(	PUNCT	(
sin	N:m	sin
Zevsa	N:m	Zevs
i	CONJ	i
smrtne	A:aef	smrtan
žene	N:f	žena
)	PUNCT	)
.	SENT	.
Oni	PRO	onaj
moraju	N:m	moraju
da	CONJ	da
obave	A:aem	obave
dva	NUM	dva
zadatka	N:m	zadatak
i	CONJ	i
vrate	N:m	vrat
se	PAR	se
na	PREP	na
vreme	N:n	vreme
kako	CONJ	kako
bi	N:n	bi
sprečili	V:m	sprečiti
katastrofu	N:f	katastrofa
.	SENT	.
Priča	N:f	Priča
o	PREP	o
pobuni	N:f	pobuna
ne	PAR	ne
odmiče	V:m	odmiče
se	PAR	se
dalje	ADV	dalje
od	PREP	od
ideje	N:f	ideja
.	SENT	.
Persej	N:m	Persej
koji	PRO	koji
prkosi	N:m	prkos
ocu	N:m	otac
i	CONJ	i
hoće	A:aem	hoće
sve	ADV	sve
da	CONJ	da
uradi	N:m	uradi
kao	CONJ	kao
čovek	N:m	čovek
,	PUNCT	,
ne	PAR	ne
koristeći	A:aem	koristeći
moći	N:f	moć
poluboga	N:m	polubog
,	PUNCT	,
predomisli	N:f	predomisli
se	PAR	se
odmah	ADV	odmah
posle	PREP	posle
prve	A:aem	prvi
prepreke	N:f	prepreka
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
mu	PRO	on
moći	N:f	moć
koje	PRO	koji
poseduje	N:m	poseduje
dolaze	N:m	dolaz
postepeno	ADV	postepeno
,	PUNCT	,
one	PRO	onaj
su	N:m	su
odmah	ADV	odmah
tu	ADV	tu
,	PUNCT	,
te	CONJ	te
tako	ADV	tako
uopšte	ADV	uopšte
nemamo	N:f	nemamo
osećaj	N:m	osećaj
napetosti	N:f	napetost
kada	CONJ	kada
se	PAR	se
glavni	A:aem	glavni
junak	N:m	junak
nađe	A:aem	nađe
u	PREP	u
opasnosti	N:f	opasnost
.	SENT	.
Akcenat	N:m	akcent
je	PRO	ona
stavljen	V:m	staviti
na	PREP	na
akciju	N:f	akcija
i	CONJ	i
vizuelne	A:aef	vizuelan
efekte	N:m	efekt
koji	PRO	koji
su	N:m	su
se	PAR	se
savršeno	ADV	savršeno
uklopili	V:m	uklopiti
.	SENT	.
Leterrier	N:m	Leterrier
nas	PRO	mi
nije	N:f	nije
izneverio	V:m	izneveriti
u	PREP	u
režiranju	N:n	režiranje
akcionih	A:aem	akcioni
scena	N:f	scena
.	SENT	.
Džinovske	A:aef	Džinovske
škorpije	N:f	škorpija
,	PUNCT	,
proročice	N:f	proročica
,	PUNCT	,
Kalibos	N:m	Kalibos
,	PUNCT	,
Haron	N:m	Haron
,	PUNCT	,
Kraken	N:m	Kraken
-	PUNCT	-
sve	PRO	sav
izgleda	N:m	izgled
odlično	ADV	odlično
,	PUNCT	,
jedino	ADV	jedino
je	PRO	ona
Meduza	N:m	Meduza
koju	PRO	koji
je	PRO	ona
napravio	V:m	napraviti
veteran	N:m	veteran
specijalnih	A:aef	specijalan
efekata	N:m	efekt
Ray	A:aem	Ray
Harryhausen	N:m	Harryhausen
u	PREP	u
prvoj	A:aef	prvi
verziji	N:f	verzija
strašnija	A:bem	strašan
.	SENT	.
Kada	CONJ	kada
ugledate	N:m	ugledate
kako	CONJ	kako
barka	N:f	barka
kojom	PRO	koji
upravlja	A:aem	upravlja
Haron	N:m	Haron
izranja	N:n	izranja
iz	PREP	iz
magle	N:f	magla
i	CONJ	i
kosture	N:m	kostur
koji	PRO	koji
je	PRO	ona
vuku	N:m	vuk
-	PUNCT	-
podilaze	N:m	podilaze
vas	PRO	vi
žmarci	N:m	žmarac
.	PUNCT	.
Scenografija	N:f	scenografija
i	CONJ	i
fotografija	N:f	fotografija
na	PREP	na
trenutke	N:m	trenutak
oduzimaju	N:m	oduzimaju
dah	N:m	dah
.	SENT	.
Sam	A:aem	sam
Worthington	N:m	Worthington
kao	CONJ	kao
Persej	N:m	Persej
još	ADV	još
uvek	ADV	uvek
nije	V:m	nije
izašao	V:m	izaći
iz	PREP	iz
uloge	N:f	uloga
u	PREP	u
Avataru	N:m	Avataru
.	SENT	.
Hades	N:m	Hades
Ralpha	N:m	Ralpha
Fiennesa	N:m	Fiennesa
suviše	ADV	suviše
podseća	V:m	podseća
na	PREP	na
lorda	N:m	lord
Voldemorta	N:m	Voldemorta
iz	PREP	iz
Harryja	A:aem	Harryja
Pottera	N:m	Pottera
.	SENT	.
Mads	N:m	Mads
Mikkelsen	N:m	Mikkelsen
besprekoran	A:aem	besprekoran
je	PRO	ona
kao	CONJ	kao
Draco	N:f	Draco
i	CONJ	i
jedini	A:aem	jedini
je	PRO	ona
lik	N:m	lik
za	PREP	za
koga	PRO	koji
stvarno	A:aen	stvaran
brinete	N:m	brinet
.	SENT	.
Originalna	A:aem	originalan
verzija	N:f	verzija
nije	A:aen	nije
savršena	A:aef	savršen
,	PUNCT	,
ima	N:n	ima
bolju	A:bef	dobar
priču	N:f	priča
i	CONJ	i
razvijenije	A:bem	razvijen
karaktere	N:m	karakter
,	PUNCT	,
ali	CONJ	ali
nova	A:aef	nov
ima	N:f	ima
bolju	A:bef	dobar
akciju	N:f	akcija
i	CONJ	i
efekte	N:m	efekt
.	SENT	.
Ako	CONJ	ako
zanemarite	N:m	zanemarite
neke	PRO	neki
nedostatke	N:m	nedostatak
,	PUNCT	,
zabavićete	N:m	zabavićete
se	PAR	se
uz	PREP	uz
non	N:m	non
-	PUNCT	-
stop	INT	stop
akciju	N:f	akcija
skoro	ADV	skoro
puna	A:aen	pun
dva	NUM	dva
sata	N:m	sat
.	SENT	.
Moja	PRO	moj
preporuka	N:f	preporuka
je	PRO	ona
da	CONJ	da
izbegnete	N:m	izbegnete
3	NUM	@card@
D	A:aef	D
verziju	N:f	verzija
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
film	N:m	film
sniman	V:m	snimati
u	PREP	u
2	NUM	@card@
D	A:aen	D
pa	CONJ	pa
naknadno	ADV	naknadno
konvertovan	V:m	konvertovati
.	PUNCT	.
Samo	PAR	samo
ćete	N:m	ćete
umoriti	N:m	umoriti
oči	N:f	oči
bez	PREP	bez
potrebe	N:f	potreba
,	PUNCT	,
a	CONJ	a
slika	N:f	slika
je	PRO	ona
mnogo	ADV	mnogo
lepša	A:bef	lep
i	CONJ	i
prijatnija	A:bem	prijatan
u	PREP	u
2	NUM	@card@
D	N:f	D
.	SENT	.
