Niskobudžetno	A:aen	Niskobudžetno
do	PREP	do
jaja	N:n	jaje
ostvarenje	N:n	ostvarenje
.	SENT	.
Koliko	ADV	koliko
malo	ADV	malo
para	N:f	para
,	PUNCT	,
verovatno	ADV	verovatno
vas	PRO	vi
zanima	N:m	zanima
?	PUNCT	?
Pa	CONJ	pa
ovako	ADV	ovako
,	PUNCT	,
samo	PAR	samo
ću	A:aem	ću
reći	N:m	reći
da	CONJ	da
nisu	N:m	nisu
spizdili	V:m	spizdili
decenijski	A:aem	decenijski
budžet	N:m	budžet
omanje	A:aef	omanji
afričke	A:aef	afrički
države	N:f	država
(	PUNCT	(
ili	CONJ	ili
Srbije	N:f	Srbija
)	PUNCT	)
na	PREP	na
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
.	SENT	.
A	CONJ	a
ipak	PAR	ipak
su	N:m	su
napravili	V:m	napraviti
kul	ADV	kul
film	N:m	film
.	PUNCT	.
Zaključak	N:m	Zaključak
:	PUNCT	:
Pare	N:f	para
nisu	N:m	nisu
bitne	A:aef	bitan
,	PUNCT	,
deco	N:f	deca
,	PUNCT	,
bitna	A:aef	bitan
je	PRO	ona
ideja	N:f	ideja
!	PUNCT	!
Avaj	INT	avaj
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
bila	V:f	biti
ideja	N:f	ideja
ovog	PRO	ovaj
filma	N:m	film
?	SENT	?
Ideja	N:f	ideja
je	PRO	ona
bila	V:f	biti
da	CONJ	da
se	PAR	se
napravi	N:f	naprava
horor	N:m	horor
komedija	N:f	komedija
,	PUNCT	,
i	CONJ	i
budući	A:aem	budući
da	CONJ	da
su	PREF	su
ovde	ADV	ovde
hodajući	A:aem	hodajući
mrtvaci	N:m	mrtvac
iliti	CONJ	iliti
zombiji	N:m	zombi
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
neminovno	ADV	neminovno
je	PRO	ona
poređenje	N:n	poređenje
sa	PREP	sa
hitom	N:m	hit
od	PREP	od
pre	PREP	pre
par	N:m	par
godina	N:f	godina
Shaun	N:m	Shaun
of	N:m	of
the	N:m	the
Dead	N:m	Dead
,	PUNCT	,
za	PREP	za
koji	PRO	koji
ste	N:m	ste
svi	PRO	sav
čuli	V:m	čuti
.	PUNCT	.
I	CONJ	i
ono	PRO	onaj
,	PUNCT	,
Shaun	N:m	Shaun
of	N:m	of
the	N:m	the
dead	N:f	dead
jeste	INT	jeste
bolji	A:bem	dobar
film	N:m	film
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
pitanju	N:n	pitanje
su	N:m	su
samo	CONJ	samo
nijanse	N:f	nijansa
.	SENT	.
Neminovno	ADV	neminovno
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
nesumljivo	A:aen	nesumljivo
ima	A:aen	ima
totalno	A:aen	totalan
britiš	N:f	britiš
poseban	A:aem	poseban
komedi	N:m	komedi
šmek	N:m	šmek
.	SENT	.
Zapravo	ADV	zapravo
,	PUNCT	,
imam	N:m	imam
savršen	A:aem	savršen
opis	N:m	opis
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Zamislite	N:m	Zamislite
da	CONJ	da
je	PRO	ona
Gaj	N:m	Gaj
Riči	N:m	Riči
snimio	V:m	snimiti
niskobudžetni	A:aem	niskobudžetni
zombi	N:m	zombi
film	N:m	film
iz	PREP	iz
zezanja	N:n	zezanje
.	SENT	.
Par	N:m	Par
ortaka	N:m	ortak
,	PUNCT	,
par	N:m	par
kamera	N:f	kamera
,	PUNCT	,
ukradeni	A:aem	ukraden
rekviziti	N:m	rekvizit
sa	PREP	sa
nekog	PRO	neki
pravog	A:aem	prav
filma	N:m	film
,	PUNCT	,
malo	ADV	malo
smike	V:m	smike
i	CONJ	i
eto	PAR	eto
,	PUNCT	,
dobiste	N:m	dobiste
ovo	PRO	ovaj
.	PUNCT	.
Čak	N:m	Čak
i	CONJ	i
glume	N:f	gluma
par	N:m	par
glumaca	N:m	glumac
koje	PRO	koji
smo	N:f	smo
viđali	V:m	viđati
u	PREP	u
Dve	N:m	Dve
čađave	A:aef	čađav
dvocevke	N:f	dvocevka
i	CONJ	i
u	PREP	u
Sneču	N:f	Sneču
.	SENT	.
Fenomenalno	A:aen	fenomenalan
.	PUNCT	.
Elem	CONJ	elem
,	PUNCT	,
sasvim	ADV	sasvim
obična	A:aef	običan
gajričijevska	N:m	gajričijevska
priča	N:f	priča
,	PUNCT	,
par	N:m	par
nebitnaša	A:aem	nebitnaša
burazera	N:m	burazer
sa	PREP	sa
nekom	PRO	neki
ekipom	N:f	ekipa
organizuju	N:m	organizuju
pljačku	N:f	pljačka
banke	N:f	banka
,	PUNCT	,
i	CONJ	i
neočekivano	ADV	neočekivano
se	PAR	se
nađu	V:m	nađu
usred	PREP	usred
invazije	N:f	invazija
zombija	N:m	zombi
.	SENT	.
S	PREP	s
druge	A:aem	drugi
strane	N:f	strana
grada	N:m	grad
,	PUNCT	,
njihov	PRO	njihov
deda	N:f	deda
je	PRO	ona
u	PREP	u
staračkom	A:aem	starački
domu	N:m	dom
,	PUNCT	,
takođe	PAR	takođe
usred	PREP	usred
invazije	N:f	invazija
zombija	N:m	zombi
.	SENT	.
Braća	N:m	Braća
reše	N:f	reše
da	CONJ	da
po	PREP	po
svaku	PRO	svaki
cenu	N:f	cena
spasu	N:m	spas
svog	PRO	svoj
dedu	N:m	ded
od	PREP	od
zlih	A:aem	zao
hodajucih	A:aem	hodajucih
mrtvaka	N:m	mrtvak
.	PUNCT	.
Srećom	N:f	Srećom
,	PUNCT	,
pljačka	N:f	pljačka
banke	N:f	banka
je	PRO	ona
opasna	A:aef	opasan
rabota	N:f	rabota
,	PUNCT	,
te	PRO	taj
su	N:m	su
za	PREP	za
taj	PRO	taj
posao	N:m	posao
prikupili	V:m	prikupiti
popriličan	A:aem	popriličan
arsenal	N:m	arsenal
,	PUNCT	,
koji	PRO	koji
veoma	ADV	veoma
upotrebljavaju	N:m	upotrebljavaju
u	PREP	u
drugoj	A:aef	drugi
polovini	N:f	polovina
filma	N:m	film
,	PUNCT	,
te	CONJ	te
ocekujte	N:m	ocekujte
krv	N:f	krv
,	PUNCT	,
leteće	A:aef	leteći
udove	N:f	udova
,	PUNCT	,
potoke	N:m	potok
krvi	N:f	krv
,	PUNCT	,
eksplodirajuće	A:aem	eksplodirajuće
glave	N:f	glava
,	PUNCT	,
još	ADV	još
krvi	N:f	krv
,	PUNCT	,
britanski	A:aem	britanski
humor	N:m	humor
,	PUNCT	,
dosetke	N:f	dosetka
glavnih	A:aem	glavnih
likova	N:n	likovo
,	PUNCT	,
mnogo	ADV	mnogo
komičnih	A:aef	komičan
situacija	N:f	situacija
.	SENT	.
Zombiji	N:m	zombi
su	PREF	su
kvalitetno	ADV	kvalitetno
odrađeni	V:m	odraditi
,	PUNCT	,
jedino	ADV	jedino
gde	CONJ	gde
se	PAR	se
primećuje	N:m	primećuje
niskobudžetnost	N:f	niskobudžetnost
jeste	INT	jeste
scenografija	N:f	scenografija
,	PUNCT	,
recimo	N:f	recimo
,	PUNCT	,
grad	N:m	grad
je	PRO	ona
kao	ADV	kao
uništen	V:m	uništiti
,	PUNCT	,
zombiji	N:m	zombi
setaju	N:f	setaju
ulicom	N:f	ulica
,	PUNCT	,
a	CONJ	a
na	PREP	na
nadvožnjaku	N:m	nadvožnjak
iznad	PREP	iznad
prolazi	N:m	prolaz
tramvaj	N:m	tramvaj
.	SENT	.
Po	PREP	po
mom	PRO	moj
mišljenju	N:n	mišljenje
,	PUNCT	,
to	PRO	taj
samo	PAR	samo
dodaje	V:m	dodaje
na	PREP	na
komičnosti	N:f	komičnost
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
U	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
,	PUNCT	,
vredi	V:m	vredi
odgledati	V:m	odgledati
,	PUNCT	,
ubit	A:aem	ubit
malo	ADV	malo
vremena	N:n	vreme
,	PUNCT	,
skrenut	A:aem	skrenut
misli	N:f	misao
na	PREP	na
vedrije	A:bef	vedar
stvari	N:f	stvar
od	PREP	od
sumorne	A:aef	sumoran
današnjice	N:f	današnjica
.	SENT	.
