Da	CONJ	da
li	PAR	li
sredstvo	N:n	sredstvo
opravdava	A:aen	opravdava
cilj	N:m	cilj
?	SENT	?
Na	PREP	na
početku	N:m	početak
moram	N:m	moram
da	CONJ	da
vam	PRO	vi
kažem	A:aef	kažem
da	CONJ	da
su	PREF	su
svi	PRO	sav
ovde	ADV	ovde
izneseni	A:aem	iznesen
sudovi	N:m	sud
bazirani	V:m	bazirati
na	PREP	na
screener	N:m	screener
kopiji	N:f	kopija
nešto	ADV	nešto
mračnije	A:bef	mračan
slike	N:f	slika
,	PUNCT	,
sumnjive	A:aef	sumnjiv
špice	N:f	špica
i	CONJ	i
još	ADV	još
spornijeg	A:bem	sporan
saundtraka	N:m	saundtraka
.	SENT	.
Nicolas	A:aem	Nicolas
Winding	N:m	Winding
Refn	N:m	Refn
,	PUNCT	,
kao	CONJ	kao
što	ADV	što
znate	V:f	znati
iz	PREP	iz
mojih	PRO	moj
pojanja	N:n	pojanje
o	PREP	o
filmovima	N:m	film
Valhalla	A:aem	Valhalla
Rising	N:m	Rising
,	PUNCT	,
Bronson	N:m	Bronson
i	CONJ	i
Pusher	N:m	Pusher
trilogiji	N:f	trilogija
,	PUNCT	,
spada	N:m	spada
u	PREP	u
moje	PRO	moj
(	PUNCT	(
top	N:m	top
10	NUM	@card@
)	SENT	)
najomiljenije	A:cem	omiljen
reditelje	N:m	reditelj
.	SENT	.
Zato	ADV	zato
je	PRO	ona
njegov	PRO	njegov
novi	A:aem	nov
film	N:m	film
prilika	N:f	prilika
da	CONJ	da
se	PAR	se
podsetim	A:aen	podsetim
zašto	CONJ	zašto
jaaako	A:aen	jaaako
volim	A:aen	volim
da	CONJ	da
gledam	N:m	gledam
filmove	N:m	film
.	PUNCT	.
Ali	CONJ	ali
i	CONJ	i
stresnih	A:aem	stresni
dva	NUM	dva
sata	N:m	sat
da	CONJ	da
se	PAR	se
to	PRO	taj
možda	PAR	možda
neće	V:m	neće
desiti	A:aem	desiti
.	SENT	.
Kao	CONJ	kao
,	PUNCT	,
recimo	A:aen	recimo
,	PUNCT	,
u	PREP	u
slučaju	N:m	slučaj
Drive	N:m	Drive
.	SENT	.
Film	N:m	film
je	PRO	ona
do	PREP	do
mene	PRO	ja
došao	V:m	doći
prehvaljen	V:m	prehvaljen
i	CONJ	i
ja	PRO	ja
,	PUNCT	,
priznajem	N:m	priznajem
,	PUNCT	,
nisam	N:m	nisam
našao	V:m	naći
načina	N:m	način
da	CONJ	da
se	PAR	se
ratosiljam	N:m	ratosiljam
(	PUNCT	(
dodatnih	A:aef	dodatan
)	PUNCT	)
velikih	A:aef	velik
očekivanja	N:n	očekivanje
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
sigurno	ADV	sigurno
jeste	INT	jeste
da	CONJ	da
ću	A:bef	ću
ga	PRO	on
gledati	N:m	gledati
u	PREP	u
bioskopu	N:m	bioskop
čim	CONJ	čim
budem	N:m	budem
imao	V:m	imati
priliku	N:f	prilika
najviše	ADV	najviše
iz	PREP	iz
razloga	N:m	razlog
da	CONJ	da
,	PUNCT	,
prvo	ADV	prvo
sebi	PRO	sebe
,	PUNCT	,
demantujem	N:m	demantujem
sve	PRO	sav
što	PRO	što
ću	A:aem	ću
napisati	N:m	napisati
.	SENT	.
Drive	A:aem	Drive
je	PRO	ona
nastavak	N:m	nastavak
Refnove	A:aef	Refnove
opsesije	N:f	opsesija
muškarcima	N:m	muškarac
-	PUNCT	-
vucimasamotnjacima	N:m	vucimasamotnjacima
čije	PRO	čiji
je	PRO	ona
toplo	ADV	toplo
i	CONJ	i
dobro	A:aen	dobar
srce	N:n	srce
skriveno	V:n	skriti
iza	PREP	iza
mačo	N:m	mačo
oklopa	N:m	oklop
.	PUNCT	.
I	CONJ	i
to	PRO	taj
je	PRO	ona
dobra	A:aef	dobar
stvar	N:f	stvar
.	SENT	.
Loša	A:aem	Loša
je	PRO	ona
da	CONJ	da
Ryan	N:m	Ryan
Gosling	N:m	Gosling
nije	A:aen	nije
prava	N:n	pravo
osoba	N:f	osoba
da	CONJ	da
me	PRO	ja
u	PREP	u
to	PRO	taj
ubedi	N:f	ubedi
.	SENT	.
Čak	N:m	Čak
i	CONJ	i
ako	CONJ	ako
poverujem	N:m	poverujem
da	CONJ	da
Rafn	N:m	Rafn
,	PUNCT	,
oslanjajući	V:m	oslanjajući
se	PAR	se
na	PREP	na
fejk	N:m	fejk
estetiku	N:f	estetika
80	NUM	@card@
-	PUNCT	-
tih	PRO	taj
i	CONJ	i
for	N:m	for
real	N:m	real
sadržaj	N:m	sadržaj
filmova	N:m	film
70	NUM	@card@
-	PUNCT	-
tih	PRO	taj
,	PUNCT	,
želi	V:m	žeti
da	CONJ	da
napravi	N:f	naprava
neki	PRO	neki
anti	PREF	anti
-	PUNCT	-
kasting	N:m	kasting
dokazujući	A:aem	dokazujući
isto	ADV	isto
suprotnim	A:aen	suprotan
,	PUNCT	,
Ryan	N:m	Ryan
nije	A:aem	nije
ta	PRO	taj
vrsta	N:f	vrsta
arhetipskog	A:aem	arhetipski
'	A:aem	'
silent	N:m	silent
type	N:f	type
'	N:m	'
-	PUNCT	-
a	CONJ	a
oko	PREP	oko
koga	PRO	koji
se	PAR	se
ovaj	PRO	ovaj
film	N:m	film
gradi	N:m	grad
.	SENT	.
S	PREP	s
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
vestern	N:m	vestern
uspinjanje	N:n	uspinjanje
ka	PREP	ka
herojstvu	N:n	herojstvo
koje	PRO	koji
je	PRO	ona
Refn	N:m	Refn
postavio	V:m	postaviti
ispred	PREP	ispred
njega	PRO	on
i	CONJ	i
nije	A:aem	nije
najoriginalnije	A:cef	originalan
,	PUNCT	,
a	CONJ	a
naročito	ADV	naročito
s	PREP	s
aspekta	N:m	aspekt
onog	PRO	onaj
što	CONJ	što
je	PRO	ona
rečeno	A:aen	rečen
ćutanjem	N:n	ćutanje
i	CONJ	i
za	PREP	za
Refna	A:aem	Refna
karakterističnim	A:aem	karakterističan
'	N:m	'
sporim	A:aem	spor
'	A:aem	'
kadrovima	N:m	kadar
.	SENT	.
Lik	N:m	lik
Carey	A:aem	Carey
Mulligan	N:m	Mulligan
,	PUNCT	,
koja	PRO	koji
nikada	ADV	nikada
nije	A:aen	nije
izgledala	V:f	izgledati
slađe	A:bef	sladak
,	PUNCT	,
ovde	ADV	ovde
jedva	ADV	jedva
da	CONJ	da
uspeva	N:m	uspeva
da	CONJ	da
dobije	N:n	dobije
nekakvu	PRO	nekakav
masu	N:f	masa
.	SENT	.
Zaplet	N:m	zaplet
i	CONJ	i
rasplet	N:m	rasplet
su	PREF	su
toliko	ADV	toliko
okoštalo	V:n	okoštati
dati	V:m	dati
da	CONJ	da
Refn	V:m	Refn
,	PUNCT	,
zadivljen	A:aem	zadivljen
snagom	N:f	snaga
minimalizma	N:m	minimalizam
(	PUNCT	(
verujem	N:m	verujem
da	CONJ	da
scenario	N:m	scenario
nije	V:m	nije
imao	V:m	imati
više	ADV	više
od	PREP	od
40	NUM	@card@
strana	N:f	strana
)	PUNCT	)
,	PUNCT	,
ni	CONJ	ni
ne	PAR	ne
pokušava	N:f	pokušava
da	CONJ	da
bilo	V:n	biti
kom	PRO	koji
od	PREP	od
likova	N:n	likovo
(	PUNCT	(
uključujući	A:aem	uključujući
i	CONJ	i
Goslingov	A:aem	Goslingov
)	PUNCT	)
da	CONJ	da
malo	ADV	malo
više	ADV	više
prostora	N:m	prostor
da	CONJ	da
zaigraju	N:m	zaigraju
kao	CONJ	kao
ljudi	N:m	ljudi
.	SENT	.
A	CONJ	a
ne	PAR	ne
samo	PAR	samo
kao	CONJ	kao
pioni	N:m	pion
sudbine	N:f	sudbina
.	SENT	.
U	PREP	u
konstrukciji	N:f	konstrukcija
priče	N:f	priča
nije	V:n	nije
mnogo	ADV	mnogo
pomoglo	V:n	pomoći
ni	CONJ	ni
to	PRO	taj
što	CONJ	što
u	PREP	u
početku	N:m	početak
mekgafinovski	A:aem	mekgafinovski
bivamo	N:f	bivamo
zavedeni	V:m	zavesti
u	PREP	u
nekoliko	ADV	nekoliko
ćorsokak	N:m	ćorsokak
pravaca	N:m	pravac
.	SENT	.
Gosling	N:m	Gosling
nije	N:f	nije
ni	CONJ	ni
vozač	N:m	vozač
za	PREP	za
pljačke	N:f	pljačka
,	PUNCT	,
ni	PAR	ni
kaskader	N:m	kaskader
majstor	N:m	majstor
,	PUNCT	,
ni	PAR	ni
šampion	N:m	šampion
na	PREP	na
trkama	N:f	trka
,	PUNCT	,
on	PRO	on
je	PRO	ona
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
ali	CONJ	ali
zapravo	ADV	zapravo
ništa	ADV	ništa
od	PREP	od
svega	PRO	sav
toga	PRO	taj
.	PUNCT	.
Za	PREP	za
njega	PRO	on
sve	PRO	sav
što	PRO	što
se	PAR	se
desilo	V:n	desiti
možda	PAR	možda
jeste	INT	jeste
bila	V:f	biti
jedna	NUM	jedan
neprekinuta	A:aef	neprekinut
vožnja	N:f	vožnja
(	PUNCT	(
jer	CONJ	jer
tako	ADV	tako
je	PRO	ona
moralo	V:n	morati
biti	N:f	bit
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
ona	PRO	ona
je	PRO	ona
u	PREP	u
velikoj	A:aef	velik
meri	N:f	mera
izgledala	V:f	izgledati
i	CONJ	i
kao	CONJ	kao
pokušaj	N:m	pokušaj
nekog	PRO	neki
vozača	N:m	vozač
da	CONJ	da
se	PAR	se
uparkira	N:m	uparkira
u	PREP	u
teško	ADV	teško
dostupan	A:aem	dostupan
prostor	N:m	prostor
.	SENT	.
Sloumoušni	A:aem	Sloumoušni
vožnje	N:f	vožnja
samo	PAR	samo
su	N:m	su
dodatno	ADV	dodatno
podstakli	V:m	podstaknuti
osećaj	N:m	osećaj
ispraznosti	N:f	ispraznost
koji	PRO	koji
vozi	N:m	vozi
filmom	N:m	film
.	SENT	.
Čak	N:m	Čak
i	CONJ	i
ako	CONJ	ako
ceo	A:aem	ceo
film	N:m	film
tretirate	A:aem	tretirate
kao	CONJ	kao
onih	PRO	onaj
'	N:m	'
5	NUM	@card@
minuta	N:m	minut
'	N:m	'
koje	PRO	koji
vam	PRO	vi
je	PRO	ona
Gosling	N:m	Gosling
dao	V:m	dati
,	PUNCT	,
kao	CONJ	kao
u	PREP	u
poslovima	N:m	posao
koje	PRO	koji
obavlja	N:n	obavlja
za	PREP	za
druge	A:aem	drugi
,	PUNCT	,
pre	ADV	pre
i	CONJ	i
nakon	PREP	nakon
čega	PRO	šta
on	PRO	on
ne	PAR	ne
odgovara	N:m	odgovara
ni	PAR	ni
za	PREP	za
šta	PRO	šta
,	PUNCT	,
film	N:m	film
dobija	N:n	dobija
nekakvu	PRO	nekakav
metaforičnu	A:aef	metaforičan
zaokruženost	N:f	zaokruženost
,	PUNCT	,
ali	CONJ	ali
nisam	N:m	nisam
siguran	A:aem	siguran
da	CONJ	da
mi	PRO	ja
kao	CONJ	kao
gledaoci	N:m	gledalac
nakon	PREP	nakon
drive	A:aem	drive
-	PUNCT	-
a	CONJ	a
dobijamo	ADV	dobijamo
nešto	ADV	nešto
što	CONJ	što
do	PREP	do
sada	ADV	sada
nismo	N:f	nismo
.	SENT	.
Drive	A:aem	Drive
je	PRO	ona
više	ADV	više
kako	ADV	kako
bi	V:n	bi
nešto	ADV	nešto
moglo	V:n	moći
,	PUNCT	,
ali	CONJ	ali
sa	PREP	sa
ozbiljnim	A:aen	ozbiljan
potcenjivanjem	N:n	potcenjivanje
onog	PRO	onaj
šta	PRO	šta
.	PUNCT	.
Bilo	V:n	biti
mi	PRO	ja
je	PRO	ona
duhovito	ADV	duhovito
kada	CONJ	kada
Gosling	N:m	Gosling
tokom	PREP	tokom
svog	PRO	svoj
osvetničkog	A:aem	osvetnički
pohoda	N:m	pohod
stavlja	N:n	stavlja
onu	PRO	onaj
gumenu	A:aef	gumen
masku	N:f	maska
sa	PREP	sa
kojom	PRO	koji
,	PUNCT	,
u	PREP	u
efektnom	A:aem	efektan
'	N:m	'
Carpenterevskom	A:aem	Carpenterevskom
'	A:aem	'
mraku	N:m	mrak
izgleda	N:m	izgled
kao	CONJ	kao
Michael	N:m	Michael
Myers	N:m	Myers
.	SENT	.
Osećam	N:m	Osećam
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
bejbifejs	N:m	bejbifejs
varijanta	N:f	varijanta
(	PUNCT	(
u	PREP	u
svakom	PRO	svaki
smislu	N:m	smisao
)	PUNCT	)
onoga	PRO	onaj
što	CONJ	što
su	N:m	su
Peckinpah	N:m	Peckinpah
i	CONJ	i
McQueen	N:f	McQueen
uradili	V:m	uraditi
.	PUNCT	.
Ili	CONJ	ili
mogli	V:m	moći
da	CONJ	da
urade	V:m	urade
.	SENT	.
A	CONJ	a
nisam	N:m	nisam
siguran	A:aem	siguran
da	CONJ	da
je	PRO	ona
to	PRO	taj
Refnovo	A:aen	Refnovo
prirodno	A:aen	prirodan
stanje	N:n	stanje
.	SENT	.
Čak	N:m	Čak
ni	PAR	ni
njegovog	PRO	njegov
holivudskog	A:aen	holivudski
izdanja	N:n	izdanje
.	SENT	.
