Nagomilavanje	N:n	nagomilavanje
bizarnosti	N:f	bizarnost
i	CONJ	i
dalje	ADV	dalje
ostaje	N:n	ostaje
najupotrebljavanije	A:cem	najupotrebljavanije
sredstvo	N:n	sredstvo
za	PREP	za
razvoj	N:m	razvoj
narativa	N:m	narativa
u	PREP	u
američkim	A:aem	američki
nezavisnim	A:aem	nezavisan
filmovima	N:m	film
.	SENT	.
Ponekad	ADV	ponekad
sa	PREP	sa
većim	A:bem	velik
uspehom	N:m	uspeh
,	PUNCT	,
a	CONJ	a
ponekad	ADV	ponekad
sa	PREP	sa
manjim	A:aem	manjim
Slušam	N:m	Slušam
She	N:m	She
And	N:m	And
Him	N:f	Him
(	PUNCT	(
Volume	N:m	Volume
One	N:m	One
)	PUNCT	)
.	SENT	.
To	PRO	taj
je	PRO	ona
jedna	NUM	jedan
jednostavna	A:aef	jednostavan
i	CONJ	i
melanholična	A:aef	melanholičan
ploča	N:f	ploča
,	PUNCT	,
poput	PREP	poput
američkih	A:aef	američki
brakova	N:m	brak
u	PREP	u
pedesetim	A:aem	pedeseti
.	SENT	.
Ne	PAR	ne
,	PUNCT	,
ovaj	PRO	ovaj
put	N:f	put
ne	PAR	ne
pokušavam	N:m	pokušavam
da	CONJ	da
pronađem	A:aem	pronađem
muziku	N:f	muzika
koja	PRO	koji
bi	N:f	bi
odgovarala	V:f	odgovarati
filmu	N:m	film
o	PREP	o
kome	PRO	koji
pišem	N:m	pišem
(	PUNCT	(
Sufjan	A:aem	Sufjan
Stevens	N:m	Stevens
,	PUNCT	,
možda	PAR	možda
)	PUNCT	)
.	PUNCT	.
Samo	PAR	samo
delim	A:aen	delim
sa	PREP	sa
vama	PRO	vi
da	CONJ	da
me	PRO	ja
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
inspirisao	V:m	inspirisati
da	CONJ	da
to	PRO	taj
pustim	A:aef	pust
.	PUNCT	.
Baš	A:aem	Baš
koliko	ADV	koliko
i	CONJ	i
činjenica	N:f	činjenica
da	CONJ	da
u	PREP	u
njemu	PRO	on
glumi	N:f	gluma
Zooey	A:aem	Zooey
Deschanel	N:m	Deschanel
koja	PRO	koji
je	PRO	ona
ono	PRO	onaj
„	A:aem	„
she	N:m	she
“	N:m	“
u	PREP	u
nazivu	N:m	naziv
benda	N:m	bend
(	PUNCT	(
„	A:aem	„
him	A:aem	him
“	N:m	“
je	PRO	ona
M	N:f	M
.	SENT	.
Ward	N:m	Ward
,	PUNCT	,
kad	CONJ	kad
sam	PRO	sam
već	PAR	već
posve	ADV	posve
posrnuo	V:m	posrnuti
u	PREP	u
digresiju	N:f	digresija
)	PUNCT	)
.	SENT	.
Oh	INT	oh
,	PUNCT	,
fuck	A:aem	fuck
,	PUNCT	,
ova	PRO	ovaj
recenzija	N:f	recenzija
ne	PAR	ne
vodi	N:f	voda
nikuda	ADV	nikuda
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
zar	PAR	zar
to	PRO	taj
nije	N:m	nije
prečesto	ADV	prečesto
i	CONJ	i
slučaj	N:m	slučaj
sa	PREP	sa
nezavisnim	A:aem	nezavisan
filmovima	N:m	film
?	SENT	?
Slično	A:aen	Slično
Wesu	N:f	Wesu
Andersonu	N:m	Anderson
i	CONJ	i
njegovom	PRO	njegov
scenaristi	N:m	scenarista
Noahi	N:m	Noahi
Baumbachu	N:m	Baumbachu
(	PUNCT	(
Life	N:m	Life
Aquatic	N:m	Aquatic
.	PUNCT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
i	CONJ	i
Matt	A:aem	Matt
Aselton	N:m	Aselton
u	PREP	u
svom	PRO	sav
debitantskom	A:aen	debitantski
ostvarenju	N:n	ostvarenje
fokus	N:m	fokus
stavlja	N:n	stavlja
na	PREP	na
porodično	A:aen	porodičan
okruženje	N:n	okruženje
i	CONJ	i
reperkusije	N:f	reperkusija
istog	A:aen	isti
na	PREP	na
individuu	N:f	individua
,	PUNCT	,
a	CONJ	a
njegov	PRO	njegov
film	N:m	film
,	PUNCT	,
baš	PAR	baš
kao	ADV	kao
i	CONJ	i
kod	PREP	kod
ove	PRO	ovaj
dvojice	N:f	dvojica
,	PUNCT	,
izgleda	N:m	izgled
kao	CONJ	kao
nešto	PRO	nešto
što	PRO	što
je	PRO	ona
moglo	V:n	moći
nastati	A:aem	nastati
kompilacijom	N:f	kompilacija
ispovesti	N:f	ispovest
sopstvenom	A:aem	sopstven
psihijatru	N:m	psihijatar
.	SENT	.
Koje	PRO	koji
su	N:m	su
,	PUNCT	,
tako	ADV	tako
sirove	A:aem	sirov
,	PUNCT	,
potom	ADV	potom
ekranizovane	A:aem	ekranizovan
i	CONJ	i
date	A:aem	dat
nama	PRO	mi
na	PREP	na
uvid	N:m	uvid
i	CONJ	i
tumačenje	N:n	tumačenje
.	SENT	.
U	PREP	u
filmu	N:m	film
Gigantic	N:m	Gigantic
Paul	N:m	Paul
Dano	N:f	Dana
igra	N:f	igra
Briana	N:m	Briana
koji	PRO	koji
od	PREP	od
malena	A:aef	malen
mašta	N:f	mašta
da	CONJ	da
usvoji	N:m	usvoji
kinesku	A:aef	kineski
bebu	N:f	beba
(	PUNCT	(
!	SENT	!
)	PUNCT	)
.	SENT	.
On	PRO	on
radi	PREP	radi
u	PREP	u
salonu	N:m	salon
za	PREP	za
prodaju	N:f	prodaja
madraca	N:m	madrac
i	CONJ	i
kreveta	N:m	krevet
u	PREP	u
koji	PRO	koji
jedan	NUM	jedan
dan	N:m	dan
dolazi	N:m	dolaz
buržuj	N:m	buržuj
Al	N:m	Al
(	PUNCT	(
John	N:m	John
Goodman	N:m	Goodman
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
nedugo	ADV	nedugo
zatim	ADV	zatim
i	CONJ	i
njegova	PRO	njegov
ćerka	N:f	ćerka
Happy	N:m	Happy
(	PUNCT	(
Deschanel	N:m	Deschanel
)	PUNCT	)
sa	PREP	sa
kojom	PRO	koji
će	N:m	će
se	PAR	se
Brian	N:m	Brian
ubrzo	ADV	ubrzo
smuvati	A:aem	smuvati
.	SENT	.
Pored	PREP	pored
toga	PRO	taj
što	ADV	što
je	PRO	ona
najmlađi	A:cem	mlad
od	PREP	od
tri	NUM	tri
sina	N:m	sin
i	CONJ	i
što	CONJ	što
su	N:m	su
ga	PRO	on
roditelji	N:m	roditelj
dobili	V:m	dobiti
prilično	ADV	prilično
kasno	ADV	kasno
,	PUNCT	,
pa	CONJ	pa
izgledaju	N:f	izgledaju
kao	CONJ	kao
njegovi	PRO	njegov
baba	N:f	baba
i	CONJ	i
deda	N:f	deda
,	PUNCT	,
Brian	N:m	Brian
,	PUNCT	,
a	CONJ	a
možda	PAR	možda
baš	PAR	baš
i	CONJ	i
zbog	PREP	zbog
toga	PRO	taj
,	PUNCT	,
ima	A:aem	ima
„	A:aem	„
fight	N:m	fight
club	A:aem	club
“	A:aem	“
poremećaj	N:m	poremećaj
pa	CONJ	pa
se	PAR	se
povremeno	ADV	povremeno
samopovređuje	N:m	samopovređuje
i	CONJ	i
bije	N:m	bije
sam	A:aem	sam
sa	PREP	sa
sobom	PRO	sebe
(	PUNCT	(
sve	ADV	sve
personifikovano	V:n	personifikovati
kroz	PREP	kroz
nekog	PRO	neki
brđanski	A:aem	brđanski
građenog	A:aem	građen
tipa	N:m	tip
)	PUNCT	)
.	SENT	.
Brianov	A:aem	Brianov
najbolji	A:cem	dobar
prijatelj	N:m	prijatelj
je	PRO	ona
naučnik	N:m	naučnik
Larry	A:aem	Larry
koji	PRO	koji
istražuje	N:m	istražuje
zašto	CONJ	zašto
neki	PRO	neki
beli	A:aem	beo
miševi	N:m	miš
bačeni	V:m	baciti
u	PREP	u
bazen	N:m	bazen
sa	PREP	sa
vodom	N:f	voda
plivaju	N:f	plivaju
i	CONJ	i
plivaju	N:f	plivaju
,	PUNCT	,
a	CONJ	a
drugi	A:aem	drugi
se	PAR	se
prepuste	N:m	prepuste
i	CONJ	i
odluče	N:f	odluče
da	CONJ	da
umru	N:f	umru
.	SENT	.
Ovo	PRO	ovaj
poslednje	A:aen	poslednji
je	PRO	ona
,	PUNCT	,
lako	ADV	lako
moguće	ADV	moguće
,	PUNCT	,
metafora	N:f	metafora
za	PREP	za
ono	PRO	onaj
čime	PRO	šta
se	PAR	se
film	N:m	film
bavi	N:f	bavi
.	PUNCT	.
Ne	PAR	ne
treba	N:f	treba
gubiti	A:aem	gubiti
nadu	N:f	nada
.	SENT	.
Treba	N:f	treba
verovati	N:m	verovati
u	PREP	u
sebe	PRO	sebe
.	PUNCT	.
Uprkos	PREP	uprkos
svemu	PRO	sav
ne	PAR	ne
treba	N:f	treba
odustajati	N:m	odustajati
.	SENT	.
Čak	N:m	Čak
i	CONJ	i
kada	CONJ	kada
stvari	N:f	stvar
izgledaju	N:m	izgledaju
gubavo	A:aen	gubav
,	PUNCT	,
desiće	A:aem	desiće
se	PAR	se
nešto	ADV	nešto
ubavo	ADV	ubavo
.	SENT	.
Rima	N:f	rima
mi	PRO	ja
od	PREP	od
sebe	PRO	sebe
dolazi	N:m	dolaz
sama	PRO	sam
,	PUNCT	,
kakav	PRO	kakav
je	PRO	ona
ovo	PRO	ovaj
film	N:m	film
,	PUNCT	,
mama	N:f	mama
?	PUNCT	?
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Likovi	N:m	lik
su	PREF	su
dopadljivi	A:aem	dopadljiv
,	PUNCT	,
ma	PAR	ma
koliko	ADV	koliko
zaokupljeni	V:m	zaokupiti
bili	V:m	biti
sumanutim	A:aef	sumanut
aktivnostima	N:f	aktivnost
od	PREP	od
kojih	PRO	koji
većina	N:f	većina
nema	A:aem	nem
nekog	PRO	neki
naročitog	A:aem	naročit
smisla	N:m	smisao
.	SENT	.
Ritam	N:m	ritam
je	PRO	ona
isti	A:aem	isti
od	PREP	od
početka	N:m	početak
do	PREP	do
kraja	N:m	kraj
,	PUNCT	,
što	CONJ	što
povoljno	A:aen	povoljan
utiče	N:f	utiče
na	PREP	na
spavanje	N:n	spavanje
tokom	PREP	tokom
filma	N:m	film
.	PUNCT	.
Scenografija	N:f	scenografija
i	CONJ	i
fotografija	N:f	fotografija
su	N:m	su
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
smo	N:f	smo
uglavnom	ADV	uglavnom
u	PREP	u
nekim	PRO	neki
klaustrofobičnim	A:aef	klaustrofobičan
i	CONJ	i
sveže	A:aen	svež
renoviranim	A:aen	renoviran
prostorima	N:m	prostor
,	PUNCT	,
prilično	ADV	prilično
zanimljive	A:aef	zanimljiv
i	CONJ	i
podmuklo	ADV	podmuklo
podstiču	A:aef	podstiču
uvrnutu	A:aef	uvrnut
atmosferu	N:f	atmosfera
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
filma	N:m	film
,	PUNCT	,
ne	PAR	ne
verujem	N:m	verujem
da	CONJ	da
ćete	N:m	ćete
ravnodušno	ADV	ravnodušno
preći	A:aem	preći
preko	PREP	preko
ponuđene	A:aem	ponuđen
plemenitosti	N:f	plemenitost
i	CONJ	i
optimizma	N:m	optimizam
,	PUNCT	,
ma	PAR	ma
koliko	ADV	koliko
oni	PRO	onaj
bili	V:m	biti
predvidljivi	A:aem	predvidljiv
i	CONJ	i
već	PAR	već
-	PUNCT	-
toliko	ADV	toliko
-	PUNCT	-
puta	ADV	puta
-	PUNCT	-
na	PREP	na
-	PUNCT	-
skoro	ADV	skoro
-	PUNCT	-
isti	A:aem	isti
-	PUNCT	-
takav	PRO	takav
-	PUNCT	-
način	N:m	način
viđeni	V:m	viditi
sa	PREP	sa
istim	A:aef	isti
KRUPNO	A:aen	krupan
ispisanim	A:aef	ispisan
porukama	N:f	poruka
:	PUNCT	:
ne	PAR	ne
treba	N:f	treba
gubiti	A:aem	gubiti
nadu	N:f	nada
,	PUNCT	,
treba	N:f	treba
verovati	N:m	verovati
u	PREP	u
sebe	PRO	sebe
,	PUNCT	,
uprkos	PREP	uprkos
svemu	PRO	sav
ne	PAR	ne
treba	N:f	treba
odustajati	N:m	odustajati
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
kad	CONJ	kad
stvari	N:f	stvar
izgledaju	N:m	izgledaju
gubavo	A:aen	gubav
,	PUNCT	,
desiće	A:aem	desiće
se	PAR	se
nešto	ADV	nešto
ubavo	ADV	ubavo
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Sve	PRO	sav
stoji	N:f	stoja
.	SENT	.
Uvek	ADV	uvek
.	PUNCT	.
Isto	A:aen	isti
.	SENT	.
Neumoljivo	ADV	neumoljivo
.	PUNCT	.
Tačno	A:aen	Tačno
.	PUNCT	.
Nedostižno	A:aen	Nedostižno
.	PUNCT	.
