A	CONJ	a
šta	PRO	šta
ako	CONJ	ako
je	PRO	ona
Božji	A:aem	Božji
čovek	N:m	čovek
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
samo	PAR	samo
čovek	N:m	čovek
?	PUNCT	?
Evo	PAR	evo
šta	PRO	šta
sam	PRO	sam
znao	V:m	znati
o	PREP	o
Morettijevom	A:aem	Morettijevom
filmu	N:m	film
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
sam	PRO	sam
počeo	V:m	početi
da	CONJ	da
ga	PRO	on
gledam	N:m	gledam
:	SENT	:
Papa	N:f	Papa
ima	A:aem	ima
nekakvih	PRO	nekakav
problema	N:m	problem
i	CONJ	i
Vatikan	N:m	Vatikan
odlučuje	N:m	odlučuje
da	CONJ	da
pozove	A:aem	pozove
psihoanalitičara	N:m	psihoanalitičar
da	CONJ	da
mu	PRO	on
pomogne	A:aem	pomogne
da	CONJ	da
ih	PRO	ona
prevaziđe	N:f	prevaziđe
.	SENT	.
Sam	A:aem	sam
Moretti	N:f	Moretti
igra	N:f	igra
psihijatra	N:m	psihijatar
.	SENT	.
Vau	INT	vau
!	PUNCT	!
Ovo	PRO	ovaj
će	A:aem	će
biti	N:f	bit
đavolski	A:aem	đavolski
zabavan	A:aem	zabavan
film	N:m	film
!	PUNCT	!
Evo	PAR	evo
o	PREP	o
čemu	PRO	šta
je	PRO	ona
Morettijev	A:aem	Morettijev
film	N:m	film
zapravo	ADV	zapravo
:	PUNCT	:
upravo	ADV	upravo
izabrani	A:aem	izabran
Papa	N:m	Pap
(	PUNCT	(
'	A:aem	'
Habemus	N:m	Habemus
Papam	N:m	Papam
'	A:aem	'
/	N:m	/
'	A:aem	'
Imamo	N:f	Imamo
Papu	N:f	Papa
'	A:aem	'
su	N:m	su
reči	N:f	reč
koje	PRO	koji
se	PAR	se
izgovaraju	N:m	izgovaraju
pred	PREP	pred
masom	N:f	masa
neposredno	ADV	neposredno
pred	PREP	pred
prvo	A:aen	prvi
Papino	A:aen	papin
pojavljivanje	N:n	pojavljivanje
)	PUNCT	)
doživljava	A:aem	doživljava
nervni	A:aem	nervni
slom	N:m	slom
tik	ADV	tik
pred	PREP	pred
izlazak	N:m	izlazak
pred	PREP	pred
masu	N:f	masa
(	PUNCT	(
Non	N:m	Non
habemus	N:m	habemus
,	PUNCT	,
dakle	CONJ	dakle
)	PUNCT	)
.	SENT	.
Vatikan	N:m	Vatikan
je	PRO	ona
zatečen	V:m	zateći
situacijom	N:f	situacija
u	PREP	u
kojoj	PRO	koji
Papa	N:f	Papa
nije	V:m	nije
spreman	A:aem	spreman
za	PREP	za
'	A:aem	'
poziv	N:m	poziv
'	N:m	'
dok	CONJ	dok
milijarda	N:f	milijarda
vernika	N:m	vernik
širom	PREP	širom
sveta	A:aef	svet
čeka	N:f	čeka
da	CONJ	da
im	PRO	ona
bude	A:aem	bude
predstavljen	V:m	predstaviti
novi	A:aem	nov
lider	N:m	lider
.	SENT	.
Moretti	N:m	Moretti
jeste	INT	jeste
odmah	ADV	odmah
pozvan	V:m	pozvati
(	PUNCT	(
scena	N:f	scena
sešna	N:m	sešna
pred	PREP	pred
stotinak	ADV	stotinak
kardinala	N:m	kardinal
je	PRO	ona
spektakularna	A:aef	spektakularan
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
film	N:m	film
ubrzo	ADV	ubrzo
nakon	PREP	nakon
toga	PRO	taj
,	PUNCT	,
papinim	A:aen	papin
bekstvom	N:n	bekstvo
iz	PREP	iz
Vatikana	N:m	Vatikan
,	PUNCT	,
iz	PREP	iz
satire	N:m	satir
prelazi	N:m	prelaz
u	PREP	u
neku	PRO	neki
vrstu	N:f	vrsta
konfuzno	ADV	konfuzno
komponovane	V:f	komponovati
sentimentalne	A:aef	sentimentalan
komedije	N:f	komedija
.	SENT	.
Mislim	A:aem	Mislim
da	CONJ	da
je	PRO	ona
Morettijeva	A:aef	Morettijeva
namera	N:f	namera
bila	V:f	biti
da	CONJ	da
pokaže	V:f	pokaže
da	CONJ	da
Vatikan	N:m	Vatikan
čine	N:m	čin
ljudi	N:m	ljudi
sa	PREP	sa
ljudskim	A:aef	ljudski
manama	N:f	mana
koji	PRO	koji
imaju	N:f	imaju
pravo	N:n	pravo
na	PREP	na
iste	A:aem	isti
.	PUNCT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
mana	N:f	mana
ove	PRO	ovaj
namere	N:f	namera
jeste	INT	jeste
što	CONJ	što
umesto	PREP	umesto
da	CONJ	da
je	PRO	ona
u	PREP	u
istom	A:aem	isti
satiričnom	A:aem	satiričan
tonu	N:m	ton
kojim	PRO	koji
je	PRO	ona
započeo	V:m	započeti
film	N:m	film
zadržao	V:m	zadržati
fokus	N:m	fokus
samo	PAR	samo
na	PREP	na
novovospostavljenom	A:aef	novovospostavljenom
papi	N:f	papa
Melvilleu	N:m	Melvilleu
(	PUNCT	(
veteran	N:m	veteran
Michel	N:m	Michel
Piccoli	N:m	Piccoli
)	PUNCT	)
pokušavajući	A:aem	pokušavajući
da	CONJ	da
pronikne	A:aem	pronikne
,	PUNCT	,
zajedno	ADV	zajedno
sa	PREP	sa
psihoanalitičarem	N:m	psihoanalitičarem
Morettijem	N:m	Morettijem
,	PUNCT	,
u	PREP	u
to	PRO	taj
šta	PRO	šta
jednog	NUM	jedan
čoveka	N:m	čovek
sprečava	A:aem	sprečava
da	CONJ	da
bude	A:aem	bude
jedan	NUM	jedan
od	PREP	od
najmoćnijih	A:cef	moćan
ljudi	N:m	ljudi
na	PREP	na
svetu	N:m	svet
,	PUNCT	,
on	PRO	on
Melvillea	N:m	Melvillea
prepušta	A:aem	prepušta
polu	N:f	pola
-	PUNCT	-
senilnim	A:aen	senilan
staračkim	A:aen	starački
lutanjima	N:n	lutanje
,	PUNCT	,
a	CONJ	a
našu	PRO	naš
pažnju	N:f	pažnja
podjednako	ADV	podjednako
usmerava	A:aem	usmerava
na	PREP	na
sve	PRO	sav
ostale	V:f	ostati
kardinale	N:m	kardinal
i	CONJ	i
njihove	PRO	njihov
'	N:m	'
ljudske	A:aef	ljudski
'	A:aem	'
momente	N:m	moment
,	PUNCT	,
usput	ADV	usput
nekako	ADV	nekako
potpuno	ADV	potpuno
zaglupljujući	ADV	zaglupljujući
poziciju	N:f	pozicija
svoga	PRO	svoj
lika	N:m	lik
.	SENT	.
Umesto	PREP	umesto
velelepnog	A:aem	velelepan
totala	N:m	total
Pape	N:f	Papa
,	PUNCT	,
mi	PRO	ja
dobijamo	A:aem	dobijamo
osrednji	A:aem	osrednji
total	N:m	total
Vatikana	N:m	Vatikan
.	PUNCT	.
Moram	N:m	Moram
da	CONJ	da
priznam	N:m	priznam
da	CONJ	da
nisam	N:m	nisam
najbolje	ADV	najbolje
razumeo	V:m	razumeti
ni	CONJ	ni
vezu	N:f	veza
sa	PREP	sa
Čehovljevim	A:aem	Čehovljev
Galebom	N:m	galeb
koji	PRO	koji
se	PAR	se
provlači	V:m	provlači
kao	ADV	kao
lajt	N:m	lajt
-	PUNCT	-
motiv	N:m	motiv
Melvilleovog	N:m	Melvilleovog
života	N:m	život
i	CONJ	i
jednog	NUM	jedan
dela	N:n	delo
radnje	N:f	radnja
filma	N:m	film
,	PUNCT	,
sem	PREP	sem
na	PREP	na
nivou	N:m	nivo
univerzalne	A:aef	univerzalan
teze	N:f	teza
da	CONJ	da
je	PRO	ona
čoveku	N:m	čovek
nemogućno	A:aen	nemogućan
da	CONJ	da
pronađe	A:aen	pronađe
svoju	PRO	svoj
sudbinu	N:f	sudbina
,	PUNCT	,
verovao	V:m	verovati
ili	CONJ	ili
ne	PAR	ne
verovao	V:m	verovati
u	PREP	u
nju	PRO	ona
.	SENT	.
A	CONJ	a
možda	PAR	možda
je	PRO	ona
prisustvo	N:n	prisustvo
glumaca	N:m	glumac
odnosno	PAR	odnosno
pozorišta	N:n	pozorište
tu	ADV	tu
bilo	V:n	biti
samo	PAR	samo
da	CONJ	da
naglasi	N:m	naglasi
to	PRO	taj
da	CONJ	da
Papa	N:f	Papa
nije	A:aen	nije
spreman	A:aem	spreman
ni	CONJ	ni
za	PREP	za
ulogu	N:f	uloga
,	PUNCT	,
ni	CONJ	ni
za	PREP	za
pozorište	N:n	pozorište
koje	PRO	koji
bi	N:f	bi
mu	PRO	on
ta	PRO	taj
prihvatanje	N:n	prihvatanje
te	PRO	taj
uloge	N:f	uloga
donelo	V:n	doneti
.	SENT	.
Treba	N:f	treba
ceniti	N:m	ceniti
Morettijevu	A:aen	Morettijevu
oštru	A:aen	oštar
žaoku	N:f	žaoka
provučenu	A:aef	provučen
kroz	PREP	kroz
zaključak	N:m	zaključak
psihoanalitičareve	A:aef	psihoanalitičareve
žene	N:f	žena
(	PUNCT	(
također	PAR	također
psihoanalitičara	N:m	psihoanalitičar
)	PUNCT	)
o	PREP	o
tome	PRO	taj
kako	CONJ	kako
je	PRO	ona
i	CONJ	i
kod	PREP	kod
Pape	N:m	Pap
najverovatniji	A:cem	verovatan
uzrok	N:m	uzrok
svih	PRO	sav
boljki	N:f	boljka
-	PUNCT	-
odsustvo	N:n	odsustvo
roditelja	N:m	roditelj
.	PUNCT	.
Ali	CONJ	ali
i	CONJ	i
sam	A:aem	sam
ishod	N:m	ishod
filma	N:m	film
koji	PRO	koji
postavlja	N:n	postavlja
ozbiljno	A:aen	ozbiljan
pitanje	N:n	pitanje
o	PREP	o
tome	PRO	taj
kakav	PRO	kakav
to	PRO	taj
čovek	N:m	čovek
mora	N:n	more
da	CONJ	da
bude	A:aem	bude
onaj	PRO	onaj
koji	PRO	koji
treba	N:f	treba
da	CONJ	da
zastupa	N:m	zastupa
Boga	N:f	Boga
.	SENT	.
