Možda	N:f	Možda
ne	PAR	ne
toliko	ADV	toliko
impresivan	A:aem	impresivan
,	PUNCT	,
ali	CONJ	ali
hrabar	A:aem	hrabar
Reitmanov	A:aem	Reitmanov
pokušaj	N:m	pokušaj
bavljenja	N:n	bavljenje
nečim	PRO	nešto
drugim	A:aem	drugi
,	PUNCT	,
od	PREP	od
onoga	PRO	onaj
što	CONJ	što
mu	PRO	on
dobro	ADV	dobro
ide	A:aef	ide
Knjige	N:f	knjiga
(	PUNCT	(
romani	N:m	roman
,	PUNCT	,
proza	N:f	proza
.	PUNCT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
imaju	N:f	imaju
'	A:aem	'
vreme	N:n	vreme
po	PREP	po
dubini	N:f	dubina
'	N:m	'
.	SENT	.
One	PRO	onaj
mogu	N:m	Mog
da	CONJ	da
i	CONJ	i
najmanju	N:n	najmanju
vremensku	A:aen	vremenski
jedinicu	N:f	jedinica
zaustave	N:f	zaustava
,	PUNCT	,
i	CONJ	i
zadrže	A:aem	zadrže
pažnju	N:f	pažnja
čitaocima	N:m	čitalac
nečim	PRO	nešto
,	PUNCT	,
što	CONJ	što
će	V:m	će
to	PRO	taj
vreme	N:n	vreme
'	N:m	'
produžiti	A:aem	produžiti
po	PREP	po
dubini	N:f	dubina
'	N:m	'
i	CONJ	i
unutar	PREP	unutar
koga	PRO	koji
će	N:m	će
se	PAR	se
desiti	A:aem	desiti
sve	PRO	sav
ono	PRO	onaj
što	CONJ	što
će	A:aem	će
opravdati	A:aem	opravdati
događaje	N:m	događaj
koji	PRO	koji
su	N:m	su
potom	ADV	potom
usledili	V:m	uslediti
.	SENT	.
Ili	CONJ	ili
nisu	N:m	nisu
.	SENT	.
Film	N:m	film
,	PUNCT	,
bojim	PRO	bojim
se	PAR	se
,	PUNCT	,
tako	ADV	tako
nešto	PRO	nešto
ne	PAR	ne
može	A:aem	može
sebi	PRO	sebe
da	CONJ	da
priušti	A:aem	priušti
.	SENT	.
On	PRO	on
sve	PRO	sav
mora	N:n	more
da	CONJ	da
pokaže	V:m	pokaže
.	SENT	.
I	CONJ	i
nemoćan	A:aem	nemoćan
je	PRO	ona
u	PREP	u
'	N:m	'
produžavanju	N:n	produžavanje
'	N:m	'
te	PRO	taj
sekunde	N:f	sekunda
.	SENT	.
Vreme	N:n	vreme
na	PREP	na
filmu	N:m	film
se	PAR	se
može	A:aem	može
usporiti	N:m	usporiti
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
ne	PAR	ne
može	A:aem	može
produbiti	N:m	produbiti
.	PUNCT	.
I	CONJ	i
upravo	ADV	upravo
zato	ADV	zato
,	PUNCT	,
čini	N:f	čini
mi	PRO	ja
se	PAR	se
,	PUNCT	,
brojne	A:aem	brojni
literarne	A:aef	literaran
adaptacije	N:f	adaptacija
ostaju	N:n	ostaju
nemušte	A:aef	nemušt
na	PREP	na
filmu	N:m	film
-	PUNCT	-
zbrzane	A:aem	zbrzan
,	PUNCT	,
prazne	A:aem	prazan
,	PUNCT	,
neuverljive	A:aef	neuverljiv
,	PUNCT	,
neverovatne	A:aef	neverovatan
,	PUNCT	,
dosadne	A:aef	dosadan
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Labor	N:m	Labor
Day	N:m	Day
je	PRO	ona
jedna	NUM	jedan
takva	PRO	takav
.	SENT	.
Iako	CONJ	iako
nisam	N:m	nisam
čitao	V:m	čitati
roman	N:m	roman
Joyce	N:m	Joyce
Maynard	N:m	Maynard
mogu	A:aen	mogu
da	CONJ	da
zamislim	A:aen	zamislim
da	CONJ	da
je	PRO	ona
njena	PRO	njen
priča	N:f	priča
o	PREP	o
zbližavanju	N:n	zbližavanje
zatvorenika	N:m	zatvorenik
u	PREP	u
bekstvu	N:n	bekstvo
i	CONJ	i
samohrane	A:aef	samohran
majke	N:f	majka
mogla	V:n	moći
da	CONJ	da
se	PAR	se
odvije	N:f	odvije
za	PREP	za
samo	PAR	samo
četiri	NUM	četiri
dana	N:m	dan
praznika	N:m	praznik
(	PUNCT	(
'	A:aem	'
Labor	N:m	Labor
day	A:aem	day
'	N:m	'
uvek	ADV	uvek
pada	N:m	pad
na	PREP	na
prvi	A:aem	prvi
ponedeljak	N:m	ponedeljak
u	PREP	u
septembru	N:m	septembar
)	PUNCT	)
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
koliko	ADV	koliko
fascinantno	A:aen	fascinantan
je	PRO	ona
ova	PRO	ovaj
romansa	N:f	romansa
mogla	V:n	moći
da	CONJ	da
deluje	N:f	deluje
njenom	PRO	njen
sinu	N:m	sin
tinejdžeru	N:m	tinejdžer
,	PUNCT	,
i	CONJ	i
koliko	ADV	koliko
su	N:m	su
flešbekovi	N:m	flešbekovi
koji	PRO	koji
osvetljavaju	N:f	osvetljavaju
zatvorenikovu	A:aef	zatvorenikov
'	N:m	'
mračnu	A:aen	mračan
'	N:m	'
prošlost	N:f	prošlost
bili	V:m	biti
efektni	A:aem	efektan
u	PREP	u
zaustavljanju	N:n	zaustavljanje
to	PRO	taj
malo	A:aen	mali
vremena	N:n	vreme
koje	PRO	koji
im	PRO	ona
je	PRO	ona
povereno	V:n	poveriti
.	SENT	.
Jason	N:m	Jason
Reitman	N:m	Reitman
,	PUNCT	,
u	PREP	u
svom	PRO	sav
prvom	A:aen	prvi
pokušaju	N:m	pokušaj
'	A:aem	'
ozbiljnijeg	A:ben	ozbiljan
'	A:aem	'
filma	N:m	film
,	PUNCT	,
a	CONJ	a
kad	CONJ	kad
to	PRO	taj
kažem	A:aem	kažem
mislim	A:aem	mislim
filma	N:m	film
lišenog	A:aen	lišen
ironije	N:f	ironija
,	PUNCT	,
crnog	A:aem	crn
-	PUNCT	-
humora	N:m	humor
,	PUNCT	,
auto	N:n	auto
-	PUNCT	-
ironične	A:aef	ironičan
postavke	N:f	postavka
,	PUNCT	,
'	A:aem	'
modernog	A:aem	moderan
doba	N:n	doba
'	N:m	'
.	PUNCT	.
.	SENT	.
.	PUNCT	.
nije	V:m	nije
se	PAR	se
baš	PAR	baš
najbolje	ADV	najbolje
snašao	V:m	snaći
kao	ADV	kao
scenarista	N:m	scenarista
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
ni	PAR	ni
kao	ADV	kao
reditelj	N:m	reditelj
.	SENT	.
Pre	PREP	pre
svega	PRO	sav
,	PUNCT	,
flešbekovi	N:m	flešbekovi
zatvorenika	N:m	zatvorenik
nam	PRO	mi
uopšte	ADV	uopšte
nisu	N:m	nisu
bili	V:m	biti
potrebni	A:aem	potreban
.	PUNCT	.
Baš	A:aem	Baš
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
ona	PRO	ona
njemu	PRO	on
ispričala	V:f	ispričati
svoju	PRO	svoj
muku	N:f	muka
,	PUNCT	,
mogao	V:m	moći
je	PRO	ona
i	CONJ	i
on	PRO	on
njoj	PRO	ona
.	PUNCT	.
Sneni	A:aem	snen
,	PUNCT	,
'	A:aem	'
Malickovski	A:aem	Malickovski
'	A:aem	'
pasaži	N:m	pasaž
o	PREP	o
momku	N:m	momak
koji	PRO	koji
nije	N:f	nije
mogao	V:m	moći
da	CONJ	da
podnese	N:m	podnese
neverstvo	N:n	neverstvo
svoje	PRO	svoj
drage	N:f	draga
,	PUNCT	,
da	CONJ	da
bi	A:aem	bi
potom	ADV	potom
počinio	V:m	počiniti
ubistvo	N:n	ubistvo
iz	PREP	iz
nehata	N:m	nehat
,	PUNCT	,
otkrili	V:m	otkriti
su	N:m	su
nam	PRO	mi
biografiju	N:f	biografija
junaka	N:m	junak
,	PUNCT	,
ali	CONJ	ali
su	N:m	su
s	PREP	s
druge	A:aem	drugi
strane	N:f	strana
narušili	V:m	narušiti
ritam	N:m	ritam
i	CONJ	i
melodiju	N:f	melodija
filma	N:m	film
,	PUNCT	,
ukrali	V:m	ukrasti
vreme	N:n	vreme
za	PREP	za
sporiji	A:bem	spor
i	CONJ	i
detaljniji	A:bem	detaljan
razvoj	N:m	razvoj
sadašnjosti	N:f	sadašnjost
.	SENT	.
Zatim	ADV	zatim
,	PUNCT	,
Reitman	N:m	Reitman
se	PAR	se
nije	V:m	nije
potrudio	V:m	potruditi
da	CONJ	da
pametnije	A:bem	pametan
ekonomiše	A:aen	ekonomiše
vremenom	N:n	vreme
(	PUNCT	(
četiri	NUM	četiri
dana	N:m	dan
)	PUNCT	)
koje	PRO	koji
mu	PRO	on
je	PRO	ona
dato	V:n	dati
(	PUNCT	(
skoro	ADV	skoro
dva	NUM	dva
sata	N:m	sat
filma	N:m	film
)	PUNCT	)
,	PUNCT	,
pa	CONJ	pa
tako	ADV	tako
zatvorenik	N:m	zatvorenik
(	PUNCT	(
igra	N:f	igra
ga	PRO	on
Josh	A:aem	Josh
Brolin	N:m	Brolin
)	PUNCT	)
naše	PRO	naš
simpatije	N:f	simpatija
treba	N:f	treba
da	CONJ	da
stekne	A:aem	stekne
kolažom	N:m	kolaž
'	A:aem	'
domarskih	A:aem	domarski
'	A:aem	'
radova	N:m	rad
koje	PRO	koji
za	PREP	za
samohranu	A:aef	samohran
majku	N:f	majka
(	PUNCT	(
igra	N:f	igra
je	PRO	ona
Kate	N:f	Kata
Winslet	N:m	Winslet
)	PUNCT	)
obavlja	N:n	obavlja
,	PUNCT	,
a	CONJ	a
u	PREP	u
to	PRO	taj
treba	N:f	treba
da	CONJ	da
nas	PRO	mi
ubedi	N:f	ubedi
dečakova	A:aef	dečakov
naracija	N:f	naracija
(	PUNCT	(
nije	A:aem	nije
bitno	ADV	bitno
ko	CONJ	ko
njega	PRO	on
igra	N:f	igra
)	PUNCT	)
.	SENT	.
Reitman	N:m	Reitman
je	PRO	ona
želeo	V:m	želeti
da	CONJ	da
mi	PRO	ja
podrazumevamo	N:m	podrazumevamo
snagu	N:f	snaga
stvari	N:f	stvar
koje	PRO	koji
nam	PRO	mi
je	PRO	ona
samo	PAR	samo
pobrojao	V:m	pobrojati
.	SENT	.
Zatvorenik	N:m	zatvorenik
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
u	PREP	u
zatvoru	N:m	zatvor
od	PREP	od
svoje	PRO	svoj
18	NUM	@card@
-	PUNCT	-
te	PRO	taj
(	PUNCT	(
ili	CONJ	ili
tako	ADV	tako
nešto	ADV	nešto
)	PUNCT	)
,	PUNCT	,
pa	CONJ	pa
narednih	A:aef	naredni
20	NUM	@card@
iviše	A:aem	iviše
godina	N:f	godina
,	PUNCT	,
bez	PREP	bez
naročitog	A:aem	naročit
objašnjenja	N:n	objašnjenje
pred	PREP	pred
nama	PRO	mi
dejstvuje	N:m	dejstvuje
kao	CONJ	kao
umešan	A:aem	umešan
domar	N:m	domar
,	PUNCT	,
kuvar	N:m	kuvar
,	PUNCT	,
psiholog	N:m	psiholog
,	PUNCT	,
suprug	N:m	suprug
i	CONJ	i
otac	N:m	otac
,	PUNCT	,
kao	CONJ	kao
da	CONJ	da
nije	A:aem	nije
bio	V:m	biti
u	PREP	u
zatvoru	N:m	zatvor
,	PUNCT	,
već	CONJ	već
na	PREP	na
seriji	N:f	serija
kurseva	N:m	kurs
.	SENT	.
Naspram	PREP	naspram
njega	PRO	on
,	PUNCT	,
mama	N:f	mama
,	PUNCT	,
sa	PREP	sa
svojim	PRO	svoj
privatnim	A:aen	privatan
bolom	N:m	bol
,	PUNCT	,
uprkos	PREP	uprkos
proteklim	A:aef	protekao
godinama	N:f	godina
i	CONJ	i
dalje	ADV	dalje
sveže	ADV	sveže
ostavljena	V:f	ostaviti
od	PREP	od
muža	N:f	muža
koga	PRO	koji
je	PRO	ona
volela	V:f	voleti
,	PUNCT	,
pre	PREP	pre
deluje	A:aef	deluje
kao	CONJ	kao
zlostavljana	A:aef	zlostavljan
žena	N:f	žena
koja	PRO	koji
autoritet	N:m	autoritet
jednog	NUM	jedan
batinaša	N:m	batinaš
(	PUNCT	(
a	CONJ	a
to	PRO	taj
njen	PRO	njen
bivši	A:aem	bivši
nije	N:m	nije
bio	V:m	biti
)	PUNCT	)
zamenjuje	N:m	zamenjuje
drugim	A:aem	drugi
,	PUNCT	,
podjednako	ADV	podjednako
zajebanim	A:aem	zajeban
.	SENT	.
Njena	PRO	njen
strast	N:f	strast
kao	ADV	kao
da	CONJ	da
se	PAR	se
razvija	A:bef	razvija
iz	PREP	iz
prestanaka	N:m	prestanak
straha	N:m	strah
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
slobode	N:f	sloboda
koja	PRO	koji
joj	PRO	ona
je	PRO	ona
ponuđena	V:m	ponuditi
.	SENT	.
Na	PREP	na
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
odluke	N:f	odluka
koje	PRO	koji
junaci	N:m	junak
donose	N:m	donose
,	PUNCT	,
deluju	A:aem	deluju
apsolutno	ADV	apsolutno
nerealno	A:aen	nerealan
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
vreme	N:n	vreme
koje	PRO	koji
su	N:m	su
pre	PREP	pre
toga	PRO	taj
proveli	V:m	provesti
zajedno	ADV	zajedno
.	PUNCT	.
A	CONJ	a
u	PREP	u
njima	PRO	ona
samima	PRO	sam
nema	A:aem	nem
ničega	PRO	ništa
što	CONJ	što
bi	A:aen	bi
opravdalo	V:n	opravdati
taj	PRO	taj
,	PUNCT	,
recimo	A:aen	recimo
'	A:aem	'
Telma	N:f	Telma
i	CONJ	i
Luiz	N:m	Luiz
'	A:aem	'
zanos	N:m	zanos
.	SENT	.
O	PREP	o
tome	PRO	taj
,	PUNCT	,
da	CONJ	da
je	PRO	ona
u	PREP	u
isti	A:aem	isti
uključeno	V:n	uključiti
i	CONJ	i
dete	N:n	dete
da	CONJ	da
ne	PAR	ne
govorim	A:aem	govorim
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
dečaku	N:m	dečak
poverio	V:m	poveriti
naraciju	N:f	naracija
,	PUNCT	,
Reitman	N:m	Reitman
uopšte	ADV	uopšte
nije	V:m	nije
iskoristio	V:m	iskoristiti
njegovu	PRO	njegov
vizuru	N:f	vizura
.	PUNCT	.
Umesto	PREP	umesto
da	CONJ	da
preterivanja	N:n	preterivanje
u	PREP	u
realnosti	N:f	realnost
opravda	N:f	opravda
i	CONJ	i
prikaže	A:aem	prikaže
kao	CONJ	kao
'	A:aem	'
dečakovu	A:aef	dečakov
realnost	N:f	realnost
'	N:m	'
u	PREP	u
kojoj	PRO	koji
je	PRO	ona
je	PRO	ona
sve	ADV	sve
preterano	ADV	preterano
,	PUNCT	,
on	PRO	on
ga	PRO	on
je	PRO	ona
ostavio	V:m	ostaviti
kao	ADV	kao
diskretnog	A:aem	diskretan
beležnika	N:m	beležnik
,	PUNCT	,
čija	PRO	čiji
sva	PRO	sav
svrha	N:f	svrha
izgleda	N:m	izgled
dolazi	N:m	dolaz
na	PREP	na
samom	PRO	sam
kraju	N:m	kraj
filma	N:m	film
kada	CONJ	kada
je	PRO	ona
'	A:aem	'
čitav	A:aem	čitav
jedan	NUM	jedan
film	N:m	film
'	N:m	'
,	PUNCT	,
koji	PRO	koji
se	PAR	se
desi	N:m	desi
u	PREP	u
epilogu	N:m	epilog
,	PUNCT	,
trebalo	V:n	trebati
koliko	ADV	koliko
je	PRO	ona
god	PAR	god
moguće	ADV	moguće
ispuniti	N:m	ispuniti
emocijom	N:f	emocija
,	PUNCT	,
porukom	N:f	poruka
i	CONJ	i
smislom	N:m	smisao
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
moram	N:m	moram
da	CONJ	da
kažem	A:aen	kažem
da	CONJ	da
bih	A:aen	bih
više	ADV	više
voleo	V:m	voleti
da	CONJ	da
je	PRO	ona
Reitman	N:m	Reitman
ovaj	PRO	ovaj
materijal	N:m	materijal
'	N:m	'
približio	V:m	približiti
sebi	PRO	sebe
'	N:m	'
,	PUNCT	,
nego	CONJ	nego
što	CONJ	što
bih	A:aem	bih
voleo	V:m	voleti
da	CONJ	da
vidim	A:aem	vidim
uspešnije	A:bef	uspešan
izdanje	N:n	izdanje
njegovog	PRO	njegov
približvanja	N:n	približvanja
ovoj	PRO	ovaj
,	PUNCT	,
'	N:m	'
klasičnije	A:ben	klasičan
'	N:m	'
zdelanoj	A:aef	zdelanoj
drami	N:f	drama
.	PUNCT	.
Ali	CONJ	ali
i	CONJ	i
dalje	ADV	dalje
ga	PRO	on
volim	A:aem	volim
.	SENT	.
