“	A:aem	“
Shame	N:m	Shame
”	A:aem	”
je	PRO	ona
film	N:m	film
o	PREP	o
kojem	PRO	koji
proteklih	A:aem	protekao
nekoliko	ADV	nekoliko
meseci	N:m	mesec
konstantno	A:aen	konstantan
čitam	N:m	čitam
samo	CONJ	samo
reči	N:f	reč
hvale	N:f	hvala
po	PREP	po
internetu	N:m	internet
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
prvu	A:aem	prvi
priliku	N:f	prilika
koju	PRO	koji
sam	PRO	sam
dobio	V:m	dobiti
da	CONJ	da
ga	PRO	on
pogledam	N:m	pogledam
,	PUNCT	,
nisam	N:m	nisam
smeo	V:m	smesti
nikako	ADV	nikako
propustiti	A:aem	propustiti
.	SENT	.
Interesatno	A:aen	Interesatno
mi	PRO	ja
je	PRO	ona
bilo	V:n	biti
od	PREP	od
samog	PRO	sam
starta	N:m	start
to	PRO	taj
što	CONJ	što
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
pored	PREP	pored
svoje	PRO	svoj
kontroverzne	A:aef	kontroverzan
tematike	N:f	tematika
i	CONJ	i
provokativnih	A:aef	provokativan
sekvenci	N:f	sekvenca
,	PUNCT	,
privukao	V:m	privući
simpatije	N:f	simpatija
toliko	ADV	toliko
različitih	A:aem	različit
ljudi	N:m	ljudi
koje	PRO	koji
poznajem	N:m	poznajem
,	PUNCT	,
da	CONJ	da
sam	PRO	sam
pre	PREP	pre
samog	PRO	sam
gledanja	N:n	gledanje
imao	V:m	imati
već	CONJ	već
neku	PRO	neki
dozu	N:f	doza
formiranog	A:aen	formiran
poštovanja	N:n	poštovanje
prema	PREP	prema
ostvarenju	N:n	ostvarenje
iako	CONJ	iako
nisam	N:m	nisam
video	V:m	videti
niti	PAR	niti
jedan	NUM	jedan
kadar	N:m	kadar
iz	PREP	iz
njega	PRO	on
.	SENT	.
Priča	A:aem	Priča
filma	N:m	film
prati	N:f	prati
Brendona	N:m	Brendon
,	PUNCT	,
kancelarijskog	A:aem	kancelarijski
radnika	N:m	radnik
iz	PREP	iz
Njujorka	N:m	Njujork
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
seksualni	A:aem	seksualan
zavisnik	N:m	zavisnik
i	CONJ	i
pervernjak	N:m	pervernjak
.	SENT	.
Brendon	N:m	Brendon
je	PRO	ona
duboko	ADV	duboko
isfrustrirana	V:m	isfrustrirana
osoba	N:f	osoba
koja	PRO	koji
vreba	N:m	vreba
svaku	PRO	svaki
moguću	A:aef	moguć
priliku	N:f	prilika
da	CONJ	da
gleda	N:m	gleda
pornografiju	N:f	pornografija
,	PUNCT	,
nevezano	ADV	nevezano
da	CONJ	da
li	PAR	li
je	PRO	ona
na	PREP	na
poslu	N:m	posao
ili	CONJ	ili
kući	N:f	kuća
,	PUNCT	,
i	CONJ	i
koristi	N:f	korist
svaku	PRO	svaki
priliku	N:f	prilika
koja	PRO	koji
mu	PRO	on
se	PAR	se
ponudi	N:f	ponuda
da	CONJ	da
se	PAR	se
upusti	N:m	upusti
u	PREP	u
anonimni	A:aem	anoniman
seksualni	A:aem	seksualan
odnos	N:m	odnos
.	SENT	.
Brendon	N:m	Brendon
je	PRO	ona
nezasitog	A:aem	nezasit
seksualnog	A:aem	seksualan
aptetita	N:m	aptetita
i	CONJ	i
pored	PREP	pored
česte	A:aef	čest
masturbacije	N:f	masturbacija
,	PUNCT	,
odnosa	N:m	odnos
sa	PREP	sa
ženama	N:f	žena
noći	N:f	noć
i	CONJ	i
raznih	A:aen	raznih
drugih	A:aen	drugi
devojaka	N:f	devojka
koje	PRO	koji
upoznaje	N:m	upoznaje
u	PREP	u
baru	N:f	bara
ili	CONJ	ili
na	PREP	na
poslu	N:m	posao
,	PUNCT	,
on	PRO	on
se	PAR	se
čak	PAR	čak
bavi	N:m	bavi
i	CONJ	i
vojerizmom	N:m	vojerizmom
,	PUNCT	,
posmatrajući	A:aem	posmatrajući
šta	PRO	šta
drugi	A:aem	drugi
ljudi	N:m	ljudi
rade	A:aem	rad
u	PREP	u
privatnostima	N:f	privatnost
svojih	PRO	svoj
domova	N:m	dom
.	SENT	.
Brendonov	A:aem	Brendonov
stil	N:m	stil
života	N:m	život
biva	A:aem	biva
ugrožen	V:m	ugroziti
nakon	PREP	nakon
što	PRO	što
mu	PRO	on
se	PAR	se
njegova	PRO	njegov
previše	ADV	previše
zavisna	A:aef	zavisna
sestra	N:f	sestra
Sisi	N:f	Sisi
useljava	A:aem	useljava
u	PREP	u
stan	N:m	stan
jer	CONJ	jer
radi	PREP	radi
kao	ADV	kao
pevačica	N:f	pevačica
u	PREP	u
baru	N:f	bara
koji	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
u	PREP	u
neposrednoj	A:aef	neposredan
blizini	N:f	blizina
njegovog	PRO	njegov
apartmana	N:m	apartman
.	SENT	.
Brendon	N:m	Brendon
je	PRO	ona
ogorčen	V:m	ogorčiti
njenim	PRO	njen
dolaskom	N:m	dolazak
i	CONJ	i
nikako	ADV	nikako
se	PAR	se
ne	PAR	ne
trudi	V:n	trudi
da	CONJ	da
sakrije	N:f	sakrije
svoje	PRO	svoj
nezadovoljstvo	N:n	nezadovoljstvo
što	CONJ	što
otvara	N:m	otvara
segmente	N:m	segment
u	PREP	u
filmu	N:m	film
koji	PRO	koji
daju	N:m	Daj
bliceve	N:m	blic
njivog	A:aem	njivog
problematičnog	A:aem	problematičan
odnosa	N:m	odnos
iz	PREP	iz
prošlosti	N:f	prošlost
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
zaista	PAR	zaista
pun	A:aem	pun
ozbiljnih	A:aem	ozbiljan
nedostataka	N:m	nedostatak
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
mi	PRO	ja
se	PAR	se
prvenstveno	ADV	prvenstveno
nije	V:n	nije
svidelo	V:n	svideti
u	PREP	u
njemu	PRO	on
jeste	INT	jeste
što	CONJ	što
je	PRO	ona
u	PREP	u
svakom	PRO	svaki
segmentu	N:m	segment
nekopletan	A:aem	nekopletan
i	CONJ	i
taj	PRO	taj
nedostatak	N:m	nedostatak
bitnih	A:aef	bitan
informacija	N:f	informacija
u	PREP	u
priči	N:f	priča
ga	PRO	on
čini	N:f	čini
prilično	ADV	prilično
dosadnim	A:aem	dosadan
za	PREP	za
gledanje	N:n	gledanje
.	SENT	.
Sam	A:aem	sam
protagonista	N:m	protagonista
nije	V:m	nije
uspeo	V:m	uspeti
da	CONJ	da
izvuče	V:m	izvuče
iz	PREP	iz
mene	PRO	ja
niti	CONJ	niti
empatiju	N:f	empatija
prema	PREP	prema
stanju	N:n	stanje
u	PREP	u
kojem	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
,	PUNCT	,
niti	CONJ	niti
nekakve	PRO	nekakav
simpatije	N:f	simpatija
,	PUNCT	,
što	CONJ	što
me	PRO	ja
je	PRO	ona
u	PREP	u
startu	N:m	start
prilično	ADV	prilično
odvojilo	V:n	odvojiti
od	PREP	od
čitave	A:aef	čitav
priče	N:f	priča
i	CONJ	i
nateralo	V:n	naterati
da	CONJ	da
melanholično	A:aen	melanholičan
ispratim	A:aen	ispratim
razradu	N:f	razrada
filma	N:m	film
,	PUNCT	,
ako	CONJ	ako
se	PAR	se
uopšte	ADV	uopšte
tako	ADV	tako
može	A:aem	može
i	CONJ	i
nazvati	V:m	nazvati
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
me	PRO	ja
je	PRO	ona
dodatno	ADV	dodatno
odbacilo	V:n	odbaciti
do	PREP	do
filma	N:m	film
jeste	INT	jeste
to	PRO	taj
što	CONJ	što
je	PRO	ona
sam	A:aem	sam
zaplet	N:m	zaplet
skoro	ADV	skoro
pa	CONJ	pa
i	CONJ	i
nepostojeći	A:aem	nepostojeći
.	SENT	.
U	PREP	u
filmu	N:m	film
se	PAR	se
ništa	ADV	ništa
konkretno	ADV	konkretno
ne	PAR	ne
dešava	V:m	dešava
,	PUNCT	,
i	CONJ	i
pored	PREP	pored
toga	PRO	taj
što	CONJ	što
sami	PRO	sam
likovi	N:m	lik
nisu	N:m	nisu
nešto	ADV	nešto
preterano	ADV	preterano
razvijeni	V:m	razviti
,	PUNCT	,
niti	CONJ	niti
imaju	N:f	imaju
kakvu	PRO	kakav
dublju	A:bef	dubok
i	CONJ	i
kompleksniju	A:bef	kompleksan
pozadinsku	A:aef	pozadinski
priču	N:f	priča
koja	PRO	koji
bi	N:f	bi
nas	PRO	mi
zaintrigirala	V:f	zaintrigirati
,	PUNCT	,
radnja	N:f	radnja
filma	N:m	film
nudi	N:f	nudi
zaista	ADV	zaista
fantastično	A:aen	fantastičan
snimljene	A:aef	snimljen
sekvence	N:f	sekvenca
koje	PRO	koji
trebaju	N:f	trebaju
u	PREP	u
sebi	PRO	sebe
da	CONJ	da
kriju	N:m	kriju
“	N:m	“
dublje	ADV	dublje
”	A:aem	”
značenje	N:n	značenje
,	PUNCT	,
da	CONJ	da
nas	PRO	mi
tera	N:m	ter
da	CONJ	da
čitamo	N:m	čitamo
između	PREP	između
redova	N:m	red
,	PUNCT	,
ali	CONJ	ali
zbog	PREP	zbog
nedovoljno	A:aen	nedovoljan
informacija	N:f	informacija
o	PREP	o
likovima	N:m	lik
bivaju	N:f	bivaju
ipak	PAR	ipak
ništa	ADV	ništa
drugo	A:aen	drugi
nego	CONJ	nego
neki	PRO	neki
vid	N:m	vid
dosadnog	A:aem	dosadan
porno	A:aen	porni
filma	N:m	film
.	SENT	.
Gluma	N:f	gluma
je	PRO	ona
recimo	N:f	recimo
u	PREP	u
filmu	N:m	film
bila	V:f	biti
dobra	N:n	dobro
,	PUNCT	,
jer	CONJ	jer
smatram	N:m	smatram
da	CONJ	da
su	N:m	su
akteri	N:m	akter
uradili	V:m	uraditi
najbolje	ADV	najbolje
što	CONJ	što
su	N:m	su
mogli	V:m	moći
sa	PREP	sa
tako	ADV	tako
tankim	A:aef	tanak
scenarijom	N:f	scenarijom
.	SENT	.
Generalna	A:aen	generalan
ideja	N:f	ideja
filma	N:m	film
“	A:aem	“
Shame	N:m	Shame
”	A:aem	”
je	PRO	ona
bila	V:f	biti
da	CONJ	da
prikaže	V:f	prikaže
unutrašnju	A:aef	unutrašnji
borbu	N:f	borba
i	CONJ	i
prazninu	N:f	praznina
koju	PRO	koji
oseća	N:f	oseća
naš	PRO	naš
protagonista	N:m	protagonista
,	PUNCT	,
ali	CONJ	ali
zbog	PREP	zbog
izuzetno	ADV	izuzetno
slabog	A:aem	slab
scenarija	N:m	scenario
,	PUNCT	,
sporog	A:aem	spor
tempa	N:m	tempo
i	CONJ	i
suvišnih	A:aem	suvišan
dugih	A:aef	dug
rezova	N:m	rez
,	PUNCT	,
reditelj	N:m	reditelj
ne	PAR	ne
uspeva	V:n	uspeva
da	CONJ	da
formira	N:f	formira
emotivnu	A:aef	emotivan
dramu	N:f	drama
kakvu	PRO	kakav
je	PRO	ona
zamislio	V:m	zamisliti
.	SENT	.
Meni	PRO	ja
se	PAR	se
projekat	N:m	projekt
nije	V:m	nije
dopao	V:m	dopasti
,	PUNCT	,
pored	PREP	pored
toga	PRO	taj
što	CONJ	što
je	PRO	ona
lepo	ADV	lepo
snimljen	V:m	snimiti
i	CONJ	i
ima	A:aem	ima
nekolicinu	N:f	nekolicina
interesatnih	A:aef	interesatnih
scena	N:f	scena
,	PUNCT	,
ipak	PAR	ipak
sam	PRO	sam
ga	PRO	on
doživeo	V:m	doživeti
kao	ADV	kao
hladnim	A:aef	hladan
,	PUNCT	,
dosadnim	A:aen	dosadan
i	CONJ	i
pretencioznim	A:aen	pretenciozan
.	SENT	.
