Putovanje	N:n	putovanje
kroz	PREP	kroz
vreme	N:n	vreme
je	PRO	ona
ideja	N:f	ideja
koja	PRO	koji
uvek	ADV	uvek
privuče	A:aef	privuče
pažnju	N:f	pažnja
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
mnogi	A:aem	mnogi
se	PAR	se
izgube	N:m	izgube
u	PREP	u
toj	PRO	taj
ideji	N:f	ideja
i	CONJ	i
ne	PAR	ne
naprave	N:f	naprava
ništa	ADV	ništa
posebno	ADV	posebno
.	SENT	.
Na	PREP	na
svu	PRO	sav
sreću	N:f	sreća
,	PUNCT	,
to	PRO	taj
nije	A:aem	nije
slučaj	N:m	slučaj
sa	PREP	sa
Posetiocima	N:m	posetilac
.	SENT	.
Imamo	N:m	Imamo
dva	NUM	dva
lika	N:m	lik
iz	PREP	iz
srednjeg	A:aen	srednji
veka	N:m	vek
koji	PRO	koji
stižu	N:f	stižu
u	PREP	u
1993	NUM	@card@
.	PUNCT	.
godinu	N:f	godina
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
tu	ADV	tu
i	CONJ	i
sami	PRO	sam
možete	A:aef	možete
zamisliti	N:f	zamisliti
na	PREP	na
kakve	PRO	kakav
sve	PRO	sav
probleme	N:m	problem
nailaze	N:m	nailaze
njih	PRO	ona
dvojica	N:f	dvojica
u	PREP	u
privikavanju	N:n	privikavanje
na	PREP	na
novu	A:aen	nov
sredinu	N:f	sredina
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
se	PAR	se
meni	PRO	ja
dopalo	V:n	dopasti
,	PUNCT	,
film	N:m	film
se	PAR	se
nije	V:m	nije
zasnivao	V:m	zasnivati
samo	PAR	samo
na	PREP	na
gegovima	N:m	geg
i	CONJ	i
urnebesnim	A:aem	urnebesnim
postupcima	N:m	postupak
ta	PRO	taj
dva	NUM	dva
lika	N:m	lik
koja	PRO	koji
su	N:m	su
zaluatala	V:m	zaluatala
u	PREP	u
vremenu	N:n	vreme
.	PUNCT	.
Da	CONJ	da
je	PRO	ona
to	PRO	taj
slučaj	N:m	slučaj
,	PUNCT	,
film	N:m	film
bi	N:f	bi
bio	V:m	biti
jednoličan	A:aem	jednoličan
i	CONJ	i
postao	V:m	postati
bi	A:aem	bi
pre	ADV	pre
ili	CONJ	ili
kasnije	ADV	kasnije
dosadan	A:aem	dosadan
jer	CONJ	jer
teško	A:aen	težak
da	CONJ	da
bi	A:aen	bi
izgurali	V:m	izgurati
sa	PREP	sa
istim	A:aef	isti
tipom	N:m	tip
fazona	N:m	fazon
do	PREP	do
njegovog	PRO	njegov
kraja	N:m	kraj
.	SENT	.
Svi	PRO	sav
ti	PRO	taj
gegovi	N:m	geg
i	CONJ	i
komične	A:aem	komičan
scene	N:f	scena
gde	CONJ	gde
se	PAR	se
dva	NUM	dva
glavna	A:aem	glavna
lika	N:m	lik
sukobe	N:m	sukob
sa	PREP	sa
razlikama	N:f	razlika
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
njihov	PRO	njihov
svet	A:aem	svet
su	N:m	su
samo	CONJ	samo
usputne	A:aef	usputan
stvari	N:f	stvar
u	PREP	u
glavnoj	A:aef	glavnoj
priči	N:f	priča
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
se	PAR	se
meni	PRO	ja
naročito	ADV	naročito
dopalo	V:n	dopasti
je	PRO	ona
to	PRO	taj
što	PRO	što
su	N:m	su
likovi	N:m	lik
sreli	V:m	sresti
svoje	PRO	svoj
potomke	N:m	potomak
ali	CONJ	ali
u	PREP	u
prilično	ADV	prilično
neočekivanim	A:aen	neočekivan
ulogama	N:f	uloga
.	SENT	.
Tu	PRO	taj
se	PAR	se
ova	PRO	ovaj
komedija	N:f	komedija
fino	ADV	fino
sprda	N:f	sprda
sa	PREP	sa
klasnim	A:aef	klasni
razlikama	N:f	razlika
,	PUNCT	,
sa	PREP	sa
malograđanštinom	N:f	malograđanština
,	PUNCT	,
sa	PREP	sa
ustaljenim	A:aem	ustaljen
principima	N:m	princip
.	PUNCT	.
.	SENT	.
.	PUNCT	.
U	PREP	u
svemu	PRO	sav
tome	PRO	taj
imamo	N:m	imamo
gomilu	N:f	gomila
sjajnih	A:aem	sjajan
likova	N:n	likovo
i	CONJ	i
ako	CONJ	ako
ste	A:aem	ste
gledali	V:m	gledati
bilo	V:n	biti
koju	PRO	koji
uspešnu	A:aem	uspešan
francusku	A:aem	francuski
komediju	N:f	komedija
onda	ADV	onda
znate	V:f	znati
šta	ADV	šta
tu	ADV	tu
možete	A:aem	možete
očekivati	A:aem	očekivati
.	SENT	.
Još	N:m	Još
jedan	NUM	jedan
veliki	A:aem	velik
kvalitet	N:m	kvalitet
je	PRO	ona
što	PRO	što
je	PRO	ona
film	N:m	film
užasno	ADV	užasno
dinamičan	A:aem	dinamičan
.	SENT	.
Konstantno	A:aen	konstantan
imamo	N:m	imamo
neku	PRO	neki
jurnjavu	N:f	jurnjava
,	PUNCT	,
frku	N:f	frka
,	PUNCT	,
probleme	N:m	problem
koji	PRO	koji
se	PAR	se
samo	PAR	samo
gomilaju	N:f	gomilaju
,	PUNCT	,
brze	A:aef	brz
dijaloge	N:m	dijalog
.	PUNCT	.
.	SENT	.
.	PUNCT	.
i	CONJ	i
sve	PRO	sav
je	PRO	ona
to	PRO	taj
nafilovano	V:n	nafilovati
solidnim	A:aem	solidan
humorom	N:m	humor
i	CONJ	i
sjajnim	A:aem	sjajan
gegovima	N:m	geg
.	SENT	.
Pomenuću	N:m	Pomenuću
još	ADV	još
i	CONJ	i
dobro	ADV	dobro
iskorišćenu	A:aef	iskorišćen
genijalnu	A:aef	genijalan
numeru	N:f	numera
Enae	A:aem	Enae
Volare	N:m	volar
.	SENT	.
Les	N:m	Les
Visiteurs	N:m	Visiteurs
je	PRO	ona
zabavna	A:aef	zabavan
,	PUNCT	,
dinamična	A:aef	dinamičan
komedija	N:f	komedija
sa	PREP	sa
odličnom	A:aen	odličan
glumačkom	A:aef	glumački
ekipom	N:f	ekipa
koju	PRO	koji
toplo	ADV	toplo
preporučujem	N:m	preporučujem
svima	PRO	sav
.	SENT	.
