I	CONJ	i
dalje	ADV	dalje
nisam	N:m	nisam
siguran	A:aem	siguran
da	CONJ	da
li	PAR	li
naslov	N:m	naslov
znači	A:aef	znači
'	A:aem	'
gospođica	N:f	gospođica
nasilje	N:n	nasilje
'	A:aem	'
ili	CONJ	ili
'	A:aem	'
mis	N:f	mis
nasilja	N:n	nasilje
'	A:aem	'
Ako	A:aem	Ako
ste	N:m	ste
gledali	V:m	gledati
(	PUNCT	(
također	PAR	također
)	PUNCT	)
grčki	A:aem	grčki
film	N:m	film
Dogtooth	A:aem	Dogtooth
,	PUNCT	,
Giorgosa	N:m	Giorgosa
Lanthimosa	N:m	Lanthimosa
,	PUNCT	,
onda	ADV	onda
će	N:m	će
vam	PRO	vi
čak	PAR	čak
i	CONJ	i
van	PREP	van
konteksta	N:m	kontekst
'	A:aem	'
Novog	A:aem	nov
grčkog	A:aem	grčki
filma	N:m	film
'	N:m	'
,	PUNCT	,
ova	PRO	ovaj
dva	NUM	dva
filma	N:m	film
delovati	N:m	delovati
preslično	A:aen	preslično
.	SENT	.
U	PREP	u
oba	NUM	oba
otac	N:m	otac
(	PUNCT	(
ovde	ADV	ovde
deda	N:f	deda
)	PUNCT	)
se	PAR	se
pojavljuje	N:f	pojavljuje
kao	CONJ	kao
mini	N:f	mina
-	PUNCT	-
diktator	N:m	diktator
.	SENT	.
U	PREP	u
oba	NUM	oba
porodica	N:f	porodica
je	PRO	ona
na	PREP	na
izvestan	A:aem	izvestan
način	N:m	način
izolovana	A:aem	izolovan
i	CONJ	i
u	PREP	u
tom	PRO	taj
svetu	N:m	svet
živi	A:aem	živ
po	PREP	po
pravilima	N:n	pravilo
tog	PRO	taj
sveta	A:aef	svet
tj	ABB	tj
oca	N:m	otac
.	SENT	.
U	PREP	u
oba	NUM	oba
deca	N:f	deca
su	N:m	su
na	PREP	na
udaru	N:m	udar
nasilja	N:n	nasilje
i	CONJ	i
od	PREP	od
njih	PRO	ona
počinje	A:aen	počinje
krckanje	N:n	krckanje
tog	PRO	taj
sveta	N:m	svet
i	CONJ	i
njegov	PRO	njegov
neminovni	A:aem	neminovan
kraj	N:m	kraj
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
ne	PAR	ne
dajte	N:m	dajte
da	CONJ	da
vas	PRO	vi
to	PRO	taj
odvrati	N:m	odvrati
od	PREP	od
gledanja	N:n	gledanje
,	PUNCT	,
jer	CONJ	jer
Miss	N:m	Miss
Violence	N:f	Violence
je	PRO	ona
bolji	A:bem	dobar
film	N:m	film
(	PUNCT	(
iako	CONJ	iako
iz	PREP	iz
mog	PRO	moj
ugla	N:m	ugao
to	PRO	taj
i	PAR	i
nije	V:m	nije
bio	V:m	biti
neki	PRO	neki
težak	A:aem	težak
zadatak	N:m	zadatak
)	PUNCT	)
.	SENT	.
Nemoguće	A:aem	Nemoguće
je	PRO	ona
pozabaviti	V:m	pozabaviti
se	PAR	se
ovim	PRO	ovaj
filmom	N:m	film
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
otkriti	N:m	otkriti
sve	PRO	sav
ključne	A:aem	ključne
trenutke	N:m	trenutak
.	PUNCT	.
Zato	ADV	zato
OPREZ	N:m	oprez
!	SENT	!
U	PREP	u
totalnoj	A:aef	totalan
stilizaciji	N:f	stilizacija
Alexandros	N:m	Alexandros
Avranas	N:m	Avranas
pretvorio	V:m	pretvoriti
je	PRO	ona
svoj	PRO	sav
film	N:m	film
u	PREP	u
vizuelnu	A:aef	vizuelan
apoteku	N:f	apoteka
u	PREP	u
kojoj	PRO	koji
svi	PRO	sav
likovi	N:m	lik
i	CONJ	i
sav	PRO	sav
mizanscen	N:m	mizanscen
pedantno	ADV	pedantno
održava	N:f	održava
bolesno	ADV	bolesno
pedantno	ADV	pedantno
i	CONJ	i
bespogovorno	ADV	bespogovorno
ustrojstvo	N:n	ustrojstvo
sveta	A:aef	svet
naših	PRO	naš
junaka	N:m	junak
.	SENT	.
Okrutno	ADV	okrutno
bolesnu	A:aef	bolestan
scenu	N:f	scena
rođendana	N:m	rođendan
jedanaestogodišnje	A:aef	jedanaestogodišnji
Angeliki	N:f	Angelika
u	PREP	u
kojoj	PRO	koji
,	PUNCT	,
između	PREP	između
ostalog	A:aem	ostalog
,	PUNCT	,
deda	N:f	deda
i	CONJ	i
slavljenica	N:f	slavljenica
valcuju	N:m	valcuju
uz	PREP	uz
Leonard	N:m	Leonard
Cohenovu	A:aem	Cohenovu
Dance	N:m	Danac
Me	N:f	Me
To	N:m	To
The	INT	The
End	N:m	End
of	N:m	of
the	N:m	the
World	N:m	World
Avranas	N:m	Avranas
završava	A:aem	završava
njenim	PRO	njen
skokom	N:m	skok
sa	PREP	sa
terase	N:f	terasa
zgrade	N:f	zgrada
,	PUNCT	,
tik	ADV	tik
pred	PREP	pred
pravljenje	N:n	pravljenje
zajedničke	A:aef	zajednički
fotografije	N:f	fotografija
.	SENT	.
Ako	CONJ	ako
imate	N:m	imate
iskustvo	N:n	iskustvo
gledanja	N:n	gledanje
The	INT	The
Hunt	N:m	Hunt
ili	CONJ	ili
Michael	N:m	Michael
nemoguće	ADV	nemoguće
je	PRO	ona
da	CONJ	da
neke	PRO	neki
stvari	N:f	stvar
kao	CONJ	kao
mogući	A:aem	moguć
razlozi	N:m	razlog
za	PREP	za
taj	PRO	taj
čin	N:m	čin
ne	PAR	ne
počnu	A:aen	počnu
da	CONJ	da
vam	PRO	vi
igraju	N:f	igraju
u	PREP	u
prljavoj	A:aef	prljav
mašti	N:f	mašta
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
Avranas	N:m	Avranas
će	A:aem	će
tek	CONJ	tek
onda	ADV	onda
početi	V:m	početi
da	CONJ	da
pojašnjava	A:aem	pojašnjava
šta	PRO	šta
smo	N:f	smo
mi	PRO	ja
zapravo	ADV	zapravo
videli	V:m	videti
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
ko	PRO	ko
je	PRO	ona
tu	PRO	taj
kome	PRO	koji
otac	N:m	otac
,	PUNCT	,
majka	N:f	majka
,	PUNCT	,
sin	N:m	sin
,	PUNCT	,
ćerka	N:f	ćerka
.	PUNCT	.
.	SENT	.
.	PUNCT	.
I	CONJ	i
to	PRO	taj
iznenađenje	N:n	iznenađenje
otvoriće	A:aef	otvoriće
put	N:f	put
novim	A:aef	nov
očekivanjima	N:n	očekivanje
,	PUNCT	,
jer	CONJ	jer
Miss	N:m	Miss
Violence	N:f	Violence
ne	PAR	ne
žuri	N:f	žuri
da	CONJ	da
bude	A:aem	bude
film	N:m	film
koji	PRO	koji
jeste	INT	jeste
.	SENT	.
Istraga	N:f	istraga
koja	PRO	koji
će	N:m	će
se	PAR	se
povesti	N:f	povest
povodom	PREP	povodom
smrti	N:f	smrt
devojčice	N:f	devojčica
(	PUNCT	(
pre	PREP	pre
svega	PRO	sav
od	PREP	od
strane	N:f	strana
socijalne	A:aem	socijalan
službe	N:f	služba
)	PUNCT	)
nastaviće	A:aem	nastaviće
da	CONJ	da
nas	PRO	mi
ispunjava	A:aef	ispunjava
nelagodnošću	N:f	nelagodnost
pred	PREP	pred
disciplinom	N:f	disciplina
koju	PRO	koji
na	PREP	na
svim	PRO	sav
nivoima	N:m	nivo
poštuju	N:m	poštuju
ukućani	N:m	ukućanin
,	PUNCT	,
od	PREP	od
toga	PRO	taj
ko	PRO	ko
kad	CONJ	kad
priča	N:f	priča
do	PREP	do
savršene	A:aef	savršen
ispeglanosti	N:f	ispeglanosti
njihove	PRO	njihov
garderobe	N:f	garderoba
.	PUNCT	.
A	CONJ	a
zatim	ADV	zatim
ćemo	N:f	ćemo
malo	ADV	malo
po	PREP	po
malo	ADV	malo
po	PREP	po
malo	ADV	malo
upoznavati	A:aem	upoznavati
naličje	N:n	naličje
požrtvovanog	A:aem	požrtvovan
deke	N:f	deka
i	CONJ	i
njegove	PRO	njegov
patološke	A:aef	patološki
supervizije	N:f	supervizija
života	N:m	život
svih	PRO	sav
koji	PRO	koji
sa	PREP	sa
njima	PRO	ona
žive	N:f	živa
.	PUNCT	.
I	CONJ	i
to	PRO	taj
malo	ADV	malo
po	PAR	po
malo	ADV	malo
odvijaće	V:m	odvijaće
se	PAR	se
pred	PREP	pred
našim	PRO	naš
očima	N:f	oči
u	PREP	u
diskretnim	A:aem	diskretan
i	CONJ	i
isto	ADV	isto
tako	ADV	tako
kontrolisanim	A:aen	kontrolisan
okolnostima	N:f	okolnost
i	CONJ	i
Avranasova	A:aef	Avranasova
režija	N:f	režija
zapravo	ADV	zapravo
će	V:m	će
puknuti	V:m	puknuti
samo	PAR	samo
jednom	ADV	jednom
-	PUNCT	-
u	PREP	u
sceni	N:f	scena
brutalnog	A:aem	brutalan
iskorištavanja	N:n	iskorištavanje
njegove	PRO	njegov
mlađe	A:ben	mlad
ćerke	N:f	ćerka
,	PUNCT	,
kada	CONJ	kada
će	A:aem	će
deka	N:m	deka
konačno	ADV	konačno
i	CONJ	i
krunisati	A:aem	krunisati
samog	PRO	sam
sebe	PRO	sebe
kao	CONJ	kao
patera	N:m	pater
satanasa	N:m	satanasa
svoje	PRO	svoj
zajednice	N:f	zajednica
.	SENT	.
Slažem	V:m	Slažem
se	PAR	se
da	CONJ	da
Avranasov	A:aem	Avranasov
film	N:m	film
intrigom	N:f	intriga
koju	PRO	koji
gradi	N:m	grad
i	CONJ	i
zločinom	N:m	zločin
koji	PRO	koji
razotkriva	N:n	razotkriva
ne	PAR	ne
nudi	N:f	nudi
ništa	PRO	ništa
novo	A:aen	nov
što	CONJ	što
evropski	A:aem	evropski
film	N:m	film
već	CONJ	već
nije	N:m	nije
ponudio	V:m	ponuditi
.	PUNCT	.
Ali	CONJ	ali
u	PREP	u
kontekstu	N:m	kontekst
stilske	A:aef	stilski
samokontrole	N:f	samokontrola
i	CONJ	i
disciplinovanosti	N:f	disciplinovanost
igre	N:f	igra
tima	PRO	taj
predvođenog	A:aem	predvođen
Themisom	N:m	Themisom
Panouom	N:m	Panouom
(	PUNCT	(
komentari	N:m	komentar
možda	PAR	možda
jesu	A:aem	jesu
pozorišni	A:aem	pozorišni
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
ceo	A:aem	ceo
film	N:m	film
se	PAR	se
većim	A:bem	velik
delom	N:m	deo
dešava	N:n	dešava
u	PREP	u
dnevnoj	A:aef	dnevni
sobi	N:f	soba
stana	N:m	stan
)	PUNCT	)
on	PRO	on
je	PRO	ona
priredio	V:m	prirediti
nešto	ADV	nešto
što	CONJ	što
se	PAR	se
ne	PAR	ne
viđa	V:m	viđa
tako	ADV	tako
često	ADV	često
-	PUNCT	-
da	CONJ	da
forma	N:f	forma
i	CONJ	i
sadržaj	N:m	sadržaj
filma	N:m	film
podjednako	ADV	podjednako
mučno	ADV	mučno
deluju	N:m	deluju
na	PREP	na
gledaoca	N:m	gledalac
,	PUNCT	,
a	CONJ	a
da	CONJ	da
pri	PREP	pri
tome	PRO	taj
skoro	ADV	skoro
sve	ADV	sve
deluje	A:aen	deluje
idilično	A:aen	idiličan
kao	CONJ	kao
listanje	N:n	listanje
slikovnice	N:f	slikovnica
za	PREP	za
decu	N:f	deca
.	SENT	.
Skoro	ADV	skoro
kao	ADV	kao
da	CONJ	da
način	N:m	način
na	PREP	na
koji	PRO	koji
je	PRO	ona
on	PRO	on
realizovao	V:m	realizovati
i	CONJ	i
dočarao	V:m	dočarati
priču	N:f	priča
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
objašnjava	A:aen	objašnjava
kakva	PRO	kakav
vrsta	N:f	vrsta
bolesne	A:aem	bolestan
pedantnosti	N:f	pedantnost
je	PRO	ona
trebala	V:f	trebati
i	CONJ	i
dedi	N:m	deda
da	CONJ	da
on	PRO	on
sprovodi	N:m	sprovod
svoje	PRO	svoj
bolesne	A:aem	bolestan
namere	N:f	namera
.	SENT	.
Događaji	N:m	Događaji
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
nikada	ADV	nikada
ne	PAR	ne
prelaze	N:m	prelaz
u	PREP	u
apsurd	N:m	apsurd
,	PUNCT	,
već	PAR	već
ostaju	N:n	ostaju
u	PREP	u
granicama	N:f	granica
okrutnog	A:aen	okrutan
realizma	N:m	realizam
i	CONJ	i
zbog	PREP	zbog
toga	PRO	taj
sam	PRO	sam
batalio	V:m	bataliti
razmišljanje	N:n	razmišljanje
na	PREP	na
temu	N:f	tema
da	CONJ	da
li	PAR	li
je	PRO	ona
Avranasov	A:aem	Avranasov
film	N:m	film
kritika	N:f	kritika
kapitalističkog	A:aem	kapitalistički
društva	N:n	društvo
(	PUNCT	(
'	N:m	'
iz	PREP	iz
grčkog	A:aem	grčki
ugla	N:m	ugao
'	N:m	'
)	PUNCT	)
,	PUNCT	,
iako	CONJ	iako
Avranas	N:m	Avranas
ostavlja	A:aem	ostavlja
prostora	N:m	prostor
i	CONJ	i
za	PREP	za
to	PRO	taj
pokazujući	A:aem	pokazujući
nam	PRO	mi
kako	CONJ	kako
su	N:m	su
jedini	A:aem	jedini
ljudi	N:m	ljudi
koji	PRO	koji
zlostavljaju	N:m	zlostavljaju
dedu	N:m	ded
zapravo	ADV	zapravo
njegovi	PRO	njegov
pretpostavljeni	A:aem	pretpostavljen
(	PUNCT	(
a	CONJ	a
u	PREP	u
izvesnoj	A:aef	izvestan
meri	N:f	mera
i	CONJ	i
njegova	PRO	njegov
pokornost	N:f	pokornost
administrativnim	A:aef	administrativan
službama	N:f	služba
služi	N:m	služi
ovoj	PRO	ovaj
tezi	N:f	teza
)	PUNCT	)
.	SENT	.
