Vešt	A:aem	Vešt
i	CONJ	i
talentovan	A:aem	talentovan
reditelj	N:m	reditelj
u	PREP	u
stanju	N:n	stanje
je	PRO	ona
da	CONJ	da
napravi	N:f	naprava
solidan	A:aem	solidan
film	N:m	film
i	CONJ	i
od	PREP	od
loše	ADV	loše
napisanog	A:aem	napisan
scenarija	N:m	scenario
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
i	CONJ	i
talentovan	A:aem	talentovan
glumac	N:m	glumac
sposoban	A:aem	sposoban
da	CONJ	da
oživi	A:aem	oživi
lik	N:m	lik
koji	PRO	koji
se	PAR	se
samo	PAR	samo
nazirao	V:m	nazirati
na	PREP	na
papiru	N:m	papir
.	SENT	.
Film	N:m	film
Nevine	N:f	Nevine
laži	N:f	laž
lep	A:aem	lep
je	PRO	ona
primer	N:m	primer
prethodne	A:aef	prethodan
teze	N:f	teza
Na	A:aem	Na
papiru	N:m	papir
,	PUNCT	,
odnosno	PAR	odnosno
kao	CONJ	kao
scenario	N:m	scenario
Patricka	A:aem	Patricka
O	A:aem	O
'	A:aem	'
Neilla	N:m	Neilla
,	PUNCT	,
ova	PRO	ovaj
akciona	A:aef	akcioni
avantura	N:f	avantura
pomešana	V:f	pomešati
s	PREP	s
romantičnom	A:aef	romantičan
komedijom	N:f	komedija
ne	PAR	ne
donosi	N:m	donosi
ništa	ADV	ništa
originalno	ADV	originalno
.	SENT	.
Okosnica	N:f	okosnica
zapleta	N:m	zaplet
je	PRO	ona
jednostavna	A:aem	jednostavan
:	PUNCT	:
tokom	PREP	tokom
svoje	PRO	svoj
misije	N:f	misija
,	PUNCT	,
odbegli	A:aem	odbegao
tajni	A:aem	tajni
agent	N:m	agent
Roy	A:aem	Roy
zaljubljuje	N:m	zaljubljuje
se	PAR	se
u	PREP	u
običnu	A:aef	običan
devojku	N:f	devojka
,	PUNCT	,
čime	PRO	šta
ona	PRO	ona
,	PUNCT	,
protiv	PREP	protiv
svoje	PRO	svoj
volje	N:f	volja
,	PUNCT	,
postaje	N:f	postaja
deo	N:m	deo
mreže	N:f	mreža
opasnog	A:aen	opasan
špijunskog	A:aem	špijunski
sveta	N:m	svet
.	PUNCT	.
Dok	CONJ	dok
spasava	A:aen	spasava
živu	A:aen	živ
glavu	N:f	glava
,	PUNCT	,
June	A:aem	June
polako	ADV	polako
upoznaje	A:aen	upoznaje
pravo	N:n	pravo
lice	N:n	lice
naizgled	ADV	naizgled
poremećenog	A:aem	poremećen
Roya	N:m	Roya
i	CONJ	i
zaljubljenost	N:f	zaljubljenost
postaje	N:f	postaja
obostrana	A:aem	obostran
.	SENT	.
Ovi	PRO	ovaj
ali	CONJ	ali
i	CONJ	i
ostali	V:m	ostati
likovi	N:m	lik
svedeni	V:m	svesti
su	N:m	su
na	PREP	na
varljive	A:aef	varljiv
senke	N:f	senka
koje	PRO	koji
nemaju	N:m	nemaju
mnogo	ADV	mnogo
vremena	N:n	vreme
da	CONJ	da
se	PAR	se
jasno	ADV	jasno
ocrtaju	N:m	ocrtaj
pred	PREP	pred
gledaocem	N:m	gledalac
,	PUNCT	,
prevashodno	ADV	prevashodno
zbog	PREP	zbog
zaslepljujućeg	A:aem	zaslepljujući
sjaja	N:m	sjaj
bezbrojnih	A:aem	bezbrojan
eksplozija	N:f	eksplozija
.	SENT	.
S	PREP	s
vremena	N:n	vreme
na	PREP	na
vreme	N:n	vreme
pojavi	N:f	pojava
se	PAR	se
i	CONJ	i
pokoja	PRO	pokoji
scena	N:f	scena
željna	A:aef	željan
nekoliko	ADV	nekoliko
minuta	N:m	minut
tokom	PREP	tokom
kojih	PRO	koji
bi	N:m	bi
bilo	V:n	biti
izgovoreno	V:n	izgovoriti
štošta	PRO	štošta
o	PREP	o
poverenju	N:n	poverenje
u	PREP	u
vezama	N:f	veza
i	CONJ	i
samoj	PRO	sam
prirodi	N:f	priroda
zaljubljenosti	N:f	zaljubljenost
,	PUNCT	,
ali	CONJ	ali
sve	PRO	sav
to	PRO	taj
ostaje	N:n	ostaje
u	PREP	u
pozadini	N:f	pozadina
adrenalinske	A:aef	adrenalinski
zabave	N:f	zabava
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
u	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
tipičana	A:aef	tipičana
holivudska	A:aef	holivudski
proizvodnja	N:f	proizvodnja
,	PUNCT	,
koja	PRO	koji
,	PUNCT	,
srećom	ADV	srećom
,	PUNCT	,
s	PREP	s
umećem	N:n	umeće
pakuje	N:m	pakuje
lepršavost	N:f	lepršavost
,	PUNCT	,
za	PREP	za
šta	PRO	šta
su	N:m	su
dobrim	A:aef	dobar
delom	N:m	deo
zaslužni	A:aem	zaslužan
i	CONJ	i
glavni	A:aem	glavni
glumci	N:m	glumac
-	PUNCT	-
Tom	N:m	Tom
Cruise	N:m	Cruise
i	CONJ	i
Cameron	N:m	Cameron
Diaz	N:m	Diaz
.	SENT	.
Cruisea	N:m	Cruisea
smo	N:f	smo
videli	V:m	videti
i	CONJ	i
u	PREP	u
ulogama	N:f	uloga
u	PREP	u
kojima	PRO	koji
se	PAR	se
mnogo	ADV	mnogo
više	ADV	više
potrudio	V:m	potruditi
,	PUNCT	,
ali	CONJ	ali
svejedno	ADV	svejedno
je	PRO	ona
kasting	N:m	kasting
menadžer	N:m	menadžer
Nevinih	A:aef	nevin
laži	N:f	laž
vrlo	ADV	vrlo
dobro	ADV	dobro
znao	V:m	znati
šta	PRO	šta
radi	PREP	radi
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
Cruise	N:m	Cruise
je	PRO	ona
pomalo	ADV	pomalo
ekscentričan	A:aem	ekscentričan
i	CONJ	i
van	PREP	van
bioskopskog	A:aen	bioskopski
platna	N:n	platno
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
glumio	V:m	glumiti
punim	A:aef	pun
potencijalom	N:m	potencijal
ili	CONJ	ili
ne	PAR	ne
,	PUNCT	,
svakako	PAR	svakako
se	PAR	se
savršeno	ADV	savršeno
uklapa	V:m	uklapa
u	PREP	u
lik	N:m	lik
tajnog	A:aem	tajni
agenta	N:m	agent
za	PREP	za
kojeg	PRO	koji
veći	A:bem	velik
deo	N:m	deo
filma	N:m	film
nismo	N:f	nismo
sigurni	A:aem	siguran
da	CONJ	da
li	PAR	li
je	PRO	ona
potpuno	ADV	potpuno
skrenuo	V:m	skrenuti
s	PREP	s
uma	N:m	um
ili	CONJ	ili
za	PREP	za
njega	PRO	on
još	ADV	još
ima	A:aef	ima
nade	N:f	nada
.	SENT	.
Cameron	N:m	Cameron
Diaz	N:m	Diaz
potrudila	V:f	potruditi
se	PAR	se
više	ADV	više
od	PREP	od
svog	PRO	svoj
kolege	N:m	kolega
i	CONJ	i
uz	PREP	uz
sebi	PRO	sebe
svojstven	A:aem	svojstven
šarm	N:m	šarm
odlično	ADV	odlično
je	PRO	ona
oživela	A:aem	oživeo
lik	N:m	lik
June	A:aem	June
Havens	N:m	Havens
.	SENT	.
Njihove	PRO	njihov
interpretacije	N:f	interpretacija
nadgledao	V:m	nadgledati
je	PRO	ona
reditelj	N:m	reditelj
James	N:f	James
Mangold	N:m	Mangold
(	PUNCT	(
Hod	N:m	hod
po	PREP	po
ivici	N:f	ivica
)	PUNCT	)
.	SENT	.
Moglo	V:n	moći
bi	N:f	bi
se	PAR	se
očekivati	A:aem	očekivati
da	CONJ	da
u	PREP	u
ovakvoj	PRO	ovakav
vrsti	N:f	vrsta
filma	N:m	film
vidimo	A:aen	vidimo
potpis	N:m	potpis
reditelja	N:m	reditelj
kakav	PRO	kakav
je	PRO	ona
,	PUNCT	,
recimo	N:m	recimo
,	PUNCT	,
Michael	N:m	Michael
Bay	N:m	Bay
(	PUNCT	(
Transformersi	N:m	Transformersi
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
Mangold	N:m	Mangold
predstavlja	N:n	predstavlja
suštu	A:aef	sušti
suprotnost	N:f	suprotnost
,	PUNCT	,
i	CONJ	i
to	PRO	taj
se	PAR	se
vidi	N:f	vida
u	PREP	u
svakoj	PRO	svaki
sceni	N:f	scena
.	SENT	.
Ovaj	PRO	ovaj
reditelj	N:m	reditelj
,	PUNCT	,
od	PREP	od
samog	PRO	sam
početka	N:m	početak
filma	N:m	film
,	PUNCT	,
pomoću	PREP	pomoću
savršenih	A:aem	savršen
kadrova	N:m	kadar
izvlači	A:aem	izvlači
na	PREP	na
površinu	N:f	površina
male	A:aef	mali
,	PUNCT	,
intimne	A:aef	intiman
detalje	N:m	detalj
svojih	PRO	svoj
junaka	N:m	junak
,	PUNCT	,
praveći	A:aem	praveći
od	PREP	od
njih	PRO	ona
noseći	A:aem	noseći
stub	N:m	stub
inače	PAR	inače
krhke	A:aef	krhak
celine	N:f	celina
.	SENT	.
Ovo	PRO	ovaj
blockbustersko	A:aen	blockbustersko
putovanje	N:n	putovanje
našlo	V:n	naći
se	PAR	se
zbog	PREP	zbog
toga	PRO	taj
negde	ADV	negde
na	PREP	na
pola	N:m	pol
puta	N:m	put
između	PREP	između
odličnog	A:aem	odličan
filma	N:m	film
i	CONJ	i
još	ADV	još
jedne	NUM	jedan
letnje	A:aef	letnji
katastrofe	N:f	katastrofa
.	SENT	.
Nevine	A:aef	nevin
laži	N:f	laž
neće	V:n	neće
vas	PRO	vi
oduševiti	A:aem	oduševiti
svojom	PRO	svoj
temom	N:f	tema
i	CONJ	i
idejom	N:f	ideja
,	PUNCT	,
ali	CONJ	ali
bi	A:aem	bi
mogle	V:f	moći
biti	N:f	bit
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
filmova	N:m	film
koje	PRO	koji
ćete	N:m	ćete
zavoleti	V:m	zavoleti
zahvaljujući	PREP	zahvaljujući
odličnim	A:aef	odličan
,	PUNCT	,
komičnim	A:aef	komičan
scenama	N:f	scena
i	CONJ	i
uspešno	ADV	uspešno
snimljenim	A:aen	snimljen
previranjima	N:n	previranje
neobičnog	A:aem	neobičan
para	N:f	para
u	PREP	u
još	ADV	još
neobičnijim	A:bef	neobičan
situacijama	N:f	situacija
.	SENT	.
