Fun	N:m	Fun
fact	A:aem	fact
u	PREP	u
vezi	N:f	veza
sa	PREP	sa
rediteljem	N:m	reditelj
Arsenom	N:m	Arsen
A	ABB	A
.	PUNCT	.
Ostojićem	N:m	Ostojić
-	PUNCT	-
u	PREP	u
njegovom	PRO	njegov
filmu	N:m	film
Ta	A:aem	Ta
divna	A:aef	divan
splitska	A:aef	splitski
noć	N:f	noć
glumili	V:m	glumiti
su	N:m	su
Dino	N:f	Dina
Dvornik	N:m	Dvornik
i	CONJ	i
Coolio	N:m	Coolio
Morao	V:m	morati
sam	A:aem	sam
da	CONJ	da
vam	PRO	vi
napišem	N:f	napišem
nešto	ADV	nešto
zabavno	ADV	zabavno
na	PREP	na
početku	N:m	početak
,	PUNCT	,
jer	CONJ	jer
mogu	A:aem	mogu
da	CONJ	da
se	PAR	se
kladim	A:aen	kladim
da	CONJ	da
u	PREP	u
životu	N:m	život
ne	PAR	ne
biste	N:f	bista
hteli	V:m	hteti
da	CONJ	da
se	PAR	se
pozabavite	A:aem	pozabavite
tekstom	N:m	tekst
(	PUNCT	(
a	CONJ	a
možda	PAR	možda
i	CONJ	i
filmom	N:m	film
)	PUNCT	)
koji	PRO	koji
se	PAR	se
zove	N:m	zov
Halimin	A:aem	Halimin
put	N:f	put
.	SENT	.
U	PREP	u
više	ADV	više
navrata	N:m	navrat
tokom	PREP	tokom
filma	N:m	film
,	PUNCT	,
baš	PAR	baš
kao	ADV	kao
i	CONJ	i
na	PREP	na
samom	PRO	sam
kraju	N:m	kraj
,	PUNCT	,
krenule	V:f	krenuti
su	N:m	su
mi	PRO	ja
suze	N:f	suza
.	SENT	.
To	PRO	taj
su	N:m	su
čari	N:f	čar
i	CONJ	i
kvalitete	N:m	kvalitet
melodrame	N:f	melodrama
koje	PRO	koji
ne	PAR	ne
mogu	N:m	Mog
da	CONJ	da
razumeju	N:m	razumeju
svi	PRO	sav
.	SENT	.
Na	PREP	na
nekoliko	ADV	nekoliko
ličnih	A:aef	ličan
planova	N:m	plan
(	PUNCT	(
mahom	ADV	mahom
a	CONJ	a
-	PUNCT	-
nacionalnih	A:aef	nacionalan
)	PUNCT	)
Arsen	N:m	Arsen
mi	PRO	ja
ga	PRO	on
je	PRO	ona
zavukao	V:m	zavući
do	PREP	do
samog	PRO	sam
srca	N:n	srce
terajući	A:aem	terajući
me	PRO	ja
na	PREP	na
okrutna	A:aen	okrutan
razmišljanja	N:n	razmišljanje
i	CONJ	i
zamišljanja	N:n	zamišljanje
.	PUNCT	.
Ali	CONJ	ali
bojim	PRO	bojim
se	PAR	se
da	CONJ	da
tome	PRO	taj
u	PREP	u
najvećoj	A:cef	velik
meri	N:f	mera
kumuje	N:m	kumuje
odlično	ADV	odlično
zamišljena	A:aef	zamišljen
priča	N:f	priča
scenarsite	A:aem	scenarsite
Feđe	N:m	Feđa
Isovića	N:m	Isović
.	SENT	.
Sam	A:aem	sam
film	N:m	film
je	PRO	ona
što	PRO	što
zbog	PREP	zbog
budžetskih	A:aen	budžetski
ograničenja	N:n	ograničenje
(	PUNCT	(
tako	ADV	tako
deluje	A:aem	deluje
)	PUNCT	)
,	PUNCT	,
što	CONJ	što
zbog	PREP	zbog
rediteljskog	A:aem	rediteljski
netalenta	N:f	netalenta
(	PUNCT	(
o	PREP	o
tome	PRO	taj
ne	PAR	ne
mogu	A:aem	mogu
da	CONJ	da
sudim	A:aem	sudim
na	PREP	na
osnovu	N:f	osnova
jednog	NUM	jedan
filma	N:m	film
)	PUNCT	)
prikazao	V:m	prikazati
mnogo	ADV	mnogo
manje	ADV	manje
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
ona	PRO	ona
nudila	V:f	nuditi
.	SENT	.
A	CONJ	a
priča	N:f	priča
je	PRO	ona
ko	PRO	ko
grčka	A:aef	grčki
tragedija	N:f	tragedija
.	SENT	.
Ne	PAR	ne
kao	ADV	kao
fraza	N:f	fraza
,	PUNCT	,
već	CONJ	već
kao	CONJ	kao
stvarna	A:aef	stvaran
grčka	A:aef	grčki
tragedija	N:f	tragedija
.	SENT	.
Krajem	PREP	krajem
sedamdesetih	A:aen	sedamdeseti
zavoleli	V:m	zavoleti
se	PAR	se
'	A:aem	'
vlah	N:m	vlah
'	A:aem	'
Slavomir	N:m	Slavomir
i	CONJ	i
'	A:aem	'
turkinja	N:f	turkinja
'	A:aem	'
Safija	N:f	Safija
.	SENT	.
Dok	CONJ	dok
su	N:m	su
Slavomirovi	A:aem	Slavomirovi
roditelji	N:m	roditelj
bili	V:m	biti
polovično	ADV	polovično
okej	INT	okej
sa	PREP	sa
tim	PRO	taj
(	PUNCT	(
što	CONJ	što
je	PRO	ona
zapanjujući	A:aem	zapanjujući
tretman	N:m	tretman
'	A:aem	'
srba	A:aem	srba
'	N:m	'
na	PREP	na
hrvatskom	A:aem	hrvatski
filmu	N:m	film
)	PUNCT	)
,	PUNCT	,
Safijini	N:m	Safijini
bogami	INT	bogami
nisu	N:m	nisu
.	SENT	.
Zato	ADV	zato
je	PRO	ona
trudna	A:aef	trudan
Safija	N:f	Safija
morala	N:m	moral
da	CONJ	da
ode	N:f	oda
kod	PREP	kod
svoje	PRO	svoj
tetke	N:f	tetka
Halime	N:f	Halima
(	PUNCT	(
inače	PAR	inače
'	A:aem	'
jalove	A:aem	jalov
'	N:m	'
)	PUNCT	)
,	PUNCT	,
tamo	ADV	tamo
se	PAR	se
porodi	N:m	porod
i	CONJ	i
,	PUNCT	,
praktično	ADV	praktično
,	PUNCT	,
njoj	PRO	ona
pokloni	N:m	poklon
dete	N:n	dete
.	SENT	.
Niko	PRO	niko
od	PREP	od
autora	N:m	autor
ne	PAR	ne
ulazi	N:m	ulaz
u	PREP	u
to	PRO	taj
kako	CONJ	kako
je	PRO	ona
stvar	N:f	stvar
organizovana	V:m	organizovati
'	N:m	'
u	PREP	u
selu	N:n	selo
'	N:m	'
da	CONJ	da
niko	PRO	niko
ne	PAR	ne
poveže	V:n	poveže
Safijino	A:aen	Safijino
dete	N:n	dete
'	N:m	'
koje	PRO	koji
je	PRO	ona
umrlo	A:aen	umrli
'	N:m	'
sa	PREP	sa
iznenadnim	A:aen	iznenadan
porodom	N:m	porod
nerotkinje	N:f	nerotkinja
Halime	N:f	Halima
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
dobro	ADV	dobro
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Slavomir	N:m	Slavomir
i	CONJ	i
Safija	N:m	Safije
su	PREF	su
se	PAR	se
u	PREP	u
međuvremenu	N:n	međuvreme
uzeli	V:m	uzeti
,	PUNCT	,
kad	CONJ	kad
se	PAR	se
on	PRO	on
vratio	V:m	vratiti
iz	PREP	iz
Nemačke	N:f	Nemačka
.	SENT	.
Otišli	N:m	Otišli
u	PREP	u
srpski	A:aem	srpski
kanton	N:m	kanton
i	CONJ	i
tamo	ADV	tamo
dobili	V:m	dobiti
tri	NUM	tri
ćerke	N:f	ćerka
.	PUNCT	.
A	CONJ	a
onda	ADV	onda
se	PAR	se
desio	V:m	desiti
rat	N:m	rat
.	PUNCT	.
Slavomir	N:m	Slavomir
,	PUNCT	,
iako	CONJ	iako
pacifista	N:m	pacifista
i	CONJ	i
'	A:aem	'
dobar	A:aem	dobar
čovek	N:m	čovek
'	N:m	'
primoran	V:m	primorati
je	PRO	ona
da	CONJ	da
postane	A:aem	postane
borac	N:m	borac
.	PUNCT	.
.	PUNCT	.
.	SENT	.
(	PUNCT	(
samo	PAR	samo
da	CONJ	da
znate	V:f	znati
da	CONJ	da
će	V:f	će
vam	PRO	vi
dalje	ADV	dalje
čitanje	N:n	čitanje
ozbiljno	A:aen	ozbiljan
pokvariti	N:m	pokvariti
užitak	N:m	užitak
gledanja	N:n	gledanje
filma	N:m	film
)	PUNCT	)
Ostojićev	A:aem	Ostojićev
film	N:m	film
leti	ADV	leti
kroz	PREP	kroz
nekoliko	ADV	nekoliko
vremenskih	A:aef	vremenski
zona	N:f	zona
u	PREP	u
pričanju	N:n	pričanje
jedne	NUM	jedan
strašne	A:aef	strašan
priče	N:f	priča
.	SENT	.
Od	PREP	od
specifičnosti	N:f	specifičnost
'	N:m	'
šta	PRO	šta
se	PAR	se
zgodi	N:f	zgoda
kad	CONJ	kad
se	PAR	se
ljubav	N:f	ljubav
rodi	N:f	roda
'	N:m	'
u	PREP	u
bratstvu	N:n	bratstvo
i	CONJ	i
jedinstvu	N:n	jedinstvo
sedamdesetih	A:aen	sedamdeseti
,	PUNCT	,
preko	PREP	preko
prejadno	A:aen	prejadan
snimljenih	A:aef	snimljen
(	PUNCT	(
govorim	A:aem	govorim
o	PREP	o
specijalnim	A:aem	specijalan
efektima	N:m	efekt
)	PUNCT	)
ratnih	A:aef	ratni
devedesetih	A:aem	devedeseti
,	PUNCT	,
do	PREP	do
brutalno	A:aen	brutalan
realistiknih	A:aem	realistiknih
dvehiljaditih	A:aef	dvehiljaditih
,	PUNCT	,
raspliću	V:f	raspliću
se	PAR	se
sudbine	N:f	sudbina
glavnih	A:aem	glavnih
junaka	N:m	junak
dubokim	A:aem	dubok
gnurenjem	N:n	gnurenjem
u	PREP	u
prošlost	N:f	prošlost
.	SENT	.
Saznanja	N:n	saznanje
će	N:f	će
naravno	PAR	naravno
biti	N:f	bit
pogubna	A:aef	poguban
po	PREP	po
većinu	N:f	većina
,	PUNCT	,
ali	CONJ	ali
će	V:m	će
nekima	PRO	neki
doneti	A:aem	donet
utehu	N:f	uteha
,	PUNCT	,
izmirenje	N:n	izmirenje
i	CONJ	i
mir	N:m	mir
.	SENT	.
Koja	PRO	koji
je	PRO	ona
to	PRO	taj
vrsta	N:f	vrsta
mira	N:m	mir
ono	PRO	onaj
je	PRO	ona
što	CONJ	što
će	A:aem	će
isterati	N:m	isterati
suze	N:f	suza
čak	PAR	čak
i	CONJ	i
na	PREP	na
najciničnije	A:cef	ciničan
lice	N:n	lice
.	SENT	.
Isprepletani	A:aem	isprepletan
odnosi	N:m	odnos
,	PUNCT	,
ljudske	A:aef	ljudski
slabosti	N:f	slabost
,	PUNCT	,
nacionalističke	A:aef	nacionalistički
pošasti	N:f	pošast
,	PUNCT	,
verske	A:aef	verski
zatucanosti	N:f	zatucanost
,	PUNCT	,
sve	PRO	sav
to	PRO	taj
vuče	N:f	vuča
se	PAR	se
za	PREP	za
majkom	N:f	majka
koja	PRO	koji
obavlja	N:n	obavlja
'	A:aem	'
tipičnu	A:aef	tipičan
aktivnost	N:f	aktivnost
iz	PREP	iz
grčkih	A:aef	grčki
tragedija	N:f	tragedija
'	N:m	'
-	PUNCT	-
traži	A:aem	traži
načina	N:m	način
da	CONJ	da
zakopa	N:m	zakopa
svog	PRO	svoj
mrtvog	A:aem	mrtav
sina	N:m	sin
,	PUNCT	,
i	CONJ	i
tako	ADV	tako
nađe	A:aem	nađe
mir	N:m	mir
koji	PRO	koji
nikada	ADV	nikada
neće	A:aem	neće
naći	N:m	naći
.	SENT	.
Pored	PREP	pored
kvaliteta	N:m	kvalitet
produkcije	N:f	produkcija
,	PUNCT	,
opšteg	A:aen	opšti
utiska	N:m	utisak
'	A:aem	'
televizičnosti	N:f	televizičnost
'	N:m	'
(	PUNCT	(
film	N:m	film
je	PRO	ona
i	PAR	i
uprkos	PREP	uprkos
tome	PRO	taj
bio	V:m	biti
jedan	NUM	jedan
od	PREP	od
najvoljenijih	A:cef	voljen
filmova	N:m	film
ikada	ADV	ikada
od	PREP	od
strane	N:f	strana
publike	N:f	publika
na	PREP	na
Pulskoj	A:aef	pulski
areni	N:f	arena
)	PUNCT	)
,	PUNCT	,
postoje	N:m	postoje
i	CONJ	i
ozbiljni	A:aem	ozbiljan
previdi	N:m	previd
u	PREP	u
scenariju	N:m	scenario
koji	PRO	koji
se	PAR	se
tiču	N:f	tiču
uverljivosti	N:f	uverljivost
nekih	PRO	neki
životnih	A:aef	životan
/	N:m	/
dramskih	A:aem	dramski
sudbina	N:f	sudbina
,	PUNCT	,
naročito	ADV	naročito
u	PREP	u
kontekstu	N:m	kontekst
malog	A:aem	mali
geografskog	A:aem	geografski
prostora	N:m	prostor
na	PREP	na
kome	PRO	koji
se	PAR	se
sve	PRO	sav
dešava	N:n	dešava
.	SENT	.
Recimo	A:aen	Recimo
,	PUNCT	,
zašto	ADV	zašto
Safija	N:f	Safija
nije	V:f	nije
viđala	V:f	viđati
sina	N:m	sin
(	PUNCT	(
ili	CONJ	ili
nije	A:aen	nije
mogla	V:n	moći
/	N:m	/
htela	V:f	hteti
)	PUNCT	)
da	CONJ	da
ga	PRO	on
viđa	N:n	viđa
,	PUNCT	,
iako	CONJ	iako
je	PRO	ona
živela	V:m	živeti
sat	N:f	sat
-	PUNCT	-
dva	NUM	dva
od	PREP	od
njega	PRO	on
.	PUNCT	.
Tek	CONJ	tek
provučeno	A:aen	provučen
objašnjenje	N:n	objašnjenje
da	CONJ	da
je	PRO	ona
ona	PRO	ona
Slavomiru	N:m	Slavomir
rekla	V:n	reći
da	CONJ	da
je	PRO	ona
dete	N:n	dete
rođeno	V:n	roditi
mrtvo	A:aen	mrtav
kad	CONJ	kad
su	N:m	su
se	PAR	se
ponovo	ADV	ponovo
sreli	V:m	sresti
(	PUNCT	(
niko	PRO	niko
mu	PRO	on
to	PRO	taj
inače	PAR	inače
nije	V:m	nije
javio	V:m	javiti
u	PREP	u
Nemačku	N:f	Nemačka
)	PUNCT	)
i	CONJ	i
da	CONJ	da
posle	PREP	posle
nije	N:f	nije
mogla	V:n	moći
da	CONJ	da
menja	N:n	menja
priču	N:f	priča
,	PUNCT	,
nije	N:n	nije
nikakvo	PRO	nikakav
objašnjenje	N:n	objašnjenje
.	PUNCT	.
I	CONJ	i
loše	ADV	loše
govori	N:m	govor
o	PREP	o
njoj	PRO	ona
,	PUNCT	,
lošije	A:ben	loš
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
to	PRO	taj
i	CONJ	i
sam	PRO	sam
film	N:m	film
hteo	V:m	hteti
.	PUNCT	.
Isto	ADV	isto
važi	V:m	važi
i	CONJ	i
za	PREP	za
to	PRO	taj
da	CONJ	da
Halima	N:m	Halime
nikada	ADV	nikada
nije	V:f	nije
videla	V:f	videti
Slavomira	N:m	Slavomir
,	PUNCT	,
do	PREP	do
trenutka	N:m	trenutak
kada	CONJ	kada
je	PRO	ona
posetila	V:f	posetiti
Safijinu	N:m	Safijinu
kuću	N:f	kuća
dobrih	A:aem	dobar
dvadeset	NUM	dvadeset
godina	N:f	godina
kasnije	ADV	kasnije
.	SENT	.
Još	A:aem	Još
neki	PRO	neki
odnosi	N:m	odnos
(	PUNCT	(
Halima	N:m	Halime
-	PUNCT	-
dever	N:m	dever
)	PUNCT	)
štrče	A:aef	štrče
nejasnošću	N:f	nejasnost
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
da	CONJ	da
je	PRO	ona
do	PREP	do
zuba	N:m	zub
uronjen	A:aem	uronjen
u	PREP	u
'	N:m	'
ljudsku	A:aef	ljudski
priču	N:f	priča
'	N:m	'
čija	PRO	čiji
se	PAR	se
melodramska	A:aef	melodramski
efektnost	N:f	efektnost
ne	PAR	ne
može	A:aem	može
osporiti	N:m	osporiti
,	PUNCT	,
mislim	A:aem	mislim
da	CONJ	da
bi	A:aem	bi
Halimin	A:aem	Halimin
put	N:m	put
bio	V:m	biti
zgodan	A:aem	zgodan
film	N:m	film
za	PREP	za
dočaravanje	N:n	dočaravanje
rata	N:f	rata
i	CONJ	i
to	PRO	taj
pojedincima	N:m	pojedinac
koji	PRO	koji
su	N:m	su
mu	PRO	on
najvrelije	A:cef	vreo
tapšali	V:m	tapšati
-	PUNCT	-
radničkoj	A:aef	radnički
i	CONJ	i
srednjoj	A:aef	srednji
klasi	N:f	klasa
.	SENT	.
Jer	CONJ	jer
su	N:m	su
baš	PAR	baš
i	CONJ	i
oni	PRO	onaj
,	PUNCT	,
kao	CONJ	kao
sirota	A:aef	sirot
Halima	N:f	Halima
,	PUNCT	,
najviše	ADV	najviše
najebali	V:m	najebati
.	SENT	.
