Jedan	NUM	jedan
lepo	ADV	lepo
zamišljen	V:m	zamisliti
koncept	N:m	koncept
osrednje	A:aem	osrednji
realizovan	A:aem	realizovan
U	N:m	U
čileanskoj	A:aef	čileanski
pustinji	N:f	pustinja
Atakama	N:f	Atakama
nalazi	N:m	nalaz
se	PAR	se
jedan	NUM	jedan
od	PREP	od
najvećih	A:cen	velik
astronomskih	A:aem	astronomski
kampova	N:m	kamp
.	SENT	.
Zbog	PREP	zbog
svoje	PRO	svoj
konstantno	A:aen	konstantan
suve	A:aef	suv
i	CONJ	i
sunčane	A:aef	sunčan
klime	N:f	klima
pustinja	N:f	pustinja
je	PRO	ona
idealna	A:aef	idealan
i	CONJ	i
za	PREP	za
geološka	A:aen	geološki
istraživanja	N:n	istraživanje
.	PUNCT	.
Zbog	PREP	zbog
toga	PRO	taj
što	CONJ	što
tamo	ADV	tamo
već	PAR	već
dugo	ADV	dugo
niko	PRO	niko
(	PUNCT	(
dobrovoljno	ADV	dobrovoljno
)	PUNCT	)
ne	PAR	ne
ide	A:aem	ide
general	N:m	general
Pinochet	N:m	Pinochet
je	PRO	ona
baš	PAR	baš
tamo	ADV	tamo
,	PUNCT	,
u	PREP	u
bivši	A:aem	bivši
rudarski	A:aem	rudarski
kamp	N:m	kamp
,	PUNCT	,
postavio	V:m	postaviti
svoj	PRO	sav
koncentracioni	A:aem	koncentracioni
logor	N:m	logor
u	PREP	u
kome	PRO	koji
je	PRO	ona
između	PREP	između
30	NUM	@card@
i	CONJ	i
60	NUM	@card@
HILJADA	N:f	hiljada
ljudi	N:m	ljudi
maltretirano	V:n	maltretirati
i	CONJ	i
/	A:aem	/
ili	CONJ	ili
ubijeno	A:aen	ubijen
tokom	PREP	tokom
njegove	PRO	njegov
vladavine	N:f	vladavina
.	SENT	.
Veteran	N:m	veteran
Patricio	A:aem	Patricio
Guzman	N:m	Guzman
koji	PRO	koji
se	PAR	se
tokom	PREP	tokom
čitave	A:aef	čitav
karijere	N:f	karijera
bavi	A:aen	bavi
utvrđivanjem	N:n	utvrđivanje
istine	N:f	istina
,	PUNCT	,
odgovornosti	N:f	odgovornost
i	CONJ	i
nepomirenja	N:n	nepomirenja
sa	PREP	sa
Pinochetovom	A:aef	Pinochetovom
vladavinom	N:f	vladavina
lepo	ADV	lepo
je	PRO	ona
zamislio	V:m	zamisliti
da	CONJ	da
kroz	PREP	kroz
ideju	N:f	ideja
potrage	N:f	potraga
za	PREP	za
prošlošću	N:f	prošlost
(	PUNCT	(
objasniću	V:m	objasniću
)	PUNCT	)
ispreplete	N:m	ispreplete
tri	NUM	tri
,	PUNCT	,
naoko	ADV	naoko
,	PUNCT	,
potpuno	ADV	potpuno
suprotne	A:aef	suprotan
aktivnosti	N:f	aktivnost
.	PUNCT	.
Vidite	N:m	Vidite
,	PUNCT	,
sadašnjost	N:f	sadašnjost
ne	PAR	ne
postoji	N:m	postoji
.	SENT	.
Barem	PAR	barem
tako	ADV	tako
kaže	N:f	kaža
jedan	NUM	jedan
čilenaski	A:aem	čilenaski
astronom	N:m	astronom
.	SENT	.
Dok	CONJ	dok
se	PAR	se
svetlost	N:f	svetlost
odbije	A:aef	odbije
od	PREP	od
onoga	PRO	onaj
što	CONJ	što
percipiramo	A:aem	percipiramo
i	CONJ	i
stigne	A:aem	stigne
do	PREP	do
nas	PRO	mi
neko	PRO	neki
vreme	N:n	vreme
je	PRO	ona
već	PAR	već
prošlo	V:n	proći
i	CONJ	i
taj	PRO	taj
objekat	N:m	objekt
je	PRO	ona
već	PAR	već
u	PREP	u
prošlosti	N:f	prošlost
.	SENT	.
Čak	N:m	Čak
i	CONJ	i
ako	CONJ	ako
je	PRO	ona
sasvim	ADV	sasvim
blizu	ADV	blizu
,	PUNCT	,
uvek	ADV	uvek
treba	N:f	treba
neko	PRO	neki
mršavo	A:aen	mršav
vreme	N:n	vreme
da	CONJ	da
signal	N:m	signal
od	PREP	od
naših	PRO	naš
čula	N:n	čulo
stigne	A:aem	stigne
do	PREP	do
mozga	N:m	mozak
.	SENT	.
Radi	PREP	radi
se	PAR	se
o	PREP	o
milijarditim	A:aem	milijarditi
delovima	N:m	deo
sekunde	N:f	sekunda
(	PUNCT	(
ili	CONJ	ili
šta	PRO	šta
već	PAR	već
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
formalno	A:aen	formalan
sve	PRO	sav
oko	PREP	oko
nas	PRO	mi
je	PRO	ona
već	PAR	već
prošlost	N:f	prošlost
.	SENT	.
Naviknite	N:m	Naviknite
se	PAR	se
.	PUNCT	.
E	CONJ	e
,	PUNCT	,
sad	ADV	sad
pustinjom	N:f	pustinja
Akatama	N:f	Akatama
pored	PREP	pored
geologa	N:m	geolog
i	CONJ	i
arheologa	N:m	arheolog
šetaju	N:m	šetaju
i	CONJ	i
žene	N:f	žena
iz	PREP	iz
raznoraznih	A:aef	raznorazni
NGO	N:f	NGO
-	PUNCT	-
ova	PRO	ovaj
koje	PRO	koji
,	PUNCT	,
ali	CONJ	ali
BUKVALNO	A:aen	bukvalan
,	PUNCT	,
šetaju	N:m	šetaju
sa	PREP	sa
lopaticama	N:f	lopatica
i	CONJ	i
skupljaju	N:m	skupljaju
posmrtne	A:aem	posmrtni
ostatke	N:m	ostatak
žrtava	N:f	žrtva
koje	PRO	koji
je	PRO	ona
Pinochet	N:m	Pinochet
razbacao	V:m	razbacati
i	CONJ	i
zakopao	V:m	zakopati
širom	PREP	širom
pustinje	N:f	pustinja
.	SENT	.
Ono	PRO	onaj
što	PRO	što
stvar	N:f	stvar
čini	N:f	čini
posebno	ADV	posebno
bizarnom	A:aem	bizaran
jeste	INT	jeste
da	CONJ	da
zbog	PREP	zbog
specifične	A:aef	specifičan
klime	N:f	klima
Atakame	N:f	Atakama
zakopani	A:aem	zakopan
ostaci	N:m	ostatak
mogu	A:aen	mogu
da	CONJ	da
se	PAR	se
nađu	V:m	nađu
u	PREP	u
skoro	ADV	skoro
mumificiranom	A:aen	mumificiran
stanju	N:n	stanje
.	PUNCT	.
I	CONJ	i
tako	ADV	tako
,	PUNCT	,
dok	CONJ	dok
jedni	NUM	jedan
pokušavaju	N:m	pokušavaju
da	CONJ	da
shvate	N:m	shvate
kako	CONJ	kako
su	N:m	su
izgledale	V:f	izgledati
najudaljenije	A:cef	udaljen
galaksije	N:f	galaksija
,	PUNCT	,
neki	PRO	neki
pokušavaju	N:f	pokušavaju
da	CONJ	da
otkriju	N:f	otkriju
kako	CONJ	kako
je	PRO	ona
izgledala	V:f	izgledati
čileanska	A:aef	čileanski
prošlost	N:f	prošlost
u	PREP	u
poslednjih	A:aem	poslednji
sto	N:m	sto
,	PUNCT	,
a	CONJ	a
naročito	ADV	naročito
poslednjih	A:aem	poslednji
tridesetak	N:m	tridesetak
godina	N:f	godina
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
Guzmanov	A:aem	Guzmanov
dokumentarac	N:m	dokumentarac
nije	V:m	nije
naročito	ADV	naročito
lep	A:aem	lep
.	SENT	.
Prizore	N:m	prizor
kosmosa	N:m	kosmos
smo	N:f	smo
već	PAR	već
videli	V:m	videti
,	PUNCT	,
povremeni	A:aem	povremen
rediteljski	A:aem	rediteljski
zahvati	N:m	zahvat
u	PREP	u
dočaravanju	N:n	dočaravanje
geografije	N:f	geografija
astronomskog	A:aem	astronomski
kampa	N:m	kamp
deluju	A:aef	deluju
studentski	A:aem	studentski
,	PUNCT	,
a	CONJ	a
na	PREP	na
planu	N:m	plan
vođenja	N:n	vođenje
priče	N:f	priča
gubi	N:f	guba
se	PAR	se
emotivna	A:aef	emotivan
poenta	N:f	poenta
,	PUNCT	,
jer	CONJ	jer
sve	PRO	sav
deluje	N:m	deluje
nekako	ADV	nekako
'	A:aem	'
nabacano	A:aen	nabacan
'	N:m	'
.	SENT	.
Očigledno	A:aen	Očigledno
da	CONJ	da
ni	PAR	ni
budžet	N:m	budžet
nije	V:m	nije
bio	V:m	biti
veći	A:bem	velik
od	PREP	od
ambicija	N:f	ambicija
.	SENT	.
