Ponovo	ADV	ponovo
Sida	N:f	Sida
među	PREP	među
Oskarima	N:m	Oskarima
Nepisano	A:aen	nepisan
pravilo	N:n	pravilo
kaže	N:f	kaža
:	SENT	:
glumac	N:m	glumac
možda	PAR	možda
neće	V:m	neće
pobediti	A:aem	pobediti
Sidu	N:m	Sid
,	PUNCT	,
ali	CONJ	ali
će	A:aem	će
u	PREP	u
trci	N:f	trka
za	PREP	za
Oskara	N:m	Oskar
pobediti	N:m	pobediti
sve	PRO	sav
koji	PRO	koji
je	PRO	ona
nemaju	N:m	nemaju
.	SENT	.
Dallas	A:aem	Dallas
Buyers	N:m	Buyers
Club	N:m	Club
je	PRO	ona
školski	A:aem	školski
prototip	N:m	prototip
filma	N:m	film
koji	PRO	koji
je	PRO	ona
tako	ADV	tako
osmišljen	V:m	osmisliti
da	CONJ	da
glavnom	A:aem	glavnom
glumcu	N:m	glumac
(	PUNCT	(
obično	ADV	obično
finansijeru	N:m	finansijer
ili	CONJ	ili
'	A:aem	'
ključnom	A:aem	ključnom
tasu	N:m	tas
'	N:m	'
koji	PRO	koji
je	PRO	ona
pretgao	V:m	pretgao
da	CONJ	da
se	PAR	se
film	N:m	film
realizuje	N:m	realizuje
)	PUNCT	)
donese	N:m	donese
sve	PRO	sav
glumačke	A:aef	glumački
nagrade	N:f	nagrada
i	CONJ	i
onu	PRO	onaj
najbitniju	A:cef	bitan
.	SENT	.
Tema	N:f	tema
je	PRO	ona
od	PREP	od
istorijske	A:aef	istorijski
važnosti	N:f	važnost
:	SENT	:
Sida	N:f	Sida
u	PREP	u
Americi	N:f	Amerika
i	CONJ	i
prvi	A:aem	prvi
pokušaji	N:m	pokušaj
borbe	N:f	borba
sa	PREP	sa
njom	PRO	ona
koji	PRO	koji
otkrivaju	N:f	otkrivaju
da	CONJ	da
se	PAR	se
na	PREP	na
tom	PRO	taj
polju	N:n	polje
moglo	V:n	moći
uraditi	V:n	uraditi
više	ADV	više
da	CONJ	da
američka	A:aen	američki
administracija	N:f	administracija
odnosno	PAR	odnosno
njen	PRO	njen
resor	N:m	resor
za	PREP	za
'	N:m	'
odobravanje	N:n	odobravanje
stvari	N:f	stvar
'	A:aem	'
nije	A:aem	nije
radio	N:m	radio
po	PREP	po
nalozima	N:m	nalog
farmaceutskih	A:aef	farmaceutski
kompanija	N:f	kompanija
već	CONJ	već
prema	PREP	prema
rezultatima	N:m	rezultat
različitih	A:aem	različit
naučničkih	A:aem	naučnički
timova	N:m	tim
širom	PREP	širom
sveta	N:m	svet
.	SENT	.
Tema	N:f	tema
je	PRO	ona
od	PREP	od
društvene	A:aem	društven
važnosti	N:f	važnost
:	PUNCT	:
Sida	N:f	Sida
i	CONJ	i
dalje	ADV	dalje
nije	V:f	nije
pobeđena	V:f	pobediti
.	SENT	.
Njeno	PRO	njen
širenje	N:n	širenje
jeste	INT	jeste
usporeno	ADV	usporeno
i	CONJ	i
njena	PRO	njen
fatalnost	N:f	fatalnost
jeste	INT	jeste
ublažena	V:f	ublažiti
,	PUNCT	,
ali	CONJ	ali
priča	N:f	priča
o	PREP	o
'	A:aem	'
nepravičnosti	N:f	nepravičnost
'	A:aem	'
zdravstvenog	A:aem	zdravstveni
sistema	N:m	sistem
odnosno	PAR	odnosno
gnusnih	A:aef	gnusan
spona	N:f	spona
farmaceutskih	A:aef	farmaceutski
korporacija	N:f	korporacija
i	CONJ	i
državnih	A:aem	državni
organizacija	N:f	organizacija
više	ADV	više
nego	CONJ	nego
ikada	ADV	ikada
predmet	N:m	predmet
je	PRO	ona
brojnih	A:aef	brojni
afera	N:f	afera
u	PREP	u
svetu	N:m	svet
.	SENT	.
Na	PREP	na
stranu	N:f	strana
što	CONJ	što
priča	N:f	priča
o	PREP	o
autsajderskim	A:aem	autsajderski
'	N:m	'
američkim	A:aem	američki
herojima	N:m	heroj
'	N:m	'
,	PUNCT	,
kakav	PRO	kakav
je	PRO	ona
glavni	A:aem	glavni
junak	N:m	junak
ovog	PRO	ovaj
filma	N:m	film
,	PUNCT	,
predstavlja	N:n	predstavlja
oskarovski	N:m	oskarovski
evergrin	N:m	evergrin
.	SENT	.
Glumac	N:m	Glumac
se	PAR	se
fizički	ADV	fizički
pripremao	V:m	pripremati
za	PREP	za
ulogu	N:f	uloga
.	SENT	.
Matthew	A:aem	Matthew
McConaughey	N:m	McConaughey
(	PUNCT	(
u	PREP	u
nastavku	N:m	nastavak
Matthew	A:aem	Matthew
M	N:f	M
.	SENT	.
iz	PREP	iz
očiglednih	A:aem	očigledan
razloga	N:m	razlog
)	PUNCT	)
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
izgleda	N:m	izgled
kao	CONJ	kao
osoba	N:f	osoba
u	PREP	u
poslednjem	A:aem	poslednji
stadijumu	N:m	stadijum
bolesti	N:f	bolest
od	PREP	od
Side	N:f	Sida
.	SENT	.
U	PREP	u
tom	PRO	taj
smislu	N:m	smisao
,	PUNCT	,
bilo	V:n	biti
bi	A:aen	bi
relativno	ADV	relativno
lako	ADV	lako
izdisovati	A:aem	izdisovati
(	PUNCT	(
lepa	A:aef	lep
srpska	A:aen	srpski
reč	N:f	reč
)	PUNCT	)
ovaj	PRO	ovaj
film	N:m	film
kao	CONJ	kao
i	CONJ	i
ne	PAR	ne
-	PUNCT	-
toliko	ADV	toliko
-	PUNCT	-
namazanu	A:aef	namazan
formulu	N:f	formula
za	PREP	za
dobijanje	N:n	dobijanje
stvari	N:f	stvar
da	CONJ	da
nije	N:n	nije
nekih	PRO	neki
stvari	N:f	stvar
:	PUNCT	:
Matthew	A:aem	Matthew
M	N:m	M
.	SENT	.
je	PRO	ona
zaista	ADV	zaista
dobar	A:aem	dobar
i	CONJ	i
nimalo	ADV	nimalo
patetičan	A:aem	patetičan
(	PUNCT	(
tebe	PRO	ti
gledam	N:m	gledam
Hankse	N:m	Hankse
Tomu	N:m	Toma
!	PUNCT	!
)	PUNCT	)
u	PREP	u
svojoj	PRO	svoj
ulozi	N:f	uloga
i	CONJ	i
energija	N:f	energija
koju	PRO	koji
on	PRO	on
nesebično	A:aen	nesebičan
rasipa	N:m	rasip
tokom	PREP	tokom
filma	N:m	film
veći	A:bem	velik
je	PRO	ona
podstrek	N:m	podstrek
svim	PRO	sav
obolelima	A:aem	oboleo
nego	CONJ	nego
vesti	N:f	vesta
iz	PREP	iz
farmaceutske	A:aef	farmaceutski
industrije	N:f	industrija
.	SENT	.
Njegov	PRO	njegov
Ron	N:m	Ron
Woodroof	N:m	Woodroof
umire	N:m	umire
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
i	CONJ	i
živeo	V:m	živeti
-	PUNCT	-
kao	CONJ	kao
kauboj	N:m	kauboj
sa	PREP	sa
Marlborom	N:m	Marlborom
među	PREP	među
zubima	N:m	zub
i	CONJ	i
viskijem	N:m	viski
u	PREP	u
ruci	N:f	ruka
koji	PRO	koji
daje	N:m	daje
sve	PRO	sav
od	PREP	od
sebe	PRO	sebe
da	CONJ	da
ga	PRO	on
bik	N:m	bik
ne	PAR	ne
zbaci	V:m	zbaci
iz	PREP	iz
sedla	N:n	sedlo
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
pre	PREP	pre
svega	PRO	sav
,	PUNCT	,
on	PRO	on
umire	N:m	umire
kao	CONJ	kao
američki	A:aem	američki
preduzetnik	N:m	preduzetnik
,	PUNCT	,
kao	CONJ	kao
neko	PRO	neki
ko	PRO	ko
je	PRO	ona
i	CONJ	i
u	PREP	u
tako	ADV	tako
crnoj	A:aef	crn
situaciji	N:f	situacija
u	PREP	u
kojoj	PRO	koji
se	PAR	se
našao	V:m	naći
pronašao	V:m	pronaći
priliku	N:f	prilika
za	PREP	za
sebe	PRO	sebe
da	CONJ	da
ostvari	N:m	ostvari
nešto	ADV	nešto
od	PREP	od
američkog	A:aen	američki
sna	N:m	san
.	SENT	.
Dallas	A:aem	Dallas
Buyers	N:m	Buyers
Club	N:m	Club
je	PRO	ona
više	ADV	više
Erin	N:m	Erin
Brokovich	A:aem	Brokovich
nego	CONJ	nego
Philadelphia	A:aem	Philadelphia
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
njegov	PRO	njegov
humani	A:aem	human
(	PUNCT	(
'	A:aem	'
socijalistički	A:aem	socijalistički
'	N:m	'
)	PUNCT	)
momenat	N:m	moment
logična	A:aef	logičan
posledica	N:f	posledica
ponašanja	N:n	ponašanje
jednog	NUM	jedan
filantropa	N:m	filantrop
i	CONJ	i
kosmopolite	N:f	kosmopolita
,	PUNCT	,
nego	CONJ	nego
čoveka	N:m	čovek
osuđenog	A:aen	osuđen
na	PREP	na
smrt	N:f	smrt
.	SENT	.
U	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
,	PUNCT	,
njegov	PRO	njegov
odnos	N:m	odnos
sa	PREP	sa
Rayon	N:m	Rayon
(	PUNCT	(
transdženderom	N:m	transdženderom
koga	PRO	koji
odlično	A:aen	odličan
igra	N:f	igra
Jared	N:m	Jared
Leto	N:f	Leta
)	PUNCT	)
,	PUNCT	,
na	PREP	na
dovoljno	ADV	dovoljno
neuvredljiv	A:aem	neuvredljiv
način	N:m	način
odradio	V:m	odraditi
je	PRO	ona
sve	ADV	sve
melodramsko	A:aen	melodramski
što	CONJ	što
ovaj	PRO	ovaj
film	N:m	film
treba	N:f	treba
da	CONJ	da
nosi	N:f	nosi
.	SENT	.
Ima	V:m	Ima
čak	PAR	čak
i	CONJ	i
nečeg	PRO	nešto
drugarski	A:aem	drugarski
-	PUNCT	-
homoerotičnog	N:f	homoerotičnog
u	PREP	u
njihovom	PRO	njihov
odnosu	N:m	odnos
na	PREP	na
način	N:m	način
na	PREP	na
koji	PRO	koji
smo	N:f	smo
to	PRO	taj
videli	V:m	videti
između	PREP	između
Voighta	N:m	Voighta
i	CONJ	i
Hoffmana	N:m	Hoffmana
u	PREP	u
Midnight	N:m	Midnight
Cowboy	N:m	Cowboy
,	PUNCT	,
i	CONJ	i
čak	PAR	čak
bih	A:aem	bih
otišao	V:m	otići
tako	ADV	tako
daleko	ADV	daleko
da	CONJ	da
kažem	A:aen	kažem
da	CONJ	da
je	PRO	ona
svesno	ADV	svesno
ili	CONJ	ili
nesvesno	ADV	nesvesno
reditelj	N:m	reditelj
Jean	N:m	Jean
-	PUNCT	-
Marc	N:m	Marc
Vallee	N:f	Vallee
tu	ADV	tu
napravio	V:m	napraviti
lepu	A:aen	lep
posvetu	N:f	posveta
tom	PRO	taj
filmu	N:m	film
.	SENT	.
Vallee	N:m	Vallee
je	PRO	ona
još	PAR	još
u	PREP	u
svom	PRO	sav
odličnom	A:aen	odličan
(	PUNCT	(
auto	N:n	auto
-	PUNCT	-
biografskom	A:aen	biografski
?	PUNCT	?
)	PUNCT	)
filmu	N:m	film
C	ABB	C
.	PUNCT	.
R	N:m	R
.	SENT	.
A	CONJ	a
.	PUNCT	.
Z	A:aem	Z
.	PUNCT	.
Y	A:aem	Y
.	PUNCT	.
pokazao	V:m	pokazati
da	CONJ	da
ume	N:m	um
i	CONJ	i
sa	PREP	sa
epohom	N:f	epoha
i	CONJ	i
sa	PREP	sa
među	PREP	među
-	PUNCT	-
ljudskim	A:aef	ljudski
odnosima	N:m	odnos
,	PUNCT	,
a	CONJ	a
ovde	ADV	ovde
je	PRO	ona
svoj	PRO	sav
stil	N:m	stil
dodatno	ADV	dodatno
dopingovao	V:m	dopingovati
momentima	N:m	moment
koji	PRO	koji
krase	N:f	krase
Ronova	A:aem	Ronova
putovanja	N:n	putovanje
ubacujući	A:aem	ubacujući
'	N:m	'
aktuelni	A:aem	aktuelan
'	N:m	'
šik	ADV	šik
'	A:aem	'
neozbiljnih	A:aem	neozbiljan
'	N:m	'
drama	N:f	drama
poput	PREP	poput
Arga	N:m	Arga
ili	CONJ	ili
American	A:aem	American
Hustle	N:m	Hustle
.	PUNCT	.
Pa	CONJ	pa
ti	PRO	taj
delovi	N:m	deo
filma	N:m	film
izgledaju	N:f	izgledaju
kao	CONJ	kao
oživljene	A:aef	oživljen
reklame	N:f	reklama
osamdesetih	A:aem	osamdeseti
sa	PREP	sa
Marlboro	N:m	marlboro
Manom	N:m	Man
u	PREP	u
nekim	PRO	neki
drugim	A:aem	drugi
tipovima	N:m	tip
akcije	N:f	akcija
.	SENT	.
Ne	PAR	ne
toliko	ADV	toliko
dobro	ADV	dobro
koliko	ADV	koliko
ne	PAR	ne
toliko	ADV	toliko
loše	ADV	loše
.	SENT	.
