Posmatrajući	A:aem	Posmatrajući
film	N:m	film
„	A:aem	„
Paul	N:m	Paul
“	A:aem	“
čini	N:f	čini
se	PAR	se
da	CONJ	da
je	PRO	ona
njegova	PRO	njegov
osnovna	A:aen	osnovni
ideja	N:f	ideja
nastala	V:n	nastati
odstranjivanjem	N:n	odstranjivanje
svih	PRO	sav
,	PUNCT	,
već	CONJ	već
iskorišćenih	A:aef	iskorišćen
prikaza	N:f	prikaza
vanzemaljaca	N:m	vanzemaljac
,	PUNCT	,
pokušavši	A:aem	pokušavši
da	CONJ	da
se	PAR	se
stvori	N:m	stvori
jedan	NUM	jedan
nov	A:aem	nov
,	PUNCT	,
do	PREP	do
sada	ADV	sada
neviđen	A:aem	neviđen
pristup	N:m	pristup
.	SENT	.
Do	PREP	do
sada	ADV	sada
smo	N:f	smo
u	PREP	u
filmovima	N:m	film
imali	V:m	imati
prilike	N:f	prilika
da	CONJ	da
vidimo	A:aen	vidimo
razne	A:aem	razne
vanzemaljce	N:m	vanzemaljac
,	PUNCT	,
od	PREP	od
zlih	A:aen	zao
i	CONJ	i
agresivnih	A:aen	agresivan
,	PUNCT	,
poput	PREP	poput
onih	PRO	onaj
u	PREP	u
filmovima	N:m	film
Alien	N:f	Alien
ili	CONJ	ili
Predator	N:m	predator
,	PUNCT	,
pa	CONJ	pa
do	PREP	do
onih	PRO	onaj
mirnih	A:aef	miran
i	CONJ	i
dobroćudnih	A:aef	dobroćudan
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
dalje	ADV	dalje
misterioznih	A:aem	misteriozan
i	CONJ	i
za	PREP	za
nas	PRO	mi
nepoznatih	A:aen	nepoznat
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
to	PRO	taj
npr	N:m	npr
.	PUNCT	.
bio	V:m	biti
E	A:aem	E
.	SENT	.
T	ABB	T
.	PUNCT	.
Međutim	N:n	Međutim
,	PUNCT	,
Pol	N:m	Pol
je	PRO	ona
nešto	ADV	nešto
sasvim	ADV	sasvim
drugačijie	A:aem	drugačijie
.	SENT	.
Osim	PREP	osim
što	PRO	što
je	PRO	ona
po	PREP	po
njegovoj	PRO	njegov
spoljašnjsti	A:aem	spoljašnjsti
očigledno	ADV	očigledno
da	CONJ	da
se	PAR	se
radi	PREP	radi
o	PREP	o
nekome	PRO	neki
ko	PRO	ko
nije	N:m	nije
sa	PREP	sa
ove	PRO	ovaj
planete	N:f	planeta
,	PUNCT	,
Polovo	A:aen	Polov
ponašanje	N:n	ponašanje
potpuno	ADV	potpuno
je	PRO	ona
prepoznatljivo	A:aen	prepoznatljiv
u	PREP	u
svakom	PRO	svaki
prosečnom	A:aen	prosečan
Amerikancu	N:m	Amerikanac
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
radi	PREP	radi
se	PAR	se
o	PREP	o
tome	PRO	taj
da	CONJ	da
je	PRO	ona
Pol	N:m	Pol
nakon	PREP	nakon
dugog	A:aem	dug
boravka	N:m	boravak
na	PREP	na
našoj	PRO	naš
planeti	N:f	planeta
potpao	V:m	potpasti
pod	PREP	pod
uticaj	N:m	uticaj
naše	PRO	naš
kulture	N:f	kultura
,	PUNCT	,
što	CONJ	što
je	PRO	ona
modifikovalo	V:n	modifikovati
njegovu	PRO	njegov
vanzemaljsku	A:aef	vanzemaljski
ličnost	N:f	ličnost
,	PUNCT	,
učinivši	A:aem	učinivši
je	PRO	ona
sličnijom	A:bef	sličan
našoj	PRO	naš
zemaljskoj	A:aef	zemaljski
,	PUNCT	,
a	CONJ	a
samim	PRO	sam
time	PRO	taj
i	CONJ	i
pristupačnijom	A:bef	pristupačan
za	PREP	za
kominikaciju	N:f	kominikaciju
sa	PREP	sa
ljudima	N:m	ljudi
.	SENT	.
Ukoliko	CONJ	ukoliko
bismo	N:f	bismo
film	N:m	film
„	A:aem	„
Paul	N:m	Paul
“	N:m	“
želeli	V:m	želeti
da	CONJ	da
uporedimo	N:f	uporedimo
sa	PREP	sa
nekim	PRO	neki
sličnim	A:aef	sličan
,	PUNCT	,
definitivno	ADV	definitivno
bi	A:aem	bi
to	PRO	taj
bio	V:m	biti
film	N:m	film
Ted	N:m	Ted
(	PUNCT	(
2012	NUM	@card@
)	PUNCT	)
.	SENT	.
Osnova	N:f	osnova
priče	N:f	priča
za	PREP	za
oba	NUM	oba
filma	N:m	film
je	PRO	ona
otprilike	ADV	otprilike
ista	A:aef	isti
,	PUNCT	,
te	CONJ	te
je	PRO	ona
vrlo	ADV	vrlo
verovatno	ADV	verovatno
da	CONJ	da
je	PRO	ona
Pol	N:m	Pol
makar	PAR	makar
delimično	ADV	delimično
poslužio	V:m	poslužiti
kao	CONJ	kao
inspiracija	N:f	inspiracija
za	PREP	za
Teda	N:m	Ted
.	SENT	.
Razmislimo	N:f	Razmislimo
malo	ADV	malo
,	PUNCT	,
baš	PAR	baš
kao	ADV	kao
Ted	N:m	Ted
i	CONJ	i
Pol	N:m	Pol
je	PRO	ona
neidentifikovana	A:aef	neidentifikovan
kreatura	N:f	kreatura
,	PUNCT	,
koju	PRO	koji
karakteriše	N:m	karakteriše
malo	ADV	malo
slobodniji	A:bem	slobodan
i	CONJ	i
ne	PAR	ne
preterano	ADV	preterano
kulturan	A:aem	kulturan
rečnik	N:m	rečnik
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
sklonost	N:f	sklonost
zemaljskim	A:aen	zemaljski
porocima	N:m	porok
.	SENT	.
Pri	PREP	pri
tome	PRO	taj
,	PUNCT	,
moramo	N:f	moramo
priznati	V:m	priznati
da	CONJ	da
je	PRO	ona
plišani	A:aem	plišan
medvedić	N:m	medvedić
Ted	N:m	Ted
za	PREP	za
nijansu	N:f	nijansa
bezobrazniji	A:bem	bezobrazan
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
veći	A:bem	velik
hedonista	N:m	hedonista
u	PREP	u
ovom	PRO	ovaj
poređenju	N:n	poređenje
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
izlaganju	N:n	izlaganje
se	PAR	se
ispostavlja	N:n	ispostavlja
da	CONJ	da
je	PRO	ona
Pol	N:m	Pol
prilično	ADV	prilično
originalna	A:aem	originalan
zamisao	N:f	zamisao
,	PUNCT	,
ali	CONJ	ali
nije	A:aem	nije
sasvim	ADV	sasvim
tako	ADV	tako
.	SENT	.
Kao	CONJ	kao
dokaz	N:m	dokaz
pomenućemo	N:m	pomenućemo
samo	CONJ	samo
jednog	NUM	jedan
,	PUNCT	,
veoma	ADV	veoma
sličnog	A:aen	sličan
vanzemaljca	N:m	vanzemaljac
pod	PREP	pod
imenom	N:n	ime
Gordon	N:m	Gordon
Shumway	A:aem	Shumway
,	PUNCT	,
nama	PRO	mi
daleko	ADV	daleko
poznatijeg	A:bem	poznat
kao	CONJ	kao
Alf	N:m	Alf
.	PUNCT	.
Verujemo	A:aen	Verujemo
da	CONJ	da
će	A:aen	će
svi	PRO	sav
uvideti	N:m	uvideti
sličnost	N:f	sličnost
.	SENT	.
Osim	PREP	osim
same	PRO	sam
ideje	N:f	ideja
o	PREP	o
vanzemaljcu	N:m	vanzemaljac
Polu	N:f	Pola
,	PUNCT	,
priča	N:f	priča
koja	PRO	koji
je	PRO	ona
izgrađena	V:f	izgraditi
oko	PREP	oko
njega	PRO	on
nije	N:m	nije
naročito	ADV	naročito
fascinantna	A:aem	fascinantan
.	SENT	.
Ova	PRO	ovaj
komedija	N:f	komedija
osim	PREP	osim
prosečnog	A:aen	prosečan
humora	N:m	humor
,	PUNCT	,
nudi	N:f	nudi
i	CONJ	i
veoma	ADV	veoma
blagu	A:aef	blag
dozu	N:f	doza
akcije	N:f	akcija
.	SENT	.
Ljubitelji	N:m	ljubitelj
naučne	A:aef	naučni
fantastike	N:f	fantastika
,	PUNCT	,
zasigurno	ADV	zasigurno
će	A:aem	će
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
zapaziti	A:aem	zapaziti
i	CONJ	i
omaže	N:m	omaž
filmovima	N:m	film
poput	PREP	poput
E	N:f	E
.	SENT	.
T	ABB	T
.	PUNCT	.
the	N:m	the
Extra	N:m	Extra
-	PUNCT	-
Terrestrial	N:m	Terrestrial
,	PUNCT	,
Close	N:m	Close
Encounters	A:aem	Encounters
of	N:m	of
the	N:m	the
Third	A:aem	Third
Kind	N:m	Kind
,	PUNCT	,
X	N:m	X
-	PUNCT	-
Files	N:m	Files
i	CONJ	i
možda	PAR	možda
još	ADV	još
neke	PRO	neki
na	PREP	na
ovu	PRO	ovaj
temu	N:f	tema
.	SENT	.
Pored	PREP	pored
Paula	N:f	Paula
glavni	A:aem	glavni
likovi	N:m	lik
u	PREP	u
filmu	N:m	film
su	PREF	su
takođe	PAR	takođe
Grejm	N:m	Grejm
Vili	N:m	Vili
(	PUNCT	(
Simon	N:m	Simon
Pegg	N:m	Pegg
)	PUNCT	)
i	CONJ	i
Klajv	N:m	Klajv
Golings	N:m	Golings
(	PUNCT	(
Nick	A:aem	Nick
Frost	N:m	Frost
)	PUNCT	)
,	PUNCT	,
dvojica	N:f	dvojica
britanskih	A:aef	britanski
zaluđenika	N:m	zaluđenik
naučnom	A:aem	naučni
fantastikom	N:f	fantastika
,	PUNCT	,
sa	PREP	sa
posebnim	A:aef	poseban
fokusom	N:m	fokus
na	PREP	na
sve	PRO	sav
što	CONJ	što
ima	A:aem	ima
veze	N:f	veza
sa	PREP	sa
vanzemaljcima	N:m	vanzemaljac
.	SENT	.
Po	PREP	po
ovome	PRO	ovaj
sudeći	A:aem	sudeći
,	PUNCT	,
Grejm	N:m	Grejm
i	CONJ	i
Klajv	N:m	Klajv
su	PREF	su
idealni	A:aem	idealan
kandidati	N:m	kandidat
za	PREP	za
upoznavanja	N:n	upoznavanje
pravog	A:aem	prav
vanzemaljca	N:m	vanzemaljac
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
njihovo	PRO	njihov
stereotipno	A:aen	stereotipan
poimanje	N:n	poimanje
života	N:m	život
van	PREP	van
Zemlje	N:f	zemlja
,	PUNCT	,
potpuno	ADV	potpuno
se	PAR	se
kosi	N:f	kosa
sa	PREP	sa
onime	PRO	onaj
sa	PREP	sa
čime	PRO	šta
će	N:m	će
se	PAR	se
susresti	N:f	susresti
.	SENT	.
Na	PREP	na
svu	PRO	sav
sreću	N:f	sreća
,	PUNCT	,
Pol	N:m	Pol
je	PRO	ona
u	PREP	u
potpunosti	N:f	potpunost
upoznat	V:m	upoznati
sa	PREP	sa
američkom	A:aem	američki
kulturom	N:f	kultura
,	PUNCT	,
u	PREP	u
stvaranju	N:n	stvaranje
koje	PRO	koji
je	PRO	ona
po	PREP	po
svojim	PRO	svoj
rečima	N:f	reč
i	CONJ	i
sam	PRO	sam
učestvovao	V:m	učestvovati
,	PUNCT	,
što	CONJ	što
je	PRO	ona
znatno	ADV	znatno
olakšalo	V:n	olakšati
da	CONJ	da
se	PAR	se
Grejm	N:m	Grejm
i	CONJ	i
Klajv	N:m	Klajv
sa	PREP	sa
njime	PRO	on
brže	A:bef	brz
sprijatelje	N:m	sprijatelje
i	CONJ	i
kreću	N:m	kreću
u	PREP	u
zajedničku	A:aef	zajednički
avanturu	N:f	avantura
.	SENT	.
Kompjuterska	A:aem	kompjuterski
animacije	N:f	animacija
Pola	N:f	Pola
možda	PAR	možda
nije	V:m	nije
vrhunska	A:aem	vrhunski
,	PUNCT	,
mada	CONJ	mada
je	PRO	ona
zadovoljavajuća	A:aen	zadovoljavajući
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
za	PREP	za
film	N:m	film
poput	PREP	poput
ovoga	PRO	ovaj
valjda	PAR	valjda
i	CONJ	i
nije	A:aem	nije
toliko	ADV	toliko
bitno	ADV	bitno
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
Set	A:aem	Set
Rogen	N:m	Rogen
(	PUNCT	(
Seth	A:aem	Seth
Rogen	N:m	Rogen
)	PUNCT	)
je	PRO	ona
jednim	NUM	jedan
delom	ADV	delom
vrlo	ADV	vrlo
dobro	ADV	dobro
dočarao	V:m	dočarati
lik	N:m	lik
ovog	PRO	ovaj
otkačenog	A:aem	otkačen
vanzemaljca	N:m	vanzemaljac
,	PUNCT	,
pozajmivši	V:m	pozajmivši
mu	PRO	on
svoj	PRO	sav
glas	N:m	glas
.	SENT	.
Film	N:m	film
je	PRO	ona
režirao	V:m	režirati
Greg	N:m	Greg
Mottola	N:m	Mottola
(	PUNCT	(
Greg	N:m	Greg
Mottola	N:m	Mottola
)	PUNCT	)
,	PUNCT	,
poznat	A:aem	poznat
po	PREP	po
filmovima	N:m	film
Superbad	N:m	Superbad
(	PUNCT	(
2007	NUM	@card@
)	PUNCT	)
i	CONJ	i
Adventureland	N:m	Adventureland
(	PUNCT	(
2009	NUM	@card@
)	PUNCT	)
,	PUNCT	,
po	PREP	po
humoru	N:m	humor
i	CONJ	i
kvalitetu	N:m	kvalitet
veoma	ADV	veoma
slični	A:aem	sličan
Polu	N:m	Pol
,	PUNCT	,
pa	CONJ	pa
to	PRO	taj
neka	PRO	neki
bude	A:aem	bude
i	CONJ	i
naša	PRO	naš
preporuka	N:f	preporuka
.	SENT	.
Humor	N:m	humor
u	PREP	u
filmu	N:m	film
je	PRO	ona
zapravo	ADV	zapravo
tipično	ADV	tipično
američki	A:aem	američki
,	PUNCT	,
sa	PREP	sa
jedva	ADV	jedva
osetnim	A:aef	osetan
primesama	N:f	primesa
britanskog	A:aem	britanski
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
vam	PRO	vi
zasigurno	ADV	zasigurno
neće	A:aem	neće
otvoriti	N:m	otvoriti
nov	A:aem	nov
pogled	N:m	pogled
na	PREP	na
život	N:m	život
,	PUNCT	,
ali	CONJ	ali
vam	PRO	vi
može	A:aem	može
ponuditi	N:f	ponuditi
novu	A:aen	nov
perspektivu	N:f	perspektiva
na	PREP	na
život	N:m	život
van	PREP	van
naše	PRO	naš
planete	N:f	planeta
i	CONJ	i
preispitivanje	N:n	preispitivanje
poimanja	N:n	poimanje
istog	A:aen	isti
,	PUNCT	,
na	PREP	na
komičan	A:aem	komičan
način	N:m	način
.	SENT	.
