Pre	PREP	pre
jedanaest	NUM	jedanaest
godina	N:f	godina
,	PUNCT	,
kada	CONJ	kada
se	PAR	se
pojavio	V:m	pojaviti
prvi	A:aem	prvi
deo	N:m	deo
,	PUNCT	,
niko	PRO	niko
nije	N:f	nije
ni	PAR	ni
slutio	V:m	slutiti
da	CONJ	da
će	V:m	će
se	PAR	se
Poslednja	A:aem	poslednji
ekskurzija	N:f	ekskurzija
pretvoriti	N:m	pretvoriti
u	PREP	u
franšizu	N:f	franšiza
s	PREP	s
pet	NUM	pet
nastavaka	N:m	nastavak
Već	A:aem	Već
posle	PREP	posle
drugog	A:aem	drugi
,	PUNCT	,
serijal	N:m	serijal
je	PRO	ona
u	PREP	u
blagom	A:aen	blag
padu	N:m	pad
i	CONJ	i
gube	N:f	guba
se	PAR	se
ona	PRO	ona
jeza	N:f	jeza
i	CONJ	i
horor	N:m	horor
iz	PREP	iz
prvog	A:aem	prvi
dela	N:n	delo
.	SENT	.
Umiranja	N:n	umiranje
postaju	N:f	postaja
sve	ADV	sve
komičnija	A:bef	komičan
i	CONJ	i
neverovatnija	A:bef	neverovatan
,	PUNCT	,
a	CONJ	a
upravo	ADV	upravo
ona	PRO	ona
čine	N:m	čin
sve	PRO	sav
delove	N:m	deo
iole	ADV	iole
podnošljivim	A:aef	podnošljiv
za	PREP	za
gledanje	N:n	gledanje
,	PUNCT	,
tačnije	ADV	tačnije
,	PUNCT	,
jedini	A:aem	jedini
su	N:m	su
razlog	N:m	razlog
zbog	PREP	zbog
koga	PRO	koji
ćete	N:m	ćete
platiti	N:m	platiti
bioskopsku	A:aef	bioskopski
kartu	N:f	karta
.	SENT	.
Da	CONJ	da
podsetimo	N:f	podsetimo
,	PUNCT	,
na	PREP	na
početku	N:m	početak
svakog	PRO	svaki
dela	N:n	delo
upoznajemo	A:aen	upoznajemo
grupu	N:f	grupa
ljudi	N:m	ljudi
od	PREP	od
koje	PRO	koji
glavni	A:aem	glavni
junak	N:m	junak
ima	A:aem	ima
viziju	N:f	vizija
nesreće	N:f	nesreća
koja	PRO	koji
će	N:m	će
se	PAR	se
upravo	ADV	upravo
dogoditi	A:aem	dogoditi
.	PUNCT	.
Uplašen	A:aem	Uplašen
,	PUNCT	,
upozorava	A:aem	upozorava
sve	ADV	sve
oko	PREP	oko
sebe	PRO	sebe
;	SENT	;
naravno	PAR	naravno
,	PUNCT	,
niko	PRO	niko
mu	PRO	on
ne	PAR	ne
veruje	N:f	veruje
i	CONJ	i
svi	PRO	sav
smatraju	N:n	smatraju
da	CONJ	da
je	PRO	ona
poludeo	V:m	poludeti
.	SENT	.
Njegova	PRO	njegov
histerija	N:f	histerija
uvek	ADV	uvek
spase	N:m	Spasa
malu	A:aef	mali
grupu	N:f	grupa
da	CONJ	da
za	PREP	za
dlaku	N:f	dlaka
izbegne	A:aef	izbegne
tragediju	N:f	tragedija
.	SENT	.
Smrt	N:f	smrt
se	PAR	se
oseti	N:m	oset
prevarenom	A:aem	prevaren
i	CONJ	i
kasnije	ADV	kasnije
u	PREP	u
toku	N:m	tok
filma	N:m	film
dolazi	N:m	dolaz
po	PREP	po
svakog	PRO	svaki
posebno	ADV	posebno
.	SENT	.
Svi	PRO	sav
umiru	N:m	umiru
na	PREP	na
takve	PRO	takav
načine	N:m	način
da	CONJ	da
im	PRO	ona
je	PRO	ona
bilo	V:n	biti
bolje	ADV	bolje
da	CONJ	da
završe	A:aem	završe
onako	ADV	onako
kako	CONJ	kako
je	PRO	ona
trebalo	V:n	trebati
na	PREP	na
samom	PRO	sam
početku	N:m	početak
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
niko	PRO	niko
ne	PAR	ne
može	A:aem	može
ni	CONJ	ni
da	CONJ	da
pretpostavi	N:f	pretpostavi
šta	PRO	šta
ih	PRO	ona
čeka	N:f	čeka
,	PUNCT	,
a	CONJ	a
nama	PRO	mi
to	PRO	taj
čini	N:f	čini
glavnu	A:aem	glavnu
zabavu	N:f	zabava
i	CONJ	i
s	PREP	s
nestrpljenjem	N:n	nestrpljenje
čekamo	ADV	čekamo
svaku	PRO	svaki
novu	A:aen	nov
pogibiju	N:f	pogibija
.	SENT	.
Sve	ADV	sve
ostalo	V:n	ostati
je	PRO	ona
na	PREP	na
isti	A:aem	isti
kalup	N:m	kalup
.	SENT	.
Da	CONJ	da
bi	A:aem	bi
privukli	V:m	privući
publiku	N:f	publika
,	PUNCT	,
u	PREP	u
četvrtom	A:aen	četvrti
delu	N:n	delo
uveli	V:m	uvesti
su	N:m	su
3	NUM	@card@
D	A:aen	D
i	CONJ	i
tako	ADV	tako
osvežili	V:m	osvežiti
serijal	N:m	serijal
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
to	PRO	taj
su	N:m	su
traljavo	ADV	traljavo
odradili	V:m	odraditi
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
delu	N:n	delo
to	PRO	taj
je	PRO	ona
urađeno	V:n	uraditi
valjano	A:aen	valjan
,	PUNCT	,
već	CONJ	već
od	PREP	od
same	PRO	sam
špice	N:f	špica
videlo	V:n	videti
se	PAR	se
da	CONJ	da
će	A:aef	će
biti	N:f	bit
bolji	A:bem	dobar
od	PREP	od
prethodnih	A:aem	prethodan
:	PUNCT	:
imena	N:n	ime
učesnika	N:m	učesnik
koja	PRO	koji
kao	ADV	kao
da	CONJ	da
su	N:m	su
napisana	V:f	napisati
na	PREP	na
staklu	N:n	staklo
,	PUNCT	,
stvari	N:f	stvar
koje	PRO	koji
ga	PRO	on
razbijaju	N:m	razbijaju
i	CONJ	i
parčići	N:m	parčić
koji	PRO	koji
lete	N:m	let
prema	PREP	prema
vama	PRO	vi
.	PUNCT	.
Ako	CONJ	ako
ste	A:aem	ste
dobro	ADV	dobro
pratili	V:m	pratiti
sve	PRO	sav
nastavke	N:m	nastavak
,	PUNCT	,
te	CONJ	te
stvari	N:f	stvar
su	PREF	su
,	PUNCT	,
zapravo	ADV	zapravo
,	PUNCT	,
razne	A:aef	razne
alatke	N:f	alatka
i	CONJ	i
sve	PRO	sav
ono	PRO	onaj
što	PRO	što
je	PRO	ona
prošlo	V:n	proći
kroz	PREP	kroz
prethodne	A:aef	prethodan
nastavke	N:m	nastavak
i	CONJ	i
pomoglo	V:n	pomoći
eliminaciju	N:f	eliminacija
glavnih	A:aem	glavnih
junaka	N:m	junak
.	PUNCT	.
Početna	A:aef	Početna
nesreća	N:f	nesreća
najkrvavija	A:cef	krvav
je	PRO	ona
do	PREP	do
sada	ADV	sada
,	PUNCT	,
kasnije	ADV	kasnije
najbolja	A:cef	dobar
smrt	N:f	smrt
.	SENT	.
Prosto	ADV	prosto
je	PRO	ona
neverovatno	ADV	neverovatno
kako	CONJ	kako
telo	N:n	telo
može	A:aem	može
da	CONJ	da
se	PAR	se
izlomi	N:f	izlomi
prilikom	PREP	prilikom
pada	N:m	pad
na	PREP	na
treningu	N:m	trening
gimnastike	N:f	gimnastika
,	PUNCT	,
jeza	N:f	jeza
me	PRO	ja
prođe	N:f	prođa
čim	CONJ	čim
se	PAR	se
prisetim	A:aen	prisetim
.	SENT	.
Osim	PREP	osim
početka	N:m	početak
i	CONJ	i
malih	A:aen	mali
detalja	N:m	detalj
koji	PRO	koji
za	PREP	za
trenutak	N:m	trenutak
podignu	A:aem	podignu
nivo	N:m	nivo
adrenalina	N:m	adrenalin
,	PUNCT	,
ostale	V:f	ostati
scene	N:f	scena
nemaju	N:f	nemaju
dovoljno	A:aen	dovoljan
razloga	N:m	razlog
da	CONJ	da
budu	N:f	budu
snimljene	V:f	snimiti
u	PREP	u
3	NUM	@card@
D	A:aef	D
tehnici	N:f	tehnika
.	SENT	.
Daleko	ADV	daleko
od	PREP	od
toga	PRO	taj
da	CONJ	da
su	N:m	su
razočaravajuće	A:aen	razočaravajući
,	PUNCT	,
ali	CONJ	ali
autori	N:m	autor
su	N:m	su
mogli	V:m	moći
da	CONJ	da
se	PAR	se
potrude	V:m	potrude
do	PREP	do
kraja	N:m	kraj
.	SENT	.
Pravo	N:n	pravo
iznenađenje	N:n	iznenađenje
predstavljaju	N:m	predstavljaju
atmosfera	N:f	atmosfera
i	CONJ	i
napetost	N:f	napetost
koju	PRO	koji
stvaraju	N:m	stvaraju
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
smrt	N:f	smrt
zada	A:aem	zada
finalni	A:aem	finalni
udarac	N:m	udarac
:	PUNCT	:
taman	ADV	taman
kada	CONJ	kada
pomislite	N:m	pomislite
kako	CONJ	kako
će	A:aem	će
sve	ADV	sve
da	CONJ	da
se	PAR	se
odigra	N:f	odigra
,	PUNCT	,
sledi	N:f	sledi
iznenađenje	N:n	iznenađenje
.	SENT	.
Čak	N:m	Čak
su	N:m	su
se	PAR	se
potrudili	V:m	potruditi
da	CONJ	da
vrate	N:m	vrat
Tonyja	A:aef	Tonyja
Todda	N:f	Todda
:	SENT	:
uvek	ADV	uvek
se	PAR	se
pojavljuje	N:f	pojavljuje
niotkuda	ADV	niotkuda
i	CONJ	i
dubokim	A:aem	dubok
glasom	N:m	glas
upozorava	A:aem	upozorava
glavne	A:aem	glavne
junake	N:m	junak
na	PREP	na
ono	PRO	onaj
što	CONJ	što
ih	PRO	ona
čeka	N:f	čeka
.	SENT	.
Ovog	PRO	ovaj
puta	ADV	puta
nagoveštava	N:n	nagoveštava
im	PRO	ona
kako	ADV	kako
evetualno	A:aen	evetualno
mogu	N:m	Mog
da	CONJ	da
se	PAR	se
spasu	N:m	spas
,	PUNCT	,
što	CONJ	što
niko	PRO	niko
ne	PAR	ne
iskoristi	N:m	iskoristi
kako	CONJ	kako
treba	N:f	treba
.	PUNCT	.
Nažalost	N:f	Nažalost
,	PUNCT	,
nismo	N:f	nismo
se	PAR	se
pomerili	V:m	pomeriti
od	PREP	od
prvog	A:aem	prvi
dela	N:n	delo
,	PUNCT	,
nismo	N:f	nismo
saznali	V:m	saznati
zašto	ADV	zašto
uvek	ADV	uvek
samo	PAR	samo
jedan	NUM	jedan
ima	A:aef	ima
vizije	N:f	vizija
i	CONJ	i
odakle	ADV	odakle
one	PRO	onaj
dolaze	N:m	dolaz
.	SENT	.
Ništa	A:aem	Ništa
nam	PRO	mi
nije	A:aem	nije
jasnije	ADV	jasnije
,	PUNCT	,
a	CONJ	a
ovaj	PRO	ovaj
peti	N:f	peta
deo	N:m	deo
treba	N:f	treba
da	CONJ	da
zaokruži	A:aef	zaokruži
priču	N:f	priča
i	CONJ	i
okonča	A:aem	okonča
serijal	N:m	serijal
.	SENT	.
Mnoge	A:aef	mnogi
stvari	N:f	stvar
postavljene	V:f	postaviti
su	PREF	su
tako	ADV	tako
da	CONJ	da
ne	PAR	ne
podržavaju	N:f	podržavaju
sam	A:aem	sam
kraj	N:m	kraj
filma	N:m	film
.	SENT	.
Najbolju	A:cef	dobar
potvrdu	N:f	potvrda
za	PREP	za
to	PRO	taj
da	CONJ	da
nameravaju	N:m	nameravaju
da	CONJ	da
ovde	ADV	ovde
stave	N:f	stave
tačku	N:f	tačka
,	PUNCT	,
naći	A:aem	naći
ćete	N:m	ćete
kada	CONJ	kada
počne	A:aem	počne
odjavna	A:aef	odjavni
špica	N:f	špica
,	PUNCT	,
u	PREP	u
kojoj	PRO	koji
vas	PRO	vi
čekaju	N:m	čekaju
sve	PRO	sav
smrti	N:f	smrt
iz	PREP	iz
prethodnih	A:aem	prethodan
filmova	N:m	film
,	PUNCT	,
naknadno	ADV	naknadno
obrađene	V:f	obraditi
u	PREP	u
3	NUM	@card@
D	A:aef	D
tehnici	N:f	tehnika
.	PUNCT	.
Ili	CONJ	ili
je	PRO	ona
to	PRO	taj
samo	PAR	samo
marketinški	A:aem	marketinški
trik	N:m	trik
?	SENT	?
Možda	A:aem	Možda
će	N:m	će
se	PAR	se
ipak	PAR	ipak
predomisliti	N:m	predomisliti
i	CONJ	i
u	PREP	u
bližoj	A:bef	bliz
budućnosti	N:f	budućnost
čeka	N:f	čeka
nas	PRO	mi
nova	A:aef	nov
Poslednja	N:f	Poslednja
ekskurzija	N:f	ekskurzija
.	SENT	.
