Soderbergh	A:aem	Soderbergh
imitira	N:m	imitira
braću	N:f	braća
Coen	N:m	Coen
.	SENT	.
Recimo	N:f	Recimo
.	SENT	.
Gledam	N:m	Gledam
ovaj	PRO	ovaj
film	N:m	film
pre	PREP	pre
neki	PRO	neki
dan	N:m	dan
i	CONJ	i
sve	PRO	sav
mi	PRO	ja
se	PAR	se
čini	N:f	čini
da	CONJ	da
sam	PRO	sam
ga	PRO	on
gledao	V:m	gledati
,	PUNCT	,
iako	CONJ	iako
se	PAR	se
ne	PAR	ne
sećam	N:n	sećam
pojedinačnih	A:aef	pojedinačan
scena	N:f	scena
,	PUNCT	,
ali	CONJ	ali
imam	N:m	imam
utisak	N:m	utisak
da	CONJ	da
sam	PRO	sam
ga	PRO	on
gledao	V:m	gledati
.	PUNCT	.
I	CONJ	i
sve	PRO	sav
vreme	N:n	vreme
razmišljam	N:m	razmišljam
-	PUNCT	-
da	CONJ	da
li	PAR	li
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
zbog	PREP	zbog
toga	PRO	taj
dobar	A:aem	dobar
ili	CONJ	ili
loš	A:aem	loš
.	PUNCT	.
Kako	CONJ	kako
je	PRO	ona
moguće	ADV	moguće
da	CONJ	da
ga	PRO	on
nisam	N:m	nisam
upamtio	V:m	upamtiti
(	PUNCT	(
film	N:m	film
je	PRO	ona
iz	PREP	iz
2009	NUM	@card@
.	PUNCT	.
)	SENT	)
,	PUNCT	,
a	CONJ	a
opet	ADV	opet
mi	PRO	ja
ne	PAR	ne
smeta	N:m	smet
da	CONJ	da
ga	PRO	on
uprkos	PREP	uprkos
tom	PRO	taj
'	N:m	'
poznatom	A:aem	poznat
'	A:aem	'
osećaju	N:m	osećaj
gledam	N:m	gledam
.	SENT	.
I	CONJ	i
odgledam	N:m	odgledam
.	SENT	.
Frizure	N:f	frizura
su	N:m	su
prva	A:aen	prvi
stvar	N:f	stvar
koju	PRO	koji
sam	PRO	sam
primetio	V:m	primetiti
.	SENT	.
Obratite	N:m	Obratite
pažnju	N:f	pažnja
na	PREP	na
to	PRO	taj
koliko	ADV	koliko
je	PRO	ona
Soderbergh	A:aef	Soderbergh
frizure	N:f	frizura
glavnih	A:aem	glavnih
aktera	N:m	akter
stilizovao	V:m	stilizovati
toliko	ADV	toliko
napadno	A:aen	napadan
da	CONJ	da
deluju	N:m	deluju
kao	CONJ	kao
perike	N:f	perika
koje	PRO	koji
svoje	PRO	svoj
junake	N:m	junak
pretvaraju	N:m	pretvaraju
u	PREP	u
glumce	N:m	glumac
,	PUNCT	,
u	PREP	u
lažnjake	N:m	lažnjak
.	SENT	.
U	PREP	u
jednom	NUM	jedan
trenuku	N:m	trenuku
,	PUNCT	,
pred	PREP	pred
kraj	N:m	kraj
filma	N:m	film
,	PUNCT	,
dok	CONJ	dok
Mark	N:m	Mark
Whitacre	N:m	Whitacre
(	PUNCT	(
Matt	A:aem	Matt
Damon	N:m	Damon
)	PUNCT	)
sedi	N:m	sedi
na	PREP	na
krevetu	N:m	krevet
,	PUNCT	,
on	PRO	on
će	N:f	će
se	PAR	se
počešati	N:m	počešati
po	PREP	po
glavi	N:f	glava
,	PUNCT	,
ali	CONJ	ali
sa	PREP	sa
takvom	PRO	takav
ležernošću	N:f	ležernost
kao	CONJ	kao
da	CONJ	da
ga	PRO	on
žulja	N:m	žulj
perika	N:f	perika
.	PUNCT	.
Iako	CONJ	iako
nam	PRO	mi
nigde	ADV	nigde
u	PREP	u
filmu	N:m	film
nije	A:aem	nije
rečeno	A:aen	rečen
(	PUNCT	(
da	CONJ	da
li	PAR	li
je	PRO	ona
?	PUNCT	?
)	PUNCT	)
da	CONJ	da
on	PRO	on
nosi	A:aem	nosi
periku	N:f	perika
,	PUNCT	,
kada	CONJ	kada
ga	PRO	on
mnogo	ADV	mnogo
godina	N:f	godina
kasnije	ADV	kasnije
vidimo	A:aen	vidimo
u	PREP	u
zatvoru	N:m	zatvor
,	PUNCT	,
videćemo	N:f	videćemo
da	CONJ	da
je	PRO	ona
proćelav	A:aem	proćelav
i	CONJ	i
da	CONJ	da
je	PRO	ona
ono	PRO	onaj
stvarno	PAR	stvarno
bila	V:f	biti
perika	N:f	perika
-	PUNCT	-
ali	CONJ	ali
Soderbergh	A:aem	Soderbergh
je	PRO	ona
to	PRO	taj
tako	ADV	tako
napravio	V:m	napraviti
da	CONJ	da
tu	PRO	taj
scenu	N:f	scena
sa	PREP	sa
češanjem	N:n	češanje
možete	A:aem	možete
da	CONJ	da
čitate	A:aem	čitate
i	CONJ	i
kao	ADV	kao
rušenje	N:n	rušenje
filmske	A:aem	filmski
realnosti	N:f	realnost
i	CONJ	i
realnosti	N:f	realnost
koju	PRO	koji
je	PRO	ona
Whitacre	N:m	Whitacre
kreirao	V:m	kreirati
.	SENT	.
Kako	CONJ	kako
film	N:m	film
od	PREP	od
početka	N:m	početak
igra	N:f	igra
na	PREP	na
kartu	N:f	karta
špijunskog	A:aem	špijunski
spufa	N:m	spufa
,	PUNCT	,
taj	PRO	taj
meta	N:f	meta
momenat	N:m	moment
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
propituje	N:m	propituje
i	CONJ	i
špijunski	A:aem	špijunski
žanr	N:m	žanr
i	CONJ	i
špijunsku	A:aef	špijunski
materiju	N:f	materija
(	PUNCT	(
kao	CONJ	kao
jedan	NUM	jedan
'	A:aem	'
igrani	A:aem	igran
žanr	N:m	žanr
'	N:m	'
)	PUNCT	)
.	SENT	.
U	PREP	u
satirizaciji	N:f	satirizaciji
slučaja	N:m	slučaj
koji	PRO	koji
se	PAR	se
bavi	A:aem	bavi
mitomanom	N:m	mitoman
čije	PRO	čiji
su	N:m	su
laži	N:f	laž
napravile	V:f	napraviti
pravu	N:n	pravo
papazjaniju	N:f	papazjanija
od	PREP	od
jednog	NUM	jedan
FBI	N:f	FBI
slučaja	N:m	slučaj
koji	PRO	koji
se	PAR	se
bavio	V:m	baviti
industrijskim	A:aen	industrijski
nameštanjem	N:n	nameštanje
cena	N:f	cena
na	PREP	na
tržištu	N:n	tržište
Soderbergh	A:aem	Soderbergh
nije	N:m	nije
štedeo	V:m	štedeti
na	PREP	na
glumcima	N:m	glumac
koji	PRO	koji
su	N:m	su
imali	V:m	imati
kraći	A:bem	kratak
ili	CONJ	ili
duži	A:bem	dug
staž	N:m	staž
u	PREP	u
komediji	N:f	komedija
i	CONJ	i
čije	PRO	čiji
same	A:aem	sam
pojave	N:f	pojava
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
i	CONJ	i
bez	PREP	bez
mnogo	ADV	mnogo
njihovih	PRO	njihov
napora	N:m	napor
,	PUNCT	,
ton	N:m	ton
filma	N:m	film
pretvaraju	N:m	pretvaraju
u	PREP	u
sprdnju	N:f	sprdnja
.	SENT	.
Mislim	A:aem	Mislim
na	PREP	na
Toma	N:m	Toma
Papu	N:f	Papa
,	PUNCT	,
Scotta	A:aem	Scotta
Bakulu	N:m	Bakula
,	PUNCT	,
Joela	A:aem	Joela
McHalea	N:f	McHalea
,	PUNCT	,
Pattona	N:m	Pattona
Oswalta	N:m	Oswalta
,	PUNCT	,
Tony	N:m	Tony
-	PUNCT	-
ja	PRO	ja
Halea	N:m	Hale
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Drugo	A:aen	drugi
,	PUNCT	,
muzika	N:f	muzika
.	PUNCT	.
Lake	A:aef	lak
note	N:f	nota
koje	PRO	koji
se	PAR	se
povremeno	ADV	povremeno
javljaju	V:m	javljaju
užasno	ADV	užasno
me	PRO	ja
podsećaju	N:m	podsećaju
na	PREP	na
The	INT	The
Sting	N:m	Sting
,	PUNCT	,
film	N:m	film
koji	PRO	koji
sam	A:aem	sam
poslednji	A:aem	poslednji
put	N:m	put
gledao	V:m	gledati
u	PREP	u
jednom	ADV	jednom
'	A:aem	'
zimskom	A:aem	zimski
bioskopu	N:m	bioskop
'	A:aem	'
.	PUNCT	.
Lakoća	A:aem	Lakoća
i	CONJ	i
njihov	PRO	njihov
'	A:aem	'
zajebantski	A:aem	zajebantski
'	A:aem	'
ton	N:m	ton
kao	ADV	kao
da	CONJ	da
žele	V:f	žeti
da	CONJ	da
se	PAR	se
nadovežu	V:m	nadovežu
na	PREP	na
taj	PRO	taj
tip	N:m	tip
komediji	N:f	komedija
sa	PREP	sa
potencijalno	ADV	potencijalno
'	A:aem	'
opasnim	A:aen	opasan
'	N:m	'
sadržajem	N:m	sadržaj
,	PUNCT	,
sa	PREP	sa
tom	PRO	taj
blesavošću	N:f	blesavost
i	CONJ	i
lakoćom	N:f	lakoća
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Iako	CONJ	iako
Whitacre	N:m	Whitacre
nije	A:aem	nije
ni	CONJ	ni
malo	ADV	malo
simpatičan	A:aem	simpatičan
koliko	ADV	koliko
su	N:m	su
Redford	N:m	Redford
i	CONJ	i
Newman	N:m	Newman
bili	V:m	biti
,	PUNCT	,
Soderbergh	A:aem	Soderbergh
kao	ADV	kao
da	CONJ	da
prizivanjem	N:n	prizivanje
The	INT	The
Sting	N:m	Sting
još	ADV	još
jednom	ADV	jednom
podvlači	V:m	podvlači
koliko	ADV	koliko
se	PAR	se
taj	PRO	taj
prevarantski	A:aem	prevarantski
mentalitet	N:m	mentalitet
ništa	PRO	ništa
nije	N:f	nije
promenio	V:m	promeniti
od	PREP	od
kako	ADV	kako
su	N:m	su
gangsterske	A:aef	gangsterski
imperije	N:f	imperija
postale	V:f	postati
korporacijske	A:aef	korporacijski
.	SENT	.
Svi	PRO	sav
jedni	NUM	jedan
druge	A:aem	drugi
žele	N:m	žele
da	CONJ	da
prevare	N:f	prevara
i	CONJ	i
zavuku	N:m	zavuku
,	PUNCT	,
samo	CONJ	samo
je	PRO	ona
neverovatno	ADV	neverovatno
da	CONJ	da
je	PRO	ona
jednom	NUM	jedan
čoveku	N:m	čovek
skoro	ADV	skoro
pošlo	V:n	poći
za	PREP	za
rukom	N:f	ruka
da	CONJ	da
zavuče	A:aen	zavuče
sve	PRO	sav
ostale	V:f	ostati
.	SENT	.
Mark	N:m	Mark
Whitacre	N:m	Whitacre
je	PRO	ona
bio	V:m	biti
-	PUNCT	-
hemičar	N:m	hemičar
u	PREP	u
jednoj	NUM	jedan
velikoj	A:aef	velik
kompaniji	N:f	kompanija
koja	PRO	koji
se	PAR	se
bavi	A:aem	bavi
proizvodnjom	N:f	proizvodnja
i	CONJ	i
trgovinom	N:f	trgovina
kukuruzom	N:m	kukuruz
.	SENT	.
On	PRO	on
krade	A:aef	krade
pare	N:f	para
od	PREP	od
firme	N:f	firma
fingiranjem	N:n	fingiranje
lažnih	A:aef	lažan
računa	N:m	račun
,	PUNCT	,
a	CONJ	a
onda	ADV	onda
u	PREP	u
želji	N:f	želja
da	CONJ	da
sebi	PRO	sebe
obezbedi	N:f	obezbeda
još	ADV	još
bolju	A:bef	dobar
poziciju	N:f	pozicija
u	PREP	u
firmi	N:f	firma
ubacuje	A:aem	ubacuje
opasan	A:aem	opasan
virus	N:m	virus
u	PREP	u
kukuruz	N:m	kukuruz
,	PUNCT	,
potom	ADV	potom
tom	PRO	taj
problemu	N:m	problem
nalazi	N:m	nalaz
leka	N:m	lek
,	PUNCT	,
ali	CONJ	ali
tu	ADV	tu
je	PRO	ona
FBI	N:f	FBI
,	PUNCT	,
i	CONJ	i
šefovi	N:m	šef
i	CONJ	i
on	PRO	on
jednu	NUM	jedan
laž	N:f	laž
brani	N:f	brana
drugom	A:aef	drugi
pa	CONJ	pa
trećom	A:aef	treći
pa	CONJ	pa
četvrtom	A:aem	četvrti
i	CONJ	i
sve	PRO	sav
se	PAR	se
zapliće	V:m	zapliće
do	PREP	do
sumanutih	A:aef	sumanut
granica	N:f	granica
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
Whitacre	N:m	Whitacre
od	PREP	od
početka	N:m	početak
do	PREP	do
kraja	N:m	kraj
ostaje	N:n	ostaje
dosledan	A:aem	dosledan
svom	PRO	sav
principu	N:m	princip
-	PUNCT	-
prvo	ADV	prvo
probaj	N:m	probaj
da	CONJ	da
slažeš	N:n	slažeš
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
iako	CONJ	iako
je	PRO	ona
Whitacre	N:m	Whitacre
produkt	N:m	produkt
post	PREF	post
-	PUNCT	-
Reaganovskog	A:aem	Reaganovskog
materijaliste	N:m	materijalista
i	CONJ	i
prototip	N:m	prototip
modernog	A:aem	moderan
'	A:aem	'
menadžera	N:m	menadžer
'	N:m	'
koji	PRO	koji
svoju	PRO	svoj
vrednost	N:f	vrednost
i	CONJ	i
životni	A:aem	životan
smisao	N:m	smisao
sagledava	A:aem	sagledava
kroz	PREP	kroz
broj	N:m	broj
parkiranih	A:aem	parkiran
automobila	N:m	automobil
u	PREP	u
garaži	N:f	garaža
,	PUNCT	,
on	PRO	on
uspeva	N:m	uspeva
da	CONJ	da
ispliva	A:aem	ispliva
kao	CONJ	kao
smušeni	A:aem	smušen
i	CONJ	i
namazani	A:aem	namazan
anti	PREF	anti
-	PUNCT	-
heroj	N:m	heroj
,	PUNCT	,
možda	PAR	možda
čak	PAR	čak
i	CONJ	i
,	PUNCT	,
'	A:aem	'
Occupy	N:m	Occupy
Wall	N:m	Wall
Street	N:m	Street
'	A:aem	'
pokreta	N:m	pokret
.	SENT	.
Vredi	N:f	Vredi
razmisliti	N:f	razmisliti
.	SENT	.
