Sve	PRO	sav
to	PRO	taj
i	CONJ	i
nije	A:aem	nije
rokenrol	N:m	rokenrol
Super	N:m	super
Duper	N:m	Duper
Alice	N:f	Alice
Cooper	N:m	Cooper
je	PRO	ona
dokumentarac	N:m	dokumentarac
o	PREP	o
usponu	N:m	uspon
i	CONJ	i
padu	N:m	pad
i	CONJ	i
potonjoj	A:aef	potonji
nivelaciji	N:f	nivelacija
Alica	N:f	Alica
Coopera	N:m	Coopera
koji	PRO	koji
su	N:m	su
zajedničkim	A:aef	zajednički
snagama	N:f	snaga
uradila	V:f	uraditi
tri	NUM	tri
momka	N:m	momak
koja	PRO	koji
iza	PREP	iza
sebe	PRO	sebe
već	PAR	već
imaju	N:f	imaju
rado	ADV	rado
gledane	A:aem	gledan
filmove	N:m	film
o	PREP	o
Rush	A:aen	Rush
,	PUNCT	,
Iron	A:aem	Iron
Maiden	N:m	Maiden
,	PUNCT	,
a	CONJ	a
uskoro	ADV	uskoro
i	CONJ	i
samom	PRO	sam
Satani	A:aem	Satani
.	SENT	.
Film	N:m	film
je	PRO	ona
pedantan	A:aem	pedantan
,	PUNCT	,
detaljan	A:aem	detaljan
i	CONJ	i
hronološki	ADV	hronološki
koncipiran	V:m	koncipirati
.	SENT	.
Prati	N:f	Prati
malog	A:aem	mali
sveštenikovog	A:aem	sveštenikov
sina	N:m	sin
,	PUNCT	,
Vincenta	N:m	Vincent
Furniera	N:m	Furniera
od	PREP	od
dečačkih	A:aem	dečački
dana	N:m	dan
do	PREP	do
kambeka	N:m	kambek
koji	PRO	koji
je	PRO	ona
napravio	V:m	napraviti
krajem	PREP	krajem
osamdesetih	A:aem	osamdeseti
.	PUNCT	.
Uvek	ADV	uvek
sa	PREP	sa
iste	A:aem	isti
distance	N:f	distanca
,	PUNCT	,
film	N:m	film
kao	CONJ	kao
osnov	N:m	osnov
koristi	N:f	korist
mit	N:m	mit
o	PREP	o
doktoru	N:m	doktor
Džekilu	N:m	Džekil
i	CONJ	i
mister	N:m	mister
Hajdu	N:m	Hajd
(	PUNCT	(
tačnije	ADV	tačnije
-	PUNCT	-
nemi	A:aem	nem
film	N:m	film
o	PREP	o
tome	PRO	taj
)	PUNCT	)
pokušavajući	A:aem	pokušavajući
da	CONJ	da
nam	PRO	mi
objasni	V:m	objasni
kako	CONJ	kako
je	PRO	ona
Vincent	N:m	Vincent
kreirao	V:m	kreirati
Alicea	N:m	Alicea
,	PUNCT	,
a	CONJ	a
onda	ADV	onda
mu	PRO	on
je	PRO	ona
Alice	N:f	Alice
malo	ADV	malo
po	PAR	po
malo	ADV	malo
došao	V:m	doći
glave	N:f	glava
,	PUNCT	,
sve	ADV	sve
dok	CONJ	dok
Vincent	N:m	Vincent
nije	A:aen	nije
odličio	N:m	odličio
da	CONJ	da
više	ADV	više
ne	PAR	ne
bude	A:aem	bude
Alice	N:f	Alice
,	PUNCT	,
već	CONJ	već
da	CONJ	da
samo	PAR	samo
izgleda	N:m	izgled
kao	ADV	kao
on	PRO	on
.	SENT	.
Otprilike	ADV	otprilike
.	PUNCT	.
Autorima	N:m	autor
se	PAR	se
ne	PAR	ne
može	A:aem	može
zameriti	N:m	zameriti
ljubav	N:f	ljubav
prema	PREP	prema
temi	N:f	tema
,	PUNCT	,
simpatija	N:f	simpatija
i	CONJ	i
prema	PREP	prema
Vincentu	N:m	Vincent
i	CONJ	i
prema	PREP	prema
Aliceu	N:m	Aliceu
,	PUNCT	,
ali	CONJ	ali
njihov	PRO	njihov
film	N:m	film
ni	PAR	ni
u	PREP	u
jednom	NUM	jedan
trenutku	N:m	trenutak
ne	PAR	ne
pretenduje	N:f	pretenduje
da	CONJ	da
bude	A:aen	bude
nekakav	PRO	nekakav
subjektivniji	A:bem	subjektivan
pristup	N:m	pristup
temi	N:f	tema
,	PUNCT	,
sa	PREP	sa
određenim	A:aem	određenim
konceptom	N:m	koncept
ili	CONJ	ili
tezom	N:f	teza
.	SENT	.
Naprotiv	PAR	naprotiv
,	PUNCT	,
mislim	A:aen	mislim
da	CONJ	da
je	PRO	ona
i	CONJ	i
ovaj	PRO	ovaj
Džekil	N:m	Džekil
/	A:aem	/
Hajd	N:m	Hajd
dualitet	N:m	dualitet
nešto	ADV	nešto
što	CONJ	što
im	PRO	ona
se	PAR	se
zgodno	ADV	zgodno
našlo	V:n	naći
na	PREP	na
putu	N:m	put
,	PUNCT	,
možda	PAR	možda
čak	PAR	čak
i	CONJ	i
pre	ADV	pre
dok	CONJ	dok
su	N:m	su
tražili	V:m	tražiti
ilustracije	N:f	ilustracija
za	PREP	za
film	N:m	film
,	PUNCT	,
nego	CONJ	nego
što	CONJ	što
su	N:m	su
na	PREP	na
njemu	PRO	on
od	PREP	od
početka	N:m	početak
bazirali	V:m	bazirati
stvar	N:f	stvar
.	SENT	.
Film	N:m	film
se	PAR	se
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
zove	N:f	zova
Super	N:m	super
Duper	N:m	Duper
Alice	N:f	Alice
Cooper	N:m	Cooper
.	SENT	.
Možda	A:aem	Možda
tragove	N:m	trag
nekog	PRO	neki
koncepta	N:m	koncept
u	PREP	u
režiji	N:f	režija
možemo	A:aen	možemo
da	CONJ	da
tražimo	A:aen	tražimo
u	PREP	u
bogatom	A:aef	bogat
odabiru	N:m	odabir
ilustracija	N:f	ilustracija
(	PUNCT	(
iz	PREP	iz
nemih	A:aen	nem
i	CONJ	i
drugih	A:aen	drugi
filmova	N:m	film
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
3	NUM	@card@
D	A:aen	D
igranju	N:n	igranje
sa	PREP	sa
fotografijama	N:f	fotografija
i	CONJ	i
drugim	A:aem	drugi
arhivskim	A:aem	arhivski
materijalima	N:m	materijal
koji	PRO	koji
su	N:m	su
u	PREP	u
velikoj	A:aef	velik
meri	N:f	mera
oživeli	V:m	oživeti
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
kažem	A:aem	kažem
'	N:m	'
teatrizovali	V:m	teatrizovali
'	A:aem	'
narativ	N:m	narativ
,	PUNCT	,
skoro	ADV	skoro
na	PREP	na
isti	A:aem	isti
način	N:m	način
na	PREP	na
koji	PRO	koji
je	PRO	ona
Alice	N:f	Alice
Cooperov	A:aem	Cooperov
šou	N:m	šou
podigao	V:m	podignuti
rokenrol	N:m	rokenrol
koncert	N:m	koncert
na	PREP	na
neki	PRO	neki
drugi	A:aem	drugi
nivo	N:m	nivo
.	SENT	.
Sama	PRO	sam
priča	N:f	priča
je	PRO	ona
stara	A:aem	star
koliko	ADV	koliko
i	CONJ	i
rokenrol	N:m	rokenrol
-	PUNCT	-
snovi	N:m	san
,	PUNCT	,
nade	N:f	nada
,	PUNCT	,
uspeh	N:m	uspeh
,	PUNCT	,
Bob	N:m	Bob
Ezrin	N:m	Ezrin
,	PUNCT	,
uspeh	N:m	uspeh
,	PUNCT	,
piće	N:n	piće
,	PUNCT	,
žene	N:f	žena
,	PUNCT	,
droga	N:f	droga
,	PUNCT	,
dete	N:n	dete
,	PUNCT	,
Bernie	A:aem	Bernie
Taupin	N:m	Taupin
,	PUNCT	,
neuspeh	N:m	neuspeh
,	PUNCT	,
riheb	N:m	riheb
,	PUNCT	,
povratak	N:m	povratak
,	PUNCT	,
trema	N:m	trem
,	PUNCT	,
uspeh	N:m	uspeh
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Vincent	N:m	Vincent
je	PRO	ona
simpatičan	A:aem	simpatičan
i	CONJ	i
topao	A:aem	topao
sagovornik	N:m	sagovornik
(	PUNCT	(
i	CONJ	i
narator	N:m	narator
!	PUNCT	!
)	SENT	)
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
većina	N:f	većina
ljudi	N:m	ljudi
koja	PRO	koji
ga	PRO	on
je	PRO	ona
okruživala	V:f	okruživati
.	SENT	.
Nema	A:aem	nem
nešto	PRO	nešto
prgavih	A:aef	prgav
naravi	N:f	narav
i	CONJ	i
loše	A:aef	loš
krvi	N:f	krv
.	PUNCT	.
A	CONJ	a
mislio	V:m	misliti
sam	A:aem	sam
i	CONJ	i
da	CONJ	da
su	N:m	su
pesme	N:f	pesma
bolje	ADV	bolje
(	PUNCT	(
ja	PRO	ja
sam	PRO	sam
se	PAR	se
u	PREP	u
njegovu	PRO	njegov
karijeru	N:f	karijera
uključio	V:m	uključiti
sa	PREP	sa
Poison	N:m	Poison
koja	PRO	koji
i	CONJ	i
ne	PAR	ne
ulazi	N:m	ulaz
u	PREP	u
opseg	N:m	opseg
filma	N:m	film
)	PUNCT	)
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Za	PREP	za
fanove	N:m	fan
?	PUNCT	?
