Nedavno	ADV	nedavno
me	PRO	ja
je	PRO	ona
obradovala	V:f	obradovati
vest	N:f	vest
da	CONJ	da
je	PRO	ona
u	PREP	u
renoviranoj	A:aef	renoviran
sali	N:f	sala
subotičkog	A:aen	subotički
bioskopa	N:m	bioskop
Eurocinema	N:f	Eurocinema
počelo	V:n	početi
sa	PREP	sa
prikazivanjem	N:n	prikazivanje
3	NUM	@card@
D	A:aef	D
projekcija	N:f	projekcija
najnovijih	A:cen	nov
svetskih	A:aem	svetski
filmskih	A:aen	filmski
hitova	N:m	hit
.	SENT	.
Prvi	A:aem	prvi
među	PREP	među
njima	PRO	ona
je	PRO	ona
bio	V:m	biti
animirani	V:m	animirati
film	N:m	film
Turbo	N:m	Turbo
čije	PRO	čiji
projekcije	N:f	projekcija
nisam	N:m	nisam
uspeo	V:m	uspeti
da	CONJ	da
ispratim	A:aem	ispratim
,	PUNCT	,
dok	CONJ	dok
sam	PRO	sam
sinoć	ADV	sinoć
prisustvovao	V:m	prisustvovati
projekciji	N:f	projekcija
nastavka	N:m	nastavak
filma	N:m	film
o	PREP	o
popularnom	A:aef	popularan
Marvelovom	A:aef	Marvelov
junaku	N:m	junak
.	SENT	.
Skloneći	N:m	Skloneći
po	PREP	po
strani	A:aem	stran
karakteristike	N:f	karakteristika
samog	PRO	sam
bioskopa	N:m	bioskop
,	PUNCT	,
odziv	N:m	odziv
publike	N:f	publika
i	CONJ	i
cenu	N:f	cena
ulaznice	N:f	ulaznica
mogu	A:aef	mogu
konstatovati	N:f	konstatovati
da	CONJ	da
sam	PRO	sam
prisustvovao	V:m	prisustvovati
audio	PREF	audio
-	PUNCT	-
vizielnom	A:aem	vizielnom
spektaklu	N:m	spektakl
,	PUNCT	,
čija	PRO	čiji
me	PRO	ja
priča	N:f	priča
nije	V:m	nije
previše	ADV	previše
oduševila	V:f	oduševiti
.	SENT	.
Na	PREP	na
samom	PRO	sam
početku	N:m	početak
filma	N:m	film
vidimo	A:aen	vidimo
Lokija	N:m	Lokija
koji	PRO	koji
biva	A:aen	biva
osuđen	V:m	osuditi
na	PREP	na
večnost	N:f	večnost
u	PREP	u
asgardskom	A:aem	asgardskom
zatvoru	N:m	zatvor
.	SENT	.
Osudio	V:m	osuditi
ga	PRO	on
je	PRO	ona
njegov	PRO	njegov
otac	N:m	otac
Odin	A:aem	Odin
zbog	PREP	zbog
silnog	A:aen	silan
uništenja	N:n	uništenje
koji	PRO	koji
je	PRO	ona
naneo	V:m	naneti
naročito	ADV	naročito
stanovnicima	N:m	stanovnik
Njujorka	N:m	Njujork
.	PUNCT	.
Nakon	PREP	nakon
dužeg	A:bem	dug
vremena	N:n	vreme
mira	N:m	mir
sticajem	N:m	sticaj
okolnosti	N:f	okolnost
se	PAR	se
budi	CONJ	budi
stara	A:aem	star
rasa	N:f	rasa
Dark	N:m	Dark
Elfova	A:aem	Elfova
koja	PRO	koji
ima	N:m	ima
za	PREP	za
cilj	N:m	cilj
totalno	A:aen	totalan
uništenje	N:n	uništenje
svih	PRO	sav
Devet	N:m	Devet
kraljevstava	N:n	kraljevstvo
uz	PREP	uz
pomoć	N:f	pomoć
prastare	A:aef	prastar
zle	A:aef	zao
relikvije	N:f	relikvija
po	PREP	po
imenu	N:n	ime
Etar	N:m	etar
.	SENT	.
Tor	N:m	tor
se	PAR	se
mora	N:n	more
ujediniti	A:aem	ujediniti
sa	PREP	sa
Lokijem	N:m	Lokijem
i	CONJ	i
astrofizičarima	N:m	astrofizičar
sa	PREP	sa
zemlje	N:f	zemlja
kako	CONJ	kako
bi	N:f	bi
sprečio	V:m	sprečiti
da	CONJ	da
negativci	N:m	negativac
unište	V:m	unište
sve	PRO	sav
poznate	A:aef	poznat
svetove	N:m	svet
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
sam	PRO	sam
spomenuo	V:m	spomenuti
u	PREP	u
samom	PRO	sam
uvodu	N:m	uvod
,	PUNCT	,
nova	A:aef	nov
ekranizacija	N:f	ekranizacija
Marvelovog	A:aem	Marvelov
junaka	N:m	junak
pruža	V:m	pruža
zaista	ADV	zaista
sjajan	A:aem	sjajan
audio	PREF	audio
-	PUNCT	-
vizuelni	A:aem	vizuelan
doživljaj	N:m	doživljaj
.	PUNCT	.
Animacija	N:f	animacija
,	PUNCT	,
grafika	N:f	grafika
,	PUNCT	,
specijalni	A:aem	specijalan
i	CONJ	i
3	NUM	@card@
d	ABB	d
efekti	N:m	efekt
su	N:m	su
zaista	PAR	zaista
na	PREP	na
vrhunskom	A:aen	vrhunski
nivou	N:m	nivo
i	CONJ	i
sa	PREP	sa
te	PRO	taj
strane	N:f	strana
zaista	PAR	zaista
retko	ADV	retko
ko	PRO	ko
može	A:aem	može
da	CONJ	da
ima	A:aem	ima
ikakvih	PRO	ikakav
zamerki	N:f	zamerka
.	SENT	.
Mnogobrojni	A:aem	mnogobrojan
živopisni	A:aem	živopisan
svetovi	N:m	svet
,	PUNCT	,
letelice	N:f	letelica
,	PUNCT	,
oružja	N:n	oružje
,	PUNCT	,
rase	N:f	rasa
i	CONJ	i
vremenske	A:aem	vremenski
prilike	N:f	prilika
su	N:m	su
odrađene	V:f	odraditi
veoma	ADV	veoma
detaljno	ADV	detaljno
i	CONJ	i
kvalitetno	ADV	kvalitetno
.	PUNCT	.
Upravo	ADV	upravo
u	PREP	u
silnom	A:aem	silan
trudu	N:m	trud
oko	PREP	oko
šminkanja	N:n	šminkanje
i	CONJ	i
doterivanja	N:n	doterivanje
filma	N:m	film
se	PAR	se
vidi	N:f	vida
potreba	N:f	potreba
da	CONJ	da
se	PAR	se
relativno	ADV	relativno
slaba	A:aem	slab
priča	N:f	priča
u	PREP	u
potpunosti	N:f	potpunost
zamaskira	N:m	zamaskira
.	SENT	.
Scenario	N:m	scenario
zaista	PAR	zaista
predstavlja	A:aem	predstavlja
najslabiju	A:cef	slab
tačku	N:f	tačka
projekta	N:m	projekt
i	CONJ	i
stiče	N:m	stidak
se	PAR	se
utisak	N:m	utisak
da	CONJ	da
je	PRO	ona
napisan	A:aem	napisan
zbrda	N:f	zbrda
-	PUNCT	-
zdola	ADV	zdola
,	PUNCT	,
naročito	ADV	naročito
završna	A:aem	završan
trećina	N:f	trećina
.	SENT	.
Činjenica	N:f	Činjenica
je	PRO	ona
da	CONJ	da
publika	N:f	publika
koja	PRO	koji
voli	N:m	Voli
ovakve	PRO	ovakav
filmove	N:m	film
nema	A:aem	nem
naviku	N:f	navika
da	CONJ	da
se	PAR	se
bavi	V:m	bavi
ozbiljnijim	A:bem	ozbiljan
dijalozima	N:m	dijalog
i	CONJ	i
bolje	ADV	bolje
razrađenim	A:aem	razrađen
i	CONJ	i
karakterizovanim	A:aem	karakterizovan
likovima	N:m	lik
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
isto	ADV	isto
tako	ADV	tako
činjenica	N:f	činjenica
da	CONJ	da
su	N:m	su
ovde	ADV	ovde
dijalozi	N:m	dijalog
i	CONJ	i
likovi	N:m	lik
prilično	ADV	prilično
banalizovani	V:m	banalizovati
.	SENT	.
Preveliki	A:aem	prevelik
broj	N:m	broj
likova	N:n	likovo
ne	PAR	ne
daje	N:m	daje
plus	N:m	plus
ukoliko	CONJ	ukoliko
su	N:m	su
oni	PRO	onaj
relativno	ADV	relativno
nebitni	A:aem	nebitan
i	CONJ	i
mišljenja	N:n	mišljenje
sam	A:aem	sam
da	CONJ	da
su	PREF	su
mogli	V:m	moći
smanjiti	A:aem	smanjiti
njihov	PRO	njihov
u	PREP	u
korist	N:f	korist
njihove	PRO	njihov
bolje	ADV	bolje
karakterizacije	N:f	karakterizacija
.	SENT	.
U	PREP	u
pojedinim	A:aen	pojedini
trenucima	N:m	trenutak
sam	PRO	sam
se	PAR	se
iskreno	ADV	iskreno
začudio	V:m	začuditi
,	PUNCT	,
prvenstveno	ADV	prvenstveno
zbog	PREP	zbog
prevelikog	A:aem	prevelik
serviranja	N:n	serviranje
onog	PRO	onaj
što	CONJ	što
se	PAR	se
gleda	N:m	gleda
,	PUNCT	,
zatim	ADV	zatim
zbog	PREP	zbog
brojnih	A:aef	brojni
rupa	N:f	rupa
tokom	PREP	tokom
radnje	N:f	radnja
i	CONJ	i
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
zbog	PREP	zbog
likova	N:m	lik
koji	PRO	koji
samo	PAR	samo
odlaze	N:m	odlaze
i	CONJ	i
dolaze	N:m	dolaz
sa	PREP	sa
ekrana	N:m	ekran
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
glumaca	N:m	glumac
okupljena	V:f	okupiti
je	PRO	ona
zanimljiva	A:aef	zanimljiv
i	CONJ	i
kvalitetna	A:aef	kvalitetan
ekipa	N:f	ekipa
,	PUNCT	,
ali	CONJ	ali
jednostavno	ADV	jednostavno
njihova	PRO	njihov
glumačka	A:aen	glumački
umeća	N:n	umeće
nisu	N:m	nisu
mogla	V:n	moći
doći	A:aen	doći
do	PREP	do
izražaja	N:m	izražaj
sa	PREP	sa
loše	A:aef	loš
razrađenim	A:aef	razrađen
likovima	N:m	lik
.	SENT	.
Koliko	ADV	koliko
-	PUNCT	-
toliko	ADV	toliko
je	PRO	ona
vredna	A:aem	vredan
spomena	N:m	spomen
gluma	N:f	gluma
Toma	N:m	Toma
Hidlstona	N:m	Hidlstona
(	PUNCT	(
Tom	N:m	Tom
Hiddleston	N:m	Hiddleston
)	PUNCT	)
kao	CONJ	kao
Lokija	N:m	Lokija
i	CONJ	i
Krisa	N:m	Kris
Hemsvorta	N:m	Hemsvorta
(	PUNCT	(
Chris	N:m	Chris
Hemsworth	A:aem	Hemsworth
)	PUNCT	)
kao	ADV	kao
Tora	A:aem	Tora
.	SENT	.
Oskarovka	N:f	oskarovka
Natali	N:f	Natali
Portman	N:m	Portman
(	PUNCT	(
Natalie	N:f	Natalie
Portman	N:m	Portman
)	PUNCT	)
je	PRO	ona
iznenađujuće	ADV	iznenađujuće
bleda	A:aef	bled
,	PUNCT	,
a	CONJ	a
lepo	ADV	lepo
je	PRO	ona
bilo	V:n	biti
opet	ADV	opet
videti	A:aem	videti
Entonija	N:m	Entoni
Hopkinsa	N:m	Hopkins
(	PUNCT	(
Anthony	A:aem	Anthony
Hopkins	N:m	Hopkins
)	PUNCT	)
kao	ADV	kao
Odina	A:aem	Odina
.	SENT	.
Na	PREP	na
samom	PRO	sam
kraju	N:m	kraj
se	PAR	se
pojavljuje	N:f	pojavljuje
još	ADV	još
jedan	NUM	jedan
odličan	A:aem	odličan
glumac	N:m	glumac
,	PUNCT	,
kog	PRO	koji
definitvno	A:aen	definitvno
niko	PRO	niko
nije	N:m	nije
očekivao	V:m	očekivati
.	SENT	.
Ukoliko	CONJ	ukoliko
želite	N:m	želite
da	CONJ	da
odmorite	N:m	odmorite
mozak	N:m	mozak
posmatrajući	A:aem	posmatrajući
zaista	ADV	zaista
impresivne	A:aem	impresivan
svetove	N:m	svet
i	CONJ	i
vrhunski	A:aem	vrhunski
audio	PREF	audio
-	PUNCT	-
vizuelni	A:aem	vizuelan
doživljaj	N:m	doživljaj
ovo	PRO	ovaj
je	PRO	ona
pravi	A:aem	prav
film	N:m	film
za	PREP	za
vas	PRO	vi
,	PUNCT	,
dok	CONJ	dok
zahtevniji	A:bem	zahtevan
gledaoci	N:m	gledalac
definitvno	A:aen	definitvno
treba	N:f	treba
da	CONJ	da
ga	PRO	on
izbegnu	N:f	izbegnu
.	SENT	.
