Bilo	V:n	biti
je	PRO	ona
sasvim	ADV	sasvim
očekivano	A:aen	očekivan
da	CONJ	da
će	A:aen	će
producenti	N:m	producent
i	CONJ	i
scenaristi	N:m	scenarista
da	CONJ	da
udruže	N:n	udruže
svoje	PRO	svoj
snage	N:f	snaga
,	PUNCT	,
da	CONJ	da
posle	PREP	posle
spontanog	A:aem	spontan
i	CONJ	i
velikog	A:aen	velik
uspeha	N:m	uspeh
filma	N:m	film
„	A:aem	„
Taken	N:m	Taken
“	N:m	“
,	PUNCT	,
i	CONJ	i
pokušaju	N:m	pokušaj
da	CONJ	da
naprave	N:f	naprava
još	ADV	još
neko	PRO	neki
ostvarenje	N:n	ostvarenje
sličnog	A:aen	sličan
žanra	N:m	žanr
,	PUNCT	,
estetike	N:f	estetika
i	CONJ	i
tempa	N:m	tempo
i	CONJ	i
uposle	V:f	uposle
sve	PRO	sav
maestralnijeg	A:aem	maestralnijeg
Lijama	N:m	Lijam
Nisona	N:m	Nison
,	PUNCT	,
a	CONJ	a
zatim	ADV	zatim
uzmu	V:m	uzmu
još	ADV	još
keša	N:m	keš
.	SENT	.
U	PREP	u
bioskope	N:m	bioskop
je	PRO	ona
skoro	ADV	skoro
stigao	V:m	stignuti
film	N:m	film
„	A:aem	„
Unknown	N:m	Unknown
“	N:m	“
,	PUNCT	,
mi	PRO	ja
vam	PRO	vi
ga	PRO	on
premijerno	A:aen	premijerni
predstavljamo	N:f	predstavljamo
na	PREP	na
2	NUM	@card@
kokkice	N:f	kokkice
.	SENT	.
Pitanje	N:n	pitanje
od	PREP	od
milion	N:m	milion
(	PUNCT	(
dolara	N:m	dolar
,	PUNCT	,
dinara	N:m	dinar
,	PUNCT	,
kuna	N:f	kuna
,	PUNCT	,
maraka	N:f	marka
…	SENT	…
)	PUNCT	)
jeste	INT	jeste
da	CONJ	da
li	PAR	li
su	N:m	su
uspeli	V:m	uspeti
da	CONJ	da
ponude	N:f	ponuda
sve	PRO	sav
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
publika	N:f	publika
očekivala	V:f	očekivati
.	SENT	.
Ovog	PRO	ovaj
puta	N:m	put
Lijam	N:m	Lijam
Nison	N:m	Nison
jeste	INT	jeste
mikrobilolog	N:m	mikrobilolog
doktor	N:m	doktor
Martin	N:m	Martin
Haris	N:m	Haris
koji	PRO	koji
po	PREP	po
svom	PRO	sav
dolasku	N:m	dolazak
u	PREP	u
fenomenalno	A:aen	fenomenalan
slikan	A:aem	slikan
Berlin	N:m	Berlin
doživljava	A:aef	doživljava
saobraćajnu	A:aef	saobraćajni
nesreću	N:f	nesreća
.	SENT	.
Posle	PREP	posle
nekoliko	ADV	nekoliko
dana	N:m	dan
provedenih	A:aef	proveden
u	PREP	u
bolinici	N:f	bolinici
,	PUNCT	,
počinje	N:f	počinje
da	CONJ	da
mu	PRO	on
biva	A:aen	biva
sumnjivo	A:aen	sumnjiv
što	CONJ	što
ni	PAR	ni
njegova	PRO	njegov
žena	N:f	žena
ni	CONJ	ni
prijatelji	N:m	prijatelj
i	CONJ	i
kolege	N:m	kolega
sa	PREP	sa
kojima	PRO	koji
je	PRO	ona
trebalo	V:n	trebati
da	CONJ	da
se	PAR	se
nađe	V:m	nađe
na	PREP	na
samitu	N:m	samit
u	PREP	u
Berlinu	N:m	Berlin
ne	PAR	ne
dolaze	N:m	dolaz
da	CONJ	da
ga	PRO	on
posete	N:f	poseta
.	PUNCT	.
Iako	CONJ	iako
kod	PREP	kod
sebe	PRO	sebe
nema	A:aem	nem
dokumenata	N:m	dokument
uveravadoktore	N:m	uveravadoktore
ko	PRO	ko
je	PRO	ona
i	CONJ	i
šta	PRO	šta
je	PRO	ona
.	PUNCT	.
Napuštajući	A:aem	Napuštajući
bolnicu	N:f	bolnica
on	PRO	on
odlazi	N:m	odlazi
u	PREP	u
hotel	N:m	hotel
gde	CONJ	gde
njegova	PRO	njegov
žena	N:f	žena
prisustvuje	N:f	prisustvuje
koktelu	N:m	koktel
sa	PREP	sa
drugim	A:aem	drugi
muškarcem	N:m	muškarac
.	SENT	.
Ona	PRO	ona
tvrdi	A:aem	tvrd
da	CONJ	da
je	PRO	ona
to	PRO	taj
njen	PRO	njen
muž	N:m	muž
doktor	N:m	doktor
Martin	N:m	Martin
Haris	N:m	Haris
…	SENT	…
Napucani	N:m	Napucani
trejler	N:m	trejler
nam	PRO	mi
je	PRO	ona
dao	V:m	dati
dosta	ADV	dosta
povoda	N:m	povod
za	PREP	za
maštanje	N:n	maštanje
,	PUNCT	,
pa	CONJ	pa
nas	PRO	mi
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
donekle	ADV	donekle
spustio	V:m	spustiti
na	PREP	na
zemlju	N:f	zemlja
.	SENT	.
Tempo	N:m	tempo
filma	N:m	film
je	PRO	ona
u	PREP	u
poedinim	A:aem	poedinim
trenucima	N:m	trenutak
diskutabilan	A:aem	diskutabilan
i	CONJ	i
dok	CONJ	dok
se	PAR	se
Nison	N:m	Nison
diže	A:aem	diže
iz	PREP	iz
mraka	N:m	mrak
kao	CONJ	kao
novi	A:aem	nov
prototip	N:m	prototip
akcionog	A:aem	akcioni
heroja	N:m	heroj
(	PUNCT	(
jer	CONJ	jer
smo	N:f	smo
svesni	A:aem	svestan
njegovih	PRO	njegov
slabosti	N:f	slabost
i	CONJ	i
ljudskosti	N:f	ljudskost
)	PUNCT	)
,	PUNCT	,
shvatamo	A:aem	shvatamo
polako	ADV	polako
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
još	ADV	još
brutalnija	A:bef	brutalan
kopija	N:f	kopija
„	A:aem	„
Bornovog	A:aem	Bornov
indentiteta	N:m	indentiteta
“	A:aem	“
od	PREP	od
samog	PRO	sam
„	A:aem	„
Taken	N:m	Taken
-	PUNCT	-
a	CONJ	a
“	N:m	“
.	SENT	.
Gubitak	N:m	gubitak
pamćenja	N:n	pamćenje
,	PUNCT	,
indentiteta	N:m	indentiteta
,	PUNCT	,
bliskih	A:aem	blizak
ljudi	N:m	ljudi
.	SENT	.
Pronalaženje	N:n	Pronalaženje
potpunih	A:aen	potpun
stranaca	N:m	stranac
u	PREP	u
megalopolisu	N:m	megalopolis
,	PUNCT	,
teorija	N:f	teorija
zavere	N:f	zavera
i	CONJ	i
gotovo	ADV	gotovo
indentičan	A:aem	indentičan
rasplet	N:m	rasplet
sa	PREP	sa
mnogo	ADV	mnogo
manje	ADV	manje
drame	N:f	drama
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
nas	PRO	mi
navodi	N:m	navod
na	PREP	na
mlako	A:aen	mlak
mišljenje	N:n	mišljenje
o	PREP	o
ovom	PRO	ovaj
ostvarenju	N:n	ostvarenje
.	SENT	.
