Žanrovskim	A:aef	Žanrovskim
odrednicama	N:f	odrednica
nikada	ADV	nikada
ne	PAR	ne
treba	N:f	treba
verovati	N:f	verovati
,	PUNCT	,
jer	CONJ	jer
skoro	ADV	skoro
nikada	ADV	nikada
nisu	N:m	nisu
tačne	A:aem	tačan
.	SENT	.
Šansa	N:f	Šansa
mog	PRO	moj
života	N:m	život
reklamira	N:m	reklamira
se	PAR	se
kao	ADV	kao
ljubavni	A:aem	ljubavan
film	N:m	film
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
,	PUNCT	,
u	PREP	u
stvari	N:f	stvar
,	PUNCT	,
komedija	N:f	komedija
,	PUNCT	,
i	CONJ	i
to	PRO	taj
onakva	PRO	onakav
kakvu	PRO	kakav
skoro	ADV	skoro
nisam	N:m	nisam
gledao	V:m	gledati
u	PREP	u
bioskopu	N:m	bioskop
Julien	N:f	Julien
je	PRO	ona
ljubavni	A:aem	ljubavan
terapeut	N:m	terapeut
koji	PRO	koji
spasava	A:aem	spasava
brakove	N:m	brak
i	CONJ	i
veze	N:f	veza
.	SENT	.
Najbolji	A:cem	dobar
je	PRO	ona
u	PREP	u
poslu	N:m	posao
,	PUNCT	,
ima	A:aem	ima
nesvakidašnje	A:aef	nesvakidašnji
metode	N:f	metoda
,	PUNCT	,
ali	CONJ	ali
rešava	A:aem	rešava
problem	N:m	problem
.	SENT	.
Na	PREP	na
prvi	A:aem	prvi
pogled	N:m	pogled
,	PUNCT	,
žene	N:f	žena
kao	CONJ	kao
da	CONJ	da
ga	PRO	on
obožavaju	N:m	obožavaju
,	PUNCT	,
flertuju	N:m	flertuju
pogledima	N:m	pogled
,	PUNCT	,
sve	PRO	sav
ide	A:aen	ide
glatko	A:aen	gladak
dok	CONJ	dok
ne	PAR	ne
treba	N:f	treba
da	CONJ	da
se	PAR	se
pređe	ADV	pređe
na	PREP	na
bliže	ADV	bliže
upoznavanje	N:n	upoznavanje
.	SENT	.
Svaka	PRO	svaki
koja	PRO	koji
želi	V:m	žeti
vezu	N:f	veza
s	PREP	s
njim	PRO	on
ili	CONJ	ili
je	PRO	ona
u	PREP	u
vezi	N:f	veza
-	PUNCT	-
postaje	N:f	postaja
najmaleroznija	A:cef	najmaleroznija
osoba	N:f	osoba
na	PREP	na
planeti	N:f	planeta
.	SENT	.
Johanna	A:aem	Johanna
je	PRO	ona
ljubav	N:f	ljubav
njegovog	PRO	njegov
života	N:m	život
,	PUNCT	,
koja	PRO	koji
ne	PAR	ne
misli	N:f	misao
da	CONJ	da
on	PRO	on
prouzrokuje	N:m	prouzrokuje
nesreću	N:f	nesreća
;	SENT	;
koliko	ADV	koliko
toga	PRO	taj
samo	PAR	samo
treba	N:f	treba
da	CONJ	da
se	PAR	se
desi	N:m	desi
da	CONJ	da
shvati	N:m	shvati
da	CONJ	da
on	PRO	on
možda	PAR	možda
ipak	PAR	ipak
jeste	INT	jeste
razlog	N:m	razlog
za	PREP	za
sve	PRO	sav
loše	ADV	loše
što	CONJ	što
se	PAR	se
dešava	N:n	dešava
oko	PREP	oko
nje	PRO	ona
.	SENT	.
Loša	A:aen	Loša
sreća	N:f	sreća
je	PRO	ona
mala	A:aen	mali
reč	N:f	reč
,	PUNCT	,
njegove	PRO	njegov
partnerke	N:f	partnerka
završe	V:f	završe
uglavnom	ADV	uglavnom
u	PREP	u
bolnici	N:f	bolnica
ili	CONJ	ili
zato	ADV	zato
što	PRO	što
su	N:m	su
polomile	V:f	polomiti
nešto	ADV	nešto
,	PUNCT	,
ili	CONJ	ili
zato	ADV	zato
što	PRO	što
su	N:m	su
izgubile	V:f	izgubiti
nevinost	N:f	nevinost
na	PREP	na
ringli	N:f	ringla
,	PUNCT	,
jer	CONJ	jer
u	PREP	u
ljubavnom	A:aem	ljubavan
zanosu	N:m	zanos
u	PREP	u
kuhinji	N:f	kuhinja
ova	PRO	ovaj
se	PAR	se
nekako	ADV	nekako
uključila	V:m	uključiti
.	SENT	.
Baksuzluci	N:m	baksuzluk
se	PAR	se
ne	PAR	ne
manifestuju	N:m	manifestuju
samo	PAR	samo
kao	ADV	kao
fizička	A:aem	fizički
oštećenja	N:n	oštećenje
već	CONJ	već
sve	PRO	sav
zavisi	N:m	zavisi
od	PREP	od
situacije	N:f	situacija
.	SENT	.
Meni	PRO	ja
je	PRO	ona
omiljena	V:f	omileti
ona	PRO	ona
kada	CONJ	kada
na	PREP	na
vrlo	ADV	vrlo
bitnom	A:aen	bitan
poslovnom	A:aem	poslovan
sastanku	N:m	sastanak
iz	PREP	iz
torbe	N:f	torba
umesto	PREP	umesto
nacrta	N:m	nacrt
za	PREP	za
revolucionarni	A:aem	revolucionaran
električni	A:aem	električni
auto	N:n	auto
izvadite	N:m	izvadite
vibrator	N:m	vibrator
koji	PRO	koji
se	PAR	se
upravo	ADV	upravo
uključio	V:m	uključiti
.	SENT	.
Sve	PRO	sav
što	PRO	što
se	PAR	se
dešava	V:m	dešava
nije	A:aem	nije
nemoguće	ADV	nemoguće
,	PUNCT	,
nema	A:aem	nem
usiljenog	A:aem	usiljen
humora	N:m	humor
kao	CONJ	kao
u	PREP	u
većini	N:f	većina
komedija	N:f	komedija
danas	ADV	danas
,	PUNCT	,
gde	CONJ	gde
vas	PRO	vi
teraju	N:f	teraju
da	CONJ	da
se	PAR	se
smejete	N:m	smejete
na	PREP	na
određenu	A:aef	određenu
minutažu	N:f	minutaža
.	SENT	.
Niko	PRO	niko
se	PAR	se
na	PREP	na
platnu	N:n	platno
ne	PAR	ne
smeje	N:m	smej
zbog	PREP	zbog
situacije	N:f	situacija
u	PREP	u
kojoj	PRO	koji
se	PAR	se
našao	V:m	naći
,	PUNCT	,
svi	PRO	sav
su	N:m	su
mrtvi	A:aem	mrtav
ozbiljni	A:aem	ozbiljan
,	PUNCT	,
ali	CONJ	ali
zato	ADV	zato
mi	PRO	ja
u	PREP	u
publici	N:f	publika
umiremo	N:f	umiremo
od	PREP	od
smeha	N:m	smeh
.	SENT	.
Nisam	N:m	Nisam
se	PAR	se
ovoliko	ADV	ovoliko
zabavio	V:m	zabaviti
gledajući	A:aem	gledajući
francuski	A:aem	francuski
film	N:m	film
još	ADV	još
od	PREP	od
Luisa	N:m	Luis
de	INT	de
Funèsa	N:m	Funèsa
.	SENT	.
Uloge	N:f	uloga
su	PREF	su
odlično	ADV	odlično
podeljene	V:f	podeliti
:	PUNCT	:
Julien	N:m	Julien
(	PUNCT	(
François	N:m	François
-	PUNCT	-
Xavier	N:m	Xavier
Demaison	N:m	Demaison
)	PUNCT	)
nije	A:aem	nije
tipičnog	A:aem	tipičan
izgleda	N:m	izgled
za	PREP	za
ovakvu	PRO	ovakav
vrstu	N:f	vrsta
filma	N:m	film
,	PUNCT	,
daleko	ADV	daleko
je	PRO	ona
od	PREP	od
zavodnika	N:m	zavodnik
,	PUNCT	,
niži	A:bem	nizak
,	PUNCT	,
puniji	A:bem	pun
,	PUNCT	,
neobrijan	A:aem	neobrijan
.	SENT	.
Time	PRO	taj
je	PRO	ona
postignuto	V:n	postignuti
da	CONJ	da
više	ADV	više
saosećamo	N:f	saosećamo
s	PREP	s
glavnim	A:aem	glavnim
likom	N:m	lik
i	CONJ	i
njegovom	PRO	njegov
nesrećom	N:f	nesreća
.	PUNCT	.
Johanna	N:m	Johanna
(	PUNCT	(
Virginie	N:f	Virginie
Efira	N:m	Efira
)	PUNCT	)
sušta	A:aef	sušti
je	PRO	ona
suprotnost	N:f	suprotnost
-	PUNCT	-
seksi	N:m	seksi
,	PUNCT	,
skoro	ADV	skoro
savršenog	A:aem	savršen
izgleda	N:m	izgled
i	CONJ	i
kamera	N:f	kamera
se	PAR	se
često	ADV	često
fokusira	N:m	fokusira
na	PREP	na
njene	PRO	njen
noge	N:f	noga
,	PUNCT	,
koje	PRO	koji
izgledaju	N:f	izgledaju
fenomenalno	A:aen	fenomenalan
.	SENT	.
