Dobro	ADV	dobro
realizovani	V:m	realizovati
evropski	A:aem	evropski
filmovi	N:m	film
oduvek	ADV	oduvek
su	N:m	su
plenili	V:m	pleniti
sjajnom	A:aef	sjajan
,	PUNCT	,
realističnom	A:aef	realističan
atmosferom	N:f	atmosfera
i	CONJ	i
velikim	A:aem	velik
umećem	N:n	umeće
usredsređivanja	N:n	usredsređivanje
na	PREP	na
samu	A:aef	sam
srž	N:f	srž
umetničkog	A:aen	umetnički
-	PUNCT	-
portret	N:m	portret
i	CONJ	i
kritiku	N:f	kritika
društva	N:n	društvo
,	PUNCT	,
porodice	N:f	porodica
i	CONJ	i
pojedinca	N:m	pojedinac
.	SENT	.
Priznati	A:aem	priznat
evropski	A:aem	evropski
stvaraoci	N:m	stvaralac
odbijaju	N:m	odbijaju
da	CONJ	da
se	PAR	se
odreknu	V:n	odreknu
tih	PRO	taj
sastojaka	N:m	sastojak
čak	PAR	čak
i	CONJ	i
kada	CONJ	kada
se	PAR	se
tematski	A:aem	tematski
nađu	A:aem	nađu
između	PREP	između
sna	N:m	san
i	CONJ	i
jave	N:f	java
,	PUNCT	,
što	CONJ	što
,	PUNCT	,
zapravo	ADV	zapravo
,	PUNCT	,
dovodi	N:m	dovod
do	PREP	do
još	ADV	još
većeg	A:ben	velik
razmetanja	N:n	razmetanje
bravuroznim	A:aen	bravurozan
stilom	N:m	stil
i	CONJ	i
umećem	N:n	umeće
i	CONJ	i
tvrdoglavog	A:aen	tvrdoglav
nastojanja	N:n	nastojanje
da	CONJ	da
se	PAR	se
očuva	A:aem	očuva
tradicija	N:f	tradicija
.	SENT	.
Film	N:m	film
Žena	A:aem	Žena
iz	PREP	iz
susedstva	N:n	susedstvo
reditelja	N:m	reditelj
Pawela	A:aem	Pawela
Pawlikowskog	N:m	Pawlikowskog
(	PUNCT	(
Last	N:m	Last
Resort	N:m	Resort
)	PUNCT	)
,	PUNCT	,
britanske	A:aef	britanski
,	PUNCT	,
francuske	A:aef	francuski
i	CONJ	i
poljske	A:aef	poljski
produkcije	N:f	produkcija
,	PUNCT	,
nastao	V:m	nastati
je	PRO	ona
iz	PREP	iz
takvih	PRO	takav
pobuda	N:f	pobuda
.	SENT	.
Snimljen	V:m	snimiti
je	PRO	ona
po	PREP	po
zapletu	N:m	zaplet
romana	N:m	roman
američkog	A:aen	američki
pisca	N:m	pisac
Douglasa	N:m	Douglasa
Kennedyja	N:f	Kennedyja
s	PREP	s
internacionalnom	A:aen	internacionalan
glumačkom	A:aef	glumački
ekipom	N:f	ekipa
i	CONJ	i
,	PUNCT	,
uprkos	PREP	uprkos
svemu	PRO	sav
,	PUNCT	,
nastavio	V:m	nastaviti
da	CONJ	da
teži	A:bem	težak
evropskim	A:aen	evropski
filmskim	A:aef	filmski
vrednostima	N:f	vrednost
od	PREP	od
početka	N:m	početak
do	PREP	do
kraja	N:m	kraj
.	SENT	.
Radnja	N:f	radnja
filma	N:m	film
smeštena	V:f	smestiti
je	PRO	ona
između	PREP	između
verističkog	A:aen	veristički
oslikavanja	N:n	oslikavanje
porodičnih	A:aef	porodičan
problema	N:m	problem
pisca	N:m	pisac
Ricksa	N:m	Ricksa
(	PUNCT	(
Ethan	A:aem	Ethan
Hawke	N:f	Hawke
)	PUNCT	)
i	CONJ	i
trileru	N:m	triler
bliskih	A:aem	blizak
premisa	N:f	premisa
,	PUNCT	,
koje	PRO	koji
stupaju	N:m	stupaju
na	PREP	na
scenu	N:f	scena
s	PREP	s
pronalaskom	N:m	pronalazak
utočišta	N:n	utočište
pokradenog	A:aem	pokraden
glavnog	A:aem	glavnog
junaka	N:m	junak
u	PREP	u
sumnjivom	A:aen	sumnjiv
delu	N:n	delo
imigrantskog	A:aem	imigrantski
Pariza	N:m	Pariz
.	SENT	.
Prilikom	PREP	prilikom
poseta	N:f	poseta
suprotnim	A:aen	suprotan
,	PUNCT	,
snobovskim	A:aef	snobovski
književnim	A:aef	književan
večerima	N:f	veče
,	PUNCT	,
Ricks	N:m	Ricks
upoznaje	N:m	upoznaje
privlačnu	A:aef	privlačan
Margit	N:f	Margit
(	PUNCT	(
Kristin	N:f	Kristin
Scott	A:aem	Scott
Thomas	N:m	Thomas
)	PUNCT	)
i	CONJ	i
započinje	N:n	započinje
ljubavnu	A:aef	ljubavan
vezu	N:f	veza
,	PUNCT	,
baš	PAR	baš
kada	CONJ	kada
i	CONJ	i
klupko	N:n	klupko
čudnih	A:aen	čudan
događaja	N:m	događaj
u	PREP	u
siromašnom	A:aef	siromašan
predgrađu	N:n	predgrađe
počinje	N:f	počinje
da	CONJ	da
se	PAR	se
odmotava	A:aen	odmotava
.	SENT	.
Pawlikowski	A:aem	Pawlikowski
je	PRO	ona
pored	PREP	pored
režije	N:f	režija
potpisao	V:m	potpisati
i	CONJ	i
scenario	N:m	scenario
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
dok	CONJ	dok
svaki	PRO	svaki
kadar	A:aem	kadar
pleni	A:aem	pleni
prikazanim	A:aem	prikazan
,	PUNCT	,
u	PREP	u
celini	N:f	celina
se	PAR	se
to	PRO	taj
ne	PAR	ne
može	A:aem	može
reći	N:m	reći
i	CONJ	i
za	PREP	za
tematsko	A:aen	tematski
-	PUNCT	-
idejnu	A:aem	idejni
ravan	A:aem	ravan
filma	N:m	film
.	SENT	.
Režija	N:m	Režija
je	PRO	ona
prelepa	A:aef	prelep
u	PREP	u
svojoj	PRO	svoj
jednostavnosti	N:f	jednostavnost
,	PUNCT	,
usmerena	V:m	usmeriti
na	PREP	na
mnogo	ADV	mnogo
zanimljivih	A:aem	zanimljiv
detalja	N:m	detalj
van	PREP	van
glavnog	A:aem	glavnog
toka	N:m	tok
priče	N:f	priča
,	PUNCT	,
dok	CONJ	dok
fotografija	N:f	fotografija
odiše	V:m	odiše
starim	A:aef	star
sjajem	N:m	sjaj
neprevaziđene	A:aef	neprevaziđen
praške	A:aem	praški
škole	N:f	škola
.	SENT	.
Scenario	N:m	scenario
,	PUNCT	,
s	PREP	s
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
manje	ADV	manje
postiže	A:aem	postiže
priželjkivanu	A:aef	priželjkivan
napetost	N:f	napetost
,	PUNCT	,
koliko	ADV	koliko
izaziva	A:aef	izaziva
radoznalost	N:f	radoznalost
.	SENT	.
On	PRO	on
se	PAR	se
dobro	ADV	dobro
poigrava	A:aen	poigrava
postavljanjem	N:n	postavljanje
stepenika	N:m	stepenik
u	PREP	u
razradi	N:f	razrada
koje	PRO	koji
treba	N:f	treba
preći	V:m	preći
do	PREP	do
finala	N:n	finale
i	CONJ	i
,	PUNCT	,
kao	CONJ	kao
filmsko	A:aen	filmski
putovanje	N:n	putovanje
,	PUNCT	,
sasvim	ADV	sasvim
je	PRO	ona
zadovoljavajuć	A:aen	zadovoljavajuć
.	PUNCT	.
Međutim	A:aen	Međutim
,	PUNCT	,
putovanje	N:n	putovanje
bez	PREP	bez
dramaturške	A:aef	dramaturški
suštine	N:f	suština
veliki	A:aem	velik
je	PRO	ona
problem	N:m	problem
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
Koliko	ADV	koliko
god	PAR	god
plenio	V:m	pleniti
scenarističkim	A:aen	scenaristički
umećem	N:n	umeće
na	PREP	na
mikronivou	N:m	mikronivo
i	CONJ	i
vizuelnim	A:aem	vizuelan
,	PUNCT	,
toliko	ADV	toliko
se	PAR	se
mora	N:n	more
priznati	A:aem	priznat
da	CONJ	da
Pawlikowski	A:aem	Pawlikowski
na	PREP	na
makronivou	N:m	makronivou
ostavlja	N:n	ostavlja
prilično	ADV	prilično
prosečan	A:aem	prosečan
utisak	N:m	utisak
.	SENT	.
Film	N:m	film
Žena	A:aem	Žena
iz	PREP	iz
susedstva	N:n	susedstvo
fantastičan	A:aem	fantastičan
je	PRO	ona
portret	N:m	portret
zanimljivog	A:aen	zanimljiv
filmskog	A:aem	filmski
junaka	N:m	junak
,	PUNCT	,
ali	CONJ	ali
istinske	A:aef	istinski
srži	N:f	srž
umetničkog	A:aen	umetnički
,	PUNCT	,
one	PRO	onaj
pominjane	A:aef	pominjan
kritike	N:f	kritika
i	CONJ	i
poruke	N:f	poruka
,	PUNCT	,
nedostaje	N:m	nedostaje
u	PREP	u
dobroj	A:aef	dobar
meri	N:f	mera
,	PUNCT	,
zbog	PREP	zbog
čega	PRO	šta
liči	N:m	liči
na	PREP	na
besprekorno	ADV	besprekorno
debitantsko	A:aen	debitantski
ostvarenje	N:n	ostvarenje
koje	PRO	koji
nagoveštava	N:n	nagoveštava
blistavu	A:aef	blistav
karijeru	N:f	karijera
mladog	A:aen	mlad
autora	N:m	autor
.	SENT	.
Mana	N:m	Man
je	PRO	ona
,	PUNCT	,
međutim	PAR	međutim
,	PUNCT	,
što	CONJ	što
je	PRO	ona
Pawlikowski	N:m	Pawlikowski
već	PAR	već
izgradio	V:m	izgraditi
blistavu	A:aef	blistav
karijeru	N:f	karijera
prethodnim	A:aen	prethodan
filmovima	N:m	film
,	PUNCT	,
pa	CONJ	pa
ponuda	N:f	ponuda
odličnog	A:aem	odličan
portreta	N:m	portret
bez	PREP	bez
dubljih	A:bef	dubok
značenja	N:n	značenje
više	ADV	više
liči	N:m	liči
na	PREP	na
predah	N:m	predah
nego	CONJ	nego
na	PREP	na
pravu	N:n	pravo
angažovanost	N:f	angažovanost
,	PUNCT	,
kojoj	PRO	koji
stil	N:m	stil
Žene	N:m	Žene
iz	PREP	iz
susedstva	N:n	susedstvo
svim	PRO	sav
srcem	N:n	srce
teži	A:bem	težak
.	SENT	.
