Pokajanje	N:n	pokajanje
je	PRO	ona
adaptacija	N:f	adaptacija
istoimenog	A:aen	istoimen
romana	N:m	roman
.	SENT	.
Zadržavanje	N:n	Zadržavanje
knjiške	A:aef	knjiški
strukture	N:f	struktura
,	PUNCT	,
gde	ADV	gde
veće	A:bef	velik
filmske	A:aef	filmski
celine	N:f	celina
nalikuju	N:m	nalikuju
na	PREP	na
poglavlja	N:n	poglavlje
romana	N:m	roman
,	PUNCT	,
ne	PAR	ne
mora	N:n	more
da	CONJ	da
bude	A:aen	bude
nužno	A:aen	nužan
loš	A:aem	loš
potez	N:m	potez
.	SENT	.
Beri	N:m	Bera
Lindon	N:m	Lindon
je	PRO	ona
odličan	A:aem	odličan
primer	N:m	primer
ovakvog	PRO	ovakav
pristupa	N:m	pristup
koji	PRO	koji
funkcioniše	N:f	funkcioniše
.	SENT	.
Problem	N:m	problem
filma	N:m	film
Pokajanje	N:n	pokajanje
je	PRO	ona
što	PRO	što
bi	A:aem	bi
da	CONJ	da
objedini	A:aem	objedini
melodramski	A:aem	melodramski
patos	N:m	patos
filma	N:m	film
Veridba	N:f	veridba
je	PRO	ona
dugo	ADV	dugo
trajala	V:m	trajati
i	CONJ	i
ledenu	A:aef	leden
proračunatost	N:f	proračunatost
na	PREP	na
tragu	N:m	trag
Stanleyja	A:aem	Stanleyja
Kubricka	N:m	Kubricka
.	SENT	.
Krupan	A:aem	krupan
zalogaj	N:m	zalogaj
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
sâma	A:aef	sâma
premisa	N:f	premisa
zapravo	ADV	zapravo
daje	N:m	daje
povoda	N:m	povod
za	PREP	za
ovakav	PRO	ovakav
pristup	N:m	pristup
,	PUNCT	,
naročito	ADV	naročito
što	CONJ	što
Pokajanje	N:n	pokajanje
,	PUNCT	,
između	PREP	između
ostalog	A:aem	ostalog
,	PUNCT	,
govori	N:m	govor
o	PREP	o
načinu	N:m	način
na	PREP	na
koji	PRO	koji
se	PAR	se
linije	N:f	linija
pripovedanja	N:n	pripovedanje
,	PUNCT	,
odnosno	PAR	odnosno
fikcije	N:f	fikcija
,	PUNCT	,
seku	N:f	seka
i	CONJ	i
ukrštaju	N:m	ukrštaj
s	PREP	s
linijama	N:f	linija
života	N:m	život
,	PUNCT	,
i	CONJ	i
kakve	PRO	kakav
sve	PRO	sav
to	PRO	taj
posledice	N:f	posledica
proizvodi	N:m	proizvod
.	SENT	.
Prvo	A:aen	prvi
poglavlje	N:n	poglavlje
je	PRO	ona
i	CONJ	i
najbolji	A:cem	dobar
deo	N:m	deo
filma	N:m	film
.	SENT	.
Suptilna	A:aef	suptilan
drama	N:f	drama
koja	PRO	koji
ilustruje	N:m	ilustruje
kako	CONJ	kako
je	PRO	ona
sve	PRO	sav
zaista	PAR	zaista
u	PREP	u
oku	N:n	oko
posmatrača	N:m	posmatrač
i	CONJ	i
kako	CONJ	kako
se	PAR	se
između	PREP	između
spisateljskog	A:aen	spisateljski
domaštavanja	N:n	domaštavanja
stvarnosti	N:f	stvarnost
i	CONJ	i
namerne	A:aef	nameran
laži	N:f	laž
nekada	ADV	nekada
izgubi	A:aem	izgubi
svaka	PRO	svaki
razlika	N:f	razlika
.	SENT	.
Ovaj	PRO	ovaj
motiv	N:m	motiv
se	PAR	se
i	CONJ	i
dalje	ADV	dalje
razvija	A:bef	razvija
,	PUNCT	,
mada	CONJ	mada
nešto	ADV	nešto
prikrivenije	A:bem	prikrivenije
,	PUNCT	,
sve	ADV	sve
do	PREP	do
naglašeno	ADV	naglašeno
izdvojenog	A:aem	izdvojen
epiloga	N:m	epilog
,	PUNCT	,
koji	PRO	koji
onda	ADV	onda
sasvim	ADV	sasvim
logično	A:aen	logičan
zaključuje	N:m	zaključuje
čitavu	A:aem	čitav
pripovest	N:f	pripovest
,	PUNCT	,
ali	CONJ	ali
upravo	ADV	upravo
zbog	PREP	zbog
toga	PRO	taj
ne	PAR	ne
uspeva	N:m	uspeva
da	CONJ	da
uputi	N:f	uputa
efikasan	A:aem	efikasan
udarac	N:m	udarac
u	PREP	u
stomak	N:m	stomak
u	PREP	u
vidu	N:f	vida
odgovarajućeg	A:aen	odgovarajući
emotivnog	A:aen	emotivan
pančlajna	N:f	pančlajna
.	SENT	.
Čitava	A:aem	Čitava
srednja	A:aem	srednji
deonica	N:f	deonica
,	PUNCT	,
pretežno	ADV	pretežno
smeštena	V:f	smestiti
u	PREP	u
Francusku	N:f	Francuska
za	PREP	za
vreme	N:n	vreme
Drugog	N:m	Drugog
svetskog	A:aem	svetski
rata	N:f	rata
,	PUNCT	,
deluje	A:aen	deluje
kao	CONJ	kao
novo	A:aen	nov
poglavlje	N:n	poglavlje
nekog	PRO	neki
drugog	A:aem	drugi
romana	N:m	roman
(	PUNCT	(
tj	ABB	tj
.	PUNCT	.
filma	N:m	film
)	PUNCT	)
pošto	CONJ	pošto
je	PRO	ona
sveza	N:f	sveza
koja	PRO	koji
objedinjuje	N:m	objedinjuje
sve	PRO	sav
postojeće	A:aen	postojeći
pripovedačke	A:aef	pripovedački
linije	N:f	linija
data	V:f	dati
tek	CONJ	tek
u	PREP	u
obrtu	N:m	obrt
.	SENT	.
Prekasno	ADV	prekasno
,	PUNCT	,
šavovi	N:m	šav
se	PAR	se
osećaju	N:m	osećaj
.	SENT	.
Ako	CONJ	ako
prihvatimo	N:f	prihvatimo
da	CONJ	da
u	PREP	u
Pokajanju	N:n	pokajanje
postoji	N:m	postoji
samo	CONJ	samo
jedan	NUM	jedan
pravi	A:aem	prav
lik	N:m	lik
(	PUNCT	(
što	CONJ	što
je	PRO	ona
,	PUNCT	,
imajući	A:aem	imajući
u	PREP	u
vidu	N:f	vida
epilog	N:m	epilog
,	PUNCT	,
sasvim	ADV	sasvim
razumno	A:aen	razuman
tumačenje	N:n	tumačenje
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
spisateljica	N:f	spisateljica
Briony	N:m	Briony
Talis	N:m	Talis
,	PUNCT	,
onda	ADV	onda
film	N:m	film
na	PREP	na
jednom	NUM	jedan
nivou	N:m	nivo
savršeno	ADV	savršeno
funkcioniše	A:aem	funkcioniše
kao	CONJ	kao
deprimirajuća	A:aef	deprimirajući
priča	N:f	priča
o	PREP	o
nemogućnosti	N:f	nemogućnost
iskupljenja	N:n	iskupljenje
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
tada	ADV	tada
ostaje	N:n	ostaje
problem	N:m	problem
što	CONJ	što
je	PRO	ona
dobar	A:aem	dobar
deo	N:m	deo
filma	N:m	film
potrošen	V:m	potrošiti
na	PREP	na
romansu	N:f	romansa
koja	PRO	koji
postoji	N:m	postoji
pre	PREP	pre
svega	PRO	sav
u	PREP	u
funkciji	N:f	funkcija
introspektivne	A:aef	introspektivan
drame	N:f	drama
glavne	A:aef	glavne
(	PUNCT	(
jedine	A:aef	jedini
)	PUNCT	)
junakinje	N:f	junakinja
.	PUNCT	.
Ljubavna	A:aef	ljubavan
priča	N:f	priča
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
i	CONJ	i
njeni	PRO	njen
protagonisti	N:m	protagonista
,	PUNCT	,
ostaje	N:n	ostaje
nedorečena	A:aem	nedorečen
i	CONJ	i
neupečatljiva	A:aem	neupečatljiva
–	N:m	–
lažno	ADV	lažno
emotivno	A:aen	emotivan
težište	N:n	težište
koje	PRO	koji
bi	N:f	bi
trebalo	V:n	trebati
da	CONJ	da
nam	PRO	mi
odvuče	A:aem	odvuče
pažnju	N:f	pažnja
ne	PAR	ne
bismo	N:f	bismo
li	PAR	li
se	PAR	se
iznenadili	V:m	iznenaditi
na	PREP	na
kraju	N:m	kraj
.	SENT	.
Pokajanje	N:n	pokajanje
posrće	A:aem	posrće
pod	PREP	pod
teretom	N:m	teret
metatekstualnosti	N:f	metatekstualnosti
,	PUNCT	,
koja	PRO	koji
možda	PAR	možda
i	CONJ	i
funkcioniše	A:aem	funkcioniše
u	PREP	u
romanu	N:m	roman
,	PUNCT	,
ali	CONJ	ali
na	PREP	na
filmu	N:m	film
deluje	N:m	deluje
suviše	ADV	suviše
izveštačeno	ADV	izveštačeno
.	SENT	.
