“	A:aem	“
Pirati	N:m	pirat
sa	PREP	sa
Kariba	N:f	Kariba
:	SENT	:
Na	PREP	na
čudnim	A:aem	čudan
plimama	N:f	plima
”	A:aem	”
predstvalja	N:m	predstvalja
četvrto	A:aen	četvrti
ostvarenje	N:n	ostvarenje
popularne	A:aef	popularan
Diznijeve	A:aem	Diznijev
(	PUNCT	(
Disney	N:m	Disney
)	PUNCT	)
franšize	N:f	franšiza
,	PUNCT	,
koja	PRO	koji
nam	PRO	mi
je	PRO	ona
donela	V:f	doneti
danas	ADV	danas
već	CONJ	već
toliko	ADV	toliko
obožavanog	A:aem	obožavan
kapeta	A:aem	kapeta
Džeka	N:m	Džek
Speroa	N:m	Speroa
.	PUNCT	.
Iako	CONJ	iako
generalno	A:aen	generalan
u	PREP	u
sličnom	A:aef	sličan
duhu	N:m	duh
prethodna	A:aen	prethodan
tri	NUM	tri
ostvarenja	N:n	ostvarenje
,	PUNCT	,
ovaj	PRO	ovaj
četvrti	A:aem	četvrti
nastavak	N:m	nastavak
ima	V:m	ima
prilično	ADV	prilično
radikalne	A:aef	radikalan
promene	N:f	promena
,	PUNCT	,
dobivši	A:aem	dobivši
novog	A:aem	nov
reditelja	N:m	reditelj
,	PUNCT	,
i	CONJ	i
ostavivši	N:f	ostavivši
za	PREP	za
sobom	PRO	sebe
dva	NUM	dva
ključna	A:aem	ključna
aktera	N:m	akter
u	PREP	u
trilogiji	N:f	trilogija
.	PUNCT	.
Smatram	N:m	Smatram
da	CONJ	da
bi	A:aem	bi
čuveni	A:aem	čuven
opis	N:m	opis
Umberta	N:m	Umberto
Eka	N:f	Eka
(	PUNCT	(
Umberto	N:m	Umberto
Eco	N:f	Eco
)	PUNCT	)
za	PREP	za
film	N:m	film
Kazablanca	N:f	Kazablanca
(	PUNCT	(
Casablanca	N:m	Casablanca
)	PUNCT	)
–	A:aem	–
“	A:aem	“
Stotine	N:m	Stotine
različitih	A:aem	različit
klišea	N:m	kliše
slave	N:f	slava
okupljanje	N:n	okupljanje
”	N:m	”
bio	V:m	biti
u	PREP	u
potpunosti	N:f	potpunost
adekvatan	A:aem	adekvatan
opis	N:m	opis
i	CONJ	i
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Mi	PRO	ja
smo	N:f	smo
ovde	ADV	ovde
kao	ADV	kao
što	CONJ	što
je	PRO	ona
očekivano	V:n	očekivati
i	CONJ	i
dolikuje	V:n	dolikuje
,	PUNCT	,
ubačeni	V:m	ubaciti
u	PREP	u
priču	N:f	priča
sa	PREP	sa
jednim	NUM	jedan
“	N:m	“
kašastim	A:aem	kašast
”	A:aem	”
prologom	N:m	prolog
,	PUNCT	,
gde	CONJ	gde
zatičemo	N:f	zatičemo
Džek	N:m	Džek
Speroa	N:m	Speroa
u	PREP	u
Londonu	N:m	London
,	PUNCT	,
kako	CONJ	kako
pokušava	N:f	pokušava
da	CONJ	da
spase	N:n	spase
svog	PRO	svoj
nekadašnjeg	A:aen	nekadašnji
člana	N:m	član
posade	N:f	posada
i	CONJ	i
prijatelja	N:m	prijatelj
,	PUNCT	,
gospodina	N:m	gospodin
Gibsa	N:m	Gibs
od	PREP	od
smrtne	A:aef	smrtan
kazne	N:f	kazna
,	PUNCT	,
usput	ADV	usput
saznavši	A:aem	saznavši
da	CONJ	da
postoji	N:m	postoji
imitator	N:m	imitator
,	PUNCT	,
koji	PRO	koji
pod	PREP	pod
njegovim	PRO	njegov
imenom	N:n	ime
skuplja	A:bem	skup
posadu	N:f	posada
za	PREP	za
plovidbu	N:f	plovidba
.	PUNCT	.
Da	CONJ	da
sada	ADV	sada
ne	PAR	ne
bih	A:aen	bih
previše	ADV	previše
odavao	V:m	odavati
,	PUNCT	,
ubrzo	ADV	ubrzo
što	CONJ	što
upozna	A:aen	upozna
svog	PRO	svoj
imitatora	N:m	imitator
,	PUNCT	,
Džek	N:m	Džek
završava	A:aem	završava
na	PREP	na
brodu	N:m	brod
ozloglašemog	A:aem	ozloglašemog
pirata	N:m	pirat
Crnobradog	A:aem	crnobrad
,	PUNCT	,
gusara	N:m	gusar
koga	PRO	koji
se	PAR	se
svi	PRO	sav
gusari	N:m	gusar
plaše	V:m	plaše
,	PUNCT	,
i	CONJ	i
zajedno	ADV	zajedno
sa	PREP	sa
njim	PRO	on
kreće	A:aem	kreće
u	PREP	u
avanturu	N:f	avantura
,	PUNCT	,
u	PREP	u
potragu	N:f	potraga
za	PREP	za
fontanom	N:f	fontana
mladosti	N:f	mladost
.	PUNCT	.
Ali	CONJ	ali
ka	PREP	ka
ovom	PRO	ovaj
istom	A:aem	isti
cilju	N:m	cilj
tragaju	N:m	tragaju
još	ADV	još
dve	NUM	dva
strane	N:f	strana
,	PUNCT	,
Španska	A:aef	Španska
armada	N:f	armada
,	PUNCT	,
i	CONJ	i
Džekov	A:aem	Džekov
stari	A:aem	star
poznanik	N:m	poznanik
,	PUNCT	,
kapetan	N:m	kapetan
Barbosa	N:m	Barbosa
,	PUNCT	,
koji	PRO	koji
se	PAR	se
oprostio	V:m	oprostiti
od	PREP	od
piratskog	A:aem	piratski
života	N:m	život
i	CONJ	i
nastoji	N:m	nastoji
da	CONJ	da
pronađe	A:aem	pronađe
i	CONJ	i
osvoji	A:aem	osvoji
fontanu	N:f	fontana
mladosti	N:f	mladost
u	PREP	u
ime	N:n	ime
kralja	N:m	kralj
Engleske	N:f	Engleska
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
kako	CONJ	kako
to	PRO	taj
uvek	ADV	uvek
i	CONJ	i
biva	A:aen	biva
u	PREP	u
filmovima	N:m	film
iz	PREP	iz
ove	PRO	ovaj
franšize	N:f	franšiza
,	PUNCT	,
očekuje	N:m	očekuje
vas	PRO	vi
zaista	PAR	zaista
mnogo	ADV	mnogo
skrivenih	A:aef	skriven
motiva	N:m	motiv
i	CONJ	i
okreta	N:m	okret
,	PUNCT	,
što	CONJ	što
samo	PAR	samo
dodatno	ADV	dodatno
dodaje	V:m	dodaje
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
bude	A:aem	bude
pravi	A:aem	prav
letnji	A:aem	letnji
blokbaster	N:m	blokbaster
.	SENT	.
Za	PREP	za
razliku	N:f	razlika
od	PREP	od
ostala	V:m	ostati
tri	NUM	tri
filma	N:m	film
,	PUNCT	,
“	A:aem	“
Na	A:aem	Na
čudnim	A:aem	čudan
plimama	N:f	plima
”	N:m	”
ne	PAR	ne
shvata	N:m	shvata
sebe	PRO	sebe
dovoljno	ADV	dovoljno
ozbiljno	ADV	ozbiljno
dajući	N:m	dajući
nam	PRO	mi
dosta	ADV	dosta
“	A:aem	“
slapstick	N:m	slapstick
“	A:aem	“
humora	N:m	humor
što	CONJ	što
može	A:aem	može
biti	N:f	bit
i	CONJ	i
dobro	ADV	dobro
i	CONJ	i
loše	ADV	loše
,	PUNCT	,
u	PREP	u
zavisnosti	N:f	zavisnost
kako	CONJ	kako
se	PAR	se
dozira	N:m	dozira
.	SENT	.
U	PREP	u
prvih	A:aef	prvi
pola	N:m	pol
sata	N:m	sat
,	PUNCT	,
humor	N:m	humor
je	PRO	ona
prenaglašen	V:m	prenaglasiti
,	PUNCT	,
i	CONJ	i
zbilja	PAR	zbilja
taj	PRO	taj
deo	N:m	deo
filma	N:m	film
je	PRO	ona
jako	ADV	jako
slab	A:aem	slab
i	CONJ	i
moglo	V:n	moći
bi	A:aem	bi
se	PAR	se
reći	V:m	reći
suvišan	A:aem	suvišan
,	PUNCT	,
sva	PRO	sav
sreća	N:f	sreća
pa	CONJ	pa
se	PAR	se
u	PREP	u
drugoj	A:aef	drugi
polovini	N:f	polovina
trajanja	N:n	trajanje
kvalitet	N:m	kvalitet
znatno	ADV	znatno
povećava	A:aem	povećava
.	SENT	.
Svako	PRO	svaki
ko	PRO	ko
je	PRO	ona
gledao	V:m	gledati
bar	PAR	bar
jedan	NUM	jedan
od	PREP	od
prethodnih	A:aem	prethodan
delova	N:m	deo
ove	PRO	ovaj
sage	N:f	saga
može	A:aem	može
od	PREP	od
prilke	N:f	prilke
da	CONJ	da
zna	A:aen	zna
šta	PRO	šta
da	CONJ	da
očekuje	N:m	očekuje
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
zaista	PAR	zaista
jedan	NUM	jedan
bogat	A:aem	bogat
koncept	N:m	koncept
,	PUNCT	,
namenjen	A:aem	namenjen
uživanju	N:n	uživanje
šire	A:bem	širok
publike	N:f	publika
,	PUNCT	,
posedujući	A:aem	posedujući
u	PREP	u
sebi	PRO	sebe
fantastiku	N:f	fantastika
,	PUNCT	,
romansu	N:f	romansa
,	PUNCT	,
dvoboje	N:m	dvoboj
,	PUNCT	,
duele	N:m	duel
,	PUNCT	,
sirene	N:f	sirena
,	PUNCT	,
zombije	N:m	zombi
,	PUNCT	,
avanturu	N:f	avantura
i	CONJ	i
heroja	N:m	heroj
koji	PRO	koji
nestaje	N:m	nestaje
u	PREP	u
zalasku	N:m	zalazak
sunca	N:n	sunce
.	SENT	.
Izostanak	N:m	izostanak
Kire	N:f	Kira
Najtli	N:m	Najtli
(	PUNCT	(
Kiera	N:m	Kiera
Knightley	N:m	Knightley
)	PUNCT	)
i	CONJ	i
Orlanda	N:m	Orlando
Bluma	N:m	Blum
(	PUNCT	(
Orlando	N:m	Orlando
Bloom	N:m	Bloom
)	PUNCT	)
je	PRO	ona
ostavio	V:m	ostaviti
trag	N:m	trag
an	A:aem	an
emotivnom	A:aem	emotivan
intenzitetu	N:m	intenzitet
filma	N:m	film
,	PUNCT	,
ne	PAR	ne
oseća	N:m	oseća
se	PAR	se
više	ADV	više
tako	ADV	tako
veliki	A:aem	velik
ulog	N:m	ulog
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
bio	V:m	biti
postignut	V:m	postignuti
komplikacijama	N:f	komplikacija
njihovog	PRO	njihov
odnosa	N:m	odnos
,	PUNCT	,
sada	ADV	sada
sami	PRO	sam
zaključite	N:m	zaključite
da	CONJ	da
li	PAR	li
je	PRO	ona
to	PRO	taj
dobro	ADV	dobro
ili	CONJ	ili
ne	PAR	ne
.	SENT	.
Film	N:m	film
apsolutno	ADV	apsolutno
biva	A:aen	biva
vođen	V:m	voditi
fantastičnim	A:aem	fantastičan
likom	N:m	lik
Džeka	N:m	Džek
Speroa	N:m	Speroa
,	PUNCT	,
kojeg	PRO	koji
opet	ADV	opet
Džoni	N:m	Džoni
Dep	N:m	Dep
(	PUNCT	(
Johnny	A:aem	Johnny
Depp	N:m	Depp
)	PUNCT	)
oslikava	A:aem	oslikava
u	PREP	u
istom	A:aem	isti
kvalitetu	N:m	kvalitet
kao	ADV	kao
i	CONJ	i
ranije	ADV	ranije
.	PUNCT	.
Iako	CONJ	iako
ovaj	PRO	ovaj
film	N:m	film
sadrži	V:m	sadrži
više	ADV	više
nego	CONJ	nego
sjajne	A:aef	sjajan
pomoćne	A:aef	pomoćni
likove	N:m	lik
i	CONJ	i
glumce	N:m	glumac
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
su	N:m	su
npr	N:m	npr
.	SENT	.
kapetan	N:m	kapetan
Barbosa	N:m	Barbosa
kojeg	PRO	koji
opet	ADV	opet
tumači	N:m	tumač
Džefri	N:m	Džefri
Ruš	A:aen	Ruš
(	PUNCT	(
Geoffrey	A:aem	Geoffrey
Rush	A:aem	Rush
)	PUNCT	)
,	PUNCT	,
moglo	V:n	moći
bi	A:aen	bi
se	PAR	se
slobodno	ADV	slobodno
reći	V:m	reći
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
“	N:m	“
one	PRO	onaj
man	A:aem	man
show	A:aem	show
“	N:m	“
,	PUNCT	,
Džoni	N:m	Džoni
u	PREP	u
potpunosti	N:f	potpunost
dominira	N:m	dominira
ekranom	N:m	ekran
i	CONJ	i
pažnjom	N:f	pažnja
publike	N:f	publika
.	PUNCT	.
Iako	CONJ	iako
sadrži	A:aen	sadrži
mnoštvo	N:n	mnoštvo
promena	N:f	promena
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
svoje	PRO	svoj
prethodnike	N:m	prethodnik
,	PUNCT	,
“	A:aem	“
Pirati	N:m	pirat
sa	PREP	sa
Kariba	N:f	Kariba
:	SENT	:
Na	PREP	na
čudnim	A:aem	čudan
plimama	N:f	plima
”	N:m	”
je	PRO	ona
bogata	A:aef	bogat
avantura	N:f	avantura
,	PUNCT	,
puna	A:aef	pun
dinamike	N:f	dinamika
,	PUNCT	,
za	PREP	za
koju	PRO	koji
se	PAR	se
može	A:aem	može
smatrati	N:m	smatrati
kao	CONJ	kao
adekvatnim	A:aef	adekvatan
nastavkom	N:m	nastavak
franšize	N:f	franšiza
.	SENT	.
Ako	CONJ	ako
ste	A:aem	ste
i	CONJ	i
prethodne	A:aef	prethodan
delove	N:m	deo
voleli	V:m	voleti
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
apsolutno	ADV	apsolutno
za	PREP	za
vas	PRO	vi
.	SENT	.
