Duhovito	A:aen	duhovit
poigravanje	N:n	poigravanje
u	PREP	u
domenu	N:m	domen
„	A:aem	„
heist	N:m	heist
“	A:aem	“
filma	N:m	film
(	PUNCT	(
dakle	CONJ	dakle
zaplet	N:m	zaplet
se	PAR	se
vrti	V:m	vrti
oko	PREP	oko
krađe	N:f	krađa
nečega	PRO	nešto
skupocenog	A:aem	skupocen
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
slučaju	N:m	slučaj
neprocenjivog	A:aem	neprocenjiv
viskija	N:m	viski
)	PUNCT	)
i	CONJ	i
varijacija	N:f	varijacija
na	PREP	na
temu	N:f	tema
„	A:aem	„
simpatične	A:aef	simpatičan
bitange	N:f	bitanga
u	PREP	u
potrazi	N:f	potraga
za	PREP	za
parama	N:f	para
“	N:m	“
,	PUNCT	,
novi	A:aem	nov
film	N:m	film
Kena	N:m	Ken
Loacha	N:m	Loacha
je	PRO	ona
bajka	N:f	bajka
o	PREP	o
Aladinu	N:m	Aladin
na	PREP	na
sivim	A:aef	siv
ulicama	N:f	ulica
Glazgova	N:m	Glazgov
.	SENT	.
Kažem	A:aem	Kažem
bajka	N:f	bajka
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
jasno	ADV	jasno
još	ADV	još
na	PREP	na
početku	N:m	početak
da	CONJ	da
se	PAR	se
naš	PRO	naš
glavni	A:aem	glavni
junak	N:m	junak
nalazi	N:m	nalaz
u	PREP	u
takvoj	PRO	takav
situaciji	N:f	situacija
da	CONJ	da
ga	PRO	on
samo	PAR	samo
čudo	ADV	čudo
iz	PREP	iz
nje	PRO	ona
može	A:aem	može
izvući	A:aen	izvući
.	PUNCT	.
Robbie	A:aem	Robbie
(	PUNCT	(
Paul	N:m	Paul
Brannigan	N:m	Brannigan
)	PUNCT	)
je	PRO	ona
sitni	A:aem	sitan
kriminalac	N:m	kriminalac
i	CONJ	i
siledžija	N:f	siledžija
,	PUNCT	,
koga	PRO	koji
samo	PAR	samo
ljubav	N:f	ljubav
prema	PREP	prema
devojci	N:f	devojka
i	CONJ	i
novorođenom	A:aem	novorođen
sinu	N:m	sin
navode	N:m	navod
na	PREP	na
pomisao	N:f	pomisao
da	CONJ	da
treba	N:f	treba
da	CONJ	da
promeni	N:f	promena
takav	PRO	takav
život	N:m	život
,	PUNCT	,
a	CONJ	a
već	PAR	već
je	PRO	ona
toliko	ADV	toliko
zaglibio	V:m	zaglibiti
da	CONJ	da
je	PRO	ona
za	PREP	za
njega	PRO	on
izlaz	N:m	izlaz
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
sam	PRO	sam
već	PAR	već
rekla	V:n	reći
,	PUNCT	,
naučna	A:aen	naučni
fantastika	N:f	fantastika
.	SENT	.
Možda	N:f	Možda
bi	N:m	bi
bilo	V:n	biti
uverljivije	A:bef	uverljiv
da	CONJ	da
je	PRO	ona
svoj	PRO	sav
novootkriveni	A:aem	novootkriven
talenat	N:m	talent
za	PREP	za
prepoznavanje	N:n	prepoznavanje
različitih	A:aem	različit
mirisnih	A:aef	mirisan
i	CONJ	i
ukusnih	A:aef	ukusan
nota	N:f	nota
u	PREP	u
viskiju	N:m	viski
upotrebio	V:m	upotrebiti
da	CONJ	da
na	PREP	na
pošten	A:aem	pošten
način	N:m	način
dođe	A:aem	dođe
do	PREP	do
nekog	PRO	neki
posla	N:m	posao
,	PUNCT	,
da	CONJ	da
imamo	N:m	imamo
neki	PRO	neki
„	N:m	„
preko	PREP	preko
trnja	N:n	trnje
do	PREP	do
zvezda	N:f	zvezda
“	A:aem	“
rasplet	N:m	rasplet
,	PUNCT	,
umesto	PREP	umesto
instant	N:m	instant
-	PUNCT	-
rešenja	N:n	rešenje
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
gorenavedene	A:aef	gorenavedeni
bitange	N:f	bitanga
su	N:m	su
toliko	ADV	toliko
simpatične	A:aem	simpatičan
da	CONJ	da
ćete	N:m	ćete
svim	PRO	sav
srcem	N:n	srce
navijati	N:m	navijati
za	PREP	za
njih	PRO	ona
,	PUNCT	,
a	CONJ	a
scenario	N:m	scenario
je	PRO	ona
pun	A:aem	pun
sirovog	A:aen	sirov
humora	N:m	humor
(	PUNCT	(
za	PREP	za
dečake	N:m	dečak
)	PUNCT	)
i	CONJ	i
emotivnih	A:aen	emotivan
momenata	N:m	moment
(	PUNCT	(
za	PREP	za
devojčice	N:f	devojčica
)	PUNCT	)
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
će	A:aem	će
mnogim	A:aef	mnogi
gledaocima	N:m	gledalac
pružiti	A:aem	pružiti
par	N:m	par
zabavnih	A:aef	zabavan
sati	N:f	sat
,	PUNCT	,
a	CONJ	a
ako	CONJ	ako
ne	PAR	ne
i	CONJ	i
odgovor	N:m	odgovor
na	PREP	na
smisao	N:m	smisao
života	N:m	život
,	PUNCT	,
onda	CONJ	onda
bar	PAR	bar
veru	N:f	vera
da	CONJ	da
uz	PREP	uz
malo	A:aen	mali
truda	N:m	trud
isti	A:aem	isti
može	A:aem	može
postati	N:m	postati
bolji	A:bem	dobar
čak	PAR	čak
iako	CONJ	iako
se	PAR	se
nalaziš	N:m	nalaziš
na	PREP	na
njegovom	PRO	njegov
dnu	N:n	dno
.	SENT	.
