Novela	N:f	novela
Stevea	N:m	Stevea
Martina	N:m	Martin
Shopgirl	N:m	Shopgirl
(	PUNCT	(
Prodavačica	N:f	Prodavačica
,	PUNCT	,
Laguna	N:m	Laguna
)	PUNCT	)
je	PRO	ona
knjiga	N:f	knjiga
koja	PRO	koji
se	PAR	se
čita	N:f	čita
u	PREP	u
dahu	N:m	dah
,	PUNCT	,
uprkos	PREP	uprkos
tome	PRO	taj
što	CONJ	što
je	PRO	ona
uglavnom	ADV	uglavnom
koncipirana	A:aef	koncipiran
kao	CONJ	kao
autorovo	A:aen	autorov
opisivanje	N:n	opisivanje
onoga	PRO	onaj
što	PRO	što
likovi	N:m	lik
misle	N:m	misle
i	CONJ	i
objašnjavanje	N:n	objašnjavanje
onoga	PRO	onaj
što	PRO	što
čine	N:m	čin
.	SENT	.
U	PREP	u
tome	PRO	taj
se	PAR	se
Martin	N:m	Martin
pomaže	A:aem	pomaže
primerima	N:m	primer
iz	PREP	iz
psihologije	N:f	psihologija
,	PUNCT	,
filozofije	N:f	filozofija
,	PUNCT	,
koju	PRO	koji
je	PRO	ona
studirao	V:m	studirati
,	PUNCT	,
umetnosti	N:f	umetnost
,	PUNCT	,
koju	PRO	koji
metodično	ADV	metodično
sakuplja	A:aem	sakuplja
.	SENT	.
Glavna	A:aen	Glavna
junakinja	N:f	junakinja
Mirabelle	N:m	Mirabelle
Buttersfield	N:m	Buttersfield
(	PUNCT	(
lepo	ADV	lepo
i	CONJ	i
znakovito	A:aen	znakovit
protestantsko	A:aen	protestantski
ime	N:n	ime
)	PUNCT	)
je	PRO	ona
usamljena	A:aef	usamljen
28	NUM	@card@
-	PUNCT	-
godišnjakinja	N:f	godišnjakinja
koja	PRO	koji
radi	PREP	radi
na	PREP	na
odeljku	N:m	odeljak
za	PREP	za
rukavice	N:f	rukavica
skupe	A:aem	skup
i	CONJ	i
staromodne	A:aef	staromodan
robne	A:aem	robni
kuće	N:f	kuća
koji	PRO	koji
je	PRO	ona
veoma	ADV	veoma
slabo	ADV	slabo
posećen	V:m	posetiti
i	CONJ	i
uglavnom	ADV	uglavnom
služi	A:aem	služi
za	PREP	za
pokazivanje	N:n	pokazivanje
statusa	N:m	status
iste	A:aem	isti
.	SENT	.
Ona	PRO	ona
je	PRO	ona
zapravo	ADV	zapravo
,	PUNCT	,
kako	CONJ	kako
to	PRO	taj
Amerikanci	N:m	Amerikanac
zovu	N:f	zova
,	PUNCT	,
struggling	N:m	struggling
artist	N:m	artist
.	SENT	.
Pošto	N:m	Pošto
se	PAR	se
doselila	V:f	doseliti
sa	PREP	sa
istoka	N:m	istok
zemlje	N:f	zemlja
,	PUNCT	,
diplomirala	V:n	diplomirati
je	PRO	ona
umetnost	N:f	umetnost
na	PREP	na
neimenovanom	A:aef	neimenovan
kalifornijskom	A:aef	kalifornijski
koledžu	N:m	koledž
i	CONJ	i
čeka	N:f	čeka
da	CONJ	da
je	PRO	ona
neko	PRO	neki
primeti	N:m	primeti
,	PUNCT	,
profesionalno	A:aen	profesionalan
i	CONJ	i
emotivno	A:aen	emotivan
.	SENT	.
Dva	NUM	dva
muškarca	N:m	muškarac
pokazuju	N:m	pokazuju
interes	N:m	interes
:	SENT	:
26	NUM	@card@
-	PUNCT	-
godišnji	A:aem	godišnji
Jeremy	N:m	Jeremy
,	PUNCT	,
ljudska	A:aem	ljudski
ljuštura	N:f	ljuštura
,	PUNCT	,
čiji	PRO	čiji
je	PRO	ona
jedini	A:aem	jedini
cilj	N:m	cilj
da	CONJ	da
postigne	N:m	postigne
nešto	ADV	nešto
u	PREP	u
poslu	N:m	posao
prodaje	N:f	prodaja
pojačala	V:n	pojačati
muzičkim	A:aef	muzički
grupama	N:f	grupa
,	PUNCT	,
i	CONJ	i
50	NUM	@card@
-	PUNCT	-
godišnji	A:aem	godišnji
Rey	A:aem	Rey
Porter	N:m	Porter
,	PUNCT	,
razvedeni	V:m	razvesti
milioner	N:m	milioner
koji	PRO	koji
traga	N:m	trag
za	PREP	za
srećom	ADV	srećom
u	PREP	u
ženskom	A:aem	ženski
obliku	N:m	oblik
,	PUNCT	,
takođe	PAR	takođe
čovek	N:m	čovek
kome	PRO	koji
je	PRO	ona
malo	ADV	malo
šta	ADV	šta
o	PREP	o
ljudskoj	A:aef	ljudski
psihologiji	N:f	psihologija
jasno	ADV	jasno
,	PUNCT	,
prikazan	V:m	prikazati
vrlo	ADV	vrlo
detaljno	ADV	detaljno
i	CONJ	i
smisleno	A:aen	smislen
elaboriran	A:aem	elaboriran
,	PUNCT	,
budući	A:aem	budući
da	CONJ	da
je	PRO	ona
on	PRO	on
u	PREP	u
mnogo	ADV	mnogo
čemu	PRO	šta
Martinov	N:m	Martinov
odraz	N:m	odraz
u	PREP	u
ogledalu	N:n	ogledalo
.	SENT	.
Anand	N:m	Anand
Tucker	N:m	Tucker
,	PUNCT	,
Britanac	N:m	Britanac
rođen	A:aem	rođen
na	PREP	na
Tajlandu	N:m	Tajland
,	PUNCT	,
predstavlja	N:n	predstavlja
dobar	A:aem	dobar
izbor	N:m	izbor
za	PREP	za
reditelja	N:m	reditelj
.	SENT	.
Njegov	PRO	njegov
prethodni	A:aem	prethodan
film	N:m	film
Hillary	A:aem	Hillary
and	N:m	and
Jackie	A:aem	Jackie
jedna	NUM	jedan
je	PRO	ona
od	PREP	od
boljih	A:bef	dobar
psiholoških	A:aem	psihološki
studija	N:f	studija
ženskog	A:aem	ženski
sazrevanja	N:n	sazrevanje
,	PUNCT	,
jedan	NUM	jedan
od	PREP	od
boljih	A:bef	dobar
filmova	N:m	film
o	PREP	o
ženama	N:f	žena
(	PUNCT	(
a	CONJ	a
ne	PAR	ne
za	PREP	za
žene	N:f	žena
)	PUNCT	)
,	PUNCT	,
ako	CONJ	ako
posmatramo	N:f	posmatramo
90	NUM	@card@
-	PUNCT	-
e	INT	e
.	SENT	.
Osim	PREP	osim
što	PRO	što
razume	N:m	razum
sadržaj	N:m	sadržaj
,	PUNCT	,
on	PRO	on
donosi	N:m	donosi
stil	N:m	stil
,	PUNCT	,
a	CONJ	a
zajedno	ADV	zajedno
sa	PREP	sa
svojim	PRO	svoj
kompozitorom	N:m	kompozitor
,	PUNCT	,
i	CONJ	i
jaku	A:aem	jak
melodramsku	A:aef	melodramski
osnovu	N:f	osnova
na	PREP	na
nivou	N:m	nivo
forme	N:f	forma
.	SENT	.
Zanimljivo	ADV	zanimljivo
,	PUNCT	,
skoro	ADV	skoro
da	CONJ	da
je	PRO	ona
Tucker	N:m	Tucker
koliko	ADV	koliko
i	CONJ	i
Martin	N:m	Martin
odgovoran	A:aem	odgovoran
za	PREP	za
određenu	A:aef	određenu
povezanost	N:f	povezanost
Shopgirl	N:m	Shopgirl
sa	PREP	sa
Woody	A:aem	Woody
Allenovim	N:m	Allenovim
Manhattanom	N:m	Manhattanom
.	SENT	.
Opet	ADV	opet
,	PUNCT	,
kad	CONJ	kad
se	PAR	se
setimo	V:f	setimo
filma	N:m	film
L	N:f	L
.	SENT	.
A	CONJ	a
.	PUNCT	.
Story	N:m	Story
,	PUNCT	,
jasno	ADV	jasno
nam	PRO	mi
je	PRO	ona
zašto	ADV	zašto
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
što	CONJ	što
bi	N:m	bi
iz	PREP	iz
psihologije	N:f	psihologija
likova	N:n	likovo
lako	ADV	lako
proizilazilo	V:n	proizilaziti
,	PUNCT	,
sam	A:aem	sam
L	N:m	L
.	SENT	.
A	CONJ	a
.	PUNCT	.
nije	A:aem	nije
toliko	ADV	toliko
preteći	A:aem	preteći
i	CONJ	i
otuđen	A:aem	otuđen
kao	CONJ	kao
Tokio	N:m	Tokio
u	PREP	u
Lost	N:f	Lost
in	ABB	in
Translation	N:m	Translation
.	SENT	.
Martinov	N:m	Martinov
L	A:aem	L
.	SENT	.
A	CONJ	a
.	PUNCT	.
je	PRO	ona
onakav	PRO	onakav
u	PREP	u
kakvom	PRO	kakav
su	N:m	su
raspoloženju	N:n	raspoloženje
njegovi	PRO	njegov
junaci	N:m	junak
trenutno	ADV	trenutno
.	SENT	.
Osim	PREP	osim
zalaska	N:m	zalazak
sunca	N:n	sunce
kroz	PREP	kroz
siluete	N:f	silueta
nebodera	N:m	neboder
,	PUNCT	,
to	PRO	taj
je	PRO	ona
jednostavno	ADV	jednostavno
spektakularno	A:aen	spektakularan
kako	CONJ	kako
god	PAR	god
da	CONJ	da
se	PAR	se
okrene	V:f	okrene
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Stil	N:m	Stil
i	CONJ	i
Martinov	N:m	Martinov
filmski	A:aem	filmski
odnos	N:m	odnos
prema	PREP	prema
Los	N:m	Los
Anđelesu	N:m	Anđelesu
nadomešćuju	N:m	nadomešćuju
nemogućnost	N:f	nemogućnost
da	CONJ	da
se	PAR	se
u	PREP	u
drugi	A:aem	drugi
medij	N:m	medij
prenesu	N:f	prenesu
sve	PRO	sav
nijanse	N:f	nijansa
likova	N:n	likovo
.	SENT	.
Martinov	N:m	Martinov
voice	N:f	voice
-	PUNCT	-
over	N:m	over
,	PUNCT	,
potencijalno	ADV	potencijalno
dubiozan	A:aem	dubiozan
jer	CONJ	jer
glas	N:m	glas
jednog	NUM	jedan
od	PREP	od
likova	N:n	likovo
čita	N:f	čita
naratorove	A:aef	naratorov
rečenice	N:f	rečenica
,	SENT	,
postaje	N:f	postaja
smisleniji	A:bem	smislen
ukoliko	CONJ	ukoliko
se	PAR	se
posmatra	N:f	posmatra
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
voice	N:f	voice
-	PUNCT	-
over	N:m	over
iz	PREP	iz
filma	N:m	film
L	N:n	L
.	SENT	.
A	CONJ	a
.	PUNCT	.
Story	N:m	Story
.	PUNCT	.
Čak	N:m	Čak
i	CONJ	i
bez	PREP	bez
toga	PRO	taj
,	PUNCT	,
zajedno	ADV	zajedno
sa	PREP	sa
muzikom	N:f	muzika
i	CONJ	i
kamerom	N:f	kamera
,	PUNCT	,
uspostavlja	N:n	uspostavlja
jednu	NUM	jedan
vrstu	N:f	vrsta
distance	N:f	distanca
prema	PREP	prema
likovima	N:m	lik
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
u	PREP	u
knjizi	N:f	knjiga
postignuta	V:n	postignuti
drugim	A:aem	drugi
sredstvima	N:n	sredstvo
.	SENT	.
Nije	N:m	Nije
svaka	PRO	svaki
naratorska	A:aef	naratorski
funkcija	N:f	funkcija
ista	A:aef	isti
,	PUNCT	,
a	CONJ	a
ova	PRO	ovaj
je	PRO	ona
jedna	NUM	jedan
od	PREP	od
najbizarnijih	A:cef	bizaran
viđenih	A:aef	viđen
i	CONJ	i
mislim	A:aef	mislim
da	CONJ	da
nije	A:aen	nije
pogrešna	A:aen	pogrešan
.	SENT	.
Problemi	N:m	problem
koji	PRO	koji
se	PAR	se
javljaju	N:m	javljaju
su	PREF	su
na	PREP	na
nivou	N:m	nivo
fabule	N:f	fabula
i	CONJ	i
potiču	N:f	potiču
iz	PREP	iz
romana	N:m	roman
.	SENT	.
U	PREP	u
poslednjoj	A:aef	poslednji
trećini	N:f	trećina
događaju	N:m	događaj
se	PAR	se
zabune	N:f	zabuna
i	CONJ	i
skretanja	N:n	skretanje
primerena	A:aef	primeren
romantičnoj	A:aef	romantičan
komediji	N:f	komedija
,	PUNCT	,
ali	CONJ	ali
prilično	ADV	prilično
zalutala	V:f	zalutati
u	PREP	u
priču	N:f	priča
o	PREP	o
egocentričnosti	N:f	egocentričnost
,	PUNCT	,
usamljenosti	N:f	usamljenost
i	CONJ	i
nesposobnosti	N:f	nesposobnost
razumevanja	N:n	razumevanje
.	SENT	.
Egocentričnosti	N:f	Egocentričnosti
jer	CONJ	jer
,	PUNCT	,
iako	CONJ	iako
nevoljno	A:aen	nevoljan
,	PUNCT	,
Rey	A:aem	Rey
Porter	N:m	Porter
na	PREP	na
kraju	N:m	kraj
ipak	PAR	ipak
koristi	N:f	korist
Mirabelle	N:m	Mirabelle
,	PUNCT	,
iako	CONJ	iako
su	N:m	su
mu	PRO	on
motivi	N:m	motiv
plemeniti	A:aem	plemenit
,	PUNCT	,
a	CONJ	a
ona	PRO	ona
je	PRO	ona
,	PUNCT	,
opet	ADV	opet
,	PUNCT	,
toliko	ADV	toliko
zatvorena	V:f	zatvoriti
u	PREP	u
svojoj	PRO	svoj
samonametnutoj	A:aef	samonametnutoj
usamljenosti	N:f	usamljenost
da	CONJ	da
je	PRO	ona
donekle	ADV	donekle
nejasno	ADV	nejasno
kojim	PRO	koji
ju	PRO	ona
je	PRO	ona
on	PRO	on
kvalitetima	N:m	kvalitet
privukao	V:m	privući
,	PUNCT	,
čime	PRO	šta
se	PAR	se
vraćamo	N:f	vraćamo
na	PREP	na
problem	N:m	problem
nerazumevanja	N:n	nerazumevanje
između	PREP	između
ljudi	N:m	ljudi
koji	PRO	koji
čini	N:f	čini
okosnicu	N:f	okosnica
teme	N:f	tema
filma	N:m	film
.	SENT	.
Kako	CONJ	kako
kaže	N:f	kaža
literarni	A:aem	literaran
Porter	N:m	Porter
,	PUNCT	,
i	CONJ	i
tek	CONJ	tek
tad	ADV	tad
on	PRO	on
uviđa	V:m	uviđa
šta	PRO	šta
je	PRO	ona
uradio	V:m	uraditi
Mirabelle	N:m	Mirabelle
.	SENT	.
Kako	ADV	kako
je	PRO	ona
naneo	V:m	naneti
štetu	N:f	šteta
i	CONJ	i
njoj	PRO	ona
i	CONJ	i
sebi	PRO	sebe
time	PRO	taj
što	CONJ	što
je	PRO	ona
želeo	V:m	želeti
samo	PAR	samo
četiri	NUM	četiri
kvadratna	A:aef	kvadratni
centimetra	N:m	centimetar
nje	PRO	ona
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
nju	PRO	ona
celu	A:aef	ceo
.	PUNCT	.
.	SENT	.
.	PUNCT	.
