Lik	N:m	lik
Džoni	N:m	Džoni
Ingliša	N:m	Ingliš
smo	N:f	smo
imali	V:m	imati
prilike	N:f	prilika
da	CONJ	da
upoznamo	N:n	upoznamo
u	PREP	u
istoimenom	A:aen	istoimen
ostvarenju	N:n	ostvarenje
iz	PREP	iz
2003	NUM	@card@
.	PUNCT	.
godine	N:f	godina
,	PUNCT	,
i	CONJ	i
ne	PAR	ne
bih	A:aem	bih
rekao	V:m	reći
da	CONJ	da
se	PAR	se
nešto	ADV	nešto
posebno	ADV	posebno
proslavio	V:m	proslaviti
,	PUNCT	,
za	PREP	za
mene	PRO	ja
jedna	NUM	jedan
od	PREP	od
slabijih	A:ben	slab
rola	N:f	rola
Rovena	A:aem	Rovena
Atkinsona	N:m	Atkinson
(	PUNCT	(
Rowan	N:m	Rowan
Atkinson	N:m	Atkinson
)	PUNCT	)
.	SENT	.
Posle	PREP	posle
osam	NUM	osam
godina	N:f	godina
pauze	N:f	pauza
,	PUNCT	,
Roven	A:aem	Roven
oživljava	A:aef	oživljava
franšizu	N:f	franšiza
i	CONJ	i
u	PREP	u
njoj	PRO	ona
ponovno	A:aen	ponovan
rađanje	N:n	rađanje
ovog	PRO	ovaj
zaista	PAR	zaista
specifičnog	A:aem	specifičan
britanskog	A:aem	britanski
tajnog	A:aem	tajni
agenta	N:m	agent
.	SENT	.
Iako	CONJ	iako
se	PAR	se
“	A:aem	“
Reborn	N:m	Reborn
”	N:m	”
može	A:aem	može
više	ADV	više
smatrati	A:aem	smatrati
nastavkom	N:m	nastavak
,	PUNCT	,
pošto	CONJ	pošto
se	PAR	se
priča	N:f	priča
faktički	A:aem	faktički
nastavlja	N:n	nastavlja
,	PUNCT	,
predhodno	ADV	predhodno
znanje	N:n	znanje
o	PREP	o
liku	N:f	lika
nije	A:aem	nije
neophodno	A:aen	neophodan
,	PUNCT	,
lako	ADV	lako
se	PAR	se
pohvata	A:aem	pohvata
koncept	N:m	koncept
.	SENT	.
Posle	PREP	posle
kolosalne	A:aef	kolosalan
greške	N:f	greška
koju	PRO	koji
je	PRO	ona
naš	PRO	naš
protagonista	N:m	protagonista
napravio	V:m	napraviti
na	PREP	na
misiji	N:f	misija
u	PREP	u
Mozambiku	N:m	Mozambik
,	PUNCT	,
on	PRO	on
biva	A:aen	biva
izbačen	V:m	izbaciti
iz	PREP	iz
službe	N:f	služba
što	CONJ	što
ga	PRO	on
je	PRO	ona
kasnije	ADV	kasnije
nateralo	V:n	naterati
da	CONJ	da
se	PAR	se
preseli	V:m	presesti
na	PREP	na
Tibet	N:m	Tibet
i	CONJ	i
trenira	N:m	trenira
sa	PREP	sa
monasima	N:m	monah
.	SENT	.
Kada	CONJ	kada
šefica	N:f	šefica
MI	N:m	MI
7	NUM	@card@
saznaje	N:m	saznaje
da	CONJ	da
postoji	N:m	postoji
zavera	N:f	zavera
da	CONJ	da
se	PAR	se
smakne	A:aem	smakne
kineski	A:aem	kineski
premijer	N:m	premijer
,	PUNCT	,
ona	PRO	ona
na	PREP	na
osnovu	N:f	osnova
insistiranja	N:n	insistiranje
ključnog	A:aen	ključnog
svedoka	N:m	svedok
poziva	N:m	poziv
Džonija	N:m	Džoni
Ingliša	N:m	Ingliš
da	CONJ	da
se	PAR	se
ponovo	ADV	ponovo
priključi	A:aef	priključi
službi	N:f	služba
i	CONJ	i
razreši	A:aen	razreši
ovaj	PRO	ovaj
slučaj	N:m	slučaj
.	SENT	.
Pored	PREP	pored
svog	PRO	svoj
novog	A:aem	nov
treninga	N:m	trening
i	CONJ	i
fantastičnih	A:aem	fantastičan
gedžeta	N:m	gedžet
,	PUNCT	,
Ingliš	N:m	Ingliš
ima	N:f	ima
i	CONJ	i
podršku	N:f	podrška
u	PREP	u
mladom	A:aem	mlad
agentu	N:m	agent
po	PREP	po
imenu	N:n	ime
Taker	N:m	Taker
da	CONJ	da
čitavu	A:aem	čitav
ovu	PRO	ovaj
zaveru	N:f	zavera
sami	PRO	sam
razreše	N:m	razreše
.	SENT	.
“	A:aem	“
Reborn	N:m	Reborn
”	N:m	”
isto	ADV	isto
kao	ADV	kao
i	CONJ	i
prvi	A:aem	prvi
deo	N:m	deo
predstavlja	N:n	predstavlja
kompletnu	A:aef	kompletan
parodiju	N:f	parodija
na	PREP	na
super	ADV	super
špijun	N:m	špijun
filmove	N:m	film
iz	PREP	iz
Džejms	N:m	Džejms
Bond	N:m	Bond
(	PUNCT	(
James	N:f	James
Bond	N:m	Bond
)	PUNCT	)
franšize	N:f	franšiza
,	PUNCT	,
ismevajući	V:m	ismevajući
svaki	PRO	svaki
dobro	ADV	dobro
poznati	A:aem	poznat
kliše	N:m	kliše
koji	PRO	koji
je	PRO	ona
učinio	V:m	učiniti
ovog	PRO	ovaj
agenta	N:m	agent
memorabilnim	A:aem	memorabilnim
.	PUNCT	.
Iako	CONJ	iako
su	N:m	su
dramatični	A:aem	dramatičan
momenti	N:m	moment
nedovoljno	ADV	nedovoljno
uverljivi	A:aem	uverljiv
i	CONJ	i
svaki	PRO	svaki
zaplet	N:m	zaplet
dosta	ADV	dosta
predvidiv	A:aem	predvidiv
,	PUNCT	,
smatram	N:m	smatram
da	CONJ	da
to	PRO	taj
treba	N:f	treba
posmatrati	N:m	posmatrati
iz	PREP	iz
drugačijeg	A:aem	drugačiji
ugla	N:m	ugao
nego	CONJ	nego
što	CONJ	što
to	PRO	taj
radite	N:m	radite
u	PREP	u
ostalim	A:aem	ostalim
filmovima	N:m	film
,	PUNCT	,
pošto	CONJ	pošto
sam	PRO	sam
siguran	A:aem	siguran
da	CONJ	da
je	PRO	ona
svaki	PRO	svaki
taj	PRO	taj
kliše	N:m	kliše
momenat	N:m	moment
tu	ADV	tu
da	CONJ	da
bi	A:aem	bi
bio	V:m	biti
ismejan	A:aem	ismejan
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
da	CONJ	da
stvori	N:m	stvori
sliku	N:f	slika
lenjog	A:aem	lenj
pisanja	N:n	pisanje
scenarija	N:m	scenario
.	SENT	.
Svaki	PRO	svaki
put	N:m	put
kada	CONJ	kada
vidite	N:m	vidite
momenat	N:m	moment
koji	PRO	koji
vam	PRO	vi
bude	A:aem	bude
delovao	V:m	delovati
suvišan	A:aem	suvišan
,	PUNCT	,
setite	V:n	setite
se	PAR	se
da	CONJ	da
je	PRO	ona
to	PRO	taj
ipak	PAR	ipak
parodija	N:f	parodija
te	PRO	taj
klasične	A:aem	klasičan
i	CONJ	i
lenje	A:aef	lenj
formule	N:f	formula
koja	PRO	koji
je	PRO	ona
hiljadu	ADV	hiljadu
puta	ADV	puta
u	PREP	u
Bond	N:m	Bond
filmovina	N:f	filmovina
korišćena	V:n	koristiti
da	CONJ	da
stvori	N:m	stvori
dodatno	ADV	dodatno
dramatičan	A:aem	dramatičan
momenat	N:m	moment
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
samog	PRO	sam
humora	N:m	humor
,	PUNCT	,
smatram	N:m	smatram
da	CONJ	da
je	PRO	ona
na	PREP	na
mnogo	ADV	mnogo
većem	A:ben	velik
nivou	N:m	nivo
nego	CONJ	nego
u	PREP	u
prvom	A:aen	prvi
delu	N:n	delo
.	SENT	.
Rovan	A:aem	rovan
Atkinson	N:m	Atkinson
je	PRO	ona
apsolutni	A:aem	apsolutan
kralj	N:m	kralj
“	A:aem	“
slapstick	N:m	slapstick
”	A:aem	”
komedije	N:f	komedija
,	PUNCT	,
i	CONJ	i
sguran	A:aem	sguran
sam	A:aem	sam
da	CONJ	da
će	A:aem	će
svi	PRO	sav
ljubitelji	N:m	ljubitelj
ove	PRO	ovaj
vrste	N:f	vrsta
humora	N:m	humor
u	PREP	u
potpunosti	N:f	potpunost
uživati	N:m	uživati
u	PREP	u
prezentaciji	N:f	prezentacija
njegovih	PRO	njegov
trikova	N:m	trik
kroz	PREP	kroz
lik	N:m	lik
arogantnog	A:aem	arogantan
i	CONJ	i
nepromišljenog	A:aem	nepromišljen
tajnog	A:aem	tajni
agenta	N:m	agent
.	PUNCT	.
Ishod	N:m	ishod
filma	N:m	film
jeste	INT	jeste
previše	ADV	previše
očigledan	A:aem	očigledan
i	CONJ	i
svi	PRO	sav
znamo	N:m	znamo
da	CONJ	da
u	PREP	u
koliko	ADV	koliko
god	PAR	god
lucidnu	A:aef	lucidan
i	CONJ	i
bizarnu	A:aef	bizaran
situaciju	N:f	situacija
upadne	A:aem	upadan
agent	N:m	agent
Ingliš	N:m	Ingliš
da	CONJ	da
će	N:f	će
na	PREP	na
kraju	N:m	kraj
opet	ADV	opet
naći	A:aen	naći
neki	PRO	neki
način	N:m	način
da	CONJ	da
spase	A:aem	spase
dan	N:m	dan
,	PUNCT	,
ali	CONJ	ali
rekavši	V:m	rekavši
to	PRO	taj
,	PUNCT	,
sekvence	N:f	sekvenca
su	N:m	su
zbilja	PAR	zbilja
urnebesne	A:aem	urnebesne
i	CONJ	i
stvarno	ADV	stvarno
je	PRO	ona
pravi	A:aem	prav
užitak	N:m	užitak
pratiti	N:m	pratiti
ovu	PRO	ovaj
više	ADV	više
nego	CONJ	nego
komičnu	A:aef	komičan
avanturu	N:f	avantura
.	SENT	.
Gluma	N:f	gluma
u	PREP	u
filmu	N:m	film
je	PRO	ona
solidna	A:aef	solidan
,	PUNCT	,
mislim	A:aem	mislim
da	CONJ	da
Rovanov	A:aem	Rovanov
performans	N:m	performans
ne	PAR	ne
treba	N:f	treba
puno	A:aen	pun
komentarisati	N:m	komentarisati
,	PUNCT	,
on	PRO	on
je	PRO	ona
zaista	PAR	zaista
genije	N:m	genije
,	PUNCT	,
a	CONJ	a
stekao	V:m	steći
sam	PRO	sam
i	CONJ	i
utisak	N:m	utisak
u	PREP	u
bioskopu	N:m	bioskop
da	CONJ	da
je	PRO	ona
dovoljna	A:aem	dovoljan
sama	PRO	sam
njegova	PRO	njegov
pojava	N:f	pojava
da	CONJ	da
se	PAR	se
ljudi	N:m	ljudi
rasplaču	A:aem	rasplaču
od	PREP	od
smeha	N:m	smeh
.	SENT	.
Jedna	NUM	jedan
od	PREP	od
kvalitetnijih	A:bem	kvalitetan
slapstick	N:m	slapstick
komedija	N:f	komedija
i	CONJ	i
parodija	N:f	parodija
koje	PRO	koji
sam	PRO	sam
u	PREP	u
poslednje	A:aen	poslednji
vreme	N:n	vreme
imao	V:m	imati
prilike	N:f	prilika
da	CONJ	da
pogledam	N:m	pogledam
,	PUNCT	,
ako	CONJ	ako
ste	A:aem	ste
ljubitelj	N:m	ljubitelj
ovako	ADV	ovako
nečeg	PRO	nešto
,	PUNCT	,
sve	PRO	sav
preporuke	N:f	preporuka
.	SENT	.
