Film	N:m	film
“	N:m	“
Ustanička	A:aef	Ustanička
ulica	N:f	ulica
”	N:m	”
je	PRO	ona
veliki	A:aem	velik
broj	N:m	broj
ljudi	N:m	ljudi
kupio	V:m	kupiti
u	PREP	u
startu	N:m	start
pomoću	PREP	pomoću
svog	PRO	svoj
zbilja	PAR	zbilja
spektakularno	A:aen	spektakularan
trejlera	N:m	trejler
koji	PRO	koji
odiše	V:m	odiše
ozbiljnošću	N:f	ozbiljnost
i	CONJ	i
profesionalizmom	N:m	profesionalizam
na	PREP	na
nivou	N:m	nivo
sa	PREP	sa
kojim	PRO	koji
se	PAR	se
na	PREP	na
ovim	PRO	ovaj
prostorima	N:m	prostor
baš	PAR	baš
tako	ADV	tako
često	ADV	često
i	CONJ	i
ne	PAR	ne
srećemo	N:f	srećemo
.	SENT	.
Moram	N:m	Moram
priznati	A:aem	priznat
da	CONJ	da
sam	PRO	sam
se	PAR	se
sam	PRO	sam
našao	V:m	naći
u	PREP	u
gore	ADV	gore
pomenutoj	A:aef	pomenut
grupi	N:f	grupa
jer	CONJ	jer
ova	PRO	ovaj
izuzetno	ADV	izuzetno
izmontirana	V:m	izmontirana
dvominutna	A:aef	dvominutna
prezentacija	N:f	prezentacija
je	PRO	ona
obećavala	V:f	obećavati
jedan	NUM	jedan
zaista	ADV	zaista
interesantan	A:aem	interesantan
krimi	N:m	krimi
triler	N:m	triler
.	SENT	.
Priča	A:aem	Priča
filma	N:m	film
prati	N:f	prati
mladog	A:aen	mlad
asistenta	N:m	asistent
tužioca	N:m	tužilac
za	PREP	za
ratne	A:aef	ratni
zločine	N:m	zločin
Dušana	N:m	Dušan
Ilića	N:m	Ilić
,	PUNCT	,
koji	PRO	koji
posle	PREP	posle
godinu	N:f	godina
dana	N:m	dan
staža	N:m	staž
napokon	ADV	napokon
dobija	N:n	dobija
svoj	PRO	sav
prvi	A:aem	prvi
slučaj	N:m	slučaj
,	PUNCT	,
ali	CONJ	ali
mora	N:n	more
da	CONJ	da
ga	PRO	on
drži	N:m	drži
u	PREP	u
strogoj	A:aef	strog
tajnosti	N:f	tajnost
.	SENT	.
Predmet	N:m	predmet
koji	PRO	koji
je	PRO	ona
uručen	V:m	uručiti
Dušanu	N:m	Dušan
je	PRO	ona
naizgled	ADV	naizgled
zatvoren	V:m	zatvoriti
i	CONJ	i
smatran	V:m	smatrati
kao	ADV	kao
zastareli	A:aem	zastareo
slučaj	N:m	slučaj
,	PUNCT	,
ali	CONJ	ali
ono	PRO	onaj
što	CONJ	što
će	V:m	će
naš	PRO	naš
protagonista	N:m	protagonista
ovde	ADV	ovde
pronaći	A:aem	pronaći
će	N:m	će
mu	PRO	on
zauvek	ADV	zauvek
promeniti	A:aem	promeniti
život	N:m	život
.	SENT	.
Dušan	N:m	Dušan
ubrzo	ADV	ubrzo
uočava	A:aem	uočava
da	CONJ	da
su	PREF	su
dokazi	N:m	dokaz
nepotpuni	A:aem	nepotpun
i	CONJ	i
da	CONJ	da
su	N:m	su
velike	A:aem	velik
zavere	N:f	zavera
ovim	PRO	ovaj
paravanom	N:m	paravan
zataškane	V:f	zataškati
.	SENT	.
Spletom	N:m	splet
okolnosti	N:f	okolnost
,	PUNCT	,
Dušan	N:m	Dušan
nailazi	N:m	nailazi
na	PREP	na
čoveka	N:m	čovek
koji	PRO	koji
pored	PREP	pored
toga	PRO	taj
što	CONJ	što
je	PRO	ona
smatran	A:aem	smatran
mrtvim	A:aem	mrtav
,	PUNCT	,
predstavlja	N:n	predstavlja
ključni	A:aem	ključni
deo	N:m	deo
slagalice	N:f	slagalica
koji	PRO	koji
će	N:f	će
mu	PRO	on
otvoriti	N:m	otvoriti
oči	N:f	oči
kakvi	PRO	kakav
se	PAR	se
sve	PRO	sav
ulozi	N:f	uloga
i	CONJ	i
igrači	N:m	igrač
kriju	N:f	kriju
iza	PREP	iza
ove	PRO	ovaj
zavere	N:f	zavera
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
mi	PRO	ja
je	PRO	ona
već	PAR	već
na	PREP	na
samom	PRO	sam
trejleru	N:m	trejler
upalo	V:n	upasti
u	PREP	u
oko	N:n	oko
jeste	INT	jeste
to	PRO	taj
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
projekat	N:m	projekt
produkcijski	A:aem	produkcijski
dosta	ADV	dosta
napredniji	A:bem	napredan
od	PREP	od
onoga	PRO	onaj
na	PREP	na
šta	PRO	šta
smo	N:f	smo
navikli	V:m	naviknuti
da	CONJ	da
vidimo	N:f	vidimo
u	PREP	u
domaćim	A:aem	domaći
filmovima	N:m	film
.	SENT	.
Tehnički	A:aem	Tehnički
je	PRO	ona
solidan	A:aem	solidan
,	PUNCT	,
“	N:m	“
Ustanička	A:aef	Ustanička
ulica	N:f	ulica
”	N:m	”
je	PRO	ona
vrlo	ADV	vrlo
kvalitetno	ADV	kvalitetno
snimljen	V:m	snimiti
i	CONJ	i
izrežiran	V:m	izrežirati
film	N:m	film
,	PUNCT	,
imajući	A:aem	imajući
u	PREP	u
sebi	PRO	sebe
mnoštvo	N:n	mnoštvo
odličnih	A:aem	odličan
kadrova	N:m	kadar
.	SENT	.
Sam	A:aem	sam
scenario	N:m	scenario
iako	CONJ	iako
je	PRO	ona
prilično	ADV	prilično
lepo	ADV	lepo
napisan	V:m	napisati
,	PUNCT	,
bez	PREP	bez
nekih	PRO	neki
lucidnih	A:aef	lucidan
i	CONJ	i
iritantnih	A:aef	iritantan
propusta	N:m	propust
,	PUNCT	,
ipak	PAR	ipak
nekako	ADV	nekako
previše	ADV	previše
vuče	N:m	vuk
na	PREP	na
američke	A:aem	američki
trilere	N:m	triler
,	PUNCT	,
imajući	A:aen	imajući
mnošto	N:n	mnošto
okreta	N:m	okret
i	CONJ	i
segmenata	N:m	segment
koje	PRO	koji
smo	N:f	smo
navikli	V:m	naviknuti
da	CONJ	da
viđamo	V:m	viđamo
u	PREP	u
Holivudskim	N:m	Holivudskim
ostvarenjima	N:n	ostvarenje
.	SENT	.
Svaki	PRO	svaki
malo	ADV	malo
iskusniji	A:bem	iskusan
filmofil	N:m	filmofil
koji	PRO	koji
poseduje	N:m	poseduje
solidno	ADV	solidno
znanje	N:n	znanje
o	PREP	o
američkim	A:aem	američki
krimi	N:m	krimi
trilerima	N:m	triler
olako	ADV	olako
će	A:aem	će
prepoznati	A:aem	prepoznat
te	CONJ	te
klasične	A:aem	klasičan
postavke	N:f	postavka
i	CONJ	i
sigurno	A:aen	siguran
će	N:n	će
mu	PRO	on
većinski	A:aem	većinski
deo	N:m	deo
filma	N:m	film
biti	N:f	bit
izuzetno	ADV	izuzetno
predvidiv	A:aem	predvidiv
.	SENT	.
Drugi	A:aem	drugi
veći	A:bem	velik
problem	N:m	problem
filma	N:m	film
kod	PREP	kod
većine	N:f	većina
posmatrača	N:m	posmatrač
može	A:aem	može
da	CONJ	da
bude	A:aem	bude
njegov	PRO	njegov
spor	A:aem	spor
tempo	N:m	tempo
,	PUNCT	,
pogotovo	ADV	pogotovo
u	PREP	u
prvoj	A:aef	prvi
trećini	N:f	trećina
celokupnog	A:aem	celokupan
trajanja	N:n	trajanje
.	SENT	.
Meni	PRO	ja
konkretno	ADV	konkretno
ovako	ADV	ovako
nešto	ADV	nešto
ne	PAR	ne
smeta	N:m	smet
jer	CONJ	jer
smatram	N:m	smatram
da	CONJ	da
praćenje	N:n	praćenje
likova	N:n	likovo
u	PREP	u
obavljanju	N:n	obavljanje
nekih	PRO	neki
trivijalnih	A:aef	trivijalan
aktivnosti	N:f	aktivnost
dosta	ADV	dosta
pomaže	V:m	pomaže
pri	PREP	pri
dubljoj	A:bef	dubok
karakternoj	A:aef	karakteran
studiji	N:f	studija
i	CONJ	i
prezentovanju	N:n	prezentovanje
istih	A:aef	isti
,	PUNCT	,
ali	CONJ	ali
primetio	V:m	primetiti
sam	PRO	sam
da	CONJ	da
je	PRO	ona
određeni	V:m	odrediti
broj	N:m	broj
ljudi	N:m	ljudi
iz	PREP	iz
bioskopske	A:aef	bioskopski
sale	N:f	sala
negodovao	V:m	negodovati
ovaj	PRO	ovaj
izbor	N:m	izbor
reditelja	N:m	reditelj
.	SENT	.
Kvalitet	N:m	kvalitet
glume	N:f	gluma
je	PRO	ona
impresivan	A:aem	impresivan
.	PUNCT	.
Pored	PREP	pored
toga	PRO	taj
što	CONJ	što
nikako	PAR	nikako
nisam	N:m	nisam
fan	N:m	fan
Gordana	N:f	Gordana
Kičića	N:m	Kičić
i	CONJ	i
opet	ADV	opet
nije	V:m	nije
uspeo	V:m	uspeti
u	PREP	u
potpunosti	N:f	potpunost
da	CONJ	da
me	PRO	ja
ubedi	N:f	ubedi
da	CONJ	da
je	PRO	ona
on	PRO	on
pravi	A:aem	prav
izbor	N:m	izbor
za	PREP	za
ovu	PRO	ovaj
ulogu	N:f	uloga
,	PUNCT	,
moram	N:m	moram
reći	A:aef	reći
da	CONJ	da
su	PREF	su
mu	PRO	on
ovo	PRO	ovaj
jedni	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
momenata	N:m	moment
na	PREP	na
filmu	N:m	film
.	SENT	.
Kičić	N:m	Kičić
ima	A:aem	ima
odličnu	A:aef	odličan
podršku	N:f	podrška
u	PREP	u
Radetu	N:m	Rade
Šerbedžiji	N:m	Šerbedžija
i	CONJ	i
Uliksu	N:m	Uliksu
Fehmiu	N:m	Fehmiu
,	PUNCT	,
čiji	PRO	čiji
odlični	A:aem	odličan
performansi	N:f	performansa
definitivno	ADV	definitivno
kupe	N:f	kupa
svu	PRO	sav
pažnju	N:f	pažnja
publike	N:f	publika
.	SENT	.
Dodatno	ADV	dodatno
bih	A:aen	bih
želeo	V:m	želeti
da	CONJ	da
istanem	N:n	istanem
i	CONJ	i
Petra	N:f	Petra
Božovića	N:m	Božović
koji	PRO	koji
je	PRO	ona
opet	ADV	opet
izvanredan	A:aem	izvanredan
u	PREP	u
epizodnoj	A:aef	epizodan
roli	N:f	rola
.	SENT	.
“	A:aem	“
Ustanička	A:aem	Ustanička
ulica	N:f	ulica
”	N:m	”
je	PRO	ona
jedan	NUM	jedan
izuzetno	ADV	izuzetno
emotivno	A:aen	emotivan
težak	A:aem	težak
i	CONJ	i
napet	A:aem	napet
triler	N:m	triler
,	PUNCT	,
koji	PRO	koji
iako	CONJ	iako
ne	PAR	ne
nudi	N:f	nudi
neku	PRO	neki
posebnu	A:aen	poseban
inovativnost	N:f	inovativnost
u	PREP	u
priči	N:f	priča
i	CONJ	i
narativu	N:f	narativu
,	PUNCT	,
daje	N:m	daje
projekat	N:m	projekt
vredan	A:aem	vredan
gledanje	N:n	gledanje
ako	CONJ	ako
ni	PAR	ni
zbog	PREP	zbog
čega	PRO	šta
drugog	A:aem	drugi
,	PUNCT	,
onda	ADV	onda
zbog	PREP	zbog
izuzetnih	A:aen	izuzetan
dramatičnih	A:aef	dramatičan
performansa	N:f	performansa
glumačke	A:aef	glumački
ekipe	N:f	ekipa
.	SENT	.
“	A:aem	“
Ustanička	A:aem	Ustanička
ulica	N:f	ulica
”	N:m	”
je	PRO	ona
svakako	PAR	svakako
trijumf	N:m	trijumf
i	CONJ	i
veliko	A:aen	velik
osveženje	N:n	osveženje
za	PREP	za
domaću	A:aef	domaći
filmsku	A:aef	filmski
scenu	N:f	scena
.	SENT	.
