Kao	ADV	kao
jedan	NUM	jedan
od	PREP	od
favorita	N:m	favorit
segmenta	N:m	segment
FEST	N:m	fest
-	PUNCT	-
a	CONJ	a
koji	PRO	koji
se	PAR	se
bavi	V:m	bavi
dokumentarnim	A:aem	dokumentaran
,	PUNCT	,
kao	CONJ	kao
inspiracijom	N:f	inspiracija
ili	CONJ	ili
samo	PAR	samo
tehnikom	N:f	tehnika
(	PUNCT	(
'	A:aem	'
Činjenice	N:f	Činjenice
i	CONJ	i
slagalice	N:f	slagalica
'	N:m	'
)	PUNCT	)
,	PUNCT	,
izdvaja	N:m	izdvaja
se	PAR	se
ovaj	PRO	ovaj
prošlogodišnji	A:aem	prošlogodišnji
film	N:m	film
dvojice	N:f	dvojica
čeških	A:aem	češki
debitanata	N:m	debitant
-	PUNCT	-
Vita	N:m	Vita
Klusaka	N:f	Klusaka
i	CONJ	i
Filipa	N:m	Filip
Remunde	N:m	Remunde
.	SENT	.
Ime	N:n	ime
filma	N:m	film
je	PRO	ona
i	CONJ	i
ime	N:n	ime
glavnog	A:aen	glavnog
lika	N:m	lik
/	A:aem	/
objekta	N:m	objekt
u	PREP	u
filmu	N:m	film
-	PUNCT	-
hipermarketa	N:m	hipermarket
koji	PRO	koji
postoji	N:m	postoji
samo	PAR	samo
kao	ADV	kao
objekat	N:m	objekt
marketinške	A:aef	marketinški
kampanje	N:f	kampanja
kojom	PRO	koji
upravlja	A:aem	upravlja
mladi	A:aem	mlad
rediteljski	A:aem	rediteljski
duo	N:m	duo
.	SENT	.
Ključna	A:aef	Ključna
reč	N:f	reč
,	PUNCT	,
bez	PREP	bez
koje	PRO	koji
bi	N:f	bi
ovaj	PRO	ovaj
film	N:m	film
verovatno	PAR	verovatno
ostao	V:m	ostati
samo	PAR	samo
ideja	N:f	ideja
,	PUNCT	,
je	PRO	ona
hrabrost	N:f	hrabrost
.	SENT	.
Hrabrost	N:f	hrabrost
koju	PRO	koji
su	N:m	su
imali	V:m	imati
pre	PREP	pre
svega	PRO	sav
reditelji	N:m	reditelj
/	A:aem	/
scenaristi	N:m	scenarista
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
svi	PRO	sav
ostali	V:m	ostati
u	PREP	u
hijerarhiji	N:f	hijerarhija
kreiranja	N:n	kreiranje
kampanje	N:f	kampanja
:	PUNCT	:
marketinška	A:aef	marketinški
agencija	N:f	agencija
,	PUNCT	,
fotografi	N:m	fotograf
,	PUNCT	,
hor	N:m	hor
,	PUNCT	,
spikeri	N:m	spiker
,	PUNCT	,
glumci	N:m	glumac
,	PUNCT	,
slučajni	A:aem	slučajan
prolaznici	N:m	prolaznik
ali	CONJ	ali
i	CONJ	i
ministarstvo	N:n	ministarstvo
kulture	N:f	kultura
(	PUNCT	(
kao	CONJ	kao
jedan	NUM	jedan
od	PREP	od
finansijera	N:m	finansijer
filma	N:m	film
)	PUNCT	)
.	SENT	.
.	PUNCT	.
.	SENT	.
Ispostavilo	V:n	ispostaviti
se	PAR	se
da	CONJ	da
ministarstvo	N:n	ministarstvo
kulture	N:f	kultura
uopšte	ADV	uopšte
nije	A:aem	nije
bilo	V:n	biti
toliko	ADV	toliko
hrabro	ADV	hrabro
koliko	ADV	koliko
ne	PAR	ne
čita	N:f	čita
scenarija	N:m	scenario
za	PREP	za
filmove	N:m	film
koje	PRO	koji
novčano	ADV	novčano
pomaže	V:m	pomaže
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
je	PRO	ona
već	PAR	već
njihov	PRO	njihov
problem	N:m	problem
.	SENT	.
To	PRO	taj
je	PRO	ona
hrabra	A:aef	hrabar
ideja	N:f	ideja
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
svoju	PRO	svoj
proveru	N:f	provera
u	PREP	u
stvarnosti	N:f	stvarnost
trebalo	V:n	trebati
da	CONJ	da
doživi	A:aem	doživi
kroz	PREP	kroz
odziv	N:m	odziv
određenog	A:aem	određenog
broja	N:m	broj
ljudi	N:m	ljudi
da	CONJ	da
se	PAR	se
pojavi	N:f	pojava
određenog	A:aem	određenog
dana	N:m	dan
u	PREP	u
određeno	V:n	odrediti
vreme	N:n	vreme
na	PREP	na
određenom	A:aen	određenom
mestu	N:n	mesto
gde	CONJ	gde
bi	N:n	bi
trebalo	V:n	trebati
da	CONJ	da
bude	A:aem	bude
otvoren	A:aem	otvoren
Češki	A:aem	Češki
san	N:m	san
-	PUNCT	-
hipermarket	N:m	hipermarket
iz	PREP	iz
snova	N:m	san
,	PUNCT	,
jevtiniji	A:bem	jevtin
od	PREP	od
drugih	A:aen	drugi
,	PUNCT	,
i	CONJ	i
pun	A:aem	pun
iznenađenja	N:n	iznenađenje
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Tokom	PREP	tokom
filma	N:m	film
pratimo	N:f	pratimo
proces	N:m	proces
stvaranja	N:n	stvaranje
imidža	N:m	imidž
,	PUNCT	,
kako	CONJ	kako
promotera	N:m	promoter
/	A:aem	/
menadžera	N:m	menadžer
hipermarketa	N:m	hipermarket
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
stvaranja	N:n	stvaranje
kompletnog	A:aem	kompletan
vizuelnog	A:aem	vizuelan
identiteta	N:m	identitet
,	PUNCT	,
pratećih	A:aem	prateći
slogana	N:m	slogan
i	CONJ	i
reklama	N:f	reklama
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
himne	N:f	himna
Česki	A:aem	Česki
san	N:m	san
.	SENT	.
Zanimljivo	ADV	zanimljivo
je	PRO	ona
da	CONJ	da
je	PRO	ona
rešenje	N:n	rešenje
bilborda	N:m	bilbord
koji	PRO	koji
je	PRO	ona
zaista	PAR	zaista
bio	V:m	biti
svuda	ADV	svuda
po	PREP	po
gradu	N:m	grad
,	PUNCT	,
verovatno	ADV	verovatno
i	CONJ	i
državi	N:f	država
,	PUNCT	,
završilo	V:n	završiti
kao	CONJ	kao
plakat	N:m	plakat
filma	N:m	film
.	SENT	.
Logo	N:m	Logo
za	PREP	za
nepostojeći	A:aem	nepostojeći
,	PUNCT	,
ali	CONJ	ali
reklamirani	A:aem	reklamiran
hipermarket	N:m	hipermarket
završio	V:m	završiti
je	PRO	ona
kao	CONJ	kao
logo	N:f	loga
za	PREP	za
film	N:m	film
o	PREP	o
nepostojećem	A:aem	nepostojeći
hipermarketu	N:m	hipermarket
.	SENT	.
Upravo	ADV	upravo
tako	ADV	tako
i	CONJ	i
film	N:m	film
postepeno	ADV	postepeno
postaje	N:f	postaja
trkač	N:m	trkač
koji	PRO	koji
se	PAR	se
takmiči	V:m	takmiči
sa	PREP	sa
stvarnošću	N:f	stvarnost
,	PUNCT	,
i	CONJ	i
u	PREP	u
trenutku	N:m	trenutak
kada	CONJ	kada
se	PAR	se
gomila	N:f	gomila
kupaca	N:m	kupac
/	A:aem	/
potrošača	N:m	potrošač
ranoranilaca	N:m	ranoranilac
približava	N:f	približava
livadi	N:f	livada
i	CONJ	i
ogradi	N:f	ograda
koja	PRO	koji
ih	PRO	ona
deli	N:m	Deli
od	PREP	od
Češkog	A:aem	Češkog
sna	N:m	san
,	PUNCT	,
granica	N:f	granica
dokumentarnog	A:aem	dokumentaran
i	CONJ	i
režiranog	A:aem	režiran
postaje	N:f	postaja
beskonačno	ADV	beskonačno
mala	A:aen	mali
.	SENT	.
Nekoliko	ADV	nekoliko
hiljada	N:f	hiljada
ljudi	N:m	ljudi
bilo	V:n	biti
je	PRO	ona
prevareno	A:aen	prevaren
,	PUNCT	,
Češki	A:aem	Češki
san	N:m	san
je	PRO	ona
bio	V:m	biti
samo	PAR	samo
jedna	NUM	jedan
platnena	A:aef	platnen
šarena	A:aef	šaren
laža	N:f	laža
na	PREP	na
skelama	N:f	skela
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Takva	PRO	takav
stvarnost	N:f	stvarnost
naišla	V:f	naići
je	PRO	ona
na	PREP	na
podeljena	A:aen	podeljen
mišljenja	N:n	mišljenje
i	CONJ	i
ubrzo	ADV	ubrzo
je	PRO	ona
Česki	A:aem	Česki
san	N:m	san
bio	V:m	biti
tema	N:f	tema
svih	PRO	sav
rasprava	N:f	rasprava
.	PUNCT	.
.	SENT	.
.	PUNCT	.
što	CONJ	što
više	ADV	više
i	CONJ	i
nema	A:aem	nem
toliko	ADV	toliko
veze	N:f	veza
sa	PREP	sa
filmom	N:m	film
.	SENT	.
Redosled	N:m	redosled
događanja	N:n	događanje
u	PREP	u
filmu	N:m	film
je	PRO	ona
hronološki	ADV	hronološki
,	PUNCT	,
i	CONJ	i
montaža	N:f	montaža
dosta	ADV	dosta
sporija	A:bef	spor
od	PREP	od
očekivane	A:aef	očekivan
za	PREP	za
hiper	PREF	hiper
-	PUNCT	-
svet	N:m	svet
koji	PRO	koji
se	PAR	se
opisuje	N:m	opisuje
.	SENT	.
To	PRO	taj
može	A:aem	može
da	CONJ	da
bude	A:aem	bude
mana	N:f	mana
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
time	PRO	taj
ostavilo	V:n	ostaviti
dosta	ADV	dosta
vremena	N:n	vreme
za	PREP	za
sagledavanje	N:n	sagledavanje
celog	A:aem	ceo
jednog	NUM	jedan
sveta	A:aef	svet
pozadine	N:f	pozadina
kreiranja	N:n	kreiranje
velike	A:aem	velik
reklamne	A:aef	reklamni
kampanje	N:f	kampanja
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
bila	V:f	biti
ova	PRO	ovaj
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
razna	A:aen	razna
pitanja	N:n	pitanje
koja	PRO	koji
bi	A:aem	bi
gledalac	N:m	gledalac
imao	V:m	imati
o	PREP	o
događajima	N:m	događaj
za	PREP	za
vreme	N:n	vreme
i	CONJ	i
posle	PREP	posle
filma	N:m	film
(	PUNCT	(
'	N:m	'
šta	PRO	šta
je	PRO	ona
bilo	V:n	biti
posle	PREP	posle
'	N:m	'
,	PUNCT	,
'	N:m	'
da	CONJ	da
li	PAR	li
ih	PRO	ona
je	PRO	ona
neko	PRO	neki
tužio	V:m	tužiti
'	N:m	'
.	PUNCT	.
.	SENT	.
.	PUNCT	.
)	SENT	)
,	PUNCT	,
na	PREP	na
platnu	N:n	platno
nisu	N:m	nisu
dobila	V:n	dobiti
odgovor	N:m	odgovor
,	PUNCT	,
što	CONJ	što
će	A:aen	će
verovatno	A:aen	verovatan
biti	N:f	bit
ispravljeno	V:n	ispraviti
na	PREP	na
budućem	A:aen	budući
DVD	A:aen	DVD
izdanju	N:n	izdanje
.	SENT	.
Sve	PRO	sav
ovo	PRO	ovaj
je	PRO	ona
bio	V:m	biti
veliki	A:aem	velik
skandal	N:m	skandal
u	PREP	u
Češkoj	N:f	Češka
,	PUNCT	,
što	CONJ	što
je	PRO	ona
dodatno	ADV	dodatno
doprinelo	V:n	doprineti
promociji	N:f	promocija
filma	N:m	film
u	PREP	u
bioskopima	N:m	bioskop
koji	PRO	koji
tek	PAR	tek
odnedavno	ADV	odnedavno
tu	ADV	tu
i	CONJ	i
tamo	ADV	tamo
imaju	N:f	imaju
dokumentarni	A:aem	dokumentaran
film	N:m	film
na	PREP	na
repertoaru	N:m	repertoar
.	SENT	.
Za	PREP	za
vreme	N:n	vreme
Festa	N:m	Fest
film	N:m	film
još	ADV	još
uvek	ADV	uvek
nije	V:m	nije
bio	V:m	biti
otkupljen	V:m	otkupiti
za	PREP	za
bioskope	N:m	bioskop
u	PREP	u
SCG	N:f	SCG
,	PUNCT	,
što	CONJ	što
je	PRO	ona
velika	A:aen	velik
šteta	N:f	šteta
i	CONJ	i
nadamo	N:f	nadamo
se	PAR	se
da	CONJ	da
neće	A:aem	neće
ostati	N:m	ostati
tako	ADV	tako
.	SENT	.
