Nikada	ADV	nikada
se	PAR	se
nisam	N:m	nisam
sreo	V:m	sresti
sa	PREP	sa
nekim	PRO	neki
ko	PRO	ko
pati	N:m	pati
od	PREP	od
Alchajmerove	A:aef	Alchajmerov
bolesti	N:f	bolest
ali	CONJ	ali
sam	PRO	sam
razgovarao	V:m	razgovarati
sa	PREP	sa
onima	PRO	onaj
koji	PRO	koji
jesu	A:aen	jesu
.	PUNCT	.
Kažu	A:aen	Kažu
da	CONJ	da
je	PRO	ona
to	PRO	taj
bolest	N:f	bolest
koja	PRO	koji
više	ADV	više
pogađa	A:aen	pogađa
okruženje	N:n	okruženje
nego	CONJ	nego
obolelog	A:aem	oboleo
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
,	PUNCT	,
da	CONJ	da
ostali	V:m	ostati
moraju	N:m	moraju
da	CONJ	da
gledaju	N:m	gledaju
,	PUNCT	,
kako	CONJ	kako
ta	PRO	taj
osoba	N:f	osoba
polako	ADV	polako
tone	N:f	tona
u	PREP	u
zaborav	N:m	zaborav
.	SENT	.
Od	PREP	od
mlade	A:aef	mlad
kanadske	A:aef	kanadski
režiserke	N:f	režiserka
i	CONJ	i
glumice	N:f	glumica
Sare	N:f	Sara
Poli	N:f	Pola
stiže	A:aem	stiže
nam	PRO	mi
’	N:m	’
’	A:aem	’
Away	A:aem	Away
from	N:m	from
her	N:m	Her
’	A:aem	’
’	N:m	’
.	SENT	.
Nominovan	V:m	nominovati
za	PREP	za
dva	NUM	dva
Oskara	N:m	Oskar
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
najpriznatijih	A:cef	priznat
filmova	N:m	film
2006	NUM	@card@
.	PUNCT	.
godine	N:f	godina
.	PUNCT	.
Fioni	N:f	Fiona
i	CONJ	i
Obriju	N:m	Obri
,	PUNCT	,
nakod	N:m	nakod
četrdeset	NUM	četrdeset
pet	NUM	pet
godina	N:f	godina
braka	N:m	brak
,	PUNCT	,
život	N:m	život
naglo	A:aen	nagao
postaje	N:f	postaja
ptpuno	N:f	ptpuno
drugačiji	A:aem	drugačiji
kada	CONJ	kada
Fiona	N:f	Fiona
počne	A:aem	počne
da	CONJ	da
pada	N:m	pad
u	PREP	u
demenciju	N:f	demencija
.	SENT	.
Nespremni	A:aem	nespreman
za	PREP	za
novonastalu	A:aef	novonastalu
situaciju	N:f	situacija
,	PUNCT	,
odlučuju	N:m	odlučuju
da	CONJ	da
Fionu	N:f	Fiona
smeste	N:n	smeste
u	PREP	u
starački	A:aem	starački
dom	N:m	dom
.	SENT	.
Od	PREP	od
Obrija	N:m	Obri
se	PAR	se
zahteva	N:m	zahtev
da	CONJ	da
ostavi	N:f	ostava
svoju	PRO	svoj
ženu	N:f	žena
,	PUNCT	,
i	CONJ	i
ne	PAR	ne
posećuje	N:m	posećuje
je	PRO	ona
30	NUM	@card@
dana	N:m	dan
.	SENT	.
Teška	A:aen	Teška
srca	N:n	srce
,	PUNCT	,
on	PRO	on
pristaje	N:m	pristaje
na	PREP	na
uslove	N:m	uslov
i	CONJ	i
kada	CONJ	kada
se	PAR	se
vrati	N:m	vrati
,	PUNCT	,
nakon	PREP	nakon
čitavog	A:aen	čitav
meseca	N:m	mesec
odvojenosti	N:f	odvojenost
,	PUNCT	,
shvata	N:m	shvata
da	CONJ	da
ga	PRO	on
se	PAR	se
Fiona	N:f	Fiona
više	ADV	više
i	CONJ	i
ne	PAR	ne
seća	N:n	seća
i	CONJ	i
da	CONJ	da
je	PRO	ona
u	PREP	u
domu	N:m	dom
započela	V:n	započeti
neobičnu	A:aef	neobičan
vezu	N:f	veza
sa	PREP	sa
drugim	A:aem	drugi
muškarcem	N:m	muškarac
.	PUNCT	.
Kako	CONJ	kako
biste	N:f	bista
se	PAR	se
nosili	V:m	nositi
sa	PREP	sa
tim	PRO	taj
da	CONJ	da
vas	PRO	vi
je	PRO	ona
neko	PRO	neki
,	PUNCT	,
s	PREP	s
kim	PRO	ko
ste	N:m	ste
proveli	V:m	provesti
preko	PREP	preko
četiri	NUM	četiri
decenije	N:f	decenija
,	PUNCT	,
potpuno	ADV	potpuno
zaboravio	V:m	zaboraviti
?	PUNCT	?
Sara	N:f	Sara
Poli	N:f	Pola
(	PUNCT	(
Sarah	N:m	Sarah
Polley	N:m	Polley
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
se	PAR	se
bavi	A:aem	bavi
glumom	N:f	gluma
od	PREP	od
svoje	PRO	svoj
šeste	A:aef	šesti
godine	N:f	godina
,	PUNCT	,
imala	V:f	imati
je	PRO	ona
svega	ADV	svega
dvadeset	NUM	dvadeset
sedam	NUM	sedam
godina	N:f	godina
kada	CONJ	kada
je	PRO	ona
režirala	V:f	režirati
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Adaptacijom	N:f	adaptacija
kratke	A:aef	kratak
priče	N:f	priča
’	A:aem	’
’	N:m	’
The	INT	The
bear	N:m	bear
came	N:m	came
over	N:m	over
the	N:m	the
mountain	A:aem	mountain
’	N:m	’
’	A:aem	’
spisateljice	N:f	spisateljica
Alis	N:f	Alis
Munro	N:m	Munro
(	PUNCT	(
Alice	N:f	Alice
Munro	N:m	Munro
)	PUNCT	)
,	PUNCT	,
pokzuje	N:m	pokzuje
neverovatnu	A:aef	neverovatan
zrelost	N:f	zrelost
za	PREP	za
svoje	PRO	svoj
godine	N:f	godina
i	CONJ	i
sposobnost	N:f	sposobnost
da	CONJ	da
se	PAR	se
poveže	V:m	poveže
sa	PREP	sa
likovima	N:m	lik
koje	PRO	koji
je	PRO	ona
prenela	V:f	preneti
na	PREP	na
ekran	N:m	ekran
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
na	PREP	na
njenu	PRO	njen
mladost	N:f	mladost
,	PUNCT	,
i	CONJ	i
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
pokazala	V:f	pokazati
do	PREP	do
sada	ADV	sada
,	PUNCT	,
od	PREP	od
nje	PRO	ona
možemo	A:aen	možemo
da	CONJ	da
očekujemo	A:aen	očekujemo
kvalitetne	A:aef	kvalitetan
filmove	N:m	film
.	SENT	.
Da	CONJ	da
bi	A:aem	bi
ovakav	PRO	ovakav
film	N:m	film
bio	V:m	biti
potpun	A:aem	potpun
i	CONJ	i
funkcionalan	A:aem	funkcionalan
,	PUNCT	,
glumački	A:aem	glumački
element	N:m	element
mora	N:n	more
da	CONJ	da
bude	A:aem	bude
na	PREP	na
zavidnom	A:aem	zavidan
nivou	N:m	nivo
.	SENT	.
Glumačka	A:aem	Glumačka
legenda	N:f	legenda
Džuli	N:f	Džuli
Kristi	N:f	Krista
(	PUNCT	(
Julie	N:f	Julia
Christie	A:aem	Christie
)	PUNCT	)
iznova	ADV	iznova
briljira	N:m	briljira
!	PUNCT	!
Toliko	ADV	toliko
je	PRO	ona
ubedljiva	A:aef	ubedljiv
u	PREP	u
ulozi	N:f	uloga
žene	N:f	žena
koja	PRO	koji
počinje	N:f	počinje
da	CONJ	da
nestaje	N:f	nestaje
,	PUNCT	,
da	CONJ	da
nas	PRO	mi
svakim	PRO	svaki
svojim	PRO	svoj
pokretom	N:m	pokret
,	PUNCT	,
mimikom	N:f	mimika
i	CONJ	i
izgovorenom	A:aef	izgovoren
reči	N:f	reč
potpuno	ADV	potpuno
ubeđuje	N:m	ubeđuje
u	PREP	u
izgubljenost	N:f	izgubljenost
glavne	A:aef	glavne
protagonistkinje	N:f	protagonistkinja
.	SENT	.
Ona	PRO	ona
je	PRO	ona
jedna	NUM	jedan
od	PREP	od
onih	PRO	onaj
glumica	N:f	glumica
koja	PRO	koji
,	PUNCT	,
iako	CONJ	iako
generalno	A:aen	generalan
priznata	V:f	priznati
od	PREP	od
strane	N:f	strana
stručnjaka	N:m	stručnjak
,	PUNCT	,
ostaje	N:n	ostaje
nezapažena	A:aef	nezapažen
od	PREP	od
strane	N:f	strana
šire	A:bem	širok
publike	N:f	publika
,	PUNCT	,
prvenstveno	ADV	prvenstveno
zbog	PREP	zbog
faktičog	A:aen	faktičog
nepostojanja	N:n	nepostojanje
komercijalnog	A:aem	komercijalan
filma	N:m	film
u	PREP	u
njenom	PRO	njen
rezimeu	N:m	rezime
.	SENT	.
Relativno	ADV	relativno
anonimni	A:aem	anoniman
Kanadski	A:aem	kanadski
glumac	N:m	glumac
Gordon	N:m	Gordon
Pinsent	N:m	Pinsent
(	PUNCT	(
Gordon	N:m	Gordon
Pinsent	N:m	Pinsent
)	PUNCT	)
odgovorio	V:m	odgovoriti
je	PRO	ona
najvećem	A:cem	velik
izazovu	N:m	izazov
svoje	PRO	svoj
karijere	N:f	karijera
,	PUNCT	,
pred	PREP	pred
samim	PRO	sam
sobom	N:f	soba
.	SENT	.
On	PRO	on
uspeva	N:m	uspeva
da	CONJ	da
u	PREP	u
potpunosti	N:f	potpunost
drži	N:m	drži
korak	N:m	korak
sa	PREP	sa
Kristi	N:f	Krista
,	PUNCT	,
pružajući	V:m	pružajući
nam	PRO	mi
kvalitetnu	A:aem	kvalitetan
ulogu	N:f	uloga
Obrija	N:m	Obri
,	PUNCT	,
čoveka	N:m	čovek
koji	PRO	koji
odbija	N:n	odbija
da	CONJ	da
se	PAR	se
pomiri	N:m	pomiri
sa	PREP	sa
činjenicom	N:f	činjenica
da	CONJ	da
ga	PRO	on
je	PRO	ona
žena	N:f	žena
potpuno	ADV	potpuno
zaboravila	V:f	zaboraviti
.	SENT	.
Od	PREP	od
sporednih	A:aem	sporedan
uloga	N:f	uloga
izdvajam	N:m	izdvajam
Olimpiju	N:f	Olimpija
Dukakis	N:m	Dukakis
(	PUNCT	(
Olympia	A:aem	Olympia
Dukakis	N:m	Dukakis
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
široj	A:bef	širok
publici	N:f	publika
verovatno	ADV	verovatno
poznatija	A:bef	poznat
po	PREP	po
svom	PRO	sav
,	PUNCT	,
Oskarom	N:m	Oskar
nagrađenom	A:aef	nagrađen
,	PUNCT	,
performansu	N:f	performansa
u	PREP	u
filmu	N:m	film
’	A:aem	’
’	A:aem	’
Moonstruck	N:m	Moonstruck
’	A:aem	’
’	N:m	’
.	PUNCT	.
Iako	CONJ	iako
izuzetno	ADV	izuzetno
dramatične	A:aem	dramatičan
konstrukcije	N:f	konstrukcija
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
ostaje	N:n	ostaje
potpuno	ADV	potpuno
prizeman	A:aem	prizeman
,	PUNCT	,
nema	A:aem	nem
izveštačenih	A:aef	izveštačen
emocionalnih	A:aef	emocionalan
ispada	N:m	ispad
i	CONJ	i
reakcija	N:f	reakcija
,	PUNCT	,
karakterističnih	A:aef	karakterističan
za	PREP	za
mnoge	A:aef	mnogi
filmove	N:m	film
ovog	PRO	ovaj
tipa	N:m	tip
.	SENT	.
Uravnoteženost	N:f	Uravnoteženost
,	PUNCT	,
realan	A:aem	realan
prikaz	N:m	prikaz
života	N:m	život
,	PUNCT	,
odličan	A:aem	odličan
scenarijo	N:f	scenarijo
i	CONJ	i
kvalitetna	A:aef	kvalitetan
gluma	N:f	gluma
,	PUNCT	,
čine	N:m	čin
dobitnu	A:aef	dobitni
kombinaciju	N:f	kombinacija
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
