Satira	N:f	satira
je	PRO	ona
vrlo	ADV	vrlo
zahtevan	A:aem	zahtevan
vid	N:m	vid
komedije	N:f	komedija
.	PUNCT	.
Da	CONJ	da
bi	V:m	bi
se	PAR	se
neko	PRO	neki
delo	N:n	delo
smatralo	V:n	smatrati
“	A:aem	“
dobrom	A:aem	dobar
satirom	N:m	satir
”	N:m	”
,	PUNCT	,
pored	PREP	pored
odlične	A:aem	odličan
kritike	N:f	kritika
na	PREP	na
temu	N:f	tema
na	PREP	na
koju	PRO	koji
aludira	N:m	aludira
i	CONJ	i
dopadljive	A:aef	dopadljiv
priče	N:f	priča
,	PUNCT	,
vrlo	ADV	vrlo
bitnu	A:aef	bitan
ulogu	N:f	uloga
u	PREP	u
njenom	PRO	njen
uspehu	N:m	uspeh
igra	N:f	igra
i	CONJ	i
sposobnost	N:f	sposobnost
autora	N:m	autor
da	CONJ	da
adekvatno	A:aen	adekvatan
odmeri	N:m	odmeri
vezu	N:f	veza
između	PREP	između
ova	PRO	ovaj
dva	NUM	dva
elementa	N:m	element
.	PUNCT	.
Iako	CONJ	iako
određena	V:m	odrediti
satira	N:f	satira
kritikuje	N:m	kritikuje
ono	PRO	onaj
na	PREP	na
šta	PRO	šta
zaista	PAR	zaista
treba	N:f	treba
skrenuti	A:aem	skrenut
pažnju	N:f	pažnja
,	PUNCT	,
način	N:m	način
na	PREP	na
koji	PRO	koji
će	N:n	će
to	PRO	taj
uraditi	A:aem	uraditi
izuzetno	ADV	izuzetno
utiče	N:f	utiče
na	PREP	na
krajnji	A:aem	krajnji
ishod	N:m	ishod
i	CONJ	i
uspešnosti	N:f	uspešnost
prenošenja	N:n	prenošenje
željenje	N:n	željenje
poruke	N:f	poruka
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
procesu	N:m	proces
se	PAR	se
mnoge	A:aef	mnogi
dobre	A:aem	dobar
ideje	N:f	ideja
i	CONJ	i
satirična	A:aen	satiričan
dela	N:n	delo
gube	N:f	guba
jer	CONJ	jer
se	PAR	se
češto	A:aen	češto
dešava	N:n	dešava
autorima	N:m	autor
da	CONJ	da
potcenjuju	N:m	potcenjuju
publiku	N:f	publika
,	PUNCT	,
tačnije	ADV	tačnije
žvaću	V:m	žvaću
im	PRO	ona
,	PUNCT	,
a	CONJ	a
nekad	ADV	nekad
i	CONJ	i
prekomplikuju	N:m	prekomplikuju
poruku	N:f	poruka
koju	PRO	koji
žele	N:m	žele
da	CONJ	da
prenesu	N:f	prenesu
do	PREP	do
te	PRO	taj
granice	N:f	granica
da	CONJ	da
rezultat	N:m	rezultat
u	PREP	u
potpunosti	N:f	potpunost
biva	A:aem	biva
kontra	ADV	kontra
produktivan	A:aem	produktivan
i	CONJ	i
umesto	PREP	umesto
“	N:m	“
lukave	A:aef	lukav
poruke	N:f	poruka
”	A:aem	”
dobijamo	A:aem	dobijamo
“	N:m	“
dosadno	A:aen	dosadan
popovanje	N:n	popovanje
”	N:m	”
.	SENT	.
“	A:aem	“
How	N:m	How
to	PRO	taj
Get	N:m	Get
Ahead	N:m	Ahead
in	ABB	in
Advertising	N:m	Advertising
”	N:m	”
je	PRO	ona
vrlo	ADV	vrlo
specifičan	A:aem	specifičan
primerak	N:m	primerak
satire	N:f	satira
.	SENT	.
Priča	A:aem	Priča
filma	N:m	film
prati	N:f	prati
Denisa	N:m	Denis
Baglija	N:f	Baglija
,	PUNCT	,
briljatnog	A:aen	briljatnog
i	CONJ	i
mladog	A:aen	mlad
rukovodica	N:f	rukovodica
iz	PREP	iz
jedne	NUM	jedan
advertajzing	N:m	advertajzing
kompanije	N:f	kompanija
koji	PRO	koji
je	PRO	ona
smislio	V:m	smisliti
slogan	N:m	slogan
za	PREP	za
revolucionarnu	A:aef	revolucionaran
kremu	N:f	krema
protiv	PREP	protiv
bubuljica	N:f	bubuljica
.	SENT	.
Kao	CONJ	kao
rezultat	N:m	rezultat
njegovog	PRO	njegov
izuzetno	ADV	izuzetno
stresnog	A:aem	stresni
načina	N:m	način
življenja	N:n	življenje
,	PUNCT	,
imajući	A:aem	imajući
težak	A:aem	težak
odnos	N:m	odnos
sa	PREP	sa
svojom	PRO	svoj
suprugom	N:f	supruga
,	PUNCT	,
šefom	N:m	šef
i	CONJ	i
prijateljima	N:m	prijatelj
,	PUNCT	,
od	PREP	od
konstatnog	A:aen	konstatnog
nerviranja	N:n	nerviranje
i	CONJ	i
panike	N:f	panika
,	PUNCT	,
Denisu	N:m	Denis
izrasta	A:aem	izrasta
ogroman	A:aem	ogroman
čir	N:m	čir
na	PREP	na
ramenu	N:n	rame
sa	PREP	sa
kojim	PRO	koji
,	PUNCT	,
verovali	V:m	verovati
ili	CONJ	ili
ne	PAR	ne
,	PUNCT	,
eventualno	ADV	eventualno
kreće	A:aem	kreće
da	CONJ	da
komunicira	N:m	komunicira
.	SENT	.
“	A:aem	“
How	N:m	How
to	PRO	taj
Get	N:m	Get
Ahead	N:m	Ahead
in	ABB	in
Advertising	N:m	Advertising
”	N:m	”
je	PRO	ona
zaista	PAR	zaista
odabrao	V:m	odabrati
najbolje	ADV	najbolje
alate	N:m	alat
za	PREP	za
prenos	N:m	prenos
svoje	PRO	svoj
poruke	N:f	poruka
,	PUNCT	,
iako	CONJ	iako
to	PRO	taj
tako	ADV	tako
na	PREP	na
prvu	A:aem	prvi
ruku	N:f	ruka
baš	PAR	baš
i	CONJ	i
ne	PAR	ne
deluje	N:m	deluje
.	SENT	.
Brus	N:m	Brus
Robinson	N:m	Robinson
(	PUNCT	(
Bruce	N:f	Bruce
Robinson	N:m	Robinson
)	PUNCT	)
je	PRO	ona
maestralno	A:aen	maestralan
postupio	V:m	postupiti
ovde	ADV	ovde
,	PUNCT	,
odabravši	A:aen	odabravši
prvo	A:aen	prvi
poruku	N:f	poruka
koju	PRO	koji
želi	V:m	žeti
da	CONJ	da
prenese	N:f	prenese
,	PUNCT	,
zatim	ADV	zatim
gradeći	N:f	gradeći
priču	N:f	priča
oko	PREP	oko
nje	PRO	ona
i	CONJ	i
vezivajući	N:n	vezivajući
je	PRO	ona
za	PREP	za
što	ADV	što
bizarniji	A:bem	bizaran
događaj	N:m	događaj
.	PUNCT	.
Iako	CONJ	iako
se	PAR	se
jasno	ADV	jasno
već	CONJ	već
ovde	ADV	ovde
vidi	N:f	vida
da	CONJ	da
je	PRO	ona
tema	N:f	tema
vezana	V:n	vezati
za	PREP	za
konzumerizam	N:m	konzumerizam
,	PUNCT	,
film	N:m	film
ako	CONJ	ako
makar	CONJ	makar
samo	PAR	samo
na	PREP	na
sekund	N:m	sekund
stavimo	N:m	stavimo
u	PREP	u
stranu	N:f	strana
njegovu	PRO	njegov
poruku	N:f	poruka
,	PUNCT	,
varira	N:m	varira
između	PREP	između
crne	A:aef	crn
komedije	N:f	komedija
i	CONJ	i
političke	A:aef	politički
drame	N:f	drama
,	PUNCT	,
predstavljaći	A:aem	predstavljaći
u	PREP	u
ovako	ADV	ovako
nekom	PRO	neki
generalnom	A:aen	generalan
pogledu	N:m	pogled
ništa	PRO	ništa
drugo	A:aen	drugi
nego	CONJ	nego
karakternu	A:aef	karakteran
studiju	N:f	studija
svojih	PRO	svoj
likova	N:n	likovo
na	PREP	na
platnu	N:n	platno
.	SENT	.
Rekavši	N:f	Rekavši
da	CONJ	da
je	PRO	ona
“	A:aem	“
How	N:m	How
to	PRO	taj
Get	N:m	Get
Ahead	N:m	Ahead
in	ABB	in
Advertising	N:m	Advertising
”	N:m	”
karakterna	A:aef	karakteran
studija	N:f	studija
svojih	PRO	svoj
likova	N:n	likovo
,	PUNCT	,
veliku	A:aef	velik
ulogu	N:f	uloga
u	PREP	u
uspehu	N:m	uspeh
filma	N:m	film
igra	N:f	igra
performans	N:m	performans
odličnog	A:aem	odličan
Ričarda	N:m	Ričard
E	N:f	E
.	PUNCT	.
Granta	N:m	Grant
(	PUNCT	(
Richard	N:m	Richard
E	N:f	E
.	SENT	.
Grant	N:m	Grant
)	PUNCT	)
koji	PRO	koji
u	PREP	u
90	NUM	@card@
minuta	N:m	minut
uspeva	V:n	uspeva
lepo	ADV	lepo
da	CONJ	da
ekranizuje	N:m	ekranizuje
Denisovu	A:aef	Denisovu
unutrašnju	A:aef	unutrašnji
borbu	N:f	borba
sa	PREP	sa
sopstvenim	A:aef	sopstven
demonima	N:m	demon
,	PUNCT	,
čiji	PRO	čiji
ishod	N:m	ishod
bitke	N:f	bitka
ne	PAR	ne
nosi	A:aem	nosi
ni	CONJ	ni
približan	A:aem	približan
značaj	N:m	značaj
kao	CONJ	kao
sam	A:aem	sam
prikaz	N:m	prikaz
ono	PRO	onaj
što	PRO	što
leži	N:n	leži
u	PREP	u
dubini	N:f	dubina
njegovog	PRO	njegov
postojanja	N:n	postojanje
.	PUNCT	.
Iako	CONJ	iako
većinskim	A:aef	većinski
delom	N:m	deo
uspešan	A:aem	uspešan
u	PREP	u
oslikavanju	N:n	oslikavanje
licemerstva	N:n	licemerstvo
modernog	A:aem	moderan
društva	N:n	društvo
i	CONJ	i
velikih	A:aef	velik
pohlepnih	A:aef	pohlepan
kompanija	N:f	kompanija
,	PUNCT	,
“	A:aem	“
How	N:m	How
to	PRO	taj
Get	N:m	Get
Ahead	N:m	Ahead
in	ABB	in
Advertising	N:m	Advertising
”	N:m	”
u	PREP	u
svom	PRO	sav
antikonzumerističkom	A:aem	antikonzumerističkom
pohodu	N:m	pohod
ume	N:m	um
u	PREP	u
određenim	A:aem	određenim
momentima	N:m	moment
da	CONJ	da
bude	A:aem	bude
previše	ADV	previše
plitak	A:aem	plitak
u	PREP	u
svojoj	PRO	svoj
nameri	N:f	namera
,	PUNCT	,
da	CONJ	da
pojednostavljuje	N:m	pojednostavljuje
poruku	N:f	poruka
,	PUNCT	,
žvaće	V:m	žvaće
je	PRO	ona
za	PREP	za
publiku	N:f	publika
i	CONJ	i
time	PRO	taj
nažalost	ADV	nažalost
nekad	ADV	nekad
razbije	N:f	razbije
iluziju	N:f	iluzija
filma	N:m	film
.	SENT	.
Iako	CONJ	iako
nije	A:aem	nije
napravio	V:m	napraviti
uspeh	N:m	uspeh
sa	PREP	sa
svojim	PRO	svoj
drugim	A:aem	drugi
ostvarenjem	N:n	ostvarenje
kao	CONJ	kao
sa	PREP	sa
prvencom	N:m	prvencom
“	A:aem	“
Withnail	N:m	Withnail
&	SENT	&
I	A:aem	I
“	N:m	“
,	PUNCT	,
Robinson	N:m	Robinson
je	PRO	ona
svakako	PAR	svakako
snimio	V:m	snimiti
jednu	NUM	jedan
vrlo	ADV	vrlo
kvalitetnu	A:aem	kvalitetan
i	CONJ	i
zanimljivu	A:aef	zanimljiv
ciničnu	A:aef	ciničan
satiru	N:f	satira
koja	PRO	koji
nikako	ADV	nikako
nema	A:aem	nem
za	PREP	za
cilj	N:m	cilj
da	CONJ	da
poštedi	N:f	pošteda
svoju	PRO	svoj
publiku	N:f	publika
i	CONJ	i
premaže	V:m	premaže
im	PRO	ona
oči	N:f	oči
vedrim	A:aef	vedar
bojama	N:f	boja
.	SENT	.
