Pre	PREP	pre
nekoliko	ADV	nekoliko
godina	N:f	godina
na	PREP	na
televiziji	N:f	televizija
se	PAR	se
vrtela	V:f	vrteti
iritantna	A:aef	iritantan
kampanja	N:f	kampanja
pod	PREP	pod
sloganom	N:m	slogan
„	A:aem	„
Nije	N:m	Nije
teško	ADV	teško
biti	N:f	bit
fin	A:aem	fin
“	N:m	“
.	SENT	.
Ništa	N:f	Ništa
u	PREP	u
ovoj	PRO	ovaj
kampanji	N:f	kampanja
nije	N:f	nije
bilo	V:n	biti
jasno	ADV	jasno
–	A:aem	–
ni	CONJ	ni
ko	PRO	ko
to	PRO	taj
treba	N:f	treba
da	CONJ	da
bude	A:aem	bude
fin	A:aem	fin
i	CONJ	i
prema	PREP	prema
kome	PRO	koji
,	PUNCT	,
ni	CONJ	ni
kome	PRO	koji
je	PRO	ona
to	PRO	taj
naprasno	A:aen	naprasan
zatrebao	V:m	zatrebati
fin	A:aem	fin
puk	N:m	puk
.	SENT	.
Npr	N:m	Npr
.	SENT	.
mnogo	ADV	mnogo
manje	ADV	manje
finog	A:aem	fin
naroda	N:m	narod
staje	N:f	staja
po	PREP	po
metru	N:m	metar
kvadratnom	A:aem	kvadratni
gradske	A:aef	gradski
trole	N:f	trola
nego	CONJ	nego
onog	PRO	onaj
nefinog	A:aem	nefinog
.	SENT	.
O	PREP	o
ostalim	A:aem	ostalim
cenama	N:f	cena
preživljavanja	N:n	preživljavanje
i	CONJ	i
njihovoj	PRO	njihov
proporciji	N:f	proporcija
s	PREP	s
finoćom	N:f	finoća
da	CONJ	da
i	CONJ	i
ne	PAR	ne
govorimo	N:f	govorimo
.	PUNCT	.
Recimo	N:f	Recimo
,	PUNCT	,
Sonja	N:f	Sonja
Savić	N:m	Savić
u	PREP	u
intervjuima	N:m	intervju
često	ADV	često
govori	N:m	govor
upravo	ADV	upravo
o	PREP	o
potrebi	N:f	potreba
za	PREP	za
pristojnošću	N:f	pristojnost
,	PUNCT	,
što	CONJ	što
iz	PREP	iz
njenih	PRO	njen
usta	N:n	usta
deluje	N:m	deluje
kao	CONJ	kao
da	CONJ	da
gladan	A:aem	gladan
traži	A:aem	traži
hleba	N:m	hleb
,	PUNCT	,
dok	CONJ	dok
su	N:m	su
javne	A:aef	javan
ličnosti	N:f	ličnost
upošljene	A:aef	upošljen
u	PREP	u
pomenutoj	A:aef	pomenut
kampanji	N:f	kampanja
isijavale	V:f	isijavati
stoicizmom	N:m	stoicizam
bez	PREP	bez
pokrića	N:n	pokriće
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
obično	ADV	obično
deluju	A:aen	deluju
kad	CONJ	kad
se	PAR	se
đuture	ADV	đuture
okupe	N:m	okup
oko	PREP	oko
neke	PRO	neki
„	A:aem	„
ideje	N:f	ideja
“	N:m	“
.	SENT	.
A	CONJ	a
ironija	N:f	ironija
je	PRO	ona
da	CONJ	da
dobar	A:aem	dobar
deo	N:m	deo
ljudi	N:m	ljudi
u	PREP	u
mojoj	PRO	moj
sredini	N:f	sredina
za	PREP	za
Sonju	N:f	Sonja
Savić	N:m	Savić
misli	N:f	misao
da	CONJ	da
je	PRO	ona
šenula	V:f	šenuti
,	PUNCT	,
što	CONJ	što
dovoljno	ADV	dovoljno
govori	N:m	govor
o	PREP	o
tome	PRO	taj
koliko	ADV	koliko
nije	A:aen	nije
da	CONJ	da
nije	A:aen	nije
teško	A:aen	težak
biti	N:f	bit
fin	A:aem	fin
.	SENT	.
Glavni	A:aem	Glavni
junak	N:m	junak
filma	N:m	film
Teško	N:m	Teško
je	PRO	ona
biti	N:f	bit
fin	A:aem	fin
,	PUNCT	,
premijerno	A:aen	premijerni
prikazanog	A:aem	prikazan
na	PREP	na
ovogodišnjem	A:aem	ovogodišnji
Festu	N:m	Fest
(	PUNCT	(
trenutno	ADV	trenutno
na	PREP	na
redovnom	A:aem	redovan
repertoaru	N:m	repertoar
)	SENT	)
,	PUNCT	,
jeste	INT	jeste
taksista	N:m	taksista
iz	PREP	iz
Sarajeva	N:n	Sarajevo
Fudo	N:f	Fudo
,	PUNCT	,
koji	PRO	koji
pokušava	N:f	pokušava
da	CONJ	da
se	PAR	se
snađe	A:aem	snađe
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
da	CONJ	da
povremenim	A:aen	povremen
izletima	N:m	izlet
u	PREP	u
kriminal	N:m	kriminal
porodici	N:f	porodica
pruži	A:aem	pruži
komoditet	N:m	komoditet
.	SENT	.
Na	PREP	na
tragu	N:m	trag
priča	N:f	priča
Abdulaha	N:m	Abdulah
Sidrana	N:f	Sidrana
,	PUNCT	,
junaka	N:m	junak
prati	N:f	prati
poznati	A:aem	poznat
smrad	N:m	smrad
čarapa	N:f	čarapa
oca	N:m	otac
na	PREP	na
službenom	A:aef	služben
putu	N:m	put
–	N:m	–
onog	PRO	onaj
koji	PRO	koji
kad	CONJ	kad
se	PAR	se
prezuva	A:aen	prezuva
u	PREP	u
predsoblju	N:n	predsoblje
,	PUNCT	,
sa	PREP	sa
cipelama	N:f	cipela
ostavi	N:f	ostava
tragove	N:m	trag
blata	N:n	blato
i	CONJ	i
krvi	N:f	krv
,	PUNCT	,
i	CONJ	i
iz	PREP	iz
čijih	PRO	čiji
se	PAR	se
košulja	N:f	košulja
spiraju	N:m	spiraju
tragovi	N:m	trag
karmina	N:f	karmine
i	CONJ	i
sperme	N:f	sperma
.	SENT	.
Čiji	N:m	Čiji
je	PRO	ona
moral	N:m	moral
zasnovan	V:m	zasnovati
na	PREP	na
pravilu	N:n	pravilo
da	CONJ	da
dobro	N:n	dobro
opere	N:f	opera
ruke	N:f	ruka
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
sedne	N:f	sedne
za	PREP	za
porodični	A:aem	porodičan
sto	N:m	sto
i	CONJ	i
prihvati	N:m	prihvat
dete	N:n	dete
.	SENT	.
U	PREP	u
svom	PRO	sav
junaku	N:m	junak
Vuletić	N:m	Vuletić
uspeva	N:m	uspeva
da	CONJ	da
uhvati	N:m	uhvati
autentičan	A:aem	autentičan
profil	N:m	profil
oca	N:m	otac
porodice	N:f	porodica
koji	PRO	koji
i	CONJ	i
dalje	ADV	dalje
patrijarhalno	A:aen	patrijarhalan
veruje	N:f	veruje
u	PREP	u
toplinu	N:f	toplina
doma	ADV	doma
,	PUNCT	,
ali	CONJ	ali
nije	A:aem	nije
imun	A:aem	imun
na	PREP	na
doze	N:f	doza
kojima	PRO	koji
ga	PRO	on
redovno	ADV	redovno
pelcuje	N:m	pelcuje
društvo	N:n	društvo
trkača	N:m	trkač
i	CONJ	i
zgrtača	N:m	zgrtač
koje	PRO	koji
čika	N:f	čika
da	CONJ	da
se	PAR	se
dom	N:m	dom
učini	N:m	učin
još	ADV	još
toplijim	A:bef	topao
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
opremljenijim	A:bem	opremljen
,	PUNCT	,
sigurnijim	A:bem	siguran
.	SENT	.
Tenzično	A:aen	Tenzično
propitivanje	N:n	propitivanje
glavnog	A:aen	glavnog
junaka	N:m	junak
„	N:m	„
kako	CONJ	kako
se	PAR	se
kotiram	N:m	kotiram
danas	ADV	danas
“	A:aem	“
odslikava	A:aef	odslikava
opsesiju	N:f	opsesija
samoprocenjivanjem	N:n	samoprocenjivanjem
prema	PREP	prema
aršinima	N:m	aršin
grabež	N:m	grabež
-	PUNCT	-
društva	N:n	društvo
koje	PRO	koji
podlo	A:aen	podao
manipuliše	N:n	manipuliše
ljudskom	A:aem	ljudski
potrebom	N:f	potreba
za	PREP	za
samopoštovanjem	N:n	samopoštovanje
.	SENT	.
Nakon	PREP	nakon
što	PRO	što
udari	N:m	udar
glavom	N:f	glava
o	PREP	o
zid	N:m	zid
,	PUNCT	,
Fudo	N:f	Fudo
odlučuje	N:m	odlučuje
da	CONJ	da
se	PAR	se
promeni	N:f	promena
i	CONJ	i
postane	N:m	postane
dobar	A:aem	dobar
,	PUNCT	,
ali	CONJ	ali
tek	CONJ	tek
tada	ADV	tada
počinju	N:n	počinju
njegove	PRO	njegov
teškoće	N:f	teškoća
,	PUNCT	,
jer	CONJ	jer
se	PAR	se
ispostavlja	N:n	ispostavlja
da	CONJ	da
je	PRO	ona
teže	ADV	teže
biti	N:f	bit
dobar	A:aem	dobar
jer	CONJ	jer
to	PRO	taj
nikome	PRO	niko
u	PREP	u
društvu	N:n	društvo
ne	PAR	ne
ide	V:m	ide
na	PREP	na
ruku	N:f	ruka
.	SENT	.
Tragom	N:m	trag
ove	PRO	ovaj
kontradiktornosti	N:f	kontradiktornost
,	PUNCT	,
Vuletić	N:m	Vuletić
gradi	N:m	grad
inverziju	N:f	inverzija
poznate	A:aef	poznat
priče	N:f	priča
o	PREP	o
malom	A:aen	mali
,	PUNCT	,
poslušnom	A:aem	poslušan
čoveku	N:m	čovek
koji	PRO	koji
se	PAR	se
,	PUNCT	,
kad	CONJ	kad
mu	PRO	on
prekipi	N:m	prekipi
,	PUNCT	,
okreće	A:aem	okreće
protiv	PREP	protiv
sistema	N:m	sistem
i	CONJ	i
uzima	N:m	uzo
zakon	N:m	zakon
u	PREP	u
svoje	PRO	svoj
ruke	N:f	ruka
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
je	PRO	ona
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
slučaju	N:m	slučaj
,	PUNCT	,
pokušaj	N:m	pokušaj
da	CONJ	da
se	PAR	se
bude	A:aem	bude
dobar	A:aem	dobar
prikazan	A:aem	prikazan
kao	CONJ	kao
čin	N:m	čin
pobune	N:f	pobuna
.	SENT	.
U	PREP	u
drugom	A:aef	drugi
delu	N:n	delo
filma	N:m	film
utisnut	V:m	utisnuti
je	PRO	ona
pečat	N:m	pečat
Sidranovog	A:aem	Sidranovog
Kuduza	N:m	Kuduza
,	PUNCT	,
u	PREP	u
vidu	N:f	vida
ambivalentnog	A:aem	ambivalentan
odnosa	N:m	odnos
prema	PREP	prema
junaku	N:m	junak
–	N:m	–
plemenita	A:aef	plemenit
i	CONJ	i
žučna	A:aef	žučan
potreba	N:f	potreba
da	CONJ	da
se	PAR	se
preispita	A:aem	preispita
sve	ADV	sve
oko	PREP	oko
sebe	PRO	sebe
u	PREP	u
pragmatičnom	A:aen	pragmatičnom
društvu	N:n	društvo
dobija	N:n	dobija
vid	N:m	vid
manijakalnog	A:aem	manijakalan
ponašanja	N:n	ponašanje
koje	PRO	koji
plaši	N:f	plaši
.	SENT	.
Manipulacija	N:f	manipulacija
decom	N:f	deca
kroz	PREP	kroz
čuveno	A:aen	čuven
pretnju	N:f	pretnja
:	PUNCT	:
„	A:aem	„
Sutra	N:m	Sutra
kad	CONJ	kad
te	PRO	taj
dete	N:n	dete
bude	A:aem	bude
pitalo	V:n	pitati
.	PUNCT	.
.	SENT	.
.	PUNCT	.
“	N:m	“
(	PUNCT	(
kao	ADV	kao
da	CONJ	da
su	PREF	su
sva	PRO	sav
buduća	A:aen	budući
deca	N:f	deca
,	PUNCT	,
još	ADV	još
od	PREP	od
dupka	N:m	dubak
,	PUNCT	,
okoreli	A:aem	okoreo
džeparoši	N:m	džeparoš
koji	PRO	koji
s	PREP	s
vrata	N:n	vrata
traže	A:aen	traže
svoj	PRO	sav
udeo	N:m	udeo
u	PREP	u
akcijama	N:f	akcija
)	PUNCT	)
,	PUNCT	,
živo	ADV	živo
je	PRO	ona
i	CONJ	i
duhovito	ADV	duhovito
prikazana	V:m	prikazati
preko	PREP	preko
stalnog	A:aem	stalan
obraćanja	N:n	obraćanje
junaka	N:m	junak
sinu	N:m	sin
koji	PRO	koji
još	PAR	još
nije	V:m	nije
progovorio	V:m	progovoriti
,	PUNCT	,
ali	CONJ	ali
koji	PRO	koji
ima	A:aen	ima
počasno	A:aen	počasni
mesto	N:n	mesto
suvozača	N:m	suvozač
u	PREP	u
taksiju	N:m	taksi
i	CONJ	i
pravo	N:n	pravo
da	CONJ	da
bira	N:f	bira
„	N:m	„
fine	A:aef	fin
“	A:aem	“
mušterije	N:f	mušterija
(	PUNCT	(
one	PRO	onaj
s	PREP	s
kravatom	N:f	kravata
)	PUNCT	)
.	SENT	.
S	PREP	s
mališanom	N:m	mališan
otac	N:m	otac
već	CONJ	već
kuje	N:f	kuja
planove	N:m	plan
o	PREP	o
budućim	A:aen	budući
biznisima	N:m	biznis
i	CONJ	i
podučava	A:aen	podučava
ga	PRO	on
kako	CONJ	kako
da	CONJ	da
preživi	A:aem	preživi
u	PREP	u
Sarajevu	N:n	Sarajevo
.	SENT	.
Promena	N:f	promena
u	PREP	u
obraćanju	N:n	obraćanje
sinu	N:m	sin
,	PUNCT	,
do	PREP	do
koje	PRO	koji
tokom	PREP	tokom
filma	N:m	film
dolazi	N:m	dolaz
,	PUNCT	,
pobunjenički	A:aem	pobunjenički
je	PRO	ona
čin	N:m	čin
oca	N:m	otac
koji	PRO	koji
odbija	N:n	odbija
da	CONJ	da
obučava	A:aen	obučava
dete	N:n	dete
za	PREP	za
borbu	N:f	borba
bejzbol	N:m	bejzbol
palicama	N:f	palica
.	SENT	.
Neusiljena	A:aef	neusiljen
gradacija	N:f	gradacija
koja	PRO	koji
diktira	N:m	diktira
putanju	N:f	putanja
junaka	N:m	junak
od	PREP	od
njegove	PRO	njegov
odluke	N:f	odluka
da	CONJ	da
okrene	A:aem	okrene
novi	A:aem	nov
list	N:m	list
prožeta	V:f	prožeti
je	PRO	ona
ironijom	N:f	ironija
i	CONJ	i
promućurnim	A:aem	promućuran
odabirom	N:m	odabir
životnih	A:aef	životan
činjenica	N:f	činjenica
koje	PRO	koji
ne	PAR	ne
barataju	N:n	barataju
metaforama	N:f	metafora
,	PUNCT	,
već	CONJ	već
o	PREP	o
posleratnom	A:aem	posleratni
Sarajevu	N:n	Sarajevo
govore	N:m	govor
kroz	PREP	kroz
detalje	N:m	detalj
,	PUNCT	,
čime	PRO	šta
se	PAR	se
ne	PAR	ne
može	A:aem	može
pohvaliti	N:f	pohvaliti
nijedan	A:aem	nijedan
od	PREP	od
nekoliko	ADV	nekoliko
poslednjih	A:aem	poslednji
srpskih	A:aef	srpski
filmova	N:m	film
(	PUNCT	(
Na	A:aem	Na
lepom	A:aem	lep
plavom	A:aem	plav
Dunavu	N:m	Dunav
,	PUNCT	,
Biro	N:m	Biro
za	PREP	za
izgubljene	A:aem	izgubljen
stvari	N:f	stvar
i	CONJ	i
Čitulja	N:f	Čitulja
za	PREP	za
Eskobara	N:m	Eskobara
)	PUNCT	)
.	SENT	.
Teško	A:aem	Teško
je	PRO	ona
biti	N:f	bit
fin	A:aem	fin
govori	N:m	govor
o	PREP	o
finoći	N:f	finoća
koja	PRO	koji
nije	A:aem	nije
nadogradnja	N:f	nadogradnja
u	PREP	u
vidu	N:f	vida
manira	N:m	manir
samozvanog	A:aen	samozvani
građanskog	A:aem	građanski
društva	N:n	društvo
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
samim	PRO	sam
tim	PRO	taj
ni	PAR	ni
ne	PAR	ne
postiže	V:m	postiže
tako	ADV	tako
lako	ADV	lako
.	SENT	.
Reč	A:aem	Reč
je	PRO	ona
o	PREP	o
bazičnijoj	A:aef	bazičniji
vrednosti	N:f	vrednost
,	PUNCT	,
nezavisnoj	A:aef	nezavisan
od	PREP	od
trenutne	A:aef	trenutan
društveno	A:aen	društven
-	PUNCT	-
političke	A:aef	politički
logistike	N:f	logistika
,	PUNCT	,
vrednosti	N:f	vrednost
o	PREP	o
kojoj	PRO	koji
je	PRO	ona
rudarski	A:aem	rudarski
pisala	V:m	pisati
Flaneri	N:m	Flaneri
O	A:aem	O
’	A:aem	’
Konor	N:m	Konor
u	PREP	u
zbirci	N:f	zbirka
priča	N:f	priča
Teško	N:f	Teško
je	PRO	ona
naći	A:aem	naći
dobrog	A:aem	dobar
čoveka	N:m	čovek
.	SENT	.
