Od	PREP	od
samog	PRO	sam
početka	N:m	početak
Priče	A:aem	Priče
za	PREP	za
laku	A:aef	lak
noć	N:f	noć
izgledale	V:f	izgledati
su	PREF	su
kao	CONJ	kao
čist	A:aem	čist
zicer	N:m	zicer
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
došao	V:m	doći
je	PRO	ona
na	PREP	na
red	N:m	red
u	PREP	u
sjajnom	A:aem	sjajan
trenutku	N:m	trenutak
i	CONJ	i
za	PREP	za
samog	PRO	sam
Sandlera	N:m	Sandlera
i	CONJ	i
za	PREP	za
reditelja	N:m	reditelj
Adama	N:m	Adam
Shankmana	N:m	Shankmana
.	SENT	.
Zvanično	A:aen	Zvanično
mereno	A:aen	meren
,	PUNCT	,
Sandler	N:m	Sandler
je	PRO	ona
posle	PREP	posle
Willa	A:aen	Willa
Smitha	N:m	Smitha
najisplativija	A:cen	isplativ
filmska	A:aef	filmski
zvezda	N:f	zvezda
pa	CONJ	pa
se	PAR	se
box	N:m	box
-	PUNCT	-
office	N:f	office
uspesi	N:m	uspeh
nekako	ADV	nekako
i	CONJ	i
podrazumevaju	N:m	podrazumevaju
.	SENT	.
Prošle	A:aem	Prošle
godine	N:f	godina
trijumfovao	V:m	trijumfovati
je	PRO	ona
reskirajući	N:m	reskirajući
sa	PREP	sa
Ne	A:aef	Ne
kači	N:f	kači
se	PAR	se
sa	PREP	sa
Zohanom	N:m	Zohanom
,	PUNCT	,
politički	ADV	politički
nekorektnom	A:aef	nekorektan
komedijom	N:f	komedija
u	PREP	u
kojoj	PRO	koji
prvi	A:aem	prvi
put	N:m	put
napušta	A:aem	napušta
oprobani	A:aem	oproban
kostim	N:m	kostim
opuštenog	A:aem	opušten
i	CONJ	i
šarmantnog	A:aem	šarmantan
WASP	N:m	WASP
-	PUNCT	-
ovca	N:f	ovca
i	CONJ	i
zalazi	N:m	zalaz
na	PREP	na
teren	N:m	teren
autoreferentnih	A:aem	autoreferentnih
etničkih	A:aen	etnički
(	PUNCT	(
jevrejskih	A:aen	jevrejski
)	PUNCT	)
tema	N:f	tema
.	SENT	.
Na	PREP	na
drugoj	A:aef	drugi
strani	N:f	strana
,	PUNCT	,
reditelj	N:m	reditelj
Shankman	N:m	Shankman
,	PUNCT	,
dugogodišnji	A:aem	dugogodišnji
koreograf	N:m	koreograf
s	PREP	s
reputacijom	N:f	reputacija
,	PUNCT	,
probio	V:m	probiti
se	PAR	se
u	PREP	u
višu	A:aen	viši
ligu	N:f	liga
novim	A:aef	nov
viđenjem	N:n	viđenje
Laka	N:m	Laka
za	PREP	za
kosu	N:f	kosa
,	PUNCT	,
prvi	A:aem	prvi
put	N:m	put
u	PREP	u
karijeri	N:f	karijera
pobravši	A:aem	pobravši
pohvalne	A:aef	pohvalan
prikaze	N:f	prikaza
.	SENT	.
Tome	PRO	taj
treba	N:f	treba
dodati	V:m	dodati
da	CONJ	da
su	N:m	su
Priče	A:aem	Priče
za	PREP	za
laku	A:aef	lak
noć	N:f	noć
ponuđene	V:f	ponuditi
u	PREP	u
sezoni	N:f	sezona
bez	PREP	bez
novih	A:aef	nov
nastavaka	N:m	nastavak
Harryja	A:aem	Harryja
Pottera	N:m	Pottera
,	PUNCT	,
Narnije	N:f	Narnije
i	CONJ	i
sličnih	A:aen	sličan
fantasy	A:aem	fantasy
naslova	N:m	naslov
-	PUNCT	-
mamipara	N:f	mamipara
za	PREP	za
najmlađe	A:cef	mlad
.	SENT	.
Za	PREP	za
razliku	N:f	razlika
od	PREP	od
glumačkog	A:aem	glumački
postupka	N:m	postupak
u	PREP	u
Zohanu	N:m	Zohanu
,	PUNCT	,
Sandler	N:m	Sandler
u	PREP	u
Pričima	N:m	Pričima
za	PREP	za
laku	A:aef	lak
noć	N:f	noć
ne	PAR	ne
poseže	V:m	poseže
za	PREP	za
dodatnim	A:aen	dodatan
izmaštavanjem	N:n	izmaštavanjem
vlastite	A:aem	vlastit
pojave	N:f	pojava
.	SENT	.
On	PRO	on
je	PRO	ona
ponovo	ADV	ponovo
dobrica	N:f	Dobrica
,	PUNCT	,
smotanko	N:f	smotanko
zlatnog	A:aem	zlatan
srca	N:n	srce
i	CONJ	i
vrcavog	A:aem	vrcav
humora	N:m	humor
,	PUNCT	,
„	A:aem	„
everyday	A:aem	everyday
Joe	N:m	Joe
“	N:m	“
svima	PRO	sav
drag	A:aem	drag
i	CONJ	i
vazda	ADV	vazda
na	PREP	na
margini	N:f	margina
.	SENT	.
Uloga	N:f	uloga
majstora	N:m	majstor
koji	PRO	koji
sanja	N:f	sanja
o	PREP	o
tome	PRO	taj
da	CONJ	da
postane	A:aem	postane
upravnik	N:m	upravnik
hotela	N:m	hotel
u	PREP	u
potpunosti	N:f	potpunost
je	PRO	ona
krojena	V:f	krojiti
po	PREP	po
meri	N:f	mera
glavnog	A:aem	glavnog
glumca	N:m	glumac
.	SENT	.
Time	PRO	taj
je	PRO	ona
oslobođen	A:aem	oslobođen
prostor	N:m	prostor
za	PREP	za
dalekosežnije	A:ben	dalekosežan
i	CONJ	i
neophodne	A:aef	neophodan
intervencije	N:f	intervencija
u	PREP	u
ostatku	N:m	ostatak
priče	N:f	priča
.	SENT	.
Majstoru	N:m	majstor
dopada	N:m	dopada
da	CONJ	da
tokom	PREP	tokom
četiri	NUM	četiri
noći	N:f	noć
čuva	N:m	čuva
sestrinu	A:aef	sestrin
decu	N:f	deca
,	PUNCT	,
a	CONJ	a
gde	CONJ	gde
su	N:m	su
deca	N:f	deca
,	PUNCT	,
tu	ADV	tu
su	N:m	su
i	CONJ	i
priče	N:f	priča
za	PREP	za
laku	A:aef	lak
noć	N:f	noć
.	SENT	.
Sandlerov	A:aem	Sandlerov
lik	N:m	lik
u	PREP	u
hodu	N:m	hod
smišlja	A:aem	smišlja
način	N:m	način
na	PREP	na
koji	PRO	koji
će	A:aem	će
zaokupiti	N:m	zaokupiti
pažnju	N:f	pažnja
nepovoljne	A:aem	nepovoljan
publike	N:f	publika
,	PUNCT	,
naknadno	ADV	naknadno
primećujući	A:aem	primećujući
da	CONJ	da
se	PAR	se
njegove	PRO	njegov
priče	N:f	priča
dosta	ADV	dosta
brzo	ADV	brzo
obistine	V:m	obistine
u	PREP	u
stvarnosti	N:f	stvarnost
.	SENT	.
Najzanimljiviji	A:cem	zanimljiv
i	CONJ	i
najvredniji	A:cem	vredan
aspekt	N:m	aspekt
Priča	N:f	Priča
jeste	INT	jeste
povratak	N:m	povratak
suštinskoj	A:aef	suštinski
naraciji	N:f	naracija
i	CONJ	i
svesti	N:f	svest
da	CONJ	da
je	PRO	ona
film	N:m	film
prvenstveno	ADV	prvenstveno
umetnost	N:f	umetnost
pričanja	N:n	pričanje
priče	N:f	priča
.	SENT	.
Kroz	PREP	kroz
četiri	NUM	četiri
dela	N:m	deo
o	PREP	o
različitim	A:aef	različit
junacima	N:m	junak
(	PUNCT	(
srednjovekovni	A:aem	srednjovekovan
vitez	N:m	vitez
,	PUNCT	,
neustrašivi	A:aem	neustrašiv
kauboj	N:m	kauboj
s	PREP	s
Divljeg	A:aem	divalj
zapada	N:m	zapad
,	PUNCT	,
odvažni	A:aem	odvažan
gladijator	N:m	gladijator
iz	PREP	iz
rimske	A:aef	rimski
ere	N:f	era
,	PUNCT	,
intergalaktički	A:aem	intergalaktički
ratnik	N:m	ratnik
bez	PREP	bez
straha	N:m	strah
i	CONJ	i
mane	N:f	mana
)	PUNCT	)
,	PUNCT	,
za	PREP	za
četiri	NUM	četiri
noći	N:f	noć
Sandler	N:m	Sandler
pruža	A:aem	pruža
instant	N:m	instant
-	PUNCT	-
utehu	N:f	uteha
otuđenim	A:aem	otuđen
sestrićima	N:m	sestrić
,	PUNCT	,
a	CONJ	a
projektuje	N:m	projektuje
i	CONJ	i
sopstvene	A:aef	sopstven
želje	N:f	želja
i	CONJ	i
inhibicije	N:f	inhibicija
izmeštajući	A:aem	izmeštajući
ih	PRO	ona
u	PREP	u
srećniji	A:bem	srećan
i	CONJ	i
smisleniji	A:bem	smislen
svet	N:m	svet
–	A:aem	–
svet	N:m	svet
priče	N:f	priča
.	SENT	.
Taj	PRO	taj
izmaštani	V:m	izmaštati
ali	CONJ	ali
čak	PAR	čak
ne	PAR	ne
ni	PAR	ni
sasvim	ADV	sasvim
ušećereni	V:m	ušećeriti
svet	N:m	svet
dostižan	A:aem	dostižan
je	PRO	ona
kroz	PREP	kroz
slobodu	N:f	sloboda
pripovedanja	N:n	pripovedanje
,	PUNCT	,
kreativnost	N:f	kreativnost
i	CONJ	i
dobronamernost	N:f	dobronamernost
.	SENT	.
Shankmanovo	A:aen	Shankmanovo
rediteljsko	A:aen	rediteljski
umeće	N:n	umeće
očitava	N:f	očitava
se	PAR	se
u	PREP	u
mudrosti	N:f	mudrost
da	CONJ	da
još	ADV	još
u	PREP	u
startu	N:m	start
precizno	ADV	precizno
postavljenu	A:aef	postavljen
priču	N:f	priča
ne	PAR	ne
opterećuje	N:m	opterećuje
napadnim	A:aef	napadan
korekcijama	N:f	korekcija
i	CONJ	i
intervencijama	N:f	intervencija
.	SENT	.
U	PREP	u
skladu	N:m	sklad
sa	PREP	sa
povratkom	N:m	povratak
čarima	N:m	čarima
starovremenskog	A:aem	starovremenski
pripovedanja	N:n	pripovedanje
,	PUNCT	,
autorski	A:aem	autorski
revizionizam	N:m	revizionizam
ogleda	N:m	ogled
se	PAR	se
i	CONJ	i
u	PREP	u
krajnjem	A:aen	krajnji
rezultatu	N:m	rezultat
–	A:aem	–
Priče	N:m	Priče
za	PREP	za
laku	A:aef	lak
noć	N:f	noć
nude	N:f	nude
čistu	A:aem	čist
,	PUNCT	,
ideologijom	N:f	ideologija
neopterećenu	A:aef	neopterećen
zabavu	N:f	zabava
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
priliku	N:f	prilika
da	CONJ	da
bezbedno	A:aen	bezbedan
navijamo	N:f	navijamo
za	PREP	za
glavnog	A:aem	glavnog
junaka	N:m	junak
,	PUNCT	,
iako	CONJ	iako
je	PRO	ona
jasno	ADV	jasno
da	CONJ	da
mu	PRO	on
sleduje	N:m	sleduje
srećan	A:aem	srećan
kraj	N:m	kraj
.	SENT	.
