Od	PREP	od
kako	ADV	kako
su	N:m	su
prestali	V:m	prestati
da	CONJ	da
ekranizuju	N:m	ekranizuju
i	CONJ	i
adaptiraju	N:m	adaptiraju
bajke	N:f	bajka
i	CONJ	i
ostale	V:f	ostati
klasike	N:f	klasika
svetske	A:aef	svetski
književnosti	N:f	književnost
,	PUNCT	,
filmskim	A:aem	filmski
stvaraocima	N:m	stvaralac
iz	PREP	iz
Walt	N:m	Walt
Disney	A:aem	Disney
Animation	N:m	Animation
Studio	V:m	studjeti
nikako	ADV	nikako
da	CONJ	da
se	PAR	se
omakne	A:aem	omakne
pravi	A:aem	prav
hit	N:m	hit
.	SENT	.
S	PREP	s
retkim	A:aef	redak
biserima	N:m	biser
poput	PREP	poput
Lilo	N:m	Lilo
i	CONJ	i
Stiča	N:m	Stiča
,	PUNCT	,
vodenim	A:aef	voden
bojicama	N:f	bojica
slikanog	A:aem	slikan
povratka	N:m	povratak
korenima	A:aef	koren
iz	PREP	iz
2002	NUM	@card@
,	PUNCT	,
Fabrika	N:m	Fabrika
snova	N:m	san
izbacivala	V:n	izbacivati
je	PRO	ona
dela	N:n	delo
koja	PRO	koji
se	PAR	se
kreću	V:m	kreću
od	PREP	od
osrednjih	A:aen	osrednji
do	PREP	do
onih	PRO	onaj
na	PREP	na
ivici	N:f	ivica
gledljivosti	N:f	gledljivosti
.	SENT	.
Čak	N:m	Čak
im	PRO	ona
ni	PAR	ni
doprinos	N:m	doprinos
Jossa	N:m	Jossa
Whedona	N:m	Whedona
(	PUNCT	(
Atlantis	N:m	Atlantis
–	N:m	–
The	INT	The
Lost	N:f	Lost
Empire	N:m	Empire
,	PUNCT	,
2001	NUM	@card@
)	PUNCT	)
nije	N:f	nije
pomogao	V:m	pomoći
da	CONJ	da
dorastu	A:aen	dorastu
pomenutom	A:aen	pomenut
nadimku	N:m	nadimak
koji	PRO	koji
su	N:m	su
nekada	ADV	nekada
s	PREP	s
ponosom	N:m	ponos
nosili	V:m	nositi
.	SENT	.
U	PREP	u
nekom	PRO	neki
trenutku	N:m	trenutak
verni	A:aem	veran
gledalac	N:m	gledalac
je	PRO	ona
morao	V:m	morati
da	CONJ	da
se	PAR	se
zapita	V:m	zapita
:	PUNCT	:
zar	PAR	zar
ovi	PRO	ovaj
ljudi	N:m	ljudi
ne	PAR	ne
umeju	N:f	umeju
da	CONJ	da
skrpe	N:f	skrpe
pristojan	A:aem	pristojan
originalan	A:aem	originalan
scenario	N:m	scenario
?	SENT	?
Njihovo	PRO	njihov
najnovije	A:cef	nov
čedo	N:n	čedo
ipak	PAR	ipak
dokazuje	N:f	dokazuje
da	CONJ	da
,	PUNCT	,
iako	CONJ	iako
na	PREP	na
polju	N:n	polje
dramaturgije	N:f	dramaturgija
tu	ADV	tu
i	CONJ	i
dalje	ADV	dalje
ima	V:m	ima
šta	PRO	šta
da	CONJ	da
se	PAR	se
uči	N:f	uča
,	PUNCT	,
možda	PAR	možda
nije	A:aem	nije
sve	PRO	sav
izgubljeno	V:n	izgubiti
.	SENT	.
U	PREP	u
moru	N:n	more
superherojskih	A:aem	superherojskih
filmova	N:m	film
koje	PRO	koji
smo	N:f	smo
imali	V:m	imati
prilike	N:f	prilika
da	CONJ	da
gledamo	N:f	gledamo
prethodne	A:aef	prethodan
godine	N:f	godina
,	PUNCT	,
nije	N:n	nije
ni	CONJ	ni
čudo	N:n	čudo
što	PRO	što
su	N:m	su
se	PAR	se
scenaristi	N:m	scenarista
odlučili	V:m	odlučiti
za	PREP	za
relativno	ADV	relativno
sigurno	A:aen	siguran
tle	N:n	tle
parodije	N:f	parodija
dotičnog	A:aem	dotični
žanra	N:m	žanr
.	SENT	.
Munja	N:f	munja
,	PUNCT	,
u	PREP	u
stvari	N:f	stvar
,	PUNCT	,
nije	A:aem	nije
toliko	ADV	toliko
ni	CONJ	ni
parodija	N:f	parodija
koliko	ADV	koliko
izvrtanje	N:n	izvrtanje
priče	N:f	priča
o	PREP	o
superheroju	N:m	superheroju
neuklopljenom	A:aem	neuklopljenom
u	PREP	u
svet	N:m	svet
prosečnih	A:aef	prosečan
,	PUNCT	,
koju	PRO	koji
smo	N:f	smo
imali	V:m	imati
prilike	N:f	prilika
da	CONJ	da
na	PREP	na
nov	A:aem	nov
način	N:m	način
sagledamo	N:f	sagledamo
u	PREP	u
sjajnim	A:aem	sjajan
Neviđenima	N:m	Neviđenima
(	PUNCT	(
2004	NUM	@card@
)	PUNCT	)
.	SENT	.
Razlog	N:m	Razlog
što	CONJ	što
simpatični	A:aem	simpatičan
pas	N:m	pas
,	PUNCT	,
glavni	A:aem	glavni
lik	N:m	lik
u	PREP	u
filmu	N:m	film
,	PUNCT	,
nije	V:m	nije
uklopljen	V:m	uklopiti
u	PREP	u
svet	N:m	svet
oko	PREP	oko
sebe	PRO	sebe
,	PUNCT	,
nije	A:aem	nije
u	PREP	u
tome	PRO	taj
što	CONJ	što
ima	A:aem	ima
natprirodne	A:aef	natprirodan
moći	N:f	moć
već	CONJ	već
–	N:m	–
gle	INT	gle
čuda	N:n	čudo
–	N:m	–
što	CONJ	što
ih	PRO	ona
nema	A:aem	nem
.	SENT	.
Vođena	A:aem	Vođena
manipulativnom	A:aef	manipulativan
rukom	N:f	ruka
pohlepnih	A:aen	pohlepan
producenata	N:m	producent
koji	PRO	koji
kao	ADV	kao
da	CONJ	da
su	N:m	su
izašli	V:m	izaći
iz	PREP	iz
Trumanovog	A:aem	Trumanov
šoua	N:m	šou
(	PUNCT	(
1998	NUM	@card@
)	PUNCT	)
,	PUNCT	,
ekipa	N:f	ekipa
TV	A:aem	TV
serije	N:f	serija
u	PREP	u
kojoj	PRO	koji
Munja	N:m	Munja
(	PUNCT	(
Travolta	N:m	Travolta
)	PUNCT	)
igra	N:f	igra
čitavog	A:aen	čitav
života	N:m	život
drži	N:m	drži
ga	PRO	on
u	PREP	u
iluziji	N:f	iluzija
da	CONJ	da
je	PRO	ona
on	PRO	on
,	PUNCT	,
Munja	N:m	Munja
,	PUNCT	,
zaista	PAR	zaista
pas	N:m	pas
s	PREP	s
posebnim	A:aef	poseban
sposobnostima	N:f	sposobnost
.	SENT	.
Kada	CONJ	kada
se	PAR	se
,	PUNCT	,
igrom	N:f	igra
slučaja	N:m	slučaj
,	PUNCT	,
nađe	A:aem	nađe
hiljadama	ADV	hiljadama
kilometara	N:m	kilometar
daleko	ADV	daleko
od	PREP	od
studija	N:f	studija
,	PUNCT	,
Munja	N:m	Munja
će	A:aem	će
otkriti	N:m	otkriti
koliko	ADV	koliko
je	PRO	ona
nepripremljen	A:aem	nepripremljen
za	PREP	za
stvarni	A:aem	stvaran
život	N:m	život
,	PUNCT	,
za	PREP	za
koji	PRO	koji
će	N:m	će
ionako	ADV	ionako
pola	ADV	pola
vremena	N:n	vreme
misliti	N:m	misliti
da	CONJ	da
je	PRO	ona
zavera	N:f	zavera
njegovog	PRO	njegov
zakletog	A:aem	zaklet
neprijatelja	N:m	neprijatelj
–	A:aem	–
Zelenookog	A:aem	Zelenookog
Čoveka	N:m	Čoveka
.	SENT	.
Na	PREP	na
sreću	N:f	sreća
,	PUNCT	,
na	PREP	na
truckavom	A:aem	truckavom
putu	N:m	put
kroz	PREP	kroz
realnost	N:f	realnost
naći	A:aem	naći
će	N:m	će
mu	PRO	on
se	PAR	se
ironična	A:aef	ironičan
mačka	N:f	mačka
Mitens	N:m	Mitens
(	PUNCT	(
Essman	N:m	Essman
)	PUNCT	)
i	CONJ	i
Munjin	A:aem	Munjin
najveći	A:cem	velik
obožavalac	N:m	obožavalac
,	PUNCT	,
hrčak	N:m	hrčak
Nosonja	N:m	nosonja
(	PUNCT	(
Walton	N:m	Walton
)	PUNCT	)
.	SENT	.
Kontriranje	N:n	kontriranje
Munjine	A:aef	Munjine
naivnosti	N:f	naivnost
i	CONJ	i
nadmenosti	N:f	nadmenost
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
Mitensinu	N:m	Mitensinu
surovu	A:aen	surov
prizemnost	N:f	prizemnost
i	CONJ	i
lukavost	N:f	lukavost
glavni	A:aem	glavni
je	PRO	ona
izvor	N:m	izvor
komičnih	A:aef	komičan
situacija	N:f	situacija
tokom	PREP	tokom
road	N:m	road
-	PUNCT	-
tripa	N:f	tripa
do	PREP	do
Hollywooda	N:f	Hollywooda
,	PUNCT	,
a	CONJ	a
moramo	N:f	moramo
priznati	V:m	priznati
da	CONJ	da
i	CONJ	i
sama	PRO	sam
ideja	N:f	ideja
o	PREP	o
psu	N:m	pas
koji	PRO	koji
ne	PAR	ne
zna	V:n	zna
ni	PAR	ni
da	CONJ	da
šeni	A:aem	šeni
otvara	N:m	otvara
dovoljno	ADV	dovoljno
mogućnosti	N:f	mogućnost
za	PREP	za
brojne	A:aem	brojni
smešne	A:aef	smešan
situacije	N:f	situacija
.	SENT	.
Ono	PRO	onaj
što	PRO	što
pri	PREP	pri
tome	PRO	taj
trpi	N:f	trpi
jeste	INT	jeste
dramska	A:aef	dramski
struktura	N:f	struktura
okvirne	A:aef	okviran
priče	N:f	priča
koja	PRO	koji
se	PAR	se
vrti	V:m	vrti
oko	PREP	oko
Munjinog	A:aem	Munjinog
odnosa	N:m	odnos
s	PREP	s
malom	A:aen	mali
gazdaricom	N:f	gazdarica
i	CONJ	i
partnerkom	N:f	partnerka
u	PREP	u
seriji	N:f	serija
Peni	N:f	Peni
(	PUNCT	(
Cyrus	N:m	Cyrus
)	PUNCT	)
.	SENT	.
Recimo	N:m	Recimo
samo	PAR	samo
da	CONJ	da
za	PREP	za
jednog	NUM	jedan
superheroja	N:m	superheroja
,	PUNCT	,
pa	CONJ	pa
makar	CONJ	makar
i	CONJ	i
lažnog	A:aem	lažan
,	PUNCT	,
Munja	N:m	Munja
nema	A:aem	nem
dostojnog	A:aem	dostojan
protivnika	N:m	protivnik
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
ne	PAR	ne
postoji	N:m	postoji
nikakva	PRO	nikakav
sumnja	N:f	sumnja
u	PREP	u
hepiend	N:m	hepiend
koji	PRO	koji
sledi	N:f	sledi
posle	PREP	posle
dugog	A:aem	dug
putovanja	N:n	putovanje
kući	N:f	kuća
,	PUNCT	,
a	CONJ	a
da	CONJ	da
bi	A:aem	bi
nadomestili	V:m	nadomestiti
nedostatak	N:m	nedostatak
pravog	A:aem	prav
konflikta	N:m	konflikt
,	PUNCT	,
autori	N:m	autor
su	PREF	su
smislili	V:m	smisliti
potpuno	ADV	potpuno
nezanimljivu	A:aef	nezanimljiv
diverziju	N:f	diverzija
koja	PRO	koji
ne	PAR	ne
izaziva	A:aef	izaziva
napetost	N:f	napetost
ni	CONJ	ni
među	PREP	među
petogodišnjacima	N:m	petogodišnjacima
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
ako	CONJ	ako
mu	PRO	on
malo	ADV	malo
progledamo	N:m	progledamo
kroz	PREP	kroz
prste	N:m	prst
,	PUNCT	,
film	N:m	film
će	A:aem	će
pružiti	A:aem	pružiti
prijatno	A:aen	prijatan
popodne	N:n	popodne
najmlađima	A:cem	mlad
i	CONJ	i
onima	PRO	onaj
koji	PRO	koji
se	PAR	se
tako	ADV	tako
osećaju	N:m	osećaj
.	SENT	.
Disneyjevi	A:aem	Disneyjevi
animatori	N:m	animator
,	PUNCT	,
ovog	PRO	ovaj
puta	ADV	puta
bez	PREP	bez
mlađe	A:bem	mlad
i	CONJ	i
talentovanije	A:bef	talentovan
braće	N:f	braća
iz	PREP	iz
Pixara	N:m	Pixara
,	PUNCT	,
uspeli	V:m	uspeti
su	N:m	su
da	CONJ	da
isporuče	A:aen	isporuče
vizuelno	A:aen	vizuelan
inovativno	A:aen	inovativan
delo	N:n	delo
,	PUNCT	,
inspirisano	A:aen	inspirisan
slikama	N:f	slika
Edwarda	N:m	Edwarda
Hoppera	N:m	Hoppera
,	PUNCT	,
a	CONJ	a
scenaristi	N:m	scenarista
su	N:m	su
se	PAR	se
setili	V:m	setiti
da	CONJ	da
i	CONJ	i
sporedni	A:aem	sporedan
likovi	N:m	lik
treba	N:f	treba
da	CONJ	da
budu	A:aen	budu
zanimljivi	A:aem	zanimljiv
,	PUNCT	,
što	CONJ	što
nam	PRO	mi
uz	PREP	uz
fanatičnog	A:aem	fanatičan
Nosonju	N:m	nosonja
donosi	N:m	donosi
nekoliko	ADV	nekoliko
jako	ADV	jako
šarmantnih	A:aef	šarmantan
minijatura	N:f	minijatura
.	SENT	.
Sve	PRO	sav
u	PREP	u
svemu	PRO	sav
,	PUNCT	,
ako	CONJ	ako
i	CONJ	i
nije	A:aem	nije
baš	PAR	baš
potpuno	ADV	potpuno
uvidela	V:f	uvideti
koliko	ADV	koliko
se	PAR	se
deca	N:f	deca
21	NUM	@card@
.	PUNCT	.
veka	N:m	vek
razlikuju	N:m	razlikuju
od	PREP	od
one	PRO	onaj
iz	PREP	iz
50	NUM	@card@
-	PUNCT	-
ih	INT	ih
i	CONJ	i
šta	PRO	šta
je	PRO	ona
sve	ADV	sve
potrebno	ADV	potrebno
da	CONJ	da
bi	A:aen	bi
se	PAR	se
zadovoljila	V:f	zadovoljiti
,	PUNCT	,
ekipa	N:f	ekipa
iz	PREP	iz
Disneyja	N:f	Disneyja
barem	PAR	barem
je	PRO	ona
na	PREP	na
pravom	N:n	pravo
putu	N:m	put
.	SENT	.
Samo	PAR	samo
neka	PRO	neki
tako	ADV	tako
nastavi	N:f	nastava
i	CONJ	i
možda	PAR	možda
,	PUNCT	,
posle	PREP	posle
deset	NUM	deset
godina	N:f	godina
pucanja	N:n	pucanje
u	PREP	u
prazno	A:aen	prazan
,	PUNCT	,
još	ADV	još
jednom	ADV	jednom
doživi	A:aem	doživi
renesansu	N:f	renesansa
.	SENT	.
