Filmovi	N:m	film
koji	PRO	koji
za	PREP	za
temu	N:f	tema
obrađuju	N:m	obrađuju
određeni	V:m	odrediti
sport	N:m	sport
ili	CONJ	ili
neku	PRO	neki
ličnost	N:f	ličnost
iz	PREP	iz
te	PRO	taj
sfere	N:f	sfera
,	PUNCT	,
retko	ADV	retko
kada	CONJ	kada
se	PAR	se
ističu	V:n	ističu
nekom	PRO	neki
posebnom	A:aef	poseban
originalnošću	N:f	originalnost
.	SENT	.
Mi	PRO	ja
ovde	ADV	ovde
uglavnom	ADV	uglavnom
dobijamo	ADV	dobijamo
dramatične	A:aem	dramatičan
i	CONJ	i
inspirativne	A:aef	inspirativan
priče	N:f	priča
o	PREP	o
ljudima	N:m	ljudi
koji	PRO	koji
su	N:m	su
morali	V:m	morati
da	CONJ	da
se	PAR	se
suprostave	A:aem	suprostave
zadrtom	A:aem	zadrt
svetu	N:m	svet
i	CONJ	i
pređu	N:f	pređa
ogromne	A:aef	ogroman
prepreke	N:f	prepreka
kako	CONJ	kako
bi	N:f	bi
uspeli	V:m	uspeti
u	PREP	u
onome	PRO	onaj
što	CONJ	što
je	PRO	ona
do	PREP	do
njihovog	PRO	njihov
velikog	A:aen	velik
podviga	N:m	podvig
bilo	V:n	biti
smatrano	V:n	smatrati
“	A:aem	“
nemogućim	A:aef	nemoguć
”	N:m	”
.	SENT	.
Baš	N:m	Baš
kao	ADV	kao
i	CONJ	i
u	PREP	u
većina	N:f	većina
ostvaranje	N:n	ostvaranje
ovog	PRO	ovaj
žanra	N:m	žanr
,	PUNCT	,
“	N:m	“
42	NUM	@card@
″	N:m	″
nudi	N:f	nudi
klasičnu	A:aem	klasičan
“	N:m	“
underdog	A:aem	underdog
”	A:aem	”
priču	N:f	priča
koja	PRO	koji
pored	PREP	pored
toga	PRO	taj
što	CONJ	što
prikazuje	N:m	prikazuje
jednu	NUM	jedan
inspirativnu	A:aef	inspirativan
dramu	N:f	drama
,	PUNCT	,
obrađuje	N:m	obrađuje
nesvakidašnjeg	A:aem	nesvakidašnji
subjekta	N:m	subjekt
,	PUNCT	,
nudi	N:f	nudi
i	CONJ	i
jednu	NUM	jedan
lepu	A:aen	lep
lekciju	N:f	lekcija
iz	PREP	iz
istorije	N:f	istorija
i	CONJ	i
tačno	ADV	tačno
oslikava	A:aem	oslikava
koliko	ADV	koliko
ljudi	N:m	ljudi
zapravo	ADV	zapravo
nisu	N:m	nisu
spremni	A:aem	spreman
da	CONJ	da
se	PAR	se
menjaju	N:m	menjaju
i	CONJ	i
prihvate	N:m	prihvat
nešto	ADV	nešto
novo	A:aen	nov
i	CONJ	i
drugačije	ADV	drugačije
.	SENT	.
“	N:m	“
42	NUM	@card@
″	N:m	″
je	PRO	ona
biografski	A:aem	biografski
film	N:m	film
zasnovan	V:m	zasnovati
na	PREP	na
životu	N:m	život
Džekija	N:m	Džekija
Robinsona	N:m	Robinson
(	PUNCT	(
Jackie	A:aem	Jackie
Robinson	N:m	Robinson
)	PUNCT	)
,	PUNCT	,
prvog	A:aem	prvi
afroamerikanca	N:m	Afroamerikanac
koji	PRO	koji
je	PRO	ona
nastupio	V:m	nastupiti
u	PREP	u
MLB	N:m	MLB
(	PUNCT	(
profesionalnoj	A:aef	profesionalan
američkoj	A:aef	američki
bejzbol	N:m	bejzbol
ligi	N:f	liga
)	PUNCT	)
.	SENT	.
Priča	A:aem	Priča
filma	N:m	film
reditelja	N:m	reditelj
i	CONJ	i
scenariste	N:m	scenarista
Brajana	N:m	Brajan
Helglenda	N:f	Helglenda
(	PUNCT	(
Brian	N:m	Brian
Helgeland	N:m	Helgeland
)	PUNCT	)
obrađuje	N:m	obrađuje
događaje	N:m	događaj
koji	PRO	koji
su	N:m	su
se	PAR	se
odvili	V:m	odviti
u	PREP	u
periodu	N:m	period
između	PREP	između
1945	NUM	@card@
-	PUNCT	-
1947	NUM	@card@
godine	N:f	godina
,	PUNCT	,
neposredno	ADV	neposredno
posle	PREP	posle
momenta	N:m	moment
kada	CONJ	kada
se	PAR	se
predsednik	N:m	predsednik
i	CONJ	i
generalni	A:aem	generalan
menadžer	N:m	menadžer
Bruklin	N:m	Bruklin
Dodžersa	N:m	Dodžersa
(	PUNCT	(
Brooklyn	N:m	Brooklyn
Dodgers	N:m	Dodgers
)	PUNCT	)
Brenč	A:aem	Brenč
Riki	N:m	Riki
(	PUNCT	(
Branch	A:aem	Branch
Rickey	N:m	Rickey
)	PUNCT	)
odlučio	V:m	odlučiti
da	CONJ	da
postupi	N:m	postupi
smelo	A:aen	smeo
i	CONJ	i
integriše	A:aen	integriše
tada	ADV	tada
rasno	A:aen	rasan
odvojene	A:aem	odvojen
bejzbol	N:m	bejzbol
lige	N:f	liga
.	SENT	.
Riki	N:f	rika
dovodi	N:m	dovod
prvog	A:aem	prvi
“	N:m	“
obojenog	A:aem	obojen
”	A:aem	”
igrača	N:m	igrač
i	CONJ	i
izlaže	N:n	izlaže
ga	PRO	on
velikom	A:aef	velik
pritisku	N:m	pritisak
.	SENT	.
Pored	PREP	pored
toga	PRO	taj
što	PRO	što
su	N:m	su
se	PAR	se
mnogi	A:aem	mnogi
protivili	V:m	protiviti
da	CONJ	da
Robinson	N:m	Robinson
nastupi	N:m	nastup
za	PREP	za
ovako	ADV	ovako
veliki	A:aem	velik
klub	N:m	klub
,	PUNCT	,
novi	A:aem	nov
igrač	N:m	igrač
Dodžersa	N:m	Dodžersa
je	PRO	ona
moram	N:m	moram
da	CONJ	da
se	PAR	se
izbori	N:m	izbor
i	CONJ	i
sa	PREP	sa
brojnim	A:aen	brojni
rasnim	A:aem	rasan
uvredama	N:f	uvreda
i	CONJ	i
pretnjama	N:f	pretnja
dok	CONJ	dok
se	PAR	se
ljudi	N:m	ljudi
napokon	ADV	napokon
nisu	N:m	nisu
“	N:m	“
navikli	V:m	naviknuti
na	PREP	na
njega	PRO	on
”	N:m	”
i	CONJ	i
shvatili	V:m	shvatiti
da	CONJ	da
on	PRO	on
nema	A:aem	nem
nameru	N:f	namera
da	CONJ	da
napusti	N:m	napusti
sport	N:m	sport
.	SENT	.
Pošto	A:aem	Pošto
nisam	N:m	nisam
neki	PRO	neki
strastveni	A:aem	strastven
ljubitelj	N:m	ljubitelj
bejzbola	N:m	bejzbol
i	CONJ	i
nisam	N:m	nisam
nikada	ADV	nikada
gledao	V:m	gledati
Robinsona	N:m	Robinson
kako	CONJ	kako
igra	N:f	igra
,	PUNCT	,
izuzetno	ADV	izuzetno
mi	PRO	ja
je	PRO	ona
teško	ADV	teško
da	CONJ	da
pišem	A:aem	pišem
o	PREP	o
tome	PRO	taj
koliko	ADV	koliko
je	PRO	ona
film	N:m	film
dostojan	A:aem	dostojan
svom	PRO	sav
subjektu	N:m	subjekt
.	SENT	.
Ono	PRO	onaj
što	PRO	što
smatram	N:m	smatram
ovde	ADV	ovde
velikim	A:aem	velik
problemom	N:m	problem
jeste	INT	jeste
što	CONJ	što
ni	PAR	ni
posle	PREP	posle
gledanja	N:n	gledanje
“	N:m	“
42	NUM	@card@
″	A:aem	″
nisam	N:m	nisam
dobio	V:m	dobiti
neku	PRO	neki
dublju	A:bef	dubok
sliku	N:f	slika
kakav	PRO	kakav
je	PRO	ona
Džeki	N:f	Džeki
Robinson	N:m	Robinson
kao	CONJ	kao
čovek	N:m	čovek
zapravo	ADV	zapravo
bio	V:m	biti
.	SENT	.
Odsustvo	N:n	odsustvo
drame	N:f	drama
van	PREP	van
terena	N:m	teren
je	PRO	ona
prilično	ADV	prilično
veliki	A:aem	velik
problem	N:m	problem
ovde	ADV	ovde
.	PUNCT	.
Jeste	INT	jeste
,	PUNCT	,
dobijamo	ADV	dobijamo
određene	V:f	odrediti
momente	N:m	moment
koji	PRO	koji
oslikavaju	N:f	oslikavaju
krajnju	A:aem	krajnji
netrpeljivost	N:f	netrpeljivost
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
sve	ADV	sve
nekako	ADV	nekako
deluje	A:aem	deluje
usputno	ADV	usputno
.	SENT	.
Mi	PRO	ja
u	PREP	u
svega	ADV	svega
tri	NUM	tri
-	PUNCT	-
četiri	NUM	četiri
scene	N:f	scena
zalazimo	N:f	zalazimo
dublje	ADV	dublje
u	PREP	u
to	PRO	taj
kako	CONJ	kako
se	PAR	se
Robinson	N:m	Robinson
zapravo	ADV	zapravo
osećao	V:m	osećati
u	PREP	u
ovoj	PRO	ovaj
veštačkoj	A:aef	veštački
i	CONJ	i
nezdravoj	A:aef	nezdrav
okolini	N:f	okolina
,	PUNCT	,
što	CONJ	što
zaista	PAR	zaista
nije	A:aen	nije
dobro	N:n	dobro
jer	CONJ	jer
je	PRO	ona
to	PRO	taj
trebao	V:m	trebati
da	CONJ	da
bude	A:aem	bude
primarni	A:aem	primaran
fokus	N:m	fokus
filma	N:m	film
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
nije	N:f	nije
baš	PAR	baš
toliko	ADV	toliko
sve	ADV	sve
crno	A:aen	crn
,	PUNCT	,
reditelj	N:m	reditelj
daje	N:m	daje
određene	V:f	odrediti
pokazatelje	N:m	pokazatelj
kroz	PREP	kroz
čitavo	A:aen	čitav
trajanje	N:n	trajanje
filma	N:m	film
,	PUNCT	,
ali	CONJ	ali
smatram	V:m	smatram
da	CONJ	da
to	PRO	taj
radi	PREP	radi
suviše	ADV	suviše
površinski	A:aem	površinski
i	CONJ	i
blago	ADV	blago
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
“	A:aem	“
scena	N:f	scena
na	PREP	na
terenu	N:m	teren
”	N:m	”
,	PUNCT	,
one	PRO	onaj
su	N:m	su
zaista	PAR	zaista
odlično	ADV	odlično
konstruisane	V:f	konstruisati
i	CONJ	i
snimljene	V:f	snimiti
.	SENT	.
One	PRO	onaj
zaista	PAR	zaista
lepo	ADV	lepo
oslikavaju	V:m	oslikavaju
duh	N:m	duh
igre	N:f	igra
i	CONJ	i
želju	N:f	želja
protagoniste	N:m	protagonista
da	CONJ	da
se	PAR	se
pokaže	V:m	pokaže
u	PREP	u
što	ADV	što
boljem	A:ben	dobar
svetlu	N:n	svetlo
i	CONJ	i
pruži	A:aen	pruži
što	CONJ	što
je	PRO	ona
više	ADV	više
moguće	ADV	moguće
svom	PRO	sav
klubu	N:m	klub
i	CONJ	i
saigračima	N:m	saigrač
.	SENT	.
Čedvik	N:m	Čedvik
Bosman	N:m	Bosman
(	PUNCT	(
Chadwick	A:aem	Chadwick
Boseman	N:m	Boseman
)	PUNCT	)
mi	PRO	ja
se	PAR	se
dopao	V:m	dopasti
kao	CONJ	kao
Džeki	N:f	Džeki
Robinson	N:m	Robinson
.	PUNCT	.
Pored	PREP	pored
toga	PRO	taj
što	CONJ	što
vizualno	A:aen	vizualan
dosta	ADV	dosta
liči	N:m	liči
na	PREP	na
Robinsona	N:m	Robinson
,	PUNCT	,
Čedvik	N:m	Čedvik
zaista	ADV	zaista
deluje	A:aem	deluje
kao	CONJ	kao
pravi	A:aem	prav
bejzbol	N:m	bejzbol
igrač	N:m	igrač
koji	PRO	koji
je	PRO	ona
spreman	A:aem	spreman
da	CONJ	da
ostavi	N:f	ostava
poslednji	A:aem	poslednji
atom	N:m	at
snage	N:f	snaga
na	PREP	na
terenu	N:m	teren
.	SENT	.
Harison	N:m	Harison
Ford	N:m	Ford
(	PUNCT	(
Harrison	N:m	Harrison
Ford	N:m	Ford
)	PUNCT	)
se	PAR	se
baš	PAR	baš
i	CONJ	i
nije	A:aem	nije
proslavio	V:m	proslaviti
kao	ADV	kao
Brenč	A:aem	Brenč
Riki	N:m	Riki
.	SENT	.
Opet	ADV	opet
,	PUNCT	,
moram	N:m	moram
da	CONJ	da
kažem	A:aem	kažem
da	CONJ	da
ni	PAR	ni
Rikija	N:m	Riki
nikada	ADV	nikada
u	PREP	u
životu	N:m	život
nisam	N:m	nisam
gledao	V:m	gledati
,	PUNCT	,
ali	CONJ	ali
nekako	ADV	nekako
imam	N:m	imam
osećaj	N:m	osećaj
da	CONJ	da
nije	N:m	nije
bio	V:m	biti
kao	CONJ	kao
lik	N:m	lik
iz	PREP	iz
crtanog	A:aem	crtan
filma	N:m	film
ili	CONJ	ili
bar	PAR	bar
ne	PAR	ne
toliko	ADV	toliko
kako	CONJ	kako
ga	PRO	on
je	PRO	ona
Ford	N:m	Ford
predstavio	V:m	predstaviti
.	PUNCT	.
Iako	CONJ	iako
dosta	ADV	dosta
površno	ADV	površno
obrađuje	N:m	obrađuje
svoju	PRO	svoj
temu	N:f	tema
i	CONJ	i
subjekta	N:m	subjekt
,	PUNCT	,
istina	N:f	istina
je	PRO	ona
da	CONJ	da
je	PRO	ona
i	CONJ	i
pored	PREP	pored
toga	PRO	taj
“	N:m	“
42	NUM	@card@
″	N:m	″
jedan	NUM	jedan
vrlo	ADV	vrlo
lep	A:aem	lep
,	PUNCT	,
lagan	A:aem	lagan
i	CONJ	i
inspirativan	A:aem	inspirativan
film	N:m	film
.	SENT	.
Ovoj	PRO	ovaj
prelepo	ADV	prelepo
snimljenoj	A:aef	snimljen
sportskoj	A:aef	sportski
drami	N:f	drama
dosta	ADV	dosta
nedostaje	N:m	nedostaje
dubina	N:f	dubina
i	CONJ	i
ozbiljniji	A:bem	ozbiljan
pristup	N:m	pristup
rasnoj	A:aef	rasan
netrpeljivosti	N:f	netrpeljivost
koji	PRO	koji
je	PRO	ona
toliko	ADV	toliko
bio	V:m	biti
izražen	V:m	izraziti
tokom	PREP	tokom
četrdesetih	A:aef	četrdeseti
godina	N:f	godina
prošlog	A:aen	prošli
veka	N:m	vek
.	SENT	.
Iako	CONJ	iako
bih	A:aem	bih
voleo	V:m	voleti
da	CONJ	da
sam	PRO	sam
više	ADV	više
saznao	V:m	saznati
o	PREP	o
Džekiju	N:f	Džekiju
Robinsonu	N:m	Robinson
kao	CONJ	kao
čoveku	N:m	čovek
i	CONJ	i
njegovim	PRO	njegov
unutrašnjim	A:aem	unutrašnji
demonima	N:m	demon
,	PUNCT	,
moram	N:m	moram
reći	A:aem	reći
da	CONJ	da
sam	A:aem	sam
sasvim	ADV	sasvim
zadovoljan	A:aem	zadovoljan
filmom	N:m	film
“	N:m	“
42	NUM	@card@
″	N:m	″
i	CONJ	i
apsolutno	ADV	apsolutno
mi	PRO	ja
je	PRO	ona
jasno	ADV	jasno
zašto	ADV	zašto
je	PRO	ona
osvojim	A:aem	osvojim
brojne	A:aem	brojni
filmadžije	N:m	filmadžija
širom	PREP	širom
Amerike	N:f	Amerika
.	SENT	.
