Duša	N:f	Duša
je	PRO	ona
prema	PREP	prema
gnosticima	N:m	gnostik
posrednik	N:m	posrednik
između	PREP	između
duha	N:m	duh
i	CONJ	i
tela	N:n	telo
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
prema	PREP	prema
Kabali	N:m	kabal
sačinjena	V:f	sačiniti
od	PREP	od
vatre	N:f	vatra
,	PUNCT	,
zemlje	N:f	zemlja
,	PUNCT	,
vazduha	N:m	vazduh
,	PUNCT	,
vode	N:f	voda
i	CONJ	i
suštine	N:f	suština
.	SENT	.
Nisam	N:m	Nisam
baš	PAR	baš
skontao	V:m	skontati
šta	PRO	šta
je	PRO	ona
to	PRO	taj
suština	N:f	suština
,	PUNCT	,
ali	CONJ	ali
nije	V:m	nije
ni	PAR	ni
Aristotel	N:m	Aristotel
.	SENT	.
Duša	N:f	Duša
ima	A:aem	ima
različite	A:aef	različit
oblike	N:m	oblik
,	PUNCT	,
ali	CONJ	ali
samo	PAR	samo
jedan	NUM	jedan
čovek	N:m	čovek
na	PREP	na
svetu	A:aen	svet
ima	A:aen	ima
dušu	N:f	duša
u	PREP	u
obliku	N:m	oblik
leblebije	N:f	leblebija
.	SENT	.
Taj	PRO	taj
čovek	N:m	čovek
se	PAR	se
zove	N:f	zova
Paul	N:m	Paul
Giamatti	A:aem	Giamatti
i	CONJ	i
jedan	NUM	jedan
je	PRO	ona
od	PREP	od
najboljih	A:cef	dobar
epizodista	N:m	epizodista
i	CONJ	i
takozvanih	A:aen	takozvani
B	ABB	B
glumaca	N:m	glumac
,	PUNCT	,
kako	CONJ	kako
Holivuda	N:m	Holivud
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
Off	N:m	Off
Holivuda	N:m	Holivud
.	SENT	.
U	PREP	u
skladu	N:m	sklad
sa	PREP	sa
svojim	PRO	svoj
habitusom	N:m	habitus
,	PUNCT	,
Giamatti	A:aem	Giamatti
nije	N:m	nije
mogao	V:m	moći
da	CONJ	da
igra	N:f	igra
superheroje	N:m	superheroje
,	PUNCT	,
osvajače	N:m	osvajač
i	CONJ	i
velike	A:aem	velik
ljubavnike	N:m	ljubavnik
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
zato	ADV	zato
rođen	V:m	roditi
za	PREP	za
uloge	N:f	uloga
likova	N:n	likovo
koji	PRO	koji
se	PAR	se
kroz	PREP	kroz
život	N:m	život
vuku	N:m	vuk
sa	PREP	sa
koferom	N:m	kofer
punim	A:aef	pun
psiholoških	A:aem	psihološki
problema	N:m	problem
i	CONJ	i
frustracija	N:f	frustracija
.	SENT	.
Ko	PRO	ko
je	PRO	ona
gledao	V:m	gledati
American	A:aem	American
Splendor	N:m	Splendor
i	CONJ	i
Stranputice	N:f	stranputica
,	PUNCT	,
zna	A:aem	zna
o	PREP	o
čemu	PRO	šta
pričam	N:m	pričam
.	SENT	.
Film	N:m	film
Cold	N:m	Cold
Souls	N:m	Souls
potpisuje	N:m	potpisuje
Sophie	A:aem	Sophie
Barthes	N:m	Barthes
kojoj	PRO	koji
je	PRO	ona
ovo	PRO	ovaj
prvi	A:aem	prvi
ozbiljniji	A:bem	ozbiljan
poduhvat	N:m	poduhvat
.	SENT	.
Paul	N:m	Paul
Giamatti	A:aem	Giamatti
igra	N:f	igra
sebe	PRO	sebe
,	PUNCT	,
odnosno	PAR	odnosno
glumca	N:m	glumac
koji	PRO	koji
ima	A:aem	ima
emotivno	A:aen	emotivan
-	PUNCT	-
duhovnu	A:aen	duhovan
-	PUNCT	-
kreativnu	A:aef	kreativan
krizu	N:f	kriza
,	PUNCT	,
i	CONJ	i
koji	PRO	koji
radi	PREP	radi
rešavanja	N:n	rešavanje
svog	PRO	svoj
problema	N:m	problem
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
naleteo	V:m	naleteti
na	PREP	na
reklamu	N:f	reklama
u	PREP	u
New	A:aem	New
Yorkeru	N:m	Yorkeru
,	PUNCT	,
odlazi	N:m	odlazi
u	PREP	u
tzv	ABB	tzv
.	SENT	.
Stovarište	A:aem	Stovarište
duša	N:f	duša
(	PUNCT	(
Soul	N:m	Soul
Storage	N:m	Storage
)	PUNCT	)
,	PUNCT	,
ostavlja	N:n	ostavlja
dušu	N:f	duša
Dr	N:m	Dr
Flintsteinu	N:m	Flintsteinu
na	PREP	na
čuvanje	N:n	čuvanje
,	PUNCT	,
uletevši	V:m	uletevši
potom	ADV	potom
u	PREP	u
svet	N:m	svet
tzv	ABB	tzv
.	PUNCT	.
Soul	N:m	Soul
traffickinga	N:m	traffickinga
.	PUNCT	.
Ruska	A:aef	Ruski
mafija	N:f	mafija
,	PUNCT	,
Čehovljev	A:aem	Čehovljev
Ujka	N:m	ujka
Vanja	N:f	Vanja
i	CONJ	i
mit	N:m	mit
o	PREP	o
duši	N:f	duša
ruskog	A:aem	ruski
pesnika	N:m	pesnik
,	PUNCT	,
nemaju	N:m	nemaju
baš	PAR	baš
puno	A:aen	pun
veze	N:f	veza
jedni	NUM	jedan
sa	PREP	sa
drugima	A:aem	drugi
,	PUNCT	,
ali	CONJ	ali
ovde	ADV	ovde
,	PUNCT	,
povezani	V:m	povezati
u	PREP	u
celinu	N:f	celina
,	PUNCT	,
priči	N:f	priča
daju	N:m	Daj
poseban	A:aem	poseban
štimung	N:m	štimung
i	CONJ	i
humoresknu	A:aef	humoresknu
dimenziju	N:f	dimenzija
koja	PRO	koji
se	PAR	se
bez	PREP	bez
problema	N:m	problem
može	A:aem	može
porediti	N:m	porediti
sa	PREP	sa
nekim	PRO	neki
ranijim	A:aem	raniji
ostvarenjima	N:n	ostvarenje
Woodya	N:m	Woodya
Allena	N:m	Allena
.	SENT	.
Nešto	N:m	Nešto
poput	PREP	poput
satire	N:f	satira
čija	PRO	čiji
su	N:m	su
meta	N:f	meta
industrija	N:f	industrija
terapije	N:f	terapija
i	CONJ	i
postfrojdističke	A:aef	postfrojdističke
opsesije	N:f	opsesija
zapadnog	A:aen	zapadni
čoveka	N:m	čovek
,	PUNCT	,
ispričane	V:f	ispričati
kroz	PREP	kroz
uvrnuti	A:aem	uvrnut
vic	N:m	vic
iz	PREP	iz
ruske	A:aef	ruski
književnosti	N:f	književnost
.	SENT	.
Žanrovski	A:aem	Žanrovski
bi	N:m	bi
se	PAR	se
mogao	V:m	moći
definisati	A:aem	definisati
kao	CONJ	kao
crna	A:aef	crn
komedija	N:f	komedija
sa	PREP	sa
elementima	N:m	element
melodrame	N:f	melodrama
.	SENT	.
Zanimljivo	ADV	zanimljivo
je	PRO	ona
da	CONJ	da
su	N:m	su
brojni	A:aem	brojni
filmski	A:aem	filmski
kritičari	N:m	kritičar
ovaj	PRO	ovaj
film	N:m	film
poredili	V:m	porediti
sa	PREP	sa
Biti	N:m	Biti
Džon	N:m	Džon
Malkovič	N:m	Malkovič
.	SENT	.
Možda	N:f	Možda
ove	PRO	ovaj
dve	NUM	dva
priče	N:f	priča
i	CONJ	i
dele	N:m	deo
atmosferu	N:f	atmosfera
,	PUNCT	,
ali	CONJ	ali
tu	PRO	taj
se	PAR	se
svaka	PRO	svaki
druga	A:aef	drugi
sličnost	N:f	sličnost
završava	N:f	završava
.	SENT	.
Sophie	A:aem	Sophie
Barthes	N:m	Barthes
je	PRO	ona
stvari	N:f	stvar
koncipirala	V:f	koncipirati
drugačije	ADV	drugačije
.	PUNCT	.
Za	PREP	za
početak	N:m	početak
je	PRO	ona
ipak	PAR	ipak
odabarala	V:f	odabarala
Paula	N:f	Paula
Giamattia	A:aem	Giamattia
(	PUNCT	(
za	PREP	za
razliku	N:f	razlika
od	PREP	od
Spike	N:m	Spike
Jonzea	N:m	Jonzea
koji	PRO	koji
je	PRO	ona
odabrao	V:m	odabrati
precenjenog	A:aem	precenjen
miljenika	N:m	miljenik
intelektualne	A:aem	intelektualan
publike	N:f	publika
)	PUNCT	)
.	SENT	.
Imajući	N:m	Imajući
u	PREP	u
vidu	N:f	vida
da	CONJ	da
ceo	A:aem	ceo
film	N:m	film
na	PREP	na
svojim	PRO	svoj
plećima	N:n	pleća
odlično	ADV	odlično
nosi	A:aem	nosi
glavni	A:aem	glavni
glumac	N:m	glumac
,	PUNCT	,
Paul	N:m	Paul
Giamatti	N:m	Giamatti
,	PUNCT	,
isti	A:aem	isti
bi	N:m	bi
se	PAR	se
mogao	V:m	moći
uvrstiti	V:m	uvrstiti
u	PREP	u
“	A:aem	“
glumačke	A:aem	glumački
filmove	N:m	film
”	A:aem	”
gde	CONJ	gde
je	PRO	ona
rediteljski	A:aem	rediteljski
rukopis	N:m	rukopis
sasvim	ADV	sasvim
u	PREP	u
drugom	A:aef	drugi
planu	N:m	plan
.	SENT	.
Sve	PRO	sav
ovo	PRO	ovaj
govorim	A:aem	govorim
jer	CONJ	jer
je	PRO	ona
rediteljka	N:f	rediteljka
očigledno	ADV	očigledno
bila	V:f	biti
opterećena	V:f	opteretiti
“	A:aem	“
estetikom	N:f	estetika
novog	A:aem	nov
”	N:m	”
koja	PRO	koji
podrazumeva	A:aen	podrazumeva
pomeranje	N:n	pomeranje
granica	N:f	granica
u	PREP	u
filmskom	A:aem	filmski
jeziku	N:m	jezik
,	PUNCT	,
i	CONJ	i
zbog	PREP	zbog
takvog	PRO	takav
pristupa	N:m	pristup
pripovedanju	N:n	pripovedanje
,	PUNCT	,
trapavo	ADV	trapavo
se	PAR	se
saplela	V:f	saplesti
o	PREP	o
sopstvenu	A:aef	sopstven
pretencioznost	N:f	pretencioznost
koju	PRO	koji
su	N:m	su
kritičari	N:m	kritičar
povezali	V:m	povezati
sa	PREP	sa
deset	NUM	deset
godina	N:f	godina
starijim	A:ben	star
filmom	N:m	film
Spike	N:m	Spike
Jonzea	N:m	Jonzea
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
još	ADV	još
jedno	NUM	jedan
delo	N:n	delo
Sundance	N:m	Sundance
festivala	N:m	festival
,	PUNCT	,
koje	PRO	koji
planski	A:aem	planski
cilja	N:m	cilj
probirljivu	A:aef	probirljiv
publiku	N:f	publika
,	PUNCT	,
metafizička	A:aef	metafizički
dimenzija	N:f	dimenzija
filma	N:m	film
je	PRO	ona
razrađena	V:n	razraditi
veoma	ADV	veoma
površno	ADV	površno
.	SENT	.
Čisto	N:m	Čisto
sumnjam	N:m	sumnjam
da	CONJ	da
je	PRO	ona
bilo	V:n	biti
kojeg	PRO	koji
vigilante	N:m	vigilante
intelektualca	N:m	intelektualac
ostavila	V:m	ostaviti
bez	PREP	bez
teksta	N:m	tekst
.	PUNCT	.
Tačnije	A:bem	Tačnije
,	PUNCT	,
autor	N:m	autor
nije	N:m	nije
uspeo	V:m	uspeti
da	CONJ	da
isprovocira	V:m	isprovocira
gledaoca	N:m	gledalac
i	CONJ	i
navede	V:m	navede
ga	PRO	on
na	PREP	na
neka	PRO	neki
dublja	A:bem	dubok
razmišljanja	N:n	razmišljanje
,	PUNCT	,
iako	CONJ	iako
mi	PRO	ja
se	PAR	se
čini	N:f	čini
da	CONJ	da
je	PRO	ona
imao	V:m	imati
baš	PAR	baš
takvu	PRO	takav
ambiciju	N:f	ambicija
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
uspeo	V:m	uspeti
da	CONJ	da
nam	PRO	mi
pruži	A:aem	pruži
još	ADV	još
jedan	NUM	jedan
neobičan	A:aem	neobičan
i	CONJ	i
zanimljiv	A:aem	zanimljiv
film	N:m	film
koji	PRO	koji
je	PRO	ona
u	PREP	u
moru	N:n	more
industrijskog	A:aen	industrijski
smeća	N:n	smeće
pravo	N:n	pravo
osveženje	N:n	osveženje
.	SENT	.
