“	A:aem	“
Nymphomaniac	N:m	Nymphomaniac
”	N:m	”
je	PRO	ona
najnovije	A:cef	nov
ostvarenje	N:n	ostvarenje
kontroverznog	A:aem	kontroverzan
filmskog	A:aem	filmski
reditelja	N:m	reditelj
i	CONJ	i
scenariste	N:m	scenarista
Larsa	N:m	Lars
Fon	N:m	fon
Trira	N:m	Trir
(	PUNCT	(
Lars	N:m	Lars
Von	N:m	Von
Trier	N:m	Trier
)	PUNCT	)
koje	PRO	koji
je	PRO	ona
obeležilo	V:n	obeležiti
ovogodišnji	A:aem	ovogodišnji
Kanski	A:aem	kanski
filmski	A:aem	filmski
festival	N:m	festival
,	PUNCT	,
kako	CONJ	kako
svojim	PRO	svoj
smelim	A:aem	smeo
sadržajem	N:m	sadržaj
,	PUNCT	,
tako	ADV	tako
i	CONJ	i
povratkom	N:m	povratak
popularnog	A:aem	popularan
filmadžije	N:f	filmadžija
na	PREP	na
francusko	A:aen	francuski
tlo	N:n	tlo
,	PUNCT	,
nakon	PREP	nakon
što	PRO	što
mu	PRO	on
je	PRO	ona
2011	NUM	@card@
.	PUNCT	.
godine	N:f	godina
posle	PREP	posle
njegove	PRO	njegov
bizarne	A:aef	bizaran
izjave	N:f	izjava
zauvek	ADV	zauvek
bio	V:m	biti
zabranjen	V:m	zabraniti
pristup	N:m	pristup
ovoj	PRO	ovaj
manifestaciji	N:f	manifestacija
.	SENT	.
Poznat	A:aem	poznat
u	PREP	u
ovim	PRO	ovaj
krugovima	N:m	krug
kao	CONJ	kao
“	A:aem	“
persona	N:f	persona
non	N:m	non
grata	A:aem	grata
“	N:m	“
,	PUNCT	,
Lars	N:m	Lars
je	PRO	ona
tokom	PREP	tokom
poslednjih	A:aem	poslednji
deceniju	N:f	decenija
-	PUNCT	-
dve	NUM	dva
uspeo	V:m	uspeti
sebe	PRO	sebe
da	CONJ	da
prezentuje	N:m	prezentuje
kao	CONJ	kao
ozbiljnog	A:aem	ozbiljan
i	CONJ	i
beskompromisnog	A:aem	beskompromisan
umetnika	N:m	umetnik
koji	PRO	koji
nije	A:aem	nije
spreman	A:aem	spreman
da	CONJ	da
“	A:aem	“
ukroti	N:m	ukroti
”	A:aem	”
intenzitet	N:m	intenzitet
sadržaja	N:m	sadržaj
svojih	PRO	svoj
filmova	N:m	film
kako	CONJ	kako
bi	A:aem	bi
isti	A:aem	isti
apelovali	V:m	apelovati
što	CONJ	što
širim	A:bem	širok
narodnim	A:aef	narodni
masama	N:f	masa
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
želja	N:f	želja
popularnog	A:aem	popularan
danca	N:n	dance
bila	V:f	biti
da	CONJ	da
oštrim	A:aem	oštar
scenama	N:f	scena
odbije	A:aem	odbije
veliki	A:aem	velik
broj	N:m	broj
kvazi	PREF	kvazi
moralnih	A:aen	moralan
gromada	N:f	gromada
,	PUNCT	,
reditelj	N:m	reditelj
je	PRO	ona
dobio	V:m	dobiti
kontra	ADV	kontra
efekat	N:m	efekt
i	CONJ	i
nekako	ADV	nekako
je	PRO	ona
sebe	PRO	sebe
uspeo	V:m	uspeti
da	CONJ	da
plasira	A:aem	plasira
kao	CONJ	kao
menjstrim	A:aem	menjstrim
autora	N:m	autor
,	PUNCT	,
iako	CONJ	iako
zapravo	ADV	zapravo
to	PRO	taj
nikada	ADV	nikada
nije	V:m	nije
želeo	V:m	želeti
.	SENT	.
Apropo	N:f	Apropo
gore	ADV	gore
napisane	A:aef	napisan
rečenice	N:f	rečenica
i	CONJ	i
znanja	N:n	znanje
da	CONJ	da
Fon	N:m	fon
Trir	N:m	Trir
nije	A:aem	nije
u	PREP	u
stanju	N:n	stanje
da	CONJ	da
žrtvuje	N:m	žrtvuje
svoj	PRO	sav
“	A:aem	“
pripovedački	A:aem	pripovedački
cilj	N:m	cilj
”	A:aem	”
zarad	PREP	zarad
monetarnog	A:aem	monetarni
,	PUNCT	,
nisam	N:m	nisam
želeo	V:m	želeti
da	CONJ	da
unapred	ADV	unapred
formiram	V:m	formiram
neke	PRO	neki
stavove	N:m	stav
o	PREP	o
ovom	PRO	ovaj
naslovu	N:m	naslov
,	PUNCT	,
iako	CONJ	iako
sam	PRO	sam
pre	PREP	pre
gledanja	N:n	gledanje
istog	A:aen	isti
pročitao	V:m	pročitati
zaista	PAR	zaista
tone	N:m	ton
negativnih	A:aem	negativan
komentara	N:m	komentar
koji	PRO	koji
govore	N:m	govor
kako	CONJ	kako
je	PRO	ona
Nimfomanka	N:f	nimfomanka
“	N:m	“
jedna	NUM	jedan
nebitna	A:aen	nebitan
pretenciozna	A:aef	pretenciozan
brlja	N:f	brlja
”	N:m	”
.	SENT	.
Iz	PREP	iz
meni	PRO	ja
apsolutno	ADV	apsolutno
nepoznatih	A:aen	nepoznat
razloga	N:m	razlog
,	PUNCT	,
“	A:aem	“
Nymphomaniac	N:m	Nymphomaniac
”	N:m	”
je	PRO	ona
i	PAR	i
pre	PREP	pre
izbacivanja	N:n	izbacivanje
prvog	A:aem	prvi
trejlera	N:m	trejler
uspeo	V:m	uspeti
da	CONJ	da
oformi	V:m	oformi
interesovanje	N:n	interesovanje
kod	PREP	kod
velikog	A:aen	velik
broja	N:m	broj
ljudi	N:m	ljudi
za	PREP	za
koje	PRO	koji
sam	PRO	sam
apsolutno	ADV	apsolutno
siguran	A:aem	siguran
da	CONJ	da
ovakvo	PRO	ovakav
izdanje	N:n	izdanje
nikako	ADV	nikako
ne	PAR	ne
može	A:aem	može
da	CONJ	da
apeluje	N:m	apeluje
njihovim	PRO	njihov
filmskim	A:aem	filmski
afinitetima	N:m	afinitet
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
sam	PRO	sam
se	PAR	se
odlučio	V:m	odlučiti
da	CONJ	da
zanemarim	A:aem	zanemarim
svaki	PRO	svaki
komentar	N:m	komentar
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
dobijem	N:n	dobijem
priliku	N:f	prilika
da	CONJ	da
ispratim	A:aem	ispratim
sadržaj	N:m	sadržaj
novog	A:aem	nov
Larsovog	A:aem	Larsovog
filma	N:m	film
sopstvenim	A:aef	sopstven
očima	N:f	oči
.	SENT	.
“	A:aem	“
Nimfomanka	N:f	nimfomanka
”	N:m	”
je	PRO	ona
strašna	A:aef	strašan
,	PUNCT	,
poetska	A:aef	poetski
priča	N:f	priča
o	PREP	o
životnom	A:aem	životan
putu	N:m	put
jedne	NUM	jedan
žene	N:f	žena
koja	PRO	koji
sebe	PRO	sebe
predstavlja	N:n	predstavlja
kao	CONJ	kao
nimfomanku	N:f	nimfomanka
.	SENT	.
Jedne	NUM	jedan
hladne	A:aef	hladan
zimske	A:aef	zimski
noći	N:f	noć
šarmantni	A:aem	šarmantan
neženja	N:m	neženja
Seligman	N:m	Seligman
nailazi	N:m	nailazi
na	PREP	na
našu	PRO	naš
protagonistkinju	N:f	protagonistkinja
kako	CONJ	kako
pretučena	A:aen	pretučen
leži	N:n	leži
na	PREP	na
hladnom	A:aef	hladan
betonu	N:m	beton
.	SENT	.
Zbunjen	A:aem	zbunjen
i	CONJ	i
uznemiren	A:aem	uznemiren
prizorom	N:m	prizor
,	PUNCT	,
Seligman	N:m	Seligman
kupi	N:f	kupa
nemoćnu	A:aem	nemoćan
Džo	N:m	Džo
s	PREP	s
poda	N:m	pod
i	CONJ	i
vodi	N:f	voda
je	PRO	ona
u	PREP	u
svoj	PRO	sav
dom	N:m	dom
kako	CONJ	kako
bi	V:m	bi
joj	PRO	ona
pružio	V:m	pružiti
neophodnu	A:aen	neophodan
pomoć	N:f	pomoć
.	SENT	.
Nakon	PREP	nakon
što	PRO	što
uspeva	N:m	uspeva
da	CONJ	da
povrati	N:m	povrat
svest	N:f	svest
,	PUNCT	,
Džo	N:m	Džo
kreće	N:m	kreće
da	CONJ	da
otvara	N:m	otvara
dušu	N:f	duša
dobroćudnom	A:aem	dobroćudan
strancu	N:m	stranac
,	PUNCT	,
govoreći	V:m	govoreći
mu	PRO	on
prilično	ADV	prilično
uznemirujuće	A:aef	uznemirujući
priče	N:f	priča
iz	PREP	iz
njenog	PRO	njen
života	N:m	život
koje	PRO	koji
trebaju	N:f	trebaju
da	CONJ	da
ga	PRO	on
ubede	N:f	ubede
da	CONJ	da
je	PRO	ona
ona	PRO	ona
zaista	PAR	zaista
jedna	NUM	jedan
“	N:m	“
užasna	A:aef	užasan
osoba	N:f	osoba
”	N:m	”
.	SENT	.
Iako	CONJ	iako
originalni	A:aem	originalan
rez	N:m	rez
ovog	PRO	ovaj
filma	N:m	film
traje	N:m	traje
čak	PAR	čak
6	NUM	@card@
sati	N:f	sat
,	PUNCT	,
osnivač	N:m	osnivač
danske	A:aef	danski
producentske	A:aef	producentski
kuće	N:f	kuća
Zentropa	N:m	Zentropa
i	CONJ	i
pokreta	N:m	pokret
Dogma	N:f	dogma
,	PUNCT	,
odlučio	V:m	odlučiti
se	PAR	se
ipak	PAR	ipak
da	CONJ	da
izbaci	N:m	izbaci
i	CONJ	i
skraćenu	A:aen	skraćen
verziju	N:f	verzija
svog	PRO	svoj
filma	N:m	film
,	PUNCT	,
deleći	A:aem	deleći
isti	A:aem	isti
na	PREP	na
dva	NUM	dva
dela	N:m	deo
(	PUNCT	(
Vol	N:m	vo
.	PUNCT	.
1	NUM	@card@
i	CONJ	i
Vol	N:m	vo
.	SENT	.
2	NUM	@card@
)	PUNCT	)
čije	PRO	čiji
ukupno	ADV	ukupno
trajanje	N:n	trajanje
iznosi	N:m	iznos
nešto	ADV	nešto
malo	ADV	malo
jače	A:bem	jak
od	PREP	od
4	NUM	@card@
časa	N:m	čas
.	SENT	.
Tokom	PREP	tokom
osam	NUM	osam
poglavlja	N:n	poglavlje
koliko	ADV	koliko
ih	PRO	ona
i	CONJ	i
ova	PRO	ovaj
nova	A:aef	nov
verzija	N:f	verzija
filma	N:m	film
sadrži	N:f	sadrži
,	PUNCT	,
naša	PRO	naš
protagonistkinja	N:f	protagonistkinja
Džo	N:m	Džo
će	A:aem	će
u	PREP	u
vidu	N:f	vida
naratora	N:m	narator
pokušati	A:aem	pokušati
da	CONJ	da
rekonstruiše	A:aem	rekonstruiše
svoj	PRO	sav
zamršeni	V:m	zamrsiti
,	PUNCT	,
višestruki	A:aem	višestruk
život	N:m	život
koji	PRO	koji
vrvi	N:f	vrvi
od	PREP	od
asocijacija	N:f	asocijacija
i	CONJ	i
isprepletanih	A:aef	isprepletan
događaja	N:m	događaj
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
biva	A:aem	biva
slučaj	N:m	slučaj
i	CONJ	i
sa	PREP	sa
svim	PRO	sav
drugim	A:aem	drugi
Larsovim	A:aem	Larsovim
filmovima	N:m	film
,	PUNCT	,
kratki	A:aem	kratak
sinopsis	N:m	sinopsis
,	PUNCT	,
iako	CONJ	iako
je	PRO	ona
donekle	ADV	donekle
precizan	A:aem	precizan
,	PUNCT	,
ne	PAR	ne
uspeva	N:m	uspeva
ni	PAR	ni
jednu	NUM	jedan
desetinu	N:f	desetina
da	CONJ	da
dočara	N:m	dočara
onoga	PRO	onaj
što	CONJ	što
ova	PRO	ovaj
hiperstilizovana	A:aen	hiperstilizovana
i	CONJ	i
vizualno	A:aen	vizualan
smela	V:n	smesti
drama	N:f	drama
krije	N:f	krije
u	PREP	u
sebi	PRO	sebe
.	SENT	.
Vodeći	A:aem	Vodeći
nas	PRO	mi
kroz	PREP	kroz
bahati	A:aem	bahat
seksualni	A:aem	seksualan
život	N:m	život
protagonistkinje	N:f	protagonistkinja
čija	PRO	čiji
nezasita	A:aef	nezasit
strast	N:f	strast
i	CONJ	i
žudnja	N:f	žudnja
za	PREP	za
intimnim	A:aem	intiman
dodirom	N:m	dodir
biva	A:aem	biva
postavljena	A:aem	postavljen
kao	CONJ	kao
platforma	N:f	platforma
za	PREP	za
perverzni	A:aem	perverzan
humor	N:m	humor
,	PUNCT	,
ozbiljne	A:aef	ozbiljan
posledice	N:f	posledica
neke	PRO	neki
ovakve	PRO	ovakav
zavisnosti	N:f	zavisnost
,	PUNCT	,
razlike	N:f	razlika
među	PREP	među
polovima	N:m	pol
i	CONJ	i
standardno	A:aen	standardan
gaženje	N:n	gaženje
crkve	N:f	crkva
,	PUNCT	,
Lars	N:m	Lars
nam	PRO	mi
zapravo	ADV	zapravo
ovde	ADV	ovde
daje	ADV	daje
jedno	NUM	jedan
izuzetno	ADV	izuzetno
turbulentno	A:aen	turbulentan
delo	N:n	delo
koje	PRO	koji
oscilira	N:m	oscilira
svojim	PRO	svoj
kvalitetom	N:m	kvalitet
i	CONJ	i
vrlo	ADV	vrlo
precizno	ADV	precizno
skreće	A:aef	skreće
pažnju	N:f	pažnja
na	PREP	na
autorove	A:aef	autorov
jače	A:ben	jak
i	CONJ	i
slabije	A:bef	slab
strane	N:f	strana
kao	CONJ	kao
reditelja	N:m	reditelj
.	SENT	.
Iako	CONJ	iako
se	PAR	se
glavna	A:aen	glavna
radnja	N:f	radnja
odigrava	A:aef	odigrava
u	PREP	u
jednoj	NUM	jedan
sobi	N:f	soba
u	PREP	u
kojoj	PRO	koji
sede	A:aef	sed
Džo	N:m	Džo
i	CONJ	i
Seligman	N:m	Seligman
,	PUNCT	,
reditelj	N:m	reditelj
koristi	N:f	korist
konverzaciju	N:f	konverzacija
ovo	PRO	ovaj
dvoje	NUM	dvoje
likova	N:m	lik
kao	CONJ	kao
neki	PRO	neki
vid	N:m	vid
pripovedačkog	A:aem	pripovedački
skeleta	N:m	skelet
iz	PREP	iz
kojeg	PRO	koji
proizvodi	N:m	proizvod
brojne	A:aem	brojni
flešbekove	N:m	flešbekove
u	PREP	u
kojima	PRO	koji
nas	PRO	mi
protagonistkinja	N:f	protagonistkinja
vraća	V:m	vraća
u	PREP	u
prošlosti	N:f	prošlost
i	CONJ	i
upoznaje	N:f	upoznaje
s	PREP	s
brojnim	A:aen	brojni
bizarnim	A:aen	bizaran
likova	N:n	likovo
i	CONJ	i
situacijama	N:f	situacija
.	SENT	.
“	A:aem	“
Nymphomaniac	N:m	Nymphomaniac
”	A:aem	”
počinje	N:f	počinje
zaista	ADV	zaista
snažno	A:aen	snažan
i	CONJ	i
prva	A:aen	prvi
polovina	N:f	polovina
(	PUNCT	(
vol	N:m	vo
.	SENT	.
1	NUM	@card@
)	PUNCT	)
je	PRO	ona
ništa	ADV	ništa
manje	ADV	manje
od	PREP	od
kompletnog	A:aem	kompletan
remek	N:m	remek
-	PUNCT	-
dela	N:n	delo
.	PUNCT	.
Od	PREP	od
samog	PRO	sam
starta	N:m	start
mi	PRO	ja
imamo	N:m	imamo
priliku	N:f	prilika
da	CONJ	da
vidimo	N:f	vidimo
da	CONJ	da
će	N:f	će
ovo	PRO	ovaj
zaista	PAR	zaista
biti	N:f	bit
jedno	ADV	jedno
pravo	N:n	pravo
umetničko	A:aen	umetnički
delo	N:n	delo
.	SENT	.
Prvi	A:aem	prvi
kadrovi	N:m	kadar
filma	N:m	film
su	PREF	su
naprosto	ADV	naprosto
magični	A:aem	magičan
.	SENT	.
Lars	N:m	Lars
nam	PRO	mi
daje	N:m	daje
poetičan	A:aem	poetičan
niz	PREP	niz
nelinearnih	A:aef	nelinearan
snimaka	N:f	snimka
,	PUNCT	,
nešto	ADV	nešto
nalik	N:m	nalik
sanovitim	A:aef	sanovitim
sekvencama	N:f	sekvenca
,	PUNCT	,
ispraćenih	A:aen	ispraćen
snažnom	A:aen	snažan
muzičkom	A:aem	muzički
pozadinom	N:f	pozadina
i	CONJ	i
jednom	NUM	jedan
od	PREP	od
najlepših	A:cef	lep
fotografija	N:f	fotografija
koje	PRO	koji
sam	PRO	sam
imao	V:m	imati
prilike	N:f	prilika
da	CONJ	da
vidim	A:aem	vidim
na	PREP	na
filmu	N:m	film
.	SENT	.
Dok	CONJ	dok
Vol	N:m	vo
.	SENT	.
1	NUM	@card@
uspeva	N:m	uspeva
da	CONJ	da
prikaže	A:aem	prikaže
jednu	NUM	jedan
fantastično	A:aen	fantastičan
montiranu	A:aen	montiran
artističnu	A:aen	artističnu
i	CONJ	i
visoko	A:aen	visok
intelektualnu	A:aen	intelektualan
istragu	N:f	istraga
začetka	N:m	začetak
nezasitog	A:aem	nezasit
libida	N:m	libido
protagonistiknje	N:f	protagonistiknje
,	PUNCT	,
punu	A:aef	pun
cinizma	N:m	cinizam
i	CONJ	i
ekslipitne	A:aem	ekslipitne
erotike	N:m	erotik
koja	PRO	koji
konstatno	A:aen	konstatno
balansira	N:m	balansira
na	PREP	na
granici	N:f	granica
apsurdnog	A:aem	apsurdan
humora	N:m	humor
i	CONJ	i
nihilizma	N:m	nihilizam
,	PUNCT	,
Vol	N:m	vo
.	PUNCT	.
2	NUM	@card@
gubi	N:f	guba
na	PREP	na
intenzitetu	N:m	intenzitet
,	PUNCT	,
razvodnjava	A:aef	razvodnjava
priču	N:f	priča
nepotrebnim	A:aem	nepotreban
ubacivanjem	N:n	ubacivanje
elemanata	N:m	elemanata
trilera	N:m	triler
i	CONJ	i
kompletnog	A:aem	kompletan
mahozima	N:m	mahozima
,	PUNCT	,
koje	PRO	koji
samo	PAR	samo
dodatno	ADV	dodatno
vuče	N:m	vuk
dole	ADV	dole
sa	PREP	sa
sobom	PRO	sebe
šokantno	A:aen	šokantan
slabi	A:aem	slab
finalni	A:aem	finalni
čin	N:m	čin
.	PUNCT	.
Sada	ADV	sada
kada	CONJ	kada
hladne	A:aef	hladan
glave	N:f	glava
razmislim	A:aef	razmislim
o	PREP	o
filmu	N:m	film
,	PUNCT	,
smatram	N:m	smatram
da	CONJ	da
je	PRO	ona
Lars	N:m	Lars
komotno	A:aen	komotan
mogao	V:m	moći
isti	A:aem	isti
da	CONJ	da
spakuje	N:m	spakuje
u	PREP	u
tri	NUM	tri
sata	N:m	sat
i	CONJ	i
da	CONJ	da
bi	A:aem	bi
finalni	A:aem	finalni
rezultat	N:m	rezultat
mnogo	ADV	mnogo
bolji	A:bem	dobar
bio	V:m	biti
.	SENT	.
Fon	N:m	fon
Trir	N:m	Trir
je	PRO	ona
zaista	PAR	zaista
dosta	ADV	dosta
sebe	PRO	sebe
ubacio	V:m	ubaciti
u	PREP	u
svoju	PRO	svoj
protagonistkinju	N:f	protagonistkinja
,	PUNCT	,
što	CONJ	što
se	PAR	se
možda	PAR	možda
najbolje	ADV	najbolje
ogleda	N:m	ogled
u	PREP	u
njenom	PRO	njen
ciničnom	A:aem	ciničan
stavu	N:m	stav
i	CONJ	i
netrpeljivosti	N:f	netrpeljivost
prema	PREP	prema
drugim	A:aem	drugi
ljudskim	A:aef	ljudski
bićima	N:n	biće
.	SENT	.
Spoznavanje	N:n	spoznavanje
sopstvene	A:aef	sopstven
moći	N:f	moć
kao	CONJ	kao
žene	N:f	žena
i	CONJ	i
prikazivanje	N:n	prikazivanje
duplih	A:aen	dupli
standarda	N:m	standard
kada	CONJ	kada
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
tumačenje	N:n	tumačenje
dela	N:n	delo
protagonistkinje	N:f	protagonistkinja
je	PRO	ona
ono	PRO	onaj
što	CONJ	što
ovom	PRO	ovaj
filmu	N:m	film
zapravo	ADV	zapravo
daje	N:m	daje
najveću	A:cef	velik
težinu	N:f	težina
.	PUNCT	.
E	CONJ	e
sada	ADV	sada
,	PUNCT	,
koliko	ADV	koliko
je	PRO	ona
ovakav	PRO	ovakav
pristup	N:m	pristup
temi	N:f	tema
i	CONJ	i
samom	A:aef	sam
liku	N:f	lika
zapravo	ADV	zapravo
učinio	V:m	učiniti
za	PREP	za
femizimam	N:m	femizimam
,	PUNCT	,
u	PREP	u
to	PRO	taj
ne	PAR	ne
želim	A:aem	želim
da	CONJ	da
se	PAR	se
uplićem	V:m	uplićem
.	SENT	.
Ovo	PRO	ovaj
ću	N:f	ću
ipak	PAR	ipak
ostaviti	V:m	ostaviti
vama	PRO	vi
da	CONJ	da
u	PREP	u
sopstvenim	A:aef	sopstven
glavama	N:f	glava
razjasnite	A:aem	razjasnite
.	PUNCT	.
Iako	CONJ	iako
sam	PRO	sam
primetio	V:m	primetiti
da	CONJ	da
su	N:m	su
brojni	A:aem	brojni
kritičari	N:m	kritičar
komentarisali	V:m	komentarisati
svako	PRO	svaki
poglavlje	N:n	poglavlje
filma	N:m	film
posebno	ADV	posebno
,	PUNCT	,
odlučio	V:m	odlučiti
sam	PRO	sam
se	PAR	se
da	CONJ	da
to	PRO	taj
ne	PAR	ne
radim	A:aen	rad
jer	CONJ	jer
smatram	A:aen	smatram
da	CONJ	da
ću	A:aen	ću
pominjanjem	N:n	pominjanje
određenih	A:aen	određenih
detalja	N:m	detalj
otkriti	N:m	otkriti
i	CONJ	i
više	ADV	više
nego	CONJ	nego
što	PRO	što
trebam	N:n	trebam
i	CONJ	i
tako	ADV	tako
ću	A:aem	ću
onda	CONJ	onda
velikoj	A:aef	velik
većini	N:f	većina
koja	PRO	koji
želi	V:m	žeti
da	CONJ	da
pogleda	N:m	pogled
ovaj	PRO	ovaj
film	N:m	film
uništiti	N:m	uništiti
taj	PRO	taj
toliko	ADV	toliko
dragoceni	A:aem	dragocen
element	N:m	element
iznanađenja	N:n	iznanađenja
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
mi	PRO	ja
se	PAR	se
možda	PAR	možda
najviše	ADV	najviše
svidelo	V:n	svideti
u	PREP	u
Nimfomanki	N:f	nimfomanka
,	PUNCT	,
govorim	A:aem	govorim
primarno	ADV	primarno
za	PREP	za
Vol	N:m	vo
.	SENT	.
1	NUM	@card@
,	PUNCT	,
jeste	INT	jeste
to	PRO	taj
što	PRO	što
film	N:m	film
u	PREP	u
brojnim	A:aen	brojni
segmentima	N:m	segment
nudi	N:f	nudi
toliko	ADV	toliko
šarenu	A:aef	šaren
lepezu	N:f	lepeza
raznih	A:aef	raznih
teorija	N:f	teorija
koje	PRO	koji
iako	CONJ	iako
deluju	A:aem	deluju
“	A:aem	“
spot	N:m	spot
on	PRO	on
”	N:m	”
,	PUNCT	,
opet	ADV	opet
ne	PAR	ne
moraju	N:m	moraju
da	CONJ	da
se	PAR	se
primene	N:f	primena
kako	CONJ	kako
bi	V:m	bi
se	PAR	se
razjasnila	V:m	razjasniti
konkretna	A:aen	konkretan
situacija	N:f	situacija
.	SENT	.
”	A:aem	”
Nymphomaniac	N:m	Nymphomaniac
”	N:m	”
jeste	INT	jeste
izuzetno	ADV	izuzetno
vizualno	A:aen	vizualan
“	N:m	“
oštar	A:aem	oštar
”	A:aem	”
film	N:m	film
,	PUNCT	,
i	CONJ	i
da	CONJ	da
,	PUNCT	,
pored	PREP	pored
ogromne	A:aef	ogroman
doze	N:f	doza
golotinje	N:f	golotinja
nudi	N:f	nudi
i	CONJ	i
prilično	ADV	prilično
eksplicitne	A:aem	eksplicitan
momente	N:m	moment
sadizma	N:m	sadizam
i	CONJ	i
mazohizma	N:m	mazohizam
,	PUNCT	,
ali	CONJ	ali
opet	ADV	opet
,	PUNCT	,
nikako	ADV	nikako
ne	PAR	ne
mogu	A:aef	mogu
osuditi	N:f	osuditi
sadržaj	N:m	sadržaj
novog	A:aem	nov
Fon	N:m	fon
Trirovog	A:aem	Trirovog
filma	N:m	film
i	CONJ	i
nazvati	V:m	nazvati
ga	PRO	on
besramnom	A:aef	besraman
eksploatacijom	N:f	eksploatacija
kada	CONJ	kada
isti	A:aem	isti
krajnje	A:aem	krajnji
ozbiljno	A:aen	ozbiljan
prilazi	N:m	prilaz
sopstvenoj	A:aef	sopstven
tematici	N:f	tematika
.	SENT	.
Da	CONJ	da
su	N:m	su
ovakve	PRO	ovakav
scene	N:f	scena
naglo	ADV	naglo
implementirane	V:f	implementirati
u	PREP	u
neki	PRO	neki
levi	A:aem	levi
triler	N:m	triler
,	PUNCT	,
svakako	PAR	svakako
bi	A:aem	bi
ih	PRO	ona
smatrao	V:m	smatrati
nepotrebnim	A:aem	nepotreban
,	PUNCT	,
a	CONJ	a
pošto	CONJ	pošto
je	PRO	ona
sama	PRO	sam
tema	N:f	tema
filma	N:m	film
nimfomanija	N:f	nimfomanija
kao	CONJ	kao
vuče	N:f	vuča
sa	PREP	sa
sobom	PRO	sebe
i	CONJ	i
razne	A:aem	razne
seksualne	A:aef	seksualan
fiksacije	N:f	fiksacija
,	PUNCT	,
moram	N:m	moram
da	CONJ	da
napišem	A:aem	napišem
da	CONJ	da
sam	A:aem	sam
uz	PREP	uz
Larsa	N:m	Lars
što	CONJ	što
se	PAR	se
ovoga	PRO	ovaj
tiče	N:n	tiče
.	SENT	.
Uostalom	PAR	uostalom
,	PUNCT	,
ko	PRO	ko
ide	N:m	ide
da	CONJ	da
gleda	N:m	gleda
film	N:m	film
koji	PRO	koji
se	PAR	se
“	A:aem	“
Nimfomanka	N:f	nimfomanka
”	N:m	”
i	CONJ	i
očekuje	N:m	očekuje
da	CONJ	da
ne	PAR	ne
vidi	N:f	vida
tonu	N:m	ton
genitalija	N:f	genitalije
?	SENT	?
Tehnički	A:aem	Tehnički
“	N:m	“
Nimfomanka	N:f	nimfomanka
”	N:m	”
je	PRO	ona
više	ADV	više
nego	CONJ	nego
impresivan	A:aem	impresivan
film	N:m	film
.	SENT	.
Kadrovi	N:m	kadar
su	N:m	su
fantastični	A:aem	fantastičan
,	PUNCT	,
fotografija	N:f	fotografija
opijajuća	A:aem	opijajući
,	PUNCT	,
što	CONJ	što
ga	PRO	on
za	PREP	za
rezultat	N:m	rezultat
čini	N:f	čini
vrlo	ADV	vrlo
lepim	A:aef	lep
na	PREP	na
oko	N:n	oko
.	SENT	.
Gluma	N:f	gluma
u	PREP	u
filmu	N:m	film
je	PRO	ona
spektakularna	A:aef	spektakularan
.	SENT	.
Šarlot	N:f	Šarlot
Geinsbrou	N:m	Geinsbrou
(	PUNCT	(
Charlotte	N:m	Charlotte
Gainsbourg	N:m	Gainsbourg
)	PUNCT	)
,	PUNCT	,
Fon	N:m	fon
Trirova	A:aef	Trirova
muza	N:f	muza
,	PUNCT	,
ponovo	ADV	ponovo
briljira	N:m	briljira
na	PREP	na
velikom	A:aef	velik
ekranu	N:m	ekran
.	SENT	.
Zaista	PAR	zaista
je	PRO	ona
neverovatno	ADV	neverovatno
s	PREP	s
kojom	PRO	koji
dozom	N:f	doza
posvećenosti	N:f	posvećenost
i	CONJ	i
smelosti	N:f	smelost
ova	PRO	ovaj
42	NUM	@card@
-	PUNCT	-
godišnja	A:aem	godišnji
glumica	N:f	glumica
prilazi	N:m	prilaz
svojim	PRO	svoj
ulogama	N:f	uloga
.	SENT	.
Svi	PRO	sav
koji	PRO	koji
ste	V:m	ste
i	CONJ	i
malo	ADV	malo
upoznati	V:m	upoznati
s	PREP	s
njenim	PRO	njen
radom	A:aef	rad
,	PUNCT	,
znate	V:f	znati
da	CONJ	da
od	PREP	od
dotične	A:aem	dotični
dame	N:f	dama
Lars	N:m	Lars
zaista	ADV	zaista
zahteva	N:m	zahtev
nadrealne	A:aef	nadrealan
stvari	N:f	stvar
,	PUNCT	,
koje	PRO	koji
ona	PRO	ona
,	PUNCT	,
nekim	PRO	neki
čudom	N:n	čudo
,	PUNCT	,
svaki	PRO	svaki
put	N:f	put
uspe	N:f	uspe
da	CONJ	da
ostvari	N:m	ostvari
.	SENT	.
Posebno	ADV	posebno
treba	N:f	treba
pomenuti	A:aem	pomenut
i	CONJ	i
Stejsi	N:f	Stejsi
Martin	N:m	Martin
,	PUNCT	,
22	NUM	@card@
-	PUNCT	-
godišnju	A:aef	godišnji
britansku	A:aef	britanski
glumicu	N:f	glumica
koja	PRO	koji
je	PRO	ona
odlično	ADV	odlično
odglumila	V:m	odglumiti
Džo	N:m	Džo
u	PREP	u
ranijoj	A:aef	raniji
fazi	N:f	faza
njenog	PRO	njen
života	N:m	život
.	SENT	.
Ova	PRO	ovaj
doskorašnja	A:aef	doskorašnji
manekenka	N:f	manekenka
je	PRO	ona
zaista	PAR	zaista
uložila	V:f	uložiti
ogroman	A:aem	ogroman
trud	N:m	trud
za	PREP	za
ulogu	N:f	uloga
mlade	A:aef	mlad
nimfomanke	N:f	nimfomanka
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
više	ADV	više
nego	CONJ	nego
evidentan	A:aem	evidentan
na	PREP	na
ekranu	N:m	ekran
.	SENT	.
Iako	CONJ	iako
kasting	N:m	kasting
sadrži	A:aem	sadrži
još	ADV	još
brojna	A:aef	brojni
druga	A:aef	drugi
imena	N:n	ime
vredna	A:aen	vredan
pomena	N:m	pomen
,	PUNCT	,
istakao	V:m	istakati
bih	A:aem	bih
još	ADV	još
samo	PAR	samo
Umu	A:aem	Umu
Turman	N:m	Turman
(	PUNCT	(
Uma	N:m	um
Thurman	N:m	Thurman
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
naprosto	ADV	naprosto
genijalna	A:aem	genijalan
u	PREP	u
svojoj	PRO	svoj
epizodnoj	A:aef	epizodan
roli	N:f	rola
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
sam	PRO	sam
gore	ADV	gore
napisao	V:m	napisati
,	PUNCT	,
“	A:aem	“
Nymphomaniac	N:m	Nymphomaniac
”	N:m	”
,	PUNCT	,
iako	CONJ	iako
zaista	PAR	zaista
počinje	N:f	počinje
snažno	ADV	snažno
i	CONJ	i
u	PREP	u
svojoj	PRO	svoj
prvoj	A:aef	prvi
polovini	N:f	polovina
nudi	N:f	nudi
toliko	ADV	toliko
mnogo	ADV	mnogo
genijalnih	A:aem	genijalan
momenata	N:m	moment
,	PUNCT	,
on	PRO	on
jednostavno	ADV	jednostavno
u	PREP	u
Vol	N:m	vo
.	PUNCT	.
2	NUM	@card@
ne	PAR	ne
uspeva	V:n	uspeva
da	CONJ	da
isprati	N:f	isprati
intenzitet	N:m	intenzitet
radnje	N:f	radnja
i	CONJ	i
kreće	A:aem	kreće
polako	ADV	polako
da	CONJ	da
se	PAR	se
rasipa	N:m	rasip
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
finalni	A:aem	finalni
čin	N:m	čin
naprosto	ADV	naprosto
očajan	A:aem	očajan
,	PUNCT	,
vol	N:m	vo
.	SENT	.
1	NUM	@card@
je	PRO	ona
i	CONJ	i
dalje	ADV	dalje
dovoljno	ADV	dovoljno
kvalitetan	A:aem	kvalitetan
da	CONJ	da
ovom	PRO	ovaj
filmu	N:m	film
obezbedi	N:f	obezbeda
prelaznu	A:aef	prelazan
ocenu	N:f	ocena
.	SENT	.
”	A:aem	”
Nymphomaniac	N:m	Nymphomaniac
”	N:m	”
je	PRO	ona
svakako	PAR	svakako
film	N:m	film
koji	PRO	koji
bi	A:aem	bi
svim	PRO	sav
ljubiteljima	N:m	ljubitelj
nezavisnog	A:aen	nezavisan
filma	N:m	film
preporučio	V:m	preporučiti
da	CONJ	da
pogledaju	N:m	pogledaju
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
sam	A:aem	sam
siguran	A:aem	siguran
da	CONJ	da
nešto	ADV	nešto
ovakvo	PRO	ovakav
nikada	ADV	nikada
ranije	ADV	ranije
nisu	N:m	nisu
gledali	V:m	gledati
na	PREP	na
velikom	A:aef	velik
platnu	N:n	platno
.	SENT	.
