Verujemo	A:aen	Verujemo
da	CONJ	da
ste	A:aen	ste
upoznati	V:m	upoznati
sa	PREP	sa
informacijom	N:f	informacija
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
dobitnik	N:m	dobitnik
Oskara	N:m	Oskar
u	PREP	u
kategoriji	N:f	kategorija
najbolji	A:cem	dobar
film	N:m	film
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
kako	CONJ	kako
o	PREP	o
ovom	PRO	ovaj
filmu	N:m	film
vladaju	N:f	vladaju
prilično	ADV	prilično
oprečna	A:aen	oprečan
mišljenja	N:n	mišljenje
,	PUNCT	,
teško	ADV	teško
je	PRO	ona
oteti	V:m	oteti
se	PAR	se
utisku	N:m	utisak
da	CONJ	da
je	PRO	ona
ta	PRO	taj
nagrada	N:f	nagrada
za	PREP	za
ovaj	PRO	ovaj
film	N:m	film
nezaslužena	A:aef	nezaslužen
,	PUNCT	,
posebno	ADV	posebno
uzevši	A:aem	uzevši
u	PREP	u
obzir	N:m	obzir
ovogodišnju	A:aef	ovogodišnji
konkurenciju	N:f	konkurencija
u	PREP	u
istoj	A:aef	isti
kategoriji	N:f	kategorija
.	SENT	.
Neka	PRO	neki
se	PAR	se
ne	PAR	ne
uvrede	N:f	uvreda
oni	PRO	onaj
kojima	PRO	koji
se	PAR	se
ovaj	PRO	ovaj
film	N:m	film
zaista	PAR	zaista
svideo	V:m	svideti
,	PUNCT	,
zapravo	ADV	zapravo
se	PAR	se
svideo	V:m	svideti
i	CONJ	i
nama	PRO	mi
,	PUNCT	,
ali	CONJ	ali
Argo	N:m	Argo
je	PRO	ona
i	PAR	i
pored	PREP	pored
obilja	N:n	obilje
napetih	A:aef	napet
scena	N:f	scena
u	PREP	u
suštini	N:f	suština
sasvim	ADV	sasvim
prosečan	A:aem	prosečan
triler	N:m	triler
.	PUNCT	.
Videla	V:f	videti
žaba	N:f	žaba
da	CONJ	da
se	PAR	se
konj	N:m	konj
potkiva	N:f	potkiva
,	PUNCT	,
pa	CONJ	pa
i	CONJ	i
ona	PRO	ona
diže	A:aem	diže
nogu	N:f	noga
,	PUNCT	,
reklo	V:n	reći
bi	V:n	bi
se	PAR	se
u	PREP	u
narodu	N:m	narod
.	SENT	.
Po	PREP	po
sličnom	A:aef	sličan
principu	N:m	princip
je	PRO	ona
i	PAR	i
Argo	N:m	Argo
dobio	V:m	dobiti
na	PREP	na
popularnosti	N:f	popularnost
.	SENT	.
Propaganda	N:f	propaganda
je	PRO	ona
učinila	V:m	učiniti
početni	A:aem	početan
korak	N:m	korak
,	PUNCT	,
a	CONJ	a
zaraza	N:f	zaraza
se	PAR	se
začas	ADV	začas
proširila	V:f	proširiti
narodom	N:m	narod
i	CONJ	i
jednostavno	ADV	jednostavno
je	PRO	ona
postalo	V:n	postati
popularno	A:aen	popularan
reći	N:n	reći
da	CONJ	da
je	PRO	ona
Argo	N:m	Argo
super	ADV	super
film	N:m	film
.	SENT	.
To	PRO	taj
je	PRO	ona
otprilike	ADV	otprilike
kao	ADV	kao
kada	CONJ	kada
tinejdžeri	N:m	tinejdžer
kažu	N:f	kaža
da	CONJ	da
vole	N:m	vo
određenu	A:aef	određenu
muziku	N:f	muzika
,	PUNCT	,
o	PREP	o
kojoj	PRO	koji
zapravo	ADV	zapravo
nemaju	N:m	nemaju
pojma	N:m	pojam
,	PUNCT	,
ne	PAR	ne
bi	V:m	bi
li	PAR	li
time	PRO	taj
dobili	V:m	dobiti
koji	PRO	koji
poen	N:m	poen
kod	PREP	kod
svojih	PRO	svoj
vršnjaka	N:m	vršnjak
ili	CONJ	ili
svoje	PRO	svoj
simpatije	N:f	simpatija
.	SENT	.
No	CONJ	no
,	PUNCT	,
na	PREP	na
stranu	N:f	strana
sa	PREP	sa
kritikama	N:f	kritika
i	CONJ	i
krenimo	N:f	krenimo
u	PREP	u
detaljniju	A:bef	detaljan
analizu	N:f	analiza
kako	CONJ	kako
bismo	N:f	bismo
otkrili	V:m	otkriti
one	PRO	onaj
svetlije	A:ben	svetao
strane	N:f	strana
ovog	PRO	ovaj
filma	N:m	film
,	PUNCT	,
koje	PRO	koji
bi	N:m	bi
eventualno	ADV	eventualno
opravdale	V:f	opravdati
njegovu	PRO	njegov
titulu	N:f	titula
“	N:m	“
najboljeg	A:cen	dobar
filma	N:m	film
godine	N:f	godina
“	N:m	“
.	PUNCT	.
Kao	CONJ	kao
što	CONJ	što
i	CONJ	i
napomenusmo	N:f	napomenusmo
u	PREP	u
uvodu	N:m	uvod
,	PUNCT	,
Argo	N:m	Argo
je	PRO	ona
zaista	PAR	zaista
napet	V:m	napeti
triler	N:m	triler
i	CONJ	i
da	CONJ	da
nije	A:aem	nije
političke	A:aef	politički
pozadine	N:f	pozadina
priče	N:f	priča
,	PUNCT	,
pretendovao	V:m	pretendovati
bi	A:aem	bi
da	CONJ	da
bude	A:aem	bude
zaista	ADV	zaista
vredno	A:aen	vredan
ostvarenje	N:n	ostvarenje
.	SENT	.
Film	N:m	film
počinje	N:f	počinje
krajnje	ADV	krajnje
dosadno	ADV	dosadno
i	CONJ	i
taman	PAR	taman
pred	PREP	pred
odustajanje	N:n	odustajanje
od	PREP	od
daljeg	A:ben	dalek
gledanja	N:n	gledanje
,	PUNCT	,
stvari	N:f	stvar
počinju	N:n	počinju
da	CONJ	da
bivaju	N:f	bivaju
zanimljivije	A:bef	zanimljiv
.	SENT	.
Kako	CONJ	kako
se	PAR	se
priča	N:f	priča
dalje	ADV	dalje
odvija	A:bef	odvija
,	PUNCT	,
počinjete	N:m	počinjete
da	CONJ	da
shvatate	N:m	shvatate
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
,	PUNCT	,
iako	CONJ	iako
relativno	ADV	relativno
predvidljiv	A:aem	predvidljiv
,	PUNCT	,
sasvim	ADV	sasvim
pristojan	A:aem	pristojan
triler	N:m	triler
,	PUNCT	,
a	CONJ	a
vaš	PRO	vaš
otpor	N:m	otpor
koji	PRO	koji
ste	N:f	ste
eventualno	ADV	eventualno
imali	V:m	imati
prema	PREP	prema
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
u	PREP	u
zavisnosti	N:f	zavisnost
od	PREP	od
količine	N:f	količina
vašeg	PRO	vaš
ega	N:m	ego
,	PUNCT	,
polako	ADV	polako
počinje	A:aem	počinje
da	CONJ	da
popušta	A:aem	popušta
.	SENT	.
Muzika	N:f	muzika
u	PREP	u
filmu	N:m	film
je	PRO	ona
vrlo	ADV	vrlo
zadovoljavajuća	A:aen	zadovoljavajući
,	PUNCT	,
ali	CONJ	ali
pomalo	ADV	pomalo
iscepkana	V:f	iscepkati
,	PUNCT	,
tačnije	ADV	tačnije
,	PUNCT	,
numere	N:f	numera
koje	PRO	koji
prate	N:f	prate
određene	V:f	odrediti
scene	N:f	scena
su	N:m	su
vrlo	ADV	vrlo
kratke	A:aef	kratak
,	PUNCT	,
te	PRO	taj
snaga	N:f	snaga
tih	PRO	taj
scena	N:f	scena
brzo	ADV	brzo
splašnjava	A:aem	splašnjava
.	SENT	.
Prikaz	N:m	prikaz
perioda	N:m	period
u	PREP	u
kome	PRO	koji
se	PAR	se
film	N:m	film
odvija	A:bef	odvija
(	PUNCT	(
1979	NUM	@card@
/	N:m	/
80	NUM	@card@
)	PUNCT	)
je	PRO	ona
zaista	PAR	zaista
veran	A:aem	veran
i	CONJ	i
autentičan	A:aem	autentičan
.	SENT	.
Možda	N:f	Možda
na	PREP	na
to	PRO	taj
neko	PRO	neki
ne	PAR	ne
bi	V:m	bi
ni	CONJ	ni
obraćao	V:m	obraćati
pažnju	N:f	pažnja
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
na	PREP	na
to	PRO	taj
da	CONJ	da
se	PAR	se
radi	PREP	radi
o	PREP	o
bliskoj	A:aef	blizak
prošlosti	N:f	prošlost
,	PUNCT	,
ali	CONJ	ali
verujemo	A:aen	verujemo
da	CONJ	da
je	PRO	ona
teže	ADV	teže
postići	A:aef	postići
autentičnost	N:f	autentičnost
razdoblja	N:n	razdoblje
od	PREP	od
pre	ADV	pre
nekoliko	ADV	nekoliko
decenija	N:f	decenija
,	PUNCT	,
nego	CONJ	nego
,	PUNCT	,
npr	N:m	npr
.	SENT	.
iz	PREP	iz
16	NUM	@card@
.	PUNCT	.
veka	N:m	vek
,	PUNCT	,
iz	PREP	iz
razloga	N:m	razlog
što	CONJ	što
postoje	N:m	postoje
živi	A:aem	živ
svedoci	N:m	svedok
toga	PRO	taj
vremena	N:n	vreme
,	PUNCT	,
te	CONJ	te
se	PAR	se
mora	N:n	more
obraćati	A:aem	obraćati
pažnja	N:f	pažnja
na	PREP	na
više	ADV	više
detalja	N:m	detalj
i	CONJ	i
greške	N:f	greška
se	PAR	se
lakše	ADV	lakše
potkradaju	N:f	potkradaju
.	SENT	.
Sa	PREP	sa
te	PRO	taj
strane	N:f	strana
,	PUNCT	,
još	ADV	još
jedan	NUM	jedan
plus	N:m	plus
za	PREP	za
Argo	N:m	Argo
.	SENT	.
Gledajući	A:aem	Gledajući
film	N:m	film
,	PUNCT	,
sa	PREP	sa
glumačke	A:aef	glumački
strane	N:f	strana
,	PUNCT	,
ekipa	N:f	ekipa
je	PRO	ona
većinom	N:f	većina
dorasla	V:f	dorasti
zadatku	N:m	zadatak
.	SENT	.
Glumci	N:m	glumac
su	N:m	su
poznati	A:aem	poznat
(	PUNCT	(
Alan	N:m	Alan
Arkin	N:m	Arkin
,	PUNCT	,
John	N:m	John
Goodman	N:m	Goodman
)	PUNCT	)
i	CONJ	i
uglavnom	ADV	uglavnom
dobro	ADV	dobro
poznaju	N:m	poznaju
svoj	PRO	sav
zanat	N:m	zanat
,	PUNCT	,
pa	CONJ	pa
čak	PAR	čak
i	CONJ	i
kad	CONJ	kad
je	PRO	ona
Ben	N:m	Ben
Aflek	N:m	Aflek
(	PUNCT	(
Ben	N:m	Ben
Affleck	N:m	Affleck
)	PUNCT	)
u	PREP	u
pitanju	N:n	pitanje
,	PUNCT	,
mada	CONJ	mada
se	PAR	se
njegove	PRO	njegov
glumačke	A:aef	glumački
sposobnosti	N:f	sposobnost
iz	PREP	iz
nekog	PRO	neki
razloga	N:m	razlog
često	ADV	često
omalovažavaju	V:m	omalovažavaju
.	SENT	.
Opet	ADV	opet
,	PUNCT	,
ne	PAR	ne
možemo	A:aen	možemo
reći	N:n	reći
da	CONJ	da
se	PAR	se
neko	PRO	neki
na	PREP	na
ovom	PRO	ovaj
polju	N:n	polje
posebno	ADV	posebno
istakao	V:m	istakati
,	PUNCT	,
a	CONJ	a
možda	PAR	možda
nije	N:n	nije
bilo	V:n	biti
ni	PAR	ni
puno	A:aen	pun
mesta	N:n	mesto
za	PREP	za
to	PRO	taj
.	SENT	.
Likova	N:n	likovo
u	PREP	u
filmu	N:m	film
je	PRO	ona
puno	A:aen	pun
,	PUNCT	,
te	CONJ	te
se	PAR	se
čini	N:f	čini
da	CONJ	da
pojedini	A:aem	pojedini
likovi	N:m	lik
nisu	N:m	nisu
dovoljno	ADV	dovoljno
razrađeni	V:m	razraditi
jer	CONJ	jer
jednostavno	ADV	jednostavno
nije	V:m	nije
bilo	V:n	biti
dovoljno	ADV	dovoljno
prostora	N:m	prostor
za	PREP	za
širenje	N:n	širenje
njihovih	PRO	njihov
karaktera	N:m	karakter
.	SENT	.
Čini	N:m	Čina
se	PAR	se
da	CONJ	da
je	PRO	ona
ono	PRO	onaj
što	CONJ	što
najviše	ADV	najviše
bode	N:f	boda
oči	N:f	oči
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
zapravo	ADV	zapravo
klasična	A:aem	klasičan
američka	A:aen	američki
propaganda	N:f	propaganda
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
na	PREP	na
to	PRO	taj
da	CONJ	da
je	PRO	ona
Argo	N:m	Argo
zasnovan	V:m	zasnovati
na	PREP	na
istinitom	A:aem	istinit
događaju	N:m	događaj
,	PUNCT	,
ne	PAR	ne
možemo	A:aen	možemo
ni	CONJ	ni
naslutiti	A:aem	naslutiti
kakve	PRO	kakav
su	N:m	su
sve	PRO	sav
činjenice	N:f	činjenica
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
izvrnute	V:f	izvrnuti
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
filmovi	N:m	film
inspirisani	A:aem	inspirisan
stvarnim	A:aem	stvaran
događajima	N:m	događaj
prirodno	A:aen	prirodan
dodaju	N:f	dodaju
ili	CONJ	ili
oduzimaju	N:m	oduzimaju
od	PREP	od
istine	N:f	istina
,	PUNCT	,
ne	PAR	ne
bi	N:m	bi
li	PAR	li
priču	N:f	priča
načinili	V:m	načiniti
zanimljivijom	A:bef	zanimljiv
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
filmovima	N:m	film
sa	PREP	sa
političkom	A:aen	politički
tematikom	N:f	tematika
to	PRO	taj
dobija	N:n	dobija
na	PREP	na
težini	N:f	težina
više	ADV	više
nego	CONJ	nego
u	PREP	u
drugim	A:aem	drugi
slučajevima	N:m	slučaj
.	SENT	.
Amerikanci	N:m	Amerikanac
su	N:m	su
naravno	PAR	naravno
dobri	A:aem	dobar
momci	N:m	momak
,	PUNCT	,
kao	ADV	kao
i	CONJ	i
uvek	ADV	uvek
,	PUNCT	,
a	CONJ	a
i	CONJ	i
ako	CONJ	ako
nisu	N:m	nisu
,	PUNCT	,
to	PRO	taj
je	PRO	ona
samo	PAR	samo
da	CONJ	da
bi	A:aem	bi
ispravili	V:m	ispraviti
ono	PRO	onaj
što	CONJ	što
drugi	A:aem	drugi
rade	N:f	rada
pogrešno	ADV	pogrešno
,	PUNCT	,
opet	ADV	opet
u	PREP	u
skladu	N:m	sklad
sa	PREP	sa
svojim	PRO	svoj
kriterijumima	N:m	kriterijum
.	SENT	.
Gledajući	A:aem	Gledajući
Argo	N:m	Argo
,	PUNCT	,
imali	V:m	imati
smo	N:f	smo
utisak	N:m	utisak
kao	CONJ	kao
da	CONJ	da
gledamo	N:f	gledamo
neku	PRO	neki
intelektualnu	A:aen	intelektualan
verziju	N:f	verzija
Ramba	N:m	Ramba
,	PUNCT	,
zapravo	ADV	zapravo
realističniju	A:bef	realističan
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
osnovi	N:f	osnova
veoma	ADV	veoma
sličnu	A:aem	sličan
priču	N:f	priča
.	SENT	.
Američki	A:aem	Američki
heroj	N:m	heroj
spasava	A:aem	spasava
nevine	A:aef	nevin
američke	A:aef	američki
žrtve	N:f	žrtva
,	PUNCT	,
zarobljene	V:f	zarobiti
u	PREP	u
tuđoj	A:aef	tuđ
i	CONJ	i
neprijateljskoj	A:aef	neprijateljski
zemlji	N:f	zemlja
.	SENT	.
Koliko	ADV	koliko
god	PAR	god
pokušalo	V:n	pokušati
da	CONJ	da
se	PAR	se
zamaskira	N:m	zamaskira
,	PUNCT	,
priznajte	N:m	priznajte
,	PUNCT	,
zar	PAR	zar
ne	PAR	ne
zvuči	V:m	zvuči
upravo	ADV	upravo
kao	ADV	kao
Rambo	N:m	Rambo
?	SENT	?
Šalu	N:m	Šala
na	PREP	na
stranu	N:f	strana
,	PUNCT	,
uostalom	PAR	uostalom
voleli	V:m	voleti
smo	N:f	smo
i	CONJ	i
Ramba	N:m	Ramba
,	PUNCT	,
zar	PAR	zar
ne	PAR	ne
?	PUNCT	?
Na	PREP	na
kraju	N:m	kraj
vam	PRO	vi
preporučujemo	N:f	preporučujemo
da	CONJ	da
date	A:aem	dat
šansu	N:f	šansa
filmu	N:m	film
Argo	N:m	Argo
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
eventualni	A:aem	eventualan
otpor	N:m	otpor
koji	PRO	koji
imate	N:m	imate
,	PUNCT	,
jer	CONJ	jer
imali	V:m	imati
smo	N:f	smo
ga	PRO	on
i	CONJ	i
mi	PRO	ja
.	SENT	.
