Već	A:aem	Već
duže	ADV	duže
vreme	N:n	vreme
oklevam	N:m	oklevam
da	CONJ	da
napišem	A:aen	napišem
post	PREF	post
o	PREP	o
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
jer	CONJ	jer
mi	PRO	ja
za	PREP	za
vreme	N:n	vreme
gledanja	N:n	gledanje
rasploženje	N:n	rasploženje
nije	A:aem	nije
bilo	V:n	biti
na	PREP	na
nivou	N:m	nivo
,	PUNCT	,
pa	CONJ	pa
me	PRO	ja
je	PRO	ona
strah	N:m	strah
da	CONJ	da
se	PAR	se
ogrešim	V:m	ogrešim
o	PREP	o
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
odvlačio	V:m	odvlačiti
od	PREP	od
pisanja	N:n	pisanje
.	SENT	.
Razloga	N:m	Razlog
nema	A:aem	nem
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
divan	A:aem	divan
.	SENT	.
Priča	A:aem	Priča
je	PRO	ona
o	PREP	o
poslednjim	A:aef	poslednji
godinama	N:f	godina
engleskog	A:aen	engleski
pesnika	N:m	pesnik
Džona	N:m	Džon
Kitsa	N:m	Kits
kada	CONJ	kada
upoznaje	A:aef	upoznaje
Fani	N:f	Fani
,	PUNCT	,
njegovu	PRO	njegov
dragu	N:f	draga
do	PREP	do
kraja	N:m	kraj
(	PUNCT	(
ne	PAR	ne
toliko	ADV	toliko
dugog	A:aem	dug
)	PUNCT	)
života	N:m	život
kao	CONJ	kao
i	CONJ	i
najveću	A:cef	velik
inspiraciju	N:f	inspiracija
.	SENT	.
Priča	A:aem	Priča
je	PRO	ona
skroz	ADV	skroz
linearna	A:aen	linearan
i	CONJ	i
očekivana	A:aen	očekivan
.	SENT	.
Na	PREP	na
početku	N:m	početak
se	PAR	se
baš	PAR	baš
i	CONJ	i
ne	PAR	ne
slažu	N:n	slažu
jer	CONJ	jer
je	PRO	ona
Džon	N:m	Džon
smatra	A:aen	smatra
daje	N:m	daje
Fani	N:f	Fani
opsednuta	A:aef	opsednut
modom	N:f	moda
i	CONJ	i
šivenjem	N:n	šivenje
,	PUNCT	,
a	CONJ	a
ona	PRO	ona
nije	V:m	nije
baš	PAR	baš
ljubitelj	N:m	ljubitelj
poezije	N:f	poezija
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
kada	CONJ	kada
njemu	PRO	on
umire	A:aem	umire
brat	N:m	brat
ona	PRO	ona
je	PRO	ona
sve	PRO	sav
vreme	N:n	vreme
uz	PREP	uz
njega	PRO	on
,	PUNCT	,
što	CONJ	što
ih	PRO	ona
zbližava	A:aen	zbližava
.	SENT	.
Fani	N:f	Fani
traži	A:aem	traži
od	PREP	od
njega	PRO	on
da	CONJ	da
joj	PRO	ona
bude	A:aem	bude
profesor	N:m	profesor
,	PUNCT	,
da	CONJ	da
joj	PRO	ona
pomogne	A:aef	pomogne
da	CONJ	da
shvati	N:m	shvati
poeziju	N:f	poezija
i	CONJ	i
tako	ADV	tako
počinje	N:f	počinje
njihov	PRO	njihov
odnos	N:m	odnos
.	SENT	.
Problem	N:m	problem
sa	PREP	sa
njene	PRO	njen
strane	N:f	strana
je	PRO	ona
što	CONJ	što
je	PRO	ona
on	PRO	on
siromašan	A:aem	siromašan
,	PUNCT	,
pa	CONJ	pa
nije	A:aem	nije
materijal	N:m	materijal
za	PREP	za
udaju	N:f	udaja
.	SENT	.
Uprkos	PREP	uprkos
tome	PRO	taj
nastavljaju	N:m	nastavljaju
da	CONJ	da
se	PAR	se
viđaju	N:m	viđaju
…	SENT	…
Vrednost	N:f	vrednost
filma	N:m	film
nije	A:aem	nije
u	PREP	u
priči	N:f	priča
već	CONJ	već
u	PREP	u
prezentovanju	N:n	prezentovanje
iste	A:aem	isti
.	SENT	.
Kasting	N:m	kasting
je	PRO	ona
bio	V:m	biti
odličan	A:aem	odličan
i	CONJ	i
njih	PRO	ona
dvoje	NUM	dvoje
su	N:m	su
zaista	ADV	zaista
odradili	V:m	odraditi
dobar	A:aem	dobar
posao	N:m	posao
,	PUNCT	,
a	CONJ	a
rediteljka	N:f	rediteljka
Džejn	N:f	Džejn
Kampion	N:m	Kampion
je	PRO	ona
uspela	V:f	uspeti
veoma	ADV	veoma
realno	ADV	realno
da	CONJ	da
prikaže	N:m	prikaže
kako	CONJ	kako
izgleda	N:m	izgled
zaljubljenost	N:f	zaljubljenost
.	SENT	.
Pritom	N:m	Prita
postoje	N:m	postoje
scene	N:f	scena
koje	PRO	koji
izgledaju	N:m	izgledaju
kao	CONJ	kao
da	CONJ	da
su	N:m	su
naslikane	V:f	naslikati
i	CONJ	i
zaista	PAR	zaista
oduzimaju	N:m	oduzimaju
dah	N:m	dah
.	SENT	.
Takođe	A:aem	Takođe
su	N:m	su
boje	N:f	boja
u	PREP	u
filmu	N:m	film
fantastične	A:aef	fantastičan
i	CONJ	i
često	ADV	često
se	PAR	se
koriste	N:m	koriste
kako	CONJ	kako
bi	A:aem	bi
se	PAR	se
bolje	ADV	bolje
oslikala	V:f	oslikati
osećanja	N:n	osećanje
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
možda	PAR	možda
može	A:aem	može
da	CONJ	da
se	PAR	se
zameri	N:m	zameri
je	PRO	ona
to	PRO	taj
da	CONJ	da
je	PRO	ona
priča	N:f	priča
ispričana	V:n	ispričati
iz	PREP	iz
Faninog	A:aem	Fanin
ugla	N:m	ugao
,	PUNCT	,
a	CONJ	a
mislim	A:aen	mislim
da	CONJ	da
bi	A:aen	bi
bilo	V:n	biti
zanimljivije	A:bef	zanimljiv
da	CONJ	da
su	N:m	su
prikazali	V:m	prikazati
i	CONJ	i
Džonovu	A:aef	Džonov
stranu	N:f	strana
,	PUNCT	,
iako	CONJ	iako
se	PAR	se
kroz	PREP	kroz
njihove	PRO	njihov
razgovore	N:m	razgovor
često	ADV	često
provlače	A:aem	provlače
Kitsovi	A:aem	Kitsov
stihovi	N:m	stih
.	SENT	.
I	CONJ	i
,	PUNCT	,
makar	CONJ	makar
meni	PRO	ja
,	PUNCT	,
film	N:m	film
je	PRO	ona
bio	V:m	biti
malo	ADV	malo
sporiji	A:bem	spor
,	PUNCT	,
dinamika	N:f	dinamika
je	PRO	ona
izostala	V:f	izostati
.	SENT	.
Priča	A:aem	Priča
je	PRO	ona
u	PREP	u
potpunosti	N:f	potpunost
u	PREP	u
stilu	N:n	stilo
Džejn	N:f	Džejn
Ostin	N:m	Ostin
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
ako	CONJ	ako
ste	A:aem	ste
voleli	V:m	voleti
„	A:aem	„
Razum	N:m	razum
i	CONJ	i
osećajnost	N:f	osećajnost
“	A:aem	“
i	CONJ	i
„	A:aem	„
Gordost	N:m	Gordost
i	CONJ	i
predrasude	N:f	predrasuda
“	A:aem	“
ovaj	PRO	ovaj
film	N:m	film
će	V:n	će
vas	PRO	vi
oduševiti	A:aem	oduševiti
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
u	PREP	u
suštini	N:f	suština
slična	A:aef	sličan
priča	N:f	priča
ali	CONJ	ali
ispričana	V:n	ispričati
na	PREP	na
bolji	A:bem	dobar
način	N:m	način
.	PUNCT	.
Da	CONJ	da
skratim	A:aef	skratim
priču	N:f	priča
,	PUNCT	,
ako	CONJ	ako
volite	N:m	volite
drame	N:f	drama
i	CONJ	i
ljubavne	A:aef	ljubavan
priče	N:f	priča
ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
za	PREP	za
vas	PRO	vi
,	PUNCT	,
ako	CONJ	ako
ne	PAR	ne
…	PUNCT	…
pa	CONJ	pa
možda	PAR	možda
ćete	N:m	ćete
naći	V:m	naći
nešto	ADV	nešto
u	PREP	u
njemu	PRO	on
što	CONJ	što
će	N:m	će
vam	PRO	vi
se	PAR	se
svideti	V:n	svideti
.	SENT	.
