Nastavljamo	N:f	Nastavljamo
sa	PREP	sa
rokanjem	N:n	rokanjem
prikaza	N:f	prikaza
filmova	N:m	film
nominovanim	A:aem	nominovan
za	PREP	za
Oskara	N:m	Oskar
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
tako	ADV	tako
učmalo	V:n	učmati
doba	N:n	doba
godine	N:f	godina
,	PUNCT	,
sasvim	ADV	sasvim
suprotno	ADV	suprotno
letnjem	A:aem	letnji
periodu	N:m	period
gde	CONJ	gde
možete	A:aem	možete
da	CONJ	da
se	PAR	se
na	PREP	na
filmu	N:m	film
divite	N:m	divit
obnaženim	A:aef	obnažen
cicama	N:f	cica
,	PUNCT	,
eksplozijama	N:f	eksplozija
i	CONJ	i
brzim	A:aef	brz
kolima	N:n	kola
.	SENT	.
Pred	PREP	pred
nama	PRO	mi
je	PRO	ona
„	N:m	„
Ludo	A:aen	lud
srce	N:n	srce
“	N:m	“
,	PUNCT	,
Džef	N:m	Džef
Bridžisov	A:aem	Bridžisov
kec	N:m	kec
u	PREP	u
rukavu	N:m	rukav
,	PUNCT	,
film	N:m	film
o	PREP	o
zaboravljenoj	A:aef	zaboravljen
kantri	N:f	kantri
legendi	N:f	legenda
koja	PRO	koji
u	PREP	u
svojim	PRO	svoj
raspalim	A:aen	raspali
kolima	N:n	kola
obilazi	N:m	obilazi
rednekovske	A:aem	rednekovske
gradove	N:m	grad
i	CONJ	i
svira	N:m	svira
po	PREP	po
barovima	N:m	bar
.	SENT	.
Prateći	N:m	Prateći
priču	N:f	priča
,	PUNCT	,
atmosferu	N:f	atmosfera
i	CONJ	i
pomalo	ADV	pomalo
scenografiju	N:f	scenografija
prošlogodišnjeg	A:aem	prošlogodišnji
filma	N:m	film
„	A:aem	„
Wrestler	N:m	Wrestler
“	A:aem	“
Daren	N:m	Daren
Arnovskog	A:aem	Arnovskog
,	PUNCT	,
Skot	N:m	Skot
Kuper	N:m	Kuper
,	PUNCT	,
čije	PRO	čiji
je	PRO	ona
ovo	PRO	ovaj
debitanstsko	A:aen	debitanstsko
ostvarenje	N:n	ostvarenje
,	PUNCT	,
pokušava	A:aen	pokušava
da	CONJ	da
nam	PRO	mi
proda	N:m	proda
usamljenost	N:f	usamljenost
zvezde	N:f	zvezda
kome	PRO	koji
je	PRO	ona
prošlo	V:n	proći
vreme	N:n	vreme
,	PUNCT	,
u	PREP	u
potpunosti	N:f	potpunost
se	PAR	se
oslanjajući	V:m	oslanjajući
na	PREP	na
Bridžisovo	A:aen	Bridžisov
tumačenje	N:n	tumačenje
lika	N:m	lik
,	PUNCT	,
ne	PAR	ne
udubljujući	N:m	udubljujući
se	PAR	se
previše	ADV	previše
u	PREP	u
dijaloge	N:m	dijalog
,	PUNCT	,
više	ADV	više
pokušavajući	A:aem	pokušavajući
da	CONJ	da
opusti	N:m	opusti
glumce	N:m	glumac
da	CONJ	da
urade	V:m	urade
svoj	PRO	sav
posao	V:m	posati
.	SENT	.
Tako	ADV	tako
imamo	N:m	imamo
Megi	N:f	Megi
Gilanhel	N:f	Gilanhel
kao	CONJ	kao
mladu	A:aef	mlad
samohranu	A:aef	samohran
majku	N:f	majka
koja	PRO	koji
se	PAR	se
posle	PREP	posle
intervjuisanja	N:n	intervjuisanje
Bed	N:m	Bed
Blejka	N:m	Blejk
(	PUNCT	(
Džef	N:m	Džef
Bridžis	N:m	Bridžis
)	PUNCT	)
spajtava	N:f	spajtava
sa	PREP	sa
njim	PRO	on
,	PUNCT	,
Kolina	N:m	Kolin
Farela	N:m	Farel
,	PUNCT	,
mladu	A:aef	mlad
kantri	N:f	kantri
zvezdu	N:f	zvezda
kao	CONJ	kao
prototip	N:m	prototip
nečega	PRO	nešto
što	CONJ	što
je	PRO	ona
Bed	N:m	Bed
Blejk	N:m	Blejk
nekada	ADV	nekada
bio	V:m	biti
,	PUNCT	,
Robert	N:m	Robert
Divala	N:m	Dival
,	PUNCT	,
šankera	N:m	šanker
,	PUNCT	,
vlasnika	N:m	vlasnik
restorana	N:m	restoran
i	CONJ	i
Blajkovog	A:aem	Blajkovog
prijatelja	N:m	prijatelj
,	PUNCT	,
koji	PRO	koji
svi	PRO	sav
odrađuju	A:aem	odrađuju
majstorski	A:aem	majstorski
posao	N:m	posao
.	SENT	.
Džef	N:m	Džef
je	PRO	ona
definitivno	ADV	definitivno
zaslužio	V:m	zaslužiti
zlatnu	A:aef	zlatan
statuu	N:f	statua
,	PUNCT	,
ne	PAR	ne
samo	PAR	samo
zbog	PREP	zbog
povraćanja	N:n	povraćanje
,	PUNCT	,
napijanja	N:n	napijanje
,	PUNCT	,
pušenja	N:n	pušenje
do	PREP	do
kancera	N:m	kancer
i	CONJ	i
promuklog	A:aen	promukao
pevanja	N:n	pevanje
na	PREP	na
filmu	N:m	film
,	PUNCT	,
već	CONJ	već
i	CONJ	i
zbog	PREP	zbog
kompleksnih	A:aen	kompleksan
odnosa	N:m	odnos
koji	PRO	koji
gradi	N:m	grad
sa	PREP	sa
ostalim	A:aem	ostalim
likovima	N:m	lik
u	PREP	u
ovoj	PRO	ovaj
blago	ADV	blago
depresivnoj	A:aef	depresivan
drami	N:f	drama
.	PUNCT	.
Definitivno	ADV	definitivno
morate	N:m	Morat
da	CONJ	da
obrnete	N:m	obrnete
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Iako	CONJ	iako
ne	PAR	ne
pruža	A:aem	pruža
ništa	ADV	ništa
novo	A:aen	nov
možda	PAR	možda
ćete	N:m	ćete
konačno	ADV	konačno
shvatiti	N:m	shvatiti
zaraznos	N:m	zaraznos
američkih	A:aef	američki
„	A:aem	„
narodnjaka	N:m	narodnjak
“	N:m	“
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
kao	CONJ	kao
refren	N:m	refren
neke	PRO	neki
od	PREP	od
njih	PRO	ona
.	SENT	.
Stalno	ADV	stalno
ćete	N:m	ćete
ga	PRO	on
pevušiti	A:aem	pevušiti
i	CONJ	i
svaki	PRO	svaki
put	N:f	put
shvatati	N:m	shvatati
na	PREP	na
drugi	A:aem	drugi
način	N:m	način
.	SENT	.
Vout	A:aem	Vout
for	N:m	for
Džef	N:m	Džef
!	PUNCT	!
