Ne	PAR	ne
znam	N:m	znam
šta	PRO	šta
se	PAR	se
to	PRO	taj
dešava	N:n	dešava
u	PREP	u
poslednje	A:aen	poslednji
vreme	N:n	vreme
,	PUNCT	,
da	CONJ	da
li	PAR	li
je	PRO	ona
moguće	ADV	moguće
da	CONJ	da
su	N:m	su
moje	PRO	moj
ideje	N:f	ideja
nekako	ADV	nekako
konačno	ADV	konačno
stigle	V:f	stignuti
do	PREP	do
svih	PRO	sav
tih	PRO	taj
ljudi	N:m	ljudi
koji	PRO	koji
se	PAR	se
bave	A:aef	bave
produkcijom	N:f	produkcija
video	V:m	videti
igara	N:f	igra
,	PUNCT	,
jer	CONJ	jer
evo	PAR	evo
u	PREP	u
poslednjih	A:aem	poslednji
mesec	N:m	mesec
dana	N:m	dan
već	CONJ	već
druga	A:aef	drugi
igra	N:f	igra
je	PRO	ona
pretočena	V:f	pretočiti
u	PREP	u
film	N:m	film
.	SENT	.
Nakon	PREP	nakon
Ultramarines	N:m	Ultramarines
A	ABB	A
Warhammer	N:m	Warhammer
Movie	N:f	Movie
,	PUNCT	,
koji	PRO	koji
,	PUNCT	,
ruku	N:f	ruka
na	PREP	na
srce	N:n	srce
nije	A:aen	nije
bio	V:m	biti
preterano	ADV	preterano
dobar	A:aem	dobar
,	PUNCT	,
stigao	V:m	stignuti
je	PRO	ona
Dead	A:aem	Dead
Space	N:m	Space
:	SENT	:
Aftermath	A:aem	Aftermath
koji	PRO	koji
,	PUNCT	,
ruku	N:f	ruka
na	PREP	na
drugo	A:aen	drugi
srce	N:n	srce
uopšte	ADV	uopšte
nije	A:aem	nije
loš	A:aem	loš
,	PUNCT	,
štaviše	PAR	štaviše
vrlo	ADV	vrlo
je	PRO	ona
dobar	A:aem	dobar
horor	N:m	horor
animirani	A:aem	animiran
film	N:m	film
…	SENT	…
Ovaj	N:m	Ovaj
film	N:m	film
je	PRO	ona
totalno	ADV	totalno
planski	A:aem	planski
urađen	V:m	uraditi
kao	CONJ	kao
veza	N:f	veza
između	PREP	između
prvog	A:aem	prvi
i	CONJ	i
drugog	A:aem	drugi
dela	N:n	delo
istoimene	A:aef	istoimen
igre	N:f	igra
čiji	PRO	čiji
bi	A:aem	bi
drugi	A:aem	drugi
deo	N:m	deo
trebao	V:m	trebati
da	CONJ	da
se	PAR	se
pojavi	N:f	pojava
ovih	PRO	ovaj
dana	N:m	dan
,	PUNCT	,
slično	ADV	slično
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
prvi	A:aem	prvi
film	N:m	film
iz	PREP	iz
ovog	PRO	ovaj
serijala	N:m	serijal
pod	PREP	pod
nazivom	N:m	naziv
Dead	A:aem	Dead
Space	N:m	Space
:	PUNCT	:
Downfall	N:m	Downfall
trebao	V:m	trebati
da	CONJ	da
premosti	N:f	premosti
priču	N:f	priča
između	PREP	između
stripa	N:m	strip
i	CONJ	i
prvog	A:aem	prvi
dela	N:m	deo
igre	N:f	igra
.	SENT	.
Priča	A:aem	Priča
kaže	N:f	kaža
,	PUNCT	,
skupila	V:f	skupiti
se	PAR	se
posada	N:f	posada
jednog	NUM	jedan
broda	N:m	brod
i	CONJ	i
zaputila	V:m	zaputiti
se	PAR	se
na	PREP	na
jednu	NUM	jedan
rudarsku	A:aef	rudarski
planetu	N:f	planeta
,	PUNCT	,
Aegis	N:f	Aegis
7	NUM	@card@
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
nakon	PREP	nakon
nesreće	N:f	nesreća
postala	V:f	postati
totalno	A:aen	totalan
nestabilna	A:aef	nestabilan
i	CONJ	i
počela	V:f	početi
da	CONJ	da
se	PAR	se
raspada	N:m	raspad
.	SENT	.
Njihov	PRO	njihov
zadatak	N:m	zadatak
je	PRO	ona
bio	V:m	biti
da	CONJ	da
je	PRO	ona
stabilizuju	N:m	stabilizuju
i	CONJ	i
spreče	V:m	spreče
da	CONJ	da
se	PAR	se
raspadne	A:aem	raspadne
.	PUNCT	.
Ali	CONJ	ali
nezvanično	ADV	nezvanično
,	PUNCT	,
prava	N:n	pravo
misija	N:f	misija
je	PRO	ona
bila	V:f	biti
prikupljanje	N:n	prikupljanje
fragmenata	N:m	fragment
vanzemaljskog	A:aem	vanzemaljski
objekta	N:m	objekt
koji	PRO	koji
se	PAR	se
nalazio	V:m	nalaziti
na	PREP	na
planeti	N:f	planeta
.	SENT	.
Tim	PRO	taj
uspeva	N:m	uspeva
da	CONJ	da
spasi	N:m	Spasa
jedan	NUM	jedan
fragment	N:m	fragment
vanzemaljskog	A:aem	vanzemaljski
materijala	N:m	materijal
i	CONJ	i
da	CONJ	da
ga	PRO	on
donese	N:m	donese
na	PREP	na
brod	N:m	brod
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
u	PREP	u
istom	A:aem	isti
trenutku	N:m	trenutak
planeta	N:f	planeta
raspada	N:m	raspad
,	PUNCT	,
brod	N:m	brod
biva	A:aem	biva
onesposobljen	V:m	onesposobiti
za	PREP	za
kretanje	N:n	kretanje
i	CONJ	i
čudne	A:aef	čudan
stvari	N:f	stvar
počinju	N:f	počinju
da	CONJ	da
se	PAR	se
dešavaju	N:f	dešavaju
…	SENT	…
nakon	PREP	nakon
nekog	PRO	neki
vremena	N:n	vreme
stiže	A:aem	stiže
spacilačka	A:aen	spacilačka
ekipa	N:f	ekipa
koja	PRO	koji
od	PREP	od
stotine	N:f	stotina
članova	N:m	član
posade	N:f	posada
,	PUNCT	,
pronalazi	N:m	pronalazi
samo	PAR	samo
njih	PRO	ona
četvoro	NUM	četvoro
u	PREP	u
životu	N:m	život
.	SENT	.
Dovode	N:m	dovod
ih	PRO	ona
na	PREP	na
svoj	PRO	sav
brod	N:m	brod
i	CONJ	i
preživeli	A:aem	preživeo
počinju	N:f	počinju
da	CONJ	da
pričaju	N:m	pričaju
priču	N:f	priča
svako	PRO	svaki
iz	PREP	iz
svoje	PRO	svoj
perspektive	N:f	perspektiva
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
nesvakidašnje	A:aef	nesvakidašnji
,	PUNCT	,
ali	CONJ	ali
svakako	PAR	svakako
već	PAR	već
viđeno	V:n	viditi
je	PRO	ona
da	CONJ	da
je	PRO	ona
animacija	N:f	animacija
potpuno	ADV	potpuno
nestalna	A:aem	nestalan
i	CONJ	i
tokom	PREP	tokom
filma	N:m	film
videćete	N:m	videćete
bar	PAR	bar
četiri	NUM	četiri
ili	CONJ	ili
pet	NUM	pet
stilova	N:m	stil
animacije	N:f	animacija
koji	PRO	koji
će	N:m	će
se	PAR	se
menjati	N:f	menjati
kako	CONJ	kako
koji	PRO	koji
preživeli	A:aem	preživeo
počne	A:aem	počne
da	CONJ	da
priča	N:f	priča
svoju	PRO	svoj
priču	N:f	priča
,	PUNCT	,
tako	ADV	tako
da	CONJ	da
ćemo	N:f	ćemo
imati	N:f	imati
najpre	ADV	najpre
prostu	A:aen	prost
3	NUM	@card@
D	A:aem	D
animaciju	N:f	animacija
,	PUNCT	,
bez	PREP	bez
previše	ADV	previše
detalja	N:m	detalj
i	CONJ	i
truda	N:m	trud
koja	PRO	koji
deluje	N:m	deluje
kao	CONJ	kao
da	CONJ	da
su	N:m	su
je	PRO	ona
deca	N:f	deca
radila	V:f	raditi
,	PUNCT	,
pa	CONJ	pa
sve	PRO	sav
do	PREP	do
nečega	PRO	nešto
što	CONJ	što
je	PRO	ona
vrlo	ADV	vrlo
nalik	V:m	nalik
besnim	A:aem	besan
japanskim	A:aem	japanski
animeima	N:m	animeima
,	PUNCT	,
što	CONJ	što
mi	PRO	ja
se	PAR	se
jako	ADV	jako
dopada	N:m	dopada
.	SENT	.
Sličnu	A:aem	Sličnu
stvar	N:f	stvar
se	PAR	se
možete	A:aem	možete
videti	N:m	videti
i	CONJ	i
u	PREP	u
Dantes	N:m	Dantes
Inferno	N:m	Inferno
.	PUNCT	.
Ništa	A:aem	Ništa
revolucionarno	ADV	revolucionarno
,	PUNCT	,
ali	CONJ	ali
sasvim	ADV	sasvim
solidan	A:aem	solidan
film	N:m	film
koji	PRO	koji
će	N:f	će
se	PAR	se
svakako	ADV	svakako
dopasti	A:aem	dopasti
svim	PRO	sav
ljubiteljima	N:m	ljubitelj
ozbiljne	A:aef	ozbiljan
animacije	N:f	animacija
…	SENT	…
što	CONJ	što
će	A:aem	će
reći	N:m	reći
,	PUNCT	,
ne	PAR	ne
puštajete	N:m	puštajete
ovo	PRO	ovaj
maloj	A:aef	mali
deci	N:f	deca
,	PUNCT	,
siguran	A:aem	siguran
sam	A:aem	sam
da	CONJ	da
bi	A:aem	bi
posle	PREP	posle
ovoga	PRO	ovaj
imali	V:m	imati
noćne	A:aef	noćni
more	N:f	mora
…	PUNCT	…
znam	N:m	znam
,	PUNCT	,
bio	V:m	biti
sam	PRO	sam
dete	N:n	dete
,	PUNCT	,
dovoljno	ADV	dovoljno
puta	ADV	puta
sam	PRO	sam
bio	V:m	biti
istraumiran	A:aem	istraumiran
bolesnim	A:aem	bolestan
crtaćima	N:m	crtać
koje	PRO	koji
sam	PRO	sam
upijao	V:m	upijati
kao	CONJ	kao
nekakav	PRO	nekakav
…	PUNCT	…
hmmm	N:m	hmmm
…	PUNCT	…
upijač	N:m	upijač
za	PREP	za
crtaće	N:m	crtać
…	SENT	…
