Ovo	PRO	ovaj
je	PRO	ona
prvi	A:aem	prvi
dugometražni	A:aem	dugometražni
film	N:m	film
o	PREP	o
čuvenom	A:aem	čuven
agentu	N:m	agent
i	CONJ	i
kao	ADV	kao
takav	PRO	takav
,	PUNCT	,
postavio	V:m	postaviti
je	PRO	ona
mnoge	A:aef	mnogi
standarde	N:m	standard
.	SENT	.
Do	PREP	do
skoro	ADV	skoro
,	PUNCT	,
ako	CONJ	ako
se	PAR	se
ne	PAR	ne
varam	N:m	varam
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
bio	V:m	biti
jedini	A:aem	jedini
film	N:m	film
kod	PREP	kod
kog	PRO	koji
se	PAR	se
naslov	N:m	naslov
nije	V:m	nije
sadržao	V:m	sadržati
u	PREP	u
najavnoj	A:aef	najavni
pesmi	N:f	pesma
.	SENT	.
Na	PREP	na
samom	PRO	sam
početku	N:m	početak
vidimo	A:aen	vidimo
smrt	N:f	smrt
dvoje	NUM	dvoje
agenata	N:m	agent
pa	CONJ	pa
upoznavanje	N:n	upoznavanje
sa	PREP	sa
našim	PRO	naš
čuvenim	A:aem	čuven
agentom	N:m	agent
.	SENT	.
To	PRO	taj
upoznavanje	N:n	upoznavanje
je	PRO	ona
posle	ADV	posle
kopirano	V:n	kopirati
u	PREP	u
svaki	PRO	svaki
film	N:m	film
o	PREP	o
007	NUM	@card@
.	PUNCT	.
Do	PREP	do
pola	N:m	pol
filma	N:m	film
imamo	N:m	imamo
priču	N:f	priča
i	CONJ	i
misteriju	N:f	misterija
o	PREP	o
nestalim	A:aef	nestao
osobama	N:f	osoba
i	CONJ	i
o	PREP	o
potencijalnim	A:aem	potencijalan
opasnostima	N:f	opasnost
.	SENT	.
Uz	PREP	uz
to	PRO	taj
,	PUNCT	,
nije	V:m	nije
nam	PRO	mi
servirano	V:n	servirati
mnogo	ADV	mnogo
akcije	N:f	akcija
.	SENT	.
U	PREP	u
tom	PRO	taj
delu	N:n	delo
filma	N:m	film
nema	A:aem	nem
čak	PAR	čak
ni	PAR	ni
stvari	N:f	stvar
koje	PRO	koji
su	PREF	su
obeležile	V:f	obeležiti
sve	ADV	sve
kasnije	ADV	kasnije
bond	N:m	bond
filmove	N:m	film
.	SENT	.
Nikakve	PRO	nikakav
naprave	N:f	naprava
,	PUNCT	,
posebna	A:aen	poseban
oružja	N:n	oružje
,	PUNCT	,
luda	A:aef	lud
vozila	N:n	vozilo
,	PUNCT	,
tajni	A:aem	tajni
ulazi	N:m	ulaz
,	PUNCT	,
skrivene	A:aef	skriven
pregrade	N:f	pregrada
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Sve	PRO	sav
je	PRO	ona
to	PRO	taj
bio	V:m	biti
jednostavan	A:aem	jednostavan
špijunski	A:aem	špijunski
film	N:m	film
.	SENT	.
Potom	ADV	potom
imamo	N:m	imamo
odlazak	N:m	odlazak
na	PREP	na
ostrvo	N:n	ostrvo
gde	CONJ	gde
zapravo	ADV	zapravo
počinje	N:f	počinje
da	CONJ	da
se	PAR	se
razrešava	A:aem	razrešava
cela	A:aef	ceo
misterija	N:f	misterija
.	SENT	.
Taj	PRO	taj
deo	N:m	deo
filma	N:m	film
i	CONJ	i
ne	PAR	ne
traje	N:m	traje
tako	ADV	tako
mnogo	ADV	mnogo
.	SENT	.
U	PREP	u
kasnijim	A:bef	kasan
filmovima	N:m	film
su	N:m	su
sukobi	N:m	sukob
sa	PREP	sa
glavnim	A:aem	glavnim
negativcima	N:m	negativac
,	PUNCT	,
bekstva	N:n	bekstvo
iz	PREP	iz
smrtonosnih	A:aef	smrtonosan
situacija	N:f	situacija
i	CONJ	i
slične	A:aef	sličan
stvari	N:f	stvar
bile	V:f	biti
vazda	ADV	vazda
eksploatisane	V:f	eksploatisati
.	SENT	.
Ovde	ADV	ovde
imamo	N:m	imamo
jedan	NUM	jedan
susret	N:m	susret
Bonda	N:m	Bond
i	CONJ	i
negativca	N:m	negativac
,	PUNCT	,
njihov	PRO	njihov
razgovor	N:m	razgovor
,	PUNCT	,
jedan	NUM	jedan
duel	N:m	duel
i	CONJ	i
to	PRO	taj
je	PRO	ona
to	PRO	taj
.	PUNCT	.
Naravno	PAR	naravno
drugu	A:aef	drugi
polovinu	N:f	polovina
filma	N:m	film
je	PRO	ona
obeležila	V:m	obeležiti
i	CONJ	i
najpoznatija	A:cen	poznat
Bond	N:m	Bond
devojka	N:f	devojka
do	PREP	do
dana	N:m	dan
današnjeg	A:aen	današnji
,	PUNCT	,
prelepa	A:aef	prelep
Ursula	N:f	Ursula
Andres	N:m	Andres
.	PUNCT	.
Imamo	N:f	Imamo
i	CONJ	i
priču	N:f	priča
o	PREP	o
zmaju	N:m	zmaj
koji	PRO	koji
bljuje	N:m	bljuje
vatru	N:f	vatra
.	SENT	.
Ono	PRO	onaj
što	PRO	što
se	PAR	se
ispostavilo	V:n	ispostaviti
da	CONJ	da
je	PRO	ona
zmaj	N:m	zmaj
,	PUNCT	,
deluje	A:aem	deluje
prilično	ADV	prilično
naivno	A:aen	naivan
sa	PREP	sa
današnje	A:aef	današnji
tačke	N:f	tačka
gledišta	N:n	gledište
.	SENT	.
Pri	PREP	pri
samom	PRO	sam
kraju	N:m	kraj
vidimo	N:f	vidimo
nešto	ADV	nešto
od	PREP	od
ovog	PRO	ovaj
sci	N:m	sci
-	PUNCT	-
fi	A:aem	fi
duha	N:m	duh
što	CONJ	što
sam	PRO	sam
pominjao	V:m	pominjati
,	PUNCT	,
a	CONJ	a
tiče	N:n	tiče
se	PAR	se
ruku	N:f	ruka
Doktora	N:m	doktor
No	N:f	No
-	PUNCT	-
a	CONJ	a
.	PUNCT	.
Kada	CONJ	kada
poredite	A:aem	poredite
ovaj	PRO	ovaj
film	N:m	film
sa	PREP	sa
kasnijim	A:bef	kasan
nastavcima	N:m	nastavak
,	PUNCT	,
on	PRO	on
deluje	N:m	deluje
prilično	ADV	prilično
siromašno	A:aen	siromašan
,	PUNCT	,
prilično	ADV	prilično
jednostavno	ADV	jednostavno
.	PUNCT	.
Kada	CONJ	kada
poredite	A:aem	poredite
sve	PRO	sav
nastavke	N:m	nastavak
sa	PREP	sa
Dr	N:m	Dr
.	SENT	.
No	CONJ	no
-	PUNCT	-
om	N:m	om
,	PUNCT	,
shvatite	N:m	shvatite
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
čini	N:f	čini
barem	PAR	barem
70	NUM	@card@
%	N:m	%
svakog	PRO	svaki
od	PREP	od
njih	PRO	ona
.	SENT	.
Zbog	PREP	zbog
toga	PRO	taj
,	PUNCT	,
njegov	PRO	njegov
uticaj	N:m	uticaj
i	CONJ	i
njegova	PRO	njegov
vrednost	N:f	vrednost
u	PREP	u
Bond	N:m	Bond
filmovima	N:m	film
su	N:m	su
neizmerni	A:aem	neizmeran
.	SENT	.
Ja	PRO	ja
sam	A:aem	sam
fan	N:m	fan
filmova	N:m	film
o	PREP	o
agentu	N:m	agent
007	NUM	@card@
iz	PREP	iz
prostog	A:aen	prost
razloga	N:m	razlog
što	CONJ	što
su	N:m	su
to	PRO	taj
ostvarenja	N:n	ostvarenje
uz	PREP	uz
koja	PRO	koji
lako	ADV	lako
odmorim	A:aem	odmorim
mozak	N:m	mozak
.	PUNCT	.
Akcija	N:f	akcija
,	PUNCT	,
avantura	N:f	avantura
,	PUNCT	,
fin	A:aem	fin
humor	N:m	humor
,	PUNCT	,
odlični	A:aem	odličan
glumci	N:m	glumac
,	PUNCT	,
prelepe	A:aef	prelep
žene	N:f	žena
,	PUNCT	,
umerena	A:aen	umeren
i	CONJ	i
originalna	A:aem	originalan
naučna	A:aen	naučni
fantastika	N:f	fantastika
.	PUNCT	.
.	SENT	.
.	PUNCT	.
malo	ADV	malo
li	PAR	li
je	PRO	ona
?	PUNCT	?
