Pitanje	N:n	pitanje
koje	PRO	koji
sam	PRO	sam
zaboravio	V:m	zaboraviti
da	CONJ	da
postavim	A:aem	postavim
kada	CONJ	kada
sam	A:aem	sam
pisao	V:m	pisati
o	PREP	o
Midnight	N:m	Midnight
Meat	N:m	Meat
Train	A:aem	Train
mogu	N:m	Mog
da	CONJ	da
postavim	A:aem	postavim
i	CONJ	i
ovde	ADV	ovde
:	PUNCT	:
Koliko	ADV	koliko
je	PRO	ona
od	PREP	od
ljubitelja	N:m	ljubitelj
horora	N:m	horor
kojima	PRO	koji
se	PAR	se
ne	PAR	ne
sviđa	V:m	sviđa
ovaj	PRO	ovaj
film	N:m	film
zapravo	ADV	zapravo
pročitalo	V:n	pročitati
nešto	ADV	nešto
od	PREP	od
Barkera	N:m	Barker
.	SENT	.
Ako	CONJ	ako
volite	N:m	volite
horor	N:m	horor
,	PUNCT	,
morate	N:m	Morat
znati	V:m	znati
ko	PRO	ko
je	PRO	ona
Barker	N:m	Barker
,	PUNCT	,
ako	CONJ	ako
znate	V:f	znati
ko	PRO	ko
je	PRO	ona
Barker	N:m	Barker
i	CONJ	i
volite	N:m	volite
njegove	PRO	njegov
priče	N:f	priča
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
pun	A:aem	pun
pogodak	N:m	pogodak
.	SENT	.
Midnight	A:aem	Midnight
Meat	N:m	Meat
Train	N:m	Train
je	PRO	ona
odlična	A:aen	odličan
ekranizacija	N:f	ekranizacija
istoimene	A:aef	istoimen
Barkerove	A:aef	Barkerov
priče	N:f	priča
iz	PREP	iz
prve	A:aem	prvi
Knjige	N:m	Knjige
Krvi	N:f	krv
.	SENT	.
Book	A:aem	Book
of	N:m	of
Blood	N:m	Blood
je	PRO	ona
primer	N:m	primer
kako	CONJ	kako
ne	PAR	ne
treba	N:f	treba
ekranizovati	A:aem	ekranizovati
Barkera	N:m	Barker
,	PUNCT	,
mada	CONJ	mada
za	PREP	za
Book	A:aem	Book
of	N:m	of
Blood	N:m	Blood
se	PAR	se
trebalo	V:n	trebati
žestoko	ADV	žestoko
potruditi	V:m	potruditi
s	PREP	s
obzirom	N:m	obzir
koliko	ADV	koliko
je	PRO	ona
ta	PRO	taj
priča	N:f	priča
kratka	A:aen	kratak
,	PUNCT	,
ali	CONJ	ali
ljudi	N:m	ljudi
koji	PRO	koji
su	N:m	su
pravili	V:m	praviti
Dread	A:aem	Dread
su	N:m	su
pokazali	V:m	pokazati
kako	CONJ	kako
se	PAR	se
to	PRO	taj
radi	PREP	radi
.	SENT	.
Likovi	N:m	lik
iz	PREP	iz
filma	N:m	film
ne	PAR	ne
spadaju	V:m	spadaju
u	PREP	u
grupu	N:f	grupa
retarda	N:m	retarda
za	PREP	za
koje	PRO	koji
jedva	ADV	jedva
čekate	N:m	čekate
da	CONJ	da
skončaju	N:m	skončaju
(	PUNCT	(
House	N:m	House
of	N:m	of
Wax	N:m	Wax
(	PUNCT	(
2005	NUM	@card@
)	PUNCT	)
,	PUNCT	,
Lake	N:m	Laka
Dead	N:m	Dead
,	PUNCT	,
Hostel	N:m	hostel
2	NUM	@card@
,	PUNCT	,
The	INT	The
Divide	N:m	Divide
.	PUNCT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
već	PAR	već
su	N:m	su
to	PRO	taj
obični	A:aem	običan
ljudi	N:m	ljudi
sa	PREP	sa
skoro	ADV	skoro
pa	CONJ	pa
običnim	A:aem	običan
problemima	N:m	problem
.	SENT	.
To	PRO	taj
nismo	N:f	nismo
navikli	V:m	naviknuti
da	CONJ	da
gledamo	N:f	gledamo
u	PREP	u
hororima	N:m	horor
tako	ADV	tako
da	CONJ	da
odmah	ADV	odmah
mogu	A:aem	mogu
da	CONJ	da
kažem	A:aem	kažem
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
pristup	N:m	pristup
odličan	A:aem	odličan
potez	N:m	potez
.	SENT	.
Neki	PRO	neki
od	PREP	od
likova	N:n	likovo
odlučuju	N:m	odlučuju
da	CONJ	da
naprave	N:f	naprava
studiju	N:f	studija
o	PREP	o
strahu	N:m	strah
.	SENT	.
To	PRO	taj
nije	A:aem	nije
usputni	A:aem	usputan
projekat	N:m	projekt
koji	PRO	koji
služi	N:m	služi
da	CONJ	da
likovi	N:m	lik
upadnu	A:aem	upadan
u	PREP	u
nevolje	N:f	nevolja
već	CONJ	već
ta	PRO	taj
odluka	N:f	odluka
pretvara	N:f	pretvara
ceo	A:aem	ceo
film	N:m	film
u	PREP	u
jednu	NUM	jedan
odličnu	A:aef	odličan
studiju	N:f	studija
o	PREP	o
strahu	N:m	strah
.	SENT	.
Bukvalno	ADV	bukvalno
sat	N:m	sat
vremena	N:n	vreme
filma	N:m	film
ćete	N:m	ćete
gledati	A:aem	gledati
te	CONJ	te
obične	A:aef	običan
likove	N:m	lik
i	CONJ	i
upoznaćete	N:m	upoznaćete
sve	PRO	sav
njihove	PRO	njihov
probleme	N:m	problem
i	CONJ	i
strahove	N:m	strah
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
vrhunski	A:aem	vrhunski
,	PUNCT	,
to	PRO	taj
nisu	N:m	nisu
strahovi	N:m	strah
tipa	N:m	tip
'	A:aem	'
plašim	N:f	plašim
se	PAR	se
baba	N:f	baba
roge	N:f	roga
'	A:aem	'
ili	CONJ	ili
'	A:aem	'
doćiće	N:m	doćiće
mi	PRO	ja
Fredi	N:m	Fredi
Kruger	N:m	Kruger
u	PREP	u
san	N:m	san
'	A:aem	'
ili	CONJ	ili
'	A:aem	'
JK	N:m	JK
će	V:m	će
mi	PRO	ja
pevati	N:f	pevati
na	PREP	na
svadbi	N:f	svadba
'	N:m	'
.	PUNCT	.
.	SENT	.
.	PUNCT	.
To	PRO	taj
su	N:m	su
obični	A:aem	običan
ljudski	A:aem	ljudski
strahovi	N:m	strah
i	CONJ	i
iznad	PREP	iznad
svega	PRO	sav
opake	A:aef	opak
lične	A:aef	ličan
traume	N:f	trauma
.	PUNCT	.
Kako	CONJ	kako
je	PRO	ona
tek	CONJ	tek
to	PRO	taj
sjajna	A:aef	sjajan
ideja	N:f	ideja
,	PUNCT	,
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
.	SENT	.
Zamislite	N:m	Zamislite
nešto	ADV	nešto
što	CONJ	što
vas	PRO	vi
užasno	A:aen	užasan
plaši	N:n	plaši
,	PUNCT	,
neku	PRO	neki
vašu	PRO	vaš
traumu	N:f	trauma
ili	CONJ	ili
realni	A:aem	realan
strah	N:m	strah
.	PUNCT	.
.	SENT	.
.	PUNCT	.
i	CONJ	i
onda	ADV	onda
zamislite	N:f	zamislite
da	CONJ	da
se	PAR	se
to	PRO	taj
ostvari	N:m	ostvari
.	SENT	.
Jedini	A:aem	jedini
problem	N:m	problem
koji	PRO	koji
sam	PRO	sam
imao	V:m	imati
sa	PREP	sa
filmom	N:m	film
je	PRO	ona
što	CONJ	što
tih	PRO	taj
prvih	A:aef	prvi
sat	N:f	sat
vremena	N:n	vreme
nisam	N:m	nisam
kontao	V:m	kontati
čemu	PRO	šta
sve	PRO	sav
to	PRO	taj
.	PUNCT	.
I	CONJ	i
onda	ADV	onda
je	PRO	ona
počelo	V:n	početi
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
.	SENT	.
Jedan	NUM	jedan
od	PREP	od
likova	N:m	lik
je	PRO	ona
odlično	ADV	odlično
prostudirao	V:m	prostudirati
traume	N:f	trauma
ostalih	A:aem	ostalih
i	CONJ	i
odlučio	V:m	odlučiti
je	PRO	ona
da	CONJ	da
ih	PRO	ona
baci	N:m	baci
na	PREP	na
test	N:m	test
.	SENT	.
Tu	PRO	taj
imamo	N:m	imamo
seriju	N:f	serija
vrhunski	A:aem	vrhunski
jezivih	A:aef	jeziv
ideja	N:f	ideja
.	SENT	.
Što	N:m	Što
je	PRO	ona
najbolje	ADV	najbolje
,	PUNCT	,
taj	PRO	taj
zao	A:aem	zao
lik	N:m	lik
ne	PAR	ne
radi	PREP	radi
to	PRO	taj
iz	PREP	iz
čistog	A:aen	čist
hira	N:m	hir
,	PUNCT	,
već	CONJ	već
nam	PRO	mi
je	PRO	ona
odlično	ADV	odlično
servirana	V:m	servirati
i	CONJ	i
njegova	PRO	njegov
priča	N:f	priča
tako	ADV	tako
da	CONJ	da
su	N:m	su
svi	PRO	sav
njegovi	PRO	njegov
potezi	N:f	potega
utemeljeni	V:m	utemeljiti
.	SENT	.
Film	N:m	film
ima	A:aem	ima
opako	A:aen	opak
velika	A:aen	velik
muda	N:n	mudo
iz	PREP	iz
više	ADV	više
razloga	N:m	razlog
.	SENT	.
Videćete	N:m	Videćete
bukvalno	ADV	bukvalno
sve	ADV	sve
,	PUNCT	,
nema	A:aem	nem
laži	N:f	laž
,	PUNCT	,
nema	A:aem	nem
prevare	N:f	prevara
,	PUNCT	,
nema	A:aem	nem
skrivanja	N:n	skrivanje
.	SENT	.
Sve	PRO	sav
bljuvotine	N:f	bljuvotina
,	PUNCT	,
sve	PRO	sav
brutalnosti	N:f	brutalnost
,	PUNCT	,
sve	PRO	sav
će	N:f	će
vam	PRO	vi
se	PAR	se
u	PREP	u
solidnim	A:aem	solidan
efektima	N:m	efekt
odvijati	N:m	odvijati
ispred	PREP	ispred
očiju	N:f	oči
,	PUNCT	,
a	CONJ	a
što	CONJ	što
je	PRO	ona
najbolje	ADV	najbolje
,	PUNCT	,
to	PRO	taj
nisu	N:m	nisu
brutalnosti	N:f	brutalnost
radi	PREP	radi
brutalnosti	N:f	brutalnost
i	CONJ	i
bljuvotine	N:f	bljuvotina
radi	PREP	radi
bljuvotina	N:f	bljuvotina
.	SENT	.
Sve	PRO	sav
to	PRO	taj
ima	A:aem	ima
temelj	N:m	temelj
,	PUNCT	,
ima	A:aem	ima
svrhu	N:f	svrha
i	CONJ	i
sve	PRO	sav
ostavlja	A:aem	ostavlja
utisak	N:m	utisak
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
sigurno	ADV	sigurno
jedna	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
ekranizacija	N:f	ekranizacija
Barkera	N:m	Barker
.	SENT	.
Zaista	ADV	zaista
me	PRO	ja
je	PRO	ona
obradovala	V:f	obradovati
vest	N:f	vest
da	CONJ	da
će	A:aem	će
DiBlasi	N:m	DiBlasi
biti	N:f	bit
zadužen	V:m	zadužiti
za	PREP	za
ekranizaciju	N:f	ekranizacija
jedne	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
Barkerovih	A:aef	Barkerov
priča	N:f	priča
,	PUNCT	,
Bluz	N:m	bluz
Svinjske	A:aef	svinjski
Krvi	N:f	krv
jer	CONJ	jer
ovim	PRO	ovaj
me	PRO	ja
je	PRO	ona
čovek	N:m	čovek
kupio	V:m	kupiti
.	SENT	.
Jedina	A:aef	jedini
veća	N:n	veće
zamerka	N:f	zamerka
mi	PRO	ja
je	PRO	ona
glavni	A:aem	glavni
lik	N:m	lik
koji	PRO	koji
povremeno	ADV	povremeno
deluje	A:aem	deluje
odsutan	A:aem	odsutan
ili	CONJ	ili
čak	PAR	čak
i	CONJ	i
veseo	A:aem	veseo
kada	CONJ	kada
to	PRO	taj
ne	PAR	ne
treba	N:f	treba
da	CONJ	da
bude	A:aen	bude
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
ne	PAR	ne
smeta	N:m	smet
u	PREP	u
tolikoj	PRO	toliki
meri	N:f	mera
.	SENT	.
Dread	N:m	Dread
je	PRO	ona
jedna	NUM	jedan
odlična	A:aen	odličan
studija	N:f	studija
o	PREP	o
strahu	N:m	strah
koja	PRO	koji
će	A:aef	će
biti	N:f	bit
poslastica	N:f	poslastica
pravim	A:aen	prav
hororistima	N:m	hororistima
.	SENT	.
Hektolitri	N:m	hektolitar
krvi	N:f	krv
,	PUNCT	,
nepotrebne	A:aef	nepotreban
brutalnosti	N:f	brutalnost
,	PUNCT	,
gomile	N:f	gomila
gadosti	N:f	gadost
bez	PREP	bez
mozga	N:m	mozak
nisu	N:m	nisu
horor	N:m	horor
.	SENT	.
To	PRO	taj
je	PRO	ona
samo	PAR	samo
jeftin	A:aem	jeftin
način	N:m	način
da	CONJ	da
se	PAR	se
kupe	N:f	kupa
takozvani	A:aem	takozvani
horor	N:m	horor
fanovi	N:m	fan
.	SENT	.
Nešto	N:m	Nešto
ovako	ADV	ovako
pametno	ADV	pametno
,	PUNCT	,
nešto	ADV	nešto
ovako	ADV	ovako
realno	ADV	realno
jezivo	ADV	jezivo
,	PUNCT	,
nešto	ADV	nešto
ovako	ADV	ovako
mudadžijski	A:aem	mudadžijski
napravljeno	V:n	napraviti
jeste	INT	jeste
horor	N:m	horor
.	PUNCT	.
Braćo	N:m	Braćo
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
vi	PRO	vi
koji	PRO	koji
ste	N:m	ste
kao	CONJ	kao
i	CONJ	i
ja	PRO	ja
zaljubljenik	N:m	zaljubljenik
ovog	PRO	ovaj
žanra	N:m	žanr
,	PUNCT	,
uživajte	N:m	uživajte
.	PUNCT	.
