Srednjoškolka	N:f	Srednjoškolka
Oliv	N:f	Oliv
Pendergast	N:m	Pendergast
(	PUNCT	(
Ema	N:f	Ema
Stoun	N:m	Stoun
)	PUNCT	)
postaje	N:f	postaja
žrtva	N:f	žrtva
školskih	A:aef	školski
glasina	N:f	glasina
kada	CONJ	kada
slaže	N:n	slaže
svoju	PRO	svoj
najbolju	A:cef	dobar
drugaricu	N:f	drugarica
o	PREP	o
zbivanjima	N:n	zbivanje
tokom	PREP	tokom
vikenda	N:m	vikend
u	PREP	u
društvu	N:n	društvo
imaginarnog	A:aem	imaginaran
lika	N:m	lik
sa	PREP	sa
koledža	N:m	koledž
.	SENT	.
Vesti	N:f	Vesta
o	PREP	o
Olivinom	N:f	Olivinom
promiskuitetu	N:m	promiskuitet
se	PAR	se
brzo	ADV	brzo
šire	A:bem	širok
i	CONJ	i
na	PREP	na
sopstveno	A:aen	sopstven
iznenađenje	N:n	iznenađenje
,	PUNCT	,
pažnja	N:f	pažnja
joj	PRO	ona
prija	N:f	prija
.	SENT	.
Kada	CONJ	kada
pristane	N:m	pristan
da	CONJ	da
pomogne	A:aem	pomogne
ugnjetavanom	A:aem	ugnjetavan
gej	N:m	gej
prijatelju	N:m	prijatelj
pretvarajući	V:m	pretvarajući
se	PAR	se
da	CONJ	da
je	PRO	ona
spavala	V:n	spavati
sa	PREP	sa
njim	PRO	on
,	PUNCT	,
njen	PRO	njen
imidž	N:m	imidž
se	PAR	se
vrlo	ADV	vrlo
brzo	ADV	brzo
srozava	A:aem	srozava
do	PREP	do
lascivnog	A:aem	lascivan
i	CONJ	i
njen	PRO	njen
svet	A:aem	svet
počinje	N:f	počinje
da	CONJ	da
joj	PRO	ona
izmiče	N:f	izmiče
pod	PREP	pod
nogama	N:f	noga
.	PUNCT	.
I	CONJ	i
dok	CONJ	dok
pomaže	A:aem	pomaže
sve	ADV	sve
više	ADV	više
i	CONJ	i
više	ADV	više
učenika	N:m	učenik
i	CONJ	i
razmera	N:f	razmera
njenih	PRO	njen
laže	N:f	laža
raste	N:m	rast
Oliv	N:f	Oliv
mora	N:n	more
da	CONJ	da
sačuva	A:aem	sačuva
obraz	N:m	obraz
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
hrišćanski	A:aem	hrišćanski
fanatik	N:m	fanatik
Merien	N:f	Merien
dovede	N:m	dovede
do	PREP	do
izbacivanja	N:n	izbacivanje
iz	PREP	iz
škole	N:f	škola
i	CONJ	i
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
upropasti	A:aem	upropasti
sve	PRO	sav
svoje	PRO	svoj
izglede	N:m	izgled
za	PREP	za
srećan	A:aem	srećan
život	N:m	život
.	SENT	.
Easy	N:m	Easy
A	ABB	A
je	PRO	ona
svakako	PAR	svakako
dobrodošlo	A:aen	dobrodošao
osveženje	N:n	osveženje
u	PREP	u
moru	N:n	more
očajnih	A:aef	očajan
tinejdž	N:f	tinejdž
srednjoškolskih	A:aem	srednjoškolski
komedija	N:f	komedija
.	SENT	.
Scenario	N:m	scenario
je	PRO	ona
poprilično	ADV	poprilično
kvajitetno	A:aen	kvajitetno
napisan	V:m	napisati
u	PREP	u
smislu	N:m	smisao
dijaloga	N:m	dijalog
koji	PRO	koji
ne	PAR	ne
pate	N:m	pat
od	PREP	od
prepojednostavljivanja	N:n	prepojednostavljivanja
namenjenog	A:aen	namenjen
onima	PRO	onaj
sa	PREP	sa
deficitom	N:m	deficit
pažnje	N:f	pažnja
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
nažalost	ADV	nažalost
provlači	A:aem	provlači
par	N:m	par
klišea	N:m	kliše
u	PREP	u
vidu	N:f	vida
individua	N:f	individua
i	CONJ	i
događaja	N:m	događaj
koji	PRO	koji
u	PREP	u
normalnom	A:aem	normalan
fizičkom	A:aef	fizički
svetu	N:m	svet
sigurno	ADV	sigurno
ne	PAR	ne
mogu	A:aem	mogu
da	CONJ	da
se	PAR	se
pronađu	A:aem	pronađu
,	PUNCT	,
ali	CONJ	ali
zato	ADV	zato
nemilosrdno	A:aen	nemilosrdan
haraju	N:m	haraju
prikazima	N:m	prikaz
američke	A:aem	američki
srednje	A:aem	srednji
škole	N:f	škola
na	PREP	na
velikom	A:aef	velik
platnu	N:n	platno
.	SENT	.
Emi	N:f	Ema
Stoun	N:m	Stoun
sve	PRO	sav
pohvale	N:f	pohvala
za	PREP	za
glumu	N:f	gluma
u	PREP	u
ovom	PRO	ovaj
izdanju	N:n	izdanje
,	PUNCT	,
bez	PREP	bez
dileme	N:f	dilema
je	PRO	ona
najzaslužnija	A:cef	zaslužan
za	PREP	za
uspeh	N:m	uspeh
ovog	PRO	ovaj
filma	N:m	film
i	CONJ	i
sigurno	A:aen	siguran
predstavlja	N:n	predstavlja
vrhunac	N:m	vrhunac
njene	PRO	njen
glumačke	A:aef	glumački
karijere	N:f	karijera
do	PREP	do
sada	ADV	sada
.	PUNCT	.
Kao	ADV	kao
koherentan	A:aem	koherentan
i	CONJ	i
dobro	ADV	dobro
usklađen	A:aem	usklađen
par	N:m	par
bih	A:aem	bih
izdvojio	V:m	izdvojiti
i	CONJ	i
Stenlija	N:m	Stenli
Tučija	N:f	Tučija
i	CONJ	i
Patrišu	N:f	Patriša
Klarkson	N:m	Klarkson
u	PREP	u
ulogama	N:f	uloga
Olivinih	A:aem	Olivinih
otkačenih	A:aem	otkačen
i	CONJ	i
nekonvencionalnih	A:aem	nekonvencionalan
roditelja	N:m	roditelj
.	SENT	.
Performansi	N:f	performansa
ostatka	N:m	ostatak
ekipe	N:f	ekipa
su	N:m	su
ne	PAR	ne
tako	ADV	tako
ubedljivi	A:aem	ubedljiv
i	CONJ	i
podložni	A:aem	podložan
momentalnom	A:aem	momentalan
zaboravu	N:m	zaborav
.	SENT	.
Rado	ADV	rado
bih	A:aen	bih
preporučio	V:m	preporučiti
Easy	N:m	Easy
A	ABB	A
kao	CONJ	kao
dobru	A:aem	dobar
zabavu	N:f	zabava
za	PREP	za
kišno	A:aen	kišan
veče	N:n	veče
i	CONJ	i
od	PREP	od
mene	PRO	ja
dobija	N:n	dobija
sedmicu	N:f	sedmica
,	PUNCT	,
možda	PAR	možda
malo	ADV	malo
pod	PREP	pod
uticajem	N:m	uticaj
pre	PREP	pre
toga	PRO	taj
pogledanog	A:aem	pogledan
ogavnog	A:aem	ogavan
Going	N:m	Going
the	N:m	the
Distance	N:m	Distance
.	SENT	.
