Kako	CONJ	kako
god	PAR	god
okreneš	A:aem	okreneš
Italijani	N:m	Italijan
su	PREF	su
horor	N:m	horor
Pročitajmo	N:f	Pročitajmo
prvo	ADV	prvo
šta	PRO	šta
je	PRO	ona
Giallo	N:f	Giallo
.	SENT	.
Berberian	N:m	Berberian
Sound	N:m	Sound
Studio	V:m	studjeti
može	A:aem	može
da	CONJ	da
bude	A:aem	bude
omaž	N:m	omaž
(	PUNCT	(
onome	PRO	onaj
što	PRO	što
mi	PRO	ja
,	PUNCT	,
ne	PAR	ne
-	PUNCT	-
Italijani	N:m	Italijan
)	PUNCT	)
zovemo	N:f	zovemo
'	N:m	'
giallo	A:aen	giallo
'	N:m	'
.	PUNCT	.
Može	N:m	Mog
da	CONJ	da
bude	A:aem	bude
meta	N:f	meta
-	PUNCT	-
giallo	N:f	giallo
.	PUNCT	.
A	CONJ	a
u	PREP	u
izvesnoj	A:aef	izvestan
meri	N:f	mera
može	A:aem	može
da	CONJ	da
bude	A:aem	bude
i	CONJ	i
novi	A:aem	nov
(	PUNCT	(
ultimativni	A:aem	ultimativan
?	PUNCT	?
)	PUNCT	)
giallo	N:f	giallo
.	SENT	.
Ovo	PRO	ovaj
obilje	N:n	obilje
filmske	A:aem	filmski
esejistike	N:f	esejistika
neće	A:aem	neće
uskratiti	N:m	uskratiti
'	A:aem	'
običnom	A:aem	običan
'	A:aem	'
gledaocu	N:m	gledalac
uživanje	N:n	uživanje
u	PREP	u
filmu	N:m	film
,	PUNCT	,
ali	CONJ	ali
će	V:m	će
mu	PRO	on
čitav	A:aem	čitav
sklop	N:m	sklop
ostati	N:m	ostati
nejasniji	A:bem	nejasan
nego	CONJ	nego
nama	PRO	mi
.	PUNCT	.
Imamo	N:m	Imamo
dakle	CONJ	dakle
Gilderoya	N:m	Gilderoya
(	PUNCT	(
snađeni	A:aem	snađeni
Toby	A:aem	Toby
Jones	N:m	Jones
)	PUNCT	)
.	SENT	.
Po	PREP	po
svemu	PRO	sav
što	CONJ	što
smo	N:f	smo
iz	PREP	iz
filma	N:m	film
mogli	V:m	moći
da	CONJ	da
saznamo	N:n	saznamo
on	PRO	on
živi	A:aem	živ
sa	PREP	sa
mamom	N:f	mama
u	PREP	u
Engleskoj	N:f	Engleska
,	PUNCT	,
ima	A:aem	ima
kokoške	N:f	kokoška
i	CONJ	i
malu	A:aef	mali
šupicu	N:f	šupicu
od	PREP	od
koje	PRO	koji
je	PRO	ona
napravio	V:m	napraviti
svoju	PRO	svoj
laboratoriju	N:f	laboratorija
zvuka	N:m	zvuk
.	SENT	.
Gilderoy	N:m	Gilderoy
najčešće	ADV	najčešće
biva	A:aen	biva
angažovan	V:m	angažovati
kao	CONJ	kao
mikser	N:m	mikser
zvuka	N:m	zvuk
u	PREP	u
produkcijama	N:f	produkcija
dečijih	A:aef	dečiji
emisija	N:f	emisija
i	CONJ	i
onih	PRO	onaj
naučno	A:aen	naučni
-	PUNCT	-
popularnih	A:aem	popularan
.	PUNCT	.
Međutim	A:aem	Međutim
,	PUNCT	,
on	PRO	on
je	PRO	ona
toliko	ADV	toliko
dobar	A:aem	dobar
da	CONJ	da
producent	N:m	producent
giallo	A:aen	giallo
filmova	N:m	film
(	PUNCT	(
on	PRO	on
se	PAR	se
,	PUNCT	,
naravno	PAR	naravno
,	PUNCT	,
ne	PAR	ne
referiše	V:m	referiše
tako	ADV	tako
prema	PREP	prema
njima	PRO	ona
i	CONJ	i
čak	PAR	čak
ne	PAR	ne
dopušta	V:m	dopušta
ni	CONJ	ni
reč	N:f	reč
'	A:aem	'
horor	N:m	horor
'	N:m	'
)	PUNCT	)
Santini	N:m	Santini
odlučuje	N:m	odlučuje
da	CONJ	da
ga	PRO	on
angažuje	N:m	angažuje
na	PREP	na
svom	PRO	sav
novom	A:aem	nov
filmu	N:m	film
o	PREP	o
stradanju	N:n	stradanje
veštica	N:f	veštica
i	CONJ	i
njihovoj	PRO	njihov
potonjoj	A:aef	potonji
,	PUNCT	,
krvavoj	A:aef	krvav
osveti	N:f	osveta
.	SENT	.
Zbog	PREP	zbog
toga	PRO	taj
Gilderoy	A:aem	Gilderoy
putuje	N:m	putuje
u	PREP	u
Italiju	N:f	Italija
i	CONJ	i
njegovim	PRO	njegov
dolaskom	N:m	dolazak
počinje	A:aen	počinje
film	N:m	film
.	SENT	.
Berberian	N:m	Berberian
Sound	N:m	Sound
Studio	V:m	studjeti
Petera	N:m	Peter
Stricklanda	N:m	Stricklanda
(	PUNCT	(
čiji	PRO	čiji
debi	N:m	debi
Katalin	N:m	Katalin
Varga	N:m	Varga
traži	A:aem	traži
mesto	N:n	mesto
pod	PREP	pod
mojim	PRO	moj
suncem	N:n	sunce
od	PREP	od
juče	ADV	juče
)	PUNCT	)
možda	PAR	možda
je	PRO	ona
najbolje	ADV	najbolje
opisati	A:aem	opisati
kao	CONJ	kao
audio	PREF	audio
-	PUNCT	-
vizuelnu	A:aef	vizuelan
kulisu	N:f	kulisa
kroz	PREP	kroz
koju	PRO	koji
virimo	N:f	virimo
u	PREP	u
jednu	NUM	jedan
(	PUNCT	(
para	N:f	para
)	PUNCT	)
psihološku	A:aem	psihološki
dramu	N:f	drama
.	SENT	.
Strickland	N:m	Strickland
je	PRO	ona
previše	ADV	previše
pametan	A:aem	pametan
da	CONJ	da
bi	A:aem	bi
nam	PRO	mi
prikazao	V:m	prikazati
i	CONJ	i
kadrić	V:m	kadrić
Santinijevog	A:aem	Santinijev
filma	N:m	film
(	PUNCT	(
vidimo	A:aen	vidimo
samo	CONJ	samo
animiranu	A:aef	animiran
špicu	N:f	špica
za	PREP	za
isti	A:aem	isti
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
zato	ADV	zato
nas	PRO	mi
pušta	V:m	pušta
da	CONJ	da
ga	PRO	on
slušamo	N:f	slušamo
i	CONJ	i
da	CONJ	da
u	PREP	u
svojoj	PRO	svoj
mašti	N:f	mašta
kreiramo	V:m	kreiramo
kako	CONJ	kako
on	PRO	on
izgleda	N:m	izgled
i	CONJ	i
da	CONJ	da
osetimo	N:f	osetimo
više	ADV	više
jeze	N:f	jeza
nego	CONJ	nego
što	PRO	što
bismo	N:f	bismo
da	CONJ	da
ga	PRO	on
gledamo	N:f	gledamo
.	SENT	.
On	PRO	on
svoj	PRO	sav
'	A:aem	'
giallo	N:m	giallo
'	A:aem	'
gradi	N:m	grad
sa	PREP	sa
ove	PRO	ovaj
strane	N:f	strana
realnosti	N:f	realnost
.	SENT	.
Već	N:m	Već
na	PREP	na
prvom	A:aen	prvi
koraku	N:m	korak
Gilderoya	N:m	Gilderoya
sačekuje	N:f	sačekuje
(	PUNCT	(
tipična	A:aef	tipičan
?	PUNCT	?
)	PUNCT	)
arogantna	A:aef	arogantan
neljubaznost	N:f	neljubaznost
Italijana	N:m	Italijan
,	PUNCT	,
koja	PRO	koji
se	PAR	se
potom	ADV	potom
produbljuje	N:m	produbljuje
kroz	PREP	kroz
narcisoidna	A:aen	narcisoidan
ponašanja	N:n	ponašanje
reditelja	N:m	reditelj
,	PUNCT	,
producenta	N:m	producent
i	CONJ	i
njihove	PRO	njihov
rodbine	N:f	rodbina
i	CONJ	i
filmskog	A:aem	filmski
osoblja	N:n	osoblje
koje	PRO	koji
u	PREP	u
njemu	PRO	on
vidi	N:f	vida
uljeza	N:m	uljez
.	SENT	.
Na	PREP	na
taj	PRO	taj
način	N:m	način
Strickland	N:m	Strickland
priprema	N:f	priprema
teren	N:m	teren
unutar	PREP	unutar
koga	PRO	koji
će	N:m	će
se	PAR	se
Gilderoy	A:aem	Gilderoy
osećati	N:m	osećati
izolovano	ADV	izolovano
i	CONJ	i
usamljeno	ADV	usamljeno
,	PUNCT	,
i	CONJ	i
zbog	PREP	zbog
koga	PRO	koji
će	N:m	će
posao	V:m	posati
koji	PRO	koji
je	PRO	ona
došao	V:m	doći
da	CONJ	da
radi	PREP	radi
na	PREP	na
njega	PRO	on
početi	V:m	početi
da	CONJ	da
deluje	N:m	deluje
pogubnije	A:ben	poguban
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
mogao	V:m	moći
da	CONJ	da
zamisli	N:f	zamisao
.	SENT	.
Gilderoy	N:m	Gilderoy
iz	PREP	iz
fabrike	N:f	fabrika
dečijih	A:aef	dečiji
snova	N:m	san
i	CONJ	i
pravljenja	N:n	pravljenje
zvučne	A:aef	zvučan
palete	N:f	paleta
za	PREP	za
engleske	A:aef	engleski
dokumentarce	N:m	dokumentarac
o	PREP	o
njihovim	PRO	njihov
pastoralnim	A:aef	pastoralan
lepotama	N:f	lepota
dolazi	N:m	dolaz
u	PREP	u
svet	N:m	svet
u	PREP	u
kome	PRO	koji
veštice	N:f	veštica
umiru	N:m	umiru
na	PREP	na
najbrutalnije	A:cef	brutalan
načine	N:m	način
(	PUNCT	(
vreo	A:aem	vreo
žarač	N:m	žarač
gura	N:m	gura
im	PRO	ona
se	PAR	se
u	PREP	u
vaginu	N:f	vagina
)	PUNCT	)
,	PUNCT	,
u	PREP	u
kome	PRO	koji
imamo	N:m	imamo
sva	PRO	sav
moguća	A:aen	moguć
ubijanja	N:n	ubijanje
hladnim	A:aef	hladan
oružjem	N:n	oružje
i	CONJ	i
neprekidno	A:aen	neprekidan
smo	N:f	smo
okruženi	A:aem	okružen
šaputanjima	N:n	šaputanje
i	CONJ	i
vriscima	N:m	vrisak
glavnih	A:aef	glavnih
junakinja	N:f	junakinja
.	SENT	.
Prolaz	N:m	prolaz
ka	PREP	ka
paranoji	N:f	paranoja
je	PRO	ona
otvoren	V:m	otvoriti
.	SENT	.
Tome	PRO	taj
naročito	ADV	naročito
pomaže	A:aef	pomaže
klaustrofobija	N:f	klaustrofobija
koju	PRO	koji
je	PRO	ona
Strickland	N:m	Strickland
kreirao	V:m	kreirati
praktično	ADV	praktično
niti	CONJ	niti
jednim	NUM	jedan
jedinim	A:aem	jedini
eksterijerom	N:m	eksterijer
.	SENT	.
Jedan	NUM	jedan
jedini	A:aem	jedini
put	N:m	put
kada	CONJ	kada
se	PAR	se
Gilderoy	N:m	Gilderoy
uželi	V:m	uželi
Engleske	N:f	Engleska
on	PRO	on
pušta	A:aem	pušta
zvuk	N:m	zvuk
svitaca	N:m	svitac
i	CONJ	i
gazi	N:f	gaza
po	PREP	po
lišću	N:n	lišće
u	PREP	u
studiju	N:f	studija
.	PUNCT	.
A	CONJ	a
paralelno	ADV	paralelno
sa	PREP	sa
ovim	PRO	ovaj
elementima	N:m	element
,	PUNCT	,
Gilderoy	A:aem	Gilderoy
postaje	N:f	postaja
svestan	A:aem	svestan
eksploatacije	N:f	eksploatacija
glumica	N:f	glumica
,	PUNCT	,
koje	PRO	koji
su	N:m	su
slično	ADV	slično
likovima	N:m	lik
koje	PRO	koji
igraju	N:f	igraju
u	PREP	u
filmovima	N:m	film
,	PUNCT	,
predmet	N:m	predmet
seksualnog	A:aem	seksualan
iskorišćavanja	N:n	iskorišćavanje
autora	N:m	autor
filma	N:m	film
,	PUNCT	,
koji	PRO	koji
i	CONJ	i
prema	PREP	prema
njima	PRO	ona
i	CONJ	i
njihovom	PRO	njihov
radu	A:aem	rad
imaju	N:f	imaju
nipodaštavajući	A:aem	nipodaštavajući
i	CONJ	i
poprilično	ADV	poprilično
neprijatan	A:aem	neprijatan
odnos	N:m	odnos
.	PUNCT	.
Sedamdesete	A:aef	sedamdeseti
su	PREF	su
to	PRO	taj
.	SENT	.
Svet	A:aem	svet
'	N:m	'
s	PREP	s
ove	PRO	ovaj
strane	N:f	strana
filma	N:m	film
'	N:m	'
koji	PRO	koji
nam	PRO	mi
Strickland	N:m	Strickland
dočarava	A:aen	dočarava
i	CONJ	i
koji	PRO	koji
u	PREP	u
izvesnoj	A:aef	izvestan
meri	N:f	mera
otkriva	A:aem	otkriva
(	PUNCT	(
i	CONJ	i
raskrinkava	A:aem	raskrinkava
)	PUNCT	)
magiju	N:f	magija
giallo	A:aen	giallo
filmova	N:m	film
je	PRO	ona
besprekorno	ADV	besprekorno
dat	V:m	dati
-	PUNCT	-
od	PREP	od
načina	N:m	način
na	PREP	na
koji	PRO	koji
se	PAR	se
postižu	V:m	postižu
određeni	V:m	odrediti
zvuci	N:m	zvuk
(	PUNCT	(
kasapljenjem	N:n	kasapljenje
lubenica	N:f	lubenica
postiže	V:m	postiže
se	PAR	se
zvuk	N:m	zvuk
kasapljenja	N:n	kasapljenje
tela	N:n	telo
)	PUNCT	)
,	PUNCT	,
kako	CONJ	kako
se	PAR	se
odvija	A:bem	odvija
sam	A:aem	sam
proces	N:m	proces
snimanja	N:n	snimanje
zvuka	N:m	zvuk
,	PUNCT	,
do	PREP	do
vizije	N:f	vizija
koju	PRO	koji
autori	N:m	autor
pomalo	ADV	pomalo
nerealno	A:aen	nerealan
imaju	N:f	imaju
o	PREP	o
važnosti	N:f	važnost
svog	PRO	svoj
filma	N:m	film
.	SENT	.
Dodajte	N:m	Dodajte
na	PREP	na
to	PRO	taj
fantastičnu	A:aef	fantastičan
fotografiju	N:f	fotografija
,	PUNCT	,
autentičnu	A:aen	autentičan
scenografiju	N:f	scenografija
i	CONJ	i
efektne	A:aem	efektan
montažne	A:aem	montažni
rezove	N:m	rez
koji	PRO	koji
tretiraju	N:n	tretiraju
radni	A:aem	radni
proces	N:m	proces
kao	CONJ	kao
horor	N:m	horor
film	N:m	film
i	CONJ	i
dobićete	N:m	dobićete
film	N:m	film
kompaktne	A:aef	kompaktan
atmosfere	N:f	atmosfera
koji	PRO	koji
vas	PRO	vi
i	CONJ	i
rukama	N:f	ruka
i	CONJ	i
nogama	N:f	noga
drži	N:m	drži
u	PREP	u
grču	N:m	grč
.	SENT	.
Najveći	A:aen	Najveći
,	PUNCT	,
i	CONJ	i
verovatno	ADV	verovatno
,	PUNCT	,
jedini	A:aem	jedini
problem	N:m	problem
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
scenario	N:m	scenario
.	SENT	.
Dok	CONJ	dok
dve	NUM	dva
trećine	N:f	trećina
filma	N:m	film
pedantno	ADV	pedantno
promiču	V:m	promiču
u	PREP	u
kadrovima	N:m	kadar
ispunjenim	A:aef	ispunjen
detaljima	N:m	detalj
koji	PRO	koji
zatvaraju	N:m	zatvaraju
svet	N:m	svet
oko	PREP	oko
Gilderoya	N:m	Gilderoya
i	CONJ	i
pretenduju	N:m	pretenduju
da	CONJ	da
ga	PRO	on
uguše	N:n	uguše
svojom	PRO	svoj
silinom	N:f	silina
,	PUNCT	,
poslednja	A:aem	poslednji
trećina	N:f	trećina
filma	N:m	film
beži	A:aem	beži
od	PREP	od
svega	PRO	sav
toga	PRO	taj
i	PAR	i
želi	V:m	žeti
da	CONJ	da
se	PAR	se
nametne	A:aem	nametne
kao	CONJ	kao
ključna	A:aem	ključna
za	PREP	za
interpretaciju	N:f	interpretacija
filma	N:m	film
.	SENT	.
(	PUNCT	(
slede	N:m	sled
spojleri	N:m	spojleri
!	PUNCT	!
)	PUNCT	)
Strickland	N:m	Strickland
iz	PREP	iz
svog	PRO	svoj
realistički	A:aem	realistički
vođenog	A:aem	vođen
filma	N:m	film
losthajvejovski	A:aem	losthajvejovski
beži	N:f	beži
u	PREP	u
nešto	PRO	nešto
nalik	N:m	nalik
Lynchu	N:m	Lynchu
,	PUNCT	,
gde	CONJ	gde
odjednom	ADV	odjednom
Gilderoy	A:aem	Gilderoy
postaje	N:f	postaja
junak	N:m	junak
jednog	NUM	jedan
novog	A:aem	nov
giallo	A:aen	giallo
filma	N:m	film
,	PUNCT	,
sve	ADV	sve
sa	PREP	sa
lošim	A:aef	loš
italijanskim	A:aef	italijanski
nahom	N:m	nahom
,	PUNCT	,
a	CONJ	a
tranzicionu	A:aem	tranzicioni
scenu	N:f	scena
predstavlja	N:n	predstavlja
momenat	N:m	moment
u	PREP	u
kome	PRO	koji
svoj	PRO	sav
život	N:m	život
u	PREP	u
studiju	N:f	studija
odjednom	ADV	odjednom
vidi	N:f	vida
na	PREP	na
platnu	N:n	platno
samo	CONJ	samo
kroz	PREP	kroz
prizmu	N:f	prizma
svih	PRO	sav
onih	PRO	onaj
horor	N:m	horor
efekata	N:m	efekt
kojima	PRO	koji
je	PRO	ona
svojim	PRO	svoj
radom	N:m	rad
doprinosio	V:m	doprinositi
.	SENT	.
U	PREP	u
filmu	N:m	film
postoji	N:m	postoji
jedan	NUM	jedan
nejasan	A:aem	nejasan
detalj	N:m	detalj
-	PUNCT	-
kada	CONJ	kada
računovođe	N:f	računovođa
Gilderoy	A:aem	Gilderoy
saopštavaju	N:m	saopštavaju
da	CONJ	da
let	N:m	let
kojim	PRO	koji
je	PRO	ona
on	PRO	on
navodno	ADV	navodno
došao	V:m	doći
ne	PAR	ne
postoji	N:m	postoji
-	PUNCT	-
koji	PRO	koji
otvara	N:m	otvara
put	N:f	put
različitim	A:aef	različit
tumačenjima	N:n	tumačenje
-	PUNCT	-
od	PREP	od
toga	PRO	taj
da	CONJ	da
Gilderoy	A:aem	Gilderoy
već	CONJ	već
stiže	A:aem	stiže
sa	PREP	sa
svojim	PRO	svoj
iluzijama	N:f	iluzija
do	PREP	do
toga	PRO	taj
da	CONJ	da
on	PRO	on
,	PUNCT	,
zapravo	ADV	zapravo
,	PUNCT	,
niotkuda	ADV	niotkuda
nije	V:m	nije
ni	CONJ	ni
došao	V:m	doći
,	PUNCT	,
već	CONJ	već
da	CONJ	da
je	PRO	ona
kao	ADV	kao
i	CONJ	i
čitav	A:aem	čitav
staf	N:m	staf
studija	N:f	studija
i	CONJ	i
on	PRO	on
jedan	NUM	jedan
od	PREP	od
njih	PRO	ona
,	PUNCT	,
tj	ABB	tj
deo	N:m	deo
filma	N:m	film
-	PUNCT	-
samo	PAR	samo
neko	PRO	neki
zabeležen	V:m	zabeležiti
na	PREP	na
traci	N:f	traka
.	SENT	.
Obilje	N:n	obilje
mogućnosti	N:f	mogućnost
,	PUNCT	,
bez	PREP	bez
meni	PRO	ja
jasnog	A:aen	jasan
ključa	N:m	ključ
(	PUNCT	(
anyone	A:aem	anyone
?	PUNCT	?
!	SENT	!
)	PUNCT	)
,	PUNCT	,
stvara	N:m	stvara
konfuziju	N:f	konfuzija
,	PUNCT	,
razbija	N:m	razbija
temeljno	A:aen	temeljan
postavljenu	A:aef	postavljen
atmosferu	N:f	atmosfera
i	CONJ	i
nepotrebno	ADV	nepotrebno
je	PRO	ona
zamenjuje	N:m	zamenjuje
jednom	ADV	jednom
drugom	A:aef	drugi
.	SENT	.
Giallo	N:f	Giallo
koji	PRO	koji
guta	N:m	gut
realnost	N:f	realnost
svakako	ADV	svakako
je	PRO	ona
najveći	A:cem	velik
kompliment	N:m	kompliment
samom	PRO	sam
žanru	N:m	žanr
,	PUNCT	,
koji	PRO	koji
ovaj	PRO	ovaj
film	N:m	film
pravi	A:aem	prav
,	PUNCT	,
i	CONJ	i
ponuđena	A:aef	ponuđen
misterija	N:f	misterija
koja	PRO	koji
time	PRO	taj
nastaje	N:m	nastaje
svakako	ADV	svakako
i	CONJ	i
sam	A:aem	sam
Berberian	N:m	Berberian
Sound	N:m	Sound
Studio	V:m	studjeti
žanrovski	A:aem	žanrovski
profiliše	N:m	profiliše
kao	CONJ	kao
giallo	N:f	giallo
,	PUNCT	,
ali	CONJ	ali
kao	CONJ	kao
što	CONJ	što
rekoh	N:m	rekoh
na	PREP	na
uštrb	N:m	uštrb
suptilnosti	N:f	suptilnost
i	CONJ	i
jasnoće	N:f	jasnoća
.	SENT	.
