Nije	N:m	Nije
nezanimljivo	A:aen	nezanimljiv
Mislim	A:aem	Mislim
da	CONJ	da
sam	A:aem	sam
Sokurovljev	A:aem	Sokurovljev
Majka	N:m	Majk
i	CONJ	i
sin	N:m	sin
gledao	V:m	gledati
na	PREP	na
prvom	A:aen	prvi
Festivalu	N:n	Festivalu
autorskog	A:aen	autorski
filma	N:m	film
na	PREP	na
koji	PRO	koji
sam	PRO	sam
otišao	V:m	otići
,	PUNCT	,
'	N:m	'
u	PREP	u
prepunoj	A:aef	prepun
sali	N:f	sala
DKC	N:m	DKC
-	PUNCT	-
a	CONJ	a
'	N:m	'
.	PUNCT	.
Ceo	A:aem	ceo
film	N:m	film
,	PUNCT	,
ako	CONJ	ako
me	PRO	ja
sećanje	N:n	sećanje
ne	PAR	ne
vara	N:m	var
,	PUNCT	,
sin	N:m	sin
tegli	N:f	tegla
majku	N:f	majka
na	PREP	na
grbači	N:f	grbača
,	PUNCT	,
bukvalno	ADV	bukvalno
,	PUNCT	,
preko	PREP	preko
nekih	PRO	neki
njiva	N:f	njiva
,	PUNCT	,
a	CONJ	a
Sokurov	A:aem	Sokurov
sve	PRO	sav
to	PRO	taj
slika	N:f	slika
kao	CONJ	kao
da	CONJ	da
slika	N:f	slika
po	PREP	po
filmskoj	A:aef	filmski
traci	N:f	traka
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
da	CONJ	da
propušta	A:aen	propušta
svetlost	N:f	svetlost
na	PREP	na
istu	A:aem	isti
.	SENT	.
Bio	V:m	biti
sam	PRO	sam
besan	A:aem	besan
kao	CONJ	kao
ris	N:m	ris
posle	PREP	posle
projekcije	N:f	projekcija
.	SENT	.
Kasnije	ADV	kasnije
sam	PRO	sam
pogledao	V:m	pogledati
i	CONJ	i
njegov	PRO	njegov
Moloch	A:aem	Moloch
i	CONJ	i
Russian	N:m	Russian
Ark	N:m	Ark
,	PUNCT	,
mislim	A:aem	mislim
,	PUNCT	,
ali	CONJ	ali
mi	PRO	ja
je	PRO	ona
on	PRO	on
ostao	V:m	ostati
kao	CONJ	kao
simbol	N:m	simbol
za	PREP	za
nešto	PRO	nešto
'	N:m	'
toliko	ADV	toliko
festivalski	A:aem	festivalski
da	CONJ	da
je	PRO	ona
to	PRO	taj
skoro	ADV	skoro
nepodnošljivo	ADV	nepodnošljivo
'	A:aem	'
.	SENT	.
'	A:aem	'
Fausta	N:m	Faust
'	N:m	'
se	PAR	se
sećam	N:n	sećam
iz	PREP	iz
srednje	A:aem	srednji
škole	N:f	škola
,	PUNCT	,
i	CONJ	i
ne	PAR	ne
toliko	ADV	toliko
rado	ADV	rado
.	SENT	.
Geteovi	A:aem	Geteov
stihovi	N:m	stih
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
i	CONJ	i
stihovi	N:m	stih
većine	N:f	većina
romantičara	N:m	romantičar
,	PUNCT	,
uvek	ADV	uvek
su	N:m	su
bili	V:m	biti
pretežak	A:aem	pretežak
zalogaj	N:m	zalogaj
za	PREP	za
moju	PRO	moj
koncentraciju	N:f	koncentracija
.	PUNCT	.
I	CONJ	i
previše	ADV	previše
kitnjasti	A:aem	kitnjast
.	SENT	.
Neko	PRO	neki
daleko	ADV	daleko
obrazovaniji	A:bem	obrazovan
od	PREP	od
mene	PRO	ja
bi	N:m	bi
trebalo	V:n	trebati
da	CONJ	da
gleda	N:m	gleda
ovaj	PRO	ovaj
film	N:m	film
i	CONJ	i
potom	ADV	potom
se	PAR	se
(	PUNCT	(
kompetentnije	A:ben	kompetentan
od	PREP	od
mene	PRO	ja
)	PUNCT	)
obrati	N:m	obrat
javnosti	N:f	javnost
.	SENT	.
Ja	PRO	ja
mogu	N:m	Mog
samo	PAR	samo
da	CONJ	da
kažem	A:aen	kažem
:	PUNCT	:
da	CONJ	da
mi	PRO	ja
nije	N:m	nije
bilo	V:n	biti
dosadno	ADV	dosadno
.	SENT	.
Skoro	ADV	skoro
ni	PAR	ni
malo	ADV	malo
.	PUNCT	.
da	CONJ	da
Sokurov	A:aem	Sokurov
svog	PRO	svoj
Fausta	N:m	Faust
i	CONJ	i
svog	PRO	svoj
Fausta	N:m	Faust
tretira	N:m	tretira
u	PREP	u
kontekstu	N:m	kontekst
vremena	N:n	vreme
u	PREP	u
kojima	PRO	koji
je	PRO	ona
ovaj	PRO	ovaj
živeo	V:m	živeti
,	PUNCT	,
više	ADV	više
nego	CONJ	nego
Gete	N:m	Gete
(	PUNCT	(
to	PRO	taj
treba	N:f	treba
proveriti	N:m	proveriti
)	PUNCT	)
.	SENT	.
Mesto	N:n	mesto
u	PREP	u
kome	PRO	koji
Faust	N:m	Faust
živi	A:aem	živ
i	CONJ	i
bavi	A:aen	bavi
se	PAR	se
medicinom	N:f	medicina
(	PUNCT	(
i	CONJ	i
kao	CONJ	kao
lekar	N:m	lekar
i	CONJ	i
kao	CONJ	kao
naučnik	N:m	naučnik
)	PUNCT	)
leglo	V:n	leći
je	PRO	ona
urbanih	A:aen	urbani
primitivnih	A:aen	primitivan
vremena	N:n	vreme
u	PREP	u
kojima	PRO	koji
su	N:m	su
ljudi	N:m	ljudi
šorali	V:m	šorati
po	PREP	po
ulicama	N:f	ulica
,	PUNCT	,
tukli	V:m	tući
se	PAR	se
po	PREP	po
iole	ADV	iole
mrklijim	A:bem	mrklijim
sokacima	N:m	sokak
i	CONJ	i
gledali	V:m	gledati
na	PREP	na
život	N:m	život
kao	CONJ	kao
na	PREP	na
vreme	N:n	vreme
dato	V:n	dati
da	CONJ	da
se	PAR	se
zadovolje	A:aem	zadovolje
najbanalnije	A:cef	banalan
(	PUNCT	(
pre	PREP	pre
nego	CONJ	nego
najbazičnije	A:cen	najbazičnije
)	PUNCT	)
ljudske	A:aef	ljudski
potrebe	N:f	potreba
.	SENT	.
U	PREP	u
takvim	PRO	takav
vremenim	A:aef	vremen
naš	PRO	naš
Faust	N:m	Faust
s	PREP	s
pravom	N:n	pravo
se	PAR	se
oseća	V:m	oseća
kao	CONJ	kao
neko	PRO	neki
ko	PRO	ko
tu	PRO	taj
ne	PAR	ne
pripada	N:m	pripada
i	CONJ	i
ko	PRO	ko
oseća	A:aem	oseća
neprekidnu	A:aef	neprekidan
mešavinu	N:f	mešavina
gađenja	N:n	gađenje
i	CONJ	i
nemoći	N:f	nemoća
spram	PREP	spram
stvari	N:f	stvar
i	CONJ	i
ljudi	N:m	ljudi
oko	PREP	oko
sebe	PRO	sebe
.	SENT	.
U	PREP	u
takvim	PRO	takav
vremenima	N:n	vreme
đavo	N:m	đavo
je	PRO	ona
odomaćeni	A:aem	odomaćen
starčić	N:m	starčić
koji	PRO	koji
živi	A:aem	živ
sa	PREP	sa
svojim	PRO	svoj
meštanima	N:m	meštanin
,	PUNCT	,
baveći	V:m	baveći
se	PAR	se
poslom	N:m	posao
lokalnog	A:aem	lokalan
zajmodavca	N:m	zajmodavac
.	SENT	.
Znajući	N:m	Znajući
s	PREP	s
kim	PRO	ko
ima	A:aem	ima
posla	N:m	posao
Faust	N:m	Faust
,	PUNCT	,
kod	PREP	kod
Sukurova	N:m	Sukurova
(	PUNCT	(
a	CONJ	a
možda	PAR	možda
i	CONJ	i
kod	PREP	kod
Getea	N:m	Gete
,	PUNCT	,
ali	CONJ	ali
mislim	A:aem	mislim
da	CONJ	da
ne	PAR	ne
)	PUNCT	)
,	PUNCT	,
vrlo	ADV	vrlo
brzo	ADV	brzo
gubi	N:f	guba
interesovanje	N:n	interesovanje
za	PREP	za
eventualne	A:aem	eventualan
'	N:m	'
human	A:aem	human
(	PUNCT	(
itarn	A:aem	itarn
)	PUNCT	)
e	CONJ	e
'	A:aem	'
moći	N:f	moć
koje	PRO	koji
bi	N:m	bi
mu	PRO	on
đavo	N:m	đavo
mogao	V:m	moći
dati	V:m	dati
u	PREP	u
zamenu	N:f	zamena
za	PREP	za
dušu	N:f	duša
,	PUNCT	,
već	CONJ	već
svu	PRO	sav
pažnju	N:f	pažnja
sladostrasno	ADV	sladostrasno
fokusira	N:m	fokusira
na	PREP	na
pridobijanje	N:n	pridobijanje
mlade	A:aef	mlad
Margarite	N:f	Margarita
čijeg	PRO	čiji
je	PRO	ona
brata	N:m	brata
ubio	V:m	ubiti
(	PUNCT	(
to	PRO	taj
mi	PRO	ja
nije	N:m	nije
bilo	V:n	biti
baš	PAR	baš
jasno	ADV	jasno
kako	ADV	kako
-	PUNCT	-
da	CONJ	da
li	PAR	li
u	PREP	u
ratu	N:f	rata
,	PUNCT	,
nekom	PRO	neki
ranijem	A:aen	raniji
sukobu	N:m	sukob
ili	CONJ	ili
namenskom	A:aem	namenski
susretu	N:m	susret
da	CONJ	da
bi	N:m	bi
stigao	V:m	stignuti
do	PREP	do
sestre	N:f	sestra
)	PUNCT	)
.	SENT	.
Scenografija	N:f	scenografija
je	PRO	ona
odlična	A:aen	odličan
,	PUNCT	,
naročito	ADV	naročito
đavoljeg	A:aem	đavolji
brloga	N:m	brlog
i	CONJ	i
'	N:m	'
hladnog	A:aem	hladan
pakla	N:n	paklo
'	N:m	'
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
dinamika	N:f	dinamika
Fausta	N:m	Faust
i	CONJ	i
đavola	N:m	đavo
kreće	V:m	kreće
se	PAR	se
od	PREP	od
komične	A:aem	komičan
do	PREP	do
dramskog	A:aem	dramski
horora	N:m	horor
i	CONJ	i
jasno	ADV	jasno
je	PRO	ona
ko	PRO	ko
je	PRO	ona
tu	ADV	tu
zapravo	ADV	zapravo
đavo	N:m	đavo
tj	ABB	tj
Sokurov	A:aem	Sokurov
dosta	ADV	dosta
vešto	ADV	vešto
pokazuje	N:m	pokazuje
ko	PRO	ko
je	PRO	ona
trijumfovao	V:m	trijumfovati
u	PREP	u
'	N:m	'
đavolstvu	N:n	đavolstvo
'	N:m	'
.	PUNCT	.
Ne	PAR	ne
bih	A:aen	bih
znao	V:m	znati
ništa	ADV	ništa
više	ADV	više
.	SENT	.
