Krajem	PREP	krajem
20	NUM	@card@
.	PUNCT	.
veka	N:m	vek
u	PREP	u
francuskoj	A:aef	francuski
se	PAR	se
razvio	V:m	razviti
talas	N:m	talas
tzv	ABB	tzv
.	SENT	.
novog	A:aem	nov
francuskog	A:aem	francuski
ekstremizma	N:m	ekstremizam
(	PUNCT	(
New	A:aem	New
French	A:aem	French
Extremity	N:m	Extremity
)	PUNCT	)
čiji	PRO	čiji
filmovi	N:m	film
obiluju	N:m	obiluju
eksplicitnim	A:aem	eksplicitan
scenama	N:f	scena
nasilja	N:n	nasilje
i	CONJ	i
golotinje	N:f	golotinja
.	SENT	.
Karakteristični	A:aem	Karakteristični
žanrovi	N:m	žanr
su	N:m	su
sleš	A:aem	sleš
i	CONJ	i
„	A:aem	„
ravenge	N:m	ravenge
“	A:aem	“
horori	N:m	horor
,	PUNCT	,
a	CONJ	a
među	PREP	među
popularnijim	A:bef	popularan
od	PREP	od
tih	PRO	taj
filmova	N:m	film
je	PRO	ona
ovaj	PRO	ovaj
projekat	N:m	projekt
talentovanog	A:aem	talentovan
francsuckog	A:aem	francsuckog
režisera	N:m	režiser
Ksaviera	N:m	Ksaviera
Žensa	N:m	Žensa
.	SENT	.
Početak	N:m	Početak
filma	N:m	film
je	PRO	ona
smešten	V:m	smestiti
u	PREP	u
Pariz	N:m	Pariz
pred	PREP	pred
održavanje	N:n	održavanje
političkih	A:aef	politički
izbora	N:m	izbor
.	SENT	.
Bitku	N:f	Bitka
za	PREP	za
prevlast	N:f	prevlast
vode	N:f	voda
dve	NUM	dva
stranke	N:f	stranka
što	CONJ	što
izaziva	A:aen	izaziva
velike	A:aem	velik
ulične	A:aef	ulični
nerede	N:m	nered
.	SENT	.
Banda	N:m	Banda
sitnih	A:aem	sitan
lopova	N:m	lopov
koristi	N:f	korist
svu	PRO	sav
tu	PRO	taj
gužvu	N:f	gužva
kako	CONJ	kako
bi	N:f	bi
izvršila	V:f	izvršiti
pljačku	N:f	pljačka
.	SENT	.
Međutim	A:aem	Međutim
pljačka	N:f	pljačka
kreće	A:aem	kreće
u	PREP	u
lošem	A:aen	loš
smeru	N:m	smer
,	PUNCT	,
jedan	NUM	jedan
član	N:m	član
bande	N:f	banda
biva	A:aem	biva
ranjen	V:m	raniti
,	PUNCT	,
a	CONJ	a
ostali	V:m	ostati
se	PAR	se
dele	N:m	deo
u	PREP	u
parove	N:m	par
i	CONJ	i
kreću	A:aem	kreću
prema	PREP	prema
granici	N:f	granica
sa	PREP	sa
Švajcarskom	N:f	Švajcarska
.	SENT	.
Tamo	ADV	tamo
se	PAR	se
privremeno	ADV	privremeno
smeštaju	N:m	smeštaj
u	PREP	u
zabačeni	A:aem	zabačen
hostel	N:m	hostel
koji	PRO	koji
je	PRO	ona
smešten	V:m	smestiti
duboko	ADV	duboko
u	PREP	u
šumi	N:f	šuma
,	PUNCT	,
u	PREP	u
staroj	A:aef	star
industrijskoj	A:aef	industrijski
zoni	N:f	zona
,	PUNCT	,
koji	PRO	koji
drže	A:aem	drže
degenerativni	A:aem	degenerativan
naci	N:m	naci
-	PUNCT	-
kanibali	N:m	kanibal
sa	PREP	sa
posebnim	A:aef	poseban
planovima	N:m	plan
za	PREP	za
svoje	PRO	svoj
posetioce	N:m	posetilac
.	SENT	.
Uskoro	ADV	uskoro
se	PAR	se
hostel	N:m	hostel
pretvara	N:f	pretvara
u	PREP	u
opasnu	A:aef	opasan
i	CONJ	i
smrtonosnu	A:aef	smrtonosan
zamku	N:f	zamka
smrti	N:f	smrt
iz	PREP	iz
koje	PRO	koji
se	PAR	se
čini	N:f	čini
da	CONJ	da
nema	A:aem	nem
izlaza	N:m	izlaz
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
po	PREP	po
mišljenju	N:n	mišljenje
većine	N:f	većina
jedan	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
francuskih	A:aen	francuski
horora	N:m	horor
ikada	ADV	ikada
.	PUNCT	.
Iako	CONJ	iako
se	PAR	se
na	PREP	na
prvi	A:aem	prvi
pogled	N:m	pogled
čini	N:f	čini
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
samo	PAR	samo
još	ADV	još
jedan	NUM	jedan
ekstremno	ADV	ekstremno
brutalni	A:aem	brutalan
i	CONJ	i
krvavi	A:aem	krvav
horor	N:m	horor
on	PRO	on
iza	PREP	iza
te	PRO	taj
akcentovane	V:f	akcentovati
i	CONJ	i
relativno	ADV	relativno
prenaglašene	V:f	prenaglasiti
brutalnosti	N:f	brutalnost
krije	N:m	krije
dublju	A:bef	dubok
suštinu	N:f	suština
i	CONJ	i
poruku	N:f	poruka
filma	N:m	film
.	SENT	.
Režiser	N:m	Režiser
je	PRO	ona
ujedno	ADV	ujedno
bio	V:m	biti
i	CONJ	i
scenarista	N:m	scenarista
filma	N:m	film
.	SENT	.
Ovaj	PRO	ovaj
jako	ADV	jako
talentovani	A:aem	talentovan
filmski	A:aem	filmski
radnik	N:m	radnik
predstavlja	N:n	predstavlja
novu	A:aen	nov
nadu	N:f	nada
francuske	A:aef	francuski
kinematografije	N:f	kinematografija
.	SENT	.
U	PREP	u
filmu	N:m	film
ima	N:f	ima
nekoliko	ADV	nekoliko
slobodno	ADV	slobodno
se	PAR	se
može	A:aem	može
reći	N:m	reći
zanimljivih	A:aef	zanimljiv
i	CONJ	i
kreativnih	A:aem	kreativan
scena	N:f	scena
sakaćenja	N:n	sakaćenje
i	CONJ	i
ubijanja	N:n	ubijanje
koje	PRO	koji
nisu	N:m	nisu
tipične	A:aef	tipičan
i	CONJ	i
klasične	A:aem	klasičan
kao	CONJ	kao
u	PREP	u
ostalim	A:aem	ostalim
filmovima	N:m	film
ovog	PRO	ovaj
žanra	N:m	žanr
.	SENT	.
Vizuelno	A:aen	vizuelan
je	PRO	ona
odrađen	V:m	odraditi
solidno	ADV	solidno
sa	PREP	sa
odličnim	A:aef	odličan
specijalnim	A:aem	specijalan
efektima	N:m	efekt
.	SENT	.
Kritičari	N:m	Kritičari
zameraju	N:m	zameraju
već	PAR	već
dovoljno	ADV	dovoljno
istrošen	V:m	istrošiti
kliše	N:m	kliše
u	PREP	u
kome	PRO	koji
se	PAR	se
glavna	A:aem	glavna
junakinja	N:f	junakinja
suprotstavlja	N:n	suprotstavlja
svima	PRO	sav
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
poprilično	ADV	poprilično
nerealne	A:aef	nerealan
i	CONJ	i
prenaglašene	A:aem	prenaglašen
scene	N:f	scena
borbe	N:f	borba
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
glume	N:f	gluma
,	PUNCT	,
ona	PRO	ona
nije	N:f	nije
na	PREP	na
nekom	PRO	neki
vrhunskom	A:aen	vrhunski
nivou	N:m	nivo
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
kvalitetnija	A:ben	kvalitetan
od	PREP	od
prosečnih	A:aef	prosečan
uloga	N:f	uloga
u	PREP	u
niskobudžetnim	A:aem	niskobudžetni
hororima	N:m	horor
.	SENT	.
Uloge	N:f	uloga
su	N:m	su
poverene	V:f	poveriti
relativno	ADV	relativno
nepoznatim	A:aef	nepoznat
glumcima	N:m	glumac
,	PUNCT	,
među	PREP	među
kojima	PRO	koji
se	PAR	se
ističe	A:aem	ističe
mlada	A:aef	mlad
Karina	A:aef	Karin
Testa	N:m	test
(	PUNCT	(
Karina	A:aem	Karin
Testa	N:m	test
)	PUNCT	)
koja	PRO	koji
,	PUNCT	,
slobodno	ADV	slobodno
možemo	A:aen	možemo
reći	N:n	reći
,	PUNCT	,
iznosi	N:m	iznos
ceo	A:aem	ceo
film	N:m	film
.	SENT	.
Ako	CONJ	ako
se	PAR	se
malo	ADV	malo
dublje	ADV	dublje
pogleda	N:m	pogled
,	PUNCT	,
primećuje	N:m	primećuje
se	PAR	se
da	CONJ	da
u	PREP	u
filmu	N:m	film
ništa	PRO	ništa
nije	N:f	nije
slučajno	ADV	slučajno
i	CONJ	i
da	CONJ	da
je	PRO	ona
prilično	ADV	prilično
dubok	A:aem	dubok
i	CONJ	i
intenzivan	A:aem	intenzivan
.	SENT	.
Najbolje	ADV	najbolje
se	PAR	se
primećuje	N:m	primećuje
u	PREP	u
naci	N:m	naci
porodici	N:f	porodica
,	PUNCT	,
tj	ABB	tj
.	PUNCT	.
odnosu	N:m	odnos
između	PREP	između
Francuza	N:m	Francuz
i	CONJ	i
Nemaca	N:m	Nemac
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
u	PREP	u
neredima	N:m	nered
na	PREP	na
početku	N:m	početak
filma	N:m	film
.	SENT	.
Film	N:m	film
šalje	N:m	šalje
jasnu	A:aem	jasan
političku	A:aef	politički
poruku	N:f	poruka
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
da	CONJ	da
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
krajeva	N:m	kraj
,	PUNCT	,
vlada	N:f	vlada
radi	PREP	radi
svome	PRO	svoj
narodu	N:m	narod
i	CONJ	i
sto	N:m	sto
što	CONJ	što
i	CONJ	i
kanibali	N:m	kanibal
u	PREP	u
onom	PRO	onaj
hostelu	N:m	hostel
,	PUNCT	,
u	PREP	u
prenesenom	A:aen	prenesen
značenju	N:n	značenje
.	SENT	.
Kada	CONJ	kada
se	PAR	se
sagledaju	N:f	sagledaju
svi	PRO	sav
aspekti	N:m	aspekt
ocena	N:f	ocena
ovog	PRO	ovaj
filma	N:m	film
neće	A:aem	neće
preći	A:aef	preći
sedmicu	N:f	sedmica
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
u	PREP	u
svom	PRO	sav
žanru	N:m	žanr
pri	PREP	pri
vrhu	N:m	vrh
i	CONJ	i
najtoplija	A:cef	topao
preporuka	N:f	preporuka
ljubiteljima	N:m	ljubitelj
horora	N:m	horor
.	SENT	.
