Iz	PREP	iz
oka	N:n	oko
Miloša	N:m	Miloš
Formana	N:m	Forman
i	CONJ	i
scenarija	N:m	scenario
Jean	N:m	Jean
-	PUNCT	-
Claude	N:m	Claude
Carrière	N:m	Carrière
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
imamo	N:m	imamo
priliku	N:f	prilika
da	CONJ	da
vidimo	A:aen	vidimo
Franciska	N:f	Franciska
Goju	N:m	Goja
kao	CONJ	kao
svedoka	N:m	svedok
raznih	A:aen	raznih
zlodela	N:n	zlodelo
španske	A:aef	španski
brutalne	A:aef	brutalan
,	PUNCT	,
sadističke	A:aef	sadistički
,	PUNCT	,
perverzne	A:aef	perverzan
,	PUNCT	,
tiranijske	A:aef	tiranijske
i	CONJ	i
ugnjetavajuće	A:aem	ugnjetavajuće
svete	A:aef	svet
inkvizicije	N:f	inkvizicija
.	SENT	.
Goja	N:m	Goja
(	PUNCT	(
Stellan	A:aem	Stellan
Skarsgård	N:m	Skarsgård
)	PUNCT	)
i	CONJ	i
njegova	PRO	njegov
muza	N:f	muza
Ines	N:f	Ines
(	PUNCT	(
Natalie	N:f	Natalie
Portman	N:m	Portman
)	PUNCT	)
,	PUNCT	,
prema	PREP	prema
svetoj	A:aef	svet
inkviziciji	N:f	inkvizicija
ispašće	A:aem	ispašće
nevernici	N:m	nevernik
prve	A:aem	prvi
klase	N:f	klasa
,	PUNCT	,
Goja	N:m	Goja
zbog	PREP	zbog
svojih	PRO	svoj
“	N:m	“
zlih	A:aef	zao
”	A:aem	”
slika	N:f	slika
,	PUNCT	,
a	CONJ	a
Ines	N:f	Ines
će	A:aem	će
ćorkirati	N:m	ćorkirati
jer	CONJ	jer
nije	N:f	nije
htela	V:f	hteti
da	CONJ	da
jede	N:m	jed
ono	PRO	onaj
sto	NUM	sto
nutricionisti	N:m	nutricionista
španske	A:aef	španski
inkvizicije	N:f	inkvizicija
preporučuju	N:f	preporučuju
.	SENT	.
Eh	INT	eh
,	PUNCT	,
Natali	N:f	Natali
,	PUNCT	,
Natali	N:f	Natali
,	PUNCT	,
da	CONJ	da
si	PRO	sebe
samo	PAR	samo
htela	V:f	hteti
svinjetinu	N:f	svinjetina
da	CONJ	da
jedeš	N:n	jedeš
,	PUNCT	,
ko	PRO	ko
zna	N:f	zna
dokle	CONJ	dokle
biste	N:f	bista
stari	A:aem	star
Goja	N:m	Goja
i	CONJ	i
ti	PRO	taj
dogurali	V:m	dogurati
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
da	CONJ	da
njegova	PRO	njegov
muza	N:f	muza
ti	PRO	taj
si	PRO	sebe
bila	V:f	biti
.	PUNCT	.
A	CONJ	a
u	PREP	u
drugom	A:aef	drugi
uglu	N:m	ugao
,	PUNCT	,
predvodnik	N:m	predvodnik
svete	A:aef	svet
inkvizicije	N:f	inkvizicija
,	PUNCT	,
večiti	A:aem	večit
licimer	N:m	licimer
i	CONJ	i
nikad	ADV	nikad
gori	N:f	gora
čovek	N:m	čovek
,	PUNCT	,
kojeg	PRO	koji
ćete	N:m	ćete
svi	PRO	sav
mrzeti	N:f	mrzeti
,	PUNCT	,
bar	PAR	bar
dok	CONJ	dok
se	PAR	se
ne	PAR	ne
završi	A:aem	završi
film	N:m	film
je	PRO	ona
tip	N:m	tip
kojeg	PRO	koji
se	PAR	se
sigurno	ADV	sigurno
sećate	V:m	sećate
iz	PREP	iz
“	N:m	“
No	A:aem	No
country	A:aem	country
for	N:m	for
old	A:aem	old
men	A:aem	men
“	N:m	“
on	PRO	on
je	PRO	ona
onaj	PRO	onaj
ćutljivi	A:aem	ćutljiv
,	PUNCT	,
opičeni	A:aem	opičen
psihokiler	N:m	psihokiler
,	PUNCT	,
ako	CONJ	ako
se	PAR	se
njega	PRO	on
ne	PAR	ne
sećate	V:f	sećate
,	PUNCT	,
sigurno	ADV	sigurno
se	PAR	se
sećate	V:n	sećate
njegove	PRO	njegov
svemoguće	A:aem	svemoguć
“	N:m	“
plinske	A:aef	plinski
boce	N:f	boca
“	N:m	“
,	PUNCT	,
koja	PRO	koji
ubija	N:n	ubija
,	PUNCT	,
brave	N:f	brava
obija	N:m	obija
,	PUNCT	,
lobanje	N:f	lobanja
probija	N:m	probija
,	PUNCT	,
a	CONJ	a
gume	N:f	guma
pumpa	N:f	pumpa
,	PUNCT	,
moćna	A:aef	moćan
stvar	N:f	stvar
,	PUNCT	,
nema	A:aem	nem
šta	ADV	šta
.	SENT	.
E	CONJ	e
,	PUNCT	,
sad	ADV	sad
znate	V:f	znati
o	PREP	o
kome	PRO	koji
se	PAR	se
radi	PREP	radi
,	PUNCT	,
njegovo	PRO	njegov
ime	N:n	ime
je	PRO	ona
Javier	N:m	Javier
Bardem	N:m	Bardem
,	PUNCT	,
u	PREP	u
slobodno	A:aen	slobodan
vreme	N:n	vreme
pravi	A:aem	prav
plinske	A:aef	plinski
boce	N:f	boca
,	PUNCT	,
inače	PAR	inače
je	PRO	ona
poznat	A:aem	poznat
španski	A:aem	španski
glumac	N:m	glumac
i	CONJ	i
ulogu	N:f	uloga
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
je	PRO	ona
vrlo	ADV	vrlo
dobro	ADV	dobro
podneo	V:m	podneti
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
kazem	N:m	kazem
izneo	V:m	izneti
,	PUNCT	,
mada	CONJ	mada
ako	CONJ	ako
je	PRO	ona
inkvizitor	N:m	inkvizitor
u	PREP	u
privatnom	A:aen	privatan
životu	N:m	život
,	PUNCT	,
onda	CONJ	onda
mu	PRO	on
to	PRO	taj
i	CONJ	i
nije	A:aem	nije
tako	ADV	tako
teško	ADV	teško
palo	V:n	pasti
.	PUNCT	.
Napomenuo	V:m	napomenuti
bih	A:aem	bih
da	CONJ	da
film	N:m	film
nije	V:m	nije
fokusiran	V:m	fokusirati
na	PREP	na
Gojin	A:aem	Gojin
rad	N:m	rad
,	PUNCT	,
kao	CONJ	kao
ni	PAR	ni
na	PREP	na
dogadjaje	N:m	dogadjaje
iz	PREP	iz
tog	PRO	taj
perioda	N:m	period
,	PUNCT	,
ali	CONJ	ali
ipak	PAR	ipak
prate	A:aef	prate
priču	N:f	priča
.	PUNCT	.
Pa	CONJ	pa
tako	ADV	tako
negde	ADV	negde
u	PREP	u
pozadini	N:f	pozadina
,	PUNCT	,
po	PREP	po
strani	N:f	strana
,	PUNCT	,
vidimo	A:aen	vidimo
neke	PRO	neki
od	PREP	od
Gojinih	A:aem	Gojin
radova	N:m	rad
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
Napoleonove	A:aem	Napoleonov
ratove	N:m	rat
iliti	CONJ	iliti
bar	PAR	bar
ono	PRO	onaj
što	CONJ	što
je	PRO	ona
ostalo	V:n	ostati
od	PREP	od
njih	PRO	ona
.	SENT	.
Ljudima	N:m	ljudi
kojima	PRO	koji
se	PAR	se
ne	PAR	ne
svidi	V:n	svidi
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
uputio	V:m	uputiti
bih	A:aem	bih
im	PRO	ona
ovim	PRO	ovaj
putem	PREP	putem
reči	N:f	reč
španske	A:aef	španski
inkvizicije	N:f	inkvizicija
:	SENT	:
Neka	PRO	neki
su	N:m	su
prokleti	V:m	prokleti
ma	PAR	ma
gde	ADV	gde
bili	V:m	biti
,	PUNCT	,
u	PREP	u
gradu	N:m	grad
ili	CONJ	ili
na	PREP	na
selu	N:n	selo
,	PUNCT	,
pri	PREP	pri
jelu	N:n	jelo
ili	CONJ	ili
pri	PREP	pri
piću	N:n	piće
,	PUNCT	,
budni	A:aem	budan
ili	CONJ	ili
u	PREP	u
snu	N:m	san
,	PUNCT	,
živi	A:aem	živ
ili	CONJ	ili
mrtvi	A:aem	mrtav
.	SENT	.
Iks	N:m	iks
de	INT	de
…	SENT	…
Naravno	A:aen	naravan
,	PUNCT	,
ovo	PRO	ovaj
je	PRO	ona
šala	N:f	šala
,	PUNCT	,
za	PREP	za
nekog	PRO	neki
posoljena	V:f	posoliti
,	PUNCT	,
za	PREP	za
nekog	PRO	neki
ne	PAR	ne
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
eto	PAR	eto
,	PUNCT	,
to	PRO	taj
je	PRO	ona
još	ADV	još
jedan	NUM	jedan
razlog	N:m	razlog
da	CONJ	da
film	N:m	film
pogledate	N:m	pogledate
i	CONJ	i
shvatite	N:m	shvatite
koliko	ADV	koliko
je	PRO	ona
to	PRO	taj
u	PREP	u
stvari	N:f	stvar
svirepo	A:aen	svirep
i	CONJ	i
okrutno	ADV	okrutno
bilo	V:n	biti
.	PUNCT	.
I	CONJ	i
deco	N:f	deca
,	PUNCT	,
zapamtite	A:aem	zapamtite
:	PUNCT	:
Svi	PRO	sav
smo	N:f	smo
mi	PRO	ja
jednaki	A:aem	jednak
,	PUNCT	,
samo	PAR	samo
su	N:m	su
neki	PRO	neki
malo	ADV	malo
jednakiji	A:bem	jednakiji
od	PREP	od
drugih	A:aen	drugi
.	SENT	.
