Onom	PRO	onaj
ko	PRO	ko
je	PRO	ona
gledao	V:m	gledati
odlični	A:aem	odličan
film	N:m	film
Sleepers	N:m	Sleepers
(	PUNCT	(
kod	PREP	kod
nas	PRO	mi
talentovano	A:aen	talentovan
preveden	V:m	prevesti
kao	ADV	kao
Osvetnici	N:f	Osvetnici
)	PUNCT	)
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
će	A:aem	će
biti	N:f	bit
nešto	ADV	nešto
najsličnije	A:cen	sličan
tom	PRO	taj
ostvarenju	N:n	ostvarenje
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
kvaliteta	N:m	kvalitet
,	PUNCT	,
meni	PRO	ja
je	PRO	ona
King	N:m	King
of	N:m	of
the	N:m	the
Devil	N:m	Devil
'	A:aem	'
s	PREP	s
Island	N:m	Island
za	PREP	za
nijansu	N:f	nijansa
bolji	A:bem	dobar
.	PUNCT	.
Evo	PAR	evo
i	CONJ	i
razloga	N:m	razlog
za	PREP	za
to	PRO	taj
.	SENT	.
Konstantna	A:aen	konstantan
zima	N:f	zima
,	PUNCT	,
oblačno	A:aen	oblačan
vreme	N:n	vreme
,	PUNCT	,
magluština	N:f	magluština
i	CONJ	i
činjenica	N:f	činjenica
da	CONJ	da
se	PAR	se
ovaj	PRO	ovaj
popravni	A:aem	popravni
dom	N:m	dom
nalazi	N:m	nalaz
na	PREP	na
ostrvu	N:n	ostrvo
,	PUNCT	,
grade	N:m	grad
jednu	NUM	jedan
specifičnu	A:aen	specifičan
atmosferu	N:f	atmosfera
koji	PRO	koji
nema	A:aem	nem
nijedan	A:aem	nijedan
sličan	A:aem	sličan
film	N:m	film
.	SENT	.
Dečaci	N:m	Dečaci
nisu	N:m	nisu
kao	CONJ	kao
u	PREP	u
Sleepers	N:m	Sleepers
dobrice	N:f	Dobrica
koje	PRO	koji
su	N:m	su
zbog	PREP	zbog
nestašluka	N:m	nestašluk
dospele	A:aef	dospeo
u	PREP	u
popravni	A:aem	popravni
dom	N:m	dom
.	SENT	.
Ovde	ADV	ovde
nema	A:aem	nem
nevinih	A:aem	nevin
.	SENT	.
Čak	N:m	Čak
i	CONJ	i
kada	CONJ	kada
se	PAR	se
vežete	V:f	vežete
za	PREP	za
neke	PRO	neki
od	PREP	od
momaka	N:m	momak
,	PUNCT	,
i	CONJ	i
kada	CONJ	kada
budete	A:aem	budete
navijali	V:m	navijati
za	PREP	za
njihovo	PRO	njihov
izbavljenje	N:n	izbavljenje
i	CONJ	i
opstanak	N:m	opstanak
,	PUNCT	,
zlo	N:n	zlo
ne	PAR	ne
izlazi	N:m	izlaz
iz	PREP	iz
njih	PRO	ona
.	PUNCT	.
Ako	CONJ	ako
spadate	V:f	spadate
u	PREP	u
onu	PRO	onaj
razmaženu	A:aef	razmažen
vrstu	N:f	vrsta
gledaoca	N:m	gledalac
koji	PRO	koji
voli	N:m	Voli
Holivudski	A:aem	holivudski
kliše	N:m	kliše
i	CONJ	i
'	N:m	'
naučio	V:m	naučiti
sam	PRO	sam
svoju	PRO	svoj
lekciju	N:f	lekcija
'	N:m	'
,	PUNCT	,
bolje	ADV	bolje
zaobiđite	A:aem	zaobiđite
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Prerealan	A:aem	Prerealan
je	PRO	ona
za	PREP	za
vaš	PRO	vaš
ukus	N:m	ukus
.	SENT	.
Recimo	N:f	Recimo
stražari	N:m	stražar
u	PREP	u
filmu	N:m	film
Sleepers	N:m	Sleepers
su	N:m	su
bili	V:m	biti
budale	N:f	budala
koje	PRO	koji
su	N:m	su
se	PAR	se
iživljavale	V:f	iživljavati
nad	PREP	nad
nevinim	A:aef	nevin
klincima	N:m	klinac
.	PUNCT	.
Ne	PAR	ne
kažem	A:aen	kažem
da	CONJ	da
je	PRO	ona
to	PRO	taj
loš	A:aem	loš
pristup	N:m	pristup
,	PUNCT	,
ali	CONJ	ali
ništa	ADV	ništa
drugo	A:aen	drugi
u	PREP	u
tim	PRO	taj
likovima	N:m	lik
nisam	N:m	nisam
video	V:m	videti
.	SENT	.
Ovde	ADV	ovde
je	PRO	ona
karakterizacija	N:f	karakterizacija
na	PREP	na
vrhunskom	A:aen	vrhunski
nivou	N:m	nivo
,	PUNCT	,
i	CONJ	i
što	CONJ	što
se	PAR	se
tiče	N:n	tiče
dečaka	N:m	dečak
i	CONJ	i
što	CONJ	što
se	PAR	se
tiče	N:n	tiče
čuvara	N:m	čuvar
,	PUNCT	,
direktora	N:m	direktor
,	PUNCT	,
stražara	N:m	stražar
i	CONJ	i
ostalih	A:aen	ostalih
zaduženih	A:aen	zadužen
za	PREP	za
bezbednost	N:f	bezbednost
popravnog	A:aem	popravni
doma	ADV	doma
.	SENT	.
Ta	PRO	taj
karakterizacija	N:f	karakterizacija
vas	PRO	vi
genijalno	A:aen	genijalan
vodi	N:f	voda
kroz	PREP	kroz
film	N:m	film
i	CONJ	i
videćete	N:m	videćete
zaista	PAR	zaista
realno	ADV	realno
ostvarivanje	N:n	ostvarivanje
prijateljstva	N:n	prijateljstvo
,	PUNCT	,
netrpeljivosti	N:f	netrpeljivost
,	PUNCT	,
simpatija	N:f	simpatija
i	CONJ	i
mržnje	N:f	mržnja
između	PREP	između
likova	N:n	likovo
.	SENT	.
Nemamo	N:f	Nemamo
ovde	ADV	ovde
,	PUNCT	,
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
ovce	N:f	ovca
koje	PRO	koji
su	N:m	su
lako	ADV	lako
podvodljive	A:aem	podvodljiv
,	PUNCT	,
glupave	A:aem	glupav
likove	N:m	lik
koji	PRO	koji
su	N:m	su
tu	PRO	taj
samo	PAR	samo
da	CONJ	da
otežaju	A:aem	otežaju
posao	N:m	posao
,	PUNCT	,
likove	N:m	lik
koji	PRO	koji
menjaju	N:m	menjaju
mišljenje	N:n	mišljenje
kako	CONJ	kako
vetar	N:m	vetar
duva	N:f	duva
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Ovde	ADV	ovde
i	CONJ	i
deca	N:f	deca
i	CONJ	i
odrasli	A:aem	odrastao
imaju	N:f	imaju
kefalo	V:n	kefati
,	PUNCT	,
što	CONJ	što
je	PRO	ona
prava	N:n	pravo
retkost	N:f	retkost
za	PREP	za
filmove	N:m	film
koji	PRO	koji
se	PAR	se
bave	A:aem	bave
velikim	A:aem	velik
grupacijama	N:f	grupacija
ljudi	N:m	ljudi
.	SENT	.
Recimo	N:f	Recimo
evo	PAR	evo
nekoliko	ADV	nekoliko
glupavih	A:aem	glupav
primera	N:m	primer
kako	CONJ	kako
to	PRO	taj
ne	PAR	ne
treba	N:f	treba
raditi	A:aem	raditi
.	SENT	.
U	PREP	u
najnovijem	A:cen	nov
Betmenu	N:m	Betmenu
,	PUNCT	,
Bejn	A:aem	Bejn
dolazi	N:m	dolaz
u	PREP	u
grad	N:m	grad
,	PUNCT	,
preti	A:bem	pretio
ljudima	N:m	ljudi
da	CONJ	da
će	N:f	će
ih	PRO	ona
sve	PRO	sav
dići	A:aem	dići
u	PREP	u
vazduh	N:m	vazduh
bla	A:aem	bla
bla	A:aem	bla
bla	N:m	bla
,	PUNCT	,
i	CONJ	i
onda	ADV	onda
pokaže	V:m	pokaže
da	CONJ	da
je	PRO	ona
neko	PRO	neki
iz	PREP	iz
vlasti	N:f	vlast
lažljivac	N:m	lažljivac
i	CONJ	i
svi	PRO	sav
kreću	N:m	kreću
da	CONJ	da
slušaju	N:m	slušaju
njega	PRO	on
.	SENT	.
Ala	N:m	Al
si	PRO	sebe
ga	PRO	on
smislio	V:m	smisliti
maaaajstore	N:f	maaaajstore
,	PUNCT	,
za	PREP	za
oskara	N:m	Oskar
.	SENT	.
Nemoj	A:aef	nem
mi	PRO	ja
pričati	N:m	pričati
,	PUNCT	,
neko	PRO	neki
iz	PREP	iz
vlasti	N:f	vlast
lažljivac	N:m	lažljivac
.	SENT	.
Ma	PAR	ma
šta	PRO	šta
kažeš	N:m	kažeš
.	PUNCT	.
A	CONJ	a
ti	PRO	taj
si	PRO	sebe
odličan	A:aem	odličan
lik	N:m	lik
koji	PRO	koji
će	N:f	će
nas	PRO	mi
sve	PRO	sav
dići	A:aem	dići
u	PREP	u
vazduh	N:m	vazduh
,	PUNCT	,
ali	CONJ	ali
nas	PRO	mi
ne	PAR	ne
lažeš	N:n	lažeš
pa	CONJ	pa
ću	N:f	ću
da	CONJ	da
te	PRO	taj
slušam	N:m	slušam
kao	CONJ	kao
praznoglava	A:aef	praznoglav
ovca	N:f	ovca
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Izvinite	A:aef	Izvinite
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
zaneo	V:m	zaneti
sam	PRO	sam
se	PAR	se
.	PUNCT	.
Drugi	A:aem	drugi
primer	N:m	primer
je	PRO	ona
skoro	ADV	skoro
komentarisani	A:aem	komentarisan
Spartak	N:m	Spartak
gde	CONJ	gde
imamo	N:m	imamo
dvadeset	NUM	dvadeset
(	PUNCT	(
ne	PAR	ne
baš	PAR	baš
toliko	ADV	toliko
)	PUNCT	)
scena	N:f	scena
u	PREP	u
kojima	PRO	koji
Spartak	N:m	Spartak
mora	N:n	more
da	CONJ	da
objašnjava	A:aem	objašnjava
Kriksu	N:m	Kriksu
zašto	CONJ	zašto
je	PRO	ona
glup	A:aem	glup
,	PUNCT	,
zašto	ADV	zašto
razmišljanje	N:n	razmišljanje
u	PREP	u
njegovom	PRO	njegov
slučaju	N:m	slučaj
boli	V:m	bosti
i	CONJ	i
zašto	ADV	zašto
treba	N:f	treba
da	CONJ	da
ćuti	N:f	ćuti
do	PREP	do
kraja	N:m	kraj
života	N:m	život
.	SENT	.
Ja	PRO	ja
ne	PAR	ne
trpim	A:aem	trpim
te	PRO	taj
stvari	N:f	stvar
a	CONJ	a
Norvežani	N:m	Norvežanin
kao	CONJ	kao
da	CONJ	da
su	N:m	su
znali	V:m	znati
,	PUNCT	,
pa	CONJ	pa
su	N:m	su
me	PRO	ja
častili	V:m	častiti
ovim	PRO	ovaj
odličnim	A:aef	odličan
filmom	N:m	film
.	SENT	.
Većina	N:f	Većina
ovakvih	PRO	ovakav
filmova	N:m	film
se	PAR	se
bazira	V:m	bazira
na	PREP	na
pokušaj	N:m	pokušaj
i	CONJ	i
samo	PAR	samo
bekstvo	N:n	bekstvo
.	PUNCT	.
Ne	PAR	ne
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
ovo	PRO	ovaj
nije	A:aem	nije
tako	ADV	tako
plitak	A:aem	plitak
film	N:m	film
.	SENT	.
Bekstvo	N:n	bekstvo
ćete	N:m	ćete
imati	N:f	imati
ali	CONJ	ali
mnogo	ADV	mnogo
ranije	ADV	ranije
i	CONJ	i
ono	PRO	onaj
pokreće	A:aem	pokreće
grudvu	N:f	grudva
koja	PRO	koji
raste	N:m	rast
,	PUNCT	,
pokreće	A:aem	pokreće
niz	PREP	niz
događaja	N:m	događaj
i	CONJ	i
sve	PRO	sav
će	V:m	će
se	PAR	se
na	PREP	na
kraju	N:m	kraj
pretvoriti	N:m	pretvoriti
u	PREP	u
lavinu	N:f	lavina
.	SENT	.
Svemu	PRO	sav
tome	PRO	taj
dodajte	N:m	dodajte
još	ADV	još
vrhunsku	A:aef	vrhunski
glumu	N:f	gluma
.	SENT	.
Osim	PREP	osim
uvek	ADV	uvek
sjajnog	A:aem	sjajan
Skarsgarda	N:m	Skarsgarda
,	PUNCT	,
ne	PAR	ne
znam	N:m	znam
ni	PAR	ni
jednog	NUM	jedan
drugog	A:aem	drugi
glumca	N:m	glumac
,	PUNCT	,
ali	CONJ	ali
svi	PRO	sav
do	PREP	do
jednog	NUM	jedan
su	N:m	su
odlični	A:aem	odličan
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
onaj	PRO	onaj
ko	PRO	ko
je	PRO	ona
komponovao	V:m	komponovati
muziku	N:f	muzika
za	PREP	za
film	N:m	film
,	PUNCT	,
zaslužuje	N:m	zaslužuje
oskara	N:m	Oskar
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
ovog	PRO	ovaj
što	CONJ	što
se	PAR	se
danas	ADV	danas
dodeljuje	N:m	dodeljuje
Džuliji	N:f	Džulija
,	PUNCT	,
Anđelini	N:f	Anđelina
,	PUNCT	,
Foksu	N:m	Foks
,	PUNCT	,
onda	ADV	onda
nekim	PRO	neki
filmovima	N:m	film
u	PREP	u
kategorijama	N:f	kategorija
'	A:aem	'
umetnički	A:aem	umetnički
dojam	N:m	dojam
'	N:m	'
,	PUNCT	,
'	A:aem	'
estetski	A:aem	estetski
dojam	N:m	dojam
'	N:m	'
,	PUNCT	,
'	A:aem	'
artistički	A:aem	artistički
dojam	N:m	dojam
'	N:m	'
,	PUNCT	,
'	A:aem	'
vreli	A:aem	vreo
uzdah	N:m	uzdah
'	N:m	'
,	PUNCT	,
'	A:aem	'
utisak	N:m	utisak
sa	PREP	sa
WC	N:m	WC
šolje	N:f	šolja
'	A:aem	'
i	CONJ	i
ostalim	A:aem	ostalim
jadibedusima	N:m	jadibedusima
i	CONJ	i
skrnavim	A:aef	skrnavim
kategorijama	N:f	kategorija
.	SENT	.
Ovaj	PRO	ovaj
čova	N:m	čova
je	PRO	ona
zaslužio	V:m	zaslužiti
sve	PRO	sav
pohvale	N:f	pohvala
,	PUNCT	,
ne	PAR	ne
samo	PAR	samo
zbog	PREP	zbog
kvaliteta	N:m	kvalitet
muzike	N:f	muzika
već	CONJ	već
zbog	PREP	zbog
toga	PRO	taj
što	CONJ	što
je	PRO	ona
znao	V:m	znati
kakva	PRO	kakav
je	PRO	ona
potrebna	A:aef	potreban
ovom	PRO	ovaj
filmu	N:m	film
.	SENT	.
Norvežani	N:m	Norvežanin
,	PUNCT	,
svaka	PRO	svaki
čast	N:f	čast
!	PUNCT	!
