Ovo	PRO	ovaj
je	PRO	ona
užasno	ADV	užasno
teško	ADV	teško
za	PREP	za
komentarisanje	N:n	komentarisanje
iz	PREP	iz
prostog	A:aen	prost
razloga	N:m	razlog
što	CONJ	što
se	PAR	se
radi	PREP	radi
o	PREP	o
istinitom	A:aen	istinit
a	CONJ	a
užasno	A:aen	užasan
tragičnom	A:aem	tragičan
događaju	N:m	događaj
.	SENT	.
Teško	A:aem	Teško
je	PRO	ona
dati	V:m	dati
neki	PRO	neki
sud	N:m	sud
jer	CONJ	jer
mi	PRO	ja
koji	PRO	koji
imamo	N:m	imamo
mogućnost	N:f	mogućnost
normalno	A:aen	normalan
koristiti	N:m	koristiti
svoje	PRO	svoj
telo	N:n	telo
ne	PAR	ne
možemo	A:aen	možemo
zamisliti	N:f	zamisliti
kako	CONJ	kako
se	PAR	se
oseća	N:f	oseća
neko	PRO	neki
ko	PRO	ko
izgubi	N:f	izgubi
tu	PRO	taj
moć	N:f	moć
.	SENT	.
Možemo	N:f	Možemo
samo	PAR	samo
da	CONJ	da
prdimo	N:m	prdimo
o	PREP	o
tome	PRO	taj
kako	CONJ	kako
je	PRO	ona
to	PRO	taj
užasno	ADV	užasno
,	PUNCT	,
kako	CONJ	kako
je	PRO	ona
to	PRO	taj
tragično	A:aen	tragičan
,	PUNCT	,
'	N:m	'
ne	PAR	ne
daj	INT	daj
bože	N:m	bog
nikome	PRO	niko
'	N:m	'
,	PUNCT	,
'	A:aem	'
jadan	A:aem	jadan
čovek	N:m	čovek
'	N:m	'
.	PUNCT	.
.	SENT	.
.	PUNCT	.
Plašio	V:m	Plašio
sam	PRO	sam
se	PAR	se
da	CONJ	da
će	V:m	će
se	PAR	se
ceo	A:aem	ceo
film	N:m	film
svoditi	V:m	svoditi
na	PREP	na
prikazivanje	N:n	prikazivanje
nemoći	N:f	nemoća
čoveka	N:m	čovek
koji	PRO	koji
ostaje	N:n	ostaje
potpuno	ADV	potpuno
paralizovan	V:m	paralizovati
.	SENT	.
Samim	PRO	sam
tim	N:m	tim
,	PUNCT	,
film	N:m	film
bi	N:f	bi
postao	V:m	postati
užasno	ADV	užasno
težak	A:aem	težak
za	PREP	za
gledanje	N:n	gledanje
.	PUNCT	.
Nisam	N:m	Nisam
čitao	V:m	čitati
o	PREP	o
ovom	PRO	ovaj
događaju	N:m	događaj
tako	ADV	tako
da	CONJ	da
nisam	N:m	nisam
znao	V:m	znati
rezultat	N:m	rezultat
,	PUNCT	,
ali	CONJ	ali
sam	A:aem	sam
početak	N:m	početak
filma	N:m	film
pokazuje	N:m	pokazuje
svu	PRO	sav
surovost	N:f	surovost
istine	N:f	istina
a	CONJ	a
to	PRO	taj
je	PRO	ona
da	CONJ	da
nema	A:aem	nem
ovde	ADV	ovde
čuda	N:n	čudo
.	SENT	.
Čuda	A:aen	Čuda
očekujte	N:n	očekujte
u	PREP	u
holivudskim	A:aem	holivudski
filmovima	N:m	film
u	PREP	u
kojima	PRO	koji
vas	PRO	vi
bombarduju	N:m	bombarduju
nečijim	PRO	nečiji
jadom	N:m	jad
da	CONJ	da
bi	N:m	bi
na	PREP	na
kraju	N:m	kraj
on	PRO	on
bio	V:m	biti
kao	ADV	kao
rukom	N:f	ruka
odnet	V:m	odneti
uz	PREP	uz
gomile	N:f	gomila
patetičnih	A:aem	patetičan
a	CONJ	a
ni	PAR	ni
malo	ADV	malo
ljudskih	A:aem	ljudski
scena	N:f	scena
.	SENT	.
Recimo	N:f	Recimo
film	N:m	film
50	NUM	@card@
/	N:m	/
50	NUM	@card@
je	PRO	ona
pokazao	V:m	pokazati
kako	ADV	kako
može	A:aem	može
da	CONJ	da
se	PAR	se
napravio	V:m	napraviti
dobra	A:aef	dobar
stvar	N:f	stvar
na	PREP	na
tu	PRO	taj
temu	N:f	tema
jer	CONJ	jer
je	PRO	ona
išao	V:m	ići
na	PREP	na
kocku	N:f	kocka
ljudskosti	N:f	ljudskost
,	PUNCT	,
tek	CONJ	tek
ponekad	ADV	ponekad
odlutavši	A:aem	odlutavši
krivim	A:aen	kriv
putem	N:m	put
(	PUNCT	(
odnos	N:m	odnos
glavnog	A:aem	glavnog
lika	N:m	lik
sa	PREP	sa
devojkom	N:f	devojka
)	PUNCT	)
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
se	PAR	se
za	PREP	za
divno	A:aen	divan
čudo	N:n	čudo
uopšte	ADV	uopšte
ne	PAR	ne
bavi	V:n	bavi
tom	PRO	taj
borbom	N:f	borba
protiv	PREP	protiv
užasa	N:m	užas
u	PREP	u
koji	PRO	koji
čovek	N:m	čovek
zapada	N:m	zapad
.	SENT	.
Jasno	ADV	jasno
je	PRO	ona
da	CONJ	da
od	PREP	od
te	PRO	taj
borbe	N:f	borba
nema	A:aem	nem
ništa	ADV	ništa
.	SENT	.
Druga	A:aef	drugi
stvar	N:f	stvar
gde	CONJ	gde
ovaj	PRO	ovaj
film	N:m	film
dominira	N:m	dominira
je	PRO	ona
odsustvo	N:n	odsustvo
patetike	N:f	patetika
.	SENT	.
Setimo	V:n	Setimo
se	PAR	se
recimo	A:aen	recimo
Devojke	N:m	Devojke
od	PREP	od
Milion	N:m	milion
Dolara	N:m	dolar
,	PUNCT	,
kada	CONJ	kada
joj	PRO	ona
posle	PREP	posle
nesreće	N:f	nesreća
dolazi	N:m	dolaz
porodica	N:f	porodica
u	PREP	u
posetu	N:f	poseta
.	SENT	.
To	PRO	taj
je	PRO	ona
za	PREP	za
mene	PRO	ja
jedna	NUM	jedan
od	PREP	od
deset	NUM	deset
najretardiranijih	A:cef	najretardiranijih
scena	N:f	scena
u	PREP	u
istoriji	N:f	istorija
kinematografije	N:f	kinematografija
i	CONJ	i
napravljena	V:m	napraviti
je	PRO	ona
da	CONJ	da
se	PAR	se
bakice	N:f	bakica
iznerviraju	A:aef	iznerviraju
nepravdom	N:f	nepravda
,	PUNCT	,
da	CONJ	da
kunu	N:f	kuna
sudbinu	N:f	sudbina
kletu	A:aef	klet
i	CONJ	i
prizivaju	A:aef	prizivaju
nesreću	N:f	nesreća
bezosećajnim	A:aef	bezosećajan
nakazama	N:f	nakaza
.	SENT	.
Ovde	ADV	ovde
ne	PAR	ne
da	CONJ	da
patetike	N:f	patetika
nema	A:aem	nem
,	PUNCT	,
već	CONJ	već
vam	PRO	vi
neće	A:aem	neće
pasti	N:f	pasta
na	PREP	na
pamet	N:f	pamet
dok	CONJ	dok
gledate	A:aem	gledate
film	N:m	film
.	SENT	.
Stoprocentna	A:aef	stoprocentni
antiholivudska	A:aef	antiholivudska
formula	N:f	formula
i	CONJ	i
veliki	A:aem	velik
respekt	N:m	respekt
za	PREP	za
ovakav	PRO	ovakav
pristup	N:m	pristup
.	SENT	.
Sledeća	A:aem	Sledeća
genijalna	A:aef	genijalan
stvar	N:f	stvar
,	PUNCT	,
način	N:m	način
na	PREP	na
koji	PRO	koji
se	PAR	se
lik	N:m	lik
suočava	A:aem	suočava
sa	PREP	sa
svim	PRO	sav
ovim	PRO	ovaj
.	PUNCT	.
U	PREP	u
jednom	NUM	jedan
momentu	N:m	moment
mi	PRO	ja
se	PAR	se
učinilo	V:n	učiniti
da	CONJ	da
je	PRO	ona
prebrzo	ADV	prebrzo
prihvatio	V:m	prihvatiti
sve	PRO	sav
,	PUNCT	,
ali	CONJ	ali
sam	PRO	sam
totalno	ADV	totalno
promašio	V:m	promašiti
poentu	N:f	poenta
cele	A:aef	ceo
priče	N:f	priča
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
na	PREP	na
početku	N:m	početak
on	PRO	on
želi	V:m	žeti
da	CONJ	da
umre	N:f	umre
,	PUNCT	,
ali	CONJ	ali
kasnije	ADV	kasnije
dolazi	N:m	dolaz
mirenje	N:n	mirenje
sa	PREP	sa
sudbinom	N:f	sudbina
i	CONJ	i
nešto	ADV	nešto
što	CONJ	što
baš	PAR	baš
nisam	N:m	nisam
ni	PAR	ni
očekivao	V:m	očekivati
.	PUNCT	.
Ne	PAR	ne
znam	N:m	znam
za	PREP	za
vas	PRO	vi
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
ja	PRO	ja
neretko	ADV	neretko
razmišljam	V:m	razmišljam
o	PREP	o
tome	PRO	taj
kako	CONJ	kako
bih	A:aem	bih
voleo	V:m	voleti
učiniti	A:aem	učiniti
nešto	ADV	nešto
veliko	A:aen	velik
u	PREP	u
svom	PRO	sav
životu	N:m	život
,	PUNCT	,
nešto	ADV	nešto
što	CONJ	što
bi	A:aen	bi
ostavilo	V:n	ostaviti
trag	N:m	trag
u	PREP	u
vremenu	N:n	vreme
.	PUNCT	.
E	CONJ	e
sada	ADV	sada
zamislite	A:aem	zamislite
čoveka	N:m	čovek
koji	PRO	koji
može	A:aen	može
da	CONJ	da
koristi	N:f	korist
samo	PAR	samo
jedno	NUM	jedan
oko	PREP	oko
.	PUNCT	.
.	SENT	.
.	PUNCT	.
zamislite	N:f	zamislite
koliko	ADV	koliko
snage	N:f	snaga
i	CONJ	i
volje	N:f	volja
on	PRO	on
mora	N:n	more
da	CONJ	da
ima	A:aen	ima
da	CONJ	da
bi	A:aen	bi
se	PAR	se
odlučio	V:m	odlučiti
na	PREP	na
takav	PRO	takav
zadatak	N:m	zadatak
,	PUNCT	,
na	PREP	na
nešto	PRO	nešto
što	CONJ	što
će	A:aem	će
ostati	N:m	ostati
daleko	ADV	daleko
posle	PREP	posle
njega	PRO	on
.	SENT	.
Ok	A:aen	Ok
,	PUNCT	,
jeste	INT	jeste
on	PRO	on
urednik	N:m	urednik
magazina	N:m	magazin
Elle	N:f	Elle
ali	CONJ	ali
Elle	N:f	Elle
nije	A:aem	nije
njegova	PRO	njegov
kreacija	N:f	kreacija
.	SENT	.
Zamislite	N:m	Zamislite
osobu	N:f	osoba
koja	PRO	koji
u	PREP	u
takvoj	PRO	takav
situaciji	N:f	situacija
uči	N:m	uča
da	CONJ	da
komunicira	N:m	komunicira
i	CONJ	i
koja	PRO	koji
kao	CONJ	kao
svoje	PRO	svoj
oruđe	N:n	oruđe
koristi	N:f	korist
moć	N:f	moć
komunikacije	N:f	komunikacija
.	PUNCT	.
Ne	PAR	ne
želim	A:aem	želim
da	CONJ	da
sada	ADV	sada
zvučim	A:aem	zvučim
kao	CONJ	kao
likovi	N:m	lik
u	PREP	u
otrcanim	A:aem	otrcan
filmskim	A:aem	filmski
govorima	N:m	govor
gde	CONJ	gde
kada	CONJ	kada
neko	PRO	neki
strada	N:f	strada
,	PUNCT	,
uvek	ADV	uvek
se	PAR	se
nađe	V:n	nađe
neki	PRO	neki
serator	N:m	serator
koji	PRO	koji
će	A:aem	će
pričati	N:m	pričati
o	PREP	o
tome	PRO	taj
da	CONJ	da
su	N:m	su
svi	PRO	sav
inspirisani	A:aem	inspirisan
delima	N:n	delo
preminulog	A:aen	preminuli
.	SENT	.
Ovo	PRO	ovaj
nije	A:aem	nije
tako	ADV	tako
.	SENT	.
Ovde	ADV	ovde
imamo	N:m	imamo
dela	N:n	delo
ovog	PRO	ovaj
čoveka	N:m	čovek
koja	PRO	koji
utiču	N:f	utiču
na	PREP	na
ljude	N:m	ljudi
oko	PREP	oko
njega	PRO	on
i	CONJ	i
imamo	N:m	imamo
ljude	N:m	ljudi
oko	PREP	oko
njega	PRO	on
koji	PRO	koji
bez	PREP	bez
trunke	N:f	trunka
patetike	N:f	patetika
žele	V:f	žeti
pomoći	N:f	pomoć
,	PUNCT	,
žele	V:f	žeti
učiniti	A:aem	učiniti
život	N:m	život
ovom	PRO	ovaj
čoveku	N:m	čovek
što	CONJ	što
podnošljivijim	A:ben	podnošljiv
.	SENT	.
Taj	PRO	taj
aspekt	N:m	aspekt
ovde	ADV	ovde
je	PRO	ona
maestralan	A:aem	maestralan
.	SENT	.
Odlična	A:aef	Odlična
stvar	N:f	stvar
je	PRO	ona
što	PRO	što
nas	PRO	mi
upravo	ADV	upravo
nastradali	V:m	nastradati
lik	N:m	lik
vodi	N:f	voda
kroz	PREP	kroz
film	N:m	film
.	SENT	.
Najveći	A:aem	Najveći
broj	N:m	broj
scena	N:f	scena
nam	PRO	mi
je	PRO	ona
dat	V:m	dati
sa	PREP	sa
njegove	PRO	njegov
tačke	N:f	tačka
gledišta	N:n	gledište
i	CONJ	i
uz	PREP	uz
njegove	PRO	njegov
misli	N:f	misao
što	CONJ	što
zaista	PAR	zaista
ostavlja	A:aem	ostavlja
jeziv	A:aem	jeziv
utisak	N:m	utisak
.	SENT	.
Imamo	N:m	Imamo
ovde	ADV	ovde
sve	ADV	sve
ono	PRO	onaj
što	CONJ	što
očekujete	A:aem	očekujete
,	PUNCT	,
sređivanje	N:n	sređivanje
misli	N:f	misao
,	PUNCT	,
suočavanje	N:n	suočavanje
sa	PREP	sa
prošlošću	N:f	prošlost
,	PUNCT	,
sa	PREP	sa
postignutim	A:aen	postignut
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
se	PAR	se
fino	ADV	fino
proteže	N:m	proteg
celim	A:aem	ceo
filmom	N:m	film
bez	PREP	bez
toga	PRO	taj
da	CONJ	da
ubija	N:n	ubija
sadašnju	A:aef	sadašnji
priču	N:f	priča
.	SENT	.
Sva	PRO	sav
njegova	PRO	njegov
razmišljanja	N:n	razmišljanje
ne	PAR	ne
idu	A:aem	idu
u	PREP	u
smeru	N:m	smer
kajanja	N:n	kajanje
već	CONJ	već
lik	N:m	lik
ili	CONJ	ili
oslobađa	N:n	oslobađa
svoju	PRO	svoj
maštu	N:f	mašta
ili	CONJ	ili
na	PREP	na
genijalan	A:aem	genijalan
način	N:m	način
priča	N:f	priča
o	PREP	o
trenutnoj	A:aef	trenutan
situaciji	N:f	situacija
pri	PREP	pri
čemu	PRO	šta
se	PAR	se
i	CONJ	i
našali	V:m	našali
na	PREP	na
svoj	PRO	sav
račun	N:m	račun
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
pomenuću	N:m	pomenuću
i	CONJ	i
pojavljivanje	N:n	pojavljivanje
Maks	N:m	Maks
Fon	N:m	fon
Sidou	N:m	Sidou
-	PUNCT	-
a	CONJ	a
.	SENT	.
Matori	A:aem	mator
se	PAR	se
pojavljuje	N:f	pojavljuje
u	PREP	u
dve	NUM	dva
scene	N:f	scena
.	SENT	.
U	PREP	u
drugoj	A:aef	drugi
je	PRO	ona
tako	ADV	tako
dobar	A:aem	dobar
da	CONJ	da
sam	PRO	sam
zaplakao	V:m	zaplakati
.	PUNCT	.
Ne	PAR	ne
znam	N:m	znam
da	CONJ	da
li	PAR	li
ste	N:m	ste
čitali	V:m	čitati
moj	PRO	moj
prikaz	N:m	prikaz
Virgin	N:m	Virgin
Springa	N:m	Springa
.	SENT	.
Ako	CONJ	ako
niste	N:m	niste
,	PUNCT	,
bacite	N:m	bacite
pogled	N:m	pogled
na	PREP	na
Naj	N:f	Naj
scenu	N:f	scena
tamo	ADV	tamo
.	SENT	.
Čovek	A:aem	Čovek
sedi	N:m	sedi
i	CONJ	i
čeka	N:f	čeka
pri	PREP	pri
čemu	PRO	šta
ta	PRO	taj
scena	N:f	scena
govori	N:m	govor
milijardu	N:f	milijarda
reči	N:f	reč
i	CONJ	i
ostavlja	N:n	ostavlja
neizbrisiv	A:aem	neizbrisiv
utisak	N:m	utisak
.	SENT	.
Ovde	ADV	ovde
u	PREP	u
toj	PRO	taj
pomenutoj	A:aef	pomenut
drugoj	A:aef	drugi
sceni	N:f	scena
priča	N:f	priča
sa	PREP	sa
sinom	N:m	sin
i	CONJ	i
ne	PAR	ne
znam	N:m	znam
koliko	ADV	koliko
obraćate	A:aef	obraćate
pažnju	N:f	pažnja
na	PREP	na
tako	ADV	tako
sitne	A:aef	sitan
detalje	N:m	detalj
,	PUNCT	,
ali	CONJ	ali
ako	CONJ	ako
se	PAR	se
odlučite	N:m	odlučite
za	PREP	za
gledanje	N:n	gledanje
ovog	PRO	ovaj
filma	N:m	film
,	PUNCT	,
gledajte	N:m	gledajte
gestove	N:m	gest
ovog	PRO	ovaj
velikana	N:m	velikan
za	PREP	za
vreme	N:n	vreme
i	CONJ	i
posle	PREP	posle
razgovora	N:m	razgovor
.	PUNCT	.
Braćo	N:m	Braćo
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
to	PRO	taj
je	PRO	ona
gluma	N:f	gluma
iza	PREP	iza
koje	PRO	koji
zaista	PAR	zaista
vidite	N:m	vidite
osobu	N:f	osoba
koja	PRO	koji
je	PRO	ona
predstavljena	V:n	predstaviti
i	CONJ	i
vidite	N:m	vidite
sav	PRO	sav
njen	PRO	njen
bol	N:m	bol
,	PUNCT	,
njegovu	PRO	njegov
staračku	A:aef	starački
izgubljenost	N:f	izgubljenost
i	CONJ	i
nemoć	N:f	nemoć
da	CONJ	da
učini	N:m	učin
nešto	ADV	nešto
.	PUNCT	.
Maks	N:m	Maks
,	PUNCT	,
poživi	A:aem	poživi
nam	PRO	mi
još	ADV	još
dugo	ADV	dugo
jer	CONJ	jer
takvih	PRO	takav
kao	CONJ	kao
ti	PRO	taj
skoro	ADV	skoro
i	CONJ	i
da	CONJ	da
nema	A:aem	nem
.	SENT	.
Nemam	N:m	Nemam
vam	PRO	vi
više	ADV	više
šta	PRO	šta
reći	A:aem	reći
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
.	SENT	.
Svakako	ADV	svakako
vam	PRO	vi
preporučujem	N:m	preporučujem
da	CONJ	da
pogledate	N:m	pogledate
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
ali	CONJ	ali
budite	ADV	budite
spremni	A:aem	spreman
jer	CONJ	jer
ovo	PRO	ovaj
je	PRO	ona
zaista	PAR	zaista
teška	A:aem	težak
priča	N:f	priča
.	SENT	.
