Da	CONJ	da
se	PAR	se
razumemo	N:f	razumemo
,	PUNCT	,
ako	CONJ	ako
na	PREP	na
ovo	PRO	ovaj
gledamo	N:f	gledamo
kao	CONJ	kao
na	PREP	na
nešto	PRO	nešto
što	CONJ	što
je	PRO	ona
zasnovano	A:aen	zasnovan
na	PREP	na
Lavkraftu	N:m	Lavkraft
,	PUNCT	,
nećemo	N:f	nećemo
se	PAR	se
baš	PAR	baš
usrećiti	N:m	usrećiti
.	SENT	.
Realno	ADV	realno
ja	PRO	ja
do	PREP	do
sada	ADV	sada
nisam	N:m	nisam
ništa	ADV	ništa
gledao	V:m	gledati
što	CONJ	što
je	PRO	ona
zasnovano	A:aen	zasnovan
na	PREP	na
njegovim	PRO	njegov
delima	N:n	delo
a	CONJ	a
da	CONJ	da
je	PRO	ona
približno	PAR	približno
dobro	ADV	dobro
kao	CONJ	kao
ona	PRO	ona
sama	PRO	sam
.	PUNCT	.
Drago	ADV	drago
mi	PRO	ja
je	PRO	ona
da	CONJ	da
sam	PRO	sam
potpuno	ADV	potpuno
uspeo	V:m	uspeti
da	CONJ	da
isključim	V:m	isključim
Lavkraftove	A:aef	Lavkraftov
priče	N:f	priča
iz	PREP	iz
glave	N:f	glava
jer	CONJ	jer
sam	PRO	sam
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
uživao	V:m	uživati
.	SENT	.
On	PRO	on
se	PAR	se
sastoji	N:m	sastoji
od	PREP	od
četiri	NUM	četiri
priče	N:f	priča
koje	PRO	koji
su	N:m	su
režirala	V:f	režirati
tri	NUM	tri
režisera	N:m	režiser
.	SENT	.
Prva	A:aen	prvi
je	PRO	ona
ona	PRO	ona
koja	PRO	koji
traje	N:m	traje
celim	A:aem	ceo
tokom	PREP	tokom
filma	N:m	film
a	CONJ	a
tiče	N:n	tiče
se	PAR	se
samog	PRO	sam
Lavkrafta	N:m	Lavkraft
.	SENT	.
On	PRO	on
pronalazi	N:m	pronalazi
tu	ADV	tu
dobro	ADV	dobro
čuvanu	A:aef	čuvan
knjigu	N:f	knjiga
i	CONJ	i
što	CONJ	što
se	PAR	se
tiče	N:n	tiče
te	CONJ	te
priče	N:f	priča
nećemo	A:aen	nećemo
videti	N:m	videti
nešto	ADV	nešto
posebno	ADV	posebno
osim	PREP	osim
opasnosti	N:f	opasnost
koju	PRO	koji
ta	PRO	taj
knjiga	N:f	knjiga
nosi	V:m	nosi
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
sjajno	ADV	sjajno
,	PUNCT	,
to	PRO	taj
su	N:m	su
tri	NUM	tri
glavne	A:aef	glavne
priče	N:f	priča
koje	PRO	koji
Lavkraft	N:m	Lavkraft
prepisuje	N:m	prepisuje
iz	PREP	iz
knjige	N:f	knjiga
.	SENT	.
Dopalo	V:n	dopasti
mi	PRO	ja
se	PAR	se
što	PRO	što
su	N:m	su
toliko	ADV	toliko
različite	A:aef	različit
,	PUNCT	,
što	CONJ	što
su	N:m	su
prilično	ADV	prilično
maštovite	A:aef	maštovit
i	CONJ	i
mogu	A:aef	mogu
vam	PRO	vi
reći	N:m	reći
,	PUNCT	,
sadrže	A:aem	sadrže
dobru	A:aem	dobar
količinu	N:f	količina
šoka	N:m	šok
.	SENT	.
Prva	A:aen	prvi
priča	N:f	priča
je	PRO	ona
o	PREP	o
liku	N:f	lika
koji	PRO	koji
je	PRO	ona
nasledio	V:m	naslediti
staru	A:aef	star
kuću	N:f	kuća
od	PREP	od
nekog	PRO	neki
svog	PRO	svoj
pretka	N:m	predak
.	SENT	.
On	PRO	on
ubrzo	ADV	ubrzo
saznaje	V:m	saznaje
za	PREP	za
jezivu	A:aef	jeziv
i	CONJ	i
tragičnu	A:aef	tragičan
sudbinu	N:f	sudbina
koja	PRO	koji
je	PRO	ona
zadesila	V:f	zadesiti
njegovog	PRO	njegov
pretka	N:m	predak
kao	CONJ	kao
i	CONJ	i
razloge	N:m	razlog
zbog	PREP	zbog
koga	PRO	koji
se	PAR	se
to	PRO	taj
desilo	V:n	desiti
.	SENT	.
Ova	PRO	ovaj
priča	N:f	priča
se	PAR	se
bavi	A:aen	bavi
oživljavanjem	N:n	oživljavanje
mrtvih	A:aen	mrtav
i	CONJ	i
buđenju	N:n	buđenje
nečega	PRO	nešto
mnogo	ADV	mnogo
užasnijeg	A:bem	užasan
.	SENT	.
Ovde	ADV	ovde
ćemo	N:f	ćemo
videti	A:aem	videti
i	CONJ	i
čuvenog	A:aem	čuven
Cthulhu	N:m	Cthulhu
-	PUNCT	-
a	CONJ	a
.	PUNCT	.
Odlična	A:aef	Odlična
stvar	N:f	stvar
je	PRO	ona
što	PRO	što
ovde	ADV	ovde
nemamo	N:f	nemamo
današnj	A:aem	današnj
CGI	N:m	CGI
pa	CONJ	pa
su	N:m	su
korišćene	A:aem	korišćen
maske	N:f	maska
.	SENT	.
Možda	A:aem	Možda
će	N:m	će
nekom	PRO	neki
ovo	PRO	ovaj
delovati	N:m	delovati
siromašno	A:aen	siromašan
,	PUNCT	,
niskobudžetno	A:aen	niskobudžetni
ali	CONJ	ali
meni	PRO	ja
iskreno	ADV	iskreno
izgleda	N:m	izgled
sjajno	ADV	sjajno
.	SENT	.
Druga	A:aef	drugi
priča	N:f	priča
podseća	A:aef	podseća
na	PREP	na
priče	N:f	priča
iz	PREP	iz
Zone	N:f	Zona
Sumraka	N:m	Sumrak
i	CONJ	i
lako	A:aen	lak
bi	N:n	bi
mogla	V:n	moći
da	CONJ	da
se	PAR	se
smesti	N:n	smesti
u	PREP	u
te	PRO	taj
serije	N:f	serija
.	SENT	.
Radi	PREP	radi
se	PAR	se
o	PREP	o
liku	N:f	lika
koji	PRO	koji
je	PRO	ona
pronašao	V:m	pronaći
način	N:m	način
da	CONJ	da
živi	A:aem	živ
večno	ADV	večno
ali	CONJ	ali
za	PREP	za
to	PRO	taj
moraju	N:m	moraju
da	CONJ	da
se	PAR	se
obezbede	N:f	obezbeda
jezivi	A:aem	jeziv
uslovi	N:m	uslov
i	CONJ	i
da	CONJ	da
se	PAR	se
čine	N:m	čin
užasne	A:aef	užasan
stvari	N:f	stvar
.	SENT	.
Ako	CONJ	ako
volite	N:m	volite
Zonu	N:f	Zona
Sumraka	N:m	Sumrak
,	PUNCT	,
ova	PRO	ovaj
priča	N:f	priča
će	N:f	će
vas	PRO	vi
svakako	PAR	svakako
zadovoljiti	N:f	zadovoljiti
.	SENT	.
Sigurno	ADV	sigurno
je	PRO	ona
da	CONJ	da
ona	PRO	ona
ima	A:aem	ima
predvidiv	A:aem	predvidiv
kraj	N:m	kraj
ali	CONJ	ali
postoji	N:m	postoji
jedan	NUM	jedan
sitan	A:aem	sitan
jeziv	A:aem	jeziv
detalj	N:m	detalj
koji	PRO	koji
svakako	PAR	svakako
ne	PAR	ne
možete	A:aem	možete
očekivati	A:aem	očekivati
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
treće	A:aen	treći
priče	N:f	priča
,	PUNCT	,
ona	PRO	ona
je	PRO	ona
definitivno	ADV	definitivno
najšokantnija	A:cem	šokantan
od	PREP	od
svih	PRO	sav
.	SENT	.
Sporo	ADV	sporo
se	PAR	se
razvija	A:bem	razvija
što	CONJ	što
može	A:aem	može
nekom	PRO	neki
da	CONJ	da
smeta	N:m	smet
ali	CONJ	ali
meni	PRO	ja
je	PRO	ona
ovo	PRO	ovaj
bila	V:f	biti
odlična	A:aen	odličan
priprema	N:f	priprema
za	PREP	za
najbolesniju	A:cef	bolestan
ideju	N:f	ideja
i	CONJ	i
najveći	A:cem	velik
šok	N:m	šok
u	PREP	u
filmu	N:m	film
.	PUNCT	.
Možda	N:f	Možda
,	PUNCT	,
da	CONJ	da
je	PRO	ona
od	PREP	od
svake	PRO	svaki
priče	N:f	priča
napravljen	A:aem	napravljen
film	N:m	film
,	PUNCT	,
ne	PAR	ne
bi	A:aem	bi
rezultat	N:m	rezultat
bio	V:m	biti
ovako	ADV	ovako
dobar	A:aem	dobar
.	SENT	.
Ovako	ADV	ovako
se	PAR	se
u	PREP	u
priče	N:f	priča
moralo	V:n	morati
ubaciti	V:n	ubaciti
samo	PAR	samo
ono	PRO	onaj
najbitnije	A:cem	bitan
tako	ADV	tako
da	CONJ	da
gledalac	N:m	gledalac
neće	A:aem	neće
imati	A:aem	imati
prostora	N:m	prostor
za	PREP	za
dosadu	N:f	dosada
.	PUNCT	.
Rekoh	N:m	Rekoh
,	PUNCT	,
zanemarimo	N:f	zanemarimo
Lavkrafta	N:m	Lavkraft
na	PREP	na
momenat	N:m	moment
,	PUNCT	,
ovde	ADV	ovde
imamo	N:m	imamo
gotovo	ADV	gotovo
sve	PRO	sav
podvrste	N:f	podvrsta
horora	N:m	horor
,	PUNCT	,
imamo	N:m	imamo
tri	NUM	tri
različite	A:aef	različit
atmosfere	N:f	atmosfera
u	PREP	u
tri	NUM	tri
priče	N:f	priča
,	PUNCT	,
imamo	N:m	imamo
odlične	A:aem	odličan
ideje	N:f	ideja
.	SENT	.
Teško	N:m	Teško
je	PRO	ona
ne	PAR	ne
biti	N:f	bit
zadovoljan	A:aem	zadovoljan
time	PRO	taj
u	PREP	u
ovom	PRO	ovaj
vremenu	N:n	vreme
kada	CONJ	kada
je	PRO	ona
horor	N:m	horor
spao	V:m	spasti
na	PREP	na
najniže	A:cen	nizak
moguće	A:aem	moguć
grane	N:f	grana
.	SENT	.
