Ovaj	PRO	ovaj
film	N:m	film
sam	PRO	sam
gledao	V:m	gledati
u	PREP	u
bioskopu	N:m	bioskop
kada	CONJ	kada
je	PRO	ona
izašao	V:m	izaći
i	CONJ	i
nekako	ADV	nekako
mi	PRO	ja
je	PRO	ona
ostavio	V:m	ostaviti
podeljeno	V:n	podeliti
mišljenje	N:n	mišljenje
.	PUNCT	.
Sada	ADV	sada
kada	CONJ	kada
sam	PRO	sam
ga	PRO	on
ponovo	ADV	ponovo
pogledao	V:m	pogledati
,	PUNCT	,
utisak	N:m	utisak
je	PRO	ona
nešto	ADV	nešto
bolji	A:bem	dobar
ali	CONJ	ali
opet	ADV	opet
postoje	N:m	postoje
tu	ADV	tu
i	CONJ	i
dobre	A:aem	dobar
i	CONJ	i
loše	A:aef	loš
strane	N:f	strana
.	SENT	.
Srećom	A:aem	Srećom
ove	PRO	ovaj
dobre	A:aem	dobar
dominiraju	N:m	dominiraju
pa	CONJ	pa
je	PRO	ona
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
propuste	N:m	propust
rezultat	N:m	rezultat
sasvim	ADV	sasvim
dobar	A:aem	dobar
film	N:m	film
.	SENT	.
Pre	PREP	pre
svega	PRO	sav
bih	N:m	bih
pohvalio	V:m	pohvaliti
priču	N:f	priča
.	SENT	.
Knjigu	N:f	knjiga
po	PREP	po
kojoj	PRO	koji
je	PRO	ona
snimljen	V:m	snimiti
film	N:m	film
nisam	N:m	nisam
čitao	V:m	čitati
ali	CONJ	ali
imam	N:m	imam
u	PREP	u
planu	N:m	plan
da	CONJ	da
nabavim	A:aem	nabavim
tu	ADV	tu
celu	A:aef	ceo
trilogiju	N:f	trilogija
.	SENT	.
Inače	N:f	Inače
do	PREP	do
sada	ADV	sada
su	N:m	su
po	PREP	po
mom	PRO	moj
znanju	N:n	znanje
snimljena	V:n	snimiti
samo	PAR	samo
dva	NUM	dva
filma	N:m	film
i	CONJ	i
nisam	N:m	nisam
siguran	A:aem	siguran
da	CONJ	da
li	PAR	li
oni	PRO	onaj
sadrže	A:aef	sadrže
priču	N:f	priča
sve	ADV	sve
tri	NUM	tri
knjige	N:f	knjiga
.	SENT	.
Ideje	N:f	ideja
su	PREF	su
sjajne	A:aef	sjajan
.	PUNCT	.
Volim	A:aem	Volim
kada	CONJ	kada
u	PREP	u
film	N:m	film
ubace	N:m	ubace
neku	PRO	neki
legendu	N:f	legenda
i	CONJ	i
neke	PRO	neki
drevne	A:aef	drevan
priče	N:f	priča
.	SENT	.
Ovde	ADV	ovde
ih	PRO	ona
ima	A:aem	ima
gomila	N:f	gomila
.	SENT	.
Film	N:m	film
otvara	N:m	otvara
fenomenalni	A:aem	fenomenalan
prolog	N:m	prolog
i	CONJ	i
priča	N:f	priča
o	PREP	o
dve	NUM	dva
sile	N:f	sila
.	SENT	.
Kako	CONJ	kako
film	N:m	film
prolazi	N:m	prolaz
,	PUNCT	,
praktično	ADV	praktično
na	PREP	na
svakih	PRO	svaki
desetak	ADV	desetak
minuta	N:m	minut
dobijemo	A:aen	dobijemo
novu	A:aen	nov
priču	N:f	priča
,	PUNCT	,
novu	A:aen	nov
legendu	N:f	legenda
i	CONJ	i
nov	A:aem	nov
slučaj	N:m	slučaj
.	SENT	.
To	PRO	taj
je	PRO	ona
možda	PAR	možda
i	CONJ	i
dvosekli	A:aem	dvosekli
mač	N:m	mač
jer	CONJ	jer
sa	PREP	sa
toliko	ADV	toliko
dobrih	A:aem	dobar
ideja	N:f	ideja
i	CONJ	i
sa	PREP	sa
toliko	ADV	toliko
dobrih	A:aem	dobar
priča	N:f	priča
,	PUNCT	,
film	N:m	film
koji	PRO	koji
traje	N:m	traje
stotinak	ADV	stotinak
minuta	N:m	minut
je	PRO	ona
nekako	ADV	nekako
prekratak	A:aem	prekratak
.	SENT	.
Čini	N:m	Čina
mi	PRO	ja
se	PAR	se
da	CONJ	da
je	PRO	ona
svaka	PRO	svaki
od	PREP	od
tih	PRO	taj
priča	N:f	priča
mogla	V:n	moći
dobiti	N:f	dobit
još	ADV	još
veći	A:bem	velik
prostor	N:m	prostor
jer	CONJ	jer
,	PUNCT	,
što	CONJ	što
je	PRO	ona
ovde	ADV	ovde
sjajno	ADV	sjajno
izvedeno	V:n	izvesti
,	PUNCT	,
svaka	PRO	svaki
od	PREP	od
njih	PRO	ona
ima	A:aem	ima
veliki	A:aem	velik
značaj	N:m	značaj
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
porede	N:m	porede
sa	PREP	sa
čuvenim	A:aem	čuven
Blejdom	N:m	Blejdom
ali	CONJ	ali
po	PREP	po
mom	PRO	moj
skromnom	A:aen	skroman
mišljenju	N:n	mišljenje
Blejd	N:m	Blejd
nije	A:aem	nije
ni	CONJ	ni
blizu	ADV	blizu
kvalitetan	A:aem	kvalitetan
kao	CONJ	kao
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
.	SENT	.
Priča	N:m	Priča
u	PREP	u
Blejdu	N:m	Blejdu
je	PRO	ona
suviše	ADV	suviše
mršava	A:aem	mršav
u	PREP	u
ondosu	N:m	ondosu
na	PREP	na
ovu	PRO	ovaj
.	SENT	.
Takođe	PAR	Takođe
kada	CONJ	kada
se	PAR	se
poredi	N:m	poredi
sa	PREP	sa
ovim	PRO	ovaj
filmom	N:m	film
,	PUNCT	,
Blejd	N:m	Blejd
praktično	ADV	praktično
i	CONJ	i
nema	A:aem	nem
neke	PRO	neki
ideje	N:f	ideja
.	SENT	.
Ima	A:aem	Ima
priču	N:f	priča
o	PREP	o
glavnom	A:aef	glavnom
liku	N:f	lika
i	CONJ	i
priču	N:f	priča
o	PREP	o
tom	PRO	taj
nastanku	N:m	nastanak
ultra	ADV	ultra
,	PUNCT	,
mega	PREF	mega
,	PUNCT	,
giga	N:f	giga
zajebanog	A:aem	zajeban
vampira	N:m	vampir
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
ovde	ADV	ovde
mi	PRO	ja
se	PAR	se
sviđa	V:n	sviđa
što	PRO	što
su	PREF	su
ti	PRO	taj
vampiri	N:m	vampir
predstavljeni	V:m	predstaviti
ljudskije	A:bem	ljudski
.	SENT	.
Par	N:m	Par
stvari	N:f	stvar
koje	PRO	koji
mi	PRO	ja
se	PAR	se
ne	PAR	ne
sviđaju	V:m	sviđaju
su	N:m	su
u	PREP	u
principu	N:m	princip
sitnice	N:f	sitnica
ali	CONJ	ali
nekeko	N:f	nekeko
mi	PRO	ja
malo	ADV	malo
kvare	N:m	kvar
utisak	N:m	utisak
.	SENT	.
Gospodari	N:m	gospodar
svetla	N:n	svetlo
i	CONJ	i
tame	N:f	tama
su	N:m	su
naravno	PAR	naravno
likovi	N:m	lik
koji	PRO	koji
postoje	N:m	postoje
vekovima	N:m	vek
.	SENT	.
Gospodar	N:m	gospodar
sila	N:f	sila
tame	N:f	tama
koji	PRO	koji
mi	PRO	ja
deluje	N:m	deluje
zaista	PAR	zaista
dobro	ADV	dobro
,	PUNCT	,
u	PREP	u
sadašnjem	A:aem	sadašnji
vremenu	N:n	vreme
sedi	N:m	sedi
u	PREP	u
sobi	N:f	soba
i	CONJ	i
igra	N:f	igra
na	PREP	na
play	N:m	play
-	PUNCT	-
station	N:m	station
-	PUNCT	-
u	PREP	u
igricu	N:f	igrica
koja	PRO	koji
predstavlja	N:n	predstavlja
neki	PRO	neki
potencijalni	A:aem	potencijalan
događaj	N:m	događaj
.	SENT	.
To	PRO	taj
mi	PRO	ja
je	PRO	ona
malo	ADV	malo
delovalo	V:n	delovati
bezveze	N:f	bezveze
.	PUNCT	.
Mada	CONJ	mada
opet	ADV	opet
,	PUNCT	,
svi	PRO	sav
likovi	N:m	lik
deluju	A:aef	deluju
ljudskije	A:bef	ljudski
nego	CONJ	nego
što	PRO	što
bi	N:f	bi
izgledali	V:m	izgledati
u	PREP	u
mogućoj	A:aef	moguć
holivudskoj	A:aef	holivudski
verziji	N:f	verzija
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
Takođe	A:aem	Takođe
bih	N:m	bih
pohvalio	V:m	pohvaliti
i	CONJ	i
efekte	N:m	efekt
koji	PRO	koji
su	N:m	su
sjajni	A:aem	sjajan
i	CONJ	i
za	PREP	za
današnje	A:aen	današnji
uslove	N:m	uslov
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
jedina	A:aef	jedini
veća	N:n	veće
zamerka	N:f	zamerka
je	PRO	ona
što	CONJ	što
je	PRO	ona
film	N:m	film
sa	PREP	sa
ovoliko	ADV	ovoliko
dobrih	A:aem	dobar
priča	N:f	priča
i	CONJ	i
ideja	N:f	ideja
morao	V:m	morati
trajati	A:aem	trajati
mnogo	ADV	mnogo
više	ADV	više
.	PUNCT	.
I	CONJ	i
jedan	NUM	jedan
savet	N:m	savet
:	PUNCT	:
zbog	PREP	zbog
tako	ADV	tako
velike	A:aem	velik
količine	N:f	količina
ideja	N:f	ideja
i	CONJ	i
priča	N:f	priča
,	PUNCT	,
film	N:m	film
gledajte	N:m	gledajte
pažljivo	ADV	pažljivo
.	SENT	.
Ja	PRO	ja
sam	PRO	sam
prevideo	V:m	prevideti
jednu	NUM	jedan
veoma	ADV	veoma
bitnu	A:aef	bitan
stvar	N:f	stvar
kada	CONJ	kada
sam	PRO	sam
ga	PRO	on
davno	ADV	davno
gledao	V:m	gledati
.	SENT	.
