Slično	A:aen	Slično
svom	PRO	sav
prethodnom	A:aef	prethodan
božićnom	A:aef	božićni
filmu	N:m	film
,	PUNCT	,
Polar	N:m	Polar
Ekspres	N:m	ekspres
,	PUNCT	,
Zemeckis	N:m	Zemeckis
i	CONJ	i
u	PREP	u
Božićnoj	A:aef	Božićnoj
priči	N:f	priča
naprednu	A:aef	napredan
digitalnu	A:aef	digitalan
animaciju	N:f	animacija
koristi	N:f	korist
da	CONJ	da
razboli	N:m	razboli
sliku	N:f	slika
umesto	PREP	umesto
da	CONJ	da
je	PRO	ona
uhrani	N:f	uhrani
,	PUNCT	,
ostajući	A:aem	ostajući
veran	A:aem	veran
svojoj	PRO	svoj
ideji	N:f	ideja
trodimenzionalnog	A:aem	trodimenzionalan
košmara	N:m	košmar
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
talas	N:m	talas
modernih	A:aef	moderan
animiranih	A:aef	animiran
filmova	N:m	film
za	PREP	za
odrasle	A:aem	odrastao
koji	PRO	koji
novu	A:aen	nov
opremu	N:f	oprema
koriste	N:m	koriste
da	CONJ	da
pojačaju	N:m	pojačaju
senku	N:f	senka
umesto	PREP	umesto
da	CONJ	da
raspale	V:f	raspasti
vatromet	N:m	vatromet
boja	N:f	boja
,	PUNCT	,
u	PREP	u
međuvremenu	N:n	međuvreme
dobilo	V:n	dobiti
pojačanje	N:n	pojačanje
(	PUNCT	(
Koralina	N:f	Koralina
i	CONJ	i
tajanstveni	A:aem	tajanstven
svet	N:m	svet
)	PUNCT	)
,	PUNCT	,
u	PREP	u
slučaju	N:m	slučaj
Božićne	A:aef	Božićne
priče	N:f	priča
ovaj	PRO	ovaj
potez	N:m	potez
je	PRO	ona
doživljen	A:aem	doživljen
kao	CONJ	kao
drastičan	A:aem	drastičan
zbog	PREP	zbog
susreta	N:m	susret
hepikampera	N:m	hepikampera
Dickensa	N:m	Dickensa
,	PUNCT	,
Disneyja	N:m	Disneyja
i	CONJ	i
Božića	N:m	Božić
.	SENT	.
Iako	CONJ	iako
deluje	N:m	deluje
da	CONJ	da
je	PRO	ona
u	PREP	u
društvu	N:n	društvo
ovog	PRO	ovaj
drim	A:aem	drim
tima	N:m	tim
,	PUNCT	,
Zemeckis	N:m	Zemeckis
u	PREP	u
pratnji	N:f	pratnja
svojih	PRO	svoj
duhova	N:m	duh
koji	PRO	koji
kao	ADV	kao
da	CONJ	da
su	N:m	su
pobegli	V:m	pobeći
iz	PREP	iz
Alkatraza	N:m	Alkatraz
,	PUNCT	,
zaumni	A:aem	zaumni
partibrejker	N:m	partibrejker
,	PUNCT	,
ako	CONJ	ako
se	PAR	se
čovek	N:m	čovek
zagleda	N:m	zagleda
-	PUNCT	-
koalicija	N:f	koalicija
između	PREP	između
prethodna	A:aen	prethodan
tri	NUM	tri
već	CONJ	već
počiva	A:aem	počiva
na	PREP	na
nizu	N:m	niz
kompromisa	N:m	kompromis
,	PUNCT	,
pa	CONJ	pa
umesto	PREP	umesto
da	CONJ	da
na	PREP	na
tako	ADV	tako
založenu	A:aef	založen
božićnu	A:aef	božićni
furunu	N:f	furuna
nabaci	V:f	nabaci
još	ADV	još
koju	PRO	koji
cepanicu	N:f	cepanica
,	PUNCT	,
Zemeckis	N:m	Zemeckis
je	PRO	ona
sa	PREP	sa
stilom	N:m	stil
zasipa	N:m	zasip
hladnim	A:aef	hladan
tušem	N:m	tuš
.	SENT	.
Iza	PREP	iza
masnih	A:aef	masnih
senki	N:f	senka
koje	PRO	koji
su	N:m	su
se	PAR	se
spustile	V:f	spustiti
na	PREP	na
gospodina	N:m	gospodin
Scroogea	N:m	Scroogea
,	PUNCT	,
zamorca	N:m	zamorac
tri	NUM	tri
božićna	A:aem	božićni
duha	N:m	duh
–	A:aem	–
prošlog	A:aen	prošli
,	PUNCT	,
budućeg	A:aem	budući
i	CONJ	i
sadašnjeg	A:aem	sadašnji
,	PUNCT	,
leži	A:aem	leži
vrcav	A:aem	vrcav
humor	N:m	humor
i	CONJ	i
uverljiva	A:aen	uverljiv
životna	A:aen	životan
otrcanost	N:f	otrcanost
.	SENT	.
To	PRO	taj
je	PRO	ona
Zemeckisova	A:aem	Zemeckisova
sposobnost	N:f	sposobnost
da	CONJ	da
osmisli	N:f	osmisli
gizdav	A:aem	gizdav
fantastičan	A:aem	fantastičan
svet	N:m	svet
,	PUNCT	,
u	PREP	u
kom	PRO	koji
stanuje	N:m	stanuje
krezubi	A:aem	krezub
duh	N:m	duh
pokojnog	A:aen	pokojni
Scroogeovog	A:aem	Scroogeovog
partnera	N:m	partner
,	PUNCT	,
a	CONJ	a
da	CONJ	da
mu	PRO	on
onda	ADV	onda
spusti	N:m	spusti
kroz	PREP	kroz
usta	N:n	usta
Scroogea	N:m	Scroogea
,	PUNCT	,
koji	PRO	koji
na	PREP	na
poziv	N:m	poziv
takvih	PRO	takav
spodoba	N:f	spodoba
vudialenovski	A:aem	vudialenovski
kaže	N:f	kaža
:	PUNCT	:
ja	PRO	ja
radije	ADV	radije
ne	PAR	ne
bih	A:aen	bih
.	SENT	.
Od	PREP	od
dijaloga	N:m	dijalog
između	PREP	između
preplašenog	A:aem	preplašen
bogataša	N:m	bogataš
i	CONJ	i
duhova	N:m	duh
,	PUNCT	,
reditelj	N:m	reditelj
pravi	A:aem	prav
male	A:aef	mali
groteske	N:f	groteska
,	PUNCT	,
umesto	PREP	umesto
da	CONJ	da
dramu	N:f	drama
potencira	N:m	potencira
tobožnjim	A:aen	tobožnji
Scroogeovim	A:aen	Scroogeovim
shvatanjem	N:n	shvatanje
poente	N:f	poenta
.	SENT	.
Na	PREP	na
taj	PRO	taj
način	N:m	način
,	PUNCT	,
Zemeckis	N:m	Zemeckis
odvlači	A:aef	odvlači
pažnju	N:f	pažnja
sa	PREP	sa
svoje	PRO	svoj
fantazije	N:f	fantazija
na	PREP	na
tikove	A:aem	tikov
junaka	N:m	junak
,	PUNCT	,
praveći	A:aem	praveći
od	PREP	od
Božićne	A:aef	Božićne
priče	N:f	priča
pravi	A:aem	prav
vašar	N:m	vašar
stresa	N:m	stres
i	CONJ	i
približavajući	N:n	približavajući
je	PRO	ona
savremenom	A:aem	savremen
gledaocu	N:m	gledalac
kome	PRO	koji
je	PRO	ona
,	PUNCT	,
od	PREP	od
još	ADV	još
jedne	NUM	jedan
božićne	A:aef	božićni
čestitke	N:f	čestitka
,	PUNCT	,
bolesno	ADV	bolesno
istrajne	A:aem	istrajan
na	PREP	na
svom	PRO	sav
optimističnom	A:aem	optimističan
ugovoru	N:m	ugovor
sa	PREP	sa
coca	N:m	coca
-	PUNCT	-
colinim	A:aem	colinim
omiljenim	A:aem	omiljen
kočijašem	N:m	kočijaš
,	PUNCT	,
ovakav	PRO	ovakav
pristup	N:m	pristup
daleko	ADV	daleko
bliskiji	A:bem	blizak
.	SENT	.
Osim	PREP	osim
humora	N:m	humor
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
gudi	A:aem	gudi
i	CONJ	i
melanholične	A:aef	melanholičan
melodije	N:f	melodija
,	PUNCT	,
za	PREP	za
šta	PRO	šta
je	PRO	ona
zaslužan	A:aem	zaslužan
maestro	N:m	maestro
-	PUNCT	-
duh	N:m	duh
prošlog	A:aen	prošli
Božića	N:m	Božić
.	SENT	.
Izgled	N:m	izgled
ovog	PRO	ovaj
glasnika	N:m	glasnik
davnih	A:aen	davni
vremena	N:n	vreme
-	PUNCT	-
plamičak	N:m	plamičak
sveće	N:f	sveća
koja	PRO	koji
dogoreva	A:aem	dogoreva
–	N:m	–
izaziva	A:aef	izaziva
nežnost	N:f	nežnost
i	CONJ	i
potrebu	N:f	potreba
da	CONJ	da
se	PAR	se
ruke	N:f	ruka
prinesu	N:m	prinesu
i	CONJ	i
plamen	N:m	plamen
sačuva	A:aem	sačuva
od	PREP	od
okolnog	A:aem	okolni
mraka	N:m	mrak
.	PUNCT	.
I	CONJ	i
to	PRO	taj
instinktivno	ADV	instinktivno
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
odloženo	V:n	odložiti
i	CONJ	i
kroz	PREP	kroz
praporce	N:m	praporac
.	SENT	.
Stecište	A:aen	Stecište
jeze	N:f	jeza
je	PRO	ona
duh	N:m	duh
sadašnjeg	A:aem	sadašnji
Božića	N:m	Božić
koji	PRO	koji
,	PUNCT	,
paradoksalno	A:aen	paradoksalan
,	PUNCT	,
ima	N:n	ima
najljudskije	A:cen	ljudski
obrise	N:m	obris
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
svaka	PRO	svaki
sadašnjost	N:f	sadašnjost
,	PUNCT	,
odviše	ADV	odviše
unosi	N:m	unos
u	PREP	u
lice	N:n	lice
.	SENT	.
Nasađen	N:m	Nasađen
na	PREP	na
telo	N:n	telo
pitona	N:m	piton
i	CONJ	i
groteskno	ADV	groteskno
odeven	A:aem	odeven
u	PREP	u
dedamrazovsku	N:m	dedamrazovsku
uniformu	N:f	uniforma
,	PUNCT	,
ovaj	PRO	ovaj
duh	N:m	duh
je	PRO	ona
glaziran	A:aem	glaziran
žutilom	N:n	žutilo
ilustracija	N:f	ilustracija
iz	PREP	iz
starih	A:aen	star
slikovnica	N:f	slikovnica
za	PREP	za
decu	N:f	deca
i	CONJ	i
asocira	N:m	asocira
na	PREP	na
bajate	A:aef	bajat
slatkiše	N:m	slatkiš
,	PUNCT	,
zasitne	A:aem	zasitan
mirise	N:m	miris
i	CONJ	i
generalno	A:aen	generalan
teskobu	N:f	teskoba
duha	N:m	duh
priklještenog	A:aem	priklješten
kao	CONJ	kao
podstanara	N:m	podstanar
koji	PRO	koji
od	PREP	od
nameštaja	N:m	nameštaj
ima	N:n	ima
samo	CONJ	samo
ringlu	N:f	ringla
za	PREP	za
podgrevanje	N:n	podgrevanje
sreće	N:f	sreća
.	SENT	.
Spram	PREP	spram
njega	PRO	on
,	PUNCT	,
duh	N:m	duh
budućeg	A:aem	budući
Božića	N:m	Božić
,	PUNCT	,
nalik	V:n	nalik
je	PRO	ona
smrti	N:f	smrt
sa	PREP	sa
Tarot	N:m	tarot
karata	N:f	karta
i	CONJ	i
deluje	A:aef	deluje
kao	CONJ	kao
romantična	A:aef	romantičan
ideja	N:f	ideja
o	PREP	o
smrti	N:f	smrt
koja	PRO	koji
zatiče	N:m	zatik
samo	PAR	samo
usamljene	V:f	usamiti
vitezove	N:m	vitez
koji	PRO	koji
spasavaju	A:aef	spasavaju
princeze	N:f	princeza
ili	CONJ	ili
se	PAR	se
kakvom	PRO	kakav
drugom	A:aef	drugi
plemenitošću	N:f	plemenitost
ogreše	N:n	ogreše
o	PREP	o
zaludne	A:aef	zaludan
bogove	N:m	bog
.	SENT	.
Božićna	A:aef	Božićna
priča	N:f	priča
je	PRO	ona
kao	ADV	kao
grudva	N:f	grudva
bačena	V:f	baciti
po	ADV	po
sred	PREP	sred
lepo	ADV	lepo
uređenog	A:aen	uređen
novogodišnjeg	A:aen	novogodišnji
izloga	N:m	izlog
,	PUNCT	,
i	CONJ	i
kao	CONJ	kao
svaka	PRO	svaki
grudva	N:f	grudva
prvo	ADV	prvo
hladi	A:aem	hladi
,	PUNCT	,
a	CONJ	a
zatim	ADV	zatim
greje	N:m	grej
više	ADV	više
nego	CONJ	nego
hiljade	N:f	hiljada
skupih	A:aef	skup
vati	N:f	vata
ubrizganih	A:aef	ubrizgan
u	PREP	u
novogodišnju	A:aef	novogodišnji
jelku	N:f	jelka
.	SENT	.
