Pogledao	V:m	pogledati
sam	PRO	sam
PRISONERS	N:m	PRISONERS
Denisa	N:m	Denis
Villeneuveal	N:m	Villeneuveal
,	PUNCT	,
prvi	A:aem	prvi
veliki	A:aem	velik
ovogodišnji	A:aem	ovogodišnji
favorit	N:m	favorit
za	PREP	za
'	A:aem	'
Oskara	N:m	Oskar
'	N:m	'
.	SENT	.
Nije	A:aem	Nije
reč	N:f	reč
o	PREP	o
filmu	N:m	film
za	PREP	za
koji	PRO	koji
se	PAR	se
može	A:aem	može
reći	N:m	reći
da	CONJ	da
je	PRO	ona
remek	N:m	remek
-	PUNCT	-
delo	N:n	delo
,	PUNCT	,
a	CONJ	a
kritika	N:f	kritika
ga	PRO	on
baš	PAR	baš
tako	ADV	tako
doživljava	A:aem	doživljava
,	PUNCT	,
ali	CONJ	ali
reč	N:f	reč
je	PRO	ona
o	PREP	o
prilično	ADV	prilično
uspelom	A:aen	uspeo
primenjivanju	N:n	primenjivanje
'	N:m	'
smrtno	ADV	smrtno
ozbiljnog	A:aem	ozbiljan
'	A:aem	'
pristupa	N:m	pristup
na	PREP	na
temu	N:f	tema
koja	PRO	koji
je	PRO	ona
do	PREP	do
sada	ADV	sada
mahom	ADV	mahom
bila	V:f	biti
zastupljena	V:m	zastupiti
u	PREP	u
žanrovskom	A:aem	žanrovski
šundu	N:m	šund
i	CONJ	i
ponekom	PRO	poneki
studioznijem	A:bem	studiozan
filmu	N:m	film
.	SENT	.
PRISONERS	N:m	PRISONERS
je	PRO	ona
u	PREP	u
osnovi	N:f	osnova
priča	N:f	priča
o	PREP	o
serijskom	A:aem	serijski
ubici	N:m	ubica
i	CONJ	i
najslabiji	A:cem	slab
aspekt	N:m	aspekt
filma	N:m	film
jeste	INT	jeste
upravo	ADV	upravo
sam	A:aem	sam
motiv	N:m	motiv
serijskog	A:aem	serijski
ubice	N:f	ubica
koji	PRO	koji
je	PRO	ona
više	ADV	više
oslonjen	A:aem	oslonjen
na	PREP	na
žanrovske	A:aef	žanrovski
osnove	N:f	osnova
nego	CONJ	nego
realizam	N:m	realizam
.	SENT	.
Sve	ADV	sve
ostalo	V:n	ostati
je	PRO	ona
međutim	PAR	međutim
pokušaj	N:m	pokušaj
da	CONJ	da
se	PAR	se
iz	PREP	iz
realističke	A:aef	realistički
vizure	N:f	vizura
sagleda	N:m	sagleda
kako	CONJ	kako
bi	N:f	bi
neki	PRO	neki
takav	PRO	takav
događaj	N:m	događaj
zaista	PAR	zaista
delovao	V:m	delovati
na	PREP	na
ljude	N:m	ljudi
i	CONJ	i
to	PRO	taj
čini	N:f	čini
ovaj	PRO	ovaj
film	N:m	film
vrlo	ADV	vrlo
zanimljivim	A:aem	zanimljiv
.	SENT	.
Villeneuve	A:aem	Villeneuve
uzima	N:m	uzo
motiv	N:m	motiv
serijskog	A:aem	serijski
ubice	N:f	ubica
i	CONJ	i
zadržava	N:f	zadržava
whodunit	A:aem	whodunit
aspekt	N:m	aspekt
,	PUNCT	,
vodeći	A:aem	vodeći
ga	PRO	on
vrlo	ADV	vrlo
vešto	ADV	vešto
,	PUNCT	,
i	CONJ	i
u	PREP	u
pogledu	N:m	pogled
žanrovskih	A:aef	žanrovski
praksi	N:f	praksa
,	PUNCT	,
to	PRO	taj
je	PRO	ona
vrlo	ADV	vrlo
uspeo	V:m	uspeti
aspekt	N:m	aspekt
ove	PRO	ovaj
priče	N:f	priča
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
ključna	A:aef	ključna
tema	N:f	tema
je	PRO	ona
pitanje	N:n	pitanje
sumnje	N:f	sumnja
i	CONJ	i
krivice	N:f	krivica
,	PUNCT	,
odlučivanja	N:n	odlučivanje
pod	PREP	pod
pritiskom	N:m	pritisak
,	PUNCT	,
monstruma	N:m	monstrum
koji	PRO	koji
se	PAR	se
budi	CONJ	budi
u	PREP	u
običnim	A:aef	običan
ljudima	N:m	ljudi
suočenim	A:aem	suočen
sa	PREP	sa
izazovima	N:m	izazov
,	PUNCT	,
i	CONJ	i
u	PREP	u
tom	PRO	taj
pogledu	N:m	pogled
Villeneuve	A:aem	Villeneuve
nastavlja	N:n	nastavlja
svoje	PRO	svoj
bavljenje	N:n	bavljenje
vrlo	ADV	vrlo
pretencioznim	A:aef	pretenciozan
temama	N:f	tema
,	PUNCT	,
oslanjajući	V:m	oslanjajući
se	PAR	se
na	PREP	na
'	A:aem	'
teške	A:aem	težak
'	N:m	'
mitske	A:aef	mitski
matrice	N:f	matrica
.	SENT	.
Ovde	ADV	ovde
nema	A:aem	nem
toliko	ADV	toliko
jasno	ADV	jasno
čitljivog	A:aen	čitljiv
mita	N:n	mito
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
bio	V:m	biti
Edip	N:m	Edip
u	PREP	u
njegovom	PRO	njegov
nagrađenom	A:aef	nagrađen
filmu	N:m	film
INCENDIES	N:m	INCENDIES
,	PUNCT	,
iako	CONJ	iako
je	PRO	ona
deo	N:m	deo
kritike	N:f	kritika
to	PRO	taj
pokušavao	V:m	pokušavati
da	CONJ	da
mu	PRO	on
'	A:aem	'
spočita	A:aem	spočita
'	N:m	'
,	PUNCT	,
povezujući	N:m	povezujući
i	CONJ	i
PRISONERS	N:m	PRISONERS
sa	PREP	sa
nekim	PRO	neki
biblijskim	A:aem	biblijski
motivima	N:m	motiv
koji	PRO	koji
meni	PRO	ja
nisu	N:m	nisu
bili	V:m	biti
prisutni	A:aem	prisutan
u	PREP	u
samim	PRO	sam
temeljima	N:m	temelj
filma	N:m	film
.	SENT	.
Biblija	N:f	Biblija
je	PRO	ona
ovde	ADV	ovde
pe	V:m	pe
svega	PRO	sav
prisutna	A:aef	prisutan
kao	CONJ	kao
'	A:aem	'
opijum	N:m	opijum
za	PREP	za
narod	N:m	narod
'	N:m	'
i	CONJ	i
u	PREP	u
onom	PRO	onaj
pozitivnom	A:aen	pozitivan
i	CONJ	i
u	PREP	u
onom	PRO	onaj
negativnom	A:aef	negativan
aspektu	N:m	aspekt
te	PRO	taj
izjave	N:f	izjava
,	PUNCT	,
ali	CONJ	ali
nije	A:aem	nije
previše	ADV	previše
uticala	V:f	uticati
na	PREP	na
samu	PRO	sam
strukturu	N:f	struktura
filma	N:m	film
.	SENT	.
Hugh	A:aem	Hugh
Jackman	N:m	Jackman
i	CONJ	i
dalje	ADV	dalje
kanališe	A:aem	kanališe
Mela	N:m	Mel
Gibsona	N:m	Gibson
,	PUNCT	,
ovog	PRO	ovaj
puta	ADV	puta
njegov	PRO	njegov
rad	N:m	rad
iz	PREP	iz
filmova	N:m	film
kao	CONJ	kao
što	CONJ	što
je	PRO	ona
pre	PREP	pre
svih	PRO	sav
RANSOM	N:m	Ransom
a	CONJ	a
zatim	ADV	zatim
jednim	NUM	jedan
delom	N:m	deo
i	CONJ	i
SIGNS	N:m	SIGNS
.	PUNCT	.
Jake	A:aef	jak
Gylenhaal	N:m	Gylenhaal
,	PUNCT	,
to	PRO	taj
je	PRO	ona
tradicionalistički	A:aem	tradicionalistički
indie	N:m	indie
.	SENT	.
Paul	N:m	Paul
Dano	N:f	Dana
,	PUNCT	,
Melissa	N:f	Melissa
Leo	N:m	Leo
,	PUNCT	,
Maria	N:f	Maria
Bello	N:m	Bello
,	PUNCT	,
Terrence	N:f	Terrence
Howad	N:m	Howad
i	CONJ	i
ostali	V:m	ostati
zaokružuju	N:m	zaokružuju
glumački	A:aem	glumački
ansambl	N:m	ansambl
bez	PREP	bez
slabog	A:aem	slab
mesta	N:n	mesto
.	PUNCT	.
Iako	CONJ	iako
radi	PREP	radi
sa	PREP	sa
All	N:m	All
-	PUNCT	-
Star	N:m	Star
ekipom	N:f	ekipa
,	PUNCT	,
Villeneuve	A:aem	Villeneuve
uspeva	N:m	uspeva
da	CONJ	da
vrlo	ADV	vrlo
jasno	ADV	jasno
profiliše	A:aem	profiliše
glavne	A:aem	glavne
likove	N:m	lik
,	PUNCT	,
ne	PAR	ne
dopušta	A:aem	dopušta
sporednim	A:aem	sporedan
glumcima	N:m	glumac
da	CONJ	da
zasene	N:f	zasena
glavne	A:aem	glavne
što	CONJ	što
se	PAR	se
često	ADV	često
dešava	V:m	dešava
u	PREP	u
filmovima	N:m	film
sa	PREP	sa
ovakvom	PRO	ovakav
podelom	N:f	podela
.	SENT	.
u	PREP	u
tom	PRO	taj
pogledu	N:m	pogled
,	PUNCT	,
PRISONERS	N:m	PRISONERS
ima	A:aef	ima
fizionomiju	N:f	fizionomija
indie	A:aem	indie
filma	N:m	film
ali	CONJ	ali
ima	N:f	ima
i	CONJ	i
perspektivu	N:f	perspektiva
a	CONJ	a
blagajnama	N:f	blagajna
kao	CONJ	kao
razumljiv	A:aem	razumljiv
glavnotokovski	A:aem	glavnotokovski
produkt	N:m	produkt
.	SENT	.
Villeneuve	A:aem	Villeneuve
donosi	N:m	donosi
blagu	A:aef	blag
arty	A:aem	arty
estetizaciju	N:f	estetizaciju
ambijenata	N:m	ambijent
i	CONJ	i
detalja	N:m	detalj
,	PUNCT	,
nudi	N:f	nudi
filmu	N:m	film
nešto	PRO	nešto
upmarket	N:m	upmarket
atmosfere	N:f	atmosfera
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
iskoračuje	N:m	iskoračuje
iz	PREP	iz
okvira	N:m	okvir
prihvaćenih	A:aen	prihvaćen
mainstream	N:m	mainstream
konvencija	N:f	konvencija
u	PREP	u
pogledu	N:m	pogled
tempa	N:m	tempo
.	SENT	.
Neka	PRO	neki
rediteljska	A:aen	rediteljski
rešenja	N:n	rešenje
su	PREF	su
blago	ADV	blago
sofisticiranija	A:bef	sofisticiran
od	PREP	od
tipičnog	A:aem	tipičan
trilera	N:m	triler
,	PUNCT	,
ali	CONJ	ali
jasno	ADV	jasno
je	PRO	ona
da	CONJ	da
Villeneuve	A:aem	Villeneuve
namerava	N:m	namerava
da	CONJ	da
se	PAR	se
obrati	N:m	obrat
široj	A:bef	širok
publici	N:f	publika
.	SENT	.
U	PREP	u
tom	PRO	taj
smislu	N:m	smisao
,	PUNCT	,
reč	N:f	reč
je	PRO	ona
o	PREP	o
dobro	ADV	dobro
odmerenom	A:aem	odmeren
holivudskom	A:aem	holivudski
debiju	N:m	debi
reditelja	N:m	reditelj
sa	PREP	sa
art	N:m	Art
house	N:m	house
reputacijom	N:f	reputacija
u	PREP	u
kome	PRO	koji
je	PRO	ona
ispratio	V:m	ispratiti
njihove	PRO	njihov
zahteve	N:m	zahtev
a	CONJ	a
da	CONJ	da
nije	A:aem	nije
izgubio	V:m	izgubiti
identitet	N:m	identitet
.	SENT	.
U	PREP	u
pogledu	N:m	pogled
tematskih	A:aef	tematski
izbora	N:m	izbor
i	CONJ	i
autorskih	A:aen	autorski
ambicija	N:f	ambicija
,	PUNCT	,
PRISONERS	N:m	PRISONERS
je	PRO	ona
zanimljiv	A:aem	zanimljiv
uzor	N:m	uzor
za	PREP	za
onu	PRO	onaj
vrstu	N:f	vrsta
materijala	N:m	materijal
kojom	PRO	koji
se	PAR	se
kod	PREP	kod
nas	PRO	mi
recimo	A:aen	recimo
bavi	A:aen	bavi
Srdan	N:m	Srdan
Golubović	N:m	Golubović
,	PUNCT	,
i	CONJ	i
pokazuje	N:m	pokazuje
kako	CONJ	kako
se	PAR	se
u	PREP	u
za	PREP	za
klasu	N:f	klasa
većem	A:ben	velik
dometu	N:m	domet
tretiraju	N:n	tretiraju
podjednako	ADV	podjednako
bombastične	A:aef	bombastičan
teme	N:f	tema
i	CONJ	i
odnosi	N:m	odnos
.	SENT	.
Naročito	N:f	Naročito
je	PRO	ona
zanimljivo	ADV	zanimljivo
uporediti	A:aem	uporediti
montažna	A:aen	montažni
rešenja	N:n	rešenje
na	PREP	na
kraju	N:m	kraj
KRUGOVA	N:m	krug
i	CONJ	i
PRISONERSa	N:m	PRISONERSa
,	PUNCT	,
gde	CONJ	gde
Villeneuve	A:aem	Villeneuve
ima	N:m	ima
neuporedivo	A:aen	neuporediv
superiornije	A:bem	superioran
rešenje	N:n	rešenje
na	PREP	na
kraju	N:m	kraj
.	SENT	.
Sam	A:aem	sam
aspekt	N:m	aspekt
mučenja	N:n	mučenje
osumnjičenog	A:aen	osumnjičen
svakako	ADV	svakako
čini	N:f	čini
da	CONJ	da
PRISONERS	N:m	PRISONERS
odjekne	A:aem	odjekne
i	CONJ	i
kao	ADV	kao
neprikrivena	A:aef	neprikriven
kritika	N:f	kritika
američkih	A:aef	američki
praksi	N:f	praksa
u	PREP	u
'	A:aem	'
ratu	N:m	rat
protiv	PREP	protiv
terorizma	N:m	terorizam
'	N:m	'
.	SENT	.
U	PREP	u
tom	PRO	taj
smislu	N:m	smisao
,	PUNCT	,
PRISONERS	N:m	PRISONERS
je	PRO	ona
školski	A:aem	školski
primer	N:m	primer
višeslojnog	A:aem	višeslojan
upmarket	N:m	upmarket
filma	N:m	film
.	SENT	.
Ono	PRO	onaj
što	PRO	što
se	PAR	se
međutim	PAR	međutim
izdvaja	N:m	izdvaja
kao	CONJ	kao
osnovna	A:aen	osnovni
mana	N:f	mana
je	PRO	ona
to	PRO	taj
što	CONJ	što
je	PRO	ona
u	PREP	u
samoj	PRO	sam
osnovi	N:f	osnova
scenarija	N:m	scenario
Aarona	N:f	Aarona
Guzikowskog	A:aem	Guzikowskog
ovo	PRO	ovaj
ipak	PAR	ipak
jedan	NUM	jedan
triler	N:m	triler
koji	PRO	koji
svoje	PRO	svoj
pogonsko	A:aen	pogonski
goriva	N:n	gorivo
nalazi	N:m	nalaz
u	PREP	u
tome	PRO	taj
što	CONJ	što
se	PAR	se
ne	PAR	ne
tretira	V:m	tretira
baš	PAR	baš
svaki	PRO	svaki
detalj	N:m	detalj
smrtno	ADV	smrtno
ozbiljno	ADV	ozbiljno
.	SENT	.
Villeneuve	N:m	Villeneuve
sve	PRO	sav
to	PRO	taj
podiže	A:aem	podiže
na	PREP	na
jedan	NUM	jedan
znatno	ADV	znatno
viši	A:aem	viši
nivo	N:m	nivo
,	PUNCT	,
ali	CONJ	ali
upravo	ADV	upravo
neke	PRO	neki
'	A:aem	'
rupe	N:f	rupa
'	A:aem	'
koje	PRO	koji
su	N:m	su
sine	N:m	sin
qua	N:m	qua
non	N:m	non
žanrovskog	A:aem	žanrovski
filma	N:m	film
čine	N:m	čin
da	CONJ	da
u	PREP	u
pojedinim	A:aen	pojedini
detaljima	N:m	detalj
PRISONERS	N:m	PRISONERS
pokaže	V:m	pokaže
blage	A:aef	blag
znake	N:m	znak
neuravnoteženosti	N:f	neuravnoteženost
između	PREP	između
materijala	N:m	materijal
na	PREP	na
kome	PRO	koji
je	PRO	ona
izgrađen	A:aem	izgrađen
i	CONJ	i
autorskih	A:aen	autorski
namera	N:f	namera
.	SENT	.
