U	PREP	u
filmu	N:m	film
Wrestler	N:m	Wrestler
smo	N:f	smo
imali	V:m	imati
jednu	NUM	jedan
legendu	N:f	legenda
koja	PRO	koji
polako	ADV	polako
pada	N:m	pad
u	PREP	u
zaborav	N:m	zaborav
ali	CONJ	ali
koja	PRO	koji
je	PRO	ona
još	ADV	još
uvek	ADV	uvek
u	PREP	u
poslu	N:m	posao
.	SENT	.
U	PREP	u
Bulevaru	N:m	bulevar
Sumraka	N:m	Sumrak
imamo	N:m	imamo
bivšu	A:aef	bivši
,	PUNCT	,
već	PAR	već
zaboravljenu	A:aef	zaboravljen
zvezdu	N:f	zvezda
.	SENT	.
Bez	PREP	bez
trunke	N:f	trunka
sumnje	N:f	sumnja
mogu	A:aef	mogu
reći	N:f	reći
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
najbolja	A:cem	dobar
karakterizacija	N:f	karakterizacija
takvog	PRO	takav
lika	N:m	lik
koju	PRO	koji
sam	PRO	sam
do	PREP	do
sada	ADV	sada
video	V:m	videti
.	SENT	.
Prvo	ADV	prvo
o	PREP	o
glavnom	A:aef	glavnom
liku	N:f	lika
.	SENT	.
Nikada	ADV	nikada
nisam	N:m	nisam
do	PREP	do
sada	ADV	sada
video	V:m	videti
da	CONJ	da
se	PAR	se
glavni	A:aem	glavni
lik	N:m	lik
u	PREP	u
filmu	N:m	film
iskoristi	N:m	iskoristi
da	CONJ	da
bi	A:aem	bi
se	PAR	se
prikazala	V:f	prikazati
dva	NUM	dva
uslovno	ADV	uslovno
rečeno	V:n	reći
sporedna	A:aef	sporedan
,	PUNCT	,
na	PREP	na
ovako	ADV	ovako
dobar	A:aem	dobar
način	N:m	način
.	SENT	.
Glavni	A:aem	Glavni
lik	N:m	lik
je	PRO	ona
narator	N:m	narator
koji	PRO	koji
nas	PRO	mi
vodi	N:f	voda
kroz	PREP	kroz
neku	PRO	neki
svoju	PRO	svoj
priču	N:f	priča
za	PREP	za
koju	PRO	koji
me	PRO	ja
iskreno	ADV	iskreno
nije	A:aem	nije
bilo	V:n	biti
briga	N:f	briga
.	SENT	.
Ono	PRO	onaj
što	PRO	što
potpuno	ADV	potpuno
privlači	A:aen	privlači
pažnju	N:f	pažnja
su	PREF	su
likovi	N:m	lik
zaboravljene	A:aef	zaboravljen
zvezde	N:f	zvezda
i	CONJ	i
njenog	PRO	njen
misterioznog	A:aem	misteriozan
sluge	N:f	sluga
.	SENT	.
U	PREP	u
početku	N:m	početak
mi	PRO	ja
je	PRO	ona
gluma	N:f	gluma
Glorije	N:f	Glorija
Svanson	N:m	Svanson
delovala	V:f	delovati
prilično	ADV	prilično
teatralno	ADV	teatralno
ali	CONJ	ali
se	PAR	se
vremenom	ADV	vremenom
to	PRO	taj
uklopilo	V:n	uklopiti
sjajno	ADV	sjajno
u	PREP	u
psihu	N:f	psiha
žene	N:f	žena
koja	PRO	koji
zauvek	ADV	zauvek
želi	V:m	žeti
glumiti	N:m	glumiti
.	SENT	.
Sjajna	A:aef	sjajan
stvar	N:f	stvar
je	PRO	ona
što	PRO	što
je	PRO	ona
izbegnuto	V:n	izbegnuti
svako	PRO	svaki
patetisanje	N:n	patetisanje
sa	PREP	sa
pričom	N:f	priča
o	PREP	o
toj	PRO	taj
zaboravljenoj	A:aef	zaboravljen
glumici	N:f	glumica
.	SENT	.
Za	PREP	za
očekivati	A:aem	očekivati
je	PRO	ona
bilo	V:n	biti
da	CONJ	da
će	A:aem	će
postojati	A:aem	postojati
gomila	N:f	gomila
takvih	PRO	takav
scena	N:f	scena
.	SENT	.
Ne	PAR	ne
,	PUNCT	,
ovde	ADV	ovde
se	PAR	se
baziraju	N:n	baziraju
na	PREP	na
razvoj	N:m	razvoj
njenog	PRO	njen
lika	N:m	lik
i	CONJ	i
otkrivanje	N:n	otkrivanje
psihološkog	A:aem	psihološki
stanja	N:n	stanje
u	PREP	u
kojoj	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
.	SENT	.
Zbog	PREP	zbog
toga	PRO	taj
ćete	N:m	ćete
i	CONJ	i
mrzeti	N:m	mrzeti
i	CONJ	i
sažaljevati	N:m	sažaljevati
ovaj	PRO	ovaj
lik	N:m	lik
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
zbog	PREP	zbog
gluposti	N:f	glupost
kao	CONJ	kao
dotično	A:aen	dotični
priglupo	A:aen	priglup
i	CONJ	i
nevaspitano	A:aen	nevaspitan
derište	N:n	derište
iz	PREP	iz
Prohujalo	A:aen	prohujao
Sa	A:aem	Sa
Vihorom	N:m	vihor
,	PUNCT	,
već	CONJ	već
zbog	PREP	zbog
onoga	PRO	onaj
što	CONJ	što
je	PRO	ona
bila	V:f	biti
a	CONJ	a
do	PREP	do
čega	PRO	šta
je	PRO	ona
došla	V:f	doći
.	SENT	.
Ovde	ADV	ovde
se	PAR	se
vidi	N:f	vida
sva	PRO	sav
tragedija	N:f	tragedija
koju	PRO	koji
neko	PRO	neki
ko	PRO	ko
je	PRO	ona
bio	V:m	biti
zvezda	N:f	zvezda
doživi	A:aem	doživi
.	SENT	.
Kako	CONJ	kako
se	PAR	se
film	N:m	film
ne	PAR	ne
bi	V:m	bi
samo	PAR	samo
bazirao	V:m	bazirati
na	PREP	na
tome	PRO	taj
,	PUNCT	,
zaboravljena	A:aen	zaboravljen
zvezda	N:f	zvezda
ima	A:aef	ima
slugu	N:f	sluga
o	PREP	o
kome	PRO	koji
ne	PAR	ne
želim	A:aem	želim
ništa	ADV	ništa
da	CONJ	da
pričam	N:m	pričam
.	SENT	.
Jednostavno	ADV	jednostavno
ovo	PRO	ovaj
morate	N:m	Morat
videti	A:aem	videti
i	CONJ	i
siguran	A:aem	siguran
sam	A:aem	sam
da	CONJ	da
ćete	N:m	ćete
se	PAR	se
oduševiti	A:aem	oduševiti
tim	PRO	taj
likom	N:m	lik
.	SENT	.
Stvari	N:f	stvar
koje	PRO	koji
on	PRO	on
čini	N:f	čini
i	CONJ	i
ko	PRO	ko
je	PRO	ona
on	PRO	on
zapravo	ADV	zapravo
je	PRO	ona
nešto	ADV	nešto
što	CONJ	što
nikako	PAR	nikako
niste	N:m	niste
mogli	V:m	moći
očekivati	A:aem	očekivati
.	SENT	.
Tu	ADV	tu
je	PRO	ona
i	CONJ	i
priča	N:f	priča
o	PREP	o
ovom	PRO	ovaj
glavnom	A:aef	glavnom
liku	N:f	lika
.	SENT	.
To	PRO	taj
je	PRO	ona
jedna	NUM	jedan
obična	A:aef	običan
holivudska	A:aef	holivudski
pričica	N:f	pričica
koju	PRO	koji
ste	N:m	ste
već	PAR	već
mnogo	ADV	mnogo
puta	ADV	puta
videli	V:m	videti
ali	CONJ	ali
je	PRO	ona
poslužila	V:m	poslužiti
kao	CONJ	kao
pozadina	N:f	pozadina
ovoj	PRO	ovaj
glavnoj	A:aef	glavnoj
.	SENT	.
Pomenuo	V:m	pomenuti
bih	A:aem	bih
još	ADV	još
i	CONJ	i
samu	PRO	sam
simboliku	N:f	simbolika
naslova	N:m	naslov
koji	PRO	koji
jasno	ADV	jasno
oslikava	A:aen	oslikava
stanje	N:n	stanje
u	PREP	u
kom	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
život	N:m	život
zaboravljene	A:aef	zaboravljen
filmske	A:aem	filmski
zvezde	N:f	zvezda
.	SENT	.
Neretko	ADV	neretko
ovi	PRO	ovaj
stariji	A:bem	star
filmovi	N:m	film
imaju	N:f	imaju
spor	A:aem	spor
ritam	N:m	ritam
ali	CONJ	ali
ovde	ADV	ovde
ne	PAR	ne
postoji	N:m	postoji
nijedan	A:aem	nijedan
protraćen	A:aem	protraćen
momenat	N:m	moment
.	SENT	.
Film	N:m	film
je	PRO	ona
veoma	ADV	veoma
zabavan	A:aem	zabavan
,	PUNCT	,
prilično	ADV	prilično
zanimljiv	A:aem	zanimljiv
i	CONJ	i
vidi	N:f	vida
se	PAR	se
kvalitet	N:m	kvalitet
koji	PRO	koji
ga	PRO	on
stavlja	N:n	stavlja
među	PREP	među
klasike	N:f	klasika
.	SENT	.
