Sam	A:aem	sam
početak	N:m	početak
filma	N:m	film
je	PRO	ona
takav	PRO	takav
da	CONJ	da
me	PRO	ja
je	PRO	ona
odmah	ADV	odmah
kupio	V:m	kupiti
.	SENT	.
Noć	A:aen	Noć
,	PUNCT	,
šumovit	A:aem	šumovit
proplanak	N:m	proplanak
,	PUNCT	,
starica	N:f	starica
i	CONJ	i
misteriozni	A:aem	misteriozan
stranac	N:m	stranac
upečatljivog	A:aem	upečatljiv
glasa	N:m	glas
,	PUNCT	,
potpuno	ADV	potpuno
obučen	V:m	obući
u	PREP	u
crveno	ADV	crveno
koji	PRO	koji
joj	PRO	ona
govori	N:m	govor
da	CONJ	da
je	PRO	ona
dan	N:m	dan
izbavljenja	N:n	izbavljenje
blizu	ADV	blizu
.	SENT	.
Brzo	ADV	brzo
se	PAR	se
upoznajemo	A:aen	upoznajemo
sa	PREP	sa
glavnim	A:aem	glavnim
negativcem	N:m	negativac
,	PUNCT	,
princom	N:m	princ
Prosperom	N:m	Prosperom
koga	PRO	koji
glumi	N:f	gluma
najveći	A:cem	velik
među	PREP	među
najvećima	A:cef	velik
,	PUNCT	,
njegovo	PRO	njegov
visočanstvo	N:n	visočanstvo
Vinsent	N:m	Vinsent
Prajs	N:m	Prajs
.	SENT	.
To	PRO	taj
vam	PRO	vi
je	PRO	ona
dovoljno	ADV	dovoljno
da	CONJ	da
znate	V:f	znati
da	CONJ	da
je	PRO	ona
gluma	N:f	gluma
vrhunska	A:aem	vrhunski
.	SENT	.
Prvi	A:aem	prvi
utisak	N:m	utisak
je	PRO	ona
,	PUNCT	,
pošto	CONJ	pošto
vidimo	A:aen	vidimo
gomile	N:f	gomila
surovosti	N:f	surovost
koje	PRO	koji
proističu	N:m	proističu
iz	PREP	iz
njegovog	PRO	njegov
zla	N:n	zlo
,	PUNCT	,
da	CONJ	da
će	V:m	će
ovo	PRO	ovaj
biti	N:f	bit
film	N:m	film
prepun	A:aem	prepun
mučenja	N:n	mučenje
nevinih	A:aem	nevin
i	CONJ	i
film	N:m	film
u	PREP	u
kome	PRO	koji
će	N:m	će
se	PAR	se
sve	PRO	sav
scene	N:f	scena
zasnivati	A:aem	zasnivati
na	PREP	na
tome	PRO	taj
da	CONJ	da
zlo	N:n	zlo
ovog	PRO	ovaj
glavnog	A:aem	glavnog
lika	N:m	lik
konstantno	A:aen	konstantan
dolazi	N:m	dolaz
do	PREP	do
izražaja	N:m	izražaj
.	PUNCT	.
I	CONJ	i
tu	ADV	tu
sam	PRO	sam
se	PAR	se
prevario	V:m	prevariti
.	SENT	.
On	PRO	on
je	PRO	ona
princ	N:m	princ
koji	PRO	koji
na	PREP	na
svom	PRO	sav
dvoru	N:m	dvor
,	PUNCT	,
svim	PRO	sav
plemićima	N:m	plemić
i	CONJ	i
bogatašima	N:m	bogataš
,	PUNCT	,
pruža	A:aen	pruža
utočište	N:n	utočište
od	PREP	od
crvene	A:aef	crven
smrti	N:f	smrt
.	PUNCT	.
E	CONJ	e
ovde	ADV	ovde
već	PAR	već
imamo	N:m	imamo
nekoliko	ADV	nekoliko
stvari	N:f	stvar
za	PREP	za
analizu	N:f	analiza
.	SENT	.
Prvo	ADV	prvo
,	PUNCT	,
ti	PRO	taj
bogataši	N:m	bogataš
,	PUNCT	,
na	PREP	na
čelu	N:n	čelo
sa	PREP	sa
njim	PRO	on
su	N:m	su
članovi	N:m	član
kulta	N:m	kult
koji	PRO	koji
obožava	N:f	obožava
Satanu	A:aem	Satanu
.	SENT	.
Film	N:m	film
se	PAR	se
dosta	ADV	dosta
dobro	ADV	dobro
igra	N:f	igra
sa	PREP	sa
pitanjima	N:n	pitanje
Boga	A:aem	Boga
i	CONJ	i
Satane	A:aem	Satane
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
pitanjima	N:n	pitanje
vere	N:f	vera
.	SENT	.
Svaki	PRO	svaki
razgor	N:m	razgor
o	PREP	o
tome	PRO	taj
iznosi	N:m	iznos
gomilu	N:f	gomila
inteligentno	A:aen	inteligentan
sročenih	A:aem	sročen
stavova	N:m	stav
i	CONJ	i
prikazuje	N:m	prikazuje
verovanje	N:n	verovanje
u	PREP	u
svim	PRO	sav
svojim	PRO	svoj
vrlinama	N:f	vrlina
i	CONJ	i
slabostima	N:f	slabost
.	SENT	.
Danas	ADV	danas
se	PAR	se
to	PRO	taj
dosta	ADV	dosta
isključivo	ADV	isključivo
radi	PREP	radi
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
to	PRO	taj
je	PRO	ona
ovde	ADV	ovde
ubačeno	V:n	ubaciti
u	PREP	u
takvoj	PRO	takav
formi	N:f	forma
da	CONJ	da
će	A:aem	će
ljudi	N:m	ljudi
koji	PRO	koji
vole	N:m	vo
da	CONJ	da
uključe	A:aem	uključe
mozak	N:m	mozak
dok	CONJ	dok
gledaju	N:m	gledaju
film	N:m	film
imati	N:f	imati
o	PREP	o
čemu	PRO	šta
da	CONJ	da
razmišljaju	N:m	razmišljaju
,	PUNCT	,
dok	CONJ	dok
onim	PRO	onaj
drugima	A:aem	drugi
to	PRO	taj
neće	N:m	neće
ni	CONJ	ni
smetati	A:aem	smetati
jer	CONJ	jer
ipak	PAR	ipak
,	PUNCT	,
ti	PRO	taj
razgovori	N:m	razgovor
su	N:m	su
uvek	ADV	uvek
ubačeni	A:aem	ubačen
da	CONJ	da
proprate	A:aem	proprate
deo	N:m	deo
priče	N:f	priča
.	SENT	.
S	PREP	s
obzirom	N:m	obzir
da	CONJ	da
je	PRO	ona
reč	N:f	reč
o	PREP	o
kultu	N:m	kult
,	PUNCT	,
jedina	A:aef	jedini
stvar	N:f	stvar
koja	PRO	koji
je	PRO	ona
meni	PRO	ja
falila	V:f	faliti
je	PRO	ona
neki	PRO	neki
upečatljiviji	A:bem	upečatljiv
grupni	A:aem	grupni
obred	N:m	obred
,	PUNCT	,
kako	CONJ	kako
bi	V:m	bi
se	PAR	se
to	PRO	taj
idolopoklonstvo	N:n	idolopoklonstvo
Satani	A:aem	Satani
prikazalo	V:n	prikazati
na	PREP	na
neki	PRO	neki
još	ADV	još
mističniji	A:bem	mističan
i	CONJ	i
brutalniji	A:bem	brutalan
način	N:m	način
.	SENT	.
Sledeća	A:aef	Sledeća
stvar	N:f	stvar
je	PRO	ona
već	PAR	već
pomenuto	V:n	pomenuti
prinčevo	A:aen	prinčev
zlo	N:n	zlo
.	SENT	.
U	PREP	u
filmovima	N:m	film
imate	A:aem	imate
negativce	N:m	negativac
zaslepljene	A:aem	zaslepljen
zlom	N:n	zlo
koje	PRO	koji
ih	PRO	ona
vodi	N:f	voda
i	CONJ	i
oni	PRO	onaj
čine	N:m	čin
svakakve	PRO	svakakav
pizdarije	N:f	pizdarija
bez	PREP	bez
nekog	PRO	neki
intelektualnog	A:aem	intelektualan
smisla	N:m	smisao
.	SENT	.
Princ	N:m	Princ
Prosper	N:m	Prosper
je	PRO	ona
inteligentan	A:aem	inteligentan
a	CONJ	a
uz	PREP	uz
to	PRO	taj
je	PRO	ona
otelotvorenje	N:n	otelotvorenje
istinskog	A:aen	istinski
zla	N:n	zlo
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
Prajs	N:m	Prajs
je	PRO	ona
to	PRO	taj
izneo	V:m	izneti
velemajstorski	A:aem	velemajstorski
.	PUNCT	.
E	CONJ	e
sada	ADV	sada
,	PUNCT	,
poslastica	N:f	poslastica
.	PUNCT	.
Crvena	A:aef	crven
smrt	N:f	smrt
je	PRO	ona
nešto	ADV	nešto
što	CONJ	što
ovde	ADV	ovde
podiže	A:aem	podiže
mnoga	A:aem	mnogi
pitanja	N:n	pitanje
.	SENT	.
Oni	PRO	onaj
koji	PRO	koji
su	N:m	su
već	PAR	već
gledali	V:m	gledati
film	N:m	film
,	PUNCT	,
složiće	V:m	složiće
se	PAR	se
da	CONJ	da
nepažljivom	A:aem	nepažljiv
gledaocu	N:m	gledalac
to	PRO	taj
sve	PRO	sav
može	A:aem	može
delovati	N:m	delovati
kao	CONJ	kao
neka	PRO	neki
neizlečiva	A:aef	neizlečiv
smrtonosna	A:aef	smrtonosan
bolest	N:f	bolest
a	CONJ	a
da	CONJ	da
je	PRO	ona
čovek	N:m	čovek
koji	PRO	koji
je	PRO	ona
predstavlja	N:n	predstavlja
samo	CONJ	samo
simbol	N:m	simbol
.	SENT	.
Kada	CONJ	kada
pogledate	A:aem	pogledate
kraj	N:m	kraj
,	PUNCT	,
bezbroj	ADV	bezbroj
pitanja	N:n	pitanje
se	PAR	se
otvara	N:m	otvara
.	SENT	.
Za	PREP	za
mene	PRO	ja
taj	PRO	taj
kraj	PREP	kraj
predstavlja	N:n	predstavlja
nešto	ADV	nešto
kao	CONJ	kao
veliki	A:aem	velik
potop	N:m	potop
,	PUNCT	,
kazna	N:f	kazna
svetu	A:aen	svet
ogrezlom	N:f	ogrezlom
u	PREP	u
greh	N:m	greh
.	PUNCT	.
Ali	CONJ	ali
ako	CONJ	ako
ta	PRO	taj
kazna	N:f	kazna
očigledno	ADV	očigledno
ne	PAR	ne
dolazi	N:m	dolaz
od	PREP	od
Boga	N:m	bog
u	PREP	u
koga	PRO	koji
se	PAR	se
u	PREP	u
ovoj	PRO	ovaj
priči	N:f	priča
ne	PAR	ne
sumnja	N:f	sumnja
,	PUNCT	,
šta	PRO	šta
onda	ADV	onda
stoji	N:f	stoja
iza	PREP	iza
svega	PRO	sav
ovoga	PRO	ovaj
?	PUNCT	?
