Kad	CONJ	kad
vetar	N:m	vetar
stane	N:m	stan
nećemo	N:f	nećemo
moći	N:f	moć
da	CONJ	da
nastavimo	A:aen	nastavimo
da	CONJ	da
živimo	A:aen	živimo
Ne	A:aen	Ne
znam	N:m	znam
da	CONJ	da
li	PAR	li
je	PRO	ona
Hayao	V:m	Hayao
Miyazaki	N:f	Miyazaki
planirao	V:m	planirati
da	CONJ	da
baš	PAR	baš
Wind	N:m	Wind
Rises	N:m	Rises
bude	A:aem	bude
njegov	PRO	njegov
oproštajni	A:aem	oproštajni
film	N:m	film
.	SENT	.
Ali	CONJ	ali
čini	N:f	čini
mi	PRO	ja
se	PAR	se
zanimljivim	A:aef	zanimljiv
da	CONJ	da
film	N:m	film
posmatram	N:m	posmatram
samo	PAR	samo
iz	PREP	iz
tog	PRO	taj
ugla	N:m	ugao
.	SENT	.
Sedamdesettrogodišnji	A:aem	Sedamdesettrogodišnji
reditelj	N:m	reditelj
,	PUNCT	,
naime	PAR	naime
,	PUNCT	,
izjavio	V:m	izjaviti
je	PRO	ona
po	PREP	po
snimanju	N:n	snimanje
filma	N:m	film
da	CONJ	da
ide	N:m	ide
u	PREP	u
penziju	N:f	penzija
.	SENT	.
Wind	N:m	Wind
Rises	N:m	Rises
bavi	V:m	bavi
se	PAR	se
životom	N:m	život
,	PUNCT	,
naročito	ADV	naročito
i	CONJ	i
iscrpno	ADV	iscrpno
-	PUNCT	-
onim	PRO	onaj
profesionalnim	A:aen	profesionalan
,	PUNCT	,
Jorija	N:f	Jorija
Horiskoshija	N:m	Horiskoshija
,	PUNCT	,
japanskog	A:aem	japanski
inžinjera	N:m	inžinjer
koji	PRO	koji
je	PRO	ona
konstruisao	V:m	konstruisati
japanske	A:aem	japanski
bombardere	N:m	bombarder
kojima	PRO	koji
je	PRO	ona
japanska	A:aen	japanski
carevina	N:f	carevina
tokom	PREP	tokom
Drugog	N:m	Drugog
svetskog	A:aem	svetski
rata	N:f	rata
pokušala	V:f	pokušati
da	CONJ	da
proširi	N:m	proširi
svoje	PRO	svoj
granice	N:f	granica
.	SENT	.
Film	N:m	film
je	PRO	ona
,	PUNCT	,
inače	PAR	inače
,	PUNCT	,
kao	ADV	kao
okosnicu	N:f	okosnica
koristio	V:m	koristiti
pripovetku	N:f	pripovetka
The	INT	The
Wind	N:m	Wind
Has	N:m	Has
Risen	N:m	Risen
o	PREP	o
mladoj	A:aef	mlad
ženi	N:f	žena
oboleloj	A:aef	oboleo
od	PREP	od
tuberkoloze	N:m	tuberkoloze
i	CONJ	i
njenom	PRO	njen
boravku	N:m	boravak
u	PREP	u
sanatorijumu	N:m	sanatorijum
između	PREP	između
dva	NUM	dva
rata	N:f	rata
(	PUNCT	(
nisam	N:m	nisam
čitao	V:m	čitati
pa	CONJ	pa
ne	PAR	ne
znam	N:m	znam
koliko	ADV	koliko
je	PRO	ona
sve	PRO	sav
to	PRO	taj
u	PREP	u
vezi	N:f	veza
sa	PREP	sa
Mannovim	A:aem	Mannovim
Čarobnim	A:aem	Čarobnim
bregom	N:m	breg
)	PUNCT	)
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
ostavimo	N:f	ostavimo
po	PREP	po
strani	A:aem	stran
propiranje	N:n	propiranje
domovinske	A:aef	domovinski
istorije	N:f	istorija
i	CONJ	i
sentimentalno	ADV	sentimentalno
fantaziranje	N:n	fantaziranje
o	PREP	o
očiglednom	A:aen	očigledan
participiranju	N:n	participiranje
u	PREP	u
projektu	N:m	projekt
'	A:aem	'
Dogodovštine	N:f	Dogodovštine
Sila	N:m	Sila
zla	A:aef	zao
'	N:m	'
.	SENT	.
Ja	PRO	ja
mislim	A:aem	mislim
da	CONJ	da
je	PRO	ona
Miyazaki	N:f	Miyazaki
sa	PREP	sa
nama	PRO	mi
želeo	V:m	želeti
da	CONJ	da
podeli	N:f	podela
da	CONJ	da
je	PRO	ona
život	N:m	život
kratak	A:aem	kratak
.	PUNCT	.
I	CONJ	i
da	CONJ	da
čovek	N:m	čovek
ne	PAR	ne
može	A:aem	može
ceo	A:aem	ceo
da	CONJ	da
ga	PRO	on
potroši	N:m	potroši
na	PREP	na
pravljanje	N:n	pravljanje
nekih	PRO	neki
od	PREP	od
najlepših	A:cef	lep
animiranih	A:aem	animiran
filmova	N:m	film
svih	PRO	sav
vremena	N:n	vreme
ili	CONJ	ili
na	PREP	na
pravljenje	N:n	pravljenje
aviona	N:m	avion
.	SENT	.
Čak	N:m	Čak
iako	CONJ	iako
je	PRO	ona
to	PRO	taj
njegov	PRO	njegov
san	N:m	san
.	PUNCT	.
Jer	CONJ	jer
naš	PRO	naš
život	N:m	život
su	N:m	su
i	CONJ	i
drugi	A:aem	drugi
ljudi	N:m	ljudi
.	PUNCT	.
A	CONJ	a
ponekad	ADV	ponekad
,	PUNCT	,
kada	CONJ	kada
ih	PRO	ona
puno	A:aen	pun
volimo	N:f	volimo
,	PUNCT	,
te	PRO	taj
druge	A:aem	drugi
ljude	N:m	ljudi
,	PUNCT	,
naš	PRO	naš
život	N:m	život
su	N:m	su
samo	CONJ	samo
oni	PRO	onaj
.	SENT	.
Jori	N:m	Jori
je	PRO	ona
imao	V:m	imati
san	N:m	san
.	PUNCT	.
I	CONJ	i
on	PRO	on
je	PRO	ona
u	PREP	u
filmu	N:m	film
i	CONJ	i
prikazan	V:m	prikazati
kao	ADV	kao
san	N:m	san
.	SENT	.
San	N:m	San
u	PREP	u
kome	PRO	koji
Jori	N:m	Jori
inspirisan	V:m	inspirisati
stvarnim	A:aem	stvaran
ili	CONJ	ili
nestvarnim	A:aen	nestvaran
italijanskim	A:aef	italijanski
avio	PREF	avio
-	PUNCT	-
inžinjerom	N:m	inžinjer
odlučuje	N:m	odlučuje
da	CONJ	da
pravi	A:aem	prav
avione	N:m	avion
.	PUNCT	.
I	CONJ	i
tome	PRO	taj
posvećuje	N:m	posvećuje
ceo	A:aem	ceo
život	N:m	život
.	PUNCT	.
I	CONJ	i
na	PREP	na
kraju	N:m	kraj
kreira	A:aem	kreira
avion	N:m	avion
koji	PRO	koji
postaje	N:f	postaja
okosnica	N:f	okosnica
i	CONJ	i
ponos	N:m	ponos
japanske	A:aem	japanski
avijacije	N:f	avijacija
.	SENT	.
Iako	CONJ	iako
nije	A:aem	nije
planirao	V:m	planirati
da	CONJ	da
sa	PREP	sa
njim	PRO	on
bude	A:aen	bude
počinjeno	V:n	počiniti
sve	PRO	sav
što	CONJ	što
jeste	INT	jeste
tokom	PREP	tokom
Drugog	N:m	Drugog
svetskog	A:aem	svetski
rata	N:f	rata
.	SENT	.
Daleko	ADV	daleko
je	PRO	ona
zanimljivije	A:bef	zanimljiv
da	CONJ	da
je	PRO	ona
Miyazaki	A:aem	Miyazaki
'	N:m	'
susreo	V:m	susresti
'	A:aem	'
svoje	PRO	svoj
likove	N:m	lik
u	PREP	u
maestralnom	A:aef	maestralan
post	PREF	post
-	PUNCT	-
prvosvetskom	A:aem	prvosvetskom
trajpod	N:m	trajpod
zemljotresu	N:m	zemljotres
koji	PRO	koji
služi	N:m	služi
i	CONJ	i
kao	CONJ	kao
dah	N:m	dah
upravo	ADV	upravo
završenog	A:aem	završen
rata	N:f	rata
i	CONJ	i
kao	ADV	kao
zlokobna	A:aef	zlokoban
najava	N:f	najava
onoga	PRO	onaj
što	PRO	što
će	A:aem	će
doći	N:m	doći
.	SENT	.
A	CONJ	a
možda	PAR	možda
je	PRO	ona
neki	PRO	neki
stvarni	A:aem	stvaran
zemljotres	N:m	zemljotres
citiran	V:m	citirati
iz	PREP	iz
tih	PRO	taj
vremena	N:n	vreme
.	SENT	.
Kako	CONJ	kako
god	PAR	god
.	SENT	.
On	PRO	on
,	PUNCT	,
Jori	N:m	Jori
,	PUNCT	,
po	PREP	po
prvi	A:aem	prvi
put	N:m	put
(	PUNCT	(
od	PREP	od
mnogih	A:aef	mnogi
)	PUNCT	)
spasava	A:aen	spasava
nju	PRO	ona
,	PUNCT	,
Nahoko	N:f	Nahoko
.	SENT	.
Kroz	PREP	kroz
simpatične	A:aef	simpatičan
i	CONJ	i
vazda	ADV	vazda
sentimentalne	A:aef	sentimentalan
slike	N:f	slika
Miyazaki	A:aem	Miyazaki
će	A:aem	će
pokazati	N:m	pokazati
čednost	N:f	čednost
i	CONJ	i
dirljivost	N:f	dirljivost
njihove	PRO	njihov
zaljubljenosti	N:f	zaljubljenost
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
braka	N:m	brak
i	CONJ	i
ljubavi	N:f	ljubav
.	SENT	.
Jori	N:m	Jori
je	PRO	ona
imao	V:m	imati
samo	PAR	samo
posao	V:m	posati
i	CONJ	i
nju	PRO	ona
.	SENT	.
Ona	PRO	ona
samo	PAR	samo
svoju	PRO	svoj
tuberkolozu	N:m	tuberkolozu
i	CONJ	i
njega	PRO	on
.	SENT	.
Jori	N:m	Jori
je	PRO	ona
stalno	A:aen	stalan
radio	N:m	radio
.	PUNCT	.
Uvek	ADV	uvek
opsednut	V:m	opsednuti
novim	A:aef	nov
,	PUNCT	,
boljim	A:bem	dobar
,	PUNCT	,
savršenijim	A:bem	savršen
rešenjima	N:n	rešenje
,	PUNCT	,
u	PREP	u
potrazi	N:f	potraga
da	CONJ	da
stvori	N:m	stvori
avion	N:m	avion
koji	PRO	koji
se	PAR	se
neće	V:m	neće
srušiti	A:aem	srušiti
pri	PREP	pri
obavljanju	N:n	obavljanje
zadataka	N:m	zadatak
.	SENT	.
Put	N:f	put
će	A:aem	će
ga	PRO	on
odvesti	N:f	odvesti
i	CONJ	i
u	PREP	u
Nemačku	N:f	Nemačka
,	PUNCT	,
neki	PRO	neki
ljudi	N:m	ljudi
u	PREP	u
njegovom	PRO	njegov
okruženju	N:n	okruženje
delovaće	N:m	delovaće
kao	CONJ	kao
špijuni	N:m	špijun
,	PUNCT	,
država	N:f	država
će	N:f	će
se	PAR	se
okrutno	ADV	okrutno
igrati	A:aem	igrati
sa	PREP	sa
vremenom	N:n	vreme
koje	PRO	koji
mu	PRO	on
je	PRO	ona
povereno	V:n	poveriti
.	PUNCT	.
A	CONJ	a
za	PREP	za
to	PRO	taj
vreme	N:n	vreme
Nahoko	N:f	Nahoko
će	A:aem	će
biti	N:f	bit
sama	PRO	sam
,	PUNCT	,
sa	PREP	sa
svojom	PRO	svoj
bolešću	N:f	bolest
.	SENT	.
Verna	N:m	Vern
.	SENT	.
Miyazaki	N:m	Miyazaki
ih	PRO	ona
se	PAR	se
nije	V:m	nije
dotakao	V:m	dotaknuti
ovoliko	ADV	ovoliko
koliko	ADV	koliko
vam	PRO	vi
ja	PRO	ja
možda	PAR	možda
dočaravam	N:m	dočaravam
sve	PRO	sav
to	PRO	taj
.	SENT	.
Naprotiv	PAR	naprotiv
,	PUNCT	,
njegov	PRO	njegov
film	N:m	film
se	PAR	se
nemilosrdno	A:aen	nemilosrdan
bavi	A:aen	bavi
dočaravanjem	N:n	dočaravanje
Jorijevih	A:aem	Jorijevih
planova	N:m	plan
,	PUNCT	,
proba	N:f	proba
,	PUNCT	,
manevara	N:m	manevar
,	PUNCT	,
skoro	ADV	skoro
koliko	ADV	koliko
i	CONJ	i
sam	A:aem	sam
Jori	N:m	Jori
svim	PRO	sav
tim	N:m	tim
.	SENT	.
Wind	N:m	Wind
Rises	N:m	Rises
je	PRO	ona
slab	A:aem	slab
u	PREP	u
toj	PRO	taj
i	CONJ	i
tolikoj	PRO	toliki
meri	N:f	mera
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
na	PREP	na
samom	PRO	sam
kraju	N:m	kraj
,	PUNCT	,
i	CONJ	i
Miyazaki	N:f	Miyazaki
i	CONJ	i
Jori	N:m	Jori
su	PREF	su
shvatili	V:m	shvatiti
.	SENT	.
Kome	PRO	koji
je	PRO	ona
trebalo	V:n	trebati
posvetiti	N:m	posvetiti
pažnju	N:f	pažnja
.	SENT	.
Šta	A:aen	Šta
jedino	A:aen	jedini
vredi	N:f	vredi
.	SENT	.
Miyazakijeva	A:aen	Miyazakijeva
mašta	N:f	mašta
ovde	ADV	ovde
je	PRO	ona
bila	V:f	biti
dosta	ADV	dosta
(	PUNCT	(
samo	PAR	samo
-	PUNCT	-
)	PUNCT	)
obuzdana	V:n	obuzdati
i	CONJ	i
film	N:m	film
tek	CONJ	tek
povremeno	A:aen	povremen
impresionira	N:m	impresionira
nekim	PRO	neki
vizuelnim	A:aen	vizuelan
rešenjima	N:n	rešenje
(	PUNCT	(
onirična	A:aef	onirična
strana	N:f	strana
priče	N:f	priča
)	PUNCT	)
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
priča	N:f	priča
u	PREP	u
preteranoj	A:aef	preteran
meri	N:f	mera
zaglibljena	V:f	zaglibiti
u	PREP	u
često	ADV	često
suvoparne	A:aef	suvoparan
ilustracije	N:f	ilustracija
inžinjerskog	A:aem	inžinjerski
rada	N:m	rad
,	PUNCT	,
a	CONJ	a
i	CONJ	i
supersentimentalni	A:aem	supersentimentalni
osvrti	N:m	osvrt
na	PREP	na
žensku	A:aef	ženski
odanost	N:f	odanost
većito	A:aen	većito
zauzetom	A:aef	zauzet
mužu	N:f	muža
mogu	N:m	Mog
se	PAR	se
nekome	PRO	neki
učiniti	A:aem	učiniti
kao	CONJ	kao
supersentimentalni	A:aem	supersentimentalni
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
suza	N:f	suza
će	A:aem	će
vam	PRO	vi
ostati	N:m	ostati
zaključana	A:aen	zaključan
u	PREP	u
oku	N:n	oko
.	PUNCT	.
Ili	CONJ	ili
će	A:aem	će
pobeći	N:m	pobeći
iz	PREP	iz
njega	PRO	on
.	SENT	.
