Nije	A:aem	Nije
horor	N:m	horor
.	SENT	.
Ali	CONJ	ali
ima	A:aem	ima
strave	N:f	strava
.	SENT	.
I	CONJ	i
užasa	N:m	užas
.	SENT	.
U	PREP	u
zavisnosti	N:f	zavisnost
od	PREP	od
toga	PRO	taj
koliko	ADV	koliko
ste	A:aem	ste
od	PREP	od
života	N:m	život
do	PREP	do
sada	ADV	sada
pojeli	V:m	pojesti
i	CONJ	i
popili	V:m	popiti
ovaj	PRO	ovaj
film	N:m	film
će	V:n	će
vam	PRO	vi
ponuditi	N:f	ponuditi
premalo	ADV	premalo
ili	CONJ	ili
previše	ADV	previše
.	SENT	.
Zato	ADV	zato
ostavimo	A:aen	ostavimo
bavljenje	N:n	bavljenje
simbolikom	N:f	simbolika
i	CONJ	i
metaforama	N:f	metafora
po	PREP	po
strani	N:f	strana
.	SENT	.
Vinyan	N:m	Vinyan
savršeno	A:aen	savršen
izgleda	N:m	izgled
.	PUNCT	.
Fotografija	N:f	fotografija
,	PUNCT	,
scenografija	N:f	scenografija
i	CONJ	i
muzika	N:f	muzika
omogućili	V:m	omogućiti
su	N:m	su
junacima	N:m	junak
ovog	PRO	ovaj
filma	N:m	film
da	CONJ	da
njihova	PRO	njihov
potraga	N:f	potraga
za	PREP	za
izgubljenim	A:aen	izgubljen
sinom	N:m	sin
izgleda	N:m	izgled
kao	CONJ	kao
silazak	N:m	silazak
u	PREP	u
Had	N:m	Had
.	SENT	.
Plot	N:f	plot
je	PRO	ona
jednostavan	A:aem	jednostavan
.	SENT	.
Nakon	PREP	nakon
projekcije	N:f	projekcija
dokumentarnog	A:aem	dokumentaran
filma	N:m	film
o	PREP	o
stanju	N:n	stanje
u	PREP	u
Burmi	N:f	Burma
,	PUNCT	,
Jeanne	N:m	Jeanne
je	PRO	ona
ubeđena	V:m	ubediti
da	CONJ	da
je	PRO	ona
na	PREP	na
snimku	N:f	snimka
videla	V:f	videti
svog	PRO	svoj
sina	N:m	sin
koji	PRO	koji
je	PRO	ona
nestao	V:m	nestati
tokom	PREP	tokom
ofanzive	N:f	ofanziva
cunamija	N:m	cunami
na	PREP	na
Tajlandu	N:m	Tajland
.	SENT	.
Ona	PRO	ona
i	CONJ	i
njen	PRO	njen
muž	N:m	muž
kreću	A:aem	kreću
na	PREP	na
put	N:f	put
koji	PRO	koji
im	PRO	ona
organizuju	N:m	organizuju
beskrupolozni	A:aem	beskrupolozni
trgovci	N:m	trgovac
decom	N:f	deca
.	SENT	.
Džungla	N:m	Džungla
kroz	PREP	kroz
koju	PRO	koji
putuju	A:aem	putuju
izgleda	N:m	izgled
tek	CONJ	tek
nešto	ADV	nešto
poetskije	A:bef	poetski
nego	CONJ	nego
u	PREP	u
četvrtom	A:aem	četvrti
delu	N:n	delo
Rambo	N:m	Rambo
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
a	CONJ	a
par	N:m	par
tokom	PREP	tokom
putešestvija	N:n	putešestvije
nailazi	N:m	nailazi
na	PREP	na
više	ADV	više
odgovora	N:m	odgovor
nego	CONJ	nego
što	CONJ	što
im	PRO	ona
je	PRO	ona
dozvoljeno	V:n	dozvoliti
da	CONJ	da
postave	N:f	postava
pitanja	N:n	pitanje
.	SENT	.
Vinyan	N:m	Vinyan
je	PRO	ona
snoliki	A:aem	snoliki
miks	N:m	miks
Don	N:m	Don
’	A:aem	’
t	ABB	t
Look	A:aem	Look
Now	N:m	Now
,	PUNCT	,
Apocalypse	N:m	Apocalypse
Now	N:m	Now
i	CONJ	i
Lord	N:m	Lord
Of	N:m	Of
The	INT	The
Flies	N:m	Flies
.	SENT	.
I	CONJ	i
impresivan	A:aem	impresivan
je	PRO	ona
pomak	N:m	pomak
za	PREP	za
autora	N:m	autor
koji	PRO	koji
nam	PRO	mi
je	PRO	ona
u	PREP	u
svom	PRO	sav
prethodnom	A:aef	prethodan
,	PUNCT	,
ni	PAR	ni
po	PREP	po
čemu	PRO	šta
posebno	ADV	posebno
pamtljivom	A:aem	pamtljiv
,	PUNCT	,
filmu	N:m	film
(	PUNCT	(
La	A:aem	La
Calvaire	N:m	Calvaire
)	PUNCT	)
prikazao	V:m	prikazati
kako	CONJ	kako
belgijski	A:aem	belgijski
redneci	N:m	redneci
opšte	A:aem	opšti
sa	PREP	sa
gicom	N:f	gica
.	SENT	.
Gledalac	N:m	gledalac
iole	ADV	iole
sklon	A:aem	sklon
filmskoj	A:aef	filmski
detekciji	N:f	detekcija
već	CONJ	već
će	N:f	će
na	PREP	na
pola	N:m	pol
puta	ADV	puta
razrešiti	A:aem	razrešiti
u	PREP	u
kom	PRO	koji
grmu	N:m	grm
leži	A:aem	leži
izgubljeni	A:aem	izgubljen
sin	N:m	sin
.	PUNCT	.
Kao	CONJ	kao
i	CONJ	i
zahvaljući	A:aem	zahvaljući
kome	PRO	koji
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
taj	PRO	taj
gledalac	N:m	gledalac
nije	A:aem	nije
prava	N:n	pravo
mušterija	N:f	mušterija
za	PREP	za
ovaj	PRO	ovaj
audio	PREF	audio
-	PUNCT	-
vizuelni	A:aem	vizuelan
spektakl	N:m	spektakl
.	SENT	.
Fabrice	N:f	Fabrice
Du	A:aem	Du
Welz	N:m	Welz
zaslužuje	N:m	zaslužuje
„	A:aem	„
Oskara	N:m	Oskar
za	PREP	za
postignuto	A:aen	postignut
“	N:m	“
.	SENT	.
Lokacija	N:f	lokacija
/	N:m	/
e	CONJ	e
na	PREP	na
kojoj	PRO	koji
da	CONJ	da
jedva	ADV	jedva
ima	A:aem	ima
i	CONJ	i
pristojnog	A:aem	pristojan
života	N:m	život
svakako	PAR	svakako
ne	PAR	ne
može	A:aem	može
biti	N:f	bit
zahvalna	A:aef	zahvalan
za	PREP	za
snimanje	N:n	snimanje
filma	N:m	film
,	PUNCT	,
a	CONJ	a
nekmoli	CONJ	nekmoli
za	PREP	za
stvaranje	N:n	stvaranje
velelepnog	A:aen	velelepan
filmskog	A:aem	filmski
platna	N:n	platno
na	PREP	na
kome	PRO	koji
su	N:m	su
likovi	N:m	lik
koje	PRO	koji
srećemo	N:f	srećemo
stvarni	A:aem	stvaran
koliko	ADV	koliko
i	CONJ	i
izmaglica	N:f	izmaglica
u	PREP	u
kojoj	PRO	koji
žive	N:f	živa
.	SENT	.
Vinyan	N:m	Vinyan
je	PRO	ona
duh	N:m	duh
osobe	N:f	osoba
koja	PRO	koji
je	PRO	ona
stradala	V:f	stradati
nasilnom	A:aef	nasilan
smrću	N:f	smrt
i	CONJ	i
sada	ADV	sada
nervozno	ADV	nervozno
traži	A:aem	traži
put	N:m	put
u	PREP	u
Kuću	A:aef	Kuću
smrti	N:f	smrt
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
Grudge	N:f	Grudge
ovo	PRO	ovaj
nije	N:m	nije
.	SENT	.
Vinyan	N:m	Vinyan
ne	PAR	ne
vreba	N:m	vreba
priliku	N:f	prilika
da	CONJ	da
vas	PRO	vi
štrecne	A:aem	štrecne
,	PUNCT	,
u	PREP	u
njemu	PRO	on
jeza	N:f	jeza
provejava	A:aem	provejava
praktično	ADV	praktično
od	PREP	od
samog	PRO	sam
početka	N:m	početak
.	SENT	.
Nema	A:aem	nem
horora	N:m	horor
,	PUNCT	,
ali	CONJ	ali
strava	N:f	strava
i	CONJ	i
užas	N:m	užas
života	N:m	život
koji	PRO	koji
upoznajemo	A:aen	upoznajemo
bi	N:n	bi
trebalo	V:n	trebati
da	CONJ	da
nas	PRO	mi
(	PUNCT	(
u	PREP	u
)	PUNCT	)
plaše	N:f	plaše
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
majka	N:f	majka
koja	PRO	koji
je	PRO	ona
tražila	V:f	tražiti
svog	PRO	svoj
sina	N:m	sin
postaje	N:f	postaja
majka	N:f	majka
gomili	N:f	gomila
dece	N:f	deca
koja	PRO	koji
nemaju	N:m	nemaju
nigde	ADV	nigde
nikoga	PRO	niko
(	PUNCT	(
pitanje	N:n	pitanje
je	PRO	ona
i	CONJ	i
da	CONJ	da
li	PAR	li
su	N:m	su
uopšte	ADV	uopšte
živi	A:aem	živ
)	PUNCT	)
.	SENT	.
I	CONJ	i
baš	PAR	baš
kao	ADV	kao
što	CONJ	što
je	PRO	ona
jedan	NUM	jedan
burmanski	A:aem	burmanski
trgovac	N:m	trgovac
dečurlijom	N:f	dečurlija
iskusno	ADV	iskusno
odgovorio	V:m	odgovoriti
Jeanne	N:m	Jeanne
i	CONJ	i
Paul	N:m	Paul
-	PUNCT	-
u	PREP	u
na	PREP	na
primedbu	N:f	primedba
da	CONJ	da
neko	PRO	neki
,	PUNCT	,
potureno	A:aen	poturen
dete	N:n	dete
nije	V:n	nije
njihovo	PRO	njihov
dete	N:n	dete
-	PUNCT	-
What	N:m	What
’	N:m	’
s	PREP	s
the	N:m	the
difference	N:n	difference
?	SENT	?
Ipak	PAR	ipak
,	PUNCT	,
vizuelna	A:aem	vizuelan
ekstravaganca	N:m	ekstravaganca
neće	V:m	neće
vas	PRO	vi
poštedeti	A:aem	poštedeti
utiska	N:m	utisak
da	CONJ	da
se	PAR	se
ipak	PAR	ipak
moglo	V:n	moći
malo	ADV	malo
poraditi	A:aem	poraditi
na	PREP	na
scenariju	N:m	scenario
i	CONJ	i
film	N:m	film
iz	PREP	iz
(	PUNCT	(
samo	PAR	samo
)	PUNCT	)
uspelog	A:aem	uspeo
koncepta	N:m	koncept
ili	CONJ	ili
potentne	A:aef	potentan
alegorije	N:f	alegorija
pomeriti	N:m	pomeriti
ka	PREP	ka
turobnom	A:aem	turoban
trileru	N:m	triler
unutar	PREP	unutar
koga	PRO	koji
bi	A:aef	bi
klackalica	N:f	klackalica
krivice	N:f	krivica
između	PREP	između
muža	N:f	muža
i	CONJ	i
žene	N:f	žena
svojim	PRO	svoj
klackanjem	N:n	klackanje
unela	V:f	uneti
malo	ADV	malo
saspensa	N:f	saspensa
i	CONJ	i
još	ADV	još
više	ADV	više
isprovocirala	V:f	isprovocirati
pitanje	N:n	pitanje
-	PUNCT	-
šta	PRO	šta
roditelja	N:m	roditelj
čini	N:f	čini
roditeljem	N:m	roditelj
.	SENT	.
Sem	PREP	sem
deteta	N:n	dete
.	SENT	.
