Jedan	NUM	jedan
o	PREP	o
totalu	N:m	total
života	N:m	život
Yi	N:m	Yi
Yi	N:m	Yi
je	PRO	ona
poslednji	A:aem	poslednji
film	N:m	film
kineskog	A:aem	kineski
reditelja	N:m	reditelj
Edwarda	N:m	Edwarda
Yanga	N:m	Yanga
i	CONJ	i
prvi	A:aem	prvi
njegov	PRO	njegov
koji	PRO	koji
sam	PRO	sam
pogledao	V:m	pogledati
.	PUNCT	.
Ne	PAR	ne
znam	N:m	znam
da	CONJ	da
li	PAR	li
je	PRO	ona
i	CONJ	i
on	PRO	on
znao	V:m	znati
da	CONJ	da
će	V:m	će
mu	PRO	on
biti	N:f	bit
poslednji	A:aem	poslednji
(	PUNCT	(
umro	V:m	umreti
je	PRO	ona
sedam	NUM	sedam
godina	N:f	godina
kasnije	ADV	kasnije
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
ima	V:m	ima
nečeg	PRO	nešto
testamentarnog	A:aem	testamentaran
u	PREP	u
poruci	N:f	poruka
ovog	PRO	ovaj
filma	N:m	film
,	PUNCT	,
u	PREP	u
melanholiji	N:f	melanholija
koja	PRO	koji
prožima	N:m	prožima
sve	PRO	sav
junake	N:m	junak
,	PUNCT	,
pa	CONJ	pa
čak	PAR	čak
i	CONJ	i
najmlađeg	A:cem	mlad
člana	N:m	član
posade	N:f	posada
koji	PRO	koji
ima	A:aem	ima
sedam	NUM	sedam
-	PUNCT	-
osam	NUM	osam
godina	N:f	godina
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
junaci	N:m	junak
su	PREF	su
ili	CONJ	ili
već	PAR	već
počinili	V:m	počiniti
najveće	A:cef	velik
greške	N:f	greška
svog	PRO	svoj
života	N:m	život
ili	CONJ	ili
nam	PRO	mi
svojim	PRO	svoj
ponašanjem	N:n	ponašanje
najavljuju	N:m	najavljuju
kako	CONJ	kako
i	CONJ	i
zbog	PREP	zbog
čega	PRO	šta
će	A:aem	će
iste	A:aem	isti
tek	CONJ	tek
napraviti	A:aem	napraviti
.	SENT	.
Oni	PRO	onaj
srećni	A:aem	srećan
proživeli	V:m	proživeti
su	N:m	su
šta	PRO	šta
su	N:m	su
imali	V:m	imati
,	PUNCT	,
i	CONJ	i
sada	ADV	sada
su	N:m	su
u	PREP	u
komi	N:f	koma
i	CONJ	i
iz	PREP	iz
nje	PRO	ona
se	PAR	se
neće	A:aem	neće
probuditi	N:m	probuditi
.	SENT	.
A	CONJ	a
možda	PAR	možda
je	PRO	ona
za	PREP	za
ton	N:m	ton
mog	PRO	moj
pisanja	N:n	pisanje
kriv	A:aem	kriv
naduren	A:aem	naduren
i	CONJ	i
oblačan	A:aem	oblačan
dan	N:m	dan
napolju	ADV	napolju
.	PUNCT	.
Srbija	N:f	Srbija
.	PUNCT	.
I	CONJ	i
ono	PRO	onaj
neisterivo	A:aen	neisterivo
iz	PREP	iz
srca	N:n	srce
.	SENT	.
Ženi	N:m	Ženi
se	PAR	se
mamin	A:aem	mamin
brat	N:m	brat
.	SENT	.
Njegova	PRO	njegov
izabranica	N:f	izabranica
je	PRO	ona
već	PAR	već
debelo	ADV	debelo
trudna	A:aef	trudan
.	SENT	.
Dan	N:m	Dan
koji	PRO	koji
su	N:m	su
odabrali	V:m	odabrati
je	PRO	ona
po	PREP	po
horoskopu	N:m	horoskop
najsrećniji	A:cem	srećan
dan	N:m	dan
njihovih	PRO	njihov
života	N:m	život
.	SENT	.
Tako	ADV	tako
počinje	A:aem	počinje
film	N:m	film
.	PUNCT	.
.	SENT	.
.	PUNCT	.
A	CONJ	a
onda	ADV	onda
tokom	PREP	tokom
svadbe	N:f	svadba
tata	N:f	tata
sreće	N:f	sreća
ljubav	N:f	ljubav
svoga	PRO	svoj
života	N:m	život
koju	PRO	koji
je	PRO	ona
ostavio	V:m	ostaviti
još	ADV	još
pre	PREP	pre
trideset	NUM	trideset
godina	N:f	godina
.	SENT	.
Mamina	A:aef	mamin
mama	N:f	mama
na	PREP	na
kraju	N:m	kraj
svadbe	N:f	svadba
pada	N:m	pad
na	PREP	na
ulici	N:f	ulica
,	PUNCT	,
u	PREP	u
komu	PRO	koji
.	PUNCT	.
Nakon	PREP	nakon
toga	PRO	taj
mama	N:f	mama
skrhana	V:m	skrhati
bolom	N:m	bol
odlazi	N:m	odlazi
u	PREP	u
neki	PRO	neki
budistički	A:aem	budistički
manastir	N:m	manastir
i	CONJ	i
nema	A:aem	nem
je	PRO	ona
ceo	A:aem	ceo
film	N:m	film
.	SENT	.
Tata	N:f	tata
ostaje	N:n	ostaje
sa	PREP	sa
neobičnim	A:aef	neobičan
poslovnim	A:aen	poslovan
partnerom	N:m	partner
iz	PREP	iz
Japana	N:m	Japan
u	PREP	u
krilu	N:n	krilo
,	PUNCT	,
ćerkom	N:f	ćerka
koja	PRO	koji
ne	PAR	ne
ume	N:m	um
da	CONJ	da
artikuliše	N:n	artikuliše
svoja	PRO	svoj
osećanja	N:n	osećanje
i	CONJ	i
rado	ADV	rado
pristaje	N:f	pristaje
da	CONJ	da
bude	A:aem	bude
žrtva	N:f	žrtva
,	PUNCT	,
i	CONJ	i
sinčićem	N:m	sinčić
koji	PRO	koji
je	PRO	ona
jedno	NUM	jedan
od	PREP	od
najsimpatičnijih	A:cef	simpatičan
stvorenja	N:n	stvorenje
ikada	ADV	ikada
viđenih	A:aem	viđen
na	PREP	na
filmu	N:m	film
(	PUNCT	(
na	PREP	na
pitanje	N:n	pitanje
zašto	CONJ	zašto
ljudima	N:m	ljudi
slika	N:f	slika
samo	CONJ	samo
teme	N:f	tema
,	PUNCT	,
on	PRO	on
odgovara	N:m	odgovara
zato	ADV	zato
što	CONJ	što
ne	PAR	ne
mogu	A:aen	mogu
da	CONJ	da
ga	PRO	on
vide	N:f	vida
,	PUNCT	,
a	CONJ	a
sada	ADV	sada
mogu	A:aem	mogu
,	PUNCT	,
jer	CONJ	jer
im	PRO	ona
je	PRO	ona
on	PRO	on
to	PRO	taj
omogućio	V:m	omogućiti
)	PUNCT	)
.	SENT	.
Yang	N:m	Yang
ne	PAR	ne
požuruje	N:m	požuruje
junake	N:m	junak
,	PUNCT	,
ni	PAR	ni
kadrove	N:m	kadar
,	PUNCT	,
ni	PAR	ni
scene	N:f	scena
.	SENT	.
Film	N:m	film
ima	A:aem	ima
relativno	ADV	relativno
spor	A:aem	spor
ritam	N:m	ritam
i	CONJ	i
traje	N:m	traje
skoro	ADV	skoro
tri	NUM	tri
sata	N:m	sat
,	PUNCT	,
ako	CONJ	ako
ne	PAR	ne
i	CONJ	i
više	ADV	više
.	PUNCT	.
Ako	CONJ	ako
ne	PAR	ne
i	CONJ	i
celu	A:aef	ceo
večnost	N:f	večnost
.	SENT	.
Za	PREP	za
moj	PRO	moj
ukus	N:m	ukus
u	PREP	u
njegovom	PRO	njegov
postupku	N:m	postupak
ima	V:m	ima
malo	ADV	malo
više	ADV	više
mehaničnosti	N:f	mehaničnosti
u	PREP	u
sudbinskoj	A:aef	sudbinski
turbulenciji	N:f	turbulencija
koju	PRO	koji
pratimo	N:f	pratimo
i	CONJ	i
neke	PRO	neki
stvari	N:f	stvar
ne	PAR	ne
deluju	N:m	deluju
baš	PAR	baš
najuverljivije	A:cem	uverljiv
s	PREP	s
psihološke	A:aef	psihološki
strane	N:f	strana
,	PUNCT	,
što	CONJ	što
čini	N:f	čini
da	CONJ	da
Yi	N:m	Yi
Yi	N:m	Yi
ubedljivije	A:bef	ubedljiv
deluje	N:f	deluje
kao	CONJ	kao
autorski	A:aem	autorski
stejtment	N:m	stejtment
o	PREP	o
životu	N:m	život
,	PUNCT	,
nego	CONJ	nego
kao	CONJ	kao
umetnički	A:aem	umetnički
portret	N:m	portret
istog	A:aen	isti
(	PUNCT	(
daaa	N:m	daaa
,	PUNCT	,
znam	N:m	znam
da	CONJ	da
te	PRO	taj
dve	NUM	dva
stvari	N:f	stvar
bez	PREP	bez
problema	N:m	problem
mogu	A:aen	mogu
da	CONJ	da
budu	A:aen	budu
jedno	ADV	jedno
te	CONJ	te
isto	PAR	isto
tj	ABB	tj
da	CONJ	da
najčešće	ADV	najčešće
i	CONJ	i
jestu	N:f	jestu
,	PUNCT	,
ali	CONJ	ali
samo	PAR	samo
pokušavam	N:m	pokušavam
da	CONJ	da
napravim	A:aen	napravim
nekakvu	PRO	nekakav
razliku	N:f	razlika
)	PUNCT	)
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
Yi	N:m	Yi
Yi	N:m	Yi
je	PRO	ona
na	PREP	na
svaki	PRO	svaki
način	N:m	način
najzabavniji	A:cem	zabavan
kad	ADV	kad
je	PRO	ona
najduhovitiji	A:cem	duhovit
odnosno	PAR	odnosno
kada	CONJ	kada
Yang	N:m	Yang
pusti	A:aem	pust
junake	N:m	junak
da	CONJ	da
se	PAR	se
u	PREP	u
sopstvenoj	A:aef	sopstven
mizeriji	N:f	mizerija
valjaju	N:m	valjaju
(	PUNCT	(
ne	PAR	ne
)	PUNCT	)
srećno	ADV	srećno
kao	CONJ	kao
svinje	N:f	svinja
u	PREP	u
blatu	N:n	blato
.	PUNCT	.
I	CONJ	i
šteta	N:f	šteta
je	PRO	ona
što	PRO	što
humor	N:m	humor
kao	CONJ	kao
sredstvo	N:n	sredstvo
za	PREP	za
sprovođenje	N:n	sprovođenje
poruke	N:f	poruka
nije	A:aem	nije
češće	ADV	češće
bio	V:m	biti
korišćen	V:m	koristiti
.	SENT	.
Patetični	A:aem	Patetični
trenuci	N:m	trenutak
u	PREP	u
azijskoj	A:aef	azijski
kinematografiji	N:f	kinematografija
često	ADV	često
umeju	N:m	umeju
da	CONJ	da
budu	A:aem	budu
nepodnošljivi	A:aem	nepodnošljiv
.	SENT	.
Spomenuo	V:m	spomenuti
bih	A:aem	bih
još	ADV	još
narativnu	A:aef	narativan
romanesknost	N:f	romanesknost
Yi	N:m	Yi
Yi	N:m	Yi
-	PUNCT	-
ja	PRO	ja
,	PUNCT	,
pa	CONJ	pa
ako	CONJ	ako
ste	A:aem	ste
fan	N:m	fan
takvih	PRO	takav
filmova	N:m	film
,	PUNCT	,
uživaćete	N:m	uživaćete
ovde	ADV	ovde
u	PREP	u
nizu	N:m	niz
sitnih	A:aem	sitan
detalja	N:m	detalj
i	CONJ	i
vešto	ADV	vešto
postavljenih	A:aef	postavljen
scena	N:f	scena
koje	PRO	koji
se	PAR	se
zaista	PAR	zaista
otvaraju	N:m	otvaraju
pred	PREP	pred
vašim	PRO	vaš
očima	N:f	oči
postepeno	ADV	postepeno
kao	ADV	kao
pročitani	V:m	pročitati
redovi	N:m	red
u	PREP	u
nekom	PRO	neki
modernom	A:aem	moderan
romanu	N:m	roman
.	SENT	.
