Verujem	N:m	Verujem
da	CONJ	da
je	PRO	ona
reditelj	N:m	reditelj
i	CONJ	i
scenarista	N:m	scenarista
Thomas	N:m	Thomas
Bezucha	N:m	Bezucha
poprilično	ADV	poprilično
nesrećan	A:aem	nesrećan
u	PREP	u
vezi	N:f	veza
sa	PREP	sa
svojim	PRO	svoj
drugim	A:aem	drugi
filmom	N:m	film
Dobrodošla	A:aem	Dobrodošla
u	PREP	u
familiju	N:f	familija
:	SENT	:
svi	PRO	sav
distributeri	N:m	distributer
reklamiraju	N:m	reklamiraju
ovaj	PRO	ovaj
film	N:m	film
tako	ADV	tako
da	CONJ	da
se	PAR	se
čini	N:f	čini
da	CONJ	da
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
delo	N:n	delo
slično	ADV	slično
Luketicevom	A:aem	Luketicevom
Za	N:m	Za
sve	PRO	sav
je	PRO	ona
kriva	A:aen	kriv
svekrva	N:f	svekrva
;	SENT	;
gledaoci	N:m	gledalac
ga	PRO	on
zatim	ADV	zatim
odgledaju	V:n	odgledaju
takođe	PAR	takođe
očekujući	A:aen	očekujući
laku	A:aef	lak
komediju	N:f	komedija
i	CONJ	i
onda	ADV	onda
,	PUNCT	,
prirodno	ADV	prirodno
,	PUNCT	,
budu	A:aen	budu
razočarani	V:m	razočarati
.	SENT	.
A	CONJ	a
Dobrodošla	N:m	Dobrodošla
u	PREP	u
familiju	N:f	familija
je	PRO	ona
ozbiljan	A:aem	ozbiljan
film	N:m	film
koji	PRO	koji
do	PREP	do
izvesne	A:aef	izvestan
mere	N:f	mera
podseća	A:aen	podseća
na	PREP	na
Beautiful	N:m	Beautiful
Girls	N:m	Girls
Teda	N:m	Ted
Demmea	N:m	Demmea
,	PUNCT	,
a	CONJ	a
još	ADV	još
i	CONJ	i
više	ADV	više
na	PREP	na
roman	N:m	roman
Meso	N:f	Mesa
i	CONJ	i
krv	N:f	krv
Michaela	N:m	Michaela
Cunninghama	N:f	Cunninghama
.	SENT	.
Doduše	A:aen	Doduše
,	PUNCT	,
i	CONJ	i
da	CONJ	da
je	PRO	ona
reklamiran	A:aem	reklamiran
kao	CONJ	kao
drama	N:f	drama
u	PREP	u
užem	A:ben	uzak
smislu	N:m	smisao
,	PUNCT	,
publika	N:f	publika
bi	N:m	bi
ga	PRO	on
još	PAR	još
manje	ADV	manje
volela	V:f	voleti
,	PUNCT	,
odnosno	PAR	odnosno
,	PUNCT	,
opet	ADV	opet
bi	A:aem	bi
ga	PRO	on
volelo	V:n	voleti
manje	ADV	manje
publike	N:f	publika
Za	A:aem	Za
razliku	N:f	razlika
od	PREP	od
Demmeovog	A:aem	Demmeovog
filma	N:m	film
koji	PRO	koji
govori	N:m	govor
o	PREP	o
jednom	NUM	jedan
čoveku	N:m	čovek
i	CONJ	i
njegovom	PRO	njegov
sentimentalnom	A:aen	sentimentalan
sazrevanju	N:n	sazrevanje
,	PUNCT	,
Bezuchain	A:aem	Bezuchain
film	N:m	film
govori	N:m	govor
o	PREP	o
globalnoj	A:aef	globalan
pojavi	N:f	pojava
:	SENT	:
liberalizmu	N:m	liberalizam
koji	PRO	koji
je	PRO	ona
u	PREP	u
Američku	A:aef	Američku
porodicu	N:f	porodica
ušao	V:m	ući
putem	PREP	putem
nekadašnjih	A:aef	nekadašnji
hippie	N:f	hippie
-	PUNCT	-
majki	N:f	majka
i	CONJ	i
očeva	N:m	otac
koji	PRO	koji
danas	ADV	danas
umiru	N:m	umiru
i	CONJ	i
izumiru	N:m	izumiru
.	SENT	.
I	CONJ	i
baš	PAR	baš
Diane	N:f	Diana
Keaton	N:m	Keaton
sa	PREP	sa
svojim	PRO	svoj
ne	PAR	ne
toliko	ADV	toliko
hippie	A:aem	hippie
koliko	ADV	koliko
šezdesetosmaškim	A:aem	šezdesetosmaškim
backgroundom	N:m	backgroundom
izabrana	V:n	izabrati
je	PRO	ona
da	CONJ	da
glumi	N:f	gluma
takvu	PRO	takav
majku	N:f	majka
.	SENT	.
Za	PREP	za
Božić	N:m	Božić
,	PUNCT	,
mužu	N:f	muža
,	PUNCT	,
njoj	PRO	ona
i	CONJ	i
mlađoj	A:bef	mlad
kćeri	N:f	kćer
,	PUNCT	,
koja	PRO	koji
još	ADV	još
živi	A:aem	živ
sa	PREP	sa
roditeljima	N:m	roditelj
,	PUNCT	,
a	CONJ	a
posvađana	V:m	posvađati
je	PRO	ona
s	PREP	s
prvim	A:aem	prvi
dečkom	N:m	dečko
,	PUNCT	,
dolazi	N:m	dolaz
u	PREP	u
goste	N:m	gost
njihovo	PRO	njihov
četvoro	NUM	četvoro
odrasle	A:aem	odrastao
dece	N:f	deca
.	SENT	.
Elem	CONJ	elem
,	PUNCT	,
trudna	A:aef	trudan
starija	A:bem	star
kćerka	N:f	kćerka
je	PRO	ona
sa	PREP	sa
svojim	PRO	svoj
starijim	A:ben	star
detetom	N:n	dete
,	PUNCT	,
a	CONJ	a
njen	PRO	njen
muž	N:m	muž
će	A:aem	će
stići	N:m	stići
sutradan	ADV	sutradan
,	PUNCT	,
jedan	NUM	jedan
sin	N:m	sin
je	PRO	ona
sa	PREP	sa
dečkom	N:m	dečko
,	PUNCT	,
a	CONJ	a
dete	N:n	dete
će	N:m	će
tek	CONJ	tek
da	CONJ	da
usvajaju	N:m	usvajaju
,	PUNCT	,
drugi	A:aem	drugi
sin	N:m	sin
je	PRO	ona
sam	PRO	sam
,	PUNCT	,
no	CONJ	no
treći	A:aem	treći
sin	N:m	sin
je	PRO	ona
u	PREP	u
nevolji	N:f	nevolja
jer	CONJ	jer
po	PREP	po
prvi	A:aem	prvi
put	N:m	put
dovodi	N:m	dovod
u	PREP	u
kuću	N:f	kuća
konzervativnu	A:aef	konzervativan
žensku	N:f	ženska
s	PREP	s
kojom	PRO	koji
je	PRO	ona
rešio	V:m	rešiti
da	CONJ	da
se	PAR	se
oženi	V:m	oženi
.	SENT	.
Konzervativku	N:f	Konzervativku
,	PUNCT	,
prirodno	ADV	prirodno
,	PUNCT	,
niko	PRO	niko
ne	PAR	ne
može	A:aem	može
da	CONJ	da
smisli	N:f	smisli
,	PUNCT	,
a	CONJ	a
najagresivniji	A:cem	agresivan
izraz	N:m	izraz
majčinog	A:aen	majčin
ultimativnog	A:aem	ultimativan
liberalizma	N:m	liberalizam
oličen	V:m	oličiti
je	PRO	ona
u	PREP	u
ponašanje	N:n	ponašanje
mlađe	A:bem	mlad
kćeri	N:f	kćer
.	SENT	.
Da	CONJ	da
se	PAR	se
spase	N:m	Spasa
,	PUNCT	,
konzervativka	N:f	konzervativka
poziva	N:m	poziv
u	PREP	u
pomoć	N:f	pomoć
sestru	N:f	sestra
,	PUNCT	,
pa	CONJ	pa
onda	ADV	onda
dolazi	N:m	dolaz
do	PREP	do
zamene	N:f	zamena
između	PREP	između
braće	N:f	braća
i	CONJ	i
sestara	N:f	sestra
,	PUNCT	,
što	CONJ	što
je	PRO	ona
,	PUNCT	,
npr	N:m	npr
.	PUNCT	.
kod	PREP	kod
nas	PRO	mi
i	CONJ	i
zakonom	N:m	zakon
zabranjen	V:m	zabraniti
jer	CONJ	jer
zakonodavac	N:m	zakonodavac
zna	A:aem	zna
da	CONJ	da
u	PREP	u
patrijarhalnom	A:aen	patrijarhalan
društvu	N:n	društvo
zbog	PREP	zbog
toga	PRO	taj
padaju	A:aef	padaju
glave	N:f	glava
.	SENT	.
Najzad	ADV	najzad
sve	PRO	sav
se	PAR	se
sredi	N:f	sreda
i	CONJ	i
svi	PRO	sav
su	N:m	su
srećni	A:aem	srećan
:	PUNCT	:
sestra	N:f	sestra
u	PREP	u
braku	N:m	brak
je	PRO	ona
i	CONJ	i
dalje	ADV	dalje
u	PREP	u
braku	N:m	brak
,	PUNCT	,
gej	N:m	gej
-	PUNCT	-
brat	N:m	brat
s	PREP	s
crnim	A:aem	crn
partnerom	N:m	partner
usvaja	A:aen	usvaja
crno	A:aen	crn
dete	N:n	dete
,	PUNCT	,
brat	N:m	brat
koji	PRO	koji
je	PRO	ona
na	PREP	na
Božić	N:m	Božić
došao	V:m	doći
sam	A:aem	sam
ostvaruje	N:m	ostvaruje
vezu	N:f	veza
sa	PREP	sa
nesuđenom	A:aef	nesuđen
snajom	N:f	snaja
,	PUNCT	,
brat	N:m	brat
iz	PREP	iz
veze	N:f	veza
preorijentiše	V:m	preorijentiše
se	PAR	se
na	PREP	na
svastiku	N:f	svastika
,	PUNCT	,
a	CONJ	a
mala	A:aen	mali
sestra	N:f	sestra
pomiri	N:f	pomiri
se	PAR	se
sa	PREP	sa
prvim	A:aem	prvi
dečkom	N:m	dečko
.	PUNCT	.
.	SENT	.
.	PUNCT	.
i	CONJ	i
,	PUNCT	,
repetitivan	A:aem	repetitivan
,	PUNCT	,
kakav	PRO	kakav
jeste	INT	jeste
,	PUNCT	,
ponovo	ADV	ponovo
je	PRO	ona
Božić	N:m	Božić
.	SENT	.
Sve	PRO	sav
je	PRO	ona
lepo	ADV	lepo
,	PUNCT	,
jedino	ADV	jedino
što	CONJ	što
nije	A:aen	nije
dobro	ADV	dobro
jeste	INT	jeste
što	PRO	što
majke	N:f	majka
više	ADV	više
nema	A:aem	nem
.	SENT	.
Tokom	PREP	tokom
priče	N:f	priča
,	PUNCT	,
za	PREP	za
nju	PRO	ona
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
za	PREP	za
glavnu	A:aef	glavnu
junakinju	N:f	junakinja
Edwardsovog	A:aem	Edwardsovog
That	N:m	That
’	A:aem	’
s	PREP	s
Life	N:m	Life
znamo	N:n	znamo
da	CONJ	da
je	PRO	ona
teško	ADV	teško
bolesna	A:aen	bolestan
,	PUNCT	,
ali	CONJ	ali
dok	CONJ	dok
tamo	ADV	tamo
Julie	N:f	Julia
Andrews	N:m	Andrews
rešava	A:aem	rešava
uobičajene	A:aef	uobičajen
probleme	N:m	problem
dece	N:f	deca
i	CONJ	i
,	PUNCT	,
naročito	ADV	naročito
,	PUNCT	,
klimakteričnog	A:aem	klimakteričan
muža	N:f	muža
,	PUNCT	,
te	CONJ	te
joj	PRO	ona
autopsija	N:f	autopsija
pokazuje	N:m	pokazuje
da	CONJ	da
je	PRO	ona
isečak	N:m	isečak
njene	PRO	njen
bolesti	N:f	bolest
benigan	A:aem	benigan
,	PUNCT	,
ovde	ADV	ovde
Keatonova	N:m	Keatonova
rešava	A:aef	rešava
svekoliku	A:aef	svekolik
culture	N:f	culture
and	N:m	and
gender	N:m	gender
-	PUNCT	-
zapetljanciju	N:f	zapetljancija
i	CONJ	i
umire	N:m	umire
.	SENT	.
Poseban	A:aem	poseban
kvalitet	N:m	kvalitet
cele	A:aef	ceo
priče	N:f	priča
jeste	INT	jeste
u	PREP	u
tome	PRO	taj
što	CONJ	što
Diane	N:f	Diana
Keaton	N:m	Keaton
nije	V:n	nije
nikakva	PRO	nikakav
simpatična	A:aef	simpatičan
osoba	N:f	osoba
.	PUNCT	.
Šta	A:aem	Šta
više	ADV	više
,	PUNCT	,
sin	N:m	sin
kojem	PRO	koji
majka	N:f	majka
odbija	N:n	odbija
da	CONJ	da
da	CONJ	da
blagoslov	N:m	blagoslov
da	CONJ	da
se	PAR	se
oženi	A:aem	oženi
ženom	N:f	žena
koja	PRO	koji
na	PREP	na
početku	N:m	početak
izgleda	N:m	izgled
kruto	A:aen	krut
i	CONJ	i
fašistoidno	A:aen	fašistoidan
,	PUNCT	,
otvoreno	ADV	otvoreno
joj	PRO	ona
kaže	N:f	kaža
da	CONJ	da
nikom	ADV	nikom
nije	V:m	nije
olakšala	V:m	olakšati
život	N:m	život
,	PUNCT	,
a	CONJ	a
njen	PRO	njen
lik	N:m	lik
i	CONJ	i
lik	N:m	lik
buduće	A:aem	budući
snaje	N:f	snaja
podjednako	ADV	podjednako
su	N:m	su
nam	PRO	mi
odbojni	A:aem	odbojan
.	PUNCT	.
A	CONJ	a
onda	ADV	onda
,	PUNCT	,
polako	ADV	polako
,	PUNCT	,
kao	ADV	kao
u	PREP	u
tetrisu	N:m	tetrisu
(	PUNCT	(
ako	CONJ	ako
poređate	A:aem	poređate
dno	N:n	dno
,	PUNCT	,
vrh	PREP	vrh
će	A:aef	će
imati	N:f	imati
gde	CONJ	gde
da	CONJ	da
padne	A:aem	padni
i	CONJ	i
da	CONJ	da
bude	A:aem	bude
zgodan	A:aem	zgodan
za	PREP	za
korekciju	N:f	korekcija
)	PUNCT	)
sve	PRO	sav
dolazi	N:m	dolaz
na	PREP	na
svoje	PRO	svoj
mesto	N:n	mesto
,	PUNCT	,
samo	PAR	samo
liberalne	A:aef	liberalan
reduše	N:f	reduša
nema	A:aem	nem
.	SENT	.
Njeno	PRO	njen
prisustvo	N:n	prisustvo
je	PRO	ona
u	PREP	u
svemu	PRO	sav
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
pitanje	N:n	pitanje
,	PUNCT	,
što	CONJ	što
bi	A:aem	bi
rekao	V:m	reći
Branko	N:m	Branko
Miljković	N:m	Miljković
,	PUNCT	,
hoće	V:m	hoće
li	PAR	li
sloboda	N:f	sloboda
umeti	N:m	umeti
da	CONJ	da
peva	N:m	pev
kao	CONJ	kao
što	CONJ	što
su	N:m	su
sužnji	N:m	sužanj
pevali	V:m	pevati
o	PREP	o
njoj	PRO	ona
.	SENT	.
