Svojim	PRO	svoj
najnovijim	A:cef	nov
filmom	N:m	film
Nicolas	A:aem	Nicolas
Winding	N:m	Winding
Refn	V:m	Refn
ide	A:aem	ide
korak	N:m	korak
dalje	ADV	dalje
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
svoje	PRO	svoj
prethodno	ADV	prethodno
međunarodno	A:aen	međunarodan
ostvarenje	N:n	ostvarenje
,	PUNCT	,
Vozač	N:m	Vozač
(	PUNCT	(
2011	NUM	@card@
.	PUNCT	.
)	SENT	)
,	PUNCT	,
i	CONJ	i
što	CONJ	što
se	PAR	se
tiče	N:n	tiče
fetišizacije	N:f	fetišizacije
nasilja	N:n	nasilje
i	CONJ	i
što	CONJ	što
se	PAR	se
tiče	N:n	tiče
opšte	A:aem	opšti
stilizacije	N:f	stilizacija
.	SENT	.
Bankok	N:m	Bankok
koji	PRO	koji
nam	PRO	mi
on	PRO	on
predstavlja	N:n	predstavlja
nije	V:m	nije
stvaran	A:aem	stvaran
.	SENT	.
To	PRO	taj
je	PRO	ona
Bankok	N:m	Bankok
iz	PREP	iz
nekog	PRO	neki
košmarnog	A:aem	košmarnog
stripa	N:m	strip
.	SENT	.
Refn	N:m	Refn
je	PRO	ona
od	PREP	od
početka	N:m	početak
svoje	PRO	svoj
karijere	N:f	karijera
voleo	V:m	voleti
da	CONJ	da
se	PAR	se
bavi	A:aem	bavi
kriminalcima	N:m	kriminalac
i	CONJ	i
njihovim	PRO	njihov
životima	N:m	život
,	PUNCT	,
ali	CONJ	ali
teško	ADV	teško
da	CONJ	da
se	PAR	se
može	A:aem	može
otići	N:m	otići
dalje	ADV	dalje
od	PREP	od
prljave	A:aef	prljav
realnosti	N:f	realnost
njegovog	PRO	njegov
prvenca	N:m	prvenac
Diler	N:m	Diler
(	PUNCT	(
1996	NUM	@card@
)	PUNCT	)
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
to	PRO	taj
učinjeno	V:n	učiniti
ovim	PRO	ovaj
filmom	N:m	film
.	SENT	.
Ako	CONJ	ako
su	N:m	su
likovi	N:m	lik
trilogije	N:f	trilogija
o	PREP	o
danskom	A:aef	danski
podzemlju	N:n	podzemlje
bili	V:m	biti
na	PREP	na
dnu	N:n	dno
narkodilerskog	A:aem	narkodilerskog
lanca	N:m	lanac
ishrane	N:f	ishrana
,	PUNCT	,
ovi	PRO	ovaj
sada	ADV	sada
su	N:m	su
u	PREP	u
vrhu	N:m	vrh
,	PUNCT	,
a	CONJ	a
takvo	PRO	takav
je	PRO	ona
i	CONJ	i
njihovo	PRO	njihov
okruženje	N:n	okruženje
.	SENT	.
Blistavo	A:aen	blistav
,	PUNCT	,
uglačano	A:aen	uglačan
,	PUNCT	,
luksuzno	A:aen	luksuzan
.	PUNCT	.
Ali	CONJ	ali
zločini	N:m	zločin
koje	PRO	koji
čine	N:m	čin
nisu	N:m	nisu
ništa	PRO	ništa
manje	ADV	manje
grozni	A:aem	grozan
,	PUNCT	,
naprotiv	PAR	naprotiv
.	PUNCT	.
Samo	PAR	samo
bog	N:m	bog
prašta	A:aem	prašta
je	PRO	ona
film	N:m	film
osvete	N:f	osveta
,	PUNCT	,
i	CONJ	i
to	PRO	taj
takav	PRO	takav
da	CONJ	da
evocira	N:m	evocira
antičke	A:aef	antički
tragedije	N:f	tragedija
.	SENT	.
Džulijan	N:m	Džulijan
(	PUNCT	(
Gosling	N:m	Gosling
)	PUNCT	)
mora	N:n	more
da	CONJ	da
osveti	N:f	osveta
smrt	N:f	smrt
svog	PRO	svoj
brata	N:m	brata
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
želi	V:m	žeti
,	PUNCT	,
jer	CONJ	jer
mu	PRO	on
je	PRO	ona
brat	N:m	brat
bio	V:m	biti
silovatelj	N:m	silovatelj
,	PUNCT	,
psihopata	N:m	psihopata
i	CONJ	i
ubica	N:m	ubica
,	PUNCT	,
i	CONJ	i
malo	ADV	malo
je	PRO	ona
reći	V:m	reći
da	CONJ	da
je	PRO	ona
zaslužio	V:m	zaslužiti
to	PRO	taj
što	CONJ	što
je	PRO	ona
dobio	V:m	dobiti
.	SENT	.
Svojim	PRO	svoj
odbijanjem	N:n	odbijanje
,	PUNCT	,
on	PRO	on
se	PAR	se
nađe	V:m	nađe
zaglavljen	V:m	zaglaviti
između	PREP	između
dva	NUM	dva
gotovo	ADV	gotovo
mitska	A:aem	mitski
entiteta	N:m	entitet
,	PUNCT	,
svoje	PRO	svoj
majke	N:f	majka
(	PUNCT	(
Scott	A:aem	Scott
Thomas	N:m	Thomas
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
zastupa	N:m	zastupa
porodični	A:aem	porodičan
princip	N:m	princip
,	PUNCT	,
i	CONJ	i
nepotkupljivog	A:aem	nepotkupljiv
poručnika	N:m	poručnik
Čenga	N:m	Čeng
(	PUNCT	(
Pansringarm	N:m	Pansringarm
)	PUNCT	)
,	PUNCT	,
poznatijeg	A:bem	poznat
kao	CONJ	kao
Anđeo	N:m	Anđeo
smrti	N:f	smrt
,	PUNCT	,
predstavnika	N:m	predstavnik
slepe	A:aef	slep
pravde	N:f	pravda
,	PUNCT	,
koju	PRO	koji
strogo	ADV	strogo
sprovodi	N:m	sprovod
na	PREP	na
nekonvencionalne	A:aef	nekonvencionalan
načine	N:m	način
.	SENT	.
Svojim	PRO	svoj
ne	PAR	ne
-	PUNCT	-
delanjem	N:n	delanje
i	CONJ	i
odbijanjem	N:n	odbijanje
da	CONJ	da
prihvati	N:m	prihvat
neminovnost	N:f	neminovnost
situacije	N:f	situacija
,	PUNCT	,
Džulijan	N:m	Džulijan
samo	CONJ	samo
odlaže	A:aem	odlaže
neizbežan	A:aem	neizbežan
kraj	N:m	kraj
.	SENT	.
U	PREP	u
tom	PRO	taj
smislu	N:m	smisao
ne	PAR	ne
možemo	ADV	možemo
reći	V:m	reći
da	CONJ	da
u	PREP	u
filmu	N:m	film
postoji	N:m	postoji
neka	PRO	neki
napetost	N:f	napetost
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
ne	PAR	ne
postoji	N:m	postoji
ni	PAR	ni
kada	CONJ	kada
čitamo	A:aem	čitamo
Medeju	N:f	Medeja
.	PUNCT	.
Znamo	N:m	Znamo
da	CONJ	da
će	A:aem	će
kraj	N:m	kraj
biti	N:f	bit
krvav	A:aem	krvav
,	PUNCT	,
pitanje	N:n	pitanje
je	PRO	ona
samo	PAR	samo
koliko	ADV	koliko
,	PUNCT	,
i	CONJ	i
na	PREP	na
koji	PRO	koji
način	N:m	način
će	V:m	će
se	PAR	se
sve	PRO	sav
razrešiti	N:m	razrešiti
.	SENT	.
Snaga	N:f	snaga
ovog	PRO	ovaj
filma	N:m	film
i	CONJ	i
nije	N:m	nije
u	PREP	u
iščekivanju	N:n	iščekivanje
raspleta	N:m	rasplet
,	PUNCT	,
već	CONJ	već
u	PREP	u
načinu	N:m	način
na	PREP	na
koji	PRO	koji
Refn	N:m	Refn
slika	N:f	slika
tu	ADV	tu
praiskonsku	A:aef	praiskonski
priču	N:f	priča
u	PREP	u
izmaštanom	A:aen	izmaštan
savremenom	A:aem	savremen
okruženju	N:n	okruženje
.	SENT	.
Posebno	ADV	posebno
su	N:m	su
zanimljivi	A:aem	zanimljiv
dugi	A:aem	dug
kadrovi	N:m	kadar
,	PUNCT	,
koji	PRO	koji
nekad	ADV	nekad
namerno	ADV	namerno
izbegavaju	N:m	izbegavaju
ključni	A:aem	ključni
događaj	N:m	događaj
,	PUNCT	,
pritom	PAR	pritom
skrećući	A:aem	skrećući
pažnju	N:f	pažnja
na	PREP	na
potpuno	ADV	potpuno
drugu	A:aef	drugi
dimenziju	N:f	dimenzija
istog	A:aen	isti
.	SENT	.
Likovi	N:m	lik
su	N:m	su
sublimirani	V:m	sublimirati
do	PREP	do
nivoa	N:m	nivo
personifikacije	N:f	personifikacija
,	PUNCT	,
a	CONJ	a
jedini	A:aem	jedini
izuzetak	N:m	izuzetak
su	PREF	su
Džulijan	N:m	Džulijan
,	PUNCT	,
čiji	PRO	čiji
pokušaj	N:m	pokušaj
da	CONJ	da
ostane	N:m	ostane
ispravan	A:aem	ispravan
u	PREP	u
situaciji	N:f	situacija
koja	PRO	koji
mu	PRO	on
to	PRO	taj
ne	PAR	ne
dozvoljava	N:f	dozvoljava
je	PRO	ona
dirljiv	A:aem	dirljiv
ali	CONJ	ali
uzaludan	A:aem	uzaludan
,	PUNCT	,
i	CONJ	i
njegova	PRO	njegov
družbenica	N:f	družbenica
Mai	N:m	Mai
(	PUNCT	(
Phongam	N:m	Phongam
)	PUNCT	)
,	PUNCT	,
koja	PRO	koji
jedina	A:aef	jedini
zadržava	N:f	zadržava
neki	PRO	neki
vid	N:m	vid
dostojanstva	N:n	dostojanstvo
i	CONJ	i
ljudskosti	N:f	ljudskost
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
da	CONJ	da
naglasim	N:m	naglasim
,	PUNCT	,
svi	PRO	sav
koji	PRO	koji
se	PAR	se
gnušaju	V:f	gnušaju
krvi	N:f	krv
i	CONJ	i
nasilja	N:n	nasilje
neka	PRO	neki
ovaj	PRO	ovaj
film	N:m	film
preskoče	N:m	preskok
,	PUNCT	,
da	CONJ	da
im	PRO	ona
se	PAR	se
ne	PAR	ne
bi	V:f	bi
desilo	V:n	desiti
što	PRO	što
gledaocima	N:m	gledalac
na	PREP	na
Blokbaster	N:m	blokbaster
reviji	N:f	revija
,	PUNCT	,
koji	PRO	koji
su	N:m	su
sa	PREP	sa
indignacijom	N:f	indignacija
napuštali	V:m	napuštati
salu	N:f	sala
u	PREP	u
velikom	A:aef	velik
broju	N:m	broj
.	SENT	.
Mada	CONJ	mada
nasilje	N:n	nasilje
u	PREP	u
novom	A:aem	nov
Refnovom	A:aem	Refnovom
filmu	N:m	film
obično	ADV	obično
nije	V:m	nije
direktno	ADV	direktno
niti	CONJ	niti
slikovito	ADV	slikovito
prikazano	V:n	prikazati
(	PUNCT	(
sa	PREP	sa
par	N:m	par
bitnih	A:aef	bitan
izuzetaka	N:m	izuzetak
)	PUNCT	)
i	CONJ	i
ono	PRO	onaj
implicirano	V:n	implicirati
je	PRO	ona
toliko	ADV	toliko
surovo	A:aen	surov
da	CONJ	da
će	A:aen	će
mnogima	A:aef	mnogi
biti	N:f	bit
previše	ADV	previše
mučno	ADV	mučno
da	CONJ	da
to	PRO	taj
gledaju	N:m	gledaju
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
moram	N:m	moram
priznati	V:m	priznati
da	CONJ	da
sam	PRO	sam
bila	V:f	biti
iznenađena	V:f	iznenaditi
takvom	PRO	takav
reakcijom	N:f	reakcija
publike	N:f	publika
.	SENT	.
Daleko	ADV	daleko
od	PREP	od
toga	PRO	taj
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
najnasilniji	A:cem	nasilan
film	N:m	film
koji	PRO	koji
sam	PRO	sam
gledala	V:f	gledati
,	PUNCT	,
a	CONJ	a
sa	PREP	sa
izuzetkom	N:m	izuzetak
Klipa	N:m	Klipa
retko	ADV	retko
se	PAR	se
dešavalo	V:n	dešavati
da	CONJ	da
ljudi	N:m	ljudi
toliko	ADV	toliko
izlaze	N:m	izlaz
iz	PREP	iz
sale	N:f	sala
.	SENT	.
