U	PREP	u
Banja	N:f	Banja
Luci	N:f	Luka
,	PUNCT	,
recimo	A:aen	recimo
,	PUNCT	,
negde	ADV	negde
u	PREP	u
finišu	N:m	finiš
dedvedestih	A:aem	dedvedestih
tokom	PREP	tokom
prijateljskog	A:aem	prijateljski
meča	N:m	meč
košarkaša	N:m	košarkaš
iz	PREP	iz
Srbije	N:f	Srbija
i	CONJ	i
udarnog	A:aen	udarni
tima	PRO	taj
banjalučkog	A:aem	banjalučki
Borac	N:m	borac
Nektara	N:m	nektar
omanji	A:aem	omanji
plej	N:m	plej
domaćeg	A:aem	domaći
tima	PRO	taj
samouvereno	ADV	samouvereno
je	PRO	ona
krenuo	V:m	krenuti
da	CONJ	da
zakuca	N:m	zakuca
preko	PREP	preko
stamenog	A:aem	stamen
Vladeta	N:m	Vladeta
Divaca	N:m	Divac
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
u	PREP	u
trenu	N:m	tren
zakoračio	V:m	zakoračiti
pola	ADV	pola
koraka	N:m	korak
u	PREP	u
stranu	N:f	strana
i	CONJ	i
hitro	ADV	hitro
obuhvatio	V:m	obuhvatiti
junošu	N:m	junoša
oko	PREP	oko
struka	N:m	struk
,	PUNCT	,
podigao	V:m	podignuti
ga	PRO	on
do	PREP	do
koša	N:m	koš
kako	CONJ	kako
bi	V:m	bi
mu	PRO	on
pomogao	V:m	pomoći
u	PREP	u
naumu	N:m	naum
;	SENT	;
bez	PREP	bez
obzira	N:m	obzir
što	CONJ	što
je	PRO	ona
reč	N:f	reč
o	PREP	o
rezultatski	A:aem	rezultatski
ne	PAR	ne
toloko	N:f	toloko
bitnoj	A:aef	bitan
utakmici	N:f	utakmica
,	PUNCT	,
većina	N:f	većina
će	N:f	će
se	PAR	se
složiti	A:aem	složiti
da	CONJ	da
je	PRO	ona
to	PRO	taj
što	PRO	što
je	PRO	ona
Divac	N:m	Divac
učinio	V:m	učiniti
dokaz	N:m	dokaz
veličine	N:f	veličina
i	CONJ	i
istinski	A:aem	istinski
cool	N:m	cool
act	A:aem	act
.	SENT	.
Sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
a	CONJ	a
što	CONJ	što
ćemo	N:f	ćemo
u	PREP	u
par	N:m	par
navrata	N:m	navrat
i	CONJ	i
čuti	N:m	čuti
u	PREP	u
filmu	N:m	film
koji	PRO	koji
je	PRO	ona
predmet	N:m	predmet
ovog	PRO	ovaj
prikaza	N:f	prikaza
,	PUNCT	,
sva	PRO	sav
je	PRO	ona
prilika	N:f	prilika
da	CONJ	da
bi	A:aef	bi
titulu	N:f	titula
najcrnjeg	A:cen	crn
uncool	N:m	uncool
act	A:aem	act
-	PUNCT	-
a	CONJ	a
u	PREP	u
istoriji	N:f	istorija
,	PUNCT	,
ako	CONJ	ako
ne	PAR	ne
popularne	A:aef	popularan
muzike	N:f	muzika
,	PUNCT	,
a	CONJ	a
ono	PRO	onaj
barem	PAR	barem
istorije	N:f	istorija
diskografije	N:f	diskografija
ponela	V:f	poneti
Metallica	N:f	Metallica
u	PREP	u
slučaju	N:m	slučaj
silovitog	A:aen	silovit
sudskog	A:aem	sudski
obrušavanja	N:n	obrušavanje
na	PREP	na
ekipu	N:f	ekipa
Napstera	N:m	Napstera
.	SENT	.
A	CONJ	a
fenomenom	N:m	fenomen
i	CONJ	i
slučajem	N:m	slučaj
Napstera	N:m	Napstera
se	PAR	se
bavi	V:m	bavi
izvrsni	A:aem	izvrstan
dokumentarac	N:m	dokumentarac
Downloaded	N:m	Downloaded
,	PUNCT	,
iza	PREP	iza
koga	PRO	koji
u	PREP	u
producentsko	A:aen	producentski
-	PUNCT	-
scenarističko	A:aen	scenaristički
-	PUNCT	-
rediteljskom	A:aem	rediteljski
smislu	N:m	smisao
stoji	N:f	stoja
Alex	A:aem	Alex
Winter	N:m	Winter
,	PUNCT	,
i	CONJ	i
dalje	ADV	dalje
napoznatiji	A:bem	napoznatiji
kao	CONJ	kao
Bill	N:m	Bill
iz	PREP	iz
tinejdžerske	A:aef	tinejdžerski
diptih	N:m	diptih
-	PUNCT	-
komedije	N:f	komedija
o	PREP	o
Billu	N:m	Billu
i	CONJ	i
Tedu	N:m	Ted
i	CONJ	i
njihovom	PRO	njihov
putovanju	N:n	putovanje
kroz	PREP	kroz
vreme	N:n	vreme
.	PUNCT	.
I	CONJ	i
mada	CONJ	mada
se	PAR	se
sudeći	A:aem	sudeći
po	PREP	po
glavnom	A:aem	glavnom
producentu	N:m	producent
i	CONJ	i
finasijeru	N:m	finasijeru
ovog	PRO	ovaj
projekta	N:m	projekt
(	PUNCT	(
pododeljenju	N:m	pododeljenju
MTV	N:m	MTV
-	PUNCT	-
ija	A:aem	ija
,	PUNCT	,
kanalu	N:m	kanal
VH	A:aem	VH
1	NUM	@card@
)	PUNCT	)
možda	PAR	možda
i	CONJ	i
moglo	V:n	moći
očekivati	A:aem	očekivati
reakcionarno	A:aen	reakcionaran
razračunavanje	N:n	razračunavanje
i	CONJ	i
sa	PREP	sa
samim	PRO	sam
pojmom	N:m	pojam
piraterije	N:f	piraterija
u	PREP	u
popularnoj	A:aef	popularan
muzici	N:f	muzika
,	PUNCT	,
Downloaded	N:m	Downloaded
je	PRO	ona
,	PUNCT	,
pomalo	ADV	pomalo
iznenađujuće	ADV	iznenađujuće
,	PUNCT	,
primer	N:m	primer
čestitosti	N:f	čestitost
i	CONJ	i
uravnoteženog	A:aem	uravnotežen
pristupa	N:m	pristup
odabranoj	A:aef	odabran
temi	N:f	tema
i	CONJ	i
njome	PRO	ona
obuhvaćenim	A:aef	obuhvaćen
suprostavljenim	A:aef	suprostavljenim
stranama	N:f	strana
.	PUNCT	.
Napster	N:m	Napster
,	PUNCT	,
preteča	N:f	preteča
svekolike	A:aef	svekolik
digitalne	A:aem	digitalan
piraterije	N:f	piraterija
,	PUNCT	,
na	PREP	na
početku	N:m	početak
je	PRO	ona
bio	V:m	biti
tek	CONJ	tek
dugo	ADV	dugo
snevani	V:m	snevati
san	N:m	san
Shawna	A:aem	Shawna
Fanninga	N:m	Fanninga
,	PUNCT	,
informatičkog	A:aem	informatički
audodidakta	N:m	audodidakta
iz	PREP	iz
ubogih	A:aem	ubog
zabiti	A:aem	zabit
Massachusettsa	N:m	Massachusettsa
,	PUNCT	,
a	CONJ	a
Alex	A:aem	Alex
Winter	N:m	Winter
sa	PREP	sa
dosta	ADV	dosta
takta	N:m	takt
,	PUNCT	,
strpljenja	N:n	strpljenje
i	CONJ	i
sposobnosti	N:f	sposobnost
da	CONJ	da
razluči	N:f	razluči
između	PREP	između
trivije	A:ben	trivije
,	PUNCT	,
suštinski	ADV	suštinski
efemernog	A:aem	efemeran
i	CONJ	i
zbilja	PAR	zbilja
relevantnog	A:aen	relevantan
,	PUNCT	,
prvu	A:aem	prvi
trećinu	N:f	trećina
filma	N:m	film
u	PREP	u
potpunosti	N:f	potpunost
posveti	N:f	posveta
životnom	A:aem	životan
putu	N:m	put
i	CONJ	i
genezi	N:f	geneza
Napstera	N:m	Napstera
,	PUNCT	,
kao	CONJ	kao
znakovitog	A:aem	znakovit
simbola	N:m	simbol
jedne	NUM	jedan
korenite	A:aef	korenit
društvene	A:aem	društven
promene	N:f	promena
.	SENT	.
Kako	CONJ	kako
biva	A:aem	biva
opcrtan	A:aem	opcrtan
osnovni	A:aem	osnovni
okvir	N:m	okvir
šire	A:bem	širok
slike	N:f	slika
,	PUNCT	,
ovaj	PRO	ovaj
dokumentarni	A:aem	dokumentaran
rad	N:m	rad
dobija	N:n	dobija
na	PREP	na
ritmu	N:m	ritam
i	CONJ	i
opštoj	A:aef	opšti
dinamičnosti	N:f	dinamičnost
ni	CONJ	ni
jednog	NUM	jedan
trena	N:m	tren
tokom	PREP	tokom
ambiciozne	A:aef	ambiciozan
minutaže	N:f	minutaža
(	PUNCT	(
čak	PAR	čak
106	NUM	@card@
minuta	N:m	minut
što	CONJ	što
je	PRO	ona
zahtevno	A:aen	zahtevan
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
uobičajenih	A:aen	uobičajen
70	NUM	@card@
-	PUNCT	-
80	NUM	@card@
za	PREP	za
ovaj	PRO	ovaj
soj	N:m	soj
filmova	N:m	film
)	PUNCT	)
ne	PAR	ne
gubeći	A:aem	gubeći
fokus	N:m	fokus
i	CONJ	i
ciljanu	A:aef	ciljan
poentu	N:f	poenta
.	PUNCT	.
Nastanak	N:m	nastanak
i	CONJ	i
sunovrat	N:m	sunovrat
Napstera	N:m	Napstera
je	PRO	ona
prikazan	V:m	prikazati
u	PREP	u
svoj	PRO	sav
punoći	N:f	punoća
ozbiljnog	A:aem	ozbiljan
pitanja	N:n	pitanje
na	PREP	na
planetranom	A:aem	planetranom
nivou	N:m	nivo
sa	PREP	sa
pregšt	A:aem	pregšt
detalja	N:m	detalj
i	CONJ	i
krajnje	A:aem	krajnji
funkcionalnih	A:aem	funkcionalan
zastajanja	N:n	zastajanje
kako	CONJ	kako
bi	V:m	bi
se	PAR	se
uvid	N:m	uvid
u	PREP	u
ovo	PRO	ovaj
pitanje	N:n	pitanje
dopunio	V:m	dopuniti
još	ADV	još
kakvom	PRO	kakav
finesom	N:f	finesa
i	CONJ	i
dobrodošlom	A:aef	dobrodošao
fusnotom	N:f	fusnota
.	PUNCT	.
Ako	CONJ	ako
po	PREP	po
strani	N:f	strana
ostavimo	A:aen	ostavimo
Shawna	A:aem	Shawna
Fanninga	N:m	Fanninga
i	CONJ	i
Seana	N:m	Seana
Parkera	N:m	Parker
,	PUNCT	,
udarne	A:aef	udarni
igle	N:f	igla
Napster	N:m	Napster
avanture	N:f	avantura
,	PUNCT	,
najjači	A:cem	jak
utisak	N:m	utisak
svakako	ADV	svakako
ostavlja	A:aem	ostavlja
nastup	N:m	nastup
Chrisa	N:m	Chrisa
Blackwella	N:f	Blackwella
,	PUNCT	,
alfe	N:f	alfa
i	CONJ	i
omege	N:f	omega
Island	N:m	Island
Recordsa	N:m	Recordsa
,	PUNCT	,
kao	CONJ	kao
primer	N:m	primer
gotovo	ADV	gotovo
izumrlog	A:aem	izumro
intelektualnog	A:aem	intelektualan
poštenja	N:n	poštenje
.	SENT	.
Blackwell	N:m	Blackwell
tom	PRO	taj
prilikom	PREP	prilikom
mudro	A:aen	mudar
zaključuje	N:m	zaključuje
da	CONJ	da
je	PRO	ona
u	PREP	u
slučaju	N:m	slučaj
Napstera	N:m	Napstera
i	CONJ	i
srodne	A:aef	srodan
digitalne	A:aem	digitalan
piraterije	N:f	piraterija
tehnologija	N:f	tehnologija
po	PREP	po
prvi	A:aem	prvi
put	N:m	put
porazila	V:f	poraziti
muzičku	A:aen	muzički
industriju	N:f	industrija
,	PUNCT	,
neizostavno	A:aen	neizostavan
namerenu	A:aen	nameren
da	CONJ	da
konzumersko	A:aen	konzumersko
slepilo	N:n	slepilo
i	CONJ	i
kolekcionarsku	A:aef	kolekcionarski
strast	N:f	strast
eksploatiše	A:aen	eksploatiše
preko	PREP	preko
granice	N:f	granica
i	CONJ	i
najlabavije	A:cen	labav
shvaćene	V:f	shvatiti
etičnosti	N:f	etičnost
.	SENT	.
Osim	PREP	osim
toga	PRO	taj
,	PUNCT	,
u	PREP	u
ovom	PRO	ovaj
vrsnoom	A:aen	vrsnoom
ostvarenju	N:n	ostvarenje
da	CONJ	da
se	PAR	se
čuti	N:m	čuti
podosta	ADV	podosta
mudrih	A:aef	mudar
opservacija	N:f	opservacija
i	CONJ	i
zanimljivih	A:aen	zanimljiv
gledišta	N:n	gledište
,	PUNCT	,
popust	N:m	popust
opaske	N:f	opaska
jednog	NUM	jedan
od	PREP	od
udarnika	N:m	udarnik
iz	PREP	iz
Napstera	N:m	Napstera
da	CONJ	da
se	PAR	se
ovaj	PRO	ovaj
servis	N:m	servis
ponajviše	ADV	ponajviše
našao	V:m	naći
na	PREP	na
udaru	N:m	udar
rap	N:m	rap
i	CONJ	i
heavy	A:aem	heavy
metal	N:m	metal
zvrzda	N:f	zvrzda
,	PUNCT	,
čije	PRO	čiji
javne	A:aef	javan
persone	N:f	persona
u	PREP	u
najvećoj	A:cef	velik
meri	N:f	mera
počivaju	N:f	počivaju
ideji	N:f	ideja
(	PUNCT	(
a	CONJ	a
zaopravo	A:aen	zaopravo
iluziji	N:f	iluzija
)	PUNCT	)
otpadništva	N:n	otpadništvo
i	CONJ	i
sukoba	N:m	sukob
sa	PREP	sa
gotovo	ADV	gotovo
uvek	ADV	uvek
represivnim	A:aef	represivan
sistemom	N:m	sistem
.	SENT	.
Najnaduhnutiji	A:cem	Najnaduhnutiji
od	PREP	od
svih	PRO	sav
sagovornika	N:m	sagovornik
,	PUNCT	,
pak	PAR	pak
,	PUNCT	,
bio	V:m	biti
je	PRO	ona
Henry	A:aem	Henry
Rollins	N:m	Rollins
,	PUNCT	,
koji	PRO	koji
,	PUNCT	,
reklo	V:n	reći
bi	V:n	bi
se	PAR	se
,	PUNCT	,
shvata	N:m	shvata
svu	PRO	sav
suštinu	N:f	suština
intruzije	N:f	intruzija
novih	A:aef	nov
i	CONJ	i
sve	ADV	sve
novijih	A:ben	nov
tehnologija	N:f	tehnologija
u	PREP	u
društvenu	A:aem	društven
zbilju	N:f	zbilja
,	PUNCT	,
a	CONJ	a
vredi	N:f	vredi
pomenuti	A:aem	pomenut
i	CONJ	i
ocenu	N:f	ocena
,	PUNCT	,
koju	PRO	koji
će	A:aen	će
istaći	N:n	istaći
jedan	NUM	jedan
drugi	A:aem	drugi
učesnik	N:m	učesnik
,	PUNCT	,
da	CONJ	da
piraterija	N:f	piraterija
od	PREP	od
prestupa	N:m	prestup
izrasla	V:f	izrasti
u	PREP	u
jasan	A:aem	jasan
i	CONJ	i
glasan	A:aem	glasan
ideološki	A:aem	ideološki
stav	N:m	stav
prema	PREP	prema
sistemu	N:m	sistem
,	PUNCT	,
između	PREP	između
ostalog	A:aem	ostalog
,	PUNCT	,
oličenog	A:aem	oličen
i	CONJ	i
u	PREP	u
krvopijama	N:f	krvopija
iz	PREP	iz
diskografskih	A:aef	diskografski
kuća	N:f	kuća
i	CONJ	i
vedetama	N:f	vedeta
iz	PREP	iz
redova	N:m	red
samih	PRO	sam
muzičara	N:m	muzičar
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
,	PUNCT	,
kako	CONJ	kako
je	PRO	ona
već	PAR	već
istaknuto	V:n	istaknuti
,	PUNCT	,
Alex	A:aem	Alex
Winter	N:m	Winter
ovde	ADV	ovde
isporučio	V:m	isporučiti
uravnotežen	V:m	uravnotežiti
i	CONJ	i
nimalo	ADV	nimalo
navijački	A:aem	navijački
ostrašćen	A:aem	ostrašćen
rad	N:m	rad
,	PUNCT	,
svakom	PRO	svaki
iole	ADV	iole
pomnijem	A:bem	poman
gledaocu	N:m	gledalac
ovog	PRO	ovaj
dokumentarca	N:m	dokumentarac
biva	A:aem	biva
jasno	ADV	jasno
na	PREP	na
čijoj	PRO	čiji
strani	A:aem	stran
su	N:m	su
njegove	PRO	njegov
simpatije	N:f	simpatija
,	PUNCT	,
a	CONJ	a
u	PREP	u
skladu	N:m	sklad
sa	PREP	sa
već	PAR	već
pominjanim	A:aen	pominjan
intelektualnim	A:aen	intelektualan
poštenjem	N:n	poštenje
,	PUNCT	,
sama	A:aen	sam
završnica	N:f	završnica
filma	N:m	film
donosi	N:m	donosi
uvid	N:m	uvid
u	PREP	u
sudbine	N:f	sudbina
i	CONJ	i
(	PUNCT	(
d	ABB	d
)	PUNCT	)
evolucije	N:f	evolucija
glavnih	A:aen	glavnih
aktera	N:m	akter
Napster	N:m	Napster
revolucije	N:f	revolucija
u	PREP	u
pokušaju	N:m	pokušaj
/	A:aem	/
zametku	N:m	zametak
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
sadašnja	A:aen	sadašnji
i	CONJ	i
skorašnja	A:aen	skorašnji
uhlebljenja	N:n	uhlebljenje
vrlih	A:aen	vrli
boraca	N:m	borac
protiv	PREP	protiv
nepravičnosti	N:f	nepravičnost
u	PREP	u
sijaset	ADV	sijaset
pojavnih	A:aen	pojavni
oblika	N:m	oblik
ipak	PAR	ipak
nimalo	ADV	nimalo
ne	PAR	ne
umanjuje	N:m	umanjuje
značaj	N:m	značaj
njihovih	PRO	njihov
pionirskih	A:aem	pionirski
radova	N:m	rad
za	PREP	za
pravedniju	A:bef	pravedan
distribuciju	N:f	distribucija
muzike	N:f	muzika
i	CONJ	i
piraterije	N:f	piraterija
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
,	PUNCT	,
barem	PAR	barem
to	PRO	taj
je	PRO	ona
nakon	PREP	nakon
svih	PRO	sav
ovih	PRO	ovaj
godina	N:f	godina
MP	N:m	MP
3	NUM	@card@
-	PUNCT	-
MP	N:m	MP
4	NUM	@card@
-	PUNCT	-
flac	N:m	flac
tranformacija	N:f	tranformacija
,	PUNCT	,
kuluka	N:m	kuluk
i	CONJ	i
dovijanja	N:n	dovijanje
,	PUNCT	,
jedan	NUM	jedan
od	PREP	od
najprirodnijih	A:cen	prirodan
procesa	N:m	proces
u	PREP	u
svetu	N:m	svet
danas	ADV	danas
.	PUNCT	.
