Kuća	A:aem	Kuća
letećih	A:aem	leteći
bodeža	N:m	bodež
(	PUNCT	(
House	N:m	House
of	N:m	of
Flying	N:m	Flying
Daggers	N:m	Daggers
)	PUNCT	)
Zhanga	N:f	Zhanga
Yimoua	N:m	Yimoua
prirodno	ADV	prirodno
se	PAR	se
nadovezuje	V:m	nadovezuje
na	PREP	na
film	N:m	film
Heroj	N:m	heroj
,	PUNCT	,
veliki	A:aem	velik
internacionalni	A:aem	internacionalan
hit	N:m	hit
kojim	PRO	koji
je	PRO	ona
Yimou	N:m	Yimou
udario	V:m	udariti
temelje	N:m	temelj
svom	PRO	sav
sada	ADV	sada
već	CONJ	već
prepoznatljivom	A:aen	prepoznatljiv
stilu	N:n	stilo
koji	PRO	koji
fascinira	N:m	fascinira
gledaoce	N:m	gledalac
širom	PREP	širom
sveta	N:m	svet
.	SENT	.
Yimou	N:m	Yimou
je	PRO	ona
primenio	V:m	primeniti
naizgled	ADV	naizgled
jednostavnu	A:aef	jednostavan
formulu	N:f	formula
:	SENT	:
preuzeo	V:m	preuzeti
je	PRO	ona
akciju	N:f	akcija
iz	PREP	iz
kultnih	A:aen	kultnih
,	PUNCT	,
ali	CONJ	ali
širem	A:bem	širok
gledalištu	N:n	gledalište
ipak	PAR	ipak
opskurnih	A:aem	opskuran
hongkongških	A:aem	hongkongških
i	CONJ	i
kineskih	A:aem	kineski
filmova	N:m	film
,	PUNCT	,
spojio	V:m	spojiti
je	PRO	ona
sa	PREP	sa
melodramom	N:f	melodrama
,	PUNCT	,
i	CONJ	i
tako	ADV	tako
stilizovani	V:m	stilizovati
i	CONJ	i
romansirani	V:m	romansirati
balet	N:m	balet
borilačkih	A:aef	borilački
veština	N:f	veština
prikazao	V:m	prikazati
na	PREP	na
pozornici	N:f	pozornica
bogate	A:aef	bogat
kineske	A:aef	kineski
istorije	N:f	istorija
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
prividna	A:aef	prividan
lakoća	N:f	lakoća
s	PREP	s
kojom	PRO	koji
on	PRO	on
to	PRO	taj
čini	N:f	čini
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
utisak	N:m	utisak
neobično	A:aen	neobičan
skladne	A:aef	skladan
celine	N:f	celina
koji	PRO	koji
postiže	A:aem	postiže
jesu	A:aem	jesu
razlozi	N:m	razlog
da	CONJ	da
se	PAR	se
zastane	N:m	zastane
pre	ADV	pre
nego	CONJ	nego
li	PAR	li
se	PAR	se
filmovi	N:m	film
poput	PREP	poput
Heroja	N:m	heroj
,	PUNCT	,
i	CONJ	i
sada	ADV	sada
Kuće	A:aem	Kuće
letećih	A:aem	leteći
bodeža	N:m	bodež
svedu	N:m	svedu
na	PREP	na
istočnjački	A:aem	istočnjački
pandan	N:m	pandan
vesternu	N:m	vestern
.	SENT	.
Jer	CONJ	jer
Yimou	N:m	Yimou
ne	PAR	ne
koristi	N:f	korist
istoriju	N:f	istorija
samo	PAR	samo
kao	ADV	kao
pozadinu	N:f	pozadina
za	PREP	za
akciju	N:f	akcija
,	PUNCT	,
a	CONJ	a
melodramsko	A:aen	melodramski
tkivo	N:n	tkivo
tretira	N:m	tretira
na	PREP	na
gotovo	ADV	gotovo
teatralan	A:aem	teatralan
,	PUNCT	,
ali	CONJ	ali
savršeno	ADV	savršeno
ubedljiv	A:aem	ubedljiv
način	N:m	način
.	SENT	.
Iako	CONJ	iako
su	N:m	su
mnogi	A:aem	mnogi
sumnjali	V:m	sumnjati
da	CONJ	da
Yimou	N:m	Yimou
može	A:aem	može
da	CONJ	da
nadmaši	A:aem	nadmaši
sam	PRO	sam
sebe	PRO	sebe
on	PRO	on
je	PRO	ona
to	PRO	taj
učinio	V:m	učiniti
.	SENT	.
Vizuelno	A:aen	vizuelan
bogatstvo	N:n	bogatstvo
kojim	PRO	koji
film	N:m	film
pleni	A:aem	pleni
dostiže	A:aem	dostiže
vrhunac	N:m	vrhunac
na	PREP	na
kraju	N:m	kraj
:	SENT	:
u	PREP	u
sceni	N:f	scena
na	PREP	na
snegu	N:m	sneg
,	PUNCT	,
u	PREP	u
mećavi	N:f	mećava
koja	PRO	koji
besni	A:aem	besan
i	CONJ	i
gde	ADV	gde
su	N:m	su
emocije	N:f	emocija
junaka	N:m	junak
jednako	ADV	jednako
uzburkane	V:f	uzburkati
.	PUNCT	.
I	CONJ	i
tako	ADV	tako
se	PAR	se
opet	ADV	opet
vraćam	N:m	vraćam
na	PREP	na
priču	N:f	priča
o	PREP	o
skladu	N:m	sklad
.	SENT	.
Skladu	N:m	sklad
između	PREP	između
boja	N:f	boja
i	CONJ	i
pokreta	N:m	pokret
,	PUNCT	,
Yimoua	N:m	Yimoua
koji	PRO	koji
koristi	N:f	korist
kameru	N:f	kamera
istovremeno	ADV	istovremeno
slikajući	V:m	slikajući
njome	PRO	ona
,	PUNCT	,
i	CONJ	i
snimajući	A:aem	snimajući
pokret	N:m	pokret
kamere	N:f	kamera
-	PUNCT	-
kičice	N:f	kičica
.	PUNCT	.
Skladu	N:m	sklad
između	PREP	između
emocija	N:f	emocija
datih	A:aen	dat
kroz	PREP	kroz
dijaloge	N:m	dijalog
koji	PRO	koji
su	N:m	su
ili	CONJ	ili
potpuno	ADV	potpuno
poetizovani	A:aem	poetizovan
ili	CONJ	ili
namerno	ADV	namerno
ogoljeni	V:m	ogoliti
u	PREP	u
svojoj	PRO	svoj
direktnosti	N:f	direktnost
.	SENT	.
Skladu	N:m	sklad
između	PREP	između
filma	N:m	film
kao	CONJ	kao
bioskopske	A:aef	bioskopski
zabave	N:f	zabava
i	CONJ	i
neotuđive	A:aef	neotuđiv
autorske	A:aef	autorski
vizije	N:f	vizija
.	SENT	.
