”	A:aem	”
Hysteria	N:m	Hysteria
”	N:m	”
je	PRO	ona
mnogo	ADV	mnogo
toga	PRO	taj
:	PUNCT	:
drama	N:f	drama
,	PUNCT	,
istorijski	A:aem	istorijski
film	N:m	film
,	PUNCT	,
romantična	A:aef	romantičan
komedija	N:f	komedija
.	SENT	.
Kada	CONJ	kada
se	PAR	se
ovakva	PRO	ovakav
tema	N:f	tema
,	PUNCT	,
smeštena	V:f	smestiti
u	PREP	u
periodu	N:m	period
poznatom	A:aem	poznat
po	PREP	po
rezervisanosti	N:f	rezervisanost
i	CONJ	i
povučenosti	N:f	povučenost
,	PUNCT	,
obradi	N:f	obrada
veoma	ADV	veoma
otvoreno	ADV	otvoreno
,	PUNCT	,
čak	PAR	čak
slobodno	ADV	slobodno
,	PUNCT	,
teško	ADV	teško
je	PRO	ona
definisati	A:aem	definisati
uopšten	A:aem	uopšten
stav	N:m	stav
jer	CONJ	jer
ga	PRO	on
nije	A:aem	nije
moguće	A:aem	moguć
formirati	N:f	formirati
na	PREP	na
osnovu	N:f	osnova
filma	N:m	film
kao	CONJ	kao
celine	N:f	celina
.	SENT	.
Individualni	A:aem	individualan
elementi	N:m	element
i	CONJ	i
način	N:m	način
njihovog	PRO	njihov
izlaganja	N:n	izlaganje
biće	N:n	biće
presudni	A:aem	presudan
za	PREP	za
formiranje	N:n	formiranje
reakcije	N:f	reakcija
kod	PREP	kod
gledalaca	N:m	gledalac
.	SENT	.
Pod	PREP	pod
nazivom	N:m	naziv
”	A:aem	”
Ženska	A:aef	Ženska
histerija	N:f	histerija
”	N:m	”
,	PUNCT	,
nekada	ADV	nekada
se	PAR	se
smatralo	V:n	smatrati
stanje	N:n	stanje
ogromne	A:aef	ogroman
nervoze	N:f	nervoza
kod	PREP	kod
pripadnica	N:f	pripadnica
lepšeg	A:ben	lep
pola	N:m	pol
,	PUNCT	,
izjednačavano	V:n	izjednačavati
sa	PREP	sa
neurotičnošću	N:m	neurotičnošću
tj	ABB	tj
.	SENT	.
generalnom	A:aen	generalan
psihičkom	A:aen	psihički
nestabilnošću	N:f	nestabilnost
.	SENT	.
Nedovoljno	ADV	nedovoljno
razvijena	A:aem	razvijen
medicina	N:f	medicina
tog	PRO	taj
doba	N:n	doba
,	PUNCT	,
propisala	V:f	propisati
je	PRO	ona
određenu	A:aef	određenu
terapiju	N:f	terapija
za	PREP	za
ovakvo	PRO	ovakav
stanje	N:n	stanje
,	PUNCT	,
s	PREP	s
tim	PRO	taj
što	CONJ	što
je	PRO	ona
veliki	A:aem	velik
broj	N:m	broj
žena	N:f	žena
na	PREP	na
kraju	N:m	kraj
proglašen	A:aem	proglašen
opasnim	A:aen	opasan
za	PREP	za
okolinu	N:f	okolina
i	CONJ	i
odvođen	V:m	odvoditi
u	PREP	u
ludnice	N:f	ludnica
gde	CONJ	gde
su	N:m	su
im	PRO	ona
materica	N:f	materica
odstranjivali	V:m	odstranjivati
.	SENT	.
Od	PREP	od
1852	NUM	@card@
.	PUNCT	.
godine	N:f	godina
medicinska	A:aem	medicinski
dijagnoza	N:f	dijagnoza
histerije	N:f	histerija
zvanično	ADV	zvanično
ne	PAR	ne
postoji	N:f	postoji
.	SENT	.
Današnji	A:aem	Današnji
ekvivalent	N:m	ekvivalent
bi	V:n	bi
verovantno	A:aen	verovantno
mogla	V:n	moći
biti	N:f	bit
seksualna	A:aen	seksualan
frustracija	N:f	frustracija
.	SENT	.
Film	N:m	film
započinje	A:aef	započinje
rečenicom	N:f	rečenica
:	SENT	:
”	A:aem	”
Prema	N:m	Prema
istinitim	A:aen	istinit
događajima	N:m	događaj
.	SENT	.
Zaista	PAR	zaista
!	PUNCT	!
”	A:aem	”
Doktor	N:m	doktor
Mortimer	N:m	Mortimer
Grenvil	N:m	Grenvil
(	PUNCT	(
Hugh	A:aem	Hugh
Dancy	N:m	Dancy
)	PUNCT	)
je	PRO	ona
model	N:m	model
tipičnog	A:aem	tipičan
Engleza	N:m	Englez
kakvog	PRO	kakav
tu	PRO	taj
baš	PAR	baš
očekujemo	A:aen	očekujemo
.	PUNCT	.
Pristojan	A:aem	pristojan
,	PUNCT	,
balgo	N:f	balgo
stidljiv	A:aem	stidljiv
,	PUNCT	,
profesionalan	A:aem	profesionalan
,	PUNCT	,
sa	PREP	sa
dovoljno	ADV	dovoljno
životne	A:aem	životan
i	CONJ	i
profesionalne	A:aef	profesionalan
frustracije	N:f	frustracija
koja	PRO	koji
tinja	N:f	tinja
pod	PREP	pod
velom	N:m	veo
prikladnosti	N:f	prikladnost
.	SENT	.
Govori	N:m	govor
o	PREP	o
bakterijama	N:f	bakterija
kada	CONJ	kada
drugi	A:aem	drugi
pripadnici	N:m	pripadnik
struke	N:f	struka
osporavaju	N:f	osporavaju
njihovo	PRO	njihov
postojanje	N:n	postojanje
.	PUNCT	.
Kao	CONJ	kao
i	CONJ	i
svi	PRO	sav
progresivni	A:aem	progresivan
,	PUNCT	,
teško	ADV	teško
se	PAR	se
uklapa	V:m	uklapa
u	PREP	u
radnu	A:aef	radnu
sredinu	N:f	sredina
što	CONJ	što
mu	PRO	on
otežava	A:aem	otežava
da	CONJ	da
zadrži	A:aem	zadrži
posao	N:m	posao
.	SENT	.
Posle	PREP	posle
bezbroj	ADV	bezbroj
pokušaja	N:m	pokušaj
zapošljavanja	N:n	zapošljavanje
,	PUNCT	,
dobija	N:n	dobija
priliku	N:f	prilika
u	PREP	u
ordinaciji	N:f	ordinacija
Doktora	N:m	doktor
Roberta	N:f	Roberta
Darlimpla	N:m	Darlimpla
(	PUNCT	(
Jonathan	N:m	Jonathan
Pryce	N:m	Pryce
)	PUNCT	)
,	PUNCT	,
specijaliste	N:m	specijalista
za	PREP	za
žensku	A:aef	ženski
histeriju	N:f	histerija
.	SENT	.
Tvrdeći	A:aem	Tvrdeći
da	CONJ	da
je	PRO	ona
to	PRO	taj
kuga	N:f	kuga
njihovog	PRO	njihov
vremena	N:n	vreme
,	PUNCT	,
te	CONJ	te
kako	CONJ	kako
je	PRO	ona
pola	N:m	pol
žena	N:f	žena
Londona	N:m	London
zaraženo	V:n	zaraziti
,	PUNCT	,
obavlja	N:n	obavlja
odgovarajuće	A:aef	odgovarajući
”	A:aem	”
stimulacije	N:f	stimulacija
”	N:m	”
na	PREP	na
imućnijim	A:bef	imućan
pripadnicama	N:f	pripadnica
suprotnog	A:aem	suprotan
pola	N:m	pol
.	SENT	.
Postavši	A:aem	Postavši
miljenik	N:m	miljenik
pacijentkinja	N:f	pacijentkinja
u	PREP	u
praksi	N:f	praksa
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
kod	PREP	kod
Robertove	A:aef	Robertov
ćerke	N:f	ćerka
Emili	N:f	Emila
(	PUNCT	(
Felicity	A:aem	Felicity
Jones	N:m	Jones
)	PUNCT	)
,	PUNCT	,
Mortimer	N:m	Mortimer
dobija	N:n	dobija
,	PUNCT	,
po	PREP	po
ondašnjim	A:aef	ondašnji
ali	CONJ	ali
i	CONJ	i
današnjim	A:aem	današnji
standardima	N:m	standard
,	PUNCT	,
posao	V:m	posati
i	CONJ	i
budućnost	N:f	budućnost
iz	PREP	iz
snova	N:m	san
.	SENT	.
Stvari	N:f	stvar
se	PAR	se
zakomplikuju	V:n	zakomplikuju
kada	CONJ	kada
upozna	A:aem	upozna
stariju	A:bef	star
ćerku	N:f	ćerka
Dalrimpl	N:m	Dalrimpl
.	SENT	.
Borbena	A:aef	borben
i	CONJ	i
tvrdoglava	A:aef	tvrdoglav
Šarlot	N:f	Šarlot
(	PUNCT	(
Maggie	A:aem	Maggie
Gyllenhaal	N:m	Gyllenhaal
)	PUNCT	)
je	PRO	ona
upravnica	N:f	upravnica
londonskog	A:aem	londonski
prihvatilišta	N:n	prihvatilište
i	CONJ	i
vatrena	A:aef	vatren
zagovornica	N:f	zagovornica
ženskih	A:aef	ženski
prava	N:n	pravo
koja	PRO	koji
veruje	N:m	veruje
da	CONJ	da
je	PRO	ona
posao	V:m	posati
njenog	PRO	njen
oca	N:m	otac
taj	PRO	taj
da	CONJ	da
drži	N:m	drži
žene	N:f	žena
u	PREP	u
zabludi	N:f	zabluda
kako	CONJ	kako
bi	A:aem	bi
muškarci	N:m	muškarac
mogli	V:m	moći
da	CONJ	da
ostanu	N:m	ostanu
lenji	A:aem	lenj
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
segmentu	N:m	segment
se	PAR	se
socijalistička	A:aef	socijalistički
nota	N:f	nota
filma	N:m	film
”	A:aem	”
Hysteria	N:m	Hysteria
”	A:aem	”
najjasnije	A:cef	jasan
vidi	N:f	vida
.	SENT	.
Izgleda	N:m	izgled
da	CONJ	da
je	PRO	ona
početak	N:m	početak
borbe	N:f	borba
žena	N:f	žena
za	PREP	za
društvenu	A:aem	društven
jednakost	N:f	jednakost
počeo	V:m	početi
njihovom	PRO	njihov
borbom	N:f	borba
za	PREP	za
pravo	N:n	pravo
na	PREP	na
fizičku	A:aen	fizički
jednakost	N:f	jednakost
.	SENT	.
Mortimeru	N:m	Mortimer
se	PAR	se
vremenom	ADV	vremenom
razvija	A:bef	razvija
hroničan	A:aem	hroničan
bol	N:m	bol
u	PREP	u
desnoj	A:aef	desni
ruci	N:f	ruka
,	PUNCT	,
od	PREP	od
mnogo	ADV	mnogo
posla	N:m	posao
,	PUNCT	,
koji	PRO	koji
ga	PRO	on
primorava	N:m	primorava
da	CONJ	da
smisli	N:f	smisli
neko	PRO	neki
pomagalo	V:n	pomagati
koje	PRO	koji
će	A:aem	će
mu	PRO	on
olakšati	A:aem	olakšati
dalje	ADV	dalje
zadovoljavanje	N:n	zadovoljavanje
sve	PRO	sav
više	ADV	više
zainteresovanih	A:aem	zainteresovan
!	SENT	!
Uz	PREP	uz
pomoć	N:f	pomoć
svog	PRO	svoj
dugododišnjeg	A:aem	dugododišnjeg
prijatelja	N:m	prijatelj
Edmunda	N:m	Edmund
Sent	N:m	Sent
Džon	N:m	Džon
Smajta	N:m	Smajta
(	PUNCT	(
Rupert	N:m	Rupert
Everett	N:f	Everett
)	PUNCT	)
,	PUNCT	,
ekscentričnog	A:aem	ekscentričan
entuzijaste	N:m	entuzijasta
za	PREP	za
elektriku	N:f	elektrika
,	PUNCT	,
stvara	N:m	stvara
preteču	N:f	preteča
najpopularnijeg	A:cem	popularan
erotskog	A:aen	erotski
pomagala	N:n	pomagalo
današnjice	N:f	današnjica
-	PUNCT	-
vibratora	N:m	vibrator
.	SENT	.
Dikensovski	A:aem	Dikensovski
London	N:m	London
leži	A:aem	leži
u	PREP	u
pozadini	N:f	pozadina
čitave	A:aef	čitav
priče	N:f	priča
,	PUNCT	,
režiserka	N:f	režiserka
Tania	A:aem	Tania
Veksler	N:m	Veksler
(	PUNCT	(
Tanya	N:m	Tanya
Wexler	N:m	Wexler
)	PUNCT	)
perfektno	ADV	perfektno
je	PRO	ona
dočarala	V:m	dočarati
ovaj	PRO	ovaj
grad	N:m	grad
,	PUNCT	,
sveže	A:aen	svež
prodrman	A:aem	prodrman
industrijskom	A:aem	industrijski
revolucijom	N:f	revolucija
,	PUNCT	,
kada	CONJ	kada
su	N:m	su
staleške	A:aef	staleški
razlike	N:f	razlika
bile	V:f	biti
očiglednije	A:bef	očigledan
nego	CONJ	nego
ikada	ADV	ikada
.	SENT	.
Najviše	A:cem	Najviše
je	PRO	ona
bilo	V:n	biti
onih	PRO	onaj
koji	PRO	koji
sebi	PRO	sebe
nisu	N:m	nisu
mogi	N:f	mogi
da	CONJ	da
priušte	N:n	priušte
ni	CONJ	ni
najosnovnije	A:cem	osnovni
i	CONJ	i
bili	V:m	biti
prepušteni	V:m	prepustiti
sudbini	N:f	sudbina
koju	PRO	koji
će	N:m	će
im	PRO	ona
doneti	A:aem	donet
viktorijanska	A:aef	viktorijanski
era	N:f	era
.	SENT	.
Verna	A:aef	veran
kostimografija	N:f	kostimografija
pokazuje	N:m	pokazuje
koliko	ADV	koliko
su	N:m	su
nekada	ADV	nekada
ramena	N:n	rame
i	CONJ	i
struk	N:m	struk
,	PUNCT	,
najlepša	A:cem	lep
obeležja	N:n	obeležje
ženskog	A:aem	ženski
tela	N:n	telo
,	PUNCT	,
bili	V:m	biti
na	PREP	na
ceni	N:f	cena
.	SENT	.
Nik	N:m	Nik
Ede	N:m	Ed
kreira	A:aef	kreira
garderobu	N:f	garderoba
,	PUNCT	,
dovoljno	ADV	dovoljno
provokativnu	A:aem	provokativan
za	PREP	za
žene	N:f	žena
i	CONJ	i
blago	N:n	blago
rezervisanu	A:aen	rezervisan
za	PREP	za
muškarce	N:m	muškarac
.	PUNCT	.
Čak	N:m	Čak
i	CONJ	i
moda	N:f	moda
tog	PRO	taj
vremena	N:n	vreme
govori	N:m	govor
o	PREP	o
potrebi	N:f	potreba
jednog	NUM	jedan
dela	N:n	delo
društva	N:n	društvo
ka	PREP	ka
otvorenosti	N:f	otvorenost
i	CONJ	i
napretku	N:m	napredak
nasuprot	PREP	nasuprot
težnji	N:f	težnja
drugih	A:aen	drugi
ka	PREP	ka
opstanku	N:m	opstanak
tradicionalnog	A:aen	tradicionalan
društvenog	A:aem	društven
kalupa	N:m	kalup
.	SENT	.
Neke	PRO	neki
glumice	N:f	glumica
su	N:m	su
naprosto	ADV	naprosto
”	A:aem	”
seksi	N:m	seksi
”	N:m	”
!	SENT	!
Megi	N:f	Megi
Džilenhol	N:m	Džilenhol
je	PRO	ona
definitivno	ADV	definitivno
jedna	NUM	jedan
od	PREP	od
njih	PRO	ona
.	SENT	.
Lepota	N:f	lepota
iza	PREP	iza
koje	PRO	koji
stoji	N:f	stoja
moćna	A:aef	moćan
ličnosti	N:f	ličnost
i	CONJ	i
raskošni	A:aem	raskošan
talenat	N:m	talent
su	PREF	su
dobitna	A:aef	dobitni
kombinacija	N:f	kombinacija
zarazne	A:aem	zarazan
harizme	N:f	harizma
,	PUNCT	,
koju	PRO	koji
publika	N:f	publika
upija	N:m	upija
sa	PREP	sa
ekrana	N:m	ekran
.	SENT	.
Kao	CONJ	kao
Šarlot	N:m	Šarlot
,	PUNCT	,
ona	PRO	ona
je	PRO	ona
engleski	A:aem	engleski
rečeno	A:aen	rečen
,	PUNCT	,
”	A:aem	”
firecracker	N:m	firecracker
”	N:m	”
!	PUNCT	!
Eksplozivne	A:aef	eksplozivan
naravi	N:f	narav
i	CONJ	i
dugačkog	A:aem	dugačak
jezika	N:m	jezik
,	PUNCT	,
žena	N:f	žena
koju	PRO	koji
svaki	PRO	svaki
muškarac	N:m	muškarac
potajno	ADV	potajno
želi	V:m	žeti
ali	CONJ	ali
sa	PREP	sa
kojom	PRO	koji
nije	A:aem	nije
siguran	A:aem	siguran
da	CONJ	da
bi	A:aem	bi
mogao	V:m	moći
da	CONJ	da
izađe	A:aem	izađe
na	PREP	na
kraj	N:m	kraj
.	SENT	.
Muški	A:aem	Muški
trougao	N:m	trougao
Densi	N:m	Densi
,	PUNCT	,
Prajs	N:m	Prajs
,	PUNCT	,
Everet	N:m	Everet
daju	N:m	Daj
ton	N:m	ton
blage	A:aef	blag
ekscentričnosti	N:f	ekscentričnost
svojim	PRO	svoj
likovima	N:m	lik
,	PUNCT	,
što	CONJ	što
ih	PRO	ona
čini	N:f	čini
toliko	ADV	toliko
simpatičnim	A:aem	simpatičan
.	PUNCT	.
Grenvil	N:m	Grenvil
i	CONJ	i
Darlimpl	N:m	Darlimpl
stoje	N:f	stoja
zarobljeni	V:m	zarobiti
između	PREP	između
onoga	PRO	onaj
što	PRO	što
misle	N:m	misle
da	CONJ	da
je	PRO	ona
istinito	ADV	istinito
i	CONJ	i
onog	PRO	onaj
što	PRO	što
znaju	N:m	znaju
da	CONJ	da
je	PRO	ona
istina	N:f	istina
dok	CONJ	dok
Smajtova	A:aef	Smajtova
zatvorenost	N:f	zatvorenost
u	PREP	u
sopstveni	A:aem	sopstven
svet	N:m	svet
i	CONJ	i
blaga	A:aen	blag
izfeminiziraost	N:f	izfeminiziraost
čini	N:f	čini
humoristični	A:aem	humorističan
centar	N:m	centar
čitavog	A:aen	čitav
projekta	N:m	projekt
.	SENT	.
Male	A:aem	mali
su	N:m	su
šanse	N:f	šansa
da	CONJ	da
će	A:aef	će
pobornici	N:f	pobornica
strogog	A:aen	strog
istorijskog	A:aen	istorijski
tumačenja	N:n	tumačenje
videti	N:f	videti
ikakvu	PRO	ikakav
vrednost	N:f	vrednost
u	PREP	u
filmu	N:m	film
”	A:aem	”
Hysteria	N:m	Hysteria
”	N:m	”
.	SENT	.
Sve	PRO	sav
navedemo	A:aen	navedemo
ima	A:aen	ima
logike	N:f	logika
,	PUNCT	,
vibratori	N:m	vibrator
su	PREF	su
u	PREP	u
opticaju	N:m	opticaj
više	ADV	više
od	PREP	od
jednog	NUM	jedan
veka	N:m	vek
,	PUNCT	,
englesko	A:aen	engleski
društvo	N:n	društvo
je	PRO	ona
logična	A:aef	logičan
sredina	N:f	sredina
gde	CONJ	gde
su	N:m	su
mogli	V:m	moći
da	CONJ	da
nastanu	N:m	nastanu
.	SENT	.
Poverovali	V:m	poverovati
u	PREP	u
ono	PRO	onaj
što	PRO	što
vidite	N:m	vidite
ili	CONJ	ili
ne	PAR	ne
,	PUNCT	,
jedna	NUM	jedan
činjenica	N:f	činjenica
ostaje	N:n	ostaje
neoboriva	A:aef	neoboriv
-	PUNCT	-
”	A:aem	”
Hysteria	N:m	Hysteria
”	N:m	”
je	PRO	ona
intenzivno	A:aen	intenzivan
zabavna	A:aen	zabavan
!	PUNCT	!
