Bertram	N:m	Bertram
Pincus	N:m	Pincus
(	PUNCT	(
Gervais	N:m	Gervais
)	PUNCT	)
ne	PAR	ne
bi	N:m	bi
se	PAR	se
mogao	V:m	moći
okarakterisati	A:aem	okarakterisati
kao	CONJ	kao
pravi	A:aem	prav
izbor	N:m	izbor
za	PREP	za
glavnog	A:aem	glavnog
lika	N:m	lik
bilo	V:n	biti
kog	PRO	koji
filma	N:m	film
,	PUNCT	,
a	CONJ	a
kamoli	CONJ	kamoli
nekog	PRO	neki
u	PREP	u
kome	PRO	koji
ima	A:aem	ima
romantike	N:m	romantik
.	SENT	.
On	PRO	on
je	PRO	ona
sredovečni	A:aem	sredovečan
samac	N:m	samac
,	PUNCT	,
zubar	N:m	zubar
(	PUNCT	(
ne	PAR	ne
zaboravite	A:aef	zaboravite
da	CONJ	da
su	PREF	su
pripadnici	N:m	pripadnik
ove	PRO	ovaj
profesije	N:f	profesija
prvi	A:aem	prvi
po	PREP	po
broju	N:m	broj
samoubistava	N:n	samoubistvo
)	PUNCT	)
čiji	PRO	čiji
je	PRO	ona
profesionalni	A:aem	profesionalan
vrhunac	N:m	vrhunac
momenat	N:m	moment
kad	CONJ	kad
anestezijom	N:f	anestezija
omami	N:f	omama
pacijenta	N:m	pacijent
.	SENT	.
Izbegava	A:aem	Izbegava
ljude	N:m	ljudi
i	CONJ	i
ljudi	N:m	ljudi
izbegavaju	N:m	izbegavaju
njega	PRO	on
.	PUNCT	.
I	CONJ	i
on	PRO	on
to	PRO	taj
tako	ADV	tako
voli	N:m	Voli
.	PUNCT	.
Sve	ADV	sve
dok	CONJ	dok
,	PUNCT	,
posle	PREP	posle
sedmominutne	A:aef	sedmominutne
kliničke	A:aem	klinički
smrti	N:f	smrt
,	PUNCT	,
ne	PAR	ne
otkrije	N:f	otkrije
da	CONJ	da
,	PUNCT	,
pošto	CONJ	pošto
se	PAR	se
opako	ADV	opako
približio	V:m	približiti
drugoj	A:aef	drugi
strani	N:f	strana
,	PUNCT	,
sad	ADV	sad
vidi	N:f	vida
duhove	N:m	duh
.	SENT	.
Najuporniji	A:cem	uporan
među	PREP	među
njima	PRO	ona
je	PRO	ona
naizgled	ADV	naizgled
nonšalantni	A:aem	nonšalantan
a	CONJ	a
u	PREP	u
stvari	N:f	stvar
krivicom	N:f	krivica
progonjeni	V:m	progoniti
neverni	A:aem	neveran
muž	N:m	muž
Frank	N:m	Frank
(	PUNCT	(
Kinnear	N:m	Kinnear
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
iz	PREP	iz
sopstvenih	A:aem	sopstven
interesa	N:m	interes
Pincusa	N:m	Pincusa
nekako	ADV	nekako
uspeva	V:f	uspeva
da	CONJ	da
ubedi	V:f	ubedi
da	CONJ	da
se	PAR	se
sprijatelji	N:m	sprijatelji
s	PREP	s
njegovom	PRO	njegov
udovicom	N:f	udovica
Gwen	N:m	Gwen
(	PUNCT	(
Leoni	N:m	Leoni
)	PUNCT	)
,	PUNCT	,
čime	PRO	šta
stvara	N:m	stvara
prilično	ADV	prilično
bizaran	A:aem	bizaran
ljubavni	A:aem	ljubavan
trougao	N:m	trougao
(	PUNCT	(
pun	A:aem	pun
intended	N:m	intended
)	PUNCT	)
.	SENT	.
Iako	CONJ	iako
na	PREP	na
prvi	A:aem	prvi
pogled	N:m	pogled
izgleda	N:m	izgled
da	CONJ	da
je	PRO	ona
Ghost	N:f	Ghost
Town	N:m	Town
ljubavni	A:aem	ljubavan
film	N:m	film
,	PUNCT	,
njegova	PRO	njegov
glavna	A:aef	glavna
tema	N:f	tema
je	PRO	ona
iskupljenje	N:n	iskupljenje
i	CONJ	i
pomirenje	N:n	pomirenje
.	SENT	.
Pincus	N:m	Pincus
možda	PAR	možda
do	PREP	do
kraja	N:m	kraj
neće	A:aem	neće
izgubiti	N:f	izgubiti
svoju	PRO	svoj
sarkastičnu	A:aef	sarkastičan
auru	N:f	aura
,	PUNCT	,
ali	CONJ	ali
će	A:aen	će
,	PUNCT	,
rešavajući	A:aem	rešavajući
tuđe	A:aen	tuđ
probleme	N:m	problem
,	PUNCT	,
shvatiti	N:m	shvatiti
šta	PRO	šta
mu	PRO	on
je	PRO	ona
falilo	V:n	faliti
u	PREP	u
životu	N:m	život
,	PUNCT	,
i	CONJ	i
bar	PAR	bar
delimično	ADV	delimično
to	PRO	taj
ispraviti	V:m	ispraviti
,	PUNCT	,
dok	CONJ	dok
će	A:aem	će
Frank	N:m	Frank
i	CONJ	i
Gwen	N:m	Gwen
,	PUNCT	,
uz	PREP	uz
pomoć	N:f	pomoć
ovog	PRO	ovaj
neočekivanog	A:aem	neočekivan
namćorastog	A:aem	namćorast
pomagača	N:m	pomagač
,	PUNCT	,
uspeti	A:aem	uspeti
da	CONJ	da
se	PAR	se
pomire	N:m	pomire
s	PREP	s
tim	PRO	taj
što	CONJ	što
im	PRO	ona
se	PAR	se
desilo	V:n	desiti
.	PUNCT	.
Poenta	N:f	poenta
,	PUNCT	,
dakle	CONJ	dakle
,	PUNCT	,
nije	A:aem	nije
ko	CONJ	ko
će	A:aem	će
s	PREP	s
kim	PRO	ko
završiti	N:m	završiti
već	CONJ	već
kakav	PRO	kakav
će	A:aem	će
izaći	A:aem	izaći
iz	PREP	iz
situacije	N:f	situacija
u	PREP	u
kojoj	PRO	koji
se	PAR	se
našao	V:m	naći
.	SENT	.
Time	PRO	taj
Koepp	N:m	Koepp
uspešno	ADV	uspešno
izbegava	A:aef	izbegava
banalnost	N:f	banalnost
od	PREP	od
koje	PRO	koji
ovaj	PRO	ovaj
žanr	N:m	žanr
prečesto	ADV	prečesto
pati	A:aem	pati
.	SENT	.
Široj	A:aef	Široj
publici	N:f	publika
poznat	V:m	poznati
iz	PREP	iz
britanskih	A:aef	britanski
TV	N:m	TV
serija	N:f	serija
,	PUNCT	,
Ricky	A:aem	Ricky
Gervais	N:m	Gervais
je	PRO	ona
briljantan	A:aem	briljantan
kao	CONJ	kao
namćorasti	A:aem	namćorast
doktor	N:m	doktor
Pincus	N:m	Pincus
,	PUNCT	,
i	CONJ	i
posle	PREP	posle
velikog	A:aen	velik
uspeha	N:m	uspeh
u	PREP	u
The	INT	The
Office	N:f	Office
i	CONJ	i
Extras	N:m	Extras
,	PUNCT	,
ponovo	ADV	ponovo
dokazuje	N:m	dokazuje
da	CONJ	da
poseduje	N:m	poseduje
komičarski	A:aem	komičarski
kvalitet	N:m	kvalitet
koji	PRO	koji
se	PAR	se
retko	ADV	retko
viđa	V:m	viđa
u	PREP	u
američkoj	A:aef	američki
romantičnoj	A:aef	romantičan
komediji	N:f	komedija
.	SENT	.
Ciničan	A:aem	Ciničan
i	CONJ	i
kamenog	A:aen	kameni
izraza	N:m	izraz
,	PUNCT	,
izgleda	N:m	izgled
kao	CONJ	kao
da	CONJ	da
se	PAR	se
uopšte	ADV	uopšte
ne	PAR	ne
trudi	V:n	trudi
da	CONJ	da
bude	A:aem	bude
smešan	A:aem	smešan
,	PUNCT	,
i	CONJ	i
to	PRO	taj
ne	PAR	ne
samo	PAR	samo
da	CONJ	da
izaziva	A:aem	izaziva
željeni	A:aem	željen
efekat	N:m	efekt
već	CONJ	već
čini	N:f	čini
da	CONJ	da
ga	PRO	on
u	PREP	u
potpunosti	N:f	potpunost
poistovetimo	N:f	poistovetimo
s	PREP	s
likom	N:m	lik
koji	PRO	koji
igra	N:f	igra
.	SENT	.
Njegova	PRO	njegov
gluma	N:f	gluma
,	PUNCT	,
uz	PREP	uz
Grega	N:m	Grego
Kinneara	N:m	Kinneara
kome	PRO	koji
uloga	N:f	uloga
plejboj	N:m	plejboj
japija	N:f	japija
stoji	N:f	stoja
kao	CONJ	kao
rukavica	N:f	rukavica
,	PUNCT	,
i	CONJ	i
Teu	N:f	Tea
Leoni	N:f	Leona
koja	PRO	koji
je	PRO	ona
divna	A:aem	divan
u	PREP	u
ulozi	N:f	uloga
povučene	A:aef	povučen
arheološkinje	N:f	arheološkinje
,	PUNCT	,
podiže	A:aem	podiže
već	CONJ	već
viđenu	A:aef	viđen
priču	N:f	priča
na	PREP	na
viši	A:aem	viši
nivo	N:m	nivo
.	SENT	.
Neočekivan	A:aem	Neočekivan
izbor	N:m	izbor
za	PREP	za
Davida	N:m	David
Koeppa	N:m	Koeppa
,	PUNCT	,
koji	PRO	koji
se	PAR	se
do	PREP	do
sada	ADV	sada
uglavnom	ADV	uglavnom
bavio	V:m	baviti
pisanjem	N:n	pisanje
scenarija	N:m	scenario
za	PREP	za
mnogobrojne	A:aem	mnogobrojan
akcione	A:aef	akcioni
blokbastere	N:m	blokbaster
(	PUNCT	(
uglavnom	ADV	uglavnom
Spielbergove	A:aem	Spielbergove
)	PUNCT	)
,	PUNCT	,
Ghost	N:f	Ghost
Town	N:m	Town
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
filmova	N:m	film
koje	PRO	koji
sednete	N:f	sednete
da	CONJ	da
gledate	N:m	gledate
ne	PAR	ne
očekujući	V:m	očekujući
ama	PAR	ama
baš	PAR	baš
ništa	ADV	ništa
,	PUNCT	,
da	CONJ	da
biste	N:f	bista
potom	ADV	potom
bili	V:m	biti
prijatno	ADV	prijatno
iznenađeni	V:m	iznenaditi
.	SENT	.
Reč	A:aem	Reč
je	PRO	ona
o	PREP	o
komediji	N:f	komedija
čiji	PRO	čiji
kvalitet	N:m	kvalitet
prvenstveno	ADV	prvenstveno
počiva	A:aem	počiva
u	PREP	u
dobro	ADV	dobro
izgrađenim	A:aem	izgrađen
likovima	N:m	lik
i	CONJ	i
odnosima	N:m	odnos
,	PUNCT	,
inteligentno	A:aen	inteligentan
napisanom	A:aen	napisan
dijalogu	N:m	dijalog
,	PUNCT	,
i	CONJ	i
odličnom	A:aen	odličan
ali	CONJ	ali
nepretencioznom	A:aen	nepretenciozan
izboru	N:m	izbor
glumaca	N:m	glumac
.	SENT	.
Kao	ADV	kao
takav	PRO	takav
,	PUNCT	,
on	PRO	on
je	PRO	ona
na	PREP	na
momente	N:m	moment
pomalo	ADV	pomalo
statičan	A:aem	statičan
,	PUNCT	,
ali	CONJ	ali
kako	CONJ	kako
je	PRO	ona
prazan	A:aem	prazan
hod	N:m	hod
uglavnom	ADV	uglavnom
ispunjen	V:m	ispuniti
dugim	A:aem	dug
kadrovima	N:m	kadar
Njujorka	N:m	Njujork
u	PREP	u
raskošnim	A:aef	raskošan
jesenjim	A:aef	jesenji
bojama	N:f	boja
,	PUNCT	,
on	PRO	on
ipak	PAR	ipak
uspeva	N:m	uspeva
da	CONJ	da
drži	N:m	drži
pažnju	N:f	pažnja
do	PREP	do
lepo	ADV	lepo
zaokruženog	A:aem	zaokružen
kraja	N:m	kraj
.	PUNCT	.
Ako	CONJ	ako
i	CONJ	i
ne	PAR	ne
doživite	N:m	doživite
prosvetljenje	N:n	prosvetljenje
gledajući	A:aen	gledajući
ga	PRO	on
,	PUNCT	,
bar	PAR	bar
ćete	N:m	ćete
saosećati	A:aem	saosećati
s	PREP	s
Pincusovim	A:aem	Pincusovim
.	SENT	.
