Prethodni	A:aem	prethodan
Audiardov	A:aem	Audiardov
film	N:m	film
,	PUNCT	,
Prorok	N:m	prorok
,	PUNCT	,
bio	V:m	biti
je	PRO	ona
remek	N:m	remek
-	PUNCT	-
delo	N:n	delo
.	SENT	.
Imajući	A:aem	Imajući
to	PRO	taj
u	PREP	u
vidu	N:f	vida
,	PUNCT	,
nije	A:aen	nije
bilo	V:n	biti
baš	PAR	baš
preterano	ADV	preterano
verovatno	ADV	verovatno
da	CONJ	da
će	A:aen	će
sledeće	A:aem	sledeći
ostvarenje	N:n	ostvarenje
sineaste	N:m	sineast
uspeti	A:aem	uspeti
da	CONJ	da
dostigne	A:aem	dostigne
te	PRO	taj
visove	N:m	vis
.	SENT	.
To	PRO	taj
se	PAR	se
,	PUNCT	,
protivno	ADV	protivno
svim	PRO	sav
očekivanjima	N:n	očekivanje
,	PUNCT	,
ipak	PAR	ipak
dogodilo	V:n	dogoditi
.	SENT	.
Posle	PREP	posle
mračne	A:aef	mračan
,	PUNCT	,
psihodelične	A:aef	psihodeličan
i	CONJ	i
nasilne	A:aef	nasilan
zatvorske	A:aem	zatvorski
povesti	N:f	povest
,	PUNCT	,
Audiard	N:m	Audiard
je	PRO	ona
snimio	V:m	snimiti
ljubavni	A:aem	ljubavan
film	N:m	film
,	PUNCT	,
romansu	N:f	romansa
na	PREP	na
tragu	N:m	trag
jednog	NUM	jedan
od	PREP	od
svojih	PRO	svoj
ranijih	A:aem	raniji
ostvarenja	N:n	ostvarenje
(	PUNCT	(
Čitaj	N:m	Čitaj
mi	PRO	ja
sa	PREP	sa
usana	N:f	usna
)	PUNCT	)
–	N:m	–
pritom	PAR	pritom
izbegavajući	A:aem	izbegavajući
zamerke	N:f	zamerka
i	CONJ	i
stereotipe	N:m	stereotip
koje	PRO	koji
ovaj	PRO	ovaj
žanr	N:m	žanr
sa	PREP	sa
sobom	PRO	sebe
obično	ADV	obično
donosi	N:m	donosi
.	SENT	.
Audiard	N:m	Audiard
u	PREP	u
Rđi	N:f	Rđi
i	CONJ	i
kosti	N:f	kosti
još	ADV	još
jednom	ADV	jednom
varira	V:f	varira
omiljene	V:f	omileti
motive	N:m	motiv
različitosti	N:f	različitost
i	CONJ	i
(	PUNCT	(
umerenog	A:aem	umeren
)	PUNCT	)
društvenog	A:aem	društven
otpadništva	N:n	otpadništvo
,	PUNCT	,
po	PREP	po
običaju	N:m	običaj
bez	PREP	bez
iritirajućeg	A:aen	iritirajući
lažnog	A:aen	lažan
moralisanja	N:n	moralisanje
i	CONJ	i
iščuđavanja	N:n	iščuđavanje
nad	PREP	nad
izborima	N:m	izbor
svojih	PRO	svoj
protagonista	N:m	protagonista
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
svaka	PRO	svaki
ljubavna	A:aef	ljubavan
priča	N:f	priča
mora	N:n	more
da	CONJ	da
ima	N:n	ima
svoje	PRO	svoj
glavne	A:aem	glavne
junake	N:m	junak
.	SENT	.
U	PREP	u
Rđi	N:f	Rđi
i	CONJ	i
kosti	N:f	kosti
to	PRO	taj
su	N:m	su
Stéphanie	N:f	Stéphanie
(	PUNCT	(
Marion	N:f	Marion
Cotillard	N:m	Cotillard
)	PUNCT	)
i	CONJ	i
Ali	N:m	Ali
(	PUNCT	(
Matthias	N:m	Matthias
Schoenaerts	N:m	Schoenaerts
)	PUNCT	)
.	SENT	.
On	PRO	on
je	PRO	ona
samohrani	A:aem	samohran
otac	N:m	otac
sumnjive	A:aef	sumnjiv
prošlosti	N:f	prošlost
i	CONJ	i
neizvesne	A:aef	neizvestan
budućnosti	N:f	budućnost
.	SENT	.
Ona	PRO	ona
,	PUNCT	,
zarobljena	V:f	zarobiti
u	PREP	u
vezi	N:f	veza
bez	PREP	bez
ljubavi	N:f	ljubav
,	PUNCT	,
zarađuje	N:f	zarađuje
za	PREP	za
život	N:m	život
tako	ADV	tako
što	CONJ	što
dresira	N:m	dresira
kitove	A:aem	kitov
u	PREP	u
lokalnom	A:aen	lokalan
akvaparku	N:f	akvaparku
.	SENT	.
Jedina	A:aef	jedini
zajednička	A:aen	zajednički
tačka	N:f	tačka
u	PREP	u
njihovim	PRO	njihov
egzistencijama	N:f	egzistencija
je	PRO	ona
noćni	A:aem	noćni
klub	N:m	klub
koji	PRO	koji
Stéphanie	N:f	Stéphanie
voli	N:m	Voli
da	CONJ	da
posećuje	N:m	posećuje
,	PUNCT	,
a	CONJ	a
u	PREP	u
kome	PRO	koji
Ali	N:m	Ali
radi	PREP	radi
kao	ADV	kao
izbacivač	N:m	izbacivač
.	SENT	.
Čini	N:m	Čina
se	PAR	se
da	CONJ	da
će	N:n	će
njihovo	PRO	njihov
poznanstvo	N:n	poznanstvo
,	PUNCT	,
eventualno	ADV	eventualno
,	PUNCT	,
rezultirati	A:aem	rezultirati
samo	CONJ	samo
usputnim	A:aem	usputan
seksom	N:m	seks
,	PUNCT	,
ali	CONJ	ali
…	SENT	…
Uz	A:aen	Uz
muzičku	A:aen	muzički
podlogu	N:f	podloga
saharinskog	A:aem	saharinski
hita	N:m	hit
Katy	A:aem	Katy
Perry	A:aem	Perry
Firework	N:m	Firework
(	PUNCT	(
o	PREP	o
,	PUNCT	,
ironije	N:f	ironija
!	PUNCT	!
)	SENT	)
,	PUNCT	,
dogodiće	V:m	dogodiće
se	PAR	se
nešto	ADV	nešto
užasno	ADV	užasno
,	PUNCT	,
nešto	ADV	nešto
što	CONJ	što
će	A:aem	će
zauvek	ADV	zauvek
promeniti	A:aem	promeniti
Stéphanie	N:f	Stéphanie
.	SENT	.
Njen	PRO	njen
odnos	N:m	odnos
sa	PREP	sa
Alijem	N:m	Ali
tada	ADV	tada
počinje	N:f	počinje
da	CONJ	da
se	PAR	se
razvija	A:bef	razvija
u	PREP	u
novom	A:aem	nov
i	CONJ	i
sasvim	ADV	sasvim
neočekivanom	A:aem	neočekivan
smeru	N:m	smer
…	SENT	…
Jacques	N:m	Jacques
Audiard	N:m	Audiard
se	PAR	se
muški	ADV	muški
uhvatio	V:m	uhvatiti
u	PREP	u
koštac	N:m	koštac
sa	PREP	sa
pričom	N:f	priča
koja	PRO	koji
je	PRO	ona
sasvim	ADV	sasvim
lako	ADV	lako
mogla	V:n	moći
da	CONJ	da
sklizne	A:aem	sklizne
u	PREP	u
melodramski	A:aem	melodramski
mulj	N:m	mulj
.	SENT	.
Bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
teškoće	N:f	teškoća
u	PREP	u
kojima	PRO	koji
se	PAR	se
glavna	A:aem	glavna
junakinja	N:f	junakinja
našla	V:m	naći
(	PUNCT	(
neću	N:f	neću
ih	PRO	ona
otkriti	N:m	otkriti
,	PUNCT	,
pošto	CONJ	pošto
bih	A:aem	bih
na	PREP	na
taj	PRO	taj
način	N:m	način
pokvario	V:m	pokvariti
doživljaj	N:m	doživljaj
onima	PRO	onaj
koji	PRO	koji
Rđu	N:f	Rđu
i	CONJ	i
kost	N:f	kost
još	ADV	još
uvek	ADV	uvek
nisu	N:m	nisu
pogledali	V:m	pogledati
)	PUNCT	)
,	PUNCT	,
iz	PREP	iz
scenarija	N:m	scenario
su	N:m	su
sasvim	ADV	sasvim
pažljivo	ADV	pažljivo
,	PUNCT	,
gotovo	ADV	gotovo
hirurški	A:aem	hirurški
precizno	ADV	precizno
,	PUNCT	,
uklonjeni	V:m	ukloniti
svi	PRO	sav
tragovi	N:m	trag
patetike	N:f	patetika
.	SENT	.
To	PRO	taj
je	PRO	ona
svakako	PAR	svakako
bio	V:m	biti
pravi	A:aem	prav
izbor	N:m	izbor
zahvaljujući	PREP	zahvaljujući
kome	PRO	koji
priča	N:f	priča
dobija	N:n	dobija
na	PREP	na
snazi	N:f	snaga
i	CONJ	i
ubedljivosti	N:f	ubedljivost
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
od	PREP	od
ključne	A:aef	ključne
važnosti	N:f	važnost
bio	V:m	biti
je	PRO	ona
i	CONJ	i
odabir	N:m	odabir
glavnih	A:aen	glavnih
glumaca	N:m	glumac
.	SENT	.
Belgijanac	N:m	Belgijanac
Matthias	N:m	Matthias
Schoenaerts	N:m	Schoenaerts
se	PAR	se
2011	NUM	@card@
.	PUNCT	.
godine	N:f	godina
proslavio	V:m	proslaviti
naslovnom	A:aef	naslovni
ulogom	N:f	uloga
u	PREP	u
hvaljenoj	A:aef	hvaljen
krimi	N:m	krimi
drami	N:f	drama
Bikova	N:n	Bikovo
glava	N:f	glava
,	PUNCT	,
a	CONJ	a
smeši	N:f	smeša
mu	PRO	on
se	PAR	se
i	CONJ	i
uspešna	A:aef	uspešan
holivudska	A:aef	holivudski
karijera	N:f	karijera
.	SENT	.
Francuskinja	N:f	Francuskinja
Marion	N:f	Marion
Cotillard	N:m	Cotillard
je	PRO	ona
Holivud	N:m	Holivud
već	PAR	već
osvojila	V:n	osvojiti
(	PUNCT	(
ostvarila	V:m	ostvariti
je	PRO	ona
mnoge	A:aef	mnogi
zapažene	A:aef	zapažen
uloge	N:f	uloga
u	PREP	u
filmovima	N:m	film
američke	A:aem	američki
A	ABB	A
produkcije	N:f	produkcija
;	PUNCT	;
sarađivala	V:f	sarađivati
sa	PREP	sa
Nolanom	N:m	Nolan
,	PUNCT	,
Butonom	N:m	Butonom
,	PUNCT	,
Soderberghom	N:m	Soderberghom
,	PUNCT	,
Woodyjem	A:aem	Woodyjem
Allenom	N:m	Allenom
.	PUNCT	.
.	SENT	.
.	PUNCT	.
)	SENT	)
.	PUNCT	.
Bez	PREP	bez
obzira	N:m	obzir
što	CONJ	što
se	PAR	se
ubraja	N:m	ubraja
u	PREP	u
red	N:m	red
najtraženijih	A:cem	tražen
i	CONJ	i
najcenjenijih	A:cen	cenjen
svetskih	A:aem	svetski
glumica	N:f	glumica
,	PUNCT	,
Cotillard	N:m	Cotillard
tek	CONJ	tek
u	PREP	u
filmu	N:m	film
poput	PREP	poput
Rđe	N:f	Rđe
i	CONJ	i
kosti	N:f	kosti
može	A:aem	može
da	CONJ	da
pokaže	V:m	pokaže
svu	PRO	sav
raskošnost	N:f	raskošnost
svog	PRO	svoj
talenta	N:m	talent
.	SENT	.
Ona	PRO	ona
briljira	N:m	briljira
u	PREP	u
zahtevnoj	A:aef	zahtevan
ulozi	N:f	uloga
,	PUNCT	,
pa	CONJ	pa
ne	PAR	ne
treba	N:f	treba
da	CONJ	da
čudi	N:f	čudi
što	CONJ	što
je	PRO	ona
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
što	CONJ	što
glumi	N:f	gluma
na	PREP	na
francuskom	A:aen	francuski
,	PUNCT	,
bila	V:f	biti
nominovana	V:f	nominovati
za	PREP	za
Zlatni	A:aem	zlatan
globus	N:m	globus
.	SENT	.
Tesktualna	A:aef	Tesktualna
poruka	N:f	poruka
Opé	N:m	Opé
koju	PRO	koji
ljubavnici	N:f	ljubavnica
šalju	N:m	šalju
jedno	NUM	jedan
drugom	A:aef	drugi
kada	CONJ	kada
osete	N:m	oset
potrebu	N:f	potreba
za	PREP	za
fizičkim	A:aef	fizički
kontaktom	N:m	kontakt
,	PUNCT	,
vremenom	N:n	vreme
postaje	N:f	postaja
centralni	A:aem	centralni
lajtmotiv	N:m	lajtmotiv
(	PUNCT	(
opé	N:m	opé
je	PRO	ona
skraćeno	A:aen	skraćen
od	PREP	od
opérative	N:m	opérative
-	PUNCT	-
operativan	A:aem	operativan
,	PUNCT	,
na	PREP	na
raspolaganju	N:n	raspolaganje
,	PUNCT	,
raspoložen	A:aem	raspoložen
/	N:m	/
a	CONJ	a
za	PREP	za
viđenje	N:n	viđenje
)	PUNCT	)
.	SENT	.
Tokom	PREP	tokom
filma	N:m	film
,	PUNCT	,
njihova	PRO	njihov
veza	N:f	veza
se	PAR	se
razvija	A:bem	razvija
,	PUNCT	,
menja	N:n	menja
,	PUNCT	,
ali	CONJ	ali
ta	PRO	taj
promena	N:f	promena
nije	A:aen	nije
usiljena	A:aef	usiljen
,	PUNCT	,
neutemeljena	A:aef	neutemeljen
.	PUNCT	.
Kako	CONJ	kako
se	PAR	se
radnja	N:f	radnja
odmotava	A:aem	odmotava
,	PUNCT	,
postaje	N:f	postaja
sve	ADV	sve
očiglednije	A:bef	očigledan
da	CONJ	da
je	PRO	ona
Stéphanie	N:f	Stéphanie
potrebna	A:aef	potreban
Aliju	N:m	Ali
podjednako	ADV	podjednako
koliko	ADV	koliko
i	CONJ	i
on	PRO	on
njoj	PRO	ona
.	PUNCT	.
Životne	A:aef	Životne
okolnosti	N:f	okolnost
i	CONJ	i
hendikep	N:m	hendikep
koji	PRO	koji
ih	PRO	ona
je	PRO	ona
spojio	V:m	spojiti
prerasta	N:m	prerast
u	PREP	u
njihovu	PRO	njihov
prednost	N:f	prednost
,	PUNCT	,
ono	PRO	onaj
što	CONJ	što
ih	PRO	ona
odvaja	N:m	odvaja
od	PREP	od
drugih	A:aen	drugi
i	CONJ	i
njihovu	PRO	njihov
vezu	N:f	veza
čini	N:f	čini
tako	ADV	tako
posebnom	A:aef	poseban
.	SENT	.
U	PREP	u
nepreglednom	A:aen	nepregledan
mnoštvu	N:n	mnoštvo
„	A:aem	„
najlepših	A:cem	lep
ljubavnih	A:aef	ljubavan
priča	N:f	priča
svih	PRO	sav
vremena	N:n	vreme
“	N:m	“
,	PUNCT	,
Rđa	N:f	Rđa
i	CONJ	i
kost	N:f	kost
se	PAR	se
izdvaja	N:m	izdvaja
svojom	PRO	svoj
sposobnošću	N:f	sposobnost
da	CONJ	da
na	PREP	na
superioran	A:aem	superioran
način	N:m	način
podjednako	ADV	podjednako
uspešno	ADV	uspešno
dočara	N:m	dočara
razorne	A:aem	razoran
zemljotrese	N:m	zemljotres
i	CONJ	i
jedva	ADV	jedva
primetna	A:aen	primetan
podrhtavanja	N:n	podrhtavanje
u	PREP	u
odnosu	N:m	odnos
dvoje	NUM	dvoje
ljudi	N:m	ljudi
.	SENT	.
Definitivno	ADV	definitivno
jedan	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
filmova	N:m	film
2012	NUM	@card@
.	PUNCT	.
godine	N:f	godina
.	SENT	.
