Von	N:m	Von
Trier	N:m	Trier
je	PRO	ona
listi	N:f	lista
svojih	PRO	svoj
psihičkih	A:aef	psihički
problema	N:m	problem
dodao	V:m	dodati
i	CONJ	i
kliničku	A:aem	klinički
depresiju	N:f	depresija
,	PUNCT	,
iz	PREP	iz
koje	PRO	koji
se	PAR	se
izrodio	V:m	izroditi
Antihrist	N:m	antihrist
,	PUNCT	,
kao	CONJ	kao
njena	PRO	njen
najbolja	A:cem	dobar
zamisliva	A:aef	zamisliv
ilustracija	N:f	ilustracija
.	SENT	.
Antihrist	N:m	antihrist
je	PRO	ona
von	N:m	von
Trierov	A:aem	Trierov
najšokantniji	A:cem	šokantan
film	N:m	film
,	PUNCT	,
što	CONJ	što
,	PUNCT	,
kada	CONJ	kada
se	PAR	se
radi	PREP	radi
o	PREP	o
autoru	N:m	autor
ponosnom	A:aem	ponosan
na	PREP	na
svoju	PRO	svoj
reputaciju	N:f	reputacija
provokatora	N:m	provokator
,	PUNCT	,
govori	N:m	govor
puno	A:aen	pun
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
ako	CONJ	ako
je	PRO	ona
to	PRO	taj
jedino	ADV	jedino
što	ADV	što
ste	V:m	ste
pred	PREP	pred
ulazak	N:m	ulazak
u	PREP	u
bioskop	N:m	bioskop
čuli	V:m	čuti
o	PREP	o
filmu	N:m	film
,	PUNCT	,
ući	A:aem	ući
ćete	N:m	ćete
potpuno	ADV	potpuno
nepripremljeni	A:aem	nepripremljen
na	PREP	na
100	NUM	@card@
minuta	N:m	minut
psihofizičkog	A:aem	psihofizički
sakaćenja	N:n	sakaćenje
i	CONJ	i
nezapamćenu	A:aef	nezapamćen
količinu	N:f	količina
bola	N:m	bol
.	SENT	.
Deo	N:m	deo
publike	N:f	publika
će	A:aem	će
izvesno	A:aen	izvestan
napustiti	N:m	napustiti
projekciju	N:f	projekcija
,	PUNCT	,
neko	PRO	neki
će	N:f	će
možda	PAR	možda
povratiti	N:m	povratiti
ili	CONJ	ili
izgubiti	A:aem	izgubiti
svest	N:f	svest
,	PUNCT	,
a	CONJ	a
oni	PRO	onaj
koji	PRO	koji
stoički	A:aem	stoički
istraju	N:m	istraju
pitaće	N:m	pitaće
se	PAR	se
čemu	PRO	šta
li	PAR	li
su	N:m	su
to	PRO	taj
tačno	ADV	tačno
prisustvovali	V:m	prisustvovati
.	SENT	.
Antihrist	N:m	antihrist
je	PRO	ona
uvijen	V:m	uviti
u	PREP	u
simbole	N:m	simbol
,	PUNCT	,
ali	CONJ	ali
u	PREP	u
svojoj	PRO	svoj
besomučnosti	N:f	besomučnost
ne	PAR	ne
pruža	A:aem	pruža
publici	N:f	publika
priliku	N:f	prilika
da	CONJ	da
predahne	A:aef	predahne
i	CONJ	i
protumači	A:aen	protumači
viđeno	V:n	viditi
.	SENT	.
Jedno	NUM	jedan
je	PRO	ona
sigurno	ADV	sigurno
:	PUNCT	:
svideo	V:m	svideti
vam	PRO	vi
se	PAR	se
film	N:m	film
ili	CONJ	ili
ne	PAR	ne
,	PUNCT	,
nećete	N:m	nećete
poželeti	N:m	poželeti
u	PREP	u
skorije	A:ben	skori
vreme	N:n	vreme
da	CONJ	da
mu	PRO	on
se	PAR	se
ponovo	ADV	ponovo
podvrgnete	N:m	podvrgnete
.	SENT	.
On	PRO	on
i	CONJ	i
Ona	A:aem	Ona
su	N:m	su
otuđeni	V:m	otuđiti
bračni	A:aem	bračni
par	N:m	par
koji	PRO	koji
se	PAR	se
povlači	V:m	povlači
u	PREP	u
prirodu	N:f	priroda
u	PREP	u
pokušaju	N:m	pokušaj
da	CONJ	da
se	PAR	se
oporavi	A:aem	oporavi
od	PREP	od
gubitka	N:m	gubitak
trogodišnjeg	A:aem	trogodišnji
sina	N:m	sin
.	SENT	.
On	PRO	on
je	PRO	ona
arogantni	A:aem	arogantan
psihoterapeut	N:m	psihoterapeut
čije	PRO	čiji
se	PAR	se
bihevioralne	A:aef	bihevioralne
metode	N:f	metoda
lečenja	N:n	lečenje
graniče	N:m	graniče
sa	PREP	sa
sadizmom	N:m	sadizam
.	SENT	.
Ona	PRO	ona
je	PRO	ona
nevoljni	A:aem	nevoljan
pacijent	N:m	pacijent
rastrzan	V:m	rastrzati
između	PREP	između
poverenja	N:n	poverenje
i	CONJ	i
prezira	N:m	prezir
prema	PREP	prema
svom	PRO	sav
potencijalnom	A:aef	potencijalan
spasitelju	N:m	spasitelj
.	SENT	.
Njihov	PRO	njihov
odnos	N:m	odnos
je	PRO	ona
grčevit	A:aem	grčevit
sukob	N:m	sukob
muškog	A:aen	muški
razuma	N:m	razum
i	CONJ	i
ženskog	A:aem	ženski
nagona	N:m	nagon
,	PUNCT	,
i	CONJ	i
samo	PAR	samo
je	PRO	ona
pitanje	N:n	pitanje
vremena	N:n	vreme
kada	CONJ	kada
će	V:m	će
se	PAR	se
uloge	N:f	uloga
mučenika	N:m	mučenik
i	CONJ	i
mučitelja	N:m	mučitelj
zamutiti	N:m	zamutiti
,	PUNCT	,
a	CONJ	a
verbalna	A:aef	verbalan
tortura	N:f	tortura
prerasti	N:m	prerast
u	PREP	u
fizičku	A:aen	fizički
.	SENT	.
Premijera	N:m	premijer
Antihrista	N:m	antihrist
izazvala	V:f	izazvati
je	PRO	ona
skandal	N:m	skandal
u	PREP	u
Kanu	N:m	Kan
zbog	PREP	zbog
pornografskih	A:aef	pornografski
scena	N:f	scena
,	PUNCT	,
eksplicitnog	A:aen	eksplicitan
nasilja	N:n	nasilje
i	CONJ	i
navodnog	A:aem	navodni
ženomrstva	N:n	ženomrstvo
.	SENT	.
Opšte	A:aen	Opšte
zgražavanje	N:n	zgražavanje
išlo	V:n	ići
je	PRO	ona
do	PREP	do
te	PRO	taj
mere	N:f	mera
da	CONJ	da
je	PRO	ona
nagrada	N:f	nagrada
Charlotte	N:f	Charlotte
Gainsbourg	N:m	Gainsbourg
za	PREP	za
najbolju	A:cef	dobar
glumicu	N:f	glumica
ostala	V:m	ostati
u	PREP	u
senci	N:f	senka
antinagrade	N:m	antinagrade
za	PREP	za
mizoginiju	N:f	mizoginija
dodeljene	A:aem	dodeljen
od	PREP	od
strane	N:f	strana
uvređenog	A:aem	uvređen
ekumenskog	A:aem	ekumenski
žirija	N:m	žiri
.	SENT	.
Seksistička	N:m	Seksistička
provokacija	N:f	provokacija
očito	PAR	očito
je	PRO	ona
tendenciozna	A:aen	tendenciozan
,	PUNCT	,
što	CONJ	što
pokazuje	N:m	pokazuje
i	CONJ	i
simbol	N:m	simbol
♀	N:m	♀
u	PREP	u
naslovu	N:m	naslov
filma	N:m	film
.	SENT	.
Von	N:m	Von
Trier	N:m	Trier
osetljivima	A:aem	osetljiv
daje	N:m	daje
na	PREP	na
pretek	N:m	pretek
povoda	N:m	povod
za	PREP	za
ljutnju	N:f	ljutnja
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
pametno	ADV	pametno
ostavlja	A:aem	ostavlja
prostor	N:m	prostor
za	PREP	za
dilemu	N:f	dilema
da	CONJ	da
li	PAR	li
je	PRO	ona
film	N:m	film
ženomrzački	A:aem	ženomrzački
ili	CONJ	ili
o	PREP	o
ženomrstvu	N:n	ženomrstvo
.	SENT	.
Von	N:m	Von
Trier	N:m	Trier
se	PAR	se
poigrava	A:aen	poigrava
i	CONJ	i
tradicionalnom	A:aen	tradicionalan
povezanošću	N:f	povezanost
horora	N:m	horor
i	CONJ	i
seksualnosti	N:f	seksualnost
dovođenjem	N:n	dovođenje
žanrovskih	A:aef	žanrovski
konvencija	N:f	konvencija
do	PREP	do
ekstrema	N:m	ekstrem
.	SENT	.
Svestan	A:aem	svestan
da	CONJ	da
šok	N:m	šok
efekat	N:m	efekt
nije	V:m	nije
lako	ADV	lako
svarljiv	A:aem	svarljiv
na	PREP	na
svim	PRO	sav
tržištima	N:n	tržište
,	PUNCT	,
lukavi	A:aem	lukav
Danac	N:m	Danac
,	PUNCT	,
pored	PREP	pored
netaknute	A:aef	netaknut
protestantske	A:aem	protestantski
,	PUNCT	,
nudi	N:f	nudi
i	CONJ	i
katoličku	A:aef	katolički
verziju	N:f	verzija
filma	N:m	film
,	PUNCT	,
iz	PREP	iz
koje	PRO	koji
su	N:m	su
isečeni	V:m	iseći
kadrovi	N:m	kadar
klitoridektomije	N:m	klitoridektomije
,	PUNCT	,
masturbacije	N:f	masturbacija
,	PUNCT	,
ejakulacije	N:m	ejakulacije
i	CONJ	i
penetracije	N:f	penetracija
.	SENT	.
Von	N:m	Von
Trier	N:m	Trier
se	PAR	se
opredelio	V:m	opredeliti
za	PREP	za
naslov	N:m	naslov
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
imao	V:m	imati
ikakvu	PRO	ikakav
konkretnu	A:aef	konkretan
zamisao	N:f	zamisao
o	PREP	o
zapletu	N:m	zaplet
.	SENT	.
Eden	N:m	eden
je	PRO	ona
prvenstveno	ADV	prvenstveno
trebalo	V:n	trebati
ironično	ADV	ironično
da	CONJ	da
konotira	N:m	konotira
romansu	N:f	romansa
,	PUNCT	,
pa	CONJ	pa
tek	PAR	tek
onda	ADV	onda
da	CONJ	da
posluži	N:f	posluži
kao	CONJ	kao
aluzija	N:f	aluzija
na	PREP	na
Adama	N:m	Adam
i	CONJ	i
Evu	N:f	Eva
i	CONJ	i
da	CONJ	da
predstavi	N:f	predstava
protagoniste	N:m	protagonista
kao	CONJ	kao
arhetipskog	A:aem	arhetipski
muškarca	N:m	muškarac
i	CONJ	i
ženu	N:f	žena
.	SENT	.
Ako	CONJ	ako
se	PAR	se
novozavetni	A:aem	novozavetni
kontekst	N:m	kontekst
ipak	PAR	ipak
uzme	V:m	uzme
u	PREP	u
razmatranje	N:n	razmatranje
,	PUNCT	,
seksualna	A:aen	seksualan
nezasitost	N:f	nezasitost
upućuje	N:m	upućuje
na	PREP	na
prvobitni	A:aem	prvobitan
greh	N:m	greh
,	PUNCT	,
a	CONJ	a
Žalost	N:f	Žalost
,	PUNCT	,
Bol	N:m	Bol
i	CONJ	i
Očaj	N:m	Očaj
postaju	N:f	postaja
von	N:m	von
Trierovo	A:aen	Trierovo
Sveto	N:m	Sveta
trojstvo	N:n	trojstvo
.	PUNCT	.
I	CONJ	i
On	A:aem	On
i	CONJ	i
Ona	A:aem	Ona
pokazuju	N:m	pokazuju
tragove	N:m	trag
dobrote	N:f	dobrota
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
priroda	N:f	priroda
koja	PRO	koji
ih	PRO	ona
okružuje	N:f	okružuje
ta	PRO	taj
koja	PRO	koji
je	PRO	ona
sve	PRO	sav
vreme	N:n	vreme
nepopustljivo	A:aen	nepopustljiv
neprijateljski	A:aem	neprijateljski
nastrojena	A:aem	nastrojen
.	SENT	.
U	PREP	u
svom	PRO	sav
Otkrovenju	N:n	otkrovenje
,	PUNCT	,
von	N:m	von
Trier	N:m	Trier
ne	PAR	ne
upire	V:m	upire
prstom	N:m	prst
u	PREP	u
ljude	N:m	ljudi
,	PUNCT	,
već	CONJ	već
u	PREP	u
Boga	N:f	Boga
.	SENT	.
Sama	PRO	sam
priroda	N:f	priroda
je	PRO	ona
Antihrist	N:m	antihrist
,	PUNCT	,
i	CONJ	i
stvorio	V:m	stvoriti
ju	PRO	ona
je	PRO	ona
Satana	A:aem	Satana
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
Bog	A:aem	Bog
,	PUNCT	,
i	CONJ	i
kao	CONJ	kao
takva	PRO	takav
u	PREP	u
stanju	N:n	stanje
je	PRO	ona
da	CONJ	da
probudi	A:aen	probudi
neslućeno	A:aen	neslućen
zlo	N:n	zlo
u	PREP	u
ljudima	N:m	ljudi
.	SENT	.
Film	N:m	film
je	PRO	ona
košmarno	A:aen	košmarno
snoviđenje	N:n	snoviđenje
koje	PRO	koji
se	PAR	se
opire	V:f	opire
dnevnoj	A:aef	dnevni
logici	N:f	logika
,	PUNCT	,
i	CONJ	i
njime	PRO	on
zaista	PAR	zaista
vlada	N:f	vlada
haos	N:m	haos
,	PUNCT	,
kao	CONJ	kao
što	CONJ	što
poručuje	N:m	poručuje
mudra	A:aef	mudar
lija	N:f	lija
.	SENT	.
U	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
emocionalno	A:aen	emocionalan
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
racionalno	A:aen	racionalan
iskustvo	N:n	iskustvo
,	PUNCT	,
u	PREP	u
kom	PRO	koji
simboli	N:m	simbol
vode	N:f	voda
u	PREP	u
polumrak	N:m	polumrak
,	PUNCT	,
i	CONJ	i
čak	PAR	čak
ni	PAR	ni
katarzični	A:aem	katarzičan
epilog	N:m	epilog
ne	PAR	ne
donosi	N:m	donosi
nedvosmislen	A:aem	nedvosmislen
zaključak	N:m	zaključak
Jevanđelja	N:m	Jevanđelja
po	PREP	po
von	N:m	von
Trieru	N:m	Trieru
.	SENT	.
Antihrist	N:m	antihrist
predstavlja	N:n	predstavlja
von	N:m	von
Trierovo	A:aen	Trierovo
postdepresivno	A:aen	postdepresivno
mirenje	N:n	mirenje
sa	PREP	sa
ateizmom	N:m	ateizam
i	CONJ	i
manjkom	N:m	manjak
vere	N:f	vera
u	PREP	u
prirodu	N:f	priroda
i	CONJ	i
ljude	N:m	ljudi
.	SENT	.
Njegova	PRO	njegov
hrabrost	N:f	hrabrost
da	CONJ	da
predstavi	N:f	predstava
svoju	PRO	svoj
viziju	N:f	vizija
kako	CONJ	kako
ju	PRO	ona
je	PRO	ona
zamislio	V:m	zamisliti
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
hrabrost	N:f	hrabrost
glumaca	N:m	glumac
da	CONJ	da
ga	PRO	on
u	PREP	u
toj	PRO	taj
nameri	N:f	namera
isprate	N:m	isprate
,	PUNCT	,
rezultuju	N:m	rezultuju
zastrašujućim	A:aem	zastrašujući
kolažom	N:m	kolaž
slika	N:f	slika
o	PREP	o
očajanju	N:n	očajanje
i	CONJ	i
preispitivanju	N:n	preispitivanje
ljudske	A:aef	ljudski
duše	N:f	duša
koji	PRO	koji
nudi	N:f	nudi
intenzivan	A:aem	intenzivan
doživljaj	N:m	doživljaj
,	PUNCT	,
ali	CONJ	ali
koji	PRO	koji
ne	PAR	ne
treba	N:f	treba
svi	PRO	sav
da	CONJ	da
vide	N:f	vida
.	SENT	.
