Pre	PREP	pre
godinu	N:f	godina
-	PUNCT	-
dve	NUM	dva
Boy	A:aem	Boy
George	N:m	George
je	PRO	ona
viđen	V:m	viditi
u	PREP	u
ulozi	N:f	uloga
učesnika	N:m	učesnik
britanske	A:aef	britanski
ispostave	N:f	ispostava
V	ABB	V
.	PUNCT	.
I	CONJ	i
.	SENT	.
P	A:aen	P
.	PUNCT	.
Velikog	A:aen	velik
brata	N:m	brata
.	SENT	.
Do	PREP	do
toga	PRO	taj
nije	N:m	nije
došlo	V:n	doći
jer	CONJ	jer
je	PRO	ona
nekadašnji	A:aem	nekadašnji
superstar	N:m	superstar
morao	V:m	morati
na	PREP	na
odsluženje	N:n	odsluženje
zatvorske	A:aem	zatvorski
kazne	N:f	kazna
na	PREP	na
koju	PRO	koji
je	PRO	ona
osuđen	V:m	osuditi
jer	CONJ	jer
je	PRO	ona
danima	ADV	danima
držao	V:m	držati
(	PUNCT	(
mušku	A:aef	muški
)	PUNCT	)
prostituku	N:m	prostituku
zakatančenu	A:aem	zakatančenu
i	CONJ	i
utamničenu	A:aem	utamničen
u	PREP	u
svom	PRO	sav
domu	N:m	dom
.	PUNCT	.
I	CONJ	i
oni	PRO	onaj
slabi	A:aem	slab
i	CONJ	i
oni	PRO	onaj
gadljivi	A:aem	gadljiv
na	PREP	na
sveukupno	A:aen	sveukupan
nasleđe	N:n	nasleđe
muzičko	A:aen	muzički
-	PUNCT	-
estetskih	A:aen	estetski
osamdesetih	A:aem	osamdeseti
godina	N:f	godina
prošlog	A:aen	prošli
veka	N:m	vek
neće	A:aem	neće
osporiti	A:aem	osporiti
Boy	A:aem	Boy
Georgeu	N:m	George
status	N:m	status
najživopisnije	A:cen	živopisan
zvezde	N:f	zvezda
u	PREP	u
okeanu	N:m	okean
bizarnih	A:aef	bizaran
pojava	N:f	pojava
(	PUNCT	(
a	CONJ	a
počesto	ADV	počesto
i	CONJ	i
kreatura	N:f	kreatura
)	PUNCT	)
.	SENT	.
Worried	N:m	Worried
About	A:aem	About
the	N:m	the
Boy	N:m	Boy
,	PUNCT	,
produkcija	N:f	produkcija
BBC	N:m	BBC
2	NUM	@card@
,	PUNCT	,
u	PREP	u
sebi	PRO	sebe
uspešno	A:aen	uspešan
spaja	N:f	spaja
dva	NUM	dva
za	PREP	za
ovu	PRO	ovaj
priču	N:f	priča
podjednako	ADV	podjednako
značajna	A:aen	značajan
toka	N:m	tok
–	N:m	–
ovo	PRO	ovaj
ostvarenje	N:n	ostvarenje
dovoljno	ADV	dovoljno
ubedljivo	A:aen	ubedljiv
deluje	N:m	deluje
i	CONJ	i
kao	ADV	kao
(	PUNCT	(
jedan	NUM	jedan
od	PREP	od
mogućih	A:aem	moguć
portreta	N:m	portret
problematične	A:aem	problematičan
pop	N:m	pop
zvezde	N:f	zvezda
i	CONJ	i
kao	CONJ	kao
film	N:m	film
koji	PRO	koji
teži	A:bem	težak
da	CONJ	da
oslika	V:m	oslika
širu	A:bef	širok
supkulturno	N:f	supkulturno
/	A:aem	/
popkulturnu	N:m	popkulturnu
sliku	N:f	slika
ranih	A:aem	ran
prevratničkih	A:aen	prevratnički
osamdesetih	A:aem	osamdeseti
.	SENT	.
Ovo	PRO	ovaj
jeste	INT	jeste
biopic	N:m	biopic
o	PREP	o
jednoj	NUM	jedan
vremenu	N:n	vreme
tektonski	A:aem	tektonski
dalekosežno	A:aen	dalekosežan
uticajnih	A:aef	uticajan
godina	N:f	godina
za	PREP	za
evoluciju	N:f	evolucija
popularne	A:aef	popularan
kulture	N:f	kultura
,	PUNCT	,
ali	CONJ	ali
isto	ADV	isto
tako	ADV	tako
jeste	INT	jeste
i	CONJ	i
odmeren	A:aem	odmeren
i	CONJ	i
višeslojan	A:aem	višeslojan
prikaz	N:m	prikaz
jedne	NUM	jedan
možda	PAR	možda
ne	PAR	ne
toliko	ADV	toliko
prijatne	A:aem	prijatan
,	PUNCT	,
ali	CONJ	ali
svakako	ADV	svakako
intrigantne	A:aef	intrigantan
i	CONJ	i
lako	ADV	lako
prepoznatljive	A:aef	prepoznatljiv
ličnosti	N:f	ličnost
.	SENT	.
Reditelj	N:m	reditelj
Julian	N:f	Julian
Jarrold	N:m	Jarrold
(	PUNCT	(
u	PREP	u
čijoj	PRO	čiji
se	PAR	se
filmografiji	N:f	filmografiji
kao	CONJ	kao
najznačajnije	A:cem	značajan
stavke	N:f	stavka
nameću	N:n	nameću
angažovanja	N:n	angažovanje
na	PREP	na
epizodama	N:f	epizoda
briljantnih	A:aem	briljantan
ostrvskih	A:aen	ostrvski
TV	N:m	TV
serijala	N:m	serijal
Prime	N:m	Prima
Suspect	A:aem	Suspect
i	CONJ	i
Red	A:aem	Red
Riding	N:m	Riding
)	PUNCT	)
i	CONJ	i
scenarista	N:m	scenarista
Tony	A:aem	Tony
Basgallop	N:m	Basgallop
(	PUNCT	(
inače	PAR	inače
kreator	N:m	kreator
i	CONJ	i
kod	PREP	kod
nas	PRO	mi
prikazivane	A:aef	prikazivan
serije	N:f	serija
Hotel	N:m	hotel
Vavilon	N:m	Vavilon
)	PUNCT	)
upravo	ADV	upravo
zato	ADV	zato
Worried	N:m	Worried
About	N:m	About
The	INT	The
Boy	A:aem	Boy
postavljaju	N:m	postavljaju
i	CONJ	i
izvode	N:m	izvod
u	PREP	u
vidu	N:f	vida
pletenice	N:f	pletenica
.	SENT	.
Devedesetak	ADV	devedesetak
minuta	N:m	minut
je	PRO	ona
,	PUNCT	,
čini	N:f	čini
se	PAR	se
,	PUNCT	,
ovom	PRO	ovaj
dvojcu	N:m	dvojac
sasvim	ADV	sasvim
dovoljno	ADV	dovoljno
da	CONJ	da
sačine	A:aem	sačine
efektnu	A:aef	efektan
i	CONJ	i
očaravajuće	A:aef	očaravajući
kvalitetnu	A:aem	kvalitetan
priču	N:f	priča
o	PREP	o
jednom	NUM	jedan
čoveku	N:m	čovek
u	PREP	u
jednom	NUM	jedan
(	PUNCT	(
jednako	ADV	jednako
specifičnom	A:aem	specifičan
)	PUNCT	)
vremenu	N:n	vreme
.	SENT	.
U	PREP	u
prilici	N:f	prilika
smo	N:f	smo
da	CONJ	da
pratimo	N:f	pratimo
rane	A:aem	ran
jade	N:m	jad
Boya	N:m	Boya
Georgea	N:m	George
–	N:m	–
od	PREP	od
napuštanja	N:n	napuštanje
roditeljskog	A:aen	roditeljski
doma	ADV	doma
,	PUNCT	,
preko	PREP	preko
kvaziekokomunističkih	A:aem	kvaziekokomunističkih
i	CONJ	i
hedonističkih	A:aem	hedonistički
doživljaja	N:m	doživljaj
u	PREP	u
umetničkim	A:aem	umetnički
skvotovima	N:m	skvotovima
britanske	A:aef	britanski
prestonice	N:f	prestonica
i	CONJ	i
klubovima	N:m	klub
u	PREP	u
koje	PRO	koji
su	N:m	su
zalazili	V:m	zalaziti
tada	ADV	tada
ubogi	A:aem	ubog
,	PUNCT	,
a	CONJ	a
kasnije	ADV	kasnije
značajni	A:aem	značajan
i	CONJ	i
u	PREP	u
kojima	PRO	koji
se	PAR	se
oblikovala	V:f	oblikovati
budućnost	N:f	budućnost
ostvrske	A:aef	ostvrske
muzičke	A:aef	muzički
scene	N:f	scena
te	CONJ	te
ere	N:f	era
.	SENT	.
Boy	A:aem	Boy
George	N:m	George
(	PUNCT	(
u	PREP	u
izvanrednom	A:aen	izvanredan
tumačenju	N:n	tumačenje
Douglasa	N:m	Douglasa
Bootha	N:m	Bootha
koji	PRO	koji
liku	N:f	lika
pristupa	N:m	pristup
začudnom	A:aem	začudan
,	PUNCT	,
ali	CONJ	ali
efektnom	A:aef	efektan
mešavinom	N:f	mešavina
sugestivnosti	N:f	sugestivnost
i	CONJ	i
underplaya	N:m	underplaya
)	PUNCT	)
je	PRO	ona
u	PREP	u
svim	PRO	sav
tim	PRO	taj
fazama	N:f	faza
(	PUNCT	(
pa	CONJ	pa
i	CONJ	i
nakon	PREP	nakon
proboja	N:m	proboj
u	PREP	u
svet	A:aem	svet
VIP	N:m	VIP
-	PUNCT	-
ovaca	N:f	ovca
)	PUNCT	)
prikazan	A:aem	prikazan
kao	CONJ	kao
nezgodni	A:aem	nezgodan
,	PUNCT	,
drčni	A:aem	drčan
i	CONJ	i
probitačni	A:aem	probitačan
kolerik	N:m	kolerik
koji	PRO	koji
se	PAR	se
iscrpljuje	N:m	iscrpljuje
u	PREP	u
homoseksualnim	A:aef	homoseksualan
vezama	N:f	veza
sa	PREP	sa
„	N:m	„
posrnulim	A:aem	posrnuo
“	A:aem	“
heteroseksualcima	N:m	heteroseksualcima
i	CONJ	i
bezbrojnim	A:aem	bezbrojan
pokušajima	N:m	pokušaj
da	CONJ	da
se	PAR	se
nametne	A:aem	nametne
kao	CONJ	kao
pažnje	N:f	pažnja
javnosti	N:f	javnost
vredan	A:aem	vredan
.	PUNCT	.
Ipak	PAR	ipak
Jarrold	N:m	Jarrold
i	CONJ	i
Basgallop	N:m	Basgallop
liku	N:f	lika
problematičnog	A:aem	problematičan
Boya	N:m	Boya
Georgea	N:m	George
pristupaju	N:m	pristupaju
minuciozno	ADV	minuciozno
,	PUNCT	,
sa	PREP	sa
vidnim	A:aen	vidan
nastojanjima	N:n	nastojanje
da	CONJ	da
ga	PRO	on
humanizuju	N:m	humanizuju
i	CONJ	i
sa	PREP	sa
što	PRO	što
više	ADV	više
nijansi	N:f	nijansa
predoče	A:aem	predoče
u	PREP	u
punoj	A:aef	pun
višeznačnosti	N:f	višeznačnost
.	SENT	.
Rezultat	N:m	rezultat
tih	PRO	taj
napora	N:m	napor
brzo	ADV	brzo
postaje	N:f	postaja
evidentan	A:aem	evidentan
i	CONJ	i
pred	PREP	pred
nama	PRO	mi
je	PRO	ona
karakter	N:m	karakter
koga	PRO	koji
je	PRO	ona
možda	PAR	možda
teško	ADV	teško
voleti	V:m	voleti
,	PUNCT	,
ali	CONJ	ali
koji	PRO	koji
se	PAR	se
svakako	ADV	svakako
da	CONJ	da
razumeti	N:m	razumeti
,	PUNCT	,
tim	PRO	taj
pre	ADV	pre
jer	CONJ	jer
u	PREP	u
svakoj	PRO	svaki
od	PREP	od
svojih	PRO	svoj
društvenih	A:aef	društven
inkarnacija	N:f	inkarnacija
zadržava	N:f	zadržava
gotovo	ADV	gotovo
istovetan	A:aem	istovetan
stepen	N:m	stepen
(	PUNCT	(
samo	PAR	samo
)	PUNCT	)
izopštenosti	N:f	izopštenost
,	PUNCT	,
sluđenosti	N:f	sluđenosti
i	CONJ	i
,	PUNCT	,
sasvim	ADV	sasvim
prirodno	ADV	prirodno
,	PUNCT	,
nesreće	N:f	nesreća
.	SENT	.
Na	PREP	na
fonu	N:m	fon
društvenog	A:aem	društven
konteksta	N:m	kontekst
,	PUNCT	,
Worried	N:m	Worried
About	A:aem	About
the	N:m	the
Boy	N:m	Boy
se	PAR	se
nameće	V:f	nameće
kao	ADV	kao
rečita	A:aef	rečit
hronika	N:f	hronika
jedne	NUM	jedan
supkulturne	N:f	supkulturne
/	N:m	/
kontrakulturne	A:aem	kontrakulturne
scene	N:f	scena
koja	PRO	koji
se	PAR	se
lagano	ADV	lagano
transformisala	V:n	transformisati
u	PREP	u
glavnotokovsku	A:aef	glavnotokovsku
kulturu	N:f	kultura
,	PUNCT	,
pri	PREP	pri
tom	PRO	taj
mnogo	ADV	mnogo
ne	PAR	ne
gubeći	N:f	gubeći
na	PREP	na
smislu	N:m	smisao
i	CONJ	i
samosvojnosti	N:f	samosvojnost
.	SENT	.
U	PREP	u
dubini	N:f	dubina
kadra	A:aen	kadar
ovog	PRO	ovaj
portreta	N:m	portret
Boya	N:m	Boya
Georgea	N:m	George
tako	ADV	tako
zatičemo	A:aen	zatičemo
armiju	N:f	armija
sada	ADV	sada
zaboravljenih	A:aef	zaboravljen
veličina	N:f	veličina
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
Billyja	A:aem	Billyja
Idola	N:m	idol
,	PUNCT	,
Malcoma	N:m	Malcoma
Maclarena	N:m	Maclarena
,	PUNCT	,
Spandau	N:m	Spandau
Ballet	N:m	Ballet
.	PUNCT	.
.	PUNCT	.
.	SENT	.
,	PUNCT	,
a	CONJ	a
autorska	A:aef	autorski
ekipa	N:f	ekipa
uspeva	N:m	uspeva
i	CONJ	i
u	PREP	u
naumu	N:m	naum
da	CONJ	da
oslika	N:f	oslika
obrise	N:m	obris
mehanizma	N:m	mehanizam
kojim	PRO	koji
Ostrvljani	N:f	Ostrvljani
svoju	PRO	svoj
i	CONJ	i
dalje	ADV	dalje
superiornu	A:aen	superioran
muzičku	A:aen	muzički
scenu	N:f	scena
istrajno	A:aen	istrajan
održavaju	N:m	održavaju
u	PREP	u
punom	A:aem	pun
zamahu	N:m	zamah
.	PUNCT	.
I	CONJ	i
bez	PREP	bez
posezanja	N:n	posezanje
za	PREP	za
poređenjima	N:n	poređenje
i	CONJ	i
analogijama	N:f	analogija
sa	PREP	sa
tugaljivim	A:aem	tugaljiv
kvalitetom	N:m	kvalitet
ovdašnje	A:aen	ovdašnji
zahuktale	A:aef	zahuktao
TV	A:aem	TV
produkcije	N:f	produkcija
,	PUNCT	,
Worried	N:m	Worried
About	A:aem	About
the	N:m	the
Boy	N:m	Boy
se	PAR	se
nameće	V:n	nameće
kao	ADV	kao
superiorno	ADV	superiorno
i	CONJ	i
posve	ADV	posve
zaokruženo	V:n	zaokružiti
delo	N:n	delo
i	CONJ	i
rečit	A:aem	rečit
primer	N:m	primer
kako	CONJ	kako
se	PAR	se
oblikovana	V:n	oblikovati
i	CONJ	i
nacija	N:f	nacija
kojoj	PRO	koji
samopoštovanje	N:n	samopoštovanje
nije	A:aem	nije
strano	A:aen	stran
drži	N:m	drži
po	PREP	po
pitanju	N:n	pitanje
odnosa	N:m	odnos
prema	PREP	prema
vlastitom	A:aen	vlastit
kulturnog	A:aem	kulturan
nasleđa	N:n	nasleđe
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
za	PREP	za
kojim	PRO	koji
od	PREP	od
nekoliko	ADV	nekoliko
mogućih	A:aem	moguć
(	PUNCT	(
pop	N:m	pop
-	PUNCT	-
,	PUNCT	,
sup	N:m	sup
-	PUNCT	-
.	SENT	.
.	PUNCT	.
.	SENT	.
)	PUNCT	)
prefiksa	N:m	prefiks
da	CONJ	da
smo	N:f	smo
posegnugli	N:m	posegnugli
.	SENT	.
