Serijal	N:m	serijal
Nemoguća	A:aem	Nemoguća
misija	N:f	misija
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
najvoljenijih	A:cef	voljen
i	CONJ	i
najžilavijih	A:cen	žilav
akcionih	A:aem	akcioni
serijala	N:m	serijal
.	SENT	.
Prvi	A:aem	prvi
deo	N:m	deo
(	PUNCT	(
Brian	N:m	Brian
De	A:aem	De
Palma	N:m	Palma
,	PUNCT	,
1996	NUM	@card@
)	PUNCT	)
je	PRO	ona
i	CONJ	i
dan	N:m	dan
danas	ADV	danas
jedan	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
trenutaka	N:m	trenutak
u	PREP	u
bogatoj	A:aef	bogat
karijeri	N:f	karijera
Toma	N:m	Toma
Cruisa	N:m	Cruisa
,	PUNCT	,
i	CONJ	i
svako	PRO	svaki
se	PAR	se
može	A:aem	može
bez	PREP	bez
većeg	A:ben	velik
premišljanja	N:n	premišljanje
ubrojati	A:aem	ubrojati
u	PREP	u
akcione	A:aef	akcioni
klasike	N:f	klasika
.	SENT	.
John	N:m	John
Woo	N:f	Woo
je	PRO	ona
svoj	PRO	sav
doprinos	N:m	doprinos
dao	V:m	dati
u	PREP	u
drugom	A:aef	drugi
delu	N:n	delo
(	PUNCT	(
2000	NUM	@card@
)	PUNCT	)
,	PUNCT	,
obogativši	V:m	obogativši
ga	PRO	on
sa	PREP	sa
nekoliko	ADV	nekoliko
spektakularnih	A:aem	spektakularan
akcionih	A:aem	akcioni
sekvenci	N:f	sekvenca
i	CONJ	i
prizorima	N:m	prizor
uzletanja	N:n	uzletanje
belih	A:aef	beo
golubica	N:f	golubica
,	PUNCT	,
dok	CONJ	dok
je	PRO	ona
treći	A:aem	treći
deo	N:m	deo
(	SENT	(
2006	NUM	@card@
)	PUNCT	)
u	PREP	u
režiji	N:f	režija
J	ABB	J
.	PUNCT	.
J	ABB	J
.	PUNCT	.
Abramsa	N:m	Abrams
predstavljao	V:m	predstavljati
ozbiljan	A:aem	ozbiljan
pad	N:m	pad
,	PUNCT	,
poklopivši	V:m	poklopivši
se	PAR	se
sa	PREP	sa
posrtajima	N:m	posrtaj
u	PREP	u
životu	N:m	život
i	CONJ	i
karijeri	N:f	karijera
najslavnijeg	A:cen	slavan
sajentologa	N:m	sajentologa
.	SENT	.
Od	PREP	od
četvrtog	A:aem	četvrti
dela	N:n	delo
se	PAR	se
nije	V:n	nije
mnogo	ADV	mnogo
očekivalo	V:n	očekivati
.	SENT	.
Serijal	N:m	serijal
je	PRO	ona
delovao	V:m	delovati
istrošeno	A:aen	istrošen
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
i	CONJ	i
karijera	N:f	karijera
Tom	N:m	Tom
Cruisa	N:m	Cruisa
koji	PRO	koji
već	PAR	već
godinama	ADV	godinama
ne	PAR	ne
uspeva	N:m	uspeva
da	CONJ	da
povrati	N:m	povrat
nekadašnju	A:aem	nekadašnji
slavu	N:f	slava
i	CONJ	i
uspeh	N:m	uspeh
.	SENT	.
Tim	N:m	Tim
pre	PREP	pre
je	PRO	ona
uspeh	N:m	uspeh
četvrtog	A:aem	četvrti
dela	N:n	delo
Nemoguće	A:aef	Nemoguće
misije	N:f	misija
veći	A:bem	velik
.	SENT	.
Odavno	ADV	odavno
u	PREP	u
bioskope	N:m	bioskop
nije	N:f	nije
stigao	V:m	stignuti
jedan	NUM	jedan
tako	ADV	tako
ubedljiv	A:aem	ubedljiv
akcioni	A:aem	akcioni
spektakl	N:m	spektakl
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
u	PREP	u
pitanju	N:n	pitanje
nije	A:aem	nije
ostvarenje	N:n	ostvarenje
koje	PRO	koji
će	N:f	će
voleti	V:m	voleti
samoproklamovani	A:aem	samoproklamovan
intelektualci	N:m	intelektualac
i	CONJ	i
zadrti	A:aem	zadrt
poklonici	N:m	poklonik
umetničkog	A:aen	umetnički
filma	N:m	film
.	SENT	.
Nemoguća	A:aem	Nemoguća
misija	N:f	misija
4	NUM	@card@
:	PUNCT	:
Protokol	N:m	protokol
Duh	N:m	duh
nudi	N:f	nudi
obilje	N:n	obilje
hipertrofirane	A:aef	hipertrofiran
akcije	N:f	akcija
koja	PRO	koji
zadire	N:m	zadire
u	PREP	u
domen	N:m	domen
naučne	A:aef	naučni
fantastike	N:f	fantastika
i	CONJ	i
zaplet	N:m	zaplet
koji	PRO	koji
prevazilazi	N:f	prevazilazi
okvire	N:m	okvir
zdrave	A:aem	zdrav
pameti	N:f	pamet
,	PUNCT	,
ali	CONJ	ali
upravo	ADV	upravo
je	PRO	ona
to	PRO	taj
i	CONJ	i
bio	V:m	biti
cilj	N:m	cilj
autora	N:m	autor
-	PUNCT	-
zabaviti	A:aem	zabaviti
publiku	N:f	publika
uz	PREP	uz
obilje	N:n	obilje
eksplozija	N:f	eksplozija
i	CONJ	i
akrobacija	N:f	akrobacija
.	SENT	.
Oskarovac	N:m	oskarovac
Brad	N:m	Brad
Bird	N:m	Bird
,	PUNCT	,
poznat	V:m	poznati
kao	CONJ	kao
reditelj	N:m	reditelj
animiranih	A:aem	animiran
mega	PREF	mega
hitova	N:m	hit
Mućkalica	N:f	Mućkalica
i	CONJ	i
Neviđeni	A:aem	Neviđeni
,	PUNCT	,
odlično	ADV	odlično
se	PAR	se
snašao	V:m	snaći
u	PREP	u
svom	PRO	sav
igranom	A:aem	igran
debiju	N:m	debi
.	SENT	.
U	PREP	u
filmu	N:m	film
sve	PRO	sav
pršti	N:n	pršti
od	PREP	od
akcije	N:f	akcija
,	PUNCT	,
a	CONJ	a
pojedine	A:aef	pojedini
sekvence	N:f	sekvenca
su	N:m	su
režirane	V:f	režirati
sa	PREP	sa
neospornim	A:aen	neosporan
umećem	N:n	umeće
i	CONJ	i
poletom	N:m	polet
koji	PRO	koji
se	PAR	se
retko	ADV	retko
viđa	V:m	viđa
u	PREP	u
produkcijama	N:f	produkcija
ovog	PRO	ovaj
profila	N:m	profil
.	PUNCT	.
Istina	N:f	istina
,	PUNCT	,
istrošenost	N:f	istrošenost
Toma	N:m	Toma
Cruisa	N:m	Cruisa
je	PRO	ona
ovoga	PRO	ovaj
puta	ADV	puta
vidljiva	A:aen	vidljiv
i	CONJ	i
u	PREP	u
fizičkom	A:aef	fizički
aspektu	N:m	aspekt
(	PUNCT	(
nije	A:aem	nije
lako	ADV	lako
izigravati	A:aem	izigravati
akcionog	A:aem	akcioni
heroja	N:m	heroj
sa	PREP	sa
gotovo	ADV	gotovo
50	NUM	@card@
godina	N:f	godina
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
iskorišćena	A:aem	iskorišćen
stara	A:aef	star
taktika	N:f	taktika
,	PUNCT	,
pa	CONJ	pa
se	PAR	se
u	PREP	u
filmu	N:m	film
pojavljuju	N:f	pojavljuju
atraktivni	A:aem	atraktivan
epizodisti	N:m	epizodista
koji	PRO	koji
u	PREP	u
dramski	A:aem	dramski
zahtevnijim	A:bem	zahtevan
scenama	N:f	scena
„	A:aem	„
pokrivaju	N:f	pokrivaju
“	A:aem	“
glavnog	A:aem	glavnog
glumca	N:m	glumac
.	SENT	.
Engleski	A:aem	engleski
komičar	N:m	komičar
Simon	N:m	Simon
Pegg	A:aen	Pegg
(	PUNCT	(
Noć	A:aem	Noć
glupih	A:aem	glup
mrtvaca	N:m	mrtvac
)	PUNCT	)
reprizira	N:m	reprizira
ulogu	N:f	uloga
iz	PREP	iz
trećeg	A:aem	treći
dela	N:n	delo
i	CONJ	i
ovoga	PRO	ovaj
puta	ADV	puta
je	PRO	ona
mnogo	ADV	mnogo
bolje	ADV	bolje
iskorišćen	V:m	iskoristiti
.	SENT	.
Tu	PRO	taj
su	N:m	su
o	PREP	o
zvezda	N:f	zvezda
u	PREP	u
usponu	N:m	uspon
Jeremy	A:aem	Jeremy
Renner	N:m	Renner
(	PUNCT	(
Katanac	N:m	katanac
za	PREP	za
bol	N:m	bol
)	PUNCT	)
,	PUNCT	,
zatim	ADV	zatim
Paula	N:m	Paul
Patton	N:m	Patton
(	PUNCT	(
Već	A:aen	Već
viđeno	V:n	viditi
)	PUNCT	)
,	PUNCT	,
dok	CONJ	dok
međunarodnu	A:aem	međunarodan
glumačku	A:aef	glumački
podelu	N:f	podela
upotpunjuju	V:m	upotpunjuju
Šveđanin	N:m	Šveđanin
Michael	N:m	Michael
Nyqvist	N:m	Nyqvist
(	PUNCT	(
Muškarci	N:m	Muškarci
koji	PRO	koji
mrze	A:aem	mrze
žene	N:f	žena
)	PUNCT	)
,	PUNCT	,
Rus	N:m	Rus
Vladimir	N:m	Vladimir
Mashkov	N:m	Mashkov
i	CONJ	i
Francuskinja	N:f	Francuskinja
Léa	N:m	Léa
Seydoux	N:m	Seydoux
(	PUNCT	(
Ponoć	A:aem	Ponoć
u	PREP	u
Parizu	N:m	Pariz
)	PUNCT	)
.	SENT	.
Zanimljivo	ADV	zanimljivo
je	PRO	ona
da	CONJ	da
nisu	N:m	nisu
zaobiđeni	V:m	zaobići
ni	PAR	ni
glumci	N:m	glumac
na	PREP	na
ex	N:m	ex
-	PUNCT	-
Yu	N:m	Yu
prostora	N:m	prostor
:	PUNCT	:
na	PREP	na
kratko	ADV	kratko
u	PREP	u
filmu	N:m	film
mogu	A:aem	mogu
videti	A:aem	videti
Bošnjak	N:m	Bošnjak
Miraj	N:m	Miraj
Grbić	N:m	Grbić
i	CONJ	i
Hrvat	N:m	Hrvat
Goran	N:m	Goran
Navojec	N:m	Navojec
(	PUNCT	(
Parada	N:m	Parada
)	PUNCT	)
.	SENT	.
Kontorverzu	N:f	Kontorverzu
u	PREP	u
domaćim	A:aem	domaći
medijima	N:m	medij
je	PRO	ona
raspalilo	V:n	raspaliti
pominjanje	N:n	pominjanje
Srba	N:m	Srba
u	PREP	u
nekoliko	ADV	nekoliko
navrata	N:m	navrat
,	PUNCT	,
ponovo	ADV	ponovo
u	PREP	u
svojstvu	N:n	svojstvo
negativaca	N:m	negativac
,	PUNCT	,
ali	CONJ	ali
kraj	PREP	kraj
film	N:m	film
nudi	N:f	nudi
prilično	ADV	prilično
ironičan	A:aem	ironičan
preokret	N:m	preokret
glede	ADV	glede
srpskog	A:aen	srpski
učešća	N:n	učešće
u	PREP	u
događajima	N:m	događaj
koji	PRO	koji
su	N:m	su
se	PAR	se
odigrali	V:m	odigrati
između	PREP	između
treće	A:aen	treći
i	CONJ	i
četvrte	A:aef	četvrti
Nemoguće	A:aef	Nemoguće
misije	N:f	misija
.	SENT	.
U	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
,	PUNCT	,
pominjanje	N:n	pominjanje
Srba	N:m	Srba
ne	PAR	ne
treba	N:f	treba
previše	ADV	previše
primati	N:m	primat
k	PREP	k
srcu	N:n	srce
.	SENT	.
U	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
serijal	N:m	serijal
koji	PRO	koji
ne	PAR	ne
pretenduje	N:f	pretenduje
da	CONJ	da
bude	A:aen	bude
ozbiljan	A:aem	ozbiljan
,	PUNCT	,
već	PAR	već
postoji	N:m	postoji
samo	PAR	samo
da	CONJ	da
bi	A:aem	bi
uzbudio	V:m	uzbuditi
i	CONJ	i
zabavio	V:m	zabaviti
.	SENT	.
Četvrti	A:aem	Četvrti
deo	N:m	deo
upravo	ADV	upravo
u	PREP	u
tome	PRO	taj
i	CONJ	i
uspeva	N:m	uspeva
.	SENT	.
Bilo	V:n	biti
bi	A:aen	bi
zaista	ADV	zaista
nerealno	A:aen	nerealan
tražiti	A:aem	tražiti
više	ADV	više
od	PREP	od
toga	PRO	taj
.	SENT	.
