Senna	A:aem	Senna
Asifa	N:m	Asifa
Kapadija	N:m	Kapadija
,	PUNCT	,
pak	PAR	pak
,	PUNCT	,
delo	N:n	delo
je	PRO	ona
više	ADV	više
produkcione	A:aef	produkcioni
-	PUNCT	-
kvalitativne	A:aem	kvalitativan
lige	N:f	liga
,	PUNCT	,
i	CONJ	i
poređenje	N:n	poređenje
sa	PREP	sa
Bibom	N:f	Biba
Strujom	N:f	struja
nije	A:aem	nije
pravično	A:aen	pravičan
za	PREP	za
srpsko	A:aen	srpski
ostvarenje	N:n	ostvarenje
,	PUNCT	,
na	PREP	na
prvom	A:aen	prvi
mestu	N:n	mesto
jer	CONJ	jer
ova	PRO	ovaj
dva	NUM	dva
filma	N:m	film
kao	CONJ	kao
zajedničko	A:aen	zajednički
imaju	N:f	imaju
samo	CONJ	samo
dva	NUM	dva
aspekta	N:m	aspekt
dosta	ADV	dosta
širokog	A:aem	širok
okvira	N:m	okvir
-	PUNCT	-
nalaze	N:m	nalaz
se	PAR	se
na	PREP	na
programu	N:m	program
istog	A:aen	isti
festivala	N:m	festival
,	PUNCT	,
a	CONJ	a
autori	N:m	autor
oba	NUM	oba
naslova	N:m	naslov
koriste	N:m	koriste
jezik	N:m	jezik
dokumentarnog	A:aem	dokumentaran
filma	N:m	film
kako	CONJ	kako
bi	N:m	bi
ispričali	V:m	ispričati
priču	N:f	priča
koju	PRO	koji
se	PAR	se
obadbrali	V:m	obadbrali
.	PUNCT	.
I	CONJ	i
Ayrton	N:f	Ayrton
Senna	A:aem	Senna
je	PRO	ona
bio	V:m	biti
ikonična	A:aef	ikonična
pojava	N:f	pojava
u	PREP	u
sferi	N:f	sfera
pop	N:m	pop
-	PUNCT	-
kulturnog	A:aem	kulturan
,	PUNCT	,
ali	CONJ	ali
svoj	PRO	sav
zvezdani	A:aem	zvezdan
status	N:m	status
je	PRO	ona
zavredeo	V:m	zavredeti
drugim	A:aem	drugi
sredstvima	N:n	sredstvo
i	CONJ	i
zahtevnijim	A:bef	zahtevan
postignućima	N:n	postignuće
.	SENT	.
Mnogovoljena	A:aem	Mnogovoljena
zvezda	N:f	zvezda
automibilističkog	A:aem	automibilističkog
sporta	N:m	sport
ujedno	ADV	ujedno
je	PRO	ona
bio	V:m	biti
i	CONJ	i
vrhunski	A:aem	vrhunski
nacionalni	A:aem	nacionalan
junak	N:m	junak
Brazila	N:m	Brazil
u	PREP	u
drugoj	A:aef	drugi
polovini	N:f	polovina
dvadesetog	A:aem	dvadeseti
veka	N:m	vek
.	SENT	.
Autori	N:m	autor
ovog	PRO	ovaj
filma	N:m	film
dosta	ADV	dosta
lagodno	ADV	lagodno
uspevaju	V:m	uspevaju
da	CONJ	da
ovim	PRO	ovaj
ostvarenja	N:n	ostvarenje
pokriju	N:m	pokriju
oba	NUM	oba
ova	PRO	ovaj
asekta	N:m	asekta
Senninog	A:aen	Senninog
lika	N:m	lik
i	CONJ	i
pratećeg	A:aem	prateći
kulta	N:m	kult
.	SENT	.
A	CONJ	a
polazi	N:m	polaz
im	PRO	ona
za	PREP	za
rukom	N:f	ruka
,	PUNCT	,
i	CONJ	i
to	PRO	taj
je	PRO	ona
,	PUNCT	,
sva	PRO	sav
je	PRO	ona
prilika	N:f	prilika
,	PUNCT	,
i	CONJ	i
najdragoceniji	A:cem	dragocen
dar	N:m	dar
ovog	PRO	ovaj
odličnog	A:aen	odličan
ostvarenja	N:n	ostvarenje
,	PUNCT	,
da	CONJ	da
uhvate	A:aem	uhvate
i	CONJ	i
prikažu	A:aem	prikažu
pipavu	A:aef	pipav
disonancu	N:f	disonanca
između	PREP	između
Sennine	A:aef	Sennine
pogibeljnosti	N:f	pogibeljnosti
i	CONJ	i
neustrašivosti	N:f	neustrašivost
na	PREP	na
trkačkim	A:aef	trkački
stazama	N:f	staza
i	CONJ	i
njegove	PRO	njegov
osnovne	A:aem	osnovni
melanholične	A:aef	melanholičan
prirode	N:f	priroda
u	PREP	u
sferi	N:f	sfera
privatnog	A:aem	privatan
.	PUNCT	.
Otuda	ADV	otuda
i	CONJ	i
krajnje	ADV	krajnje
pozitivan	A:aem	pozitivan
sud	N:m	sud
o	PREP	o
ovom	PRO	ovaj
ostvarenju	N:n	ostvarenje
–	A:aem	–
autori	N:m	autor
smireno	A:aen	smiren
i	CONJ	i
pregledno	A:aen	pregledan
predočavaju	N:m	predočavaju
raznorazne	A:aef	raznorazni
dimenzije	N:f	dimenzija
Sennine	A:aef	Sennine
ličnosti	N:f	ličnost
,	PUNCT	,
a	CONJ	a
to	PRO	taj
postižu	A:aem	postižu
prateći	A:aem	prateći
iskaze	N:m	iskaz
nadahnutih	A:aem	nadahnut
sagovornika	N:m	sagovornik
/	A:aem	/
sagovornika	N:m	sagovornik
(	PUNCT	(
a	CONJ	a
koje	PRO	koji
ovde	ADV	ovde
,	PUNCT	,
i	CONJ	i
to	PRO	taj
je	PRO	ona
veoma	ADV	veoma
zanimljivo	A:aen	zanimljiv
odstupanje	N:n	odstupanje
od	PREP	od
uvreženog	A:aem	uvrežen
kanona	N:m	kanon
,	PUNCT	,
samo	PAR	samo
čujemo	N:f	čujemo
iz	PREP	iz
off	N:m	off
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
bez	PREP	bez
prilike	N:f	prilika
i	CONJ	i
da	CONJ	da
ih	PRO	ona
vidimo	N:f	vidimo
)	PUNCT	)
i	CONJ	i
obilje	N:n	obilje
zanimljive	A:aef	zanimljiv
arhivske	A:aef	arhivski
građe	N:f	građa
.	SENT	.
Po	PREP	po
isteku	N:m	istek
odjavne	A:aef	odjavni
špice	N:f	špica
postaje	N:f	postaja
posve	ADV	posve
jasno	ADV	jasno
da	CONJ	da
su	N:m	su
Asif	N:m	Asif
Kapadia	N:m	Kapadia
i	CONJ	i
ostali	V:m	ostati
kreativci	N:m	kreativac
iz	PREP	iz
njegovog	PRO	njegov
tima	PRO	taj
postigli	V:m	postignuti
cilj	N:m	cilj
–	N:m	–
ispričali	V:m	ispričati
su	N:m	su
jednu	NUM	jedan
emocijama	N:f	emocija
nabijenu	A:aen	nabijen
,	PUNCT	,
dinamičnu	A:aef	dinamičan
i	CONJ	i
viralnu	A:aef	viralnu
priču	N:f	priča
,	PUNCT	,
uspevši	A:aem	uspevši
da	CONJ	da
zabeleže	A:aem	zabeleže
većinu	N:f	većina
značajnih	A:aem	značajan
sinkopa	N:f	sinkopa
u	PREP	u
životu	N:m	život
pokojnog	A:aen	pokojni
Senne	N:m	Senne
.	SENT	.
Jer	CONJ	jer
,	PUNCT	,
na	PREP	na
način	N:m	način
na	PREP	na
koji	PRO	koji
je	PRO	ona
predstavljen	V:m	predstaviti
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
Senna	A:aem	Senna
je	PRO	ona
bio	V:m	biti
i	CONJ	i
sportski	A:aem	sportski
čudotvorac	N:m	čudotvorac
,	PUNCT	,
sramežljiva	A:aef	sramežljiv
duša	N:f	duša
,	PUNCT	,
nacionalni	A:aem	nacionalan
heroj	N:m	heroj
,	PUNCT	,
svestan	A:aem	svestan
važnosti	N:f	važnost
društveno	A:aen	društven
odgovornog	A:aen	odgovoran
delanja	N:n	delanje
,	PUNCT	,
a	CONJ	a
na	PREP	na
posredan	A:aem	posredan
način	N:m	način
posthumno	A:aen	posthuman
je	PRO	ona
učinio	V:m	učiniti
dosta	ADV	dosta
za	PREP	za
humanizaciju	N:f	humanizacija
sporta	N:m	sport
zahvaljujući	PREP	zahvaljujući
kom	PRO	koji
se	PAR	se
vidnuo	V:m	vidnuo
u	PREP	u
zvezde	N:f	zvezda
,	PUNCT	,
ali	CONJ	ali
zbog	PREP	zbog
koga	PRO	koji
je	PRO	ona
,	PUNCT	,
istovremeno	ADV	istovremeno
,	PUNCT	,
neosporno	ADV	neosporno
prerano	ADV	prerano
i	CONJ	i
surovo	ADV	surovo
otposlat	V:m	otposlati
među	PREP	među
legende	N:f	legenda
.	SENT	.
Senna	A:aem	Senna
Asifa	N:m	Asifa
Kapadije	N:m	Kapadije
tako	ADV	tako
na	PREP	na
finiš	N:m	finiš
stiže	A:aem	stiže
u	PREP	u
vidu	N:f	vida
vrhunski	A:aem	vrhunski
filmski	A:aem	filmski
artikulisane	A:aef	artikulisan
priče	N:f	priča
o	PREP	o
jednom	ADV	jednom
znamenitom	A:aem	znamenit
čoveku	N:m	čovek
i	CONJ	i
bliskoj	A:aef	blizak
prošlosti	N:f	prošlost
na	PREP	na
koju	PRO	koji
je	PRO	ona
uticao	V:m	uticati
i	CONJ	i
koju	PRO	koji
je	PRO	ona
u	PREP	u
značajnoj	A:aef	značajan
meri	N:f	mera
i	CONJ	i
oblikovao	V:m	oblikovati
.	SENT	.
