Bioskopska	A:aef	bioskopski
distribucija	N:f	distribucija
u	PREP	u
Srbiji	N:f	Srbija
je	PRO	ona
na	PREP	na
sasvim	ADV	sasvim
očekivanom	A:aem	očekivan
izdisaju	N:m	izdisaj
;	SENT	;
kako	CONJ	kako
stvari	N:f	stvar
stoje	N:f	stoja
,	PUNCT	,
filmofili	N:m	filmofil
bi	N:f	bi
trebalo	V:n	trebati
da	CONJ	da
budu	A:aem	budu
srećni	A:aem	srećan
ako	CONJ	ako
im	PRO	ona
mesečno	ADV	mesečno
pruže	N:m	prug
četiri	NUM	četiri
-	PUNCT	-
pet	NUM	pet
premijernih	A:aen	premijerni
filmova	N:m	film
u	PREP	u
bioskopima	N:m	bioskop
.	SENT	.
Uz	PREP	uz
to	PRO	taj
,	PUNCT	,
filmova	N:m	film
koji	PRO	koji
mogu	A:aef	mogu
biti	N:f	bit
i	CONJ	i
takvi	PRO	takav
i	CONJ	i
onakvi	PRO	onakav
.	SENT	.
Veliki	A:aem	velik
su	N:m	su
potresi	N:m	potres
i	CONJ	i
u	PREP	u
anglosaksonskom	A:aen	anglosaksonski
delu	N:n	delo
sveta	A:aef	svet
,	PUNCT	,
puno	ADV	puno
je	PRO	ona
nepravdi	N:f	nepravda
i	CONJ	i
nerezonskih	A:aem	nerezonskih
poteza	N:m	potez
;	SENT	;
tako	ADV	tako
,	PUNCT	,
recimo	A:aen	recimo
,	PUNCT	,
Damsels	N:m	Damsels
in	ABB	in
Distress	N:m	Distress
,	PUNCT	,
povratnički	A:aem	povratnički
film	N:m	film
Whita	N:m	Whita
Stillmana	N:m	Stillmana
zavredeo	V:m	zavredeti
je	PRO	ona
distribuciju	N:f	distribucija
od	PREP	od
tek	PAR	tek
četiri	NUM	četiri
ekrana	N:m	ekran
u	PREP	u
čitavoj	A:aef	čitav
Americi	N:f	Amerika
.	SENT	.
Stillman	N:m	Stillman
,	PUNCT	,
autor	N:m	autor
čije	PRO	čiji
je	PRO	ona
debitansko	A:aen	debitansko
delo	N:n	delo
Metropolitan	N:m	Metropolitan
cenjeni	A:aem	cenjen
Criterion	N:f	Criterion
uvrstio	V:m	uvrstiti
u	PREP	u
svoju	PRO	svoj
kolekciju	N:f	kolekcija
filma	N:m	film
za	PREP	za
nezaborav	N:m	nezaborav
,	PUNCT	,
tako	ADV	tako
je	PRO	ona
morao	V:m	morati
da	CONJ	da
sačeka	N:m	sačeka
daleko	ADV	daleko
demokratičnije	A:bef	demokratičan
postavljeno	V:n	postaviti
DVD	A:aen	DVD
prepakivanje	N:n	prepakivanje
ovih	PRO	ovaj
dana	N:m	dan
da	CONJ	da
bi	V:m	bi
svoj	PRO	sav
film	N:m	film
predočio	V:m	predočiti
iole	ADV	iole
široj	A:bef	širok
publici	N:f	publika
.	SENT	.
A	CONJ	a
Stillman	N:m	Stillman
je	PRO	ona
apstinirao	V:m	apstinirati
od	PREP	od
filma	N:m	film
gotovo	ADV	gotovo
deceniju	N:f	decenija
i	CONJ	i
po	PREP	po
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
se	PAR	se
,	PUNCT	,
sudeći	A:aem	sudeći
po	PREP	po
ponuđenom	A:aen	ponuđen
između	PREP	između
dve	NUM	dva
špice	N:f	špica
Damsels	N:m	Damsels
in	ABB	in
Distress	N:m	Distress
,	PUNCT	,
nikako	ADV	nikako
ne	PAR	ne
bi	V:n	bi
moglo	V:n	moći
zaključiti	A:aem	zaključiti
.	SENT	.
I	CONJ	i
,	PUNCT	,
sasvim	ADV	sasvim
očekivano	A:aen	očekivan
,	PUNCT	,
Whit	N:m	Whit
Stillman	N:m	Stillman
se	PAR	se
ovde	ADV	ovde
prihvata	N:m	prihvat
autorefrenci	N:m	autorefrenci
i	CONJ	i
parafraziranja	N:n	parafraziranje
viđenog	A:aen	viđen
u	PREP	u
Metrpolitanu	N:m	Metrpolitanu
.	SENT	.
Što	N:m	Što
,	PUNCT	,
nekim	PRO	neki
čudom	N:n	čudo
,	PUNCT	,
nimalo	ADV	nimalo
ne	PAR	ne
umanjuje	N:m	umanjuje
vrednost	N:f	vrednost
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
.	SENT	.
Stillman	N:m	Stillman
je	PRO	ona
u	PREP	u
Metropolitanu	N:m	Metropolitanu
poentirao	V:m	poentirati
na	PREP	na
jalove	A:aef	jalov
zagledanosti	N:f	zagledanost
mladih	A:aen	mlad
(	PUNCT	(
a	CONJ	a
ekonomski	A:aem	ekonomski
relaksiranih	A:aem	relaksiran
)	PUNCT	)
naraštaja	N:m	naraštaj
u	PREP	u
vlastiti	A:aem	vlastit
pupak	N:m	pupak
,	PUNCT	,
i	CONJ	i
to	PRO	taj
čini	N:f	čini
i	CONJ	i
u	PREP	u
slučaju	N:m	slučaj
nenadano	A:aen	nenadan
poletne	A:aef	poletan
i	CONJ	i
lahoraste	A:aef	lahorast
komedije	N:f	komedija
iz	PREP	iz
života	N:m	život
na	PREP	na
koledžu	N:m	koledž
naslovljenoj	A:aef	naslovljen
Damsels	N:m	Damsels
in	ABB	in
Distress	N:m	Distress
.	SENT	.
Hiperintelektualistički	A:aem	Hiperintelektualistički
okvir	N:m	okvir
u	PREP	u
kom	PRO	koji
se	PAR	se
kreću	A:aem	kreću
junaci	N:m	junak
Metrpolitan	N:m	Metrpolitan
,	PUNCT	,
a	CONJ	a
što	CONJ	što
jeste	INT	jeste
bio	V:m	biti
drzak	A:aem	drzak
,	PUNCT	,
ali	CONJ	ali
,	PUNCT	,
sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
i	CONJ	i
sasvim	ADV	sasvim
uspeo	V:m	uspeti
konstrukt	N:m	konstrukt
,	PUNCT	,
primenjen	V:m	primeniti
je	PRO	ona
i	CONJ	i
u	PREP	u
slučaju	N:m	slučaj
ovog	PRO	ovaj
novog	A:aem	nov
filma	N:m	film
,	PUNCT	,
s	PREP	s
tim	PRO	taj
što	CONJ	što
Whit	N:m	Whit
Stillman	N:m	Stillman
ovde	ADV	ovde
pokazuje	N:m	pokazuje
jasnu	A:aem	jasan
svest	N:f	svest
o	PREP	o
protoku	N:m	protok
vremena	N:n	vreme
i	CONJ	i
nametima	N:m	namet
i	CONJ	i
promenama	N:f	promena
koje	PRO	koji
ono	PRO	onaj
sobom	PRO	sebe
neumitno	ADV	neumitno
nosi	A:aem	nosi
.	SENT	.
Tako	ADV	tako
se	PAR	se
i	CONJ	i
junaci	N:m	junak
(	PUNCT	(
zapravo	ADV	zapravo
,	PUNCT	,
većim	A:bem	velik
delom	N:m	deo
junakinje	N:f	junakinja
)	PUNCT	)
Damsels	N:m	Damsels
in	ABB	in
Distress	N:m	Distress
kreću	A:aem	kreću
o	PREP	o
okviru	N:m	okvir
koordinantnog	A:aem	koordinantnog
sistema	N:m	sistem
narcističkog	A:aem	narcistički
slepila	N:n	slepilo
i	CONJ	i
pokušaja	N:m	pokušaj
da	CONJ	da
ironijom	N:f	ironija
i	CONJ	i
verom	N:f	vera
u	PREP	u
vlastitu	A:aem	vlastit
oneobičenost	N:f	oneobičenost
zatome	A:aem	zatome
potrebu	N:f	potreba
za	PREP	za
tako	ADV	tako
bazičnim	A:aef	bazičan
i	CONJ	i
profanim	A:aef	profan
emocijama	N:f	emocija
kao	CONJ	kao
što	CONJ	što
su	N:m	su
ljubav	N:f	ljubav
i	CONJ	i
potreba	N:f	potreba
za	PREP	za
prihvaćenošću	N:f	prihvaćenost
.	PUNCT	.
Ipak	PAR	ipak
Stillman	N:m	Stillman
plaća	N:f	plaća
danak	N:m	danak
vremenu	N:n	vreme
kraćom	A:bef	kratak
minutažom	N:f	minutaža
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
uvodeći	A:aem	uvodeći
plesne	A:aef	plesni
tačke	N:f	tačka
i	CONJ	i
pregršt	N:f	pregršt
muzike	N:f	muzika
u	PREP	u
radnju	N:f	radnja
ovog	PRO	ovaj
filma	N:m	film
koji	PRO	koji
ostavlja	A:aem	ostavlja
krajnji	A:aem	krajnji
utisak	N:m	utisak
minuciozno	ADV	minuciozno
promišljenog	A:aem	promišljen
,	PUNCT	,
sjajno	ADV	sjajno
odgumljenog	A:aem	odgumljenog
i	CONJ	i
u	PREP	u
delo	N:n	delo
sprovedenog	A:aen	sproveden
filma	N:m	film
.	SENT	.
Koji	PRO	koji
,	PUNCT	,
ako	CONJ	ako
bude	A:aem	bude
pravde	N:f	pravda
,	PUNCT	,
može	A:aem	može
da	CONJ	da
posluži	A:aem	posluži
kao	CONJ	kao
mustra	N:f	mustra
za	PREP	za
oporavak	N:m	oporavak
dobrano	ADV	dobrano
posrnulog	A:aem	posrnuo
,	PUNCT	,
a	CONJ	a
i	CONJ	i
dalje	ADV	dalje
prekopotrebnog	A:aen	prekopotrebnog
američkog	A:aen	američki
indie	N:m	indie
filma	N:m	film
pametnijeg	A:bem	pametan
soja	N:f	soja
.	SENT	.
