Svesni	A:aem	svestan
smo	N:f	smo
da	CONJ	da
živimo	N:f	živimo
u	PREP	u
svetu	N:m	svet
u	PREP	u
kojem	PRO	koji
materijalno	A:aen	materijalan
dominira	N:m	dominira
.	SENT	.
Svi	PRO	sav
smo	N:f	smo
u	PREP	u
trci	N:f	trka
za	PREP	za
zaradom	N:f	zarada
,	PUNCT	,
svi	PRO	sav
čekamo	ADV	čekamo
da	CONJ	da
dođe	A:aen	dođe
taj	PRO	taj
momenat	N:m	moment
kada	CONJ	kada
će	V:m	će
nam	PRO	mi
zarada	N:f	zarada
omogućiti	A:aem	omogućiti
da	CONJ	da
ispunimo	A:aen	ispunimo
želje	N:f	želja
i	CONJ	i
zamisli	N:f	zamisao
.	SENT	.
Problem	N:m	problem
je	PRO	ona
što	PRO	što
kada	CONJ	kada
to	PRO	taj
dođe	A:aem	dođe
,	PUNCT	,
većina	N:f	većina
nas	PRO	mi
nije	N:m	nije
ni	PAR	ni
za	PREP	za
šta	PRO	šta
.	PUNCT	.
Skontaš	V:m	Skontaš
da	CONJ	da
si	PRO	sebe
ceo	A:aem	ceo
život	N:m	život
radio	N:m	radio
za	PREP	za
nešto	PRO	nešto
i	CONJ	i
kada	CONJ	kada
je	PRO	ona
to	PRO	taj
nešto	ADV	nešto
došlo	V:n	doći
,	PUNCT	,
više	ADV	više
nisi	N:m	nisi
u	PREP	u
onom	PRO	onaj
dobu	N:n	doba
kada	CONJ	kada
si	PRO	sebe
želeo	V:m	želeti
da	CONJ	da
to	PRO	taj
ostvariš	N:m	ostvariš
.	PUNCT	.
Ili	CONJ	ili
još	ADV	još
gore	ADV	gore
,	PUNCT	,
želja	N:f	želja
je	PRO	ona
iščezla	V:f	iščeznuti
.	SENT	.
U	PREP	u
svemu	PRO	sav
tome	PRO	taj
možda	PAR	možda
si	PRO	sebe
svrhu	N:f	svrha
našao	V:m	naći
u	PREP	u
zaradi	N:f	zarada
.	PUNCT	.
Ne	PAR	ne
radiš	A:aem	radiš
više	ADV	više
da	CONJ	da
bi	A:aem	bi
zaradio	V:m	zaraditi
za	PREP	za
ostvarenje	N:n	ostvarenje
želja	N:f	želja
već	CONJ	već
radiš	A:aen	radiš
da	CONJ	da
bi	A:aen	bi
zarađivao	V:m	zarađivati
.	SENT	.
Zarada	N:f	zarada
radi	PREP	radi
zarade	N:f	zarada
,	PUNCT	,
teško	ADV	teško
da	CONJ	da
se	PAR	se
može	A:aen	može
pronaći	N:n	pronaći
neka	PRO	neki
smisao	N:m	smisao
u	PREP	u
svemu	PRO	sav
tome	PRO	taj
.	PUNCT	.
Čovek	A:aem	Čovek
se	PAR	se
onda	ADV	onda
pretvori	N:m	pretvori
mašinu	N:f	mašina
koja	PRO	koji
traži	A:aem	traži
uspeh	N:m	uspeh
radi	PREP	radi
uspeha	N:m	uspeh
.	PUNCT	.
Kada	CONJ	kada
skončaš	V:m	skončaš
,	PUNCT	,
onda	CONJ	onda
tek	CONJ	tek
shvatiš	A:aem	shvatiš
da	CONJ	da
si	PRO	sebe
radio	N:m	radio
ni	PAR	ni
za	PREP	za
šta	PRO	šta
.	PUNCT	.
Da	CONJ	da
si	PRO	sebe
celog	A:aem	ceo
života	N:m	život
bio	V:m	biti
u	PREP	u
trci	N:f	trka
,	PUNCT	,
verovatno	ADV	verovatno
i	CONJ	i
ostvarivao	V:m	ostvarivati
pobede	N:f	pobeda
a	CONJ	a
da	CONJ	da
nemaš	N:f	nemaš
ni	CONJ	ni
jedan	NUM	jedan
jedini	A:aem	jedini
dan	N:m	dan
slavlja	N:n	slavlje
.	SENT	.
Rezultat	N:m	rezultat
na	PREP	na
papiru	N:m	papir
vredi	V:m	vredi
isto	ADV	isto
kao	ADV	kao
i	CONJ	i
taj	PRO	taj
papir	N:m	papir
kojim	PRO	koji
možeš	A:aem	možeš
obrisati	N:m	obrisati
zadnjicu	N:f	zadnjica
.	PUNCT	.
Naravno	PAR	naravno
da	CONJ	da
treba	N:f	treba
da	CONJ	da
postigneš	A:aem	postigneš
uspeh	N:m	uspeh
u	PREP	u
svom	PRO	sav
poslu	N:m	posao
.	PUNCT	.
Biti	N:f	bit
najbolji	A:cem	dobar
u	PREP	u
poslu	N:m	posao
je	PRO	ona
privilegija	N:f	privilegija
i	CONJ	i
'	A:aem	'
majstorluk	N:m	majstorluk
'	N:m	'
.	PUNCT	.
Ali	CONJ	ali
svoj	PRO	sav
posao	V:m	posati
treba	N:f	treba
da	CONJ	da
staviš	N:m	staviš
u	PREP	u
službu	N:f	služba
života	N:m	život
a	CONJ	a
ne	PAR	ne
da	CONJ	da
život	N:m	život
podrediš	A:aen	podrediš
poslu	N:m	posao
.	SENT	.
Uspeh	N:m	uspeh
na	PREP	na
poslu	N:m	posao
ne	PAR	ne
treba	N:f	treba
da	CONJ	da
ti	PRO	taj
služi	N:m	služi
samo	PAR	samo
da	CONJ	da
izgradiš	A:aen	izgradiš
ime	N:n	ime
i	CONJ	i
položaj	N:m	položaj
.	SENT	.
Uspeh	N:m	uspeh
na	PREP	na
poslu	N:m	posao
treba	N:f	treba
da	CONJ	da
ti	PRO	taj
donese	A:aef	donese
lepote	N:f	lepota
u	PREP	u
životu	N:m	život
,	PUNCT	,
lepote	N:f	lepota
kojim	PRO	koji
stremiš	N:m	stremiš
i	CONJ	i
koje	PRO	koji
želiš	N:m	želiš
.	SENT	.
Ako	CONJ	ako
se	PAR	se
pretvoriš	N:f	pretvoriš
u	PREP	u
mašinu	N:f	mašina
koja	PRO	koji
će	A:aem	će
raditi	A:aem	raditi
da	CONJ	da
bi	A:aen	bi
radila	V:f	raditi
,	PUNCT	,
promaćiće	V:m	promaćiće
ti	PRO	taj
sve	PRO	sav
ono	PRO	onaj
lepo	ADV	lepo
.	PUNCT	.
I	CONJ	i
to	PRO	taj
lepo	ADV	lepo
ćeš	V:m	ćeš
možda	ADV	možda
gledati	A:aem	gledati
da	CONJ	da
unovčiš	A:aem	unovčiš
.	SENT	.
Možeš	A:aem	Možeš
steći	N:m	steći
dobit	N:f	dobit
i	CONJ	i
na	PREP	na
tome	PRO	taj
.	PUNCT	.
Možeš	N:f	Možeš
prodati	V:m	prodati
bukvalno	ADV	bukvalno
sve	ADV	sve
.	SENT	.
Setimo	V:n	Setimo
se	PAR	se
kako	CONJ	kako
su	N:m	su
naše	PRO	naš
vlasti	N:f	vlast
zadnjih	A:aef	zadnji
godina	N:f	godina
prodale	V:f	prodati
sve	ADV	sve
što	CONJ	što
ova	PRO	ovaj
zemlja	N:f	zemlja
ima	N:f	ima
.	SENT	.
Sve	PRO	sav
što	CONJ	što
je	PRO	ona
neko	PRO	neki
gradio	V:m	graditi
,	PUNCT	,
sve	ADV	sve
što	CONJ	što
je	PRO	ona
bio	V:m	biti
nečiji	PRO	nečiji
uspeh	N:m	uspeh
i	CONJ	i
ponos	N:m	ponos
,	PUNCT	,
pretvorili	V:m	pretvoriti
su	N:m	su
u	PREP	u
novac	N:m	novac
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
keš	N:m	keš
je	PRO	ona
otišao	V:m	otići
u	PREP	u
njihove	PRO	njihov
džepove	N:m	džep
ali	CONJ	ali
to	PRO	taj
je	PRO	ona
sada	ADV	sada
druga	A:aef	drugi
priča	N:f	priča
.	SENT	.
Čovek	A:aem	Čovek
živi	A:aem	živ
i	CONJ	i
od	PREP	od
lepih	A:aef	lep
sećanja	N:n	sećanje
.	SENT	.
Lepa	A:aef	lep
sećanja	N:n	sećanje
su	PREF	su
znak	N:m	znak
da	CONJ	da
u	PREP	u
životu	N:m	život
imamo	N:m	imamo
nešto	ADV	nešto
vredno	ADV	vredno
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
ćemo	N:f	ćemo
reći	A:aem	reći
da	CONJ	da
je	PRO	ona
zbog	PREP	zbog
tih	PRO	taj
momenata	N:m	moment
bilo	V:n	biti
i	CONJ	i
vredno	A:aen	vredan
živeti	N:m	živeti
.	SENT	.
Možete	N:f	Možete
li	PAR	li
staviti	V:m	staviti
cenu	N:f	cena
na	PREP	na
svoja	PRO	svoj
sećanja	N:n	sećanje
?	SENT	?
Lepota	N:f	lepota
je	PRO	ona
u	PREP	u
stvarima	N:f	stvar
koje	PRO	koji
vas	PRO	vi
čine	N:m	čin
srećnim	A:aef	srećan
.	SENT	.
Pogledajte	N:m	Pogledajte
srećne	A:aef	srećan
ljude	N:m	ljudi
.	SENT	.
Mislite	N:m	Mislite
li	PAR	li
da	CONJ	da
su	N:m	su
oni	PRO	onaj
materijalno	A:aen	materijalan
obezbeđeni	V:m	obezbediti
uvek	ADV	uvek
.	SENT	.
Nema	A:aem	nem
tu	PRO	taj
pravila	N:n	pravilo
.	SENT	.
U	PREP	u
filmu	N:m	film
vidimo	A:aen	vidimo
genijalan	A:aem	genijalan
bračni	A:aem	bračni
par	N:m	par
.	SENT	.
On	PRO	on
radi	PREP	radi
u	PREP	u
vinogradu	N:m	vinograd
,	PUNCT	,
ona	PRO	ona
radi	PREP	radi
kao	ADV	kao
kućna	A:aen	kućni
pomoćnica	N:f	pomoćnica
.	SENT	.
Sada	ADV	sada
ću	A:aem	ću
krenuti	V:m	krenuti
u	PREP	u
poređenje	N:n	poređenje
sa	PREP	sa
jednom	NUM	jedan
cenjenom	A:aef	cenjen
novijom	A:bef	nov
romantičnom	A:aef	romantičan
komedijom	N:f	komedija
a	CONJ	a
to	PRO	taj
je	PRO	ona
smećence	N:n	smećence
po	PREP	po
nazivu	N:m	naziv
Crazy	A:aem	Crazy
Stupid	N:m	Stupid
Love	N:m	Lov
.	SENT	.
Tu	PRO	taj
imamo	N:m	imamo
gomilu	N:f	gomila
prelepih	A:aen	prelep
ljudi	N:m	ljudi
.	SENT	.
Kakav	PRO	kakav
je	PRO	ona
osećaj	N:m	osećaj
mene	PRO	ja
kao	ADV	kao
gledaoca	N:m	gledalac
prema	PREP	prema
njima	PRO	ona
.	SENT	.
Potpuna	A:aen	potpun
ravnodušnost	N:f	ravnodušnost
.	SENT	.
Zašto	A:aen	Zašto
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
su	PREF	su
mi	PRO	ja
nedopadljivi	A:aem	nedopadljiv
,	PUNCT	,
ne	PAR	ne
znaju	N:m	znaju
šta	PRO	šta
hoće	A:aen	hoće
,	PUNCT	,
površni	A:aem	površan
su	PREF	su
,	PUNCT	,
razmažena	A:aen	razmažen
derišta	N:n	derište
u	PREP	u
filmu	N:m	film
za	PREP	za
one	PRO	onaj
koji	PRO	koji
se	PAR	se
oduševljavaju	N:m	oduševljavaju
plitkim	A:aem	plitak
.	SENT	.
Dve	NUM	dva
nedelje	N:f	nedelja
posle	PREP	posle
gledanja	N:n	gledanje
nisam	N:m	nisam
uspeo	V:m	uspeti
da	CONJ	da
pomenem	N:m	pomenem
ni	PAR	ni
jednu	NUM	jedan
karakterističnu	A:aef	karakterističan
scenu	N:f	scena
vrednu	A:aef	vredan
pažnje	N:f	pažnja
.	SENT	.
Svi	PRO	sav
oni	PRO	onaj
zajedno	ADV	zajedno
ne	PAR	ne
vrede	N:m	vred
kao	ADV	kao
jedan	NUM	jedan
od	PREP	od
dva	NUM	dva
sporedna	A:aef	sporedan
lika	N:m	lik
koje	PRO	koji
sam	PRO	sam
naveo	V:m	navesti
.	SENT	.
Zašto	A:aen	Zašto
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
iz	PREP	iz
ovih	PRO	ovaj
ljudi	N:m	ljudi
izbija	N:m	izbija
sreća	N:f	sreća
.	SENT	.
Zadovoljni	A:aem	zadovoljan
su	N:m	su
onim	PRO	onaj
što	PRO	što
imaju	N:f	imaju
,	PUNCT	,
uživaju	N:f	uživaju
u	PREP	u
tome	PRO	taj
.	SENT	.
Menjam	N:m	Menjam
jedan	NUM	jedan
ples	N:m	ples
buckaste	N:f	buckaste
kućne	A:aef	kućni
pomoćnice	N:f	pomoćnica
iz	PREP	iz
A	ABB	A
Good	N:m	Good
Year	N:m	Year
za	PREP	za
sve	PRO	sav
'	A:aem	'
pločice	N:f	pločica
'	A:aem	'
Rajana	N:m	Rajan
Rejnoldsa	N:m	Rejnolds
i	CONJ	i
svu	PRO	sav
lepotu	N:f	lepota
Eme	N:f	Ema
Votson	N:m	Votson
.	SENT	.
Zašto	A:aen	Zašto
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
ova	PRO	ovaj
vesela	A:aef	veseo
gospođa	N:f	gospođa
pokazuje	N:m	pokazuje
lepotu	N:f	lepota
,	PUNCT	,
ona	PRO	ona
pokazuje	N:m	pokazuje
uživanje	N:n	uživanje
u	PREP	u
životu	N:m	život
,	PUNCT	,
ona	PRO	ona
pokazuje	N:f	pokazuje
ljubav	N:f	ljubav
.	SENT	.
Ovi	PRO	ovaj
iz	PREP	iz
precenjene	A:aef	precenjen
gluparije	N:f	gluparija
pokazuju	N:m	pokazuju
plitku	A:aef	plitak
stranu	N:f	strana
odnosa	N:m	odnos
između	PREP	između
ljudi	N:m	ljudi
.	SENT	.
Na	PREP	na
čemu	PRO	šta
zasnivaju	N:f	zasnivaju
ljubav	N:f	ljubav
u	PREP	u
Crazy	A:aem	Crazy
Stupid	N:m	Stupid
Love	N:m	Lov
.	SENT	.
'	A:aem	'
Imaš	N:m	Imaš
jadan	A:aem	jadan
stav	N:m	stav
,	PUNCT	,
smatraš	A:aem	smatraš
žene	N:f	žena
za	PREP	za
stvar	N:f	stvar
,	PUNCT	,
mišićav	A:aem	mišićav
si	PRO	sebe
,	PUNCT	,
lep	A:aem	lep
i	CONJ	i
dobro	ADV	dobro
izgledaš	A:aem	izgledaš
,	PUNCT	,
mrzim	N:m	mrzim
takve	PRO	takav
tipove	N:m	tip
i	CONJ	i
sad	ADV	sad
ću	A:aem	ću
da	CONJ	da
spavam	N:m	spavam
sa	PREP	sa
tobom	PRO	ti
'	N:m	'
.	SENT	.
I	CONJ	i
don	N:m	don
'	A:aem	'
t	ABB	t
buy	A:aem	buy
that	N:m	that
.	SENT	.
Možda	N:f	Možda
bih	A:aem	bih
,	PUNCT	,
da	CONJ	da
sam	PRO	sam
15	NUM	@card@
godina	N:f	godina
mlađa	A:bef	mlad
devojčica	N:f	devojčica
koja	PRO	koji
se	PAR	se
obrazuje	N:m	obrazuje
pomoću	PREP	pomoću
ženskih	A:aef	ženski
časopisa	N:m	časopis
pisanih	A:aem	pisan
za	PREP	za
idiote	N:m	idiot
.	SENT	.
Ja	PRO	ja
tu	PRO	taj
ne	PAR	ne
vidim	A:aem	vidim
romantiku	N:m	romantik
.	PUNCT	.
Može	N:m	Mog
da	CONJ	da
prođe	N:f	prođa
i	CONJ	i
to	PRO	taj
,	PUNCT	,
ali	CONJ	ali
mi	PRO	ja
takvo	PRO	takav
smeće	N:n	smeće
ne	PAR	ne
prodaji	N:f	prodaja
kao	CONJ	kao
romantičnu	A:aef	romantičan
komediju	N:f	komedija
.	SENT	.
Navedi	N:m	Navedi
publiku	N:f	publika
kojoj	PRO	koji
je	PRO	ona
to	PRO	taj
namenjeno	V:n	nameniti
.	SENT	.
Na	PREP	na
čemu	PRO	šta
zasnivaš	A:aef	zasnivaš
romansu	N:f	romansa
i	CONJ	i
ljubav	N:f	ljubav
u	PREP	u
tom	PRO	taj
filmu	N:m	film
?	PUNCT	?
Nek	CONJ	nek
mi	PRO	ja
neko	PRO	neki
kaže	N:f	kaža
jer	CONJ	jer
ja	PRO	ja
tu	PRO	taj
ne	PAR	ne
vidim	A:aem	vidim
ništa	ADV	ništa
.	PUNCT	.
A	CONJ	a
pogledajmo	N:n	pogledajmo
A	ABB	A
Good	N:m	Good
Year	N:m	Year
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
perfekcija	N:f	perfekcija
.	SENT	.
Ljubav	N:f	ljubav
zasnivaš	A:aem	zasnivaš
na	PREP	na
osećaju	N:m	osećaj
,	PUNCT	,
osećaju	N:m	osećaj
zbog	PREP	zbog
kog	PRO	koji
ostaneš	N:m	ostaneš
bez	PREP	bez
teksta	N:m	tekst
,	PUNCT	,
osećaju	N:m	osećaj
zbog	PREP	zbog
kog	PRO	koji
te	PRO	taj
obuzme	A:aem	obuzme
neopisiva	A:aef	neopisiv
sreća	N:f	sreća
,	PUNCT	,
osećaju	N:m	osećaj
koje	PRO	koji
te	PRO	taj
podstakne	A:aem	podstakne
da	CONJ	da
tragaš	A:aem	tragaš
,	PUNCT	,
da	CONJ	da
se	PAR	se
menjaš	A:aem	menjaš
,	PUNCT	,
osećaju	N:m	osećaj
koji	PRO	koji
ti	PRO	taj
je	PRO	ona
dovoljan	A:aem	dovoljan
da	CONJ	da
postojiš	A:aem	postojiš
.	SENT	.
'	A:aem	'
Lep	N:m	lep
si	PRO	sebe
ali	CONJ	ali
si	PRO	sebe
idiot	N:m	idiot
pa	CONJ	pa
hajde	INT	hajde
da	CONJ	da
se	PAR	se
kresnemo	N:f	kresnemo
'	A:aem	'
je	PRO	ona
po	PREP	po
Crazy	A:aem	Crazy
Stupid	N:m	Stupid
Love	N:m	Lov
momenat	N:m	moment
koji	PRO	koji
bi	N:f	bi
trebao	V:m	trebati
da	CONJ	da
obeleži	A:aen	obeleži
sećanje	N:n	sećanje
dvoje	NUM	dvoje
ljudi	N:m	ljudi
.	SENT	.
Ja	PRO	ja
ipak	PAR	ipak
biram	N:m	biram
A	ABB	A
Good	N:m	Good
Year	N:m	Year
i	CONJ	i
ostajanje	N:n	ostajanje
bez	PREP	bez
daha	N:m	dah
na	PREP	na
samu	PRO	sam
pojavu	N:f	pojava
osobe	N:f	osoba
koju	PRO	koji
zavolite	N:m	zavolite
.	SENT	.
Biram	N:m	Biram
momenat	N:m	moment
u	PREP	u
kom	PRO	koji
se	PAR	se
osećate	A:aem	osećate
srećni	A:aem	srećan
i	CONJ	i
bez	PREP	bez
dodira	N:m	dodir
,	PUNCT	,
u	PREP	u
kom	PRO	koji
jedan	NUM	jedan
pogled	N:m	pogled
ili	CONJ	ili
osmeh	N:m	osmeh
znače	A:aem	znače
sve	ADV	sve
.	SENT	.
Kakve	PRO	kakav
prepreke	N:f	prepreka
imamo	N:m	imamo
u	PREP	u
Crazy	A:aem	Crazy
Stupid	N:m	Stupid
Love	N:m	Lov
.	SENT	.
Jedine	A:aef	jedini
prepreke	N:f	prepreka
koje	PRO	koji
tamo	ADV	tamo
vidim	A:aem	vidim
proizilaze	N:m	proizilaze
iz	PREP	iz
prazne	A:aem	prazan
glave	N:f	glava
nekolicine	N:f	nekolicina
derišta	N:n	derište
.	SENT	.
Generički	A:aen	Generički
,	PUNCT	,
plastični	A:aem	plastičan
likovi	N:m	lik
,	PUNCT	,
izlizani	A:aem	izlizan
fazoni	N:m	fazon
,	PUNCT	,
komplikacije	N:f	komplikacija
karakteristčine	N:f	karakteristčine
za	PREP	za
dečiji	A:aem	dečiji
humor	N:m	humor
.	SENT	.
Zašto	A:aem	Zašto
komplikovati	N:m	komplikovati
nešto	ADV	nešto
što	CONJ	što
treba	N:f	treba
da	CONJ	da
vam	PRO	vi
donese	N:m	donese
lepe	A:aem	lep
emocije	N:f	emocija
?	PUNCT	?
Pa	CONJ	pa
upravo	ADV	upravo
zato	ADV	zato
što	CONJ	što
je	PRO	ona
Crazy	A:aem	Crazy
Stupid	N:m	Stupid
Love	N:m	Lov
toliko	ADV	toliko
Stupid	N:m	Stupid
da	CONJ	da
ne	PAR	ne
može	A:aem	može
da	CONJ	da
izazove	N:m	izazov
lepu	A:aen	lep
emociju	N:f	emocija
već	CONJ	već
vas	PRO	vi
hvata	N:m	hvat
na	PREP	na
glupost	N:f	glupost
i	CONJ	i
karikiranje	N:n	karikiranje
.	SENT	.
Prave	A:aef	prav
se	PAR	se
neke	PRO	neki
ludilo	V:n	luditi
dileme	N:f	dilema
kako	CONJ	kako
bi	V:m	bi
se	PAR	se
smejali	V:m	smejati
tome	PRO	taj
.	PUNCT	.
A	CONJ	a
Good	N:m	Good
Year	N:m	Year
je	PRO	ona
neverovatno	ADV	neverovatno
jednostavan	A:aem	jednostavan
film	N:m	film
i	CONJ	i
u	PREP	u
toj	PRO	taj
svojoj	PRO	svoj
jednostavnosti	N:f	jednostavnost
je	PRO	ona
genijalan	A:aem	genijalan
.	SENT	.
Neko	PRO	neki
će	A:aem	će
reći	N:m	reći
da	CONJ	da
i	CONJ	i
ovde	ADV	ovde
imamo	N:m	imamo
dileme	N:f	dilema
.	SENT	.
Oooo	N:f	Oooo
ne	PAR	ne
.	PUNCT	.
Nema	A:aem	nem
ovde	ADV	ovde
dilema	N:f	dilema
-	PUNCT	-
ni	PAR	ni
jedne	NUM	jedan
jedine	A:aef	jedini
.	SENT	.
Ovde	ADV	ovde
imamo	N:m	imamo
identifikaciju	N:f	identifikacija
onoga	PRO	onaj
što	PRO	što
želiš	N:m	želiš
,	PUNCT	,
onoga	PRO	onaj
što	CONJ	što
te	PRO	taj
čini	N:f	čini
srećnim	A:aef	srećan
.	SENT	.
Kada	CONJ	kada
dođe	N:m	dođe
do	PREP	do
prepoznavanja	N:n	prepoznavanje
,	PUNCT	,
do	PREP	do
pronalaženja	N:n	pronalaženje
,	PUNCT	,
dileme	N:f	dilema
više	ADV	više
nema	A:aem	nem
.	PUNCT	.
Vizuelno	A:aen	vizuelan
,	PUNCT	,
Ridli	N:m	Ridli
Skot	N:m	Skot
savršeno	ADV	savršeno
sukobi	N:m	sukob
dve	NUM	dva
strane	N:f	strana
o	PREP	o
kojoj	PRO	koji
pričam	N:m	pričam
.	PUNCT	.
Sve	ADV	sve
dok	CONJ	dok
smo	N:f	smo
u	PREP	u
tom	PRO	taj
poslovnom	A:aem	poslovan
svetu	N:m	svet
,	PUNCT	,
boje	N:f	boja
su	N:m	su
hladne	A:aef	hladan
,	PUNCT	,
plave	A:aef	plav
,	PUNCT	,
dominira	N:m	dominira
arhitektura	N:f	arhitektura
.	SENT	.
Vidimo	A:aen	Vidimo
najbolje	ADV	najbolje
i	CONJ	i
u	PREP	u
toj	PRO	taj
arhitekturi	N:f	arhitektura
ali	CONJ	ali
koliko	ADV	koliko
god	PAR	god
bila	V:f	biti
fascinantna	A:aef	fascinantan
,	PUNCT	,
ona	PRO	ona
ne	PAR	ne
može	A:aem	može
da	CONJ	da
dostigne	A:aef	dostigne
prirodu	N:f	priroda
.	SENT	.
Sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
vidimo	A:aen	vidimo
žive	N:f	živa
,	PUNCT	,
vesele	A:aef	veseo
boje	N:f	boja
.	SENT	.
Vidimo	A:aen	Vidimo
lepotu	N:f	lepota
prirode	N:f	priroda
koja	PRO	koji
dominira	N:m	dominira
na	PREP	na
sve	PRO	sav
strane	N:f	strana
.	SENT	.
Potom	ADV	potom
vidimo	A:aen	vidimo
isto	ADV	isto
i	CONJ	i
kod	PREP	kod
ljudi	N:m	ljudi
.	SENT	.
Recimo	A:aen	Recimo
,	PUNCT	,
u	PREP	u
tom	PRO	taj
poslovnom	A:aem	poslovan
svetu	N:m	svet
,	PUNCT	,
ljudi	N:m	ljudi
su	PREF	su
fizički	ADV	fizički
gledano	A:aen	gledan
lepi	A:aem	lep
,	PUNCT	,
izgledaju	N:f	izgledaju
fino	ADV	fino
itd	A:aem	itd
.	SENT	.
Pogledajte	N:m	Pogledajte
ljude	N:m	ljudi
na	PREP	na
ovoj	PRO	ovaj
drugoj	A:aef	drugi
strani	N:f	strana
.	SENT	.
Osim	PREP	osim
glavnih	A:aen	glavnih
likova	N:n	likovo
,	PUNCT	,
nemamo	N:f	nemamo
tu	PRO	taj
neku	PRO	neki
veliku	A:aef	velik
fizičku	A:aen	fizički
lepotu	N:f	lepota
.	SENT	.
Ono	PRO	onaj
što	PRO	što
imamo	N:m	imamo
je	PRO	ona
radost	N:f	radost
,	PUNCT	,
unutrašnja	A:aen	unutrašnji
lepota	N:f	lepota
koja	PRO	koji
izbija	N:m	izbija
iz	PREP	iz
ovih	PRO	ovaj
ljudi	N:m	ljudi
što	CONJ	što
rezultira	N:m	rezultira
mnogim	A:aef	mnogi
veselim	A:aef	veseo
scenama	N:f	scena
.	SENT	.
Kako	CONJ	kako
god	PAR	god
ovo	PRO	ovaj
zvučalo	V:n	zvučati
,	PUNCT	,
ni	PAR	ni
jedna	NUM	jedan
strana	N:f	strana
nije	N:f	nije
predstavljena	V:n	predstaviti
negativno	ADV	negativno
.	SENT	.
Glavni	A:aem	Glavni
lik	N:m	lik
pokazuje	N:m	pokazuje
uslovno	ADV	uslovno
rečeno	V:n	reći
uspeh	N:m	uspeh
na	PREP	na
obe	NUM	oba
strane	N:f	strana
.	SENT	.
Samo	PAR	samo
što	CONJ	što
se	PAR	se
taj	PRO	taj
uspeh	N:m	uspeh
razlikuje	N:m	razlikuje
na	PREP	na
više	ADV	više
nivoa	N:m	nivo
.	SENT	.
Poslovni	A:aem	poslovan
ga	PRO	on
ispunjava	N:f	ispunjava
zato	ADV	zato
što	CONJ	što
je	PRO	ona
nadmašio	V:m	nadmašiti
druge	A:aem	drugi
i	CONJ	i
porastao	V:m	porasti
u	PREP	u
njihovim	PRO	njihov
očima	N:f	oči
.	SENT	.
Ovaj	PRO	ovaj
drugi	A:aem	drugi
ga	PRO	on
ispunjava	N:f	ispunjava
zato	ADV	zato
što	CONJ	što
ga	PRO	on
drugi	A:aem	drugi
čine	N:m	čin
srećnim	A:aef	srećan
i	CONJ	i
što	CONJ	što
on	PRO	on
druge	A:aem	drugi
čini	N:f	čini
srećnim	A:aef	srećan
.	SENT	.
Na	PREP	na
veliku	A:aef	velik
žalost	N:f	žalost
većine	N:f	većina
kritičara	N:m	kritičar
,	PUNCT	,
Ridli	N:m	Ridli
Skot	N:m	Skot
nije	V:m	nije
čuo	V:m	čuti
kako	ADV	kako
treba	N:f	treba
praviti	V:m	praviti
romantičnu	A:aef	romantičan
komediju	N:f	komedija
.	SENT	.
Nije	A:aem	Nije
koristio	V:m	koristiti
njihov	PRO	njihov
omiljeni	A:aem	omiljen
'	N:m	'
toplo	ADV	toplo
-	PUNCT	-
hladno	ADV	hladno
-	PUNCT	-
toplo	ADV	toplo
'	A:aem	'
šablon	N:m	šablon
,	PUNCT	,
nije	A:aen	nije
sevao	V:m	sevati
'	A:aem	'
pločicama	N:f	pločica
'	N:m	'
,	PUNCT	,
sisićima	N:m	sisićima
i	CONJ	i
guzićima	N:m	guzićima
,	PUNCT	,
nije	A:aen	nije
forsirao	V:m	forsirati
sponzoruše	N:f	sponzoruša
,	PUNCT	,
nije	V:m	nije
komplikovao	V:m	komplikovati
bez	PREP	bez
ikakve	PRO	ikakav
potrebe	N:f	potreba
,	PUNCT	,
nije	A:aen	nije
sprečavao	V:m	sprečavati
vezu	N:f	veza
između	PREP	između
likova	N:n	likovo
smešnim	A:aef	smešan
kretenijama	N:f	kretenijama
.	SENT	.
Zašto	A:aen	Zašto
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
je	PRO	ona
želeo	V:m	želeti
da	CONJ	da
vam	PRO	vi
priredi	N:m	priredi
lep	A:aem	lep
,	PUNCT	,
pozitivan	A:aem	pozitivan
životni	A:aem	životan
film	N:m	film
.	PUNCT	.
Ako	CONJ	ako
vam	PRO	vi
se	PAR	se
to	PRO	taj
pak	PAR	pak
ne	PAR	ne
sviđa	V:m	sviđa
,	PUNCT	,
imate	A:aem	imate
Crazy	A:aem	Crazy
Stupid	N:m	Stupid
Love	N:m	Lov
bullshit	N:m	bullshit
grupu	N:f	grupa
filmova	N:m	film
.	SENT	.
Uživajte	N:m	Uživajte
u	PREP	u
njoj	PRO	ona
.	SENT	.
A	CONJ	a
Good	N:m	Good
Year	N:m	Year
je	PRO	ona
prejednostavan	V:m	prejednostavan
ali	CONJ	ali
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
genijalan	A:aem	genijalan
pozitivan	A:aem	pozitivan
film	N:m	film
koji	PRO	koji
pokazuje	N:m	pokazuje
ono	PRO	onaj
najlepše	A:cef	lep
u	PREP	u
životu	N:m	život
.	SENT	.
Pokazuje	N:m	Pokazuje
da	CONJ	da
u	PREP	u
čovekovom	A:aen	čovekov
postojanju	N:n	postojanje
imamo	N:m	imamo
dva	NUM	dva
sveta	N:m	svet
i	CONJ	i
da	CONJ	da
u	PREP	u
oba	NUM	oba
moramo	N:f	moramo
da	CONJ	da
se	PAR	se
ostvarimo	N:f	ostvarimo
.	SENT	.
Koliko	ADV	koliko
god	PAR	god
bili	V:m	biti
poslovni	A:aem	poslovan
magovi	N:m	mag
,	PUNCT	,
moramo	N:f	moramo
blistati	N:m	blistati
i	CONJ	i
u	PREP	u
privatnom	A:aen	privatan
životu	N:m	život
.	SENT	.
Moramo	N:f	Moramo
uzeti	A:aem	uzet
ono	PRO	onaj
što	CONJ	što
nam	PRO	mi
momenat	N:m	moment
pruža	V:m	pruža
a	CONJ	a
svi	PRO	sav
vrlo	ADV	vrlo
dobro	ADV	dobro
znamo	N:n	znamo
da	CONJ	da
prilika	N:f	prilika
voli	N:m	Voli
pripremljen	A:aem	pripremljen
um	N:m	um
.	SENT	.
Ako	CONJ	ako
niste	N:m	niste
voljni	A:aem	voljan
ispuniti	N:m	ispuniti
sebi	PRO	sebe
želju	N:f	želja
-	PUNCT	-
nećete	N:m	nećete
je	PRO	ona
ni	PAR	ni
ispuniti	N:m	ispuniti
.	SENT	.
Uživajte	N:m	Uživajte
u	PREP	u
onom	PRO	onaj
što	CONJ	što
vam	PRO	vi
se	PAR	se
sada	ADV	sada
nudi	N:f	nudi
,	PUNCT	,
ne	PAR	ne
odlažite	A:aem	odlažite
to	PRO	taj
za	PREP	za
kasnije	ADV	kasnije
.	PUNCT	.
Kasnije	ADV	kasnije
će	A:aem	će
doći	N:m	doći
druge	A:aem	drugi
stvari	N:f	stvar
,	PUNCT	,
kasnije	ADV	kasnije
ćete	N:m	ćete
želeti	N:m	želeti
nešto	ADV	nešto
drugo	A:aen	drugi
.	PUNCT	.
Ako	CONJ	ako
ovo	PRO	ovaj
što	CONJ	što
sada	ADV	sada
želite	N:m	želite
ne	PAR	ne
ispunite	N:m	ispunite
-	PUNCT	-
nećete	N:m	nećete
nikada	ADV	nikada
više	ADV	više
ni	PAR	ni
doći	V:m	doći
u	PREP	u
priliku	N:f	prilika
.	SENT	.
Ima	A:aem	Ima
ovaj	PRO	ovaj
film	N:m	film
gomilu	N:f	gomila
sitnih	A:aef	sitan
mana	N:f	mana
ali	CONJ	ali
me	PRO	ja
NE	A:aem	NE
ZANIMAJU	N:m	ZANIMAJU
kao	CONJ	kao
što	CONJ	što
me	PRO	ja
ne	PAR	ne
zanimaju	N:m	zanimaju
ni	CONJ	ni
sitna	A:aef	sitan
sranja	N:n	sranje
koja	PRO	koji
se	PAR	se
pojavlju	N:n	pojavlju
u	PREP	u
životu	N:m	život
jer	CONJ	jer
ne	PAR	ne
dam	N:m	dam
da	CONJ	da
mi	PRO	ja
upropaste	A:aem	upropaste
ni	CONJ	ni
jedan	NUM	jedan
momenat	N:m	moment
lepote	N:f	lepota
koju	PRO	koji
mogu	A:aen	mogu
da	CONJ	da
živim	A:aen	živ
.	SENT	.
