Evo	PAR	evo
jednog	NUM	jedan
engleskog	A:aen	engleski
nezavisnog	A:aen	nezavisan
ostvarenja	N:n	ostvarenje
da	CONJ	da
malo	A:aen	mali
razbije	N:f	razbije
komercijalna	A:aef	komercijalan
holivudska	A:aen	holivudski
ostvarenja	N:n	ostvarenje
koja	PRO	koji
su	N:m	su
preplavila	V:f	preplaviti
kokice	N:f	kokica
kao	CONJ	kao
topljeni	A:aem	topljen
puter	N:m	puter
.	SENT	.
Šalim	A:aem	Šalim
se	PAR	se
,	PUNCT	,
naravno	PAR	naravno
,	PUNCT	,
naš	PRO	naš
sajt	N:m	sajt
je	PRO	ona
uvek	ADV	uvek
imao	V:m	imati
jaku	A:aem	jak
nezavisnu	A:aem	nezavisan
scenu	N:f	scena
,	PUNCT	,
jer	CONJ	jer
se	PAR	se
mi	PRO	ja
uvek	ADV	uvek
trudimo	A:aen	trudimo
da	CONJ	da
nadjemo	A:aen	nadjemo
najbolje	ADV	najbolje
stvari	N:f	stvar
za	PREP	za
našu	PRO	naš
publiku	N:f	publika
(	PUNCT	(
naravno	PAR	naravno
da	CONJ	da
nije	A:aem	nije
zbog	PREP	zbog
toga	PRO	taj
što	CONJ	što
mi	PRO	ja
to	PRO	taj
moramo	N:f	moramo
prvo	ADV	prvo
da	CONJ	da
pogledamo	N:m	pogledamo
)	PUNCT	)
.	SENT	.
Elem	CONJ	elem
,	PUNCT	,
Frenklin	N:m	Frenklin
je	PRO	ona
prica	N:f	prica
o	PREP	o
3	NUM	@card@
mlade	A:aef	mlad
osobe	N:f	osoba
koje	PRO	koji
prolaze	N:m	prolaz
kroz	PREP	kroz
krizne	A:aem	krizni
periode	N:m	period
u	PREP	u
svojim	PRO	svoj
životima	N:m	život
.	SENT	.
Radnja	N:f	radnja
skače	A:aem	skače
izmedju	N:m	izmedju
savremenog	A:aem	savremen
Londona	N:m	London
i	CONJ	i
Meanwile	N:m	Meanwile
City	N:m	City
-	PUNCT	-
a	CONJ	a
,	PUNCT	,
teokratskog	A:aem	teokratski
grada	N:m	grad
budućnosti	N:f	budućnost
.	SENT	.
Vizuelni	A:aem	vizuelan
aspekti	N:m	aspekt
ovog	PRO	ovaj
filma	N:m	film
,	PUNCT	,
koji	PRO	koji
su	N:m	su
i	CONJ	i
njegova	PRO	njegov
najjača	A:cef	jak
strana	N:f	strana
,	PUNCT	,
su	N:m	su
jednostavno	ADV	jednostavno
prelepi	A:aem	prelep
i	CONJ	i
prelazi	N:m	prelaz
sa	PREP	sa
Londonskih	A:aef	londonski
ulica	N:f	ulica
na	PREP	na
ogromne	A:aef	ogroman
,	PUNCT	,
mračne	A:aef	mračan
kule	N:f	kula
Meanwile	N:m	Meanwile
City	N:m	City
-	PUNCT	-
a	CONJ	a
su	N:m	su
neosetni	A:aem	neosetan
.	SENT	.
Jonathan	A:aem	Jonathan
Preest	N:m	Preest
(	PUNCT	(
Ryan	N:m	Ryan
Phillippe	N:m	Phillippe
)	PUNCT	)
,	PUNCT	,
je	PRO	ona
jedini	A:aem	jedini
ateista	N:m	ateista
u	PREP	u
gradu	N:m	grad
sa	PREP	sa
bezbroj	ADV	bezbroj
religija	N:f	religija
koji	PRO	koji
pokušava	A:aem	pokušava
da	CONJ	da
nadje	A:aem	nadje
vođu	N:m	vođ
kulta	N:m	kult
koji	PRO	koji
se	PAR	se
krije	N:f	krije
iza	PREP	iza
imena	N:n	ime
The	INT	The
Individual	N:m	Individual
.	SENT	.
Milo	ADV	milo
(	PUNCT	(
Sam	N:m	Sam
Riley	N:m	Riley
)	PUNCT	)
koga	PRO	koji
je	PRO	ona
verenica	N:f	verenica
ostavila	V:m	ostaviti
dan	N:m	dan
pred	PREP	pred
venčanje	N:n	venčanje
pokušava	A:aem	pokušava
da	CONJ	da
udje	ADV	udje
u	PREP	u
trag	N:m	trag
svojoj	PRO	svoj
ljubavi	N:f	ljubav
iz	PREP	iz
detinjstva	N:n	detinjstvo
Sally	N:m	Sally
.	SENT	.
Emilia	N:f	Emilia
Bryant	N:m	Bryant
(	PUNCT	(
Eva	N:f	Eva
Green	N:m	Green
)	PUNCT	)
je	PRO	ona
umetnica	N:f	umetnica
koja	PRO	koji
pokušava	N:f	pokušava
da	CONJ	da
napravi	N:f	naprava
svoje	PRO	svoj
veliko	A:aen	velik
delo	N:n	delo
snimajuci	N:m	snimajuci
svoje	PRO	svoj
neuspele	A:aem	neuspeo
pokušaje	N:m	pokušaj
samoubistva	N:n	samoubistvo
.	SENT	.
Ovaj	PRO	ovaj
miks	N:m	miks
bizarnih	A:aef	bizaran
priča	N:f	priča
i	CONJ	i
okruženja	N:n	okruženje
u	PREP	u
kome	PRO	koji
se	PAR	se
dešava	V:n	dešava
sa	PREP	sa
izletima	N:m	izlet
u	PREP	u
dubine	N:f	dubina
ljudske	A:aef	ljudski
psihe	N:f	psiha
nagradjujem	N:m	nagradjujem
sa	PREP	sa
8	NUM	@card@
kokica	N:f	kokica
onako	ADV	onako
fino	ADV	fino
pečenih	A:aem	pečen
.	SENT	.
Još	N:m	Još
jedna	NUM	jedan
stvar	N:f	stvar
,	PUNCT	,
da	CONJ	da
li	PAR	li
sam	PRO	sam
pomenu	N:m	pomen
da	CONJ	da
glumi	N:f	gluma
i	CONJ	i
Richard	N:m	Richard
Coyle	N:f	Coyle
,	PUNCT	,
naš	PRO	naš
omiljeni	A:aem	omiljen
uvrnuti	A:aem	uvrnut
Velšanin	N:m	Velšanin
?	PUNCT	?
