Za	PREP	za
moje	PRO	moj
poznastvo	N:n	poznastvo
sa	PREP	sa
Rajanom	N:m	Rajan
Džonsonom	N:m	Džonson
,	PUNCT	,
autorom	N:m	autor
ovog	PRO	ovaj
filma	N:m	film
se	PAR	se
može	A:aem	može
reći	N:m	reći
da	CONJ	da
je	PRO	ona
površno	ADV	površno
.	SENT	.
Sreli	V:m	sresti
smo	N:f	smo
se	PAR	se
nekoliko	ADV	nekoliko
puta	ADV	puta
na	PREP	na
filmskim	A:aem	filmski
festivalima	N:m	festival
u	PREP	u
preko	PREP	preko
Italije	N:f	Italija
do	PREP	do
Amsterdama	N:m	Amsterdam
,	PUNCT	,
a	CONJ	a
poslednji	A:aem	poslednji
put	N:m	put
smo	N:f	smo
se	PAR	se
videli	V:m	videti
baš	PAR	baš
u	PREP	u
Beogradu	N:m	Beograd
,	PUNCT	,
nedugo	ADV	nedugo
posle	PREP	posle
premijere	N:f	premijera
njegovog	PRO	njegov
drugog	A:aem	drugi
filma	N:m	film
The	INT	The
Brothers	N:m	Brothers
Bloom	N:m	Bloom
.	PUNCT	.
I	CONJ	i
tada	ADV	tada
smo	N:f	smo
pričali	V:m	pričati
o	PREP	o
mojoj	PRO	moj
fasciniranosti	N:f	fasciniranosti
njegovim	PRO	njegov
filmom	N:m	film
Brick	N:m	Brick
(	SENT	(
2005	NUM	@card@
)	PUNCT	)
koji	PRO	koji
smatram	N:m	smatram
remek	N:m	remek
delom	N:m	deo
u	PREP	u
malom	A:aen	mali
i	CONJ	i
kome	PRO	koji
se	PAR	se
i	CONJ	i
dan	N:m	dan
danas	ADV	danas
divim	A:aem	divim
.	SENT	.
Looper	N:m	Looper
može	A:aem	može
da	CONJ	da
predstavlja	N:n	predstavlja
njegov	PRO	njegov
povratak	N:m	povratak
na	PREP	na
kolosek	N:m	kolosek
genijalnosti	N:f	genijalnost
.	SENT	.
2074	NUM	@card@
godine	N:f	godina
zbog	PREP	zbog
savršenih	A:aef	savršen
metoda	N:f	metoda
otkrivanja	N:n	otkrivanje
zločina	N:m	zločin
mafija	N:f	mafija
i	CONJ	i
ostali	V:m	ostati
sumnjici	N:f	sumnjica
kada	CONJ	kada
žele	V:f	žeti
da	CONJ	da
se	PAR	se
otarase	V:n	otarase
nekog	PRO	neki
šalju	N:m	šalju
ga	PRO	on
u	PREP	u
prošlost	N:f	prošlost
gde	CONJ	gde
ga	PRO	on
Luper	N:m	Luper
ubija	N:n	ubija
i	CONJ	i
otarasi	N:n	otarasi
se	PRO	sebe
tela	N:n	telo
.	SENT	.
To	PRO	taj
je	PRO	ona
posebno	ADV	posebno
kul	ADV	kul
jer	CONJ	jer
ne	PAR	ne
niko	PRO	niko
ne	PAR	ne
pomišlja	N:f	pomišlja
da	CONJ	da
telo	N:n	telo
traži	A:aem	traži
u	PREP	u
prošlosti	N:f	prošlost
.	SENT	.
Problem	N:m	problem
nastaje	N:m	nastaje
kada	CONJ	kada
Luper	N:m	Luper
za	PREP	za
zadatak	N:m	zadatak
dobije	N:n	dobije
svoj	PRO	sav
Lup	A:aem	Lup
–	N:m	–
budućeg	A:aem	budući
sebe	PRO	sebe
i	CONJ	i
mora	N:n	more
da	CONJ	da
ga	PRO	on
ubije	A:aem	ubije
.	SENT	.
Naš	A:aem	Naš
junak	N:m	junak
se	PAR	se
upravo	ADV	upravo
suočava	A:aem	suočava
sa	PREP	sa
samim	A:aef	sam
sobom	N:f	soba
i	CONJ	i
stariji	A:bem	star
on	PRO	on
beži	N:f	beži
…	SENT	…
Sjajan	A:aem	sjajan
futuristički	A:aem	futuristički
akcioni	A:aem	akcioni
film	N:m	film
sa	PREP	sa
primesama	N:f	primesa
Rajan	N:m	Rajan
Džonsonovske	A:aem	Džonsonovske
filozofije	N:f	filozofija
nikog	PRO	niko
ne	PAR	ne
bi	V:n	bi
trebalo	V:n	trebati
da	CONJ	da
ostavi	N:f	ostava
ravnodušnim	A:aef	ravnodušan
.	SENT	.
Za	PREP	za
površnjake	N:m	površnjake
ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
o	PREP	o
skakanju	N:n	skakanje
i	CONJ	i
ubijanju	N:n	ubijanje
i	CONJ	i
kao	CONJ	kao
takav	PRO	takav
je	PRO	ona
dobar	A:aem	dobar
,	PUNCT	,
ali	CONJ	ali
za	PREP	za
ostale	V:f	ostati
ovo	PRO	ovaj
je	PRO	ona
preinteligentna	A:aem	preinteligentna
priča	N:f	priča
o	PREP	o
stvarima	N:f	stvar
koje	PRO	koji
bi	A:aef	bi
smo	N:f	smo
rekli	V:m	reći
mlađem	A:ben	mlad
ja	PRO	ja
i	CONJ	i
zašto	ADV	zašto
bi	V:n	bi
nas	PRO	mi
mlađe	A:bem	mlad
ja	PRO	ja
ubilo	V:n	ubiti
zbog	PREP	zbog
toga	PRO	taj
.	SENT	.
Film	N:m	film
o	PREP	o
prioritetima	N:m	prioritet
,	PUNCT	,
cikličnostima	N:f	cikličnost
u	PREP	u
životu	N:m	život
i	CONJ	i
drastičnim	A:aef	drastičan
promenama	N:f	promena
nadanja	N:n	nadanje
.	SENT	.
Moram	N:m	Moram
priznati	A:aem	priznat
da	CONJ	da
je	PRO	ona
kraj	PREP	kraj
šokantan	A:aem	šokantan
i	CONJ	i
ličan	A:aem	ličan
–	N:m	–
mnoge	A:aef	mnogi
će	N:f	će
iznervirati	A:aem	iznervirati
i	CONJ	i
ostaviti	N:f	ostaviti
da	CONJ	da
vise	N:m	vise
u	PREP	u
vazduhu	N:m	vazduh
.	SENT	.
