Najbolja	A:cem	dobar
stvar	N:f	stvar
koju	PRO	koji
su	N:m	su
The	INT	The
National	N:m	National
uradili	V:m	uraditi
Jadan	A:aem	jadan
Matt	N:m	Matt
.	SENT	.
Jadan	A:aem	jadan
Matt	N:m	Matt
.	SENT	.
Jadan	A:aem	jadan
Matt	N:m	Matt
.	SENT	.
Jadan	A:aem	jadan
Matt	N:m	Matt
.	SENT	.
Kakav	PRO	kakav
divan	A:aem	divan
čovek	N:m	čovek
.	SENT	.
Sećate	N:m	Sećate
se	PAR	se
onog	PRO	onaj
filma	N:m	film
Paula	N:f	Paula
Rudda	N:f	Rudda
Our	N:m	Our
Idiot	N:m	idiot
Brother	N:m	Brother
?	SENT	?
E	CONJ	e
,	PUNCT	,
pa	CONJ	pa
Matt	A:aem	Matt
Berninger	N:m	Berninger
,	PUNCT	,
pevač	N:m	pevač
The	INT	The
National	N:m	National
,	PUNCT	,
ima	N:m	ima
jednog	NUM	jedan
takvog	PRO	takav
.	SENT	.
Pravog	A:aem	prav
pravcatog	A:aem	pravcat
.	SENT	.
'	A:aem	'
Retarda	N:m	Retarda
'	N:m	'
.	PUNCT	.
I	CONJ	i
toga	PRO	taj
je	PRO	ona
poveo	V:m	povesti
na	PREP	na
turneju	N:f	turneja
da	CONJ	da
bude	A:aem	bude
deo	N:m	deo
roudi	A:aem	roudi
tima	N:m	tim
.	PUNCT	.
I	CONJ	i
taj	PRO	taj
je	PRO	ona
odlučio	V:m	odlučiti
da	CONJ	da
snimi	V:m	snimi
dokumentarac	N:m	dokumentarac
o	PREP	o
bendu	N:m	bend
svog	PRO	svoj
brata	N:m	brata
.	SENT	.
Slušajući	A:aen	Slušajući
Mattovo	A:aen	Mattovo
gostovanje	N:n	gostovanje
u	PREP	u
podkastu	N:f	podkastu
Breta	N:m	Bret
Eastona	N:m	Eastona
Ellisa	N:m	Ellisa
saznao	V:m	saznati
sam	A:aem	sam
par	N:m	par
detalja	N:m	detalj
o	PREP	o
nastanku	N:m	nastanak
ovog	PRO	ovaj
filma	N:m	film
.	SENT	.
Tom	PRO	taj
,	PUNCT	,
'	N:m	'
d	ABB	d
brat	N:m	brat
'	N:m	'
,	PUNCT	,
je	PRO	ona
snimao	V:m	snimati
i	CONJ	i
snimao	V:m	snimati
.	PUNCT	.
Pa	CONJ	pa
je	PRO	ona
montirao	V:m	montirati
i	CONJ	i
montirao	V:m	montirati
(	PUNCT	(
kod	PREP	kod
Matta	N:m	Matta
na	PREP	na
gajbi	N:f	gajba
)	PUNCT	)
.	SENT	.
I	CONJ	i
da	CONJ	da
nije	A:aen	nije
bilo	V:n	biti
Mattove	A:aef	Mattove
žene	N:f	žena
,	PUNCT	,
Carin	A:aem	Carin
Besser	N:m	Besser
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
ne	PAR	ne
bi	V:n	bi
bilo	V:n	biti
ništa	ADV	ništa
od	PREP	od
filma	N:m	film
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
ona	PRO	ona
je	PRO	ona
predložila	V:f	predložiti
da	CONJ	da
ovo	PRO	ovaj
ne	PAR	ne
bude	A:aem	bude
film	N:m	film
o	PREP	o
National	N:m	National
,	PUNCT	,
već	PAR	već
film	N:m	film
o	PREP	o
Tomovom	A:aem	Tomov
odnosu	N:m	odnos
sa	PREP	sa
Mattom	N:f	Mattom
.	SENT	.
Predlog	N:m	predlog
je	PRO	ona
delovao	V:m	delovati
zgodno	ADV	zgodno
i	CONJ	i
u	PREP	u
kontekstu	N:m	kontekst
bizarne	A:aef	bizaran
činjenice	N:f	činjenica
da	CONJ	da
se	PAR	se
u	PREP	u
bendu	N:m	bend
nalaze	N:m	nalaz
dva	NUM	dva
tima	PRO	taj
braće	N:f	braća
:	PUNCT	:
Devendrofovi	A:aem	Devendrofovi
i	CONJ	i
Dessnerovi	A:aem	Dessnerovi
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
je	PRO	ona
ona	PRO	ona
pomagala	N:n	pomagalo
i	CONJ	i
u	PREP	u
montaži	N:f	montaža
.	SENT	.
Inicijalno	A:aen	inicijalan
je	PRO	ona
bilo	V:n	biti
planirano	V:n	planirati
da	CONJ	da
se	PAR	se
napravi	N:f	naprava
neka	PRO	neki
vrsta	N:f	vrsta
mokjumentarija	N:f	mokjumentarija
nalik	V:f	nalik
fenomenalnom	A:aem	fenomenalan
I	A:aem	I
'	N:m	'
m	ABB	m
Still	N:m	Still
Here	N:m	Her
,	PUNCT	,
s	PREP	s
tim	PRO	taj
što	CONJ	što
bi	A:aem	bi
ovde	ADV	ovde
umesto	PREP	umesto
Joaquina	N:m	Joaquina
Phoenixa	N:f	Phoenixa
i	CONJ	i
Matt	N:m	Matt
i	CONJ	i
Tom	N:m	Tom
izvodili	V:m	izvoditi
sprdnju	N:f	sprdnja
,	PUNCT	,
prvi	A:aem	prvi
igrajući	A:aem	igrajući
'	N:m	'
salonskog	A:aem	salonski
intelektualca	N:m	intelektualac
muzičara	N:m	muzičar
'	N:m	'
koji	PRO	koji
se	PAR	se
apsurdno	A:aen	apsurdan
ponaša	N:n	ponaša
i	CONJ	i
produbljuje	N:m	produbljuje
predstavu	N:f	predstava
koju	PRO	koji
neki	PRO	neki
imaju	N:f	imaju
o	PREP	o
njemu	PRO	on
.	SENT	.
Ali	CONJ	ali
se	PAR	se
,	PUNCT	,
po	PREP	po
sugestiji	N:f	sugestija
Besserove	A:aem	Besserove
,	PUNCT	,
stvar	N:f	stvar
relativno	ADV	relativno
rano	ADV	rano
okončala	V:f	okončati
,	PUNCT	,
jer	CONJ	jer
je	PRO	ona
ona	PRO	ona
ispravno	A:aen	ispravan
predvidela	V:m	predvideti
da	CONJ	da
tu	PRO	taj
nema	A:aem	nem
mnogo	ADV	mnogo
materijala	N:m	materijal
za	PREP	za
ceo	A:aem	ceo
film	N:m	film
.	SENT	.
Naročito	N:f	Naročito
u	PREP	u
Tomovoj	A:aef	Tomov
režiji	N:f	režija
.	SENT	.
Tom	PRO	taj
Berninger	N:m	Berninger
je	PRO	ona
ona	PRO	ona
vrsta	N:f	vrsta
ljudi	N:m	ljudi
koja	PRO	koji
ima	N:f	ima
vrlo	ADV	vrlo
jasnu	A:aem	jasan
predstavu	N:f	predstava
o	PREP	o
sebi	PRO	sebe
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
kontinuirano	ADV	kontinuirano
zbunjena	A:aef	zbunjen
činjenicom	N:f	činjenica
da	CONJ	da
ga	PRO	on
niko	PRO	niko
drugi	A:aem	drugi
ne	PAR	ne
vidi	N:f	vida
takvim	PRO	takav
.	PUNCT	.
I	CONJ	i
to	PRO	taj
ga	PRO	on
nimalo	ADV	nimalo
ne	PAR	ne
brine	N:m	brine
.	SENT	.
Tom	PRO	taj
je	PRO	ona
bog	N:m	bog
.	SENT	.
Tom	PRO	taj
postavlja	A:aen	postavlja
pitanja	N:n	pitanje
poput	PREP	poput
(	PUNCT	(
basisti	N:m	basista
Scottu	N:m	Scottu
Devendorfu	N:m	Devendorfu
)	PUNCT	)
:	SENT	:
Kad	CONJ	kad
izađeš	A:aem	izađeš
na	PREP	na
scenu	N:f	scena
,	PUNCT	,
da	CONJ	da
li	PAR	li
sa	PREP	sa
sobom	PRO	sebe
nosiš	A:aem	nosiš
novčanik	N:m	novčanik
,	PUNCT	,
sa	PREP	sa
dokumentima	N:m	dokument
?	PUNCT	?
Tom	PRO	taj
je	PRO	ona
snimio	V:m	snimiti
preko	PREP	preko
200	NUM	@card@
sati	N:f	sat
materijala	N:m	materijal
iz	PREP	iz
čega	PRO	šta
je	PRO	ona
nastao	A:aem	nastao
film	N:m	film
koji	PRO	koji
traje	N:m	traje
jedva	ADV	jedva
75	NUM	@card@
minuta	N:m	minut
od	PREP	od
kojih	PRO	koji
poslednjih	A:aem	poslednji
deset	NUM	deset
otpada	N:m	otpad
na	PREP	na
jednopesmni	A:aem	jednopesmni
nastup	N:m	nastup
(	PUNCT	(
i	CONJ	i
to	PRO	taj
fantastičan	A:aem	fantastičan
,	PUNCT	,
sudeći	A:aem	sudeći
po	PREP	po
snimku	N:f	snimka
)	PUNCT	)
benda	N:m	bend
i	CONJ	i
odjavnu	A:aem	odjavni
špicu	N:m	špic
koju	PRO	koji
prati	N:f	prati
jedna	NUM	jedan
od	PREP	od
pesama	N:f	pesma
sa	PREP	sa
Božićnog	A:aem	Božićnog
,	PUNCT	,
solo	ADV	solo
albuma	N:m	album
,	PUNCT	,
Roba	N:m	Rob
Halforda	N:m	Halford
,	PUNCT	,
pevača	N:m	pevač
Judas	N:m	Judas
Priest	N:m	Priest
,	PUNCT	,
a	CONJ	a
koju	PRO	koji
smo	N:f	smo
čuli	V:m	čuti
negde	ADV	negde
u	PREP	u
filmu	N:m	film
kada	CONJ	kada
nam	PRO	mi
je	PRO	ona
Tom	N:m	Tom
dočaravao	V:m	dočaravati
sebe	PRO	sebe
i	CONJ	i
svoj	PRO	sav
muzički	A:aem	muzički
ukus	N:m	ukus
.	SENT	.
U	PREP	u
prvom	A:aen	prvi
delu	N:n	delo
filma	N:m	film
pratimo	N:f	pratimo
avanture	N:f	avantura
Toma	N:m	Toma
pomoćnika	N:m	pomoćnik
roudija	N:m	roudija
i	CONJ	i
tu	ADV	tu
sve	PRO	sav
izgleda	N:m	izgled
,	PUNCT	,
namerno	ADV	namerno
ili	CONJ	ili
slučajno	ADV	slučajno
,	PUNCT	,
kao	CONJ	kao
da	CONJ	da
ste	A:aem	ste
brata	N:m	brata
idiota	N:m	idiot
poveli	V:m	povesti
da	CONJ	da
vam	PRO	vi
bude	A:aem	bude
pomoćnik	N:m	pomoćnik
roudija	N:m	roudija
na	PREP	na
turneji	N:f	turneja
.	SENT	.
Otkaz	N:m	otkaz
koji	PRO	koji
je	PRO	ona
dobio	V:m	dobiti
nikoga	PRO	niko
ne	PAR	ne
čudi	N:f	čudi
.	SENT	.
Sem	PREP	sem
njega	PRO	on
.	PUNCT	.
U	PREP	u
drugom	A:aef	drugi
delu	N:n	delo
filma	N:m	film
i	CONJ	i
autor	N:m	autor
i	CONJ	i
njegov	PRO	njegov
film	N:m	film
ulaze	N:m	ulaz
u	PREP	u
neku	PRO	neki
vrstu	N:f	vrsta
meta	N:f	meta
-	PUNCT	-
delovanja	N:n	delovanje
deleći	A:aem	deleći
sa	PREP	sa
nama	PRO	mi
da	CONJ	da
ne	PAR	ne
znaju	N:m	znaju
o	PREP	o
čemu	PRO	šta
je	PRO	ona
film	N:m	film
,	PUNCT	,
pokušaje	N:m	pokušaj
da	CONJ	da
to	PRO	taj
shvate	N:m	shvate
,	PUNCT	,
a	CONJ	a
onda	ADV	onda
potom	ADV	potom
u	PREP	u
dosnimavanjima	N:n	dosnimavanjima
(	PUNCT	(
sav	PRO	sav
materijal	N:m	materijal
nakon	PREP	nakon
turneje	N:f	turneja
)	PUNCT	)
jačajući	A:aem	jačajući
fokus	N:m	fokus
na	PREP	na
temu	N:f	tema
braće	N:f	braća
.	PUNCT	.
Ali	CONJ	ali
da	CONJ	da
nema	A:aem	nem
Toma	N:m	Toma
koji	PRO	koji
kroz	PREP	kroz
sve	PRO	sav
to	PRO	taj
prolazi	N:m	prolaz
samouveren	A:aem	samouveren
kao	CONJ	kao
krava	N:f	krava
pred	PREP	pred
vozom	N:m	voz
,	PUNCT	,
imali	V:m	imati
bi	A:aen	bi
prava	N:n	pravo
da	CONJ	da
se	PAR	se
ljutimo	N:f	ljutimo
na	PREP	na
isfingiranost	N:f	isfingiranost
i	CONJ	i
prefriganost	N:f	prefriganost
materijala	N:m	materijal
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
ponekad	ADV	ponekad
potpuno	ADV	potpuno
neverovatno	ADV	neverovatno
sa	PREP	sa
koliko	ADV	koliko
lakoće	N:f	lakoća
Tom	N:m	Tom
uradi	N:f	uradi
ili	CONJ	ili
kaže	N:f	kaža
nešto	ADV	nešto
što	CONJ	što
bi	V:m	bi
mu	PRO	on
predložio	V:m	predložiti
neki	PRO	neki
top	N:m	top
reditelj	N:m	reditelj
komedija	N:f	komedija
(	PUNCT	(
scena	N:f	scena
u	PREP	u
bazenu	N:m	bazen
sa	PREP	sa
dozivanjem	N:n	dozivanje
Moby	N:m	Moby
-	PUNCT	-
ja	PRO	ja
,	PUNCT	,
recimo	A:aen	recimo
)	PUNCT	)
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
jedan	NUM	jedan
bend	N:m	bend
,	PUNCT	,
o	PREP	o
kome	PRO	koji
i	CONJ	i
ne	PAR	ne
znam	N:m	znam
puno	ADV	puno
i	CONJ	i
čiji	PRO	čiji
sam	A:aem	sam
umeren	A:aem	umeren
fan	N:m	fan
,	PUNCT	,
ali	CONJ	ali
koje	PRO	koji
bi	N:m	bi
svakako	PAR	svakako
stavio	V:m	staviti
na	PREP	na
gomilu	N:f	gomila
sa	PREP	sa
Tindersticks	N:m	Tindersticks
i	CONJ	i
Interpol	N:m	Interpol
,	PUNCT	,
pre	ADV	pre
nego	CONJ	nego
sa	PREP	sa
Beastie	A:aem	Beastie
Boys	N:m	Boys
i	CONJ	i
Happy	A:aem	Happy
Mondays	N:m	Mondays
,	PUNCT	,
dobija	N:n	dobija
fenomenalan	A:aem	fenomenalan
dokumentarac	N:m	dokumentarac
,	PUNCT	,
u	PREP	u
kome	PRO	koji
,	PUNCT	,
istina	N:f	istina
,	PUNCT	,
nisu	N:m	nisu
glavna	A:aef	glavna
tema	N:f	tema
,	PUNCT	,
ali	CONJ	ali
koji	PRO	koji
ih	PRO	ona
,	PUNCT	,
iz	PREP	iz
sasvim	ADV	sasvim
drugog	A:aem	drugi
ugla	N:m	ugao
,	PUNCT	,
čini	N:f	čini
kulijim	N:m	kulijim
nego	CONJ	nego
što	CONJ	što
će	A:aem	će
ikada	ADV	ikada
biti	N:f	bit
.	PUNCT	.
I	CONJ	i
toplijim	A:bef	topao
.	PUNCT	.
I	CONJ	i
zabavnijim	A:bef	zabavan
.	SENT	.
Ko	PRO	ko
god	PAR	god
da	CONJ	da
je	PRO	ona
Tom	N:m	Tom
koji	PRO	koji
je	PRO	ona
napravio	V:m	napraviti
ovaj	PRO	ovaj
film	N:m	film
učnio	V:m	učnio
je	PRO	ona
mega	PREF	mega
-	PUNCT	-
uslugu	N:f	usluga
bendu	N:m	bend
i	CONJ	i
snimio	V:m	snimiti
jednu	NUM	jedan
od	PREP	od
boljih	A:bef	dobar
komedija	N:f	komedija
prošle	A:aef	prošli
godine	N:f	godina
.	SENT	.
