Da	CONJ	da
Gerard	N:m	Gerard
Butler	N:m	Butler
ume	N:m	um
da	CONJ	da
šmira	N:f	šmira
mogao	V:m	moći
je	PRO	ona
ovo	PRO	ovaj
biti	N:f	bit
Die	N:f	Die
Hard	N:m	Hard
6	NUM	@card@
Olympus	N:m	Olympus
Has	N:m	Has
Fallen	N:m	Fallen
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
dva	NUM	dva
filma	N:m	film
koja	PRO	koji
se	PAR	se
ove	PRO	ovaj
godine	N:f	godina
bave	A:aem	bave
napadom	N:m	napad
na	PREP	na
Belu	N:f	Bela
kuću	N:f	kuća
.	SENT	.
Drugi	A:aem	drugi
se	PAR	se
po	PREP	po
tom	PRO	taj
pitanju	N:n	pitanje
zove	N:f	zova
nešto	ADV	nešto
manje	ADV	manje
očigledno	ADV	očigledno
White	N:m	White
House	N:m	House
Down	N:m	Down
(	PUNCT	(
i	CONJ	i
režirao	V:m	režirati
ga	PRO	on
je	PRO	ona
Roland	N:m	Roland
Emmerich	A:aen	Emmerich
)	PUNCT	)
.	SENT	.
I	CONJ	i
bez	PREP	bez
da	CONJ	da
sam	PRO	sam
gledao	V:m	gledati
ovaj	PRO	ovaj
drugi	A:aem	drugi
i	CONJ	i
uzimajući	A:aem	uzimajući
u	PREP	u
obzir	N:m	obzir
da	CONJ	da
golemo	A:aen	golem
volem	N:n	volem
Emmericha	N:m	Emmericha
mislim	A:aem	mislim
da	CONJ	da
je	PRO	ona
Olympus	N:m	Olympus
Has	N:m	Has
Fallen	N:m	Fallen
bolji	A:bem	dobar
.	SENT	.
Evo	PAR	evo
i	CONJ	i
zašto	ADV	zašto
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
teroristi	N:m	terorista
konačno	ADV	konačno
nisu	N:m	nisu
Srbi	N:m	Srba
.	SENT	.
A	CONJ	a
ni	PAR	ni
Rusi	N:m	Rus
.	SENT	.
U	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
teroristi	N:m	terorista
su	PREF	su
konačno	ADV	konačno
Severnokorejci	N:m	Severnokorejac
,	PUNCT	,
tj	ABB	tj
najtraženiji	A:cem	tražen
,	PUNCT	,
nikad	ADV	nikad
viđeni	V:m	viditi
terorista	N:m	terorista
Kang	N:m	Kang
(	PUNCT	(
jedna	NUM	jedan
reč	N:f	reč
,	PUNCT	,
kao	CONJ	kao
Osama	N:f	osa
-	PUNCT	-
bin	N:m	Bin
-	PUNCT	-
Laden	N:m	Laden
)	PUNCT	)
.	SENT	.
Iako	CONJ	iako
se	PAR	se
u	PREP	u
holivudskim	A:aef	holivudski
blokbasterima	N:m	blokbaster
novije	A:bef	nov
generacije	N:f	generacija
koji	PRO	koji
akciono	A:aen	akcioni
tretiraju	N:n	tretiraju
borbu	N:f	borba
protiv	PREP	protiv
terorizma	N:m	terorizam
može	A:aem	može
videti	N:m	videti
svašta	PRO	svašta
(	PUNCT	(
i	CONJ	i
svašta	PRO	svašta
,	PUNCT	,
ako	CONJ	ako
je	PRO	ona
režirala	V:m	režirati
Bigelow	N:m	Bigelow
)	PUNCT	)
,	PUNCT	,
polu	N:f	pola
satna	A:aef	satni
sekvenca	N:f	sekvenca
inicijalnog	A:aem	inicijalan
napada	N:m	napad
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
stvarno	ADV	stvarno
skuplja	A:ben	skup
testise	N:m	testis
.	SENT	.
Sa	PREP	sa
aspekta	N:m	aspekt
logike	N:f	logika
i	CONJ	i
vojnoodbrambenog	A:aem	vojnoodbrambenog
potencijala	N:m	potencijal
vojske	N:f	vojska
Amerike	N:f	Amerika
ja	PRO	ja
nemam	N:m	nemam
ideju	N:f	ideja
koliko	ADV	koliko
je	PRO	ona
ona	PRO	ona
izvodljiva	A:aef	izvodljiv
i	CONJ	i
verovatna	A:aef	verovatan
i	CONJ	i
siguran	A:aem	siguran
sam	A:aem	sam
da	CONJ	da
bi	A:aem	bi
neki	PRO	neki
general	N:m	general
komentarišući	A:aem	komentarišući
film	N:m	film
,	PUNCT	,
i	CONJ	i
da	CONJ	da
je	PRO	ona
tako	ADV	tako
nešto	ADV	nešto
moguće	ADV	moguće
i	CONJ	i
da	CONJ	da
nije	A:aem	nije
,	PUNCT	,
rekao	V:m	reći
da	CONJ	da
tako	ADV	tako
nešto	ADV	nešto
ne	PAR	ne
može	A:aem	može
da	CONJ	da
se	PAR	se
desi	N:m	desi
u	PREP	u
zemlji	N:f	zemlja
u	PREP	u
kojoj	PRO	koji
je	PRO	ona
njegov	PRO	njegov
đed	N:m	đed
klao	V:m	klati
indijance	N:m	Indijanac
.	SENT	.
Stvar	N:f	stvar
je	PRO	ona
izvedena	V:n	izvesti
u	PREP	u
nekoliko	ADV	nekoliko
maestralno	A:aen	maestralan
organizovanih	A:aen	organizovan
etapa	N:f	etapa
i	CONJ	i
čini	N:f	čini
da	CONJ	da
izvodljivost	N:f	izvodljivost
samog	PRO	sam
napada	N:m	napad
opravdava	A:aef	opravdava
desetine	N:f	desetina
terorista	N:m	terorista
koje	PRO	koji
su	N:m	su
je	PRO	ona
realizovale	V:f	realizovati
.	SENT	.
Antoine	A:aem	Antoine
Fuqua	N:m	Fuqua
nijednog	A:aem	nijedan
trenutka	N:m	trenutak
nije	V:m	nije
dopustio	V:m	dopustiti
da	CONJ	da
okrutnost	N:f	okrutnost
jednog	NUM	jedan
takvog	PRO	takav
napada	N:m	napad
spadne	V:m	spadne
ispod	PREP	ispod
osmice	N:f	osmica
(	PUNCT	(
recimo	A:aen	recimo
)	PUNCT	)
.	PUNCT	.
Civili	N:m	civil
ginu	V:m	ginu
levo	ADV	levo
i	CONJ	i
desno	ADV	desno
,	PUNCT	,
sama	PRO	sam
zgrada	N:f	zgrada
se	PAR	se
demolira	V:n	demolira
samo	PAR	samo
tako	ADV	tako
,	PUNCT	,
dok	CONJ	dok
tajne	N:f	tajna
službe	N:f	služba
u	PREP	u
kombinaciji	N:f	kombinacija
sa	PREP	sa
vojnim	A:aem	vojni
(	PUNCT	(
očekivano	V:n	očekivati
?	PUNCT	?
)	PUNCT	)
demonstriraju	N:m	demonstriraju
nesposobnost	N:f	nesposobnost
i	CONJ	i
šok	N:m	šok
pred	PREP	pred
mogućnošću	N:f	mogućnost
da	CONJ	da
tako	ADV	tako
nešto	ADV	nešto
može	A:aem	može
da	CONJ	da
se	PAR	se
desi	N:m	desi
.	PUNCT	.
Međutim	N:m	Međutim
,	PUNCT	,
teren	N:m	teren
za	PREP	za
all	N:m	all
-	PUNCT	-
in	ABB	in
pristup	N:m	pristup
Fuqua	N:m	Fuqua
priprema	N:f	priprema
već	CONJ	već
uvodnom	A:aen	uvodni
sekvencom	N:f	sekvenca
koja	PRO	koji
definiše	A:aem	definiše
odnose	N:m	odnos
između	PREP	između
agenta	N:m	agent
Mikea	N:m	Mikea
(	PUNCT	(
Butler	N:m	Butler
)	PUNCT	)
i	CONJ	i
predsednika	N:m	predsednik
Benjamina	N:m	Benjamin
(	PUNCT	(
Aaron	N:f	Aaron
Eckhart	N:m	Eckhart
)	PUNCT	)
i	CONJ	i
koja	PRO	koji
uprkos	PREP	uprkos
vrlo	ADV	vrlo
definisanoj	A:aef	definisan
žanrovskoj	A:aef	žanrovski
realizaciji	N:f	realizacija
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
deluje	A:aem	deluje
neočekivano	ADV	neočekivano
.	SENT	.
Nakon	PREP	nakon
napada	N:m	napad
terorista	N:m	terorista
,	PUNCT	,
baš	PAR	baš
kao	ADV	kao
i	CONJ	i
u	PREP	u
filmovima	N:m	film
o	PREP	o
McClaneu	N:f	McClaneu
sve	ADV	sve
ostalo	V:n	ostati
je	PRO	ona
njegov	PRO	njegov
solo	ADV	solo
fajt	N:m	fajt
sa	PREP	sa
zlim	A:aem	zao
momcima	N:m	momak
,	PUNCT	,
do	PREP	do
konačnog	A:aen	konačan
oslobođenja	N:n	oslobođenje
.	SENT	.
Baš	N:m	Baš
kao	CONJ	kao
i	CONJ	i
Pitt	N:m	Pitt
u	PREP	u
World	N:m	World
War	N:m	War
Z	N:f	Z
,	PUNCT	,
i	CONJ	i
Butler	N:m	Butler
praktično	ADV	praktično
iz	PREP	iz
kovitlaca	N:m	kovitlac
dešavanja	N:n	dešavanje
na	PREP	na
ulici	N:f	ulica
uskače	N:n	uskače
u	PREP	u
borbu	N:f	borba
i	CONJ	i
u	PREP	u
njoj	PRO	ona
ostaje	N:n	ostaje
sve	PRO	sav
do	PREP	do
kraja	N:m	kraj
,	PUNCT	,
kada	CONJ	kada
bondovski	N:m	bondovski
spase	A:aem	spase
svet	N:m	svet
(	PUNCT	(
tj	ABB	tj
Ameriku	N:f	Amerika
)	PUNCT	)
.	SENT	.
Prethodno	ADV	prethodno
rečeno	V:n	reći
može	A:aem	može
vam	PRO	vi
biti	N:f	bit
spojler	N:m	spojler
samo	CONJ	samo
ako	CONJ	ako
ste	A:aem	ste
retardirani	A:aem	retardiran
.	PUNCT	.
Međutim	A:aem	Međutim
,	PUNCT	,
i	CONJ	i
u	PREP	u
toj	PRO	taj
borbi	N:f	borba
prsa	N:n	prsa
u	PREP	u
prsa	N:n	prsa
sa	PREP	sa
višestruko	ADV	višestruko
brojnijim	A:ben	brojni
neprijateljem	N:m	neprijatelj
Fuqua	N:m	Fuqua
lukavo	A:aen	lukav
izbegava	N:f	izbegava
sve	PRO	sav
patetične	A:aef	patetičan
trenutke	N:m	trenutak
koje	PRO	koji
je	PRO	ona
demonstrirao	V:m	demonstrirati
sa	PREP	sa
Tears	N:m	Tears
of	N:m	of
The	INT	The
Sun	N:m	Sun
i	CONJ	i
ne	PAR	ne
pretvara	N:f	pretvara
svoj	PRO	sav
film	N:m	film
u	PREP	u
spasavanje	N:n	spasavanje
predsednikovog	A:aem	predsednikov
sina	N:m	sin
,	PUNCT	,
već	PAR	već
tu	PRO	taj
stvar	N:f	stvar
tretira	V:n	tretira
samo	PAR	samo
kao	ADV	kao
epizodicu	N:f	epizodicu
.	SENT	.
Pravi	A:aem	prav
je	PRO	ona
trenutak	N:m	trenutak
i	CONJ	i
da	CONJ	da
,	PUNCT	,
u	PREP	u
cilju	N:m	cilj
pretvaranja	N:n	pretvaranje
Olympusa	N:m	Olympusa
u	PREP	u
franšizu	N:f	franšiza
,	PUNCT	,
pomenem	N:m	pomenem
uticaj	N:m	uticaj
24	NUM	@card@
tj	ABB	tj
Jacka	A:aef	Jacka
Bauera	N:m	Bauer
i	CONJ	i
njegov	PRO	njegov
na	PREP	na
svaki	PRO	svaki
način	N:m	način
neuništivi	A:aem	neuništiv
pristup	N:m	pristup
borbi	N:f	borba
sa	PREP	sa
teroristima	N:m	terorista
.	SENT	.
Debitantski	A:aem	debitantski
par	N:m	par
scenarista	N:m	scenarista
(	PUNCT	(
Creighton	N:m	Creighton
Rothenberger	N:m	Rothenberger
i	CONJ	i
Katrin	N:f	Katrin
Benedikt	N:m	Benedikt
)	PUNCT	)
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
imao	V:m	imati
Jacka	N:m	Jacka
na	PREP	na
umu	N:m	um
i	CONJ	i
njegovu	PRO	njegov
bliskost	N:f	bliskost
sa	PREP	sa
predsednikom	N:m	predsednik
Davidom	N:m	David
(	PUNCT	(
o	PREP	o
ostalim	A:aem	ostalim
sličnostima	N:f	sličnost
i	CONJ	i
da	CONJ	da
ne	PAR	ne
govorim	A:aem	govorim
)	PUNCT	)
.	SENT	.
U	PREP	u
tom	PRO	taj
smislu	N:m	smisao
Olympus	N:m	Olympus
Has	N:m	Has
Fallen	A:aem	Fallen
treba	N:f	treba
posmatrati	N:m	posmatrati
i	CONJ	i
kao	ADV	kao
(	PUNCT	(
dal	ABB	dal
'	N:m	'
prvi	A:aem	prvi
,	PUNCT	,
nije	A:aem	nije
bitno	ADV	bitno
)	PUNCT	)
pozitivan	A:aem	pozitivan
uticaj	N:m	uticaj
američke	A:aef	američki
televizije	N:f	televizija
na	PREP	na
Holivud	N:m	Holivud
.	SENT	.
U	PREP	u
Fuquinom	N:m	Fuquinom
filmu	N:m	film
još	ADV	još
je	PRO	ona
više	ADV	više
podcrtano	V:n	podcrtati
da	CONJ	da
su	N:m	su
ljudi	N:m	ljudi
na	PREP	na
terenu	N:m	teren
kurčeviti	A:aem	kurčevit
momci	N:m	momak
,	PUNCT	,
a	CONJ	a
oni	PRO	onaj
koji	PRO	koji
sede	A:aef	sed
u	PREP	u
administraciji	N:f	administracija
(	PUNCT	(
čak	PAR	čak
i	CONJ	i
vojnoj	A:aef	vojni
)	PUNCT	)
samo	PAR	samo
pičkice	N:f	pičkica
.	PUNCT	.
Samo	PAR	samo
će	A:aem	će
tvrde	A:aef	tvrd
,	PUNCT	,
'	A:aem	'
muške	A:aem	muški
'	N:m	'
odluke	N:f	odluka
spasiti	A:aem	spasiti
Ameriku	N:f	Amerika
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
Butlerov	A:aem	Butlerov
pohod	N:m	pohod
u	PREP	u
oslobođenje	N:n	oslobođenje
predsednika	N:m	predsednik
,	PUNCT	,
izvesna	A:aef	izvestan
lakoća	N:f	lakoća
sa	PREP	sa
kojom	PRO	koji
to	PRO	taj
čini	N:f	čini
zabušurena	V:m	zabušurena
u	PREP	u
lukavo	A:aen	lukav
sakrivanje	N:n	sakrivanje
stepena	N:m	stepen
okupacije	N:f	okupacija
Bele	N:f	Bela
kuće	N:f	kuća
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
broja	N:m	broj
terorista	N:m	terorista
,	PUNCT	,
ostaje	N:n	ostaje
u	PREP	u
domenu	N:m	domen
McClaneovske	N:f	McClaneovske
'	A:aem	'
neverovatnosti	N:f	neverovatnost
'	N:m	'
,	PUNCT	,
ali	CONJ	ali
Game	N:m	Game
Of	N:m	Of
Thrones	N:m	Thrones
asasinacija	N:m	asasinacija
Kanga	N:m	Kanga
spada	N:m	spada
u	PREP	u
red	N:m	red
uzbudljivijih	A:ben	uzbudljiv
u	PREP	u
recentnim	A:aem	recentan
holivudskim	A:aem	holivudski
filmovima	N:m	film
.	PUNCT	.
Ako	CONJ	ako
vam	PRO	vi
se	PAR	se
umire	V:m	umire
muški	A:aem	muški
,	PUNCT	,
bićete	N:m	bićete
prijatno	ADV	prijatno
iznenađeni	V:m	iznenaditi
.	SENT	.
