Kako	CONJ	kako
i	CONJ	i
onaj	PRO	onaj
'	A:aem	'
jedan	NUM	jedan
posto	ADV	posto
'	A:aem	'
u	PREP	u
Americi	N:f	Amerika
jedva	ADV	jedva
spaja	N:f	spaja
kraj	N:m	kraj
s	PREP	s
krajem	PREP	krajem
Lauren	A:aem	Lauren
Greenfield	N:m	Greenfield
,	PUNCT	,
autorki	N:f	autorka
ovog	PRO	ovaj
dokumentarca	N:m	dokumentarac
,	PUNCT	,
se	PAR	se
baš	PAR	baš
posrećilo	V:n	posrećiti
.	SENT	.
Ona	PRO	ona
je	PRO	ona
počela	V:f	početi
snimanje	N:n	snimanje
2008	NUM	@card@
.	PUNCT	.
godine	N:f	godina
sa	PREP	sa
ciljem	N:m	cilj
da	CONJ	da
zabeleži	A:aem	zabeleži
kako	CONJ	kako
je	PRO	ona
Jaqueline	N:m	Jaqueline
(	PUNCT	(
Jackie	A:aem	Jackie
)	PUNCT	)
Siegel	N:m	Siegel
,	PUNCT	,
supruga	N:f	supruga
jednog	NUM	jedan
od	PREP	od
najuspešnijih	A:cen	uspešan
američkih	A:aef	američki
milijardera	N:m	milijarder
,	PUNCT	,
Davida	N:m	David
Siegela	N:m	Siegela
,	PUNCT	,
postavila	V:f	postaviti
temelje	N:m	temelj
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
i	CONJ	i
sazidala	V:f	sazidati
najveću	A:cef	velik
privatnu	A:aem	privatan
kuću	N:f	kuća
u	PREP	u
Americi	N:f	Amerika
.	SENT	.
Po	PREP	po
ugledu	N:m	ugled
na	PREP	na
Versaj	N:m	Versaj
,	PUNCT	,
koji	PRO	koji
su	N:m	su
posetili	V:m	posetiti
par	N:m	par
godina	N:f	godina
ranije	ADV	ranije
.	PUNCT	.
A	CONJ	a
onda	ADV	onda
se	PAR	se
2010	NUM	@card@
.	PUNCT	.
desila	V:m	desiti
kriza	N:f	kriza
,	PUNCT	,
Siegelove	A:aef	Siegelove
stotine	N:f	stotina
miliona	N:m	milion
dolara	N:m	dolar
ostale	V:f	ostati
su	PREF	su
zarobljene	V:f	zarobiti
u	PREP	u
investiciji	N:f	investicija
koju	PRO	koji
bankari	N:m	bankar
više	ADV	više
nisu	N:m	nisu
želeli	V:m	želeti
da	CONJ	da
finansiraju	N:m	finansiraju
,	PUNCT	,
a	CONJ	a
Versaj	N:m	Versaj
je	PRO	ona
krenuo	V:m	krenuti
da	CONJ	da
zarasta	A:aem	zarasta
u	PREP	u
korov	N:m	korov
iz	PREP	iz
dana	N:m	dan
u	PREP	u
dana	N:m	dan
topeći	A:aem	topeći
svoju	PRO	svoj
trocifrenu	A:aef	trocifren
milionsku	A:aef	milionski
vrednost	N:f	vrednost
,	PUNCT	,
čak	PAR	čak
i	CONJ	i
tako	ADV	tako
nezavršen	A:aem	nezavršen
.	SENT	.
Queen	N:f	Queen
of	N:m	of
Versailles	N:m	Versailles
postao	V:m	postati
je	PRO	ona
tako	ADV	tako
metafora	N:f	metafora
za	PREP	za
Ameriku	N:f	Amerika
i	CONJ	i
basnoslovno	A:aen	basnoslovan
vrednu	A:aen	vredan
kulu	N:f	kula
od	PREP	od
karata	N:f	karta
koja	PRO	koji
se	PAR	se
srušila	V:m	srušiti
za	PREP	za
samo	PAR	samo
jedan	NUM	jedan
dan	N:m	dan
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
Queen	N:m	Queen
of	N:m	of
Versailles	N:m	Versailles
nije	A:aen	nije
suvoparno	A:aen	suvoparan
drvljenje	N:n	drvljenje
,	PUNCT	,
niti	CONJ	niti
bilo	V:n	biti
kakav	PRO	kakav
pokušaj	N:m	pokušaj
podsećanja	N:n	podsećanje
na	PREP	na
to	PRO	taj
da	CONJ	da
su	N:m	su
svi	PRO	sav
bogati	A:aem	bogat
ljudi	N:m	ljudi
nužno	A:aen	nužan
i	CONJ	i
zli	A:aem	zao
.	PUNCT	.
Ili	CONJ	ili
ružni	A:aem	ružan
.	SENT	.
Naprotiv	PAR	naprotiv
,	PUNCT	,
film	N:m	film
funkcioniše	N:m	funkcioniše
kao	CONJ	kao
behind	N:m	behind
the	N:m	the
scenes	N:m	scenes
za	PREP	za
neku	PRO	neki
epizodu	N:f	epizoda
The	INT	The
Lives	N:m	Lives
of	N:m	of
Rich	A:aem	Rich
and	N:m	and
Fabulous	N:m	Fabulous
,	PUNCT	,
ili	CONJ	ili
njen	PRO	njen
'	N:m	'
manje	ADV	manje
bogat	A:aem	bogat
i	CONJ	i
fabulozan	A:aem	fabulozan
'	A:aem	'
nastavak	N:m	nastavak
.	SENT	.
Jaqueline	A:aem	Jaqueline
Siegel	N:m	Siegel
svojevremeno	ADV	svojevremeno
je	PRO	ona
bila	V:f	biti
raskošna	A:aem	raskošan
Miss	N:m	Miss
Floride	N:f	Florida
,	PUNCT	,
i	CONJ	i
trideset	NUM	trideset
godina	N:f	godina
stariji	A:bem	star
David	N:m	David
ju	PRO	ona
je	PRO	ona
tako	ADV	tako
i	CONJ	i
upoznao	V:m	upoznati
.	SENT	.
Očaran	A:aem	Očaran
lepim	A:aef	lep
ženama	N:f	žena
David	N:m	David
je	PRO	ona
vrlo	ADV	vrlo
brzo	ADV	brzo
pristao	V:m	pristati
na	PREP	na
mu	PRO	on
ona	PRO	ona
bude	A:aem	bude
druga	A:aef	drugi
supruga	N:f	supruga
,	PUNCT	,
a	CONJ	a
zajedno	ADV	zajedno
sa	PREP	sa
poslovnim	A:aen	poslovan
uspehom	N:m	uspeh
(	PUNCT	(
David	N:m	David
je	PRO	ona
bio	V:m	biti
vlasnik	N:m	vlasnik
najveće	A:cef	velik
time	PRO	taj
-	PUNCT	-
share	N:m	share
kompanije	N:f	kompanija
na	PREP	na
svetu	N:m	svet
)	PUNCT	)
,	PUNCT	,
rasla	V:n	rasti
je	PRO	ona
i	CONJ	i
porodica	N:f	porodica
Siegel	N:m	Siegel
-	PUNCT	-
par	N:m	par
ima	N:m	ima
šestoro	NUM	šestoro
svoje	PRO	svoj
dece	N:f	deca
i	CONJ	i
Jackie	A:aem	Jackie
brine	N:m	brine
o	PREP	o
detetu	N:n	dete
svoje	PRO	svoj
preminule	A:aef	preminuli
sestre	N:f	sestra
(	PUNCT	(
ili	CONJ	ili
brata	N:m	brata
,	PUNCT	,
ili	CONJ	ili
tako	ADV	tako
nešto	ADV	nešto
)	PUNCT	)
.	SENT	.
Svi	PRO	sav
oni	PRO	onaj
žive	N:f	živa
u	PREP	u
Floridi	N:f	Florida
u	PREP	u
kući	N:f	kuća
koja	PRO	koji
je	PRO	ona
tek	PAR	tek
upola	ADV	upola
manje	ADV	manje
od	PREP	od
one	PRO	onaj
u	PREP	u
čiju	PRO	čiji
su	N:m	su
se	PAR	se
gradnju	N:f	gradnja
upustili	V:m	upustiti
uvereni	V:m	uveriti
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
milioni	N:m	milion
drugih	A:aen	drugi
američkih	A:aef	američki
milionera	N:m	milioner
,	PUNCT	,
da	CONJ	da
snovi	N:m	san
i	CONJ	i
bankarski	A:aem	bankarski
krediti	N:m	kredit
ne	PAR	ne
mogu	A:aem	mogu
imati	A:aem	imati
granice	N:f	granica
.	SENT	.
Lauren	A:aem	Lauren
je	PRO	ona
uspela	V:f	uspeti
da	CONJ	da
ima	A:aem	ima
neviđen	A:aem	neviđen
pristup	N:m	pristup
porodici	N:f	porodica
tokom	PREP	tokom
svih	PRO	sav
tih	PRO	taj
svetlih	A:aem	svetao
i	CONJ	i
tamnih	A:aem	taman
trenutaka	N:m	trenutak
,	PUNCT	,
pa	CONJ	pa
tako	ADV	tako
imamo	N:m	imamo
priliku	N:f	prilika
da	CONJ	da
virimo	N:f	virimo
i	CONJ	i
u	PREP	u
buduće	A:aem	budući
ormane	N:m	orman
Siegelove	A:aem	Siegelove
u	PREP	u
'	A:aem	'
Versaju	N:m	Versaj
'	A:aem	'
u	PREP	u
koje	PRO	koji
maltene	ADV	maltene
može	A:aem	može
da	CONJ	da
stane	N:m	stan
i	CONJ	i
kombajn	N:m	kombajn
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
u	PREP	u
vrlo	ADV	vrlo
neprijatna	A:aen	neprijatan
raspoloženja	N:n	raspoloženje
njenog	PRO	njen
supruga	N:f	supruga
,	PUNCT	,
koji	PRO	koji
survan	A:aem	survan
dugovima	N:m	dug
i	CONJ	i
nepravdom	N:f	nepravda
,	PUNCT	,
postaje	N:f	postaja
pravi	A:aem	prav
tiranin	N:m	tiranin
kada	CONJ	kada
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
potrošnja	N:f	potrošnja
električne	A:aef	električni
energije	N:f	energija
u	PREP	u
domu	N:m	dom
Siegelovih	A:aen	Siegelovih
.	PUNCT	.
I	CONJ	i
dok	CONJ	dok
se	PAR	se
muke	N:f	muka
nižu	A:bef	nizak
,	PUNCT	,
a	CONJ	a
datum	N:m	datum
useljenja	N:n	useljenje
postaje	N:f	postaja
sve	PRO	sav
(	PUNCT	(
ne	PAR	ne
)	PUNCT	)
izvesniji	A:bem	izvestan
mi	PRO	ja
vidimo	N:m	vidimo
da	CONJ	da
se	PAR	se
Jackie	A:aem	Jackie
nosi	N:m	nosi
sa	PREP	sa
onim	PRO	onaj
što	CONJ	što
joj	PRO	ona
život	N:m	život
donosi	N:m	donosi
ne	PAR	ne
gubeći	A:aem	gubeći
živce	N:m	živac
,	PUNCT	,
niti	CONJ	niti
ljubav	N:f	ljubav
za	PREP	za
svog	PRO	svoj
supruga	N:f	supruga
i	CONJ	i
svoju	PRO	svoj
decu	N:f	deca
.	SENT	.
Ona	PRO	ona
je	PRO	ona
navikla	V:f	naviknuti
na	PREP	na
imala	V:f	imati
-	PUNCT	-
nemala	A:aem	nemali
život	N:m	život
,	PUNCT	,
ona	PRO	ona
je	PRO	ona
bila	V:f	biti
konobarica	N:f	konobarica
nakon	PREP	nakon
što	PRO	što
je	PRO	ona
postala	V:f	postati
Miss	N:m	Miss
Floride	N:f	Florida
.	SENT	.
Ona	PRO	ona
je	PRO	ona
znala	V:f	znati
ceo	A:aem	ceo
Holivud	N:m	Holivud
i	CONJ	i
ceo	A:aem	ceo
Vegas	N:m	Vegas
pre	PREP	pre
nego	CONJ	nego
što	CONJ	što
je	PRO	ona
ponovo	ADV	ponovo
bila	V:f	biti
primorana	V:n	primorati
da	CONJ	da
leti	ADV	leti
ekonomskom	A:aem	ekonomski
klasom	N:m	klas
.	SENT	.
Ona	PRO	ona
,	PUNCT	,
baš	PAR	baš
kao	ADV	kao
i	CONJ	i
stotine	N:f	stotina
miliona	N:m	milion
dolara	N:m	dolar
siromašnija	A:bem	siromašan
Amerika	N:f	Amerika
od	PREP	od
nje	PRO	ona
,	PUNCT	,
pokušava	N:f	pokušava
da	CONJ	da
shvati	N:m	shvati
šta	PRO	šta
se	PAR	se
desilo	V:n	desiti
,	PUNCT	,
ko	PRO	ko
je	PRO	ona
zajebao	V:m	zajebati
njenu	PRO	njen
porodicu	N:f	porodica
,	PUNCT	,
besna	A:aem	besan
i	CONJ	i
ogorčena	A:aem	ogorčen
na	PREP	na
bankare	N:m	bankar
koji	PRO	koji
su	N:m	su
ih	PRO	ona
prevarili	V:m	prevariti
.	PUNCT	.
A	CONJ	a
o	PREP	o
nesposobnosti	N:f	nesposobnost
ovog	PRO	ovaj
ološa	N:m	ološ
sam	A:aem	sam
Siegel	N:m	Siegel
ima	A:aem	ima
priču	N:f	priča
o	PREP	o
tome	PRO	taj
kako	CONJ	kako
je	PRO	ona
preko	PREP	preko
trećih	A:aef	treći
lica	N:n	lice
otkupio	V:m	otkupiti
od	PREP	od
banke	N:f	banka
svoj	PRO	sav
dug	A:aem	dug
od	PREP	od
15	NUM	@card@
m	ABB	m
$	N:m	$
za	PREP	za
3	NUM	@card@
m	ABB	m
$	N:m	$
.	PUNCT	.
I	CONJ	i
on	PRO	on
se	PAR	se
sad	ADV	sad
,	PUNCT	,
baš	PAR	baš
kao	CONJ	kao
i	CONJ	i
mi	PRO	ja
,	PUNCT	,
pita	N:f	pita
kako	CONJ	kako
je	PRO	ona
moguće	ADV	moguće
da	CONJ	da
takvi	PRO	takav
nesposobnjakovići	N:m	nesposobnjaković
drže	A:aem	drže
privredu	N:f	privreda
Amerike	N:f	Amerika
u	PREP	u
svojim	PRO	svoj
rukama	N:f	ruka
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
ovom	PRO	ovaj
filmu	N:m	film
daje	N:m	daje
šarm	N:m	šarm
,	PUNCT	,
pored	PREP	pored
Jackie	A:aem	Jackie
,	PUNCT	,
jeste	INT	jeste
Osbournes	N:m	Osbournes
-	PUNCT	-
ovski	A:aem	ovski
groteskni	A:aem	groteskan
pokušaji	N:m	pokušaj
da	CONJ	da
se	PAR	se
nekoliko	ADV	nekoliko
dece	N:f	deca
,	PUNCT	,
tuce	N:n	tuce
životinja	N:f	životinja
,	PUNCT	,
par	N:m	par
filipinskih	A:aef	filipinski
dadilja	N:f	dadilja
i	CONJ	i
kuća	N:f	kuća
sa	PREP	sa
desetinama	N:f	desetina
soba	N:f	soba
održe	A:aem	održe
u	PREP	u
kakvom	PRO	kakav
-	PUNCT	-
takvom	PRO	takav
redu	N:m	red
.	SENT	.
Pored	PREP	pored
toga	PRO	taj
,	PUNCT	,
film	N:m	film
nam	PRO	mi
pokazuje	N:f	pokazuje
Siegelove	A:aem	Siegelove
(	PUNCT	(
roditelje	N:m	roditelj
)	PUNCT	)
kao	CONJ	kao
ljude	N:m	ljudi
sa	PREP	sa
glavom	N:f	glava
čije	PRO	čiji
su	N:m	su
noge	N:f	noga
više	ADV	više
na	PREP	na
zemlji	N:f	zemlja
,	PUNCT	,
nego	CONJ	nego
glava	N:f	glava
u	PREP	u
oblacima	N:m	oblak
,	PUNCT	,
voljne	A:aef	voljan
da	CONJ	da
pomognu	A:aem	pomognu
siromašnijima	A:bef	siromašan
od	PREP	od
sebe	PRO	sebe
(	PUNCT	(
vozač	N:m	vozač
Rolsa	N:m	Rols
,	PUNCT	,
Jackieina	A:aef	Jackieina
prijateljica	N:f	prijateljica
)	PUNCT	)
,	PUNCT	,
kad	CONJ	kad
se	PAR	se
toga	PRO	taj
sete	N:f	seta
.	SENT	.
Ostavljam	N:m	Ostavljam
mogućnost	N:f	mogućnost
da	CONJ	da
je	PRO	ona
nešto	ADV	nešto
od	PREP	od
toga	PRO	taj
inscenirano	V:n	inscenirati
i	CONJ	i
za	PREP	za
potrebe	N:f	potreba
filma	N:m	film
,	PUNCT	,
ali	CONJ	ali
neke	PRO	neki
stvari	N:f	stvar
,	PUNCT	,
naročito	ADV	naročito
ovo	PRO	ovaj
sa	PREP	sa
propalim	A:aen	propao
biznismenom	N:m	biznismen
koji	PRO	koji
sad	ADV	sad
od	PREP	od
Siegelovih	A:aef	Siegelovih
pozajmljuje	N:f	pozajmljuje
Rols	N:m	Rols
Rojsa	N:m	Rojs
za	PREP	za
prevoz	N:m	prevoz
mladenaca	N:m	mladenac
na	PREP	na
svadbama	N:f	svadba
i	CONJ	i
tako	ADV	tako
zarađuje	N:f	zarađuje
pare	N:f	para
za	PREP	za
život	N:m	život
,	PUNCT	,
deluju	A:aem	deluju
vrlo	ADV	vrlo
uverljivo	ADV	uverljivo
.	SENT	.
U	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
Queen	N:f	Queen
of	N:m	of
Versailles	N:m	Versailles
je	PRO	ona
priča	N:f	priča
o	PREP	o
megalomaniji	N:f	megalomanija
,	PUNCT	,
ne	PAR	ne
bez	PREP	bez
razloga	N:m	razlog
oslonjena	A:aen	oslonjen
na	PREP	na
megalomaniju	N:f	megalomanija
evropske	A:aem	evropski
aristokratije	N:f	aristokratija
(	PUNCT	(
i	CONJ	i
prohujalih	A:aen	prohujao
vremena	N:n	vreme
)	PUNCT	)
,	PUNCT	,
priča	N:f	priča
o	PREP	o
bezumnoj	A:aef	bezuman
potrebi	N:f	potreba
da	CONJ	da
se	PAR	se
svaki	PRO	svaki
san	N:m	san
pretvori	N:m	pretvori
u	PREP	u
realnost	N:f	realnost
,	PUNCT	,
i	CONJ	i
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
ceni	N:f	cena
koštanja	N:n	koštanje
svega	ADV	svega
toga	PRO	taj
.	SENT	.
S	PREP	s
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
nesalomivi	A:aem	nesalomivi
duh	N:m	duh
Jackie	A:aem	Jackie
Siegel	N:m	Siegel
ono	PRO	onaj
je	PRO	ona
što	CONJ	što
svima	PRO	sav
nama	PRO	mi
,	PUNCT	,
naročito	ADV	naročito
u	PREP	u
ovim	PRO	ovaj
trenucima	N:m	trenutak
,	PUNCT	,
treba	N:f	treba
da	CONJ	da
da	CONJ	da
podstreka	N:m	podstrek
i	CONJ	i
primer	N:m	primer
kako	ADV	kako
i	CONJ	i
kad	ADV	kad
izgubiš	V:m	izgubiš
mnogo	ADV	mnogo
,	PUNCT	,
mnogo	ADV	mnogo
,	PUNCT	,
mnoooogo	A:aem	mnoooogo
više	ADV	više
zapravo	ADV	zapravo
samo	CONJ	samo
praviš	A:aen	praviš
mesta	N:n	mesto
da	CONJ	da
tu	ADV	tu
stekneš	V:m	stekneš
nešto	ADV	nešto
novo	A:aen	nov
.	SENT	.
