Kada	CONJ	kada
se	PAR	se
dve	NUM	dva
legende	N:f	legenda
dogovore	N:m	dogovor
da	CONJ	da
naprave	N:f	naprava
film	N:m	film
,	PUNCT	,
onda	ADV	onda
konačni	A:aem	konačan
produkt	N:m	produkt
mora	N:n	more
ispasti	A:aem	ispasti
odličan	A:aem	odličan
.	SENT	.
Giljermo	N:f	Giljermo
del	N:m	Del
Toro	N:m	Toro
(	PUNCT	(
Guillermo	N:f	Guillermo
del	N:m	Del
Toro	N:m	Toro
)	PUNCT	)
kao	CONJ	kao
režiser	N:m	režiser
i	CONJ	i
dobrim	A:aef	dobar
delom	N:m	deo
scenarista	N:m	scenarista
,	PUNCT	,
i	CONJ	i
Pedro	N:m	Pedro
Almodovar	N:m	Almodovar
(	PUNCT	(
Pedro	N:m	Pedro
Almodóvar	N:m	Almodóvar
)	PUNCT	)
kao	CONJ	kao
producent	N:m	producent
–	A:aem	–
bingo	N:m	bingo
!	SENT	!
Ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
za	PREP	za
koji	PRO	koji
je	PRO	ona
sam	A:aem	sam
Del	N:m	Del
Toro	N:m	Toro
rekao	V:m	reći
da	CONJ	da
mu	PRO	on
je	PRO	ona
najdraži	A:cem	drag
od	PREP	od
svih	PRO	sav
u	PREP	u
karijeri	N:f	karijera
,	PUNCT	,
a	CONJ	a
meni	PRO	ja
jedan	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
goust	A:aem	goust
horora	N:m	horor
ikada	ADV	ikada
.	SENT	.
Godina	N:f	godina
je	PRO	ona
1939	NUM	@card@
.	PUNCT	.
,	PUNCT	,
kraj	PREP	kraj
španskog	A:aem	španski
građanskog	A:aem	građanski
rata	N:f	rata
.	SENT	.
U	PREP	u
sirotište	N:n	sirotište
u	PREP	u
jednoj	NUM	jedan
španskoj	A:aef	španski
provinciji	N:f	provincija
stiže	A:aem	stiže
dečak	N:m	dečak
po	PREP	po
imenu	N:n	ime
Karlos	N:m	Karlos
,	PUNCT	,
čiji	PRO	čiji
se	PAR	se
otac	N:m	otac
bori	N:f	bora
u	PREP	u
ratu	N:f	rata
.	SENT	.
Sirotište	A:aen	Sirotište
vode	N:f	voda
doktor	N:m	doktor
Kasares	N:m	Kasares
i	CONJ	i
gospođa	N:f	gospođa
Karmen	N:f	Karmen
,	PUNCT	,
pristalice	N:f	pristalica
republikanaca	N:m	republikanac
koji	PRO	koji
gube	N:f	guba
rat	N:m	rat
.	SENT	.
Takođe	PAR	Takođe
,	PUNCT	,
u	PREP	u
sirotištu	N:n	sirotište
radi	PREP	radi
i	CONJ	i
mladić	N:m	mladić
po	PREP	po
imenu	N:n	ime
Jakinto	N:f	Jakinto
,	PUNCT	,
koji	PRO	koji
misli	N:f	misao
da	CONJ	da
Karmen	N:f	Karmen
i	CONJ	i
doktor	N:m	doktor
Kaseres	N:m	Kaseres
krijumčare	N:m	krijumčar
zlato	N:n	zlato
republikanskoj	A:aef	republikanski
vojsci	N:f	vojska
i	CONJ	i
sve	PRO	sav
vreme	N:n	vreme
pokušava	N:f	pokušava
da	CONJ	da
ga	PRO	on
pronađe	N:m	pronađe
.	SENT	.
U	PREP	u
međuvremnu	A:aem	međuvremnu
se	PAR	se
Karlos	N:m	Karlos
adaptira	N:m	adaptira
na	PREP	na
novi	A:aem	nov
život	N:m	život
,	PUNCT	,
otkrivajući	A:aem	otkrivajući
tajnu	N:f	tajna
da	CONJ	da
sirotište	N:n	sirotište
opseda	A:aen	opseda
duh	N:m	duh
nedavno	ADV	nedavno
preminulog	A:aen	preminuli
dečaka	N:m	dečak
po	PREP	po
imenu	N:n	ime
Santi	N:m	Santi
,	PUNCT	,
koji	PRO	koji
je	PRO	ona
umro	V:m	umreti
pod	PREP	pod
nerazjašnjenim	A:aef	nerazjašnjen
okolnostima	N:f	okolnost
.	SENT	.
Po	PREP	po
režiserovim	A:aef	režiserovim
rečima	N:f	reč
,	PUNCT	,
ovaj	PRO	ovaj
projekat	N:m	projekt
je	PRO	ona
mlađi	A:bem	mlad
brat	N:m	brat
mnogo	ADV	mnogo
poznatijeg	A:ben	poznat
i	CONJ	i
uspešnijeg	A:bem	uspešan
filma	N:m	film
–	A:aem	–
Pan	N:m	Pan
’	A:aem	’
s	PREP	s
Labyrinth	A:aem	Labyrinth
.	SENT	.
Neki	PRO	neki
bi	N:m	bi
rekli	V:m	reći
da	CONJ	da
je	PRO	ona
Del	N:m	Del
Toro	N:m	Toro
opsednut	A:aem	opsednut
bajkama	N:f	bajka
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
većina	N:f	većina
njegovih	PRO	njegov
filmova	N:m	film
protkana	V:m	protkati
istom	A:aem	isti
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
specifičnom	A:aem	specifičan
atmosferom	N:f	atmosfera
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
sjajna	A:aem	sjajan
horor	N:m	horor
bajka	N:f	bajka
sa	PREP	sa
mnogo	ADV	mnogo
dubljim	A:bef	dubok
krajem	PREP	krajem
nego	CONJ	nego
što	CONJ	što
se	PAR	se
vidi	N:f	vida
na	PREP	na
prvi	A:aem	prvi
pogled	N:m	pogled
.	SENT	.
Kao	CONJ	kao
inspiracija	N:f	inspiracija
za	PREP	za
pisanje	N:n	pisanje
scenarija	N:m	scenario
Del	N:m	Del
Toru	N:m	tor
je	PRO	ona
poslužilo	V:n	poslužiti
sopstveno	A:aen	sopstven
detinjstvo	N:n	detinjstvo
i	CONJ	i
jako	ADV	jako
je	PRO	ona
emotivno	A:aen	emotivan
preneo	V:m	preneti
osećanja	N:n	osećanje
iz	PREP	iz
tog	PRO	taj
doba	N:n	doba
.	SENT	.
U	PREP	u
sirotištu	N:n	sirotište
se	PAR	se
dešavaju	V:n	dešavaju
neke	PRO	neki
neobjašnjive	A:aef	neobjašnjiv
,	PUNCT	,
natprirodne	A:aef	natprirodan
stvari	N:f	stvar
,	PUNCT	,
i	CONJ	i
ne	PAR	ne
zna	V:m	zna
se	PAR	se
sve	PRO	sav
vreme	N:n	vreme
jesu	N:f	jesu
li	PAR	li
se	PAR	se
zaista	ADV	zaista
desile	V:f	desiti
ili	CONJ	ili
su	N:m	su
samo	CONJ	samo
plod	N:m	plod
dečije	A:aem	dečiji
mašte	N:f	mašta
.	SENT	.
Režija	N:m	Režija
je	PRO	ona
besprekorna	A:aem	besprekoran
,	PUNCT	,
od	PREP	od
prvog	A:aem	prvi
momenta	N:m	moment
kada	CONJ	kada
nas	PRO	mi
režiser	N:m	režiser
uvodi	N:m	uvod
u	PREP	u
priču	N:f	priča
,	PUNCT	,
polako	ADV	polako
i	CONJ	i
postepeno	ADV	postepeno
dodavajući	A:aef	dodavajući
notu	N:f	nota
tenzije	N:f	tenzija
svakim	PRO	svaki
novim	A:aef	nov
(	PUNCT	(
daljim	A:ben	dalek
)	PUNCT	)
kadrom	A:aen	kadar
.	SENT	.
Svi	PRO	sav
likovi	N:m	lik
su	N:m	su
odlično	ADV	odlično
karakterizovani	V:m	karakterizovati
.	SENT	.
U	PREP	u
filmu	N:m	film
glume	N:f	gluma
odlična	A:aen	odličan
Marisa	N:f	Marisa
Paredes	N:m	Paredes
(	PUNCT	(
Marisa	N:f	Marisa
Paredes	N:m	Paredes
)	PUNCT	)
koja	PRO	koji
se	PAR	se
često	ADV	često
pojavljuje	N:f	pojavljuje
u	PREP	u
Almodovarovim	A:aem	Almodovarov
filmovima	N:m	film
,	PUNCT	,
zatim	ADV	zatim
moj	PRO	moj
ljubimac	N:m	ljubimac
Eduardo	N:f	Eduardo
Noriega	A:aem	Noriega
(	PUNCT	(
Eduardo	N:f	Eduardo
Noriega	N:m	Noriega
)	PUNCT	)
i	CONJ	i
uvek	ADV	uvek
solidni	A:aem	solidan
Federiko	N:m	Federiko
Lupi	N:f	lupa
(	PUNCT	(
Federico	N:f	Federico
Luppi	N:f	Luppi
)	PUNCT	)
kao	CONJ	kao
doktor	N:m	doktor
.	PUNCT	.
Spomenuću	N:f	Spomenuću
i	CONJ	i
mladog	A:aen	mlad
i	CONJ	i
talentovanog	A:aen	talentovan
Fernanda	N:m	Fernando
Tielvea	N:m	Tielvea
(	PUNCT	(
Fernando	N:m	Fernando
Tielve	N:f	Tielve
)	PUNCT	)
koji	PRO	koji
glumi	N:f	gluma
Karlosa	N:m	Karlos
.	SENT	.
Oni	PRO	onaj
pružaju	N:m	pružaju
odlične	A:aem	odličan
performanse	N:f	performansa
,	PUNCT	,
čineći	N:f	čineći
da	CONJ	da
se	PAR	se
gledalac	N:m	gledalac
koncetriše	A:aem	koncetriše
na	PREP	na
njih	PRO	ona
i	CONJ	i
njihove	PRO	njihov
emocije	N:f	emocija
.	SENT	.
Ako	CONJ	ako
ste	A:aem	ste
gledali	V:m	gledati
„	A:aem	„
Panov	N:m	Panov
lavirinit	A:aem	lavirinit
“	N:m	“
,	PUNCT	,
a	CONJ	a
niste	N:m	niste
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
onda	ADV	onda
pod	PREP	pod
hitno	ADV	hitno
to	PRO	taj
treba	N:f	treba
da	CONJ	da
ispravite	N:m	ispravite
,	PUNCT	,
jer	CONJ	jer
jednostavno	ADV	jednostavno
nisu	N:m	nisu
kompletni	A:aem	kompletan
jedan	NUM	jedan
bez	PREP	bez
drugog	A:aem	drugi
.	SENT	.
Kao	ADV	kao
ni	PAR	ni
izgubljena	V:f	izgubiti
i	CONJ	i
izmučena	V:f	izmučiti
duša	N:f	duša
dok	CONJ	dok
ne	PAR	ne
nađe	V:n	nađe
svoj	PRO	sav
konačni	A:aem	konačan
mir	N:m	mir
.	SENT	.
