Evo	PAR	evo
još	ADV	još
jednog	NUM	jedan
monstruozno	A:aen	monstruozan
dobrog	A:aem	dobar
filma	N:m	film
koji	PRO	koji
sam	PRO	sam
uspeo	V:m	uspeti
da	CONJ	da
ukačim	V:m	ukačim
još	ADV	još
na	PREP	na
poslednjoj	A:aef	poslednji
Sinemaniji	N:m	Sinemaniji
u	PREP	u
praznom	A:aef	prazan
Sava	N:f	Sava
Centru	N:m	centar
u	PREP	u
kasnim	A:aem	kasan
večernjim	A:aef	večernji
satima	N:m	sat
.	SENT	.
Denis	N:f	Denis
Tanović	N:m	Tanović
,	PUNCT	,
reditelj	N:m	reditelj
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
koje	PRO	koji
mu	PRO	on
je	PRO	ona
tek	PAR	tek
šesto	A:aen	šesti
na	PREP	na
spisku	N:m	spisak
je	PRO	ona
ispričao	V:m	ispričati
priču	N:f	priča
kompletnu	A:aen	kompletan
i	CONJ	i
kompleksnu	A:aem	kompleksan
,	PUNCT	,
dokazujući	A:aem	dokazujući
da	CONJ	da
je	PRO	ona
spreman	A:aem	spreman
da	CONJ	da
se	PAR	se
uhvati	N:m	uhvati
u	PREP	u
koštac	N:m	koštac
sa	PREP	sa
visokim	A:aem	visok
zadacima	N:m	zadatak
kakva	PRO	kakav
je	PRO	ona
knjiga	N:f	knjiga
Skota	N:m	Skot
Andersona	N:m	Anderson
po	PREP	po
kojoj	PRO	koji
je	PRO	ona
rađen	V:m	raditi
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Irska	N:f	Irska
producentska	A:aef	producentski
kuća	N:f	kuća
stoji	N:f	stoja
iza	PREP	iza
ovog	PRO	ovaj
indi	N:f	indi
ostvarenja	N:n	ostvarenje
,	PUNCT	,
verovatno	ADV	verovatno
jedan	NUM	jedan
od	PREP	od
razloga	N:m	razlog
što	CONJ	što
glavnu	A:aef	glavnu
rolu	N:f	rola
opasava	A:aen	opasava
Kolin	N:m	Kolin
Farel	N:m	Farel
dokazujući	A:aem	dokazujući
moje	PRO	moj
mišljenje	N:n	mišljenje
da	CONJ	da
je	PRO	ona
svakako	PAR	svakako
jedan	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
mlađih	A:bem	mlad
glumaca	N:m	glumac
,	PUNCT	,
po	PREP	po
meni	PRO	ja
jedini	A:aem	jedini
dostojni	A:aem	dostojan
naslednik	N:m	naslednik
Al	N:m	Al
Paćina	N:m	Paćino
.	SENT	.
Kasnih	A:aem	kasan
osamdesetih	A:aem	osamdeseti
dvojica	N:f	dvojica
foto	N:f	fota
reportera	N:m	reporter
i	CONJ	i
bliska	A:aef	blizak
prijatelja	N:m	prijatelj
se	PAR	se
otiskuju	N:m	otiskuju
u	PREP	u
ratom	N:f	rata
zahvaćen	A:aem	zahvaćen
Kurdistan	N:m	Kurdistan
gde	CONJ	gde
je	PRO	ona
priča	N:f	priča
krajnje	ADV	krajnje
mutna	A:aem	mutan
.	SENT	.
Niti	CONJ	niti
se	PAR	se
zna	A:aem	zna
ko	PRO	ko
na	PREP	na
koga	PRO	koji
puca	N:f	puca
,	PUNCT	,
jelte	N:m	jelte
,	PUNCT	,
niti	CONJ	niti
zašto	ADV	zašto
.	PUNCT	.
Naviknuti	V:m	naviknuti
da	CONJ	da
smrt	N:f	smrt
i	CONJ	i
razaranje	N:n	razaranje
gledaju	N:m	gledaju
kroz	PREP	kroz
objektive	N:m	objektiv
svojih	PRO	svoj
fotoaparata	N:m	fotoaparat
Mark	N:m	Mark
Valš	N:f	Valš
(	PUNCT	(
Farel	N:m	Farel
)	PUNCT	)
i	CONJ	i
Dejvid	N:m	Dejvid
(	PUNCT	(
Džejmi	N:f	Džejmi
Silves	N:m	Silves
)	PUNCT	)
trpe	N:m	trp
sve	ADV	sve
veće	A:bef	velik
pritiske	N:m	pritisak
zbog	PREP	zbog
nerazumevanja	N:n	nerazumevanje
i	CONJ	i
bizarnosti	N:f	bizarnost
situacije	N:f	situacija
u	PREP	u
kojoj	PRO	koji
su	N:m	su
se	PAR	se
našli	V:m	naći
.	SENT	.
U	PREP	u
raspravi	N:f	rasprava
da	CONJ	da
li	PAR	li
bi	N:n	bi
trebalo	V:n	trebati
da	CONJ	da
se	PAR	se
vrate	N:m	vrat
kući	N:f	kuća
razdvajaju	N:f	razdvajaju
se	PAR	se
i	CONJ	i
kada	CONJ	kada
se	PAR	se
Mark	N:m	Mark
vrati	N:m	vrati
u	PREP	u
Irsku	N:f	Irska
,	PUNCT	,
shvata	N:m	shvata
da	CONJ	da
od	PREP	od
njegovog	PRO	njegov
prijatelja	N:m	prijatelj
nema	A:aem	nem
ni	CONJ	ni
traga	N:m	trag
ni	CONJ	ni
glasa	N:m	glas
…	SENT	…
Kolin	N:m	Kolin
Farel	N:m	Farel
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
pruža	V:m	pruža
verovatno	ADV	verovatno
najbolju	A:cef	dobar
glumu	N:f	gluma
koju	PRO	koji
sam	PRO	sam
mogao	V:m	moći
da	CONJ	da
vidim	A:aem	vidim
od	PREP	od
kada	CONJ	kada
ga	PRO	on
pratim	A:aem	pratim
.	PUNCT	.
Pored	PREP	pored
toga	PRO	taj
što	CONJ	što
je	PRO	ona
za	PREP	za
film	N:m	film
smršao	V:m	smršati
preko	PREP	preko
50	NUM	@card@
kila	N:f	kila
vidi	N:f	vida
se	PAR	se
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
jedna	NUM	jedan
od	PREP	od
uloga	N:f	uloga
koja	PRO	koji
je	PRO	ona
baš	PAR	baš
krojena	V:f	krojiti
za	PREP	za
njega	PRO	on
i	CONJ	i
koju	PRO	koji
je	PRO	ona
tražio	V:m	tražiti
glumeći	V:m	glumeći
iz	PREP	iz
jasnog	A:aen	jasan
umetničkog	A:aen	umetnički
nagona	N:m	nagon
.	SENT	.
(	PUNCT	(
Setite	V:f	Setite
se	PAR	se
Kristijana	N:f	Kristijana
Bejla	N:f	Bejla
u	PREP	u
filmu	N:m	film
The	INT	The
Machinist	N:m	Machinist
)	PUNCT	)
.	SENT	.
Svakako	ADV	svakako
vrhunski	A:aem	vrhunski
film	N:m	film
,	PUNCT	,
ako	CONJ	ako
ste	A:aem	ste
spremni	A:aem	spreman
na	PREP	na
priču	N:f	priča
koja	PRO	koji
se	PAR	se
ne	PAR	ne
vari	V:m	vari
tako	ADV	tako
lako	ADV	lako
.	SENT	.
