Pravda	N:f	pravda
je	PRO	ona
kao	ADV	kao
beba	N:f	beba
.	SENT	.
Treba	N:f	treba
da	CONJ	da
znaš	INT	znaš
kako	CONJ	kako
da	CONJ	da
je	PRO	ona
uzmeš	V:m	uzmeš
u	PREP	u
ruke	N:f	ruka
U	A:aem	U
drugom	A:aef	drugi
nastavku	N:m	nastavak
sage	N:f	saga
o	PREP	o
borbi	N:f	borba
brazilskih	A:aem	brazilski
policajaca	N:m	policajac
u	PREP	u
Rio	A:aem	Rio
De	A:aem	De
Žaneiru	N:m	Žaneiru
protiv	PREP	protiv
kriminala	N:m	kriminal
i	CONJ	i
korupcije	N:f	korupcija
ima	N:m	ima
jedna	NUM	jedan
scena	N:f	scena
u	PREP	u
kojoj	PRO	koji
naš	PRO	naš
voljeni	A:aem	voljen
pukovnik	N:m	pukovnik
Nascimento	N:f	Nascimento
(	PUNCT	(
Wagner	N:m	Wagner
Moura	N:m	Moura
)	PUNCT	)
presreće	A:aem	presreće
Mercedes	N:f	Mercedes
nekog	PRO	neki
političara	N:m	političar
,	PUNCT	,
izvlači	V:m	izvlači
ga	PRO	on
iz	PREP	iz
njega	PRO	on
i	CONJ	i
počinje	N:f	počinje
krvnički	A:aem	krvnički
da	CONJ	da
ga	PRO	on
bije	N:f	bije
.	SENT	.
Do	PREP	do
tog	PRO	taj
trenutka	N:m	trenutak
mi	PRO	ja
,	PUNCT	,
gledaoci	N:m	gledalac
,	PUNCT	,
već	PAR	već
smo	N:f	smo
ozbiljno	ADV	ozbiljno
nahranjeni	V:m	nahraniti
prizorima	N:m	prizor
besramne	A:aef	besraman
korupcije	N:f	korupcija
kojoj	PRO	koji
i	PAR	i
narečeni	V:m	nareći
kumuje	N:m	kumuje
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
brutalnim	A:aef	brutalan
posledicama	N:f	posledica
koje	PRO	koji
ona	PRO	ona
svakodnevno	A:aen	svakodnevan
seje	N:f	seja
.	SENT	.
Reditelj	N:m	reditelj
Jose	N:m	Josa
Padilha	N:m	Padilha
tako	ADV	tako
je	PRO	ona
genijalno	A:aen	genijalan
osmislio	V:m	osmisliti
broj	N:m	broj
udaraca	N:m	udarac
,	PUNCT	,
njihovu	PRO	njihov
ritmiku	N:f	ritmika
,	PUNCT	,
skoro	ADV	skoro
kao	CONJ	kao
da	CONJ	da
je	PRO	ona
u	PREP	u
tom	PRO	taj
trenutku	N:m	trenutak
pretpostavio	V:m	pretpostaviti
kako	CONJ	kako
bi	V:m	bi
izgledao	V:m	izgledati
i	CONJ	i
koliko	ADV	koliko
bi	V:m	bi
trajao	V:m	trajati
neki	PRO	neki
naš	PRO	naš
univerzalni	A:aem	univerzalan
odušak	N:m	odušak
protiv	PREP	protiv
raznoraznih	A:aef	raznorazni
nepravdi	N:f	nepravda
koje	PRO	koji
trpimo	N:f	trpimo
.	SENT	.
Na	PREP	na
mestu	N:n	mesto
brazilskog	A:aem	brazilski
gada	N:m	gad
ja	PRO	ja
sam	PRO	sam
u	PREP	u
tih	PRO	taj
par	N:m	par
minuta	N:m	minut
provrteo	V:m	provrteti
lica	N:n	lice
nekoliko	ADV	nekoliko
srpskih	A:aef	srpski
političara	N:m	političar
.	PUNCT	.
Kada	CONJ	kada
je	PRO	ona
ovaj	PRO	ovaj
na	PREP	na
kraju	N:m	kraj
ostao	V:m	ostati
da	CONJ	da
leži	A:aem	leži
na	PREP	na
zemlji	N:f	zemlja
,	PUNCT	,
ozbiljno	ADV	ozbiljno
redizajniran	V:m	redizajnirati
,	PUNCT	,
osećao	V:m	osećati
sam	PRO	sam
se	PAR	se
bolje	ADV	bolje
,	PUNCT	,
kunem	N:m	kunem
vam	PRO	vi
se	PAR	se
,	PUNCT	,
mnogo	ADV	mnogo
mnogo	ADV	mnogo
bolje	ADV	bolje
!	PUNCT	!
Samo	PAR	samo
zbog	PREP	zbog
toga	PRO	taj
TDE	N:f	TDE
2	NUM	@card@
ostaje	N:n	ostaje
u	PREP	u
mom	PRO	moj
srcu	N:n	srce
4	NUM	@card@
ever	N:m	ever
.	SENT	.
Prvi	A:aem	prvi
deo	N:m	deo
mi	PRO	ja
je	PRO	ona
ostao	V:m	ostati
u	PREP	u
sećanju	N:n	sećanje
kao	CONJ	kao
prljav	A:aem	prljav
na	PREP	na
svim	PRO	sav
nivoima	N:m	nivo
,	PUNCT	,
od	PREP	od
krupnog	A:aen	krupan
zrna	N:n	zrno
do	PREP	do
sirotinje	N:f	sirotinja
favela	N:f	favela
i	CONJ	i
sirovog	A:aen	sirov
nasilja	N:n	nasilje
rasprostrtog	A:aem	rasprostrt
svuda	ADV	svuda
po	PREP	po
njima	PRO	ona
.	SENT	.
Drugi	A:aem	drugi
deo	N:m	deo
,	PUNCT	,
po	PAR	po
The	INT	The
Wire	N:m	Wire
modelu	N:m	model
,	PUNCT	,
malčice	ADV	malčice
menja	N:n	menja
teren	N:m	teren
.	SENT	.
Paralelno	ADV	paralelno
sa	PREP	sa
pobunom	N:f	pobuna
u	PREP	u
zatvoru	N:m	zatvor
,	PUNCT	,
koju	PRO	koji
je	PRO	ona
pukovnik	N:m	pukovnik
krenuo	V:m	krenuti
da	CONJ	da
sanira	V:m	sanira
,	PUNCT	,
Padhilia	N:f	Padhilia
nas	PRO	mi
kroz	PREP	kroz
glas	N:m	glas
'	A:aem	'
levičara	N:m	levičar
,	PUNCT	,
intelektualca	N:m	intelektualac
'	A:aem	'
Fraga	N:m	Fraga
informiše	A:aem	informiše
o	PREP	o
besmislicama	N:f	besmislica
poput	PREP	poput
onih	PRO	onaj
da	CONJ	da
su	N:m	su
zatvori	N:m	zatvor
strašni	A:aem	strašan
i	CONJ	i
da	CONJ	da
će	N:f	će
do	PREP	do
2083	NUM	@card@
.	PUNCT	.
u	PREP	u
brazilskim	A:aef	brazilski
zatvorima	N:m	zatvor
biti	N:f	bit
isto	ADV	isto
onoliko	ADV	onoliko
ljudi	N:m	ljudi
koliko	ADV	koliko
i	CONJ	i
stanovnika	N:m	stanovnik
Brazila	N:m	Brazil
.	PUNCT	.
Ako	CONJ	ako
je	PRO	ona
verovati	A:aem	verovati
statistici	N:f	statistika
.	SENT	.
Kad	CONJ	kad
se	PAR	se
pobuna	N:f	pobuna
uguši	A:aem	uguši
u	PREP	u
krvi	N:f	krv
,	PUNCT	,
jedini	A:aem	jedini
način	N:m	način
da	CONJ	da
se	PAR	se
pukovnik	N:m	pukovnik
i	CONJ	i
njegova	PRO	njegov
BOPE	N:m	BOPE
dovode	N:m	dovod
u	PREP	u
red	N:m	red
jeste	INT	jeste
da	CONJ	da
se	PAR	se
on	PRO	on
unapredi	N:m	unapredi
u	PREP	u
nekog	PRO	neki
državnog	A:aen	državni
administrativca	N:m	administrativac
.	SENT	.
Njemu	PRO	on
to	PRO	taj
otvara	N:m	otvara
put	N:f	put
za	PREP	za
borbu	N:f	borba
iznutra	ADV	iznutra
,	PUNCT	,
za	PREP	za
borbu	N:f	borba
protiv	PREP	protiv
korumpiranih	A:aem	korumpiran
policajaca	N:m	policajac
i	CONJ	i
njihovih	PRO	njihov
političkih	A:aef	politički
mecena	N:f	mecena
.	SENT	.
Padhilia	N:f	Padhilia
nas	PRO	mi
upoznaje	N:m	upoznaje
kako	CONJ	kako
funkcioniše	A:aem	funkcioniše
prljavi	A:aem	prljav
sistem	N:m	sistem
unutar	PREP	unutar
sistema	N:m	sistem
.	SENT	.
Nema	A:aem	nem
tu	PRO	taj
nekih	PRO	neki
naročito	ADV	naročito
novih	A:aef	nov
momenata	N:m	moment
,	PUNCT	,
čak	PAR	čak
ni	PAR	ni
u	PREP	u
dočaravanju	N:n	dočaravanje
istih	A:aef	isti
.	SENT	.
Padhilin	A:aem	Padhilin
adut	N:m	adut
i	CONJ	i
dalje	ADV	dalje
je	PRO	ona
ostala	V:m	ostati
dokumentaristička	A:aef	dokumentaristički
sirovost	N:f	sirovost
i	CONJ	i
autorska	A:aef	autorski
surovost	N:f	surovost
.	SENT	.
Tropa	ADV	tropa
De	A:aem	De
Elite	N:m	Elite
2	NUM	@card@
,	PUNCT	,
gusto	ADV	gusto
prožeta	V:f	prožeti
Nascimentovom	A:aef	Nascimentovom
naracijom	N:f	naracija
,	PUNCT	,
više	ADV	više
funkcioniše	V:m	funkcioniše
kao	CONJ	kao
angažovani	V:m	angažovati
traktat	N:m	traktat
,	PUNCT	,
javna	A:aem	javan
opomena	N:f	opomena
,	PUNCT	,
besni	A:aem	besan
glas	N:m	glas
naroda	N:m	narod
,	PUNCT	,
kriza	N:f	kriza
očajnika	N:m	očajnik
,	PUNCT	,
nego	CONJ	nego
kao	CONJ	kao
film	N:m	film
naročite	A:aef	naročit
dramske	A:aem	dramski
radnje	N:f	radnja
(	PUNCT	(
što	CONJ	što
ne	PAR	ne
znači	V:m	znači
da	CONJ	da
ove	PRO	ovaj
nema	A:aem	nem
,	PUNCT	,
naročito	ADV	naročito
na	PREP	na
ličnom	A:aem	ličan
planu	N:m	plan
Pukovnika	N:m	pukovnik
)	PUNCT	)
.	SENT	.
On	PRO	on
pruža	A:aem	pruža
dokaze	N:m	dokaz
,	PUNCT	,
zatim	ADV	zatim
deli	A:aef	deli
pravdu	N:f	pravda
,	PUNCT	,
a	CONJ	a
potom	ADV	potom
traži	A:aem	traži
da	CONJ	da
se	PAR	se
sličan	A:aem	sličan
model	N:m	model
sprovede	N:m	sprovede
još	ADV	još
snažnije	A:ben	snažan
i	CONJ	i
šire	A:bem	širok
.	SENT	.
Iako	CONJ	iako
Brazilci	N:m	Brazilac
žive	N:f	živa
na	PREP	na
drugom	A:aef	drugi
kraju	N:m	kraj
sveta	N:m	svet
ova	PRO	ovaj
priča	N:f	priča
će	V:m	će
vam	PRO	vi
biti	N:f	bit
vrlo	ADV	vrlo
bliska	A:aef	blizak
,	PUNCT	,
a	CONJ	a
čak	PAR	čak
iako	CONJ	iako
kod	PREP	kod
nas	PRO	mi
nema	A:aem	nem
toliko	ADV	toliko
ekstremnih	A:aem	ekstreman
deformiteta	N:m	deformitet
vlasti	N:f	vlast
,	PUNCT	,
siguran	A:aem	siguran
sam	A:aem	sam
da	CONJ	da
nećete	N:m	nećete
imati	N:f	imati
ništa	ADV	ništa
protiv	PREP	protiv
da	CONJ	da
'	A:aem	'
grešne	A:aem	grešan
'	N:m	'
blaga	A:aen	blag
ruka	N:f	ruka
pravde	N:f	pravda
pomazi	N:m	pomazi
na	PREP	na
isti	A:aem	isti
način	N:m	način
kao	CONJ	kao
Brazilce	N:m	Brazilac
.	SENT	.
