Još	N:m	Još
jedno	NUM	jedan
fantastično	A:aen	fantastičan
ostvarenje	N:n	ostvarenje
maestralnog	A:aem	maestralan
reditelja	N:m	reditelj
Krisa	N:m	Kris
Nolana	N:m	Nolan
(	PUNCT	(
Christopher	N:m	Christopher
Nolan	N:m	Nolan
)	PUNCT	)
.	SENT	.
Popularni	A:aem	popularan
reditelj	N:m	reditelj
nas	PRO	mi
ovde	ADV	ovde
upoznaje	V:m	upoznaje
sa	PREP	sa
izuzetno	ADV	izuzetno
dinamičnom	A:aef	dinamičan
,	PUNCT	,
stilski	A:aem	stilski
impresinom	A:aef	impresinom
pričom	N:f	priča
,	PUNCT	,
punom	A:aem	pun
magije	N:f	magija
i	CONJ	i
rivalstva	N:n	rivalstvo
,	PUNCT	,
prezentovanom	A:aem	prezentovan
na	PREP	na
jedan	NUM	jedan
veoma	ADV	veoma
kriptičan	A:aem	kriptičan
i	CONJ	i
misteriozan	A:aem	misteriozan
način	N:m	način
koji	PRO	koji
ne	PAR	ne
dozvoljava	A:aef	dozvoljava
publici	N:f	publika
da	CONJ	da
olakp	N:m	olakp
predvidi	N:m	predvidi
tok	N:m	tok
ovog	PRO	ovaj
ziblja	A:aen	ziblja
impresivnog	A:aen	impresivan
dela	N:n	delo
.	SENT	.
Ovaj	PRO	ovaj
film	N:m	film
je	PRO	ona
podržavan	A:aem	podržavan
kvalitetnim	A:aen	kvalitetan
scenarijem	N:m	scenarij
koji	PRO	koji
se	PAR	se
zasniva	N:n	zasniva
na	PREP	na
odnosu	N:m	odnos
dva	NUM	dva
čoveka	N:m	čovek
,	PUNCT	,
dva	NUM	dva
mađioničara	N:m	mađioničar
,	PUNCT	,
čije	PRO	čiji
prijateljstvo	N:n	prijateljstvo
prerasta	N:m	prerast
u	PREP	u
ogorčeno	A:aen	ogorčen
rivalstvo	N:n	rivalstvo
,	PUNCT	,
gde	CONJ	gde
jedan	NUM	jedan
nastoji	N:m	nastoji
drugome	A:aem	drugi
da	CONJ	da
razotkrije	N:n	razotkrije
sve	PRO	sav
trikove	N:m	trik
.	SENT	.
Što	N:m	Što
nas	PRO	mi
priča	N:f	priča
sve	ADV	sve
više	ADV	više
vodi	N:f	voda
,	PUNCT	,
ulozi	N:f	uloga
postaju	N:f	postaja
sve	PRO	sav
veći	A:bem	velik
,	PUNCT	,
i	CONJ	i
vode	N:f	voda
do	PREP	do
pronalaska	N:m	pronalazak
jednog	NUM	jedan
ultimativnog	A:aem	ultimativan
trika	N:m	trik
,	PUNCT	,
koji	PRO	koji
će	A:aem	će
zasenčiti	A:aem	zasenčiti
sve	PRO	sav
ostale	V:f	ostati
.	SENT	.
Iz	PREP	iz
ovog	PRO	ovaj
grubog	A:aem	grub
opisa	N:m	opis
možete	A:aef	možete
zaključiti	N:f	zaključiti
da	CONJ	da
se	PAR	se
glavna	A:aem	glavna
tema	N:f	tema
filma	N:m	film
svodi	N:m	svodi
na	PREP	na
prepucavanje	N:n	prepucavanje
između	PREP	između
ova	PRO	ovaj
dva	NUM	dva
lika	N:m	lik
,	PUNCT	,
gde	CONJ	gde
čas	ADV	čas
jedan	NUM	jedan
vodi	N:f	voda
,	PUNCT	,
čas	ADV	čas
drugi	A:aem	drugi
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
vrlo	ADV	vrlo
interesantan	A:aem	interesantan
i	CONJ	i
dinamičan	A:aem	dinamičan
koncept	N:m	koncept
čiju	PRO	čiji
je	PRO	ona
srž	N:f	srž
reditelj	N:m	reditelj
fantastično	A:aen	fantastičan
uspeo	V:m	uspeti
da	CONJ	da
eksploatiše	V:m	eksploatiše
,	PUNCT	,
davajući	V:m	davajući
nam	PRO	mi
dvočasovni	A:aem	dvočasovan
film	N:m	film
pun	A:aem	pun
dinamike	N:f	dinamika
i	CONJ	i
misterije	N:f	misterija
.	SENT	.
Kasting	N:m	kasting
je	PRO	ona
izuzetno	ADV	izuzetno
dobar	A:aem	dobar
.	SENT	.
Glavni	A:aem	Glavni
duo	N:m	duo
filma	N:m	film
portreisan	A:aem	portreisan
je	PRO	ona
od	PREP	od
strane	N:f	strana
Hjua	N:m	Hju
Džekmana	N:m	Džekmana
(	PUNCT	(
Hugh	A:aem	Hugh
Jackman	N:m	Jackman
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
se	PAR	se
predstavlja	N:n	predstavlja
kao	CONJ	kao
staloženim	A:aem	staložen
i	CONJ	i
samouverenim	A:aem	samouveren
mađioničarem	N:m	mađioničar
,	PUNCT	,
a	CONJ	a
sa	PREP	sa
druge	A:aem	drugi
strane	N:f	strana
Kristijana	N:f	Kristijana
Bejla	N:m	Bejla
(	PUNCT	(
Christian	N:m	Christian
Bale	N:m	Bala
)	PUNCT	)
oslikava	A:aem	oslikava
svog	PRO	svoj
lika	N:m	lik
kao	CONJ	kao
čoveka	N:m	čovek
na	PREP	na
ivici	N:f	ivica
psihoze	N:f	psihoza
.	SENT	.
Kvalitetne	A:aef	kvalitetan
sporedne	A:aef	sporedan
uloge	N:f	uloga
pružili	V:m	pružiti
su	N:m	su
Skarlet	N:f	Skarlet
Džohanson	N:m	Džohanson
(	PUNCT	(
Scarlett	A:aem	Scarlett
Johansson	N:m	Johansson
)	PUNCT	)
kao	CONJ	kao
dopadljiva	A:aef	dopadljiv
asistentkinja	N:f	asistentkinja
mađioničara	N:m	mađioničar
,	PUNCT	,
i	CONJ	i
Endi	N:m	Endi
Serkis	N:m	Serkis
(	PUNCT	(
Andy	A:aem	Andy
Serkis	N:m	Serkis
)	PUNCT	)
kao	CONJ	kao
ključni	A:aem	ključni
faktor	N:m	faktor
filma	N:m	film
.	SENT	.
Posebno	ADV	posebno
treba	N:f	treba
napomenuti	A:aem	napomenut
Dejvida	N:m	Dejvid
Bouvija	N:m	Bouvi
(	PUNCT	(
David	N:m	David
Bowie	N:f	Bowie
)	PUNCT	)
,	PUNCT	,
koji	PRO	koji
tumači	N:m	tumač
Nikolu	N:m	Nikola
Teslu	N:m	Tesla
(	PUNCT	(
Nikola	N:m	Nikola
Tesla	N:m	Tesla
)	PUNCT	)
.	SENT	.
Iako	CONJ	iako
fizički	ADV	fizički
slabo	ADV	slabo
podseća	V:m	podseća
na	PREP	na
poznatog	A:aen	poznat
naučnika	N:m	naučnik
,	PUNCT	,
Bouvi	N:m	Bouvi
uspeva	N:m	uspeva
da	CONJ	da
pruži	A:aem	pruži
kvalitetan	A:aem	kvalitetan
performans	N:m	performans
i	CONJ	i
bude	A:aem	bude
vrlo	ADV	vrlo
uverljiv	A:aem	uverljiv
.	SENT	.
I	CONJ	i
naravno	PAR	naravno
,	PUNCT	,
Majkl	N:m	Majkl
Kejn	N:m	Kejn
(	PUNCT	(
Michael	N:m	Michael
Caine	N:f	Caine
)	PUNCT	)
,	PUNCT	,
kao	CONJ	kao
živa	A:aef	živ
legenda	N:f	legenda
ovog	PRO	ovaj
biznisa	N:m	biznis
,	PUNCT	,
uvek	ADV	uvek
na	PREP	na
vrhuncu	N:m	vrhunac
zadatka	N:m	zadatak
.	SENT	.
Film	N:m	film
je	PRO	ona
tehnički	ADV	tehnički
perfektan	A:aem	perfektan
.	SENT	.
“	A:aem	“
Prestiž	A:aem	Prestiž
”	N:m	”
na	PREP	na
jedan	NUM	jedan
precizan	A:aem	precizan
i	CONJ	i
dostojan	A:aem	dostojan
način	N:m	način
prezentuje	N:m	prezentuje
period	N:m	period
u	PREP	u
kojem	PRO	koji
se	PAR	se
radnja	N:f	radnja
odvija	N:f	odvija
(	PUNCT	(
Viktorijanski	A:aem	viktorijanski
London	N:m	London
)	PUNCT	)
.	SENT	.
Kostimi	N:m	kostim
su	N:m	su
odlični	A:aem	odličan
,	PUNCT	,
efekti	N:m	efekt
vrlo	ADV	vrlo
kvalitetni	A:aem	kvalitetan
i	CONJ	i
prilično	ADV	prilično
uvernjivi	A:aem	uvernjivi
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
fotografija	N:f	fotografija
,	PUNCT	,
koja	PRO	koji
je	PRO	ona
zbilja	PAR	zbilja
impresivna	A:aen	impresivan
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
zaista	PAR	zaista
odličan	A:aem	odličan
film	N:m	film
,	PUNCT	,
koji	PRO	koji
na	PREP	na
jedan	NUM	jedan
ne	PAR	ne
linearni	A:aem	linearan
način	N:m	način
ostvaruje	N:m	ostvaruje
odličan	A:aem	odličan
scenario	N:m	scenario
,	PUNCT	,
nudeći	A:aen	nudeći
mnoštvo	N:n	mnoštvo
teorija	N:f	teorija
i	CONJ	i
solucija	N:f	solucija
,	PUNCT	,
a	CONJ	a
opet	ADV	opet
biva	A:aem	biva
bogat	A:aem	bogat
fantastičnim	A:aem	fantastičan
okretima	N:m	okret
i	CONJ	i
zapletima	N:m	zaplet
.	SENT	.
