Ovo	PRO	ovaj
je	PRO	ona
definitivno	ADV	definitivno
jedan	NUM	jedan
od	PREP	od
boljih	A:bef	dobar
mafijaških	A:aem	mafijaški
filmova	N:m	film
u	PREP	u
poslednjih	A:aem	poslednji
20	NUM	@card@
godina	N:f	godina
.	PUNCT	.
Iako	CONJ	iako
sama	PRO	sam
tema	N:f	tema
ovog	PRO	ovaj
dela	N:n	delo
nije	V:f	nije
nešto	ADV	nešto
posebno	ADV	posebno
originalna	A:aem	originalan
,	PUNCT	,
niti	CONJ	niti
revolucionarna	A:aen	revolucionaran
,	PUNCT	,
čitav	A:aem	čitav
uspeh	N:m	uspeh
i	CONJ	i
razlika	N:f	razlika
ovog	PRO	ovaj
projekta	N:m	projekt
na	PREP	na
ostale	V:f	ostati
iz	PREP	iz
ovog	PRO	ovaj
žanra	N:m	žanr
leži	A:aem	leži
u	PREP	u
njegovoj	PRO	njegov
izvrsnoj	A:aef	izvrstan
,	PUNCT	,
preciznoj	A:aef	precizan
i	CONJ	i
umetničkoj	A:aef	umetnički
realizaciji	N:f	realizacija
.	SENT	.
Čitava	A:aem	Čitava
priča	N:f	priča
se	PAR	se
vrti	V:m	vrti
oko	PREP	oko
lojalnosti	N:f	lojalnost
,	PUNCT	,
i	CONJ	i
posledica	N:f	posledica
koje	PRO	koji
ona	PRO	ona
ostavlja	N:n	ostavlja
na	PREP	na
glavnog	A:aem	glavnog
aktera	N:m	akter
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
druge	A:aem	drugi
u	PREP	u
njegovoj	PRO	njegov
neposrednoj	A:aef	neposredan
sredini	N:f	sredina
.	SENT	.
Celokupno	A:aen	celokupan
dešavanje	N:n	dešavanje
se	PAR	se
vrti	V:m	vrti
oko	PREP	oko
glavnog	A:aem	glavnog
lika	N:m	lik
,	PUNCT	,
po	PREP	po
imenu	N:n	ime
Tom	N:m	Tom
Regan	N:m	Regan
,	PUNCT	,
i	CONJ	i
mi	PRO	ja
u	PREP	u
principu	N:m	princip
gledamo	N:f	gledamo
na	PREP	na
sva	PRO	sav
dešavanja	N:n	dešavanje
direktno	ADV	direktno
iz	PREP	iz
njegove	PRO	njegov
perspektive	N:f	perspektiva
.	SENT	.
Sama	PRO	sam
realizacija	N:f	realizacija
je	PRO	ona
izuzetno	ADV	izuzetno
bogata	A:aef	bogat
.	SENT	.
Obogaćena	V:n	Obogaćena
je	PRO	ona
fantastičnim	A:aef	fantastičan
setom	N:f	seta
,	PUNCT	,
koji	PRO	koji
deluje	N:m	deluje
jako	ADV	jako
autentično	A:aen	autentičan
,	PUNCT	,
i	CONJ	i
pored	PREP	pored
toga	PRO	taj
,	PUNCT	,
sadrži	A:aen	sadrži
mnoštvo	N:n	mnoštvo
skrivenih	A:aef	skriven
poruka	N:f	poruka
čineći	N:f	čineći
sam	A:aem	sam
projekat	N:m	projekt
pogodnim	A:aem	pogodan
za	PREP	za
višetruko	A:aen	višetruko
gledanje	N:n	gledanje
.	SENT	.
Scenario	N:m	scenario
,	PUNCT	,
kao	ADV	kao
i	CONJ	i
uvek	ADV	uvek
u	PREP	u
slučaju	N:m	slučaj
braće	N:f	braća
Koen	N:m	Koen
(	PUNCT	(
Coen	N:m	Coen
brothers	N:m	brothers
)	PUNCT	)
,	PUNCT	,
je	PRO	ona
više	ADV	više
nego	CONJ	nego
impresivan	A:aem	impresivan
,	PUNCT	,
imajući	A:aem	imajući
u	PREP	u
sebi	PRO	sebe
veoma	ADV	veoma
kvalitetne	A:aef	kvalitetan
dijaloge	N:m	dijalog
,	PUNCT	,
koji	PRO	koji
svojim	PRO	svoj
stilom	N:m	stil
definitivno	ADV	definitivno
vraćaju	N:m	vraćaju
na	PREP	na
stare	A:aem	star
gangsterske	A:aem	gangsterski
filmove	N:m	film
iz	PREP	iz
tridesetih	A:aef	trideseti
godina	N:f	godina
prošlog	A:aen	prošli
veka	N:m	vek
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
definitivno	ADV	definitivno
najbolje	ADV	najbolje
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
jesu	A:aem	jesu
dijalozi	N:m	dijalog
.	SENT	.
Oni	PRO	onaj
su	N:m	su
veoma	ADV	veoma
memorabilni	A:aem	memorabilni
,	PUNCT	,
oštri	A:aem	oštar
,	PUNCT	,
cinični	A:aem	ciničan
,	PUNCT	,
sarkastični	A:aem	sarkastičan
,	PUNCT	,
i	CONJ	i
puni	A:aem	pun
odličnog	A:aem	odličan
crnog	A:aem	crn
humora	N:m	humor
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
fantastičan	A:aem	fantastičan
omaž	N:m	omaž
tim	PRO	taj
zaboravljenih	A:aef	zaboravljen
hitovima	N:m	hit
,	PUNCT	,
jedimo	A:aen	jedimo
kako	CONJ	kako
bi	A:aen	bi
bilo	V:n	biti
autentičnije	A:bef	autentičan
jeste	INT	jeste
da	CONJ	da
je	PRO	ona
film	N:m	film
bio	V:m	biti
snimljen	V:m	snimiti
u	PREP	u
crno	A:aen	crn
-	PUNCT	-
beloj	A:aef	beo
tehnici	N:f	tehnika
,	PUNCT	,
ali	CONJ	ali
za	PREP	za
time	PRO	taj
stvarno	A:aen	stvaran
nije	N:n	nije
bilo	V:n	biti
potreba	N:f	potreba
pošto	CONJ	pošto
je	PRO	ona
sam	A:aem	sam
set	N:m	set
i	CONJ	i
kostimografija	N:f	kostimografija
prilično	ADV	prilično
na	PREP	na
mestu	N:n	mesto
.	SENT	.
Fotografija	N:f	fotografija
na	PREP	na
filmu	N:m	film
je	PRO	ona
odlična	A:aen	odličan
i	CONJ	i
veoma	ADV	veoma
originalna	A:aem	originalan
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
muzička	A:aef	muzički
pozadina	N:f	pozadina
koja	PRO	koji
se	PAR	se
savršeno	ADV	savršeno
uklapa	V:m	uklapa
.	SENT	.
Scene	N:f	scena
akcije	N:f	akcija
priliče	A:aef	priliče
tematici	N:f	tematika
,	PUNCT	,
i	CONJ	i
pojavljuju	N:f	pojavljuju
se	PAR	se
naglo	ADV	naglo
i	CONJ	i
neočekivano	ADV	neočekivano
.	PUNCT	.
A	CONJ	a
sam	PRO	sam
finalni	A:aem	finalni
čin	N:m	čin
je	PRO	ona
vrlo	ADV	vrlo
impresivan	A:aem	impresivan
i	CONJ	i
lepo	A:aen	lep
vezuje	N:m	vezuje
čitavu	A:aem	čitav
priču	N:f	priča
.	SENT	.
Sam	A:aem	sam
razvoj	N:m	razvoj
likova	N:n	likovo
je	PRO	ona
vrlo	ADV	vrlo
temeljan	A:aem	temeljan
i	CONJ	i
kompleksan	A:aem	kompleksan
.	SENT	.
Naš	A:aem	Naš
junak	N:m	junak
,	PUNCT	,
Tom	N:m	Tom
Regan	N:m	Regan
,	PUNCT	,
koga	PRO	koji
odlično	A:aen	odličan
tumači	N:m	tumač
Gabrijel	N:m	Gabrijel
Birn	N:m	Birn
(	PUNCT	(
Gabriel	N:m	Gabriel
Byrne	N:m	Byrne
)	PUNCT	)
,	PUNCT	,
je	PRO	ona
vrlo	ADV	vrlo
slojevita	A:aef	slojevit
ličnost	N:f	ličnost
.	SENT	.
Prezentovani	V:m	prezentovati
smo	N:f	smo
sa	PREP	sa
likom	N:m	lik
koji	PRO	koji
za	PREP	za
razliku	N:f	razlika
od	PREP	od
većine	N:f	većina
gangstera	N:m	gangster
nije	V:m	nije
prilično	ADV	prilično
zainteresovan	V:m	zainteresovati
nasiljem	N:n	nasilje
,	PUNCT	,
i	CONJ	i
putem	PREP	putem
svog	PRO	svoj
intelekta	N:m	intelekt
koristi	N:f	korist
prilike	N:f	prilika
da	CONJ	da
reši	A:aef	reši
stvari	N:f	stvar
,	PUNCT	,
bez	PREP	bez
upotrebe	N:f	upotreba
fizičke	A:aem	fizički
konfrontacije	N:f	konfrontacija
.	PUNCT	.
Pored	PREP	pored
toga	PRO	taj
što	CONJ	što
se	PAR	se
bavi	V:n	bavi
ovim	PRO	ovaj
podmuklim	A:aem	podmukao
poslom	N:m	posao
,	PUNCT	,
on	PRO	on
prati	N:f	prati
neki	PRO	neki
svoj	PRO	sav
moralni	A:aem	moralan
kod	PREP	kod
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
generalno	A:aen	generalan
sistematičan	A:aem	sistematičan
lažov	N:m	lažov
,	PUNCT	,
on	PRO	on
nije	A:aem	nije
preambiciozan	A:aem	preambiciozan
,	PUNCT	,
ne	PAR	ne
poseduje	N:m	poseduje
interesovanje	N:n	interesovanje
da	CONJ	da
bude	A:aem	bude
“	N:m	“
broj	N:m	broj
jedan	NUM	jedan
”	N:m	”
,	PUNCT	,
već	PAR	već
zadovoljno	A:aen	zadovoljan
funkcioniše	N:n	funkcioniše
u	PREP	u
“	A:aem	“
pozadini	N:f	pozadina
”	N:m	”
.	SENT	.
Fantastičan	A:aem	Fantastičan
psihološki	A:aem	psihološki
sklop	N:m	sklop
lika	N:m	lik
,	PUNCT	,
svaka	PRO	svaki
čast	N:f	čast
Koenima	A:aem	Koenima
,	PUNCT	,
zbilja	PAR	zbilja
izvrsno	ADV	izvrsno
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
samo	PAR	samo
bilo	V:n	biti
izdvajanje	N:n	izdvajanje
jednog	NUM	jedan
lika	N:m	lik
,	PUNCT	,
a	CONJ	a
plus	N:m	plus
”	A:aem	”
Miller	N:m	Miller
’	A:aem	’
s	PREP	s
Crossing	N:m	Crossing
”	A:aem	”
poseduje	N:m	poseduje
podjednako	ADV	podjednako
kvalitetno	ADV	kvalitetno
napisane	V:f	napisati
i	CONJ	i
realizovane	V:f	realizovati
pomoćne	A:aef	pomoćni
likove	N:m	lik
.	SENT	.
Želeo	V:m	Želeo
bi	A:aem	bi
još	ADV	još
posebno	ADV	posebno
da	CONJ	da
istaknem	A:aem	istaknem
Džona	N:m	Džon
Turtura	N:f	Turtura
(	PUNCT	(
John	N:m	John
Turturro	N:m	Turturro
)	PUNCT	)
,	PUNCT	,
čija	PRO	čiji
uloga	N:f	uloga
je	PRO	ona
krucijla	N:m	krucijla
za	PREP	za
čitav	A:aem	čitav
film	N:m	film
,	PUNCT	,
njegovu	PRO	njegov
respektabilnost	N:f	respektabilnost
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
za	PREP	za
njegov	PRO	njegov
finiš	N:m	finiš
.	PUNCT	.
Ne	PAR	ne
propustite	N:m	propustite
ovo	PRO	ovaj
epohalno	A:aen	epohalan
delo	N:n	delo
!	PUNCT	!
