Richard	N:m	Richard
Donner	N:m	Donner
rođen	V:m	roditi
je	PRO	ona
mesec	N:m	mesec
dana	N:m	dan
pre	PREP	pre
Clinta	N:m	Clinta
Eastwooda	N:f	Eastwooda
i	CONJ	i
svoju	PRO	svoj
karijeru	N:f	karijera
otpočeo	V:m	otpočeti
je	PRO	ona
takođe	PAR	takođe
kao	ADV	kao
glumac	N:m	glumac
,	PUNCT	,
ali	CONJ	ali
pozorišni	A:aem	pozorišni
.	SENT	.
Njegovi	PRO	njegov
prvi	A:aem	prvi
filmovi	N:m	film
bili	V:m	biti
su	N:m	su
dokumentarni	A:aem	dokumentaran
,	PUNCT	,
namenski	A:aem	namenski
i	CONJ	i
reklamni	A:aem	reklamni
,	PUNCT	,
60	NUM	@card@
-	PUNCT	-
ih	PRO	ona
je	PRO	ona
počeo	V:m	početi
da	CONJ	da
režira	N:m	režira
igrane	A:aem	igran
filmove	N:m	film
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
tek	PAR	tek
od	PREP	od
Predskazanja	N:m	Predskazanja
1976	NUM	@card@
.	PUNCT	.
i	CONJ	i
Supermena	N:m	supermen
1978	NUM	@card@
.	PUNCT	.
postao	V:m	postati
slavan	A:aem	slavan
.	SENT	.
Režirao	V:m	Režirao
je	PRO	ona
veoma	ADV	veoma
različite	A:aef	različit
filmove	N:m	film
,	PUNCT	,
neki	PRO	neki
su	N:m	su
,	PUNCT	,
doduše	PAR	doduše
,	PUNCT	,
bili	V:m	biti
i	CONJ	i
Smrtonosna	A:aen	smrtonosan
oružja	N:n	oružje
,	PUNCT	,
neki	PRO	neki
su	N:m	su
bili	V:m	biti
osrednji	A:aem	osrednji
,	PUNCT	,
ali	CONJ	ali
neki	PRO	neki
su	N:m	su
bili	V:m	biti
sjajni	A:aem	sjajan
,	PUNCT	,
i	CONJ	i
to	PRO	taj
po	PREP	po
pravilu	N:n	pravilo
„	A:aem	„
što	CONJ	što
bliže	ADV	bliže
čistom	A:aem	čist
žanru	N:m	žanr
,	PUNCT	,
to	PRO	taj
bolje	ADV	bolje
“	A:aem	“
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
to	PRO	taj
da	CONJ	da
li	PAR	li
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
bio	V:m	biti
dečji	A:aem	dečji
film	N:m	film
,	PUNCT	,
bajka	N:f	bajka
ili	CONJ	ili
akcioni	A:aem	akcioni
krimi	N:m	krimi
-	PUNCT	-
triler	N:m	triler
.	PUNCT	.
Lično	A:aen	Lično
,	PUNCT	,
najviše	ADV	najviše
volim	A:aef	volim
Sokolicu	N:f	Sokolicu
(	PUNCT	(
1985	NUM	@card@
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
ni	PAR	ni
pretposlednji	A:aem	pretposlednji
Timeline	N:m	Timeline
(	SENT	(
2003	NUM	@card@
)	PUNCT	)
nije	N:f	nije
bio	V:m	biti
loš	A:aem	loš
.	SENT	.
Razdaljina	N:f	razdaljina
između	PREP	između
zatvora	N:m	zatvor
i	CONJ	i
sudnice	N:f	sudnica
u	PREP	u
koju	PRO	koji
policajac	N:m	policajac
Willis	N:m	Willis
sprovodi	N:m	sprovod
svedoka	N:m	svedok
Defa	N:m	def
iznosi	N:m	iznos
16	NUM	@card@
blokova	N:m	blok
.	PUNCT	.
Iako	CONJ	iako
je	PRO	ona
to	PRO	taj
i	CONJ	i
inače	PAR	inače
,	PUNCT	,
a	CONJ	a
pogotovo	ADV	pogotovo
za	PREP	za
njujorške	A:aef	njujorški
pojmove	N:m	pojam
,	PUNCT	,
kratak	A:aem	kratak
put	N:m	put
,	PUNCT	,
ispostaviće	V:m	ispostaviće
se	PAR	se
da	CONJ	da
predstavlja	A:aen	predstavlja
rastojanje	N:n	rastojanje
jednako	ADV	jednako
onom	PRO	onaj
koje	PRO	koji
junaci	N:m	junak
moraju	N:m	moraju
da	CONJ	da
pređu	N:f	pređa
u	PREP	u
Ponoćnoj	A:aef	Ponoćnoj
trci	N:f	trka
Martina	N:m	Martin
Bresta	N:m	Brest
,	PUNCT	,
Gauntletu	N:m	Gauntletu
Clinta	N:m	Clinta
Eastwooda	N:f	Eastwooda
ili	CONJ	ili
Dvema	N:m	Dvema
mazgama	N:f	mazga
za	PREP	za
sestru	N:f	sestra
Saru	N:f	Sara
Dona	N:f	Dona
Siegela	N:m	Siegela
.	SENT	.
Takva	PRO	takav
rastojanja	N:n	rastojanje
mere	N:f	mera
se	PAR	se
na	PREP	na
filmu	N:m	film
životima	N:m	život
loših	A:aen	loš
momaka	N:m	momak
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
životima	N:m	život
glavnih	A:aen	glavnih
junaka	N:m	junak
,	PUNCT	,
koji	PRO	koji
su	N:m	su
više	ADV	više
nego	CONJ	nego
egzistencijalno	A:aen	egzistencijalan
ugroženi	A:aem	ugrožen
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
žestoki	A:aem	žestok
,	PUNCT	,
direktni	A:aem	direktan
i	CONJ	i
ćutljivi	A:aem	ćutljiv
momci	N:m	momak
koji	PRO	koji
iz	PREP	iz
tačke	N:f	tačka
A	ABB	A
u	PREP	u
tačku	N:f	tačka
B	ABB	B
sprovode	N:m	sprovod
nekoga	PRO	neki
,	PUNCT	,
obično	ADV	obično
su	N:m	su
ugroženi	A:aem	ugrožen
esencijalno	A:aen	esencijalan
,	PUNCT	,
a	CONJ	a
oni	PRO	onaj
sprovođeni	A:aem	sprovođen
,	PUNCT	,
slabi	A:aem	slab
,	PUNCT	,
manipulativni	A:aem	manipulativan
i	CONJ	i
brbljivi	A:aem	brbljiv
,	PUNCT	,
dramaturški	A:aem	dramaturški
su	N:m	su
zaduženi	A:aem	zadužen
za	PREP	za
uzajamno	A:aen	uzajaman
zbližavanje	N:n	zbližavanje
sa	PREP	sa
sprovodiocem	N:m	sprovodilac
i	CONJ	i
,	PUNCT	,
kroz	PREP	kroz
to	PRO	taj
zbližavanje	N:n	zbližavanje
,	PUNCT	,
za	PREP	za
povratak	N:m	povratak
svekolike	A:aef	svekolik
vere	N:f	vera
u	PREP	u
smisao	N:m	smisao
ljubavi	N:f	ljubav
prema	PREP	prema
bližnjima	A:aem	bližnji
.	SENT	.
Kod	PREP	kod
Donnera	N:m	Donnera
,	PUNCT	,
ugrožen	V:m	ugroziti
je	PRO	ona
celokupan	A:aem	celokupan
sistem	N:m	sistem
:	PUNCT	:
svekoliki	A:aem	svekolik
red	N:m	red
,	PUNCT	,
poredak	N:m	poredak
i	CONJ	i
istina	N:f	istina
nisu	N:m	nisu
ugroženi	V:m	ugroziti
samo	PAR	samo
spolja	ADV	spolja
,	PUNCT	,
zlikovcima	N:m	zlikovac
,	PUNCT	,
već	CONJ	već
i	CONJ	i
iznutra	ADV	iznutra
:	SENT	:
policajac	N:m	policajac
Willis	N:m	Willis
je	PRO	ona
ne	PAR	ne
samo	PAR	samo
čovek	N:m	čovek
u	PREP	u
metafizički	A:aem	metafizički
i	CONJ	i
moralno	A:aen	moralan
smrtnom	A:aem	smrtan
grehu	N:m	greh
očajanja	N:n	očajanje
i	CONJ	i
lenjosti	N:f	lenjost
prema	PREP	prema
večnom	A:aef	večan
spasenju	N:n	spasenje
,	PUNCT	,
već	CONJ	već
će	V:m	će
se	PAR	se
ispostaviti	V:m	ispostaviti
da	CONJ	da
je	PRO	ona
i	CONJ	i
,	PUNCT	,
vrlo	ADV	vrlo
konkretno	ADV	konkretno
,	PUNCT	,
jedan	NUM	jedan
od	PREP	od
onih	PRO	onaj
kojima	PRO	koji
ne	PAR	ne
ide	V:m	ide
u	PREP	u
račun	N:m	račun
da	CONJ	da
svedok	N:m	svedok
progovori	N:m	progovori
.	SENT	.
Svoje	PRO	svoj
kasno	ADV	kasno
uviđanje	N:n	uviđanje
istine	N:f	istina
tj	ABB	tj
.	SENT	.
dobra	N:n	dobro
,	PUNCT	,
nasuprot	PREP	nasuprot
grehu	N:m	greh
tj	ABB	tj
.	PUNCT	.
zlu	A:aem	zao
,	PUNCT	,
Willis	N:m	Willis
bi	N:m	bi
,	PUNCT	,
u	PREP	u
urednoj	A:aef	uredan
klasičnoj	A:aef	klasičan
naraciji	N:f	naracija
,	PUNCT	,
trebalo	V:n	trebati
da	CONJ	da
plati	N:f	plata
životom	N:m	život
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
njegov	PRO	njegov
prezaprljani	A:aem	prezaprljani
život	N:m	život
ide	A:aem	ide
uz	PREP	uz
život	N:m	život
takoreći	PAR	takoreći
čistog	A:aen	čist
Defa	N:m	def
,	PUNCT	,
a	CONJ	a
u	PREP	u
akcionim	A:aem	akcioni
žanrovima	N:m	žanr
proisteklim	A:aen	proistekao
iz	PREP	iz
vesterna	N:m	vestern
nije	N:f	nije
dozvoljeno	V:n	dozvoliti
da	CONJ	da
dugove	N:m	dug
glavnih	A:aen	glavnih
junaka	N:m	junak
plaćaju	N:m	plaćaju
drugi	A:aem	drugi
,	PUNCT	,
pa	CONJ	pa
čak	PAR	čak
ni	PAR	ni
delimično	ADV	delimično
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
da	CONJ	da
bi	A:aem	bi
Def	N:m	def
živeo	V:m	živeti
,	PUNCT	,
mora	N:n	more
da	CONJ	da
živi	A:aem	živ
i	CONJ	i
Willis	N:m	Willis
i	CONJ	i
–	A:aem	–
jupiii	A:aem	jupiii
–	N:m	–
obojica	N:f	obojica
će	A:aem	će
živeti	N:m	živeti
,	PUNCT	,
a	CONJ	a
pravda	N:f	pravda
će	A:aef	će
biti	N:f	bit
zadovoljena	V:n	zadovoljiti
.	SENT	.
Za	PREP	za
razliku	N:f	razlika
od	PREP	od
poruke	N:f	poruka
Fordovog	A:aem	Fordov
Čoveka	N:m	Čoveka
koji	PRO	koji
je	PRO	ona
ubio	V:m	ubiti
Liberti	N:m	Liberti
Valansa	N:m	Valans
,	PUNCT	,
gde	CONJ	gde
se	PAR	se
jasno	ADV	jasno
i	CONJ	i
glasno	ADV	glasno
kaže	N:f	kaža
da	CONJ	da
kad	CONJ	kad
neka	PRO	neki
stvar	N:f	stvar
postane	A:aem	postane
mit	N:m	mit
,	PUNCT	,
bez	PREP	bez
obzira	N:m	obzir
na	PREP	na
sve	PRO	sav
,	PUNCT	,
treba	N:f	treba
istrajavati	N:m	istrajavati
na	PREP	na
mitu	N:n	mito
,	PUNCT	,
a	CONJ	a
ne	PAR	ne
na	PREP	na
istini	N:f	istina
,	PUNCT	,
u	PREP	u
16	NUM	@card@
blokova	N:m	blok
insistira	V:n	insistira
se	PAR	se
na	PREP	na
istini	N:f	istina
;	SENT	;
kod	PREP	kod
Forda	N:m	Ford
se	PAR	se
prividnom	A:aef	prividan
racionalnošću	N:f	racionalnost
u	PREP	u
Liberti	N:m	Liberti
Valansu	N:m	Valans
zapravo	ADV	zapravo
rušio	V:m	rušiti
mit	N:m	mit
demokratije	N:f	demokratija
,	PUNCT	,
a	CONJ	a
kod	PREP	kod
Donnera	N:m	Donnera
se	PAR	se
u	PREP	u
16	NUM	@card@
blokova	N:m	blok
prividnom	A:aef	prividan
patetikom	N:f	patetika
mit	N:m	mit
nanovo	ADV	nanovo
gradi	N:m	grad
.	SENT	.
