Svako	PRO	svaki
,	PUNCT	,
ko	PRO	ko
ima	A:aem	ima
iole	ADV	iole
kvalitetan	A:aem	kvalitetan
kontakt	N:m	kontakt
sa	PREP	sa
modernom	A:aem	moderan
kniževnšću	N:m	kniževnšću
,	PUNCT	,
mora	N:n	more
se	PAR	se
složiti	A:aem	složiti
sa	PREP	sa
činjenicom	N:f	činjenica
da	CONJ	da
je	PRO	ona
Nik	N:m	Nik
Hornbi	N:m	Hornbi
(	PUNCT	(
Nick	A:aem	Nick
Hornby	N:m	Hornby
)	PUNCT	)
literarni	A:aem	literaran
Bog	N:m	bog
!	PUNCT	!
Način	A:aem	Način
na	PREP	na
koji	PRO	koji
,	PUNCT	,
putem	PREP	putem
krajnje	ADV	krajnje
jednostavnog	A:aen	jednostavan
narativa	N:m	narativa
,	PUNCT	,
oslikava	A:aen	oslikava
najsnažnije	A:cef	snažan
i	CONJ	i
najemotivnije	A:cen	emotivan
ljudske	A:aef	ljudski
priče	N:f	priča
,	PUNCT	,
zalazi	N:m	zalaz
u	PREP	u
podkulture	N:f	podkulture
modernih	A:aef	moderan
ljudi	N:m	ljudi
,	PUNCT	,
već	PAR	već
dugo	A:aen	dug
vremena	N:n	vreme
je	PRO	ona
predmet	N:m	predmet
uživanja	N:n	uživanje
i	CONJ	i
divljenja	N:n	divljenje
brojne	A:aem	brojni
čitalačke	A:aef	čitalački
publike	N:f	publika
.	SENT	.
Filmskim	A:aef	filmski
adaptacijama	N:f	adaptacija
njegovih	PRO	njegov
dela	N:n	delo
uspeh	N:m	uspeh
je	PRO	ona
zagarantovan	V:m	zagarantovati
,	PUNCT	,
prvenstveno	ADV	prvenstveno
zbog	PREP	zbog
besprekorne	A:aef	besprekoran
osnove	N:f	osnova
kao	CONJ	kao
i	CONJ	i
toga	PRO	taj
da	CONJ	da
Hornbi	N:m	Hornbi
redovno	A:aen	redovan
asistira	N:m	asistira
pri	PREP	pri
pisanju	N:n	pisanje
scenarija	N:m	scenario
i	CONJ	i
prisustvuje	N:m	prisustvuje
celokupnom	A:aem	celokupan
procesu	N:m	proces
stvaranja	N:n	stvaranje
.	SENT	.
Filmska	A:aef	filmski
priča	N:f	priča
”	A:aem	”
About	A:aem	About
a	CONJ	a
Boy	A:aem	Boy
”	N:m	”
,	PUNCT	,
u	PREP	u
režiji	N:f	režija
Pola	N:f	Pola
i	CONJ	i
Krisa	N:m	Kris
Veltza	N:m	Veltza
(	PUNCT	(
Chris	N:m	Chris
Weitz	N:m	Weitz
,	PUNCT	,
Paul	N:m	Paul
Weitz	N:m	Weitz
)	PUNCT	)
,	PUNCT	,
udžbenički	A:aem	udžbenički
je	PRO	ona
primer	N:m	primer
kako	CONJ	kako
se	PAR	se
od	PREP	od
fenomenalne	A:aef	fenomenalan
knjige	N:f	knjiga
stvara	N:m	stvara
još	ADV	još
bolji	A:bem	dobar
film	N:m	film
.	SENT	.
Priča	A:aem	Priča
prati	N:f	prati
dvanaestogodišnjeg	A:aen	dvanaestogodišnji
Markusa	N:m	Markus
i	CONJ	i
tridesetogodišnjeg	A:aem	tridesetogodišnji
Vila	N:m	Vil
,	PUNCT	,
dva	NUM	dva
”	A:aem	”
dečaka	N:m	dečak
”	A:aem	”
u	PREP	u
različitim	A:aef	različit
životnim	A:aem	životan
dobima	N:n	doba
ali	CONJ	ali
na	PREP	na
istom	A:aem	isti
nivou	N:m	nivo
emocionalnog	A:aen	emocionalan
razvoja	N:m	razvoj
.	SENT	.
Vil	N:m	Vil
provodi	N:m	provod
dane	N:m	dan
živeći	N:m	živeći
od	PREP	od
očevog	A:aen	očev
nekadašnjeg	A:aen	nekadašnji
muzičkog	A:aem	muzički
uspeha	N:m	uspeh
dok	CONJ	dok
Markus	N:m	Markus
jedva	ADV	jedva
preživljava	A:aen	preživljava
osnovnu	A:aen	osnovni
školu	N:f	škola
,	PUNCT	,
zbog	PREP	zbog
probleme	N:m	problem
sa	PREP	sa
uklapanjem	N:n	uklapanje
u	PREP	u
sredinu	N:f	sredina
kao	CONJ	kao
i	CONJ	i
iskustvo	N:n	iskustvo
sa	PREP	sa
problematičnom	A:aef	problematičan
majkom	N:f	majka
.	SENT	.
Kada	CONJ	kada
se	PAR	se
njihovi	PRO	njihov
životi	N:m	život
ukrste	V:m	ukrste
,	PUNCT	,
jedan	NUM	jedan
uz	PREP	uz
drugog	A:aem	drugi
otkriće	N:n	otkriće
da	CONJ	da
je	PRO	ona
ono	PRO	onaj
što	PRO	što
deluje	N:m	deluje
nerešivo	A:aen	nerešiv
,	PUNCT	,
krajnje	ADV	krajnje
ostvarljivo	A:aen	ostvarljiv
kao	CONJ	kao
i	CONJ	i
da	CONJ	da
je	PRO	ona
moguće	A:aem	moguć
steći	N:m	steći
prijatelja	N:m	prijatelj
u	PREP	u
osobi	N:f	osoba
od	PREP	od
koje	PRO	koji
to	PRO	taj
najmanje	ADV	najmanje
očekuješ	V:m	očekuješ
.	SENT	.
Može	N:m	Mog
se	PAR	se
svašta	PRO	svašta
reći	N:m	reći
za	PREP	za
Hju	N:m	Hju
Granta	N:m	Grant
(	PUNCT	(
Hugh	A:aem	Hugh
Grant	N:m	Grant
)	PUNCT	)
,	PUNCT	,
ali	CONJ	ali
da	CONJ	da
je	PRO	ona
loš	A:aem	loš
u	PREP	u
svom	PRO	sav
poslu	N:m	posao
nikako	ADV	nikako
.	SENT	.
Konstantnim	A:aem	konstantan
radom	N:m	rad
nas	PRO	mi
sebi	PRO	sebe
i	CONJ	i
mudrom	A:aef	mudar
improvizacijom	N:f	improvizacija
,	PUNCT	,
uspeo	V:m	uspeti
je	PRO	ona
da	CONJ	da
se	PAR	se
reši	A:aem	reši
često	ADV	često
nametanog	A:aem	nametan
epiteta	N:m	epitet
netalentovanosti	N:f	netalentovanost
i	CONJ	i
da	CONJ	da
pokaže	V:m	pokaže
da	CONJ	da
je	PRO	ona
izuzetno	ADV	izuzetno
koristan	A:aem	koristan
glumac	N:m	glumac
koji	PRO	koji
ume	N:m	um
da	CONJ	da
se	PAR	se
snađe	V:m	snađe
u	PREP	u
najraznovsnijim	A:cef	najraznovsnijim
situacijama	N:f	situacija
.	SENT	.
Verujem	N:m	Verujem
da	CONJ	da
je	PRO	ona
ovo	PRO	ovaj
njegov	PRO	njegov
najzreliji	A:cem	zreo
,	PUNCT	,
možda	PAR	možda
i	CONJ	i
najbolji	A:cem	dobar
,	PUNCT	,
performans	N:m	performans
u	PREP	u
karijeri	N:f	karijera
.	SENT	.
U	PREP	u
roli	N:f	rola
Vila	N:m	Vil
,	PUNCT	,
vidimo	A:aen	vidimo
nešto	PRO	nešto
što	PRO	što
nismo	N:f	nismo
imali	V:m	imati
prilike	N:f	prilika
u	PREP	u
Grantovoj	A:aef	Grantov
karijeri	N:f	karijera
orijentisanoj	A:aef	orijentisan
ka	PREP	ka
komediji	N:f	komedija
a	CONJ	a
to	PRO	taj
je	PRO	ona
razvoj	N:m	razvoj
lika	N:m	lik
.	SENT	.
Osetimo	N:f	Osetimo
Vilov	A:aem	Vilov
napredak	N:m	napredak
od	PREP	od
potpuno	ADV	potpuno
beznadežnog	A:aen	beznadežan
večitog	A:aen	večit
deteta	N:n	dete
,	PUNCT	,
sve	ADV	sve
do	PREP	do
muškarca	N:m	muškarac
koji	PRO	koji
konačno	ADV	konačno
odlučuje	N:m	odlučuje
da	CONJ	da
učestvuje	N:m	učestvuje
u	PREP	u
životu	N:m	život
oko	PREP	oko
sebe	PRO	sebe
.	SENT	.
Nasuprot	PREP	nasuprot
iskusnog	A:aem	iskusan
Granta	N:m	Grant
je	PRO	ona
Nikolas	N:m	Nikolas
Hult	N:m	Hult
(	PUNCT	(
Nicholas	A:aem	Nicholas
Hoult	N:m	Hoult
)	PUNCT	)
u	PREP	u
ulozi	N:f	uloga
Markusa	N:m	Markus
,	PUNCT	,
kojem	PRO	koji
je	PRO	ona
ovo	PRO	ovaj
bila	V:f	biti
prva	A:aen	prvi
veća	N:n	veće
uloga	N:f	uloga
.	SENT	.
Hult	N:m	Hult
je	PRO	ona
veliki	A:aem	velik
potencijal	N:m	potencijal
,	PUNCT	,
to	PRO	taj
je	PRO	ona
jasno	ADV	jasno
,	PUNCT	,
nadam	N:m	nadam
se	PAR	se
da	CONJ	da
će	A:aen	će
imati	N:f	imati
prave	A:aef	prav
prilike	N:f	prilika
u	PREP	u
budućnosti	N:f	budućnost
.	SENT	.
Markus	N:m	Markus
je	PRO	ona
neodoljivi	A:aem	neodoljiv
portret	N:m	portret
svih	PRO	sav
nas	PRO	mi
u	PREP	u
nekom	PRO	neki
periodu	N:m	period
života	N:m	život
,	PUNCT	,
kada	CONJ	kada
smo	N:f	smo
bili	V:m	biti
toliko	ADV	toliko
izgubljeni	A:aem	izgubljen
da	CONJ	da
,	PUNCT	,
ne	PAR	ne
samo	PAR	samo
da	CONJ	da
nismo	N:f	nismo
znali	V:m	znati
odgovore	N:m	odgovor
,	PUNCT	,
već	PAR	već
nismo	N:f	nismo
bili	V:m	biti
ni	PAR	ni
svesni	A:aem	svestan
koja	PRO	koji
su	N:m	su
pitanja	N:n	pitanje
.	SENT	.
U	PREP	u
sporednoj	A:aef	sporedan
ulozi	N:f	uloga
je	PRO	ona
uvek	ADV	uvek
sjajna	A:aem	sjajan
Toni	N:m	Toni
Kolet	N:f	Kolet
(	PUNCT	(
Toni	N:m	Toni
Collette	N:m	Collette
)	PUNCT	)
kao	CONJ	kao
Markusova	A:aem	Markusova
neuravnotežena	A:aef	neuravnotežen
majka	N:f	majka
Fijona	N:m	Fijona
.	SENT	.
”	A:aem	”
About	A:aem	About
a	CONJ	a
Boy	A:aem	Boy
”	A:aem	”
prevazilazi	N:m	prevazilazi
norme	N:f	norma
simpatičnog	A:aem	simpatičan
i	CONJ	i
dobija	N:n	dobija
drugu	A:aef	drugi
dimenziju	N:f	dimenzija
kako	CONJ	kako
se	PAR	se
priča	N:f	priča
razvija	N:f	razvija
.	SENT	.
Krajnje	ADV	krajnje
je	PRO	ona
duhovit	A:aem	duhovit
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
zbog	PREP	zbog
toga	PRO	taj
što	CONJ	što
igra	N:f	igra
na	PREP	na
kartu	N:f	karta
humora	N:m	humor
već	CONJ	već
je	PRO	ona
krajnje	ADV	krajnje
iskren	A:aem	iskren
po	PREP	po
pitanju	N:n	pitanje
ljudi	N:m	ljudi
i	CONJ	i
njihovih	PRO	njihov
slabosti	N:f	slabost
koje	PRO	koji
zaista	PAR	zaista
mogu	A:aem	mogu
da	CONJ	da
budu	A:aem	budu
smešne	A:aef	smešan
koliko	ADV	koliko
i	CONJ	i
istinite	A:aem	istinit
.	SENT	.
Mnogo	ADV	mnogo
mudrosti	N:f	mudrost
je	PRO	ona
izrečeno	V:n	izreći
u	PREP	u
ovom	PRO	ovaj
ostvarenju	N:n	ostvarenje
,	PUNCT	,
vaše	PRO	vaš
je	PRO	ona
samo	PAR	samo
da	CONJ	da
gledate	N:m	gledate
i	CONJ	i
upijate	N:m	upijate
.	SENT	.
