Nakon	PREP	nakon
zapaženih	A:aem	zapažen
filmova	N:m	film
Mladi	N:f	Mladi
Adam	N:m	Adam
i	CONJ	i
Azil	N:m	azil
,	PUNCT	,
David	N:m	David
Mackenzie	N:f	Mackenzie
se	PAR	se
,	PUNCT	,
uz	PREP	uz
žanrovske	A:aem	žanrovski
inovatore	N:m	inovator
Edgara	N:m	Edgar
Wrighta	N:f	Wrighta
i	CONJ	i
Neila	N:m	Neila
Marshalla	N:f	Marshalla
,	PUNCT	,
izdvojio	V:m	izdvojiti
kao	ADV	kao
jedan	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
novih	A:aef	nov
reditelja	N:m	reditelj
sa	PREP	sa
Ostrva	N:f	Ostrva
.	SENT	.
Halam	N:m	Halam
Fo	N:f	Fo
je	PRO	ona
Mackenzieva	A:aen	Mackenzieva
treća	A:aen	treći
adaptacija	N:f	adaptacija
u	PREP	u
nizu	N:m	niz
i	CONJ	i
ponovo	ADV	ponovo
je	PRO	ona
u	PREP	u
pitanju	N:n	pitanje
pun	A:aem	pun
pogodak	N:m	pogodak
-	PUNCT	-
idealan	A:aem	idealan
balans	N:m	balans
između	PREP	između
zanimljivog	A:aen	zanimljiv
festivalskog	A:aem	festivalski
filma	N:m	film
i	CONJ	i
kvalitetne	A:aef	kvalitetan
bioskopske	A:aef	bioskopski
zabave	N:f	zabava
.	SENT	.
U	PREP	u
pitanju	N:n	pitanje
je	PRO	ona
film	N:m	film
o	PREP	o
odrastanju	N:n	odrastanje
koji	PRO	koji
prati	N:f	prati
pomalo	ADV	pomalo
hamletovskog	A:aem	hamletovski
mladog	A:aen	mlad
junaka	N:m	junak
Halama	N:m	Halam
koji	PRO	koji
u	PREP	u
trenucima	N:m	trenutak
pomešane	A:aef	pomešan
mržnje	N:f	mržnja
i	CONJ	i
žudnje	N:f	žudnja
spram	PREP	spram
maćehe	N:f	maćeha
Veriti	N:m	Veriti
(	PUNCT	(
skoro	ADV	skoro
neprepoznatljiva	A:aem	neprepoznatljiv
Claire	N:m	Claire
Forlani	N:m	Forlani
u	PREP	u
za	PREP	za
nju	PRO	ona
netipičnoj	A:aef	netipičan
ulozi	N:f	uloga
)	PUNCT	)
koju	PRO	koji
sumnjiči	N:f	sumnjiči
da	CONJ	da
mu	PRO	on
je	PRO	ona
ubila	V:f	ubiti
majku	N:f	majka
,	PUNCT	,
a	CONJ	a
za	PREP	za
koju	PRO	koji
je	PRO	ona
Halam	N:m	Halam
bio	V:m	biti
izuzetno	ADV	izuzetno
vezan	A:aem	vezan
,	PUNCT	,
odlučuje	N:m	odlučuje
da	CONJ	da
pobegne	N:m	pobegne
od	PREP	od
svega	PRO	sav
.	SENT	.
Ukrcava	A:aem	Ukrcava
se	PAR	se
na	PREP	na
voz	N:m	voz
za	PREP	za
Edinburg	N:m	Edinburg
bez	PREP	bez
ikakvog	PRO	ikakav
plana	N:m	plan
i	CONJ	i
igrom	N:f	igra
slučaja	N:m	slučaj
sreće	N:f	sreća
lepu	A:aen	lep
Kejt	N:f	Kejt
koja	PRO	koji
neodoljivo	ADV	neodoljivo
podseća	V:m	podseća
na	PREP	na
njegovu	PRO	njegov
pokojnu	A:aef	pokojni
majku	N:f	majka
.	SENT	.
Odnos	N:m	odnos
između	PREP	između
Halama	N:m	Halam
i	CONJ	i
Kejt	N:f	Kejt
je	PRO	ona
sve	PRO	sav
samo	PAR	samo
ne	PAR	ne
jednostavan	A:aem	jednostavan
.	SENT	.
Halamova	A:aef	Halamov
navika	N:f	navika
/	A:aem	/
hobi	N:m	hobi
da	CONJ	da
špijunira	N:m	špijunira
ljude	N:m	ljudi
(	PUNCT	(
pa	CONJ	pa
i	CONJ	i
Kejt	N:f	Kejt
)	PUNCT	)
,	PUNCT	,
haotični	A:aem	haotičan
emotivni	A:aem	emotivan
život	N:m	život
same	PRO	sam
Kejt	N:f	Kejt
,	PUNCT	,
kao	CONJ	kao
i	CONJ	i
Halamova	A:aef	Halamov
Edipalna	A:aef	Edipalna
zbunjenost	N:f	zbunjenost
doprinose	N:m	doprinos
tome	PRO	taj
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
sve	PRO	sav
to	PRO	taj
pomaže	A:aem	pomaže
Halamu	N:m	Halam
da	CONJ	da
preseče	N:m	presek
neke	PRO	neki
stvari	N:f	stvar
i	CONJ	i
da	CONJ	da
se	PAR	se
izvuče	V:m	izvuče
iz	PREP	iz
vrtloga	N:m	vrtlog
protivrečnih	A:aef	protivrečan
emocija	N:f	emocija
i	CONJ	i
pronađe	N:m	pronađe
(	PUNCT	(
makar	CONJ	makar
privremeno	ADV	privremeno
)	PUNCT	)
svoj	PRO	sav
kutak	N:m	kutak
u	PREP	u
svetu	N:m	svet
sa	PREP	sa
kojim	PRO	koji
je	PRO	ona
do	PREP	do
tada	ADV	tada
uglavnom	ADV	uglavnom
komunicirao	V:m	komunicirati
voajerski	A:aem	voajerski
,	PUNCT	,
kroz	PREP	kroz
dvogled	N:m	dvogled
,	PUNCT	,
držeći	A:aem	držeći
se	PAR	se
na	PREP	na
bezbednoj	A:aef	bezbedan
udaljenosti	N:f	udaljenost
.	SENT	.
Duhoviti	A:aem	duhovit
dijalozi	N:m	dijalog
i	CONJ	i
odlična	A:aen	odličan
gluma	N:f	gluma
svih	PRO	sav
aktera	N:m	akter
(	PUNCT	(
a	CONJ	a
posebno	ADV	posebno
Jamie	A:aem	Jamie
Bell	N:m	Bell
u	PREP	u
naslovnoj	A:aef	naslovni
ulozi	N:f	uloga
)	PUNCT	)
,	PUNCT	,
uz	PREP	uz
standardno	ADV	standardno
sigurnu	A:aef	siguran
Mackenzijevu	A:aef	Mackenzijevu
režiju	N:f	režija
krunisani	A:aem	krunisan
su	N:m	su
odličnim	A:aef	odličan
saundtrekom	N:m	saundtrekom
koji	PRO	koji
će	N:f	će
se	PAR	se
preslušavati	A:aem	preslušavati
i	CONJ	i
preslušavati	A:aem	preslušavati
.	PUNCT	.
.	SENT	.
.	PUNCT	.
