Reče	N:m	Reče
jednom	NUM	jedan
mudro	A:aen	mudar
jedan	NUM	jedan
naš	PRO	naš
čitalac	N:m	čitalac
kako	CONJ	kako
danas	ADV	danas
„	N:m	„
svako	PRO	svaki
ko	PRO	ko
kupi	N:f	kupa
aparat	N:m	aparat
od	PREP	od
xy	N:m	xy
-	PUNCT	-
megapixela	N:m	megapixela
odmah	ADV	odmah
postaje	N:f	postaja
’	A:aem	’
umetnik	N:m	umetnik
’	A:aem	’
“	N:m	“
.	SENT	.
Fantastične	A:aem	Fantastične
tehničke	A:aef	tehnički
mogućnosti	N:f	mogućnost
zaista	PAR	zaista
danas	ADV	danas
često	ADV	često
predstavljaju	N:m	predstavljaju
paravan	N:m	paravan
iza	PREP	iza
koga	PRO	koji
se	PAR	se
skrivaju	N:f	skrivaju
oni	PRO	onaj
kojima	PRO	koji
bog	N:m	bog
nije	V:m	nije
dao	V:m	dati
talenta	N:m	talent
,	PUNCT	,
a	CONJ	a
oni	PRO	onaj
bi	N:f	bi
jako	ADV	jako
želeli	V:m	želeti
da	CONJ	da
se	PAR	se
bave	A:aem	bave
umetnošću	N:f	umetnost
.	SENT	.
Maria	N:f	Maria
Larsson	N:m	Larsson
(	PUNCT	(
Heiskanen	N:m	Heiskanen
)	PUNCT	)
,	PUNCT	,
švedska	A:aef	švedski
radnica	N:f	radnica
sa	PREP	sa
početka	N:m	početak
20	NUM	@card@
.	PUNCT	.
veka	N:m	vek
,	PUNCT	,
nije	V:f	nije
imala	V:f	imati
hi	INT	hi
-	PUNCT	-
tech	A:aef	tech
prednosti	N:f	prednost
,	PUNCT	,
bar	PAR	bar
ne	PAR	ne
sa	PREP	sa
naše	PRO	naš
tačke	N:f	tačka
gledišta	N:n	gledište
(	PUNCT	(
imala	V:f	imati
je	PRO	ona
,	PUNCT	,
za	PREP	za
ono	PRO	onaj
vreme	N:n	vreme
,	PUNCT	,
više	ADV	više
nego	CONJ	nego
solidan	A:aem	solidan
aparat	N:m	aparat
)	PUNCT	)
,	PUNCT	,
a	CONJ	a
još	ADV	još
manje	ADV	manje
je	PRO	ona
imala	V:f	imati
pretenzije	N:f	pretenzija
da	CONJ	da
se	PAR	se
bavi	N:n	bavi
bilo	V:n	biti
čime	PRO	šta
sem	PREP	sem
porodicom	N:f	porodica
.	SENT	.
Ali	CONJ	ali
je	PRO	ona
imala	V:f	imati
nešto	ADV	nešto
što	CONJ	što
nema	A:aem	nem
svako	PRO	svaki
,	PUNCT	,
a	CONJ	a
to	PRO	taj
je	PRO	ona
dar	N:m	dar
da	CONJ	da
primeti	N:m	primeti
ono	PRO	onaj
što	CONJ	što
ne	PAR	ne
primećuje	N:m	primećuje
obično	ADV	obično
oko	PREP	oko
.	SENT	.
Sa	PREP	sa
mužem	N:m	muž
alkoholičarem	N:m	alkoholičarem
(	PUNCT	(
Persbrandt	N:f	Persbrandt
)	PUNCT	)
i	CONJ	i
čoporom	N:m	čopor
dece	N:f	deca
(	PUNCT	(
koji	PRO	koji
do	PREP	do
kraja	N:m	kraj
filma	N:m	film
naraste	A:aem	naraste
do	PREP	do
sedmoro	NUM	sedmoro
)	PUNCT	)
,	PUNCT	,
prinuđena	V:n	prinuditi
je	PRO	ona
da	CONJ	da
danju	ADV	danju
pere	N:m	Pera
i	CONJ	i
čisti	A:aem	čist
kod	PREP	kod
drugih	A:aen	drugi
a	CONJ	a
uveče	ADV	uveče
šije	N:f	šija
da	CONJ	da
bi	A:aem	bi
mogla	V:n	moći
da	CONJ	da
izdržava	N:f	izdržava
porodicu	N:f	porodica
.	SENT	.
Uz	PREP	uz
pomoć	N:f	pomoć
šarmantnog	A:aem	šarmantan
danskog	A:aem	danski
fotografa	N:m	fotograf
(	PUNCT	(
Christensen	N:m	Christensen
)	PUNCT	)
,	PUNCT	,
Maria	N:f	Maria
u	PREP	u
fotografiji	N:f	fotografija
pronalazi	N:m	pronalazi
beg	N:m	beg
od	PREP	od
sive	A:aef	siv
svakodnevice	N:f	svakodnevica
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
redefiniše	A:aem	redefiniše
sopstveni	A:aem	sopstven
identitet	N:m	identitet
.	SENT	.
Ipak	PAR	ipak
,	PUNCT	,
ona	PRO	ona
bira	N:f	bira
da	CONJ	da
pre	PREP	pre
svega	PRO	sav
ostane	N:m	ostane
majka	N:f	majka
,	PUNCT	,
što	CONJ	što
u	PREP	u
njenom	PRO	njen
slučaju	N:m	slučaj
nipošto	ADV	nipošto
nije	A:aem	nije
kao	CONJ	kao
konformizam	N:m	konformizam
,	PUNCT	,
već	PAR	već
surova	A:aef	surov
realnost	N:f	realnost
vremena	N:n	vreme
u	PREP	u
kom	PRO	koji
je	PRO	ona
živela	V:m	živeti
.	SENT	.
Zato	ADV	zato
priča	N:f	priča
o	PREP	o
njoj	PRO	ona
i	CONJ	i
njenoj	PRO	njen
kameri	N:f	kamera
čini	N:f	čini
u	PREP	u
stvari	N:f	stvar
samo	CONJ	samo
deo	N:m	deo
veće	N:n	veće
porodične	A:aef	porodičan
sage	N:f	saga
u	PREP	u
periodu	N:m	period
od	PREP	od
10	NUM	@card@
godina	N:f	godina
,	PUNCT	,
prožetu	A:aef	prožet
turbulentnim	A:aef	turbulentan
istorijskim	A:aef	istorijski
događajima	N:m	događaj
s	PREP	s
početka	N:m	početak
prošlog	A:aen	prošli
veka	N:m	vek
.	SENT	.
Troell	N:m	Troell
perfidno	A:aen	perfidan
koristi	N:f	korist
okvir	N:m	okvir
intimne	A:aef	intiman
porodične	A:aef	porodičan
priče	N:f	priča
da	CONJ	da
bi	N:f	bi
prokomentarisao	V:m	prokomentarisati
mnoge	A:aef	mnogi
pojave	N:f	pojava
u	PREP	u
tadašnjem	A:aem	tadašnji
švedskom	A:aem	švedski
društvu	N:n	društvo
,	PUNCT	,
počev	A:aem	počev
od	PREP	od
trezvenjačkih	A:aen	trezvenjački
udruženja	N:n	udruženje
,	PUNCT	,
preko	PREP	preko
socijalizma	N:m	socijalizam
do	PREP	do
emigracije	N:f	emigracija
u	PREP	u
Ameriku	N:f	Amerika
,	PUNCT	,
a	CONJ	a
sve	PRO	sav
iz	PREP	iz
perspektive	N:f	perspektiva
onih	PRO	onaj
kojima	PRO	koji
je	PRO	ona
„	A:aem	„
belle	N:m	belle
epoque	N:f	epoque
“	N:m	“
bila	V:f	biti
sve	PRO	sav
samo	PAR	samo
ne	PAR	ne
„	A:aem	„
belle	A:aem	belle
“	N:m	“
.	SENT	.
Međutim	A:aen	Međutim
,	PUNCT	,
iako	CONJ	iako
je	PRO	ona
ponekad	ADV	ponekad
zaista	ADV	zaista
težak	A:aem	težak
za	PREP	za
gledanje	N:n	gledanje
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
ne	PAR	ne
pretenduje	N:f	pretenduje
da	CONJ	da
bude	A:aem	bude
tragičan	A:aem	tragičan
ili	CONJ	ili
sumoran	A:aem	sumoran
.	PUNCT	.
Kao	CONJ	kao
lepota	N:f	lepota
finske	A:aef	finski
glumice	N:f	glumica
Mariae	N:f	Mariae
Heiskanen	N:m	Heiskanen
,	PUNCT	,
i	CONJ	i
lepota	N:f	lepota
ovog	PRO	ovaj
filma	N:m	film
je	PRO	ona
nenametljiva	A:aen	nenametljiv
i	CONJ	i
nepretenciozna	A:aen	nepretenciozan
.	SENT	.
Snimljen	V:m	snimiti
u	PREP	u
nežnim	A:aem	nežan
sepia	A:aem	sepia
tonovima	N:m	ton
,	PUNCT	,
on	PRO	on
gotovo	ADV	gotovo
da	CONJ	da
izgleda	N:m	izgled
kao	CONJ	kao
nemi	A:aem	nem
film	N:m	film
iz	PREP	iz
epohe	N:f	epoha
,	PUNCT	,
čemu	PRO	šta
nemalo	A:aen	nemali
doprinosi	N:m	doprinos
i	CONJ	i
opčinjavajuća	A:aef	opčinjavajući
muzika	N:f	muzika
Matti	A:aem	Matti
Byea	N:m	Byea
.	SENT	.
Jan	N:m	Jan
Troell	N:m	Troell
nam	PRO	mi
poručuje	N:m	poručuje
da	CONJ	da
se	PAR	se
lepota	N:f	lepota
ponekad	ADV	ponekad
nalazi	N:m	nalaz
tamo	ADV	tamo
gde	CONJ	gde
je	PRO	ona
najmanje	ADV	najmanje
očekujemo	A:aen	očekujemo
.	SENT	.
