Da	CONJ	da
li	PAR	li
možete	A:aem	možete
da	CONJ	da
zamsilite	N:m	zamsilite
sebe	PRO	sebe
da	CONJ	da
živite	N:m	živite
u	PREP	u
zoni	N:f	zona
večitog	A:aem	večit
fizičkog	A:aem	fizički
,	PUNCT	,
a	CONJ	a
samim	PRO	sam
tim	N:m	tim
i	CONJ	i
psihičkog	A:aen	psihički
ograničenja	N:n	ograničenje
.	SENT	.
Gde	CONJ	gde
su	N:m	su
fizički	A:aem	fizički
pokreti	N:m	pokret
inferioriniji	N:f	inferioriniji
a	CONJ	a
celokupni	A:aem	celokupan
dometi	N:m	domet
unapred	ADV	unapred
desetkovani	V:m	desetkovati
,	PUNCT	,
u	PREP	u
odnosu	N:m	odnos
na	PREP	na
vašu	PRO	vaš
okolini	N:f	okolina
.	PUNCT	.
Da	CONJ	da
vas	PRO	vi
svi	PRO	sav
ili	CONJ	ili
barem	PAR	barem
većina	N:f	većina
posmatra	N:f	posmatra
sa	PREP	sa
sažaljnjem	N:n	sažaljnjem
ili	CONJ	ili
gađenjem	N:n	gađenje
,	PUNCT	,
da	CONJ	da
je	PRO	ona
vaše	PRO	vaš
samopouzdanje	N:n	samopouzdanje
svakodnevno	ADV	svakodnevno
ugroženo	V:n	ugroziti
,	PUNCT	,
često	ADV	često
i	CONJ	i
od	PREP	od
vas	PRO	vi
samih	PRO	sam
,	PUNCT	,
da	CONJ	da
provodite	N:m	provodite
dane	N:m	dan
potpuno	ADV	potpuno
svesni	A:aem	svestan
da	CONJ	da
kvalitet	N:m	kvalitet
vašeg	PRO	vaš
života	N:m	život
nikada	ADV	nikada
neće	A:aen	neće
dostići	N:n	dostići
onaj	PRO	onaj
minimum	N:m	minimum
,	PUNCT	,
dostojan	A:aem	dostojan
svakog	PRO	svaki
čoveka	N:m	čovek
.	SENT	.
Kada	CONJ	kada
zamislite	N:f	zamislite
sve	PRO	sav
to	PRO	taj
,	PUNCT	,
na	PREP	na
momenat	N:m	moment
zaboravite	A:aem	zaboravite
vaš	PRO	vaš
lični	A:aem	ličan
pogled	N:m	pogled
na	PREP	na
sopstvene	A:aef	sopstven
životne	A:aem	životan
mogućnosti	N:f	mogućnost
i	CONJ	i
postavite	N:m	postavite
se	PAR	se
u	PREP	u
kožu	N:f	koža
onih	PRO	onaj
,	PUNCT	,
unapred	ADV	unapred
uskraćenih	A:aem	uskraćen
za	PREP	za
brojne	A:aem	brojni
prilike	N:f	prilika
.	PUNCT	.
Tek	CONJ	tek
tada	ADV	tada
nećete	N:m	nećete
biti	N:f	bit
spremni	A:aem	spreman
samo	CONJ	samo
da	CONJ	da
pogledate	A:aem	pogledate
„	N:m	„
The	INT	The
Sessions	N:m	Sessions
“	N:m	“
već	CONJ	već
i	CONJ	i
da	CONJ	da
iz	PREP	iz
čitavog	A:aen	čitav
iskustva	N:n	iskustvo
nešto	PRO	nešto
naučite	N:m	naučite
.	SENT	.
Hendikepiranost	N:f	hendikepiranost
ili	CONJ	ili
ljudi	N:m	ljudi
sa	PREP	sa
posebnim	A:aef	poseban
potrebama	N:f	potreba
,	PUNCT	,
je	PRO	ona
najveća	A:cef	velik
nepravda	N:f	nepravda
od	PREP	od
svih	PRO	sav
.	SENT	.
Oštećeni	A:aem	Oštećeni
a	CONJ	a
niko	PRO	niko
nije	A:aem	nije
kriv	A:aem	kriv
za	PREP	za
to	PRO	taj
.	SENT	.
Život	N:m	Život
im	PRO	ona
se	PAR	se
prečesto	ADV	prečesto
svodi	V:m	svodi
na	PREP	na
fiziološke	A:aef	fiziološki
potrebe	N:f	potreba
i	CONJ	i
odlaske	N:m	odlazak
kod	PREP	kod
lekara	N:m	lekar
.	SENT	.
Redovno	A:aen	redovan
bivaju	N:f	bivaju
pitani	V:m	pitati
boli	V:m	bosti
li	PAR	li
ih	PRO	ona
i	CONJ	i
da	CONJ	da
li	PAR	li
im	PRO	ona
nešto	PRO	nešto
treba	N:f	treba
.	SENT	.
Veoma	ADV	veoma
retko	ADV	retko
čuju	N:f	čuju
:	SENT	:
„	A:aem	„
Da	N:m	Da
li	PAR	li
želiš	V:n	želiš
nešto	ADV	nešto
?	PUNCT	?
“	A:aem	“
Sve	N:m	Sve
ovo	PRO	ovaj
zvuči	N:f	zvuči
vrlo	ADV	vrlo
tmurno	A:aen	tmuran
,	PUNCT	,
čak	PAR	čak
depresivno	A:aen	depresivan
.	PUNCT	.
I	CONJ	i
pored	PREP	pored
svega	PRO	sav
,	PUNCT	,
Ben	N:m	Ben
Levinov	A:aem	Levinov
„	N:m	„
The	INT	The
Sessions	N:m	Sessions
“	A:aem	“
ostaje	N:n	ostaje
dobrim	A:aef	dobar
delom	N:m	deo
zabavan	A:aem	zabavan
film	N:m	film
,	PUNCT	,
sa	PREP	sa
perfektnim	A:aem	perfektnim
balansom	N:m	balans
između	PREP	između
respekta	N:m	respekt
prema	PREP	prema
bolnoj	A:aef	bolan
tematici	N:f	tematika
i	CONJ	i
približavanja	N:n	približavanje
prosečnom	A:aen	prosečan
gledaocu	N:m	gledalac
.	SENT	.
Imamo	N:m	Imamo
priču	N:f	priča
o	PREP	o
Marku	N:f	Marka
O	A:aem	O
’	A:aem	’
Brajanu	N:m	Brajan
(	PUNCT	(
John	N:m	John
Hawkes	N:m	Hawkes
)	PUNCT	)
,	PUNCT	,
obolelom	A:aem	oboleo
od	PREP	od
dečije	A:aem	dečiji
paralize	N:f	paraliza
u	PREP	u
šestoj	A:aef	šesti
godini	N:f	godina
života	N:m	život
.	SENT	.
Provodi	N:m	provod
dane	N:m	dan
u	PREP	u
mašini	N:f	mašina
,	PUNCT	,
bez	PREP	bez
koje	PRO	koji
inače	PAR	inače
ne	PAR	ne
bi	V:m	bi
mogao	V:m	moći
da	CONJ	da
diše	N:f	diša
,	PUNCT	,
sa	PREP	sa
mogućnošću	N:f	mogućnost
da	CONJ	da
u	PREP	u
spoljašnjem	A:aen	spoljašnji
svetu	A:aen	svet
provede	N:m	provede
svega	ADV	svega
nekoliko	ADV	nekoliko
sati	N:f	sat
.	SENT	.
Redovno	ADV	redovno
odlazi	N:m	odlazi
u	PREP	u
crkvu	N:f	crkva
,	PUNCT	,
prvenstveno	ADV	prvenstveno
da	CONJ	da
bi	N:f	bi
sam	PRO	sam
sebe	PRO	sebe
shvatao	V:m	shvatati
kroz	PREP	kroz
život	N:m	život
.	SENT	.
Zamera	N:m	Zamera
Bogu	N:m	bog
što	CONJ	što
je	PRO	ona
“	N:m	“
ovo	PRO	ovaj
od	PREP	od
njega	PRO	on
napravio	V:m	napraviti
”	N:m	”
!	SENT	!
U	PREP	u
jednom	NUM	jedan
momentu	N:m	moment
govori	N:m	govor
kako	CONJ	kako
„	A:aem	„
On	A:aem	On
“	N:m	“
ima	V:m	ima
vrlo	ADV	vrlo
poremećen	A:aem	poremećen
smisao	N:m	smisao
za	PREP	za
humor	N:m	humor
.	PUNCT	.
Verujem	N:m	Verujem
da	CONJ	da
će	N:m	će
kroz	PREP	kroz
nekoliko	ADV	nekoliko
godina	N:f	godina
većina	N:f	većina
znati	V:m	znati
ime	N:n	ime
Džona	N:m	Džon
Hoksa	N:m	Hoks
.	SENT	.
Sa	PREP	sa
probijanjem	N:n	probijanje
u	PREP	u
filmu	N:m	film
„	A:aem	„
Winter	N:m	Winter
’	N:m	’
s	PREP	s
Bone	N:m	Bon
“	N:m	“
,	PUNCT	,
ulogom	N:f	uloga
koja	PRO	koji
mu	PRO	on
je	PRO	ona
donela	V:f	doneti
nominaciju	N:f	nominacija
za	PREP	za
Oskara	N:m	Oskar
,	PUNCT	,
pokazao	V:m	pokazati
se	PAR	se
kao	CONJ	kao
glumac	N:m	glumac
sposoban	A:aem	sposoban
za	PREP	za
raznovrsne	A:aem	raznovrstan
uloge	N:f	uloga
.	SENT	.
Sada	ADV	sada
je	PRO	ona
dostigao	V:m	dostignuti
novi	A:aem	nov
vrhunac	N:m	vrhunac
,	PUNCT	,
uloga	N:f	uloga
Marka	N:f	Marka
je	PRO	ona
bila	V:f	biti
zahtevna	A:aen	zahtevan
ne	PAR	ne
samo	PAR	samo
na	PREP	na
fizičkom	A:aef	fizički
već	CONJ	već
i	CONJ	i
na	PREP	na
mentalnom	A:aef	mentalan
i	CONJ	i
psihološkom	A:aem	psihološki
planu	N:m	plan
.	SENT	.
Gledamo	N:f	Gledamo
čoveka	N:m	čovek
i	CONJ	i
znamo	N:m	znamo
da	CONJ	da
bi	N:m	bi
trebalo	V:n	trebati
da	CONJ	da
ga	PRO	on
sažaljevamo	N:f	sažaljevamo
,	PUNCT	,
ali	CONJ	ali
Hoksova	A:aef	Hoksov
intonacija	N:f	intonacija
često	ADV	često
humorističnog	A:aem	humorističan
dijaloga	N:m	dijalog
,	PUNCT	,
navodi	N:m	navod
nas	PRO	mi
da	CONJ	da
vidimo	A:aen	vidimo
glavnog	A:aen	glavnog
protagonistu	N:m	protagonista
kao	CONJ	kao
ono	PRO	onaj
što	CONJ	što
jeste	INT	jeste
-	PUNCT	-
čovek	N:m	čovek
sa	PREP	sa
potrebama	N:f	potreba
i	CONJ	i
očekivanjima	N:n	očekivanje
kao	CONJ	kao
i	CONJ	i
svi	PRO	sav
mi	PRO	ja
.	SENT	.
Hoks	N:m	Hoks
nikako	PAR	nikako
ne	PAR	ne
dostiže	A:aem	dostiže
dimenzije	N:f	dimenzija
kao	CONJ	kao
Danijel	N:m	Danijel
Dej	N:m	Dej
Luis	N:m	Luis
(	PUNCT	(
Daniel	N:f	Daniel
Day	N:m	Day
-	PUNCT	-
Lewis	N:m	Lewis
)	PUNCT	)
u	PREP	u
„	N:m	„
My	A:aem	My
Left	N:m	Left
Foot	N:m	Foot
“	A:aem	“
ali	CONJ	ali
pruža	A:aem	pruža
nezaboravan	A:aem	nezaboravan
karakter	N:m	karakter
.	SENT	.
Radnja	N:f	radnja
počinje	N:f	počinje
kada	CONJ	kada
Mark	N:m	Mark
oseti	N:m	oset
da	CONJ	da
verovatno	ADV	verovatno
nema	A:aem	nem
još	ADV	još
mnogo	ADV	mnogo
vremena	N:n	vreme
jer	CONJ	jer
sa	PREP	sa
trideset	NUM	trideset
devet	NUM	devet
godina	N:f	godina
on	PRO	on
je	PRO	ona
već	PAR	već
ušao	V:m	ući
u	PREP	u
prosečan	A:aem	prosečan
životni	A:aem	životan
vek	N:m	vek
za	PREP	za
nekoga	PRO	neki
sa	PREP	sa
tom	PRO	taj
bolešću	N:f	bolest
.	SENT	.
Stoga	ADV	stoga
,	PUNCT	,
želi	V:m	žeti
da	CONJ	da
proživi	A:aem	proživi
i	CONJ	i
iskusi	N:m	iskusi
onu	PRO	onaj
najprirodniju	A:cef	prirodan
ljudsku	A:aef	ljudski
potrebu	N:f	potreba
.	SENT	.
Obraća	N:m	Obraća
se	PAR	se
svom	PRO	sav
svešteniku	N:m	sveštenik
Ocu	A:aem	Ocu
Brendanu	N:m	Brendan
,	PUNCT	,
kojeg	PRO	koji
trijumfalno	A:aen	trijumfalan
tumači	N:m	tumač
Vilijam	N:m	Vilijam
Mejsi	N:f	Mejsi
(	PUNCT	(
William	N:m	William
H	ABB	H
.	PUNCT	.
Macy	N:m	Macy
)	PUNCT	)
,	PUNCT	,
tražeći	A:aem	tražeći
savet	N:m	savet
.	SENT	.
Dolazi	N:m	dolaz
do	PREP	do
rešenja	N:n	rešenje
u	PREP	u
pronašavši	A:aem	pronašavši
seks	N:m	seks
surogat	N:m	surogat
,	PUNCT	,
neku	PRO	neki
vrstu	N:f	vrsta
učitelja	N:m	učitelj
specijalizovanog	A:aem	specijalizovan
za	PREP	za
intimu	N:f	intima
.	PUNCT	.
Počinje	N:f	Počinje
da	CONJ	da
radi	PREP	radi
sa	PREP	sa
Šeril	N:f	Šeril
Koen	N:m	Koen
Grin	N:m	Grin
(	PUNCT	(
Helen	N:f	Helen
Hunt	N:m	Hunt
)	PUNCT	)
.	SENT	.
Njihov	PRO	njihov
odnos	N:m	odnos
se	PAR	se
razvija	A:bem	razvija
od	PREP	od
čisto	ADV	čisto
profesionalnog	A:aem	profesionalan
,	PUNCT	,
pri	PREP	pri
čemu	PRO	šta
se	PAR	se
u	PREP	u
filmu	N:m	film
jasno	ADV	jasno
navode	N:m	navod
razlike	N:f	razlika
između	PREP	između
prostitucije	N:f	prostitucija
i	CONJ	i
ovog	PRO	ovaj
zanimanja	N:n	zanimanje
,	PUNCT	,
sve	ADV	sve
do	PREP	do
bliskog	A:aem	blizak
što	CONJ	što
i	CONJ	i
nije	A:aem	nije
toliko	ADV	toliko
iznenađujuće	ADV	iznenađujuće
.	SENT	.
Helen	N:f	Helen
Hant	N:m	Hant
će	A:aem	će
mi	PRO	ja
ostati	N:m	ostati
u	PREP	u
sećanju	N:n	sećanje
,	PUNCT	,
njena	PRO	njen
uloga	N:f	uloga
je	PRO	ona
bez	PREP	bez
zamerke	N:f	zamerka
!	PUNCT	!
Vrlo	ADV	vrlo
taktično	A:aen	taktičan
i	CONJ	i
suptilno	A:aen	suptilan
,	PUNCT	,
odigrala	V:f	odigrati
je	PRO	ona
ženu	N:f	žena
sa	PREP	sa
dve	NUM	dva
privatnosti	N:f	privatnost
u	PREP	u
svom	PRO	sav
životu	N:m	život
sa	PREP	sa
svojom	PRO	svoj
porodicom	N:f	porodica
i	CONJ	i
te	PRO	taj
koju	PRO	koji
redovno	ADV	redovno
ostvaruje	N:m	ostvaruje
sa	PREP	sa
svojim	PRO	svoj
klijentima	N:m	klijent
,	PUNCT	,
postepeno	ADV	postepeno
kreirajući	V:m	kreirajući
njen	PRO	njen
stav	N:m	stav
prema	PREP	prema
Marku	N:f	Marka
od	PREP	od
vrlo	ADV	vrlo
emocionalno	ADV	emocionalno
distanciranog	A:aem	distanciran
sve	ADV	sve
do	PREP	do
momenta	N:m	moment
kada	CONJ	kada
prevagne	N:m	prevagne
:	SENT	:
„	A:aem	„
Svi	N:f	Svi
smo	N:f	smo
mi	PRO	ja
ljudi	N:m	ljudi
“	N:m	“
.	SENT	.
„	A:aem	„
The	INT	The
Sessions	N:m	Sessions
“	N:m	“
je	PRO	ona
dobrim	A:aef	dobar
delom	N:m	deo
i	CONJ	i
film	N:m	film
o	PREP	o
različitim	A:aef	različit
ženama	N:f	žena
,	PUNCT	,
tj	ABB	tj
.	SENT	.
njihovim	PRO	njihov
doživljajima	N:m	doživljaj
Marka	N:f	Marka
.	SENT	.
Prvo	ADV	prvo
je	PRO	ona
tu	PRO	taj
bila	V:f	biti
njegova	PRO	njegov
pomoćnica	N:f	pomoćnica
,	PUNCT	,
koja	PRO	koji
ga	PRO	on
je	PRO	ona
tretirala	V:n	tretirati
kao	ADV	kao
nakazu	N:f	nakaza
.	SENT	.
Zatim	ADV	zatim
je	PRO	ona
usledila	V:n	uslediti
Amanda	N:f	Amanda
,	PUNCT	,
bila	V:f	biti
je	PRO	ona
lepa	A:aef	lep
i	CONJ	i
smejala	V:f	smejati
se	PAR	se
njegovim	PRO	njegov
šalama	N:f	šala
,	PUNCT	,
ali	CONJ	ali
je	PRO	ona
sve	PAR	sve
ostalo	V:n	ostati
na	PREP	na
tome	PRO	taj
.	SENT	.
Šeril	N:f	Šeril
ga	PRO	on
je	PRO	ona
prva	A:aen	prvi
zaista	ADV	zaista
pogledala	V:f	pogledati
,	PUNCT	,
shvatila	V:f	shvatiti
ko	PRO	ko
je	PRO	ona
on	PRO	on
i	PAR	i
pomogla	V:f	pomoći
da	CONJ	da
do	PREP	do
kraja	N:m	kraj
razume	N:m	razum
samog	PRO	sam
sebe	PRO	sebe
i	CONJ	i
Suzan	N:f	Suzan
koja	PRO	koji
je	PRO	ona
ostala	V:m	ostati
sa	PREP	sa
njim	PRO	on
do	PREP	do
kraja	N:m	kraj
.	SENT	.
Čitava	A:aem	Čitava
paleta	N:f	paleta
žena	N:f	žena
i	CONJ	i
emocija	N:f	emocija
,	PUNCT	,
koje	PRO	koji
su	N:m	su
varirale	V:f	varirati
od	PREP	od
neuzvraćenih	A:aem	neuzvraćen
pa	CONJ	pa
sve	ADV	sve
do	PREP	do
potpuno	ADV	potpuno
uzajamnih	A:aen	uzajaman
.	SENT	.
Nećete	N:m	Nećete
videti	N:f	videti
jednistveniji	N:f	jednistveniji
film	N:m	film
u	PREP	u
skorije	A:ben	skori
vreme	N:n	vreme
,	PUNCT	,
tema	N:f	tema
kojom	PRO	koji
se	PAR	se
bavi	V:n	bavi
je	PRO	ona
krajnje	ADV	krajnje
škakljiva	A:aen	škakljiv
,	PUNCT	,
iznešena	V:n	iznešena
silovito	ADV	silovito
ali	CONJ	ali
sa	PREP	sa
pažnjom	N:f	pažnja
u	PREP	u
detaljima	N:m	detalj
i	CONJ	i
osnovnom	A:aen	osnovni
porukom	N:f	poruka
kako	CONJ	kako
svi	PRO	sav
moramo	N:f	moramo
razumeti	N:m	razumeti
jedni	NUM	jedan
druge	A:aem	drugi
ako	CONJ	ako
želimo	A:aen	želimo
da	CONJ	da
živimo	A:aen	živimo
jedni	NUM	jedan
pored	PREP	pored
drugih	A:aen	drugi
.	SENT	.
Nekima	PRO	neki
je	PRO	ona
smetatala	V:m	smetatala
otvorenost	N:f	otvorenost
i	CONJ	i
eksplicitnost	N:f	eksplicitnost
materijala	N:m	materijal
.	SENT	.
Šta	A:aem	Šta
su	N:m	su
tačno	ADV	tačno
zamerili	V:m	zameriti
?	SENT	?
Što	N:f	Što
je	PRO	ona
neko	PRO	neki
pokušao	V:m	pokušati
da	CONJ	da
zadovolji	N:f	zadovolji
najosnovniju	A:cef	osnovni
potrebu	N:f	potreba
,	PUNCT	,
unatoč	PREP	unatoč
svim	PRO	sav
teškoćama	N:f	teškoća
ili	CONJ	ili
pak	PAR	pak
što	CONJ	što
je	PRO	ona
grupa	N:f	grupa
ljudi	N:m	ljudi
odlučila	V:f	odlučiti
da	CONJ	da
snimi	V:f	snimi
iskren	A:aem	iskren
i	CONJ	i
moćan	A:aem	moćan
film	N:m	film
o	PREP	o
tome	PRO	taj
?	PUNCT	?
