Završni	A:aem	Završni
deo	N:m	deo
Kitanove	A:aem	Kitanove
triologije	N:f	triologije
o	PREP	o
umetnosti	N:f	umetnost
je	PRO	ona
ujedno	ADV	ujedno
i	CONJ	i
najbolji	A:cem	dobar
.	PUNCT	.
Dok	CONJ	dok
je	PRO	ona
u	PREP	u
prethodna	A:aen	prethodan
dva	NUM	dva
filma	N:m	film
iz	PREP	iz
'	A:aem	'
art	N:m	Art
and	N:m	and
me	PRO	ja
'	A:aem	'
triptiha	N:m	triptih
(	PUNCT	(
Tachesis	N:m	Tachesis
’	N:m	’
i	CONJ	i
Glory	N:f	Glory
to	PRO	taj
the	N:m	the
Filmmaker	N:m	Filmmaker
!	SENT	!
)	PUNCT	)
mogao	V:m	moći
da	CONJ	da
se	PAR	se
delimično	ADV	delimično
prekrije	N:f	prekrije
simboličnim	A:aem	simboličan
preispitivanjima	N:n	preispitivanje
konflikata	N:m	konflikt
unutar	PREP	unutar
umetničke	A:aef	umetnički
ličnosti	N:f	ličnost
,	PUNCT	,
pitanjima	N:n	pitanje
filmske	A:aem	filmski
industrije	N:f	industrija
i	CONJ	i
smisla	N:m	smisao
rada	A:aem	rad
unutar	PREP	unutar
nje	PRO	ona
,	PUNCT	,
sada	ADV	sada
je	PRO	ona
Kitano	A:aen	Kitano
ostao	V:m	ostati
potpuno	ADV	potpuno
sam	A:aem	sam
sa	PREP	sa
sobom	PRO	sebe
(	PUNCT	(
i	CONJ	i
svojim	PRO	svoj
slikama	N:f	slika
)	PUNCT	)
na	PREP	na
terenu	N:m	teren
lične	A:aef	ličan
ambicije	N:f	ambicija
i	CONJ	i
shvatanja	N:n	shvatanje
sopstvene	A:aef	sopstven
uspešnosti	N:f	uspešnost
.	SENT	.
Biografska	A:aef	biografski
potka	N:f	potka
filma	N:m	film
je	PRO	ona
podeljena	V:m	podeliti
na	PREP	na
tri	NUM	tri
segmenta	N:m	segment
života	N:m	život
slikara	N:m	slikar
Machisua	N:m	Machisua
:	PUNCT	:
detinjstvo	N:n	detinjstvo
,	PUNCT	,
mladost	N:f	mladost
i	CONJ	i
zrelo	A:aen	zreo
doba	N:n	doba
.	SENT	.
Bezbrižno	A:aen	Bezbrižno
detinjstvo	N:n	detinjstvo
u	PREP	u
bogatoj	A:aef	bogat
preduzetničkoj	A:aef	preduzetnički
porodici	N:f	porodica
koja	PRO	koji
podržava	N:f	podržava
i	CONJ	i
učvršćuje	N:m	učvršćuje
Machisuovu	A:aef	Machisuovu
želju	N:f	želja
za	PREP	za
slikanjem	N:n	slikanje
biva	A:aen	biva
prekinuto	A:aen	prekinut
iznenadnim	A:aen	iznenadan
krahom	N:m	krah
porodične	A:aef	porodičan
firme	N:f	firma
koji	PRO	koji
prouzrokuje	N:m	prouzrokuje
samoubistvo	N:n	samoubistvo
oba	NUM	oba
roditelja	N:m	roditelj
.	SENT	.
Nakon	PREP	nakon
života	N:m	život
kod	PREP	kod
surovih	A:aef	surov
rođaka	N:f	rođaka
Machisu	N:m	Machisu
završava	A:aem	završava
u	PREP	u
sirotištu	N:n	sirotište
posle	PREP	posle
kojeg	PRO	koji
ga	PRO	on
upoznajemo	A:aen	upoznajemo
kao	CONJ	kao
smirenog	A:aem	smiren
i	CONJ	i
tihog	A:aem	tih
mladića	N:m	mladić
opsesivno	A:aen	opsesivan
navučenog	A:aem	navučen
na	PREP	na
slikanje	N:n	slikanje
.	SENT	.
Drugi	A:aem	drugi
deo	N:m	deo
filma	N:m	film
je	PRO	ona
posvećen	A:aem	posvećen
umetničkim	A:aem	umetnički
istraživanjima	N:n	istraživanje
mladog	A:aen	mlad
slikara	N:m	slikar
u	PREP	u
okvirima	N:m	okvir
savremene	A:aef	savremen
umetnosti	N:f	umetnost
i	CONJ	i
začetku	N:m	začetak
porodičnog	A:aem	porodičan
života	N:m	život
sa	PREP	sa
devojkom	N:f	devojka
/	A:aem	/
budućom	A:aef	budući
ženom	N:f	žena
koja	PRO	koji
ga	PRO	on
bezuslovno	A:aen	bezuslovan
podržava	N:f	podržava
u	PREP	u
kreativnom	A:aem	kreativan
radu	N:m	rad
.	SENT	.
Finalni	A:aem	finalni
deo	N:m	deo
filma	N:m	film
se	PAR	se
bavi	V:n	bavi
zrelim	A:aen	zreo
,	PUNCT	,
starijim	A:ben	star
Machisuom	N:m	Machisuom
(	PUNCT	(
kojeg	PRO	koji
igra	N:f	igra
sam	PRO	sam
Kitano	A:aen	Kitano
)	PUNCT	)
u	PREP	u
beskonačnim	A:aen	beskonačan
kašnjenjima	N:n	kašnjenje
za	PREP	za
aktuelnim	A:aem	aktuelan
umetničkim	A:aem	umetnički
trendovima	N:m	trend
/	A:aem	/
teškoći	N:f	teškoća
pronalaženja	N:n	pronalaženje
sopstvenog	A:aem	sopstven
stila	N:n	stilo
i	CONJ	i
samim	PRO	sam
tim	PRO	taj
–	A:aem	–
komercijalnim	A:aef	komercijalan
neuspehom	N:m	neuspeh
.	SENT	.
Kitano	A:aen	Kitano
ima	N:n	ima
vrhunski	A:aem	vrhunski
osećaj	N:m	osećaj
za	PREP	za
tempo	N:m	tempo
.	SENT	.
Ceo	A:aem	ceo
film	N:m	film
teče	N:f	teča
u	PREP	u
besprekornom	A:aem	besprekoran
zen	A:aem	zen
tajmingu	N:m	tajming
gde	CONJ	gde
imate	A:aem	imate
utisak	N:m	utisak
da	CONJ	da
se	PAR	se
svaka	PRO	svaki
scena	N:f	scena
završava	N:f	završava
upravo	ADV	upravo
kad	CONJ	kad
i	CONJ	i
treba	N:f	treba
.	SENT	.
Perfektno	ADV	perfektno
precizna	A:aef	precizan
filmska	A:aef	filmski
struktura	N:f	struktura
koja	PRO	koji
se	PAR	se
naslanja	N:n	naslanja
na	PREP	na
najbolje	ADV	najbolje
momente	N:m	moment
francuske	A:aef	francuski
filmske	A:aem	filmski
škole	N:f	škola
naglašava	A:aef	naglašava
lepotu	N:f	lepota
promišljenih	A:aem	promišljen
statičnih	A:aem	statičan
kadrova	N:m	kadar
koji	PRO	koji
nas	PRO	mi
fokusiraju	N:m	fokusiraju
na	PREP	na
dešavanja	N:n	dešavanje
unutar	PREP	unutar
slike	N:f	slika
.	PUNCT	.
A	CONJ	a
unutar	PREP	unutar
nje	PRO	ona
se	PAR	se
odvija	A:ben	odvija
egzistencijalna	A:aef	egzistencijalan
drama	N:f	drama
koja	PRO	koji
tragikomičnim	A:aen	tragikomičan
Kitano	A:aen	Kitano
stilom	N:m	stil
razotkriva	A:aem	razotkriva
samog	A:aem	sam
autora	N:m	autor
.	SENT	.
Dok	CONJ	dok
se	PAR	se
periodično	A:aen	periodičan
smejemo	N:f	smejemo
nespretnim	A:aen	nespretan
i	CONJ	i
često	ADV	često
suludim	A:aem	sulud
pokušajima	N:m	pokušaj
slikara	N:m	slikar
da	CONJ	da
udovolji	N:f	udovolji
konstantno	A:aen	konstantan
promenljivim	A:aef	promenljiv
zahtevima	N:m	zahtev
art	N:m	Art
dilera	N:m	diler
u	PREP	u
službi	N:f	služba
najvećeg	A:cen	velik
maestra	N:m	maestro
-	PUNCT	-
tržišta	N:n	tržište
,	PUNCT	,
istovremeno	ADV	istovremeno
osećamo	N:f	osećamo
talase	N:m	talas
nežnosti	N:f	nežnost
podstaknute	V:f	podstaknuti
dirljivošću	N:f	dirljivost
i	CONJ	i
nevinošću	N:f	nevinost
samih	PRO	sam
aktera	N:m	akter
koji	PRO	koji
su	N:m	su
determinisani	V:m	determinisati
na	PREP	na
luzersku	N:f	luzersku
poziciju	N:f	pozicija
do	PREP	do
kraja	N:m	kraj
.	PUNCT	.
Kao	CONJ	kao
i	CONJ	i
Ahil	N:m	Ahil
u	PREP	u
filozofskoj	A:aef	filozofski
trci	N:f	trka
sa	PREP	sa
kornjačom	N:f	kornjača
.	SENT	.
Želja	N:m	Želja
za	PREP	za
priznanjem	N:n	priznanje
uz	PREP	uz
kvalitativno	A:aen	kvalitativan
zacrtane	A:aef	zacrtan
ciljeve	N:m	cilj
je	PRO	ona
motiv	N:m	motiv
koji	PRO	koji
snagom	N:f	snaga
trajektnih	A:aef	trajektni
turbina	N:f	turbina
pokreće	A:aem	pokreće
samog	PRO	sam
Kitana	N:m	Kitana
da	CONJ	da
iznova	ADV	iznova
pravi	A:aem	prav
ni	CONJ	ni
-	PUNCT	-
manje	ADV	manje
-	PUNCT	-
ni	PAR	ni
-	PUNCT	-
više	ADV	više
-	PUNCT	-
nego	CONJ	nego
-	PUNCT	-
odlične	A:aem	odličan
filmove	N:m	film
.	SENT	.
U	PREP	u
svojoj	PRO	svoj
detinjoj	A:aef	detinji
neposrednosti	N:f	neposrednost
on	PRO	on
ličnu	A:aef	ličan
priču	N:f	priča
postavlja	N:n	postavlja
na	PREP	na
nivo	N:m	nivo
univerzalnih	A:aef	univerzalan
emocija	N:f	emocija
i	CONJ	i
(	PUNCT	(
još	ADV	još
jednom	ADV	jednom
)	PUNCT	)
uspešno	ADV	uspešno
dodiruje	N:m	dodiruje
ljudsko	A:aen	ljudski
u	PREP	u
svima	PRO	sav
nama	PRO	mi
.	PUNCT	.
A	CONJ	a
sam	A:aem	sam
art	N:m	Art
/	A:aem	/
ist	N:f	ist
je	PRO	ona
shit	N:m	shit
u	PREP	u
terminima	N:m	termin
kupoprodaje	N:f	kupoprodaja
(	PUNCT	(
setite	V:f	setite
se	PAR	se
Warholove	A:aef	Warholove
konzerve	N:f	konzerva
tog	PRO	taj
naziva	N:m	naziv
–	N:m	–
Kitano	A:aen	Kitano
je	PRO	ona
sigurno	ADV	sigurno
zna	A:aem	zna
)	PUNCT	)
.	SENT	.
Ono	PRO	onaj
što	CONJ	što
je	PRO	ona
suštinski	ADV	suštinski
bitno	ADV	bitno
je	PRO	ona
unutrašnji	A:aem	unutrašnji
imperativ	N:m	imperativ
rada	A:aem	rad
koji	PRO	koji
opstaje	N:m	opstaje
i	CONJ	i
bez	PREP	bez
šuški	N:f	šuška
.	SENT	.
