Film	N:m	film
Barbara	N:f	Barbara
nemačkog	A:aem	nemački
reditelja	N:m	reditelj
Kristijana	N:f	Kristijana
Pecolda	N:m	Pecolda
,	PUNCT	,
prikazan	V:m	prikazati
na	PREP	na
zatvaranju	N:n	zatvaranje
festivala	N:m	festival
Slobodna	A:aef	slobodan
zona	N:f	zona
osvojio	V:m	osvojiti
je	PRO	ona
i	CONJ	i
Srebrnog	A:aem	srebrn
medveda	N:m	medved
za	PREP	za
režiju	N:f	režija
na	PREP	na
prošlom	A:aef	prošli
Berlinskom	A:aef	berlinski
filmskom	A:aef	filmski
festivalu	N:m	festival
.	SENT	.
Film	N:m	film
pripada	N:m	pripada
talasu	N:m	talas
nemačkih	A:aef	nemački
filmova	N:m	film
koji	PRO	koji
se	PAR	se
zbivaju	V:m	zbivaju
u	PREP	u
doba	N:n	doba
Štazija	N:f	Štazija
(	PUNCT	(
Ministarstvo	N:n	ministarstvo
za	PREP	za
državnu	A:aef	državni
bezbednost	N:f	bezbednost
NDR	N:m	NDR
)	PUNCT	)
i	CONJ	i
koji	PRO	koji
se	PAR	se
retroaktivno	ADV	retroaktivno
bave	A:aef	bave
politikom	N:f	politika
istočnog	A:aen	istočni
bloka	N:m	blok
u	PREP	u
vreme	N:n	vreme
hladnog	A:aem	hladan
rata	N:f	rata
.	SENT	.
Ova	PRO	ovaj
tema	N:f	tema
sve	PAR	sve
više	ADV	više
dobija	V:m	dobija
na	PREP	na
pažnji	N:f	pažnja
i	CONJ	i
nagradama	N:f	nagrada
(	PUNCT	(
Život	N:m	Život
drugih	A:aen	drugi
,	PUNCT	,
Legenda	N:m	Legenda
o	PREP	o
Riti	N:f	Rita
,	PUNCT	,
Zbogom	A:aem	Zbogom
Lenjin	N:m	Lenjin
)	PUNCT	)
,	PUNCT	,
što	CONJ	što
ukazuje	N:m	ukazuje
da	CONJ	da
će	V:m	će
se	PAR	se
njen	PRO	njen
značaj	N:m	značaj
povećavati	N:m	povećavati
kako	CONJ	kako
se	PAR	se
filmska	A:aef	filmski
umetnost	N:f	umetnost
bude	A:aen	bude
približavala	V:f	približavati
sredini	N:f	sredina
veka	N:m	vek
.	SENT	.
Moguće	A:aem	Moguće
je	PRO	ona
da	CONJ	da
će	A:aem	će
tema	N:f	tema
emigrantskih	A:aef	emigrantski
sudbina	N:f	sudbina
istočnih	A:aen	istočni
Evropljana	N:m	Evropljanin
u	PREP	u
drugoj	A:aef	drugi
polovini	N:f	polovina
prošlog	A:aen	prošli
veka	N:m	vek
,	PUNCT	,
viđena	V:f	viditi
iz	PREP	iz
današnje	A:aef	današnji
perspektive	N:f	perspektiva
,	PUNCT	,
dosegnuti	A:aem	dosegnut
popularnost	N:f	popularnost
američkog	A:aen	američki
vesterna	N:m	vestern
,	PUNCT	,
žanra	N:m	žanr
koji	PRO	koji
je	PRO	ona
opisivao	V:m	opisivati
emigrantske	A:aef	emigrantski
sudbine	N:f	sudbina
zapadnih	A:aef	zapadni
Evropljana	N:m	Evropljanin
u	PREP	u
prvoj	A:aef	prvi
polovini	N:f	polovina
istog	A:aen	isti
veka	N:m	vek
.	SENT	.
Barbara	N:f	Barbara
je	PRO	ona
doktorka	N:f	doktorka
u	PREP	u
nemačkoj	A:aef	nemački
provinciji	N:f	provincija
koja	PRO	koji
pokušava	N:f	pokušava
da	CONJ	da
prebegne	N:m	prebegne
u	PREP	u
Zapadnu	A:aef	zapadni
Nemačku	N:f	Nemačka
.	SENT	.
Nju	PRO	ona
doslovno	ADV	doslovno
prati	N:f	prati
doktor	N:m	doktor
koji	PRO	koji
je	PRO	ona
,	PUNCT	,
poput	PREP	poput
nje	PRO	ona
,	PUNCT	,
zbog	PREP	zbog
problema	N:m	problem
u	PREP	u
radnoj	A:aef	radnoj
biografiji	N:f	biografija
po	PREP	po
kazni	N:f	kazna
poslat	A:aem	poslat
na	PREP	na
rad	N:m	rad
van	PREP	van
glavnog	A:aem	glavnog
grada	N:m	grad
.	SENT	.
Jedna	NUM	jedan
od	PREP	od
njegovih	PRO	njegov
dodatnih	A:aef	dodatan
obaveza	N:f	obaveza
je	PRO	ona
da	CONJ	da
kontroliše	N:m	kontroliše
i	CONJ	i
zapisuje	N:m	zapisuje
kretanje	N:n	kretanje
sumnjive	A:aef	sumnjiv
koleginice	N:f	koleginica
,	PUNCT	,
a	CONJ	a
taj	PRO	taj
zadatak	N:m	zadatak
otkriće	N:n	otkriće
i	CONJ	i
lepšu	A:bef	lep
stranu	N:f	strana
posmatranog	A:aen	posmatran
subjekta	N:m	subjekt
,	PUNCT	,
pa	CONJ	pa
će	V:m	će
se	PAR	se
ovaj	PRO	ovaj
špijunski	A:aem	špijunski
odnos	N:m	odnos
pretvoriti	A:aem	pretvoriti
u	PREP	u
romantičnu	A:aef	romantičan
vezu	N:f	veza
.	SENT	.
Iz	PREP	iz
istog	A:aen	isti
razloga	N:m	razlog
,	PUNCT	,
Barbarina	A:aef	Barbarina
namera	N:f	namera
da	CONJ	da
prebegne	N:m	prebegne
iz	PREP	iz
zemlje	N:f	zemlja
ishodiće	A:aem	ishodiće
u	PREP	u
žrtvovanje	N:n	žrtvovanje
za	PREP	za
nekoga	PRO	neki
kome	PRO	koji
je	PRO	ona
taj	PRO	taj
prebeg	N:m	prebeg
potrebniji	A:bem	potreban
.	SENT	.
Konačna	A:aef	Konačna
poruka	N:f	poruka
filma	N:m	film
je	PRO	ona
da	CONJ	da
između	PREP	između
špijuniranja	N:n	špijuniranje
i	CONJ	i
zaljubljivanja	N:n	zaljubljivanje
ponekad	ADV	ponekad
nema	A:aem	nem
razlike	N:f	razlika
,	PUNCT	,
jer	CONJ	jer
nam	PRO	mi
se	PAR	se
može	A:aem	može
desiti	A:aem	desiti
da	CONJ	da
u	PREP	u
potrazi	N:f	potraga
za	PREP	za
kompromitujućim	A:aem	kompromitujući
materijalom	N:m	materijal
nabasamo	V:m	nabasamo
na	PREP	na
suprotne	A:aef	suprotan
dokaze	N:m	dokaz
i	CONJ	i
da	CONJ	da
tako	ADV	tako
od	PREP	od
špijuna	N:m	špijun
tuđih	A:aef	tuđ
grešaka	N:f	greška
,	PUNCT	,
postanemo	A:aen	postanemo
svedoci	N:m	svedok
tuđih	A:aef	tuđ
vrlina	N:f	vrlina
.	PUNCT	.
Dok	CONJ	dok
nas	PRO	mi
ne	PAR	ne
pošalju	N:n	pošalju
da	CONJ	da
hvatamo	N:n	hvatamo
druge	A:aem	drugi
u	PREP	u
njihovim	PRO	njihov
slabostima	N:f	slabost
,	PUNCT	,
nećemo	N:f	nećemo
uvideti	N:m	uvideti
presudni	A:aem	presudan
trenutak	N:m	trenutak
u	PREP	u
kojem	PRO	koji
se	PAR	se
ta	PRO	taj
slabost	N:f	slabost
ispostavila	V:f	ispostaviti
u	PREP	u
hrabrost	N:f	hrabrost
.	PUNCT	.
Sve	ADV	sve
dok	CONJ	dok
ne	PAR	ne
obratimo	N:f	obratimo
pažnju	N:f	pažnja
na	PREP	na
tuđe	A:aen	tuđ
signale	N:m	signal
,	PUNCT	,
nećemo	N:f	nećemo
otkriti	A:aem	otkriti
ljude	N:m	ljudi
na	PREP	na
svojoj	PRO	svoj
talasnoj	A:aef	talasni
dužini	N:f	dužina
.	SENT	.
Po	PREP	po
ovom	PRO	ovaj
filmu	N:m	film
,	PUNCT	,
svi	PRO	sav
uzajamno	A:aen	uzajaman
treba	N:f	treba
da	CONJ	da
postanemo	N:f	postanemo
špijuni	N:m	špijun
,	PUNCT	,
jer	CONJ	jer
samo	PAR	samo
tako	ADV	tako
ćemo	N:f	ćemo
od	PREP	od
bića	N:n	biće
nesvesnih	A:aef	nesvestan
svojih	PRO	svoj
života	N:m	život
,	PUNCT	,
postati	A:aem	postati
ljudi	N:m	ljudi
svesni	A:aem	svestan
života	N:m	život
drugih	A:aen	drugi
.	SENT	.
Shodno	PREP	shodno
temi	N:f	tema
prisluškivanja	N:n	prisluškivanje
,	PUNCT	,
u	PREP	u
filmu	N:m	film
je	PRO	ona
posebna	A:aen	poseban
pažnja	N:f	pažnja
posvećena	A:aem	posvećen
zvučnom	A:aem	zvučan
dizajnu	N:m	dizajn
.	SENT	.
Korišćena	A:aef	Korišćena
muzika	N:f	muzika
je	PRO	ona
ona	PRO	ona
koju	PRO	koji
likovi	N:m	lik
sviraju	N:m	sviraju
ili	CONJ	ili
puštaju	N:m	puštaju
,	PUNCT	,
dok	CONJ	dok
su	N:m	su
šumovi	N:m	šum
obradjeni	A:aem	obradjeni
sa	PREP	sa
muzičkom	A:aem	muzički
preciznošću	N:f	preciznost
.	SENT	.
Na	PREP	na
kraju	N:m	kraj
filma	N:m	film
,	PUNCT	,
pošto	CONJ	pošto
je	PRO	ona
uspešno	ADV	uspešno
pomogla	V:f	pomoći
devojčici	N:f	devojčica
iz	PREP	iz
sirotišta	N:n	sirotište
da	CONJ	da
prebegne	A:aem	prebegne
brodom	N:m	brod
za	PREP	za
Dansku	N:f	Danska
,	PUNCT	,
Barbara	N:f	Barbara
se	PAR	se
vraća	V:n	vraća
da	CONJ	da
ostane	N:m	ostane
sa	PREP	sa
doktorom	N:m	doktor
u	PREP	u
bolnici	N:f	bolnica
.	SENT	.
U	PREP	u
trenutku	N:m	trenutak
kada	CONJ	kada
sedne	N:f	sedne
pored	PREP	pored
njega	PRO	on
,	PUNCT	,
poslednje	A:aen	poslednji
što	CONJ	što
čujemo	A:aen	čujemo
je	PRO	ona
njena	PRO	njen
zadihanost	N:f	zadihanost
,	PUNCT	,
koja	PRO	koji
nalikuje	N:m	nalikuje
talasima	N:m	talas
Atlanskog	N:m	Atlanskog
okeana	N:m	okean
iz	PREP	iz
prethodne	A:aef	prethodan
scene	N:f	scena
.	PUNCT	.
Ako	CONJ	ako
već	PAR	već
ne	PAR	ne
može	A:aem	može
da	CONJ	da
napusti	N:m	napusti
“	A:aem	“
velikog	A:aen	velik
brata	N:m	brata
”	A:aem	”
,	PUNCT	,
može	A:aem	može
da	CONJ	da
ponosno	A:aen	ponosan
diše	N:f	diša
na	PREP	na
svojim	PRO	svoj
zvučnim	A:aem	zvučan
talasima	N:m	talas
,	PUNCT	,
znajući	A:aem	znajući
da	CONJ	da
neko	PRO	neki
čuje	N:f	čuje
njenu	PRO	njen
poruku	N:f	poruka
u	PREP	u
boci	N:f	boca
,	PUNCT	,
porinutu	A:aem	porinut
ka	PREP	ka
zapadnoj	A:aef	zapadni
obali	N:f	obala
dvadesetog	A:aem	dvadeseti
a	CONJ	a
pronađenu	A:aem	pronađen
na	PREP	na
istočnoj	A:aef	istočni
obali	N:f	obala
novog	A:aem	nov
veka	N:m	vek
.	SENT	.
Sturm	N:m	Sturm
und	A:aem	und
Drang	N:m	Drang
.	SENT	.
