Plakao	V:m	plakati
sam	PRO	sam
u	PREP	u
sebi	PRO	sebe
.	SENT	.
Kao	ADV	kao
ledena	A:aef	leden
kiša	N:f	kiša
Nije	A:aem	Nije
teško	A:aen	težak
poverovati	N:m	poverovati
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
'	A:aem	'
prema	PREP	prema
istinitoj	A:aef	istinit
priči	N:f	priča
'	N:m	'
.	PUNCT	.
A	CONJ	a
kad	CONJ	kad
smo	N:f	smo
već	CONJ	već
kod	PREP	kod
toga	PRO	taj
ovako	ADV	ovako
treba	N:f	treba
da	CONJ	da
izgledaju	N:f	izgledaju
filmovi	N:m	film
koji	PRO	koji
pretenduju	N:m	pretenduju
da	CONJ	da
se	PAR	se
pozabave	A:aem	pozabave
nečim	PRO	nešto
'	N:m	'
istinitim	A:aen	istinit
'	N:m	'
i	CONJ	i
pobegnu	N:m	pobegnu
od	PREP	od
toga	PRO	taj
što	CONJ	što
je	PRO	ona
više	ADV	više
moguće	ADV	moguće
.	SENT	.
(	PUNCT	(
Boane	N:f	Boane
,	PUNCT	,
take	PRO	taki
note	N:f	nota
!	PUNCT	!
)	PUNCT	)
Teško	N:f	Teško
je	PRO	ona
poverovati	N:m	poverovati
u	PREP	u
ono	PRO	onaj
što	CONJ	što
se	PAR	se
desilo	V:n	desiti
sirotoj	A:aef	sirot
Philomeni	N:f	Philomeni
(	PUNCT	(
i	CONJ	i
hiljadama	ADV	hiljadama
žena	N:f	žena
poput	PREP	poput
nje	PRO	ona
)	PUNCT	)
.	SENT	.
Teško	N:m	Teško
je	PRO	ona
ne	PAR	ne
ostati	N:m	ostati
do	PREP	do
srži	N:f	srž
prožet	A:aem	prožet
razmišljanjem	N:n	razmišljanje
o	PREP	o
tome	PRO	taj
kakav	PRO	kakav
je	PRO	ona
ogroman	A:aem	ogroman
nosač	N:m	nosač
aviona	N:m	avion
i	CONJ	i
tuge	N:f	tuga
prošao	V:m	proći
kroz	PREP	kroz
njen	PRO	njen
život	N:m	život
i	CONJ	i
pregazio	V:m	pregaziti
je	PRO	ona
.	SENT	.
Pa	CONJ	pa
,	PUNCT	,
ipak	PAR	ipak
,	PUNCT	,
ona	PRO	ona
je	PRO	ona
tu	ADV	tu
pred	PREP	pred
nama	PRO	mi
,	PUNCT	,
kao	CONJ	kao
simpatična	A:aef	simpatičan
bakica	N:f	bakica
,	PUNCT	,
komšinica	N:f	komšinica
,	PUNCT	,
'	A:aem	'
tetka	N:m	tetak
'	N:m	'
,	PUNCT	,
u	PREP	u
(	PUNCT	(
još	ADV	još
jednom	NUM	jedan
)	PUNCT	)
briljantnom	A:aen	briljantan
tumačenju	N:n	tumačenje
Judi	N:m	Juda
Dench	A:aef	Dench
,	PUNCT	,
živa	A:aef	živ
,	PUNCT	,
nekako	ADV	nekako
blesavo	ADV	blesavo
svesna	A:aen	svestan
planine	N:f	planina
bola	N:m	bol
na	PREP	na
čijem	PRO	čiji
vrhu	N:m	vrh
sedi	N:m	sedi
.	SENT	.
Teško	N:m	Teško
je	PRO	ona
ne	PAR	ne
osetiti	N:m	osetiti
bes	N:m	bes
i	CONJ	i
ne	PAR	ne
biti	N:f	bit
fasciniran	V:m	fascinirati
sa	PREP	sa
kojom	PRO	koji
lakoćom	N:f	lakoća
život	N:m	život
i	CONJ	i
najgorče	A:cef	gorak
stene	N:f	stena
gura	A:aem	gura
dalje	ADV	dalje
.	SENT	.
Teško	N:m	Teško
je	PRO	ona
ne	PAR	ne
biti	N:f	bit
impresioniran	V:m	impresionirati
kako	CONJ	kako
je	PRO	ona
i	CONJ	i
najjezivije	A:cen	jeziv
tragedije	N:f	tragedija
moguće	ADV	moguće
ostaviti	V:m	ostaviti
za	PREP	za
sobom	PRO	sebe
iako	CONJ	iako
će	V:m	će
se	PAR	se
one	PRO	onaj
vući	N:f	vući
za	PREP	za
vama	PRO	vi
kao	CONJ	kao
najmračnija	A:cen	mračan
senka	N:f	senka
natkrivajući	V:n	natkrivajući
svaki	PRO	svaki
sunčani	A:aem	sunčan
minut	N:m	minut
vašeg	PRO	vaš
života	N:m	život
.	SENT	.
Ono	PRO	onaj
kad	CONJ	kad
kažu	N:f	kaža
da	CONJ	da
i	CONJ	i
'	N:m	'
najveće	A:cef	velik
tragedije	N:f	tragedija
'	N:m	'
zapravo	ADV	zapravo
inspirišu	V:m	inspirišu
na	PREP	na
život	N:m	život
i	CONJ	i
pokazuju	N:m	pokazuju
koliko	ADV	koliko
je	PRO	ona
život	N:m	život
dragocen	A:aem	dragocen
i	CONJ	i
kako	ADV	kako
u	PREP	u
tom	PRO	taj
mraku	N:m	mrak
čuči	V:n	čuči
neki	PRO	neki
mali	A:aem	mali
,	PUNCT	,
neuništivi	A:aem	neuništiv
optimizam	N:m	optimizam
.	PUNCT	.
Penis	N:m	penis
!	PUNCT	!
Razumeti	N:f	Razumeti
Philomenu	N:m	Philomenu
znači	A:aem	znači
rasparčati	N:m	rasparčati
sebe	PRO	sebe
u	PREP	u
milione	N:m	milion
sitnih	A:aem	sitan
komadića	N:m	komadić
koji	PRO	koji
će	N:f	će
potom	ADV	potom
besmisleno	ADV	besmisleno
postojati	A:aem	postojati
u	PREP	u
kosmosu	N:m	kosmos
zauvek	ADV	zauvek
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
crni	A:aem	crn
mrak	N:m	mrak
kome	PRO	koji
smo	N:f	smo
,	PUNCT	,
u	PREP	u
najboljem	A:cem	dobar
slučaju	N:m	slučaj
,	PUNCT	,
prišli	V:m	prići
koliko	ADV	koliko
i	CONJ	i
kavezu	N:m	kavez
u	PREP	u
kome	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
krvoločni	A:aem	krvoločan
tigar	N:m	tigar
,	PUNCT	,
i	CONJ	i
time	PRO	taj
pokazali	V:m	pokazati
da	CONJ	da
je	PRO	ona
zajednički	A:aem	zajednički
život	N:m	život
sa	PREP	sa
tom	PRO	taj
životinjom	N:f	životinja
moguć	A:aem	moguć
!	SENT	!
Sa	PREP	sa
trinaest	NUM	trinaest
godina	N:f	godina
Irkinja	N:f	Irkinja
Philomena	N:m	Philomena
nakon	PREP	nakon
strasnog	A:aem	strastan
onenightstanda	N:f	onenightstanda
ostaje	N:n	ostaje
trudna	A:aef	trudan
.	SENT	.
Njen	PRO	njen
ogorčeni	A:aem	ogorčen
otac	N:m	otac
ostavlja	N:n	ostavlja
je	PRO	ona
u	PREP	u
manastiru	N:m	manastir
,	PUNCT	,
gde	CONJ	gde
časne	A:aef	častan
sestre	N:f	sestra
,	PUNCT	,
nakon	PREP	nakon
,	PUNCT	,
recimo	A:aen	recimo
-	PUNCT	-
slučajno	ADV	slučajno
uspelog	A:aem	uspeo
porođaja	N:m	porođaj
,	PUNCT	,
brinu	V:n	brinu
o	PREP	o
njenom	PRO	njen
detetu	N:n	dete
.	PUNCT	.
Međutim	N:n	Međutim
kada	CONJ	kada
dečak	N:m	dečak
napuni	A:aem	napuni
četiri	NUM	četiri
godine	N:f	godina
dolazi	N:m	dolaz
veliki	A:aem	velik
auto	N:n	auto
i	CONJ	i
odvodi	N:m	odvod
ga	PRO	on
,	PUNCT	,
zajedno	ADV	zajedno
sa	PREP	sa
još	ADV	još
jednom	NUM	jedan
devojčicom	N:f	devojčica
.	SENT	.
Philomena	N:m	Philomena
ne	PAR	ne
može	A:aem	može
ništa	ADV	ništa
da	CONJ	da
uradi	V:f	uradi
,	PUNCT	,
već	CONJ	već
samo	PAR	samo
da	CONJ	da
gleda	N:m	gleda
kako	CONJ	kako
ga	PRO	on
odvode	N:m	odvod
,	PUNCT	,
dok	CONJ	dok
i	CONJ	i
njen	PRO	njen
život	N:m	život
odlazi	N:m	odlazi
sa	PREP	sa
njim	PRO	on
.	SENT	.
Na	PREP	na
dan	N:m	dan
koji	PRO	koji
bi	N:f	bi
bio	V:m	biti
njegov	PRO	njegov
pedeseti	A:aem	pedeseti
rođendan	N:m	rođendan
,	PUNCT	,
ona	PRO	ona
priznaje	N:f	priznaje
svojoj	PRO	svoj
ćerci	N:f	ćerka
njegovo	PRO	njegov
postojanje	N:n	postojanje
,	PUNCT	,
i	CONJ	i
sticajem	N:m	sticaj
okolnosti	N:f	okolnost
to	PRO	taj
sve	PAR	sve
stiže	V:m	stiže
do	PREP	do
ražalovanog	A:aem	ražalovan
BBC	N:m	BBC
-	PUNCT	-
ijevog	A:aem	ijevog
novinara	N:m	novinar
Martina	N:m	Martin
Sixsmitha	N:m	Sixsmitha
(	PUNCT	(
Steve	N:m	Steva
Coogan	N:m	Coogan
)	PUNCT	)
koji	PRO	koji
se	PAR	se
zajedno	ADV	zajedno
sa	PREP	sa
njom	PRO	ona
upušta	N:n	upušta
u	PREP	u
potragu	N:f	potraga
za	PREP	za
sinom	N:m	sin
.	PUNCT	.
I	CONJ	i
to	PRO	taj
neće	A:aef	neće
biti	N:f	bit
jedna	NUM	jedan
patetična	A:aef	patetičan
potraga	N:f	potraga
,	PUNCT	,
'	N:m	'
koja	PRO	koji
će	A:aem	će
zbližiti	A:aem	zbližiti
Philomenu	N:m	Philomenu
i	CONJ	i
Martina	N:m	Martin
,	PUNCT	,
i	CONJ	i
na	PREP	na
kojoj	PRO	koji
će	N:m	će
se	PAR	se
između	PREP	između
njih	PRO	ona
uspostaviti	A:aem	uspostaviti
odnos	N:m	odnos
majke	N:f	majka
i	CONJ	i
(	PUNCT	(
izgubljenog	A:aem	izgubljen
)	PUNCT	)
sina	N:m	sin
'	N:m	'
.	PUNCT	.
I	CONJ	i
to	PRO	taj
nije	A:aem	nije
film	N:m	film
o	PREP	o
vraćanju	N:n	vraćanje
izgubljene	A:aem	izgubljen
vere	N:f	vera
.	PUNCT	.
I	CONJ	i
to	PRO	taj
nije	A:aem	nije
film	N:m	film
o	PREP	o
ponovnom	A:aen	ponovan
susretu	N:m	susret
.	PUNCT	.
I	CONJ	i
to	PRO	taj
nije	A:aem	nije
film	N:m	film
o	PREP	o
mirenju	N:n	mirenje
sa	PREP	sa
prošlošću	N:f	prošlost
.	SENT	.
Zahvaljujući	N:m	Zahvaljujući
pre	PREP	pre
svega	PRO	sav
Cooganu	N:m	Cooganu
,	PUNCT	,
scenaristi	N:m	scenarista
i	CONJ	i
glavnom	A:aem	glavnom
glumcu	N:m	glumac
,	PUNCT	,
i	CONJ	i
Stephenu	N:m	Stephenu
Frearsu	N:m	Frears
Philomena	N:m	Philomena
je	PRO	ona
skoro	ADV	skoro
Sideways	N:m	Sideways
komedija	N:f	komedija
o	PREP	o
dvoje	NUM	dvoje
ljudi	N:m	ljudi
koji	PRO	koji
imaju	N:f	imaju
potpuno	ADV	potpuno
različite	A:aef	različit
pristupe	N:m	pristup
stvarnosti	N:f	stvarnost
i	CONJ	i
onome	PRO	onaj
što	CONJ	što
im	PRO	ona
ona	PRO	ona
donosi	N:m	donosi
.	SENT	.
Sixsmith	A:aem	Sixsmith
je	PRO	ona
ciničan	A:aem	ciničan
,	PUNCT	,
ogorčen	V:m	ogorčiti
i	CONJ	i
impresioniran	V:m	impresionirati
u	PREP	u
kojoj	PRO	koji
meri	N:f	mera
je	PRO	ona
Philomena	N:m	Philomena
samozapakovana	V:f	samozapakovana
u	PREP	u
neku	PRO	neki
svoju	PRO	svoj
priglupu	A:aef	priglup
,	PUNCT	,
neobrazovanu	A:aef	neobrazovan
,	PUNCT	,
idiličnu	A:aef	idiličan
realnost	N:f	realnost
kojom	PRO	koji
bog	N:m	bog
i	CONJ	i
praštanje	N:n	praštanje
i	CONJ	i
dalje	ADV	dalje
nemilosrdno	A:aen	nemilosrdan
vode	N:f	voda
glavnu	A:aef	glavnu
reč	N:f	reč
.	SENT	.
On	PRO	on
je	PRO	ona
njen	PRO	njen
neizrečeni	A:aem	neizrečen
bes	N:m	bes
.	PUNCT	.
A	CONJ	a
ona	PRO	ona
njegovo	PRO	njegov
bezbrižno	A:aen	bezbrižan
pristajanje	N:n	pristajanje
.	SENT	.
U	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
Philomena	N:f	Philomena
,	PUNCT	,
kao	CONJ	kao
de	INT	de
facto	A:aen	facto
ekranizacija	N:f	ekranizacija
jedne	NUM	jedan
'	A:aem	'
human	A:aem	human
interest	N:m	interest
story	A:aem	story
'	N:m	'
(	PUNCT	(
tipa	N:m	tip
melodramske	A:aef	melodramski
priče	N:f	priča
koja	PRO	koji
po	PREP	po
novinama	N:f	novina
animira	N:m	animira
Filomene	N:f	Filomena
širom	PREP	širom
sveta	A:aef	svet
,	PUNCT	,
žene	N:f	žena
nenaročito	A:aen	nenaročito
obrazovane	A:aem	obrazovan
,	PUNCT	,
upletene	V:f	uplesti
u	PREP	u
živote	N:m	život
junaka	N:m	junak
svih	PRO	sav
TV	A:aem	TV
sapunica	N:f	sapunica
,	PUNCT	,
lake	A:aef	lak
na	PREP	na
suzi	N:f	suza
)	PUNCT	)
čini	N:f	čini
sve	ADV	sve
da	CONJ	da
deluje	A:aen	deluje
kao	CONJ	kao
duhovita	A:aef	duhovit
subverzija	N:f	subverzija
iste	A:aem	isti
,	PUNCT	,
da	CONJ	da
propita	V:m	propita
njenu	PRO	njen
moralnost	N:f	moralnost
i	CONJ	i
neminovnost	N:f	neminovnost
njenih	PRO	njen
mehanizama	N:m	mehanizam
-	PUNCT	-
jer	CONJ	jer
'	A:aem	'
život	N:m	život
zaista	PAR	zaista
piše	V:n	piše
najbolje	ADV	najbolje
priče	N:f	priča
'	N:m	'
.	SENT	.
Philomena	N:m	Philomena
je	PRO	ona
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
i	CONJ	i
satira	N:f	satira
takve	PRO	takav
vrste	N:f	vrsta
priče	N:f	priča
,	PUNCT	,
ali	CONJ	ali
i	CONJ	i
njen	PRO	njen
legitimni	A:aem	legitiman
promoter	N:m	promoter
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
težak	A:aem	težak
kao	CONJ	kao
'	A:aem	'
apel	N:m	apel
za	PREP	za
pomoć	N:f	pomoć
maloj	A:aef	mali
viubaciteime	N:f	viubaciteime
'	N:m	'
,	PUNCT	,
a	CONJ	a
lahk	N:m	lahk
kao	CONJ	kao
Four	N:m	Four
Weddings	N:m	Weddings
and	N:m	and
a	CONJ	a
Funeral	N:m	Funeral
.	PUNCT	.
I	CONJ	i
on	PRO	on
je	PRO	ona
,	PUNCT	,
bez	PREP	bez
sumnje	N:f	sumnja
,	PUNCT	,
'	A:aem	'
film	N:m	film
za	PREP	za
tetke	N:f	tetka
'	N:m	'
najbolje	ADV	najbolje
vrste	N:f	vrsta
.	SENT	.
Za	PREP	za
tetke	N:f	tetka
u	PREP	u
čijim	PRO	čiji
srcima	N:n	srce
stoji	N:f	stoja
jedan	NUM	jedan
crni	A:aem	crn
ugarak	N:m	ugarak
,	PUNCT	,
sagorelog	A:aen	sagoreo
i	CONJ	i
vakumiranog	A:aen	vakumiranog
sećanja	N:n	sećanje
,	PUNCT	,
živa	A:aef	živ
rana	N:f	rana
i	CONJ	i
ožiljak	N:m	ožiljak
koji	PRO	koji
se	PAR	se
jedva	ADV	jedva
vidi	N:f	vida
.	SENT	.
Znam	N:m	Znam
par	N:m	par
takvih	PRO	takav
.	SENT	.
