The	INT	The
Weight	N:m	Weight
of	N:m	of
Chains	N:m	Chains
PosterTežina	A:aem	PosterTežina
lanaca	N:m	lanac
(	PUNCT	(
ili	CONJ	ili
možda	PAR	možda
bolje	ADV	bolje
okova	N:m	okov
)	PUNCT	)
je	PRO	ona
odličan	A:aem	odličan
dokumentarac	N:m	dokumentarac
na	PREP	na
temu	N:f	tema
raspada	N:m	raspad
Jugoslavije	N:f	Jugoslavija
.	SENT	.
Mogu	N:m	Mog
se	PAR	se
kladiti	A:aem	kladiti
da	CONJ	da
svako	PRO	svaki
od	PREP	od
vas	PRO	vi
ima	N:f	ima
neku	PRO	neki
svoju	PRO	svoj
teoriju	N:f	teorija
o	PREP	o
tome	PRO	taj
zašto	CONJ	zašto
se	PAR	se
sve	PRO	sav
raspalo	V:n	raspasti
,	PUNCT	,
zašto	ADV	zašto
nismo	N:f	nismo
mogli	V:m	moći
živeti	N:m	živeti
zajedno	ADV	zajedno
pod	PREP	pod
istim	A:aef	isti
krovom	N:m	krov
.	SENT	.
I	CONJ	i
garant	N:m	garant
ste	N:m	ste
gledali	V:m	gledati
gomilu	N:f	gomila
dokumentaraca	N:m	dokumentarac
na	PREP	na
ovu	PRO	ovaj
temu	N:f	tema
.	SENT	.
Sada	ADV	sada
zaboravite	A:aem	zaboravite
na	PREP	na
sve	PRO	sav
to	PRO	taj
.	PUNCT	.
Ovo	PRO	ovaj
je	PRO	ona
prava	N:n	pravo
stvar	N:f	stvar
.	SENT	.
Mislim	A:aem	Mislim
ono	PRO	onaj
,	PUNCT	,
meni	PRO	ja
se	PAR	se
ovaj	PRO	ovaj
film	N:m	film
sviđa	V:m	sviđa
,	PUNCT	,
i	CONJ	i
slažem	N:n	slažem
se	PAR	se
sa	PREP	sa
svim	PRO	sav
rečenim	A:aef	rečen
u	PREP	u
njemu	PRO	on
,	PUNCT	,
i	CONJ	i
toplo	ADV	toplo
vam	PRO	vi
preporučujem	N:m	preporučujem
da	CONJ	da
ga	PRO	on
pogledate	N:m	pogledate
.	SENT	.
Kada	CONJ	kada
bi	A:aem	bi
film	N:m	film
podelili	V:m	podeliti
u	PREP	u
poglavlja	N:n	poglavlje
,	PUNCT	,
ona	PRO	ona
bi	N:f	bi
se	PAR	se
zvala	V:f	zvati
ovako	ADV	ovako
:	PUNCT	:
1	NUM	@card@
.	SENT	.
Šta	A:aem	Šta
je	PRO	ona
bila	V:f	biti
Jugoslavija	N:f	Jugoslavija
i	CONJ	i
šta	PRO	šta
je	PRO	ona
ona	PRO	ona
predstavljala	V:f	predstavljati
za	PREP	za
njene	PRO	njen
stanovnike	N:m	stanovnik
?	SENT	?
2	NUM	@card@
.	PUNCT	.
Kome	PRO	koji
je	PRO	ona
Jugoslavija	N:f	Jugoslavija
bila	V:f	biti
trn	N:m	trn
u	PREP	u
oku	N:n	oko
i	CONJ	i
zašto	ADV	zašto
?	SENT	?
3	NUM	@card@
.	PUNCT	.
Kako	CONJ	kako
je	PRO	ona
sve	PRO	sav
počelo	V:n	početi
,	PUNCT	,
ili	CONJ	ili
što	CONJ	što
rekoše	N:n	rekoše
u	PREP	u
Ničijoj	A:aef	Ničijoj
zemlji	N:f	zemlja
–	A:aem	–
Ko	N:m	Ko
je	PRO	ona
počeo	V:m	početi
rat	N:m	rat
?	SENT	?
4	NUM	@card@
.	PUNCT	.
Demonizacija	N:f	demonizacija
Srba	N:m	Srba
,	PUNCT	,
zašto	ADV	zašto
smo	N:f	smo
morali	V:m	morati
proći	A:aen	proći
kao	CONJ	kao
žrtveno	A:aen	žrtveni
jagnje	N:n	jagnje
?	SENT	?
5	NUM	@card@
.	PUNCT	.
Odlazak	N:m	odlazak
Crne	A:aem	crn
Gore	N:m	Gor
i	CONJ	i
Kosova	N:n	Kosovo
,	PUNCT	,
finalizacija	N:f	finalizacija
raspada	N:m	raspad
.	SENT	.
6	NUM	@card@
.	PUNCT	.
Kolonizacija	N:f	kolonizacija
.	SENT	.
7	NUM	@card@
.	PUNCT	.
Šta	A:aem	Šta
sad	ADV	sad
?	SENT	?
–	A:aem	–
zaključak	N:m	zaključak
/	A:aem	/
ideje	N:f	ideja
Svako	N:f	Svako
od	PREP	od
nas	PRO	mi
ima	N:f	ima
neku	PRO	neki
ideju	N:f	ideja
o	PREP	o
Jugoslaviji	N:f	Jugoslavija
i	CONJ	i
šta	PRO	šta
je	PRO	ona
ona	PRO	ona
predstavljala	V:f	predstavljati
…	SENT	…
Neki	N:m	Neki
prvo	A:aen	prvi
pomisle	N:m	pomisao
na	PREP	na
komunizam	N:m	komunizam
i	CONJ	i
koliko	ADV	koliko
je	PRO	ona
to	PRO	taj
bilo	V:n	biti
loše	ADV	loše
,	PUNCT	,
neki	PRO	neki
su	N:m	su
nostalgični	A:aem	nostalgičan
i	CONJ	i
sećaju	N:m	sećaju
se	PAR	se
slobode	N:f	sloboda
i	CONJ	i
crvenog	A:aen	crven
pasoša	N:m	pasoš
bez	PREP	bez
mane	N:f	mana
što	CONJ	što
prolazi	N:m	prolaz
grane	N:f	grana
…	SENT	…
Zajednica	N:f	zajednica
naroda	N:m	narod
i	CONJ	i
narodnosti	N:f	narodnost
,	PUNCT	,
kako	CONJ	kako
to	PRO	taj
da	CONJ	da
smo	N:f	smo
živeli	V:m	živeti
i	CONJ	i
radili	V:m	raditi
zajedno	ADV	zajedno
50	NUM	@card@
godina	N:f	godina
i	CONJ	i
onda	ADV	onda
upali	V:m	upasti
u	PREP	u
bratoubilački	A:aem	bratoubilački
rat	N:m	rat
?	SENT	?
Ko	PRO	ko
je	PRO	ona
kriv	A:aem	kriv
?	PUNCT	?
Da	CONJ	da
li	PAR	li
smo	N:f	smo
mi	PRO	ja
krivi	A:aem	kriv
?	SENT	?
Sve	ADV	sve
ove	PRO	ovaj
teme	N:f	tema
su	PREF	su
detaljno	ADV	detaljno
razrađene	V:f	razraditi
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
.	SENT	.
Dokumentarac	N:m	dokumentarac
nije	A:aem	nije
standardni	A:aem	standardan
koji	PRO	koji
se	PAR	se
može	A:aem	može
naći	N:m	naći
na	PREP	na
TV	N:m	TV
-	PUNCT	-
u	PREP	u
,	PUNCT	,
vrlo	ADV	vrlo
je	PRO	ona
kritičan	A:aem	kritičan
prema	PREP	prema
SAD	N:m	sad
i	CONJ	i
EU	N:f	EU
dok	CONJ	dok
zastupa	N:m	zastupa
ideju	N:f	ideja
podjednake	A:aem	podjednak
krivice	N:f	krivica
za	PREP	za
početak	N:m	početak
rata	N:f	rata
među	PREP	među
svim	PRO	sav
zaraćenim	A:aef	zaraćen
stranama	N:f	strana
.	SENT	.
U	PREP	u
svakom	PRO	svaki
slučaju	N:m	slučaj
,	PUNCT	,
da	CONJ	da
ne	PAR	ne
ulazim	N:m	ulazim
u	PREP	u
političke	A:aef	politički
teme	N:f	tema
,	PUNCT	,
te	CONJ	te
da	CONJ	da
mi	PRO	ja
recka	N:f	recka
ostane	N:m	ostane
politički	ADV	politički
korektna	A:aen	korektan
,	PUNCT	,
staću	A:aem	staću
ovde	ADV	ovde
.	SENT	.
Film	N:m	film
se	PAR	se
lako	ADV	lako
gleda	N:m	gleda
,	PUNCT	,
pun	A:aem	pun
je	PRO	ona
humora	N:m	humor
,	PUNCT	,
ponegde	ADV	ponegde
i	CONJ	i
crnog	A:aem	crn
,	PUNCT	,
a	CONJ	a
opet	ADV	opet
je	PRO	ona
veoma	ADV	veoma
materijal	N:m	materijal
za	PREP	za
razmišljanje	N:n	razmišljanje
,	PUNCT	,
a	CONJ	a
šta	PRO	šta
vi	PRO	vi
iz	PREP	iz
toga	PRO	taj
shvatite	N:m	shvatite
…	SENT	…
Vaš	A:aem	Vaš
problem	N:m	problem
:	SENT	:
)	PUNCT	)
