Najbolji	A:cem	dobar
Allenov	N:m	Allenov
film	N:m	film
još	ADV	još
od	PREP	od
The	INT	The
Curse	N:f	Curse
Of	N:m	Of
Jade	A:aem	Jade
Scorpion	N:m	Scorpion
Znam	N:m	Znam
da	CONJ	da
to	PRO	taj
ne	PAR	ne
karakteriše	V:m	karakteriše
ozbiljne	A:aef	ozbiljan
filmske	A:aem	filmski
promišljače	N:f	promišljače
,	PUNCT	,
ali	CONJ	ali
meni	PRO	ja
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
baš	PAR	baš
fenomenalan	A:aem	fenomenalan
.	PUNCT	.
Zato	ADV	zato
ću	A:aem	ću
,	PUNCT	,
u	PREP	u
interesu	N:m	interes
objektivnosti	N:f	objektivnost
,	PUNCT	,
početi	V:m	početi
od	PREP	od
njegovih	PRO	njegov
mana	N:f	mana
.	SENT	.
Najočiglednija	A:cem	Najočiglednija
je	PRO	ona
Larry	A:aem	Larry
David	N:m	David
,	PUNCT	,
koji	PRO	koji
igra	N:f	igra
(	PUNCT	(
eufemizam	N:m	eufemizam
je	PRO	ona
reći	N:f	reći
)	PUNCT	)
mrzovoljnog	A:aem	mrzovoljan
mizantropa	N:m	mizantrop
Borisa	N:m	Boris
Yellnikoffa	N:m	Yellnikoffa
.	SENT	.
On	PRO	on
nije	A:aem	nije
glumac	N:m	glumac
,	PUNCT	,
a	CONJ	a
verovatno	ADV	verovatno
nije	A:aem	nije
ni	CONJ	ni
tip	N:m	tip
osobe	N:f	osoba
koja	PRO	koji
ume	N:m	um
da	CONJ	da
se	PAR	se
dopadne	A:aem	dopadne
onima	PRO	onaj
koji	PRO	koji
ga	PRO	on
,	PUNCT	,
iz	PREP	iz
samo	CONJ	samo
njima	PRO	ona
znanih	A:aem	znan
razloga	N:m	razlog
,	PUNCT	,
već	CONJ	već
ne	PAR	ne
vole	N:m	vo
.	SENT	.
Dakle	CONJ	dakle
,	PUNCT	,
ako	CONJ	ako
vam	PRO	vi
je	PRO	ona
Larry	N:m	Larry
još	ADV	još
iritantniji	A:bem	iritantniji
od	PREP	od
Woody	N:m	Woody
-	PUNCT	-
ja	PRO	ja
vi	PRO	vi
ovde	ADV	ovde
nemate	A:aem	nemate
šta	PRO	šta
da	CONJ	da
tražite	A:aem	tražite
.	PUNCT	.
Priča	A:aem	Priča
(	PUNCT	(
i	CONJ	i
)	PUNCT	)
nije	A:aem	nije
nešto	ADV	nešto
.	SENT	.
Mizantrop	N:m	mizantrop
sreće	N:f	sreća
jedva	ADV	jedva
pismenu	A:aem	pismen
devojčicu	N:f	devojčica
sa	PREP	sa
Juga	N:f	Juga
i	CONJ	i
ona	PRO	ona
mu	PRO	on
promeni	N:f	promena
život	N:m	život
(	PUNCT	(
ali	CONJ	ali
ne	PAR	ne
i	CONJ	i
njega	PRO	on
)	PUNCT	)
.	SENT	.
A	CONJ	a
onda	ADV	onda
dođe	A:aem	dođe
i	CONJ	i
njena	PRO	njen
mama	N:f	mama
.	PUNCT	.
Pa	CONJ	pa
njen	PRO	njen
tata	N:f	tata
.	PUNCT	.
I	CONJ	i
svi	PRO	sav
oni	PRO	onaj
u	PREP	u
Njujorku	N:m	Njujork
otkriju	N:f	otkriju
neku	PRO	neki
svoju	PRO	svoj
duboko	ADV	duboko
potisnutu	A:aef	potisnut
prirodu	N:f	priroda
.	SENT	.
Sve	PRO	sav
to	PRO	taj
Allen	N:m	Allen
je	PRO	ona
opravdao	V:m	opravdati
Borisovom	A:aef	Borisov
životnom	A:aem	životan
devizom	N:f	deviza
„	A:aem	„
whatever	N:m	whatever
works	N:m	works
“	N:m	“
.	SENT	.
Allen	N:m	Allen
nikada	ADV	nikada
do	PREP	do
sada	ADV	sada
nije	A:aen	nije
bio	V:m	biti
toliko	ADV	toliko
direktan	A:aem	direktan
i	CONJ	i
,	PUNCT	,
praktično	ADV	praktično
,	PUNCT	,
banalan	A:aem	banalan
u	PREP	u
svom	PRO	sav
ruganju	N:n	ruganje
,	PUNCT	,
prozivanju	N:n	prozivanje
,	PUNCT	,
nipodaštavanju	N:n	nipodaštavanje
„	N:m	„
tradicionalnih	A:aef	tradicionalan
američkih	A:aef	američki
vrednosti	N:f	vrednost
“	N:m	“
kao	CONJ	kao
što	CONJ	što
su	N:m	su
ljubav	N:f	ljubav
prema	PREP	prema
Bogu	N:m	bog
,	PUNCT	,
braku	N:m	brak
,	PUNCT	,
porodici	N:f	porodica
,	PUNCT	,
patriotizmu	N:m	patriotizam
,	PUNCT	,
obrazovanju	N:n	obrazovanje
,	PUNCT	,
muškim	A:aef	muški
i	CONJ	i
ženskim	A:aem	ženski
stereotipima	N:m	stereotip
.	SENT	.
Povremeno	ADV	povremeno
deluje	A:aem	deluje
da	CONJ	da
čitava	A:aef	čitav
radnja	N:f	radnja
samo	CONJ	samo
služi	N:f	služi
da	CONJ	da
popuni	N:f	popuna
rupe	N:f	rupa
između	PREP	između
Borisovih	A:aem	Borisov
/	A:aem	/
Larry	N:m	Larry
-	PUNCT	-
jevih	A:aem	jevih
/	A:aem	/
Woody	N:m	Woody
-	PUNCT	-
jevih	A:aem	jevih
sve	ADV	sve
-	PUNCT	-
mrzećih	A:aef	mrzeći
tirada	N:f	tirada
.	PUNCT	.
Kao	ADV	kao
i	CONJ	i
mnogo	ADV	mnogo
puta	ADV	puta
do	PREP	do
sada	ADV	sada
,	PUNCT	,
a	CONJ	a
možda	PAR	možda
i	CONJ	i
malčice	ADV	malčice
više	ADV	više
nego	CONJ	nego
pre	ADV	pre
-	PUNCT	-
ovo	PRO	ovaj
je	PRO	ona
mogla	V:n	moći
biti	N:f	bit
pozorišna	A:aem	pozorišni
predstava	N:f	predstava
.	PUNCT	.
I	CONJ	i
na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
Larry	N:m	Larry
-	PUNCT	-
jeva	A:aen	jeva
obraćanja	N:n	obraćanje
u	PREP	u
kameru	N:f	kamera
kao	CONJ	kao
narušavajući	A:aem	narušavajući
momenat	N:m	moment
po	PREP	po
filmsku	A:aef	filmski
iluziju	N:f	iluzija
deluju	N:m	deluju
pre	PREP	pre
kao	ADV	kao
ad	A:aem	ad
-	PUNCT	-
hoc	N:m	hoc
intervencija	N:f	intervencija
,	PUNCT	,
jer	CONJ	jer
nije	A:aen	nije
bilo	V:n	biti
načina	N:m	način
da	CONJ	da
on	PRO	on
(	PUNCT	(
Larry	N:m	Larry
)	PUNCT	)
zapamti	A:aem	zapamti
ceo	A:aem	ceo
tekst	N:m	tekst
,	PUNCT	,
pa	CONJ	pa
ga	PRO	on
je	PRO	ona
čitao	V:m	čitati
sa	PREP	sa
idiota	N:m	idiot
,	PUNCT	,
nego	CONJ	nego
što	CONJ	što
su	N:m	su
neophodna	A:aen	neophodan
dramaturško	A:aen	dramaturški
-	PUNCT	-
rediteljska	A:aef	rediteljski
intervencija	N:f	intervencija
koja	PRO	koji
doprinosi	N:m	doprinos
estetski	A:aem	estetski
specifičnijoj	A:bef	specifičan
percepciji	N:f	percepcija
priče	N:f	priča
.	SENT	.
Pa	CONJ	pa
,	PUNCT	,
zašto	CONJ	zašto
je	PRO	ona
onda	ADV	onda
ovo	PRO	ovaj
fenomenalan	A:aem	fenomenalan
film	N:m	film
?	PUNCT	?
Zato	ADV	zato
što	CONJ	što
je	PRO	ona
Larry	A:aem	Larry
David	N:m	David
jebeno	A:aen	jeben
fenomenalan	A:aem	fenomenalan
!	SENT	!
Woody	A:aem	Woody
je	PRO	ona
znao	V:m	znati
da	CONJ	da
ako	CONJ	ako
sebi	PRO	sebe
stavi	N:m	stavi
sve	PRO	sav
te	PRO	taj
pokude	N:f	pokuda
Amerike	N:f	Amerika
i	CONJ	i
civilizacije	N:f	civilizacija
u	PREP	u
usta	N:n	usta
neće	A:aem	neće
delovati	N:m	delovati
ubedljivo	A:aen	ubedljiv
,	PUNCT	,
dok	CONJ	dok
će	A:aem	će
iz	PREP	iz
Larrey	N:m	Larrey
-	PUNCT	-
jevih	A:aem	jevih
izlaziti	N:m	izlaziti
još	ADV	još
prirodnije	ADV	prirodnije
.	SENT	.
Pri	PREP	pri
tome	PRO	taj
,	PUNCT	,
Larry	N:m	Larry
sa	PREP	sa
sobom	PRO	sebe
nosi	A:aef	nosi
mešavinu	N:f	mešavina
šarmantnosti	N:f	šarmantnosti
i	CONJ	i
iritantnosti	N:f	iritantnost
koja	PRO	koji
svemu	PRO	sav
rečenom	A:aef	rečen
donosi	N:m	donosi
tačno	ADV	tačno
taman	PAR	taman
dozu	N:f	doza
ozbiljnosti	N:f	ozbiljnost
i	CONJ	i
neozbiljnosti	N:f	neozbiljnost
,	PUNCT	,
egomanijaštva	A:aem	egomanijaštva
odn	N:m	odn
.	PUNCT	.
ogorčenosti	N:f	ogorčenost
,	PUNCT	,
blablatrućanja	N:n	blablatrućanja
odn	N:m	odn
.	SENT	.
in	ABB	in
yr	N:m	yr
face	N:f	faca
istine	N:f	istina
.	SENT	.
U	PREP	u
kontekstu	N:m	kontekst
Allenovih	A:aef	Allenovih
godina	N:f	godina
(	PUNCT	(
napunio	V:m	napuniti
74	NUM	@card@
ove	PRO	ovaj
godine	N:f	godina
)	PUNCT	)
,	PUNCT	,
Whatever	N:m	Whatever
Works	N:m	Works
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
poslednjih	A:aem	poslednji
swanovih	A:aem	swanovih
hit	N:m	hit
songova	N:m	song
.	SENT	.
S	PREP	s
druge	A:aem	drugi
strane	N:f	strana
,	PUNCT	,
svako	PRO	svaki
normalan	A:aem	normalan
i	CONJ	i
misleći	A:aem	misleći
morao	V:m	morati
bi	A:aem	bi
u	PREP	u
rutini	N:f	rutina
Davidovih	A:aef	Davidov
prozivki	N:f	prozivka
da	CONJ	da
nađe	N:f	nađe
samo	CONJ	samo
reči	N:f	reč
utehe	N:f	uteha
i	CONJ	i
olakšanja	N:n	olakšanje
.	SENT	.
Priča	A:aem	Priča
je	PRO	ona
prava	N:n	pravo
vudialenovska	A:aef	vudialenovska
.	SENT	.
Čak	N:m	Čak
i	CONJ	i
u	PREP	u
svom	PRO	sav
didaktičkom	A:aem	didaktički
sledu	N:m	sled
.	PUNCT	.
Jer	CONJ	jer
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
dok	CONJ	dok
rafalno	A:aen	rafalni
puca	N:f	puca
na	PREP	na
redneke	A:aem	redneke
sa	PREP	sa
Juga	N:f	Juga
,	PUNCT	,
Woody	N:m	Woody
kroz	PREP	kroz
brzinu	N:f	brzina
njihove	PRO	njihov
transformacije	N:f	transformacija
i	CONJ	i
adaptacije	N:f	adaptacija
na	PREP	na
Njujork	N:m	Njujork
denuncira	N:m	denuncira
i	CONJ	i
satirizuje	N:m	satirizuje
stvarne	A:aef	stvaran
standarde	N:m	standard
njegove	PRO	njegov
(	PUNCT	(
estetske	A:aef	estetski
)	PUNCT	)
sofisticiranosti	N:f	sofisticiranost
i	CONJ	i
slobodoumnosti	N:f	slobodoumnost
.	SENT	.
Vi	PRO	vi
ćete	N:m	ćete
možda	PAR	možda
reći	V:m	reći
da	CONJ	da
je	PRO	ona
to	PRO	taj
jedan	NUM	jedan
vrlo	ADV	vrlo
iskren	A:aem	iskren
i	CONJ	i
dobronameran	A:aem	dobronameran
omaž	N:m	omaž
lakoći	N:f	lakoća
ponjujorčavanja	N:n	ponjujorčavanja
,	PUNCT	,
ali	CONJ	ali
ja	PRO	ja
u	PREP	u
tome	PRO	taj
vidim	A:aen	vidim
denunciranje	N:n	denunciranje
.	SENT	.
Ja	PRO	ja
sam	A:aem	sam
Larry	N:m	Larry
.	PUNCT	.
Da	CONJ	da
je	PRO	ona
Allen	N:m	Allen
mlađi	A:bem	mlad
,	PUNCT	,
sve	PRO	sav
tirade	N:f	tirada
bi	N:f	bi
zaista	PAR	zaista
bile	V:f	biti
duhovito	A:aen	duhovit
,	PUNCT	,
ali	CONJ	ali
klišeizirano	A:aen	klišeizirano
izdrkavanje	N:n	izdrkavanje
.	SENT	.
Ali	CONJ	ali
,	PUNCT	,
ovako	ADV	ovako
,	PUNCT	,
s	PREP	s
obzirom	N:m	obzir
na	PREP	na
Allenove	N:m	Allenove
godine	N:f	godina
,	PUNCT	,
one	PRO	onaj
su	N:m	su
zen	A:aem	zen
rezime	N:m	rezime
jednog	NUM	jedan
starca	N:m	starac
,	PUNCT	,
života	N:m	život
promišljanog	A:aem	promišljan
do	PREP	do
tančina	N:f	tančina
-	PUNCT	-
„	N:m	„
to	PRO	taj
je	PRO	ona
to	PRO	taj
i	CONJ	i
fuck	A:aem	fuck
off	N:m	off
!	PUNCT	!
“	N:m	“
.	PUNCT	.
Svi	PRO	sav
glumci	N:m	glumac
,	PUNCT	,
a	CONJ	a
pre	PREP	pre
svega	PRO	sav
David	N:m	David
i	CONJ	i
Evan	N:m	Evan
Rachel	N:m	Rachel
Woods	N:m	Woods
su	PREF	su
fenomenalni	A:aem	fenomenalan
.	PUNCT	.
Tako	ADV	tako
da	CONJ	da
je	PRO	ona
pozorišnost	N:f	pozorišnost
,	PUNCT	,
ako	CONJ	ako
je	PRO	ona
ima	N:m	ima
,	PUNCT	,
na	PREP	na
nivou	N:m	nivo
.	PUNCT	.
Na	PREP	na
kraju	N:m	kraj
,	PUNCT	,
Larry	N:m	Larry
-	PUNCT	-
jevo	A:aen	jevo
obraćanje	N:n	obraćanje
u	PREP	u
kameru	N:f	kamera
i	CONJ	i
jeste	INT	jeste
potvrda	N:f	potvrda
toga	PRO	taj
da	CONJ	da
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
samo	CONJ	samo
povod	N:m	povod
za	PREP	za
stejtment	N:m	stejtment
,	PUNCT	,
za	PREP	za
izliv	N:m	izliv
ogorčenosti	N:f	ogorčenost
nekoga	PRO	neki
ko	PRO	ko
je	PRO	ona
do	PREP	do
sada	ADV	sada
uglavnom	ADV	uglavnom
simpatično	A:aen	simpatičan
i	CONJ	i
bezopasno	A:aen	bezopasan
tinjao	V:m	tinjati
,	PUNCT	,
ali	CONJ	ali
(	PUNCT	(
SLUŠAJTE	N:m	SLUŠAJTE
OVO	A:aem	OVO
JE	A:aef	JE
BITNO	N:f	BITNO
!	PUNCT	!
!	PUNCT	!
!	SENT	!
)	PUNCT	)
zapečaćen	V:m	zapečatiti
ultimativnom	A:aef	ultimativan
kosmopolitskom	A:aef	kosmopolitski
mantrom	N:f	mantra
-	PUNCT	-
whatever	N:m	whatever
works	N:m	works
!	PUNCT	!
Baš	A:aem	Baš
kao	ADV	kao
i	CONJ	i
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
