Već	A:aem	Već
sam	PRO	sam
pričao	V:m	pričati
kako	CONJ	kako
ne	PAR	ne
volim	A:aem	volim
ratne	A:aef	ratni
filmove	N:m	film
koji	PRO	koji
se	PAR	se
svode	N:m	svod
na	PREP	na
konstantnu	A:aen	konstantan
pucnjavu	N:f	pucnjava
.	SENT	.
Jedini	A:aem	jedini
koji	PRO	koji
mi	PRO	ja
se	PAR	se
svideo	V:m	svideti
od	PREP	od
tih	PRO	taj
je	PRO	ona
Black	N:m	Black
Hawk	A:aem	Hawk
Down	N:m	Down
ali	CONJ	ali
on	PRO	on
ne	PAR	ne
može	A:aem	može
da	CONJ	da
prismrdi	N:f	prismrdi
remek	N:m	remek
delu	N:n	delo
kakvo	PRO	kakav
je	PRO	ona
ovaj	PRO	ovaj
film	N:m	film
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
pre	PREP	pre
svega	PRO	sav
avantura	N:f	avantura
i	CONJ	i
genijalan	A:aem	genijalan
špijunski	A:aem	špijunski
film	N:m	film
.	SENT	.
Ratni	A:aem	ratni
je	PRO	ona
zato	ADV	zato
što	CONJ	što
se	PAR	se
dešava	N:n	dešava
za	PREP	za
vreme	N:n	vreme
Drugog	N:m	Drugog
Svetskog	A:aem	svetski
Rata	N:f	rata
.	SENT	.
Priča	N:m	Priča
je	PRO	ona
zaista	PAR	zaista
dobra	N:n	dobro
,	PUNCT	,
pogotovu	ADV	pogotovu
njen	PRO	njen
aspekt	N:m	aspekt
koji	PRO	koji
se	PAR	se
tiče	N:n	tiče
špijunaže	N:f	špijunaža
.	SENT	.
Naravno	PAR	naravno
,	PUNCT	,
da	CONJ	da
bi	V:m	bi
taj	PRO	taj
špijunski	A:aem	špijunski
deo	N:m	deo
uspeo	V:m	uspeti
,	PUNCT	,
moraš	A:aem	moraš
imati	A:aem	imati
vrhunskog	A:aem	vrhunski
glumca	N:m	glumac
koji	PRO	koji
može	A:aem	može
da	CONJ	da
te	PRO	taj
ubedi	N:f	ubedi
da	CONJ	da
je	PRO	ona
neko	PRO	neki
ko	PRO	ko
može	A:aem	može
da	CONJ	da
zajebe	N:m	zajeb
bilo	V:n	biti
koga	PRO	koji
.	SENT	.
Ovde	ADV	ovde
ga	PRO	on
imaju	N:f	imaju
a	CONJ	a
to	PRO	taj
je	PRO	ona
njegovo	PRO	njegov
visočanstvo	N:n	visočanstvo
Ričard	N:m	Ričard
Barton	N:m	Barton
.	SENT	.
Nije	N:m	Nije
samo	PAR	samo
on	PRO	on
tu	ADV	tu
sjajan	A:aem	sjajan
glumac	N:m	glumac
,	PUNCT	,
imamo	N:m	imamo
ovde	ADV	ovde
još	ADV	još
gomilu	N:f	gomila
glumačkih	A:aef	glumački
veličina	N:f	veličina
a	CONJ	a
jedna	NUM	jedan
od	PREP	od
njih	PRO	ona
je	PRO	ona
i	CONJ	i
Klint	N:m	Klint
Istvud	N:m	Istvud
.	SENT	.
Pomenuću	N:m	Pomenuću
i	CONJ	i
meni	PRO	ja
omiljenu	A:aen	omiljen
,	PUNCT	,
prelepu	A:aef	prelep
Ingrid	N:f	Ingrid
Pit	N:m	Pit
.	PUNCT	.
No	CONJ	no
da	CONJ	da
se	PAR	se
vratim	A:aem	vratim
filmu	N:m	film
.	SENT	.
Scene	N:f	scena
su	PREF	su
prelepe	A:aef	prelep
jer	CONJ	jer
se	PAR	se
radnja	N:f	radnja
odvija	A:ben	odvija
u	PREP	u
toku	N:m	tok
zime	N:f	zima
u	PREP	u
planinskim	A:aef	planinski
predelima	N:m	predeo
.	SENT	.
Činjenica	N:f	Činjenica
da	CONJ	da
imamo	N:m	imamo
to	PRO	taj
ne	PAR	ne
baš	PAR	baš
prijateljski	ADV	prijateljski
nastrojeno	A:aen	nastrojen
vreme	N:n	vreme
i	CONJ	i
zamak	N:m	zamak
koji	PRO	koji
se	PAR	se
nalazi	N:m	nalaz
na	PREP	na
vrhu	N:m	vrh
nedostupne	A:aef	nedostupan
planinčine	N:f	planinčina
je	PRO	ona
nešto	PRO	nešto
čime	PRO	šta
se	PAR	se
ovaj	PRO	ovaj
film	N:m	film
može	A:aef	može
pohvaliti	N:f	pohvaliti
.	SENT	.
Sam	A:aem	sam
dolazak	N:m	dolazak
do	PREP	do
tog	PRO	taj
zamka	N:f	zamka
nije	A:aem	nije
jedini	A:aem	jedini
problem	N:m	problem
na	PREP	na
koji	PRO	koji
naši	PRO	naš
junaci	N:m	junak
nailaze	N:m	nailaze
.	SENT	.
Samim	PRO	sam
tim	N:m	tim
,	PUNCT	,
špijunski	A:aem	špijunski
aspekt	N:m	aspekt
filma	N:m	film
dolazi	N:m	dolaz
do	PREP	do
izražaja	N:m	izražaj
jer	CONJ	jer
je	PRO	ona
urađen	V:m	uraditi
tako	ADV	tako
da	CONJ	da
ne	PAR	ne
vređa	A:aen	vređa
inteligenciju	N:f	inteligencija
nijednog	A:aem	nijedan
momenta	N:m	moment
.	SENT	.
Ovde	ADV	ovde
se	PAR	se
vidi	N:f	vida
koliko	ADV	koliko
brilijantan	A:aem	brilijantan
um	N:m	um
moraš	A:aem	moraš
biti	N:f	bit
da	CONJ	da
isplaniraš	A:aem	isplaniraš
situaciju	N:f	situacija
.	SENT	.
Zbog	PREP	zbog
tako	ADV	tako
sjajne	A:aef	sjajan
izvedbe	N:f	izvedba
,	PUNCT	,
do	PREP	do
samog	PRO	sam
kraja	N:m	kraj
filma	N:m	film
nećete	N:m	nećete
znati	V:m	znati
ko	PRO	ko
je	PRO	ona
ko	PRO	ko
,	PUNCT	,
ko	PRO	ko
koga	PRO	koji
špijunira	N:m	špijunira
,	PUNCT	,
ko	PRO	ko
je	PRO	ona
pozitivac	N:m	pozitivac
a	CONJ	a
ko	PRO	ko
ne	PAR	ne
.	PUNCT	.
Neku	PRO	neki
veliku	A:aef	velik
pucačinu	A:aef	pucačinu
nemamo	N:f	nemamo
do	PREP	do
samog	PRO	sam
kraja	N:m	kraj
kada	CONJ	kada
kreće	A:aem	kreće
rasplet	N:m	rasplet
.	SENT	.
Iskreno	ADV	iskreno
ona	PRO	ona
ni	PAR	ni
malo	ADV	malo
nije	V:f	nije
falila	V:f	faliti
tokom	PREP	tokom
celog	A:aem	ceo
filma	N:m	film
.	SENT	.
Čak	N:m	Čak
je	PRO	ona
zbog	PREP	zbog
jedinog	A:aem	jedini
preterivanja	N:n	preterivanje
u	PREP	u
filmu	N:m	film
i	CONJ	i
smatram	N:m	smatram
najslabijim	A:cen	slab
delom	N:m	deo
ovog	PRO	ovaj
ostvarenja	N:n	ostvarenje
,	PUNCT	,
ako	CONJ	ako
nešto	ADV	nešto
u	PREP	u
ovom	PRO	ovaj
filmu	N:m	film
i	CONJ	i
može	A:aem	može
da	CONJ	da
se	PAR	se
nazove	A:aem	nazove
slabim	A:aem	slab
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
spektakl	N:m	spektakl
koji	PRO	koji
svako	PRO	svaki
treba	N:f	treba
da	CONJ	da
pogleda	N:m	pogled
.	SENT	.
