a	CONJ	a
)	PUNCT	)
(	SENT	(
stvarno	ADV	stvarno
)	PUNCT	)
srpski	A:aem	srpski
kandidat	N:m	kandidat
za	PREP	za
Oskara	N:m	Oskar
(	PUNCT	(
u	PREP	u
senci	N:f	senka
)	PUNCT	)
.	SENT	.
b	ABB	b
)	PUNCT	)
sve	ADV	sve
što	CONJ	što
je	PRO	ona
Želimir	N:m	Želimir
Žilnik	N:m	Žilnik
želeo	V:m	želeti
da	CONJ	da
zna	V:m	zna
o	PREP	o
seksu	N:m	seks
,	PUNCT	,
a	CONJ	a
nije	A:aem	nije
smeo	V:m	smesti
da	CONJ	da
pita	N:f	pita
.	PUNCT	.
c	N:m	c
)	PUNCT	)
turbonihilizam	N:m	turbonihilizam
(	PUNCT	(
supermrtav	A:aem	supermrtav
i	CONJ	i
superbeo	A:aem	superbeo
)	PUNCT	)
.	SENT	.
d	ABB	d
)	PUNCT	)
drugi	A:aem	drugi
najbitniji	A:cem	bitan
srpski	A:aem	srpski
film	N:m	film
u	PREP	u
poslednjih	A:aem	poslednji
dvadeset	NUM	dvadeset
godina	N:f	godina
.	PUNCT	.
Birajte	N:m	Birajte
.	PUNCT	.
Vrline	N:f	vrlina
:	PUNCT	:
Ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
koji	PRO	koji
je	PRO	ona
Srbija	N:f	Srbija
zaslužila	V:f	zaslužiti
.	PUNCT	.
I	CONJ	i
dobila	V:n	dobiti
.	PUNCT	.
Kako	CONJ	kako
idemo	N:f	idemo
ka	PREP	ka
kraju	N:m	kraj
filma	N:m	film
tragedije	N:f	tragedija
postaju	N:f	postaja
sve	ADV	sve
bizarnije	A:bef	bizaran
i	CONJ	i
nepodnošljivije	A:bef	nepodnošljiv
kao	CONJ	kao
u	PREP	u
filmu	N:m	film
Dancer	N:m	Dancer
In	N:m	In
The	INT	The
Dark	N:m	Dark
,	PUNCT	,
Larsa	N:m	Lars
Von	N:m	Von
Triera	N:m	Triera
.	SENT	.
Samo	PAR	samo
ovde	ADV	ovde
smeh	N:m	smeh
Srbina	N:m	Srbin
ne	PAR	ne
spasava	A:aem	spasava
.	PUNCT	.
Posle	PREP	posle
dužeg	A:bem	dug
vremena	N:n	vreme
Srbija	N:f	Srbija
ima	A:aem	ima
Dogma	N:f	dogma
film	N:m	film
u	PREP	u
kome	PRO	koji
je	PRO	ona
produkcijska	A:aef	produkcijski
nužnost	N:f	nužnost
uspešno	ADV	uspešno
pretočena	V:f	pretočiti
u	PREP	u
stil	N:m	stil
.	SENT	.
Činjenica	N:f	Činjenica
da	CONJ	da
je	PRO	ona
Život	N:m	Život
i	CONJ	i
smrt	N:f	smrt
formalno	A:aen	formalan
„	N:m	„
lažni	A:aem	lažan
“	A:aem	“
dokumentarac	N:m	dokumentarac
u	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
otvara	N:m	otvara
prostor	N:m	prostor
da	CONJ	da
se	PAR	se
dileme	N:f	dilema
koje	PRO	koji
ima	A:aem	ima
reditelj	N:m	reditelj
Marko	N:m	Marko
(	PUNCT	(
u	PREP	u
filmu	N:m	film
)	PUNCT	)
posmatraju	N:m	posmatraju
kao	CONJ	kao
i	CONJ	i
dileme	N:f	dilema
koje	PRO	koji
je	PRO	ona
(	PUNCT	(
možda	PAR	možda
)	PUNCT	)
sam	A:aem	sam
Đorđević	N:m	Đorđević
imao	V:m	imati
tokom	PREP	tokom
snimanja	N:n	snimanje
ovakvog	PRO	ovakav
filma	N:m	film
.	SENT	.
Dok	CONJ	dok
se	PAR	se
Marko	N:m	Marko
pita	N:f	pita
zašto	CONJ	zašto
snima	N:m	san
takve	PRO	takav
filmove	N:m	film
,	PUNCT	,
i	CONJ	i
nastavlja	N:n	nastavlja
sa	PREP	sa
istim	A:aef	isti
(	PUNCT	(
sve	ADV	sve
do	PREP	do
kraja	N:m	kraj
)	PUNCT	)
i	CONJ	i
mi	PRO	ja
se	PAR	se
pitamo	V:n	pitamo
zašto	ADV	zašto
gledamo	N:f	gledamo
ovakav	PRO	ovakav
film	N:m	film
,	PUNCT	,
i	CONJ	i
nastavljamo	N:f	nastavljamo
sa	PREP	sa
gledanjem	N:n	gledanje
(	PUNCT	(
neki	PRO	neki
ne	PAR	ne
i	CONJ	i
do	PREP	do
kraja	N:m	kraj
)	PUNCT	)
.	SENT	.
Upotreba	N:f	upotreba
naturščika	N:m	naturščik
je	PRO	ona
magična	A:aef	magičan
.	PUNCT	.
I	CONJ	i
ozbiljno	ADV	ozbiljno
će	A:aem	će
uticati	N:m	uticati
na	PREP	na
naše	PRO	naš
odluke	N:f	odluka
da	CONJ	da
se	PAR	se
uputimo	V:m	uputimo
u	PREP	u
neke	PRO	neki
krajeve	N:m	kraj
lepe	A:aem	lep
naše	PRO	naš
.	PUNCT	.
Srbije	N:f	Srbija
.	PUNCT	.
Scene	N:f	scena
seksa	N:m	seks
i	CONJ	i
nasilja	N:n	nasilje
su	N:m	su
„	A:aem	„
do	PREP	do
koske	N:f	koska
“	N:m	“
.	PUNCT	.
Kao	CONJ	kao
nikad	ADV	nikad
do	PREP	do
sada	ADV	sada
u	PREP	u
srpskom	A:aem	srpski
filmu	N:m	film
(	PUNCT	(
videćemo	N:f	videćemo
da	CONJ	da
li	PAR	li
će	A:aem	će
Srpski	A:aem	srpski
film	N:m	film
uspeti	V:m	uspeti
to	PRO	taj
da	CONJ	da
nadmaši	A:aem	nadmaši
)	PUNCT	)
.	SENT	.
Scene	N:f	scena
neseksa	N:m	neseksa
i	CONJ	i
nenasilja	N:n	nenasilje
su	N:m	su
jezivije	A:bef	jeziv
.	PUNCT	.
Život	N:m	Život
i	CONJ	i
smrt	N:f	smrt
porno	A:aen	porni
bande	N:f	banda
je	PRO	ona
prvi	A:aem	prvi
pošten	A:aem	pošten
obračun	N:m	obračun
sa	PREP	sa
istorijom	N:f	istorija
koja	PRO	koji
je	PRO	ona
za	PREP	za
nama	PRO	mi
.	PUNCT	.
Jer	CONJ	jer
nema	A:aem	nem
pobednika	N:m	pobednik
.	SENT	.
Cravenova	A:aef	Cravenova
verzija	N:f	verzija
Last	N:m	Last
House	N:m	House
On	N:f	On
The	INT	The
Left	N:f	Left
dobila	V:n	dobiti
je	PRO	ona
svoj	PRO	sav
oficijelni	A:aem	oficijelan
srpski	A:aem	srpski
rimejk	N:m	rimejk
.	SENT	.
Koji	PRO	koji
je	PRO	ona
bolji	A:bem	dobar
od	PREP	od
originala	N:m	original
.	SENT	.
Treba	N:f	treba
napomenuti	A:aem	napomenut
.	SENT	.
Konačno	A:aen	Konačno
je	PRO	ona
stvorena	A:aem	stvoren
„	N:m	„
nova	A:aef	nov
realnost	N:f	realnost
u	PREP	u
Srbiji	N:f	Srbija
“	N:m	“
(	PUNCT	(
„	N:m	„
nova	A:aef	nov
srpska	A:aen	srpski
realnost	N:f	realnost
“	N:m	“
)	PUNCT	)
u	PREP	u
kojoj	PRO	koji
se	PAR	se
mogu	A:aem	mogu
snimati	N:m	snimati
filmovi	N:m	film
.	PUNCT	.
Glumci	N:m	glumac
(	PUNCT	(
Predrag	N:m	Predrag
Damnjanović	N:m	Damnjanović
/	A:aem	/
Vanja	N:f	Vanja
/	N:m	/
,	PUNCT	,
Ivan	N:m	Ivan
Đorđević	N:m	Đorđević
/	A:aem	/
Ceca	N:f	Ceca
/	N:m	/
,	PUNCT	,
Radivoj	N:m	Radivoj
Knežević	N:m	Knežević
/	A:aem	/
Johnny	A:aem	Johnny
/	N:m	/
,	PUNCT	,
Nataša	N:f	Nataša
Miljuš	N:m	Miljuš
/	A:aem	/
Sofija	N:f	Sofija
/	N:m	/
)	PUNCT	)
postavili	V:m	postaviti
su	N:m	su
standard	N:m	standard
šta	PRO	šta
(	PUNCT	(
sve	ADV	sve
)	PUNCT	)
glumac	N:m	glumac
u	PREP	u
Srbiji	N:f	Srbija
može	A:aem	može
(	PUNCT	(
a	CONJ	a
i	CONJ	i
treba	N:f	treba
)	PUNCT	)
da	CONJ	da
glumi	N:f	gluma
.	PUNCT	.
Kadsemoramorase	N:m	Kadsemoramorase
.	PUNCT	.
Joca	N:m	Joca
Jovanović	N:m	Jovanović
.	SENT	.
Žika	N:m	Žika
Pavlović	N:m	Pavlović
.	SENT	.
Mladen	N:m	Mladen
Đorđević	N:m	Đorđević
.	PUNCT	.
Mane	N:m	Man
:	PUNCT	:
Mislim	A:aef	Mislim
da	CONJ	da
su	PREF	su
datumi	N:m	datum
(	PUNCT	(
koji	PRO	koji
određuju	N:f	određuju
kada	CONJ	kada
se	PAR	se
radnja	N:f	radnja
dešava	V:m	dešava
i	CONJ	i
koji	PRO	koji
tvore	N:m	tvor
dnevničku	A:aef	dnevnički
strukturu	N:f	struktura
filma	N:m	film
)	PUNCT	)
bili	V:m	biti
nepotrebni	A:aem	nepotreban
.	PUNCT	.
Komplikuju	N:m	Komplikuju
i	CONJ	i
zbunjuju	N:m	zbunjuju
.	PUNCT	.
I	CONJ	i
tek	CONJ	tek
povremeno	ADV	povremeno
imaju	N:f	imaju
svrhu	N:f	svrha
.	SENT	.
Struktura	N:f	struktura
filma	N:m	film
,	PUNCT	,
oivičena	A:aem	oivičen
podnaslovima	N:m	podnaslov
,	PUNCT	,
nije	V:m	nije
baš	PAR	baš
najsrećnija	A:cem	srećan
.	SENT	.
Segmentira	N:m	Segmentira
sadržaj	N:m	sadržaj
koji	PRO	koji
bi	N:f	bi
lepo	ADV	lepo
mogao	V:m	moći
da	CONJ	da
se	PAR	se
ispovraća	V:m	ispovraća
po	PREP	po
nama	PRO	mi
i	CONJ	i
bez	PREP	bez
pauza	N:f	pauza
.	PUNCT	.
Glumci	N:m	glumac
(	PUNCT	(
Srboljub	N:m	Srboljub
Milin	N:m	Milin
/	A:aem	/
Franc	N:m	Franc
/	N:m	/
,	PUNCT	,
pa	CONJ	pa
i	CONJ	i
sam	A:aem	sam
Mihajlo	N:m	Mihajlo
Jovanović	N:m	Jovanović
/	A:aem	/
Marko	N:m	Marko
/	N:m	/
)	PUNCT	)
povremeno	ADV	povremeno
govore	N:m	govor
replike	N:f	replika
sa	PREP	sa
godarovskom	A:aef	godarovskom
neemotivnošću	N:f	neemotivnošću
,	PUNCT	,
ali	CONJ	ali
ne	PAR	ne
ostvaruju	N:m	ostvaruju
distancu	N:f	distanca
i	CONJ	i
začudnost	N:f	začudnost
,	PUNCT	,
već	PAR	već
deluju	A:aen	deluju
patetično	A:aen	patetičan
.	PUNCT	.
A	CONJ	a
često	ADV	često
i	CONJ	i
glupo	ADV	glupo
.	PUNCT	.
Na	PREP	na
kraju	N:m	kraj
nam	PRO	mi
samo	PAR	samo
ostaje	V:n	ostaje
da	CONJ	da
se	PAR	se
nadamo	N:f	nadamo
da	CONJ	da
nisu	N:m	nisu
stvarno	ADV	stvarno
zaklali	V:m	zaklati
kozu	N:f	koza
.	PUNCT	.
.	SENT	.
.	PUNCT	.
