Novu	A:aen	nov
,	PUNCT	,
devedeset	NUM	devedeset
miliona	N:m	milion
dolara	N:m	dolar
vrednu	A:aef	vredan
adaptaciju	N:f	adaptacija
prvog	A:aem	prvi
dela	N:n	delo
trilogije	N:f	trilogija
potpisuje	N:m	potpisuje
majstor	N:m	majstor
David	N:m	David
Fincher	N:m	Fincher
koji	PRO	koji
je	PRO	ona
uspeo	V:m	uspeti
da	CONJ	da
napravi	N:f	naprava
pravo	N:n	pravo
malo	A:aen	mali
čudo	N:n	čudo
Trilogija	N:f	trilogija
Milenijum	N:m	milenijum
švedskog	A:aem	švedski
pisca	N:m	pisac
Stiega	A:aem	Stiega
Larssona	N:m	Larssona
postigla	V:m	postignuti
je	PRO	ona
neverovatan	A:aem	neverovatan
međunarodni	A:aem	međunarodan
uspeh	N:m	uspeh
i	CONJ	i
postala	V:f	postati
bestseler	N:m	bestseler
u	PREP	u
svim	PRO	sav
zemljama	N:f	zemlja
u	PREP	u
kojima	PRO	koji
je	PRO	ona
objavljena	V:n	objaviti
,	PUNCT	,
uključujući	N:n	uključujući
i	CONJ	i
Srbiju	N:f	Srbija
.	SENT	.
Zato	ADV	zato
ne	PAR	ne
čudi	N:f	čudi
što	CONJ	što
se	PAR	se
za	PREP	za
ekranizaciju	N:f	ekranizacija
njegovih	PRO	njegov
romana	N:m	roman
zainteresovao	V:m	zainteresovati
i	CONJ	i
Holivud	N:m	Holivud
.	SENT	.
Novu	A:aen	nov
,	PUNCT	,
devedeset	NUM	devedeset
miliona	N:m	milion
dolara	N:m	dolar
vrednu	A:aef	vredan
adaptaciju	N:f	adaptacija
prvog	A:aem	prvi
dela	N:n	delo
trilogije	N:f	trilogija
potpisuje	N:m	potpisuje
majstor	N:m	majstor
David	N:m	David
Fincher	N:m	Fincher
koji	PRO	koji
je	PRO	ona
uspeo	V:m	uspeti
da	CONJ	da
napravi	N:f	naprava
pravo	N:n	pravo
malo	A:aen	mali
čudo	N:n	čudo
.	SENT	.
Naime	PAR	naime
,	PUNCT	,
nova	A:aef	nov
filmska	A:aef	filmski
verzija	N:f	verzija
je	PRO	ona
u	PREP	u
svakom	PRO	svaki
pogledu	N:m	pogled
bolja	A:bef	dobar
od	PREP	od
prvobitne	A:aef	prvobitan
skandinavske	A:aef	skandinavski
;	PUNCT	;
jeste	INT	jeste
Niels	N:m	Niels
Arden	N:m	Arden
Oplev	N:m	Oplev
snimio	V:m	snimiti
dobar	A:aem	dobar
film	N:m	film
,	PUNCT	,
ali	CONJ	ali
Fincher	N:m	Fincher
je	PRO	ona
ipak	PAR	ipak
reditelj	N:m	reditelj
više	ADV	više
klase	N:f	klasa
.	SENT	.
Muškarci	N:m	Muškarci
koji	PRO	koji
mrze	A:aem	mrze
žene	N:f	žena
(	PUNCT	(
ili	CONJ	ili
Devojka	N:m	Devojka
s	PREP	s
tetovažom	N:f	tetovaža
zmaja	N:m	zmaj
,	PUNCT	,
kako	CONJ	kako
je	PRO	ona
roman	N:m	roman
/	A:aem	/
film	N:m	film
preimenovan	V:m	preimenovati
u	PREP	u
SAD	N:m	sad
)	PUNCT	)
jeste	INT	jeste
majstorski	A:aem	majstorski
sklopljen	A:aem	sklopljen
triler	N:m	triler
epskog	A:aem	epski
zahvata	N:m	zahvat
.	SENT	.
U	PREP	u
ambiciozni	A:aem	ambiciozan
okvir	N:m	okvir
od	PREP	od
dva	NUM	dva
i	CONJ	i
po	PREP	po
sata	N:m	sat
stalo	V:n	stati
je	PRO	ona
dosta	ADV	dosta
toga	PRO	taj
:	PUNCT	:
scenario	N:m	scenario
Stevena	A:aef	Stevena
Zailliana	N:f	Zailliana
(	PUNCT	(
nagrađen	V:m	nagraditi
Oscarom	N:m	Oscarom
za	PREP	za
Šindlerovu	A:aef	Šindlerovu
listu	N:f	lista
)	PUNCT	)
verno	ADV	verno
prati	N:f	prati
roman	N:m	roman
i	CONJ	i
uspeva	N:m	uspeva
da	CONJ	da
sačuva	A:aen	sačuva
gotovo	ADV	gotovo
sve	ADV	sve
postojeće	A:aen	postojeći
aspekte	N:m	aspekt
,	PUNCT	,
što	CONJ	što
nije	A:aem	nije
bio	V:m	biti
lak	A:aem	lak
posao	N:m	posao
.	SENT	.
Daniel	N:f	Daniel
Craig	N:m	Craig
tumači	N:m	tumač
lik	N:m	lik
novinara	N:m	novinar
Mikaela	N:m	Mikaela
Blomkvista	N:m	Blomkvista
unajmljenog	A:aem	unajmljen
da	CONJ	da
istraži	A:aem	istraži
četiri	NUM	četiri
decenije	N:f	decenija
star	A:aem	star
slučaj	N:m	slučaj
nestanka	N:m	nestanak
,	PUNCT	,
odnosno	PAR	odnosno
mogućeg	A:aen	moguć
ubistva	N:n	ubistvo
mlade	A:aef	mlad
devojke	N:f	devojka
.	SENT	.
Rooney	A:aem	Rooney
Mara	N:m	Mar
je	PRO	ona
od	PREP	od
Noomi	A:aem	Noomi
Rapace	N:m	Rapace
(	PUNCT	(
glumila	V:f	glumiti
u	PREP	u
švedskim	A:aef	švedski
filmskim	A:aef	filmski
adaptacijama	N:f	adaptacija
)	PUNCT	)
preuzela	V:m	preuzeti
ulogu	N:f	uloga
neprilagođene	A:aem	neprilagođen
Lisbeth	A:aem	Lisbeth
Slander	N:m	Slander
,	PUNCT	,
Blomkvistove	A:aef	Blomkvistove
pomoćnice	N:f	pomoćnica
i	CONJ	i
ljubavnice	N:f	ljubavnica
,	PUNCT	,
pobedivši	A:aem	pobedivši
u	PREP	u
trci	N:f	trka
mnoge	A:aem	mnogi
poznatije	A:bef	poznat
koleginice	N:f	koleginica
(	PUNCT	(
Anne	A:aem	Anne
Hathaway	N:m	Hathaway
,	PUNCT	,
Scarlett	A:aem	Scarlett
Johansson	N:m	Johansson
,	PUNCT	,
Carey	A:aem	Carey
Mulligan	N:m	Mulligan
,	PUNCT	,
Ellen	A:aem	Ellen
Page	N:m	Page
,	PUNCT	,
Kristen	A:aem	Kristen
Stewart	N:m	Stewart
)	PUNCT	)
.	SENT	.
Mara	N:f	Mara
i	CONJ	i
Craig	N:m	Craig
su	PREF	su
srce	N:n	srce
i	CONJ	i
duša	N:f	duša
filma	N:m	film
,	PUNCT	,
a	CONJ	a
ujedno	ADV	ujedno
i	CONJ	i
sjajan	A:aem	sjajan
tandem	N:m	tandem
.	PUNCT	.
Zaillian	N:m	Zaillian
i	CONJ	i
Fincher	N:m	Fincher
ne	PAR	ne
požuruju	N:m	požuruju
priču	N:f	priča
,	PUNCT	,
puštaju	N:m	puštaju
da	CONJ	da
se	PAR	se
postepeno	ADV	postepeno
odmotava	A:aem	odmotava
,	PUNCT	,
a	CONJ	a
da	CONJ	da
nijednog	A:aem	nijedan
trenutka	N:m	trenutak
ne	PAR	ne
postanu	N:m	postanu
dosadni	A:aem	dosadan
ili	CONJ	ili
repetitivni	A:aem	repetitivni
.	SENT	.
Zahvaljujući	A:aem	Zahvaljujući
odluci	N:f	odluka
da	CONJ	da
fokus	N:m	fokus
ne	PAR	ne
bude	A:aem	bude
samo	PAR	samo
na	PREP	na
centralnoj	A:aef	centralni
misteriji	N:f	misterija
,	PUNCT	,
film	N:m	film
dobija	N:n	dobija
na	PREP	na
kompleksnosti	N:f	kompleksnost
,	PUNCT	,
a	CONJ	a
likovi	N:m	lik
na	PREP	na
dubini	N:f	dubina
i	CONJ	i
uverljivosti	N:f	uverljivost
.	SENT	.
Rasipanje	N:n	rasipanje
fokusa	N:m	fokus
dovodi	N:m	dovod
do	PREP	do
određene	V:f	odrediti
dramaturške	A:aef	dramaturški
„	A:aem	„
razglobljenosti	N:f	razglobljenosti
'	N:m	'
,	PUNCT	,
ali	CONJ	ali
to	PRO	taj
ne	PAR	ne
remeti	N:f	remeta
gledalačko	A:aen	gledalački
iskustvo	N:n	iskustvo
,	PUNCT	,
naprotiv	PAR	naprotiv
,	PUNCT	,
samo	PAR	samo
ga	PRO	on
čini	N:f	čini
još	ADV	još
fascinantnijim	A:bef	fascinantan
.	SENT	.
Muškarci	N:m	Muškarci
koji	PRO	koji
mrze	A:aef	mrze
žene	N:f	žena
jeste	INT	jeste
mračan	A:aem	mračan
i	CONJ	i
nasilan	A:aem	nasilan
film	N:m	film
,	PUNCT	,
sasvim	ADV	sasvim
u	PREP	u
duhu	N:m	duh
Larssonovog	A:aem	Larssonovog
predloška	N:m	predložak
koji	PRO	koji
Holivud	N:m	Holivud
,	PUNCT	,
čudima	N:n	čudo
nikad	ADV	nikad
kraja	N:m	kraj
,	PUNCT	,
nije	A:aem	nije
uspeo	A:aem	uspeo
da	CONJ	da
razvodnji	A:aem	razvodnji
.	SENT	.
Mara	N:m	Mar
je	PRO	ona
ostvarila	V:m	ostvariti
ulogu	N:f	uloga
koja	PRO	koji
će	N:m	će
od	PREP	od
nje	PRO	ona
napraviti	A:aem	napraviti
zvezdu	N:f	zvezda
,	PUNCT	,
Craig	N:m	Craig
se	PAR	se
oslobodio	V:m	osloboditi
stigme	N:f	stigma
Jamesa	N:f	Jamesa
Bonda	N:m	Bond
,	PUNCT	,
a	CONJ	a
Fincher	N:m	Fincher
režirao	V:m	režirati
najbolji	A:cem	dobar
film	N:m	film
od	PREP	od
Borilačkog	A:aem	Borilačkog
kluba	N:m	klub
naovamo	ADV	naovamo
.	SENT	.
Svi	PRO	sav
su	N:m	su
na	PREP	na
dobitku	N:m	dobitak
,	PUNCT	,
a	CONJ	a
posebno	ADV	posebno
poklonici	N:m	poklonik
Larssonovog	A:aem	Larssonovog
romana	N:m	roman
i	CONJ	i
trilera	N:m	triler
koji	PRO	koji
ne	PAR	ne
zaziru	V:m	zaziru
od	PREP	od
razbijanja	N:n	razbijanje
kalupa	N:m	kalup
.	SENT	.
Definitivno	ADV	definitivno
jedan	NUM	jedan
od	PREP	od
najboljih	A:cef	dobar
filmova	N:m	film
2011	NUM	@card@
.	PUNCT	.
godine	N:f	godina
.	SENT	.
