Serđo	A:aem	Serđo
Leone	N:m	Leon
je	PRO	ona
svima	PRO	sav
poznat	V:m	poznati
po	PREP	po
vrhunskim	A:aem	vrhunski
vesternima	N:m	vestern
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
koji	PRO	koji
ne	PAR	ne
spada	V:m	spada
u	PREP	u
taj	PRO	taj
žanr	N:m	žanr
,	PUNCT	,
ali	CONJ	ali
po	PREP	po
mom	PRO	moj
skromnom	A:aen	skroman
mišljenju	N:n	mišljenje
ovo	PRO	ovaj
je	PRO	ona
njegov	PRO	njegov
najbolji	A:cem	dobar
film	N:m	film
.	SENT	.
Njegova	PRO	njegov
genijalnost	N:f	genijalnost
i	CONJ	i
kreativnost	N:f	kreativnost
su	N:m	su
ovde	ADV	ovde
na	PREP	na
vrhuncu	N:m	vrhunac
.	SENT	.
Inače	N:f	Inače
ovo	PRO	ovaj
je	PRO	ona
njegov	PRO	njegov
poslednji	A:aem	poslednji
film	N:m	film
pa	CONJ	pa
mu	PRO	on
to	PRO	taj
još	PAR	još
dodaje	V:m	dodaje
na	PREP	na
značaju	N:m	značaj
.	SENT	.
Leone	N:m	Leon
je	PRO	ona
ovde	ADV	ovde
izvukao	V:m	izvući
maksimum	N:m	maksimum
iz	PREP	iz
svake	PRO	svaki
scene	N:f	scena
.	SENT	.
Imamo	N:m	Imamo
scene	N:f	scena
u	PREP	u
kojima	PRO	koji
se	PAR	se
ne	PAR	ne
dešava	V:n	dešava
mnogo	ADV	mnogo
,	PUNCT	,
ali	CONJ	ali
mnogo	ADV	mnogo
govore	N:m	govor
.	SENT	.
Što	N:m	Što
se	PAR	se
tiče	N:n	tiče
tog	PRO	taj
aspekta	N:m	aspekt
mislim	A:aem	mislim
da	CONJ	da
ovaj	PRO	ovaj
film	N:m	film
nema	A:aem	nem
konkurenciju	N:f	konkurencija
.	PUNCT	.
Ne	PAR	ne
morate	N:m	Morat
da	CONJ	da
čujete	N:f	čujete
razgovor	N:m	razgovor
da	CONJ	da
biste	N:f	bista
znali	V:m	znati
o	PREP	o
čemu	PRO	šta
se	PAR	se
priča	N:f	priča
ili	CONJ	ili
na	PREP	na
šta	PRO	šta
se	PAR	se
misli	N:f	misao
,	PUNCT	,
ne	PAR	ne
mora	N:n	more
sve	PRO	sav
da	CONJ	da
vam	PRO	vi
se	PAR	se
nacrta	N:m	nacrt
da	CONJ	da
bi	A:aem	bi
ste	N:m	ste
shvatili	V:m	shvatiti
šta	PRO	šta
se	PAR	se
događa	V:m	događa
.	SENT	.
Naravno	PAR	naravno
tu	ADV	tu
je	PRO	ona
nezaobilazna	A:aef	nezaobilazan
Morikoneova	A:aef	Morikoneova
muzika	N:f	muzika
.	SENT	.
U	PREP	u
Leoneovim	A:aem	Leoneovim
vesterima	N:m	vesterima
ta	PRO	taj
muzika	N:f	muzika
je	PRO	ona
nekako	ADV	nekako
pojačavala	V:f	pojačavati
atmosferu	N:f	atmosfera
,	PUNCT	,
ovde	ADV	ovde
ona	PRO	ona
višestruko	ADV	višestruko
pojačava	A:aef	pojačava
emocije	N:f	emocija
.	PUNCT	.
Ne	PAR	ne
moram	N:m	moram
da	CONJ	da
vam	PRO	vi
govorim	A:aem	govorim
da	CONJ	da
je	PRO	ona
ta	PRO	taj
muzika	N:f	muzika
savršena	A:aef	savršen
,	PUNCT	,
verujem	A:aen	verujem
da	CONJ	da
to	PRO	taj
svi	PRO	sav
već	PAR	već
dobro	ADV	dobro
znate	V:f	znati
.	SENT	.
Ako	CONJ	ako
niste	N:m	niste
pogledali	V:m	pogledati
ovaj	PRO	ovaj
film	N:m	film
,	PUNCT	,
ne	PAR	ne
mogu	A:aem	mogu
objasniti	N:m	objasniti
koliko	ADV	koliko
je	PRO	ona
svaka	PRO	svaki
scena	N:f	scena
dobra	N:n	dobro
.	SENT	.
Ja	PRO	ja
sam	PRO	sam
pre	PREP	pre
ovog	PRO	ovaj
sada	ADV	sada
gledanja	N:n	gledanje
gledao	V:m	gledati
ovaj	PRO	ovaj
film	N:m	film
pre	PREP	pre
desetak	ADV	desetak
godina	N:f	godina
.	PUNCT	.
Verovali	V:m	verovati
ili	CONJ	ili
ne	PAR	ne
braćo	N:f	braća
i	CONJ	i
sestre	N:f	sestra
,	PUNCT	,
nisam	N:m	nisam
zaboravio	V:m	zaboraviti
nijednu	A:aem	nijedan
scenu	N:f	scena
,	PUNCT	,
ali	CONJ	ali
ni	PAR	ni
ovo	PRO	ovaj
nije	N:f	nije
dovoljno	ADV	dovoljno
da	CONJ	da
vam	PRO	vi
prikaže	N:f	prikaže
koliko	ADV	koliko
su	N:m	su
one	PRO	onaj
dobre	A:aem	dobar
.	SENT	.
Dolazimo	N:m	Dolazimo
do	PREP	do
sledećeg	A:aem	sledeći
savršenog	A:aem	savršen
aspekta	N:m	aspekt
filma	N:m	film
.	SENT	.
Osim	PREP	osim
nekih	PRO	neki
klinaca	N:m	klinac
,	PUNCT	,
svi	PRO	sav
glumci	N:m	glumac
odlično	A:aen	odličan
obavljaju	N:m	obavljaju
svoj	PRO	sav
posao	V:m	posati
.	PUNCT	.
Kada	CONJ	kada
ga	PRO	on
uporedite	N:m	uporedite
sa	PREP	sa
drugim	A:aem	drugi
klasicima	N:m	klasik
,	PUNCT	,
ovaj	PRO	ovaj
film	N:m	film
nema	A:aem	nem
toliko	ADV	toliko
glumačkih	A:aem	glumački
velikana	N:m	velikan
.	SENT	.
Tu	ADV	tu
je	PRO	ona
jedan	NUM	jedan
od	PREP	od
najvećih	A:cen	velik
,	PUNCT	,
Robert	N:m	Robert
De	A:aef	De
Niro	N:f	Niro
i	CONJ	i
uz	PREP	uz
njega	PRO	on
ovde	ADV	ovde
stoji	N:f	stoja
Džejms	N:m	Džejms
Vuds	N:m	Vuds
.	SENT	.
Ostali	V:m	ostati
glumci	N:m	glumac
su	N:m	su
imali	V:m	imati
manje	ADV	manje
ili	CONJ	ili
više	ADV	više
zapažene	A:aef	zapažen
karijere	N:f	karijera
,	PUNCT	,
ali	CONJ	ali
svaki	PRO	svaki
od	PREP	od
njih	PRO	ona
može	A:aem	može
da	CONJ	da
se	PAR	se
pohvali	N:f	pohvala
glumom	N:f	gluma
i	CONJ	i
učestvovanjem	N:n	učestvovanje
u	PREP	u
ovom	PRO	ovaj
remek	N:m	remek
delu	N:n	delo
.	SENT	.
Dženifer	N:f	Dženifer
Koneli	N:m	Koneli
se	PAR	se
pojavljuje	N:f	pojavljuje
kao	CONJ	kao
klinka	N:f	klinka
,	PUNCT	,
i	CONJ	i
za	PREP	za
mene	PRO	ja
,	PUNCT	,
osim	PREP	osim
obrade	N:f	obrada
Dark	N:m	Dark
Water	N:m	Water
,	PUNCT	,
ona	PRO	ona
nema	A:aem	nem
loš	A:aem	loš
film	N:m	film
,	PUNCT	,
a	CONJ	a
uz	PREP	uz
to	PRO	taj
i	CONJ	i
prija	N:f	prija
oku	N:n	oko
.	PUNCT	.
Iako	CONJ	iako
devojčica	N:f	devojčica
,	PUNCT	,
njena	PRO	njen
gluma	N:f	gluma
je	PRO	ona
zaista	PAR	zaista
sjajna	A:aef	sjajan
.	SENT	.
Mnogi	A:aem	mnogi
ovaj	PRO	ovaj
film	N:m	film
svrstavaju	V:m	svrstavaju
u	PREP	u
gangsterski	A:aem	gangsterski
ali	CONJ	ali
ovde	ADV	ovde
se	PAR	se
najmanje	ADV	najmanje
radi	PREP	radi
o	PREP	o
tome	PRO	taj
.	SENT	.
Ceo	A:aem	ceo
film	N:m	film
obeležava	A:aem	obeležava
jedno	NUM	jedan
veliko	A:aen	velik
prijateljstvo	N:n	prijateljstvo
i	CONJ	i
jedna	NUM	jedan
velika	A:aen	velik
ljubav	N:f	ljubav
.	SENT	.
Sve	PRO	sav
je	PRO	ona
to	PRO	taj
upakovano	V:n	upakovati
u	PREP	u
neverovatno	ADV	neverovatno
snažnu	A:aen	snažan
,	PUNCT	,
emotivnu	A:aen	emotivan
i	CONJ	i
pre	PREP	pre
svega	PRO	sav
realnu	A:aef	realan
ljudsku	A:aef	ljudski
priču	N:f	priča
,	PUNCT	,
bez	PREP	bez
imalo	ADV	imalo
patetike	N:f	patetika
,	PUNCT	,
bez	PREP	bez
imalo	ADV	imalo
praznih	A:aen	prazan
reči	N:f	reč
.	PUNCT	.
.	SENT	.
.	PUNCT	.
jednostavno	ADV	jednostavno
savršeno	ADV	savršeno
.	SENT	.
Ovo	PRO	ovaj
remek	N:m	remek
delo	N:n	delo
će	V:n	će
vas	PRO	vi
oduševiti	A:aem	oduševiti
,	PUNCT	,
šokirati	A:aem	šokirati
,	PUNCT	,
rasplakati	A:aem	rasplakati
i	CONJ	i
ostaviće	A:aem	ostaviće
neizbrisiv	A:aem	neizbrisiv
utisak	N:m	utisak
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
najbolji	A:cem	dobar
pokazatelj	N:m	pokazatelj
kako	CONJ	kako
su	N:m	su
velikani	N:m	velikan
pravili	V:m	praviti
filmove	N:m	film
,	PUNCT	,
kako	CONJ	kako
njihovo	PRO	njihov
ime	N:n	ime
nije	N:f	nije
imalo	V:n	imati
cenu	N:f	cena
kao	CONJ	kao
što	CONJ	što
neki	PRO	neki
danas	ADV	danas
prodaju	N:f	prodaja
svoje	PRO	svoj
da	PAR	da
bi	V:m	bi
snimili	V:m	snimiti
film	N:m	film
o	PREP	o
Facebooku	N:f	Facebooku
,	PUNCT	,
kako	CONJ	kako
su	N:m	su
pravili	V:m	praviti
malo	ADV	malo
filmova	N:m	film
ali	CONJ	ali
svi	PRO	sav
su	N:m	su
bili	V:m	biti
remek	N:m	remek
dela	N:n	delo
,	PUNCT	,
kako	CONJ	kako
ih	PRO	ona
nije	N:m	nije
zanimalo	V:n	zanimati
da	CONJ	da
li	PAR	li
će	A:aem	će
film	N:m	film
imati	A:aem	imati
PG	N:f	PG
,	PUNCT	,
R	A:aem	R
ili	CONJ	ili
neki	PRO	neki
drugi	A:aem	drugi
rejting	N:m	rejting
.	PUNCT	.
.	SENT	.
.	PUNCT	.
pravili	V:m	praviti
su	N:m	su
film	N:m	film
zbog	PREP	zbog
gledaoca	N:m	gledalac
,	PUNCT	,
pravili	V:m	praviti
su	N:m	su
film	N:m	film
zbog	PREP	zbog
filma	N:m	film
,	PUNCT	,
pravili	V:m	praviti
su	N:m	su
film	N:m	film
da	CONJ	da
ostane	N:m	ostane
večan	A:aem	večan
,	PUNCT	,
pravili	V:m	praviti
su	N:m	su
remek	N:m	remek
dela	N:n	delo
.	SENT	.
