Dugo	ADV	dugo
sam	PRO	sam
smišljao	V:m	smišljati
uvodnu	A:aef	uvodni
rečenicu	N:f	rečenica
za	PREP	za
opis	N:m	opis
ovog	PRO	ovaj
filma	N:m	film
.	PUNCT	.
I	CONJ	i
odlučio	V:m	odlučiti
sam	A:aem	sam
da	CONJ	da
skratim	A:aem	skratim
–	N:m	–
pred	PREP	pred
vama	PRO	vi
je	PRO	ona
jedno	ADV	jedno
malo	ADV	malo
remek	N:m	remek
delo	N:n	delo
koje	PRO	koji
je	PRO	ona
napisao	V:m	napisati
,	PUNCT	,
režirao	V:m	režirati
,	PUNCT	,
snimao	V:m	snimati
i	CONJ	i
editovao	V:m	editovao
jedan	NUM	jedan
čovek	N:m	čovek
,	PUNCT	,
sa	PREP	sa
budžetom	N:m	budžet
od	PREP	od
7	NUM	@card@
.	PUNCT	.
000	NUM	@card@
dolara	N:m	dolar
.	SENT	.
U	PREP	u
isto	A:aen	isti
vreme	N:n	vreme
Shane	A:aem	Shane
Carruth	A:aem	Carruth
je	PRO	ona
i	CONJ	i
jedan	NUM	jedan
od	PREP	od
glavnih	A:aen	glavnih
glumaca	N:m	glumac
u	PREP	u
ovom	PRO	ovaj
fantastičnom	A:aef	fantastičan
80	NUM	@card@
o	PREP	o
minutnom	A:aen	minutni
ostvarenju	N:n	ostvarenje
.	SENT	.
Po	PREP	po
zanimanju	N:n	zanimanje
matematički	A:aem	matematički
inženjer	N:m	inženjer
,	PUNCT	,
Carruth	A:aem	Carruth
je	PRO	ona
snimio	V:m	snimiti
film	N:m	film
koji	PRO	koji
kada	CONJ	kada
prvi	A:aem	prvi
put	N:m	put
odgledate	A:aem	odgledate
,	PUNCT	,
predstoji	N:m	predstoji
vam	PRO	vi
jedna	NUM	jedan
od	PREP	od
dve	NUM	dva
opcije	N:f	opcija
–	N:m	–
ili	CONJ	ili
ćete	N:m	ćete
otići	A:aem	otići
na	PREP	na
internet	N:m	internet
i	CONJ	i
pokušati	A:aem	pokušati
da	CONJ	da
nađete	A:aem	nađete
objašnjenje	N:n	objašnjenje
;	PUNCT	;
ili	CONJ	ili
ćete	N:m	ćete
,	PUNCT	,
pak	PAR	pak
,	PUNCT	,
odgledati	V:m	odgledati
još	ADV	još
jednom	NUM	jedan
film	N:m	film
,	PUNCT	,
u	PREP	u
pokušaju	N:m	pokušaj
da	CONJ	da
pohvatate	N:f	pohvatate
šta	PRO	šta
se	PAR	se
zapravo	ADV	zapravo
desilo	V:n	desiti
.	SENT	.
Onaj	PRO	onaj
ko	PRO	ko
uspe	N:m	uspe
da	CONJ	da
shvati	N:m	shvati
iz	PREP	iz
prve	A:aem	prvi
je	PRO	ona
ili	CONJ	ili
lažov	N:m	lažov
ili	CONJ	ili
neka	PRO	neki
vrsta	N:f	vrsta
genija	N:m	genije
/	A:aem	/
poluboga	N:m	polubog
koji	PRO	koji
će	N:f	će
sa	PREP	sa
lakoćom	N:f	lakoća
rešiti	A:aem	rešiti
pitanje	N:n	pitanje
Kosova	N:n	Kosovo
.	SENT	.
Primer	N:m	primer
je	PRO	ona
SF	N:m	SF
triler	N:m	triler
kome	PRO	koji
nisu	N:m	nisu
potrebni	A:aem	potreban
vizuelni	A:aem	vizuelan
efekti	N:m	efekt
niti	CONJ	niti
prva	A:aen	prvi
kategorija	N:f	kategorija
glumaca	N:m	glumac
.	SENT	.
Ovo	PRO	ovaj
je	PRO	ona
film	N:m	film
koji	PRO	koji
je	PRO	ona
rađen	V:m	raditi
iz	PREP	iz
mašte	N:f	mašta
,	PUNCT	,
I	A:aem	I
kao	CONJ	kao
takav	PRO	takav
donosi	N:m	donosi
SF	N:m	SF
žanru	N:m	žanr
nešto	ADV	nešto
što	CONJ	što
ne	PAR	ne
bi	N:n	bi
trebalo	V:n	trebati
da	CONJ	da
propustite	N:m	propustite
.	SENT	.
Priča	A:aem	Priča
počinje	N:f	počinje
kada	CONJ	kada
dva	NUM	dva
prijatelja	N:m	prijatelj
inženjera	N:m	inženjer
,	PUNCT	,
u	PREP	u
želji	N:f	želja
da	CONJ	da
razviju	N:f	razviju
nove	A:aef	nov
tehnologije	N:f	tehnologija
,	PUNCT	,
slučajno	ADV	slučajno
otkriju	N:m	otkriju
nešto	PRO	nešto
što	PRO	što
nisu	N:m	nisu
očekivali	V:m	očekivati
.	SENT	.
Ostatak	N:m	ostatak
priče	N:f	priča
će	V:m	će
vas	PRO	vi
zakucati	A:aem	zakucati
za	PREP	za
ekran	N:m	ekran
,	PUNCT	,
koncentrisane	V:f	koncentrisati
i	CONJ	i
pune	A:aem	pun
pažnje	N:f	pažnja
.	SENT	.
Filozofske	A:aef	filozofski
implikacije	N:f	implikacija
I	V:f	I
često	ADV	često
suviše	ADV	suviše
“	A:aem	“
tehnički	A:aem	tehnički
”	A:aem	”
razgovori	N:m	razgovor
dodatno	ADV	dodatno
otežavaju	V:m	otežavaju
ovu	PRO	ovaj
kompleksnu	A:aem	kompleksan
priču	N:f	priča
,	PUNCT	,
ali	CONJ	ali
se	PAR	se
,	PUNCT	,
kada	CONJ	kada
se	PAR	se
sve	PRO	sav
sagleda	N:m	sagleda
,	PUNCT	,
savršeno	ADV	savršeno
uklapaju	N:m	uklapaju
u	PREP	u
strukturu	N:f	struktura
.	SENT	.
Svi	PRO	sav
glumci	N:m	glumac
su	N:m	su
amateri	N:m	amater
ili	CONJ	ili
početnici	N:f	početnica
,	PUNCT	,
I	V:m	I
prihvatili	V:m	prihvatiti
su	N:m	su
da	CONJ	da
učestvuju	N:m	učestvuju
u	PREP	u
filmu	N:m	film
(	PUNCT	(
skoro	ADV	skoro
)	PUNCT	)
za	PREP	za
džabe	ADV	džabe
.	SENT	.
Nagrađeni	A:aem	Nagrađeni
su	N:m	su
time	PRO	taj
što	CONJ	što
je	PRO	ona
film	N:m	film
nakon	PREP	nakon
nekoliko	PRO	nekolik
godina	N:f	godina
zaradio	V:m	zaraditi
kultni	A:aem	kultni
status	N:m	status
i	CONJ	i
moći	N:f	moć
će	N:m	će
da	CONJ	da
pričaju	N:m	pričaju
ortacima	N:m	ortak
/	A:aem	/
deci	N:f	deca
/	A:aem	/
ribama	N:f	riba
da	CONJ	da
su	N:m	su
i	CONJ	i
oni	PRO	onaj
,	PUNCT	,
eto	PAR	eto
,	PUNCT	,
bili	V:m	biti
deo	N:m	deo
Primera	N:m	primer
.	PUNCT	.
Desetka	N:f	desetka
,	PUNCT	,
i	CONJ	i
za	PREP	za
ideju	N:f	ideja
i	CONJ	i
za	PREP	za
izvedbu	N:f	izvedba
,	PUNCT	,
i	CONJ	i
za	PREP	za
samo	PAR	samo
7	NUM	@card@
soma	N:m	som
.	SENT	.
